[2019-05-22 09:57] florianmonfort commented on #1894
@allenktv is there any alternative to at least make something work? What if we used a completely different event that is custom like let's say page_view instead of screen_view, would that enable us to use the same methods to track the same thing but at least be able to separate in the reports?

[2019-05-22 10:06] maksymmalyhin commented on #3052
@nightroadcosplay Thank you for the report. Will it be possible to share your Podfile and Podfile.lock or (even better) a test project to reproduce the issue?

[2019-05-22 10:19] nightroadcosplay commented on #3052
[Podfile.zip](https://github.com/firebase/firebase-ios-sdk/files/3206910/Podfile.zip)

Here are Podefile and Podfile.lock

[2019-05-22 11:57] ryanwilson commented on #3052
Looks like the project is picking up an old version of FirebaseUI because of the `pod 'FBSDKCoreKit', '~> 4.44.1'` requirement. The new version of FirebaseUI requires 5.0 or above. I'm not sure why the version of FirebaseUI you're getting is so old, though.

Relevant Podspec:
https://github.com/firebase/FirebaseUI-iOS/blob/36860d6241737d015d65a34e301953d6297a300e/FirebaseUI.podspec#L112

[2019-05-22 12:19] nightroadcosplay commented on #3052
Thank you, it was from that pod. Now i got the 7.0.0 FirebaseUI version.

[2019-05-22 12:22] ryanwilson commented on #3052
Great! Is the issue resolved for you then?

[2019-05-22 12:23] nightroadcosplay commented on #3052
Yes! Thank you for your help.

[2019-05-22 12:23] ryanwilson commented on #3052
You're very welcome. Closing the issue now, if you run into anything else please open another one!

[2019-05-22 12:23] #3052 closed

[2019-05-22 12:28] rpanadero commented on #1639
Hi,

I'm also facing this issue with `pod 'GoogleTagManager', '7.1.0'`

`[APMValue encodeWithCoder:]: unrecognized selector sent to instance 0x28257e780
`

And I cannot update this dependency because my project is a Cordova one and if I update the dependency the project doesn't compile. Any workaround? I have tried several things, but the problem remains.

Thanks in advance!

[2019-05-22 12:56] rpanadero opened #3053 "Crash on first start with GoogleTagManager 7.1.0"
Hi,

I'm facing an issue related to `pod 'GoogleTagManager', '7.1.0'`

When the application is installed and then started, the application crashes and we see this in the logcat:

`[APMValue encodeWithCoder:]: unrecognized selector sent to instance 0x28257e780
`

And I cannot update GoogleTagManager's dependency because my project is a Cordova one and if I update the dependency the project doesn't

[2019-05-22 13:29] paulb777 commented on #3053
This was previously reported in the #1639 thread. Tracked internally at b/116807869

[2019-05-22 13:31] paulb777 commented on #1639
New issue opened at #3053. Please continue discussion there.

[2019-05-22 14:14] jimmykane opened #3054 "Firestore.Blob is not accepted on document set via the admin.firestore"
### [READ] Step 1: Are you in the right place?
YES

### [REQUIRED] Step 2: Describe your environment

  * Firebase SDK version:  ^6.0.2
  * Firebase Component: Firestore
  * Component version: _____

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

Cannot save Blob to document

#### Relevant Code:

This is an issue with the Admin firestore. On the client side it works.

While

[2019-05-22 16:06] hanawat commented on #2816
It's same. I've encountered following error.
[code]

[2019-05-22 19:01] morganchen12 commented on #849
PERMISSION_DENIED errors are different than the error originally reported in this issue, and may be caused by rate-limiting. Please file a new issue or [support ticket](https://firebase.google.com/support).

[2019-05-22 19:03] morganchen12 commented on #3051
Instead of ignoring the error when failing to fetch a new token, can you print out the error description and share it here?

[2019-05-22 19:09] morganchen12 commented on #2934
We're looking into it.

[2019-05-22 19:12] aparkertg commented on #849
@abegehr Yes I'm using unrestricted keys for the iOS Firebase project accessed through the Google cloud platform. This was the only work around that worked with phone auth on the simulator for me.

I went back and forth with Firebase Support on this. I deleted and recreated oAuth / API keys, and created new google plist files a few times to no avail. I didn't want to use unrestricted keys, but loo

[2019-05-22 19:14] JTJLabs commented on #2934
Thanks! :-)

- Jakob Maaløe

On Wed, 22 May 2019, 21:10 Morgan Chen, <notifications@github.com> wrote:

[2019-05-22 19:58] visumickey commented on #2201
This is currently worked on and hopefully released in the upcoming Perf SDK Release. Will keep this thread updated.

[2019-05-22 20:35] lukiruki commented on #3051
Thanks for your response ;) Unfortunately i can't even get error because I don't any response from callback when I want generate a new token. I always can delete token and only receive getID ;) From some reason when I delete token I can't get new token again.

[2019-05-22 20:36] lukiruki commented on #3051
Today I have downloaded the newest version release (6.1.0) but it did not solve my problem ;)

[2019-05-22 21:24] morganchen12 commented on #3051
@chliangGoogle the case where the callback wasn't invoked sounds like a bug that may have been fixed recently. Do you know if this was released?

[2019-05-22 21:40] chliangGoogle commented on #3051
I can't reproduce right now. FYI, normally when deleting the token with deleteID call and if developer keeps the autoInitEnabled flag on, token will be refreshed automatically. You need to turn it off if you don't want token automatically refresh.

@lukiruki can you share with us the debug log with -FIRDebugEnabled argument?

[2019-05-22 22:16] lukiruki commented on #3051
So, I generated two logs. In first log file I properly generated token, delete and generate again.
In second file I generate new token, delete and in this moment I can't receive token again.
[Invalid_generate_tokens.docx](https://github.com/firebase/firebase-ios-sdk/files/3209519/Invalid_generate_tokens.docx)
[Properly_generate_tokens.docx](https://github.com/firebase/firebase-ios-sdk/files/320952

[2019-05-22 22:17] lukiruki commented on #3051
Sory but I used docx format ;)

[2019-05-22 22:20] chliangGoogle commented on #3051
Looks like you are not configuring your project correctly, especially your bundle ID seems not consistent with the one in GoogleService-Info.plist. Please fix that and see if that resolves the issue.

The project's Bundle ID is inconsistent with either the Bundle ID in 'GoogleService-Info.plist', or the Bundle ID in the options if you are using a customized options. To ensure that everything can b

[2019-05-22 22:34] lukiruki commented on #3051
Yeah, thanks Chen ! This was a problem. I used two different plist. One for Dev and second for Prod environment :) Now I use only for Production with default name 'GoogleService-Info.plist' ;) Thanks again :)

[2019-05-23 03:00] #3051 closed

[2019-05-23 07:55] jaysmackie commented on #1894
If the current behaviour of calls to setScreenName being a ignored when auto screen logging is disabled could be removed that would do fine. Then we could manually set the name each time we wanted something logged. Is it possible to ignore the plist flags and always perform this function?

[2019-05-23 12:19] ryanwilson commented on #3015
I've reached out to someone on the Flutter team and asked them to have a look, hopefully they have some more insight. Based on the lack of reference to "GMP_APP_ID" anywhere in these SDKs (the Objective-C implementations for iOS) I'm inclined to believe it's something to do with the way Flutter packages the project.

[2019-05-23 13:03] b-onc commented on #2910
Pinging for updates

[2019-05-23 15:07] joseines commented on #2149
Any news on Firebase Crashlytics support for MacOS?

[2019-05-23 18:16] yugandh opened #3062 "Authentication- Microsoft authentication sign out is not clearing user credentials"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2019-05-23 18:19] NoodleOfDeath commented on #357
Any updates? :(

[2019-05-23 19:31] yugandh commented on #3062
![ezgif com-video-to-gif (1)](https://user-images.githubusercontent.com/14207417/58280940-a6c37e80-7d56-11e9-8521-0965bb43e2c5.gif)

please see attached video to reproduce the issue.

[2019-05-23 21:02] geoffclifton opened #3066 "Application freezes only on first analytics logEvent call after fresh application install"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.1
  * Firebase SDK version: 6.0.0 (latest)
  * Firebase Component: Analytics
  * Component version: 6.0.0

### [REQUIRED] Step 3: Describe the problem
We are trying to configure our application to use Firebase Analytics and GoogleTagManager to report analytics events.

After a fresh install of the application, when trying to l

[2019-05-23 22:06] Yue-Wang-Google commented on #3062
We don't preserve the credentials. Once you signed out, all the credential / tokens are cleared from memory and disk.

On the other hand, Microsoft (and other log in services such as Google) will retain your cookies for the browser --- Remember you are using the Safari service, so the broswer keeps the cache and cookie. Next time when you sign in using another app (either Firebase or not), you no

[2019-05-23 22:12] #3062 closed

[2019-05-23 23:21] paulb777 opened #3069 "InstanceID unit test flake"
A second InstanceID test flake logged on travis today in https://travis-ci.org/firebase/firebase-ios-sdk/jobs/536525223

    - NOTE  | [iOS] xcodebuild:  /Users/travis/build/firebase/firebase-ios-sdk/Example/InstanceID/Tests/FIRInstanceIDKeyPairStoreTest.m:144: error: -[FIRInstanceIDKeyPairStoreTest testResetIdentity] : Asynchronous wait failed: Exceeded timeout of 5 seconds, with unfulfilled expe

[2019-05-24 00:38] paulb777 commented on #3046
The problem isn't the timeout. It's that sendClearcutHttpRequestForLogs:withCompletion: gets triggered.

[2019-05-24 03:34] paulb777 commented on #3053
Here's a comment from a GTM dev: "This was caused by a change to Firebase Measurement around 5.5.0, so using an earlier version should fix it."

[2019-05-24 07:36] surajthomask commented on #2731
Issue is still happening in my app with following logs

[code]
Following is part of podfile.lock file we used on latest file.
[code]
Please note that we started getting these crashes after enabling Firebase Performance SDK in the app, and our crash rate has taken a huge hit because of this crash :-(

[2019-05-24 10:11] jhoughjr commented on #1591
I don't know if this is fixed. I'm using firebase 6.0 iOS. deleted a collection 30 mins ago, it's not in console. somehow I'm still getting query results from a non existent collection.
I'm really really regretting my client's decision to use firebase.

[2019-05-24 11:57] calindru commented on #3015
Rolled-back to

[2019-05-24 12:12] ryanwilson commented on #3015
Aha! Thank you very much @calindru for the information - looks like this is part of the `upload_symbols` script in Crashlytics. cc @samedson

We'll try to get it fixed shortly!

[2019-05-24 12:54] jonalxh commented on #622
Hi @mikelehen and sorry for taking so long to answer.
When you wrote me the last comment I've checked on OSX and Windows, it worked, strangely there was a problem with my Linux distro.
I'm very grateful with you.

[2019-05-24 13:44] maksymmalyhin commented on #2731
@surajthomask we released a fix for the crash in Firebase 6.1.0 (FirebaseInstanceID 4.1.0). Would it be possible for you to update Firebase SDK?

[2019-05-24 13:58] surajthomask commented on #2731
@maksymmalyhin I updated all dependencies through cocoapods 5 days back (on May 19th) after reading that a fix has been merged before 17 days (on May 7th). Apparently it got released 3 days back only as part of M48.
Was not exactly familiar with the milestone concept in here. So, will update the dependencies in the app again.

[2019-05-24 14:01] mattiacantalu opened #3074 "AnalyticsEventEcommercePurchase is not logged correctly"
Describe your environment

* Xcode version: 10.2.1
* Components
[code]

Describe the problem
FireBase Analytics does not log correctly `AnalyticsEventEcommercePurchase` ("ecommerce_purchase") event. In particular the Debug View, using iOS Simulator, shows correctly the event marked as conversion one (green flag); using real devices it logs the event as general one (blue hand).
On Android SDK Fireb

[2019-05-24 14:23] paulb777 commented on #3074
Please try with a more recent 6.x version of Firebase and FirebaseAnalytics.

[2019-05-24 14:47] mattiacantalu commented on #3074
@paulb777 thank you for immediate response. Unfortunately the issue is not solved with the last versione of SDK.

[2019-05-24 14:57] paulb777 commented on #3074
@mattiacantalu Thanks for the report. Tracked internally at b/133458289

[2019-05-24 15:01] baolocdo commented on #3074
Can you provide the XCode log when you turn on the debug mode and run on the device? I'm interested in the `ecommerce_purchase` event information when it is logged. Thanks

[2019-05-24 15:46] mattiacantalu commented on #3074
@baolocdo @paulb777 👇🏻:
[code]

[2019-05-24 15:54] wilhuff commented on #1591
@jhoughjr The issues discussed here had very specific known causes and fixes. The symptoms were specifically that deleted documents would very briefly reappear--they would flicker. What you're describing is very different.

Could you open a new issue, showing what you're doing? If the issue is persisting also supply logs after [enabling debug logging](https://gist.github.com/katowulf/0475fb7a5907e

[2019-05-24 16:30] yugandh opened #3076 "Authentication- unable to access the Microsoft provider access token according to firebase documentation"
### [REQUIRED] Step 1: Describe your environment

Xcode version: Version 10.2 (10E125)
Firebase SDK version: 6.1.0 (latest version)
Firebase Component: Auth
Component version: GCC_PREPROCESSOR_DEFINITIONS = $(inherited) COCOAPODS=1 FIRAuth_VERSION=6.0.0 FIRAuth_MINOR_VERSION=6.0

### [REQUIRED] Step 2: Describe the problem
Using the OAuth access token, you can call the Microsoft Graph API.
For exa

[2019-05-24 18:00] mikelehen commented on #622
@jonalxh Ahh, interesting.  Well we've made improvements to integrate with navigator online/offline events (see https://github.com/firebase/firebase-js-sdk/pull/1809), but if linux Chrome isn't surfacing those events it won't help there. :-/

[2019-05-24 18:17] geoffclifton commented on #3066
After further debugging, it is found this issue only occurs when GoogleTagManager is used in conjunction with Firebase analytics.

When removing GTM from the podfile, building the pods and re-running the tests, the issue is never encountered.

[2019-05-24 19:15] Yue-Wang-Google commented on #3076
Sorry AuthDataResult.credential.accessToken is in private header for now: https://github.com/firebase/firebase-ios-sdk/pull/2916/files

We are in the process of releasing it to the public soon. Probably you can access it in the next month.

If you really need to use it you can get it by importing the private header. But we provide no support nor guarantee for now.

[2019-05-25 01:57] giorgio80 opened #3082 "too many arguments for https callable function"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2019-05-25 02:04] giorgio80 commented on #3082
hello,

having latest sdk version.   I'm trying to call a function from my code and have to pass lot of text parameters using data :

                    { result, error in
                    if let error = error as NSError? {
                        if error.domain == FunctionsErrorDomain {
                            _ = FunctionsErrorCode(rawValue: error.code)
                            _ = e

[2019-05-25 13:31] choiks14 commented on #3018
same here

[2019-05-25 18:44] jkmathew commented on #186
@paulb777 I am using firebase with flutter application.
Still facing a crash with log
`*** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '+[FIRInstanceIDCheckinPreferences preferencesFromKeychainContents:]: unrecognized selector sent to class 0x102cfcaf8'`.

[code]

[2019-05-27 01:32] jamieomatthews commented on #2179
@renkelvin I'm not able to authenticate in an app extension.  It would be good if the docs could explain how that is supposed to work.  When I call `Auth.auth().useUserAccessGroup(...)` in the app extension, it throws an error.  Similarly, Auth.auth().currentUser returns nil.

[2019-05-27 10:55] nikhildange commented on #2603
facing the same issue with pod install.

[2019-05-27 11:26] nikhildange opened #3090 "Missing InAppMessagingDisplayResources.bundle with Pod installation"
Xcode version: 10.2
Firebase SDK version: 5.19.0
Firebase Component:  InAppMessagingDisplay
    - Firebase/CoreOnly - FirebaseInAppMessagingDisplay (= 0.13.1)
Component version: 5.19.0

Using pod to include firebase in my app.

_App crashes when trying to present InApp display message with:_
5.19.0 - [Firebase/InAppMessaging][I-IAM160001] There are 1 test messages and 0 regular messages and 0 Fire

[2019-05-27 13:35] maksymmalyhin commented on #3090
@nikhildange Thank you for bringing this up. I wonder, if it is possible for you to try the lates Firebase version 6.1.0 and check if the issue is still reproducible. If yes, could you please share `Podfile` and `Podfile.lock` or ideally a test project to reproduce the issue.

[2019-05-27 14:02] paulb777 commented on #3022
This issue is back and breaking the builds since sometime yesterday.

[2019-05-27 16:11] paulb777 opened #3091 "GoogleUtilities unit tests should run for iOS 8 targets"
![Screen Shot 2019-05-27 at 9 09 41 AM](https://user-images.githubusercontent.com/73870/58430682-3753d480-805f-11e9-91a1-09846e463498.png)

[2019-05-27 17:40] Salakar opened #3092 "[RemoteConfig] default values missing/excluded from keysWithPrefix/allKeysFromSource"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.1
  * Firebase SDK version: 5.20.2
  * Firebase Component: RemoteConfig (Auth, Core, Database, Firestore, Messaging, Storage, etc)
  * Component version: 5.20.2

### [REQUIRED] Step 3: Describe the problem

Hey 👋

I may be doing something dumb but;

When using any of the following methods

[code]

it's not possible to view the

[2019-05-27 17:56] Salakar commented on #3092
Looks like this was me, though the docs aren't very clear on this but the namespace for `allKeysFromSource` has to be specified even though it accepts nullable (I assumed nil used the default namespace) but a namespace of  `FIRNamespaceGoogleMobilePlatform` is required.

[2019-05-27 17:56] #3092 closed

[2019-05-27 18:02] ryanwilson commented on #3082
@giorgio80 It's likely having trouble parsing the nested statements and inferring the types for each one. Assuming they're all strings, the best way would be to break it out like this:

[code]

Let me know if that works!

[2019-05-27 18:13] ryanwilson commented on #3092
Thanks for the comment and pointing out the namespace issue! Having it `nullable` definitely isn't clear. We'll have to take a look and see what we can do to improve the docs and the API.

[2019-05-28 05:04] nikhildange commented on #3090
Hi @maksymmalyhin, Thanks for replying. I have updated pod to the latest version, still facing issue.
- Firebase/InAppMessagingDisplay (6.1.0):
    - Firebase/CoreOnly
    - FirebaseInAppMessagingDisplay (~> 0.14.0)

As you asked for I have attached them in .txt extension as this doesn't support uploading .lock or podfile files.
[Podfile.lock.txt](https://github.com/firebase/firebase-ios-sdk/files

[2019-05-28 07:38] giorgio80 commented on #3082
@ryanwilson I managed out and seems to work with this approach.  btw I had to update pods first.

btw thanks

[2019-05-28 10:23] nikhildange commented on #2603
Did you get any solution? https://github.com/firebase/firebase-ios-sdk/issues/3090

[2019-05-28 11:33] ryanwilson commented on #3082
Glad it worked for you!

[2019-05-28 11:33] #3082 closed

[2019-05-28 13:59] #3091 closed

[2019-05-28 16:51] joaomelo81 opened #3095 "Linking Firebase SDK with Obj-C Cocoa Touch Framework"
Is there a way of linking Firebase with an Objective-C Cocoa Touch Framework?

I have made some experiments by linking the necessary Firebase modules for MLKit in a custom Cocoa Touch Framework. In this way the Firebase dependencies are embedded within my custom framework. This works fine when I embed the custom framework into a target app, however the target app already has some Firebase modules

[2019-05-28 16:54] paulb777 commented on #3095
The Firebase CocoaPods are comprised of static frameworks. Thus, they should not be dependencies of dynamic frameworks.  Any framework that links them should also be linked statically.

[2019-05-28 17:43] joaomelo81 commented on #3095
OK. In this case should I distribute my custom framework as static (fake) framework?

[2019-05-28 18:30] morganchen12 commented on #3095
@joaomelo81 yes. Or you can distribute them as a CocoaPod.

[2019-05-28 18:55] renkelvin commented on #3022
The issue should be fixed now.
Since all our testing environments (sdks and backends) share a single Firebase project, there could be inconsistency of the user accounts. I'm considering use a dedicated project for iOS SDK.

[2019-05-28 19:53] visumickey commented on #2201
After a lot of investigation, I'm confident that this is an issue with the GULSwizzler. The current issue is because of the scenario when NSOperation (derived class) implements "automaticallyNotifiesObserversForKey", the swizzler seem to loose focus of the delegate object and so the delegate object does not receive any updates. I'm working with the Swizzler library/people to get this resolved at t

[2019-05-28 21:26] paulb777 commented on #3022
Thanks!  A dedicated project sgtm.  Should we leave this issue open to track or do you want to track separately?

[2019-05-28 21:59] renkelvin commented on #3022
It should be tracked separately. I'll discuss the plan with our TL and create an internal bug.

[2019-05-28 23:42] visumickey commented on #2593
@avitruk Do you have a sample app where I can try reproducing this? Would be curious to see your podfile.lock if this issue is happening in a specific combination of pods.

[2019-05-29 01:31] maksymmalyhin commented on #3090
@nikhildange Thank you for the file. I've tried the following test app using the provided Podfile(.lock). I could successfully receive a test message on a Simulator and didn't get the crash. Would you please share the missing steps or project settings to reproduce the issue.
[TestApp.zip](https://github.com/firebase/firebase-ios-sdk/files/3230334/TestApp.zip)

[2019-05-29 03:30] nikhildange commented on #3090
@maksymmalyhin There are no as such step to miss How do I share project settings to help you reproduce?

[2019-05-29 03:36] #3095 closed

[2019-05-29 04:16] paulb777 commented on #3090
You could try the FIAM quickstart - https://github.com/firebase/quickstart-ios/tree/master/inappmessaging

[2019-05-29 04:17] kartikartik opened #3104 "memory leak :NSNotificationCenter defaultCenter"
![Screenshot 2019-05-28 at 4 37 20 PM](https://user-images.githubusercontent.com/28666702/58529009-ab74b080-81f6-11e9-8950-4161a480e25e.png)

[2019-05-29 04:19] kartikartik opened #3105 "memory leak: FIRApp sendNoticationsToSDKS:app"
![Screenshot 2019-05-28 at 4 37 47 PM](https://user-images.githubusercontent.com/28666702/58529078-f262a600-81f6-11e9-9dc7-00ce7bec2732.png)

[2019-05-29 04:22] kartikartik opened #3106 "memory leak: [FIRApp configureWithName: KFIRDeafultAppName options:options]"
![Screenshot 2019-05-28 at 4 38 13 PM](https://user-images.githubusercontent.com/28666702/58529169-52f1e300-81f7-11e9-9f03-f5ff267bb221.png)

[2019-05-29 04:27] kartikartik opened #3107 "memory leak: [FIRApp configureWithOptions:options]"
![Screenshot 2019-05-28 at 4 39 18 PM](https://user-images.githubusercontent.com/28666702/58529383-268a9680-81f8-11e9-9ed1-f7763ad3da44.png)

[2019-05-29 04:28] kartikartik opened #3108 "memory leak: FirebaseApp.configure()"
![Screenshot 2019-05-28 at 4 39 47 PM](https://user-images.githubusercontent.com/28666702/58529441-50dc5400-81f8-11e9-9599-b4e012d5def5.png)

[2019-05-29 06:09] tolmekian1453 commented on #2179
Wonderful. I wonder if it works in the JavaScript version if you're using React Native.

[2019-05-29 09:51] smolskyaleksey opened #3109 "Firebase doesn't support Cocoapods 1.7.0 with Multiple Xcodeproj Generation feature"
Add to podfile line
[code]
and build again

I get error
[code]

[2019-05-29 10:44] kartikartik commented on #3108
i install following pods

 pod 'Firebase/Core'
pod 'Firebase/Crash'
pod 'Firebase/Messaging'
pod 'Crashlytics'

& configure all the code

[2019-05-29 13:27] paulb777 commented on #3109
Please update to the latest version.  Support for `:generate_multiple_pod_projects`  was added in #2751 and released with Firebase 6.0.0.

[2019-05-29 14:12] smolskyaleksey commented on #3109
thx a lot

[2019-05-29 14:12] #3109 closed

[2019-05-29 14:44] ryanwilson commented on #3108
@kartikartik thanks for the report. The small leak appears to occur in `FirebaseCrash` (pulled from `Firebase/Crash`) which has been deprecated and is no longer in the `Firebase` pod (it's only available for Firebase 5.X and below, we've recently released Firebase 6).

I've confirmed that the leak no longer occurs when removing `pod 'Firebase/Crash'` from the Podfile.

This is the same for #3104,

[2019-05-29 14:44] #3108 closed

[2019-05-29 14:45] ryanwilson commented on #3104
Closing, see https://github.com/firebase/firebase-ios-sdk/issues/3108#issuecomment-496967699 for more info.

[2019-05-29 14:45] #3104 closed

[2019-05-29 14:45] ryanwilson commented on #3105
Closing, see https://github.com/firebase/firebase-ios-sdk/issues/3108#issuecomment-496967699 for more info.

[2019-05-29 14:45] #3105 closed

[2019-05-29 14:46] ryanwilson commented on #3106
Closing, see https://github.com/firebase/firebase-ios-sdk/issues/3108#issuecomment-496967699 for more info.

[2019-05-29 14:46] #3106 closed

[2019-05-29 14:46] ryanwilson commented on #3107
Closing, see https://github.com/firebase/firebase-ios-sdk/issues/3108#issuecomment-496967699 for more info.

[2019-05-29 14:46] #3107 closed

[2019-05-29 14:47] PurnimaNaik commented on #2372
I was facing the same issue. Here is how I fixed it (iOS specific, android was working out of the box)-

 1. Uninstall the app from your phone
 2. Clear ALL the tokens stored in your database for this particular account(or however you have set it up in your backend. In my case, tokens are tied to the account)
 3. In componentDidmount-

[code]

4.

      async checkPermission() {
        const enab

[2019-05-29 17:56] renkelvin commented on #2179
@jamesdaniels Please create a separate issue with detailed steps to reproduce.

[2019-05-29 18:06] nikhildange commented on #3090
Issue Resolved

What i did?
I started debugging app by placing breakpoint where path for the resource was nil. when you hit a breakpoint, the value were nil & showed _proj_name was compiled with optimization - stepping may behave oddly_ message, preventing you from watching real variable values because the in pod project setting optimization was different from main & target setting, so changed to

[2019-05-29 18:29] noppefoxwolf opened #3111 "Cannnot get id toke when using app group."
### [READ] Step 1: Are you in the right place?

ok

### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.2 10E125
  * Firebase SDK version: 6.1.0
  * Firebase Component: Auth (Auth, Core, Database, Firestore, Messaging, Storage, etc)
  * Component version: 6.1.0

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

I can get id token with using access group.
Bu

[2019-05-29 19:08] rpanadero commented on #3053
Thanks, I will try it, but I'm not fully sure if I will be able to force a specific Firebase Measurement version in the Podfile that Cordova generates.

[2019-05-29 20:01] samedson commented on #3015
Hey @danysz, the error message is misspelled - it's GOOGLE_APP_ID instead of GMP_APP_ID. You shouldn't need any custom fields in your GoogleService file - the one downloaded from Firebase should work.

What's most likely happening is the Crashlytics run script can't find your GoogleService file when it builds for release. I just tried setting up a new Flutter project with firebase_crashlytics and

[2019-05-29 21:47] renkelvin commented on #3111
Could you provide more details how do you use app group?

[2019-05-29 21:50] morganchen12 commented on #3090
Thanks for following up @nikhildange. I'll close this issue for now, but if it resurfaces, feel free to comment again and we'll re-open it.

[2019-05-29 21:50] #3090 closed

[2019-05-29 21:58] paulb777 commented on #2665
Sent https://github.com/protocolbuffers/protobuf/pull/6190

[2019-05-30 01:25] abegehr commented on #849
Thank you for your answer @aparkertg!
Turns out for me the error was due to an improper dev provisioning profile. I didn't follow the instructions at [https://firebase.google.com/docs/cloud-messaging/ios/certs](https://firebase.google.com/docs/cloud-messaging/ios/certs) carefully enough at the first go.

[2019-05-30 09:57] noangel opened #3112 "Every time after app update cannot receive FCM token after first run only"
* Xcode version: 10.2.1
  * Firebase SDK version: 5.20
  * Firebase Component: Messaging
  * Component version: umm, it's a binary from iOS SDK 5.20

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

I call
**[FIRApp configure];**
in **application didFinishLaunchingWithOptions**.
Then, when when user goes to in-app settings, (s)he wants to enable or disable remote notification

[2019-05-30 10:54] noppefoxwolf commented on #3111
@renkelvin  Thank you for your mention!! ❤️
I made example project for reproduction.( **Should setup firebase project**)
https://github.com/noppefoxwolf/FirebaseAuthIssueExample

At first launch, signin and get id token are successfully.
At second launch, I can get current User, but cannot get id token.
You should wait time enough when launch secondly, until expire a id token.

[2019-05-30 10:55] noppefoxwolf commented on #3111
And... I run this project in my device.(not simulator)

[2019-05-30 11:19] JoakoDr commented on #2167
Same problem, how do you solve it?

[2019-05-30 12:01] wilhuff commented on #2167
@JoakoDr If this really is the same problem, then the advice from @mikelehen above is:
1. Avoiding doing writes until you've successfully signed-in to Firebase Authentication, or
2. Avoiding signing in to Firebase Authentication until all previously-queued writes have completed successfully.

However, the way we diagnosed this was specifically this problem was by looking at the logs. If those sugg

[2019-05-30 12:23] JoakoDr commented on #2167
i've successfully signed-in to Firebase, get the user email and the user uid, and then do the setData(), but it doesnt work:

func registrarse(user: String, password:String ,delegate: DataHolderDelegate){
       // var blFinRegistro:Bool = false

            Auth.auth().createUser(withEmail:user, password:password){ (user, error) in
                    if (error == nil) {
					//successfully regis

[2019-05-30 12:30] filipealva opened #3113 "[QUESTION] Query with predicate"
Hey guys,

I appreciate that the SDK has support for querying based on `NSPredicate`, but since Firestore has no explicit `id` field on the document, and we don't have access to the literal value of `FieldPath.documentID()`, how should we use `queryWithPredicate` for querying a document by its id?

Thanks in advance!

----

EDIT: Just figured out that the field is `__name__` u.u

So I'm updating t

[2019-05-30 12:38] JoakoDr commented on #2167
Solved. Thanks to @albertogurpegui

[2019-05-30 12:38] filipealva commented on #3113
I'm sad that we as developers struggle to find this kind of basic information :(

[2019-05-30 14:07] paulb777 opened #3114 "New InstanceID test flake"
This flake has started showing up in the last few days:

Failing tests:
	-[FIRInstanceIDTokenManagerTest testDeleteTokenFailure]
** TEST FAILED **

See https://travis-ci.org/firebase/firebase-ios-sdk/jobs/539060759

[2019-05-30 14:08] ryanwilson commented on #3112
Hi @noangel - can you provide a bit more of the code here? Specifically the declaration of `token` and the return statement, and anything in between (feel feel free to redact any private code). If you're calling the return statement after the completion handler but not waiting for the completion handler to run, `token` will be `nil` since `instanceIDWithHandler` is an asynchronous method.

[2019-05-30 14:09] paulb777 commented on #3114
cc: @chliangGoogle

[2019-05-30 19:45] wilhuff commented on #3113
Sorry about the difficulty you ran into.

`__name__` is a stable identifier that’s a part of the protocol and a committed part of the API surface, not just in iOS but all APIs including REST. You can safely rely on this not changing.

We’ve struggled with whether/how to expose this. You’ve pretty much hit on the only case where it’s useful though and it would otherwise be confusing. On balance we

[2019-05-30 19:45] #3113 closed

[2019-05-30 22:39] chliangGoogle commented on #2863
@SVyatoslavG Thank you for filing the request. Can you provide a bit use case of adding mutable-content flag? Is this for enable service extension on the console? When enable it, what kind of notifications you expect to change when targeting different app. version, etc.

[2019-05-30 23:12] morganchen12 commented on #424
Fixed in #2880.

[2019-05-30 23:13] #424 closed

[2019-05-30 23:22] morganchen12 commented on #1953
@kwstasna, @mohammedshahid -- have either of you seen this crash happening recently?

[2019-05-30 23:25] morganchen12 commented on #1965
Closing this issue since it's not something we plan on fixing in the Firebase SDKs. Feel free to continue discussion here.

[2019-05-30 23:25] #1965 closed

[2019-05-30 23:29] morganchen12 commented on #2156
@KunalDev is this still an issue?

[2019-05-30 23:32] morganchen12 commented on #2303
Looks like the radar mentioned in the AFNetworking issue above was resolved and this issue hasn't seen any new reports.

[2019-05-30 23:33] morganchen12 commented on #2366
@Constantine-Fry, is this issue still reproducible in Firebase 6?

[2019-05-30 23:34] morganchen12 commented on #2508
Closing due to inactivity; will re-open on new comments.

[2019-05-30 23:34] #2508 closed

[2019-05-30 23:36] morganchen12 commented on #2512
This should be fixed with https://github.com/google/gtm-session-fetcher/pull/142. Please comment here if you run into the issue again.

[2019-05-30 23:36] #2512 closed

[2019-05-30 23:37] morganchen12 commented on #2695
Closing due to inactivity.

[2019-05-30 23:37] #2695 closed

[2019-05-31 02:06] noangel commented on #3112
[code]

[2019-05-31 02:13] SVyatoslavG commented on #2863
@chliangGoogle
Thank you for your response.
I would like to have iOS rich push notifications with media attachments in my app. And yes,  service extension is required to make it work. I want to target different counties, languages and timezones. We have our app translated into 17 languages and  it is required to send them timely push notifications.
Please add this feature into firebase console.

H

[2019-05-31 02:15] noangel commented on #3112
there is a function runs from main thread:

[code]

this function runs from some background thread:
[code]

[2019-05-31 02:41] noangel commented on #3112
@ryanwilson Hi!
My code main parts are above.
In crossplatform(iOS/Android) app, I have two threads, switching every fixed time interval.
These threads waiting for each other, never run simultaneously. One thread is "main" thread, which is, on iOS, a thread, where it's safe to call UI APIs.
Second thread is some script engine.

When I need FCM token I call some "gettoken()" from script, the call g

[2019-05-31 06:23] alfredcc commented on #2555
same issues, now Cocoapods 1.7.0 is released, if some one use the feature `generate_multiple_pod_projects` this will error happen. @paulb777

[2019-05-31 06:26] alfredcc commented on #2555
checkout  [https://github.com/firebase/firebase-ios-sdk/pull/2751](url)

[2019-05-31 07:59] kwstasna commented on #1953
@morganchen12 we see lots of crashes with the following crashlytics reports.
[code]

Each line is a separate crash.

[2019-05-31 12:08] choiks14 commented on #2732
is it solved??

[2019-05-31 14:00] ryanwilson commented on #3112
Thanks for the info.

Two things: I can't immediately tell from the sample code, are these functions within a class or just in the namespace? If they're not in a class, the completion handler may not be retained after the `GetTokenIOS()` function completes and the callback wouldn't be called. You'll have to retain the completion block somehow, either in a class instance or a variable in the same n

[2019-05-31 14:07] noangel commented on #3112
@ryanwilson Thank You for suggestions! Will try to retain completion handler and use latest SDK and report results here, probably next Monday.

[2019-05-31 18:01] morganchen12 commented on #2252
This bug is unrelated to #2070; this one's caused by protobuf and there's no sqlite3 calls in the stack. @hansemannn @RamblinWreck77 does this issue still occur on Firebase 6+?

[2019-05-31 18:02] morganchen12 commented on #1953
@kwstasna can you share the full stack trace for each crash?

[2019-05-31 18:10] nikhilag commented on #1868
@AchidFarooq Did changing the region help?
Has anyone found a good solution to this problem apart from disabling persistence? Since we want our app to work offline smoothly, we will have to write our own persistence caching logic for sqlite which isn't ideal.

[2019-05-31 18:18] eebean2 commented on #583
Can we get support for this since Apple is launching cross platform support for iOS apps?

[2019-05-31 19:08] morganchen12 commented on #2070
@huakucha @zeqinjie @weilihua can you try running your project with Thread Sanitizer enabled and see if there are any issues?

[2019-06-03 09:04] noangel commented on #3112
@ryanwilson I tried to reproduce it using latest SDK and moved GetTokenIOS() source to singleton class. Seems to be fixed for me. Thank You for helpful tips! Closing it for now.

[2019-06-03 09:12] AchidFarooq commented on #1868
@nikhilag Sorry, i forgot to write a message here. But no it did not work. We have seen no improvements when changing our region from US to the EU (Frankfurt). The speed issue was the same when we run our test on large collections. We both used addSnapShotListener and getDocuments call. At the moment we get a lot of complaints from our users about the speed. But we have tried everything. So at the

[2019-06-03 10:27] echamussy commented on #16
This is still an issue using cocoapods 1.6.2. The above workarounds have not helped me, it complains about the following Undefined Symbols:

![UploadCam___SchoolCam_Work_Package_-_Google_Docs_and_TutorialCatalogTests_swift](https://user-images.githubusercontent.com/259868/58795399-d9913080-85fa-11e9-859d-cdeed66fa6a9.png)

[2019-06-03 14:02] paulb777 commented on #3022
The integration tests broke CI again all weekend.

[2019-06-03 14:12] #3046 closed

[2019-06-03 16:35] morganchen12 commented on #16
@echamussy this is a separate issue from the parent issue. The above issue is resolved with just fixing the header search paths; yours is one where you're missing symbols at link time. Please file a new issue and share a project that reproduces your error.

[2019-06-03 17:26] renkelvin commented on #3022
https://github.com/firebase/firebase-ios-sdk/pull/3125

[2019-06-03 18:23] morganchen12 commented on #2934
Unfortunately, we can't manually invalidate all of your app's tokens. However, you can do this manually by shipping an update that [deletes the stored instance ID](https://firebase.google.com/docs/reference/ios/firebaseinstanceid/api/reference/Classes/FIRInstanceID#/c:objc(cs)FIRInstanceID(im)deleteIDWithHandler:) on first app launch.

[2019-06-03 18:23] #2934 closed

[2019-06-03 18:59] renkelvin commented on #3022
I noticed that there more tests broken and I'm working on that.

[2019-06-03 20:17] renkelvin commented on #3022
Auth apis broken due to backend changes. Disable all tests for now. https://github.com/firebase/firebase-ios-sdk/pull/3128

[2019-06-04 06:54] pwinterh commented on #3111
I have the same issue with the invalid API key. @noppefoxwolf i took a look at your example, have you tried to use your real TEAMID in :
`do {
  try Auth.auth().useUserAccessGroup("TEAMID.com.example.group1")
} catch let error as NSError {
  print("Error changing user access group: %@", error)
}`

[2019-06-04 07:34] teameh commented on #3015
I'm also seeing `Could not get GMP_APP_ID in Google Services file from build environment` when building my non-flutter iOS project on our CI.

On macOS 10.14, Xcode 10.2.1, using:
- Crashlytics: 3.13.1
- Fabric: 1.10.1
- Firebase/Core: 5.6.0

Downgrading to:
- Crashlytics: 3.12.0
- Fabric: 1.9.0

Gives me:

[code]

[2019-06-04 08:38] teameh commented on #3015
I did not read the docs properly and missed:

Also:

This fixed it: 🎉

[2019-06-04 10:38] noangel commented on #3112
@ryanwilson Sorry I checked it again and got same result (can't receive token after reinstall, run app once more fixes it). Using latest SDK.

[2019-06-04 10:42] noangel commented on #3112
[code]

[2019-06-04 16:45] WarSunsOfPeace opened #3136 "FR: Support for Swift Package Manager"
With iOS support for Swift Package Manager  in Xcode 11 can we please get that added to this project.

[2019-06-04 16:52] morganchen12 commented on #3112
@noangel can you try updating to the latest version of Firebase? Also, does `gettoken` print any errors to console?

[2019-06-04 17:06] ryanwilson commented on #3136
Hey @w0mba7 - thanks for the report 😄

We're excited and looking into the best way we can support this as soon as we can, but there are a few dependencies and file structure changes we may need to do. We started experimenting with support on a branch at https://github.com/firebase/firebase-ios-sdk/tree/spm-master a few weeks ago and have a better idea of the approach we need.

We also started a di

[2019-06-04 18:36] mourodrigo commented on #1470
I got this same issue after upgrading from older swift version to Swift 5.0, also using firebase (it's pod version was also updated).

The method below
`func application(_ application: UIApplication, continue userActivity: NSUserActivity, restorationHandler: @escaping ([Any]?) -> Void) -> Bool `

need to be updated to:

`func application(_ application: UIApplication, continue userActivity: NSUserA

[2019-06-04 19:09] appfrilans commented on #583
I agree with @eebean2. A lot of iPad apps will be ported coming month due to Apples new Catalyst project. One switch in Xcode will make your app into a macOS app. However, frameworks need to support macOS and the only one I got an issue with was Firebase SDK!

[2019-06-04 19:44] noppefoxwolf commented on #3111
I tried to use access group named by team id.
But signin failured and return this error...

[code]

[2019-06-04 20:10] morganchen12 commented on #3111
The error you're getting is [`errSecMissingEntitlement`](https://developer.apple.com/documentation/security/errsecmissingentitlement). Make sure you have the correct entitlements (see [here](https://developer.apple.com/documentation/bundleresources/entitlements/com_apple_security_application-groups)).

[2019-06-04 22:37] paulb777 commented on #583
We're digesting all of the WWDC updates and will reassess the Firebase multi-platform official support story.

In the meantime, please file any specific issues you have with the current community macOS support.

[2019-06-04 22:38] geoffclifton commented on #3066
Hello,
I was wondering if this issue has been investigated?

[2019-06-04 22:51] paulb777 commented on #3066
@geoffclifton Thanks for the report and sorry about the delayed response.  There's no update yet. This issue is being tracked internally at b/134524065.

[2019-06-05 02:08] noangel commented on #3112
@morganchen12 I'll try to confirm again on recently released 6.2.0 SDK. I checked device system log for error messages, and there were no messages from SDK, only some system "garbage", but I'll look again in system log and app debug log (in Xcode) under latest SDK.

[2019-06-05 07:22] noangel commented on #3112
I updated to Firebase SDK 6.2.0 and tried again.
6.1.0 works better(thought it fixed but still can reproduce in 20-30% cases on first run) than 5.2.0(my issue occurs in almost 100% cases on first run), and 6.2.0 seems to be even better (reproduced 0 times, but need a few days to confirm). I hope it fixed by SDK update 6.2.0, but still need a time to check it good enough to close ticket.

[2019-06-05 13:44] vg-identance commented on #230
In our case we need to use more than one analytics instances at same time. So waiting for customizing Analytics by different App instance too.

[2019-06-05 14:07] fschaus commented on #1868
Same here could not get it to work and limiting the cashbytesize actually introduced some very unstable querying from the cache - for ex., it would query 5 docs out of the 25 to be displayed from the cache, then the rest from the server, either creating very weird UI bugs (lots of flickering, unstable UI) or some weird race conditions.

I "solved" the issue by limiting the # of docs queried and di

[2019-06-05 14:21] siburb opened #3144 "FR: Support for "iPad apps for Mac" aka Marzipan/Catalyst"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 11
  * Firebase Component: All

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

Attempting to build an iPad app for Mac, but it uses Firebase via Cocoapods, but we receive a lot of the following error:

`Building for UIKit for Mac, but the linked framework '<frameworkName>.framework' was built for <unknown>

[2019-06-05 14:56] AchidFarooq commented on #1868
@fschaus could you share those code snippets? thanks!

[2019-06-05 14:57] ryanwilson commented on #3144
Thanks for the report, @siburb! There are some docs and sessions we need to catch up on in order to find out how to get this working for folks. We're working on it and will update this issue as we find out more :)

[2019-06-05 15:00] paulb777 commented on #3144
And, as always, PRs are welcome!

[2019-06-05 16:08] ajkolean opened #3145 "FR: Sign in with Apple Support"
Add support for authenticating with Sign in with Apple. Soon Apple will require that you implement this to be listed on the App Store if your App uses other 3rd party login providers.

https://developer.apple.com/sign-in-with-apple/
https://developer.apple.com/documentation/signinwithapplerestapi

[2019-06-05 16:32] StevenEWright commented on #3145
At least one of the places Apple is explicit about requiring Apple Sign In in the future: https://developer.apple.com/news/?id=06032019j

It's not clear if / how they will distinguish between AuthN and AuthZ use cases.

[2019-06-05 16:37] paulb777 opened #3146 "Coverage collection causes occasional CI flakes"
From https://travis-ci.org/firebase/firebase-ios-sdk/jobs/541828155:

[16:33:07]: $ xcodebuild -showBuildSettings -workspace Example/Firebase.xcworkspace -scheme AllUnitTests_iOS
[16:33:10]: Command timed out after 3 seconds on try 1 of 4, trying again with a 6 second timeout...
[16:33:16]: Command timed out after 6 seconds on try 2 of 4, trying again with a 12 second timeout...
[16:33:28]: Comman

[2019-06-05 17:32] ryanwilson commented on #10
@erickavb re: not connecting to the Firebase Console. When the console waits for the "connect" step it is looking for a specific Analytics event which will never happen since Analytics isn't currently supported on tvOS. It's safe to ignore this warning and things should work as expected.

[2019-06-05 17:37] Corrob commented on #3146
One thing I notice is that the first run had the following error message:

unexpected service error: The Xcode build system has crashed. Please close and reopen your workspace.
	The Xcode build system has crashed. Please close and reopen your workspace.
	Testing cancelled because the build failed.

Maybe this put Xcode in a bad state? I think we might want to do something like clean the derived da

[2019-06-05 18:01] htcgh commented on #3066
@geoffclifton Was your GoogleTagManager container configured to be triggered by that particular custom event?

[2019-06-05 20:13] guidedways commented on #583
Not to mention there's very little multi-platform solutions out there. Can't think of anything other than realm database. Having Firebase on macOS would be a game changer for all of us - we'd love to switch over to Firebase wholeheartedly if given the chance.

[2019-06-06 04:06] cliftonlabrum commented on #583
If you can include Firebase in an iPadOS app, won’t it work if deployed on a Mac? It’ll be running on an iOS-built app, won’t it?

[2019-06-06 09:09] pepejeria commented on #269
I guess that this won't be an issue anymore with watchOS 6 since apps are independent?

[2019-06-06 11:23] yusuftor opened #3151 "Cocoapods installing outdated versions of pods"
I have the following in my podfile:

[code]

For some reason, this installs the following frameworks:

[code]

The `FBSDKLoginKit` and `TwitterKit` that it installs is outdated and so my project can't run. Why!?

[2019-06-06 13:30] tringuyen1121 commented on #1602
Hi, @tclarke-scottlogic

I'm getting exact the same issue as you. What is your fix for this? This is the message object from my server:
[code]

[2019-06-06 14:02] paulb777 commented on #3151
Please do a `pod update` and examine the contents of the `Podfile.lock` for an explanation of why each version was installed.  If you're still having trouble, share the contents of `Podfile.lock` here.

[2019-06-06 14:10] paulb777 commented on #3151
@morganchen12 @renkelvin Is there a release note or other documentation about transitioning from the TwitterKit deprecation?

[2019-06-06 14:12] CraftizLtd commented on #1493
@ManuelRiegler  Man, you just saved me hours.

[2019-06-06 14:33] mknippen commented on #269
I think this will be a much bigger issue. Hopefully with all of the streaming data and network framework, we can make this available ASAP!

[2019-06-06 14:36] Supertecnoboff commented on #269
Surely you can add watchOS support because presumably watchOS 6 has the CFNetwork framework?

[2019-06-06 15:53] EliteTechnicalCare commented on #583
Unfortunately it is not working at the moment. It needs to be able to run on macOS

[2019-06-06 16:26] geoffclifton commented on #3066
@htcgh yes the GoogleTagManager is configured to be triggered for the custom events fired.

The issue is not specific to a certain one of the events, but happens only on the first trigger of a custom event after app install. After relaunching the app, custom events are sent without issue.

If the user deletes the app, and reinstalls, the problem will be encountered again on first fire of a custom

[2019-06-06 17:13] #3146 closed

[2019-06-06 18:27] noppefoxwolf commented on #3111
Hmm, I'm not resolve this issue.
Entitlement is correct. I continuing to try some configurations.

[2019-06-06 18:27] morganchen12 commented on #3151
TwitterKit is deprecated. Use Firebase OAuth to support Twitter login instead. [Here's an example of what replacing TwitterKit with OAuth looks like](https://github.com/firebase/quickstart-ios/commit/5b5e274c25b9dbb728935b38011289792404400f).

[2019-06-06 18:27] #3151 closed

[2019-06-06 20:05] htcgh commented on #3066
@geoffclifton Can you share a sample project that reproduces the hang? I can't seem to reproduce it.

[2019-06-06 21:10] possen commented on #2135
OK Apple supports it now. High priority right!? :-)

[2019-06-06 21:39] possen commented on #3136
https://github.com/firebase/firebase-ios-sdk/issues/2135 linking issues.

[2019-06-06 21:41] paulb777 commented on #2135
@possen Yep!

[2019-06-06 21:54] possen commented on #3136
My experiment was to take the Carthage Binaries and add this to the Targets section but complains that the module map is in the wrong place:

`error: package has unsupported layout;modulemap '/Users/user/Projects/RideCore/Carthage/Build/iOS/nanopb.framework/Modules/module.modulemap' should be inside the 'include` directory`

 moving things around in the folders and renaming did not seem to help.

[2019-06-07 02:20] noangel opened #3152 "ages"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2019-06-07 02:22] noangel commented on #3152
opened by misclick. sorry

[2019-06-07 02:22] #3152 closed

[2019-06-07 02:41] rickydameliocroc commented on #1894
We have also encountered this bug, and it took me quite a while to figure out that it was the screen name setting which was causing the issue. I've since been in contact with some helpful Google support members who tell me this is **behaving as expected**.

I am astounded that this bug - **and it is a bug, no matter how you try to slice it** - has existed for so long, and that its presence to Goog

[2019-06-07 02:41] rickydameliocroc commented on #2181
We have also encountered this bug, and it took me quite a while to figure out that it was the screen name setting which was causing the issue. I've since been in contact with some helpful Google support members who tell me this is **behaving as expected**.

I am astounded that this bug - **and it is a bug, no matter how you try to slice it** - has existed for so long, and that its presence to Goog

[2019-06-07 13:31] guidedways commented on #583
Even if it did work for Catalyst / iPadOS apps on macOS, we'd appreciate proper support for native macOS app. Just please do it and get it done and over with so we can all enjoy cross platform deployment of Firebase in our apps.

[2019-06-07 13:58] Francescu commented on #3145
Also, here is the WWDC video link:
https://developer.apple.com/videos/play/wwdc2019/706/

[2019-06-07 14:23] loolooii commented on #3015
@teameh could you explain the first thing?

[2019-06-07 14:48] loolooii commented on #3015
@teameh I think your suggestion works for non-Flutter projects. I'm still stuck @ryanwilson any suggestion how to (temporarily) fix this for Flutter projects?

[2019-06-07 19:29] chliangGoogle commented on #2863
@SVyatoslavG Thank you for your feedback. We are actively working on sth that should resolve your case.

[2019-06-07 20:02] ohokay opened #3158 "Firestore (Mac OS) doesn't return anything"
### [REQUIRED] Describe your environment

  * Xcode version: 10.2.1
  * Firebase SDK version: Auth (6.1.1), Core (6.0.2), Firestore (1.3.2)
  * Firebase Component: Auth, Core, Firestore

### Describe the problem

Attempting to retrieve data from Firestore returns no results, errors or anything at all. Firebase Auth works fine, and is full integrated.

#### Relevant Code:

[code]

If I try and log

[2019-06-07 20:21] paulb777 commented on #3158
One possibility - Make sure `-ObjC` is set in the `OTHER_LD_FLAGS` Build Setting.  Older versions of CocoaPods did not automatically set it for macOS.

[2019-06-07 20:28] wilhuff commented on #3158
When you say "If I try and log the firestore instance to the console I instantly get a crash", do you mean something like `NSLog(Firestore.firestore())`? That shouldn't be happening but it's also not going to do anything useful.

A better way to get more information is to enable Firestore's debug logging: https://gist.github.com/katowulf/0475fb7a5907ed757f687aab6ed15878.

[2019-06-07 20:57] ohokay commented on #3158
@paulb777 Nailed it. I was using Cocoapods 1.5, but just upgraded to the latest (1.7.1) and it now works.

Thank you!

[2019-06-07 20:57] #3158 closed

[2019-06-07 21:05] chliangGoogle commented on #3018
@deanthibault @choiks14  can you download our newest SDK and see if the issue has been mitigated for you?

[2019-06-07 21:06] geoffclifton commented on #3066
@htcgh I will have to try to replicate this problem in a sample project.

Is there anything unique which only occurs on the first custom event firing after install which could point us in the right direction?

[2019-06-07 21:26] paulb777 commented on #1644
Now done except for Firestore, which we might not want to do because of how long it takes.

[2019-06-07 21:26] #1644 closed

[2019-06-07 21:28] paulb777 commented on #1030
This is mostly done with `pod lib lint`.  Next step would be to explore options to disable warnings only in dependencies that cause problems - like Protobuf, without turning off warnings for the pod itself.

[2019-06-08 06:56] OkiRules opened #3159 "Auth not working properly"
* Xcode version: 11
  * Firebase SDK version: Latest
  * Firebase Component: Auth
  * Component version: Latest

When I sign in a user of Firebase Auth (latest version) for some reason the CurrentUser object is still nil, it works on Xcode 10 with iOS 12 but not with Xcode 11 with iOS 13. Any idea why and is there a fix?

[2019-06-09 00:05] morganchen12 commented on #3159
Is this reproducible for all users consistently on iOS 13? Do you get any errors in console when logging in?

[2019-06-09 00:09] OkiRules commented on #3159
No errors, just this object: Auth.auth().currentUser is nil. I don’t know if this happens for others but I have tested it on two different devices running iOS 13 and it is still nil.

--
Oscar Gorog

On Sun, Jun 9 2019 at 10:06 am, < notifications@github.com > wrote:

[2019-06-09 07:39] OkiRules commented on #3159
I found out what the issue was and I fixed it, it had to do with my code (because of some changed API's in iOS 13).

Sorry :)
Oscar

P.S This is 100% not a Firebase Auth Issue

[2019-06-09 07:39] #3159 closed

[2019-06-09 18:17] SamboVisal opened #3160 "Specs satisfying the `Firebase/Functions` dependency were found, but they required a higher minimum deployment target."
I was trying to install `pod Firebase/Functions` but got following error

`[!] CocoaPods could not find compatible versions for pod "Firebase/Functions":
  In Podfile:
    Firebase/Functions

Specs satisfying the `Firebase/Functions` dependency were found, but they required a higher minimum deployment target.`

`# Uncomment the next line to define a global platform for your project
# platform :ios

[2019-06-10 02:53] EvenDu commented on #2138
some issue like this .
how can I fix it？

<img width="980" alt="屏幕快照 2019-06-10 上午10 45 04" src="https://user-images.githubusercontent.com/44966107/59169598-89bbe780-8b6d-11e9-9ec0-6decd3a30dc1.png">

[2019-06-10 03:03] EliteTechnicalCare commented on #3144
Any update on this? I would love my iPad / Mac apps to all run on FB back end.

[2019-06-10 04:12] morganchen12 commented on #3144
No update yet. In terms of infrastructure, adding Catalyst support would mean adding most of the support for AppKit apps as well. We're in the process of figuring that out and will have more to share soon.

[2019-06-10 04:16] morganchen12 commented on #3160
This means you need to bump your minimum deployment target to a newer version. FirebaseFunctions supports [iOS 8.0 and above](https://github.com/CocoaPods/Specs/blob/master/Specs/c/5/4/FirebaseFunctions/2.5.1/FirebaseFunctions.podspec.json#L17).

[2019-06-10 04:16] #3160 closed

[2019-06-10 06:26] florianmonfort commented on #1894
@allenktv there needs to be more responsiveness about this. We even pay for a subscription for this. At the very least we should get a timeline on when this will be changed.

[2019-06-10 13:54] mikelehen commented on #2138
@EvenDu This comment isn’t actionable.

This issue was filed against Firebase 5.13.0 and was fixed in 5.15.0. If you’re using a version prior to that point, please upgrade. If you’re using Firebase 5.15.0 or later please open a new issue with all the details

[2019-06-10 15:15] baolocdo commented on #3074
It seems like the SDK logs the event as conversion `firebase_conversion (_c) = 1;` correctly. This looks like a bug on the front-end to me and in the debug view

[2019-06-10 21:36] morganchen12 opened #3165 "Re-investigate cocoapods CDN usage"
Temporarily disabled after flakes: https://travis-ci.org/firebase/firebase-ios-sdk/jobs/543480285

[2019-06-10 22:03] htcgh commented on #3066
@geoffclifton On the first launch after install, both GoogleTagManager and FirebaseAnalytics create their own SQLite database files and GTM downloads the latest version of the container. Aside from that, the logic on the first and subsequent app launches is the same.

[2019-06-11 04:54] siliconprime-manhnguyen commented on #1718
The issue still exist in the latest version of NewRelic (6.6.0) and Firebase  (6.1.0) and FirebaseStorage  (3.2.1)

<img width="1281" alt="Screen Shot 2019-06-11 at 11 53 41 AM" src="https://user-images.githubusercontent.com/42996953/59244661-96a90b80-8c3f-11e9-8d41-bf1e09d4badc.png">

[2019-06-11 12:08] Reedyuk commented on #3145
It would also appear that Apple will eventually reject app store submissions with apps that contains SSO but not apples one.
Which is a little worrying.

[2019-06-11 12:19] FoldedLaundry opened #3167 "Light-colored text against light-colored background crashes onDeviceRecognizer"
### Step 2: Describe your environment

  * Xcode version: 10.2
  * Firebase SDK version: 6.1
  * Firebase Component: MLKit (onDeviceTextRecognizer)
  * Component version: not sure - the one shipped with Firebase 6.1

### Step 3: Describe the problem

There are images that cause MLKit to crash (**heap corruption, free list is damaged**).
We capture live feed with AVFoundation, occasionally take one

[2019-06-11 12:20] FoldedLaundry commented on #3167
![crash](https://user-images.githubusercontent.com/51703520/59271392-045f3280-8c54-11e9-8791-9c154b654399.png)
![good](https://user-images.githubusercontent.com/51703520/59271398-07f2b980-8c54-11e9-8c5f-43d824bca556.png)
<img width="1680" alt="Screenshot 2019-06-10 at 14 49 30" src="https://user-images.githubusercontent.com/51703520/59271409-0aedaa00-8c54-11e9-9334-e3abcf5041e8.png">

[2019-06-11 14:16] deanthibault commented on #3018
This seems to be fixed. I haven't been able to reproduce this issue on v. 6.2.0.

[2019-06-11 14:36] ryanwilson commented on #3018
Thanks, closing now. If anyone else has this same issue with 6.2.0, please re-open the issue.

[2019-06-11 14:36] #3018 closed

[2019-06-11 17:49] renkelvin commented on #3145
@Reedyuk Thanks for the input. Is it officially documented?

[2019-06-11 18:01] morganchen12 commented on #3145
@renkelvin The docs are here: https://developer.apple.com/documentation/authenticationservices

[2019-06-11 18:44] EliteTechnicalCare commented on #3144
Are there any work arounds like building it for mac and the importing it into a project?

[2019-06-11 19:13] morganchen12 commented on #3167
@FoldedLaundry can you attach a more complete stack trace to this crash? You can get one from Xcode using the command `bt all` in the debugger.

Filed internally as b/135037674

[2019-06-11 19:20] morganchen12 commented on #3144
Theoretically what you're describing should be possible, since Catalyst apps are built on macOS apps, but will only work for the existing macOS-compatible libraries and defeats the purpose of Catalyst (at that point you're just building an AppKit app). You could then [create a bundle using Firebase and load it into your Catalyst app](https://www.highcaffeinecontent.com/blog/20190607-Beyond-the-Che

[2019-06-11 20:00] renkelvin commented on #3145
@morganchen12 I mean the source of "Apple will eventually reject app store submissions with apps that contains SSO but not apples one."

[2019-06-11 20:03] andygeers commented on #3145
It does say it in that blog post that StevenEWright shared at the very top of this thread

[2019-06-11 20:16] renkelvin commented on #3145
I think I misunderstood what @Reedyuk means by "SSO" above.
If it means "use sign in with Apple across apps", then we're well informed of it.
If it means "[enterprise single sign-on](https://developer.apple.com/documentation/authenticationservices?language=objc#topics)" introduced in iOS 13, I didn't see Apple has additional app store review guidelines over it.

[2019-06-11 20:32] Reedyuk commented on #3145
No, sorry for the confusion, i meant normal sso and not enterprise.
I think its a really harsh from Apple to make this mandatory and i think they even mention the apple sign on is to appear above all of the other sso buttons.

[2019-06-11 20:44] FoldedLaundry commented on #3167
@morganchen12
I will get you it for you on Friday.

[2019-06-11 22:34] morganchen12 commented on #2170
@christibbs was this issue fixed in 5.15?

[2019-06-11 22:37] morganchen12 commented on #2252
Closing since there haven't been any responses on this issue.

[2019-06-11 22:51] morganchen12 commented on #2390
This was fixed in March. Thanks for reporting!

[2019-06-11 22:51] #2390 closed

[2019-06-11 22:53] morganchen12 commented on #2422
Closing due to inactivity and lack of new reports. Please comment here if you're still crashing on Firebase 6 and we'll re-open the issue.

[2019-06-11 22:53] #2422 closed

[2019-06-11 23:53] morganchen12 commented on #3112
@noangel were you able to reproduce this issue on 6.2.0?

[2019-06-11 23:54] morganchen12 commented on #3136
Related to #2135

[2019-06-12 01:00] #2156 closed

[2019-06-12 01:00] #2366 closed

[2019-06-12 02:05] noangel commented on #3112
@morganchen12 Yes, but I tested only: rollback to 5.2.0 -> reproduce -> reinstall app with 6.2.0, and sometimes I cannot get token on 6.2.0. I want to check if I can reproduce it when upgrade app with 6.2.0 to app with same SDK version, but I need more time to make next version, planning to comfirm it next week.

[2019-06-12 05:37] Aranoledur commented on #2090
Why this issue is closed? What if I need `Undefined Behavior Sanitizer` on my device? Doesn't look like a fix

[2019-06-12 05:47] haowang10 commented on #1894
I try a practice

official example
[code]
I change the super call
[code]
This way the screen view event will work, but the other auto-recorded parts will be lost, and the console will show `View controller already tracked. Class, ID`
So this is still a bug

[2019-06-12 07:13] robbiet480 commented on #269
My _assumption_ is that watchOS won't be supported until Google Analytics is supported which is gonna be a long time since we don't have UIKit for watchOS and at this point it's unlikely we ever will with the introduction of SwiftUI.

[2019-06-12 09:16] GeroHerkenrath commented on #1686
I would also be interested in a solution to this (for example an explicit configuration setting). We decided explicitly not to use track additional data from our users, but we need SafariServices.

To be honest I find the philosophy to just "take what you can get" a little disappointing, imo this should have been an explicit setting from the start... I have to answer Apple's IDFA related question

[2019-06-12 12:29] AchidFarooq commented on #1868
Hi guys, here are some new test results, maybe this can help you guys.
I suggest you turn the FireStore loggin on, this helps a lot to see what happens in the background with Firestore

The biggest thing we found is that if you do exactly the same query but then with Persistence DISABLED firestore is super fast.

iOS (do this before the init of firestore FirebaseApp.configure()):
`FirebaseConfigur

[2019-06-12 15:48] mikelehen commented on #1868
@AchidFarooq Thanks for the added info!  Unfortunately this is probably expected at present.  The problem is that the SDK doesn't implement client-side indexing and so when you perform a query and have lots of documents cached locally for the collection in question, the client has to read each document in the collection to determine if it meets the query.  This takes a long time and the time taken

[2019-06-12 17:07] morganchen12 commented on #2894
A fix for this has been submitted internally and will be released in the next next release. Patch number is cr/252846485.

[2019-06-12 17:11] #2894 closed

[2019-06-12 19:04] allenktv commented on #2465
I believe we can close this issue for now due to lack of communication.

[2019-06-12 20:12] mpaulsonco opened #3179 "Dynamic GoogleService-Info.plist results in a compile-time crash with latest (Carthage) version of Crashlytics and Firebase"
### [REQUIRED] Step 2: Describe your environment
  * Xcode version: 10.1
  * Firebase SDK version: 6.2.0
  * Firebase Component: Analytics, Fabric, Crashlytics
  * Component version: Analytics `6.2.0`, Fabric `1.10.1`, Crashlytics `3.13.1`

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

1. Set up a project that has multiple, uniquely-named `GoogleService-Info.plist` files
-

[2019-06-12 20:16] morganchen12 commented on #3179
To clarify, the workaround you mentioned still results in a compiler error?

Can you try adding a Run Script phase to your build phases before the Crashlytics script runs and replace the dummy GoogleService-Info.plist with your intended plist on a per-target basis?

[2019-06-12 20:32] mpaulsonco commented on #3179
@morganchen12 The workaround resolves the compiler error, but doesn't pass the right values. I will add the additional run script to replace the dummy `GoogleServices-Info.plist` file with the scheme-specific actual file and let you know if this works. Thanks!

[2019-06-12 22:52] dudemeister commented on #1732
Same here!!

[2019-06-12 23:06] guidedways commented on #3144
I really hope it's not going to only going to work for Catalyst supported apps. We really need this to work for all macOS apps with or without Catalyst.

[2019-06-13 00:12] #2070 closed

[2019-06-13 00:18] morganchen12 commented on #2070
Closing due to inactivity. If you're still running into this issue, please try running your project with Thread Sanitizer enabled and post a stack trace here.

[2019-06-13 00:24] morganchen12 commented on #3144
AppKit support is also on our list of things to do. Fortunately, the Firebase website wouldn't need to distinguish between the two (i.e. console can display both as platform macOS), so much of the work is overlapping.

[2019-06-13 05:28] nikhilag commented on #1868
Similar to the get() call, can we please add an option for addSnapshotListener() to fetch only from server and skip cache?

[2019-06-13 07:58] dangthaison91 opened #3183 "GULNetworkURLSession crash"
## Environment
Xcode version: 10.2
Firebase/Google Pod Instal log:
[code]
## Problem
App crashes in GULNetworkURLSession, line 172. Code:

### Steps to reproduce
We cannot reproduce it but about 8k users are affected.

Crash log from Firebase Crashlytics:

[code]

[code]

[2019-06-13 08:29] hanumanAbacus opened #3184 "FindCertFileInResourceBundle crashes when [NSBundle bundleIdentifier] is nil"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.2.1
  * Firebase SDK version: 6.2.1
  * Firebase Component: _____ (Auth, Core, Database, Firestore, Messaging, Storage, etc)
  * Component version: _____

### [REQUIRED] Step 3: Describe the problem
The problem occurs only when we enable log
`    [[FIRConfiguration sharedInstance] setLoggerLevel:FIRLoggerLevelDebug];
`

**Cart

[2019-06-13 10:59] AchidFarooq commented on #1868
@mikelehen Thanks for your response, the tests were just to clear things up for us and maybe for everybody else who has the same problem. Now i do have a better understanding of what happens. We hope you find a way to tackle the problem, for now we are using your workaround. Thanks, good luck!

[2019-06-13 13:57] ryanwilson commented on #3184
Thanks for the report - it looks like somewhere around this line is causing an issue - potentially because `bundle` could be `nil`?

https://github.com/firebase/firebase-ios-sdk/blob/2c0329703032abb5b433319cac3f73aa3980327b/Firestore/core/src/firebase/firestore/remote/grpc_root_certificate_finder_apple.mm#L55

[2019-06-13 14:50] moopoints opened #3185 "Auth from shared keychain causing problems to connect to firestore"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.2.1
  * Firebase SDK version: 6.2.0
  * Firebase Component: Core/Auth
  * Component version: 6.2.0

### [REQUIRED] Step 3: Describe the problem

I implemented the newly added cross-app auth with share ios keychain following the instructions here (https://firebase.google.com/docs/auth/ios/single-sign-on). Initially auth as well

[2019-06-13 15:12] Hantok commented on #1862
Just moved Firebase from pods to carthage in one project.
Is it possible to use specific Firebase version in carthage to be sure all things work fine?

[2019-06-13 15:40] wilhuff commented on #3184
`bundle` can't be `nil` at that location because of the early exit above (line 50). That means that this could only happen if `[bundle bundleIdentifier]` returned `nil`. Looking back at the docs for `NSBundle` this does seem like a valid outcome (at least in the swift version of the docs).

[2019-06-13 16:29] morganchen12 commented on #3185
@moopoints, can you print the full error object and share the detailed description here?

[2019-06-13 16:34] mpaulsonco commented on #3179
Hi @morganchen12 I tried the other workaround you suggested, and it is working.

Are there plans to align the Crashlytics requirements for `GoogleService-Info.plist` with the implementation of the rest of Firebase?

I'm adding some notes for anyone else who has having this problem. We have added these user-defined settings:
- `PATH_TO_GOOGLE_SERVICE_DIR` The path to the folder relative to `PROJECT

[2019-06-13 16:39] morganchen12 commented on #3179
Looks good. You may be able to streamline this using Xcode's Copy Bundle Resources phase and storing all the files with the same GoogleService-Info.plist name in different directories. Each target would then need to copy a different plist into their bundle resources.

We're trying to smooth out all the warts in Crashlytics integration before the migration deadline. Thanks for bringing this to our

[2019-06-13 16:50] morganchen12 commented on #3179
Filed b/135188384 for internal tracking. @TKBurner FYI

[2019-06-13 17:12] moopoints commented on #3185
I'm not sure how I can get a full error object.

Here is the entire print from the log:

2019-06-13 13:10:14.939424-0400 app-name[4777:3498470] 6.2.0 - [Firebase/Firestore][I-FST000001] Could not reach Cloud Firestore backend. Connection failed 1 times. Most recent error: An internal error has occurred, print and inspect the error details for more information.
 This typically indicates that your d

[2019-06-13 17:27] morganchen12 commented on #3185
In your snapshot listener, do you receive an error object when this happens?

[2019-06-13 17:58] morganchen12 commented on #1953
Fix up internally at cr/252923920.

[2019-06-13 19:06] moopoints commented on #3185
Nope, my listeners all return snapshots successfully. However they are missing the most recent items, indicating that they are fetching against the local cache.

[2019-06-13 23:20] morganchen12 commented on #3165
Related to #3124

[2019-06-13 23:36] hanumanAbacus commented on #3184
@wilhuff I checked the GoogleService-Info.plist, it got value for BUNDLE_ID

also just mention it worked when we commented out in app delegate,
`[[FIRConfiguration sharedInstance] setLoggerLevel:FIRLoggerLevelDebug];
`

[2019-06-13 23:38] hanumanAbacus commented on #3184
full crash log, if it could be useful
[code]

[2019-06-13 23:47] wilhuff commented on #3184
Sorry, I should have been clear: I’m putting together a fix.

[2019-06-14 05:06] wilhuff commented on #3184
Fix is available for testing. If you were using CocoaPods, the way to test this out would be to add these lines to your Podfile:

[code]

Unfortunately this fix has missed the release train for the release that's currently in progress so a binary drop from us is more than two weeks away. The carthage equivalent is likely to clone our project and build binaries from it. `pod install` in `Firestore/

[2019-06-14 05:43] b-onc commented on #2910
Hello @dmandar , did you have time to check?

[2019-06-14 07:54] appfrilans commented on #583
Is it possible to include firebase for macOS (UIKit for Mac) via pod 'FirebaseCore' ? I tried to make a separate target and set it in its own CocoaPods target (platform :macos, '10.15'), but importing via "import FirebaseCore" just gives me an error:

No such module 'FirebaseCore'

Any ideas? Or is this way impossible?

[2019-06-14 07:56] appfrilans commented on #3144
Is it possible to include firebase for macOS (UIKit for Mac) via pod 'FirebaseCore' ? I tried to make a separate target and set it in its own CocoaPods target (platform :macos, '10.15'), but importing via "import FirebaseCore" just gives me an error:

No such module 'FirebaseCore'

Any ideas? Or is this way impossible?

[2019-06-14 08:08] mortenbekditlevsen commented on #1862
Yes, you can specify the dependency in the Cartfile as follows:
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseDatabaseBinary.json" == 6.2.0

[2019-06-14 09:23] appfrilans opened #3189 "'unicode/utf8.h' file not found [Catalyst UIKit for macOS]"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2019-06-14 10:18] Umar-M-Haroon commented on #583
So far I’ve had some luck getting support for macOS through Catalyst. Here’s what I did

In the same project that works on iOS, select the Mac checkbox

Ran pod install

Solved certificates issues with the gRPC by selecting the team as needed (Only needed if Firestore pod is installed)

Selected the Mac as the target and commented any code pertaining to UIWebView in the FIRAuth files (only needed

[2019-06-14 12:24] FoldedLaundry commented on #3167
I ran the `bt all` command. It listed stacktraces of many threads. I decided to cop/paste only the one that crashed. Let me know if this is good enough.

I had to sanitize the output.
XXXXXXX is the name of our internal framework (Cocoa Touch Framework embedded in our project). Everything Firebase-related is linked only against this framework (Messaging, Analytics, MLKit). Wrappers are exposed out

[2019-06-14 12:53] FoldedLaundry commented on #3167
In order to (as much as possible) patch this issue, at least temporarily, I decided to give CIFilter(s) a go. Here are some results.
Converting the image to grayscale with `CIFilter(name: "CIPhotoEffectNoir")` alleviates the issue a great deal. The sample 'bad' image I provided doesn't crash MLKit after applying the filter. Still, I managed to crash the app, by capturing similar frames (using the

[2019-06-14 13:47] fluidsonic commented on #2181
+1 on supporting manual-only tracking. The automatic one is quite unreliable and doesn't know about app specifics. Navigation controllers are tracked but that doesn't make sense. Events are sent or duplicated when the screen doesn't actually change (the parent controller could change or the navigation controller removes the screen from the window for a split-second to perform the parallax transiti

[2019-06-14 15:20] ryanwilson commented on #3144
@appfrilans as far as I can tell, UIKit for Mac apps need an XCFramework instead of regular frameworks (please someone jump in and correct me if this is incorrect 🙂) - CocoaPods doesn't currently support that. I'm installing Catalina beta now on and hope to get XCFrameworks built for the open source pods that currently support macOS, I'll be updating this thread as I discover things (may not be un

[2019-06-14 16:55] moopoints commented on #3185
Any further assistance with this? I can predictably reproduce this: the first hour I have a connection to Firestore with the shared access group user. After an hour no connection can be established anymore. Should I revert to the default auth and wait for this feature to move out of beta?

[2019-06-14 17:09] morganchen12 commented on #3185
For the time being, yes. We'll update this ticket when we find a workaround or solution.

[2019-06-14 18:33] morganchen12 commented on #3185
@moopoints, can you share your project or a sample that reproduces this issue?

[2019-06-14 18:40] morganchen12 commented on #3189
While our support for Catalyst is non-existent as of right now, this unicode header is one that should be present on every platform that Apple supports. Looks like this header is part of the WebKit framework. Does the error go away if you add WebKit to your target's linked frameworks?

[2019-06-14 19:23] #3184 closed

[2019-06-14 19:51] obskein commented on #1419
For me, adding
```pod 'Protobuf', :inhibit_warnings => true``` in Podfile worked (re// allowing warnings for the Protobuf library build)

Thanks!

[2019-06-14 20:07] ryanwilson commented on #269
Started some investigation into this and kicked off the attempt with GoogleUtilities since it has no dependencies and is a dependency of all other Firebase SDKs - a few hurdles to start:

- `OCMock` isn't available for watchOS, meaning a majority of our tests won't work
- A larger hurdle (after disabling the `test_spec` in the podspec) the [`SystemConfiguration` framework](https://developer.apple.

[2019-06-14 20:24] morganchen12 commented on #2816
@kbot can you send your project ID to @christibbs via his instructions above?

[2019-06-14 21:02] mpaulsonco commented on #3179
@morganchen12 Since are using `.xcconfig` and schemes for each build variant (under a single target -- the application), that approach wouldn't work for us.

We are receiving Analytics in Firebase, but even with the latest script we aren't seeing crash reports come in to the Firebase console. Is there any specific information we can help provide for debugging the issue? Thanks

[2019-06-14 21:22] morganchen12 commented on #269
@ryanwilson watchOS tests running on simulator are compiled against the iOS simulator target. This might change with standalone watch apps, but afaik hasn't yet in watchOS 6. iOS simulator testing + build targeting watchOS should be sufficient for watchOS for the time being. I made a PR to OCMock to [add watchOS support](https://github.com/erikdoe/ocmock/pull/374), but it shouldn't be a blocker fo

[2019-06-14 21:40] morganchen12 commented on #3179
You should [file a support issue](https://support.google.com/firebase/contact/support?page=). The support staff will be able to look at your project data and config files and make sure it isn't something like a console bug.

[2019-06-15 14:28] moopoints commented on #3185
I'm sorry, I wish I could share the project. Do you possibly have a sample project that has a working implementation?

[2019-06-15 17:10] h36ahmed opened #3195 "FR: Sign in with Snapchat Support"
Add support for authenticating with Snapchat. Great to support people who you use Snapchat similar to Twitter and Yahoo.
https://kit.snapchat.com/
https://kit.snapchat.com/docs/login-kit

[2019-06-16 07:51] appfrilans commented on #3189
Adding WebKit did not help. Even if Catalyst support is not existing, would it not be possible to add it anyway as Firebase has macOS support?

Here is my Build phases/Link Binary with libraries after adding WebKit. However, setting the firebase frameworks to iOS + Mac gives me another error.

<img width="899" alt="Skärmavbild 2019-06-16 kl  09 49 16" src="https://user-images.githubusercontent.com

[2019-06-16 13:41] FE-Mars commented on #3185
flutter: PlatformException(Error 14, FIRFirestoreErrorDomain, Failed to get document because the client is offline.)

[2019-06-16 17:06] dmitry-solomadin commented on #1244
Does not work on iOS 12.3
It does work when the preview page is enabled, though.

[2019-06-16 17:29] Jason-Morcos commented on #3189
Could this perhaps be because of changes apple is making to web handling with Catalyst? I know they deprecated UIWebView and don't have a Catalyst equivalent of UIWebView (forcing the use of WKWebView). Perhaps they have made deprecating changes to WebKit in general and are enforcing these deprecations in Catalyst? Just a thought

[2019-06-16 21:12] jlaws opened #3197 "Firestore fails with an Internal Error due to invalid Auth"
### [READ] Step 1: Are you in the right place?

YES

### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.2.1
  * Firebase SDK version: 6.2.0
  * Firebase Component: Auth, Firestore
  * Component version: 6.2.0 for both

### [REQUIRED] Step 3: Describe the problem

After restarting the app from a cold start all future Firestore queries fail due to an Internal Error with no other

[2019-06-16 23:55] paulb777 commented on #2090
@Aranoledur  The issue was resolved for the original poster and there was not enough detail posted for a deeper investigation.  If the `Undefined Behavior Sanitizer` is not working for you with Firebase, please open another issue with enough detail to reproduce.

[2019-06-17 03:30] YahiaRagae commented on #581
have you tried to set the flag FirebaseAppDelegateProxyEnabled to false in info.plist ?

[2019-06-17 05:14] noangel commented on #3112
@morganchen12 I checked it again with 6.2.0 -> 6.2.0 version upgrade, and can reproduce it by following steps:
I have 2 app versions 1 and 2, both have FCM SDK 6.2.0. both are same app, only bundle version number is different.
0. install newer app version(2). no issues here.
1. downgrade app to previous version(1), cannot get token on first start.
2. close and restart an app(still ver1), no issue,

[2019-06-17 05:40] noangel commented on #3112
After trying debug in Xcode cannot reproduce any more on same device. But it happens on another iPod touch.

[2019-06-17 07:50] asn111 opened #3199 "DynamicLink Url returning jSON serialize error."
Xcode version: 10.1
Firebase SDK version: 6.0.0
Firebase Component: Firebase/DynamicLinks
Component version: 4.0.0

Hi, Thank you for this awesome library, May be its more of a question than a issue, I am stuck at a point when dealing with Dynamic linking, all is good when making a link, but i am getting error on the link which is like this

[code]
and link which is generated [https://marcoapp.pag

[2019-06-17 12:47] ryanwilson commented on #3197
Thank you @jlaws for the incredibly detailed explanation and the debugging! Assigning to the Auth team who has more context about the decoding issue.

[2019-06-17 12:53] ryanwilson commented on #3189
This may also be related to CocoaPods not having support for Catalyst - they have an Issue open tracking it now. https://github.com/CocoaPods/CocoaPods/issues/8892

[2019-06-17 13:33] wilhuff commented on #3197
It would be super helpful if you could point out where you saw Firestore suppressing this error. You shouldn’t have to work this hard to be able to report a problem.

[2019-06-17 14:44] FoldedLaundry commented on #3167
Here are the filters we have resorted to. They alleviate the issue pretty well, and allow us to scan both printed text as well as computer LCDs, however, if you really want to (and you know how to) you can still crash the thing.

[code]

Also, we crop the image before applying filters (we take about 10-15% area from 1080x1920), so performance isn't bad either.

[2019-06-17 15:28] lukegeiger opened #3200 "Completion_queue_impl crash on login & app launch"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.2.1
  * Firebase SDK version: 6.2.0
  * Firebase Component: Firestore
  * Component version: 1.3.2

### [REQUIRED] Step 3: Describe the problem
Instant crashing on gRPC, after upgrading firebase, not sure how to best debug this one. Would appreciate some guidance!

#### Steps to reproduce:

I am getting an instant crash after

[2019-06-17 15:50] ulukaya commented on #3167
Hi @FoldedLaundry,
I tried to reproduce your issue using our [quickstart](https://github.com/firebase/quickstart-ios/tree/master/mlvision). It worked fine. I have a suspect that the real cause of the issue is a race condition in threads and/or while you are cropping, accessing the image buffer etc.
Please give the same images a try with the [quickstart](https://github.com/firebase/quickstart-ios/t

[2019-06-17 16:25] morganchen12 commented on #3200
Can you share the stack trace of the crash?

[2019-06-17 16:28] morganchen12 commented on #3189
See #3144

[2019-06-17 16:32] morganchen12 commented on #3112
How are you sending your notifications?

[2019-06-17 17:05] ryanwilson commented on #269
@morganchen12 makes sense, the issue I ran into was using `pod lib lint` and `pod gen` - the watchOS bit choked when getting to the test spec that depended on the OCMock pod. I disabled the test spec to generate the project instead.

Re: `SystemConfiguration` not being available, it looks like `[WatchConnectivity](https://developer.apple.com/documentation/watchconnectivity/wcsessiondelegate/161566

[2019-06-17 17:14] maksymmalyhin commented on #3183
@dangthaison91 Thank you for the issue report. Would you be able to provide additional details:

1. What Xcode/iOS SDK version do you use to compile your app?
2. What Cocoapods version do you use?
3. Which flags do you use in your `Podfile`, e.g. `use_frameworks!`,  `generate_multiple_pod_projects`, etc. Ideally, the `Podfile` itself would help.
4. What are iOS versions for the crash (is it a spec

[2019-06-17 18:17] dangthaison91 commented on #3183
Hi @maksymmalyhin This bug is having `Velocity Alert` on our Firebase Crashlytics

1. Cocoapods version: We are using Cocoapods 1.7.1 with `use_frameworks!`, nothing special.

Crash appears on every iOS version we support from iOS 10 - 12. But 86% on iOS 11 (reported by Firebase Crashlytics)

No specific device

AFAIK, There are no swizzle in our app.

FYI, the previous version used Swift 4.2, cur

[2019-06-17 18:19] dangthaison91 commented on #3183
Added more crash logs that may be help to trace this bug:
[code]

[2019-06-17 18:24] maksymmalyhin commented on #3183
dangthaison91 Thank you for the provided details! The logs you added, I guess they are call-stacks of other threads at the time of the crash. It is correct?

[2019-06-17 18:42] dangthaison91 commented on #3183
Yes, They are some of call-stacks of other threads at the time it crashs @maksymmalyhin

[2019-06-17 20:49] morganchen12 commented on #3185
You can try reproing using the [Firestore quickstart](https://github.com/firebase/quickstart-ios/tree/master/firestore), though it doesn't use a shared keychain.

[2019-06-17 21:46] paulb777 commented on #1686
Should it be considered an Apple issue that SafariServices implicitly links AdSupport?

[2019-06-17 21:57] joelaguero commented on #2866
Just curious - are there any updates on this issue? It is significantly hindering our ability to do referral codes/unique links for growth. Thanks!

[2019-06-17 22:30] joelaguero commented on #2866
Sorry, this actually appears to be resolved now. There is no longer a missing slash.

[2019-06-17 22:36] morganchen12 commented on #2866
Thanks all, if anyone is still running into this issue, please comment here and I'll reopen it.

[2019-06-17 22:36] #2866 closed

[2019-06-17 23:25] GetyUp commented on #1732
+1. FirebaseAnalytics support for macOS would be fantastic!

[2019-06-18 01:01] renkelvin commented on #3197
@jlaws Thanks for your detailed explanation. I've verified that this should be a bug on Auth side. I'm investigating and working on the fix.

[2019-06-18 02:15] noangel commented on #3112
@morganchen12 We have a "MyServerNameHere", and "MySDKNameHere", which(SDK) has API for FCM. When I need to send a message to some user, I pass user ID to "MySDKNameHere". Request goes to "MyServerNameHere", which(server) gets FCM token from user ID and sends message via Firebase.
FCM token may change some day, so I need to check a token every time app starts. When I get token I call "MySDKNameHer

[2019-06-18 03:45] harumidiv commented on #3015
I tried the crashlytics ios sample app and the same error occurs

[2019-06-18 07:12] jonas-sleepcycle commented on #3144
Here are someone who have gotten iOS frameworks working for UIKit for mac (not macOS though):

https://forums.developer.apple.com/message/362577

[2019-06-18 09:35] RuiVarela opened #3207 "FIRIAMDisplayExecutor messageClicked crash when url is set"
Xcode version: 10.2.1
Firebase SDK version: 6.0.0
Firebase Component: InAppMessagingDisplay
Component version: 0.14.0

Problem:
Modal Button Action crashes the app when tapped. The Modal can be dismissed. but if an url is set the app crashes when it is tapped

[code]

Steps to reproduce:
Follow the setup steps on https://firebase.google.com/docs/in-app-messaging/get-started
Send a Modal message wi

[2019-06-18 10:41] GeroHerkenrath commented on #1686
I don't think that's a viable, or rather _productive_ solution. I highly doubt Apple would change anything in their implementation, there's after all probably a reason they open that library, i.e. SafariServices uses some functionality it provides (I have never worked with AdSupport so far, so I have no idea what that could be). It's a little weird that it includes the dependency in a hidden manne

[2019-06-18 10:47] appfrilans commented on #3189
Could this be relevant? An answer from Apple but also a comment about getting one framework working with UIKit-for-mac:

https://forums.developer.apple.com/message/362577

[2019-06-18 12:33] ryanwilson commented on #3207
Hi @RuiVarela - thanks for the report. Are you able to reproduce on the latest version? 0.15.0 is currently the latest version.

[2019-06-18 12:57] RuiVarela commented on #3207
@ryanwilson it is fixed on the latest version, sorry for the confusion

[2019-06-18 12:57] #3207 closed

[2019-06-18 12:59] ryanwilson commented on #3144
Thanks for the link, I tried a bunch last night but only ran into multiple errors with no real feedback, only an error message: `The operation couldn’t be completed. (XCBCore.XCFrameworkValidationError error 8.)`.

To add a snippet of information from the above link, Catalyst frameworks must be built against the iOS SDK not the macOS SDK.

We're currently relying on CocoaPods for the framework bui

[2019-06-18 13:00] ryanwilson commented on #3189
Responded in the other issue https://github.com/firebase/firebase-ios-sdk/issues/3144#issuecomment-503124024

General Catalyst related progress and updates should be posted there.

It's also worth noting that `FBSDKLoginKit` is a Facebook SDK, not a Firebase one 😃

[2019-06-18 13:01] ryanwilson commented on #3207
No worries, happy to hear!

[2019-06-18 13:03] EliteTechnicalCare commented on #3144
Does the new Xcode Beta provide a better error or the same useless nondescript ones?

[2019-06-18 13:27] paulb777 commented on #1686
Thanks for the detailed explanation. Opened internal b/135517221 for continued investigation.

[2019-06-18 13:36] ryanwilson commented on #3144
Unfortunately this was last night with the new beta.

[2019-06-18 16:28] morganchen12 commented on #3112
You should be handling token refreshes via the [FIRMessagingDelegate](https://firebase.google.com/docs/reference/swift/firebasemessaging/api/reference/Protocols/MessagingDelegate.html#/c:objc(pl)FIRMessagingDelegate(im)messaging:didReceiveRegistrationToken:) protocol instead of manually fetching a new instance ID on every app launch. This method will be called whenever the token is refreshed.

[2019-06-18 16:39] imediayala commented on #2181
I've also been running thru the same issue, it seems like the thread is now close.
So there's no other fix than manual tracking ???
        Analytics.setScreenName(screenName: String? screenClass: String?)
In that case how would i track defined parameters on each screen_view event?

[2019-06-18 16:42] allenktv commented on #2181
Hi all, as mentioned in a previous comment here, this is a duplicate of: https://github.com/firebase/firebase-ios-sdk/issues/1894. We are actively working on this and that thread will be updated once there is a solution in place, thank you for your patience.

[2019-06-18 18:56] baolocdo commented on #1686
@GeroHerkenrath: Thanks for providing very detailed explanation. I'd like to provide some explanation from our point of view here: GDPR is a big issue and we do try our best to comply with GDPR and developers can disable/deactivate Analytics if they don't want to collect data. IDFA can also be disabled by users if they don't want to be tracked by going to Settings to turn on Limit Ad Tracking. Due

[2019-06-19 00:05] morganchen12 commented on #1953
Fix has been merged.

[2019-06-19 00:05] #1953 closed

[2019-06-19 01:58] noangel commented on #3112
@morganchen12 thanks, I'll try it!

[2019-06-19 03:54] jeandavid opened #3215 "User is logged out automatically when app gets killed on Release Build Config."
### Step 2: Describe your environment

  * Xcode version: 10.2.1
  * Firebase SDK version: 6.2.0
  * Firebase Component: Auth
  * Component version: 6.1.1

### Step 3: Describe the problem

On Release Build Config only, whenever the app gets killed (background && not running), the user gets logged out automatically. This doesn't happen with the Debug Build Config.

#### Steps to reproduce:

User c

[2019-06-19 04:33] abotkin-cpi commented on #1686
@baolocdo The document you point to only state this prevents ad personalization based off the analytics, not the non-collection of the IDFA.  While Firebase can't tell the difference between AdSupport being linked or SafariServices and other libraries dynamically pulling it in, there doesn't seem to be a good technical reason why there isn't an equivalent GOOGLE_ANALYTICS_IDFA_COLLECTION_ENABLED t

[2019-06-19 06:12] noangel commented on #3112
@morganchen12 Used FIRMessagingDelegate and can get a token now. Fixed!

[2019-06-19 06:12] #3112 closed

[2019-06-19 08:14] ibrahimyilmaz7 commented on #357
Today, I face that issue too.

[2019-06-19 09:17] GeroHerkenrath commented on #1686
@baolocdo Thank you for the reply. Let me first say I appreciate that you take this seriously and respond so timely. I also want to stress that I like Firebase, it has helped us a lot.

Like @abotkin-cpi said, I am not sure whether the configuration settings you linked solve our issue, but that also means I am not a 100 % sure they're _needed_ in our case. Let me illustrate by hypothetically going

[2019-06-19 12:11] rsgowman commented on #3200
Hi @lukegeiger,

If you're able to, we'd still appreciate if you can share the stack trace. (A minimal project that reproduces the issue would be even better!)

However, one additional thing you could try is to downgrade from firebase 6.2.0 to 6.1.0. As you can see from our release notes (https://firebase.google.com/support/release-notes/ios) we upgraded gRPC during that interval, so it's possible

[2019-06-19 13:32] ryanwilson commented on #3215
Thanks for the report and sorry you're having issues, that sounds strange.

Can you give a bit more information here, specifically:

- Which method of sign in are you using?
- Can you share a bit of example code for your sign in (removing any private info)
- When you say the when the app is killed, this could be both from swiping the app away in multitasking AND when the system decides to kill the

[2019-06-19 14:40] rashdan commented on #16
+1

[2019-06-19 14:58] dmandar commented on #3199
Hi.. Will follow up soon. In the meantime can you try fixing the reported issues with this link? You can append a query parameters of ?d=1 to the URL to find out more. https://marcoapp.page.link/T4Ye?d=1

[2019-06-19 16:45] jeandavid commented on #3215
Thank you @ryanwilson for your quick answer. Below the additional info you requested:

- The app uses exclusively the sign in with phone method provided by Firebase UI.
[code]

I have tried to use the authListener as well but with no success.

[code]

- When I say that the app is killed, I mean it is not running after a swipe away in multitasking. I don't know how to trigger a system kill.

- It h

[2019-06-19 17:08] morganchen12 commented on #3215
Are there any errors printed in console? Auth should attempt to fetch the stored credentials from Keychain and print an error on a failed fetch.

[2019-06-19 19:13] jeandavid commented on #3215
When I run the release config build on my phone, the console prints the same error message whether it's a first launch (app wasn't installed on device before) or after a kill (app was installed on device but not running following a user swipe away).

[code]

When I run the debug config build on my phone, there is no message printed to the console and indeed the app works as expected.

[2019-06-19 20:51] renkelvin commented on #3215
@jeandavid Do you use a shared keychain? https://firebase.google.com/docs/auth/ios/single-sign-on

[2019-06-20 03:01] jeandavid commented on #3215
I do have the Keychain Sharing capability turned on but I am not using it for Firebase Single Sign on.

[2019-06-20 08:26] milo- commented on #2252
@morganchen12 we've just seen this crash with Firebase 6.0:

Xcode version: 10.2.1
iOS version: 12.2.0
Firebase SDK version: 6.0.0
Firebase Component: Core
Component version: 6.0.0

`#4. Crashed: com.google.fira.worker
0  App                      0x1009d1a40 apmpb_encode_repeated_user_attribute + 4308998720
1  nanopb                         0x101a64f74 encode_field (pb_encode.c:409)
2  nanopb

[2019-06-20 09:28] xiao99xiao opened #3228 "InAppMessaging - InAppMessagingDisplayDelegate messageClicked:withAction: behaves weird"
* Xcode version: 10.2.1
  * Firebase SDK version: 6.3.0
  * Firebase Component: FirebaseInAppMessaging
  * Component version: 0.15.1

#### Steps to reproduce:

First, I use `FirebaseInAppMessaging` without `FirebaseInAppMessagingDisplay` . So I have my customized `InAppMessagingDisplay` class instance.

In the customized `InAppMessagingDisplay` class, I need to call the following methods after a m

[2019-06-20 11:05] jasongiss opened #3229 "FIRInstanceID.instanceIDWithHandler() handler is not called if unregisterForRemoteNotifications() has previously been called more than once"
* Xcode version: 10.2.1
  * Firebase SDK version: 6.2.0
  * Firebase Component: Messaging
  * Component version: 4.0.2

### [REQUIRED] Step 3: Describe the problem

The **instanceIDWithHandler()** method of FIRInstanceID docs say that the handler will always be called. However, seemingly if you have previously called your Application's **unregisterForRemoteNotifications()** twice, then the handler

[2019-06-20 13:04] victor-sarda opened #3230 "Analytics.setUserProperty nil doesn't remove it"
###  Describe your environment

  * Xcode version: 10.2.1
  * Firebase SDK version: 6.3.0
  * Firebase Component: Analytics
  * Component version: 6.3.0

### Describe the problem

When setting a user property value to `nil` with `Analytics.setUserProperty` I'm expecting it to be removed on Firebase as the documentation says:

#### Steps to reproduce:

1. Send a user property on firebase analytics

[2019-06-20 16:48] morganchen12 commented on #3230
@htcgh can you confirm this is a bug?

[2019-06-20 16:49] morganchen12 commented on #3229
Sounds like a bug--the callback should be invoked with an error in this case.

[2019-06-20 19:01] renkelvin commented on #3215
@jeandavid My guess is that there is issue with your entitlements file for release build to access the sharing ketchain. Please double check in the Building settings.

[2019-06-20 20:37] ryanwilson commented on #3144
Good news: I was able to build some static `x86_64` libraries that should work with UIKit for Mac apps.

Bad news: The way we currently package the frameworks with `lipo` fails since there are two libraries with the same architecture (simulator is also `x86_64`).

I'll try to use the `-library` and `headers` parameters from `xcodebuild -create-xcframework` and see if I can package an XCFramework t

[2019-06-20 23:21] morganchen12 commented on #2611
@christibbs can you update this issue?

[2019-06-20 23:21] #2593 closed

[2019-06-20 23:21] morganchen12 commented on #2593
Closed due to inactivity.

[2019-06-20 23:29] morganchen12 commented on #2166
Closing this since it's not actionable here.

[2019-06-20 23:29] #2166 closed

[2019-06-20 23:33] morganchen12 commented on #1650
Unassigning bstpierr since he no longer works on Firebase.

[2019-06-20 23:35] morganchen12 commented on #740
@paulb777 this is completed now, right?

[2019-06-20 23:37] paulb777 commented on #740
Mostly, but still needs to be done for InAppMessaging and maybe Firestore.

[2019-06-20 23:41] paulb777 commented on #1862
Closing. Now that Swift Package Manager is the future (see #3136), we no longer plan to officially support Carthage. We will continue Carthage updates and support as experimental until SPM migration is ready.

[2019-06-20 23:41] #1862 closed

[2019-06-21 00:00] chliangGoogle commented on #3229
This is expected behavior. The handler will not be called if IID and token haven't changed, and they are not changed when you calling apple api unregisterForRemoteNotifications and it's probably also because Apple hasn't changed the apns token (unless that's not true, please let me know). It's just that system disable for remote notifications. And the FCMToken will not be able to sent for push not

[2019-06-21 00:29] paulb777 commented on #3069
This doesn't seem to be coming up any more.

[2019-06-21 00:29] #3069 closed

[2019-06-21 00:34] paulb777 commented on #740
Also need to migrate coverage from the xcode projects to the `pod gen` projects.

[2019-06-21 01:01] geoffclifton commented on #3066
@htcgh thanks for the information.

I’m currently working to create a sample app which demonstrates the issue.
Thanks.

[2019-06-21 01:03] renkelvin commented on #3197
@jlaws `_requestConfiguration` of `tokenService` is not persisted but set by `FIRAuth` ([code](https://github.com/firebase/firebase-ios-sdk/blob/2ea2e4de7a49e637778ee9b9f1abd4c8c1299b71/Firebase/Auth/Source/User/FIRUser.m#L378)) when the user is retrieved from local cache ([code](https://github.com/firebase/firebase-ios-sdk/blob/2ea2e4de7a49e637778ee9b9f1abd4c8c1299b71/Firebase/Auth/Source/Auth/FI

[2019-06-21 01:46] moopoints commented on #3185
This turns out to be a more general problem with auth. I reverted my code to the default auth (using GDSignin) and am not using shared keychain users anymore. I still have the same issue: auth and connection work perfectly fine for the first hour after signing in. Then I can't make any connection to firebase anymore. This has been an issue since I updated to 6.2.0 (I was previously on 5.x). I just

[2019-06-21 08:01] AlexisQapa commented on #1862
Since you don't plan on open sourcing all you frameworks isn't Carthage the best bet for now ? Using SPM with binary isn't even drafted

[2019-06-21 08:45] jasongiss commented on #3229
Thank you both very much for taking a look at this.

@morganchen12  Apologies for missing the code path where error & result are both nil - I can confirm that when the issue occurs, the closure is not called at all.

@chliangGoogle If this is expected behaviour, it seems to contradict [the docs](https://firebase.google.com/docs/cloud-messaging/ios/client#fetching-the-current-registration-token), w

[2019-06-21 09:39] jasongiss commented on #3229
I think perhaps that there may be a deeper issue (or misunderstanding on my part)?

If I instead rely purely on the Firebase *MessagingDelegate*'s **didReceiveRegistrationToken** method to obtain the token, I find that after going through the same process of enabling and disabling Push Notifications **twice**, when I then re-enable Push Notifications, the device no longer receives notifications.

[2019-06-21 11:49] lukegeiger commented on #3200
Hey guys, sorry for delay here. I actually can't reproduce the issue anymore. What I did was actually have to reset my devices settings and do then a fresh install... Upgrading path now also seems to be fine. Sorry for the confusion, after tracking down some similarly titles issues some people mentioned it could have been due to not unsubscribing from active listeners on firestore collection? Whic

[2019-06-21 11:49] #3200 closed

[2019-06-21 12:18] AlexisQapa commented on #2603
I have the same issue with 6.0.0, the issue is closed is there any solution ?

[2019-06-21 14:16] paulb777 commented on #1862
We plan to continue existing CocoaPods, zip, and Carthage support.  After WWDC 2019, we think that investing in a swiftPM solution is better than further Carthage improvements.

[2019-06-21 14:50] AlexisQapa commented on #1862
Nice to know, we will definitely move to SPM when available too. I was just worried you would drop Carthage support right now as we spent quite a lot of time investing in Carthage related tooling.

[2019-06-21 15:33] jlaws commented on #3197
@renkelvin I use

``` Auth.auth().useUserAccessGroup("MY_GROUP") ```

which results causes the setAuth to not be called

[2019-06-21 15:54] FoldedLaundry commented on #3167
@ulukaya
I have been unable to reproduce the issue within the quickstart project, however, I don't think your suspicion is correct. The code I originally provided with this issue is literally what it takes to reproduce the crash. I have written a unit test inside our project. The only thing it does is it calls Firebase code, and it still crashes. There's no camera capture, cropping, or filtering i

[2019-06-21 16:41] morganchen12 commented on #3167
@FoldedLaundry can you share a fully symbolicated stack trace? Also, if you're able to share a sample project that reproduces this issue, please do so as well.

[2019-06-21 17:06] morganchen12 commented on #3229
Your application must be registered for notifications before it can receive a device token (which the instance ID is associated with). In this case the documentation is not accurate. It is definitely weird that the trailing closure parameter is not called, but it's also kind of an edge-case behavior.

You can leave your application registered for notifications and then just not send them. A common

[2019-06-21 17:08] morganchen12 commented on #3185
Can [set the logging level to Debug](https://firebase.google.com/docs/reference/ios/firebasecore/api/reference/Classes/FIRConfiguration#/c:objc(cs)FIRConfiguration(im)setLoggerLevel:) and share your app's logs when the issue occurs?

[2019-06-21 17:09] bryan1anderson opened #3238 "FIRAnalyticsVersionMismatch"
* Xcode version: Version 10.2.1 (10E1001)
  * Firebase SDK version:
Firebase 6.3.0
  * Firebase Component
FirebaseAnalytics (6.0.2)
FirebaseCore (6.0.3)
FirebaseInstanceID (4.2.0)
GoogleAppMeasurement (6.0.2)
GoogleUtilities (6.2.0)

### [REQUIRED] Step 3: Describe the problem

I can't launch my app.

I realize this might be duplicated by #2151 but that issue is closed, and it was for different ve

[2019-06-21 17:09] morganchen12 commented on #3066
It may also be helpful to run the time profiler and seeing what's causing the hang on the main thread.

[2019-06-21 17:34] maksymmalyhin commented on #3238
@bryan1anderson Thank you for sharing your issue. Could you provide a bit more detail on it. I was not able reproduce it locally. Here are the [Podfile and Podfile.lock](https://github.com/firebase/firebase-ios-sdk/files/3315486/Podfile.zip) I used.

Could you please do following:
1. Check if a particular version of  FirebaseAnalytics or GoogleAppMeasurement is locked in you `Podfile`.
2. Share yo

[2019-06-21 17:38] paulb777 commented on #3238
Other things to try include an Xcode clean and removal of DerivedData.

[2019-06-21 18:39] jasongiss commented on #3229
Thanks very much, @morganchen12.

Although I think the application *is* registered to receive notifications.
I only ever call to request the instanceID after (re) enabling Remote Notifications (registerForRemoteNotifications).
Apple's callback for doing this comes back successful.

Also, the Firebase API allows you to send messages to **Topics** - so I don't think the idea of disabling the token j

[2019-06-21 19:09] morganchen12 commented on #3229
You'd have to unsubscribe the client from those topics. The instance ID behavior you're describing sounds like a bug.

[2019-06-21 19:25] chliangGoogle commented on #3229
Apple's callback for doing this comes back successful.

Can you tell us which callback you mean? If it's the apnsToken refresh callback, then there could be a bug inside swizzling.

[2019-06-21 21:30] jasongiss commented on #3229
Thank you both again for continuing with this - I really appreciate your time.

The callback I mean is:
`application(_:didRegisterForRemoteNotificationsWithDeviceToken:)`

[2019-06-21 21:38] morganchen12 commented on #3229
Thanks @jasongiss. I'll investigate early next week and post updates here.

[2019-06-21 22:54] renkelvin commented on #3197
@jlaws Could you please help check if the fix works for you?

You can apply the fix by adding
`pod 'FirebaseAuth', :git => 'https://github.com/firebase/firebase-ios-sdk.git', :branch => 'keychain-fix'`
to your podfile.

[2019-06-21 23:09] jlaws commented on #3197
Applied the fix from your PR manually and it works.

Putting on my old obj-c readability reviewer @ Google hat:

user.auth is set in both parts of the if, so it is safe to pull it out.
When both parts of an if/else are handled its best to simplify the logic in the if check for quicker/easier readability.  That means remove the ! and flipping the if/else.

That would turn the method in FIRAuth.m to

[2019-06-21 23:32] MauriceArikoglu commented on #627
@wilhuff Any news? ABI stability is there in the mean time.

[2019-06-22 00:17] renkelvin commented on #3197
Yeah, agree.

[2019-06-22 09:51] MihaelIsaev commented on #2135
Can't wait for SPM support!

[2019-06-23 05:26] EliteTechnicalCare commented on #583
Any adverse effects on FIRAuth?

[2019-06-23 05:28] Umar-M-Haroon commented on #583
I haven't had any issues with FIRAuth. If your deployment target is greater than 7.0 you should be fine.

[2019-06-23 16:52] frankpcl opened #3241 "Where is tag Core-5.3.0"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2019-06-23 17:06] paulb777 commented on #3241
The `Core-5.3.0` tag is at https://github.com/firebase/firebase-ios-sdk/releases/tag/Core-5.3.0.

If this doesn't satisfy your issue, please provide some more context about why this is a concern and how it causes a problem.

[2019-06-23 17:06] #3241 closed

[2019-06-23 21:10] sperochon commented on #3015
I had the same error

but the solution was this one
https://stackoverflow.com/a/45318508/5553628

[2019-06-24 06:28] nakkht commented on #2135
Would love to see SPM support!

[2019-06-24 12:04] Ovid-iu opened #3242 "High CPU usage on a real device - background -> foreground"
Environment
  * Xcode version: 10.2.1
  * Firebase SDK version: 6.3.0
  * Firebase Component: Core, Messaging
  * Component version: Core - 6.0.3, Messaging - 4.1.0

Describe the problem
On a real device, after the an app was launched, moving the application from foreground to background and then back to foreground, the CPU usage increases to 100% for ~24 seconds.
I have tried using Instruments to

[2019-06-24 12:12] FoldedLaundry commented on #3167
Take a look at this. 'Good image' works fine. 'Bad image' - as you can probably guess - crashes the app. Its improved version - with contrast bumped manually, outside the project - also works. To my surprise, this sample project reproduces the issue even though it uses cocoapods.

You need to provide your own services plist, and run pod install.

[FirebaseCrash.zip](https://github.com/firebase/fir

[2019-06-24 12:12] Ovid-iu commented on #3242
![Screenshot 2019-06-24 at 13 39 21](https://user-images.githubusercontent.com/52161015/60017610-cd484280-9691-11e9-9aec-76008583dab6.png)
As you can see, the usage is on another thread and not on the main one.

[2019-06-24 13:27] ryanwilson commented on #3242
Hi @Ovid-iu, thanks for the report.

A few pieces if information that could help us debug this further:

- What device are you running on?
- What version OS does the device have?
- Are you using only Messaging, or other Firebase SDKs as well?
- If you comment out the `FirebaseApp.configure()` (not configuring Firebase at all), does the problem go away?

Thanks, hopefully we can track this down qui

[2019-06-24 13:51] Ovid-iu commented on #3242
Hello,

I have tested this issue on an iPhone 6 plus running iOS 12.3, an iPhone X running 12.1.4, and iPhone XR running 12.3.1
I have only Messaging as a pod.
If I comment the FirebaseApp.configure() method, this problem will go away.

Thank you very much!

[2019-06-24 14:11] maksymmalyhin commented on #3242
Hi @Ovid-iu, will it be possible to provide the heaviest stack trace for the treads, e.g. like
<img width="1417" alt="this" src="https://user-images.githubusercontent.com/1841926/60025504-c60c3f00-9667-11e9-9d33-a656a8f68c67.png">
or, ideally, the export of the profiler trace if you don't have private information there. It will provide us the required information to find the source of the issue.

[2019-06-24 14:33] bryan1anderson commented on #3238
Xcode Clean and removal of derived data didn't do the trick

@maksymmalyhin Here is my podifle.lock

Mysteriously, running off the same branch on a different machine does not cause me this issue. It only began after I updated my pods. I reverted all changes made to an older branch, then ran the older branch off a different machine. Still fails on the original machine though
[code]

[2019-06-24 14:35] Ovid-iu commented on #3242
Hi @maksymmalyhin,

Unfortunately, I cannot provide you the trace as there is some sensitive data. I will create a test project to see if I can reproduce the issue.

This is the heaviest stack trace:
![Screenshot 2019-06-24 at 17 33 57](https://user-images.githubusercontent.com/52161015/60027533-536e8400-96a6-11e9-8565-0b3d541bdb86.png)
![Screenshot 2019-06-24 at 17 34 20](https://user-images.gith

[2019-06-24 14:51] maksymmalyhin commented on #3242
@Ovid-iu  Yeah, the test project will be appreciated, because the stack trace does not really provide much information on the issue.

[2019-06-24 14:52] devLoop1 opened #3243 "Problem warning Protobuf"
Hello, when installing the services of firebase (Auth, Firestore, Database) they show me errors about Protobuf (Images of attached files). Apparently, the error is that the path you are looking for files is / Protobuf with the P in upper case, but the path is with the P minuscula.
Try changing the import "#import <Protobuf / Timestamp.pbobjc.h>" to "#import <protobuf / Timestamp.pbobjc.h>" and the

[2019-06-24 14:54] paulb777 commented on #3243
Duplicate of #2665

[2019-06-24 14:54] #3243 closed

[2019-06-24 14:58] Ovid-iu commented on #3242
I have made a really simple test project that I can provide you with, but I cannot provide the GoogleService-Info.plist since it has sensitive data.

Using my plist file, I could reproduce the issue.
[testApp.zip](https://github.com/firebase/firebase-ios-sdk/files/3321379/testApp.zip)

[2019-06-24 15:06] maksymmalyhin commented on #3238
@bryan1anderson The `Podfile.lock` content looks correct (consistent version of `FirebaseAnalytics` and `GoogleAppMeasurement`). It looks like the Cocoapods repos ended up in an inconsistent state on your machine for some reason.
You may try:
1. If you use a repo CDN, then switch back to the main repo (use `source 'https://github.com/CocoaPods/Specs'` in your `Podfile`)
2. [remove](https://guides.

[2019-06-24 15:10] maksymmalyhin commented on #3242
@Ovid-iu  Nice, that's exactly what we need. We will try to reproduce the issue and update the ticket with the results.
Thanks!

[2019-06-24 16:59] allenktv commented on #3238
@bryan1anderson Definitely sounds like a caching issue. One thing you may try is to run the following:
[code]

Then re-run `pod install --repo-update`

[2019-06-24 16:59] baolocdo commented on #1686
Thanks for the feedback. I understand your concerns and I have brought up this thread to our Product Managers. They will consider the appropriate solutions for this issue.

[2019-06-24 17:30] allenktv commented on #3230
Thanks @victor-sarda. I just reproduced this and believe that it may just be a UI issue since the bundle uploaded does not have the user property anymore after setting it to nil.

Tracked internally at b/135926151

[2019-06-24 18:23] maksymmalyhin commented on #3242
@Ovid-iu As far as I can see, the activity is related to `FirebaseAnalytics` that is mostly sending the data collected during the previous foreground period (I assume, you may find `APMMeasurement` related calls to schedule the tasks at the beginning of the background, the tasks are finished on the app going to the foreground). Though, the CPU time is still relatively small for me for the provided

[2019-06-24 21:00] wilhuff commented on #627
There's been some progress on this (see #3198 and #3231). We're not yet ready for a release but this is coming along.

It's possible to kick the tires on this now if you're really enterprising, but we don't have instructions written up for how to do that yet.

As a side note, ABI stability going forward is good but it's going to be quite some time before we can require e.g. iOS 12.2 as the minimum

[2019-06-24 21:56] morganchen12 commented on #3229
I wasn't able to reproduce this issue. Here's the code I used:

[code]

The output from running the above code (on simulator) is always an instance ID token. Here's the source for the instance ID method:

[code]

Can you share an example project that reproduces this issue?

[2019-06-24 22:32] jasongiss commented on #3229
Thank you, @morganchen12.

I already provided a project showing the issue.
There is a link to download it in the 'steps to reproduce' section of my initial report.

I was using an actual device - iPad running iOS 12.x (not sure on the exact dot version at the moment).

Please let me know if you need any more than this from me.

[2019-06-25 00:06] morganchen12 commented on #3229
I've been able to repro the issue on device, and I've submitted a fix. Thanks for the clear repro example!

[2019-06-25 02:15] ohokay commented on #1732
+1 to this!

[2019-06-25 05:00] jasongiss commented on #3229
That's brilliant! Thank you so much, @morganchen12 - I really appreciate your effort.

[2019-06-25 06:05] aramkumar06 opened #3252 "firestore-user-presence ionic3"
Need firestore-user-presence in ionic3

[2019-06-25 07:26] preventicus commented on #2816
We have the same issue with:

`pod "Firebase/Core", "~> 5.20.1"`
 ` pod "Firebase/Messaging", "~> 5.20.1"`
  `pod "Firebase", "~> 5.20.1"`
 ` pod "Firebase/InAppMessagingDisplay", "~> 0.13.0"`

and iOS 12.3

[2019-06-25 07:54] Ovid-iu commented on #3242
Hello @maksymmalyhin,

Thank you very much for the investigation, you have been really helpful with your reply!
Regarding your suggestions:
1. The consumed CPU time looks pretty big, I mean I have noticed that by performing the background-foreground action will induce around 24 - 30s of 100% CPU usage, and this may occur every time this action is done. Doing this flow 3-4 times will increase the b

[2019-06-25 09:07] victor-sarda commented on #3230
Thanks @allenktv 😊
Just to clarify, if we set `nil` right now, property is actually removed and we can set a new one instead? I guess UI should be working fine in BigQuery?

[2019-06-25 09:12] luciilucii commented on #3076
Any updates on this issue already?

[2019-06-25 13:43] ryanwilson commented on #3252
Hi @aramkumar06 - can you elaborate on this please? Are you using the native iOS SDK, or a plugin like [this one, linked on the Ionic website](https://ionicframework.com/docs/native/firebase)?

[2019-06-25 13:50] aramkumar06 commented on #3252
npm install angularfire2 firebase --save
https://angularfirebase.com/lessons/user-presenece-system-in-realtime/

[2019-06-25 14:11] paulb777 commented on #3242
If you don't want Analytics, it's probably best not to build it into the app at all. Remove the `Firebase/Core` from the Podfile.

[2019-06-25 14:18] Ovid-iu commented on #3242
@paulb777 according to https://firebase.google.com/docs/cloud-messaging/ios/client, it's mandatory to have the Firebase/Core in order to have push notifications for the application.

[2019-06-25 14:26] paulb777 commented on #3242
The `FirebaseMessaging` pod should be sufficient for push notifications.  The `Firebase/Core` is necessary to pull in Analytics to get associated analytics with push notifications.

[2019-06-25 14:36] maksymmalyhin commented on #3242
@Ovid-iu Happy to help!
I have one question as for the CPU usage for your case. From the screenshots you posted (which are consistent with the trace I got with on my end) I can see that the Firebase activity consumes ~5-10% CPU time with a small amount of spikes ~15-20%. The number 99% in the stack trace indicates that it is the only app activity. I wonder, can you see different traces indicating

[2019-06-25 14:45] Ovid-iu commented on #3242
@maksymmalyhin
<img width="847" alt="Screenshot 2019-06-25 at 17 42 29" src="https://user-images.githubusercontent.com/52161015/60108133-c80df500-9770-11e9-85f0-8f918998ee83.png">

Am I interpreting the data wrong in this case?
I will try to profile with the Time Profiler again to get the data.

[2019-06-25 14:50] Ovid-iu commented on #3242
I found an older sample which indicates to what you were saying, the CPU load is not that high all the time, but there are moments when it reaches 100%.
![Screenshot 2019-06-25 at 17 49 35](https://user-images.githubusercontent.com/52161015/60108673-ae20e200-9771-11e9-9c03-52d5f8301fe6.png)

[2019-06-25 14:54] maksymmalyhin commented on #3242
@Ovid-iu Thank you for the update. I'll pass the data to our Analytics team.

[2019-06-25 14:58] Ovid-iu commented on #3242
@maksymmalyhin
I just did a pass and this is the result I received:
![Screenshot 2019-06-25 at 17 54 42](https://user-images.githubusercontent.com/52161015/60109103-6b133e80-9772-11e9-9741-06ba18442b91.png)
The duration of the 100% cpu load is around 29s:
![Screenshot 2019-06-25 at 17 57 37](https://user-images.githubusercontent.com/52161015/60109282-c2191380-9772-11e9-8525-ff21559e5262.png)
![Scr

[2019-06-25 15:02] maksymmalyhin commented on #3242
@Ovid-iu Thank you for you report and data provided! We will post updates on the issue in this ticket.

[2019-06-25 15:26] maksymmalyhin commented on #3242
Tracked internally in b/135997194

[2019-06-25 15:50] RJPDeanlo commented on #3076
I've been patiently waiting for this update as well.
(I would rather not import the private headers as described)

[2019-06-25 16:31] morganchen12 commented on #3242
@Ovid-iu alternatively, can you provide us the heaviest stack symbols from the instruments trace after redacting any confidential symbols? A stack trace with only Firebase symbols will do.

[2019-06-25 16:58] allenktv commented on #3230
@victor-sarda
Yes I believe so.
The debug view is still an issue and we will get that fixed. Thank you for reporting this and please let us know if you encounter any more issues!

[2019-06-25 17:11] victor-sarda commented on #3230
Thanks :)

[2019-06-25 17:28] wilhuff commented on #3252
There is no presence system in Firestore at all, let alone in ionic3. Due to the way our connections to the backend work we have no good way of exposing this information. Additionally, a key feature of the Realtime Database's presence system is the ability to buffer changes you want to apply when the connection is lost. In Firestore connections aren't very long lived so if we implemented an equiva

[2019-06-25 17:28] #3252 closed

[2019-06-25 17:40] alfonsomestre opened #3255 "iOS 12 logEvent crash"
### [REQUIRED] Step 2: Describe your environment
  * Xcode version: 10.2
  * Firebase SDK version: 6.2.0
  * Firebase Component:
   FirebaseAnalytics 6.0.1
   FirebaseCore 6.0.2
   FirebaseInAppMessaging 0.15.0
   FirebaseInstanceID 4.1.1
   FirebaseMessaging 4.0.2
   FirebaseRemoteConfig 4.0.0
  * Component version: (FirebaseAnalytics) 6.0.1

### [REQUIRED] Step 3: Describe the problem
App crashe

[2019-06-25 17:45] paulb777 commented on #3255
Thanks for the report. Opened internal issue at b/136009423

[2019-06-25 17:48] #3229 closed

[2019-06-25 19:00] dangthaison91 commented on #3183
Hi @maksymmalyhin , how is this going on? Could you share any progress?

[2019-06-25 21:30] dustinkerstein opened #3260 "HTTP connections via NSAllowsArbitraryLoads are broken in Unity"
_I believe this is an issue in the Unity iOS Firebase SDK but didn't know where to post bugs for that as there doesn't seem to be an official repo specifically for the current Unity Firebase SDK._

I just upgraded to Firebase Unity 6.1.1 (from 4.1.0 version) and noticed that I was no longer able to access insecure HTTP content when using the NSAllowsArbitraryLoads key in info.plist (which Unity ad

[2019-06-26 12:43] Yue-Wang-Google commented on #3076
It may take another few weeks before this can launch to public. In the mean time, you can create an FIROAuthCredential  extension in your project

[2019-06-26 13:46] AlexLike commented on #2135
Yes, *please*!

[2019-06-26 13:50] AlexLike commented on #3145
+1 Even though you can technically implement Apple Sign In with Firebase already (using Custom Auth), I'd really appreciate a native option with an integration in the Firebase Console.

[2019-06-26 13:55] Ovid-iu commented on #3242
Hello @maksymmalyhin,
I have conducted another test with an iPhone 6 plus, iOS 12.3. I have attached the results, hopefully it may be of any help.
[instrumentsScreens.zip](https://github.com/firebase/firebase-ios-sdk/files/3330325/instrumentsScreens.zip)
I have noticed that before the app is sent to the background, there are some APM... methods called.
During the CPU usage, which lasts for a while

[2019-06-26 14:05] bryan1anderson commented on #3238
@allenktv That did the trick. This can be closed. Was definitely a caching issue. I've never seen this error with a pod before, should have tried that first.

[2019-06-26 14:18] #3238 closed

[2019-06-26 17:02] RJPDeanlo commented on #3076
Is there a sample in swift on how to do this? (sorry ... I'm a C# coder so I'm new to swift)

[2019-06-26 20:35] morganchen12 commented on #3242
@Ovid-iu, in the last screenshot, can you expand the `kevent_id` call all the way down to the root?

The APM* method activity you're seeing is normal; the CPU locked at 100% afterward is not.

[2019-06-26 20:37] morganchen12 commented on #3076
@RJPDeanlo here's some reference material from [StackOverflow](https://stackoverflow.com/a/16345028).

[2019-06-26 20:40] maksymmalyhin commented on #3242
@morganchen12 Feel free to use my trace from b/135997194 if you want investigate the issue.

[2019-06-26 21:54] sliemeobn commented on #3185
I am seeing the same issue - here is what is was just sending to Firebase support about my issue (includes a detailed error message)

----
I did follow the documentation, and it mainly is/was working after changing to useUserAccessGroup. (app group, shared with my Notification Content Extension)

However, after a while (I guess when the token expires) it stops working and I get the following error

[2019-06-26 22:08] sliemeobn commented on #3185
how I can reproduce it:

- have an app and notification extension share an app group
- setUserAccessGroup to app group
- signIn
- call a firebase function (it works)
- wait one hour
- call firebase function again (it fails)

pretty nasty problem...

[2019-06-27 01:02] paulb777 commented on #3255
Thanks again for the report @alfonsomestre. The fix is staged for the next Firebase release milestone - M51 (6.4.0)

[2019-06-27 05:49] preventicus commented on #2816
We also tried it with the newest versions. The problem still remains.

[code]

[2019-06-27 06:56] Ovid-iu commented on #3242
@morganchen12
![Screenshot 2019-06-27 at 09 54 58](https://user-images.githubusercontent.com/52161015/60243842-ca339900-98c1-11e9-9e76-4d1d3d220b76.png)

[2019-06-27 08:05] milo- opened #3270 "iOS 13 Crash - [FIRInstanceIDKeychain itemWithQuery:]"
* Xcode version: 10.2.1
  * Firebase SDK version: 6.3.0
  * Firebase Component: Core (Auth, Core, Database, Firestore, Messaging, Storage, etc)
  * Component version: 6.3.0

### Describe the problem

We released an update yesterday, going from Firebase 6.0.0 to firebase 6.3.0. We've been getting reports of the app crashing on startup for users with iOS 13 beta (17A5508m).

We've not been able to r

[2019-06-27 08:35] mouness2020 commented on #3270
also firebase remote config crash in iOS13 .
[test_issue_crash_0cbd0e86b7fd44d98dac238ea687bb09_DNE_0_v2.txt](https://github.com/firebase/firebase-ios-sdk/files/3333671/test_issue_crash_0cbd0e86b7fd44d98dac238ea687bb09_DNE_0_v2.txt)
[test2_issue_crash_1668e1b4c3a24090b2ecf6a4eb157017_DNE_0_v2.txt](https://github.com/firebase/firebase-ios-sdk/files/3333676/test2_issue_crash_1668e1b4c3a24090b2ecf6a4

[2019-06-27 10:06] Yue-Wang-Google commented on #3076
create a bridging header (.h file) like this. add it to your project
[code]

then in swift, you can access it via `result?.credential.accessToken`

[2019-06-27 12:10] ozzotto commented on #3270
Same crash for me too.

[2019-06-27 12:25] RJPDeanlo commented on #3076
That worked! I can access the token.
Thank you for that code snippet!!

[2019-06-27 12:30] Yue-Wang-Google commented on #3076
Glad to know it works for you. you can safely remove the header once we release the feature to the public next month.

[2019-06-27 12:52] Nicholmon commented on #2603
Same issue hereSame here with 6.3.0. I have embedded both `FirebaseInAppMessaging` and `FirebaseInAppMessagingDisplay.framework`. Looking into the built frameworks, it seems the `InAppMessagingDisplayResources.bundle` lies inside `FirebaseInAppMessaging.framework` but it crashes with the same error mentioned above:

[2019-06-27 15:01] AlexisQapa commented on #2603
@Nicholmon quick fix run a script at the end of the build copying the bundle to your app bundle. As Firease is statically linked it uses the app bundle.

[2019-06-27 15:05] alfonsomestre commented on #3255
Thank you @paulb777! Really appreciate, we will look forward to the next release!

[2019-06-27 15:57] luciilucii commented on #3076
Worked for me too, thanks!

[2019-06-27 16:55] spencerwhyte commented on #2135
+1

[2019-06-27 17:08] #3165 closed

[2019-06-27 17:49] RealHacker commented on #2148
When the firebase server is not reachable (network is ok, but firebase servers blocked by firewall), FIRApp.configure takes 19 seconds to retry connecting. My app shows the splash screen for that long...

Is it OK to run FIRApp.configure in another thread?

[2019-06-27 18:19] morganchen12 commented on #3270
I'm looking into this issue. It seems to be caused by a deadlock in RemoteConfig and InstanceID. Will keep this thread updated with details.

[2019-06-27 18:24] morganchen12 commented on #2148
@RealHacker is this reproducible on devices with airplane mode on? You should not configure Firebase in a background thread.

[2019-06-27 18:50] morganchen12 commented on #2387
Looks like the only way to fix this is to not use WKWebView.

[2019-06-27 18:50] #2387 closed

[2019-06-27 19:54] christibbs commented on #2816
Still investigating, sorry guys!

[2019-06-27 20:19] cakesterman commented on #3076
I have been trying to figure out why I couldn’t get my access token from Microsoft. Hopefully that code snippet will help.

[2019-06-27 21:23] paulb777 commented on #2135
Closing in favor of #3136

[2019-06-27 21:23] #2135 closed

[2019-06-27 21:25] paulb777 commented on #3136
Follow the progress at https://github.com/firebase/firebase-ios-sdk/commits/spm-master. Suggestions and PRs welcome!

[2019-06-27 21:34] cakesterman commented on #3076
Can someone explain where the result? is coming from.  I have been learning swift for about 5 days now so I am still learning.

[2019-06-27 21:36] morganchen12 commented on #3076
`result` in this case is an `AuthDataResult`. See the original snippet at the top of this issue (where the variable is named `authResult`):

[code]

[2019-06-27 21:47] cakesterman commented on #3076
"Error getting access token from microsoft.com, OAuth2 redirect uri is: **, response: OAuth2TokenResponse{params: error=invalid_client&error_description=AADSTS70002

My codes does not get past the Auth.auth().signIn part and has the error listed above.
`if let x = credential {
                Auth.auth().signIn(with: x) { authResult, error in
                    if error != nil {

[2019-06-27 21:48] cakesterman commented on #3076
"Error getting access token from microsoft.com, OAuth2 redirect uri is: **, response: OAuth2TokenResponse{params: error=invalid_client&error_description=AADSTS70002

My codes does not get past the Auth.auth().signIn part and has the error listed above.
`
if let x = credential {
                Auth.auth().signIn(with: x) { authResult, error in
                    if error != nil {

[2019-06-27 22:34] morganchen12 commented on #3076
@cakesterman Your client secret is invalid and you'll need to generate a new one via Microsoft's website. Please use StackOverflow for your general programming issues, since this is not a Firebase issue.

[2019-06-27 22:56] paulb777 commented on #3136
Much of Firebase Unit Testing relies on [OCMock which does not yet support Swift PM](https://github.com/erikdoe/ocmock/issues/375).  That could be a great place for someone in the community to contribute to accelerate the migration.

[2019-06-27 23:04] phattranky commented on #3015
I got the same error

[code]

Because I added

[code]

In wrong place, I added in existing `Run Script`

We must create new `Run Script` . Please check my screenshot for more detail.

<img width="1138" alt="Runner xcodeproj 2019-06-28 06-01-04" src="https://user-images.githubusercontent.com/6443154/60306473-7e88fa00-996a-11e9-881d-bd3fd00492ac.png">

I'm using `firebase_crashlytics: ^0.0.4+8` and

[2019-06-27 23:19] renkelvin commented on #3185
This is a known issue and should be fixed in next release. https://github.com/firebase/firebase-ios-sdk/pull/3239

[2019-06-27 23:22] #3185 closed

[2019-06-28 03:32] RealHacker commented on #2148
You only need to be in China to reproduce this :(. Most Google services are blocked here.
I guess you can set up a proxy server and change hosts to reproduce this.

Extra info:
This only happens for the first time launch of the app.
- Firebase, 3.17.0
- FirebaseAnalytics, 3.9.0
- FirebaseCore, 3.6.0

I used quite an old version, maybe this has been fixed. I will update my pods and post results.

[2019-06-28 04:22] RealHacker commented on #2148
Please ignore my comments above. I cannot reproduce the delay with the latest version.
`Time for firebase initialization: 0.11451101303100586`

[2019-06-28 08:23] ntorring opened #3278 "Unable to archive with Bitcode enabled"
* Xcode version: 10.2.1
  * Firebase SDK version: 6.3.0
  * Firebase Component: Core, Analytics, Database
  * Component version: 6.3.0

I'm using the binary frameworks from Carthage. And when I attempt to archive my project, I get the following error:
`could not reparse object file in bitcode bundle: 'Invalid bitcode version (Producer: '1100.0.20.17.0_0' Reader: '1001.0.46.4_0')', using libLTO ver

[2019-06-28 09:59] ghowen opened #3279 "RemoteConfigErrorDomain mismatch with "com.firebase.config""
* Xcode version:  10.2.1
  * Firebase SDK version: 6.3.0
  * Firebase Component: RemoteConfig
  * Component version: 4.1.0

### [REQUIRED] Step 3: Describe the problem

I am currently experiencing a FirebaseRemoteConfig error 8003. I used to catch it, but this time my switch statement failed. While investigating I noticed that the constant `RemoteConfigErrorDomain` resolves to `com.google.remoteco

[2019-06-28 11:50] ryanwilson commented on #3279
Thanks for the report @ghowen - looks like there's a combination of both domains being used in different locations and it should be resolved. Which API were you using that caused this error?

[2019-06-28 11:55] ghowen commented on #3279
@ryanwilson not sure what you mean by "which API". It's an iOS project in Swift with a deployment target of iOS 11.4. The error was triggered when I was attempting to activate a fetched configuration on a real device. In the simulator the error was not triggered for some reason. HTH

[2019-06-28 12:20] ryanwilson commented on #3279
Apologies, essentially I was looking for a code sample of the method call you used. Were you using `fetch` along with `activatedFetched` in that case?

[2019-06-28 13:44] #3199 closed

[2019-06-28 14:04] ghowen commented on #3279
Got it. Here's the sample that failed with 8003 on device and worked on simulator. I am not looking to solving the 8003 though but just wanted to report the error domain mismatch.

            let remoteConfig = RemoteConfig.remoteConfig()
            remoteConfig.setDefaults(fromPlist: "RemoteConfigDefaults")

            remoteConfig.fetch(withExpirationDuration: 3600) { status, error in

[2019-06-28 14:07] ghowen commented on #3279
I have rewritten this to
`remoteConfig.fetchAndActivate { status, error in`
in the meantime, and now there is no error but a status of `.successUsingPreFetchedData` on device.

So my guess is that the prefetched data has triggered the 8003. The code is about a year old and started to fail only recently, probably with the latest update of the SDK.

[2019-06-28 14:15] paulb777 commented on #3278
@ntorring Thanks for the report. Please confirm that you're actually building with Xcode 10.2.1.  This is an error we'd expect to see building with something before Xcode 10.1.

[2019-06-28 14:16] ryanwilson commented on #3279
Got it, thanks. Were you on a version of Firebase before 6.0? I'm trying to determine if the behaviour of the `activate` API changed or not during a non-major version change.

Also, it looks like some logs should be printed, and the error has an associated user description. Having the `userInfo` from the error would be helpful as well, thanks!

[2019-06-28 14:24] ntorring commented on #3278
I only have Xcode 10.2.1 and 11 installed on my system (xcode-select is configured to use Xcode 10.2.1). Archives builds are also failing on Bitrise using an "Xcode 10.2.x, macOS 10.14" stack

[2019-06-28 14:29] ghowen commented on #3279
I am pretty sure I was on Firebase 6.2 or 6.1 before updating pods today. I am actively developing at the moment and I update the libs quite frequently.

When reverting back to the old code there is a user description for the error and it looks like it's the same status, but this time presented as an error:

[code]

[2019-06-28 14:59] paulb777 commented on #3279
RemoteConfig had more substantial changes from 6.2.0 to 6.3.0 than from 5.x to 6.0.0 so if it's a regression, 6.3.0 is a good bet.

[2019-06-28 15:04] ryanwilson commented on #3279
Got it, thanks!

The `activate` with completion handler was added recently, and it looks like the domain didn't change but is indeed different from the constant given. I'm guessing the device vs simulator has to do with the persistence of the values being returned from cache vs being fetched successfully.

[2019-06-28 15:13] ghowen commented on #3279
Actually `activate` must have been around for some time as I did not touch this code for a while before it stopped working today. The docs at https://firebase.google.com/docs/reference/swift/firebaseremoteconfig/api/reference/Classes/RemoteConfig are a bit out of sync on this as they do not mention the method `fetchAndActivate` yet. They do mention `activateFetched` though which might have been ad

[2019-06-28 16:57] morganchen12 commented on #3279
`activateFetched` was recently deprecated in favor of `activate`. We'll track updating the docs separately.

[2019-06-28 17:06] paulb777 commented on #3278
I haven't yet been able to reproduce.  Is there any additional information in the log about which object file is causing the problem?   Did you build your app with Xcode 11 and switch back to Xcode 10 without cleaning DerivedData?

[2019-06-28 18:06] kross51 commented on #3270
I also have a crash on iOS 13:

libdispatch.dylib`__DISPATCH_WAIT_FOR_QUEUE__:
    0x105a96414 <+0>:   pacibsp
    0x105a96418 <+4>:   stp    x22, x21, [sp, #-0x30]!
    0x105a9641c <+8>:   stp    x20, x19, [sp, #0x10]
    0x105a96420 <+12>:  stp    x29, x30, [sp, #0x20]
    0x105a96424 <+16>:  add    x29, sp, #0x20            ; =0x20
    0x105a96428 <+20>:  mov    x20, x1
    0x105a9642c <+24>:

[2019-06-28 19:08] ntorring commented on #3278
I'm not really using Xcode 11 for anything yet, so i doubt that's what's causing the issue. But I'll try to replicate the problem with a clean project, and see how that goes.

[2019-06-28 19:38] TOMZACH opened #3281 "Include of non-modular header inside framework module"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2019-06-28 21:18] SujeathPareddy opened #3282 "Calling Storage.reference(...).putFile throws EXC_BAD_ACCESS."
* Xcode version: 10
  * Firebase SDK version: 6
  * Firebase Component: Storage
  * Component version: All of them

Calling `Storage.reference(...).putFile` throws EXC_BAD_ACCESS with a reference to
[code]

The correct way to call this is `Storage.storage().reference()`. Lots of people are pretty confused. See [this post](https://stackoverflow.com/questions/53274252/thread-1-exc-bad-access-trying-

[2019-06-28 21:27] maksymmalyhin commented on #3183
@dangthaison91 I am sorry for the long wait. We haven't found the exact reason of the issue yet. Most probably, the reason of the issue is in `FIRClearcutLogger` which is going to be removed (estimated release M52). In the meanwhile, I'll continue the investigation to find a hot fix for the crashes while waiting for `FIRClearcutLogger` to be replaced.

BTW, there is a newer Firebase version availa

[2019-06-28 22:12] morganchen12 commented on #3270
@maksymmalyhin reassigning to you since I'm going on vacation next week. I wasn't able to conclusively prove this crash is caused by a deadlock. Here's what I've figured out thus far:

- The crash is always at launch (`+[FIRApp configure]` is always in the stack trace).
- The crash always occurs in a background thread on a dispatch_wait after a dispatch_sync, called from RemoteConfig.
- The crash

[2019-06-28 22:57] rawandahmad698 opened #3283 "Firebase app crashes on startup (EXC_BREAKPOINT)"
I recently updated my project and all of my pods were updated aswell. I always keep a copy of my previous app version.

My podfile:

    pod 'Firebase/Core'
    pod 'Firebase/Messaging'
    pod 'Firebase/Firestore'
    pod 'Firebase/Performance'
    pod 'Firebase/Database'
    pod 'Firebase/InAppMessagingDisplay'
    pod 'Firebase/RemoteConfig'
    pod 'Firebase/Analytics'

My AppDelegate:

    ov

[2019-06-29 00:49] paulb777 commented on #3283
We'll likely need at least a backtrace and ideally a reproducible example to help.

From this information, it looks like it might be a duplicate of #3270

[2019-06-29 02:04] seanpai96 commented on #3270
I’m also experiencing this problem and I would like to help. What info can I provide?

[2019-06-29 13:42] paulb777 commented on #3270
@seanpai96 If you see a backtrace different from the one above, please share it. Also, if sharing a reproducible example would be helpful.

[2019-06-29 13:47] paulb777 commented on #3270
We haven't identified the issue yet, but there's a reasonable chance the bug was introduced in Firebase 6.3.0 in which case the recommended workaround would be adding the following to the Podfile:

`pod 'Firebase', '~> 6.2.0'`

[2019-06-29 14:19] seanpai96 commented on #3270
When I downgraded to 6.2.0 the app crashed too. Here's the exception:
`2019-06-29 22:14:19.875824+0800 DinnerSystem[565:77199] -[FIRRemoteConfig activateFetchedForNamespace:]: unrecognized selector sent to instance 0x2839f3b60
2019-06-29 22:14:19.876387+0800 DinnerSystem[565:77199] *** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[FIRRemoteConfig activateFetche

[2019-06-29 14:41] seanpai96 commented on #3270
The debug log logged this first then stucked forever:
2019-06-29 22:22:59.267157+0800 TestApp[581:81737] [] tcp_output [C2.1.1:3] flags=[R.] seq=1957931661, ack=149483231, win=1024 state=CLOSED rcv_nxt=149483231, snd_una=1957931661
2019-06-29 22:22:59.345468+0800 TestApp[581:81737] [] tcp_output [C2.2.1:3] flags=[R.] seq=1622070220, ack=3146498977, win=1024 state=CLOSED rcv_nxt=3146498977, snd_una

[2019-06-29 17:09] rawandahmad698 commented on #3283
Hi @paulb777. I cannot show a reproducible example for this app. As i just installed the pods and ran the app in the simulator/physical device. No logic in the app, just a simple view with a black background.

[2019-06-30 10:11] dreampiggy commented on #3144
Is this true ? I can build a normal UIKit for macOS with `x86_64` architecture. The `.xcframework` is only one collection form of multiple individual `.framework`s.

[2019-06-30 15:50] jacobg commented on #3145
Here is the corresponding issue in the firebase-js-sdk in order to support hybrid apps (e.g., Cordova):

https://github.com/firebase/firebase-js-sdk/issues/1931

[2019-06-30 18:03] NKNikunj24 commented on #2193
Facing same issue any update/ solution on this?

[2019-06-30 18:13] paulb777 commented on #2193
@NKNikunj24 `4.8.1` is a very old version. The current Firebase version is `6.3.0`.   Please do a `pod update` and if you're still seeing old versions, examine the `Podfile.lock` to determine what is forcing the dependency on the old version.

[2019-06-30 20:23] ivanvorobei commented on #3283
In all my apps this bug
only in `iOS 13 Beta 2`
Crash in this line.

[2019-07-01 02:39] HyunjoonKo commented on #3183
Hi. I got the same error.
In my case occurs when loading the url in WKWebView.

![스크린샷 2019-07-01 오전 11 36 31](https://user-images.githubusercontent.com/3861180/60407169-a3909d80-9bf4-11e9-98dc-1805816dd07b.png)

[2019-07-01 05:02] dmandar commented on #3270
Hi..we are still investigating the root cause. Meanwhile, noticed that you have a remote config fetch call immediately followed by query to get value for a param. Note that Remote Config initializes in an async manner and it is recommended to use ensureInitializedWithCompletionHandler to make sure RC is initialized before querying for RC values.

[2019-07-01 08:11] andreaslindahl commented on #3283
Only crashes on iOS 13 for me as well.

[2019-07-01 12:50] mohammedshahid opened #3285 "Issue with Remote Config Initialisation"
### [READ] Step 1: Are you in the right place?

  Issue with Initialising Remote Config Object in iOS app.

### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.2.1
  * Firebase SDK version: 6.3.0
  * Firebase Component: FirebaseRemoteConfig (Auth, Core, Database, Firestore, Messaging, Storage, etc)
  * Component version: 4.1.0

### [REQUIRED] Step 3: Describe the problem

####

[2019-07-01 14:14] paulb777 commented on #3285
Was ` FirebaseApp.configure()` invoked previously?

[2019-07-01 14:17] mohammedshahid commented on #3285
Yes , FirebaseApp.configure() is invoked in didFinishLaunchingWithOptions , and I am sure its invoked before initiating RemoteConfig.

[2019-07-01 14:18] paulb777 commented on #3285
Do any errors get logged in the console?

[2019-07-01 14:20] mohammedshahid commented on #3285
No errors were logged , it's just that RemoteConfig object is not initialised.
We had to fall back to old version 6.2.0 in which this issue is not observed.

And one more strange thing to note is - It does not affect our debug build configuration. It happens only for our release config.

[2019-07-01 14:21] paulb777 commented on #3285
Also, please confirm that `FirebaseApp.configure()` is actually called before the call to `RemoteConfig()`.  The class static may get called earlier at load time.

[2019-07-01 14:25] mohammedshahid commented on #3285
Hey Paul, just verified that we are indeed calling FirebaseApp.configure() later. You are right. My Bad.
But it kind of handles gracefully in previous versions(6.2.0)
Anyways I hope calling FirebaseApp.configure() before RemoteConfig() should fix it.
Thanks for helping out.

[2019-07-01 14:27] paulb777 commented on #3285
Thanks for working through it with me @mohammedshahid. We're making initialization changes in 6.4.0 that should make it harder for this error to happen or at least more noticeable when it does.

[2019-07-01 14:27] #3285 closed

[2019-07-01 17:12] FoldedLaundry commented on #3167
@morganchen12
Was my sample project of any use?

[2019-07-01 17:43] schmidt-sebastian commented on #3282
@SujeathPareddy Thanks for filing this! I will see what we can do to improve the observed behavior.

[2019-07-01 17:57] jeandavid commented on #3215
@renkelvin resetting the entitlements file for the release config build did the job. Thanks for your help!

[2019-07-01 17:57] #3215 closed

[2019-07-01 18:44] grehce commented on #2102
For whatever reason, this problem has popped up again. I seem to remember commenting out one of the duplicate bundles but I can't seem to find where it is referenced. I found the resources.sh files but I don't recall making the edits here. Any help would be much appreciated.

Showing Recent Messages
:-1: Multiple commands produce '/Users/gracechang/Library/Developer/Xcode/DerivedData/Kintsugi_Mind

[2019-07-01 18:45] pk123hk2003 commented on #2421
Any update in regard of this issue? We too are getting a memory leak from GULObjectSwizzler class.

Our app make use of a URLSession object and at the end, we ensure the we called invalidateAndCancel for the session.

![image](https://user-images.githubusercontent.com/6550263/60459245-7b556e80-9bf5-11e9-8f5a-feab3f959363.png)

It shows that session is being retain by GULObjectSwizzler.m (-[GULObje

[2019-07-01 19:25] wilhuff commented on #2102
If you're using the latest versions this shouldn't be happening because gRPC-C++ now creates a [bundle with a different name](https://github.com/grpc/grpc/blob/master/gRPC-C%2B%2B.podspec#L75) (note that in your error message it's still the old, conflicting name). Make sure you've got FirebaseFirestore 1.3.2 and gRPC-C++ 0.0.9 or later.

If you're already on those versions and reinstalling doesn't

[2019-07-01 19:36] grehce commented on #2102
The only challenge with the pod update 'Firebase/Firestore' is that it creates 20 new errors across updated files, and this is the last blocker to shipping :/

[2019-07-01 21:06] wilhuff commented on #2102
Well, I can't really help unless you share something concrete. Please do open a new issue with your details.

[2019-07-02 04:15] dmandar commented on #3279
Thanks for reporting @ghowen . A fix is in the works.

[2019-07-02 04:15] #3279 closed

[2019-07-02 06:13] pives commented on #3278
I am also having this issue, with 6.x versions, it seems i'm having it when I try 5.18 or 5.19 as well. were all binaries rebuilt recently?

[2019-07-02 06:19] 1amageek opened #3290 "Crash in FIRInstanceIDCheckinService checkinWithExistingCheckin"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2019-07-02 10:01] dmandar commented on #3290
Thanks for reporting. Is it possible to get a stack trace? Also, please enable verbose logging https://firebase.google.com/docs/reference/ios/firebasecore/api/reference/Classes/FIRConfiguration before retrying for a repro. Thanks.

[2019-07-02 10:10] dmandar commented on #3270
@milo- @seanpai96 can you share the code snippet at the time of the crash (did you have RC enabled)? Also, if you are able to repro, would appreciate verbose logs by modifying the loggerLevel https://firebase.google.com/docs/reference/ios/firebasecore/api/reference/Classes/FIRConfiguration

[2019-07-02 10:19] 1amageek commented on #3290
@dmandar

[code]

[2019-07-02 10:44] seanpai96 commented on #3270
![螢幕快照 2019-07-02 下午6 35 25](https://user-images.githubusercontent.com/35644330/60506513-8e049c00-9cf8-11e9-8702-883249b3e932.png)
The app boots up successfully after two times of rebuild but I'm still putting up the snippet and the log when the crash happened.
The place of crashing is the same as #3283 .
I don't have or initialize RC and I only have push notification and analytics on.

[2019-07-02 12:44] Koumaran commented on #1470
still not working whit this setup...

[2019-07-02 13:28] maksymmalyhin commented on #3183
@HyunjoonKo Thank you for the additional details! It looks like you were able to reproduce the crash with the debugger attached. Will it be possible to share a sample project and steps to reproduce the issue? It will help a lot.

[2019-07-02 13:57] paulb777 commented on #3270
We suspect the crash may be related to FirebasePerformance. Is anyone seeing the crash who does not have FirebasePerformance installed in their app?

[2019-07-02 14:16] paulb777 commented on #3278
@pives The Firebase.framework is a placeholder only and should not be linked into the app. See the instructions at https://github.com/firebase/firebase-ios-sdk/blob/master/Carthage.md#carthage-usage

[2019-07-02 14:23] paulb777 commented on #3279
Targeting for M52 (the release after 6.4.0)

[2019-07-02 14:48] ryanwilson commented on #3283
Thanks for the reports - I am able to reproduce in beta 2 and will try to track down the issue.

@rawandahmad698 as a side note, `FirebaseApp.configure()` should go in `application(_:didFinishLaunchingWithOptions:)` and `AppDelegate` should not have an overridden `init` method.

[2019-07-02 15:14] ivanvorobei commented on #3283
@ryanwilson How soon can we wait for the update?

[2019-07-02 15:18] ryanwilson commented on #3283
@ivanvorobei for a status update, as soon as I discover the root issue and fix. I believe I have an idea as to what's going on (locking on a serial thread) but need to find the best solution to get around this, I'm not sure why it's only crashing on iOS 13.

For a patch to fix this, it depends on how long it takes but we're working hard on it and will report as soon as we know.

[2019-07-02 15:23] maksymmalyhin commented on #3183
@HyunjoonKo Another question for you. Could you share other pods you are using in your app? Do you use FirebasePerformance as well?

[2019-07-02 15:45] ryanwilson commented on #3290
Thanks for the report @1amageek - this is the same issue we're seeing in #3283. I'll close this as a duplicate, please follow along for progress updates there.

[2019-07-02 15:45] #3290 closed

[2019-07-02 16:58] pives commented on #3278
@paulb777 ugh, i forgot about that after the initial setup, I must've copied it back in .. I put a note in my cartfile to prevent stupid future self from struggling that long with it.  Good lookin' out!

[2019-07-02 19:07] paulb777 commented on #3283
Closing in favor of the original #3270. Please follow conversation there.

[2019-07-02 19:07] #3283 closed

[2019-07-02 19:08] paulb777 commented on #3270
A workaround is to remove FirebasePerformance from the apps that need to run on iOS 13.

Stay tuned for info about the fix.

[2019-07-02 19:39] maksymmalyhin commented on #3114
Seems to be fixed.

[2019-07-02 19:39] #3114 closed

[2019-07-02 20:25] #3282 closed

[2019-07-02 21:57] schmidt-sebastian commented on #3282
When #3294 gets merged, we will throw an assertion for calls to `Storage()`, which will prompt the user to use one of the defined API endpoints.

[2019-07-02 21:58] maksymmalyhin commented on #3183
I have a hypothesis that can explain the crash logs. It involves `FirebasePerformance` and `GULNetwork` interactions. The most probably chain of event is:

1. `GULNetwork` creates an instance of `GULNetworkURLSession` and stores it into `GULObjectSwizzler *_requests` ivar
2. `GULNetworkURLSession` stores itself into `static NSMapTable *sessionIDToFetcherMap = [NSMapTable strongToWeakObjectsMapTabl

[2019-07-03 03:01] HyunjoonKo commented on #3183
@maksymmalyhin Yes. I am using this feature. We are also using the following Firebase and Google services:

    Using Crashlytics (3.12.0)
    Using Fabric (1.9.0)
    Using Firebase (6.1.0)
    Using FirebaseABTesting (3.0.0)
    Using FirebaseAnalytics (6.0.1)
    Using FirebaseAnalyticsInterop (1.2.0)
    Using FirebaseAuth (6.1.0)
    Using FirebaseAuthInterop (1.0.0)
    Using FirebaseCore (6

[2019-07-03 04:25] HyunjoonKo commented on #3183
@maksymmalyhin
Anyway, since it is a problem to approach the key value that has already disappeared, I would like to solve it like this.

    - (void)removeObjectForKey:(id)key {
      dispatch_async(_queue, ^{
          if([[self->_objects allKeys] indexOfObject:key] != NSNotFound) {
              [self->_objects removeObjectForKey:key];
          }
      });
    }

[2019-07-03 08:58] squall2022 commented on #3278
We have the exact same problem:
[code]

We also use binary frameworks from Carthage.
We thought it was due to fact we used Xcode 10.2.0, but we still have the issue with 10.2.1

[2019-07-03 10:12] squall2022 commented on #3278
`Producer: '1100.0.20.17.0_0'`

@paulb777 According to [this list](https://gist.github.com/yamaya/2924292), it matches `Xcode 11.0 beta`, is it possible you built binaries with Xcode 11?

[2019-07-03 13:45] paulb777 commented on #3278
It's possible, but not intentional. Our build machine should be using 10.1. Also I wasn't able to reproduce.

Which framework does the error come from?

[2019-07-03 13:51] ValCanBuild commented on #3197
I'm facing the same issue. I see the fix is already in `6.4.0` - When would that be released to carthage?

[2019-07-03 13:54] squall2022 commented on #3278
Hard to say as there is not specific error regarding one framework.
But we are using the following frameworks:
- Analytics
- Auth
- DynamicLinks
- Messaging
- RemoteConfig
- Storage
- Database
- GoogleSignIn

[2019-07-03 13:54] ValCanBuild commented on #3111
To me this one is the same as #3197

[2019-07-03 14:04] paulb777 commented on #3197
@ValCanBuild 6.4.0 is stabilizing now and should be published next week.

[2019-07-03 14:04] #3197 closed

[2019-07-03 14:06] paulb777 commented on #3111
Thanks @ValCanBuild. I'll close this one also since it is likely to also be fixed by #3239.

[2019-07-03 14:06] #3111 closed

[2019-07-03 14:17] ntorring commented on #3278
I've tried to create a new project with the same Carthage dependencies, but it archives just fine. Maybe Xcode only links frameworks that are being used, otherwise there must be some weird project setting I'm missing 😕

[2019-07-03 14:22] paulb777 commented on #3278
Maybe something left in DerivedData?  ` rm -rf ~/Library/Developer/Xcode/DerivedData/`

[2019-07-03 14:25] ntorring commented on #3278
I've already tried to delete DerivedData without any luck

[2019-07-03 14:37] emailsubjekt opened #3297 "implementation 'com.google.firebase:firebase-core:17.0.0' - Duplicate Class Error"
Duplicate class com.google.android.gms.internal.measurement.zzu found in modules classes.jar (com.google.android.gms:play-services-measurement-sdk-api:17.0.0) and classes.jar (com.google.firebase:firebase-analytics-impl:16.3.0)
Duplicate class com.google.android.gms.internal.measurement.zzv found in modules classes.jar (com.google.android.gms:play-services-measurement-sdk-api:17.0.0) and classes.j

[2019-07-03 14:41] #3297 closed

[2019-07-03 15:17] martyfuhry commented on #3270
I was able to get my app to run after removing FirebasePerformance on iOS 13.

[2019-07-03 15:17] paulb777 commented on #3270
We now have a fix that will be built into the 6.4.0 release that is planned to publish next week.

[2019-07-03 15:17] #3270 closed

[2019-07-03 15:47] Ehesp opened #3298 "FIRDocumentChange newIndex not being set as NSNotFound"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.2.1
  * Firebase SDK version: 5.20.2
  * Firebase Component: Firestore
  * Component version: 5.20.2 (I think)

### [REQUIRED] Step 3: Describe the problem

When removing documents from a collection, the document changes for those removed documents contain the wrong value for the `newIndex`. The code states it should be equal

[2019-07-03 16:00] girishw commented on #3144
Any updates on this? This would be critical for many apps.

[2019-07-03 21:32] agiguere opened #3299 "Firebase/Crashlytics dSYM upload failed when multiple GoogleService-Info / 1 target"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2019-07-03 21:39] paulb777 commented on #3299
Internally tracked at b/136680744

[2019-07-04 04:16] hirohisa commented on #3278
I am having same report from Xcode.
My app downgrade `6.3.0` to `6.2.0`, it's archived.

FYI:
My Cartfile:
[code]

[2019-07-04 04:55] larryonoff commented on #269
It would be really appreciated to do watchOS support at least from 6.0.

[2019-07-04 06:18] ntorring commented on #3278
6.2.0 is also working fine for me!
I tried mixing the versions, and have isolated my issue to FirebaseAnalyticsBinary.

This configuration archives without issues:
[code]

[2019-07-04 06:41] ntorring commented on #3278
Setting `Other Linker flags` to `-ObjC` seems to be causing the issue!

[2019-07-04 10:46] Tr736 commented on #3278
this seemed to resolve it for me also

[2019-07-04 13:01] andrewehab commented on #1565
let downloadImageRef = self.storage.reference().child(uid).child("Profile Picture")

        let downloadtask = downloadImageRef.getData(maxSize: 1024 * 1024 * 12) { (data, error) in
            if let data = data {
                let image = UIImage(data: data)
                completion(image ?? UIImage())
            }
            print(error ?? "NO ERROR")
        }

        downloadtask.obse

[2019-07-04 14:06] paulb777 commented on #3278
@ntorring Thanks for narrowing it down. I now have a strong suspicion of what went wrong in the 6.3.0 packaging.   I suspect we did the Carthage packaging without changing the `xcode-select` from 10.2 to 10.1 and the FirebaseAnalytics binary was built incorrectly.

[2019-07-04 16:51] paulharter opened #3303 "FR: call completion block in setData when offline"
OSX 10.14.5
Xcode version: 10.2.1

Using FirebaseAuth (6.1.2)
Using FirebaseAuthInterop (1.0.0)
Using FirebaseCore (6.0.3)
Using FirebaseFirestore (1.4.0)
Using FirebaseUI (6.2.1)

I think what I am seeing is the the documented and intended behaviour but it causes a problem in some circumstances.

I would like to be able to create a new document, when both online and offline, and then query for it

[2019-07-04 18:05] ryanwilson commented on #3144
Still working away, apologies for the radio silence.

I'll post when I can get something to work for `FirebaseCore` since that's what I'm starting with. I've been able to build a slice that works with UIKit for Mac, but currently am battling code-signing since it's now required for frameworks built for the new platform.

Sorry for the confusion, I was thinking more from a distribution standpoint.

[2019-07-04 18:29] ryanwilson commented on #3144
As a side note - if anyone has successfully taken a CocoaPod and built it to support both UIKit for Mac as well as iOS + simulator, please share any resources you can 😄

[2019-07-04 19:21] kaleidscpe commented on #3144
Hi, has anyone taken a look at this solution? https://github.com/firebase/firebase-ios-sdk/issues/583#issuecomment-502055434

@ryanwilson

[2019-07-05 08:01] vishal91 opened #3304 "Issue with integration Firebase in sub-project"
* Xcode version: 10.2.1
  * Firebase SDK version: 6.3.0
  * Firebase Component: Analytics and Performance
  * Component version:

Facing issue on
![Screenshot 2019-07-05 at 1 30 32 PM](https://user-images.githubusercontent.com/3819785/60707339-1cf7fb00-9f29-11e9-9313-ae14408bc790.png)

Please help here.

[2019-07-05 13:36] ryanwilson commented on #3304
Hi @vishal91 thanks for the report.

What exactly do you mean by "subproject"?

For some reason the `modulemap` in GoogleUtilities isn't picking up a required framework, `StoreKit`. If you go to the target options in Xcode, go to the "Build Phases" tab and expand the "Link Binary With Libraries" section you can click the + sign and add `StoreKit`.

Let me know if that works!

[2019-07-05 15:39] maksymmalyhin commented on #3183
@HyunjoonKo Thank you for the provided data!

Thank you for the proposed fix as well. Unfortunately it won't work, because the crash happens at the time the object is being removed from the dictionary, which means that  the check `self->_objects.count > 0` would succeed.

[2019-07-05 17:36] marcglasberg commented on #1868
@mikelehen You say a solution is to keep the cache size low. However, the allowed minimum is 1Mb. Could you please at least fix this by letting us define the cache to be really small, say, 50kb?

We can't really turn the cache off, because it then reads all documents in the snapshot and charges for them. Say the cache is off and I have a listener which will get 100 messages per day. I'll pay 1 rea

[2019-07-05 18:12] yamauchieduardo commented on #1868
I've opened an issue to reduce the cache size: https://github.com/flutter/flutter/issues/16434

[2019-07-05 18:13] yamauchieduardo commented on #1868
I've opened an issue to reduce the cache size: https://github.com/flutter/flutter/issues/35648

[2019-07-05 18:28] nikhilag commented on #1868
On Android, I ended up writing the offline workflow myself because of poor performance of firestore's offline workflow. Since I know my schema, I can do a much better job of storing the data in sqlite. It took a couple of weeks but it was worth it. Now firestore offline workflow is disabled and my queries are much faster for fetching certain data which I never needed offline anyway. I also have to

[2019-07-05 19:02] ryanwilson commented on #3144
@kaleidscpe must have missed that, will take a look when I can.

Otherwise I have an xcframework for FirebaseCore, GoogleUtilities, and FirebaseStorage although I'm having some difficulties getting Storage working - there's a `+load` that's not getting called which causes the Storage instance returned to be `nil`.

This is the `+load` call:
https://github.com/firebase/firebase-ios-sdk/blob/d8a0e5e

[2019-07-05 19:12] dangthaison91 commented on #3183
@maksymmalyhin Fortunately we temporary remove `Firebase Performance` for another reason from 2 release versions ago. Your assumption may be true as the crash goes away completely.

We will wait for the fix to add `Firebase Performance` again.

[2019-07-05 22:33] SujeathPareddy opened #3310 "document.setData not marked as possibly throwing error"
### Environment

  * Xcode version: All
  * Firebase SDK version: All
  * Firebase Component: Firestore (Auth, Core, Database, Firestore, Messaging, Storage, etc)
  * Component version: All

### Problem

Firestore.firestore().document("...").setData() can throw errors, including ones like `'FIRInvalidArgumentException', reason: 'Nested arrays are not supported'`. However, the Swift function is not

[2019-07-06 00:46] wilhuff commented on #3310
Firestore throws Objective-C exceptions, not Swift errors so you can’t catch these in Swift even if we marked the method `throws`.

Objective-C exceptions don't guarantee resources are cleaned up when thrown so it’s best to treat these as fatal and avoid attempting to recover from them.

In any case, we only throw such exceptions when you’ve made a programming error. In this case you’ve attempted

[2019-07-06 00:46] #3310 closed

[2019-07-06 01:29] wilhuff commented on #3303
You're right, the behavior you're seeing is intended.

The good news is that we already guarantee that data you write locally is immediately queryable locally so you don't need to wait for a callback just for local purposes. This means that you can do a `getDocument(source: .cache)` immediately after writing without waiting for the completion handler to fire. Similarly, snapshot listeners started

[2019-07-07 14:00] FoldedLaundry commented on #3167
@ryanwilson @ulukaya @morganchen12
Guys, any luck? :)

[2019-07-08 04:20] christibbs commented on #2611
Couldn't actually reproduce this.

[2019-07-08 04:20] #2611 closed

[2019-07-08 06:08] jasonlewicki opened #3311 "Received message missing local start time, dropped."
* Xcode version: 10.2.1 (10E1001)
  * Firebase SDK version: 6.3.0?
  * Firebase Component: Messaging
  * Component version: 6.3.0?

[code]

I'm using:
On the device: https://pub.dev/packages/firebase_messaging to accept push notifications
On the server: https://github.com/firebase/firebase-admin-node
to create a data push notification. data-less notifications seems to be working. but when I send u

[2019-07-08 07:23] b-onc commented on #2910
Monthly ping for updates

[2019-07-08 07:29] #3311 closed

[2019-07-08 08:19] sipersso commented on #3270
Removing Firebase Performance seems to resolve the issue for iOS 13 users. But I still get crashes on startup for some users on iOS 12.3.1, even after removing firebase performance :/ So I'd strongly recommend to downgrade to 6.2.0

[2019-07-08 10:23] paulharter commented on #3303
@wilhuff thank you for the detailed reply

I will try your suggestions and let you know how I get on

P

[2019-07-08 11:10] ramunasjurgilas commented on #16
@morganchen12 For me it is still not clear how this could be fixed. Could you please explain how header search paths should be fixed.

I tried several suggestion, but they were not helping.

[2019-07-08 14:07] paulb777 commented on #16
@ramunasjurgilas See https://github.com/firebase/firebase-ios-sdk/issues/16#issuecomment-449701843

[2019-07-08 14:26] ryanwilson commented on #3144
Turns out it was a silly project configuration error and I got it up and running. Once I verify things I'll probably create a GitHub release with the compiled XCFrameworks for testing purposes. Note: these will only be the open source frameworks to start (the ones available in this GitHub repo).

[2019-07-08 16:01] mikelehen commented on #1868
@marcglasberg I don't know of any situation where you should encounter 1+2+3+4+...+100=5050 reads for a single listener.  If you're seeing something like that, can you open a new issue with details?

In general, when you start a listener, you are charged 1 read for each result that matches the listener, and then an additional read every time a new item matches the listener.  But you shouldn't be r

[2019-07-08 17:14] morganchen12 commented on #3167
Sorry for the slow response, @FoldedLaundry, much of the team was out on vacation last week.

We've handed the bug off to the ML Kit team and will update here when they have a fix.

[2019-07-08 19:12] warteruzannan opened #3316 "Domain=FIRAuthErrorDomain Code=17999"
* Xcode version:10.1 (10B61)
  * Firebase SDK version:3.6.0
  * Firebase Component: Auth
  * Component version: 3.1.1

i'm try login with email and password using firebase/auth

The code :
FIRAuth.auth()?.signIn(withEmail: email!, password: senha!) { (user, error) in
       .......
}

* The email and password is correct.
* Method email/password is activated.
* i has FIRApp.configure() in didFinish

[2019-07-08 19:24] morganchen12 commented on #3316
Can you print the whole error?

[2019-07-08 19:46] sirshannon commented on #1894
Any updates on this?
This bug is a obviously dealbreaker for clients that want to track screen views in iOS apps.

[2019-07-08 19:50] warteruzannan commented on #3316
Yes...

Optional(Error Domain=FIRAuthErrorDomain Code=17999 "An internal error has occurred, print and inspect the error details for more information." UserInfo={error_name=ERROR_INTERNAL_ERROR, NSLocalizedDescription=An internal error has occurred, print and inspect the error details for more information., NSUnderlyingError=0x600002489b30 {Error Domain=FIRAuthInternalErrorDomain Code=4 "(null)" U

[2019-07-08 19:51] warteruzannan commented on #3316
Yes

Optional(Error Domain=FIRAuthErrorDomain Code=17999 "An internal error has occurred, print and inspect the error details for more information." UserInfo={error_name=ERROR_INTERNAL_ERROR, NSLocalizedDescription=An internal error has occurred, print and inspect the error details for more information., NSUnderlyingError=0x600002489b30 {Error Domain=FIRAuthInternalErrorDomain Code=4 "(null)" User

[2019-07-08 20:03] morganchen12 commented on #3316
@renkelvin looks like Auth is producing an error here despite a successful response. Can you investigate?

[2019-07-08 21:08] marcglasberg commented on #1868
@mikelehen According to Doug Stevenson in this StackOverflow answer: https://stackoverflow.com/questions/48489895/firestore-query-reads-all-the-documents-again-from-database-when-only-one-is-m/48491561#48491561

So according to him: "you may be charged for a read on **ALL** the returned documents at **EVERY** change."

In other words, if I have the cache DISABLED, then if the first query return 1

[2019-07-08 22:20] wilhuff commented on #1868
This summary is incorrect.

Our pricing documentation is here: https://firebase.google.com/docs/firestore/pricing#operations. This is what it has to say about how you're charged:

That is to say, that generally you're charged for the *changes* to a snapshot, not the number of documents in it.

If you have a query result containing 100 documents and then you update one document in the result 100 ti

[2019-07-08 22:32] marcglasberg commented on #1868
@wilhuff You say "_The second part comes into play when you're using the offline cache._" and "_Those are pulled from the offline cache_".

But my point (and Doug's point) is what happens when you have the offline cache DISABLED.

Are you saying that you only charge for the changes to a snapshot, EVEN WHEN THE OFFLINE CACHE IS DISABLED?

[2019-07-08 22:33] wilhuff commented on #1868
Correct. While you're listening to a query we only charge for the documents that actually changed, not for the total number of documents that are in the snapshot.

[2019-07-08 22:38] thebrianchen commented on #1180
`clearPersistence()` was released in [v6.3.0](https://firebase.google.com/support/release-notes/ios#cloud-firestore).

[2019-07-08 22:38] #1180 closed

[2019-07-08 22:44] marcglasberg commented on #1868
Ok, thanks. That's good news in fact.

The documentation is not clear enough, which leads to a lot of questions in StackOverflow. Even if Doug corrects his answer, I would suggest the documentation must be improved a lot, so that people stop asking for clarifications there.

[2019-07-09 00:50] dkiktenko commented on #3316
Check API key restrictions - produced same error with FirebaseAuth only to realize that the iOS key was restricted only to two services (Maps and Firestore).

[2019-07-09 04:06] audkar commented on #1868
In real world scenarios user doesn't keep his messages application open all the time and doesn't wait for all 500 messages to come. He open, reply, close app. Snapshot listeners will change. And this second part will kick in very often.

Heck, users even in same session often is going back and forth between screens.

[2019-07-09 11:07] warteruzannan commented on #3316
@dkiktenko,
i check in Google Cloud Platform Console -> credentials ->  iOS key (auto created by Firebase)
that has no restrictions

[2019-07-09 11:15] Nicholmon commented on #3278
Same issue here.
I'm using latest version available of each packaging and the following dependencies:
[code]

And the error is:
[code]

[2019-07-09 11:18] Rumy-hasan opened #3320 "NSErrorFailingURLStringKey"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: _10.2.1____
  * Firebase SDK version: _latest from pod(5.16.0)
  * Firebase Component: Storage (Auth, Core, Database, Firestore, Messaging, Storage, etc)
  * Component version: latest from pod

**my pod file is :**
[code]

**storage permission**

[code]

### [REQUIRED] Step 3: Describe the problem
It fails sometimes to stream the

[2019-07-09 11:38] boaass opened #3321 "Failed to open database"
Xcode version: 10.2
Firebase SDK version: 6.3.0
Firebase Component: Analytics and RemoteConfig
Component version:

I call '[FIRApp configure]' method to init Firebase Analytics. An error is as follows:

2019-07-09 16:47:57.029624+0800 test[32400:4248844]  - <AppMeasurement>[I-ACS036002] Analytics screen reporting is enabled. Call +[FIRAnalytics setScreenName:setScreenClass:] to set the screen name

[2019-07-09 12:41] vishal91 commented on #3304
@ryanwilson By sub-project, I mean dynamic framework.

[2019-07-09 13:42] paulb777 commented on #3304
The Firebase pods are static frameworks and cannot be dependencies of dynamic frameworks. They can be dependencies of other static frameworks.

[2019-07-09 14:28] lucas-ferreira-machado commented on #1732
+1 to this!

[2019-07-09 16:34] paulb777 commented on #3321
Is this reproducible on multiple devices. I wonder if it's a permission or space issue on the device?

Opened b/137094514 to track internally.

[2019-07-09 17:15] Johnson145 opened #3323 "No display name for users signed up by email in Firebase Auth"
### My environment

  * Xcode version: 10.2.1
  * Firebase SDK version: 6.3.0
  * Firebase Component: Auth
  * Component version: 6.1.2

### Problem description
I'm using the pre-built UI of Firebase Auth. When a user signs up by email, the UI lets him/her enter the user name (label asks for the first and last name combined as one input). However, I can't see a way to get that information later on

[2019-07-09 22:25] paulb777 commented on #3136
For Firebase to support Swift Package Manager, there will need to be several changes to both Swift Package Manager and Firebase. See https://github.com/firebase/firebase-ios-sdk/commits/spm-master for the prototype implementation which successfully built a few of the Firebase libraries with SwiftPM.  Below is a summary of some of the key requirements:

**Binary library support**
Some of the Fireba

[2019-07-09 22:31] paulb777 commented on #3278
6.4.0 is now published with the fix.

[2019-07-09 22:31] #3278 closed

[2019-07-09 22:37] morganchen12 commented on #3320
The error says the download was cancelled.

[code]

What's causing the issue? Can you share an example that reproduces the issue?

[2019-07-09 23:01] paulb777 commented on #3316
@warteruzannan Firebase 3.x is three years old and we're currently at Firebase 6.4.0. I suggest updating to something more recent.

[2019-07-10 00:16] sjmueller commented on #3278
For anyone still running into an error -- Carthage is likely cached and still using `6.3.0`. Run this command:
[code]
Then re-run `carthage update --platform iOS` to pull down `6.4.0`. You can verify in your `Cartfile.resolved` that you have the right version. Happy archiving!

[2019-07-10 00:26] jlubeck commented on #3144
@ryanwilson any chance you can share your findings with the GoogleMaps devs? Looks like the same error is also happening with that SDK, but I can't find a Github repo for GoogleMaps to create a ticket...

[2019-07-10 02:55] boaass commented on #3321
I repetition this error on multiple devices.
device: iPhone 6S & iPhone X
version: iOS 12.0

[2019-07-10 04:49] leisurehound commented on #2604
I upgraded from 5.x to 6.3.0 yesterday and ran into this problem integrating Firestore.  I had deleted the previous Resources file from Xcode and then dragged in the new one from 6.3.0 download (not using cocoa pods or carthage).  The app failed to build until I dragged in the PEM file and added it to the target manually.  Did this regress or is this possible handled better by Cocoapods magic that

[2019-07-10 05:47] Sun3 commented on #3316
I had the same issue and upgrading to the latest iOS SDK and changing lot's of code does work.

[2019-07-10 06:04] romin991 commented on #3270
hello @paulb777 , may I know when the 6.4.0 will be released?

[2019-07-10 07:02] mouness2020 commented on #3270
@romin991  it's already released yesterday
https://firebase.google.com/support/release-notes/ios#version_640_-_july_9_2019

[2019-07-10 07:39] Valpertui commented on #3270
I have the same issue (deadlock on startup). Will test 6.4.0 to see if the issues goes away

[2019-07-10 07:40] Sarathphd commented on #2233
Hi, I am also face this issue. But I have fixed error. First goto project folder in ios folder and open profile file you just Commit use_framework. Then delete projectName.xcworkspace, pod folders and profile.lock file. And pod update, pod install finally open project to xcode and build. Easy to solve this issue and fixed.

[2019-07-10 07:47] sipersso commented on #3270
@mouness2020 that issue doesn't mention iOS 13. Can anyone confirm that 6.4.0 solves the problem? Is there any more info about what caused this issue? And how it was resolved?

I got a number of reports from users that the app crashed on startup on iOS13 and iOS 12.3.1. Removing Firebase Performance did not fully resolve the issue. After releasing an app update where I downgraded to 6.2.0 it was r

[2019-07-10 08:41] Blackjacx commented on #3278
Can confirm that this works for us 👍
[code]

[2019-07-10 08:51] mallika2019 opened #3328 "Issue while using firebase events inside framework"
I have an xcode project. GoogleService-Info.plist is kept in resources.

Scenario 1 (Parent project)
---------------------------
Firebase is configured in AppDelegate as given below.
// Configure Firebase
// ------------------
if FIRApp.defaultApp() == nil {
   FIRApp.configure()
}

After that, logEvent method is called in a click(click1).
Events got successfully logged and we can view it in Fireb

[2019-07-10 10:00] MauriceArikoglu commented on #627
@wilhuff Please ping me if there are open tickets that I could help you with.

Also on a side note: How feasible do you think would it be to maintain a 12.2 targeted Swift-only Framework? Like the one @alickbass started working on?

[2019-07-10 11:27] sipersso commented on #3270
Downgrading to 6.2.0 doesn't resolve it either. Still having users complaining about crashes.

[2019-07-10 11:36] Valpertui commented on #3270
Upgrading to 6.4.0 fixed the deadlock issue.

[2019-07-10 12:36] ryanwilson commented on #3270
@sipersso can you please confirm, is the 12.3.1 crash the exact same stack trace you see above? Or is it a separate issue? The crash stems from Performance, so I'm not sure that you're running into the same issue. Any help tracking this down would be greatly appreciated.

The [Performance Monitoring changelog](https://firebase.google.com/support/release-notes/ios#performance-monitoring) does menti

[2019-07-10 12:48] sipersso commented on #3270
@ryanwilson I wish I could provide you with a stacktrace, but I can't. I can't reproduce the issue and it is only happening in production Firebase Crashlytics lists the app as 100% crash free, which leads me to believe that the error is during initialization. So far the issue has only been on iOS13 and iOS 12.3.1.

Here is what happened.
1: I upgraded to 6.3.0, released it to production:
Result:
G

[2019-07-10 13:13] ryanwilson commented on #3270
Thanks for the info. Responses inline...

1: I upgraded to 6.3.0, released it to production:
Result:
Got reports of crashes iOS13 users and a few on iOS12.3.1. Firebase Crashlytics doesn't show any of these errors.

I'm not sure why Crashlytics wouldn't show these crashes - @samedson any idea why that could be?

Result:
iOS13 crasches are gone, but there are still reports of the app crashes at sta

[2019-07-10 13:17] Valpertui commented on #3270
When you have the issue, you get it at 100% of the launches (at least for me) and it's an instant crash, so I doubt crashlytics was able to send the crash report on the next launch (since he would crash too)

[2019-07-10 13:18] ryanwilson commented on #3270
Yep, that's fair 🙂

[2019-07-10 13:22] sipersso commented on #3270
@Valpertui Yes, that is correct.  It crashes repeatedly for these users. Not really sure how to open a ticket for this, but I have upgraded to 6.4.0 and also noticed that my Firebase initialization was done in willFinishLaunching, and not didFinishLaunching, which I believe would increase the likelyhood it being the timing issue described. So I have moved it.

There have been very few reports so f

[2019-07-10 13:37] sipersso commented on #3270
I am confident it is related to firebase since the update I started seeing this in only contains a few cosmetic changes and the firebase updates. The other code changes are nowhere near the app startup.

[2019-07-10 13:50] samedson commented on #3270
@ryanwilson @Valpertui that's correct about Crashlytics - it needs to start up successfully before it will start collecting crashes. If an SDK starts before Crashlytics it won't collect a crash from it

[2019-07-10 14:15] paulb777 commented on #3328
The Firebase pods are static frameworks and do not work as dependencies of dynamic frameworks. A framework that depends on Firebase must also be linked statically.

[2019-07-10 14:16] paulb777 commented on #3278
Thanks @Blackjacx - but the workaround should no longer be necessary now that 6.4.0 is available.

[2019-07-10 14:23] paulb777 commented on #3316
Closing for now. Please open a new issue if it recurs on Firebase 6.x.

[2019-07-10 14:23] #3316 closed

[2019-07-10 16:27] wilhuff commented on #627
Nearly everything required to make this work has landed. We're still wrangling a few internal things and haven't yet tested on anything but iOS, but you can try it out. Try adding this to your Podfile:

[code]

In any Swift source where you want to use this add:

[code]

We have no docs yet, so the [swift source](https://github.com/firebase/firebase-ios-sdk/tree/master/Firestore/Swift/Source/Codab

[2019-07-10 16:42] warteruzannan commented on #3316
i fix the issue updating sdk to 4.0.1.  I did not upgrade to the latest version because I would have to change a lot of code... Thanks

[2019-07-10 18:34] renkelvin commented on #3145
Thanks for the feature request. The Firebase Auth team is working on this.

[2019-07-10 20:57] var-const commented on #2604
@leisurehound the `roots.pem` file has to be in the resources one way or the other. When using CocoaPods, this should happen automatically during pods installation. If you are configuring the project manually, yes, you would have to add the file manually as well (e.g. see these [Carthage instructions](https://github.com/firebase/firebase-ios-sdk/blob/master/Carthage.md#carthage-usage)). So from wh

[2019-07-11 02:15] leisurehound commented on #2604
So, I had copied the Firestore/Resources/gRPCCertificates-Cpp.bundle into my project manually as instructed in the manual instructions in the Readme.md, ensuring it was in my target.:

[code]

But I then got the error here.  When I went to the gRPCCertificates-Cpp.bundle file in Finder and 'Show Package Contents,' grab the roots.pem file and drag it into the Xcode project navigator, the workaround

[2019-07-11 03:29] boaass commented on #3321
I'm trying to run it on iOS 11，it's work. I think something wrong on iOS 12.0

[2019-07-11 03:30] boaass commented on #3321
I'm trying to run it on iOS 11，it works. I think something wrong on iOS 12.0

[2019-07-11 05:15] Rumy-hasan commented on #3320
I understand the first problem. It may cross the free version limit but what about this 2 line

[code]

the second line may be the cause of apple as far I search (I am not sure). But the first line. [Here what apple say about it](https://forums.developer.apple.com/thread/110789)

[2019-07-11 14:06] maksymmalyhin commented on #3183
The issue should not be reproducible after #3322, but I'll keep the issue open until #3300 landed.

The changes from #3322 are available at GoogleUtilities 6.2.2 that has been published recently. @HyunjoonKo @dangthaison91 would you have chance to test the issue from your side and confirm if the change fixes the crash?

[2019-07-11 14:57] #3328 closed

[2019-07-11 14:58] #3304 closed

[2019-07-11 15:17] Banck commented on #1244
@dmandar Have the same issue, when preview page is disabled: No pre-install link matched for this device
With preview page enabled all is fine.
iOS version: 12.3

[2019-07-11 15:41] li-xinyang commented on #1732
+1 to this!

[2019-07-11 16:46] morganchen12 commented on #3320
TIC isn't reporting an error in this log you've highlighted. Find the call that's returning the error and see if there's any calls to cancel the download.

[2019-07-11 20:26] renkelvin commented on #3022
Reenabled. https://github.com/firebase/firebase-ios-sdk/pull/3318

[2019-07-11 20:26] #3022 closed

[2019-07-11 21:02] wilhuff commented on #3298
It looks like we broke this in #2608 and there's apparently no test that validates these values. For now the workaround would be to test if the value is >= `NSNotFound`. We'll put together a fix in the meantime.

[2019-07-12 08:52] Ehesp commented on #3298
Thanks @wilhuff!

[2019-07-12 10:38] gusrota opened #3343 "Crash -[FPRRemoteConfigFlags sessionSamplingRate], [FIRRemoteConfig configValueForKey:namespace:]"
### SDK Versions
  * Xcode version: 10.2
  *Firebase version:
Firebase 6.3.0
FirebaseABTesting 3.0.0
FirebaseAnalytics 6.0.2
FirebaseCore 6.0.3
FirebaseInstanceID 4.2.0
FirebasePerformance 3.1.0
FirebaseRemoteConfig 4.1.0
GTMSessionFetcher 1.2.2
GoogleAppMeasurement 6.0.2
GoogleToolboxForMac 2.2.1
GoogleUtilities 6.2.1
Fabric 1.10.2

### Description
Couple of days ago released new version of app t

[2019-07-12 13:38] mackoj commented on #3145
@renkelvin
https://developer.apple.com/news/?id=06032019j

[2019-07-12 13:50] paulb777 commented on #3343
This is a duplicate of #3270. Please update to Firebase 6.4.0 to resolve.

[2019-07-12 13:50] #3343 closed

[2019-07-12 15:42] gusrota commented on #3343
Thanks @paulb777 much appreciated. Had missed that issue.

[2019-07-12 17:58] tecbot opened #3344 "[RemoteConfig] Crash if initializing after app start"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.2.1
  * Firebase SDK version: 6.4.0
  * Firebase Component: RemoteConfig
  * Component version: 4.2.0

### [REQUIRED] Step 3: Describe the problem

Stack trace:
[code]
#### Steps to reproduce:

After upgrading Firebase dependencies from 6.3.0 to 6.4.0 and RemoteConfig from 4.1.0 to 4.2.0 we are getting crashes directly on app

[2019-07-12 18:34] ryanwilson commented on #3344
Hi @tecbot - looking into this right away. Some quick questions as I start investigating:

- Does this happen on any specific iOS version, or all of them?
- Does it happen on both device and simulator?
- Can you enable Zombies in your application and see where it's failing? It looks like it's trying to access an already deallocated instance of something (based on `KERN_INVALID_ADDRESS`)

Thanks, a

[2019-07-12 20:04] ryanwilson commented on #3344
I haven't been able to reproduce this using a non-Flutter app, looking at setting up Flutter in order to try it out. If you have a plain reproduction (without `GoogleService-Info.plist`) you could share, it'd be very helpful 🙂

[2019-07-13 06:17] mouness2020 commented on #3344
I have 2 crashes in same class in my apps :
first one
RCNConfigExperiment initWithDBManager
Fatal Exception: NSInvalidArgumentException-[__NSCFString setTimeZone:]: unrecognized selector sent to instance 0x2800f36f0
--
second one
-[RCNConfigExperiment initWithDBManager:]
Crashed: com.google.perf.FPREventsQueue
EXC_BAD_ACCESS KERN_INVALID_ADDRESS 0x7265567733237863

[com.test.app_issue_crash_f34c5a

[2019-07-13 14:09] paulb777 commented on #3344
@mouness2020 Thanks for the additional detail.

@ryanwilson, @dmandar I suspect a thread safety issue with the static variable assigned the NSDateFormatter. One thread is creating another instance while another thread is sending the `setTimeZone:` message.

[2019-07-14 03:23] mouness2020 commented on #3344
new crashes happen in version 6.4.0
<img width="1333" alt="Screenshot at Jul 14 06-20-58" src="https://user-images.githubusercontent.com/4884141/61178857-9fef1480-a5ff-11e9-8461-132cf99f8271.png">
[com.newline.syarah_issue_crash_80e7ff5eea8b4185992b08670574f421_DNE_0_v2.txt](https://github.com/firebase/firebase-ios-sdk/files/3389426/com.newline.syarah_issue_crash_80e7ff5eea8b4185992b08670574f421_D

[2019-07-14 13:00] ryanwilson commented on #3344
Thanks folks for the extra information - I have a pending fix internally at cl/258032937.

We still haven't been able to reproduce this, so if anyone can provide reproduction steps so we can verify the fix works properly, it would be greatly appreciated.

[2019-07-14 14:18] Johnson145 opened #3353 "Auth - shared keychain: other running apps don't get notified about user changes"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.2.1
  * Firebase SDK version: 6.4.0
  * Firebase Component: Auth
  * Component version: 6.2.0

### [REQUIRED] Step 3: Describe the problem
I got a group of apps set up to use the same auth state by accessing a shared keychain. If only one of those apps is running, everything works as expected: If I login a user in that app and

[2019-07-15 06:37] yanfangl commented on #3321
For firebase analytics IOS, I have the same problem. I can run it on IOS 10.0 but get failed to open database on IOS 12.0.  So I am not sure whether the app package can work for the users with IOS 12.0 .
Is there any progress?

[2019-07-15 08:22] wangjunhua1 commented on #1691
@mirsatmurutoglu We use Firebase 6.0.0 SDK but still have this crash

[2019-07-15 12:10] adarhef commented on #2303
@morganchen12 This is now happening to me, exactly as reported here.
Same link, it works once after tapping, second time doesn't, then works again, then doesn't... on and on.