[2021-09-01 14:02] ncooke3 commented on #8600
`zip` - zip had an issue with the firestore qs, looks like a [flake](https://github.com/firebase/firebase-ios-sdk/runs/3483396206?check_suite_focus=true)
`database` - integration tests had networking issues
`performance` - tvOS unit tests look like a [flake?](https://github.com/firebase/firebase-ios-sdk/runs/3481461438?check_suite_focus=true), investigating the qs ui test failure
`release` & `prer

[2021-09-01 14:29] ncooke3 commented on #8600
I kicked off a re-run of the `performance` job

[2021-09-01 18:07] var-const commented on #8607
Sorry to hear you're experiencing crashes. We have seen some previous crash reports with a similar call stack (e.g. #6579 and to some extent #6844). Unfortunately, we could never reproduce this on our side, and previous reports were unable to create a repro case, so we couldn't get traction on these issues.

We'd be happy to work on this if you could provide a repro case. Another thing you could d

[2021-09-01 21:43] girishw opened #8611 "Firestore addSnapshotListener problems with"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version:  12.5.1
  * Firebase SDK version: 8.6.1
  * Installation method: CocoaPods
  * Firebase Component: FireStore

### [REQUIRED] Step 2: Describe the problem

When I turn on address sanitizer for my builds, I see the following crash with my calls to addSnapshotListener()

 *==45737==ERROR: AddressSanitizer: heap-use-after-free on add

[2021-09-01 21:47] girishw opened #8612 "Firestore addSnapshotListener problems with address sanitizer"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version:  12.5.1
  * Firebase SDK version: 8.6.1
  * Installation method: CocoaPods
  * Firebase Component: FireStore

`### [REQUIRED] Step 2: Describe the problem

When I turn on address sanitizer for my builds, I see the following crash with my calls to addSnapshotListener()

[code]

[2021-09-01 21:48] #8611 closed

[2021-09-01 22:15] var-const commented on #8612
Thank you for the report. It looks like this issue should be fixed by #8610. Can you please try out the fix from that PR and see if it resolves the error you're seeing? If using CocoaPods, you could get the Firestore pod from GitHub:
[code]
(you would have to add the same `:git` and `:branch` attributes for any other Firebase pods you're using)

Alternatively, given that the fix is small, you coul

[2021-09-02 01:03] #8548 closed

[2021-09-02 01:03] #8517 closed

[2021-09-02 01:03] #8427 closed

[2021-09-02 12:19] Mybusinee opened #8615 "Firebase Hosting ส่งคืนข้อผิดพลาด 503 Onรายการ</title>"
### Step 0: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ please use the Feature Request template.
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the `firebase` tag.
  * For general (non-iOS) Firebase discussion, u

[2021-09-02 12:21] Mybusinee commented on #8615
https://httpsworkspacegooglecommarketp.godaddysites.com/apk

[2021-09-02 12:21] Mybusinee commented on #8615
พร้อมfirebaseแท็กhttps://www.gmass.co/oauthwelcome.html?emailaddress=humpook2@gmail.com&source=addon

[2021-09-02 12:21] Mybusinee commented on #8615
`https://httpsworkspacegooglecommarketp.godaddysites.com/azuredevops@microsoft.com`

[2021-09-02 12:22] Mybusinee commented on #8615
www.workspace.google.com@hotmail.com

[2021-09-02 13:37] paulb777 commented on #8600
Kicked off a rerun for the three failures

[2021-09-02 14:00] dconeybe commented on #8612
Looks like there was a typo in the URL posted in the previous comment. Please replace the Git URL with the following:
[code]

[2021-09-02 14:05] dconeybe commented on #8612
Also, the `ehsann/fix-remote-doc-cache` branch no longer exists (it was deleted when the fix was merged). You should just be able to replace it with the commit hash: `4cf4e7c5e2fec340a0008c75b5d5acae5c4bd765`

So, with that, can you try this line instead:
[code]

[2021-09-02 14:28] girishw commented on #8612
Still having problems:

Analyzing dependencies
Pre-downloading: `Firebase` from `https://github.com/firebase/firebase-ios-sdk.git`, branch `4cf4e7c5e2fec340a0008c75b5d5acae5c4bd765`

[!] Error installing Firebase
[!] Failed to download 'Firebase': [!] /usr/local/bin/git clone https://github.com/firebase/firebase-ios-sdk.git /var/folders/zd/v18qtk3n2h75gmmbpzc4bpkc0000gn/T/d20210902-20371-17liun2 -

[2021-09-02 14:42] dconeybe commented on #8612
Ugh sorry. ":branch" should be ":commit". Try this:

[code]

[2021-09-02 15:23] #8600 closed

[2021-09-02 16:34] girishw commented on #8612
On to the new problem:

Analyzing dependencies
Pre-downloading: `Firebase` from `https://github.com/firebase/firebase-ios-sdk.git`, commit `4cf4e7c5e2fec340a0008c75b5d5acae5c4bd765`
Pre-downloading: `FirebaseFirestoreSwift` from `https://github.com/firebase/firebase-ios-sdk.git`, commit `4cf4e7c5e2fec340a0008c75b5d5acae5c4bd765`
[!] CocoaPods could not find compatible versions for pod "FirebaseFir

[2021-09-02 16:38] Mybusinee opened #8616 "https://support.google.com/googleplay/?m=aiplay"
### [READ] Guidelines

For large or ambiguous requests, such as significant breaking changes or use
cases that could be addressed by multiple different features, consider instead
starting a
[Pitch](https://github.com/firebase/firebase-ios-sdk/discussions/categories/pitches)
discussion for ideas that you'd like to discuss with the Firebase community to
flush out.

When filing a feature request plea

[2021-09-02 16:46] paulb777 commented on #8612
The podspecs for the specific products are missing without the slashes.

Like `pod 'FirebaseFirestore', :git => 'https://github.com/firebase/firebase-ios-sdk.git', :commit => '4cf4e7c5e2fec340a0008c75b5d5acae5c4bd765'`

[2021-09-02 16:58] rizafran commented on #8616
Hi @Mybusinee, I'll be closing this issue since it's not related to Firebase iOS SDK. Feel free to reopen if the issue is related to the SDK, and provide the details indicated on the issue template

[2021-09-02 16:58] #8616 closed

[2021-09-02 16:59] dconeybe commented on #8612
Okay forget this approach. Since the fix is in a file that hasn't changed in 2 months, it would be much easier to simply copy the fix into your `Pods` directory.

Try this:
1. Change your `Podfile` back to its original state (i.e. without the Git URL and commit hashes)
1. `pod update` to get the latest released versions, to ensure that the diff against the "fixed" file is minimal.
1. Download the

[2021-09-02 18:19] siddeshpillai opened #8617 "Firebase Messaging: Fails to receive a notifications in iOS"
### Step 1: Describe your environment

  * Xcode version: 12.5.1
  * Firebase SDK version: 8.6.0
  * Installation method: Zip file
  * Firebase Component: Messaging

### Step 2: Describe the problem
Device doesn't receive a notification instead whenever a message arrives it dumps the following to the logs

[code]
#### Steps to reproduce:

What happened? How can we make the problem occur?
Manually

[2021-09-02 19:14] paulb777 commented on #8589
cc: @UIowaEABurns

[2021-09-02 21:32] girishw commented on #8612
This seems to work! I am no longer seeing the crash.

[2021-09-02 21:52] var-const commented on #8612
Excellent! We will close the issue now, but please feel free to open a new issue if you find more sanitizer problems.

[2021-09-02 21:52] #8612 closed

[2021-09-02 22:09] UIowaEABurns commented on #8589
Hello,

Yes, the last GMA SDK changes for this issue were in 8.1.0, and this is coming from 8.2.0. One possibility-- is this app observing CTServiceRadioAccessTechnologyDidChangeNotification or CTRadioAccessTechnologyDidChangeNotification, or referencing currentRadioAccessTechnology or serviceCurrentRadioAccessTechnology?

This crash is ultimately a race condition inside of Apple code. To mitigate

[2021-09-02 22:28] UIowaEABurns commented on #8589
I did also double check our crash logs, and I don't see any recent regressions in our crash rates. The crash is still non-zero, unfortunately, but remains <0.5% from our pre 8.1.0 fix. I'm not sure that we'll have the capability to further reduce the issue inside GMA-- reporting to Apple may be the best course of action.

[2021-09-03 01:47] var-const commented on #8607
Note: we recently submitted a fix to a bug that happens in the same call chain as the crash described in this issue and could plausibly be the reason for it (#8610). That fix will go out in the next release. There is a way to use an unreleased version of Firestore if you're using CocoaPods -- please let me know if you'd like to try it out; on the other hand, I understand that you were unable to re

[2021-09-03 01:47] #8607 closed

[2021-09-03 06:45] Mybusinee commented on #8615
https://www.google.co.th/search?ibp=gwp;0,7&q=https://www.google.co.th/business&ludocid=493878471339619304&lsig=AB86z5WoNG0kGOHMchuUxastp1qk#lkt=LocalPoiPhotos

[2021-09-03 06:48] Mybusinee commented on #8615
git branch -m main <reddit>r/กระเพราะคือไคร

git fetch origin
git branch -u origin/<BRANCH>microsof_tcm365@hotmail.com <BRANCH>พิมพ์เล็ก สิทธิ์ฟราม duck 🦆
git remote set-head origin -a

[2021-09-03 13:48] wasiullah95 opened #8619 "'GoogleUtilities/GULURLSessionDataResponse.h' file not found"
'GoogleUtilities/GULURLSessionDataResponse.h' file not found

[2021-09-03 13:49] IanWyszynski commented on #8286
Apologies for the delay on this. It looks like you're using v8.1.1 of the SDK. Could you try >= v8.5.0, which contains an important fix for the `getData` endpoint?

FWIW, I tried to reproduce the issue you've described in this draft PR: https://github.com/firebase/firebase-ios-sdk/pull/8618/files and was not able to get the observer to fire a second time as you described.

[2021-09-03 13:55] paulb777 commented on #8619
This is likely the result of a corrupt installation. Please check and if still stuck, fill out the issue template.

[2021-09-03 18:34] fawzirifai commented on #8286
@IanWyszynski I still get the same output in version 8.6.1 can you please download my file and run it? it's just 7 lines.
https://github.com/fawzirifai/Firebase-getData

[2021-09-04 10:51] fawzirifai commented on #8286
@IanWyszynski @schmidt-sebastian @paulb777

[2021-09-04 10:52] fawzirifai commented on #8286
@ryanwilson

[2021-09-04 13:05] github-actions[bot] opened #8622 "Nightly Testing Report"
# Nightly Testing Report
This issue([log](https://github.com/firebase/firebase-ios-sdk/actions/runs/1200975066)) is generated at 09/04/2021 06:05 AM, fetching workflow runs triggered in the last 24 hrs.
| Workflow |09/03|
| -------- | -------- |
| [messaging](https://github.com/firebase/firebase-ios-sdk/blob/master/.github/workflows/messaging.yml) | [failure](https://github.com/firebase/firebase-i

[2021-09-04 18:06] sspogra opened #8623 "Crashed: com.google.firebase.firestore EXC_BAD_ACCESS KERN_INVALID_ADDRESS 0x5263696e61502ebf"
[code]

### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 12.5.1
  * Firebase SDK version: 8.6.1
  * Installation method: `CocoaPods
  * Firebase Component: Database, Firestore, Messaging, Auth, Crashlytics, Analytics, Performance

When getting data from firestore app was crashed not everytime Its a random crash.

![image](https://user-images.githubusercontent.com/49437548/13210

[2021-09-05 04:56] isaranjha commented on #7043
Monthly bump for this issue. We've had to ship without Analytics due to this...

[2021-09-05 08:56] Max-Fox commented on #8582
Hi. Thanks to all. After a couple of days, everything worked. But it is not clear what was the reason

[2021-09-05 13:51] #8582 closed

[2021-09-05 14:33] paulb777 commented on #7043
Is it feasible to make a separate target for Catalyst that doesn't depend on Analytics? See the example at https://github.com/firebase/quickstart-ios/tree/master/abtesting

[2021-09-05 20:12] Macacoazul01 opened #8624 "OauthProvider "continue to the app""
Opening this issue to request the removal of the "Continue to the app" screen that appears before the provider when using
`OAuthProvider(providerID: "provider")`

(or at least adding the possibility to make it optional)

Sample when executing with twitter:
![continue](https://user-images.githubusercontent.com/57464965/132139874-3a6d3e49-a65b-4cb0-a3bf-a27ccec01d8f.png)

This screen confuses the us

[2021-09-06 01:03] #8554 closed

[2021-09-06 07:15] duyquang91 commented on #8464
Seems like the problem has been fixed by Apple. It works well on my side now.

[2021-09-06 11:34] rizafran commented on #8617
Hi @siddeshpillai,

Based on the files you provided, this doesn't look like the usual setup for iOS. Could you confirm if you're using the C++ SDK? Thanks.

[2021-09-06 12:32] csepukar commented on #8438
I am getting the same issue when both Dynatrace, as well as firebase, are used at the same time for analytics. Any help would be greatly appreciated.

[2021-09-06 18:48] NeverwinterMoon opened #8627 "addIDTokenDidChangeListener not called when the ID token expires"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 12.5.1
  * Firebase SDK version: 7.8.0
  * Installation method: `Swift Package Manager`
  * Firebase Component: Auth

### [REQUIRED] Step 2: Describe the problem

By reading these docs for `addIDTokenDidChangeListener`:

I understood that every time the ID token is expired, the callback will be executed and I can read the new ID

[2021-09-07 01:03] #8571 closed

[2021-09-07 01:03] #8553 closed

[2021-09-07 07:23] TonyWatsons commented on #8438
@harp79 would you please check with firebase team on the compatibility, although I prefer on using of dynatrace, if this issue is not able to resolved, we have no choice to pick another platform

[2021-09-07 07:54] isaranjha commented on #7043
Not feasible, unfortunately. Even if it was, seems like more of a workaround than a solution for Catalyst which has been widely adopted for going on a year now. The solution is Catalyst support. The tolerable workaround for many is going to be being able to at least use Analytics for iOS.

[2021-09-07 12:07] bluelagon opened #8628 "crash on FPRDecodeString when using Thread Sanitizer"
### Step 0: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ please use the Feature Request template.
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the `firebase` tag.
  * For general (non-iOS) Firebase discussion, u

[2021-09-07 12:39] bluelagon commented on #8628
For information I get the crash only on the simulator and not from a device. On the simulator I tested on a: iPhone 12 mini / iOS 14.5

[2021-09-07 12:56] harp79 commented on #8438
@TonyWatsons both stacktraces mentioned in this ticket show that it is a memory corruption problem as it crashes on release of an object. So as mentioned in  https://github.com/firebase/firebase-ios-sdk/issues/8438#issuecomment-890257940 it is pretty unlikely that this is caused by Dynatrace or Firebase. But adding one or both frameworks can indeed have an impact on the frequency this problem surf

[2021-09-07 14:20] maksymmalyhin commented on #8622
The failed jobs seems to be flakes. I re-ran the jobs to validate.

[2021-09-07 14:32] rizafran commented on #8628
Hi @bluelagon, I've tried to enable the Address Sanitizer via Edit Schemes and run my sample app to iPhone 12 mini simulator, but I wasn't able to get the same crash. Have you tried to update your SDK using the `pod update` command and see if the issue persists? Also, you may share the full error logs you've encountered. Thanks.

[2021-09-07 15:59] katowulf commented on #7341
Turning on debug logging will tell you everything RTDB is doing. You should be able to see if it's still referencing the old token through the logs. A significant question here is: Does changing the target in XCode have anything to do with production environments? If not, it seems like the error is fairly superfluous, since clients wouldn't change out the database instance in mid flight.

Also, it

[2021-09-07 17:29] #8423 closed

[2021-09-07 18:11] maksymmalyhin commented on #8622
All jobs succeeded after re-running.

[2021-09-07 18:11] #8622 closed

[2021-09-07 19:01] schlingding commented on #6564
Are there any updates for supporting Firebase SPM as Binary targets?

In about 8 hours or so I implemented this myself with trial and error using the XCFrameworks downloaded from the Firebase site. The XCFrameworks zipped up need to be hosted which is less than ideal. Any framework specific resources still need to be added such as `gRPCCertificates-Cpp.bundle`.

Compile and run time is a HUGE diff

[2021-09-08 01:44] TonyWatsons commented on #8438
@harp79 But after we remove Dynatrace from the package for testing for more than a month, it did not have even 1 hit of related crash, is it related to the problem on Dynatrace SDK itself?

[2021-09-08 01:54] TonyWatsons commented on #8438
@harp79
For more information, our app updated since 21 Jul 2021, and til 7 Sept 2021, there have no more related crashes after dynatrace sdk is removed from the package. Could you help in your side to deeply check on the SDK compatibility as it not a single case?

[2021-09-08 10:16] harp79 commented on #8438
A crash because of memory corruption is not a compatibility issue - Dynatrace and Firebase work well together. I can't rule out that there is a memory problem in our SDK, but as we did not get any other reports from customers of a similar crash we do not have hints at such a problem. If you think this really is a Dynatrace SDK problem then this should be continued as a Dynatrace support ticket - b

[2021-09-08 10:32] TonyWatsons commented on #8438
@harp79 that's why I open both tickets in dynatrace and firebase,  please refer https://one.dynatrace.com/hc/en-us/requests/6344. and according to the thread consult, your side agreed to follow in the ticket here.

For what I proven is it's not crash by our app while happens when firebase and dynatrace is co-existing.

And I don't agree I am a single case as you can see @csepukar  is facing simila

[2021-09-08 11:22] harp79 commented on #8438
well - the issue that was reported with https://one.dynatrace.com/hc/en-us/requests/6344
had the same crash as reported with https://github.com/firebase/firebase-ios-sdk/issues/6318 and https://github.com/firebase/firebase-ios-sdk/issues/7935 - no Dynatrace involved, also no outcome...
Without a way to reproduce this will be a tough nut to crack. A memory dump at time of crash might be of some hel

[2021-09-08 12:52] rmorrin commented on #4856
Has there been any updates on this? We're still observing the same functionality in the DebugView over 1 year later...

[2021-09-08 13:06] github-actions[bot] opened #8630 "Nightly Testing Report"
# Nightly Testing Report
This issue([log](https://github.com/firebase/firebase-ios-sdk/actions/runs/1213427358)) is generated at 09/08/2021 06:06 AM, fetching workflow runs triggered in the last 24 hrs.
| Workflow |09/07|
| -------- | -------- |
| [storage](https://github.com/firebase/firebase-ios-sdk/blob/master/.github/workflows/storage.yml) | [failure](https://github.com/firebase/firebase-ios-s

[2021-09-08 13:10] ncooke3 commented on #8630
`storage` had a qs failure and `messaging` had one failing watchos spm test. Both seemed like flakes though. Kicked off a de-flake.

[2021-09-08 13:33] dconeybe commented on #8623
Hi @sspogra. Thank you for reporting this crash. Based on the information you provided, this appears to be a duplicate of #8607, which was fixed by #8610. Although the fix is not yet released, you could test it out by following the instructions here: https://github.com/firebase/firebase-ios-sdk/issues/8612#issuecomment-911882931.

In the Xcode screenshot you provided, the left pane is too small ho

[2021-09-08 14:31] elenadoty commented on #8464
Glad to hear this seems to have been resolved, but feel free to reopen if you're still affected.

[2021-09-08 14:31] #8464 closed

[2021-09-08 18:03] ncooke3 commented on #8630
all green on the re-run

[2021-09-08 18:03] #8630 closed

[2021-09-08 21:45] sam-gc commented on #8627
Hi @NeverwinterMoon, thanks for reaching out. The token will not automatically refresh itself on its own when it expires. (The exception is that it _will_ automatically refresh if you're connected to another service like Cloud Firestore or the Realtime Database). Instead of using the change listener, I would suggest calling `user.getIDToken` every time you make a call to your back-end. This functi

[2021-09-08 21:48] sam-gc commented on #8624
Hi @Macacoazul01, thanks for filing this request. Unfortunately the button is necessary to avoid issues with redirects without user interaction. We cannot remove it easily because it may break in non-obvious ways for different users on different devices. With that said, we will keep the issue open for now and mark it as a feature request so that others may chime in if they wish.

[2021-09-08 21:52] Macacoazul01 commented on #8624
@sam-gc Is there any possibility to add a parameter to make that button optional?

[2021-09-08 21:55] guigoruiz1 commented on #8624
@sam-gc I think the problem here is that the button closes the authentication flow even though it reads "continue to app" rather than "cancel". So a user would click the button thinking they are proceeding with the authentication but it would close it and raise an error message instead. The logic behaviour would be for the button to redirect to the authentication flow.

[2021-09-08 21:57] Macacoazul01 commented on #8624
Like @guigoruiz1 said, the current text is very ambiguous and can confuse the user

[2021-09-09 01:53] siddeshpillai commented on #8617
@rizafran I'm using Qt Framework for building this iOS app. Yes, I confirm I'm using the C++ SDK. I'm linking them manually using QMAKE.

[2021-09-09 02:07] mattstevens commented on #8594
I'm able to reproduce the issue with SDK version 8.6.1, and I've confirmed that no missing dSYMs are reported for this build. As before if I manually symbolicate against the dSYM that was uploaded to Crashlytics I get accurate line number information.

[2021-09-09 07:51] TonyWatsons commented on #8438
@harp79 the crash report already embed in https://one.dynatrace.com/hc/en-us/requests/6344 initial thread. please make it as reference for study. Those are dump from crashlytics.

And we have no chance to remove firebase from our package since we are ecomm app and our business rely on it for analytics for business analysis.

[2021-09-09 07:53] jorydekort opened #8636 "Xcode 13 Beta 5 warning about NSKeyedUnarchiver validateAllowedClass"
### My environment

  * Xcode version: Xcode 13 beta 5
  * Firebase SDK version: 8.7.0
  * Installation method: CocoaPods
  * Firebase Component: Core, CoreDiagnostics, Crashlytics,

### The problem

Run a project with FirebaseCrashlytics embedded. Warning will show on launch:

[code]

[2021-09-09 08:44] artalejo commented on #7406
Any update on this? I have the same issue when using a custom domain and trying to open it in iPads.

[2021-09-09 09:08] iamszabo opened #8637 "Carthage binary contains Firebase.framework instead of xcframework"
### Step 0: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ please use the Feature Request template.
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the `firebase` tag.
  * For general (non-iOS) Firebase discussion, u

[2021-09-09 13:06] github-actions[bot] opened #8638 "Nightly Testing Report"
# Nightly Testing Report
This issue([log](https://github.com/firebase/firebase-ios-sdk/actions/runs/1217410370)) is generated at 09/09/2021 06:06 AM, fetching workflow runs triggered in the last 24 hrs.
| Workflow |09/08|
| -------- | -------- |
| [mlmodeldownloader](https://github.com/firebase/firebase-ios-sdk/blob/master/.github/workflows/mlmodeldownloader.yml) | [failure](https://github.com/fir

[2021-09-09 16:15] alanf opened #8639 "Firebase performance, Realm usage together lead to sporadic crashes"
* Xcode version: 12.5.1
  * Firebase SDK version: 6.33.0
  * Installation method: `CocoaPods`
  * Firebase Component: Performance

#### Steps to reproduce:

What happened? How can we make the problem occur?

Adding performance instrumentation to a codebase with Realm causes the crash to sporadically occur, likely due to swizzling conflicts.

See discussion [here](https://github.com/realm/realm-coc

[2021-09-09 16:21] ncooke3 commented on #8639
Hi @alanf,

Thanks for reporting this and linking the to that discussion thread. We'll have the performance team take a closer took at the issue and report back with our findings.
cc: @maksymmalyhin @visumickey

[2021-09-09 18:20] eldhosembabu commented on #7087
This seems like purposefully introduced in PR: https://github.com/firebase/firebase-ios-sdk/pull/2563

[2021-09-09 18:31] morganchen12 commented on #8617
@siddeshpillai are you able to receive notifications sent directly via APNs?

[2021-09-09 20:48] ncooke3 commented on #8638
kicked off a deflake

[2021-09-09 21:56] maksymmalyhin opened #8640 "Remote Config: inaccurate nullability annotations"
In Firebase 8 the Remote Config API has the following inaccurate nullability annotations:
- [[FIRRemoteConfig remoteConfig]](https://github.com/firebase/firebase-ios-sdk/blob/11b1a353e1d2a93b1583f56481df5a09391561ab/FirebaseRemoteConfig/Sources/Public/FirebaseRemoteConfig/FIRRemoteConfig.h#L162). The return value is marked as `nonnull` but the implementation actually can return `nil`
- [[FIRRemote

[2021-09-10 00:31] siddeshpillai commented on #8617
@morganchen12 No I haven't tried that yet. But I can give it a shot and keep you posted.

[2021-09-10 00:43] yalunqin commented on #8639
Hi @alanf

Thanks for reporting this issue. Can you also provide the Firebase Performance SDK version (you can find it in Podfile.lock) and Realm version that have this issue?

[2021-09-10 00:54] alanf commented on #8639
@yalunqin sure, thanks for following up. Here's the relevant Firebase portion of our Podfile:

[code]

and Realm:

[code]

Let me know if I can send any other info!

[2021-09-10 04:41] willbattel opened #8641 "FR: Add readTime property to Firestore DocumentSnapshot"
### Feature proposal

* Firebase Component: Firestore

My team has a use case where our clients are frequently reading from a particular collection that we don't need kept fully up to date on the client- but we want to periodically refresh. We want to cache the snapshot data on the device, and only perform a server read if the cached document is beyond some defined TTL.

We can use an alternative

[2021-09-10 09:48] res0nance opened #8642 "FR: Firebase License"
### Feature proposal

* Remove the APPENDIX section within the license
* https://github.com/firebase/firebase-ios-sdk/blob/11b1a353e1d2a93b1583f56481df5a09391561ab/LICENSE#L179-L202

Issues stems from installing firebase via cocoapods, this causes the entire appendix to be added to the acknowledgements file.
Perhaps the appendix should be added to a separate file instead of the main `LICENSE` file

[2021-09-10 13:43] ncooke3 commented on #8638
`zip` is due to secret changes on test project console. Will be fixed once #8632 merges.
`spm` had two separate messaging failures. Messaging seems to be flaky so kicked off a deflake.
`release` is still running
`segmentation` looks green so im unsure why it was reported as a failure

[2021-09-10 14:37] wu-hui commented on #8641
I think you could try to use [getDocuments with source](https://firebase.google.com/docs/reference/swift/firebasefirestore/api/reference/Classes/Query#/c:objc(cs)FIRQuery(im)getDocumentsWithSource:completion:).

You can do `getDocument(source:.server)` or `default`, and save the local device time as your read time. Within your TTL, you could then do `getDocument(source:cache)`, and only get from s

[2021-09-10 15:37] willbattel commented on #8641
Sorry, I wasn't clear enough in my request. I meant that we already use the `source` API, and we just want the `readTime` exposed on the snapshot so that we don't have to save and lookup the read time ourselves in an auxiliary cache. What you describe is what we already plan to do as the **workaround**, we're requesting this feature as a convenience so that developers don't have to save the `readT

[2021-09-10 15:50] spirit-jsb opened #8643 "leveldb has been to checking out when i use SwiftPM install Firebase SDK"
### Step 0: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ please use the Feature Request template.
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the `firebase` tag.
  * For general (non-iOS) Firebase discussion, u

[2021-09-10 15:55] spirit-jsb commented on #8643
oh no.... it's work! i don't know why leveldb checking out so much slow

[2021-09-10 17:26] morganchen12 commented on #8643
Slowness may be caused by your network, or by GitHub if there's a service degradation. You can try checking out leveldb manually with the `--verbose` flag for more details.

[2021-09-10 17:26] #8643 closed

[2021-09-10 17:33] morganchen12 commented on #8639
Hi @alanf, the version of Firebase you're using is over two years old. Can you try upgrading to the latest version of Firebase?

[2021-09-10 17:54] wu-hui commented on #8641
Actually, exposing `readTime` would not help as much here, because you would then compare `readTime` to the local device time to calculate if it is out of TTL, wouldn't you? This is bad because the two time stamps are from two different source, and are not meant to be compared against each other.

Note although `readTime` in snapshots generally reflects read world time, it is not a guarantee, and

[2021-09-10 18:24] willbattel commented on #8641
Yes, that's right. In our case, this wouldn't be a problem because our TTLs are fairly long and we don't require much precision- but I can see how that could be a source of flakiness for other scenarios. You would probably have to add an entirely new API to fetch the current "Firestore time" in order to perform the comparison.

In our case this would be nice to have, but I understand the potential

[2021-09-10 20:56] #8638 closed

[2021-09-11 01:47] yalunqin commented on #8639
Hi @alanf , I didn't see any crash using Firebase 8.7.0 + RealmSwift 10.15.0 (The Realm Swift code was [this](https://docs.mongodb.com/realm/sdk/ios/quick-start/#complete-example)).  Can you upgrade to those versions and try again? If it still crashes, can you provide the sample code (especially the Realm part)?

[2021-09-11 02:46] tringuyen623 opened #8648 "Undefined symbol: _OBJC_CLASS_$_FIRApp"
### Step 0: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ please use the Feature Request template.
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the `firebase` tag.
  * For general (non-iOS) Firebase discussion, u

[2021-09-11 13:05] github-actions[bot] opened #8649 "Nightly Testing Report"
# Nightly Testing Report
This issue([log](https://github.com/firebase/firebase-ios-sdk/actions/runs/1224378409)) is generated at 09/11/2021 06:05 AM, fetching workflow runs triggered in the last 24 hrs.
| Workflow |09/10|
| -------- | -------- |
| [messaging](https://github.com/firebase/firebase-ios-sdk/blob/master/.github/workflows/messaging.yml) | [failure](https://github.com/firebase/firebase-i

[2021-09-12 07:43] KyLeggiero commented on #8517
@paulb777

Mac Catalyst is using UIKit to compile and run native macOS apps.

I'm talking about taking iOS apps, compiled for iOS, doing literally nothing different with them, and running them on macOS. This is only possible on M1 Macs because they have the same exact processor architecture as iPhones and iPads.

[2021-09-12 09:18] kou-yamamoto opened #8650 "FireBase installed via SPM is not working with Google-Mobile-Ads-SDK"
When I installed Firebase via SPM, I could not build my app.

<details>
<summary> error is here </summary>

duplicate symbol '_FBLPromiseRetryDefaultAttemptsCount' in:
    /Users/kouyamamoto/Library/Developer/Xcode/DerivedData/BTS-fvvyxlwpnvsgznaijaymrvqdznpv/Build/Products/Debug-iphonesimulator/FBLPromises.o
    /Users/kouyamamoto/Library/Developer/Xcode/DerivedData/BTS-fvvyxlwpnvsgznaijaymrvqdzn

[2021-09-12 10:02] edias commented on #6115
Did you manage to overcome this issue @sgammon ? If so, how did you do that?

[2021-09-13 01:03] #8601 closed

[2021-09-13 01:03] #8591 closed

[2021-09-13 02:24] tringuyen623 commented on #8648
Does anyone have the same issue like me?

[2021-09-13 10:01] qbarev commented on #7475
Hello.
I had same issue at May 2021.
Is there are any solutions?
Thank you.

[2021-09-13 11:26] chauhan130 opened #8651 "The DebugView shows the user property even if the app has removed it."
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 12.5.1
  * Firebase SDK version: Analytics (7.5.0)
  * Installation method: `CocoaPods`
  * Firebase Component: Analytics

### [REQUIRED] Step 2: Describe the problem
The DebugView shows the user property even if the app has removed it. The firebase debug logs claims the same.

#### Steps to reproduce:
1. Add a user property with

[2021-09-13 13:20] maksymmalyhin commented on #8649
All 3 failures look like flakes. I kicked off re-running the jobs.

TODO: Create an issue to investigate FCM flake if it happens again.

[2021-09-13 14:25] wu-hui commented on #8641
Well, the "reason" was we forgot to remove them from API, it was an oversight...

[2021-09-13 15:12] maksymmalyhin opened #8652 "FCM flaky tests"
FCM test `-[FIRMessagingTokenManagerTest testResetCredentialsWithNoCachedCheckin]` is regularly fails in nightly builds. Sometimes (but not always) the test passes after re-run. See failure examples:
- https://github.com/firebase/firebase-ios-sdk/runs/3587412371?check_suite_focus=true#step:4:10085
- https://github.com/firebase/firebase-ios-sdk/runs/3578204793?check_suite_focus=true#step:4:677

[2021-09-13 15:12] maksymmalyhin commented on #8649
#8652 created for FCM failures.

[2021-09-13 15:37] rizafran commented on #8648
Hi @tringuyen623, it is usually an issue with the project settings. Could you please provide a sample project reproducing the issue? Thanks.

[2021-09-13 15:59] chliangGoogle commented on #7475
@qbarev Do you mind share with us the debugLog? Also are you using the latest SDK as we recently fix an issue related to token generation.

[2021-09-13 18:11] alanf commented on #8639
@yalunqin thank you for calling this out, we will get on an up-to-date version of Firebase and report back.

[2021-09-13 18:17] qbarev commented on #7475
I have no access to logs unfortunately.

I don't remember certain version of firebase. Maybe 8.0.0 and lower judging by the release dates.

Does this problem fixed in current version? (Or in 8.6.1) I have to ask because the problem is with a certain percentage of users and is difficult to reproduce.

Thank you.

[2021-09-13 18:28] chliangGoogle commented on #7475
We can't reproduce on iOS and @android-maker reports this also happens on Android.

If you can reproduce with debugLog would be much easier for us to identify the issue.

[2021-09-13 18:42] rizafran commented on #8651
Hi @chauhan130, I've tried to reproduce the issue, and I was able to get the same behavior. I've made a follow up in the existing bug found on the issue #4856. I'll let you know once I've got an update from them. Thanks.

[2021-09-13 19:22] chliangGoogle commented on #8652
hmm I'm having trouble reproduce. I tried resetting the simulator and cleaning the project build and test results. And I tested SPM and nonSPM as well.
I wonder what nightly build setup is different than mine.

[2021-09-13 21:16] android-maker commented on #7475
@qbarev I fixed the problem by removing a call within my code (Android) where the token was deleted from the cache in the app and when you request a new token from FCM it basically generates a new one for you.  This was not linked to any particular SDK as it was happening across all SDKs for me. I think there was a change made in the FCM backend and its behavior was modified to generate a new toke

[2021-09-14 10:58] rizafran commented on #8650
Hi @kou-yamamoto, could you provide the following details so I could have a better idea of the issue you're having:

- Detailed steps to reproduce the issue
- Firebase SDK product(s) you're trying to install
- Xcode version used

[2021-09-14 11:04] crleonard opened #8655 "Issue with Dynamic Links with Xcode 13"
There seems to be an issue with FirebaseDynamicLinks when running on Xcode 13.

Call `FirebaseApp.configure()` from app delegate, when `/FIRDLJavaScriptExecutor.m` is hit, the line `  [_wkWebView loadHTMLString:htmlContent baseURL:nil];` causes a crash with the result of `Thread 1: EXC_BAD_ACCESS (code=1, address=0x10)`.

[2021-09-14 13:07] #8649 closed

[2021-09-14 13:23] kou-yamamoto commented on #8650
@rizafran Thank you for replying me too fast. here is information you need.

### Detailed steps to reproduce the issue

1. install `Google-Mobile-Ads-SDK` and  `GoogleMobileAdsMediationFacebook` via Cocoa Pods
2. install `Firebase` via Swift Package Manager

### Detailed steps to reproduce the issue

- FirebaseAnalytics
- FirebaseStorage
- FirebaseMessaging
- FirebaseAuth
- FirebaseFirestoreSwift

[2021-09-14 13:57] #8641 closed

[2021-09-14 20:50] ryanwilson commented on #8655
Hey @crleonard, sorry for the troubles. It looks like this is similar to #7618 - can you please share which version of Firebase you're using, update to the latest if you're not on it, and let us know if it's resolved?

[2021-09-14 23:38] hb24324 commented on #7704
@christibbs Any update when do you plan to drop the fix?

[2021-09-15 01:42] tringuyen623 commented on #8648
This is sample project: https://gitlab.com/tringuyen623/sample-project-with-firebase.git

[2021-09-15 09:41] rizafran commented on #8650
Thanks for providing some details, @kou-yamamoto. Based on my understanding, you installed Firebase SDKs via SPM and installed the Ads SDK via CocoaPods. Could you confirm if this is correct? If so, I've tried to reproduce this by following the steps you shared, but I was able to build my sample app.

[2021-09-15 11:11] rizafran commented on #8648
Thanks for sharing your project @tringuyen623. Per checking, the project is only accessible if there's a GitLab account. With this, is it possible for you to share your sample project publicly?

[2021-09-15 11:54] tringuyen623 commented on #8648
I'm sorry, I already public it

[2021-09-15 13:06] github-actions[bot] opened #8657 "Nightly Testing Report"
# Nightly Testing Report
This issue([log](https://github.com/firebase/firebase-ios-sdk/actions/runs/1237721747)) is generated at 09/15/2021 06:06 AM, fetching workflow runs triggered in the last 24 hrs.
| Workflow |09/14|
| -------- | -------- |
| [mlmodeldownloader](https://github.com/firebase/firebase-ios-sdk/blob/master/.github/workflows/mlmodeldownloader.yml) | [failure](https://github.com/fir

[2021-09-15 13:33] skaldic opened #8658 "Authentication is replacing providers instead of merging them"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 12.5.1
  * Firebase SDK version: 8.70
  * Installation method: `CocoaPods`
  * Firebase Component: Auth

### [REQUIRED] Step 2: Describe the problem

#### Steps to reproduce:

What happened? How can we make the problem occur?

A user creates an account using the regular (email+password) provider, logs out and then uses a social p

[2021-09-15 13:38] maulikm235 commented on #8427
the issue is not solved yet.

[2021-09-15 13:46] ncooke3 commented on #8657
`ml` failed on macos pod lib lint. the error wasn't clear so i kicked off a deflake. Im thinking it was a flake

[2021-09-15 14:00] chliangGoogle commented on #8427
@maulikm235 The debugLog looks normal to me. Can you double check how you call the API to see if you ever assign a different thread calling display the UI and not coming back to main thread in call back function? This is usually causing UI freeze.

[2021-09-15 14:05] maulikm235 commented on #8427
as i mentioned before, it stuck at run time only, when i try to run in debug mode then it will work perfectly. so how can i give you log for run time issue? also all is managed from SDK. if there is a thread issue then it is from SDK side because i am not handling that thread. please check issue from SDK side.

[2021-09-15 14:07] ncooke3 commented on #8657
green on deflake

[2021-09-15 14:07] #8657 closed

[2021-09-15 15:08] chauhan130 commented on #8651
Thank you @rizafran.

[2021-09-15 18:00] rizafran commented on #8658
Hi @skaldic, it seems that the issue you're encountering is an intended behavior. For security reasons, if a user signs up with unverified email/password, and then the user signs in with Apple or Google using the same email, the email/password provider will be removed as we can't verify that the original user owns that email. You may check this [page](https://firebase.google.com/docs/auth/users#ve

[2021-09-16 01:35] kou-yamamoto commented on #8650
@rizafran Thanks for replying me.

`you installed Firebase SDKs via SPM and installed the Ads SDK via CocoaPods`

yes, that's right.

may be the cause of this is M1 Macbook or other library.

So, I will make another project to know the cause.

[2021-09-16 02:21] fr-zhangduanfang opened #8659 "Couldn't build with import FirebaseInAppMessagingBinary and FirebaseRemoteConfigBinary at the same time with carthage"
### Step 0: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ please use the Feature Request template.
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the `firebase` tag.
  * For general (non-iOS) Firebase discussion, u

[2021-09-16 02:59] #8659 closed

[2021-09-16 03:00] fr-zhangduanfang opened #8660 "Couldn't import FirebaseRemoteConfigBinary and FirebaseInAppMessagingBinary at the same time with Carthage"
### Step 0: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ please use the Feature Request template.
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the `firebase` tag.
  * For general (non-iOS) Firebase discussion, u

[2021-09-16 05:10] sspogra opened #8661 "FIRESTORE INTERNAL ASSERTION FAILED: Trying to compare documents on fields that don't exist. (expected value1.has_value() && value2.has_value())"
### Step 0: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ please use the Feature Request template.
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the `firebase` tag.
  * For general (non-iOS) Firebase discussion, u

[2021-09-16 05:25] maulikm235 commented on #8427
### **Pod files**

[code]

### **Import Firebase**

[code]

### **Appdelegate**

[code]

### **Viewcontroller**

[code]

**Please check and let me know where is the issue? also if FIAM not using code in the main thread then it is an SDK bug, it needs to be solved, this issue is for a long time now.**

[2021-09-16 06:46] skaldic commented on #8658
Fair enough, but why did it behave differently a week ago ?

[2021-09-16 07:28] kkevin commented on #8438
I am running into the same issue.
Anyone found the fix?

Dynatrace: 6.2.7.1063 Firebase SDK: 8.4.0

[2021-09-16 08:28] harp79 commented on #8438
the only update I can provide is that we had another customer inquiry about that problem, but for them it worked fine again with only Dynatrace and no Firebase... so sadly not closer to a solution, but this hints more at it being either a Firebase problem triggered by Dynatrace or an unknown incompatibility...
@kkevin a 6.x version of Dynatrace (with that version number presumably AppMon) is out o

[2021-09-16 08:44] domagojstankovic opened #8662 "Auth fails to insert item in keychain with error "securityd insert failed for item""
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 12.5.1 (12E507)
  * Firebase SDK version: 7.10.0
  * Installation method: `CocoaPods`
  * Firebase Component: Auth, Firestore

Note: this is a legacy app so it's not easy for us to update to the latest version since it will require major refactor.

### [REQUIRED] Step 2: Describe the problem

#### Steps to reproduce:

We have iss

[2021-09-16 10:05] rizafran commented on #8594
Thanks for sharing your findings, @mattstevens. I've discussed this with the team, and we've filed an internal bug (b/200064220) in order to investigate what's causing it.

[2021-09-16 12:11] maulikm235 commented on #8427
did you find the issue?

[2021-09-16 12:18] rizafran commented on #8650
Thanks for confirming, @kou-yamamoto. I'll wait for your reply to see if the issue persists on a new project.

[2021-09-16 13:07] github-actions[bot] opened #8663 "Nightly Testing Report"
# Nightly Testing Report
This issue([log](https://github.com/firebase/firebase-ios-sdk/actions/runs/1241676524)) is generated at 09/16/2021 06:06 AM, fetching workflow runs triggered in the last 24 hrs.
| Workflow |09/15|
| -------- | -------- |
| [messaging](https://github.com/firebase/firebase-ios-sdk/blob/master/.github/workflows/messaging.yml) | [failure](https://github.com/firebase/firebase-i

[2021-09-16 15:41] rizafran commented on #8661
Hi @sspogra, could you provide a symbolicated stack trace and details on what your app is doing when the crash occurred? Thanks.

[2021-09-16 16:35] miracle101000 opened #8664 "'com.google.firebase.firestore', stop reason = EXC_BAD_ACCESS (code=1, address=0x11a7f8017)"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version:  12.3 (12C33)
  * Firebase SDK version:  `8.5.0`
  * Installation method: `CocoaPods`
  * Firebase Component:  `Cloud firestore`

App crashes when trying to open a page with a list of query snapshots

Error message
*thread#51, queue = 'com.google.firebase.firestore', stop reason = EXC_BAD_ACCESS (code=1, address=0x11a7f8017)

[2021-09-16 16:48] morganchen12 commented on #8664
Hi @miracle101000, the iOS SDK's latest version is 8.7.0, not 9.x. Can you share your `Podfile.lock`?

[2021-09-16 17:05] morganchen12 commented on #8662
This error will be difficult to debug without repro steps, since something in the security framework is causing Auth to not be able to save data to the keychain. Can you try isolating repro steps from the user who experienced this issue?

[2021-09-16 17:06] miracle101000 commented on #8664
PODS:
  - abseil/algorithm (0.20200225.0):
    - abseil/algorithm/algorithm (= 0.20200225.0)
    - abseil/algorithm/container (= 0.20200225.0)
  - abseil/algorithm/algorithm (0.20200225.0):
    - abseil/base/config
  - abseil/algorithm/container (0.20200225.0):
    - abseil/algorithm/algorithm
    - abseil/base/core_headers
    - abseil/meta/type_traits
  - abseil/base (0.20200225.0):
    - abseil

[2021-09-16 17:09] miracle101000 commented on #8664
@morganchen12 i have changed it.

[2021-09-16 18:42] domagojstankovic commented on #8662
Unfortunately not, we are unable to reproduce it, it happens randomly.
It would help a lot even if we knew if this error is caught and handled by Firebase SDK or does it bubble up to the surface and reaches our code.

[2021-09-16 19:42] rizafran commented on #8648
@tringuyen623, could you try to link the other needed frameworks from the Carthage/Build folder to your Xcode project and see if the issue will persist?

[2021-09-16 20:25] mplorentz commented on #8636
This is still happening with Xcode 13 RC.

[2021-09-16 20:37] rizafran commented on #8660
Thanks for reporting, @fr-zhangduanfang. I've tried to install the FirebaseRemoteConfigBinary and FirebaseInAppMessagingBinary in my sample project, but I found them in my Carthage/Build folder:

<img width="421" alt="Screen Shot 2021-09-17 at 4 05 34 AM" src="https://user-images.githubusercontent.com/56452638/133679051-73740bd0-f9d3-4639-bcdd-9bc504ce17e9.png">

Is the issue reproducible even whe

[2021-09-16 21:35] ncooke3 commented on #8636
Hi there, sorry for the trouble. I wasn't able to reproduce Xcode 13 (both beta 5 and RC) in a project using Crashlytics. A few follow-up questions to help debug the issue:
- Is there anymore context in the logs as to where this warning is originating from?
- Could you share the `Podfile.lock`?

- Alternatively, if you're able to create a mini project that reproduces the issue, please share as it

[2021-09-16 22:44] miracle101000 commented on #8664
I finally fixed the problem.
The issue was that i set` maxConcurrenttasks to 100`  while using `flutter_downloader` package in my info.plist and i think it somehow conflicted with firebase background tasks.
I finally reduced it to the number 5.
`<key>FDMaximumConcurrentTasks</key>`
 `<integer>5</integer>`

[2021-09-16 22:53] filipealva commented on #8325
Is this queued for implementation already?

[2021-09-17 00:57] tringuyen623 commented on #8648
@rizafran  I already tried, but it still happen.
I use Mac M1 chip

[2021-09-17 01:03] #8619 closed

[2021-09-17 04:32] sspogra commented on #8661
Hello @rizafran Here is the stack trace

Fatal Exception: NSInternalInconsistencyException
0  CoreFoundation                 0x1aac9e754 __exceptionPreprocess
1  libobjc.A.dylib                0x1bf7657a8 objc_exception_throw
2  CoreFoundation                 0x1aaba03f8 -[CFPrefsSearchListSource addManagedSourceForIdentifier:user:]
3  Foundation                     0x1abfc7a6c -[NSAssertionHandle

[2021-09-17 06:24] bruce-ios commented on #8637
I have the same issue. How to fix it?

![截圖 2021-09-17 14 24 15](https://user-images.githubusercontent.com/86638966/133734617-983205a0-5a17-46d7-9176-a2f59d69f6cf.png)

[2021-09-17 09:14] maulikm235 commented on #8427
waiting for SDK issue solution from your side.

[2021-09-17 14:36] rizafran commented on #8648
Thanks for letting me know, @tringuyen623. I just want to confirm if you have followed the "Delete Firebase.framework from the Link Binary With Libraries Build Phase." step in the [Carthage instructions](https://github.com/firebase/firebase-ios-sdk/blob/master/Carthage.md#carthage-usage)? Also, you may try to `import FirebaseCore` as a workaround.

[2021-09-17 14:52] kou-yamamoto commented on #8650
@rizafran  In my project, everything went well.

### what I did
I deleted `PromiseKit` and `URLEmbededView` and deintegrated pod .  after that, install pod.

maybe `PromiseKIt` or `URLEmbededView`, `Project cache` is the cause.

thank you!!

[2021-09-17 15:27] rizafran commented on #8650
Thanks for the update, @kou-yamamoto. I'm glad to hear that the issue has been resolved. I'll be closing this for now, but feel free to reopen if you encounter the issue again.

[2021-09-17 15:27] #8650 closed

[2021-09-17 16:12] rizafran commented on #8661
@sspogra, it seems that your issue is similar to #7082. Unfortunately, we can't do much without more details since the stack trace provided has missing symbols. Is it possible for you to [enable logging](https://gist.github.com/katowulf/0475fb7a5907ed757f687aab6ed15878) and share it with us or provide more info (a repro, logs or a lot more details on what your app is doing)? Thanks.

[2021-09-17 16:27] kou-yamamoto opened #8666 "FirebaseFirestoreSwift is not working when installed via Swift Package Manager"
### My Environment

  * Xcode version: 12.5.1
  * Firebase SDK version: 8.7.0
  * Installation method: `Swift Package Manager`
  * Firebase Component: FirestoreSwift

### Describe the problem

- When I installed FirebaseFirestoreSwift via Swift Package Manager, `Type Firestore has no member Dedocer` error is shown.

<img src="https://user-images.githubusercontent.com/71382628/133821854-64c4dbe0-6f

[2021-09-17 16:29] Afinque commented on #8648
Yes, I'm seeing the same error. I used Swift Package Manager, though, not sure if that's relevant or not.

[2021-09-17 18:15] rizafran commented on #8658
@skaldic, based on the [docs](https://firebase.google.com/docs/auth/users#verified_email_addresses):

In your case, if the email/password account is verified, then signing in with Apple/Google account will keep both providers on the account.

[2021-09-17 19:00] dconeybe commented on #8664
Can you also show the full stack trace?

[2021-09-17 19:14] miracle101000 commented on #8664
@dconeybe

`* thread #27, queue = 'com.google.firebase.firestore', stop reason = EXC_BAD_ACCESS (code=1, address=0x657269665f657378)
  * frame #0: 0x0000000107987518 FirebaseFirestore`std::__1::basic_string<char, std::__1::char_traits<char>, std::__1::allocator<char> >::__is_long(this="") const at string:1420:39
    frame #1: 0x0000000107981840 FirebaseFirestore`std::__1::basic_string<char, std::_

[2021-09-17 19:16] miracle101000 commented on #8664
<img width="1440" alt="Screen Shot 2021-09-18 at 3 14 55 AM" src="https://user-images.githubusercontent.com/83901702/133841888-0c3a3620-2d1f-4bff-b1c4-69386ba71df9.png">

[2021-09-17 19:27] dconeybe commented on #8664
Good news. This has already been reported (#8607) and fixed (#8610).

[2021-09-17 19:27] #8664 closed

[2021-09-17 19:38] miracle101000 commented on #8664
@dconeybe  Thanks i will check it out

[2021-09-17 20:14] lucianthorr commented on #4563
Any news on this topic?

[2021-09-18 03:23] fr-zhangduanfang commented on #8660
these were  the frameworks in my  cartfile

binary "https://raw.githubusercontent.com/AppsFlyerSDK/AppsFlyerFramework/master/Carthage/appsflyer-ios.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAnalyticsBinary.json" == 8.1.0
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseRemoteConfigBinary.json" == 8.1.0
binary "https://dl.google.com/dl/firebase/ios/carthage/

[2021-09-18 09:25] michaelhayman commented on #6521
Also seeing this issue in the JS SDK about 20 times a day.

[2021-09-18 13:55] bruce-ios opened #8667 "The code signature version is no longer supported. Firebase no supported xcframework"
### Step 0: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ please use the Feature Request template.
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the `firebase` tag.
  * For general (non-iOS) Firebase discussion, u

[2021-09-18 19:54] miracle101000 commented on #8664
For future purposes,
From #8610 and #8607  I understood that there was some sort of memory corruption and I believe this occurred because of multiple hot restarts that  I did repeatedly within little time difference (Flutter ios,).

In summary, I just deleted the app from my ios device, rebuilt it, and reinstalled it then everything worked fine.

[2021-09-19 07:13] sspogra commented on #8661
@rizafran  Another crash with different stack trace.
Fatal Exception: NSInternalInconsistencyException
FIRESTORE INTERNAL ASSERTION FAILED: Trying to compare documents on fields that don't exist. (expected value1.has_value() && value2.has_value())
0
CoreFoundation
__exceptionPreprocess
1
libobjc.A.dylib
objc_exception_throw
2
Foundation
-[NSMutableDictionary(NSMutableDictionary) initWithContentsOf

[2021-09-19 14:15] 0x0c commented on #7770
I got a same issue. I added phone number as MFA and it is +1-650-555-3434 which is suggested in Firebase document (https://firebase.google.com/docs/auth/ios/phone-auth).

[2021-09-19 14:32] 0x0c commented on #7770
Here is MCVE. https://github.com/0x0c/FirebaseAuthMFASamplePublic
I removed my `GoogleService-Info.plist`, `.entitlement` file for using Associated Domain feature, and some files that contains sensitive information such as `REVERSED_CLIENT_ID` in Info.plist.

[2021-09-20 06:34] chliangGoogle commented on #7475
Since the original post owner hasn't responded for a while and @android-maker also had it fixed. Close this issue and please open a new one if your case is different than the original post. Thanks!

[2021-09-20 06:34] #7475 closed

[2021-09-20 07:15] tringuyen623 commented on #8648
@rizafran I tried but nothing change, issue still exist

[2021-09-20 13:17] maksymmalyhin commented on #8652
seems like it's flaky internally as well, see cl/397422878.

[2021-09-20 14:47] rizafran commented on #8660
Hi @fr-zhangduanfang, it seems that the InAppMessagingBinary is not appearing in the Build folder because of the version specified in your Cartfile. Could you try removing version 8.1.0 or changing it to 8.7.0, then re-run `carthage update`, and see if the issue will persist?

[2021-09-20 14:48] maksymmalyhin commented on #8663
messaging fixed after a de-flake run.

I'm going to cancel and re-run zip and analytics.

[2021-09-20 14:51] maksymmalyhin commented on #8652
FCM tests are still flaky in nightly builds: #8663.

[2021-09-20 15:15] dconeybe commented on #8661
For the record, this is the assertion that is failing:

https://github.com/firebase/firebase-ios-sdk/blob/23b6acefb9afaf7dc4f5471a14fc087971878072/Firestore/core/src/core/order_by.cc#L42-L43

Although I can't confirm from the stack trace, this *could* be another symptom of the use-after-free bug in `LevelDbRemoteDocumentCache::GetAllExisting()` that was fixed by #8610.

Could you try upgrading to

[2021-09-20 15:21] alanf commented on #8639
We have the changes on a branch ready to go out, the next step is to see how it performs once it's released (may take 1-2 weeks to be live)

[2021-09-20 15:29] paulb777 commented on #8667
`Firebase.framework` should not be embedded. See the `Delete Firebase.framework from the Link Binary With Libraries Build Phase.` step at https://github.com/firebase/firebase-ios-sdk/blob/master/Carthage.md

Please review related issues or open another issue if you're still having trouble with Crashlytics when it is excluded.

[2021-09-20 15:29] #8667 closed

[2021-09-20 15:31] paulb777 commented on #8666
This may be an Xcode cache issue. Please try cleaning and rebuilding.

[2021-09-20 15:36] paulb777 commented on #8651
Closing in favor of the duplicate #4856

[2021-09-20 15:36] #8651 closed

[2021-09-20 15:46] paulb777 commented on #8642
The Google open source guidance is that the appendix should be included. See #7105 and https://opensource.google/docs/releasing/preparing/#license-file

What exactly is the issue you're seeing?  Perhaps there is a CocoaPods issue here?

[2021-09-20 15:49] paulb777 commented on #8639
I close this issue here since multiple crashes have been fixed since 6.x. Please open another issue if you still see crashes with 8.x.

[2021-09-20 15:49] #8639 closed

[2021-09-20 15:52] paulb777 commented on #8589
Closing - since there is no Firebase action here.

[2021-09-20 15:52] #8589 closed

[2021-09-20 15:55] paulb777 commented on #8524
Is this still an issue with the Xcode 13 RC?

[2021-09-20 15:56] paulb777 commented on #8376
Bumping since Xcode 13 is now RC

[2021-09-20 16:14] res0nance commented on #8642
In the case of cocoapods, what happens is that the autogenerated acknowledgements file includes the appendix, since its included in your license file.

With multiple firebase components this bloats the file considerably.

From my understanding this appendix is not required to be compliant with the license. So I was proposing it be removed. Though if google is of the opinion that they want the appe

[2021-09-20 16:25] paulb777 commented on #8642
Yep. Thanks for the report. Ideally there would be a way for multiple pods to share a license, but I'm not sure that's going to happen for CocoaPods.

[2021-09-20 16:25] #8642 closed

[2021-09-20 18:08] #7977 closed

[2021-09-20 19:02] RishatShamsutdinov opened #8671 "Crash with null reason in NSException doesn't appear on the dashboard"
### Step 1: Describe your environment

  * Xcode version: 12.5.1
  * Firebase SDK version: 8.6.0
  * Installation method: `CocoaPods`
  * Firebase Component: Crashlytics

### Step 2: Describe the problem

#### Steps to reproduce:

Throw a NSException with null reason and this crash will not appear on the dashboard.

#### Relevant Code:

[code]

[2021-09-20 20:04] paulb777 commented on #8637
`Firebase.framework` should not be embedded. See the `Delete Firebase.framework from the Link Binary With Libraries Build Phase` step at https://github.com/firebase/firebase-ios-sdk/blob/master/Carthage.md

[2021-09-20 20:04] #8637 closed

[2021-09-20 21:12] paulb777 commented on #6564
My perception is that build time is only an issue for Firestore. The rest of Firebase builds reasonably fast and it wouldn't be worth the complexity and reduced stability of SPM binary target support.

Given that, we can potentially consider a SPM variation of https://github.com/invertase/firestore-ios-sdk-frameworks that provides a binary Firestore SPM distribution and integrates with the rest of

[2021-09-20 21:39] alexfringes commented on #8524
I have not seen it on RC. When RC came out, I reverted the workaround Apple posted of disabling backtrace recording and have been using RC + simulators on an M1 without issues since then.

[2021-09-20 22:12] paulb777 commented on #8524
Good news! Thanks @alexfringes.  I'll close this for now.

[2021-09-20 22:12] #8524 closed

[2021-09-20 22:48] taschik commented on #6039
@eburley @maksymmalyhin do you guys have any update on this crash? It's our number one crash too and I'd love to know how we could support in fixing this?

[2021-09-20 22:54] paulb777 opened #8673 "Crashlytics Xcode 13 build regressions"
#8436 introduces several build regressions for Xcode 13. See https://github.com/firebase/firebase-ios-sdk/pull/8665/checks?check_run_id=3634265019.

Please fix or revert before the Tuesday M105 code freeze.

[2021-09-21 00:41] jarrodrobins commented on #6039
@taschik We were able to work around this issue though I can't say it was easy - I found this comment https://github.com/firebase/firebase-ios-sdk/issues/8024#issuecomment-860848817 Basically, it sounds like it's caused by a conflict with sharing SQLite amongst Firebase and other code/SDKs that don't clean up after themselves properly.

I referred the comment to one of our third party SDK provider

[2021-09-21 07:23] skaldic commented on #8658
@rizafran you mean: verified by the user (by clicking the verify email CTA) or the email provider is verified (as described in the doc link). One account is a gmail account (thus verified) and the second one is part of a G Suite email.

This is behaviour is new and It causes us some concern and it also reproduces on Android and Web. I guess a change in how Firebase Auth backend merges accounts ?

[2021-09-21 09:25] sspogra commented on #8661
@dconeybe I think the crash was happened when we call some firebase doc update query inside  application will terminate function.

[2021-09-21 09:42] maulikm235 commented on #8427
I didn't hear for long time

[2021-09-21 13:50] gbevin commented on #4563
We're working on a Mac Catalyst app for which we're using Firebase Analytics. We'd love Catalyst support and do testing in early access if that's still a possibility. Thank you!

[2021-09-21 14:10] dconeybe commented on #8661
@sspogra Your hypothesis sounds reasonable; however, there is insufficient information to be able to make any progress. It would be extremely helpful if the lines like

[code]

could be symbolicated because otherwise we have no idea what the call stack is. Could you look into fixing these missing symbols?

Somehow Crashlytics stack traces are symbolicated, like this one:

[code]

Also, could you t

[2021-09-21 17:14] rizafran commented on #8658
@skaldic, yes, if email/password account is verified (e.g. by sending verification email), then the Gmail account will be linked to it:
<img width="784" alt="Screen Shot 2021-09-22 at 12 51 48 AM" src="https://user-images.githubusercontent.com/56452638/134213916-6f8d24c1-89e3-442d-8eb1-2b60b156a3e0.png">

Also, per checking, it seems that the behavior you're encountering does exist, and it is also

[2021-09-21 18:15] KyLeggiero opened #8681 "GoogleAppMeasurement code signature is invalid when running iPhone app built for iPhone iOS on M1 Mac. . 🔴 NOT MAC CATALYST!! 🔴"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: Version 12.4 (12D4e)
  * Firebase SDK version: 7.11.1
  * Installation method: `Swift Package Manager`
  * Firebase Component: Crashlytics, GoogleAppMeasurement

### [REQUIRED] Step 2: Describe the problem

#### Steps to reproduce:

0. Using a Mac with an M1 SoC
1. Create an Xcode project which targets iOS on iPhone. **🔴 NOT MAC

[2021-09-21 19:09] taschik commented on #6039
Thanks @jarrodrobins for the hint. We looked through all dependencies and were only able to find [react-native-async-storage](https://github.com/react-native-async-storage/async-storage) as the only library using sqlite. I couldn't find any known issue on their Github page regarding the described issue.

Are there others experiencing the crash that are also using async-storage?

[2021-09-21 19:21] cwagdev commented on #8636
I'm also seeing this in a project that includes Firebase.

[2021-09-21 19:27] paulb777 commented on #8681
Firebase Analytics does not currently support macOS. See #1732

[2021-09-21 19:57] natalia-osa commented on #8636
I am also receiving this warning since I upgraded to Xcode 13.0 (13A233) (& I never saw it before). The class which is causing the problem is `NSKeyedUnarchiver`, which in my project is available only in Firebase-related dependencies:

<img src="https://user-images.githubusercontent.com/1477880/134237033-a4849d76-0b3b-4cbc-abdd-11175182a399.png" width="400" />

Atm Firebase is installed via cocoap

[2021-09-21 20:10] ryanwilson commented on #8673
This was fixed in #8679

[2021-09-21 21:24] paulb777 commented on #6039
in addition to the discussion referenced by @jarrodrobins, see also #4278. I'm going to close since this issue is almost certainly the result of something else in the app's usage of sqlite.

[2021-09-21 21:24] #6039 closed

[2021-09-21 21:49] paulb777 opened #8682 "Two iPad test failures for FIAM with Xcode 13"
From the raw log at https://github.com/firebase/firebase-ios-sdk/runs/3666339632?check_suite_focus=true:

2021-09-21T17:32:58.2960150Z Test Suite InAppMessagingDisplay-UITests.xctest started
2021-09-21T17:32:58.3180100Z InAppMessagingDisplayBannerViewUITests
2021-09-21T17:33:14.4955550Z     ✓ testBannerViewWithLargeBody (16.211 seconds)
2021-09-21T17:33:29.0585690Z     ✓ testBannerViewWithLongTitl

[2021-09-21 21:51] KyLeggiero commented on #8681
@paulb777 This isn't targeting macOS, though...

[2021-09-21 22:00] paulb777 commented on #8681
The bug description says the target is "My Mac" which implies either Mac or Catalyst - neither of which is supported.

[2021-09-21 23:02] redimongo commented on #2011
We are fine, we use Flurry and it works on all apps (just not website) We rely on Google Analytics for that data. We have made suggestions to Flurry to allow website analytics.

[2021-09-21 23:26] KyLeggiero commented on #8681
No, the target is "My Mac (Designed for iPhone)", meaning it's building an iOS app for iPhone, just the same as any other `ipa` that you would run on iPhone, and running that on a Mac. The build process, even down to the compiler and linker, and the final executable, are the exact same as when targeting a physical iPhone; it cannot tell the difference. It's not a Mac app, and it's not a Mac Cataly

[2021-09-21 23:48] paulb777 commented on #8681
I see. Sorry about the confusion.

Perhaps something related to those binaries being built with Xcode 12.2?

[2021-09-22 05:53] maulikm235 commented on #8427
As I mentioned before the issue is happening in real projects, not in demo.

[2021-09-22 06:55] lalkrishna opened #8683 "Unable to Integrate Firebase on New Xcode13 via SPM."
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: Xcode 13
  * Firebase SDK version: _____
  * Installation method: `Swift Package Manager`
  * Firebase Component: Auth, Core, Messaging

### [REQUIRED] Step 2: Describe the problem

#### Steps to reproduce:

Unable to Integrate Firebase on New Xcode13 via SPM.
Latest version is 8.7, but SPM tries for 7.11.1 version.

Error Messag

[2021-09-22 08:44] DenisVerkhovod opened #8684 "Firebase Messaging crash during app loading if Messaging was a added via SPM"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 12.5
  * Firebase SDK version: 8.7.0
  * Installation method: Swift Package Manager
  * Firebase Component: Messaging

### [REQUIRED] Step 2: Describe the problem

#### Steps to reproduce:

During app loading I get crash cause `createTableWithName` method. You can see stack on attached screenshot.

<img width="1438" alt="Screensh

[2021-09-22 12:57] denandreychuk opened #8685 "Firebase Storage for scripting broke after Xcode 13.0 (Swift 5.5) update"
I use Firebase Storage Package inside SPM script. After Xcode 13.0 update, especially Swift 5.5, i got

Cannot find type 'CheckedContinuation' in scope
Cannot find 'withCheckedThrowingContinuation' in scope

Inside AsyncAwait file (FirebaseStorageSwift)

[2021-09-22 13:30] ryanwilson commented on #8685
Thanks for the report - we have a fix ready in https://github.com/firebase/firebase-ios-sdk/pull/8676 that's planned for next week but I'll chat with the team about getting it out earlier. As a temporary workaround, pointing to `master` should work as the change has landed there.

[2021-09-22 14:32] paulb777 commented on #8685
An easier workaround might be to manually change the one line in AsyncAwait.swift to `#if compiler(>=5.5) && canImport(_Concurrency)`.

Closing since the fix is staged for 8.8.0

[2021-09-22 14:32] #8685 closed

[2021-09-22 14:35] paulb777 commented on #8663
Storage fix depends on 8.8.0 tag. Spm fix is the messaging flake in progress at #8669

[2021-09-22 14:50] paulb777 commented on #8684
It looks like the sqlite3 database creation is failing. Does the app or any of its other dependencies do anything unusual that could change the state of the system sqlite3 library that FirebaseMessaging is depending on?

[2021-09-22 14:59] DenisVerkhovod commented on #8684
I think no, moreover everything is good with Messaging when it was installed via CocoaPod. This crash is specific to SPM

[2021-09-22 15:30] ryanwilson commented on #8683
Thanks for the report @lalkrishna - I'm not sure why Xcode is only picking up the major version 7, but you can manually update the version number like I've circled here and I've confirmed that works.

Re: binary target failing to download, I've seen that happen with Xcode a few times and clearing my package cache and updating typically resolves it. Can you please try upgrading and let us know if y

[2021-09-22 15:37] #8683 closed

[2021-09-22 16:05] KyLeggiero commented on #8681
It's alright; Apple didn't communicate this very well.

I encountered this when building with Xcode 12.4, since our app had a library which didn't link with 12.5. I've since removed that library and I can test on 12.5 or 12.2 if you think that will being us better information. Which would you prioritize?

[2021-09-22 16:14] paulb777 commented on #8682
Once fixed, the iPad tests should be restored at https://github.com/firebase/firebase-ios-sdk/blob/master/.github/workflows/inappmessaging.yml#L39, that was disabled in #8676

[2021-09-22 16:18] ncooke3 commented on #8636
Hi everyone,

Thanks for all the info, and sorry again for the trouble! After further investigation, I believe this runtime warning has been fixed in a [7.x version of GoogleUtilities (dependency of Firebase)](https://github.com/google/GoogleUtilities/pull/42/files). Based on some of the older versions of Firebase mentioned in this thread, it's likely this dependency needs updating in your project

[2021-09-22 16:18] #8636 closed

[2021-09-22 16:45] rizafran commented on #8671
Hi @RishatShamsutdinov, per checking, it seems that the Firebase Support team is currently handling and investigating your issue. I'll be closing this now so you can continue getting updates from them. Thanks.

[2021-09-22 16:45] #8671 closed

[2021-09-22 16:56] kapilkiwi opened #8687 "-[FBLPromise HTTPBody]: unrecognized selector sent to instance 0x281829f50'"
App gets crash randomly.

[2021-09-22 16:58] paulb777 commented on #8687
Please send the full backtrace of the crash.

[2021-09-22 16:59] kapilkiwi commented on #8687
<img width="1253" alt="Screenshot 2021-09-22 at 10 28 49 PM" src="https://user-images.githubusercontent.com/16382672/134388333-aaae09f1-5606-4b68-8f20-c85340fa273b.png">

[2021-09-22 17:00] kapilkiwi commented on #8687
pod i am using

 pod 'Reachability', '~> 3.2'
  pod 'Alamofire', '~> 5.4.3'
  pod 'SDWebImage', '~> 5.11.0'
  pod 'IQKeyboardManagerSwift', '~> 6.5.6'
  pod 'DateToolsSwift', '~> 5.0.0'
  pod 'GoogleMaps', '~> 4.0.0'
  pod 'GooglePlaces','~> 4.0.0'
  pod 'GoogleMLKit/BarcodeScanning'
  pod 'GoogleMLKit/TextRecognition'
  pod 'SwiftyRSA','~> 1.6.0'
  pod 'OpenCV', '~> 2.4'
  pod 'SwiftLint', '~> 0.

[2021-09-22 17:02] #8594 closed

[2021-09-22 17:06] samedson commented on #8538
@dolphinsue319 are you still running into this issue on newer versions of Xcode 13?

[2021-09-22 19:59] rosalyntan commented on #8325
Hi @filipealva -- I just tested phone auth with swizzling disabled, and it works as expected for me.

However, I did notice that if I set a breakpoint `if ([[FIRAuth auth] canHandleNotification:notification])`, then I am able to reproduce your issue (but without the breakpoint, everything works fine). Looking into the code, I believe this is happening because there is a 1 second timeout for probin

[2021-09-22 20:32] rosalyntan commented on #8329
Going to mark this issue closed as the question has been answered (deciphering the error log).

[2021-09-22 20:32] #8329 closed

[2021-09-22 21:00] paulb777 commented on #8687
sorry about the trouble. Please see #7939 for suggestions. If you need more assistance, please add the full Podfile and Podfile.lock to the report

[2021-09-22 21:21] #7087 closed

[2021-09-22 21:51] #8652 closed

[2021-09-22 21:52] paulb777 commented on #8663
With #8689 Messaging unit test flakes in the SPM build (and other workflows) should be fixed.

[2021-09-22 21:52] #8663 closed

[2021-09-22 22:48] morganchen12 commented on #8427
@maulikm235 can you isolate the cause of the issue in your project or create a project that repros the issue? There's nothing in the code you shared that could affect the views of your app.

[2021-09-23 06:14] azouts opened #8691 "FPRSessionDetails: Attempted to dereference garbage pointer"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 12.3
  * Firebase SDK version: 8.2
  * Installation method: CocoaPods
  * Firebase Component: Performance

### [REQUIRED] Step 2: Describe the problem

A random crash of the app that uses the firebase SDK.

#### Steps to reproduce:

EXC_BAD_ACCESS: remoteConfigFlags > sessionCreationTime > sessionLengthInMinutes >
Attempted to de

[2021-09-23 06:24] maulikm235 commented on #8427
if there is nothing wrong in code, then it should work, as I do not handle any view from firebase, so it should be done from your side, if SDK handles every view then it is SDK responsibility.

[2021-09-23 08:05] sarsonj opened #8693 "Firebase crashes when release build used in xCode 13"
### Step 0: Are you in the right place?

### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 13.0
  * Firebase SDK version: 8.7.0
  * Installation method: `CocoaPods`
  * Firebase Component: Core

### [REQUIRED] Step 2: Describe the problem

When upgraded to XCode 13, the Firebase crashes in release build on iOS 15 on firebase initialisation `FirebaseApp.configure()`
<img width="1

[2021-09-23 09:50] foxware00 commented on #8693
I am seeing the same thing

[2021-09-23 10:56] AaoIi opened #8694 "Unused function 'processIsTranslated' warning"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 13,12
  * Firebase SDK version: 8.7
  * Installation method: `CocoaPods `
  * Firebase Component: FirebaseDynamicLinks

### [REQUIRED] Step 2: Describe the problem

#### Steps to reproduce:

Building the project will result to show this warning since 8.6 SDK.

#### Relevant Code:

Pods/FirebaseDynamicLinks/FirebaseDynamicLinks/So

[2021-09-23 11:27] rizafran commented on #8691
Hi @azouts, do you also encounter the issue when using the [latest SDK version](https://firebase.google.com/support/release-notes/ios#version_870_-_september_08_2021)?

[2021-09-23 13:57] cvcoder1 opened #8695 "Firebase Auth - Signing users out after 30 minutes (As of Xcode 13, iOS 15 SDK)."
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 13.0
  * Firebase SDK version: 8.7.0
  * Installation method: CocoaPods
  * Firebase Component: Auth/Core

  (Added by me):
  * iOS Version: 15.0

### [REQUIRED] Step 2: Describe the problem

After about 30 min., users are being signed out by Firebase automatically. This behavior did not occur prior to iOS 15. My company has in p

[2021-09-23 14:33] paulb777 commented on #8694
@AaoIi  Thanks for the report. I've staged a fix in #8696 that will go out in the next release or two.

[2021-09-23 14:42] paulb777 commented on #8693
Thanks for the reports. What is the exception thrown? What version of CocoaPods is being used?

[2021-09-23 14:46] #8694 closed

[2021-09-23 15:17] ryanwilson commented on #8695
Thanks for the report and sorry for the troubles.  Does this happen in debug builds as well as release builds? Any extra steps or details you can share would be helpful as we try to reproduce this.

Are any logs produced in the console? We do log a few errors if the SDK has trouble loading the user. Stepping through this code would help as well:
https://github.com/firebase/firebase-ios-sdk/blob/a5

[2021-09-23 18:10] rshubbard commented on #8695
We are seeing the same issue with our App.  Only iOS 15.

Xcode version: 12.5
Firebase SDK version: 8.7.0
Installation method: CocoaPods
Firebase Component: Auth/Core
iOS: 15

[2021-09-23 21:14] ryanwilson commented on #8695
@rshubbard sorry for the troubles, can you please try the above steps and share any logs / step through the debugger in the code I linked above to try to reproduce this?

We have a couple people trying to reproduce this but currently we're unable to. We're hoping we can catch this and get it fixed ASAP for folks so any repro would be very helpful!

[2021-09-23 21:35] rshubbard commented on #8695
I have been unable to reproduce it in a debuggable state.  We are only able to reproduce on 2 devices.  On an iPhone 12 running iOS 15 I can reproduce 90% of the time if I shut down and power up the device.  On older device running iOS 15, we can reproduce it if we wait an hour but also task it with other apps while it is backgrounded.  The issue is definitely getting reported by our users as they

[2021-09-23 21:56] rosalyntan commented on #8376
Verified with our test app on iOS 15 that this still works properly. There may be implications for multi-window apps, but closing this out for now and will keep an eye out for any reported issues regarding multi-window apps.

[2021-09-23 21:56] #8376 closed

[2021-09-24 00:15] ryanwilson commented on #8695
@rshubbard @cvcoder1 can you please share which function you're calling `FirebaseApp.configure()`? In an `AppDelegate`'s `applicationDidFinishLaunching` call, SwiftUI lifecycle's `init()` function, somewhere else?

[This forum post](https://developer.apple.com/forums/thread/685685) looks like it could be relevant, and that the keychain data and user defaults aren't available very early on in an ap

[2021-09-24 05:46] JimmyAdler opened #8700 "Sometimes no search results are returned when persistence is enabled."
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 12.5.1
  * Firebase SDK version: 8.7.0
  * Installation method: CocoaPods
  * Firebase Component: Firestore

### [REQUIRED] Step 2: Describe the problem

When we have persistance enabled and make a collection search we sometimes will not get any results even if there are results in the database that should match. Please see code

[2021-09-24 06:28] NSLogZfRee opened #8701 "FirebaseCrashlytics upload-symbols"
error: Invalid platform name (/Users/xxx/Desktop/Runner.app.dSYM). Valid platform names are: 'ios', 'mac', 'tvos'

[2021-09-24 06:32] NSLogZfRee commented on #8701
when I use shell to upload dsym : /path/to/pods/directory/FirebaseCrashlytics/upload-symbols
 -gsp /path/to/GoogleService-Info.plist -p ios /path/to/dSYMs . I occoured this error  :  Invalid platform name (/Users/xxx/Desktop/Runner.app.dSYM). Valid platform names are: 'ios', 'mac', 'tvos'

[2021-09-24 07:05] #8701 closed

[2021-09-24 07:10] NSLogZfRee opened #8702 "FirebaseCrashlytics upload dsym"
Step 1: Describe your environment

  * Xcode version: 12.5.1
  * Firebase SDK version:   Firebase/CoreOnly (8.6.0)  、 firebase_crashlytics (2.2.1)

Step 2: Describe the problem

when I use shell to upload dsym : /path/to/pods/directory/FirebaseCrashlytics/upload-symbols
-gsp /path/to/GoogleService-Info.plist -p ios /path/to/dSYMs.

I occoured this error : Invalid platform name (/Users/xxx/Desktop/

[2021-09-24 15:50] schmidt-sebastian commented on #8700
@JimmyAdler Thanks for reporting this.

This should not be happening. I wonder if you can help us narrow this down by either providing a small sample app or by providing debug logs? You can turn on debug logging here: https://firebase.google.com/docs/reference/swift/firebasefirestore/api/reference/Classes/Firestore#enablelogging_:

[2021-09-24 16:11] lammertw commented on #8655
I'm running into the same issue. Version 8.7.0
`Thread 1: EXC_BAD_ACCESS (code=1, address=0x10)`

Stacktrace:
[code]

[2021-09-24 17:43] morganchen12 commented on #8655
@lammertw can you try reproing the crash with some memory debugging tools enabled (and also fully symbolicate the crash log)? It's not normal for WebKit to crash in `class_createInstance`.

[2021-09-24 20:10] chrisvanbuskirk opened #8703 "xcode 13 presents multiple warnings using SPM"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 13.0
  * Firebase SDK version: Latest
  * Installation method: Swift Package Manager
  * Firebase Component: Crashlytics, Analytics

### [REQUIRED] Step 2: Describe the problem

Multiple warnings in xcode 13 for several firebase packages.

#### Steps to reproduce:

What happened? How can we make the problem occur?

Adding SPM in

[2021-09-25 02:52] cvcoder1 commented on #8695
@ryanwilson nothing related to the forum post on our end. However, I just noticed we were calling FirebaseAppCheck prior to FirebaseApp.configure(). Could this be the cause?

[code]

[2021-09-25 02:59] cvcoder1 commented on #8695
We'll push to a device version to App Store Connect and test their as well. This occurs when following my test procedure above, (after) building in Xcode on device, then unplugging, terminating and starting up again.

[2021-09-25 09:36] cvcoder1 commented on #8695
Re-arranged the app check config to be after 'FirebaseApp.configure()' - same behavior still occurring... @ryanwilson

[2021-09-25 10:09] 0x0c commented on #7770
I found the reason of this issue.

Unfortunately, firebase-ios-sdk does not support MFA with email link sing in even if the doc mentioned it is supported (https://cloud.google.com/identity-platform/docs/ios/mfa).

If we have to use MFA, we can not get ID token when call `Auth.auth().signIn(withEmail: link:)`. In this case, as implemented in `FIRVerifyPasswordResponse`, we got `mfaInfo` and handle

[2021-09-25 11:44] tlester commented on #5964
I think I'm in the same boat.   Apollo GraphQL back end.

[2021-09-25 12:02] tlester commented on #5964
Has anyone come up with reliable solutions for this?  It's been a year since this issue was created.  This is a pretty major show stopper.

[2021-09-25 12:09] tlester commented on #5964
I GOT MINE TO WORK.   here's my solution (for Apollo GraphQL Client):
[code]

[2021-09-25 13:06] github-actions[bot] opened #8706 "Nightly Testing Report"
# Nightly Testing Report
This issue([log](https://github.com/firebase/firebase-ios-sdk/actions/runs/1272991401)) is generated at 09/25/2021 06:05 AM, fetching workflow runs triggered in the last 24 hrs.
| Workflow |09/24|
| -------- | -------- |
| [inappmessaging](https://github.com/firebase/firebase-ios-sdk/blob/master/.github/workflows/inappmessaging.yml) | [failure](https://github.com/firebase/

[2021-09-25 19:45] pradeepb28 opened #8707 "SwiftUI switched from iOS to MacOS - Firebase is failing at compile level"
It looks like compiler failed to compile **getCredentialWith** method.
It throws an error
![CleanShot 2021-09-26 at 01 14 28](https://user-images.githubusercontent.com/6823101/134784275-cdf34506-3f2d-460e-8268-0fbfb98ca2bf.png)

here is my pod file
![CleanShot 2021-09-26 at 01 14 57](https://user-images.githubusercontent.com/6823101/134784291-2b591946-79a4-459a-bafd-c14b255f83c9.png)

any help is

[2021-09-26 02:54] NSLogZfRee commented on #8702
I have retry, now success.

[2021-09-26 02:54] #8702 closed

[2021-09-26 13:06] #8706 closed

[2021-09-26 19:42] bdrelling commented on #8636
@ncooke3 Thanks for the update. Do you know when this will be properly reflected within the core Firebase project? Right now, it looks like the dependency should be pulled in, but I'm using the latest 8.7.0 version of Firebase and it's only grabbing 7.4.1. The change you linked to is on 7.4.2, if I read the PR correctly. At this point, 7.5.2 is deployed, and Firebase is still not pulling that vers

[2021-09-26 19:52] bdrelling opened #8708 "FirebaseAppDelegateProxyEnabled Info.plist value not respected in Xcode 13"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 13.0 RC
  * Firebase SDK version: 8.7.0
  * Installation method: `Swift Package Manager`
  * Firebase Component: Core

### [REQUIRED] Step 2: Describe the problem

When I set `FirebaseAppDelegateProxyEnabled` to `NO` in my `Info.plist`, Xcode 13 seems to ignore this value and proceed with method swizzling.

In Xcode 13, when sett

[2021-09-26 20:13] bdrelling commented on #8708
I'm also unsure if it is related, but no amount of disabling Firebase prevents the following spam in my console:

[code]
and
[code]

Both repeating just about endlessly...

All I want is for Firebase to stop spamming my console with stuff in local development. Why is it so hard to do this?

[2021-09-26 20:46] ncooke3 commented on #8636
Sorry for the trouble @bdrelling!

This does not seem like expected behavior. Just to clarify the issue: you are on **Firebase 8.7.0** via **Swift Package Manager** and are seeing only **GoogleUtilities 7.4.1** being pulled in to your project, correct?

[2021-09-26 23:10] bdrelling commented on #8636
@ncooke3 No apologies necessary!

That is correct, yep. I went from **Firebase 8.6.0** to **Firebase 8.7.0**, and my version of **Google Utilities** did bump up from **7.4.1**. I then basically tried every combo of SPM tools available here:

![image](https://user-images.githubusercontent.com/3022693/134827265-b6b4577c-4df3-48a9-a2c9-0be4d977c6d0.png)

I had to manually add the following dependency

[2021-09-27 04:21] bdrelling commented on #8681
May not be related, but I get build failures intermittently all the time still with `FirebaseAnalytics`/`GoogleAppMeasurement` when running `xcodebuild`. Breaks probably 20% of the time and I have to re-run a build.

Not sure what the deal is with this package in particular, but I don't build on an M1 and I don't build for Mac or Mac Catalyst. Based on other issues like https://github.com/firebase

[2021-09-27 04:23] bdrelling commented on #7043
My app fails to build via `xcodebuild` for this same issue, and I am not building on an M1, nor am I building towards Mac or Mac Catalyst. It fails my build about 20% of the time.

[2021-09-27 07:16] AhmedRajib opened #8709 "‘GoogleUtilities/GULLoggerLevel.h’ file not found"
## [REQUIRED] Step 1: Describe my environment
Xcode version: 12.5.1
Installation method: CocoaPods (1.11.2)

## [REQUIRED] Step 2: Describe the problem
Steps to reproduce:
I try to migrate Crashlytics using:

[code]

Instead of:

[code]

But, I get an error.

<img width="1280" alt="Screenshot 2021-09-27 at 12 50 02 PM" src="https://user-images.githubusercontent.com/45696624/134860010-d715a9e3-2f6d

[2021-09-27 08:49] azouts commented on #8691
Hi @rizafran, the issue came from some user in Sentry and we don't know how to reproduce it. It's a random thing. We have updated to the latest SDK but the new SDK change log doesn't include something relevant to this crash.

[2021-09-27 08:50] foxware00 opened #8710 "XCode 13, iOS 15 lots of reports of blocked CFPREFERENCES"
### Step 1: Describe your environment

  * Xcode version: 13
  * Firebase SDK version: 8.7.0
  * Installation method: `CocoaPods 1.11.2`
  * Firebase Component: _____ (Core, Crashlytics, DynamicLinks)

### Step 2: Describe the problem

Getting a lot of crash reports and all of them have thread 0 in the same state. Blocked on `CFPREFERENCES_IS_WAITING_FOR_SYSTEM_CFPREFSD` I can only assume somethin

[2021-09-27 11:22] foxware00 commented on #8693
@paulb777 It's a little hard to give more info my reports are all "Missing" when viewed in the console (dsyms are uploaded, it's only these crashes that are effected, the rest are successfully symbolicated0. I made an issue which might be more appropriate as @sarsonj 's issue might be different. My crashlytics crashes, seem to align with Testflight feedback which is correctly symbolicated. Looks l

[2021-09-27 13:23] ryanwilson commented on #8709
Sorry for the trouble @AhmedRajib, can you please share your `Podfile.lock` so we can see which versions are getting installed, and try clearing derived data and doing a clean build? We typically see this when Xcode is in a bad state.

[2021-09-27 13:33] rshubbard commented on #8695
Hey Ryan, we are using React Native Firebase (https://rnfirebase.io/).  Here is our code to initialize in ios/PlaymetricsMobile/AppDelegate.m:

`@implementation AppDelegate

- (BOOL)application:(UIApplication *)application didFinishLaunchingWithOptions:(NSDictionary *)launchOptions
{
  [FIRApp configure];`

[2021-09-27 13:47] AhmedRajib commented on #8709
thanks @ryanwilson
Here is my podfile.lock text file

[https://docs.google.com/document/d/1Oq9-84vDzjSwDCNicZRpDoaKfDWBnZ7z-f-x4uEtb-8/edit?usp=sharing
](url)

i cleaned derived data , clean build folder and try to solved this problem this way but unsuccess

[https://github.com/firebase/firebase-ios-sdk/issues/6462](url)

[2021-09-27 13:55] lammertw commented on #8655
@morganchen12 I have no idea why but after switching some branches, turning on and off memory debugging tools and then running it without, now it's no longer crashing (without any actual changes in my git repo). So if the problem does return I'll let you know.

[2021-09-27 14:01] ncooke3 commented on #8636
@bdrelling

I expected the same behavior so I'm not too sure. I was unable to reproduce this issue and am unsure why the SPM tools did not work in this instance. 🤔

Now that your project has the latest dependency, are you still seeing the `NSKeyedUnarchiver` runtime warnings logged in your app?

[2021-09-27 14:12] maksymmalyhin commented on #8695
@rshubbard @cvcoder1 Could you please share the device logs relevant to the app for the period of time when the issue is reproducible on your device? We expect to see messages like `[Firebase/Auth][I-AUT000001] Error loading saved user when starting up: ...` that should clarify the underlying reason of the issue.

[Here](https://docs.buddybuild.com/troubleshooting/getting_device_logs_from_xcode.ht

[2021-09-27 14:28] willm132 opened #8713 "Mac Catalyst Undefined symbols for architecture x86_64"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version:Version 13.0 (13A233)
  * Firebase SDK version: Firebase 8.1.1
  * Installation method: Swift Package Manager
  * Firebase Component: Auth, Core, Database, Messaging, Storage, Crashlytics

### [REQUIRED] Step 2: Describe the problem

#### Steps to reproduce:

When building app for Mac Catalyst
This worked before upgrading to Xcode

[2021-09-27 14:29] ryanwilson commented on #8709
Thanks. A couple of things I noticed: The Firebase version being pulled in is 6.X which is 2 major versions old now. Also `Firebase/Invites` is no longer supported (and is preventing the other Firebase SDKs from updating). We recommend updating to the latest Firebase version, or trying a combination of `pod deintegrate` and `pod update` with the existing versions if you can't update.

[2021-09-27 14:29] #8709 closed

[2021-09-27 15:27] ryanwilson commented on #8708
Hey @bdrelling - sorry for the troubles you're seeing. I haven't been able to reproduce this at all and I think we'll have trouble doing so without a reliable repro. I'd suggest setting a breakpoint here:
https://github.com/firebase/firebase-ios-sdk/blob/f243335a256264a5190830406208c524b1bdd527/FirebaseMessaging/Sources/FIRMessaging.m#L268
and trying to see what the Info.plist values show when tha

[2021-09-27 15:28] ryanwilson commented on #8708
Can you please file a new issue for this one so we can track it separately?

[2021-09-27 15:30] ryanwilson commented on #8707
Thanks for the report - this is a known limitation. Can you please add a +1 or comment to the feature request for this? https://github.com/firebase/firebase-ios-sdk/issues/7127

The biggest reason it isn't included in macOS yet is because it relies on the UI delegate. We're open to community contributions as well for this. Thanks!

[2021-09-27 15:30] #8707 closed

[2021-09-27 15:30] bdrelling commented on #8636
@ncooke3 No worries, I totally get it. And yeah, it's definitely an SPM thing. But I suppose the Firebase Package.swift _could_ be manually updated to `"7.5.2 ..< "8.0.0"`, right? Would that cause any issues? Because at the very least, it would have fixed whatever happened to me (which I hope was a weird off-case and not a common thing, but still...)

Nope, no more warnings! 🎉

Thanks, @ncooke3! S

[2021-09-27 15:35] ryanwilson commented on #8703
Hi there, these issues were fixed a couple of versions ago. We're seeing issues with Xcode 13 picking up the latest version of Swift packages. Can you please make sure you're on version 8.7.0 (the latest as of today) and see if the warnings are gone?

[2021-09-27 15:38] ryanwilson commented on #8713
Hey @willm132, sorry for the trouble. Can you please check which version of GoogleUtilties you're using via the `Package.resolved` file? This should have been resolved with https://github.com/google/GoogleDataTransport/pull/36

[2021-09-27 15:52] chrisvanbuskirk commented on #8703
@ryanwilson I have the exact version set to 8.7.0.  I am only seeing warnings in abseil, BoringSSL-GRPC and Google Utilities.  So that's less warnings, but still 3 of the packages are having issues.

[2021-09-27 16:00] willm132 commented on #8713
GoogleUtilities 7.4.1

[2021-09-27 16:04] ryanwilson commented on #8703
Since they're different repos, can you check the versions of those? boringSSL-SwiftPM should be version 0.7.2. abseil-cpp-SwiftPM should be version 0.20200225.4, and GoogleUtilities should be 7.5.2.

[2021-09-27 16:05] ryanwilson commented on #8713
Shoot apologies, I mistyped the name. Can you check the `GoogleDataTransport` version?

[2021-09-27 16:06] chrisvanbuskirk commented on #8703
Looks like the versions are not updated.

<img width="438" alt="Screen Shot 2021-09-27 at 10 05 36 AM" src="https://user-images.githubusercontent.com/3638007/134944666-ee37959c-77bc-45b4-af79-9a50e21492ab.png">

[2021-09-27 16:07] willm132 commented on #8713
GoogleDataTransport 8.4.0

[2021-09-27 16:09] ryanwilson commented on #8713
Thanks, that would explain it. You'll need to update to 9.1.1. You should be able to do so by using Xcode's "File -> Packages -> Update to Latest Package Versions".

[2021-09-27 16:10] ryanwilson commented on #8703
Can you please try updating them by using Xcode's "File -> Packages -> Update to Latest Package Version"?

[2021-09-27 16:12] rshubbard commented on #8695
I don't see anything from Firebase/Auth but I did see this:

8.7.0 - [Firebase/Messaging][I-FCM023014] Error while reading embedded mobileprovision Error Domain=NSCocoaErrorDomain Code=260 "The file “embedded.mobileprovision” couldn’t be opened because there is no such file." UserInfo={NSFilePath=/private/var/containers/Bundle/Application/3C9A250A-2DDA-4CF1-A9FF-D32C976D4009/PlayMetrics.app/embedd

[2021-09-27 16:17] chrisvanbuskirk commented on #8703
Yes, that worked.  Closing...

[2021-09-27 16:17] #8703 closed

[2021-09-27 16:26] rshubbard commented on #8695
I also see:

Task <E24F0FD0-2CED-45F1-AA5B-F1D4DA43AF13>.<1> HTTP load failed, 0/0 bytes (error code: -1009 [1:50])

deleted <genp,acct=firebase_auth_1___FIRAPP_DEFAULT_firebase_user,svce=firebase_auth_1:...:ios:...,agrp=BT8MVHD5Q2.com.playmetrics.mcr,sync=0,musr=, |otherAttr,tomb=0,rowid=945,cdat=2021-09-27 16:15:58 +0000,mdat=2021-09-27 16:15:58 +0000,pdmn=cku,sha1=...

[2021-09-27 16:47] willm132 commented on #8713
Resolved. Thanks.

[2021-09-27 16:47] #8713 closed

[2021-09-27 17:12] bdrelling commented on #8708
@ryanwilson Thanks, it helps at least knowing if it's happening to others vs. just me. I'll dig a little deeper into it. If I figure anything out, I'll post back to this ticket. If I can't, I'll make a reproducible project if possible.

Re: New issue for that one, sure thing! Wasn't sure if it was related, will do. 👍🏻

Thanks!

[2021-09-27 17:59] cvcoder1 commented on #8695
Ok thanks. Will do shortly. Closing the issue was accident. Should definitely prompt an 'are you sure' in case of house cats jumping on keyboard..

[2021-09-27 18:00] cvcoder1 commented on #8695
Is 'BuddyBuilds' relevant other than the sample tutorial of how to get Xcode logs? Confused there..

[2021-09-27 18:01] tnmendes commented on #583
Any update? The last message was 10 Feb and we are now 27 Sep

[2021-09-27 18:09] morganchen12 commented on #583
@tnmendes, early access has been going well with the partners who enrolled and we'll have more updates soon.

[2021-09-27 18:10] morganchen12 commented on #8695
@cvcoder1 BuddyBuild is a testing service unrelated to Firebase. They happened to have an informative blog post on how to get logs from Xcode. You don't need to use BuddyBuild to be able to access logs from Xcode.

[2021-09-27 18:34] morganchen12 commented on #8710
@foxware00 are you able to get the exception code of the crash? `mach_msg_trap` is a normal procedure when waiting for an xpc call to return. The `CFPREFERENCES_IS_WAITING_FOR_SYSTEM_CFPREFSD` symbol just means your app is waiting on an external process (in this case cfprefsd), which Analytics uses to store consent settings.

Usually this fetch happens very quickly, but I'm wondering if it's block

[2021-09-27 18:37] morganchen12 commented on #8691
Are you able to reproduce this with any memory debugging tools (zombies, asan)?

[2021-09-27 21:37] rshubbard commented on #8695
OK my issue seems to be the internet connection.  On phone reset you can start the application before the network connection has been established so I am adding a check for that.

[2021-09-28 07:01] abdullah432 commented on #147
Any update?

[2021-09-28 07:38] maulikm235 opened #8715 "FIAM View stuck at run time only"
![126745909-9ddf3c50-25f5-4381-9594-cf8732b51ff7](https://user-images.githubusercontent.com/69245102/135042483-33ea0406-9589-4ebf-b1eb-2fa9a03db5d8.png)

**Xcode 12.3
iOS 13+**

**pod 'Firebase/InAppMessaging' version 8.7.0**
install using a pod

steps to reproduce

_-add campaign in firebase dashboard with any button event like login event
-run the app in device or simulator iOS 13+
-when an even

[2021-09-28 08:36] foxware00 commented on #8710
@morganchen12 the strange thing is Thread 0 isn't crashing, but another thread is. It's my code, but the line of the error doesn't make sense (it doesn't refer to an actual line of code). I'm looking at that, what is strange is. The Thread shown (main) above 9/10 looks like it's blocked on `CFPREFERENCES_IS_WAITING_FOR_SYSTEM_CFPREFSD` in all the crash reports.

I appreciate this is a bit of a sta

[2021-09-28 11:01] JimmyAdler commented on #8700
@schmidt-sebastian I have created some debug logs, but not sure if I can post them here since they contain database info etc. So is there a good way of sending you them directly?

As for a sample app, I think doing add and delete in the way I mentioned in my code above seems to trigger it quite quickly, I have however noticed that it appears to happen most consistently when scrolling in a tablevie

[2021-09-28 13:31] maksymmalyhin commented on #8695
@rshubbard Thank you for the updates. We are still unsure what's the core reason of the issue.

Could you please share all log entries with `[Firebase/`in them for the app run when the issue occurs. Hopefully it will give us more information on the issue.

[2021-09-28 14:26] muredan opened #8716 "Messages not received after installing the app"
Environment

  * Xcode version: Version 13.0 (13A233)
  * Firebase SDK version: 8.7.0
  * Installation method:  Swift Package Manager
  * Firebase Component: Messaging

Describe the problem

Steps to reproduce:

When the application starts for the first time (after installation), the app does not receive notifications send throw Firebase Messaging. After closing the app from the background and reo

[2021-09-28 16:09] schmidt-sebastian commented on #8700
You can send the logs to me directly - mrschmidt(at)google.com

[2021-09-28 16:30] morganchen12 commented on #8715
Hi @maulikm235, can you share your whole project?

[2021-09-28 17:13] morganchen12 commented on #8710
Can you share the stack trace of all the threads?

[2021-09-28 17:21] foxware00 commented on #8710
@morganchen12 here is an example of a crash

[code]

[2021-09-28 18:27] mikehardy commented on #7467
@paulb777 looks like this was included in release 8.8.0? https://firebase.google.com/support/release-notes/ios#analytics
Always fun to hit the "close" button when the resolution is "we shipped it"

[2021-09-28 18:34] morganchen12 commented on #8710
The `EXC_BREAKPOINT` running on arm64 in Swift code usually is the result of a Swift fatal error, like a nil force-unwrap.

[code]

Can you share the source of the DataManager type?

[2021-09-28 18:35] morganchen12 commented on #7467
Yep, thanks @mikehardy!

[2021-09-28 18:35] #7467 closed

[2021-09-29 01:26] dolphinsue319 commented on #8538
No, it's not appear in current Xcode 13 that is download from app store.

[2021-09-29 05:02] bdrelling opened #8719 "xcodebuild failing due to errors extracting binaries of FirebaseAnalytics, GoogleAppMeasurement targets"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 13.0 (13A233)
  * Firebase SDK version: 8.7.0
  * Installation method: `Swift Package Manager`
  * Firebase Component: Analytics, GoogleAppMeasurement

### [REQUIRED] Step 2: Describe the problem

I am never able to build my app via `xcodebuild` (via `fastlane`) anymore, as while packages are being resolved, I get the following e

[2021-09-29 05:09] bdrelling commented on #8719
Okay, in _this particular instance_, it may be that `xcodebuild` was using the `12.5.1` toolset. Re-running for `13.0` explicitly works. Or at least, it has been consistent the most recent three builds (which is atypically stable for the `GoogleAppMeasurement` target).

However, I still get failures around `GoogleAppMeasurement` _all the time_ and I'm unable to consistently reproduce or diagnose.

[2021-09-29 06:05] maulikm235 commented on #8715
I can give you anydesk id to check the project.

[2021-09-29 08:06] foxware00 commented on #8710
@morganchen12 unforuntately not. There isn't 416 lines in DataManager or DatabaseDelegate so not 100% sure what's happening. I'm happy to close this, but out of around 50 crashes 45 or so all have Thread 0 in the same state. I will refactor DataManager a little and see if the crashing persists

[2021-09-29 08:06] #8710 closed

[2021-09-29 11:34] crleonard commented on #8655
I'm still having the same issue. Do you have any updates?

[2021-09-29 12:44] crleonard commented on #8655
Also tried 8.8.0 (was 8.7.0)

[2021-09-29 12:50] crleonard commented on #8655
This device isnt an M1 Mac

[2021-09-29 13:04] ryanwilson commented on #8655
@crleonard can you please share more info from the issue template to help us debug? Right now we don't have enough information to reproduce this. Specifically:

- iOS version you're seeing the issue
- Full stack trace of the crash, including the non crashed thread

Does this reproduce 100% of the time for you, or only sometimes?

[2021-09-29 13:07] github-actions[bot] opened #8720 "Nightly Testing Report"
# Nightly Testing Report
This issue([log](https://github.com/firebase/firebase-ios-sdk/actions/runs/1286915067)) is generated at 09/29/2021 06:06 AM, fetching workflow runs triggered in the last 24 hrs.
| Workflow |09/28|
| -------- | -------- |
| [inappmessaging](https://github.com/firebase/firebase-ios-sdk/blob/master/.github/workflows/inappmessaging.yml) | [failure](https://github.com/firebase/

[2021-09-29 13:16] ryanwilson commented on #8719
Thanks for the report @bdrelling and sorry for the frustrating issue. We've seen similar things in the past, and I've raised them with the SwiftPM team but unfortunately we haven't been able to track it down. Best I can tell is this is the line where the issue is thrown (message has changed slightly recently): https://github.com/apple/swift-package-manager/blob/3d48f94174fe484afbb854abb806cac9a516

[2021-09-29 13:16] #8719 closed

[2021-09-29 13:17] alfodei22 commented on #8719
Google

[2021-09-29 14:02] sspogra opened #8721 "Crashed: com.apple.main-thread EXC_BAD_ACCESS KERN_INVALID_ADDRESS 0x000000000000013b"
### Step 0: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ please use the Feature Request template.
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the `firebase` tag.
  * For general (non-iOS) Firebase discussion, u

[2021-09-29 14:29] sspogra commented on #8661
Getting this another crash:

Crashed: com.google.firebase.firestore
0  FirebaseFirestore              0x102907704 firebase::firestore::immutable::impl::LlrbNodeIterator<firebase::firestore::immutable::impl::LlrbNode<firebase::firestore::model::DocumentKey, firebase::firestore::model::MutableDocument> >::AccumulateLeft(firebase::firestore::immutable::impl::LlrbNode<firebase::firestore::model::Docum

[2021-09-29 17:21] rosalyntan commented on #7770
This has been addressed in #8705 -- thanks, @0x0c!

[2021-09-29 17:21] #7770 closed

[2021-09-29 20:35] mjlee250 opened #8724 "FIRStorageUploadTask putFile: callBack never called if no connection"
Step 1: Describe your environment

  * Xcode version:  12.4
  * Firebase SDK version: 8.8.0
  * Installation method: CocoaPods
  * Firebase Component: Storage

Step 2: Describe the problem
When calling  FIRStorageUploadTask putFile, if there is a connection failure (in my case I have turned off WIFI and cell), the callBack is never called, whether or not an observer is being used. If using an obse

[2021-09-30 00:25] brandtdaniels opened #8725 "Seeing potential issue in GoogleDataTransport that is blocking unit tests from running on Xcode 13"
### Step 0: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ please use the Feature Request template.
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the `firebase` tag.
  * For general (non-iOS) Firebase discussion, u

[2021-09-30 01:40] morganchen12 commented on #8724
Duplicate of #5295

[2021-09-30 01:40] #8724 closed

[2021-09-30 01:43] morganchen12 commented on #8721
Hi @sspogra, is this reproducible on the latest version of Firestore?

[2021-09-30 01:46] morganchen12 commented on #8715
You can also email a zip to me at morganchen at google.com if it's easier.

[2021-09-30 01:48] morganchen12 commented on #8538
Thanks for the update. I'll mark this issue as closed, but if it regresses comment here again and we'll re-open the issue.

[2021-09-30 01:48] #8538 closed

[2021-09-30 04:21] sspogra commented on #8721
@morganchen12 Unable to reproduce on latest firestore.

[2021-09-30 04:24] sspogra commented on #8661
@dconeybe Thanks i will do that.

[2021-09-30 05:10] maulikm235 commented on #8715
I can not give you the source code, as is my company's policy. we can take a zoom call or anydesk whatever you prefer.

[2021-09-30 06:58] ilyon opened #8726 "iOS 15 Crash [apmidentity appinstanceid]"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 12.5.1
  * Firebase SDK version: 7.4.0
  * Installation method: CocoaPods
  * Firebase Component: Auth, Core, Analytics, Crashlytics, Storage, RemoteConfig

### [REQUIRED] Step 2: Describe the proble

After iOS 15 was released, we saw an increase in the number of crashes in the appstore. But there is no corresponding increase in

[2021-09-30 07:21] azouts commented on #8691
@rizafran  In the SDK 8.7.0 I got this error on firebase performance with zombies and asan

[code]

[2021-09-30 09:29] foxware00 commented on #8725
@brandtdaniels I think the issue lies in the Texture lib you're using. Please see this thread and see if it's helpful

https://github.com/TextureGroup/Texture/pull/2032

[2021-09-30 13:52] ilyathewhite opened #8727 "FR: Add an API to configure the URLSession"
### Feature proposal

Add an API to configure the URLSession that is used by Firebase

* Firebase Component: _Storage____ (Auth, Core, Database, Firestore, Messaging, Storage, etc)

If Firebase is used in an extension, right now there is no way to specify a shared container, and this is necessary when sending local files:

From Apple's extension programming guide:
If your app extension initiates a

[2021-09-30 14:20] ncooke3 commented on #8720
Database quickstart failure. Kicking off a rerun

[2021-09-30 16:08] brandtdaniels commented on #8725
@foxware00 How were you able to come to this conclusion? Spindump files are not very easy to understand.

I do see some mentions of Texture, but it doesn't look like anything significant.

[code]

[2021-09-30 16:11] foxware00 commented on #8725
Have you read through the issue I linked? Lots of people seeing the same. I've also got a spindump with a similar issue which I reported to Apple. There is also a link to an Apple forum link into which we go into more detail about a spindump.

There is a workaround on that thread, if that works. You'll know it's Texture and the same issue people are seeing. If not, then it's more likely something

[2021-09-30 16:13] brandtdaniels commented on #8725
I'll read through it. We're not using Texture directly, so I would have to determine what is using it.

[2021-09-30 16:19] foxware00 commented on #8725
@brandtdaniels

These are the lines that look very similar to the issues raises.

[code]

[2021-09-30 16:20] brandtdaniels commented on #8725
So that looks like it would be with Pendo

[2021-09-30 16:20] paulb777 commented on #8726
This may be a duplicate of #6392 internally tracked at b/152743115

[2021-09-30 16:23] paulb777 commented on #8721
@sspogra Thanks for checking. I'll close since the issue was likely fixed recently.

[2021-09-30 16:23] #8721 closed

[2021-09-30 16:25] paulb777 commented on #8716
We'll likely need a reproducible example to help. Does the problem occur for you with the [messaging quickstart](https://github.com/firebase/quickstart-ios/tree/master/messaging)?

[2021-09-30 17:36] rizafran commented on #8716
Thanks for reporting, @muredan. In this case, it looks like there's no need for an mcve/reproducible sample as I encountered the same issue.

Based on my findings, I tried reproducing it with the messaging quickstart using SPM and SDK version 8.7.0, but I didn't receive any notification after installing the app (I need to quit and reopen the app first to make it work). I also tried it on 7.11.0 wi

[2021-09-30 17:46] Rvaler commented on #8655
Hey guys, I'm also having this same issue.

After some debug I noticed that it only happens when running on iOS 15, previous versions seem to be just fine.
Running on Xcode 13 - Intel Mac.

Hope it helps, cheers!

Full stack trace:
#0	0x00007fff20195d24 in class_createInstance ()
#1	0x00007fff20111182 in 0x7fff20111182 ()
#2	0x00007fff20116eb1 in 0x7fff20116eb1 ()
#3	0x00007fff2657649d in 0x7fff26

[2021-09-30 17:53] rizafran commented on #8658
I'll be closing this issue for now, but feel free to reopen if you have additional questions or details to share.

[2021-09-30 17:53] #8658 closed

[2021-09-30 18:00] crleonard commented on #8655
Above message form @Rvaler matches my experience. This is with Xcode 13 Release running against iOS 15

[2021-09-30 20:48] rosalyntan commented on #8695
Hi folks, sorry that you're experiencing this issue! A few questions:

@cvcoder1 What iPhone versions have you been experiencing this on? In addition, is it only on a physical device or have you also been able to reproduce this on a simulator? And to clarify the behavior you're seeing, is it that the `currentUser` property is `nil` after 31 minutes?

@rshubbard You mentioned that one of the device

[2021-09-30 23:58] paulb777 commented on #8693
OK, I'll close based on needing more info from @sarsonj  and @foxware00 's issue being discussed at #8710.  Feel free to comment with more info about the `topLevelVersion` crash and we can reopen.

[2021-09-30 23:58] #8693 closed

[2021-09-30 23:59] paulb777 commented on #8636
@bdrelling Good suggestion! We're working on it in #8728.

[2021-10-01 03:25] tiepvuvan opened #8731 "FR: Support watchOS platform in xcframework, Carthage distribution"
### Issue
Downloading frameworks from Firebase distribution (https://firebase.google.com/download/ios) is not included watchOS platform support.
watchOS support is included in SPM and Cocoapods.

### Proposal
Add support watchOS in the xcframework.

[2021-10-01 05:02] Tulakshana commented on #8188
@paulb777 hey in all the crash reports I have I have a line that I don't recognize. Class name is not readable and the log says '(Missing)' instead of showing the effected line. Any idea why this might be?

[code]

[2021-10-01 05:56] chliangGoogle commented on #8716
hmmm I'm not able to reproduce the issue.  Assign to our oncall to take a look at.

[2021-10-01 06:41] kamrankhan07 commented on #8636
Have same issue with Pods
GoogleUtilities is pointing to (~> 7.4), should change the version there as well.

[2021-10-01 06:44] skaldic commented on #8658
Thank you Riza !

[2021-10-01 08:27] heysaik commented on #3195
Snapchat seems to have come up with their alternative although I am unable to access the function with their newest SDK's: https://kit.snapchat.com/docs/login-kit-firebase-ios

[2021-10-01 08:38] mortenbekditlevsen commented on #8188
I think that line is precisely why @paulb777 might have asked if the devices are jailbroken, because it shouldn't be possible to inject code from one installed app to another, but if the device is jailbroken, then such a situation is possible.

[2021-10-01 13:06] #8720 closed

[2021-10-01 14:37] paulb777 commented on #8731
Thanks for the feature request. Our [ZipBuilder tool](https://github.com/firebase/firebase-ios-sdk/tree/master/ReleaseTooling) needs to be updated to generate a watchOS and watchOS simulator slice.

[2021-10-01 16:08] rowungiles opened #8734 "Catalyst 15.0 with Swift Package Manager: No such module 'FirebasePerformance'"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: Version 13.0 beta 5 (13A5212g)
  * Firebase SDK version: 8.8.0 (also tried 8.6.1)
  * Installation method: `Swift Package Manager`
  * Firebase Component: Performance
  * M1 Mac
  * Catalyst 15.0 (macOS Monterey) target

### [REQUIRED] Step 2: Describe the problem
With the above environment, building after placing an `import Fire

[2021-10-01 16:36] paulb777 commented on #8734
Sorry, but FirebasePerformance does not yet support Catalyst. See https://firebase.google.com/docs/ios/learn-more#firebase_library_support_by_platform

[2021-10-01 17:44] rowungiles commented on #8734
Thank you for the status update and the link to the matrix @paulb777.  I hope the team reaches the roadmap goal of filling the support matrix soon.

[2021-10-01 17:44] #8734 closed

[2021-10-01 18:10] RajanMaheshwari commented on #8693
I am having the same crash when the release scheme build is installed from Testflight.

<img width="427" alt="Screenshot 2021-10-01 at 11 39 44 PM" src="https://user-images.githubusercontent.com/6380389/135667371-92fd625b-b852-449c-855f-a7b0563807e3.png">

Also the crash report:
[FirebaseCrash.txt](https://github.com/firebase/firebase-ios-sdk/files/7269277/FirebaseCrash.txt)

Probably crashing on

[2021-10-01 18:13] Tulakshana commented on #8188
I see. Firebase didn't indicate them to be Jailbroken though. I saw the following today.
<img width="1236" alt="Screen Shot 2021-10-01 at 11 10 03 AM" src="https://user-images.githubusercontent.com/1791770/135667736-9d76bedf-9178-4e79-b3e8-a83ac52ce921.png">

[2021-10-01 20:13] paulb777 commented on #8684
The 8.9.0 release will improve the logging when this crash occurs, but the crash occurs after a table create failure, so something has already gone wrong.

[2021-10-01 20:30] paulb777 commented on #8602
This may be addressable earlier, but I'll mark for the next major release to review when we do a thorough nullability review at that point.

[2021-10-01 21:00] paulb777 commented on #7296
@peterfriese Now that Combine Community support is available, would you update?

[2021-10-01 21:01] paulb777 commented on #7295
@peterfriese Should we close and open separate issue for specific items?

[2021-10-01 21:08] peterfriese commented on #7295
Yes, we should to that. I'll spend some time next week to clean up the tracker and set up new issues.

[2021-10-02 03:01] brandtdaniels commented on #8725
I have determined my issue to be with a Pendo dependency, which depends on a Facebook library, which may depend on Texture. I am closing this issue. Thank you for the help.

[2021-10-02 03:01] #8725 closed

[2021-10-02 04:39] mortenbekditlevsen commented on #7295
I still have a PR for initial Combine support in FirebaseDatabase. Let me know if that's of any use:

https://github.com/firebase/firebase-ios-sdk/pull/7544

[2021-10-02 13:05] github-actions[bot] opened #8737 "Nightly Testing Report"
# Nightly Testing Report
This issue([log](https://github.com/firebase/firebase-ios-sdk/actions/runs/1298285196)) is generated at 10/02/2021 06:04 AM, fetching workflow runs triggered in the last 24 hrs.
| Workflow |10/01|
| -------- | -------- |
| [firestore](https://github.com/firebase/firebase-ios-sdk/blob/master/.github/workflows/firestore.yml) | [failure](https://github.com/firebase/firebase-i

[2021-10-02 14:08] paulb777 commented on #8737
Sent https://github.com/firebase/quickstart-ios/pull/1303 to address the firestore quickstart failure

Reran spm job for the performance unit test failure there.

[2021-10-02 14:33] paulb777 commented on #8737
spm rerun flaked in auth - 	-[UseUserAccessGroupTests testUseUserAccessGroup]

[2021-10-02 19:45] ziadtamim commented on #7295
There is a PR for `Decodable QuerySnapshot publisher` https://github.com/firebase/firebase-ios-sdk/pull/7549

[2021-10-02 21:24] asloup commented on #8281
Yeah, our team would also love to see this feature.  We're going to have to re-architect things now, because we're implementing an App Clip and can't use the same flow (which includes Firebase Auth phone auth).

[2021-10-03 17:01] KrisConrad commented on #4563
Did not express interest in the beta because I didn't know Catalyst support was going to be closed beta for a year. Any word on when we can expect this as a public release?

[2021-10-03 20:51] gabrielcosi opened #8738 "Firebase Messaging: Fails to receive a notifications in iOS - SwiftUI"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 13
  * Firebase SDK version: 8.8.1
  * Installation method: `Swift Package Manager`
  * Firebase Component: Messaging

### [REQUIRED] Step 2: Describe the problem

Device doesn't receive a notification with basic setup from firebase docs in SwiftUI. Already tested sending it directly via APNs and it works as expected.

#### Steps

[2021-10-04 01:03] #8666 closed

[2021-10-04 02:04] WillBishop commented on #147
Any updates here?

[2021-10-04 13:55] paulb777 commented on #8737
GHA has updated from clang-format@12 to clang-format@13. I'll update.

[2021-10-04 14:07] maulikm235 commented on #8715
can we check with anydesk or zoom call?

[2021-10-04 14:52] #8737 closed

[2021-10-04 15:24] ryanwilson commented on #4563
Thanks for the inquiries folks, we're working hard on this and I hope to be able to update this thread soon with more information. Stay tuned, and thanks for everyone's patience.

[2021-10-04 15:51] paulb777 commented on #5893
I'm going to close this issue, since the original problem was addressed with the plist option in 6.28.0.  Please open another issue for related or other questions and issues.

[2021-10-04 15:53] #5893 closed

[2021-10-04 15:56] paulb777 commented on #147
@WillBishop Sorry, no concrete plans here yet - other than we'll take another look as we do more investigation on leveraging [Swift Concurrency](https://docs.swift.org/swift-book/LanguageGuide/Concurrency.html) in the implementation.

[2021-10-05 06:48] mikimran opened #8740 "In XCode organizer,see the crashes of my app. There are many crashes on iOS15."
In XCode organizer,see the crashes of my app. There are many crashes on iOS15.I can't reproduce it on my iOS15 device. I guess it crashed when the application on the background because the log shows the app delegate terminate function time and crash time. The crash log is in the attachment. I cannot get some useful info from the log. can you help me, please

Crashed: com.apple.main-thread
0

[2021-10-05 14:03] maksymmalyhin commented on #8740
@mikimran Sorry for the trouble. It's hard to understand if Firebase SDK plays a role in this crash from the information provided. Things I would suggest to check:
1. I noticed that you use quite old Firebase version. The latest public version is 8.8.0. There were multiple fixes and optimizations implemented since 6.4.3. Even if you have an issue unrelated to Firebase, it's worth trying to update

[2021-10-05 14:04] sebj opened #8741 "Firebase Auth does not respect FirebaseAppDelegateProxyEnabled set to false"
### Step 1: Describe your environment

  * Xcode version: 13.0 (13A233)
  * Firebase SDK version: 8.8.0
  * Installation method: CocoaPods
  * Firebase Component: Auth

### Step 2: Describe the problem

My project is not using any notification-based Firebase features (and is not using Firebase Auth phone authentication), but I have received an Apple email mentioning the issue "ITMS-90078: Missing

[2021-10-05 16:00] yamila-fraiman opened #8742 "Add new dynamic link prefix"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 13.0
  * Firebase SDK version: FirebaseDynamicLinks 4.3.1
  * Installation method: CocoaPods
  * Firebase Component: DynamicLinks

### [REQUIRED] Step 2: Describe the problem

Dynamic links are working fine when the app is already installed but not working after installing from Appstore (opened by the dynamic link because app is

[2021-10-05 16:04] rizafran commented on #8741
Hi @sebj,

- Has the issue happened before even if the `FirebaseAppDelegateProxyEnabled` is set to `false`?
- Is it possible for you to try removing `FirebaseAppDelegateProxyEnabled` and see if you'll still receive the same email?

Also, the message you've shared seems to be a warning, so it shouldn't mean that your app is rejected.

[2021-10-05 16:48] sebj commented on #8741
Hi @rizafran,

* This is the first time I've set `FirebaseAppDelegateProxyEnabled` to `false` and then submitted, giving the warning
* A previous build without `FirebaseAppDelegateProxyEnabled` set to `false` had the same warning email

I'm aware that the app wouldn't be rejected, but it seems like an avoidable warning given I'd expect `FirebaseAppDelegateProxyEnabled` to have some effect on Fireb

[2021-10-06 01:03] #8687 closed

[2021-10-06 01:03] #8325 closed

[2021-10-06 04:25] kapilkiwi opened #8743 "-[FBLPromise HTTPBody]: unrecognized selector sent to instance 0x281829f50'"
*** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[FBLPromise HTTPBody]: unrecognized selector sent to instance 0x280772f40'
*** First throw call stack:
(0x19d81186c 0x1b282ac50 0x19d71895c 0x19d814438 0x19d816740 0x10a352ab0 0x10a351f78 0x10a3875a4 0x10a386e30 0x10c97bbcc 0x10c97d6c0 0x10c985588 0x10c9860c0 0x10c992644 0x1e92bd814 0x1e92c476c)
libc++abi.dylib:

[2021-10-06 11:56] #8407 closed

[2021-10-06 13:01] anko37 opened #8744 "Xcode 13 - iOS 15 error message appears in Xcode console"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 13
  * Firebase SDK version: 8.7.0
  * Installation method: CocoaPods
  * Firebase Component: Don´t know

### [REQUIRED] Step 2: Describe the problem

#### Steps to reproduce:

When I bring my App in the foreground or background following error message appears in the Xcode console. Prior iOS 15 this error message wasn't shown.  S

[2021-10-06 13:06] github-actions opened #8745 "Nightly Testing Report"
# Nightly Testing Report
This issue([log](https://github.com/firebase/firebase-ios-sdk/actions/runs/1311996184)) is generated at 10/06/2021 06:05 AM, fetching workflow runs triggered in the last 24 hrs.
| Workflow |10/05|
| -------- | -------- |
| [zip](https://github.com/firebase/firebase-ios-sdk/blob/master/.github/workflows/zip.yml) | [in_process](https://github.com/firebase/firebase-ios-sdk/ac

[2021-10-06 13:10] atelyk opened #8746 "iOS 15 crash with build on Xcode 13 (sandbox?)"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 13
  * Firebase SDK version: 8.6 (Firebase for Unity - 8.2)
  * Installation method: `CocoaPods`
  * Firebase Component: Auth, Core, Firestore, Functions, Messaging, Crashlytics, Dynamic Links, Remote Config, Installations

### [REQUIRED] Step 2: Describe the problem

#### Steps to reproduce:

This release we've updated Firebase

[2021-10-06 13:45] paulb777 commented on #8743
This may be a duplicate of #7939. See the discussion there.

[2021-10-06 13:53] willm132 opened #8747 "Xcode 13 Invalid Exclude"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 13.0
  * Firebase SDK version: 8.1.1
  * Installation method: SPM
  * Firebase Component: firebase-ios-sdk, GoogleDataTransport

### [REQUIRED] Step 2: Describe the problem
[code]

[2021-10-06 13:58] #8747 closed, assigned to nobody

[2021-10-06 14:33] tringuyen623 commented on #8648
@paulb777 I do follow the instructions.
It still error.
![Screen Shot 2021-10-06 at 21 31 21](https://user-images.githubusercontent.com/57216076/136224153-4ca5a5be-4ae0-4fe4-8ed8-d29c66635eb1.png)
![Screen Shot 2021-10-06 at 21 31 34](https://user-images.githubusercontent.com/57216076/136224172-a637227e-ca4f-4129-b330-3685de59fb9c.png)
![Screen Shot 2021-10-06 at 21 31 40](https://user-images.gith

[2021-10-06 14:53] markvasiv commented on #6672
Hey! Do you have any updates on this issue or possible timeline?
@samedson @elenadoty

[2021-10-06 15:09] tringuyen623 commented on #8648
I do follow the instructions
this is all file when I run carthage update:
![Screen Shot 2021-10-06 at 22 08 45](https://user-images.githubusercontent.com/57216076/136231372-ddbfaec4-132b-45ab-baf1-96dc8eed3859.png)

[2021-10-06 15:09] kikettas commented on #6564
Great to hear that @paulb777. Do you know if that is something happening in the short term?

[2021-10-06 16:45] paulb777 opened #8750 "Remove deprecated Interop directory"
Except maybe Analytics.

We no longer need the Interop directory since Swift PM does not support header only libraries and we don't version things in the repo separately.

The Interop directories should be moved to the respective product folders like FirebaseMessaging/Sources/Interop.

Update at major release to avoid breaking minor version forward compatibility of podspecs.

[2021-10-06 17:20] CraigSiemens opened #8751 "Generic view controllers not automatically handled by screen_view."
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 12.5.1
  * Firebase SDK version: 8.7.0
  * Installation method: `Carthage` (select one)
  * Firebase Component: Analytics

### [REQUIRED] Step 2: Describe the problem

Our app has many generic view controllers for the view model types passed into them. In our analytics it appears that all but one are ignored from the automatic `s

[2021-10-06 23:31] paulb777 opened #8754 "New Firestore property wrapper does not build for iOS device"
See log at https://github.com/firebase/firebase-ios-sdk/runs/3820794230?check_suite_focus=true. I can reproduce locally by building in Xcode 13 for an `Any iOS Device` target.

iOS Simulator, macOS, and tvOS builds all succeed.

CI missed this since FirebaseFirestoreSwift.podspec was not being tested. I'm addressing the CI issue in #8752.

The two FirestoreQueryObservable.swift errors can be addre

[2021-10-07 00:01] paulb777 opened #8755 "Update CHANGELOG for new Firestore Property Wrapper"
Update https://github.com/firebase/firebase-ios-sdk/blob/master/Firestore/Swift/CHANGELOG.md for changes from #8614

[2021-10-07 03:04] paulb777 commented on #8754
The issue is Swift UI building for armv7 devices. Changing to a minimum iOS version of 11 resolves the issue.

[2021-10-07 05:29] luangs7 opened #8757 "Missing required module 'Firebase' when inside dynamic framework"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 13.0
  * Firebase SDK version: 8.8.0
  * Installation method: `CocoaPods
  * Firebase Component: Core, Firestore, Messaging, Config, Crashlytics, Analytics

### [REQUIRED] Step 2: Describe the problem

I have a dynamic framework, which uses Firebase added by pods, and I also have the App, which uses this dynamic framework. But wh

[2021-10-07 10:34] BreakDeveloper opened #8758 "[Dynamic Links] Problem with open app from AppStore"
Hi all,

I sure my settings is correct in my source code

<img width="726" alt="截圖 2021-10-07 下午3 29 32" src="https://user-images.githubusercontent.com/49467480/136340743-0f866560-545d-4ae5-bd5f-cd67090377ef.png">

This is my app AppStore URL, we can see id is "1482421357" clearly
https://apps.apple.com/app/id1482421357

see my source code

![截圖 2021-10-07 下午3 29 10](https://user-images.githubuser

[2021-10-07 12:20] rizafran commented on #8758
Hi @BreakDeveloper.  One possible reason why you’re encountering an “iOS store ID does not exist in the given iOS bundle ID.” error is because of multiple `OAuth Client IDs` associated with a bundle ID since Dynamic Links can only support one iOS app per Firebase project. Could you verify this in your project’s [Credentials page](https://console.cloud.google.com/apis/credentials?project=_) in the

[2021-10-07 14:03] paulb777 commented on #8745
The failure is #8754 and should be addressed by #8752

[2021-10-07 14:42] andresguzmanl opened #8759 "[Unit tests] EXC_BAD_ACCESS while executing registerInternalLibrary:withName:withVersion"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 13.0
  * Firebase SDK version: 7.6.0 and 8.8.0
  * Installation method: `CocoaPods`
  * Firebase Component: Core

### [REQUIRED] Step 2: Describe the problem
App crashes when performing Unit Tests

#### Steps to reproduce:

- Run Unit Tests
- Thread 1: EXC_BAD_ACCESS (code=10, address=0x116a3a298) in
#0	0x0000000116a22469 in +[FI

[2021-10-07 15:02] nickdnk opened #8761 "framework not found GoogleAppMeasurementWithoutAdIdSupport"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: Version 13.0 (13A233)
  * Firebase SDK version: 8.8.0
  * Installation method: `CocoaPods`
  * Firebase Component: Analytics

### [REQUIRED] Step 2: Describe the problem

In 8.7.0, everything is fine, but in 8.8.0 I get `framework not found GoogleAppMeasurementWithoutAdIdSupport` when trying to build.

Podfile:
[code]
#### Steps

[2021-10-07 16:15] morganchen12 commented on #8761
@nickdnk can you share a sample project that reproduces this issue?

[2021-10-07 16:17] morganchen12 commented on #8759
Hi @andresguzmanl, can you share the full stack trace?

[2021-10-07 16:22] nickdnk commented on #8761
@rizafran Unfortunately not as the project is proprietary. I don't know what causes this. I just tried restarting XCode, deleting derived data, cleaning build and going back to 8.8.0 with `pod update` and now I'm back to this error. If I go back to 8.7.0 and run `pod update` again I'm good. It's the *only* parameter I change for this error to come and go, so something must have changed between the

[2021-10-07 16:36] andresguzmanl commented on #8759
Hello @morganchen12 thanks for answering so quickly. My problem is there is no backtrace, I only get that crash with no additional data. The only thing I am sure of, is that Unit Testing on 12.4 is perfectly fine.
Please let me know what info should I provide so that it can give you a better idea of the problem.

[2021-10-07 20:13] #8745 closed, assigned to nobody

[2021-10-07 22:05] andresguzmanl commented on #8759
Hi @morganchen12, sorry for taking so long with this (had other stuff to address). here is te full backtrace:

[code]

[2021-10-07 22:11] paulb777 commented on #8759
I'm not sure about the crash, but the backtrace indicates version 7.5.0 of Firebase Analytics.

Does the same problem occur with Firebase 8.8.0?

If you're still stuck, please share the `Podfile.lock` that goes with the crash backtrace.

[2021-10-07 23:19] paulb777 commented on #8759
Hmm, based on https://opensource.apple.com/source/xnu/xnu-1228.0.2/osfmk/mach/kern_return.h and https://developer.apple.com/documentation/xcode/investigating-memory-access-crashes an EXC_BAD_ACCESS code 10 is a `KERN_MEMORY_ERROR. The crashed thread tried to access memory that couldn’t return data at that moment, such as a memory-mapped file that became unavailable.`

I'm not sure what could cause

[2021-10-07 23:55] paulb777 commented on #8744
We'll likely need a reproducible example to help here.  Since it's a warning from iOS, you might have more luck with resolution asking on an Apple forum.

[2021-10-08 01:03] #8623 closed

[2021-10-08 02:43] sainttail opened #8767 "Firestore always crash install via Swift PM when we integrate `JitsiMeetSDK`"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 12.5.1
  * Firebase SDK version: 8.7.0, 8.8.0
  * Installation method: `Swift Package Manager` (select one)
  * Firebase Component: Firestore (Auth, Core, Database, Firestore, Messaging, Storage, etc)

### [REQUIRED] Step 2: Describe the problem

We are in the process of migrating Firebase from manual installation (Download Fireb

[2021-10-08 03:02] sainttail commented on #8767
Thanks @paulb777  for fast response.

From your description, does that mean the manual installation already support to avoid collision?

Previously, we wrap all the firebase related libraries into a dynamic framework and we link our app with that dynamic framework instead.

If we to proceed forward does making binaryTarget for all firebase libraries from manual installation work?

Since I notice t

[2021-10-08 04:20] BreakDeveloper commented on #8758
Thank you @rizafran , this comment helps me a lot !

I close this issue

[2021-10-08 05:05] paulb777 commented on #8767
The zip distribution is built from the CocoaPods specification which has internal scripting to rename the BoringSSL symbols to avoid the ssl collision.

[2021-10-08 10:35] NikKovIos opened #8768 "Know when NSNumber is nil or zero."
**Example**
We have two cases:
1) There are no setting in Firebase Config for key.
2) There is "0" in Firebase Config for key.

**Problem:**
With last change, that it's always NSNumber exists can't figure out is setting exist or just setted to "0".

**Want:**
Return optional value.

[2021-10-08 15:57] #8755 closed, assigned to peterfriese

[2021-10-09 13:05] github-actions opened #8775 "Nightly Testing Report"
# Nightly Testing Report
This issue([log](https://github.com/firebase/firebase-ios-sdk/actions/runs/1323561054)) is generated at 10/09/2021 06:04 AM, fetching workflow runs triggered in the last 24 hrs.
| Workflow |10/08|
| -------- | -------- |
| [remoteconfig](https://github.com/firebase/firebase-ios-sdk/blob/master/.github/workflows/remoteconfig.yml) | [in_process](https://github.com/firebase/f

[2021-10-09 14:53] jrustonapps commented on #8726
I am also seeing these crashes on iOS 15.

[2021-10-09 18:39] kylowrobelek opened #8777 "AppTrackingTransparency required when using Firebase/Messaging"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 12.4
  * Firebase SDK version: 8.7.0
  * Installation method: `CocoaPods`
  * Firebase Component: Messaging

### [REQUIRED] Step 2: Describe the problem

Apple Reviews keeps rejecting my app because of that error:
`Your app contains NSUserTrackingUsageDescription, indicating that you will request permission to track users. To upd

[2021-10-10 07:03] lex910806 commented on #8744
I am also having the same problem.
This issue occurs when testing on an actual device. (I am using iPhone 12 Pro, iOS 15.0.1)

The app works fine, but I'm worried that the Appstore will process it as a crash.

[2021-10-10 13:05] #8775 closed, assigned to nobody

[2021-10-10 20:38] solkpolk opened #8778 "Use of deallocated memory"
### Environment

  * Xcode version: 13.0
  * Firebase SDK version: 8.0.0  - new major
  * Installation method: Swift Package Manager
  * Firebase Component: Auth, Core, Firestore, Messaging, Storage, CrashAlytics
  * Interface: SwiftUI

### Step 2: Describe the problem
It was all working until I for small user growth. Now when I open the app and navigate to user list view the app crashes. The user

[2021-10-11 05:42] maulikm235 commented on #8715
can we take zoom call?

[2021-10-11 07:03] 170warship opened #8780 "crash -[GDTCCTUploader uploadTarget:withConditions:] + 124 (GDTCCTUploader.m:124)"
I found this crash only happend in ios 10 ,   and  80% in arm32 .

com.google.GDTCORUploadCoordinator
EXC_BAD_ACCESS KERN_INVALID_ADDRESS 0x0000000e1e56bec8

Crashed: com.google.GDTCORUploadCoordinator
0  libobjc.A.dylib                0x21704 objc_object::release() + 8
1  GoogleDataTransport            0x7654 -[GDTCCTUploader uploadTarget:withConditions:] + 124 (GDTCCTUploader.m:124)
2  GoogleDat

[2021-10-11 10:26] lammertw commented on #5423
It just disappeared one day but now it's back. So not solved yet.

[2021-10-11 11:45] kravchuk-se opened #8781 "[RemoteConfig] Crash at RCNConfigExperiment updateExperimentStartTime"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 12.4
  * Firebase SDK version: 6.33
  * Installation method: Zip file
  * Firebase Component: RemoteConfig

### [REQUIRED] Step 2: Describe the problem

#### Steps to reproduce:

The crash is hardly reproducible. We've not managed to reproduce it, but we are still getting crash reports from our users.

Here are examples of the st

[2021-10-11 14:20] AEugene opened #8782 "[Dynamic links] Dynamic link doesn't resolve correctly after upgrading to 8.0.0"
###  Step 1: Describe your environment

  * Xcode version: 12.5
  * Firebase SDK version: 8.8.1
  * Installation method: `Swift Package Manager`
  * Firebase Component: Dynamic links

### Step 2: Describe the problem

After upgrade from 7.x.x to 8.x.x the same dynamic link is not resolved correctly - missing URL parameter configured in Firebase Console.

The last working version - 7.11.0
The first

[2021-10-11 14:42] lammertw commented on #5423
@santiotin No we're still having the issue

[2021-10-11 15:49] paulb777 opened #8783 "FirebaseApp.app() logs an error when used as documented"
FirebaseApp.app() is [documented](https://github.com/firebase/firebase-ios-sdk/blob/master/FirebaseCore/Sources/Public/FirebaseCore/FIRApp.h#L78) to "Returns the default app, or nil if the default app does not exist".

However, when used to check if the default app exists and it doesn't, it logs an [error](https://github.com/firebase/firebase-ios-sdk/blob/master/FirebaseCore/Sources/FIRApp.m#L251)

[2021-10-11 17:48] eldhosembabu commented on #3938
This issue should be fixed by now (Tracking internal Bug : b/141873818). Closing this github issue.

[2021-10-11 17:48] #3938 closed

[2021-10-11 22:17] eiskalt opened #8786 "[Dynamic links] Shortlink is not handled in 8.8.0"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 13.0
  * Firebase SDK version: 8.8.0
  * Installation method: `CocoaPods`
  * Firebase Component: DynamicLinks

### [REQUIRED] Step 2: Describe the problem

#### Steps to reproduce:

Try to use ` DynamicLinks.dynamicLinks().handleUniversalLink(url)` on a shortlink for a Firebase generated DynamicLink.

Links of the format `https:

[2021-10-11 22:56] spyder81 opened #8787 "2526255447651187"
### Step 0: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ please use the Feature Request template.
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the `firebase` tag.
  * For general (non-iOS) Firebase discussion, u

[2021-10-12 11:17] mortenbekditlevsen opened #8790 "FNextPushId 'successor' crash"
### Step 0: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ please use the Feature Request template.
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the `firebase` tag.
  * For general (non-iOS) Firebase discussion, u

[2021-10-12 11:27] paulharter opened #8791 "Large increase in Firestore initialisation time in 8.8.0"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 13.0
  * Firebase SDK version: 8.8.0
  * Installation method: CocoaPods
  * Firebase Component: Firestore

### [REQUIRED] Step 2: Describe the problem

#### Steps to reproduce:

After updating (unfortunately several things at once) to iOS 14.8, xcode 13 and SDK 8.8.0 (from 7.4.0) I am getting a change in behaviour in startup and

[2021-10-12 12:17] paulharter commented on #8791
A bit more detail:

It looks like the first thing the SDK does on startup, that takes most of the delay is prepare a large transaction into levelDB (possibly of all the documents?):

[code]

[2021-10-12 13:52] paulb777 commented on #8747
Please make sure you update to latest 8.8.1 with Swift Package Manager. abseil should be at 0.20200225.4 and BoringSSL-GRPC at 0.7.2

[2021-10-12 14:08] ryanwilson commented on #8783
We do have a `isDefaultAppConfigured` private API: https://github.com/firebase/firebase-ios-sdk/blob/63c1673255f6ffb444f2ec69a772b9734354e806/FirebaseCore/Sources/Private/FIRAppInternal.h#L103

but have generally recommended against people conditionally calling configure. I'm curious to hear the context as to how this came up and how we can address it!

[2021-10-12 16:00] rosalyntan commented on #8048
Hi folks, Facebook Limited Login is now supported for Firebase Auth. Please see the [docs](https://firebase.google.com/docs/auth/ios/facebook-login#implement_facebook_limited_login) for usage guides.

In addition, Facebook Limited Login support was added to FirebaseUI iOS in firebase/FirebaseUI-iOS#995 and is available in the latest released version.

[2021-10-12 17:00] schmidt-sebastian commented on #8791
@paulharter Thanks for reporting this.

What you are seeing is the result of a schema migration. We sometimes perform these migrations to prepare for new features or to improve the overall usability of the SDK. The migration that runs here "Rewrite Targets Canonical Ids" improves the performance of Query evaluation once completed. These schema upgrades should only run once and once completed, star

[2021-10-12 18:13] kravchuk-se commented on #8781
I've also mentioned the identical issue #7485 - the latest version from there is 7.8.1.

We've tried to use the latest version of Firebase SDK, but we are still experiencing the issue. Unfortunately, we couldn't find a stable way to reproduce it yet.
As far as I can see, these particular methods (`-RCNConfigExperiment.loadExperimentFromTable` and `-RCNConfigExperiment. updateExperimentStartTime`)

[2021-10-12 19:27] echo3Dco commented on #5333
Any update on the icon fix?

[2021-10-12 20:43] eldhosembabu commented on #8786
taking a look...will keep you posted

[2021-10-12 20:46] paulb777 commented on #8783
It comes up in tests like at https://github.com/firebase/firebase-ios-sdk/blob/master/FirebaseRemoteConfig/Tests/SwiftAPI/APITestBase.swift#L28. The private API is not an option since the code is Swift.

[2021-10-13 06:50] mortenbekditlevsen commented on #8790
Note: The Objective-C implementation is similar to the java implementation for android. I assume the same error may exist in other implementations of the sdk as well:

https://github.com/firebase/firebase-android-sdk/blob/52e1cf89efd795d798ae5485b8503e04e4a936b8/firebase-database/src/main/java/com/google/firebase/database/core/utilities/PushIdGenerator.java#L98

[2021-10-13 11:00] Nezz opened #8795 "Firebase causes app to hang at startup"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 13.0 (13A233)
  * Firebase SDK version: 8.8.0
  * Installation method: `CocoaPods`
  * Firebase Component: Analytics

### [REQUIRED] Step 2: Describe the problem

#### Steps to reproduce:
1. Build an app with Firebase Analytics using Xcode 13.0 (13A233). The issue does not happen with Xcode 12.5. We have not verified if the issue

[2021-10-13 13:11] github-actions[bot] opened #8796 "Nightly Testing Report"
# Nightly Testing Report
This issue([log](https://github.com/firebase/firebase-ios-sdk/actions/runs/1337569085)) is generated at 10/13/2021 06:10 AM, fetching workflow runs triggered in the last 24 hrs.
| Workflow |10/12|
| -------- | -------- |
| [zip](https://github.com/firebase/firebase-ios-sdk/blob/master/.github/workflows/zip.yml) | [failure](https://github.com/firebase/firebase-ios-sdk/actio

[2021-10-13 13:20] paulb777 commented on #8786
The test in #8793 still passes for me if I change line 1378 to `  NSString *urlString = @"https://foo.page.link/?link=https://google.com/test-test";`

[2021-10-13 13:45] paulb777 commented on #8795
We believe this is an initialization issue with the C++ runtime and it's being tracked at https://github.com/firebase/firebase-cpp-sdk/issues/700.

I'll close this as a duplicate. Please follow up on the other thread.

[2021-10-13 14:13] #8795 closed, assigned to nobody

[2021-10-13 18:44] chliangGoogle commented on #8716
I'm  still not able to reproduce. @rizafran Can you try out sample app to see if it works for you? https://github.com/firebase/firebase-ios-sdk/tree/master/FirebaseMessaging/Apps/Sample

[2021-10-13 20:51] alexliuf5 opened #8801 "Storage SDK will crash when Swizzle URLSession.dataTask(with:completionHandler:)"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 12
  * Firebase SDK version: 8.8.0
  * Installation method: CocoaPods
  * Firebase Component: Storage

### [REQUIRED] Step 2: Describe the problem

#### Steps to reproduce:

Add some Swift code to swizzle URLSession.dataTask with completion, then make sure this function `swizzleURLSessionDataTask` is called to initialize method S

[2021-10-13 23:21] paulb777 commented on #8781
There have been a few changes that might affect threading like #7975. Otherwise a report on an old release without a way to reproduce is hard to be actionable for us.

[2021-10-14 14:15] rizafran commented on #8716
Hi @chliangGoogle, I just tried that sample app from firebase-ios-sdk, and it's working fine. I used the [messaging quickstart](https://github.com/firebase/quickstart-ios/tree/master/messaging) on my first repro, and I encountered the issue there.

[2021-10-14 14:41] paulb777 commented on #8796
Reopening since the storage `pod spec lint` issue is new and requires investigation:

` pod spec lint FirebaseStorage.podspec --test-specs=unit --sources='https://github.com/firebase/SpecsTesting','https://github.com/firebase/SpecsDev.git','https://github.com/firebase/SpecsStaging.git','https://cdn.cocoapods.org/'`

    - NOTE  | xcodebuild:  FirebaseStorage/SharedTestUtilities/AppCheckFake/FIRApp

[2021-10-14 16:40] paulb777 commented on #8796
@maksymmalyhin Looks like the problem is just moved since Storage uses AppCheckFake and AppCheckFake needs the BackoffWrapper:

    - NOTE  | xcodebuild:  FirebaseStorage/SharedTestUtilities/AppCheckFake/FIRAppCheckBackoffWrapperFake.h:21:9: fatal error: 'FirebaseAppCheck/Sources/Core/Backoff/FIRAppCheckBackoffWrapper.h' file not found

[2021-10-14 20:45] cooksimo opened #8807 "Remote Config doesn't work if the device is locked (due to File Protection settings)"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 12.4
  * Firebase SDK version: 8.7.0
  * Installation method: `CocoaPods`
  * Firebase Component: Remote Config

### [REQUIRED] Step 2: Describe the problem

If the app is started in the background (eg a background fetch or silent notification) then the remote config database is unable to be opened and all config settings return

[2021-10-15 01:37] paulb777 opened #8808 "Can In-App messaging triggered by Audience trigger ?"
### Discussed in https://github.com/firebase/firebase-ios-sdk/discussions/8756

<div type='discussions-op-text'>

<sup>Originally posted by **fumito-ito** October  6, 2021</sup>
Hi, my project uses firebase in-app messaging and firebase audience. I want to show message to updated users by in-app messaging. I try following steps but any message appears. Does In-App messaging support audience trigge

[2021-10-15 06:30] 170warship commented on #8780
I found GDTCCTUploadOperation  "main" function change name to "start" can fixed this crash

[2021-10-15 09:47] JMCPH commented on #6605
@wshrads did you ever get it to work for extensions?

[2021-10-15 10:13] mortenbekditlevsen commented on #8790
Thanks for the clarification, Ian. I thought that it might be a little peculiar that the server also used utf16 'character' comparison like in Objective-C - which in my testing does not give the same ordering as unicode codepoint order.
But I tested with a few values, and from those tests it appears that the server is indeed also doing a utf16 character ordering.

My tests were:
Find a sample wher

[2021-10-15 10:21] mortenbekditlevsen commented on #8790
Another small comment - apologies for the bandwidth here - I'm just really curious about how things work:

In the javascript sdk we have:
https://github.com/firebase/firebase-js-sdk/blob/master/packages/database/src/core/util/util.ts
Where the kay comparison falls back to the 'less than' operator, which in the documentation states that it performs unicode codepoint comparison - meaning that this m

[2021-10-15 11:37] wshrads commented on #6605
Unfortunately no. Still waiting to hear back from Firebase.

[2021-10-15 13:06] github-actions opened #8809 "Nightly Testing Report"
# Nightly Testing Report
This issue([log](https://github.com/firebase/firebase-ios-sdk/actions/runs/1346017614)) is generated at 10/15/2021 06:05 AM, fetching workflow runs triggered in the last 24 hrs.
| Workflow |10/14|
| -------- | -------- |
| [firestore](https://github.com/firebase/firebase-ios-sdk/blob/master/.github/workflows/firestore.yml) | [failure](https://github.com/firebase/firebase-i

[2021-10-15 14:07] paulb777 opened #8810 "testTraceCreationWhenSDKFlagDisabled often flakes"
This test often flakes in nightly tests. Perhaps a thread safety issue with the FPRConfigurations singleton?

FPRNetworkTraceTest
  testTraceCreationWhenSDKFlagDisabled, (([[FPRNetworkTrace alloc] initWithURLRequest:self.testURLRequest]) == nil) failed: "Request: <NSURLRequest: 0x7fb8a2c84340> { URL: https://abc.com }"
  /Users/runner/work/firebase-ios-sdk/firebase-ios-sdk/FirebasePerformance/Test

[2021-10-15 15:45] #8809 closed, assigned to paulb777

[2021-10-15 18:38] aakpro opened #8812 "Installing via Swift package manager keeps getting errors."
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 13.0
  * Firebase SDK version: 8.8.0
  * Installation method: Swift Package Manager
  * Firebase Component: Analytics, Crashlytics

### [REQUIRED] Step 2: Describe the problem

I use the following manifest to install  and use Firebase, but I keep getting errors.

`// swift-tools-version:5.3
// The swift-tools-version declares the

[2021-10-15 19:48] maksymmalyhin commented on #8780
@170warship thank you for your investigation! Yes, I think this is the issue. Based on the [NSOperation docs](https://developer.apple.com/documentation/foundation/nsoperation/1416837-start) `start` method must be used for async operations instead of `main` but the newer iOS versions appeared to be tolerant to this error. We will test and release a fix.

[2021-10-16 06:16] aakpro commented on #8812
I can access the site and download file. But I cannot install it via SPM.

It might give you more information:

The size of the following file when I use SPM is 1 KB, which is obviously not correct!

When I download it directly, it is 366 KB.
The same thing happens to GoogleAppMeasurement.zip which SPM-downloaded file is 1 KB, but the real size is 11.3 MB.

However, I could fix it by downloading f

[2021-10-16 13:05] github-actions[bot] opened #8813 "Nightly Testing Report"
# Nightly Testing Report
This issue([log](https://github.com/firebase/firebase-ios-sdk/actions/runs/1349180467)) is generated at 10/16/2021 06:04 AM, fetching workflow runs triggered in the last 24 hrs.
| Workflow |10/15|
| -------- | -------- |
| [zip](https://github.com/firebase/firebase-ios-sdk/blob/master/.github/workflows/zip.yml) | [failure](https://github.com/firebase/firebase-ios-sdk/actio

[2021-10-16 14:45] paulb777 commented on #8813
spm failure is #8810
zip failure is the auth quickstart after facebook sdk 13.0.1 started https://github.com/facebook/facebook-ios-sdk/issues/1911

[2021-10-16 14:58] paulb777 commented on #8812
This sounds like a Swift Package Manager issue. It might be worth posting to https://forums.swift.org/tags/c/swift-users/15/packagemanager or another Apple venue.

[2021-10-17 20:29] Sunrise17 commented on #8744
I am also receiving same errors below in Xcode debug area.

Xcode version: 13.0
Firebase SDK version: 8.8.0
Installation method: CocoaPods

[code]

[2021-10-18 06:45] kobe1941 opened #8819 "Terminating app due to uncaught exception 'com.firebase.installations"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 13.0
  * Firebase SDK version: 7.7.0
  * Installation method: Zip file, static framework
  * Firebase Component:  Core,, Messaging, Analytics

### [REQUIRED] Step 2: Describe the problem

Hardware Model:      iPhone13,2
Date/Time:       2021-10-16 19:44:05 +0000
OS Version:      iPhone OS 14.6 (18F72)
Report Version:  104
Excepti

[2021-10-18 09:37] elitalon opened #8820 "GoogleAppMeasurement and FirebaseAnalytics checksum mismatch when installing with Swift Package Manager"
### Step 0: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ please use the Feature Request template.
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the `firebase` tag.
  * For general (non-iOS) Firebase discussion, u

[2021-10-18 12:08] nazdream commented on #8744
I am experiencing the same problem with Xcode 13.0, iOS 15.0, flutter 2.5.1

[2021-10-18 14:03] #8780 closed, assigned to maksymmalyhin

[2021-10-18 14:13] paulb777 commented on #8744
Thanks for the reports. It would be helpful to get more detail including what Firebase libraries are installed, what package manager is used, and ideally a reproducible example.

Also, there have been similar issues in earlier iOS versions that were spurious logs that had no impact on the apps.  Is this problem causing any crashes now? Is it related to slow startup?

[2021-10-18 14:36] paulb777 commented on #8819
This may be an issue related to linking static libraries into a dynamic library. Do you see duplicate warnings in the console on startup? More background at https://github.com/firebase/firebase-ios-sdk/blob/master/docs/firebase_in_libraries.md.

If you're still stuck, we'll likely need a reproducible example.

[2021-10-18 15:10] alanf opened #8823 "Crash inside RLMIsObjectSubclass when using Firebase and Realm together"
Xcode version: 12.5.1 (now moved to 13.0 for versions moving ahead)
Firebase SDK version: 8.7.0
Installation method: CocoaPods
Firebase Component: Performance
Steps to reproduce:
What happened? How can we make the problem occur?

Adding performance instrumentation to a codebase with Realm causes the crash to sporadically occur, likely due to swizzling conflicts. We don't have any steps to reproduc

[2021-10-18 22:49] eldhosembabu commented on #5314
Hi @DracoRubi , @fastcoretux , others

Is this issue reproducible in the latest FDL SDK?

If yes, could you please provide the FDL link used for reproducing the issue?

[2021-10-19 01:03] #8743 closed

[2021-10-19 08:26] peterfriese opened #8827 "FR: RTDB/Codable: Add support for mapping node IDs to / from attributes on a Swift struct"
### Feature proposal

* Firebase Component: Database

Mapping data between RTDB nodes and Swift structs has become a lot easier thanks to the addition of Codable support. However, the current implementation doesn't allow for automatically mapping a node's ID to an attribute on the respective Swift struct. To deal with this situation, developers add an extra field `id` to their RTDB nodes, which mi

[2021-10-19 17:29] #8810 closed, assigned to jeremyjiang-dev

[2021-10-20 03:35] lex910806 commented on #8744
@zeqinjie
Yes, I am using **Xcode 13.**
And device is **iPhone 12 Pro, iOS 15.0.2.**
Also I am testing both **Swift Package Manager** and **Cocoapods**.
The result is still log messages comes out.

@paulb777 said that it could be a spurious error, so I'm going to distribute my app this week.

[2021-10-20 06:07] kobe1941 commented on #8819
@paulb777 hello，We use firebase by static library，not dynamic library，and our project not have any dynamic library，all of frameoworks are static library。
also，we not fount the duplicate class warning in the console，but we found this log in the console：

7.7.0 - [Firebase/Core][I-COR000003] The default Firebase app has not yet been configured. Add `[FIRApp configure];` (`FirebaseApp.configure()` in

[2021-10-20 06:09] kobe1941 commented on #8819
@paulb777 We can not reproduce the crash every time， we found it in our apps，only 1-2% percent will occur the crash。

[2021-10-20 13:08] github-actions[bot] opened #8832 "Nightly Testing Report"
# Nightly Testing Report
This issue([log](https://github.com/firebase/firebase-ios-sdk/actions/runs/1363634634)) is generated at 10/20/2021 06:08 AM, fetching workflow runs triggered in the last 24 hrs.
| Workflow |10/19|
| -------- | -------- |
| [storage](https://github.com/firebase/firebase-ios-sdk/blob/master/.github/workflows/storage.yml) | [in_process](https://github.com/firebase/firebase-io

[2021-10-20 14:02] #8820 closed, assigned to nobody

[2021-10-20 17:27] paulb777 opened #8833 "Firestore cmake CI tests failing in GHA"
It seems that a GHA infra change caused the cmake job to start failing. Perhaps related to changing the default from Xcode 12 to Xcode 13

[code]

https://github.com/firebase/firebase-ios-sdk/runs/3953978782?check_suite_focus=true

[2021-10-20 17:34] granluo opened #8834 "Get negative binary size number in PRs"
Found negative binary sizes in #8806. Based on the [log](https://github.com/firebase/firebase-ios-sdk/runs/3898505212?check_suite_focus=true), this was caused by the size testapp failed to be built. And one of the dependencies was not found.
[code]

[2021-10-20 17:47] paulb777 commented on #8834
Yep, that was the PR that was testing GU 7.6 from SpecsStaging in advance of publishing it.  Yes adding SpecsStaging as a source sounds like a fix.

[2021-10-20 18:23] maksymmalyhin commented on #8801
@alexliuf5 From the first glance it looks like it is most likely a bug with the swizzling implementation. I'm pretty sure that Firebase Storage is not the only broken URLSession user, but rather the first discovered one. If Firebase Storage SDK works for you without swizzling then I unlikely see any reasonable actions from Firebase side. Please let us know if it is the case.

A general suggestion

[2021-10-20 18:28] eldhosembabu commented on #7406
Hi @cuicmex ,

Sorry for the delayed response. Could you please share the quick start app where you were able to reproduce the issue as I was not able to reproduce this issue on my end.

[2021-10-20 19:27] paulharter commented on #8791
@schmidt-sebastian

I've just had a look at the migration code for levelDB - it looks like migration 7 is missing the call to `SaveVersion` that all the other migrations have at the end.

[2021-10-20 20:00] maksymmalyhin commented on #8801
@alexliuf5 Some swizzling have been used in Firebase and we keep discovering different issues when our implementation breaks the host app code and assumption. Currently we are trying to get rid of any swizzling to avoid the issues in the future. So my suggestion comes from our poor experience with swizzling.

If you are interested, there is an implementation in Firebase Performance that seems some

[2021-10-20 20:01] maksymmalyhin commented on #8801
I am going to close the ticket as it doesn't look like an issue on the Firebase SDK side. Feel free to file another if you have other problems with Firebase SDKs.

[2021-10-20 20:01] #8801 closed

[2021-10-20 20:17] sstigler commented on #8759
The crash appears to be in `-[FIRAnalyticsConnector componentsToRegister]`.

[2021-10-20 22:39] sstennis1 commented on #1732
@paulb777 Any news on Firebase Analytics Mac Catalyst support?

[2021-10-20 22:45] paulb777 commented on #1732
@sstennis1 Active progress and hope to share an update in the near future.

[2021-10-21 01:18] paulb777 commented on #8655
Keeping this one open.

[2021-10-21 01:20] #8833 closed, assigned to nobody

[2021-10-21 02:06] HatsuneMikuV opened #8840 "Crashed：Thread 8: EXC_BAD_ACCESS"
### Step 0: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ please use the Feature Request template.
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the `firebase` tag.
  * For general (non-iOS) Firebase discussion, u

[2021-10-21 06:50] kobe1941 commented on #8819
maybe，our initialize code have some problem? should I remove the 'if' statement ?

if ([FIRApp defaultApp] == nil) {
        [FIRApp configure];

}

[2021-10-21 12:47] rizafran commented on #8840
Hi @HatsuneMikuV, it looks like your issue is related to #8661, and the crash `LevelDbRemoteDocumentCache::GetAllExisting` has been fixed by #8610. With this, could you try upgrading your  Firebase SDK to the latest (8.8.1 at the moment) to pick up this fix and see if you'll still encounter the issue?

[2021-10-21 13:09] adamszeremeta commented on #6392
Hello,
I'm experiencing same issue while using Firebase SDK 8.8.0 and Google Mobile Ads in version 8.12.0. App can freeze up to 2-3s on UI and does not react at all for touches. I was able to observe this also on profiler while looking at main thread in Blocked state (small fragment how this can look is attached as screenshot).

From my investigations, this issue happens only for rectangle ads - i

[2021-10-21 13:50] paulb777 commented on #8832
AppCheck likely needs a similar fix as #8837

[2021-10-21 15:35] alexanderludvigs opened #8842 "Dynamic links with URL containing underscore or dash stopped working properly in version 8.8.0"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 12.4 (12D4e)
  * Firebase SDK version: 8.8.0
  * Installation method: CocoaPods
  * Firebase Component: FirebaseDynamicLinks

### [REQUIRED] Step 2: Describe the problem

After my team updated our DynamicLinks SDK version from 8.6.0 to 8.8.0 in our iOS app some of our Dynamic links stopped working properly.

#### Steps to reprodu

[2021-10-21 16:10] #8842 closed, assigned to nobody

[2021-10-21 17:18] #8834 closed, assigned to nobody

[2021-10-21 17:53] tsunghung commented on #8726
The main thread was waiting for the worker thread, which was blocked in ASIdentifierManager.advertisingIdentifier. We asked the threading assumption/requirement of ASIdentifierManager in the apple developer forum but have not received any clarification.

We created a workaround in Firebase Analytics 8.7.0+ for testing, but we need help from app developers to verify.
1. The apps must integrate with

[2021-10-21 17:54] #8744 closed, assigned to ncooke3

[2021-10-21 17:54] HatsuneMikuV commented on #8840
Great, but the latest version of firebase_core that Flutter relies on is 1.7.0, and it relies on version 8.7.0
Is there a way to deal with it?
[code]

[2021-10-21 18:01] rehannali opened #8845 "Cloud Messaging Push Notification Not working"
### Step 0: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ please use the Feature Request template.
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the `firebase` tag.
  * For general (non-iOS) Firebase discussion, u

[2021-10-21 18:51] ncooke3 commented on #8655
Thank you so much for the fast turn around @crleonard!  I think we will move forward with this fix then. I'll keep this thread posted!

[2021-10-21 19:54] neobeppe commented on #4563
I'm already a firebase alpha user, any chance to get access to catalyst beta for firebase analytics?

[2021-10-21 21:08] #8832 closed

[2021-10-21 21:10] #8655 closed

[2021-10-21 21:29] shieldh opened #8849 "FPREncodePerfSessions causes heap-buffer overflow"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 12.5.1
  * Firebase SDK version: 8.7.0
  * Installation method: `CocoaPods`
  * Firebase Component: Performance

### [REQUIRED] Step 2: Describe the problem

#### Steps to reproduce:

While running an app that includes Firebase Performance with the Address Sanitizer on, a heap-buffer-overflow was reported in FPREncodePerfSessions

[2021-10-21 21:42] karenyz commented on #8768
Discussed with the team, the recommendation for now is to check [FIRRemoteConfigSource](https://firebase.google.com/docs/reference/ios/firebaseremoteconfig/api/reference/Enums/FIRRemoteConfigSource.html) which will indicate whether the value is user-defined or not (`FIRRemoteConfigSourceStatic` indicates no value exists)

Hope that helps!

[2021-10-21 21:42] #8768 closed, assigned to nobody

[2021-10-21 22:03] elliot-sexcellent opened #8851 "Bug in App Check debug provider"
### Step 1: Describe your environment

  * Xcode version: **13.0 (13A233)**
  * Firebase SDK version: **8.8.1**
  * Installation method: **Swift Package Manager**
  * Firebase Component: **Auth**

#### Steps to reproduce:

1. Enable **App Check** for Storage in the Firebase console by going to `Project Settings -> App Check -> Storage` and clicking on `Enforce`.
1. Wait 15 minutes or so for your c

[2021-10-21 23:48] paulb777 commented on #8528
@mortenbekditlevsen Good point! We definitely don't want to repeat code, so my preference would be to factor into another module. In Swift Package Manager, it could be a target, but not a product.

[2021-10-22 08:28] #8791 closed, assigned to schmidt-sebastian

[2021-10-22 18:12] DorenBoust opened #8852 "Swift - Firebase Push Notification - didReceiveRemoteNotification Not Called At Background"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 13.0 (13A233)
  * Firebase SDK version: 8.5.0
  * Installation method: `CocoaPods`
  * Firebase Component: Messaging

### [REQUIRED] Step 2: Describe the problem
I working now on the notification system for my app. I used This func to send Notification to specific token device:
[code]
I got the notification like I expected, but w

[2021-10-23 16:56] colinta opened #8855 "Internal log ignores log level configuration"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 12
  * Firebase SDK version: 8.0.0
  * Installation method: Swift Package Manager
  * Firebase Component: Auth

### [REQUIRED] Step 2: Describe the problem

When running `Auth.auth().signIn(withEmail:, password:, completion:)` I am unable to silence the log message:

[code]

I have tried every value of `FIRLoggerLevel` in `Fireba

[2021-10-23 17:09] #8855 closed, assigned to nobody

[2021-10-24 13:05] github-actions opened #8856 "Nightly Testing Report"
# Nightly Testing Report
This issue([log](https://github.com/firebase/firebase-ios-sdk/actions/runs/1377859152)) is generated at 10/24/2021 06:05 AM, fetching workflow runs triggered in the last 24 hrs.
| Workflow |10/23|
| -------- | -------- |
| [abtesting](https://github.com/firebase/firebase-ios-sdk/blob/master/.github/workflows/abtesting.yml) | [in_process](https://github.com/firebase/firebas

[2021-10-25 01:03] #8782 closed, assigned to nobody

[2021-10-25 05:55] locone opened #8857 "GDTCCTUploader Crash in iOS 10"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 12.5.1
  * Firebase SDK version: 8.8.0
  * Installation method: Zip file
  * Firebase Component: Analytics, Auth, DynamicLinks, RemoteConfig, Google-Mobile-Ads-SDK

### [REQUIRED] Step 2: Describe the problem

#### Steps to reproduce:

Integrate the Firebase Components above in the app, run in iOS 10 for a while, then crash.
![im

[2021-10-25 13:56] #8857 closed, assigned to nobody

[2021-10-25 15:30] #8856 closed, assigned to nobody

[2021-10-26 13:13] github-actions opened #8865 "Nightly Testing Report"
# Nightly Testing Report
This issue([log](https://github.com/firebase/firebase-ios-sdk/actions/runs/1385747259)) is generated at 10/26/2021 06:13 AM, fetching workflow runs triggered in the last 24 hrs.
| Workflow |10/25|
| -------- | -------- |
| [zip](https://github.com/firebase/firebase-ios-sdk/blob/master/.github/workflows/zip.yml) | [failure](https://github.com/firebase/firebase-ios-sdk/actio

[2021-10-27 09:02] kolosov507 opened #8870 "In-App Message doesn't handle a links"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 12.5.1
  * Firebase SDK version: 8.8.0
  * Installation method: `CocoaPods`
  * Firebase Component: In-App Messaging

### [REQUIRED] Step 2: Describe the problem

I set up In-App Message in Firebase Console with a button that contains a link.
![Screenshot 2021-10-27 at 11 39 23](https://user-images.githubusercontent.com/17815149/

[2021-10-27 09:43] gleyd opened #8871 "-[FBLPromise HTTPBody]: unrecognized selector sent to instance"
I have a problem with Firebase because it’s duplicated in my app

I installed Firebase from Swift Package Manager in my custom framework A
I installed Firebase from Swift Package Manager in my custom framework B

I also installed firebase from Swift Package Manager in my app The custom framework B uses the custom framework A and my app uses custom framework A and B.

What do I have to do to make s

[2021-10-27 13:09] #8865 closed, assigned to nobody

[2021-10-27 17:59] #8577 closed, assigned to jeremyjiang-dev

[2021-10-28 13:08] mortenbekditlevsen opened #8874 "Does 'sanitizing' url in `FUtilities parseUrl:` accidentally corrupt host?"
Regarding FirebaseDatabase.

In the referenced line:

https://github.com/firebase/firebase-ios-sdk/blob/aab84c83209a7cc5a810913956e796a3e7f788a8/FirebaseDatabase/Sources/Utilities/FUtilities.m#L158

it appears as if the host may be corrupted in case the path is a substring of the host.

For instance:
[code]

Since 'a' is part of 'sample', it will replace it with 'smple'.
This could be an issue in

[2021-10-28 19:42] nidegen opened #8878 "tvOS Cloud-Synced Auth"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 13.1
  * Firebase SDK version: 8.9.0
  * Installation method: `Swift Package Manager`
  * Firebase Component: Auth

### [REQUIRED] Step 2: Describe the problem

#### Steps to reproduce:

Following [this](https://github.com/firebase/firebase-ios-sdk/pull/6924#issuecomment-772604212), I do share Auth over iCloud Keychain sync betwe

[2021-10-29 02:13] thii opened #8882 "Release artifacts not include a LICENSE file"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 13.0
  * Firebase SDK version: 8.6.0
  * Installation method: Custom
  * Firebase Component: Analytics, Crashlytics, Messaging

### [REQUIRED] Step 2: Describe the problem

The release binaries (for example: https://dl.google.com/firebase/ios/analytics/5c7aebede686658a/FirebaseAnalytics-8.9.0.tar.gz) don't contain a LICENSE file.

[2021-10-29 03:34] 170warship opened #8883 "crashes on FIRCLSContext.m -- FIRCLSContextInitialize --- __FIRCLSContextInitialize_block_invoke -- [NSString stringWithUTF8String:]"
![image](https://user-images.githubusercontent.com/2245961/139371014-d08830df-5b4b-402b-a2c1-9b2aaf0d5e28.png)

2021-10-29 10:48:32.563387+0800 YoHo[49412:21422570] *** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '*** +[NSString stringWithUTF8String:]: NULL cString'
*** First throw call stack:
(
	0   CoreFoundation                      0x000000010f06fbb4 __excep

[2021-10-29 04:17] wasauce opened #8884 "com.google.iid error -25244 - what does it mean?"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 13.1
  * Firebase SDK version: 8.7.0
  * Installation method: `CocoaPod
  * Firebase Component: Messaging

### [REQUIRED] Step 2: Describe the problem

Problem: I am attempting to generate a push token for my specific device and i am consistently getting the following error. Messaging.messaging().token error: The operation couldn

[2021-10-29 13:06] github-actions[bot] opened #8885 "Nightly Testing Report"
# Nightly Testing Report
This issue([log](https://github.com/firebase/firebase-ios-sdk/actions/runs/1399052023)) is generated at 10/29/2021 06:06 AM, fetching workflow runs triggered in the last 24 hrs.
| Workflow |10/28|
| -------- | -------- |
| [core](https://github.com/firebase/firebase-ios-sdk/blob/master/.github/workflows/core.yml) | [in_process](https://github.com/firebase/firebase-ios-sdk/

[2021-10-29 14:46] #8882 closed, assigned to nobody

[2021-10-29 16:51] brunomunizaf opened #8886 "FIRCLSSignalRecordSignal crash"
* Xcode version: Version 13.1 (13A1030d)
  * Firebase SDK version: 8.0.0
  * Installation method: Swift Package Manager
  * Firebase Component: Messaging, Crashlytics

I can't reproduce the crash, I just got TestFlight crash reports that points to:
- FIRCLSSignalRecordSignal
- FIRCLSFileInitWithPathMode
- FIRCLSSignalHandler

<img width="342" alt="Screen Shot 2021-10-29 at 13 50 55" src="https://u

[2021-10-29 18:03] rehannali commented on #8845
Yes, i create new project and did exact same steps in demo project. Again got same error of bad URL.

P.S. now i resolved the issue of bad URL which is strange. I need to add certificate as well with auth key and got FCM token. But now I'm unable to get any notification even i can't get it from push notification console.

[2021-10-29 21:31] andresguzmanl commented on #8759
It looks like we are out of options, I haven't seen any known issues by apple on this matter. Should we wait to upgrade on a future XCode release?

[2021-10-29 21:35] paulb777 commented on #8759
@andresguzmanl If it's a Firebase issue, it should be feasible to create a shareable reproducible example.

[2021-10-29 23:37] rosalyntan commented on #8048
Hi @skyblue168, thanks for flagging this!

Seems like [Facebook recently updated the `iss` field in their ID token payload](https://developers.facebook.com/support/bugs/3019917938239359), although it looks like the new value is used only if you log in with the v12 Facebook iOS SDK.

I've forwarded this on to our backend team and will update here once we have a fix. For an immediate workaround, you

[2021-10-30 00:06] thii commented on #8882
Can you please also include a LICENSE file with that same content? We don't use CocoaPods, only take the URLs from the podspecs and integrate them manually.

[2021-10-30 00:09] paulb777 opened #8889 "Size diff is wrong on Analytics PR"
![Screen Shot 2021-10-29 at 5 08 06 PM](https://user-images.githubusercontent.com/73870/139512986-878f994e-3831-4f40-999d-9ec5410c17a5.png)

[2021-10-30 00:17] paulb777 commented on #8882
Sorry, but we'll likely need a more compelling case to add complexity to our release process and duplicate information in the artifacts. Can you extract the copyright at the same time the zip is extracted?

[2021-10-30 03:32] skyblue168 commented on #8048
OK, I will try it. thanks.

[2021-10-30 10:18] aakpro commented on #8812
Well, I found a workaround!
I manually downloaded FirebaseAnalytics.zip, GoogleAppMeasurement.zip and GoogleAppMeasurementIdentitySupport.zip. Then copy them in DerivedData/{My Project}/SourcePackages/artifacts/ and replaced the existing files with the downloaded ones.

Then I reset my packages cache and it worked!

There is certainly an issue with Packages and downloading them.

[2021-10-30 14:50] dangell7 commented on #8744
Same

[2021-10-30 15:17] paulb777 commented on #8885
PR on the way to fix zip build

[2021-10-31 04:27] brunomunizaf commented on #8886
![4E486FB6-4C4F-427B-9A89-E59F09B646C8](https://user-images.githubusercontent.com/12559440/139567559-29800541-a40c-4aca-8476-fe593caf17c8.jpeg)
![9FDAEC84-74A2-4287-92AD-9AD18233688E](https://user-images.githubusercontent.com/12559440/139567563-562610cd-c64c-4097-9bda-69e1b3c87fd3.jpeg)
![D8F9AB40-0111-4370-B724-D0FD1A54918B](https://user-images.githubusercontent.com/12559440/139567564-cc60a82e-3e

[2021-10-31 10:58] mrinaljain commented on #8744
I am experiencing the same problem with Xcode 13.0, iOS 15.0.2, flutter 2.5.3

[2021-11-01 00:45] xidipeng commented on #8726
I also crash in iOS 15 sdk ver 8.8.0

[2021-11-01 01:03] #5314 closed

[2021-11-01 02:01] 170warship commented on #8883
- FirebaseCore (7.9.0):
    - FirebaseCoreDiagnostics (~> 7.4)
    - GoogleUtilities/Environment (~> 7.0)
    - GoogleUtilities/Logger (~> 7.0)
  - FirebaseCoreDiagnostics (7.9.0):
    - GoogleDataTransport (~> 8.0)
    - GoogleUtilities/Environment (~> 7.0)
    - GoogleUtilities/Logger (~> 7.0)
    - nanopb (~> 2.30907.0)
  - FirebaseCrashlytics (7.9.0):
    - FirebaseCore (~> 7.0)
    - Firebase

[2021-11-01 06:24] TappediOS commented on #8744
Same issue.
XCode 13.0
iOS 15.0
Firebase SDK version 8.8.0

[2021-11-01 07:50] elliot-sexcellent commented on #8851
@maksymmalyhin changing the name of the environment variable fixed the issue. Thanks so much for your help!
I think the docs are clear, I just wasn't reading over them carefully. I think it was the fifth step in the instructions (passing in `APP_CHECK_DEBUG_TOKEN=$(APP_CHECK_DEBUG_TOKEN_FROM_CI)` to a CI build) that made me think that the Firebase framework was looking for `APP_CHECK_DEBUG_TOKEN`

[2021-11-01 07:50] #8851 closed

[2021-11-01 10:41] AlexTatarinchik commented on #8726
Sent request via email

[2021-11-01 11:57] adiSmedia1 commented on #8744
Same issue here
XCode 13
iOS 15.0
Firebase SDK 8.8.0

[2021-11-01 15:15] nidegen opened #8895 "Fatal Crash on ARKit with 8.9.0 (not with 8.8.0)"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 13.1
  * Firebase SDK version: 8.9
  * Installation method: `Swift Package Manager`
  * Firebase Component: not sure (Auth, Core, Database, Firestore, Messaging, Storage, etc)

### [REQUIRED] Step 2: Describe the problem

#### Steps to reproduce:

Launch ARKit while using: Auth, Firestore Listeners

#### Relevant Code:

Unfortuna

[2021-11-01 15:35] paulb777 commented on #8895
@nidegen Thanks for the report. The issue is likely related to the Firestore AppCheck integration that was introduced in 8.9.0

[2021-11-01 15:54] nidegen commented on #8895
That's what I was also thinking, but was unable to trace the exact origin. The often called AppCheck Notification Observer of `tokenDidChangeNotificationName` did always have `if (![[contents->app name] isEqual:notified_app_name]) { return }` return in FirebaseAppCheckCredentialsProvider.

[2021-11-01 15:55] nidegen commented on #8895
(Line 52 of firebase_app_check_credentials_provider_apple.mm)

[2021-11-01 16:10] granluo commented on #8889
Podfile:
[code]
[code]

That is probably caused by `GoogleAppMeasurement (= 8.9.1)` not uploaded to the [SpecsStaging repo](https://github.com/firebase/SpecsStaging) when the workflow was running.

The [workflow](https://github.com/firebase/firebase-ios-sdk/runs/4052308228?check_suite_focus=true) was running at 4:57 pm while `GoogleAppMeasurement` was uploaded at 6:15 pm on [the SpecsStaging repo]

[2021-11-01 16:12] maksymmalyhin commented on #8895
@nidegen Do you install App Check SDK as well?

I guess the issue may be due to `app_check == nil` [here](https://github.com/firebase/firebase-ios-sdk/blob/71fa12f4133d74eb6c972ffdc133e3ffdb4b8b69/Firestore/core/src/credentials/firebase_app_check_credentials_provider_apple.mm#L37)  so `nil` is passed as a notification name to the [method](https://developer.apple.com/documentation/foundation/nsnoti

[2021-11-01 16:17] nidegen commented on #8895
Nope, I do not use it or link to it!

[2021-11-01 16:28] paulb777 commented on #8889
OK, that makes sense. Thanks for investigating.

[2021-11-01 16:28] #8889 closed

[2021-11-01 16:55] #8874 closed

[2021-11-01 17:56] mortenbekditlevsen commented on #8874
Thank you @paulb777 ! ❤️

[2021-11-01 18:34] #8895 closed

[2021-11-01 20:37] #8885 closed

[2021-11-02 02:52] morganchen12 commented on #8883
@170warship can you try the latest version?

[2021-11-02 02:55] morganchen12 commented on #8886
These all look like different, potentially unrelated crashes. The last crash is likely a type error somewhere in your code that's not related to Firebase. For the other crashes, can you paste the full crash log from Crashlytics? It's hard to tell what's happening with all the collapsed frames.

[2021-11-02 04:57] brunomunizaf commented on #8886
That's the thing, this is all just one report (I was on mobile so I had to take several screenshots - my apologies)

[code]

[2021-11-02 05:03] brunomunizaf commented on #8886
Could this be related to #8548 ? Cause if so, it seems that updating the SDK to 8.6.0 might fix it

[2021-11-02 05:15] alien190 opened #8907 "InApp message is shown every new session (timestamp of the impression record is always 0 seconds)"
* Xcode version: 13.1
  * Firebase SDK version: 8.8.0 (Flutter plugin firebase_in_app_messaging: ^0.5.0+11)
  * Installation method: `CocoaPods`
  * Firebase Component: InAppMessaging

The problem description:

InAppMessages are shown every new session even though the scheduling is set to 'No more than one message every day'.

![2021-11-02_11-57](https://user-images.githubusercontent.com/32253712/

[2021-11-02 05:31] wasauce commented on #8884
@maksymmalyhin Thank you for the reply.

I removed the firebase keys from Keychain, deleted the app and re-installed and I am still running into this issue.

Note -- I am on a MacOSX machine. 10.15.7 (19H15)

2021-11-02 05:29:39 +0000: Messaging.messaging().token error: The operation couldn’t be completed. (com.google.iid error -25244.)

Do you have any new guidance, please?

[2021-11-02 05:34] priore commented on #8744
Same issue
Xcode 13.1
iOS 15.0
Firebase SDK 8.7.0

[2021-11-02 06:36] xabodog opened #8908 "[BackgroundTask] Background Task 1001 ("GDTStorage"), was created over 30 seconds ago. In applications running in the background, this creates a risk of termination. Remember to call UIApplication.endBackgroundTask(_:) for your task in a timely manner to avoid this."
[BackgroundTask] Background Task 1001 ("GDTStorage"), was created over 30 seconds ago. In applications running in the background, this creates a risk of termination. Remember to call UIApplication.endBackgroundTask(_:) for your task in a timely manner to avoid this.

[2021-11-02 07:46] kolosov507 commented on #8870
I caught this problem in React Native project.

This problem occurs when I add code for universal links to `project/ios/project/AppDelegate.m`:
[code]
Which I take from a [React Navigation docs](https://reactnavigation.org/docs/deep-linking#ios).

https://github.com/kolosov507/firebase-in-app-messaging-test - this is an example of how this can be reproduced. The last commit breaks the action of th

[2021-11-02 09:51] sherrygelato commented on #8744
XCode 13
iOS 15.0
Firebase SDK 8.8.0
same issue

[2021-11-02 10:35] santieduardo commented on #8744
@ncooke3 When will this fix be released?

[2021-11-02 11:47] chauhan130 commented on #4856
Do we have any updates on this?

[2021-11-02 14:21] paulb777 commented on #8908
This looks like a duplicate of #6937.  Please make sure you on are on a recent version and fill out the issue template including the Firebase versions used.

[2021-11-02 14:46] aplr opened #8910 "Crashlytics upload-symbols error"
### Environment

  * Xcode version: 13.1 (13A1030d)
  * Firebase SDK version: 8.9.0
  * Installation method: Swift Package Manager
  * Firebase Component: Crashlytics
  * macOS 12.0 (21A344)
  * MacBook Pro 2021 w/ M1 Pro

### Problem

[code]

#### Steps to reproduce:

The crashlytics build phase fails with the error above. I've already cleaned up DerivedData, reset the package cache and restarted

[2021-11-02 16:46] paulb777 commented on #8744
As discussed above, this is an Apple issue so best to follow up on Apple forums about resolution timing.

[2021-11-02 16:55] schmidt-sebastian commented on #8895
The underlying issue seems to be that the AppCheck callback is processing a notification whose `userInfo` is not an NSDictionary. While this does not conform to the NSNotification  API, this can easily happen in Objective C. 8.9.1 will start to ignore these notifications.

[2021-11-02 17:01] paulb777 commented on #8895
@nidegen Firebase 8.9.1 is now available.  We would appreciate your confirmation that it fixes the issue.

[2021-11-02 21:19] morganchen12 commented on #8886
It's unlikely the crashes are related. `__NSCFType` is an ObjC representation of an unbridgeable CoreFoundation class and is definitely what is causing the crash (`FIRCLSProcessRecordAllThreads` runs when a crash occurs and may rethrow exceptions, but is almost never the cause of the crash itself).

I'm not able to provide any more insight into this crash without a way to reproduce it unfortunatel

[2021-11-02 21:30] visumickey commented on #8691
There are 2 issues relevant to this bug:

1. Issue related to the `sessionLengthInMinutes`
2. Issue related to running address sanitizer on Firebase performance SDK.

For the second issue, already a fix is already rolled out [here](https://github.com/firebase/firebase-ios-sdk/pull/8631).

For the first issue, I see an obvious issue where we are are dividing NSTimeInterval (float) with an integer a

[2021-11-02 23:54] #8807 closed

[2021-11-03 01:03] #8648 closed

[2021-11-03 01:03] #7877 closed

[2021-11-03 01:03] #7406 closed

[2021-11-03 07:35] andreivladmatei opened #8925 "FR: Firebase AppCheck Token Validation on Server Side Swift Backends"
As server-side swift backends evolve (e.g. Vapor), there is a real need to secure them from abuse.

The missing link is way to use AppCheck to "[Verify App Check tokens from a custom backend](https://firebase.google.com/docs/app-check/custom-resource-backend)".

While there is no SDK available for Firebase Admin using Swift, maybe the functionality can be extended first to Firebase REST API?

Any

[2021-11-03 08:04] visumickey commented on #8277
Update: The best way to go forward on this would be to move away from Swizzling on Firebase performance. It is hard for Firebase Performance to understand if a session is not used anymore for making network requests, so Fireperf calling the API `finishTasksAndInvalidate` would lead to unexpected outcomes. So, a temporary workaround for this issue is to call the API finishTasksAndInvalidate as a pa

[2021-11-03 10:52] nalnir opened #8926 "GoogleUtilities:__50-[GULHeartbeatDateStorage setHeartbeatDate:forTag:]_block_invoke + 124"
It happened to our team on production app.
After users updated the app to latest version their app would crash on open every single time they tried to open it.
Only after they uninstall the app, download it and install it again it would work well.

So we checked the log from appstore and got this error: GoogleUtilities:__50-[GULHeartbeatDateStorage setHeartbeatDate:forTag:]_block_invoke + 124
Full

[2021-11-03 13:11] github-actions[bot] opened #8928 "Nightly Testing Report"
# Nightly Testing Report
This issue([log](https://github.com/firebase/firebase-ios-sdk/actions/runs/1416832674)) is generated at 11/03/2021 06:11 AM, fetching workflow runs triggered in the last 24 hrs.
| Workflow |11/02|
| -------- | -------- |
| [segmentation](https://github.com/firebase/firebase-ios-sdk/blob/master/.github/workflows/segmentation.yml) | [failure](https://github.com/firebase/fire

[2021-11-03 13:31] ncooke3 commented on #8928
Both looked like flakes so I'm re-running each workflow.
- `google-utilities-components` failed on [cocoapods install](https://github.com/firebase/firebase-ios-sdk/runs/4089022434?check_suite_focus=true)
- `segmentation` had a failure on Catalyst– assuming a flake as it doesn't look like SDK has active development

[2021-11-03 14:13] paulb777 commented on #8928
Confirmed both reruns succeeded.

[2021-11-03 14:13] #8928 closed

[2021-11-03 14:24] maksymmalyhin commented on #8925
@lahirumaramba @weixifan

[2021-11-03 14:27] ceichin-peya opened #8929 "GoogleTagManager - App Killed in the Background"
### Step 1: Describe your environment

  * Xcode version:  Xcode 13
  * Firebase SDK version: See listed pods below
  * Installation method: CocoaPods
  * Firebase Component: GoogleTagManager

### Step 2: Describe the problem

Not sure if this is the channel to report a GTM bug, please let me know if not.

We are trying to solve a bug: our app is being killed in the background. After a lot of test

[2021-11-03 15:49] tsunghung commented on #6392
@adamszeremeta Hi, how is the experiment going? Is there any update you can share with us?

[2021-11-03 15:55] paulb777 commented on #8929
Tag Manager support is [here](https://support.google.com/tagmanager/community?hl=en)

@tsunghung Is it useful to get issue reports here as well?

[2021-11-03 16:33] tsunghung commented on #8929
Yes, Tag Manager support is a better fit for GTM bug reports.

[2021-11-03 16:37] paulb777 commented on #8929
Thanks @tsunghung. I'll close this one then.

[2021-11-03 16:37] #8929 closed

[2021-11-03 16:39] paulb777 commented on #8190
Please redirect this issue to Tag Manager support [here](https://support.google.com/tagmanager/community?hl=en)

[2021-11-03 16:39] #8190 closed

[2021-11-03 16:40] paulb777 commented on #4040
Please direct any additional follow up to Tag Manager support [here](https://support.google.com/tagmanager/community?hl=en)

[2021-11-03 16:40] #4040 closed

[2021-11-03 17:17] chliangGoogle commented on #8884
@wasauce thank you for reaching out. Just in case we miss something, is this an iOS app or macOS/catalyst app?

[2021-11-03 17:17] paulb777 commented on #5701
See discussion at https://github.com/firebase/firebase-ios-sdk/discussions/8893

[2021-11-03 17:19] wasauce commented on #8884
@chliangGoogle - this is a macOS app. Not catalyst.

[2021-11-03 17:23] chliangGoogle commented on #8884
You need to clean your keychain cache since you made some critical changes on certificates.
Go to Keychain Access -> login -> Passwords
and make sure you removed all below items.

- [your firebase project number.*]
- [your app bundle ID]
- com.google.iid.checkin

[2021-11-03 17:28] wasauce commented on #8884
@chliangGoogle - thanks very much this worked!

[2021-11-03 17:30] maksymmalyhin commented on #8925
@andreivladmatei As a temporary workaround you can implement the App Check token verification on your end. This [blog post](https://firebase.googleblog.com/2021/10/protecting-backends-with-app-check.html) describes how to do it.

[2021-11-03 17:36] #8884 closed

[2021-11-03 18:07] rizafran commented on #8870
Thanks for the details, @kolosov507. I've noticed that you are using react-native libraries. This seems like a react-native integration issue. With this, I'll be closing the issue as this might be better to report on https://github.com/invertase/react-native-firebase/issues.

[2021-11-03 18:07] #8870 closed

[2021-11-03 18:20] ceichin-peya commented on #8929
In case someone has the same issue, reference: https://support.google.com/tagmanager/thread/133775212/googletagmanager-app-killed-in-the-background?hl=en

[2021-11-03 19:53] #8691 closed

[2021-11-03 21:52] khaptonstall commented on #8277
@visumickey One possible intermediate step might be for Firebase to add some more granular controls as to what gets tracked via Performance.

To go back a step, I raised this issue due to a third-party library which spun up a disposable `URLSession`. There may be other third-party libraries I'm using now or in the future that will do the same, and I won't be able to access the `URLSession` in orde

[2021-11-04 01:03] #8819 closed

[2021-11-04 06:46] andreivladmatei commented on #8925
Thanks, I'll give it a try.

Any plans to get this supported officially?

[2021-11-04 07:40] nalnir commented on #8926
Great, thanks a lot. We built the new version so will be testing it soon and hopefully it solves the problem :)

[2021-11-04 08:53] johannes-codes opened #8931 "CFDictionaryGetValue with Firebase 8.4.0 -> 8.6.0"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version:  12.4 (12D4e) & 13.0 (13A233)
  * Firebase SDK version: 8.6.0
  * Installation method: `CocoaPods`
  * Firebase Component: Analytics, Core, CoreOnly, DynamicLinks, FirebaseABTesting, FirebaseAnalytics/AdIdSupport, FirebaseCoreDiagnostics, FirebaseCrashlytics, InAppMessaging, Messaging, RemoteConfig

### [REQUIRED] Step 2: Describ

[2021-11-04 13:11] github-actions[bot] opened #8932 "Nightly Testing Report"
# Nightly Testing Report
This issue([log](https://github.com/firebase/firebase-ios-sdk/actions/runs/1421351850)) is generated at 11/04/2021 06:11 AM, fetching workflow runs triggered in the last 24 hrs.
| Workflow |11/03|
| -------- | -------- |
| [segmentation](https://github.com/firebase/firebase-ios-sdk/blob/master/.github/workflows/segmentation.yml) | [failure](https://github.com/firebase/fire

[2021-11-04 13:31] adamszeremeta commented on #6392
@tsunghung Hello, we were/are testing but nothing conclusive to say at this time...

A couple of loose thoughts:
- I have a feeling that it's better on my iPhone 7 with old battery (80%) but still can experience small freeze (didn't check it with profiler yet)
- on my other newer iPhone I can't reproduce the issue but my colleague can (we will check this with profiler next week probably)
- we have

[2021-11-04 14:07] maksymmalyhin commented on #8932
Restarted segmentation jobs.

[2021-11-04 14:07] johannes-codes commented on #8931
I had to edit the original issue and fix a couple of versions, sorry for the inconvenience.

[2021-11-04 14:33] maksymmalyhin commented on #8932
Jobs succeeded on restart.

[2021-11-04 14:33] #8932 closed

[2021-11-04 15:09] jeremyjiang-dev commented on #8583
The reason that we did not make the method `nonnull` is because this return value is nullable and we want to check the return value in other functions.
We use `assert` to inform that the trace name is invalid for debug build. If you [enabled the log message](https://firebase.google.com/docs/perf-mon/get-started-ios), you should be able to see the reason why the name is invalid, including [the trac

[2021-11-04 15:09] #8583 closed

[2021-11-04 15:26] #8849 closed

[2021-11-04 16:49] tsunghung commented on #6392
Thanks a lot for the update. I really appreciate it.

[2021-11-04 17:17] k90armstrong commented on #7153
Any update on this issue?

[2021-11-04 17:38] jfcong commented on #8931
Hi, I see that in the list of Firebase components you listed, Firebase Performance is not one of them. Can you confirm that you are not currently using Firebase Performance Monitoring? If so, then it's unlikely that Firebase Performance is causing the issue even though the stack trace looks similar to #6922.

One thing I would suggest you try is to upgrade to the latest version 8.9.1 and see if yo

[2021-11-04 22:57] Greygooo opened #8935 "iOS firestore addSnapshotListener stops receiving updates for 20-30 seconds"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 13.0 (13A233)
  * Firebase SDK version: 7.11.0
  * Installation method: CocoaPods
  * Firebase Component: Firestore

### [REQUIRED] Step 2: Describe the problem

We once daily create a Firestore document (~4kB) which gets updated in regular intervals (every 10 seconds) in a timeframe of 15 minutes. Our iOS clients subscribe to ch

[2021-11-05 08:27] iamswain25 commented on #7153
I tried all of the methods listed in [the link](https://github.com/firebase/firebase-js-sdk/issues/4256#issuecomment-815530724) but didn't work. interesting thing is, when I signInWithPopup it works fine, but when I access the app from microsoft azure ad myapp list, it fails at the https://******/__/auth/handler. trying to implement SSO-SAML here.

[2021-11-05 12:30] rizafran commented on #8935
Thanks for reporting, @Greygooo. Per checking, below are some reasons why the database might be slow:

- If you are making a request which reads or writes a large number of documents from a database which typically handles a small number of requests, the latencies can be high (~1s / 500 documents). When making requests to Firestore, it is recommended to follow the [500/50/5 rule](https://firebase.