[2018-08-07 13:48] GauravT9l commented on #1624
What i am gettign is -
`Domain=FABNetworkError Code=-6 "(null)" UserInfo={retryLimit=1, NSErrorFailingURLStringKey=https://settings.crashlytics.com/spi/v2/platforms/ios/apps/com.t9l.hospalsapp/settings?build_version=1&display_version=1.0&instance=62d1e8f04ff57b97339b93f996369f0847e308e5&source=1}
`

Screeshot:- for more detail
![screen shot 2018-08-07 at 7 10 21 pm](https://user-images.githubuserc

[2018-08-07 14:06] tclarke-scottlogic commented on #1602
I'm afraid we fixed the issue a few days ago (using the suggestion of @Salakar), and so we can no longer replicate.

We had to erase content on the simulator before this would stop happening though.

[2018-08-07 14:07] tclarke-scottlogic commented on #1602
Not sure what this means, btw. How is the server data payload not correctly parsed?

[2018-08-07 14:30] mikelehen commented on #1045
I believe this issue should be addressed by https://github.com/firebase/firebase-ios-sdk/pull/1622 which has been included in the latest release.  I apologize for the long delay.  Please holler if you are still seeing issues.

[2018-08-07 14:30] #1045 closed

[2018-08-07 14:57] paulb777 commented on #10
You can safely ignore that warning. Firebase Analytics is not available for tvOS.

I'll send a PR to get rid of the warning.

[2018-08-07 15:17] KabukiAdam commented on #1477
@var-const Thanks, and sorry for the late reply.  It looks like this only fixes the 3rd part, which is what I expected.

From previous replies, it sounds like the first issue I reported ("Slow listener response when querying large data set") might simply be the intended performance.

The second issue ("Paging with limit() does not help (actually a bit slower)") is still an issue.  Should I create

[2018-08-07 15:21] baolocdo commented on #1624
Can you provide the stack trace here? The screenshot is cut off so I can't tell which SDK (Analytics, or other Firebase SDK) is causing the crash. I don't think the Audience warning is related to the Network error since you should have successful network connection to receive the Audience. Therefore, it is unlikely related but I'd like to know the real cause of the crash to fix. Thank you!

[2018-08-07 16:35] paulb777 commented on #1639
Fixed with GoogleTagManager 7.1.0

[2018-08-07 16:35] #1639 closed

[2018-08-07 16:36] davidair commented on #1639
We have released GoogleTagManager 7.1.0 fixing the dependency - the issue should be resolved now.

[2018-08-07 17:03] morganchen12 commented on #1647
This looks like an issue that was reported [here](https://github.com/firebase/quickstart-ios/issues/488) and subsequently fixed, but has not yet been released. @chliangGoogle can you make sure this makes its way into M31?

[2018-08-07 17:03] #1647 closed

[2018-08-07 17:07] morganchen12 commented on #1614
@vijay444 can you run Instruments' time profiler and post the trace here? A screenshot will do fine.

[2018-08-07 17:09] chliangGoogle commented on #1647
I think this has just released in M30.

[2018-08-07 17:20] ryanwilson opened #1650 "Move `GULLogger` to `os_log` for iOS 10+"
Currently we use `asl_log` for all logging within `GULLogger`, but it's deprecated. `os_log` was introduced in iOS 10 as a faster and more robust logging solution.

We should move to `os_log` for all iOS versions above iOS 10, and use the old `asl_log` for iOS 8 and 9 until we drop support for those versions.

[2018-08-07 18:07] chliangGoogle commented on #1602
I'm referring to the payloads you provided:

This is the payload:

{
  data: {
    matchId: "Yjk4ZTc3ZjU5NDI5ZjE5M2YzYmZjMzRiZTgxYzkxZTI=",
    matchType: "immediate",
    notification: "{"id":"Yjk4ZTc3ZjU5NDI5ZjE5M2YzYmZjMzRiZTgxYzkxZTI=","profile":{"profileId":"5ac35e6057fc7d00193b712a","profileName":"Munis All","matchType":"immediate","product":"debtwire","acurisUserId":200801055,"email":"test.

[2018-08-07 18:29] chliangGoogle commented on #1561
The fix doesn't depend on the FirebaseMessagingAutoInitEnabled flag. We found out checkin is not considered valid during app first start, causing the very first call always failed. So this fix should resolve your issues. Please update to the version of M31 release and let us know if you still encounter the issue.

[2018-08-07 19:38] var-const commented on #1477
@KabukiAdam Thanks for clarifying! Yes, it would be great if you could create a new issue.

[2018-08-07 19:44] paulb777 commented on #1640
Yeah, the pods in the 'MyProject' target work fine for me whether I pin Firebase to 4.13.0 or not.

It is likely to be related specifically to the implementation of the `Protobuf` target in the Xcode project. I'm not sure what you mean by "module". Do you mean Xcode target?  How does `Protobuf` relate to `MyProject`?

We likely need a reproducible to example to help further. Also, since this seems

[2018-08-07 21:05] thattyson commented on #269
+1

[2018-08-07 22:45] morganchen12 commented on #1643
Tracked by b/112281263 internally.

[2018-08-08 04:26] kodeine opened #1654 "Firebase/Core/FIRLogger.m"
* Xcode version: 9.2
  * Firebase SDK version: `"cordova-plugin-firebase-analytics": "^1.0.0",`
  * Firebase Component: Core (Auth, Core, Database, Firestore, Messaging, Storage, etc)
  * Component version: _____

`pods`
[code]

I am getting following error when i try to compile it via cordova.

[code]

[2018-08-08 05:36] GauravT9l commented on #1624
I am not getting this very often and not always on debug mode so give the screenshot like above again is little bit difficult for me. But once I got it the same,  will update it here again. Till there is something very clear that it is in **Firebase core framework**, FIRMutableDictionary class and line number also.

[2018-08-08 07:51] GauravT9l commented on #1624
Find a more detailed screenshot which i got on debugging
It is trying to removing an object with key "com.firebase.network.background-upload-B6A85FD7-580E-4B37-AF64-1088A6B242C4" from a blank dictionary

![screen shot 2018-08-08 at 1 19 03 pm](https://user-images.githubusercontent.com/9942485/43823750-b753d474-9b0d-11e8-9f13-50334f2fbb97.png)

[2018-08-08 09:01] augusto-carmo commented on #1640
Hello, @paulb777!

One of my colleagues made an attempt where he renamed the _target_ `Protobuf` and the problems seems to have been solved. So, it looks like that all of those errors were being thrown due to target names conflict(?) - _this may explain why I could not find many people having the same problem while I was looking for a solution in the Internet, it is a very specific problem_.

Than

[2018-08-08 09:01] #1640 closed

[2018-08-08 10:32] samsidd commented on #10
Will firestore be available on tvOS anytime soon ?

[2018-08-08 14:44] marat643 commented on #1647
Yes,
Thank you very much, it solved the issue, there is another leak in **[APMUserDefaults objectForKey:]**, but I saw that you are handling it in another opened issue, so I'll wait for the next release.

Thank you once again :)

[2018-08-08 15:08] baolocdo commented on #1624
Thanks for providing the screenshot. I think this is related to this issue https://github.com/firebase/firebase-ios-sdk/issues/1317#issuecomment-397908981, and not the error message in the device log. Since the message is logged before Analytics uploads some events, that leads to the network crash, it makes them related.
@paulb777, @ryanwilson : Can we revisit this again or provide the code snippe

[2018-08-08 15:54] ryanwilson commented on #1317
The fix was shipped in Firebase 5.5.0 last week.

[2018-08-08 15:54] #1317 closed

[2018-08-08 15:56] ryanwilson commented on #1624
The fix for #1317 was shipped with Firebase 5.5.0 last week, so it's worth updating and seeing if you can reproduce.

The code snippet on the open source side never shipped as we determined it was attempting to fix an impossible state.  #1426 for reference.

[2018-08-08 16:10] wilhuff commented on #10
We're not opposed to adding tvOS support for Firestore (and seems like it should mostly just work--we use very little outside of the Foundation and SystemConfiguration frameworks) but Firestore is a very young product and unfortunately we have too many other things to do that are higher priority.

Pull requests welcome!

[2018-08-08 17:11] morganchen12 commented on #1654
Can you share the error raised by the compiler with line number and error description?

[2018-08-08 17:34] morganchen12 commented on #990
@puelocesar is this still an issue?

[2018-08-08 17:36] morganchen12 commented on #1059
Closing this issue since it's staled and seen no new reports.

[2018-08-08 17:42] morganchen12 commented on #1330
Closing since this has staled and has seen no new reports.

[2018-08-08 17:42] #1330 closed

[2018-08-08 17:44] morganchen12 commented on #1470
Closing due to lack of activity, please comment and I'll reopen.

[2018-08-08 17:46] morganchen12 commented on #1478
We haven't been able to make any progress on this issue. I'll close it for now, but if you have repro steps please comment here and I'll reopen the issue.

[2018-08-08 17:46] #1478 closed

[2018-08-08 17:49] #1615 closed

[2018-08-08 17:50] #1547 closed

[2018-08-08 17:51] #1546 closed

[2018-08-08 17:51] morganchen12 commented on #1546
@zhantx Please update to Firebase 5.5.0 and see if the issue persists.

[2018-08-08 19:03] mikelehen commented on #1518
Unfortunately probably not. :-(  It sounds like we haven't landed on a straightforward solution that'll meet your needs nicely and right now most of our SDK development effort is going into the new Firestore SDKs rather than Realtime Database, so we're not able to invest in large or risky changes.

At this point if you can come up with a solution that works for you, you could consider working off

[2018-08-08 21:06] alexichristakis opened #1661 "Firestore crash when setting a document"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 9.4.1
  * Firebase SDK version: 5.3.0
  * Firebase Component: Firestore
  * Component version: 0.12.4

### [REQUIRED] Step 3: Describe the problem
App crashes upon setting a document to firestore. Xcode logs the following error:
[code]

#### Relevant Code:
Setting any document results in this error and crashes the app.

[2018-08-08 21:15] wilhuff commented on #1661
You've managed to build gRPC without including its certificate bundle. This has nothing to do with Firestore specifically, but how your Xcode project is configured. If you're using Cocoapods this should just work.

If you're building with Carthage, you should follow our instructions here: https://github.com/firebase/firebase-ios-sdk/blob/master/Carthage.md

[2018-08-08 21:15] #1661 closed

[2018-08-08 21:16] alexichristakis commented on #1661
I am using Cocoapods, any idea as to how it could have been misconfigured? I tried deleting my pods folder and reinstalling my dependencies and it still doesn't work.

[2018-08-08 21:18] alexichristakis commented on #1661
or--how can i configure it correctly

[2018-08-08 21:25] wilhuff commented on #1661
In general with cocoapods you shouldn't have to do anything. Make sure you're using the workspace and not your original project and everything should be good to go. Within the workspace and in the Pods project you should see that the gRPC target has a build phase that includes copying the bundle.

![screen shot 2018-08-08 at 2 22 34 pm](https://user-images.githubusercontent.com/10249104/43865185-a

[2018-08-08 21:28] alexichristakis commented on #1661
Mine actually doesn't have that phase:
![Uploading Screen Shot 2018-08-08 at 2.27.33 PM.png…]()

[2018-08-09 09:34] tbaranes opened #1663 "macOS Support"
I was wondering if it would be possible to add macOS support to the project? It doesn't seems to complex since some developers made working [example](https://github.com/tabvn/fireshot) just by making a custom pod spec.

Is there a reason that it has been added yet?

[2018-08-09 09:37] tbaranes commented on #1663
Duplicate of #1294

[2018-08-09 09:37] #1663 closed

[2018-08-09 09:47] tbaranes commented on #9
Hey guys! Can you add macOS support? The `binary binary ".../firebase/ios/carthage/FirebaseAnalyticsBinary.json"` is working perfectly for iOS, but it would even greater to have a binary link for macOS as well.

[2018-08-09 10:49] cysp commented on #1639
Hi. Thanks for the fast turnaround on this. 😁

Unfortunately, however, I'm seeing some crashes on launch which I _think_ I have narrowed down to occurring when there are stored events from a previous session that have not been sent yet. (Though I'm not fully certain of that.)
I've reproduced it a couple of times by performing a few actions while in aeroplane mode, killing the app, leaving aeroplan

[2018-08-09 12:04] fotiDim opened #1664 "Release 5.5 on Carthage"
Carthage only fetches 5.4 for now. Please publish it for Carthage. Unfortunately CocoaPods is too bloated to use these days.

[2018-08-09 13:42] paulb777 commented on #1663
@tbaranes In case you missed it, see https://github.com/firebase/firebase-ios-sdk#macos-and-tvos

[2018-08-09 17:01] paulb777 commented on #1639
@cysp Thanks for the detailed report. We understand the issue and are investigating a solution.

[2018-08-09 17:09] paulb777 commented on #1664
@fotiDim Thanks for the request.

The Carthage distribution is still experimental and will occasionally lag the CocoaPods and zip releases. Currently, Carthage is still at 5.4.0 versus 5.5.0 for the official releases. I'm hoping to get Carthage back in sync within the next week.

[2018-08-09 18:42] bcdj commented on #1643
Hi joaomelo81,

Have you tried to build the following Quick Start mlvision demo app with bitcode enabled?:

https://github.com/firebase/quickstart-ios/tree/master/mlvision

You can clone the above sample app using:

git clone https://github.com/firebase/quickstart-ios.git

I've tried building that app with the latest Firebase 5.5.0 release and bitcode enabled.  The app builds and runs on-device te

[2018-08-09 18:44] bcdj commented on #1643
My environment is:

Xcode version: 9.3.1 (9E501)
Firebase SDK version: 5.5.0
Firebase Component: MLVisionTextModel
Component version: 0.11.0

[2018-08-09 18:55] morganchen12 commented on #1643
@joaomelo81, I wasn't able to reproduce this by building or archiving the quickstart app with bitcode enabled. Can you try running `pod deintegrate` and deleting your CocoaPods cache and then re-running `pod install`?

[2018-08-09 18:56] morganchen12 commented on #1543
@richardliveraise are you able to determine if the cause of the invalidations has been your APNs tokens changing?

[2018-08-09 19:28] joaomelo81 commented on #1643
Indeed works when building the app sample you mentioned with Bit code enabled. However it uses CocoaPods for integration with the Firebase. In my case, my solution is integrating Firebase without CocoaPods. I've downloaded the .zip file containing the latest Firebase SDK 5.5.0 and manually integrated with my project. Looks like the MLVisionTextModel.framework (v.0.11.0) within the .zip file was no

[2018-08-09 19:35] joaomelo81 commented on #1643
BTW: I've downloaded the Firebase SDK .zip file from here: https://firebase.google.com/download/ios

[2018-08-09 19:44] richardliveraise commented on #1543
@morganchen12 yes, that seems to be the case. I'm still troubleshooting if that's consistent for all the invalidations. I'll update you once I know more. Thanks.

[2018-08-09 20:07] joaomelo81 commented on #1643
@morganchen12 could you please update the internal ticket b/112281263 with the information I've provided? My apologies for not mentioning earlier that I was not using CocoaPods integration.

[2018-08-09 20:45] morganchen12 commented on #1643
Updated. Can you quickly check the checksums for the `TextDetector` framework downloaded via CocoaPods and the same framework extracted from the .zip file? IIRC they should be the same binary.

[2018-08-10 07:04] zeqinjie commented on #1540
thx

[2018-08-10 13:39] paulb777 commented on #1643
Thanks for your persistence @joaomelo81 in working on this issue with us. We've discovered an issue packaging the GoogleMobileVision *Detector frameworks and are working on a solution.

In the meantime, a workaround is using the frameworks extracted from the CocoaPods distribution instead of the zip distribution.

[2018-08-10 16:29] mikelehen commented on #1632
Closing this as https://github.com/firebase/firebase-ios-sdk/commit/da1c5346dd9dbf502f5b3eb8d3fc39077e69aa3e should resolve this.  It'll be included in our next release.

[2018-08-10 16:29] #1632 closed

[2018-08-11 05:58] davidair commented on #1639
We have just released GoogleTagManager 7.1.1. @cysp - can you please check if updating to it fixes the crash?

[2018-08-11 06:17] GauravT9l commented on #1624
Update all the pod yesterday and firebase too with current version **Firebase 5.5.0**.
Now getting error in **Google Utility** pod **GULMutableDictionary.m** . Not sure this is using by firebase or not. but as i got same error so posting here, may b this could help to figure out something.

![screen_shot_2018-08-10_at_6_40_18_pm](https://user-images.githubusercontent.com/9942485/43988805-b870a658-

[2018-08-12 00:54] baolocdo commented on #1624
Yes, it has been renamed and moved to GoogleUtilities pod so it is still the same issue.
@paulb777 : I still think the unreleased fix could fix this. Can we please provide it to @GauravT9l to try since they can reproduce the issue? It is worth trying

[2018-08-12 21:00] paulb777 commented on #1624
@baolocdo Do you mean #1426?
Based on this crash log, it doesn't seem that weakify'ing self would help since the crash looks to be the result of a deallocated (and zombified object) stored in the NSMutableDictionary.

[2018-08-13 04:27] nikeshakya commented on #1616
@ryanwilson @dmandar any update on this issue ?

[2018-08-13 04:29] nikeshakya commented on #1403
@dmandar @morganchen12 please fix this issue asap...we need workable invites in our app

[2018-08-13 06:46] Channe opened #1674 "FR:macos support for RemoteConfig?"

[2018-08-13 11:01] #1602 closed

[2018-08-13 11:01] tclarke-scottlogic commented on #1602
Closing issue. If we get a change to re-replicate, will raise a new card.

[2018-08-13 12:38] christsitsaris commented on #1493
@ManuelRiegler did you find the solution for that problem?

[2018-08-13 13:31] ManuelRiegler commented on #1493
@christsitsaris yes ..in my case `FirebaseApp.configure()` was just not called.

I use an internal framework and on "debug" builds Firebase was just disabled.
Firebase implementation unfortunately does not have a proper error message when its not configured correctly.
I really struggled with that, but I also don´t know why I did not check before I submitted this bug report :)

[2018-08-13 13:37] baolocdo commented on #1624
Yes, since it was deallocated, it shouldn't be referenced anymore in that async block. The async block can be scheduled and run after the object `self` has been already deallocated. We can confirm whether the fix can help in this case by providing to @GauravT9l instead of saying it doesn't help. Since the new release didn't fix the crash, we can try another potential fix. Is there any reason why w

[2018-08-13 15:01] ryanwilson commented on #1536
The fix was released as part of Firebase 5.5.0 - please re-open if you're still seeing the issue, and thanks for reporting it!

[2018-08-13 15:01] #1536 closed

[2018-08-13 16:15] morganchen12 commented on #1624
Pasting this from the email thread earlier last week:

I don't think self is the value that's being zombified here. The call to `__dealloc_zombie` happens after `removeObjectForKey:` is invoked, so the refcount being decremented belongs to whatever object is being removed from the dictionary. A few things to note:

- This isn't a proper zombies exception, just a crash that happened when zombies we

[2018-08-13 16:39] paulb777 commented on #1624
Would it be reasonable to switch GULMutableDictionary's internal type from `NSMutableDictionary` to a [Strong-to-Weak `NSMapTable`](https://developer.apple.com/documentation/foundation/nsmaptable/1391366-strongtoweakobjectsmaptable?language=objc)?

How should the lifetime of the `GULNetworkURLSession`s that get stored as values in the `GULMutableDictionary` be managed?

[2018-08-13 16:50] baolocdo commented on #1624
No, please do not change it NSMapTable as this is supposed to be an NSMutableDictionary. Otherwise, we can just use NSMutableDictionary in the GULNetworkURLSession and it might cause other crashes due to thread unsafety. Again, I'm don't fully agree with the email thread and I'd like to give it a try to verify the hypothesis. If it doesn't work, we can find another solution instead of keep saying

[2018-08-13 17:07] rob-keepsafe commented on #196
@morganchen12 @paulb777 Finally had an opportunity to update both Firebase (5.5.0) and Google-Mobile-Ads (7.31.0) and still seeing this during Xcode `Archive` builds.

I've included a sample project here reproducing the warnings: https://github.com/rob-keepsafe/FirebaseWarnings

[2018-08-13 17:39] paulb777 commented on #1624
@GauravT9l Are you able to share a reproducible example?

Otherwise you could try out some of the changes in #1426 or other ideas discussed in this thread.

[2018-08-13 19:18] samsidd commented on #10
I tried adding tvos platform to the local podspec, but now the dependencies (gRPC and nanopb) do not support tvOS platform.
Is there another workaround I should be looking at?

[2018-08-13 20:45] morganchen12 commented on #1624
My guess is the object in the dictionary is getting clobbered elsewhere and it makes less sense to be extra defensive here than it does to figure out where the object is being mangled and un-mangle it there.

@GauravT9l if you're able to consistently reproduce the crash, can you share your project?

[2018-08-13 20:48] morganchen12 commented on #196
Can you tell from the build log which library is causing these linker warnings?

[2018-08-13 20:50] morganchen12 commented on #10
Unfortunately, no. gRPC and nanopb are both very lightweight and have few external dependencies (i.e. on UIKit), so they might already build on tvOS.

[2018-08-13 22:46] paulb777 commented on #196
I see 133 warnings when I clone the sample project, rename the bundle and archive. It's not immediately clear the origin of the offending symbols, but all of the other pods are from Firebase.

Thanks for the easily reproducible example @rob-keepsafe !

[2018-08-14 01:04] EthanArbuckle opened #1686 "SafariServices on iOS 11 imports the AdSupport framework, causing device advertisement identifier reporting."
### [REQUIRED] Step 2: Describe your environment
N/A
  * Xcode version: 9
  * Firebase SDK version: 5.6.0
  * Firebase Component: Core
  * Component version: -

### [REQUIRED] Step 3: Describe the problem
Firebase automatically reports the device's Advertisement Identifier when the AdSupport framework has been manually added to the project. On iOS 11, the system framework SafariServices dynamicall

[2018-08-14 07:50] ghowen commented on #196
Disabling bitcode still is a workaround. I just checked the build log of my app, but I cannot see where the warnings are coming from. All I see there is this:

[code]

[2018-08-14 08:53] kaannesinn commented on #1487
Hi,

We have updated our app with Firebase 5.5.0 SDK and on AppStore and it looks like we are not getting these crashes until now. We only get one crash from _-[APMIdentity updateIdentifiers]_
you can reach it from http://crashes.to/s/152cadffe77

If there are no crashes that happened before, we can close the issue.

[2018-08-14 09:39] puelocesar opened #1687 "Automated builds fail after OTHER_CFLAGS got deleted from Podspec on newer FirebaseCore versions"
### Describe your environment

  * Xcode version: 9
  * Firebase SDK version: 5.5.0
  * Firebase Component: Core
  * Component version: '5.1.0'

### Describe the problem

Automated builds fail after OTHER_CFLAGS got deleted from Podspec on newer FirebaseCore versions

#### Steps to reproduce:

Add `pod 'FirebaseCore'` to your Podfile, run `pod install`. Building on Xcode works fine, but automated

[2018-08-14 12:26] baolocdo commented on #1487
Great! Please keep updating to the latest version to get more fixes. We hope to find the fix for the `-[APMIdentity updateIdentifiers]` crash soon. Thanks for reporting

[2018-08-14 13:42] paulb777 commented on #1487
Let's open another issue for `[APMIdentity updateIdentifiers]` if desired.

[2018-08-14 13:42] #1487 closed

[2018-08-14 14:53] omochi opened #1689 "Distribute bitcode enabled binary for Carthage"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: Version 9.4.1 (9F2000)
  * Firebase SDK version: 5.4.0
  * Firebase Component: all

### [REQUIRED] Step 3: Describe the problem

Distributed binary for carthage does not have bitcode.
This forces user to disable bitcode of app which uses Firebase.
Because to enable app bitcode, all dependency binaries must have bitcode.

I like C

[2018-08-14 15:15] paulb777 commented on #1687
@puelocesar Thanks for the analysis and the report. I suspect that the failure stems from a setting in your project. What is happening with `GCC_PREPROCESSOR_DEFINITIONS`? Perhaps a `$inherited` is missing?

Are you able to share a reproducible example? Or at least `export_testfairy.plist`?

[2018-08-14 15:52] paulb777 commented on #1573
Closing for now. Will reopen with a log or more info.

[2018-08-14 15:52] #1573 closed

[2018-08-14 16:14] ryanwilson commented on #1335
This was fixed earlier on in #1466.

[2018-08-14 16:14] #1335 closed

[2018-08-14 18:43] kaannesinn commented on #1487
Yes we always keep getting updates of the SDKs, it seems there are less crashes now since our update is on live. Thanks a lot ;)

@paulb777 yes I am going to open another issue for this new rare crash

[2018-08-14 18:48] kaannesinn opened #1691 "Crashes on - [APMIdentity updateIdentifiers]"
Hi

After we updated our iOS app there is one crash that comes from APMIdentity class. It is not problem now but I want to report it to you as a help. We use Firebase 5.5.0 SDK and you can reach the crash by
http://crashes.to/s/152cadffe77

Thanks
Regards

[2018-08-14 23:38] paulb777 commented on #1686
@EthanArbuckle Thanks for the issue. Interesting question!

With the current implementation, we just check if `ASIdentifierManager` is linked in and don't have a mechanism to tell why.  I can't think of way to detect at runtime if the linkage would have only come from `SafariServices`.

[2018-08-15 17:06] baolocdo commented on #1636
The fix should be released in Analytics 5.1.1. Please update and let us know whether you still see the leak. Thanks for reporting.

[2018-08-15 17:28] bcdj commented on #1643
We have released a new version of the zip file.  Please download the latest version, Firebase SDK version 5.6.0, from [https://firebase.google.com/download/ios](https://firebase.google.com/download/ios) to see if the issue is fixed.

[2018-08-15 18:08] #1643 closed

[2018-08-15 18:09] #1636 closed

[2018-08-15 18:09] #1561 closed

[2018-08-15 18:32] joelmarquez90 opened #1694 "linkAndRetrieveData with Facebook credential fails to retrieve displayName"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 9.4.1
  * Firebase SDK version: FirebaseCore 5.1.0
  * Firebase Component: Auth
  * Component version: FirebaseAuth 5.0.3

### [REQUIRED] Step 3: Describe the problem

If I have an anonymous user and then I login with facebook and use the `linkAndRetrieveData`, the `displayName` property of the user is nil.

#### Steps to reprodu

[2018-08-15 23:29] paulb777 commented on #1664
A Carthage distribution for Firebase 5.6.0 has been published. See https://github.com/firebase/firebase-ios-sdk/blob/master/Carthage.md for usage details.

[2018-08-15 23:29] #1664 closed

[2018-08-16 01:53] josemssilva commented on #9
Anyone had troubles updating from 5.4 to 5.6? Missing `FirebaseNanoPB` and `GoogleToolboxForMac`, and I'm unable to build the project without those.

[2018-08-16 01:55] josemssilva opened #1701 "Missing frameworks after update from 5.4.0 to 5.6.0"
* Xcode version: 9.4.1
  * Firebase SDK version: 5.6.0 (updated from 5.4.0)
  * Firebase Component: Messaging
  * Component version:

Missing `FirebaseNanoPB` and `GoogleToolboxForMac`, and I'm unable to build the project without those. Everything worked great before updating to `5.6.0`

#### Steps to reproduce:

Simply update dependencies using Carthage.

[2018-08-16 09:12] hixfield commented on #225
+1

[2018-08-16 09:12] hixfield commented on #1431
+1

[2018-08-16 09:59] rawandahmad698 opened #1702 "Apple LLVM 9.0 Error (Firestore)"
Regarding issue [#1266](https://github.com/firebase/firebase-ios-sdk/issues/1266)

I went ahead and commented the` #import "transformations/GRXMappingWriter.h"` line from `gRPC_RxLibrary-umbrella.h` as @paulb777 workaround. But getting this.

[Screenshot_1](http://prntscr.com/kj9q63)

### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 9.2
  * Firebase SDK version: Latest
  * Fire

[2018-08-16 14:14] paulb777 commented on #1702
The workarounds should no longer be needed since the issue was fixed in gRPC 1.13.0.

We recommend strongly against ever using `:branch => 'master'` for anything except evaluation, since the code there may be work in progress and not fully integration tested.

With the latest release, there should be no need to specify any of the gRPC pods in the Podfile since the Firestore dependencies will bring

[2018-08-16 16:04] paulb777 commented on #1701
In addition to deleting frameworks that no longer exist, the following new frameworks will always need to be added to the Xcode project:

- GoogleUtilities.framework
- GoogleAppMeasurement.framework
- MeasurementNanoPB.framework

[2018-08-16 17:16] rawandahmad698 commented on #1702
@paulb777. Thanks, fixed

[2018-08-16 17:16] #1702 closed

[2018-08-16 20:01] yahmad commented on #1616
@dmandar We are also following the steps in the documentation, but having the same issue.
Only difference is we don't support iOS 8, so we are checking if there is a dynamic link present directly in the iOS 9 `open url` function, rather than passing it through to the function taking `sourceApplication` as a param.

Are there any other steps required to handle dynamic links coming through the store

[2018-08-16 21:18] #990 closed

[2018-08-17 09:17] yahmad commented on #1616
We are on Firebase v5.4. It looks like v5.5 has some issues resolved for Dynamic Links, though can't tell what those are. From the sounds of it, the backend fix shouldn't need the latest version of the Firebase SDK?

[2018-08-17 10:11] kaannesinn commented on #1691
Thanks, ok I will update our app with this sdk and follow the crash

[2018-08-17 11:03] yahmad commented on #1616
Update: Turns out we were just not handling custom url scheme URL's correctly - debugging our live build helped discover the issue. Apologies for any inconvenience!

(Still using v5.4 but should work fine now.)

[2018-08-17 15:53] #1701 closed

[2018-08-17 16:43] morganchen12 commented on #1616
@yahmad, is there an area in our docs that lead to your mishandling of the URLs?

[2018-08-17 20:37] yahmad commented on #1616
Honestly, it was probably just an oversight whilst trying to rapidly implement dynamic links for the first time. 😬

I don't think the documentation necessarily needs updated. This code had been replicated without having implementing the handling of the deep link:

    func application(_ application: UIApplication, open url: URL, sourceApplication: String?, annotation: Any) -> Bool {
      if let d

[2018-08-18 03:41] cysp commented on #1639
Thanks! I've been able to hit the previously-crashing codepath under the debugger and can confirm that it doesn't crash any longer. 😀

[2018-08-18 14:32] joelmarquez90 commented on #1694
@Yue-Wang-Google no, there's no error on the callback.

In fact, debugging the Firebase iOS SDK code, it seems that at some point is throwing the full name from Facebook.

At this point:

<img width="732" alt="screen shot 2018-08-18 at 17 23 00" src="https://user-images.githubusercontent.com/3428186/44300189-a4d21800-a30b-11e8-8998-e0b741b81ed5.png">

The object has this information:

<img width="

[2018-08-18 19:15] BranchS commented on #1368
As per v5.6 iOS release notes: "Updates to the Crash Reporting SDK documentation to reflect deprecation status."

It would be great now more than ever to bundle the Crashlytics SDK download with the Firebase iOS SDK zip download, and to add its release notes alongside the others.

[2018-08-18 22:14] paulb777 commented on #1565
@ToFind1991 Sorry for the delayed response.

Are you seeing a demonstrable issue with this code?

My understanding is that the `weakSelf` takes care of the issue that you're describing. When fetcherCompletion is deallocated along with its containing object, `weakSelf` will be set to nil and the function call will be a no-op.

[2018-08-19 01:27] morganchen12 commented on #1565
To clarify the object being deallocated here isn't self, it's the `fetcherCompletion` closure. This should be `copy` and not `assign`.

[2018-08-19 21:01] morganchen12 commented on #1565
`strong` will do too, but `assign` is hazardous since it doesn't provide any guarantees for ownership or deallocation.

[2018-08-19 21:09] #1559 closed

[2018-08-20 03:21] bank18651 opened #1718 "Error GTMSessionFetcher unrecognized when login and sign-up"
#### Describe your environment

  * Swift
  * iOS version: 11.4
  * Firebase (5.6.0)
  * FirebaseAuth (5.0.3)
  * GoogleSignIn (4.1.2)
#### Describe the problem
Currently, The project use   `Firebase (5.0.1), Firebase/Auth (5.0.1), GoogleSignIn (4.1.2` and it working well but after update to `Firebase (5.6.0), FirebaseAuth (5.0.3)` I got the issue.

#### Steps to reproduce:

  Auth.auth().fetchPro

[2018-08-20 13:00] ristinolla commented on #1640
Hi,

Although this is closed issue, have anyone seen this when installing the SDK manually (not using Cocoapods)? Or how to actually achieve @augusto-carmo's idea of renaming the `Protobuf` to something else?

I just downloaded the newest SDK `5.6.0` and the problem still persists. Using the same Xcode version (9.4.1).

Thanks for any help on where to look next!

[2018-08-20 15:40] henrytkirk opened #1719 "Missing or insufficient permissions when adding addSnapshotListener callback."
* Xcode version: 9.x or 10.x Beta
  * Firebase SDK version: Using FirebaseFirestore (0.13.1)
  * Firebase Component: Firestore (Auth, Core, Database, Firestore, Messaging, Storage, etc)
  * Component version: ?

### [REQUIRED] Step 3: Describe the problem
I'm having permission denied issues when trying to add a listener to a document. I can create or read the document just fine, except when I add

[2018-08-20 16:09] augusto-carmo commented on #1640
Hello, @ristinolla, every now and than, when I have to switch branches and they use different pods, I am required to empty the _Derived Data_ folder, so xCode does not warn me of any errors. For your next branch switches and `pod install`, only that step might do it :)

[2018-08-20 16:11] henrytkirk commented on #1719
Was a typo on my part! Should have used a constant for the collection name. :)

[2018-08-20 16:11] #1719 closed

[2018-08-20 16:14] wilhuff commented on #1719
Phew! :-)

[2018-08-20 16:46] morganchen12 commented on #1718
Looks like you may be missing an `-ObjC` in your `Other Linker Flags` build setting. Are you overriding any CocoaPods default build settings? What version of GTMSessionFetcher are you using?

[2018-08-21 04:26] siburb commented on #1267
I don't think this is fixed in the Cocoapods 1.6.0 beta - I'm still getting an identical crash, and the workaround still seems to be necessary:

Using version 1.5.3, I get the following in the `frameworks.sh` script, and the extra framework in the `Embed Pods Framework` build phase:

![image](https://user-images.githubusercontent.com/1744275/44380280-fe6d5900-a53c-11e8-9241-9b6a9af26aee.png)

Upda

[2018-08-21 04:37] bank18651 commented on #1718
[code]
Unfortunately, I cannot share the project.

[2018-08-21 12:39] jmorgaz opened #1723 "Push Notification is not working in iOS 10 but yes in iOS 11"
### Describe your environment

  * Xcode version: 9.4
  * Firebase SDK version: Last in CocoaPods
  * Firebase Component: Messaging
  * Component version: Last in CocoaPods

### [REQUIRED] Step 3: Describe the problem

iOS 10.3 device can't receive push notification fired from our custom backend.

#### Steps to reproduce:

First the project has been configured for push notifications and the device

[2018-08-21 14:22] paulb777 opened #1725 "Fuzz test phase failing in Travis cron jobs"
The Fuzz test phase has failed in the last few daily Travis cron jobs.

See the CRON jobs at https://travis-ci.org/firebase/firebase-ios-sdk/builds and specifically https://travis-ci.org/firebase/firebase-ios-sdk/jobs/418047827

[2018-08-21 16:34] paulb777 commented on #1267
Thanks @siburb

It looks like this regressed on CocoaPods master before the beta was published. I verified that a mid-July version of master was correct, but it is now broken again.  I'll reopen https://github.com/CocoaPods/CocoaPods/issues/7850 and investigate there.

[2018-08-21 17:13] morganchen12 commented on #1723
What payload are you sending from the backend?

[2018-08-21 17:14] morganchen12 commented on #1718
Can you reproduce this issue in a smaller project and share it?

[2018-08-21 22:28] morganchen12 commented on #1624
Closing for now; we'll reopen this when we have more information.

[2018-08-21 23:09] #1565 closed

[2018-08-22 06:56] ristinolla commented on #1640
Thanks, @augusto-carmo for the tip, I'll keep in the mind that _Derived Data_ is something to remember to clean every now and then.

[2018-08-22 07:50] jmorgaz commented on #1723
{
    "apns": {
        "payload": {
            "aps": {
                "alert": {
                    "title": "You have a new message"
                },
                "mutable-content": 1
            }
        }
    },
    "token": "TOKEN HERE",
    "notification": {
        "title": "You have a new message"
    }
}

[2018-08-22 07:57] jmorgaz commented on #1723
[code]

[2018-08-22 08:44] RubenEsposito opened #1731 "Firestore: Internal error when fetching all the documents in a collection."
#### Describe your environment:

  * Xcode version: 9.4.1
  * Firebase SDK version: 4.3.0
  * Firebase Component: Firestore
  * Component version: 0.8.0

#### Describe the problem:

We tried to use the example iOS code to fetch all the documents on our Firestore collection from:

https://firebase.google.com/docs/firestore/query-data/get-data

It worked on the first run, but the next time we tried

[2018-08-22 09:36] vincedev opened #1732 "Using `Analytics` under macOS via CocoaPods"
### Describe your environment

  * Xcode version: 9.4.1 (9F2000)
  * Firebase SDK version: 5.6.0
  * Firebase Component: Core
  * Component version: ?

### Describe the problem

I'm trying to use Firebase Analytics in a macOS Swift project.
Installed FirebaseCore via Cocoa Pods, but there are missing symbols, in particular :

- `Analytics`
and all the parameter names constants, for example `Analyt

[2018-08-22 13:01] dylanmaryk commented on #1732
I was able to fix this issue by adding this pod:
`pod 'Firebase/Analytics', '5.6.0'`

[2018-08-22 13:13] vincedev commented on #1732
@dylanmaryk : I already tried installing `Analytics` along via Cocoa Pods, but it complains it does not support macOS :

[2018-08-22 13:16] dylanmaryk commented on #1732
Ah yes sorry, I was thinking about iOS...

[2018-08-22 13:54] paulb777 commented on #1732
See the[ macOS documentation](https://github.com/firebase/firebase-ios-sdk#community-supported-efforts). FirebaseAnalytics is not currently supported for macOS.

[2018-08-22 13:58] cyupa opened #1733 "Linker error because symbol _OBJC_CLASS_$_GULAppDelegateSwizzler is not found"
### Environment

  * Xcode version: 10.0 beta 6 (10L232m)
 * Firebase (5.6.0)
 * FirebaseAnalytics (5.1.1)
 * FirebaseAuth (5.0.3)
 * FirebaseAuthInterop (1.0.0)
 * FirebaseCore (5.1.1)
 * FirebaseDynamicLinks (3.0.2)
 * FirebaseFirestore (0.13.1)
 * FirebaseInstanceID (3.2.1)
 * FirebaseMessaging (3.1.0)
 * FirebasePerformance (2.1.1)
 * GSKStretchyHeaderView (1.0.4)
 * GTMSessionFetcher (1.2.0)

[2018-08-22 14:03] StarbuckBG commented on #1723
I have the same problem. I am using the old API. I have no idea why but if I send notification to single fcm token it is not working. It is not even displaying the notifications.

[2018-08-22 14:37] paulb777 commented on #1733
@cyupa Thanks for the report.  We'll investigate. Are you able to test if the same issue occurs with Xcode 9.x?

[2018-08-22 15:10] cyupa commented on #1733
@paulb777 You're welcome. Hmm... seems to be happening on Xcode 9.4.1 (9F2000) as well now. I'm on mojave 10.14 Beta (18A365a). I'll try with some previous versions of the pods, I've just given Xcode 10 a try and thought it  was related, sorry about that, I will come back with more feedback.

Thansk!

[2018-08-22 15:58] wilhuff commented on #1731
This is a dup of #445, the fix for which was released as part of Firebase 4.8.0 in December 2017.

You really should upgrade your SDK :-).

[2018-08-22 15:58] #1731 closed

[2018-08-22 16:59] morganchen12 commented on #1723
Are you able to send directly through APNs? This will help us isolate whether or not it's an issue in the client or an issue in FCM.

[2018-08-22 20:59] kevinchau opened #1735 "FirebaseCore Logic Error & API Misuse"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 9.4.1
  * Firebase SDK version: 5.6
  * Firebase Component: Core
  * Component version: 5.1.1

### [REQUIRED] Step 3: Describe the problem

I'm seeing these warnings under FirebaseCore - I'm using CocoaPods with Static Libraries.

<img width="287" alt="image" src="https://user-images.githubusercontent.com/4261683/44490596-8887f10

[2018-08-22 22:45] paulb777 commented on #529
@alexdo @mikehaney24 I've seen this crash twice today in the Analytics quickstart that I just left running in the background.

The last thing in the log is

` [Firebase/Performance][I-PRF100009] Recording network trace: https://app-measurement.com/a
`

[2018-08-23 01:44] tejasd commented on #1733
Hi @cyupa - I haven't been able to reproduce this on Xcode 9.4.1 or on Xcode 10 beta 6 running on MacOS High Sierra (10.13.6) on a clean app using exactly the pods you've listed in your initial report using the latest version of Cocoapods (v.1.5.3).

Like @paulb777 mentioned, what version of cocoapods are you using? Additionally, would you perhaps be able to upload a sample project in which we can

[2018-08-23 05:48] cyupa commented on #1733
@tejasd @paulb777 I think It was due to the switch from Xcode 9 to 10 plus a pod update that somehow messed up my project. I did a rollback and tried it again and worked. I also no longer have two GoogleUtilities frameworks linked right now, I have none, apparently.
<img width="261" alt="screenshot 2018-08-23 08 44 34" src="https://user-images.githubusercontent.com/958431/44506930-46ad8800-a6b1-11

[2018-08-23 06:42] RubenEsposito commented on #1731
Thank you @wilhuff ! :)

[2018-08-23 08:15] DuM4ll3 commented on #892
Hi @ryanwilson any updates on this ?

[2018-08-23 08:16] jmorgaz commented on #1723
@morganchen12 Yes I am able to send through APNs.

[2018-08-23 08:38] StarbuckBG commented on #1723
Check if Method swizzling is on in the Info.plist. If it is on, turn it off.

[2018-08-23 08:54] jmorgaz commented on #1723
@StarbuckBG do you mean FirebaseAppDelegateProxyEnabled key?

[2018-08-23 12:25] StarbuckBG commented on #1723
Yes.

[2018-08-23 12:27] jmorgaz commented on #1723
We do not have this key in the app info.plist, so, it should be off by default, right?

[2018-08-23 13:49] paulb777 commented on #1267
The fix for the CocoaPods bug is now pushed to master, so 1.6.0.beta.2 should work correctly.

[2018-08-23 13:55] adrivernetta commented on #1723
After a lot of testing, we've discovered that for iOS10 at least it's mandatory to send the "body" parameter in the payload when sending a dictionary in the "alert" field. Otherwise, the notification is considered empty by the notifications center and therefore ignores it.

So this payload will not work for iOS10:
[code]
But this one will:
[code]

In iOS11, no body in the alert seem to be fine.

[2018-08-23 14:52] MattiaConfalonieri commented on #196
Same bug here, not seems a destructive bug... release go fine...but is disturbing.

[2018-08-23 15:34] alexmx opened #1736 "Firebase 5.6.0 dependencies conflict with other Google library dependencies."
Describe your environment

  * Xcode version: **9.4.1**
  * Firebase SDK version: **5.6.0**
  * Firebase Component: **Core**
  * Component version: **5.6.0**
  * NearbyMessages version: **1.1.0**

Describe the problem

#### Steps to reproduce:

We can't install latest version of Firebase iOS SDK (5.6.0) using CocoaPods because it's dependencies conflict with NearbyMessages (iOS Nearby SDK) library

[2018-08-23 15:51] paulb777 commented on #1736
Thanks for the report @alexmx.  We'll follow up with the NearbyMessages team and investigate a solution.

In the meantime a workaround would be to use a version of Firebase less than 5.5.0.

[2018-08-23 16:57] morganchen12 commented on #1723
@jmorgaz swizzling is enabled by default. You can disable it as described in our docs [here](https://firebase.google.com/docs/cloud-messaging/ios/client#method_swizzling_in).

[2018-08-23 20:15] serjooo opened #1738 "[FR] [ISSUE] Cloud Function does not support FIRTimestamps (Supoort FIRTimestamps / Support Dates again)"
### Environment

  * Xcode version: 9.4.1 (9F2000)
  * Firebase SDK version: 5.6.0
  * Firebase Component: Firebase/Functions (5.6.0), Firebase/Firestore (5.6.0)

### The problem
As I was calling a Cloud Function I received a fatal error saying:

`'FIRInvalidArgumentException', reason: 'Unsupported type: NSDate`

At first I thought it was Firestore throwing the exception as Firestore always recomm

[2018-08-23 20:55] edwardmp commented on #1647
I concur that there still is another leak in `[APMUserDefaults objectForKey:]`

[2018-08-24 11:17] jmorgaz commented on #1723
With the change in the payload we have fix this issue.

Thank you all!

[2018-08-24 11:17] #1723 closed

[2018-08-24 13:41] paulb777 commented on #1725
It looks like the tests need to be shortened to less than 45 minutes - https://travis-ci.org/firebase/firebase-ios-sdk/jobs/419932589

[2018-08-24 13:55] paulb777 opened #1743 "Fix Analyze issues in Firestore"
When running Product -> Analyze in Xcode

<img width="649" alt="screen shot 2018-08-24 at 6 54 16 am" src="https://user-images.githubusercontent.com/73870/44588442-92703800-a76a-11e8-9184-85f0d9f5fee5.png">

I also filed https://github.com/grpc/grpc/issues/16451

[2018-08-24 13:57] paulb777 opened #1744 "Add Analyze checking to travis"
To avoid recurrences of #1735 and #1743

[2018-08-24 14:17] paulb777 commented on #1687
Will reopen with more information

[2018-08-24 14:17] #1687 closed

[2018-08-24 15:10] aabanaag opened #1745 "Undefined symbols Carthage approach"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2018-08-24 15:43] baolocdo commented on #529
Does it happen with Analytics + Perf or Analytics only? I suspect that there is some interaction with Perf that might cause the issue. I'll try to reproduce once I have some bandwidth. Thanks

[2018-08-24 15:53] paulb777 commented on #529
I only see it with Analytics + Perf.

[2018-08-24 16:30] paulb777 commented on #1745
Hi @aabanaag

`MeasurementNanoPB.framework` should be added to the included frameworks.

[2018-08-24 16:30] #1745 closed

[2018-08-24 16:41] paulb777 commented on #1736
Fixed with NearbyMessages (1.1.1)

[2018-08-24 16:41] #1736 closed

[2018-08-24 18:52] aabanaag commented on #1745
Thanks! But if there is a document stating which frameworks should be included might be great.

[2018-08-26 13:27] Banck commented on #1701
@paulb777 Hello!
When I ran "sudo carthage update --platform iOS"
I get this message:
error: unable to open '***/Carthage/Build/iOS/Protobuf.framework/Protobuf': No such file or directory.
As I can see there is Protobuf.framework in Carthage/Build/iOS.
With 5.4.0 all the fine.

[2018-08-26 13:47] pabloroca opened #1752 "FR: Firebase ML to detect a body"
Ad Firebase ML does good face recognition, I would like to see a new feature who is human body recognition.

[2018-08-26 14:02] paulb777 commented on #1701
@Banck  See https://github.com/firebase/firebase-ios-sdk/issues/9#issuecomment-393339765

[2018-08-27 07:47] moontecholabs opened #1753 "Getting crash on @objc AppDelegate.userNotificationCenter(UNUserNotificationCenter, willPresent : UNNotification, withCompletionHandler : (UNNotificationPresentationOptions) -> ()) -> ()"
#0Crashed: com.apple.main-threadEXC_BAD_ACCESS KERN_INVALID_ADDRESS 0x0000000000000042 Raw Text
--
0 | libsystem_blocks.dylib | _Block_copy + 28
1 | Test iOS | AppDelegate.swift line 0@objc AppDelegate.userNotificationCenter(UNUserNotificationCenter, willPresent : UNNotification, withCompletionHandler : (UNNotificationPresentationOptions) -> ()) -> ()
2 | Test iOS | AppDelegate.swift line 0@objc A

[2018-08-27 09:12] puelocesar commented on #1687
Yes, I have an `$(inherited)` in `GCC_PREPROCESSOR_DEFINITIONS`, otherwise it would fail when building in Xcode. Right now I'm using the older version of Firebase and it's fine. It really only stopped working after that commit

[2018-08-27 17:05] morganchen12 commented on #1753
Can you share the AppDelegate method where it's crashing?

[2018-08-27 17:08] morganchen12 commented on #1752
This is unlikely to be a priority for us in the near future, but you can always use a [custom model](https://firebase.google.com/docs/ml-kit/use-custom-models) through ML Kit.

[2018-08-27 17:08] #1752 closed

[2018-08-27 17:44] paulb777 commented on #248
The integration tests are succeeding for me now.

[2018-08-27 17:44] #248 closed

[2018-08-27 20:58] jimijon commented on #1733
I am now having this exact problem.  I started working on a widget for my  iOS App and now I can't run  the  app.

[2018-08-27 23:09] jimijon commented on #1733
@tejasd When adding firebase/firestore to my Widget target I get a linker error.

    target 'WIDGET' do
    pod 'Firebase/Firestore' <=== no good
end

[2018-08-28 05:43] moontecholabs commented on #1753
We are getting on crash on this method

@available(iOS 10.0, *)
    func userNotificationCenter(_ center: UNUserNotificationCenter, willPresent notification: UNNotification, withCompletionHandler completionHandler: @escaping (UNNotificationPresentationOptions) -> Void) {
        // Play sound and show alert to the user
        FBSDKAppEvents.logPushNotificationOpen(notification.request.content.use

[2018-08-28 15:24] #1725 closed, assigned to var-const, wilhuff

[2018-08-28 17:26] morganchen12 commented on #1753
Looks like some sort of memory corruption issue. Your code should never be crashing on `_Block_copy`.

The only Firebase symbol in this stack trace is from Messaging's automatic method swizzling. Can you try [disabling swizzling](https://firebase.google.com/docs/cloud-messaging/ios/client#method_swizzling_in) and seeing if your code is still crashing?

[2018-08-28 19:42] jimijon commented on #1733
now I get after pod update, delete derived, complete clean and build:

    Check dependencies

error: unable to read module map contents from 'Target Support Files/GoogleUtilities/GoogleUtilities.modulemap': Error Domain=NSCocoaErrorDomain Code=260 "The file “GoogleUtilities.modulemap” couldn’t be opened because there is no such file." UserInfo={NSFilePath=/Users/James/Documents/Development/INDX42

[2018-08-28 20:54] morganchen12 commented on #1733
@jimijon what version of CocoaPods are you using?

You may find more help on StackOverflow, since your issue seems to be a configuration issue and not a Firebase issue.

[2018-08-28 21:28] jimijon commented on #1733
cocoapods  1.6.0.beta.1

The error could be a  red herring  I don't really know. Once I tried to use it in my widget, it just never worked with other issues too, depending on what level of old, restore, update, clean, build etc.

Have you successfully built a project with a widget target? Curious.

[2018-08-29 00:25] cliftonlabrum opened #1757 "FR: Instructions for Adding Firebase to macOS App"
I recently installed Firebase in a macOS+iOS app in Xcode manually (I didn't use CocoaPods). I followed the instructions in the Readme that are included in the frameworks download that Google provides here: https://firebase.google.com/docs/ios/setup?authuser=1#frameworks

I did everything the same during the installation between iOS and macOS (linking the frameworks, other linker flags, etc.).

I

[2018-08-29 00:32] paulb777 commented on #1757
@cliftonlabrum Thanks for the report. Sorry, we don't have instructions or provide binaries for manual installation of macOS.  Only CocoaPods installations are currently available for macOS and tvOS.

[2018-08-29 00:41] cliftonlabrum commented on #1757
Thanks for your quick reply. So in order to get iOS and macOS in Cocoapods, would I have to do something like this where I grab everything for iOS, but have to cherry pick the specific pods for macOS?
[code]
Or, if I want full parity between iOS and macOS, could I just install the 4 pods supported by macOS for both?
[code]
Thank you!

[2018-08-29 00:46] paulb777 commented on #1757
You could just install the four pods for both. The difference would be that you won't get `FirebaseAnalytics` which is only available for iOS and gets installed with `Firebase/Core`.

I would recommend only specifying the following to get the latest released versions instead of the very latest sources:

[code]

[2018-08-29 00:56] cliftonlabrum commented on #1757
Perfect, thank you!

[2018-08-29 00:56] #1757 closed

[2018-08-29 03:29] stevenp opened #1759 "5.7.0 requires Ads SDK 7.32.0, framework size is too big to push to GitHub"
* Xcode version: 9.4.1
  * Firebase SDK version: 5.7.0
  * Firebase Component: AdMob
  * Component version: 5.7.0

#### Steps to reproduce:

A change to the Google Mobile Ads SDK that makes the framework greater than 100MB has been introduced as of version 7.32.0, and Firebase 5.7.0 is locked to this new version.

Files greater than 100MB cannot be pushed to GitHub:
[code]

The recommended CocoaPo

[2018-08-29 06:40] bank18651 commented on #1718
I try to reproduce with other project but it's not happen.
I will find out the way for reproduce it and update.
Do you have anything to suggest me for this?

[2018-08-29 09:39] touqeershafi commented on #1403
we have build our whole feature of refer a friend on this firebase dynamic link and suddenly you came to know that firebase dynamic link is not working :(

[2018-08-29 10:51] udielenberg opened #1760 "[firebase-talk]importing firebase/app imports all firebase services"
### Describe your environment

  * Firebase SDK version: 5.3.1
  * Firebase Component: Auth / Firestore / app
  * Bundled with Webpack 4
  * React Application (self customized, **not** `create-react-app`

### Describe the problem
I get this warning message:
When l `import firebase from 'firebase/app'`, I still get all of firebase services, **and not just the `app`**.

![screen shot 2018-08-29 at 1

[2018-08-29 13:26] mohonish opened #1761 "[bug?] leveldb-library incorrect version"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2018-08-29 13:56] paulb777 commented on #1760
This does not look like a firebase-ios-sdk issue. Perhaps you meant to open an issue at https://github.com/firebase/firebase-js-sdk/issues?

[2018-08-29 13:56] #1760 closed

[2018-08-29 14:13] paulb777 commented on #1761
@mohonish Thanks for the investigation and report.  It looks like we missed updating the `leveldb-library` dependency version in the FirebaseFirestore.podspec.  We'll get this fixed in the next update.

In the meantime, you should be able to workaround by updating to version 1.20 of level_db-library. You may need to edit or delete `Podfile.lock` to do so.

[2018-08-29 14:39] paulb777 commented on #1759
Thanks for the report @stevenp. We'll follow up with the Google Mobile Ads SDK on a solution. (Internally tracked at b/113496608).

In the meantime, the workaround would be to stick to Firebase 5.6.0.

[2018-08-29 16:04] wilhuff commented on #1761
Note that while the version floor is incorrect Firestore has declared a floating dependency on leveldb-library such that CocoaPods should have picked up 1.20. Indeed, my Podfile.lock contains:

[code]

Something else is going on here and I don't think #1762 is going to address it.

[2018-08-29 16:27] wilhuff commented on #1761
Ah, that totally fits the facts. Nevermind and please carry on :-).

[2018-08-29 16:31] mohonish commented on #1761
Hi Guys,

Thanks for the quick response. Yes indeed my project had an existing library that had listed `v1.18` of leveldb-library as it's dependency on it's podspec. That probably caused the issue. I was able to update the dependency version by forking that repo.

This surprised me too as for firestore the pod dependency was noted as `(~> 1.18)` which means it is okay to pick up updated versions u

[2018-08-29 16:34] morganchen12 commented on #1718
Not sure. It's difficult to diagnose given it shouldn't be an issue in your linker flags. You can try updating your pods to see if there's a newer version of GTMSessionFetcherService or update your CocoaPods rubygem and reinstall your pods.

[2018-08-29 17:39] #1761 closed

[2018-08-29 19:09] #1743 closed

[2018-08-29 20:42] paulb777 commented on #1759
A workaround that will enable using the latest Firebase and Google Mobile Ads is removing the i386 slice from the framework. It's not likely that you need to run the simulator on a 32bit mac:

[code]

[2018-08-29 23:17] paulb777 commented on #1733
@jimijon If you can share a reproducible example, we could take a deeper look.

[2018-08-30 06:44] Saraavana opened #1766 "SPRINGBOARD, scene-create watchdog transgression:"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2018-08-30 17:48] morganchen12 commented on #1766
Looks like your stack trace is unsymbolicated. Can you symbolicate it?

The app seems to be hanging in an xpc call originating from Security. We likely won't be able to make progress on this issue without a reproducible example or more complete stack trace.

[2018-08-30 17:49] morganchen12 commented on #1766
Your Firebase version is also two major version behind the current release. Can you try upgrading Firebase and seeing if the issue still exists?

[2018-08-30 21:44] morganchen12 commented on #1766
Please reopen this with more information after you've upgraded to Firebase 5.x.

[2018-08-30 21:44] #1766 closed

[2018-08-31 17:53] ryanwilson opened #1768 "Add Debug logs Data Collection Default flag"
Currently it's impossible to tell from the logs if:
- The value of the flag
- The source of the flag (plist vs API call)
- If the flag is set at all, or it falls back to the default

It would be helpful to have debug logs covering each scenario.

[2018-09-03 07:59] cdjinwei commented on #1060
问题事实上并没有解决,直接硬着头皮上了,之后也能接受到用户的数据,肯定是因为网络的问题.应该有解决办法,我没找到

[2018-09-03 09:55] cdjinwei commented on #1060
ps: 测试设备使用的是真实的IOS设备(不是模拟器),能够访问google(以前测试也是翻了墙的)

[2018-09-04 03:38] kainjinez opened #1773 "Firestore 0.13.2 does not support MacOSX application"
Hello, I'm very new with Swift development.
I tried to implement Firestore to my macOSX application using following terminal code:
[code]

[code]
So how can I solve this? Thanks!

[2018-09-04 04:04] wilhuff commented on #1773
Firestore is not supported on macOS so this outcome is expected. #434 tracks that effort.

I expect that with persistence off Firestore would work pretty well. With persistence enabled its likely the client violates current best practices around where to store its cache.

MacOS support in Firevase is a community effort. If you have the inclination please chip in! :-)

[2018-09-04 04:04] #1773 closed

[2018-09-04 10:55] moritz-wundke opened #1774 "Undefined symbols for architecture arm64 for Unity ios integration using cocoapods"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 9.2 (9C40b)
  * Firebase SDK version: Unity SDK 5.2.1
  * Firebase Components: Auth, Messaging

### [REQUIRED] Step 3: Describe the problem

When integrating Firebase into our Unity app using cocoapods we get the following error:

[code]

This is our Podfile:

[code]

The pod output is as follows:

[code]

[2018-09-04 19:16] morganchen12 commented on #1543
@richardliveraise I'm closing this ticket for the time being, but if you have any new information or if this issue resurfaces please comment here and I'll reopen it.

[2018-09-04 19:16] #1543 closed

[2018-09-04 19:57] morganchen12 commented on #1774
@moritz-wundke can you file a [support ticket](https://firebase.google.com/support)? It looks like part of the Unity SDK is missing from your project.

[2018-09-05 05:07] moritz-wundke commented on #1774
Ok thanks will do!

[2018-09-05 08:28] moritz-wundke commented on #1774
It turned out that one of the `.a` was not set for iOS. Thanks for the hint!

[2018-09-05 08:28] #1774 closed

[2018-09-05 13:50] #1735 closed

[2018-09-05 14:15] ryanwilson opened #1779 "ABTesting Swift still uses `FIR` prefix"
This should be removed using the `NS_SWIFT_NAME` macro.

[2018-09-06 08:37] stickfaith commented on #1640
I also encountered this error, it can be solved by import GoogleUtilities.framework，

[2018-09-06 21:22] paulb777 opened #1785 "Migrate FirebaseAnalytics references out of FirebaseCore"

[2018-09-07 09:41] zhouhao27 opened #1791 "Is it able to run ML Kit in Xcode 8.3"
I'm wondering if it's possible to run ML Kit in my Xcode 8.3 project? It's an enterprise application. Thanks,

[2018-09-07 11:52] pschneider commented on #1614
I'm not really into the issue right now but could it also be because of some problems mentioned in #1477 and related issues?

[2018-09-07 13:34] paulb777 commented on #1791
Firebase dropped support for Xcode 8.3 earlier this summer when Apple started requiring Xcode 9 for building apps to publish to the App store.

I don't know of a reason that Xcode 8.3 wouldn't work right now - but it could break at any time in the future without warning.

[2018-09-07 13:34] #1791 closed

[2018-09-07 13:54] AsteaDevelopment commented on #269
+1

[2018-09-07 13:54] bstpierr opened #1792 "Update Database to use new interop mechanism"
The code should be quite similar to Storage. See #1660 for that example.

[2018-09-07 13:55] bstpierr opened #1793 "Cleanup unused auth methods from interop transition"
Now that all the callers of some methods (such as getUserID) are transitioned to the new interop mechanism, some cleanup should be possible.

This issue depends on #1792 being completed first.

[2018-09-07 16:53] mikelehen commented on #1165
FYI- We've made some improvements that should help somewhat.  In particular, https://github.com/firebase/firebase-ios-sdk/pull/1783 will cause us to fail faster (after only 1 retry attempt) and https://github.com/firebase/firebase-ios-sdk/pull/1712 will make sure we retry right away if our exponential backoff delay has already elapsed.

We have more work planned, in particular integrating SCNetwor

[2018-09-07 17:14] morganchen12 commented on #1614
Closing due to inactivity.

[2018-09-07 17:14] #1614 closed

[2018-09-07 20:42] bklimt commented on #1738
Hi @serjooo. You are correct that NSDate/FIRTimestamp are not yet supported by Cloud Functions. Thank you for letting us know how this functionality would be useful to you. We are still considering how best to support this particular use case, and may add such functionality in the future.

[2018-09-10 00:36] rrecio commented on #314
I'm on Firebase 5.7.0 (Core, Messaging, RemoteConfig) and still get those errors:

[code]

[2018-09-10 06:52] zhouhao27 commented on #1791
@paulb777 Thanks. I migrated my code to Xcode 9 already.

[2018-09-10 06:56] zhouhao27 opened #1797 "Is it possible to reduce the size if I only need to recognise the English text?"
I developed an application to do the text recognition by using ML Kit iOS. I only need to recognise in English. Is it possible to reduce the size of the package? Currently it's over 350 MB.

[2018-09-10 17:56] morganchen12 commented on #1797
There's no way of reducing the binary size besides the linker's dead code stripping and App Store app slicing. However, these two methods combined should be able to significantly reduce the size of your binary (by upwards of 75%).

You should be able to see roughly the final size by installing a Testflight binary to a device and examining the app package there.

[2018-09-10 17:56] #1797 closed

[2018-09-11 06:01] r9hacks opened #1800 "Error Unable to generate/load/remove RSA keypair"
Sep 11 08:20:57 <Error>: 5.7.0 - [Firebase/InstanceID][I-IID010003] Unable to generate keypair.
Sep 11 08:20:57 <Error>: 5.7.0 - [Firebase/InstanceID][I-IID010009] Keypair could not be loaded from Keychain. Error: Error Domain=com.firebase.iid Code=-34018 "(null)"
Sep 11 08:20:57 <Warning>: 5.7.0 - [Firebase/Analytics][I-ACS020001] Failed to get InstanceID: Error Domain=com.firebase.iid Code=-3401

[2018-09-11 07:08] devpascoe commented on #1369
How are folks going with this lately? I'm just chiming in now, i have my own library and corresponding podspec with the dependency specified for Firebase with:
s.dependency = 'Firebase/Core'

and get the error on the consuming app's pod install:
NoMethodError - undefined method `basename' for #<String:0x00007f9ecd4b02d0>

I've tried to have the consuming app's Podfile omit and include use_framewor

[2018-09-11 07:17] techmehra opened #1801 ":-1: Skipping code signing because the target does not have an Info.plist file. (in target 'FirebaseMessaging') and firebase core in xcode 10"

[2018-09-11 17:21] morganchen12 commented on #1800
Can you share your Firebase versions and some sample code to reproduce this issue?

[2018-09-11 17:32] morganchen12 commented on #1800
-34018 is a missing entitlement error. Make sure you've [enabled remote notifications under background modes](https://developer.apple.com/documentation/usernotifications/setting_up_a_remote_notification_server/pushing_updates_to_your_app_silently?language=objc) so Auth can send the silent push to verify your device.

[2018-09-11 17:32] morganchen12 commented on #1801
There's not enough information in this issue for us to debug.

[2018-09-11 17:32] #1801 closed

[2018-09-11 17:58] zanesc commented on #357
This started happening to me today on a project where it was completely working before. 0 changes were made. Did anyone solve this issue?

[2018-09-11 18:27] rickwierenga opened #1804 "BoringSSL error"
Why isn't this error fixed yet?

I'm on Xcode 10 beta 6

[code]

[2018-09-11 18:32] morganchen12 commented on #1804
What network conditions are you running Firebase in? Encountering this error isn't necessarily an indicator of incorrect behavior in BoringSSL.

[2018-09-11 18:56] wilhuff commented on #1804
What version of iOS are you targeting? Which Firebase products are you using? What were you trying to do? Are there conditions in which this error doesn't show up?

Apple is [shipping a copy of BoringSSL with iOS 11](https://forums.developer.apple.com/thread/88387) so this error may not even be related to Firebase at all.

[2018-09-11 18:57] ZubenkoIlya opened #1805 "ld: framework not found FirebaseNanoPB"
Hello everybody. I have a problem. My project does not compile.
This error always appears:
`ld: framework not found FirebaseNanoPB`

Im using this frameworks:
Using Firebase (5.7.0)
Using FirebaseAnalytics (5.1.1)
Using FirebaseAuth (5.0.3)
Using FirebaseAuthInterop (1.0.0)
Using FirebaseCore (5.1.2)
Using FirebaseFirestore (0.13.2)
Using FirebaseInstanceID (3.2.1)
Using FirebaseMessaging (3.1.1)

[2018-09-11 19:14] paulb777 commented on #1805
This repository is for reporting issues and enhancements with with the Firebase iOS SDK.

Usage questions are better searched, asked and answered on stack overflow.  For example, see [this](https://stackoverflow.com/questions/46633054/ld-framework-not-found-grpcclient).

[2018-09-11 19:14] #1805 closed

[2018-09-11 20:08] bstpierr opened #1806 "Zip File instructions do not mention including some Apple libraries that are needed"
While creating a new app from scratch, I ran into many build errors when following the given instructions.

We should mention libc++ somewhere in the readme.

[2018-09-11 20:09] r9hacks commented on #1800
Using Firebase (5.7.0)
Using FirebaseAnalytics (5.1.1)
Using FirebaseAuth (5.0.3)
Using FirebaseAuthInterop (1.0.0)
Using FirebaseCore (5.1.2)
Using FirebaseDatabase (5.0.2)
Using FirebaseInstanceID (3.2.1)
Using FirebaseUI (5.2.1)

on iphone 6 iOS 9.0.2

I do enabled remote notification under background modes.
This is sample of my code.

func application(_ application: UIApplication, didFinishLau

[2018-09-11 20:10] r9hacks commented on #1800
Using Firebase (5.7.0)
Using FirebaseAnalytics (5.1.1)
Using FirebaseAuth (5.0.3)
Using FirebaseAuthInterop (1.0.0)
Using FirebaseCore (5.1.2)
Using FirebaseDatabase (5.0.2)
Using FirebaseInstanceID (3.2.1)
Using FirebaseUI (5.2.1)

on iphone 6 iOS 9.0.2

I do enabled remote notification under background modes.
This is sample of my code.
`func application(_ application: UIApplication, didFinishLau

[2018-09-11 20:10] bstpierr commented on #1806
We also need to link in sqlite3, as well as StoreKit (for some SDKs anyway).

[2018-09-11 20:19] bstpierr commented on #1806
And also icucore.

[2018-09-11 20:40] morganchen12 commented on #1800
Are you able to reproduce this with the [FirebaseUI sample](https://github.com/firebase/FirebaseUI-iOS/tree/master/samples/swift)?

[2018-09-11 20:58] paulb777 commented on #1806
It's kind of there, but definitely could be more clear:

https://cs.corp.google.com/piper///depot/google3/googlemac/iPhone/Firebase/BuildScripts/TarballDistribution/README.md?g=0&l=60

It's especially confusing because Xcode's automatic linking seems to be random.

[2018-09-11 21:04] r9hacks commented on #1800
I can't run the sample because its requires CocoaPods version `>= 1.5.0`, which is not satisfied by your current version, `1.4.0`.

but I found something interesting. As long as I run the app from Xcode as Debug mode on my iPhone I can reproduce the error. and sometimes even the Auth.auth().signInAnonymously() function return the same error. And when I run the app on my iPhone directly without usi

[2018-09-11 21:44] morganchen12 commented on #1806
This will also break if for whatever reason the user has module imports disabled, right?

It may be worth adding a few lines about this on our devsite docs.

[2018-09-11 22:41] paulb777 commented on #1806
Presumably. Missing libraries is also one of the issues that has affected Carthage users.

[2018-09-11 23:40] paulb777 commented on #1804
Looks similar to https://stackoverflow.com/questions/52217167/trying-to-get-data-from-the-url-and-get-console-warnings

[2018-09-12 02:05] devpascoe commented on #1369
ah dang. Ignore above. No = after dependency

[2018-09-12 06:44] rickwierenga commented on #1804
I'm sorry for being so short with my question; is was quite frustrated.

The solution paulb777 provided is working perfectly - thank you for it!

I assume the further details others asked for aren't relevant anymore. Might you need information, please ask and thank you for the help too.

For anyone reading this in the feature: select your app in the left top, click edit schemes, select run, add OS

[2018-09-12 06:44] #1804 closed

[2018-09-12 12:47] chetandobariya commented on #1052
You can prevent Firebase from swizzling the methods in your AppDelegate by adding **`FirebaseAppDelegateProxyEnabled`** set to **`NO`** in your app's **`info.plist`**

[2018-09-12 12:48] chetandobariya commented on #80
After spending an almost full day, I have figure out the problem.

Below solution works like charm!

You can prevent Firebase from swizzling the methods in your AppDelegate by adding **`FirebaseAppDelegateProxyEnabled`** set to **`NO`** in your app's **`info.plist`**

[2018-09-12 13:06] baolocdo commented on #1052
@chetandobariya : Keep in mind that if you decide to turn off **FirebaseAppDelegateProxy**, you will lose all automatic campaign events which are important to Analytics. So please follow the instructions at **FIRAnalytics+AppDelegate.h** to avoid missing campaign events.

[2018-09-12 13:29] chetandobariya commented on #1052
@baolocdo  Thanks for the sharing information. I will have a look. but for my case, I am only using remote configuration from Firebase SDK.

[2018-09-12 13:42] paulb777 opened #1809 "Fix flaky Database Integration tests"
Some of the Database Integration tests are flaky both running on travis and running locally in Xcode 9.4.  See discussion in #1808 for more detail.

To fix, remove the `FLAKY_TEST` ifdef and get the tests passing reliably locally and on travis.

[2018-09-12 14:40] wittawats commented on #1393
Carthage/Build/os/FirebaseSwizzlingUtilities.framework

[2018-09-12 14:40] wittawats commented on #1393
+[FIRSwizzler currentImplementationForClass:selector:isClassSelector:]: unrecognized selector sent to class 0x10279f6f8

[2018-09-12 14:42] wittawats commented on #274
These are the versions of Firebase we run:
Using Firebase (5.0.1@ wittawat

[2018-09-12 18:48] morganchen12 commented on #1800
There was some simulator keychain bug a while ago, but I don't think this is the same issue. Can you try updating your CocoaPods installation and reproducing the issue with the FirebaseUI sample?

[2018-09-13 15:22] vdmdar opened #1813 "FCM Data messages stop working"
### Describe your environment

  * Xcode version: 9.4.1
  * Firebase SDK version: 5.7
  * Firebase Component: Messaging
  * Component version: 3.1.1

### Describe the problem
I use FCM both for notification and data messages. When notification payload is included in message body, FCM delivery works perfectly, but there is a problem with data messages.
I catch data messages in MessagingDelegate pro

[2018-09-13 18:28] morganchen12 commented on #1813
Can you share the message payload you're sending to FCM? This sounds like it may not be a client issue.

[2018-09-13 21:34] morganchen12 commented on #1753
Closing due to inactivity, will re-open when there's new information.

[2018-09-13 21:34] #1753 closed

[2018-09-14 09:24] naveen-c opened #1824 "Crash in FPREventsQueue (iOS 9, iOS 10)"
Describe your environment

  * Xcode version: 9.4
  * Firebase SDK version: 5.6.0
  * Firebase Component: Performance
  * Component version: 2.1.1

Describe the problem

We are using Firebase Performance tool for performance monitoring of the app. We have observed a crash in FPREventsQueue. The issue is observed in iOS 9 and iOS 10.

Crashed: com.google.perf.FPREventsQueue
EXC_BAD_ACCESS KERN_INVA

[2018-09-14 09:53] vdmdar commented on #1813
Thanks for your reply.

The payload looks like this:
`curl -X POST \
 https://fcm.googleapis.com/fcm/send \
 -H 'Authorization: key=*****************' \
 -H 'Cache-Control: no-cache' \
 -H 'Content-Type: application/json' \
 -d '{
   "data": {
       "section": "payments"
   },
   "to": "fBxnwkjEFUk:APA91bH15Z745MwxXKt8hW9GrjpipXF5KKWnFCTjh6FwbNIQC4g-N5OAl7zaRDwnXtAkO1od04zPqS51jaOORZ7RlELUJ3bfAY6

[2018-09-14 13:56] moopoints opened #1825 "Read/write methods resulting in error claiming incorrect required number of segments for reference"
* Xcode version: 9.4.1
  * Firebase SDK version: 5.8.0
  * Firebase Component: Firestore
  * Component version: 0.13.3 (Not sure if that's the correct version number. To be safe I updated my pods before writing this ticket)

It appears that once I get deeper into collections/documents and past 3 levels of collections, any request (e.g. updateData, getDocuments) currently will result in an error me

[2018-09-14 14:05] moopoints commented on #1825
Turns out the error was a result of a missing value. So the request handling is just fine, the error message is a bit misleading.

[2018-09-14 14:25] leedsalex opened #1826 "Update Carthage Specs to Version 5.8.0"
* Xcode version: 10.0
  * Firebase SDK version: 5.6.0
  * Firebase Component: Core, Analytics, Performance
  * Component version: 5.6.0

**Problem:**

The Carthage specs for Firebase have not been updated since version 5.6.0. Could you please update them so they point to the latest SDK versions?

**Steps to reproduce:**

Follow the steps to implement the Firebase SDK & Components using Carthage: h

[2018-09-14 15:27] wilhuff commented on #1825
Could you say a bit more about what you mean by "missing"? Was one of them `nil`?

[2018-09-14 15:41] moopoints commented on #1825
That's correct, one of the values was nil. I am passing (I didn't copy that part in my snippet above) values such as deckId and autoSaveDeckId as well as cardId. In this case cardId was nil which then caused the above error message.

[2018-09-14 17:14] paulb777 commented on #1826
5.8.0 is now available on Carthage. Thanks for the ping @leedsalex

[2018-09-14 17:14] #1826 closed

[2018-09-14 21:31] cyupa commented on #1733
Sadly, I'm back to this issue 😞 I'll try to see if I can find a solution. The one above is no longer applicable.

[2018-09-14 22:13] mikehaney24 commented on #1824
We're looking into it.

[2018-09-14 22:36] visumickey commented on #1824
Just curious - Has this crash ever occurred in the past versions of Firebase performance?

[2018-09-14 22:36] cyupa commented on #1733
Here's a git repo that replicates the issue:
https://github.com/cyupa/GooglePodsSwizzle

[2018-09-15 00:07] paulb777 commented on #1733
@cyupa The Xcode workspace is not buildable by me. I worked through a few errors, but my buffer overflowed. Please verify it works from a clean clone, and post exact instructions to repro. Also, if possible, make it smaller. Make sure you specify the CocoaPods version and Xcode version.

[2018-09-15 00:49] fschaus commented on #1826
Could this also be the case for Cocoapods? As of Friday 9/14, version 5.6.0 is the last pod available (and v0.13.1 for Firestore). Thanks!

[2018-09-15 00:51] paulb777 commented on #1826
@fschaus 5.8.0 was pushed to CocoaPods two days ago. Make sure you update your CocoaPods repo - `pod update`

[2018-09-15 01:00] fschaus commented on #1826
Ok works now. What threw me off was that when trying to do a clean install (i.e. pod install Firebase/Core) it would install v.5.6.0 and not 5.8.0 (and refuse to install 5.8.0 even when I specified "pod install Firebase/Core", "5.8.0")...

Running the pod update on that 5.6.0 doesn't work though. Thanks!

[2018-09-15 08:05] cyupa commented on #1733
@paulb777 Sorry, it was 3 AM in the morning on my timezone 😅 I did a clean clone and still get the same issue. I will look into it more today.

Swift 4
Cocoapods 1.6.0.beta.1
Xcode 10 GM
macOS Mojave GM

You run a pod install and then run on a iPhone XS for example.

[2018-09-15 10:42] pyrosphere opened #1829 "`GoogleUtilities.podspec` iOS deployment version should be higher than 6.0"
`GoogleUtilities.podspec` specifies the [iOS deployments target to be 6.0](https://github.com/firebase/firebase-ios-sdk/blob/f151178392de45eebf2aaa16c259fc9879200992/GoogleUtilities.podspec#L19). However that's probably a mistake as `GoogleUtilities` use several methods and classes only available from iOS 7.0 such as `NSURLSession`.

[2018-09-15 13:38] paulb777 commented on #1829
The 6.0 is intentional since the pod has a client that supports 6.x and uses runtime checks to avoid the GoogleUtilities calls on 6.x.

I'll add a comment to the podspec.

[2018-09-15 14:08] pyrosphere commented on #1829
Thank you for the clarification.

It's a shame since Xcode throws a bunch of `'NSURLSession' is only available on iOS 7.0 or newer` warnings. 😞

[2018-09-15 14:28] paulb777 commented on #1829
Good point. We'll investigate adding pragmas or @available checks to suppress those warnings.  (Note they also don't occur if the Podfile has `use_frameworks!` on.)

Thanks for the report @pyrosphere

[2018-09-16 12:59] cyupa commented on #1733
After more investigation I came to the conclusion that it is indeed a Cocoapods issue. Somehow, it doesn't play well with the Google Utilities subspecs (Logging, Environment), but I didn't had time to look more closely into it.

@jimijon, I would go with something like:

[code]

[2018-09-16 12:59] #1733 closed

[2018-09-16 17:46] naveen-c commented on #1824
Yes, the crash has been there at least from 4.12.0

[2018-09-16 22:04] haterecoil commented on #1561
Hello,

Thanks for the hard work!

As a piece of information, I had the same error today and fixed it by setting in `plist.info`
[code]

It used to be set to `false`, I guess I did some bad fiddling.

[2018-09-16 22:29] jimijon commented on #1733
Well  since it was for an extension,  I wound up using UserDefaults. However, I will try again later if I expand the extension.
thanks

[2018-09-17 04:18] vdmdar commented on #1813
No, they don't.  As far as I know sender ID always stays the same as we using just one firebase project to send messages.

`    func messaging(_ messaging: Messaging, didReceiveRegistrationToken fcmToken: String) {
        log.debug("Firebase registration token: \(fcmToken)")
        Messaging.messaging().shouldEstablishDirectChannel = true
        sendTokenToServer(token: fcmToken)
    }`

[2018-09-17 09:54] a455455b opened #1831 "Blocked the main thread"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2018-09-17 11:45] bank18651 commented on #1718
After updated to Firebase/Auth (5.8.0) I got stuck from this line from fetch providers.
<img width="1167" alt="screen shot 2561-09-17 at 6 42 31 pm" src="https://user-images.githubusercontent.com/5292061/45621210-c0b31000-baa9-11e8-97a8-51e75b28d63c.png">

[2018-09-17 13:42] andwun opened #1832 "Duplicate symbol errors with Firebase iOS SDK v5.5.0+"
After upgrading Firebase iOS SDK from v5.4.1 to v5.5.0 or later, duplicate symbol errors make my builds fail:

[code]

I'm using Cocoapods to integrate Firebase. `use_frameworks!` is not used.

From analyzing `Podfile.lock`, the dependency tree looks like:

* Firebase/Core
  * FirebaseAnalytics
    * nanopb
    * GoogleAppMeasurement
      * nanopb

... so this seems much like a Firebase-internal

[2018-09-17 13:50] paulb777 commented on #1832
CocoaPods should ensure there is only one version of pb_common.o. I suspect the problem is from cruft in DerivedData between Firebase version updates. Does `rm -rf ~/Library/Developer/Xcode/DerivedData` help?  If you're still stuck, please share the `Podfile` and `Podfile.lock`.

[2018-09-17 13:58] paulb777 commented on #1831
Perhaps related to https://github.com/invertase/react-native-firebase/issues/1469#issuecomment-419679192?

[2018-09-17 17:39] #1829 closed

[2018-09-17 21:02] ryanwilson opened #1834 "Investigate using apidiff tool to suggest version numbers."
Material motion has a tool to generate API diffs based on two git revisions:
https://github.com/material-motion/apidiff

Things to consider:
- Release engineers will need to ensure they have both `apidiff` and `sourcekitten` installed

We'd also need to build the logic to auto-generate the suggested versions. Any new public APIs should result in a minor bump, with no public changes resulting in a

[2018-09-17 21:16] dkechag commented on #196
Xcode 10 GM, any project I add the quite fresh GoogleMobileAdsSdkiOS-7.33.1 (as a standalone), I get the warnings. It's been like that for quite a while (I think Xcode 8.x), amazing that it hasn't been fixed yet!
At least it doesn't seem to cause any problems that I can see.

[2018-09-18 01:14] a455455b commented on #1831
@paulb777 It may not be the problem you quoted,i found the keyword '_dispatch_gate_wait_slow' happened in the case of a deadlock.

[2018-09-18 01:51] BranchS commented on #1368
In addition, Fabric is shutting down in 2019. Without their site, there would be no way to download the SDK of Crashlytics, unless the SDK is added to Firebase's download.

[2018-09-18 01:54] morganchen12 commented on #1813
Hm, sounds like it might be a bug in the client SDK. @chliangGoogle can you take a look? I'm traveling currently, but can take a look at it next week.

[2018-09-18 02:13] morganchen12 commented on #1831
@a455455b are you able to reproduce the bug in the same network conditions using one of the quickstart apps?

[2018-09-18 02:26] morganchen12 commented on #1718
Can you share a stack trace at the hang?

[2018-09-18 03:13] a455455b commented on #1831
It is accidental, not every time, very consistent with the emergence of deadlock.

[2018-09-18 03:28] bank18651 commented on #1718
`'NSInvalidArgumentException', reason: '-[GTMSessionFetcher setFetcher:forTask:]: unrecognized selector sent to instance 0x7ffce5ccb480'
*** First throw call stack:
(
	0   CoreFoundation                      0x000000010bee41e6 __exceptionPreprocess + 294
	1   libobjc.A.dylib                     0x000000010b447031 objc_exception_throw + 48
	2   CoreFoundation                      0x000000010bf65784

[2018-09-18 14:18] olegshamin opened #1838 "Error with link multiple auth providers"
Environment

  * Xcode version: 9.3-10
  * Firebase SDK version: 5.8.0
  * Firebase Component: Auth, UI
  * Component version: Auth 5.0.3; UI 5.2.2

#### Steps to reproduce:

1. Sign in with phone number
2. Try to link Google account to my firebase user
3. When I pressed on button first time - nothing happens. When I pressed second time - all work correctly. OR If I move back to previous screen an

[2018-09-18 16:47] chliangGoogle commented on #1813
It sounds like you are using multiple sender ID for difference purpose(data/notification), which should work as expected.

However you should only use one token instead of two. Are you using two differnt senderID (project ID) for FCM?

[2018-09-19 05:45] vdmdar commented on #1813
Hi
No, we are using just one sender ID
We discovered that this inconsistency happens when we set `        Messaging.messaging().apnsToken = deviceToken
`
and then we receive several different tokens to `func messaging(_ messaging: Messaging, didReceiveRegistrationToken fcmToken: String)` method.

(Note: this inconsistency happens not every time we set APNS token to `Messaging`, but after some time

[2018-09-19 12:44] Piramanayagamm commented on #1832
I am also facing the same problem. Removing DerivedData is not helping out. Here is my Pod file

target 'XXX' do
    pod 'UIColor+Hex'
    pod 'AFNetworking', '~> 2.6.3'
    pod 'AFNetworkActivityLogger', '~> 2.0'
    pod 'Lockbox', '~> 2.1.0'
    pod 'libextobjc', '~> 0.4'
    pod 'Mantle', '1.5.4'
    pod 'ReactiveCocoa', '~> 2.0'
    pod 'RSSwizzle', '~> 0.1.0'
    pod 'GoogleTagManager', '3.15

[2018-09-19 12:45] Piramanayagamm commented on #1832
Podfile.lock

PODS:
  - AFNetworkActivityLogger (2.0.4):
    - AFNetworking/NSURLConnection (~> 2.0)
    - AFNetworking/NSURLSession (~> 2.0)
  - AFNetworking (2.6.3):
    - AFNetworking/NSURLConnection (= 2.6.3)
    - AFNetworking/NSURLSession (= 2.6.3)
    - AFNetworking/Reachability (= 2.6.3)
    - AFNetworking/Security (= 2.6.3)
    - AFNetworking/Serialization (= 2.6.3)
    - AFNetworking/UIK

[2018-09-19 13:29] mmynarski commented on #230
Little bit more insight on that one. I have project with Firebase and switching names in runtime using `FirebaseOptions(contentsOfFile: filePath)`

It was working well on Xcode 9.4.1, but after update to Xcode 10 I have an output
`FirebaseOptions([Firebase/Analytics][I-ACS025020] Analytics requires Google App ID from GoogleService-Info.plist. Your data may be lost. Google App ID has been changed.

[2018-09-19 14:13] AbyssDevil opened #1844 "DynamicLink doesn't work after first installation from store"
Environment:
- Xcode version: 9.4.1
- Swift: 3.1 (At this moment there is no a budget for the conversion to swift 4)
- Minimum iOS deployment target: 9.3
- Firebase SDK version: 3.17.0
- Firebase Component: FirebaseDynamicLinks
- Component version: 1.4.0
- Other components version:
          Using Firebase (3.17.0)
          Using FirebaseAnalytics (3.9.0)
          Using FirebaseCore (3.6.0)

[2018-09-19 14:30] zgosalvez opened #1845 "Error satisfying GoogleUtilities/MethodSwizzler dependency."
* Xcode version: 10.0 (10A255)
  * Firebase SDK version: 5.8.0
  * Firebase Component: Auth, Core, Database, Functions, Messaging, Performance, Storage
  * Component version: 5.8.0

#### Steps to reproduce:

1. Create a new Xcode project
2. `pod init`
3. Add the following lines in the Podfile

[code]

*Note:* Changing the platform to `platform :ios, '12.0'` causes the same issue.

4. `pod install`

[2018-09-19 14:43] jayahariv commented on #1845
Analyzing dependencies
[!] CocoaPods could not find compatible versions for pod "Firebase/Core":
  In Podfile:
    Firebase/Core

Specs satisfying the `Firebase/Core` dependency were found, but they required a higher minimum deployment target.
CocoaPods could not find compatible versions for pod "GoogleUtilities/AppDelegateSwizzler":
  In Podfile:
    Firebase/Core was resolved to 5.8.0, which dep

[2018-09-19 14:44] paulb777 commented on #1845
This looks like a CocoaPods bug with version resolution.

 A workaround is adding `pod 'GoogleUtilities', '5.2.0'` to the Podfile.

We'll continue to investigate. Thanks for the detailed report @zgosalvez

[2018-09-19 14:57] ryanwilson commented on #1832
@Piramanayagamm can you please share your `Podfile.lock` as well so we can see what versions each pod resolved to? Thanks!

[2018-09-19 14:58] zgosalvez commented on #1845
@paulb777, I can confirm that the workaround works. Thanks.

No problem; It's the least I could do. Please keep us posted.

[2018-09-19 15:05] jayahariv commented on #1845
Even though I got that error gone while updating, but now I am getting another error which says , "Command CompileSwiftSources failed with a nonzero exit code"

While I was reading, I got [102](https://github.com/kylef/JSONWebToken.swift/issues/102) which says this is due to the CommonCrypto. I searched through the project and I could see  CommonCrypto is being used in three places inside Firebase

[2018-09-19 15:17] jayahariv commented on #1845
This issue just got FIXED by updating another library. It's not Firebase, and thanks for quick response.

[2018-09-19 15:19] paulb777 commented on #1845
@jayahariv Thanks for the update. I'll delete your comments here to keep this thread focused on original topic.

[2018-09-19 17:41] paulb777 commented on #1845
A better workaround is `pod 'GoogleUtilities', '5.2.3'` to get some build time fixes. I'll also edit above.

Meanwhile, we're working on doing a Firebase 5.8.1 patch to eliminate the need for the workaround.

[2018-09-19 18:17] fbandemer opened #1846 "Signing warnings in XCode 10 GM"
Hello,
i get this warnings when using building my application with Xcode10 GM

- "Skipping code signing because the target does not have an Info.plist file. (in target 'FirebaseCore')"
- "Skipping code signing because the target does not have an Info.plist file. (in target 'FirebaseDatabase')"
- "Skipping code signing because the target does not have an Info.plist file. (in target 'FirebaseMessagi

[2018-09-19 18:59] paulb777 commented on #1845
Fixed in Firebase 5.8.1

[2018-09-19 18:59] #1845 closed

[2018-09-19 21:00] richaricrew opened #1850 "Firebase causing app to crash on initial load"
### [READ] Step 1: Are you in the right place?

App crashes on load

### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10 GM
  * Firebase SDK version: 5.8.0
  * Firebase Component: Core, Performance (Auth, Core, Database, Firestore, Messaging, Storage, etc)
  * Component version: Core -> 5.1.3, Performance -> 2.1.1

### [REQUIRED] Step 3: Describe the problem

After installing t

[2018-09-19 21:33] chliangGoogle commented on #1409
We are thinking of separating the data message delivery via APNS and via direct channel so it's less confusing for people. So we will adjust the data message delivered in direct channel to use FIRMessagingDelegate messaging:didReceiveMessage:. while message delivered in APNS channel to use application(_ application:, didReceiveRemoteNotification:, fetchCompletionHandler:).

Let us know what you th

[2018-09-19 21:42] chliangGoogle commented on #1813
If you are using one senderID, there should only be one token generated. This is a bug.

Is the sender ID in retrieveFCMTokenForSenderID: method the same as the one inside your GoogleService-Info.plist? This method is used only if you want to use a different senderID. Any idea why you need to call this instead of getting token from the func messaging(_ messaging: Messaging, didReceiveRegistrationT

[2018-09-19 22:23] aimran50 opened #1855 "Problem setting up Firebase from a view controller."
### [REQUIRED] Step 2: Describe your environment
  * Xcode version: 9.4.1
  * Firebase SDK version: 5
  * Firebase Component: Messaging (Auth, Core, Database, Firestore, Messaging, Storage, etc)
  * Component version: 5

### [REQUIRED] Step 3: Describe the problem
I am trying to integrate Firebase messaging in IOS. My objective is to handle data messages both when app is in foreground and backgrou

[2018-09-20 02:38] dubiao commented on #1300
@shiwanjun 建议在国外的热门项目上提issue时使用英文，一来可以使项目成员可以很快了解到情况，二来可以让其它对项目关心的人也知道相关情况，而不至于提出重复的问题。如果你不写英文，会操作的人可能会用翻译工具来知道你要表达的意思，但是这会大大降低项目成员的工作效率。如果英文不太好，可以利用翻译工具，比如 [Googel翻译](translate.google.cn)。当然像 @wilhuff 这样给出双语的版本，更好。
也能提升你的英文水平。
代表开源团队谢谢你。

Hi, @shiwanjun .
We always hope you will file an issue in English in order the project's member can receive your advice as soon as possible, as well as the peop

[2018-09-20 03:05] wilhuff commented on #1300
@dubiao you give me too much credit. I’m also using Google Translate :-).

[2018-09-20 05:16] vdmdar commented on #1813
Yes, the sender ID is exactly the same.
Initially, we didn't have intentions to use that method, we started using it because of the problem described above (that data messages stop working when sent to token received in `func messaging(_ messaging: Messaging, didReceiveRegistrationToken fcmToken: String)` method)
So we use this method as temporary workaround to be able to receive data messages, ho

[2018-09-20 15:37] paulb777 commented on #1850
@richaricrew There isn't enough information here for us to reproduce and investigate the issue.  Please update and we can reopen.

[2018-09-20 15:37] #1850 closed

[2018-09-20 15:38] paulb777 commented on #1844
We can reopen if it reoccurs on Firebase 5.x.

[2018-09-20 15:38] #1844 closed

[2018-09-20 15:42] paulb777 commented on #1832
We reproduced this yesterday and the fix will be in the Firebase 5.9.0. Internally tracked at b/116139404

Two possible workarounds:
- Use `use_frameworks!` in the Podfile
- Remove `-all_load` from the `Other Linker Flags` Build Setting

[2018-09-20 15:42] #1832 closed

[2018-09-20 15:48] richaricrew commented on #1850
@paulb777 what more information would you like. There is no stack trace, and it seems to be crashing out when trying to make an API call on a background thread. Not sure if it is clashing with other pods we are using, but I can supply the list if that helps?

[2018-09-20 15:56] paulb777 commented on #1850
@richaricrew We need some way to reproduce the crash, since it is not something that shows up in our tests.

Can you share an example that reproduces the issue - by sharing your app, a minimized version of it, or adding elements to a[ sample app](https://github.com/firebase/quickstart-ios).

[2018-09-20 16:03] richaricrew commented on #1850
@paulb777 ok Ill see what I can narrow it down to to give more perspective

[2018-09-20 16:39] chliangGoogle commented on #1813
You should only get one token even if you call the retrieveFCMTokenForSenderID:, unless you pass in a different sender ID.

What's the error you are getting when you firstly failed sending data message to token A?

[2018-09-20 17:57] wimbledon opened #1856 "Firestore - No data with FXForms pod"
* Xcode version: __9.4.1 (9F2000)___
  * iOS: 11.4.1
  * Firebase SDK version: _5.8.1____
  * Firebase Component: Firestore only
  * Component version: _0.13.3_

### Describe the problem

When using [FXForms](https://github.com/nicklockwood/FXForms) pod with Firestore, Firestore is unable to write, get and listen to any data in a document. No error is thrown or shown in the console.

Podfile:
  po

[2018-09-20 19:48] wnagrodzki commented on #1409
When I was reading [About FCM Messages](https://firebase.google.com/docs/cloud-messaging/concept-options) documentation I learned that FCM works with two kinds of messages: _notification message_ and _data message_. On this level of abstraction, _notification message_ is a message visible to user (it may convey some data), and _data message_ is invisible to him (must convey data).

Let's step one

[2018-09-20 22:47] chliangGoogle commented on #1409
That's very good suggestion. We are also thinking of improving the documentations to clarify the concepts of data message in two different delivery channels.

The reason we can't do data message manifest in just Apple delegate is that for message sent in direct channel in iOS 10+, we can't modify UNNotification object so we can't use Apple's UNUserNotificationCenter, hence, we created a messagingD

[2018-09-21 01:36] wilhuff commented on #1856
I'm missing something. The code you've included seems straight out of the Firestore documentation and is known working. In particular it doesn't seem to have anything to do with FXForms. Or is it merely the inclusion of the FXForms pod in your project at all that causes the problem?

You can get more clues about what's going on by enabling debug logging:

[code]

[2018-09-21 04:00] vdmdar commented on #1813
There's no error
I get successful response such as
[code]

[2018-09-21 05:32] wimbledon commented on #1856
@wilhuff, Yes! Merely including FXForms pod in the project cause the problem. Just try it yourself.

No relevant error/info is given from:
[code]

[2018-09-21 12:16] nzrsrk commented on #258
using xcode workspace but same error

[2018-09-21 21:14] richaricrew commented on #1850
@paulb777 We do use a bunch of swift static libraries. Could that be a potential cause?

[2018-09-21 22:54] paulb777 commented on #1850
@richaricrew Possibly, but not necessarily. It depends on what they do. Since the crash is at load time, it could be related to a bad interaction between code that runs in `+load` functions.

[2018-09-22 03:57] Nonnus opened #1862 "FR: Officially support Carthage release"
As it is obvious this is not really an issue but I really wanted to leave some feedback about your experimental carthage integration as I really hope it ends up being officially supported!

ps: feel free to close this issue :)

pps: sorry if I am abusing the issues guidelines, I hope the end justified the means ;)

[2018-09-22 04:13] morganchen12 commented on #1862
No problem!

[2018-09-24 07:38] rawandahmad698 opened #1867 "FCM works with Firebase v3.4.1 but not with v5.8.1"
Made a new project based off of swift 3.2. and used this pod file:

    # Uncomment the next line to define a global platform for your project
    platform :ios, '9.0'

    target 'PushNotifs' do
      # Comment the next line if you're not using Swift and don't want to use dynamic frameworks
      use_frameworks!

      # Pods for PushNotifs
      pod 'Firebase/Core'
      pod 'Firebase/Messaging'

[2018-09-24 12:17] ryanwilson commented on #1867
@rawandahmad698 thanks for the report - can you please paste the contents of your `Podfile.lock`? It should give us a better idea of the dependencies for each Pod.

[2018-09-24 14:59] ryanwilson commented on #1867
I was not able to reproduce the issue with Firebase 3.14.0 being included - in your original testing did you do `pod install` or `pod update`? Can you reproduce it with a new project?

[2018-09-24 16:52] rawandahmad698 commented on #1867
Hey ryan thank you for your time.

Regarding question 1, here's my podfile.lock:

https://gist.github.com/rawandahmad698/1bc4014211cdb9e5d36c649001ab79c5

For the second:

Yeah, FCM works fine on v3.4.1, but after running 'pod update', they all messed up. now messages are sent but not received.

I actually can't figure the way around this. the test project runs on swift 3.2 i know, but after runni

[2018-09-24 17:03] fschaus opened #1868 "Slow Firestore queries on large collection"
### [REQUIRED] Step 2: Describe your environment
  * Xcode version:  Xcode 10
  * Firebase SDK version: 5.8.1
  * Firebase Component: Auth, Core, Database, Firestore, Messaging, Storage
  * Component version: 5.8.1 (0.13.3 for FireStore)

### [REQUIRED] Step 3: Describe the problem

I am facing the exact same problems as outlined in [this issue](https://github.com/firebase/firebase-ios-sdk/issues/

[2018-09-24 18:53] renkelvin commented on #1694
@joelmarquez90 Hi Joel, this is an expected behavior.
1. When `signInAndRetrieveData` is called, a new user will be generated and the user info will be updated from user provider info automatically (Facebook in your case).
2. When `linkAndRetrieveData` is called, the user provider info will be linked with the current user as `providerUserInfo`, but will not override user info (displayName in your

[2018-09-24 21:11] Edudjr commented on #1470
Having the same issue here. I have deep links setup for my project, and when I click the deep link, it calls the "application(_ app: open url: options:)". However, If I call Firebase.configure, 'open url' stops working and I cannot get deep links anymore.
Setting FirebaseAppDelegateProxyEnabled to NO works, but I'm not sure about the consequences of adding this flag.

[2018-09-24 21:17] paulb777 commented on #1470
@Edudjr What versions are you using?  Please share Podfile.lock contents.

[2018-09-25 02:26] morganchen12 commented on #1867
For your Firebase 5 project, are you able to send directly through APNs?

[2018-09-25 03:57] youweit commented on #1394
A similar crash resurface in iOS 12.

- Xcode version: 9.4
- Firebase SDK version: 5.4.1
- Firebase Component: Core/Analytics/Messaging/RemoteConfig/Performance
- Component version: FirebaseCore 5.4.1 / FirebaseAnalytics 5.4.1 / Messaging 5.4.1 / RemoteConfig 5.4.1 / Performance 5.4.1

[code]

[2018-09-25 04:13] morganchen12 commented on #1394
@youweit can you file a new issue for this?

[2018-09-25 12:56] David-Pyxis-Designs commented on #1759
I am having the same issue with 7.33.1  File size too large to push to GitHub remote.  I need this fir firebase ad tie-in.  Has a workaround been found?

[2018-09-25 13:03] David-Pyxis-Designs commented on #1759
Just tried lipo on 7.33.1 and it only reduced the binary size from 123733208 to 112246088, still too large

[2018-09-25 13:45] paulb777 commented on #1759
This is planned to be fixed in the next release of the `Google-Mobile-Ads-SDK` CocoaPod.

[2018-09-25 14:46] paulb777 commented on #1470
Tracking internally at b/116527848

[2018-09-25 15:46] benSmith1981 commented on #1759
It's just totally messed up my project and I cannot push my work to github anymore. I followed the instructions for large file storage. Didn't work. I did your thing above, to remove the google admob sdk, but it still comes back with this error message when pushing...it is like git thinks the files are still there? But they aren't. I am not a master of github so i don't know what to do now and I h

[2018-09-25 15:58] stevenp commented on #1759
@benSmith1981 The issue is that once you put this big file into your repo, it creates a giant nightmare because even if you remove it, if you've committed it at all, Git tries to push the big file that's still in your commit history. The best way to fix it for now is to search for the various ways to go back and edit your commit history to remove the commit where you added the file. I also wasted

[2018-09-25 16:29] benSmith1981 commented on #1759
Hmm i dunno about that... I switched my repo to gitlab and it stopped complaing.... removed the admobs pod tho

[2018-09-25 18:31] stevenp commented on #1759
@benSmith1981 If you don't want to use GitHub anymore, that's your choice. I just provided you with a solution to the problem you asked for help with.

[2018-09-25 20:15] GioPalusa commented on #269
Watch OS 5 is here, and an addition with Firebase to WatchOS would be greatly appreciated! +1

[2018-09-25 21:38] IchordeDionysos opened #1877 "FR: Add something like batchGet to Firestore SDK"
* Xcode version: 10.0 (10A255)
  * Firebase SDK version: 5.7.0
  * Firebase Component: Firestore
  * Component version: 0.13.2

Sometimes one comes in the situation where you get back multiple document from a query and each document has a reference saved in the field.
Now you want to get those (and only those documents), want you end up doing is either:
- loop over the array of references and get

[2018-09-25 22:03] felixdkatt commented on #1824
Any word on this yet?

[2018-09-26 00:30] paulb777 commented on #1368
@BranchS We're working on it. No specifics that I can share other than we'll try to have some progress on this well before Firebase 6.

[2018-09-26 00:45] BranchS commented on #196
Can confirm on Xcode 10, Firebase 5.9 generates 1785 warnings.

[2018-09-26 00:59] a455455b commented on #1831
@morganchen12 A week has passed, I found that the probability of this crash is extremely low. Maybe we can ignore it.

[2018-09-26 00:59] #1831 closed

[2018-09-26 03:28] joelmarquez90 commented on #1694
Thanks @renkelvin for clearing up that.

[2018-09-26 08:23] newbieee1011 opened #1878 "ld: library not found for -lBVLinearGradient"

[2018-09-26 13:23] muthukrishnanOCS opened #1879 "Firebase Fabric Crashlytics not sending data to server"
I think I've done the integration correctly. Everything looks ok. However data doesn't get sent (or received). I think the problem is in this message that I get in the debug console (Xcode).

```[Fabric] failed to download settings Error Domain=FABNetworkError Code=-5 "(null)" UserInfo={status_code=403, type=2, request_id=2ee223feb3c7053579a2136db09a5749, content_type=application/json; charset=utf

[2018-09-26 13:32] paulb777 commented on #1878
This does not look like a Firebase issue. It seems related to React Native and not Firebase: https://stackoverflow.com/questions/43106124/warning-native-component-for-bvlineargradient-does-not-exist
https://github.com/react-native-community/react-native-linear-gradient/tree/master/BVLinearGradient.xcodeproj

Please use stackoverflow or reach out to that community.

[2018-09-26 13:32] #1878 closed

[2018-09-26 17:31] wilhuff commented on #1877
Thanks for taking the time to write in. We're well aware of this function :-).

The Firestore mobile and web clients use the streaming API to do all their work (see Listen in the protocol). This API forms the foundation of our synchronization mechanism: when you run a query the client supplies a _resume token_ that describes the last time the query was run and the server can send us only the chang

[2018-09-26 18:46] KabukiAdam commented on #1868
@fschaus Thanks for creating this issue.  I had been meaning to create a follow-up to the [original issue](https://github.com/firebase/firebase-ios-sdk/issues/1477) you linked to, but had been distracted on other tasks for a while.  I came back to add it, and saw that you just did!  :)

[2018-09-26 22:16] phuong-unity commented on #1845
@paulb777 do you know if this issue is also presented in the Unity SDK and if it is, has it been fixed?

[2018-09-27 00:42] ozbra commented on #1845
I am having the same issue. Even empty project just with Firebase Auth and database plugin-ins added to project doesn't get a proper build. Spend almost a day to figure it out which also support cloud build but I am empty handed :/

[2018-09-27 00:52] phuong-unity commented on #1845
I tried to build the Firebase dynamic_links sample app in Unity using Firebase 5.3 SDK and got this error:

pod install output:

Analyzing dependencies
[!] Unable to satisfy the following requirements:

- `GoogleUtilities/MethodSwizzler (~> 5.2.0)` required by `FirebaseAnalytics (5.1.1)`

Specs satisfying the `GoogleUtilities/MethodSwizzler (~> 5.2.0)` dependency were found, but they required a hi

[2018-09-27 00:56] ozbra commented on #1845
It seems where every Firebase needs Core, this error is throwing. The sad part is I was able to get a working build without any problem 5 days ago but now I can't.

[2018-09-27 02:47] smartphone-pro opened #1884 "Multiple Authentification"
I am making a shopping app using Firebase.
Email and Facebook login methods have been implemented.
It's working well.

I'd like to implement a phone authentication to get users to upload new products.

https://firebase.google.com/docs/auth/ios/account-linking
I followed the guidelines in Firebase.
Phone authentication will only be used to authenticate the user, not as login method.

Code

[2018-09-27 02:53] morganchen12 commented on #1884
Firebase doesn't provide any auth providers that allow you to authenticate without also allowing you to sign in. If you'd like to link an email account with a phone auth account, you can do so via [this method](https://firebase.google.com/docs/reference/ios/firebaseauth/api/reference/Classes/FIRUser#/c:objc(cs)FIRUser(im)linkAndRetrieveDataWithCredential:completion:).

[2018-09-27 02:59] morganchen12 commented on #1846
What versions of CocoaPods are you both using?

[2018-09-27 03:52] smartphone-pro commented on #1884
Thank you for message.

I have already used `linkWithCredentials:compensation:`
However, at the time of call for this method, Auth.auth().currentUser is already linked to the Email provider.
The result will fail.

It is also pointed out in Firebase's document.
https://firebase.google.com/docs/auth/ios/account-linking

_The call to linkWithCredential:completion: will fail if the credentials are alr

[2018-09-27 05:00] alexeybolv commented on #1846
I have 1.5.3 version.

[2018-09-27 05:05] nonesc commented on #1718
I also got this issue.

[2018-09-27 05:30] fbandemer commented on #1846
I have version 1.5.3 too.

[2018-09-27 05:58] muthukrishnanOCS commented on #1879
Hi @TKBurner , Do you have any idea for a issue?
Please let me know ASAP.
Thanks

[2018-09-27 08:18] samsidd opened #1885 "Error After updating FirebaseCore to 5.0"
i was unable to get the array contains function in firestore so I have update pod FirebaseCore -> 5.0 , now it is giving these errors:

Undefined symbols for architecture x86_64:
  "_OBJC_CLASS_$_FIRAppEnvironmentUtil", referenced from:
      objc-class-ref in FirebaseCoreDiagnostics(FIRDiagnostics_ccb5c62e0dad2a941440a982722cac92.o)
  "_kFIRNetworkHTTPStatusCodeNotModified", referenced from:

[2018-09-27 12:28] smartphone-pro commented on #1884
Thanks for your message.
May I ask some sample code?
Regards!

[2018-09-27 12:37] OguzhanKuloglu commented on #1845
@paulb777 Do you have any idea about that?Because I have same problem in unity?

[2018-09-27 13:52] paulb777 commented on #1759
Fixed in Google-Mobile-Ads 7.34.0

I verified that the library successfully pushes to github at https://github.com/paulb777/BigBinaryTest

[2018-09-27 13:52] #1759 closed

[2018-09-27 13:55] David-Pyxis-Designs commented on #1759
Thanks !!!

[2018-09-27 13:55] paulb777 commented on #1885
It looks like there is a mix of incompatible versions. Make sure you clean the environment and rebuild.

If you're still stuck, share your Podfile and Podfile.lock.

[2018-09-27 14:20] paulb777 commented on #1846
We might need a Podfile and/or sample project to investigate. I haven't been able to repro with my sample.

[2018-09-27 14:42] paulb777 commented on #1845
I'll follow up with the Unity SDK team today on updating to at least the iOS Firebase SDK 5.8.1.

[2018-09-27 14:43] alexeybolv commented on #1846
Here is my podfile

source 'https://github.com/CocoaPods/Specs.git'
platform :ios, '11.0'

# ignore all warnings from all pods
inhibit_all_warnings!

target 'MyProject' do

use_frameworks!

pod 'Moya', '~> 11.0.2'
pod 'SDWebImage', '~> 4.4.2'
pod 'Firebase/Core', '~> 5.9.0'
pod 'Firebase/Messaging'
pod 'CSV.swift', '~> 2.2.1'

end

# Workaround for Cocoapods issue #7606
post_install do |installer|

[2018-09-27 16:48] phuong-unity commented on #1845
@paulb777 do you know of any workaround for this issue?

[2018-09-27 16:58] hex commented on #1845
@phuong-unity  I solved it by adding ‘<iosPod name="GoogleUtilities/MethodSwizzler" version="5.2.0">’ inside ‘Firebase/Editor/AppDependencies.xml’ nex to the ‘Firebase/Core’ entry.

[2018-09-27 17:38] mthormann-dhi commented on #1845
Another workaround that seems to work is supporting iOS 11.0 and higher in your project.    Obviously not possible from many apps but if you're updating anyways to support 11.0+, you can get by.

[2018-09-27 17:50] stewartmiles commented on #1845
Hi everyone,

We're working on patching the Firebase C++ and Unity releases to migrate them to the `5.9.0` iOS SDK.  In the meantime, under `Assets/Firebase/Editor/` there are a set of files matching `*Dependencies.xml` (e.g `AnalyticsDependencies.xml`) that reference the iOS SDK version.  You'll need to modify the `<iosPods>` section of each file to reference iOS SDK `5.9.0` rather than `5.6.0`.

[2018-09-27 17:57] ozbra commented on #1845
Thank for information, although I still get an error. This time it is different.  It seems FirebaseAuth gives an error.

Analyzing dependencies
[!] `FirebaseAuth` requires CocoaPods version `>= 1.4.0`, which is not satisified by your current version, `1.1.1`.

[2018-09-27 18:00] phuong-unity commented on #1845
[!] FirebaseAuth requires CocoaPods version >= 1.4.0, which is not satisified by your current version, 1.1.1.

@ozbra you just need to update your CocoaPods version.  in terminal enter this command: gem install cocoapods

[2018-09-27 18:06] ozbra commented on #1845
Thank you. That worked.

[2018-09-27 18:07] phuong-unity commented on #1845
@stewartmiles @paulb777 - thanks for the update.  Looking forward to the fix in the new version.

@hex thanks for the workaround!

[2018-09-27 19:07] blolo commented on #1639
I'm still seeing the same exact crash , with 7.1.1 google tag manager , any suggestions?

-[APMValue encodeWithCoder:]: unrecognized selector sent to instance 0x28257e780
default	14:29:50.260407 -0400
	*** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[APMValue encodeWithCoder:]: unrecognized selector sent to instance 0x28257e780'

[2018-09-27 20:31] htcgh commented on #1470
@Edudjr Does the issue still exist with the latest version of Firebase? If so, please provide the following information to help us reproduce it:
- Are you seeing the issue on simulator or device?
- On which iOS version(s)?
- Does your app delegate only implement `application(_ app, open url: options:)` or does it
also implement `application(_ app, open url: sourceApplication: annotation:)`?
- From

[2018-09-27 20:31] paulb777 commented on #1639
@blolo Tracking internally at b/116807869

[2018-09-27 20:57] r-a-o commented on #1399
I am facing the exact same issue. I have removed everything from `didFinishLaunchWithOptions` but for `FirebaseApp.configure()` and its causing the following 0x8badf00d (Ate Bad Food) issue.

[2018-09-27 22:13] pablosgh commented on #1845
Hi! I have the same issue

`Specs satisfying the GoogleUtilities/AppDelegateSwizzler (~> 5.2.0) dependency were found, but they required a higher minimum deployment target.`

But it started failing today in one CI machine, the others still install the dependencies fine. I'm using the Unity Plugin 5.2.1.

I'll add the AppDelegateSwizzler 5.2.3 in the xxDependencies.xml to make this work, but would

[2018-09-27 22:18] paulb777 commented on #1845
A recent `pod repo update` or regeneration of the `Podfile.lock` file will expose the bug.

[2018-09-28 05:18] morganchen12 commented on #1399
@r-a-o your issue is a completely different issue. Your app is being killed by the launch watchdog timer for taking too long to finish launching, and is likely not Firebase related.

[2018-09-28 05:35] r-a-o commented on #1399
My didFinishLaunchWithOptions has call to only firebase configure method
and nothing else.

And when I comment out firebase configure call, the app works fine.

On Fri 28 Sep, 2018, 10:48 Morgan Chen, <notifications@github.com> wrote:

[2018-09-28 05:54] morganchen12 commented on #1399
Please upload an instruments performance trace to see what method calls are occupying the most CPU time. Otherwise, we can't debug your issue.

[2018-09-28 07:06] samsidd commented on #1885
[Archive.zip](https://github.com/firebase/firebase-ios-sdk/files/2427118/Archive.zip)

[2018-09-28 08:56] kainjinez opened #1888 "Cannot upload file to Storage. uploadTask.putFile callback is not called"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10
  * Firebase SDK version: Newest from Git
  * Firebase Component: Storage (Auth, Core, Database, Firestore, Messaging, Storage, etc)
  * Component version: Newest from branch master

### [REQUIRED] Step 3: Describe the problem
I'm developing uploading screenshot to Storage for macOS application. I used these code below, it doe

[2018-09-28 14:11] paulb777 commented on #1885
Two strange things about the project:
- It's using several-month old Pod versions
- Those missing symbols should be in the old version of FirebaseCore which seems to be installed.

I recommend running `pod update` instead of `pod install` to update to the latest version of all Pods.

[2018-09-28 16:31] paulb777 commented on #1888
@kainjinez We might be able to help you here, but usage questions are more appropriate for stackoverflow.

[2018-09-28 16:43] kainjinez commented on #1888
@paulb777  Hi Paul,
I use these code similar to what i see in Firebase Storage document. So I think this is maybe a bug or i need to do anything more to let it works, because this is a product of community, maybe~

[2018-09-28 17:39] natep opened #1889 "Duplicate snapshot listeners do not receive initial callback"
### Describe your environment

  * Xcode version: __10.0__
  * Firebase SDK version: __5.8.0__
  * Firebase Component: __Firestore__
  * Component version: __0.13.3__

### Describe the problem

According to the Firestore documentation regarding `addSnapshotListener()`:

But it appears that if you already have one listener registered for a particular query, when you register an additional listener

[2018-09-28 18:47] wilhuff commented on #1889
Re: "The second listener does not receive a callback until the contents change": when you do receive the snapshot, what does it have in it? Is it the initial snapshot? Is it just the changes? Is it some combination?

The way this is supposed to work is that the FSTEventManager acts as a multiplexer for user-level listeners. It handles every listener you start, but it only passes a single instance

[2018-09-28 19:57] htcgh commented on #1639
@blolo Which version of FirebaseAnalytics are you using?

[2018-09-28 23:02] r9hacks commented on #1800
I updated my CocoaPods to 1.5.3 and my xCode to version 10.0 and test the Auth on my application on both simulator and device also test Auth using the FirebaseUI sample.
All the error is gone, with keychain sharing enable and disable.

I think it was xCode and CocoaPods issue in previous versions.
Now for the keychain sharing do you preferred to be enabled or disabled ?

[2018-09-29 18:57] pabloroca opened #1891 "Firebase with Carthage compilation fails in Xcode 10 / Latest Firebase (framework not found MeasurementNanoPB)"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.0 (10A255)
  * Firebase SDK version: Should be 5.9.0 / It Downloads 5.8.0. See log at the bottom

### [REQUIRED] Step 3: Describe the problem

Integrating Firebase with Carthage, following instructions from https://github.com/firebase/firebase-ios-sdk/blob/master/Carthage.md leads to a compiler error in XCode.

`framework not

[2018-09-29 19:13] pabloroca commented on #1891
Just to clear up. This is a project who was working fine with a previous FireBase version.

Downloaded the big zip from, as per instructions in https://firebase.google.com/docs/ios/setup?authuser=0, from here:

`
https://firebase.google.com/download/ios?authuser=0
`

Looks like is an issue in FireBase Analytics, so copying `nanopb.framework` to my Carthage build folder, makes it to work.

Anyhow,

[2018-09-30 05:40] morganchen12 commented on #1800
Keychain sharing should be disabled if you're not using it (you can always enable it later).

[2018-09-30 05:40] #1800 closed

[2018-09-30 11:29] DAKZH commented on #1813
Any updates?

[2018-09-30 12:11] paulsUsername opened #1892 "Firebase.configure() leaks"
### [REQUIRED] Step 2: Describe your environment

Launching an app with Firebase added through cocoa pods, and then calling FirebaseApp.configure() causes many leaks.

If I don't call Firebase.configure() I get no leaks. If I call Firebase.configure() but I don't make any other calls to firebase I still get the same leaks.

### [REQUIRED] Step 3: Describe the problem

Creat app, add firebase, call

[2018-09-30 14:28] paulb777 commented on #1892
@paulsUsername Please be more specific. What steps are you following to see the leaks? With Instruments? What are the leaks that you're seeing?

[2018-09-30 14:47] paulb777 commented on #1891
@pabloroca The nanopb.framework does seem to be in the 5.8.0 distribution:

[code]

The Carthage distribution is still experimental and does not stay fully in sync with the official release. There is not yet a 5.9.0 Carthage version available.

It was actually a mistake for 5.8.0 to include MeasurementNanoPB.framework since it was an exact duplicate of nanopb.framework(#1832).

[2018-09-30 15:43] groue commented on #1399
@morganchen12, the issue experienced by @r-a-o exactly matches the issue title. Watchdog transgressions created by Firebase **are the point of this issue**.

[2018-09-30 17:56] pabloroca commented on #1891
I see,

1. Please add official support for Carthage
2. Sync it with 5.9.0

For now, and as a workaround,  I can live copying the nanopb.framework from the 5.9.0

Thanks

[2018-09-30 21:06] paulsUsername commented on #1892
Sorry, Paul I don't I had attached more detail.

To see the problem, I am calling  FirebaseApp.configure() in the didFinishLaunchingWithOptions.

[code]

If I remove that call to FirebaseApp.configure()  I get no leaks. I am identifying the leaks through instruments in Leaks. I am running the app through my iPhone X. I am making no other calls to Firebase after calling FirebaseApp.configure(). The

[2018-10-01 14:08] #1855 closed

[2018-10-01 14:09] paulb777 commented on #1846
I'm still not able to reproduce. Are you able to make it happen in an example you can share - like one of the quickstarts? - https://github.com/firebase/quickstart-ios

[2018-10-01 14:13] #1616 closed

[2018-10-01 14:18] muthukrishnanOCS commented on #1879
@paulb777 any update for this?

[2018-10-01 18:02] mikehaney24 commented on #1824
Nothing yet, I've been out of town on business, but promise to look at this
today. Sorry for the delay!

On Tue, Sep 25, 2018 at 3:03 PM felix <notifications@github.com> wrote:

[2018-10-01 19:45] chliangGoogle commented on #1813
We will need your debug log. Our devrel person is on vacation, can you DM me your debug log on how you generate two different tokens with the same sender ID?

[2018-10-01 20:35] Mordil opened #1894 "BUG: Duplicate `screen_view` Events without `screen_name`"
### [REQUIRED] Step 2: Describe your environment
  * Xcode version: Xcode 10 (10A255)
  * Firebase SDK version: `5.9.0`
  * Firebase Component: `FirebaseAnalytics`
  * Component version: `5.2.0`

This is also seen with `Firebase 5.8.0 - FirebaseAnalytics 5.1.2`.

### [REQUIRED] Step 3: Describe the problem
While running my app, two `screen_view` events are seen in the DebugView in Firebase Console

[2018-10-01 21:22] sharpwitz opened #1896 "BUG: invalid token with iOS 12 and Firebase Authentication SMS"
Previously posted on Stack Overflow
https://stackoverflow.com/questions/52547951/firebase-authentication-ios-12-invalid-token

I have an App that makes use of Firebase Authentication using phone SMS verification and recaptcha (no APNS)

The App works fine with the Authentication process if you are using iOS 11.4.1

However, if you are on iOS 12, then the Authentication process leads to an invalid

[2018-10-01 23:53] paulb777 commented on #1894
Tracked internally at  b/117123879

[2018-10-02 09:30] RobertBateman commented on #1845
Hi guys, I've got the same issue here.

Using Unity 2018.1.0f2, Firebase Dynamic Links v5.3.0 and the Unity Cloud Build service.

Initially I got this message:
Specs satisfying the GoogleUtilities/AppDelegateSwizzler (~> 5.2.0) dependency were found, but they required a higher minimum deployment target.

I added this to the AppDependancies.xml:
<iosPod name="GoogleUtilities/MethodSwizzler" version

[2018-10-02 13:45] MiketoString commented on #1845
Hi @RobertBateman, I had this exact issue yesterday.

The fix for me was to add the iosPod GoogleUtilities/MethodSwizzler xml line to AppDependancies.xml (per @hex's suggestion) but do NOT change the version number(s) in *Dependancies.xml from 5.6.0 to 5.9.0 -- just leave them as-is or you'll get the FDLURLComponents file not found error, not sure what fix is for that.

[2018-10-02 14:00] blolo commented on #1639
@htcgh  we are using FirebaseAnalytics (5.1.0).

[2018-10-02 15:56] RobertBateman commented on #1845
Hi @MiketoString ,

yeah that fixed it.

Thank you kindly :)

[2018-10-02 17:28] moflo opened #1898 "FIRESTORE INTERNAL ASSERTION FAILED: Invalid path (CoreData co-existence)"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2018-10-02 17:47] moflo commented on #1898
This looks like an application specific issue, sorry.

[2018-10-02 17:47] #1898 closed

[2018-10-02 18:57] mikelehen commented on #1898
Hey @moflo, can you elaborate on how you hit this?  Even if this was a application issue, we probably should have provided a better error message. In general it should be impossible to hit "FIRESTORE INTERNAL ASSERTION FAILED" errors.

[2018-10-02 19:14] jimijon opened #1900 "addDocument with Network off doesn't return closure Swift"
* Xcode version: 10.0
  * Firebase SDK version: 5.90
  * Firebase Component: Firestore
  * Component version: 0.13.4

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

Turn off communications to Internet, add document

#### Relevant Code:

[code]

[2018-10-02 20:49] djradev commented on #1846
I also see the same issue after I executed $pod update (v. 1.5.3).

There is a warning in the following targets: FirebaseCore, FirebaseAuth, FirebaseDatabase, FirebaseDynamicLinks, FirebaseMessaging, FirebaseFirestore, FirebaseStorage.

Interestingly there isn't similar warning for targets like GoogleUtilities, which is a dependency for one of the above targets, I believe.

[2018-10-02 21:50] paulb777 commented on #1846
It seems to be related to the pods that are static frameworks. Static frameworks should be linked into the app before code signing, so shouldn't be involved in any code signing scripts.

I'm still looking for an example.

[2018-10-02 22:20] mikelehen commented on #1900
addDocument() will only call its completion callback once the document has been written to the backend.  So if you are offline or call .disableNetwork(), then the callback won't be called until you come back online.  So I think this is probably working as intended, unless I've misunderstood what you're seeing or what you're expecting.

[2018-10-02 23:11] djradev commented on #1846
One more (potentially important) thing - I only see the warnings when I build for simulator, when I build for a device - no warnings

[2018-10-02 23:14] jimijon commented on #1900
Ok, so I am debugging with network off.
So why does it need a completion at all? Is that for when persistence is off?

[2018-10-02 23:17] jimijon commented on #1900
I thought it was async so I can’t do the following:

 var ref: DocumentReference? = nil
            ref = db.collection(Constants.fbShoppingListRoot)
                .document(shoppingListId)
                .collection("items")
                .addDocument(data: data) { err in
                    if let err = err {
                        print("Shopping List Item Error adding document: \(err)")

[2018-10-03 00:27] jimijon commented on #1900
Thank you. That was a very helpful answer.

[2018-10-03 04:33] bank18651 commented on #1718
After update library I got error at `GTMSessionFetcherService.m` line number 438
`Using Firebase (5.9.0)
Using FirebaseABTesting (2.0.0)
Using FirebaseAnalytics (5.2.0)
Using FirebaseAuth (5.0.4)
Using FirebaseAuthInterop (1.0.0)
Using FirebaseCore (5.1.4)
Using GTMOAuth2 (1.1.6)
Using GTMSessionFetcher (1.2.0)
`
<img width="1215" alt="screen shot 2561-10-03 at 11 28 58" src="https://user-images.g

[2018-10-03 08:50] muthukrishnanOCS commented on #1879
it doesn't work please give more details. i followed the below steps and getting error on console firebase.google.com/docs/crashlytics/get-started

[2018-10-03 09:08] businessengine commented on #1868
Well, we are looking forward on this to be solved too.

[2018-10-03 13:43] paulb777 commented on #1879
Created b/117209779 to reach out more broadly internally

[2018-10-03 16:38] paulb777 commented on #1892
I'm not able to reproduce by adding those pods to one of the quickstarts.

Are the leaks specific to ios12 and/or iPhone X?

[2018-10-03 17:45] stewartmiles commented on #1845
For the various Unity SDK users on this thread, we just released the 5.3.1 SDK with the fix for this issue.
https://firebase.google.com/support/release-notes/unity

[2018-10-03 19:08] MiketoString commented on #1845
hi @stewartmiles, after importing v5.3.1 of the SDK, I am now seeing the following build error on iOS:

[code]

[2018-10-03 21:48] forgedk commented on #1845
![screen shot 2018-10-03 at 4 45 25 pm](https://user-images.githubusercontent.com/8310265/46441335-ceb09400-c72b-11e8-8eef-d0c267e9ce25.png)

Hi @stewartmiles, I built a clean version from the 5.3.1 version and there is a compilation problem in Xcode. There is no much information about the error, just that code.

[2018-10-03 21:58] haroldsati opened #1906 "Compilation Error in Xcode With 5.3.1 version"
Xcode version: 10
Firebase SDK version: 5.3.1
Firebase Component: Auth

I built a clean version from the 5.3.1 version and there is a compilation problem in Xcode. There is no much information about the error, just that code.

![screen shot 2018-10-03 at 4 45 25 pm](https://user-images.githubusercontent.com/1820917/46441890-8befbb80-c72d-11e8-9d7e-66d5904cb92e.png)

[2018-10-03 22:00] schmidt-sebastian commented on #1888
Unfortunately, we don't currently have any debug logging in our Storage SDKs. Are you able to verify that we are able to connect to the backend (by monitoring the app's network traffic through Activity Monitor or similar?). How large is the file you are uploading?

[2018-10-03 23:06] bgolson commented on #1615
I'm having this same crash using Firebase 5.9.0 with FirebaseAuth 5.0.4 & FirebaseUI 4.1.1

Only crashes when registering with email/password (using AuthUI)

'NSInvalidArgumentException', reason: '-[FIRAuthDataResult profileChangeRequest]: unrecognized selector sent to instance 0x6000031c93c0'
*** First throw call stack:
(
	0   CoreFoundation                      0x000000010c38129b __exceptionPrep

[2018-10-04 00:45] paulb777 commented on #1615
@bgolson This looks a bit different.  Would you create a new issue?

[2018-10-04 00:51] bgolson commented on #1615
The issue, exception and stack trace are identical. @den330 did you find a solution?

[2018-10-04 01:10] den330 commented on #1615
@bgolson  Yes, I used an old version Firebase SDK.  The issue was gone right after I updated the SDK to the latest version.

[2018-10-04 01:46] kainjinez commented on #1888
@schmidt-sebastian Hi Sebastian,
For verifying connection, i am able to login/register using Firebase Auth.
My files is just a screenshot with 2MB max.
I tried to downgrade the Firebase SDK from 5.x to 4.8.0 and above code works.

[2018-10-04 01:48] mikehaney24 commented on #1824
I've been trying to reproduce, but I need more information. Would it be possible for you to create a test xcodeproj that demonstrates the issue?

[2018-10-04 02:10] bgolson commented on #1615
@den330 thanks so much for following up! For some reason 'pod update' didn't actually update Firebase. For anyone else with the issue, I had to do the following:

1. remove the firebase references from the podfile
2. pod install
3. add back the firebase references
4. pod install

Now all is well. Thanks again!

[2018-10-04 06:37] navaranjithavelladurai opened #1909 "Firebase crashlytics"
I followed the basic steps to integrate the firebase crashlytics,&  i uploaded the run scripts steps.
here are my run scripts

GOOGLE_APP_ID = MyApp ID

"${PODS_ROOT}"/FirebaseCrash/upload-sym-util.bash "${PROJECT_DIR}/My File Key path"

i Uploaded the `Debug Info Format` as DWARF with dsym file in Built settings & i added the Google info plist too in my project

& i  Uploaded the missing required

[2018-10-04 07:33] mkdk commented on #1891
Same problem here! Need new version of framework very urgent! Please!

[2018-10-04 07:33] naveen-c commented on #1824
@mikehaney24 we also do not have concrete steps to reproduce the issue. We just have the crash stack trace from firebase, that I have already shared :(

[2018-10-04 07:35] Krasnov8953 commented on #1891
Same problem

[2018-10-04 07:35] mikehaney24 commented on #1824
Are you aware of what conditions seem to trigger the crash, or workarounds you've done that seem to fix it?

[2018-10-04 07:37] Ollejahh commented on #1891
and me( Fix it please!

[2018-10-04 07:37] Nayrumi commented on #1891
Same problem! :(

[2018-10-04 07:40] namsbuko commented on #1891
same problem

[2018-10-04 08:12] zombiegit commented on #1891
Same problem! :(

[2018-10-04 08:57] wbattel4607 opened #1910 "FR: Move files between directories in Firebase Storage without deleting and re-uploading"
Currently the only way to relocate a file in Firebase Storage is to delete the original and re-upload to the new location. This usually isn't disastrous, but it's far from optimal. If I'm not mistaken, Google Cloud Storage, which is the backbone for Firebase Storage, does allow file move requests. Is this a feature we could discuss for inclusion in a future version of Firebase Storage?

[2018-10-04 09:09] helnowly commented on #1891
same problem ..

[2018-10-04 11:17] crane-hiromu commented on #1909
i have a same problem

[2018-10-04 13:09] paulb777 commented on #1891
We're planning to do an update in about a week.

The Carthage distribution is still experimental and we're not promising to make every patch release available via Carthage.  It would help with our prioritization if you would provide the reason if you request an update.

Even if the latest distribution is not available via Carthage, the latest binary frameworks are always available at https://fireb

[2018-10-04 14:02] paulb777 commented on #1906
Sorry - we don't support Firebase Unity issues here.

Please refile at https://firebase.google.com/support/ or  https://github.com/firebase/quickstart-unity/issues

[2018-10-04 14:02] #1906 closed

[2018-10-04 18:07] chadkouse commented on #1896
Any news on this?  Seems like a pretty substantial bug.

[2018-10-04 20:45] htcgh commented on #1639
@blolo Can you please verify if the crash still exists with FirebaseAnalytics 5.2.0?

[2018-10-05 00:04] richaricrew commented on #1850
@paulb777 there seems to be some issues around NSZombie mode. here is the exact output we receive:

objc[24079]: Class _NSZombie_FIRInstanceIDStringEncoding is implemented in both ?? (0x604000326790) and ?? (0x604000356fd0). One of the two will be used. Which one is undefined.

It's not causing the crash, but zombie mode is crashing.

[2018-10-05 05:01] renkelvin commented on #1896
Hi @sharpwitz @chadkouse, could you provide the steps to reproduce the issue?

[2018-10-05 13:14] r-a-o commented on #1399
Here is the complete log. @morganchen12

[WatchDog-Firebase-crash.pdf](https://github.com/firebase/firebase-ios-sdk/files/2450377/WatchDog-Firebase-crash.pdf)

[2018-10-05 13:43] paulb777 commented on #1850
@richaricrew Are you linking multiple static libraries that depend upon Firebase into separate dynamic libraries?

[2018-10-05 13:55] paulb777 commented on #1399
It looks like a timeout in a`SecItemDelete` call in FirebaseInstanceID. Is there something special about the keychain on the device where this occurs?

[2018-10-05 16:05] r-a-o commented on #1399
@paulb777 My app has this issue irrespective of keychain capability.

[2018-10-06 09:04] mtzfactory opened #1916 "[iOS] Error building Firebase, gRPC-C++ fatal error: 'chrono' file not found"
* Xcode version: 10
  * Firebase SDK version: 5.8.0 / 5.9.0

### Describe the problem
Compilation fails when try to build _react-native_ app based in Firebase (using _react-native-firebase_), the error says it can't find 'chrono' file:

[code]

PD: I've already opened an [issue at gRPC project](https://github.com/grpc/grpc/issues/16798)...

#### Steps to reproduce:

Just [create a react native app

[2018-10-07 11:27] huhund commented on #1845
I can't find the 5.3.1 version. The 5.3.0 still have this issue.

[2018-10-07 13:52] paulb777 commented on #1845
@hohund Looks like a problem with the link at https://firebase.google.com/docs/unity/setup. Try https://dl.google.com/dl/firebase/sdk/unity/firebase_unity_sdk_5.3.1.zip

[2018-10-07 16:02] sharpwitz commented on #1896
First, we initialize Firebase on - (BOOL)application:(UIApplication *)application didFinishLaunchingWithOptions:(NSDictionary *)launchOptions
in the appDelegate, using [FIRApp configure];

then we call this function

[[FIRPhoneAuthProvider provider] verifyPhoneNumber:@"+13335551234"
UIDelegate:nil
completion:^(NSString * _Nullable verificationID, NSError * _Nullable error) {
NSLog(@"%@",verificati

[2018-10-07 17:55] sohilmemon commented on #1888
Please solve this issue! I am also facing the same. I have done all the changes and after 12 hours I came to know that the issue exists in SDK. Success / Error callback doesn't call!

[2018-10-07 18:37] wilhuff commented on #1916
Your problem here relates to the Xcode header map. The specific problem is that gRPC-C++ includes a file named time.h and there's a system header with the same name.

gRPC-C++ [disables the header map](https://github.com/grpc/grpc/blob/master/gRPC-C%2B%2B.podspec#L61) for itself, but that's apparently not enough. Disable the setting "Use header maps" in your project to proceed.

[2018-10-08 02:02] kainjinez commented on #1888
@sohilmemon You may try to downgrade the SDK to this version, it works for me. Use this and wait for their fix
https://drive.google.com/file/d/12jZl9xjP7KVOjIHGioHwctgZMYhvaFo5/view?usp=sharing

[2018-10-08 05:25] KleMiX opened #1917 "Memory leak in GULNetworkURLSession"
* Xcode version: 10.1 beta (10O23u)
  * Firebase SDK version: 5.9.0
  * Firebase Component: GoogleUtilities/Network
  * Component version: 5.2

#### Steps to reproduce:

Configure Firebase and run app in Instruments, it will show many leaks related to `NSURLSession`. These sessions need to be invalidated to free all resources they are holding to, placing calls to `[session finishTasksAndInvalidate

[2018-10-08 07:07] morganchen12 commented on #1909
If you're using bitcode, Apple will occasionally rebuild your app from bitcode in the App Store. You'll have to upload new dSYMs each time this happens, which you can download from the Apple developer center.

[2018-10-08 07:07] #1909 closed

[2018-10-08 07:09] #1900 closed

[2018-10-08 07:12] morganchen12 commented on #1892
Possibly #1917

[2018-10-08 07:14] morganchen12 commented on #1885
Closing due to staleness, please try updating your pods and comment here if you have any new issues.

[2018-10-08 07:14] #1885 closed

[2018-10-08 08:28] eladleb commented on #1845
Hi @paulb777 and @stewartmiles  I've just downloaded 5.3.1 from the secret link and now I'm getting the same error...

/FirebaseDynamicLinks/Firebase/DynamicLinks/FDLURLComponents/FDLURLComponents.m:19:9: 'DynamicLinks/FDLURLComponents/FDLURLComponents+Private.h' file not found

[2018-10-08 09:34] paulsUsername commented on #1892
I'm not seeing the same (or any) leaks on my iPad on 11.4.1 or my iPhone 7 11.4.1. Still seeing them on iPhone X 12.0.

[2018-10-08 14:27] matthewdovey commented on #1894
I am also seeing this issue in my own app where two screen_view events are reported with each screen change, but only one will contain the firebase_screen parameter as shown above.

[2018-10-08 16:10] richaricrew commented on #1850
Right now firebase lives within the main app. I am currently not referencing Firebase outside of the AppDelegate

[2018-10-08 16:12] schmidt-sebastian commented on #1888
@sohilmemon Are you also using the MacOS version of the SDK?

[2018-10-08 19:03] chliangGoogle commented on #186
InstanceID use the [NSTimeZone localTimeZone] to get local timezone.

[2018-10-08 19:33] smoi commented on #1896
Same problem here. Since iOS 12 we started having user not able to login and same issue happens to me on my device (iPhone 7 Plus with iOS12), simulator is working well and also one of my partner device with iOS12 works well.

[2018-10-08 22:51] paulb777 commented on #1846
I've reproduced and I'm investigating.

[2018-10-08 23:34] paulb777 commented on #1846
A workaround is change to the old build system:

- Open Xcode
- Select File upper-left next to Apple icon
- Open Workspace Settings
- Change the build system to Legacy Build System

[2018-10-09 02:39] nicopuri commented on #1718
I got the same error at the same file. The main difference is that I have 1 target with 2 different Build configurations, it falls only in one configuration. Could it be a Google configuration error?

[2018-10-09 07:07] renkelvin commented on #1896
Hi everyone, could you please try generating a new APNs key and upload it to your Firebase project.  (go Project Settings -> Cloud Messaging -> iOS app configuration). Or use an APNs Certificate instead.
Please let me know if it works for you.

[2018-10-09 07:15] smoi commented on #1896
Looks like it worked! I'll ask the users complaining about that to try again

Thank you

[2018-10-09 11:21] hcn1519 commented on #1917
I also have same issue.

<img width="1396" alt="2018-10-09 8 20 19" src="https://user-images.githubusercontent.com/13018877/46666142-d925ce80-cc00-11e8-90f1-bfd224cef14d.png">

<img width="1396" alt="2018-10-09 8 20 12" src="https://user-images.githubusercontent.com/13018877/46666145-dc20bf00-cc00-11e8-8945-da18a402f571.png">

[2018-10-09 13:46] ryanwilson opened #1919 "Move FirebaseMessaging to `GULUserDefaults`"
Currently Messaging uses `NSUserDefaults` for some persistent storage, but it should move to `GULUserDefaults` to avoid the crashing bug in iOS 11 due to UI being updated on the wrong thread by iOS.

[2018-10-09 16:17] sharpwitz commented on #1896
We use recaptcha instead of APNS because it is a headache to renew the APNS annually.

[2018-10-09 17:27] TKBurner commented on #1879
Thanks. Can you let me know the affected bundle ID or package name? I suspect this is related to the individual apps status in our system.

[2018-10-09 17:42] morganchen12 commented on #1850
@richaricrew can you share a stack trace?

[2018-10-09 17:51] morganchen12 commented on #1399
@r-a-o please open a new issue with an instruments time profiler trace.

[2018-10-09 17:53] morganchen12 commented on #1399
Thanks all for the repro steps and apologies for my dismissive tone earlier. We'll take a look.

[2018-10-09 22:37] #1892 closed

[2018-10-10 07:05] navaranjithavelladurai commented on #1909
Yes i downloaded the dSYMs file from the Apple developer account, still i have the same issue

[2018-10-10 07:05] muthukrishnanOCS commented on #1879
@TKBurner Here is the bundle ID `fr.appsolute.Roole`. please check & let me know once fixed

[2018-10-10 07:43] ulaserdegor commented on #1885
Same problem
My pods
Using Firebase (5.10.0)
Using FirebaseAnalytics (5.2.0)
Using FirebaseCore (5.1.5)
Using FirebaseInstanceID (3.2.2)
Using FirebaseMessaging (3.2.0)

`Undefined symbols for architecture x86_64:
  "_OBJC_CLASS_$_GULUserDefaults", referenced from:
      objc-class-ref in FirebaseInstanceID(FIRInstanceIDStore_d561cdee2d9f8fc26566b1c545e02875.o)
      objc-class-ref in FirebaseInst

[2018-10-10 13:03] schlingding commented on #9
Firebase is releasing weeks faster than the updates to the binary files for carthage.

At the time of this post, I'm seeing the latest carthage binary references at 5.8.0 where 5.8.1, 5.9.0, and 5.10.0 have since been released.

Can updating these binary references be part of the Firebase iOS release process or are there further issues?

Please update soon so the community can take advantage of th

[2018-10-10 13:17] paulb777 commented on #1885
@ulaserdegor Make sure that GoogleUtilities (5.3.0 or newer) is being built and linked.

[2018-10-10 13:46] leedsalex commented on #1891
We are having the same problem as well.

@paulb777 We need the update because with the current Carthage JSON spec, we can't build our apps due to the reasons explained in this post. `framework not found MeasurementNanoPB`. It might be resolved if you update the Carthage specs to point to the latest version 5.10.0

[2018-10-10 14:05] paulb777 commented on #1891
I'm planning to work on a Carthage 5.10.0 update today.

[2018-10-10 17:51] renkelvin commented on #1896
@sharpwitz I wasn't able to reproduce your issue. Will the recaptcha view appear? or it throws error immediately?

[2018-10-10 20:09] morganchen12 commented on #1909
I think this is what you're trying to say, but to make sure, have you also uploaded those new dSYMs to Crashlytics?

[2018-10-10 22:55] aaslamdev commented on #1640
Thanks @stickfaith . Adding that framework solved the problem.

[2018-10-11 00:44] paulb777 commented on #1891
5.10.0 is now available via Carthage.

[2018-10-11 01:49] paulb777 commented on #1917
The initial fix failed some tests. Reopening to continue the investigation.

[2018-10-11 01:51] helnowly commented on #1891
Can not podfile?
It's not possible. A framework not found MeasurementNanoPB message appears.

[2018-10-11 07:50] techmehra commented on #1801
This is an warning xcode 10 through with firebase

[2018-10-11 07:54] ulaserdegor commented on #1885
My podfile and versions . Still same error log
![s1](https://user-images.githubusercontent.com/12948351/46788921-ebf4ec00-cd43-11e8-9423-1fa7cbb03857.jpg)
![s2](https://user-images.githubusercontent.com/12948351/46788922-ec8d8280-cd43-11e8-9b87-d9d279d10a3a.jpg)

[2018-10-11 12:21] maranas commented on #1624
I can reproduce this consistently when enabling zombie objects AND malloc scribble. It seems the object in the dictionary is sent a message after it is removed.

[2018-10-11 12:57] paulb777 commented on #1801
Tracked at #1846

[2018-10-11 13:01] paulb777 commented on #1885
What version of CocoaPods? `$ pod --version`

[2018-10-11 13:28] leedsalex commented on #1891
@paulb777 Thanks for updating, but the problem still exists as the performance SDK spec for version 5.8.0 (the latest one for performance) has not been corrected/updated to include `MeasurementNanoPB.framework` instead of the depreciated `nanopb.framework`. Would you mind looking into this?

[2018-10-11 14:03] paulb777 commented on #1891
@leedsalex There was a glitch in the update script and `FirebasePerformanceBinary.json` didn't properly update with 5.10.0.  I just fixed it.

Sorry about the miss and thanks for the report!

[2018-10-11 14:21] paulb777 commented on #1624
@maranas What are your Firebase pod versions?

[2018-10-11 14:42] leedsalex commented on #1891
@paulb777 Thanks, I see the new version now. I made a mistake too, I thought the `MeasurementNanoPB` was supposed to be included with `FirebasePerformance` but it looks like it's packaged with `FirebaseAnalytics` and the 5.10.0 version of it still has `nanopb` instead of `MeasurementNanoPB`. See this link found in the analytics JSON spec: https://dl.google.com/dl/firebase/ios/carthage/5.10.0/Analy

[2018-10-11 14:47] maranas commented on #1624
@paulb777 Just updated to Firebase/Core 5.10.0. I see the same stack trace posted by @GauravT9l (crash after removing a GULNetworkURLSession instance in the dictionary) but now it happens in GULMutableDictionary (in GoogleUtilities/Network v5.3.2).

When it crashes, the "zombie object" is always the URL session with the `kGULNetworkBackgroundSessionConfigIDPrefix` prefix. Interesting is that the c

[2018-10-11 14:50] maranas commented on #1624
@paulb777 One big thing i forgot in the previous message - the issue happens only on iOS 9. Or at least i can only reproduce it there.

[2018-10-11 16:09] paulb777 commented on #1624
@maranas I'm not able to reproduce in a sample app on iOS 9 with zombie objects and malloc scribble  enabled.

Are you able to share a reproducible example - or reproduce in one of the [quickstarts](https://github.com/firebase/quickstart-ios)?

[2018-10-11 16:28] sharpwitz commented on #1896
I could not get to the recaptcha screen.  Which I have in the past.

[2018-10-11 16:47] paulb777 commented on #1862
The Carthage distribution is still experimental and we're not promising to make every minor release available via Carthage.

Even if the latest distribution is not available via Carthage, the latest binary frameworks are always available at https://firebase.google.com/docs/ios/setup#frameworks.

We're continuing to improve the release process and hope to make Carthage official and in sync with the

[2018-10-11 16:49] paulb777 commented on #9
@schlingding 5.10.0 is now available via Carthage.

See #1862 to follow the status of official Carthage support

[2018-10-11 18:13] julo15 commented on #1916
I've been trying to get this working by disabling the header map and using 5.9.0 (i.e. not downgrading). Our build is succeeding locally always, but failing about 50% of the time on Buddybuild.

I'm wondering if anyone has successfully got this working via disabling the header map?

[2018-10-11 19:20] morganchen12 commented on #1896
@sharpwitz are there any errors when you try to navigate to the recaptcha screen, or do you just get a blank screen?

[2018-10-11 19:32] tijunoi commented on #1916
Nope, I've been trying for two days for all Firebase / RNFirebase version combos without success.
Somehow I got it to work yesterday removing some library links and adding them again, but I can't remember which ones. It worked for a few hours until I had to pod install again.

[2018-10-11 19:51] #1891 closed

[2018-10-11 19:53] codeflows commented on #1916
Our builds are also failing on CircleCI somewhat randomly. Have tried tweaking the header map settings in our own project but to no avail. But, the errors I'm seeing are originating in RNFirebase so I guess this should be tracked there (see issue referenced above)

[2018-10-11 20:00] tijunoi commented on #1916
I also tried messing with headers with no success. I just solved the build error deintegrating pods and installing Firebase 5.9.0 again. It still wasn’t working until I switched to Legacy Build System in Xcode. Don’t like it that much but that’ll do for now.

[2018-10-11 20:34] sharpwitz commented on #1896
I get the invalid token error before the recaptcha view appears.

[2018-10-11 21:13] sharpwitz commented on #1896
![Uploading libraries.png…]()

Using latest crashlytics 3.10.9

I created a MPOC (minimal proof of concept) and that had no issues with SMS Auth.

Perhaps a library conflict?

[2018-10-11 21:16] morganchen12 commented on #1867
Closing due to inactivity, please comment here with new information and I'll re-open.

[2018-10-11 21:16] #1867 closed

[2018-10-11 21:17] sharpwitz commented on #1896
![libraries](https://user-images.githubusercontent.com/538437/46834486-84f22a00-cd79-11e8-831f-6df28c522b9d.png)

[2018-10-11 22:42] morganchen12 commented on #1896
I'm unable to tell from your shared dependencies. At first glance none of them should (or are known to) conflict with Firebase Auth.

Can anyone who's running into this issue share their project?

[2018-10-12 02:44] qiuncheng opened #1936 "Crashed when use YYWebImage and Performance"
### [READ] Step 1: Are you in the right place?

  Yeah, I'm using in right place.

### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 9.4.1
  * Firebase SDK version: 5.7.0
  * Firebase Component: Performance (Auth, Core, Database, Firestore, Messaging, Storage, etc)
  * Component version: 2.1.1

### [REQUIRED] Step 3: Describe the problem
Crash log is below:
[code]

#### Steps to

[2018-10-12 05:39] ulaserdegor commented on #1885
1.5.3, and i solved this problem. Thanks for your help. @paulb777

[2018-10-12 14:04] paulb777 commented on #1936
Thanks for the report. Tracking internally at b/117644780

[2018-10-12 17:08] chliangGoogle commented on #1399
We are actively working on a fix and please let us know whether you can reproduce it as well. Thanks!

[2018-10-12 19:15] adamjack opened #1940 "Possible race condition with iOS Firestore and security permissions on new document's sub-collection"
I wrote this first here, not knowing if it was my poor choice of permissions approach:

https://stackoverflow.com/questions/52673952/missing-or-insufficient-permissions-on-newly-created-documents-sub-collection

... but since it works on Android and when iOS is offline, I am starting to suspect a bug.

  * Xcode version: 10.0
  * Firebase SDK version: 5.9.0
  * Firebase Component: Firestore
  * Co

[2018-10-12 22:09] AlexGZC opened #1941 "FIrebase says that i am blocked, and my requests are forbidden, please help!"
I have got an issue from Firebase:

**Error Domain=FIRAuthErrorDomain Code=17999 "An internal error has occurred, print and inspect the error details for more information." UserInfo={error_name=ERROR_INTERNAL_ERROR, NSLocalizedDescription=An internal error has occurred, print and inspect the error details for more information., NSUnderlyingError=0x28208da10 {Error Domain=FIRAuthInternalErrorDomain

[2018-10-12 22:47] morganchen12 commented on #1941
Please [file a support ticket](https://firebase.google.com/support/contact/?category=troubleshooting) so they can look at your project information. What you're facing is most likely not an iOS SDK bug.

[2018-10-12 22:47] #1941 closed

[2018-10-12 22:48] morganchen12 commented on #313
Closing since this issue has staled. FirebaseCommunity has been deprecated; if this issue continues to reproduce, please comment here and I'll reopen it.

[2018-10-12 22:48] #313 closed

[2018-10-12 22:56] morganchen12 commented on #934
@visumickey

[2018-10-12 22:58] morganchen12 commented on #1464
@jamieQ-Target sorry, this bug got dropped in some reshuffling that happened earlier. Are the tsan errors still present?

[2018-10-15 04:54] dsngeu opened #1944 "Compile time error"
<unknown>:0: error: cannot load module 'FireBaseDynamicLinks' as 'FirebaseDynamicLinks'
I am using Pod
pod 'Firebase/Core'
pod 'Firebase/DynamicLinks'

after installing pod

import Firebase in AppDelegate
I got this error

<unknown>:0: error: cannot load module 'FireBaseDynamicLinks' as 'FirebaseDynamicLinks'

### [READ] Step 1: Are you in the right place?

  * For issues or feature requests relat

[2018-10-15 05:19] IsharaMee commented on #1399
Hi , We  have same  issue and build rejected. Any updated on this?

[2018-10-15 08:55] lecsDragos opened #1945 "Crash in [FIRASqliteStore updateStatementForRecord:inTableWithName:columnName:columnValue:error:]"
### Describe your environment

  * Xcode version: 9.4
  * Firebase SDK version: 5.10.0
  * Firebase Component: Core, RemoteConfig, FirebaseAnalytics
  * Component version: RemoteConfig 3.0.2, FirebaseAnalytics 5.2.0

### Describe the problem
After updating to the latest version of Firebase we started receiving these crashes. Couldn't find a way to reproduce this issue. It seems to be happening whe

[2018-10-15 09:05] #1945 closed

[2018-10-15 10:31] Ramesik opened #1946 "Failed to send push with Recipient time zone (iOS)"
Environment

  * Xcode version: Any
  * Firebase SDK version: 5.10.0
  * Firebase Component: Messaging
  * Component version: 3.2.0

Problem

Failed to send  "Recipient time zone" push on devices with non 24-hours locale.

How to reproduce:

Send push on device with non 24-hours locale with recipient time zone enabled from Messaging console.

[2018-10-15 10:36] lecsDragos commented on #1945
Closing this issue since the version of the SDK used in the version that has problems is not the latest one.

[2018-10-15 13:01] nikhilbhalwankar commented on #924
Hi,

We are also facing the same issue. If we use FirebaseUI for Login via Google, browser page gets opened in iOS 10. Once login is completed, redirection does not happen. The user logs in browser wondow and control stays there only.

[2018-10-15 15:47] jazz-mobility commented on #1936
Any updates on this. I am getting same crash on 5.9.0

[2018-10-15 17:39] ryanwilson commented on #1944
Hi @dsngeu - what version of Dynamic Links are you using? Do you have any other code in the App Delegate other than `@import Firebase`?

Based on the error "FireBaseDynamicLinks", are there any spots in your project with a capital B in Firebase? The `b` should be lowercase, which may be causing the compilation error.

Please let us know the version of Firebase and the Xcode version. If there's a s

[2018-10-15 19:56] willbattel opened #1951 "FR: Callable function on Trace object that lets us cancel the trace without logging it, rather than using stop"
Sometimes if the ViewController changes while a trace is in progress, we want to abandon the trace as the VC may or may not finish the process we're tracking. Calling stop() on the trace will log an incomplete trace, which is not what we want as it will negatively affect the average elapsed time reported in the console. I couldn't find any indication that this feature already exists, but it'd be g

[2018-10-16 02:43] bennysghost commented on #1399
We are using Firebase 5.9.0 and have successfully submitted and released a build to the app store with this version in the last month. In the last few days we submitted a new version of our app to Apple and got stuck in an app rejection loop due to it not launching in time. Our symbolicated crash log was very similar to the ones posted here. However, instead of Firebase triggering the Security fra

[2018-10-16 03:54] chliangGoogle commented on #1399
Thank you for bringing up all the issues. We appreciate your feedback.
We've found the cause of the issue and the fix should go into the next release.

[2018-10-16 06:10] fschaus opened #1952 "FCM token not refreshed after installing on new device"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: XCode 10.0
  * Firebase SDK version: 5.8.1
  * Firebase Component: Auth, Core , Database, Firestore, Messaging, Storage
  * Component version: FCM (3.1.2)

### [REQUIRED] Step 3: Describe the problem

One of my users recently changed to a new iPhone and reinstalled my app on his new phone. He successfully logged-in etc. but now h

[2018-10-16 07:07] muthukrishnanOCS commented on #1879
Hi @TKBurner i'm waiting for your reply. kindly help me to fix the issue

[2018-10-16 07:08] mohammedshahid opened #1953 "RemoteConfig SQLite crash"
We have integrated Firebase Remote Config , Performance in our iOS app.
With Recent **iOS 12** update the crashes started showing up crashes in Fabric with logs below.

Crash log for your reference with the particular thread that crashed :

**Crashed: com.google.GoogleConfigService.database
EXC_BREAKPOINT 0x00000001f7bc1158**

[code]

Could you please update on this.

[2018-10-16 18:11] morganchen12 commented on #1952
It doesn't look like there's anything wrong with your code, though you could just directly set the FCM token in the didReceiveRegistrationToken callback instead of making another remote call.

Can you [file a support ticket](https://firebase.google.com/support/contact/?category=troubleshooting) and add the instance ID token that's not receiving notifications?

[2018-10-16 19:16] paulb777 commented on #1946
Fixed by #1947

[2018-10-16 19:16] #1946 closed

[2018-10-16 20:47] masahironukui0523 commented on #1885
@ulaserdegor
How did you soleved?

[2018-10-16 21:54] morganchen12 commented on #529
note: the original stack trace in this issue is nearly identical to [this stack trace](https://github.com/firebase/firebase-ios-sdk/issues/1624#issuecomment-411319103).

Is this still an issue?

[2018-10-16 23:02] #1884 closed

[2018-10-17 05:52] mohammedshahid commented on #1953
Pod Versions used :
Using Firebase (5.10.0)
Using FirebaseABTesting (2.0.0)
Using FirebaseAnalytics (5.2.0)
Using FirebaseCore (5.1.5)
Using FirebaseInstanceID (3.2.2)
Using FirebasePerformance (2.1.2)
Using FirebaseRemoteConfig (3.0.2)

[2018-10-17 05:53] mohammedshahid commented on #1953
Have attached the full stack trace :

[com.cleartrip.iphoneapp_issue_7986_crash_17273e3c41224568af8202a3061b24cf_DNE_0_v2.txt](https://github.com/firebase/firebase-ios-sdk/files/2485988/com.cleartrip.iphoneapp_issue_7986_crash_17273e3c41224568af8202a3061b24cf_DNE_0_v2.txt)

[2018-10-17 06:41] kaannesinn commented on #1691
@morganchen12 we see some crashes that comes from APMIdentity classes (http://crashes.to/s/00475d87660) and from APMSqliteStore classes (http://crashes.to/s/14ada79d758) on our new update of the app. It is not as important as the old cases. (We cant again reproduce them)

Application uses;

[code]

Can you re-open this issue? (I cant open it)

FYI

[2018-10-17 16:02] domagojstankovic opened #1964 "GULNetworkURLSession crashes"
### Environment

  * Xcode version: 10.0 (10A255)
  * Firebase SDK version: 5.10.0
  * Firebase Component: Utilities (Auth, Core, Database, Firestore, Messaging, Storage, etc)
  * Component version: 5.3.2

### Problem

App crashes in `GULNetworkURLSession`, line 162. Code:
[code]
Log output:
[code]

#### Steps to reproduce:

Crash occurs on startup but not every time. It happens very often when ru

[2018-10-17 17:12] pabloroca opened #1965 "Swift. The connection to service named com.apple.commcenter.coretelephony.xpc was invalidated"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10
  * Firebase SDK version: 5.10.0
  * Firebase Component: _Core?____ (Auth, Core, Database, Firestore, Messaging, Storage, etc)
  * Component version: _____

### [REQUIRED] Step 3: Describe the problem

With Xcode10, when starting Firebase I get this in the logs. No idea implications this can have.

console log:

`
5.10.0 - [Fi

[2018-10-17 17:51] morganchen12 commented on #1953
Looks like this is crashing in a sqlite call we're making in RemoteConfig. Does this happen deterministically? Can you share repro steps?

[2018-10-17 17:58] morganchen12 commented on #1964
@domagojstankovic can you set a breakpoint in `malloc_error_break` and send the stack trace? (Or alternatively share your project + unit tests)

[2018-10-17 18:47] mohammedshahid commented on #1953
Hey , we haven’t got this while debugging or testing . But we got a lot of crashes in production because of this issue only for iOS 12 users .
We do not have any repro steps .

Does this have anything to do with lower Expiration Duraiton to fetch the RemoteConfig ?

[2018-10-17 20:13] paulb777 commented on #1965
See https://stackoverflow.com/questions/52455652/xcode-10-seems-to-break-com-apple-commcenter-coretelephony-xpc.

Are you able isolate the issue to a particular pod?

If you're still stuck, please share the Podfile.

[2018-10-17 20:31] pabloroca commented on #1965
I also confirm this only happens in the simulator, glad to know it.

I am not using Cocoapods. I am using Carthage with this Cartfile:

[code]

I didn´t isolate what part is involved in this, but I remember some people talking about Firebase Notifications?. I checked in my Safari history, but I don't find it. I am not using Firebase Notifications, could be a common core dependency.

Some advice fr

[2018-10-17 20:31] azeemse commented on #1888
Did anyone find the solution to this issue? I am still facing this issue.

[2018-10-17 20:37] morganchen12 commented on #1953
Expiration duration shouldn't affect this crash.

[2018-10-17 21:10] jamieQ-Target commented on #1464
Hi @morganchen12, I haven't been consistently running with tsan enabled recently, but I did re-enable for the past couple days and have yet to witness the issue again. Feel free to close this, but if I see the report again I'll let you know.

Out of curiosity, were any measures taken that would have resolved the issue on your end?

[2018-10-17 21:12] paulb777 commented on #740
Started in #1864. Blocked on CocoaPods 1.6.x static framework support for test specs. Will continue once 1.6.x is official

[2018-10-17 22:18] morganchen12 commented on #1464
No explicit measures were taken.

There is an effort to consolidate our ClearCut code (the stuff in the stack trace), so this bug may be obsoleted in the future.

[2018-10-17 22:18] #1464 closed

[2018-10-18 01:28] kainjinez commented on #1888
You can temporary pass through this issue by using older version. Check drive link above.

[2018-10-18 03:55] dongfanggugu opened #1966 "crash with report "Unlock of an os_unfair_lock not owned by current thread" in iOS12"
* Xcode version: Version 10.0 (10A255)
  * Firebase SDK version: 4.11.0

### Describe the problem

crash with report "Unlock of an os_unfair_lock not owned by current thread " in iOS12

### trace
libsystem_platform.dylib	_os_unfair_lock_unowned_abort + 36
1	libsystem_platform.dylib	_os_unfair_lock_unlock_slow + 144
2	libsqlite3.dylib	sqlite3_snprintf + 3296
3	libsqlite3.dylib	sqlite3_snprintf + 25

[2018-10-18 04:06] schmidt-sebastian commented on #1888
@kainjinez @azeemse @sohilmemon Does one of you have a minimal code sample that could reproduce this issue? I would like to drill down which release between 4.8 and 5.7 introduced this regression and having a hard time since the callbacks fire for me.

A good starting point would be the quickstart app: https://github.com/firebase/quickstart-ios/tree/master/storage

Do you see the same issues there

[2018-10-18 04:58] agordeev opened #1967 "Firebase crash in offline mode"
I'm having exactly the same issue as here: https://github.com/firebase/firebase-ios-sdk/issues/1069

Xcode version: 10.0 (10A255)

Using Firebase (4.13.0)
Using FirebaseAnalytics (4.2.0)
Using FirebaseAuth (4.6.1)
Using FirebaseCore (4.0.20)
Using FirebaseFirestore (0.11.0)
Using FirebaseInstanceID (2.0.10)
Using FirebasePerformance (1.1.3)
Using FirebaseSwizzlingUtilities (1.0.1)

How to reproduc

[2018-10-18 08:09] amrboxit4me commented on #1197
why this issue is closed?

[2018-10-18 09:38] domagojstankovic commented on #1964
@morganchen12  This is the stack trace when breakpoint in `malloc_error_break` is hit:
[code]

[2018-10-18 13:47] gautier-gdx commented on #1896
I've got the same error and it's not related to APNS.
Tried both solutions in https://github.com/firebase/firebase-ios-sdk/issues/1896#issuecomment-428084090 and it's not working.

I also can't access the recaptha, I just got an error on the PhoneAuthProvider.provider().verifyPhoneNumber method

[2018-10-18 14:02] paulb777 commented on #1197
@amrboxit4me This was a Firebase 4.x only issue and Firebase 5.x has been out for several months.

[2018-10-18 14:05] paulb777 commented on #1967
As noted in #1069, this issue was fixed in April. Please `pod update` to a recent Firebase version.

[2018-10-18 14:05] #1967 closed

[2018-10-18 14:11] paulb777 commented on #1966
Crashing issues with FIRASqliteStore have been fixed in Firebase 5.x. Please `pod update` to the latest version.

[2018-10-18 14:11] #1966 closed

[2018-10-18 16:52] morganchen12 commented on #1896
@gautier-gdx can you share your project?

[2018-10-18 19:38] vokal-isaac commented on #1891
@paulb777 The link there seems to be to 5.9.0; changing the 9s in the link to 10s seems to get 5.10.0, but that doesn't work for 5.11.0, which seems to be the latest release tagged here.

[2018-10-18 19:44] nyeu commented on #1964
Having the same issue here

[2018-10-18 20:09] paulb777 commented on #1891
@vokal-isaac 5.11.0 is currently in prerelease testing. This milestone will be closed when it is published - https://github.com/firebase/firebase-ios-sdk/milestone/18

[2018-10-18 20:10] jhaville commented on #1964
same issue here

[2018-10-18 20:38] TKBurner commented on #1879
Thanks. Usually this relates to having linked from Fabric and then having removed the API key. Do you still have the API key in place if you came from Fabric? You should re-add it.

[2018-10-18 21:10] nyeu commented on #1964
I am sorry I can't provide a sample project right now (I can try to create one next week if I have some spare time).
About the iOS versions, I've seen it in iOS 11 and 12.

[2018-10-18 23:51] morganchen12 commented on #1813
Closed due to inactivity.

[2018-10-18 23:51] #1813 closed

[2018-10-19 05:37] h36ahmed commented on #1888
Hi there, I am also finding this issue as well with the latest version of Firebase. I cannot upload file and there is no callback.

[2018-10-19 07:01] mberndt92 commented on #1936
Same crash, version is 5.9.0. Its crashing inside the class `GULObjectSwizzler`, lines 144-146.
<img width="722" alt="screen shot 2018-10-19 at 08 58 54" src="https://user-images.githubusercontent.com/23187781/47202429-5da0eb80-d37d-11e8-8eec-0150c2b9ce82.png">

[2018-10-19 07:10] gautier-gdx commented on #1896
@morganchen12 I can't unfortunately.
This bug is really tricky to reproduce, this is appearing randomly for now.
Even the Apple App Store review team had the problem yesterday so they rejected our app, after telling them to reinstall the same build, it worked directly with the same phone number...
I'll continue to investigate

[2018-10-19 09:09] domagojstankovic commented on #1964
@ryanwilson all versions are affected. iOS 10 is the minimum iOS version we support.

[2018-10-19 09:42] jhaville commented on #1964
@ryanwilson @morganchen12 once memory leak fix applied https://github.com/firebase/firebase-ios-sdk/pull/1933 we only get a crash on iOS12 (so far) on this line

`[GULNetworkURLSession setSessionInFetcherMap:forSessionID:]`

[2018-10-19 14:57] paulb777 commented on #1964
I suspect a thread safety issue. What happens if two threads call `setSessionInFetcherMap` at the same time?

[2018-10-19 15:16] ozbra commented on #1845
I am sorry to revive this post again but starting from today build errors started to occur.

I am having @forgedk  error. If you solve this, can you guide me?

Here is my problem. I was using Firebase SDK 5.3.0 with manual modification which showing here and it was working until 2 days ago. Which is where I got a working build. Today, when I tried to get build I am getting this error.
<img width="

[2018-10-19 15:34] paulb777 commented on #1845
@ozbra You can see more about the link failure on the Xcode Report Navigator pane.

Also please do any follow up on one of the Firebase Unity support channels. See #1906.

[2018-10-19 16:14] ozbra commented on #1845
Thank you for all those answers and guidance.

Thank you for redirection but the problem is Unity  Firebase Unity support channels are not responding to anything. Similar question asked like 15 days but not a single proper answer yet. That is why I wanted to post here.

[2018-10-20 01:52] kainjinez commented on #1888
@schmidt-sebastian since i faced this problem when developing MacOS app, then I cannot check your quickstart because it belong to iPhone app. Even it works with iPhone, it may not related with this issue.

[2018-10-20 03:44] h36ahmed commented on #1888
Okay so update from me is that I believe I figured what was wrong with my code. I calling the api on another thread other than main and hence, I used `DispatchQueue.main.async { myCode }`and it worked like a charm. Hope this helps anyone. Nothing wrong with Firebase Storage code.

[2018-10-20 16:54] justindewoody commented on #196
I can also confirm in Xcode 10 and Xcode 10.1 beta that the problem still persists.

[2018-10-21 10:38] lolgear opened #1976 "Add instruction for submodules installation process."
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2018-10-21 11:58] azeemse commented on #1888
I was using the latest version of Firebase for the first time in any of my project so I just followed the documentation.
Performed each and every step 1 by 1 and reached to the point where I needed to upload the profile image to Storage.

Copied the code written in documentation and pasted in my project to just check how it works and what it returns but the code never ran successfully. It executed

[2018-10-21 12:02] azeemse commented on #1888
With the latest iOS SDK, I tried this solution but this didn't work for me. Details are mentioned in my above comment.

[2018-10-21 14:16] BuckleWatts commented on #1399
Thanks so much.  We are also facing this same issue and unable to get our app released.  I know this is probably a tough question to answer - but do you have any idea as to when this fix would be released?

[2018-10-21 16:32] NadzeyaStsepanchuk commented on #1879
Hi @TKBurner, I am having the same issue. Have tried to remove Fabric API key from .plist, also tried with Fabric API key in .plist. Not receiving any crashes to Firebase Crashlytics :(.
Kindly, help.

[2018-10-21 16:39] paulb777 commented on #1399
@BuckleWatts By policy, we don't commit to dates for upcoming releases, but I will say that we are hoping to get 5.11.0 out with this issue fixed this week.

[2018-10-21 16:42] mmynarski commented on #1399
Guys, in a project I'm working on rn we've also encounter rejection for the very same reason. But I've created new version from the vey the same code and it pass the review and it's now in store.

This bug is not always appearing or the test path during review is not always the same. My recommendation is: keep trying while firebase folks are doing their stuff ;)

[2018-10-21 16:47] paulb777 commented on #1976
@lolgear Please clarify your request with more details about what you'd like to see.

If you mean `git submodules`, we have no plans to structure the repo with git submodules. If you're looking for a binary download, it's available [here](https://firebase.google.com/docs/ios/setup#frameworks) or via [Carthage](https://github.com/firebase/firebase-ios-sdk/blob/master/Carthage.md).

[2018-10-21 17:48] lolgear commented on #1976
@paulb777

It is pity to hear that `git submodules` are out of the boat.

However, I would like to download ready-to-use framework without unzipping anything.

If this link is correct, it is great cause I would like to update framework when I want. It doesn't have any version, of course, however, It is bless and curse in the same time.
[code]

You could add any accessors to specify version that I

[2018-10-21 22:32] paulb777 commented on #1976
@lolgear We're not likely to add a fourth distribution method anytime soon, after CocoaPods, zip distribution, and the still experimental Carthage.

Do the Carthage url's work for you? For example, if you look at the json files listed at https://github.com/firebase/firebase-ios-sdk/blob/master/Carthage.md#carthage-usage, you'll see that they include versioned links like https://dl.google.com/dl/fi

[2018-10-22 05:04] mohammedshahid commented on #1953
Hi guys , any update on this issue .

[2018-10-22 09:45] zeqinjie opened #1978 "Firebase 5.10.0's crash on iOS12 [TAGHitStore addPendingEvent:]"
1)  when i update Firebase version to  5.10.0's crash. only iOS12
Crash LOG: [TAGHitStore addPendingEvent:]_block_invoke + 500

Firebase 5.10.0
FirebaseAnalytics 5.2.0
FirebaseMessage 3.2.0
FirebasePerformace 2.1.2
GoogleTagManager 7.1.1
GTMSessionFetcher 1.2.1
GoogleAnalytics 3.17.0

2)
  * Xcode version: ___9.4.1__
  * Firebase SDK version: ___5.10.0__

3)

[2018-10-22 14:06] paulb777 commented on #1978
Internally reported at b/118118795

[2018-10-22 14:21] paulb777 commented on #1976
@lolgear The json files include most but not all versions.  All is contingent upon #1862.

We're also in the early stages of investigating if [Rome](https://github.com/CocoaPods/Rome) would be a good way to provide configurable binary distributions.

[2018-10-22 15:22] ugenlik opened #1980 "Analytics setUserProperty is not recorded, no results when filter applied in console."
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.0
  * Firebase SDK version: FirebaseAnalytics (5.2.0)
  * Firebase Component: FirebaseAnalytics (5.2.0)
  * Component version: (5.2.0)

### [REQUIRED] Step 3: Describe the problem

I did setup a User Property in the Firebase Console, then everytime a user logs in to the app I set the user role in the code and enable the Analyt

[2018-10-22 17:12] morganchen12 commented on #1978
@zeqinjie can you add the full crash log?

[2018-10-22 17:13] morganchen12 commented on #1953
It'll be difficult for us to make progress on this crash without repro steps.

[2018-10-22 19:15] ryanwilson commented on #1944
Closing due to lack of activity and lack of information - please re-open with a sample project or code snippet if you run into this issue again.

[2018-10-22 19:15] #1944 closed

[2018-10-22 20:50] paulb777 opened #1983 "Add c99 type checking to travis"
Some Firebase clients, including Unity, build with c99

Add travis checking to make sure that the repo is buildable with c99.

More context in #1982 and firebase/quickstart-unity#228

[2018-10-22 21:31] schmidt-sebastian commented on #1888
Thanks for all your help :) We already looked into moving the Storage internal operations off the main queue, and this thread is now another good reason to do so.  We will release a fix soon.

[2018-10-23 03:45] nishantdesai opened #1986 "Crashes in FPRScreenTraceTracker thread"
* Xcode version: 10.0
  * Firebase SDK version: 5.5.0
  * Component version:
    - FirebaseAuth                  | 5.0.3
    - FirebaseAuthInterop           | 1.0.0
    - FirebaseCore                  | 5.1.0
    - FirebaseDatabase              | 5.0.2
    - FirebaseFirestore             | 0.13.0
    - FirebaseMessaging             | 3.1.0
    - FirebasePerformance           | 2.1.0
    - Firebase

[2018-10-23 05:11] fschaus commented on #1952
Thanks @morganchen12! Filled a ticket and the FCM was not associated with an APN - turn out I had a corner case when I would not register properly for remotenotification (if a user declined authorization in my app but then manually turn notifications on in their phone's settings menu - my notif registration logic was only executed after a user granted authorization from the prompt).

I changed it

[2018-10-23 13:50] #1952 closed

[2018-10-23 13:54] paulb777 commented on #1986
Internally tracked at b/118274589

[2018-10-23 14:34] samtstern commented on #1868
You can increase Cloud Functions to use up to 2GB of RAM and have up to a 540s timeout.  That should give you time to move plenty of documents.  You should be able to sustain 500 writes per-collection-per-second in the worst case, so that's more than 250,000 documents in 540 seconds.

[2018-10-23 14:35] TKBurner commented on #1879
Thanks @NadzeyaStsepanchuk it looks like crashes are now appearing. I noticed you have two copies of the app in our system. One is linked to Firebase the other isn't. Might that be what's causing this issue?

Can you generate this URL for yourself and refollow the linking flow?

https://fabric.io/remove_firebase_crashlytics?clientId=ios:com.sample.app&projectId=project-slug

[2018-10-23 16:49] #1964 closed

[2018-10-23 19:11] rsgowman commented on #1856
The problem is that FXForms injects a few methods into NSObject via obj-c categories here:
https://github.com/nicklockwood/FXForms/blob/2b7f025e4bd83c72033fb5f0718f1082629ede78/FXForms/FXForms.h#L94
https://github.com/nicklockwood/FXForms/blob/2b7f025e4bd83c72033fb5f0718f1082629ede78/FXForms/FXForms.m#L1804

[2018-10-23 19:15] #1302 closed

[2018-10-23 19:15] #1888 closed

[2018-10-23 19:48] #1856 closed

[2018-10-23 19:51] BranchS commented on #196
@morganchen12 @paulb777 any update on this...? while not a showstopper, it's extremely frustrating, especially seeing as it's been going on for over a year...

[2018-10-24 05:22] agordeev opened #1994 "Memory leaks on [FIRClearcutLogger sendNextPendingRequestWithCompletionHandler:]"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.0 (10A255)
  * Firebase SDK version: 5.10.0
  * Firebase Component: Core
  * Component version: 5.1.5

### [REQUIRED] Step 3: Describe the problem

Lots of memory leaks on [FIRClearcutLogger sendNextPendingRequestWithCompletionHandler:]. Is it possible to apply the same fix as here: https://github.com/firebase/firebase-ios-sdk

[2018-10-24 14:00] paulb777 commented on #1994
@agordeev Thanks for the report. What version of GoogleUtilities do you have installed? Version 5.3.4 includes a fix (#1970) for a crash from `FIRClearcutLogger` (#1964), that could be related.

[2018-10-24 17:05] morganchen12 commented on #1994
Also, it seems the two calls to GoogleUtilities are unsymbolicated. Can you get a fully symbolicated stack trace?

[2018-10-24 17:43] NadzeyaStsepanchuk commented on #1879
Hi @TKBurner, actually there are two different apps on our Firebase account:
com.translate.me and com.translate.onair. And crashes are not coming for the latest releases :(.

Unfortunately I don't have credentials from Fabric account, so I can't re-link it.
Please suggest, what can be done in this situation?

[2018-10-24 18:04] #1983 closed

[2018-10-24 18:39] NadzeyaStsepanchuk commented on #1879
Hi @TKBurner,
re-linking really worked like a charm! Thanks you so much!

[2018-10-24 21:56] paulb777 commented on #1980
Internally tracked at b/118396733

[2018-10-24 22:31] htcgh commented on #1980
Just for clarification, "userRole" is the user property name and "Admin" is the value, correct? If so, then  the call to Analytics should be `Analytics.setUserProperty("Admin", forName: "userRole")`.

[2018-10-25 00:11] xinyu-liu commented on #1759
I downloaded GoogleMobileAds from https://github.com/paulb777/BigBinaryTest and substitute it from the original GoogleMobileAds.framework/GoogleMobileAds
but I got this linking error when building:
`
Undefined symbols for architecture x86_64:
 “_OBJC_CLASS_$_GADInterstitial”, referenced from:
 “_OBJC_CLASS_$_GADRequest”, referenced from:
 “_OBJC_CLASS_$_GADMobileAds”, referenced from:
ld: symbol(s

[2018-10-25 00:13] paulb777 commented on #1759
@xinyu-liu https://github.com/paulb777/BigBinaryTest was only a test. Please use Google-Mobile-Ads 7.35.1

[2018-10-25 00:15] xinyu-liu commented on #1759
thanks for the quick response!!!
I downloaded https://developers.google.com/admob/ios/download and unzipped it.
GoogleMobileAds.framework/GoogleMobileAds is still too big to push to github :(
137.4 MB

[2018-10-25 00:20] paulb777 commented on #1759
Oh right. The CocoaPods version is split into two pieces, but the version in the binary framework download is not.

[2018-10-25 00:29] paulb777 commented on #1759
This is not a supported use case, but you can see the vendored_framework and vendored_library in the CocoaPod at https://github.com/CocoaPods/Specs/blob/master/Specs/5/9/a/Google-Mobile-Ads-SDK/7.35.1/Google-Mobile-Ads-SDK.podspec.json#L40

[2018-10-25 00:48] xinyu-liu commented on #1759
This is AWESOME! Thank you so much!!

[2018-10-25 05:08] agordeev commented on #1994
GoogleUtilities was updated to the latest (5.3.4) version as well.

How to I do that? That's not the crash log, I was browsing through Xcode's Object graph

[2018-10-25 06:50] muthukrishnanOCS commented on #1879
Hi @TKBurner ,
I generated & tried this URL. But, getting this error. kindly suggest me please.
And I've this issue as very long time. Unable to check the crashes and issue only for iOS

[2018-10-26 01:17] Younghun-Jeong commented on #1244
i have 11.4.1 (iPhone7)

[2018-10-26 02:34] ninokierulf commented on #10
**Is Crashlytics supported in tvOS?**

Was trying Crashlytics in tvOS but I can't even get the firebase crashlytics setup to be successful.
I ran in my tvOS application and it seems nothing is being sent to google's server.

[2018-10-26 03:04] ninokierulf opened #2009 "Crashlytics support for tvOS?"
Was trying Crashlytics in tvOS but I can't even get the **firebase** crashlytics setup to be successful. (I've been using Fabric Crashlytics for tvOS for about 2 years)
I ran in my tvOS application and it seems nothing is being sent to google's server.

I found a [tweet conversation](https://twitter.com/fabric/status/1040671020837949441) stating that crashlytics will be supported for tvOS. Is it a

[2018-10-26 08:08] ninokierulf opened #2011 "Analytics support for tvOS"
**Are there future plans for supporting Firebase Analytics for tvOS platform?**

Fabric is being integrated into Firebase and is the process of sunsetting Fabric.
As a previous user of Fabric Answers, the option for migration is to use Firebase Analytics.

I am aware that at the moment Analytics is not supported for tvOS #10 ([comment](https://github.com/firebase/firebase-ios-sdk/issues/10#issueco

[2018-10-26 14:41] FViscardi commented on #1431
This functionality would be great.

Handling subscribed topics right now is a bit of an unnecessary hassle, as I have to keep track of it myself via firestore or shared preferences.

[2018-10-26 21:41] paulb777 commented on #9
Those of you interested in Firebase via Carthage may want to check out Firebase via Rome. Rome provides many of the Carthage features as well as a few additional advantages. Check out the details at https://github.com/firebase/firebase-ios-sdk/blob/master/Rome.md.

We'd love to hear any feedback in another [issue](https://github.com/firebase/firebase-ios-sdk/issues).

[2018-10-27 15:53] paulb777 commented on #1976
@lolgear Does [Rome](https://github.com/firebase/firebase-ios-sdk/blob/master/Rome.md) meet your requirements for downloadable ready-to-use frameworks?

[2018-10-27 15:59] paulb777 commented on #1686
Closing for stale-ness. Will reopen with more discussion.

[2018-10-28 08:48] zhengzeqin007 opened #2019 "[FIRTrace updateTraceWithSessionId]_block_invoke/ [__NSSetM addObject:]:object cannot be nil."
## version
Firebase 5.10.0
FirebaseAnalytics 5.2.0
FirebasePerformace 2.1.2
GoogleTagManager 7.1.1
GTMSessionFetcher 1.2.1

## xcode
Xcode version: _9.4.1
Firebase SDK version: _5.10.0

## crash
There has been a lot of collapse in the last two days about [__NSSetM addObject:]: object cannot be nil. The error stack is as follows

0	CoreFoundation
___exceptionPreprocess + 228
1	libobjc.A.dylib
objc_

[2018-10-28 13:50] paulb777 commented on #2019
Tracked internally at b/118559496

[2018-10-28 14:56] bryanbartow commented on #2019
I'm also getting a ton of these after updating to the latest version of Firebase.

[2018-10-28 16:39] BrettThePark commented on #2019
This is one of three seemingly related issues causing a 8% crash rate of my application. This is an URGENT issue.

[2018-10-29 01:58] zhengzeqin007 commented on #2019
But some time ago it was normal. It was only in the last two days that this problem occurred. Did any recent adjustments lead to it?

[2018-10-29 08:40] mohammedshahid commented on #1953
Hi @paulb777 @morganchen12 - I had got this issue while debugging but its not reproducible. Please take look at the screenshots & let me know if i have to do something to fix this crash that's happening a lot for our users.

FYI, Thread 3 has crashed

<img width="676" alt="screen shot 2018-10-24 at 5 37 58 pm" src="https://user-images.githubusercontent.com/5266699/47638315-3ec40580-db84-11e8-8545-

[2018-10-29 10:31] jenjia commented on #413
@wilhuff sorry to bother you, a year as passed, and I cannot find if this is already implemented. Can you tell me? or guide me to where I can find the doc of implementation of features likes this?

Thank you.

[2018-10-29 12:35] CappeFra commented on #1896
Hi, do you happen to have an update on this? I'm facing the same problem, where it doesn't access the recaptcha view and it gives the Invalid token on the VerifyPhoneNumber method instead.

[2018-10-29 14:08] KevinQuisquater commented on #1399
Unfortunately facing the same issue (Apple rejection), with Firebase 5.11.0 and FirebaseInstanceID 3.3.0.

OS Version:          iPhone OS 12.0.1 (16A404)
Xcode 10.0

<details>
<summary>Crash logs</summary>

[code]
</details>

-----

Some additional information: I had experienced a similar rejection in a previous release, 1-2 days ago. I was to reproduce it by running in Release mode. And I was abl

[2018-10-29 14:29] ugenlik commented on #1980
@paulb777  @htcgh

Oh boy, Dont I feel really stupid......

I wish the method was something like this

`Analytics.setUserProperty(value:"Admin", forKey: "userRole")`

for some reason when I read this section in Firebase code I thought yeah what I am doing is correct.
[code]

[2018-10-29 14:29] #1980 closed

[2018-10-29 14:56] visumickey commented on #2019
Can you please confirm the version of Firebase Performance on which this issue is occurring? Secondly, were you able to reproduce in your development environment?

[2018-10-29 18:39] visumickey commented on #2019
@zhengzeqin007 Are you seeing this issue only in the last couple of days? Can you share the version of the Performance SDK for the version of the app that is crashing?

[2018-10-30 05:57] DibyajyotiAndolasoft commented on #2019
I am also getting same issue. Here are the pod details I am using.

(Copied from podfile.lock)
- Crashlytics (3.10.9):
    - Fabric (~> 1.7.13)
  - Fabric (1.7.13)
  - Firebase/Core (5.11.0):
    - Firebase/CoreOnly
    - FirebaseAnalytics (= 5.3.0)
  - Firebase/CoreOnly (5.11.0):
    - FirebaseCore (= 5.1.6)
  - Firebase/Performance (5.11.0):
    - Firebase/Core
    - FirebasePerformance (= 2.2.0

[2018-10-30 07:32] imRanjit commented on #2019
I am using these versions. Before iOS 12, I have not found these crashes.

[2018-10-30 07:35] SebastianSingle99 opened #2022 "Remove "static_framework" from open-source pods"
Some podspec files like FirebaseCore.podspec or FirebaseMessaging.podspec have set `s.static_framework = true`, although they are now open sourced and could be used as dynamic framework (use_frameworks!).
Cocoapods says:
`[!] The 'Pods-xxx target has transitive dependencies that include static frameworks: (FirebaseMessaging)`

Setting `static_framework` to false works as expected. Could `static_fr

[2018-10-30 12:43] martindufort commented on #2011
And the same can be stated for MacOS support.

[2018-10-30 14:06] BrettThePark commented on #2019
@visumickey for clarification ... if the issue was on the backend, what is the need for a client side fix?

[2018-10-30 14:09] paulb777 commented on #2022
@SebastianSingle99 Thanks for the suggestion!

There are a few bugs with CocoaPods 1.5.x that prevent this, but it should be doable with CocoaPods 1.6.x. Also it would be a breaking change for Firebase.

I've added it to the next major release milestone for deeper investigation.

[2018-10-30 14:18] visumickey commented on #2019
It is just a protective/defensive fix on the client side to avoid such instances in the future.

[2018-10-30 17:29] paulb777 commented on #2009
Crashlytics for tvOS is documented at https://docs.fabric.io/apple/crashlytics/tvos.html and support will continue after the Fabric app sunset on November 30, 2018.

Firebase console and analytics integrations do not currently exist.

[2018-10-30 19:31] yonomitt commented on #1994
I think I'm seeing something similar. If it helps, my calls to GoogleUtilities are symbolicated:

   0 libsystem_malloc.dylib malloc_zone_malloc
   1 CoreFoundation _CFRuntimeCreateInstance
   2 CoreFoundation __CFStringCreateImmutableFunnel3
   3 CoreFoundation CFStringCreateWithBytes
   4 Foundation +[NSString stringWithUTF8String:]
   5 Foundation -[__NSConcreteUUID UUIDString]
   6 CFNetwork -

[2018-10-30 19:55] paulb777 commented on #1994
Thanks @yonomitt, but the latest GoogleUtilities didn't make Firebase 5.11.0 - see https://github.com/firebase/firebase-ios-sdk/releases. It will be in the next zip download release.

[2018-10-30 20:53] chliangGoogle commented on #1409
Close this issue for now. Feel free to open if you have more arguments on this.

[2018-10-30 20:53] #1409 closed

[2018-10-30 23:37] paulb777 commented on #1976
Closing for now. Can reopen with more discussion.

[2018-10-30 23:37] #1976 closed

[2018-10-30 23:44] paulb777 commented on #1270
[Rome](https://github.com/firebase/firebase-ios-sdk/blob/master/Rome.md) is an alternative way to access binary frameworks from any release.

[2018-10-31 06:18] imRanjit commented on #2019
@visumickey @BrettThePark its a firebase issue right? so what that has to do with your backend servers?

[2018-10-31 09:14] kazuhiro4949 commented on #1936
I'm getting the same assert on v5.11.0. The variables has a class which initializes NSURLConnection.

[2018-10-31 09:34] mberndt92 commented on #2019
@visumickey - The issue is still present for our app.
Is this really fixed on backend?
We've been facing globally more than 1600 crashes for the same amount of users overnight.
This is really a huge issue to our customers and if nothing happens we need to release a hot fix and remove performance as our only option which would not be the optimal of course.

[2018-10-31 10:45] lolgear commented on #1976
@paulb777
I haven't check CocoaPods's Rome yet.
However, as I understand, it is something similar to 'CocoaPods's' Carthage.
Yes, it could fit downloadable ready-to-use framework niche.

But all manual work could be eliminated by using submodules or/and by drag-and-drop Firebase project into target project.

[2018-10-31 11:23] rostopira opened #2026 "Crash when trying to use in share extension"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 9.4
  * Firebase SDK version:
Using FirebaseAuth (5.0.4)
Using FirebaseAuthInterop (1.0.0)
Using FirebaseCore (5.1.6)
Using FirebaseDatabase (5.0.3)
Using FirebaseStorage (3.0.2)
  * Firebase Component: Core and Storage
  * Component version: 5.1.6 and 3.0.2

### [REQUIRED] Step 3: Describe the problem

I'm trying to implement ph

[2018-10-31 11:43] sarahedenyoung commented on #2019
@visumickey - We are still getting crashes this morning. I just updated Firebase and realized we were on version 5.9 of Firebase/Core and 2.1.2 of Performance. Will I need to do a release with the updated versions to stop having this crash? Also, all of the users have iOS 12.

[2018-10-31 12:59] jazz-mobility commented on #1936
@paulb777 Any updates on this. I figured out one thing, this crash is only happens in debug mode.

[2018-10-31 13:34] paulb777 commented on #1976
If the goal is to get rid of manual work, CocoaPods is the best option.

Any solution involving dragging and dropping - whether its the zip distribution, Carthage, or Rome - requires several additional configuration steps to set up search paths, linker options, modules, etc.

[2018-10-31 14:01] lolgear commented on #1976
@paulb777
I have added, for example, `CocoaLumberjack` as submodule.
Everything works fine and what I only have done is editing "Link with framework" for several frameworks that use logging.

In your complex case with resources. Well, it is weird enough. I have a framework with nearly 200-400 localized strings (lol, count it - 389) and nearly 200 images - everything fit well into framework native

[2018-10-31 15:25] visumickey commented on #2019
@mberndt92 @sarahedenyoung Couple of questions:
1. Has the number of crashes started reducing in the last couple of days? (This is to confirm if the configuration rollback has rolled out to the devices)
2. Can you confirm the version of the Performance SDK on the version of your app that has this crash? (Intent is to check if the issue is occuring in the latest version of the Performance SDK, 2.2.

[2018-10-31 15:44] sarahedenyoung commented on #2019
@visumickey
1. No, it has not
2. App had version 2.1.2

[2018-10-31 16:42] morganchen12 commented on #1917
@RamblinWreck77 can you share your project? I haven't been able to repro.

[2018-10-31 16:46] morganchen12 commented on #2026
The stack trace you provided has no Firebase symbols. Add a global exception breakpoint and then run the `bt -all` command again.

[2018-10-31 16:47] morganchen12 commented on #1936
Can one of you share a stack trace of the crash? The one in the original issue is unsymbolicated. Thanks!

[2018-10-31 16:53] morganchen12 commented on #1917
Looks like this fix has not been released yet.

[2018-10-31 16:58] morganchen12 commented on #1953
This could potentially be a threading issue in Remote Config. @dmandar, can you investigate?

[2018-10-31 17:05] morganchen12 commented on #196
Hey all, sorry for the slow update--Paul's identified the root cause and the AdMob team is continuing to investigate.

[2018-10-31 18:55] paulb777 commented on #1976
@lolgear As far as I know, it's not possible to make static frameworks drag and droppable without any additional option configuration.

We can potentially revisit after the next major release with the combination of #2022 and Rome.