[2018-02-03 15:56] datureezy commented on #627
I would have to say that if you’re new to code you will benefit more from doing it the old way than having all the shiny, glitzy tools of the most modern sdks and apis so have heart. Firebase offers you plenty of leg ups that no other tools out there provide. I’m only complaining about codeables because of my uncontrollable OCD to write the cleanest code that I possibly can. 😂

On Feb 3, 2018, 9:2

[2018-02-04 12:11] neeboo opened #750 "clang: error: -fobjc-weak is not supported on the current deployment target"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2018-02-04 16:42] paulb777 commented on #750
Thanks for the report.

This is https://github.com/CocoaPods/Xcodeproj/issues/544 for which a fix was released last night.  Update the Xcodeproj gem from 1.5.5 to 1.5.6.

[2018-02-04 16:42] #750 closed

[2018-02-05 03:27] neeboo commented on #750
thanks @paulb777

[2018-02-05 17:02] wilhuff commented on #627
I think I misunderstood the original request here. It's not that you want DocumentSnapshots themselves to be Codable/Decodable (since that would only give you the ability to serialize them to and from bytes which isn't useful).

What this is about is that you want an Encoder and Decoder for Snapshots that would map between your custom objects and snapshots.

We've had something like this on our ra

[2018-02-05 22:30] lihowadev commented on #10
Because Firebase Analytics is dependent on Google Analytics and Google Analytics is not open source and not supporting tvOS, Firebase Analytics won't be available on tvOS. Is that right?

[2018-02-05 22:52] paulb777 commented on #10
Firebase Analytics does not depend upon Google Analytics, and neither are open source.

Open source is not a requirement to add support for tvOS - however there are no public plans to make Firebase Analytics available for tvOS.  cc: @baolocdo

[2018-02-06 03:40] nkmrh opened #753 "Firestore Crash - FSTDispatchQueue dispatchAsync"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 9.2
  * Firebase SDK version: 4.8.0
  * Firebase Component: Firestore
  * Component version: 0.9.4

### [REQUIRED] Step 3: Describe the problem

Fatal Exception: NSInternalInconsistencyException
**FIRESTORE INTERNAL ASSERTION FAILED: dispatchAsync called when we are already running on target dispatch queue 'com.google.firebase.fi

[2018-02-06 04:23] schmidt-sebastian commented on #326
For now, I would suggest working around this issue by storing large numbers as Strings.

@chetbox If you have time, it would be interesting to know is this still reproduced with the code in https://github.com/firebase/firebase-ios-sdk/blob/f08b5044d64197a3227017ad44235a2bd7421691/Firebase/Database/Persistence/FLevelDBStorageEngine.m#L675 disabled. We will try to replicate this on a 32-bit device.

[2018-02-06 22:07] gvillenave opened #761 "Storage metadata returns full path for name"
When uploading a file to storage, the resolved file object contains metadata such as the name and bucket of the file. However, what I found was that on iOS the name property contains the full path to the file in the bucket, as opposed to just the file name.
Example: for a file uploaded in a bucket to `foo/bar.jpg`, the metadata will give:
[code]
on Android and Web SDK, but
[code]
on iOS.

From htt

[2018-02-06 22:33] morganchen12 commented on #753
This fails because Firestore's dispatch queue wrapper asserts by default if it's dispatching from itself to itself. Normally this doesn't happen, but it looks like in your case the dealloc method of your `DataSource` was triggered on the Firebase queue, causing it to dispatch to itself from itself.

I'm curious if this crash can be triggered 100% of the time if you release a query listener from wi

[2018-02-07 02:15] robpeach commented on #269
+1

[2018-02-07 07:23] allenhsu opened #766 "FR: Push podspec with latest CocoaPods"
* Xcode version: 9.2
  * Firebase SDK version: 4.8.2
  * Firebase Component: Auth, Core, Database, Firestore, Messaging, Storage
  * Component version: 4.0.14

#### Steps to reproduce:

I noticed that in the [podspec in master branch](https://github.com/firebase/firebase-ios-sdk/blob/master/FirebaseCore.podspec), you've already added `s.static_framework = true`, but it's missing in the correspondi

[2018-02-07 18:13] paulb777 commented on #766
@allenhsu - thanks for the question

- Dependencies can still be added onto Firebase pods from other s.static_framework CocoaPods.  Static frameworks can depend upon other static frameworks and/or static library vendored_framework CocoaPods.  The currently published Firebase CocoaPods fall into the latter category.
- We plan to publish Firebase CocoaPods with `s.static_framework = true` and it wil

[2018-02-07 19:56] morganchen12 commented on #331
@alexanderkhitev, I'm going to close this issue for now since we've seen no new reports and #281 was resolved. If this is still an issue after updating Firebase to the latest version, feel free to reopen.

[2018-02-07 19:56] #331 closed

[2018-02-07 20:01] #643 closed

[2018-02-08 01:57] schmidt-sebastian commented on #761
Thank you for filing this issue. While this is an easy fix, we can't fix this in the current release as this constitutes a breaking change. We will try to get this fixed with the next major release.

[2018-02-08 02:00] gvillenave commented on #761
Sounds good, thanks!

[2018-02-08 13:00] SL62 opened #772 "Firestore Crash - Mutation batchIDs must be acknowledged in order"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 9.2
  * Firebase SDK version: 4.8.1
  * Firebase Component: Firestore
  * Component version: 0.10.0

### [REQUIRED] Step 3: Describe the problem

Assertion failure in -[FSTLevelDBMutationQueue acknowledgeBatch:streamToken:group:], third_party/firebase/ios/Source/Firestore/Source/Local/FSTLevelDBMutationQueue.mm:235

Terminating a

[2018-02-09 01:31] morganchen12 commented on #479
Closing due to lack of activity. Please re-open this issue if it still occurs on Firebase 4.8.2 or higher.

[2018-02-09 01:31] #479 closed

[2018-02-09 14:37] chetbox commented on #326
We have a lot of data (tens of gigabytes) already in our database and it's not practical to convert all our millisecond to a string and handle the change gracefully across Android, iOS and web clients.

[2018-02-09 14:53] JoGoFo- commented on #16
As per #58 this issue is resolved with CocoaPods 1.4.0

[2018-02-09 17:02] uknowmeright commented on #633
I am still running into this error on Firestore 0.10

[code]

Anyone else still experiencing this?

[2018-02-09 17:48] morganchen12 commented on #633
@uknowmeright, can you share a project that reproduces this issue?

[2018-02-11 01:55] tooolbox opened #780 "'FIRPhoneAuthCredential.h' file not found, tvOS/iOS shared pod"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 9.2
  * Firebase SDK version: 4.8.1
  * Firebase Component: Auth
  * Component version: 4.8.1?

### [REQUIRED] Step 3: Describe the problem

The tvOS-target in the Auth podspec excludes files which are needed for the iOS target.

#### Steps to reproduce:

1. Install with CocoaPods, targeting tvOS.
2. Add an iOS target and do anot

[2018-02-11 02:24] paulb777 commented on #780
Thanks for the issue and PR.  I don't have too much time to investigate now, but a quick thought   based on the description of adding targets between `pod install` runs:  I suspect you're running into a CocoaPods issue of needing to do a `pod deintegrate` before adding a new target to a Xcode workspace.  CocoaPods names targets differently depending upon if the workspace is mono- or multi-targeted

[2018-02-11 03:08] tooolbox commented on #780
Thanks, that actually solved it.  No need to merge the PR I assume?

[2018-02-11 03:08] #780 closed

[2018-02-11 15:16] paulb777 commented on #780
👍 Glad it worked! I'll close the PR - #781.

[2018-02-12 13:16] uknowmeright commented on #633
Sorry, I thought I was on 0.1.0 but did not force a pod update. It is not producing this error anymore.

[2018-02-12 16:02] ryanwilson commented on #326
I got my hands on an iPhone 5C - trying to reproduce now and will report back!

[2018-02-12 18:11] ryanwilson commented on #326
Confirmed, commenting out the code in `fixDoubleParsing:` works as per @schmidt-sebastian's suggestion. He's looking into a fix now and we're going to work together to get this fixed!

[2018-02-12 19:52] morganchen12 commented on #583
Closing since this isn't going to happen soon and this issue hasn't garnered much community support.  We can revisit this in the future.

[2018-02-12 21:23] wilhuff commented on #532
The fix for this went out with Firebase 4.8.0.

[2018-02-12 21:23] #532 closed

[2018-02-12 21:27] morganchen12 commented on #745
This fix has been released.

[2018-02-12 22:10] chetbox commented on #326
Thanks @ryanwilson and @schmidt-sebastian! 🙏

[2018-02-12 22:11] wilhuff commented on #753
It's possible that's a reasonable solution, however I'd like to fully understand how we ended up here.

Based on your description @nkmrh, this seems like it should be enough to reproduce.
[code]
This succeeds all the time for me though so there must be something else besides rapidly calling `remove` on this.

[2018-02-13 06:35] wilhuff commented on #753
Additional variations I've tried:
  * sleep in the callback body
  * do each iteration in a function (forcing a release)
  * force a document to exist (to force the initial callback)
  * running remove multiple times for each add

I also tried @morganchen12 's suggestion of removing one registration from the other, but this worked reliably and upon inspection this shouldn't cause problems because

[2018-02-13 09:00] mbuchetics commented on #9
How is this still an open issue? Is somebody actively working on it?
Carthage 0.28 supports static binaries: https://github.com/Carthage/Carthage/releases/tag/0.28.0

[2018-02-13 19:10] ryanwilson commented on #326
The fix has landed! I'll make a comment when it's shipped (unfortunately the next release has already been assembled so it'll have to make it into the next one after that, ~2 weeks from now).

[2018-02-13 19:26] morganchen12 commented on #326
@ryanwilson we don't have any docs around this, but we've been keeping issues open until the releases they're in ship in the hopes that it'll prevent a small amount of duplicate issues.

[2018-02-13 19:27] ryanwilson commented on #326
Sorry about that! Will close it once it ships 👍

[2018-02-13 21:02] schmidt-sebastian commented on #443
This was fixed with https://github.com/firebase/firebase-ios-sdk/pull/786:

[2018-02-13 21:02] #443 closed

[2018-02-14 00:53] paulb777 opened #793 "Add coverage reporting to CI"
Investigate a solution like https://github.com/SlatherOrg/slather and report coverage for the travis unit test runs.

[2018-02-14 14:41] alickbass commented on #627
Hi guys! Maybe it's a bit off-topic, but I have written a [small library](https://github.com/alickbass/CodableFirebase) to decode the Firestore's `data()` to Model using `Codable`. I would love to hear your feedback.

[2018-02-14 18:32] wilhuff commented on #793
I recently got this partially working for Firestore (not the Travis part)

[code]

Unfortunately there's a problem in the interaction between Xcode 9 and slather that's preventing it from finding the binary based on the configuration and I wasn't able to spend more time figuring out what was going wrong: https://github.com/SlatherOrg/slather/issues/347

[2018-02-14 20:53] morganchen12 commented on #357
Hey all,

This issue hasn't been actionable for a while, so I'm going to close it for now. If you have any new debugging information, feel free to comment on the closed issue and I'll re-open it.

If you have the same error message but think it may be a separate bug, please file a new issue and I'll take a look.

[2018-02-14 20:53] #357 closed

[2018-02-14 23:20] paulb777 commented on #745
Fixed in Firebase 4.9.0, Firestore 0.10.1

[2018-02-14 23:20] #745 closed

[2018-02-14 23:59] wilhuff commented on #627
That's not off topic at all, and very cool! Would you be willing to work with us to incorporate something similar directly into the API?

[2018-02-15 06:12] ramunasjurgilas commented on #627
@alickbass Myself started to write something like this. Thanks for sharing. It will save a lot of time. I could look into your library.

[2018-02-15 08:26] alickbass commented on #627
@wilhuff Sure! I would love to contribute! Maybe we could start a separate thread and discuss the details for the design and ideas on how to incorporate it into Firestore API?

[2018-02-16 07:31] nkmrh commented on #753
Thank you for investigating.
I tried to create a simple project and try to reproduce it, but could not reproduce it.

Simple project code is as follows.

[code]

But In my production code when push and pop the above controller class to the navigation controller repeatedly, Occasionally DataSource's deinit was called from the firestore's thread.

deinit seems to be called from the thread where the

[2018-02-16 13:59] alickbass commented on #627
@wilhuff where would be an appropriate place to start the discussion? Is it here in github issues or in [Firebase talk google group](https://groups.google.com/forum/#!forum/firebase-talk)?

[2018-02-16 18:03] morganchen12 commented on #627
Here is fine.

[2018-02-16 22:05] ryanwilson commented on #683
I think we're leaving Issues open until they're publicly shipped (in case someone else creates an Issue about it). I'll close this again once it ships next version!

[2018-02-16 22:11] wilhuff commented on #683
Argh. That's annoying: all I did on the other side was merge the PR that fixed this.

[2018-02-16 22:16] morganchen12 commented on #683
It's a GitHub feature that goes against our [workflow](https://xkcd.com/1172/). 😭

To workaround it, you can write "This addresses $(issue number)" instead of "This fixes $(issue number)" in your pull requests.

[2018-02-16 22:31] wilhuff commented on #683
I've added this as a proposed discussion topic in go/firebase-ios-weekly. This is the third issue I've seen go by in a week where we've accidentally done the close/reopen dance.

[2018-02-17 13:11] alickbass commented on #627
Okay guys, here are several things I would like to discuss:

1. Do we want to add the support `Codable` only for `Firestore`? or the the `Database` as well? In my library I support both, because the only difference is how to handle `Date`, `Data` and other types like `DocumentReference`, `GeoPoint`, `FieldValue`. For the `Date` and `Data` in the `Database` I use the same strategy as the JSON Decod

[2018-02-17 19:39] wilhuff commented on #627
Broadly my goal for this would be to add to the surface API of Firestore such that something like the following becomes possible:
[code]
The [equivalent API](https://firebase.google.com/docs/reference/android/com/google/firebase/firestore/DocumentSnapshot.html#toObject(java.lang.Class<T>)) that already exists on Android looks like this:
[code]
The benefit of building this into the APIs is that the

[2018-02-17 21:45] alickbass commented on #627
Thanks @wilhuff for such a quick reply! I think I have quite some information to start working on some initial proposal. I will take your desired code as a starting point and will submit a PR. I will start with using dictionary as before and once there will be more stable internal API, we could rewrite it to direct internal form.

As for the version of swift, I will add annotations to make it avai

[2018-02-17 23:23] wilhuff commented on #627
I'd suggest actually that the very last piece we want is the top-level API changes. These commit us to shipping the feature and will be blocked on API review. We can make a number of smaller commits to master before that point otherwise.

[2018-02-18 15:19] aperechnev commented on #258
I have exactly the same problem :(

[2018-02-18 18:54] alexanderkhitev opened #813 "When Firebase query removes Observer with handle, other observers are not called"
I'm monitoring the state of some data from several `UIViewControllers`. When the `UIViewController` deinit happens, I delete the specific observer with the handle. Now I noticed that after removing query observer from one `UIViewController`, in the future query observer on another `UIViewController` is not called, although the data is changing. Please tell me how it can be fixed?

      open func

[2018-02-18 19:32] #813 closed

[2018-02-19 13:51] alickbass commented on #627
Hi @wilhuff and @morganchen12 ! So I have started working on it already, however, I immediately bumped into issues with adding a Swift file to the `Firestore` static library source code. It seems like from Xcode 9 static libraries can now have mixed Objective-C and Swift source code. However as I found [here](https://github.com/CocoaPods/CocoaPods/issues/7213) it requires having a bridging header.

[2018-02-19 17:37] paulb777 commented on #627
Hi @alickbass It's unfortunate that there is not yet proper CocoaPods support for mixed languages in static frameworks.  Hopefully we'll get that added in the next few months.

In the meantime, the bridging header workaround should work. Do you understand what is different from the project described [there](https://github.com/CocoaPods/CocoaPods/issues/7213)?  If you get stuck, please share a bran

[2018-02-19 17:50] maximkhatskevich opened #814 "Query limited to last 100 always return exactly 3 elements"
ENVIRONMENT

  * Xcode version: 9.2 (stable)
  * Firebase SDK version: 4.6.0
  * Firebase Component: Database
  * Component version: 4.1.1

WHAT I DO

Setting up a Realtime Databse query on a collection of objects, order by child path and limit to last 100 elements. Then setup event observers for add, move, remove, change. I'm sure I have 5 elements in the collection total, they all satisfy to thi

[2018-02-19 21:22] localredhead commented on #9
+1

[2018-02-20 01:39] wilhuff commented on #627
I don't think adding to the existing targets is going to work, at least not without some kind of master-level CocoaPods jiu-jitsu.

Additionally our main CocoaPod cannot depend upon the Swift runtime because it's used by Objective-C users that do so to keep their app smaller. Until Swift has an ABI and all target platforms have the runtime we can't impose this overhead on Objective-C users.

I've

[2018-02-20 10:29] moontecholabs opened #816 "Firebase Crashed at intializing FIRApp.configure()"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 9.2
  * Firebase SDK version: 3.17.0
  * Firebase Component: _____ (Auth, Core, RemoteConfig, Messaging, FirebaseAnalytics, FirebaseInstanceID)

### [REQUIRED] Step 3: Crashed at FIRApp.configure()

We intializing Firebase in appdelegate didfinishlaunching
FIRApp.configure()  at this line we are getting Crash

#### Steps to repro

[2018-02-20 17:58] morganchen12 commented on #816
Can you upload an example that reproduces this crash?

[2018-02-20 18:02] morganchen12 commented on #813
@alexanderkhitev is this still an issue?

[2018-02-20 18:04] morganchen12 commented on #814
If you listen for a `.value` event, do you get all 100 elements, or does that also return 3?

[2018-02-20 18:23] maximkhatskevich commented on #814
Not sure. I didn't use the 'value', only 'add', 'change', 'move' and 'remove'.

By the way, seems like the issue does not appear anymore for me. I've changed my data since then and not sure what was the real cause. Probably, just disregard this issue at all, I'll re-open it if got more evidence.

[2018-02-20 18:23] #814 closed

[2018-02-20 19:12] paulb777 commented on #9
@AndrewSB Thanks for digging in and glad to hear you're making progress, but I'm not sure it's currently possible with Carthage to support Firebase as the mix of source static frameworks currently required to work with the Analytics and InstanceID binary static framework dependencies.

I'm currently working on making a pure binary Firebase Carthage distribution derived from the [Firebase zip distr

[2018-02-20 19:37] AndrewSB commented on #9
@paulb777 thats great to hear, that does seem like the complete solution. Keep us updated on how that's going. Like I mentioned last year, it should be as simple as creating a JSON file like https://www.mapbox.com/ios-sdk/Mapbox-iOS-SDK.json once the releases are uploaded in a standard way

[2018-02-20 19:39] alexanderkhitev commented on #813
Hi @morganchen12 ! No, this problem is no more. It was my mistake in the code.

[2018-02-20 20:43] schlingding commented on #9
Thanks @paulb777 !

For the time being this is my solution:
https://github.com/MonsantoCo/FirebaseFramework

[2018-02-20 22:23] paulb777 opened #819 "Change issue closing policy from Release time to Source Fix available time"
From @morganchen12:

cc: @wilhuff

[2018-02-20 22:34] morganchen12 commented on #819
After I/O:
- Deprecate the `future major release` and `future minor release` tags. All closed issues represent issues that are resolved in `master`, but may not be released yet.
- Introduce a new tag `released`. Closed issues marked with this tag are available in a Firebase release.
- Fixed but not released issues can still be queried with `is:issue is:closed -label:released` in GitHub's issue sea

[2018-02-20 23:01] morganchen12 commented on #819
Source-fix time also becomes more relevant once we move to distributing source-based pods for our open components.

[2018-02-20 23:09] wilhuff commented on #819
🙏

[2018-02-21 06:38] moontecholabs opened #824 "fetchRemoteConfige compltionhander not called sometime"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 9.3
  * Firebase SDK version: 3.17.0
  * Firebase Component:Auth, Core, RemoteConfig, Messaging, FirebaseAnalytics, FirebaseInstanceID))

### [REQUIRED] Step 3: We have Implemented firebase  RemoteConfig.
while testing we have noticed some time compltionhandler of fetchremoteConfig not called.

#### Steps to reproduce:

we don't

[2018-02-21 07:18] babu-upcomer commented on #463
@priyankamistry09 Were you able to fix this up? Or we need to reopen this.

 @morganchen12 Could you please explain what do you mean by directly sending this through APNs? Then why we would have chosen FCM at first place? This seems very basic and as you have accepted that the payload is correct, we are not even able to test out even the given quick example data payload.

Our app stack
swift 3.2
x

[2018-02-21 15:33] ryanwilson opened #825 "Remove InstanceID proxy from Messaging"
https://github.com/firebase/firebase-ios-sdk/blob/14ea068f5fd03a658017f8472a4078a727fabc3a/Firebase/Messaging/FIRMessagingInstanceIDProxy.h#L39

Now that CocoaPods supports depending on a static closed source framework, we should replace the InstanceID proxy along with any weak-linked calls to InstanceID with direct calls to InstanceID.

[2018-02-21 16:42] morganchen12 commented on #824
Does this only happen on subsequent fetches? Looks like your expiration behavior may be causing infrequent refreshes.

[2018-02-21 16:51] morganchen12 commented on #463
@babu-upcomer Sending through APNs is a good way of testing that your APNs setup is correct. Since FCM on iOS depends on APNs (as do all other messaging services), it helps to isolate the errors in your setup.

Are you able to send a notification to the messaging example in our [quickstarts repository](https://github.com/firebase/quickstart-ios/tree/master/messaging)? If so, there's likely an erro

[2018-02-21 20:46] morganchen12 commented on #274
@ryanwilson can you tackle this for our next major release?

[2018-02-21 20:47] morganchen12 commented on #573
I'm going to close this since it's an obscure crash in the Security framework that may not actually be caused by Firebase and hasn't seen any new reports lately.

Feel free to re-open if this reappears.

[2018-02-21 20:47] #573 closed

[2018-02-21 20:54] mikehaney24 commented on #529
I'm showing a crash on start involving using AppDynamics with FirebaseAnalytics, stack trace looks like this:

#0	0x000000010d423642 in _object_set_associative_reference ()
#1	0x000000010c20e872 in -[UIApplication(instrumentation) ADEumInstrSetDelegate:] ()
#2	0x000000010c213341 in +[FIRAAppDelegateProxy createSubclassWithObject:] ()
#3	0x000000010c212bdb in +[FIRAAppDelegateProxy proxyOriginalDel

[2018-02-22 01:52] NelsonBlakeN commented on #357
I am having the same issue.

Environment:
* Xcode Version 9.2
* Swift 4.0.3
* Firebase installed via CocoaPods

[2018-02-22 05:25] grinder81 commented on #529
Yes, just disable Firebase method swizzling option, that will solve the problem.

[2018-02-22 05:43] mikehaney24 commented on #529
Which option, specifically?

[2018-02-22 06:24] Ruberik opened #835 "All Firestore writes prevented by 2x"Missing or insufficient permissions" in quick succession"
* Xcode version: 9.2
  * Firebase SDK version: 4.9.0 (also appears to be a problem for 4.8.0)
  * Firebase Component: Firestore
  * Component version: 0.10.1 (also appears to be a problem for 0.9.4)

### Steps to reproduce:

When multiple "Missing or insufficient permissions" errors occur in quick succession, the client stops successfully writing to Firestore, and apparently stops trying to.

I'll

[2018-02-22 09:47] gregk8288 opened #836 "Firebase (4.9.0) causing Protobuf Lexical or Preprocessor Issue Group"
### Describe your environment

  * Xcode version: **9.2**
  * Firebase SDK version: **4.9.0**
  * Firebase Component: **Core** (Auth, Core, Database, Firestore, Messaging, Storage, etc)
  * Component version: **4.0.15**

### Describe the problem
We've upgraded out project to the latest version of Firebase in order to imminent Firebase Messaging into our App. Pod update worked fine and added **Prot

[2018-02-22 16:11] wilhuff opened #839 "Source formatting for Swift"
`scripts/style.sh` is based on `clang-format` and we have it set up to format our Objective-C, Objective-C++, and C++ code. Extending this to format `.swift` files broke them horribly.

[SwiftFormat](https://github.com/nicklockwood/SwiftFormat) looks promising. We should integrate it into `scripts/style.sh` for swift sources.

[2018-02-22 17:03] paulb777 commented on #836
I'm not able to repro so far, but I've seen two other reports including https://stackoverflow.com/questions/48925528/expected-end-of-line-in-preprocessor-expression.

If you move or remove the Pods folder and rerun `pod install`, is there any change?  Do you have the same problem building the [FirebaseMessaging quickstart](https://github.com/firebase/quickstart-ios/tree/master/messaging)?

Are you

[2018-02-22 17:03] mikelehen commented on #835
Thanks very much for the detailed report. We found this issue ourselves a few days ago and the fix was checked in as https://github.com/firebase/firebase-ios-sdk/pull/810.  There was indeed a race condition when rapidly doing writes after a permission denied failure.  The fix should be included in the next Firebase iOS SDK release.  Thanks again and sorry for your trouble!

[2018-02-22 17:09] wilhuff commented on #835
(reopening because we haven't formally adopted https://github.com/firebase/firebase-ios-sdk/issues/819 yet)

[2018-02-22 17:58] #198 closed

[2018-02-22 20:22] ryanwilson commented on #274
I'll do my best to get this in for the next major release. I'll have to check if there's enough time to deprecate and remove the old one by the next major release.

[2018-02-23 00:38] paulb777 commented on #9
An experimental binary Carthage Firebase distribution is now available including all of Firebase except Firestore and Invites. Details at https://github.com/firebase/firebase-ios-sdk/blob/master/Carthage.md.

I've also created a new github [Carthage label](https://github.com/firebase/firebase-ios-sdk/issues?utf8=%E2%9C%93&q=label%3ACarthage+) for any specific issues or feedback.

[2018-02-23 08:08] moontecholabs commented on #816
We are already using 4.x
 - Firebase (4.8.1):
    - Firebase/Core (= 4.8.1)
  - Firebase/Core (4.8.1):
    - FirebaseAnalytics (= 4.0.7)
    - FirebaseCore (= 4.0.14)
  - Firebase/Messaging (4.8.1):
    - Firebase/Core
    - FirebaseMessaging (= 2.0.8)
  - Firebase/RemoteConfig (4.8.1):
    - Firebase/Core
    - FirebaseRemoteConfig (= 2.1.1)
  - FirebaseABTesting (1.0.0):
    - FirebaseCore (~> 4

[2018-02-23 08:11] moontecholabs commented on #816
we are unable to produce this case but our user facing this case.we found above crash trace from fabrics.

[2018-02-23 09:18] nguyentuanvu90 opened #842 "Can not receive push notification when change APNS to FCM"
When my application using APNS in version 1.0 and in version 2.0 I change to FCM.
I update application without delete version 1.0, my application can not receive push notification.
But I install after deleted version 1.0 my application can receive notification.

[2018-02-23 13:16] DiogoAndre opened #843 "New Location for the LevelDB directory"
* Xcode version: 9.2 (9C40b)
  * Firebase SDK version: 4.0.15
  * Firebase Component: Firestore
  * Component version: 0.10.1

### Describe the problem

Firestore is currently storing the LevelDB files under the `Documents/` directory on iOS. The `Documents/` directory is visible to the end user (i.e in the Files app) and this could cause issues if an user inadvertently delete or rename a file bel

[2018-02-23 15:59] wilhuff commented on #843
This location is essentially based on where we did it in the RTDB and that location was chosen somewhat arbitrarily. This is user data, but agreed that it's not user data that's useful as individual files. Regardless of our philosophical position on it the end-user experience with `LSSupportsOpeningDocumentsInPlace` and `UIFileSharingEnabled` enabled is something we should fix.

[2018-02-23 16:45] morganchen12 commented on #842
Hey, there's not enough information in this ticket to debug your issue. Please answer the following questions, then reopen the ticket.

- How are you sending notifications? Are you targeting a bundle ID through Firebase Console? If so, make sure your bundle ID didn't change between app versions
- Is your app's team ID different from the app ID prefix?

[2018-02-23 16:45] #842 closed

[2018-02-23 17:31] paulb777 commented on #102
The reliability problems and responsiveness issues seem to have cleared up for at least the last month since Travis added new servers. Closing for now.

[2018-02-23 17:31] #102 closed

[2018-02-23 17:56] ryanwilson commented on #839
There's a bunch of work being done right now on [`libSyntax`](https://github.com/apple/swift/tree/master/lib/Syntax) that we should be able to take advantage of, too.

[2018-02-24 06:36] nguyentuanvu90 commented on #842
- I'm sending notifications by Firebase Console.
- I config bundle ID in Firebase Console. And my application bundle ID didn't change between app versions
- My app's team ID same app ID prefix.
- When I deleted old version and install new version my app can receive notification. But I update app without deleted app, my app can not receive notification.
- In old app version I using APNS to push not

[2018-02-24 18:17] grinder81 commented on #529
https://firebase.google.com/docs/cloud-messaging/ios/client
`Developers who prefer not to use swizzling can disable it by adding the flag FirebaseAppDelegateProxyEnabled in the app’s Info.plist file and setting it to NO (boolean value).`

[2018-02-24 23:40] baolocdo commented on #529
@mikehaney24 : The crash seems to be a different cause from FIRMutableDictionary, right? It looks like AppDynamics SDK swizzles the UIApplication class setDelegate: and causes the conflict.

[2018-02-24 23:46] mikehaney24 commented on #529
Yeah, I suspect an AppDelegate swizzling conflict, and don't think it's
related to FIRMutableDictionary. I have a test project that repros the
issue, we can talk about it on Monday if you want!

On Sat, Feb 24, 2018 at 3:40 PM Alex Do <notifications@github.com> wrote:

[2018-02-24 23:49] baolocdo commented on #529
We have created a bug internally. If it's not related to FIRMutableDictionary, we shouldn't discuss it here. We will discuss about the swizzling offline. I do think it's AppDynamics problem, not ours though if they swizzle setDelegate of UIApplication.

[2018-02-25 04:41] ingscjoshua commented on #344
Im have the same problem :S

[2018-02-26 01:48] morganchen12 commented on #842
@nguyentuanvu90 can you share the code you're using to integrate FCM? Most importantly, how are you handling FCM token refreshes?

Also, what versions of the Firebase SDKs are you using?

[2018-02-26 06:04] jhrasco opened #849 "ERROR_WEB_INTERNAL_ERROR"
**Environment**

  * Xcode version: _9.2_
  * Firebase SDK version:
  * Firebase Component: Auth, Core
  * Component version: _FirebaseAuth 4.4.2, FirebaseCore 4.0.14_

**Problem Description**

Getting the error below when trying to verify phone number using PhoneAuthProvider.

`Error Domain=FIRAuthErrorDomain Code=17062 "An internal error has occurred." UserInfo={NSLocalizedDescription=An interna

[2018-02-26 07:02] morganchen12 commented on #849
IIRC this error is returned when the webview (most likely the view used for reCAPTCHA) returns an error. There should be logs following this error describing the failure cause in more detail.

[2018-02-26 07:05] jhrasco commented on #849
@morganchen12 The weird thing is that it works on the other target of the project which uses the same source code.

[2018-02-26 14:01] srolesen commented on #485
Thank you for finding this, have you found any workaround so that you can effectively update local database while offline ?

[2018-02-26 17:48] ryanwilson commented on #140
@protocol86 - can you address whether or not the Android solution or iOS solution is the correct one here? If iOS is correct, we should close this bug and address it internally on the Android side since there's no actionable items for this repo.

[2018-02-26 18:51] #839 closed

[2018-02-27 00:11] protocol86 commented on #140
The iOS library exhibits the expected functionality. A bug has been filed against the Android SDK, who will release it as soon as is feasible (though they are somewhat limited due to this being a breaking change).

[2018-02-27 00:24] #140 closed

[2018-02-27 00:43] wilhuff commented on #753
Sorry to go silent on you for this long--it's been a little crazy here. You shouldn't need that workaround and we need to find a fix for it. I think I've figured it out.

There are two parts to this problem. The first, which I overlooked previously, was how can it possibly be the case that we're calling `-[FSTQueryListener .cxx_destruct]` so close to `_dispatch_queue_serial_drain`? This has to mea

[2018-02-27 12:56] AzenXu commented on #431
What about now? We have same crash track with @CastleChe ... from iOS-11.0 to 11.2.5... awful...

[2018-02-27 17:03] wilhuff commented on #344
@ingscjoshua, we've been unable to reproduce this issue internally. Could you share your project with us so we can debug it?

[2018-02-27 17:14] paulb777 commented on #836
Closing for now. Please open if more details can be provided.

[2018-02-27 17:14] #836 closed

[2018-02-28 01:40] nkmrh commented on #753
thank you for taking a look.

I actually have four DataSource-like objects.

I'll correct this piece of code by performing a referral and then waiting for the problem to be fixed.

[2018-02-28 01:44] JienLee commented on #431
We has same crash track with @CastleChe and same function crash get diferrent trace.

0  libobjc.A.dylib                0x18591c1a0 objc_retain + 16
1  CoreFoundation                 0x1866ff334 +[__NSArrayI __new::::] + 184
2  CoreFoundation                 0x186583388 -[NSArray initWithArray:range:copyItems:] + 396
3  UIKit                          0x1904485a4 +[_UICanvas canvases] + 32
4  UIKit

[2018-02-28 22:56] #435 closed

[2018-03-01 18:38] mikehaney24 commented on #529
It looks like this crash may be rooted in AppDynamic's swizzling of setDelegate:, and I don't think we'll be able to do much about this. Does the original crash issue you were having go away if you remove AppDynamics? If so, it just might be the case that Google Analytics for Firebase and AppDynamics are incompatible at this time.

[2018-03-01 18:41] 15458434 commented on #196
Disabling Bitcode helps.

[2018-03-01 20:11] richardliveraise opened #870 "Deeplink from Firebase Invite not coming through for New Install"
* Xcode version: 9.2
  * Firebase SDK version: 4.8.1
  * Firebase Component: Firebase Invites
  * Component version: 2.0.2

#### Steps to reproduce:

1. Send app invite via Firebase Invite
2. Open the invitation link from email
3. Link redirect to app store to download
4. Open app
5. Received this: <app bundle id>://google/link/?dismiss=1&is_weak_match=1

Note that if I generated the link from Fir

[2018-03-02 00:02] morganchen12 commented on #870
Is there a difference between the links Invites and Dynamic Links generates?

[2018-03-02 00:13] richardliveraise commented on #870
@morganchen12 : Yes. The Invites URL is longer and has extra /i/

Dynamic Links URL:
<My Dynamic Link Domain>/GUNJ6JvHtwq5KyCp2
Invites URL:
<My Dynamic Link Domain>/i/209151496987-f4f2b971-c929-465d-b4d5-f0c362964e1f

Also, with the dynamic links url, we can easily debug with adding ?d=1, I can't do the same with invites url.
This issue is only happening on iOS, Android was able to retrieve the d

[2018-03-02 00:26] morganchen12 commented on #870
Got it. This is most likely a bug on our end. I can't provide a timeline for a fix unfortunately.

[2018-03-02 00:31] richardliveraise commented on #870
@morganchen12 : Any idea why it works on Android but not iOS ?

[2018-03-02 19:24] robertturrall opened #871 "Debug log not showing in console"
Hi,

I'm using Firebase Analytics, version v.40005000 (installed today via cocoapods), running on an iPhone 6S under iOS 11.2.1.

In XCode (9.2) I have added both -FIRDebugEnabled and -FIRAnalyticsDebugEnabled as Run parameters to my Debug scheme.

I have the following code in my AppDelegate.m 👍

In imports:

[code]

At the end of didFinishLaunchingWithOptions, just before `return YES;`
[code]

Wh

[2018-03-02 19:42] robertturrall commented on #871
**UPDATE:** Deselecting the following resulting in my console log being flooded with a veritable plethora of Firebase/Analytics debug traces:

![screen shot 2018-03-02 at 20 31 50](https://user-images.githubusercontent.com/38291/36918129-1f29a02e-1e59-11e8-9899-3654fd86b941.png)

It looks like this was the issue.

[2018-03-02 19:42] #871 closed

[2018-03-05 20:09] Nicepose opened #873 "Password data is not encrypted"
I'm using authentication with email and password
[code]
but doing some security test with Burp Suite I noticed that the login/signup data are plaintext into headers.

<img width="769" alt="screen shot 2018-03-05 at 20 44 43" src="https://user-images.githubusercontent.com/16580320/36997306-7d9f905c-20b9-11e8-884a-0088e7dfc604.png">

[2018-03-05 21:52] bojeil-google commented on #873
Hey @Nicepose, actually we don't send this in the header. It is sent in the POST body of the request.
Firebase Auth uses TLS/SSL encryption to ensure no eavesdropping on the request in flight.
The Firebase Auth backend will then hash and salt the password using SCRYPT.

[2018-03-05 22:02] #873 closed

[2018-03-05 23:05] Guacaswole opened #874 "Carthage Install: Adding -ObjC Flag causes build failure"
Relevant to Issue #600 ?

### Environment

  * Xcode version: Version 9.2 (9C40b)
  * Firebase SDK version: 4.9
  * Firebase Component: Analytics, Crash, AdMob, Performance
  * Component version: 4.9

### The problem

Cannot get Firebase to compile with the instructions given [here](https://github.com/firebase/firebase-ios-sdk/blob/master/Carthage.md)

[code]
etc.  There are _way_ more errors than

[2018-03-05 23:18] paulb777 commented on #874
The -ObjC flag is definitely needed.

Would you add your Cartfile?

I'll try an example with those four components later today or tomorrow to try to repro.

[2018-03-06 00:34] Guacaswole commented on #874
Here's the Cartfile

[code]

[2018-03-06 03:33] tjwio commented on #874
Same errors for me.. Here's a snippet of the build errors I get when I include the `-ObjC` flag
[code]

When I don't include the `-ObjC` flag, it builds but fails to install with these logs:
[code]

[2018-03-06 12:47] shaibt opened #875 "Inconsistent behaviour of Dynamic Links on App Open"
* Xcode version: 9.2
  * Firebase SDK version: 4.9.0
  * Firebase Component: Dynamic Links
  * Component version: 2.3.2

Have setup dynamic links for my project for both iOS and Android apps and all is working well expect for the following:

On iOS 10 device (10.3.2) I can observe:
1) When app is first opened after user receives a dynamic link, AppDelgate's `application:open:options:` function is

[2018-03-06 14:18] adamduren opened #876 "[FIRApp configure] opens app by different bundleID when called"
### Describe your environment

  * Xcode version: 9.2
  * Firebase SDK version: 4.8.2
  * Firebase Component: Core / DynamicLinks
  * Component version: 4.0.14

### Describe the problem
I have a dev build as well as a prod build for my project that uses two separate Firebase projects. The prod build has a bundle ID of the following format: `com.adamduren.project` and the dev build: 'com.adamduren.

[2018-03-06 14:38] adamduren commented on #876
A workaround that appears to work for the time being is registering a new app with iTunes Connect and Firebase with a different bundle ID such as `com.adamduren.project-dev-2` although this is not desirable.

[2018-03-06 18:18] morganchen12 commented on #875
This looks like a bug on our end, but even if it's not, it's probably something we should be documenting.

[2018-03-06 18:33] #824 closed

[2018-03-06 20:09] paulb777 commented on #874
@tjwio I suspect you didn't add nanopb.framework to your project.

@Guacaswole I'm able to exactly reproduce your issue, but I did run into a missing symbols issue that I solved by adding some of the frameworks listed in ./Carthage/Build/iOS/GoogleMobileAds.framework/Modules/module.modulemap to Link Binary with Libraries Build phase. After that I was able to link a sample app with your Cartfile

!

[2018-03-06 20:16] tjwio commented on #874
@paulb777 ahh super dumb mistake by me, I thought `FirebaseNanoPB.framework` was enough. Builds fine now thanks 👍

[2018-03-06 21:43] ryanwilson commented on #683
The fix is now live version [0.10.2](https://cocoapods.org/pods/FirebaseFirestore)!

[2018-03-06 21:43] #683 closed

[2018-03-07 13:33] ryanwilson commented on #835
This fix is now live as part of the [Firebase 4.10.0](https://github.com/firebase/firebase-ios-sdk/commits/release-4.10.0) release.

[2018-03-07 13:33] #835 closed

[2018-03-07 13:36] ryanwilson commented on #326
This fix is now published in [Firebase 4.10.0](https://cocoapods.org/pods/Firebase).

[2018-03-07 13:36] #326 closed

[2018-03-07 13:40] ryanwilson commented on #772
This fix is now published in [Firebase 4.10.0](https://cocoapods.org/pods/Firebase).

[2018-03-07 14:50] paulb777 commented on #599
Fixed in Firebase 4.10.0 with FirebaseAnalytics 4.1.0

[2018-03-07 14:50] #599 closed

[2018-03-07 15:15] g-mark commented on #431
Some work on this would be great. We have > 40k crashes over the past 30 days directly attributable to this.

[2018-03-07 15:34] rdamiano commented on #431
Same issue. Getting things like:

[code]

And

[code]

Both have in common that "FIRAIsValidConditionalUserProperty" line.

[2018-03-07 15:38] paulb777 commented on #431
Tracking internally at b/64945474

[2018-03-07 16:05] SL62 commented on #772
I just updated to the latest Firebase SDK 4.10.0 and unfortunately I'm still getting the crash.
The stack trace (below) is a bit different now.

Could this issue be reopened please?

[code]

[2018-03-07 16:09] SL62 commented on #772
Just to add a bit more info, the crash happens here:

[code]

[2018-03-07 16:43] mikelehen commented on #772
Reopening issue.   Would it be possible to capture logs of the issue by adding `FirebaseConfiguration.shared.setLoggerLevel(.debug)` to your app?

[2018-03-07 16:58] SL62 commented on #772
Thanks for reopening.
I've added the logger as requested and I'm getting the following in the debug console:

[code]

Does this help or do you need more of the logs?

[2018-03-07 17:20] gsoltis commented on #772
More of the logs would be helpful, especially around where `disableNetwork` is called, if you have them.

[2018-03-07 17:44] SL62 commented on #772
No problem, I've added all logs between calling `disableNetwork` up until just after the completion handler returns for `enableNetwork`:

[code]

Between the above and the actual crash, there's about 2000 lines of logs (mostly due to all the active listeners going back online and a few writes being executed).

[2018-03-07 18:27] mikelehen commented on #772
Thanks @SL62.  I think we still need more of the logs.  Everything in that last snippet looks as-expected. To ensure we understand what's going on, I'd really like /all/ of the Firestore logs leading up to the crash (both before and after the snippet you pasted). I suspect that we're somehow re-sending a write we shouldn't be or else skipping a write.  To verify this I'll need to see the preceding

[2018-03-07 19:43] TeamFactory commented on #274
Guess there wasn't enough time...

[2018-03-07 21:25] ryanwilson commented on #274
There's still time to get this in and I'm still giving it a shot. Apologies for the delay in response! Contributions are welcome for the implementation side of this, too 😃

[2018-03-07 23:03] SL62 commented on #772
No problem, I've sent you an email with the full log as it does contain sensitive data.
I've also discovered another bug with sdk 4.10.0 as mentioned in the email.
Please let me know if you need any more info.

[2018-03-08 04:45] Guacaswole commented on #874
@paulb777 I ended up giving up and using Cocoapods for now but will check the carthage installation when I can over the next few days

[2018-03-08 04:57] JienLee opened #888 "Crashed: FirebaseWorker"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2018-03-08 08:50] midhun-narayan commented on #149
guys i had a situation like FCM is coming for all devices under ios 10, But in case of iphone 8 only the notifications are coming in background condition  in my appdelegate

extension AppDelegate : MessagingDelegate {

    func messaging(_ messaging: Messaging, didReceive remoteMessage: MessagingRemoteMessage) {
        print("Received data message 10 +: \(remoteMessage)")
        NotificationCent

[2018-03-08 09:09] sivarajss commented on #357
Same error here :

Xcode Version: XCode 9.2

[BoringSSL] Function nw_protocol_boringssl_input_finished: line 1386 Peer disconnected during the middle of a handshake. Sending errSSLFatalAlert(-9802) alert
2018-03-08 11:41:47.946673+0530 FirebaseCheck[31161:1161612] NSURLSession/NSURLConnection HTTP load failed (kCFStreamErrorDomainSSL, -9802)
2018-03-08 11:41:47.946815+0530 FirebaseCheck[31161:1161

[2018-03-08 09:14] Sea-Eagle commented on #357
I have added google API domains in Exception Domains in info.plist. it is
working fine

On Thu, Mar 8, 2018 at 2:39 PM, sivarajss <notifications@github.com> wrote:

--
Thanks & Regards
Prajwal Kumar Balugu
Skype: prajwalkumar48

[2018-03-08 10:18] sivarajss commented on #357
@Sea-Eagle
what do u mean by google Api domains. i just entered play.googleapis.com in Exception Domains its not working for me

[2018-03-08 14:48] paulb777 commented on #888
This looks like #496. We'll likely need a reproducible test case to make progress on it.

[2018-03-08 18:59] pedromcunha opened #892 "Loading plist manually but still getting 'Could not locate configuration file' warning"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2018-03-08 21:03] akshetpandey commented on #598
Haven't been able to repo it or seen it in live since then. Closing the issue.

[2018-03-08 21:03] #598 closed

[2018-03-09 04:07] milligator opened #897 "FIRAuth.auth().currentUser.displayName returns nil"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 9.2
  * Firebase SDK version:
Using Firebase (3.17.0)
Using FirebaseAnalytics (3.9.0)
Using FirebaseAuth (3.1.1)
Using FirebaseCore (3.6.0)
Using FirebaseDatabase (3.1.2)
Using FirebaseInstanceID (1.0.10)
Using FirebaseRemoteConfig (1.3.4)
Using FirebaseStorage (1.1.0)
Using GTMOAuth2 (1.1.6)
Using GTMSessionFetcher (1.1.13)
Usin

[2018-03-09 04:23] paulb777 commented on #897
Does the issue occur with a recent Firebase 4.x?

[2018-03-09 06:16] cerupcat commented on #344
I'm also seeing this crash, though not sure it's exactly the same (I can create a new issue if not). My console when calling `addDocument` is

`[Firebase/Core][I-COR000025] FIRAuth getUID implementation wasn't set.` and the crash is in the thread in gRPC.

[2018-03-09 07:31] wilhuff commented on #344
That points very strongly toward your project not having FirebaseAuth.framework installed. The crash in gRPC seems like a different symptom though, because the default is just to act like everything is unauthenticated.

However, if you're using Firebase 4.10.0, there's a critical regression in Firestore in that release so I'd wait for the [hotfix we're spinning](https://github.com/firebase/firebas

[2018-03-09 11:24] sanchit2801 commented on #258
If building on mac for ios in unity, make sure that in the build settings you disable "Metal Editor Support" under other settings for the ios platform.

[2018-03-09 11:29] kartik-kanaujia commented on #258
If building on mac for ios in unity, make sure that in the build settings you disable "Metal Editor Support" under other settings for the ios platform.

[2018-03-09 14:52] businessengine opened #898 "FirebaseFirestore missing some abseil object symbols"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2018-03-09 15:19] wilhuff commented on #898
Looking specifically for `absl::StrReplaceAll` shows that this symbol is indeed undefined:

[code]

However, I'm able to use Firestore in a sample app without issue.

Can you send the full linker command-line from the logs?

Meanwhile, I'll look into why the build is producing a binary that doesn't include a definition for these functions.

[2018-03-09 15:22] businessengine commented on #898
Thanks @wilhuff. Perhaps -all_load flag led to the issue, as when I removed -all_load flag from the podspec, it now works. It seems the problem is the FirebaseFirestore.podspec, where some .m/.cpp may not be included.

[2018-03-09 18:41] cerupcat commented on #344
Thanks, I'll wait for the hotfix to look into it deeper.

On Thu, Mar 8, 2018 at 11:31 PM, Gil <notifications@github.com> wrote:

--
Seth Sandler

- Blog: sethsandler.com
- Twitter: www.twitter.com/sethsandler
- Linkedin: http://www.linkedin.com/in/sethsandler
- Skype: sethsandler

[2018-03-09 18:42] paulb777 commented on #344
@cerupcat Firebase 4.10.1 is now available.

[2018-03-09 19:22] cerupcat commented on #344
Thanks @paulb777. I'm still seeing the same issue. Not sure if I should open a new issue or not. After I call `addDocumentWithData`, I get a crash inside BoringSSL.

[2018-03-09 19:23] ryanwilson commented on #892
Hi @pedromcunha - thanks for the feedback.

There's currently functionality within Analytics that attempts to read the `GoogleService-Info.plist` as the runtime configuration can affect the integrity of analytics collected, but we're looking for a fix. There are a few related comments on #230 as well.

[2018-03-09 19:23] morganchen12 commented on #344
@cerupcat can you open a new issue with the full stack trace and, if possible, a demo project that reproduces the issue?

[2018-03-09 19:24] cerupcat commented on #344
@morganchen12 Will do. Thanks.

[2018-03-10 22:16] wilhuff commented on #898
This was fixed with cl/188613750 in the internal build. The next release will contain all required symbol definitions.

Note to anyone who comes across this problem between now and then you can work around this by building the Firestore SDK from source. Add these two lines to your `Podfile` to do it:

[code]

[2018-03-11 13:02] levantAJ commented on #357
Same error , Xcode Version: XCode 9.2, anyone has any idea for this issue?

[code]

[2018-03-12 06:18] sathishgodbtech opened #905 "Binary make use of strlen and memcpy"
Environment
  * Xcode version: 9.2
  * Firebase SDK version: 4.5
  * Firebase Component: FirebaseInstanceId

Problem
	We are using the firebase for push notification in our cordova application.
	Our penetration testing team have found out that banned APIs are being used in the application(strlen and memcpy)
	Further to out testing we found out that "strlen" or "memcpy" was used in the following fi

[2018-03-12 06:44] sathishgodbtech opened #906 "FirebaseDatabase uses SHA1 hash"
Environment
  * Xcode version: 9.2
  * Firebase SDK version: 4.5
  * Firebase Component: FirebaseInstanceId

Problem
	We are using the firebase for push notification in our cordova application.
	Our penetration testing team have found out that Weak HASH API(s) are being used in the application(CC_SHA1)
	Further to out testing we found out that CC_SHA1 was used in the following files
	1. FSRWebSock

[2018-03-12 15:26] wilhuff commented on #906
You can't change the hashing function in `FStringUtilities.m`: that's used as a part of the tree hashing protocol with the Real-Time Database backend. If you change the hash function in the client without changing the backend the data in the client will always look out of date and will retransmit all data each time you start a query (rather than just transmitting what's new). This won't appear lik

[2018-03-12 15:29] wilhuff commented on #772
Hi @SL62 we released Firebase 4.10.1 which addresses the memory corruption issue which was the root cause of the bug you were seeing. Let us know how it goes. Thanks for your patience!

[2018-03-12 16:51] wilhuff commented on #772
Whoops. 4.10.1 fixes the secondary issue you emailed about, but we need an additional change to actually address the root cause of this issue.

[2018-03-12 16:59] paulb777 commented on #906
@sathishgodbtech Please narrow down the bug description.   You're claiming to use FirebaseMessaging, yet pointing out issues in FirebaseDatabase sources and raising the FirebaseInstanceID issue that is a duplicate of #905

[2018-03-12 17:08] wilhuff commented on #905
Hi thanks for your writing in. We don't currently consider these functions to be banned and don't consider addressing this to be a high priority. If you'd like to send a pull request for the changes you'd like you're welcome to do so.

Note that some of these files are actually pulled from an upstream source and we can't accept changes directly here. All the files under `Firestore/third_party/abse

[2018-03-12 17:40] morganchen12 commented on #905
InstanceID doesn't consider these APIs banned or unsafe either. InstanceID is still closed-source, and uses `strlen` in a single location to get the length of an ascii string, but does not reference memcpy.

This is unlikely to change in the near future.

[2018-03-12 17:40] #905 closed

[2018-03-12 18:16] morganchen12 commented on #906
FSRWebSocket's hash is used [here](https://github.com/firebase/firebase-ios-sdk/blob/b6613bdba73eaf542373ea11a9afeb04cf3b4743/Firebase/Database/third_party/SocketRocket/FSRWebSocket.m#L465).

[2018-03-12 18:21] wilhuff commented on #906
In that case it's not possible to remove either of those and this is non-actionable.

[2018-03-12 18:21] #906 closed

[2018-03-12 19:01] vikrum commented on #906
From [RFC6455](https://tools.ietf.org/html/rfc6455#section-10.8):

[2018-03-12 20:15] mpaulsonco opened #911 "Carthage Firebase.framework does not contain bitcode."
When installed through Carthage, `Firebase.framework/Firebase' does not contain bitcode.`

#### My Environment

  * Xcode version: 9.2
  * Firebase SDK version: 4.9.0 (Carthage)
  * Firebase Component: Core, Analytics, Messaging
  * Component version: 4.9.0

#### Steps to reproduce:

1. Install Firebase from Carthage following the steps outlined in the [guide](https://github.com/firebase/firebase-

[2018-03-12 20:41] paulb777 commented on #911
@mpaulsonco Thanks for the report! The Firebase.framework is only needed to provide build time access to the Firebase module and Firebase.h. It is not needed for linking. Thus a workaround is to delete Firebase.framework from the Link Binary With Libraries Build Phase.

I'll leave this open until I make this requirement clearer in the documentation or update the Firebase framework.

![screen shot

[2018-03-12 20:58] mpaulsonco commented on #911
@paulb777 I can confirm this solved it for me, thanks!

[2018-03-13 00:06] schmidt-sebastian commented on #906
So far, we have not merged the SocketRocket changes back to upstream. It's certainly something we can look at.

[2018-03-13 04:18] Smiller193 opened #913 "Firebase Query Return Duplicates"
So I have a function which supposed to grab entries from my firebase database and sort them by creationDate(a key in my firebase tree/node that has a timestamp). The function that I use to accomplish all this is this.

       static func fetchUserNotif(for user: User = User.current,currentNotifCount: Int,lastKey: String, isFinishedPaging: Bool,withCompletion completion: @escaping ( [Notifications]

[2018-03-13 09:21] npocmo commented on #911
Hello!

I run into same issue, so I also deleted Firebase.framework from the Link Binary With Libraries Build Phase.

I am still getting errors like:
`Ld .../Library/Developer/Xcode/DerivedData/CarthageFirebaseTest-gcmfvqeteiovpadbjrrhdofxjsbi/Build/Products/Debug-iphoneos/CarthageFirebaseTest.app/CarthageFirebaseTest normal arm64
    cd .../carthage_firebase_test/CarthageFirebaseTest`

`Undefined

[2018-03-13 14:02] paulb777 commented on #911
@npocmo Try adding libc++ to the Link Binary With Libraries Build Phase.

<img width="645" alt="screen shot 2018-03-13 at 7 01 07 am" src="https://user-images.githubusercontent.com/73870/37346411-7d895908-268c-11e8-8191-a96f29909c0c.png">

[2018-03-13 14:28] npocmo commented on #911
libc++ resolved some errors, but not all of them. I also added libssqlite3.tbd and some others libraries which helped but I still couldnt build my sample project successfuly.

After a while I decided to only use frameworks I absolutely needed and for a build to be successful.
![image](https://user-images.githubusercontent.com/23473411/37347355-ef7ea87a-26d1-11e8-831b-31e57bfe22e1.png)

And it work

[2018-03-13 17:16] morganchen12 commented on #913
What's your code for paginating/fetching the second batch of data? At first glance, the code you posted here doesn't have any issues.

[2018-03-13 17:45] Smiller193 commented on #913
NotificationService.fetchUserNotif(currentNotifCount: self.notifs.count, lastKey: String((self.notifs.last?.timeStamp?.timeIntervalSince1970)!), isFinishedPaging: self.isFinishedPaging, withCompletion: { ( noti,boolValue) in
                        print("user has \(noti.count) notifications")
                       self.isFinishedPaging = boolValue
                        self.notifs.append(conte

[2018-03-13 17:45] Smiller193 commented on #913
@morganchen12

[2018-03-13 18:04] morganchen12 commented on #913
Do you ever change the database query? If not, it will always return the same contents (which is why you're getting the same data on the second fetch).

[2018-03-13 18:05] Smiller193 commented on #913
well I change the query in the event that the currenntEventCount is greaer than 10 as can been in the previous code block with this line right here.

if currentNotifCount > 0 {
            print(lastKey)
            query = query.queryEnding(atValue: lastKey)

        }

[2018-03-13 18:32] morganchen12 commented on #913
I see. Given you're sorting by increasing timestamp, you should probably use `query.queryStarting(atValue: lastKey)` instead. [`Query.queryEnding(atValue:)`](https://firebase.google.com/docs/reference/ios/firebasedatabase/api/reference/Classes/FIRDatabaseQuery#/c:objc(cs)FIRDatabaseQuery(im)queryEndingAtValue:) will give you children where the field is less than or equal to the provided value, whi

[2018-03-13 18:45] Smiller193 commented on #913
wait what do you mean by snapshot values. Is passing a string in for the timestamp that i pull from the notification object bad practice?

[2018-03-13 18:46] Smiller193 commented on #913
so if im trying to get values listed from the earliest time say 1pm to the latest time say 3pm I would use queryStarting?

[2018-03-13 18:59] morganchen12 commented on #913
You'll want to use the Notification object's values rather than the key of the node.

[code]

[2018-03-13 19:14] Smiller193 commented on #913
so for the function I would change the argument for last key to from a string to a dataSnapshot

[2018-03-13 20:03] Smiller193 commented on #913
thanks solved it

[2018-03-13 20:21] #913 closed

[2018-03-13 20:21] morganchen12 commented on #913
Glad you were able to resolve your problem. For future reference, questions like this one are better suited to StackOverflow. :)

[2018-03-13 20:24] Smiller193 commented on #913
yeah I tried to but everyone kept ignoring me sorry :(

[2018-03-13 22:18] vishalcnz commented on #898
@wilhuff  I tried add those lines into my pod files and this is what happen when i tried to install pos

[code]

[2018-03-13 22:25] wilhuff commented on #898
Here's a complete `Podfile` I have that I just verified works:

[code]
Can you upload your complete Podfile?

[2018-03-13 22:25] wilhuff commented on #898
Doh, @paulb777 is quicker on the draw! :-)

[2018-03-13 22:40] vishalcnz commented on #898
@wilhuff Thanks for your quick reply. I tried this command but still i am facing same errors. Please find attached my pod file.

I also tried this with empty project with the following pod file:

[code]

And I got the following errors:

[code]
[Podfile.txt](https://github.com/firebase/firebase-ios-sdk/files/1808910/Podfile.txt)

[2018-03-13 22:43] wilhuff commented on #898
Your Cocoapods repo appears to be massively out of date. Try a `pod repo update` and then try again.

[2018-03-13 23:03] vishalcnz commented on #898
Thanks again!

It looks like i was using very old Cocoapods repo so first i did this

[code]
and then
[code]
works fine for me Thanks @wilhuff

[2018-03-14 13:46] #911 closed

[2018-03-15 10:24] vinayakpal opened #924 "FirebaseAppDelegateProxyEnabled breaks Facebook Swift login on Facebook SDK 4.42"
Im working on an iOS app where I've provide 2 option for login into the app for user( Google & Facebook) by using Firebase SDK. Now I successfully integrate both login in my app which work perfectly in iOS-11 based app. But when I tried to login from iOS-10 device it never login from both Facebook as well as google. please help I'm suffering from this issue for very long.

[2018-03-15 13:07] dariagss opened #925 "In Notification Composer there is no "content_available" field"
I need to put "content_available" : true in the aps payload, using Notification Composer. The problem is there is no such field and writing it into custom data as key value pair results in it being written not in the aps, but into the whole received data.
So here is content_available, but not in the aps.
`["content_available": true, "google.c.a.e": 1, "google.c.a.ts": 1521119125, "google.c.a.udt":

[2018-03-15 13:46] dsb92 opened #926 "Dynamiclink url created from iOS not working when opened from Android"
### Environment:

  * Xcode version: 9.2
  * Firebase SDK version: 4.10.1
  * Firebase Component: Dynamic Link
  * Component version: 2.3.2

### Describe the problem:

When I'm using the SDK to shorten a link the link itself works perfectly on iOS. It opens the app and does everything as expected. But when sharing it to an android user, a webpage will open with the follow message "The requested UR

[2018-03-15 14:06] paulb777 commented on #925
Asked at https://stackoverflow.com/questions/49299142/how-to-add-content-available-to-firebase-notification-composer

[2018-03-15 14:08] dariagss commented on #925
You mean there is no possibility to add content_available in notification composer?
That is my question as well and it is not answered(

[2018-03-15 14:15] paulb777 commented on #925
I added the link to save the bandwidth of answering the same question twice. I agree it is currently not answered.

[2018-03-15 16:47] morganchen12 commented on #925
This isn't likely to be supported soon. If you need the `mutable_content` flag, you'll have to use the HTTP protocol or one of the Admin SDKs.

Closing as it's not an iOS SDK issue.

[2018-03-15 16:47] #925 closed

[2018-03-15 16:48] morganchen12 commented on #926
Do shortened links on Android work on iOS as expected?

[2018-03-15 16:49] morganchen12 commented on #924
There's not enough information in this issue to debug. Please fill out the issue template and include the version of Firebase Auth, the code you're using to integrate Firebase, and any errors in console, then re-open this issue.

[2018-03-15 17:03] ashok1089 commented on #254
@ChrisRicca  how were you able to solve your issue "Unregistered Registration Token".

[2018-03-16 07:31] dariagss commented on #925
ok, thank you for answering.

[2018-03-16 09:25] macoapps opened #933 "10Mb limit problem with WriteBatches"
### Environment :
  * Xcode version: 9.2
  * Firebase SDK version: 4.10.1
  * Firebase Component: Firestore
  * Component version: latest

### Describe the problem
I need to create a large amount of documents (created from big JSON files).
I extract JSON data to create custom objects, then loop through those objects. Each time I reach 500 objects, I create a Write batch, set objects (500 or less),

[2018-03-16 13:58] nick130586 opened #934 "Firebase/Performance: unrealistic App Launch duration for "Unknown" connection type"
In some cases, device connection type is detected as "Unknown" for small percentage of users. App Launch Duration shows enormous numbers in such cases

![screen shot 2018-01-06 at 12 06 58 am](https://user-images.githubusercontent.com/168651/37524548-d622fab2-2932-11e8-8442-12ac98b67b89.png)
.

  * Xcode version: 9.x
  * iOS: 10, 11
  * Firebase Component: Performance
  * Component version: 4.7

#

[2018-03-16 16:45] morganchen12 commented on #934
Filed b/75269150 internally, will keep this ticket updated.

[2018-03-16 16:46] morganchen12 commented on #933
Even if this is an intentional limitation, our communication around it could be more clear. @wilhuff wdyt?

[2018-03-16 18:31] cnowacek opened #936 "RemoteConfig fetch never occurs when using a non-default FirebaseApp"
### Environment

  * Xcode version: 9.2
  * Firebase SDK version: 4.10.1
  * Firebase Component: RemoteConfig
  * Component version: 2.1.2

### Problem Description

Configuring a `FirebaseApp` instance with the static method `configure(name:options:)` and then a subsequent instance of `RemoteConfig` will result in no fetch occurring when calling `fetch()` or `fetch(withExpirationDuration:)`.

If I

[2018-03-16 18:48] morganchen12 commented on #936
This sounds like a bug. If you enable debug logging, are there errors reported in console when attempting to fetch?

[2018-03-16 19:00] cnowacek commented on #936
Oh, looks like the debug output explains the problem :(

[code]

[2018-03-16 19:56] cnowacek commented on #936
So the debug output tells me that this is the expected behavior but it sounds like RemoteConfig _should_ be able to work on non-default apps. Are there any plans to allow non-default apps to support RemoteConfig?

[2018-03-16 20:37] morganchen12 commented on #936
At the very least this is a restriction that should be in our documentation.

@chliangGoogle can talk about future plans for Remote Config.

[2018-03-16 20:49] cnowacek commented on #936
That's reasonable. I think I may be able to get around this by deleting and reconfiguring the default app whenever the options change (instead of having an instance for each set of options). This might not be the best forum for this follow-up question, but—The documentation on `FirebaseApp.delete(completion:)` isn't very clear either. What's the purpose of the completion closure that's passed in a

[2018-03-16 21:47] morganchen12 commented on #936
The closure is called after the app is deleted (in case you decide to do so asynchronously, since deleting an app can be an expensive procedure). The bool passed in indicates whether or not an app was actually deleted, so it'll be false if you tried to delete an app that didn't exist.

[2018-03-16 23:36] eshiehz commented on #934
App start is measured from when the objc runtime initializes to the time the application is active.
https://firebase.google.com/docs/perf-mon/automatic#automatic_trace_definitions

There's a couple potential reasons for the long app start time:

1. Likely the user is backgrounding the app before it successfully becomes active.
2. "Unknown" connection indicates the devices doesn't have networking.

[2018-03-17 11:55] damirstuhec commented on #274
Any updates on this?

[2018-03-17 13:32] Hussamalsh opened #939 "Firestore swift Document Serialization"
I am trying to retrieve all the documents in a Firestore collection. Created a struct called User to serialize data coming from the Firestore.
Here is how the struct looks like.

[code]

    extension User: DocumentSerializable
    {
        init?(dictionary: [String : Any])
        {
            guard let firstname = dictionary["firstname"] as? String,
            let lastname = dictionary["lastn

[2018-03-17 16:33] wilhuff commented on #939
Hi! It would be helpful next time if you included complete code to reproduce your problem. In particular, there's no definition of `DocumentSerializable` so I don't know if that's part of your problem.

If I remove it the following works fine given your definitions:
[code]
Building succeeds without warning or error. Running this gives the following output, which seems like what you'd expect:
[code

[2018-03-17 16:33] #939 closed

[2018-03-17 21:17] Hussamalsh commented on #939
But i want partialUser to be =  foo: ["lastname": "bar"] and not "not found".

[2018-03-17 21:52] wilhuff commented on #939
Your extension's initializer has a `guard` statement says that if either `firstname` or `lastname` is unset, `return nil`.

You could change it to something like this instead:

[code]
There's likely some more concise way to express this.

Note that this isn't a Firestore issue and we can't really provide general programming support here. A better venue might be Stack Overflow. Good luck!

[2018-03-18 09:11] vinayakpal commented on #924
Currently I'm using Below mentioned version firebase pods in my project:
Using Firebase (4.10.1)
Using FirebaseABTesting (1.0.0)
Using FirebaseAnalytics (4.1.0)
Using FirebaseAuth (4.4.4)
Using FirebaseCore (4.0.17)
Using FirebaseInstanceID (2.0.9)
Using FirebaseRemoteConfig (2.1.2)

[google_signin.txt](https://github.com/firebase/firebase-ios-sdk/files/1822529/google_signin.txt)

Please check the

[2018-03-18 11:19] olejnjak commented on #9
I think this is just fine but can we expect Firestore support in near future?

[2018-03-18 15:29] Hussamalsh commented on #939
Thank you for the help :) Mr @wilhuff

[2018-03-18 20:38] mariohahn opened #940 "[FirebaseDatabase] queryStarting returns all values"
* Xcode version: Version 9.2 (9C40b)
  * Firebase Component: 4.8.0 (Database)

#### Steps to reproduce:

The Problem is that I also get messages which are less than the current timestamp

#### Relevant Code:

[code]

[2018-03-19 10:44] macoapps opened #941 "Geopoint query gives weird results"
### Step 2: Describe your environment
  * Xcode version: 9.2
  * Firebase SDK version: 4.10.1
  * Firebase Component: Firestore
  * Component version: 0.10.3

### Step 3: Describe the problem
I need to make a "nearby" query, and use a similar way as described in SO : https://stackoverflow.com/questions/46630507/how-to-run-a-geo-nearby-query-with-firestore
But results do not respect my lat/lon rang

[2018-03-19 13:01] macoapps commented on #933
actually, i found a kind of workaround : i use transaction instead of writebatch, and it seems to work like a charm. I was able to write ~500Mb in one function call (and approx. 20k transactions)

[2018-03-19 15:30] cnowacek commented on #936
Does that imply that I can do so synchronously? Is the act of calling `.delete(...)` synchronous by default?

[2018-03-19 15:49] morganchen12 commented on #936
Yes, delete is synchronous by default.

[2018-03-19 15:51] cnowacek commented on #936
Thanks so much for the clarification on all of these resources @morganchen12 !

[2018-03-19 16:08] wilhuff commented on #941
The accepted answer to that question is "As of today, there is no way to do such a query." and that's still correct.

The second answer attempts to create a bounding box, but this approach doesn't work (and there's a comment there indicating the behavior you're probably seeing: "we are running the same query as you do, but the results we are getting are ignoring longitude. So all the documents we

[2018-03-19 16:08] #941 closed

[2018-03-19 16:57] gbhall commented on #147
@mcdonamp I too would like background uploads, especially support for offline handling that automatically resumes when the device is online. E.g. upload a photo for a post, then insert that post into Firestore when a device or app comes back online. Firebase does claim to support offline capabilities for most products, I was surprised to find the same ethos doesn't currently apply to Firebase Stor

[2018-03-19 17:25] morganchen12 commented on #934
Closing as this seems to be intended behavior.

[2018-03-19 18:57] edgar-zigis opened #943 "Auth.auth().signIn(withCustomToken) fails with NSInternalInconsistencyException while running UI tests."
Xcode version: 9.2
Firebase SDK version: 4.6.0 (also tried 4.10.1)
Firebase Component: Auth
Component version: 4.3.2 (also tried 4.4.4)

------------

I have a problem, that during the UI test, the following piece of code return NSException, which after parsing returns NSInternalInconsistencyException (null) without any additional data:
[code]
This behaviour only happens during UI tests, I tried p

[2018-03-19 19:25] morganchen12 commented on #943
Can you share the exception message and stack trace?

If you can share the tests that reproduce this issue as well, that would be helpful too.

[2018-03-19 20:44] edgar-zigis commented on #943
Full error message: **Error Domain=NSInternalInconsistencyException Code=0 "(null)"
The operation couldn’t be completed. (NSInternalInconsistencyException error 0.)**

Full stack trace (which is not very informative):

[code]
-----------
Test I am using:
-------------
[code]
Crash occurs just before the last test line during sleep, because this is the moment, when the request to authorize with tok

[2018-03-19 20:57] morganchen12 commented on #943
This is most likely an exception generated from FirebaseAuth. Can you set an Objective-C exception breakpoint and show the stack trace on the exception raise call?

[2018-03-19 21:06] eithan commented on #934
Hi there, is there not a way to filter out timings in the case of a user backgrounding the app? It seems wrong to ever be recording timings like 7000 seconds. Unfortunately we even have a 90th percentile timing of 45000 seconds across all connection types. Can you consider reopening this and investigating a bit more if so? Thanks.

[2018-03-19 21:41] edgar-zigis commented on #943
So this is the stack trace on the breakpoint:

[code]

[2018-03-20 07:32] vinayakpal commented on #924
Kindly reopen this issue as it not has been solved

[2018-03-20 10:53] edgar-zigis commented on #943
So the problem was apparently with my Google-Info.plist file, which was not configured for test environment. Just code did not load that file. However, code response could have been a little bit more informative.

[2018-03-20 10:53] #943 closed

[2018-03-20 23:33] morganchen12 commented on #431
Hey all,

We have a pending fix for this bug. It'll be undergoing some review before it's released, but we hope to have this resolved soon.

[2018-03-20 23:49] rdamiano commented on #431
nice thanks for the notification

[2018-03-21 03:17] paulb777 commented on #898
Fixed in Firebase 4.11.0 FirebaseFirestore 0.10.4

[2018-03-21 03:17] #898 closed

[2018-03-21 03:17] paulb777 commented on #772
Fixed in Firebase 4.11.0 FirebaseFirestore 0.10.4

[2018-03-21 03:17] #772 closed

[2018-03-21 03:17] paulb777 commented on #753
Fixed in Firebase 4.11.0 FirebaseFirestore 0.10.4

[2018-03-21 03:17] #753 closed

[2018-03-21 03:19] paulb777 commented on #874
Please create a fresh issue if something similar reoccurs.

[2018-03-21 03:19] #874 closed

[2018-03-21 03:22] paulb777 commented on #9
@olejnjak Firestore has a dependency on gRPC which has resources and I couldn't figure out how to get the Carthage installer to install resources.  Any ideas?

[2018-03-21 13:11] dyah10 commented on #269
+1

[2018-03-21 13:26] ryanwilson opened #956 "`FIRFunctionsErrorCode` shouldn't have `FIR` prefix in Swift"
`FIRFunctionsErrorCode` still has the `FIR` prefix in Swift, but it should have been removed.

The fix is easy, I've made PR #955, but we have to wait for a major release now.

https://github.com/firebase/firebase-ios-sdk/blob/d924771453d000e708bd5d239da3bae4feb489ac/Functions/FirebaseFunctions/Public/FIRError.h#L31

[2018-03-21 16:15] paulb777 commented on #898
Seems to be a known problem with documented workarounds - https://github.com/GoogleCloudPlatform/ios-docs-samples/issues/30 and https://github.com/GoogleCloudPlatform/ios-docs-samples/blob/master/speech/Swift/Speech-gRPC-Streaming/BUILDFIXES

[2018-03-21 16:38] bklimt commented on #956
Ugh. I wonder if there's some way to set up a lint to catch this issue.

[2018-03-21 18:34] paulb777 commented on #898
Tracked at https://github.com/grpc/grpc/issues/7406

[2018-03-21 20:09] AndrewSB commented on #9
@paulb777 are you talking about https://github.com/grpc/grpc? Can you be more specific with the resources that are required? Also, the folks over at Carthage are usually pretty helpful. If you aren't sure how to do this, creating an Issue there will probably get you an answer

[2018-03-21 20:25] paulb777 commented on #9
@AndrewSB Specifically gRPC/etc/roots.pem from https://github.com/grpc/grpc.

I couldn't find a place to put it in the zip without being ignored by the Carthage installer.

The next time I have bandwidth for Carthage, I'll take another stab at it and make an issue. In the meantime, suggestions and contributions are welcome.

[2018-03-22 01:03] stevejcox opened #961 "Firestore rules failing with custom claims within tokens"
* Xcode version: 9.2
  * Firebase SDK version: 4.11
  * Firebase Component: Auth / Firestore
  * Component version: 4.5 / 0.10.4

I have a system where the user is able to 'step up' their credentials by approving a code emailed / sent via sms. The endpoint is a http cloud function with code that ultimately creates a claim using:

[code]

Once the claim claim is set, the iOS app refreshes the token

[2018-03-22 10:57] mariohahn commented on #940
Do you need more information, or have you already found something?

[2018-03-22 12:26] danielCarlosCE opened #962 "Crash after remoteconfig cache expires"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2018-03-22 14:46] vinayakpal commented on #924
is there any progress to solve this issue. please help urgently

[2018-03-22 14:48] stevejcox commented on #961
This morning the following path cannot be written to:

[code]

Perhaps I am doing something wrong in the rules? I can't see anything and have confirmed the claims are correct.

[2018-03-22 15:52] baolocdo commented on #924
Can you try using the flag **FirebaseAppDelegateProxyEnabled=NO** in the Info.plist and see if it solves the problem (Please follow the instruction in FIRAnalytics+AppDelegate.h if you decide to do so).
If it is still not working, can you try unlink one of Analytics or Auth from your app? We would like to determine which Firebase SDK is causing the issue. Thanks

[2018-03-22 17:01] morganchen12 commented on #940
I think Sebastian just hasn't had the time to look at this issue yet.

[2018-03-22 17:02] morganchen12 commented on #962
Can you post the full stack trace?

[2018-03-22 17:31] schmidt-sebastian commented on #940
We will try to reproduce this locally. For now, there is no need to send us additional information. Thanks for your report.

[2018-03-22 18:19] danielCarlosCE commented on #962
This's all I have

Fatal Exception: NSInvalidArgumentException
*** -[__NSPlaceholderArray initWithObjects:count:]: attempt to insert nil object from objects[1]

0 | CoreFoundation | __exceptionPreprocess
-- | -- | --
1 | libobjc.A.dylib | objc_exception_throw
2 | CoreFoundation | _CFArgv
3 | CoreFoundation | -[__NSPlaceholderArray initWithObjects:count:]
13 | UIKit | UIApplicationMain

[2018-03-22 18:42] morganchen12 commented on #962
Can you share the codebase that this occurs in? There's no Firebase symbols here, so we want to rule out the possibility of an unrelated crash occurring at the same time.

[2018-03-22 18:45] danielCarlosCE commented on #962
I actually can't, since I don't know exactly which point the app crashes. My intention here was just to know if there's any possibility that an incomplete local plist could  generate that kind of error.

[2018-03-22 19:21] morganchen12 commented on #962
It sounds unlikely, though I can't tell for sure. You could check your logic for any bugs when handling nil values returned by RemoteConfig, though this won't help if it's an issue within RemoteConfig.

It looks like there's 10 missing frames of the stack trace that you posted above. Is there no way for you to either obtain the full stack trace or reproduce the issue locally?

[2018-03-23 14:56] wipnick commented on #269
+1

[2018-03-24 17:19] meaning-matters commented on #314
Does someone have a fix for this 4 months later?

Using Firebase (4.11.0)
Using FirebaseAnalytics (4.1.0)
Using FirebaseCore (4.0.18)
Using FirebaseInstanceID (2.0.10)
Using GoogleToolboxForMac (2.1.3)
Using nanopb (0.3.8)

[2018-03-24 17:45] meaning-matters opened #971 "[BoringSSL] Function boringssl_context_get_peer_sct_list: line 1754 received sct extension length is less than sct data length"
I have the exact same issue as #314

Xcode 9.2, deployment target iOS 11.0 in a new project. I just call `FirebaseApp.configure()` in `AppDelegate` and have no messaging (yet).

Using Firebase (4.11.0)
Using FirebaseAnalytics (4.1.0)
Using FirebaseCore (4.0.18)
Using FirebaseInstanceID (2.0.10)
Using GoogleToolboxForMac (2.1.3)
Using nanopb (0.3.8)

[2018-03-24 18:47] paulb777 opened #973 "CocoaPods 1.5.0 static library feature does not work with FirebaseAnalytics"
CocoaPods 1.5.0 static library feature does not work with FirebaseAnalytics because of the non-modular headers in FirebaseAnalytics.h.

Reported at https://github.com/CocoaPods/CocoaPods/issues/7542.

Workaround is a similar post_install step similar to https://github.com/firebase/firebase-ios-sdk/blob/master/Example/Podfile#L217.

Because the fix is a breaking change, it is targeted for the next

[2018-03-25 18:55] xaphod opened #974 "Bug in FirAuth.m breaks email-auth-link 100% of the time"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 9.2 latest
  * Firebase SDK version: 4.11.0 latest
  * Firebase Component: AUTH
  * Component version: latest

### [REQUIRED] Step 3: Describe the problem

There is a bug in `FirAuth.m` -> `isSignInWithEmailLink`: on line 1154:
`  NSDictionary<NSString *, NSString *> *queryItems = FIRAuthParseURL(urlComponents.query);
`

... you

[2018-03-25 22:19] xaphod commented on #974
... also, note that if you ignore this and just call Auth.auth().signIn(withEmail: email, link: link), it crashes with an exception of trying to insert a nil value into an NSDictionary. So I guess (without looking at source) that the change should be in FIRAuthParseURL

[2018-03-26 00:26] xaphod commented on #974
Update - I managed to find time to fix this today, PR 975. Of course I don't know the branching strategy so I don't expect the PR to be taken, but I can at least say that the fix works for me.
https://github.com/firebase/firebase-ios-sdk/pull/975

[2018-03-26 14:24] xaphod commented on #974
There's a bunch more discussion in the PR.

[2018-03-26 14:35] Botz opened #976 "Firebase DynamicLinks does not receive dynamic link after fresh Install"
* Xcode version: 9.2
  * Firebase SDK version: 4.11.0
  * Firebase Component: DynamicLinks
  * Component version: 2.3.2

Steps to reproduce:
1. Create a Dynamic Link
2. Open the link on the phone(tried it with a click on the link in notes, or scanning a QR code, or click in the browser)
3. Link redirects to app store to download
4. Build and install the app via XCode
Received this: schema://google

[2018-03-26 15:23] mikelehen commented on #933
@macoapps Thanks for bringing this up.  There are a few things going on it looks like:

- There is a 10mb limit to the size of a write batch or transaction. This should be documented [here](https://firebase.google.com/docs/firestore/quotas#writes_and_transactions) but it is not currently. We'll get that fixed.
- It looks like when using a Write Batch you'll actually hit a limit of 3MB per batch. I

[2018-03-26 17:20] #962 closed

[2018-03-26 19:08] xaphod commented on #974
Is by-design, see PR for details

[2018-03-26 19:08] #974 closed

[2018-03-27 08:27] chuganzy commented on #431
Has this been fixed in https://github.com/firebase/firebase-ios-sdk/releases/tag/4.11.0?

[2018-03-27 16:53] morganchen12 commented on #431
Not yet. The fix brings a lot of complexity, so it's likely to be in review for a while.

b/64945474 is the internal bug number.

[2018-03-27 17:01] chuganzy commented on #431
@morganchen12 Thank you for letting me know!

[2018-03-27 19:04] morganchen12 commented on #816
@moontecholabs are you able to share the exception message when the app crashes?

[2018-03-28 00:16] schmidt-sebastian commented on #761
I started looking at this today. The ReactNative SDK for iOS gets the data for the metadata from `[StorageMetadata dictionaryRepresenation]`. The metadata returned by this function is expressed in the format of Google Cloud Storage - it uses "name" to store the full path. We use the metadata dictionary internally to initialize FIRStorageMetadata and hence we need to make sure that our format and t

[2018-03-28 00:16] #761 closed

[2018-03-28 03:06] businessengine opened #988 "FIRESTORE INTERNAL ASSERTION FAILED: enterCheckedOperation may not be called when an operation is in progress"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2018-03-28 03:48] wilhuff commented on #988
Can you tell us some more about how and when this happens? This stack trace doesn't really tell us anything because the assertion being made here should hold with a stack that's in this configuration. More context will help us understand.

[2018-03-28 08:19] marknf94 opened #989 "Mutable Data from runTransactionBlock cannot be cast"
### [READ] Step 1: Are you in the right place?

Yes!

### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 9.2
  * Firebase SDK version: 4.6
  * Firebase Component:  Database
  * Component version: 4.1.1

### [REQUIRED] Step 3: Describe the problem

When running a transaction block after getting the current data, I try to cast it to a [String: Any]. In my debugger the if statement

[2018-03-28 08:26] mariohahn commented on #940
ok perfect 👍

[2018-03-28 09:16] puelocesar opened #990 "Crashed: com.google.fira.worker when opening the app"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 9.2
  * Firebase SDK version: 4.10.1
  * Firebase Component: Core (4.10.1), FirebaseAnalytics (4.1.0)
 * iPhone 7, iOS 11.0.3 (15A432)

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

Users reported that app crash right after opening the App. We didn't had this crash before updating Firebase to the newest p

[2018-03-28 09:51] businessengine commented on #988
Hi @wilhuff,
Full stack (pic 01)
![image](https://user-images.githubusercontent.com/578995/38021827-2008d1a0-32a8-11e8-85f9-4223ad4eaef0.png)
Pic 02
![image](https://user-images.githubusercontent.com/578995/38021860-2e0bd658-32a8-11e8-806f-9c7428756fec.png)
Pic 04:
![image](https://user-images.githubusercontent.com/578995/38021898-41ed8a04-32a8-11e8-9aa9-1bfc75b4ae48.png)
Thanks Gil.

[2018-03-28 17:07] morganchen12 commented on #989
What's the value of `currentData.value`? Based on your console screenshot, it looks like it should be of type `[Any]`, not `[String: Any]`.

[2018-03-28 18:17] marknf94 commented on #989
Can't seem to get the data to show in the console, seems like it might be null? Maybe my reference path is incorrect?
![screen shot 2018-03-28 at 11 15 34 am](https://user-images.githubusercontent.com/12654342/38048173-83c3e68c-3279-11e8-8c38-02e888462cc1.png)
![screen shot 2018-03-28 at 11 15 42 am](https://user-images.githubusercontent.com/12654342/38048183-88b2d342-3279-11e8-943f-d801107f4951.p

[2018-03-28 18:23] morganchen12 commented on #990
@baolocdo can we fix this by just early-exiting and returning nil in `-[FIRAPBMeasurementConfig initWithBuffer:]`?

[2018-03-28 19:04] morganchen12 commented on #989
I misread your original comment, sorry.

Are you able to fetch data from that location outside of a transaction, or is it always nil?

[2018-03-28 19:25] marknf94 commented on #989
Seems like the issue with the casting was with my runTransactionBlock being inside of a updateChildValues call. (I wanted to only run the  transaction if the updateChildValues block success = true). I tried to run a oberveSingleEvent of in the same place as per @morganchen12 comment to see if I can get the data outside of a transaction. It was the same issue of not being to cast it. Once I moved i

[2018-03-28 20:20] morganchen12 commented on #989
Glad you were able to figure it out!

Feel free to continue commenting here if you have more questions.

[2018-03-28 20:20] #989 closed

[2018-03-29 01:38] businessengine commented on #988
Reverted back to `'Firebase/Firestore', '4.10.1'`, no issues.

[2018-03-29 07:19] puelocesar commented on #990
Yes, I think it would solve it. By the way, where's the FIRAMeasurement class? I can't find it on Firebase code.

[2018-03-29 07:20] mathieugarcia commented on #843
We provide custom directory browsing within our app. Until the fix is rolled out, I will have to manually hide this directory to the user.

[2018-03-29 14:22] paulb777 commented on #990
FIRAMeasurement is part of FirebaseAnalytics which has not open sourced.

[2018-03-29 15:53] katowulf commented on #209
We're testing a potential fix for updates to NSUserDefaults and threading issues. If anybody here would like to try it out, please shoot me an email. katowulf at the google.

[2018-03-29 15:56] katowulf commented on #431
We have a beta SDK available that addresses cases where NSUserDefaults are being written off the main thread and hopefully this bug. If you're interested in trying it out, please shoot me an email: katowulf at google.

[2018-03-30 05:15] XiandWang opened #1005 "Firestore completion handler not called after logging out and logging in as another user."
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2018-03-30 06:08] morganchen12 commented on #1005
Is this error still present in 4.11.0? Sounds like something that was fixed recently.

Can you [set the log level](https://firebase.google.com/docs/reference/ios/firebasecore/api/reference/Classes/FIRConfiguration#/c:objc(cs)FIRConfiguration(im)setLoggerLevel:) to `FIRLogLevelDebug` and share some logs?

[2018-03-30 06:46] terryworona opened #1006 "XCode: App Installation Failed: Duplicate Bundle Identifier (Carthage)"
### Environment

* Xcode version: 9.2 (9C40b)
* Firebase SDK version: 4.11.0
* Firebase Component: Auth, Core

### Setup

* Using Carthage as per these [instructions](https://github.com/firebase/firebase-ios-sdk/blob/master/Carthage.md).
* My **Cartfile** contains the following:

[code]

* Each framework is imported and added to my target's **Linked Frameworks**:
![](https://cdn2.dropmarkuserconte

[2018-03-30 12:13] alexanderkhitev opened #1007 "Phone auth"
Hello! I use FirebaseUI / Phone pod to register to the application, I entered the number, but the SMS did not come, I pressed the "Resend sms" button several times, but there was no result. After a few minutes, several sms came at once, but before that I had already restarted the application, after trying to log in again, I had the message "This phone number has been used too many times". Is there

[2018-03-30 14:53] paulb777 commented on #1006
The Firebase frameworks should not be add to `copy-frameworks`. They contain static libraries that are linked at build time.

Please make sure you remove all of them, clean your environment, and retry.

If you're still having the issue, you'll likely need to share a reproducible example for us to help you further.

[2018-03-30 15:29] mikelehen commented on #1005
This may also be working by design unfortunately.  When you log out we're no longer able to get auth tokens for the previous user and so any writes that were previously queued (but not completed) are indefinitely stuck until you log in as that user again (at which point we'll start sending them again).  So if the writes are important to send right away, it's best to wait for them before signing ou

[2018-03-30 16:43] paulb777 opened #1008 "Block implicitly retains 'self' warnings in FSTSyncEngine.mm"
![screen shot 2018-03-30 at 9 41 49 am](https://user-images.githubusercontent.com/73870/38145552-b90356ee-33fe-11e8-9b56-ed8aa1091ba0.png)

[2018-03-30 17:02] protocol86 commented on #1007
Hi alexanderkhitev,

It seems like your issue is related to FirebaseUI-iOS which is a different repository. Could you move the issue to [the Firebase UI repo](https://github.com/firebase/FirebaseUI-iOS)? Can you also add all details about the error you encountered when trying to sign in again including the `code`, `description` and the `userInfo` if available.

[2018-03-30 17:05] #1007 closed

[2018-03-30 20:18] wilhuff commented on #988
Hi, I've been trying to reproduce this issue and haven't had any luck. The stack shows the standard flow to set up a connection wherein Firestore requests the token for the currently signed in user and then passes it on to gRPC to start up the connection. I'm able to sign in with a variety of accounts and Firestore is able to read data as expected.

Could you please give some more details:
  * Wha

[2018-03-30 23:28] dmandar commented on #625
@7er0 are you still seeing the issue? Would recommend upgrading to the latest SDK as Paul mentioned. Please post if you still experience issues.

[2018-03-30 23:33] #625 closed

[2018-03-31 00:40] dmandar commented on #875
Sounds like your app had a pending DL. Am not able to repro it atm on 11.2.6. Is this always repro for you? Please reopen if still happening.

[2018-03-31 00:40] #875 closed

[2018-03-31 02:47] terryworona commented on #1006
@paulb777 thanks that worked!

I previously tried removing all the Firebase* frameworks from `copy-frameworks`, but forgot the clean step. Duh. I should have known :) Rookie mistake.

Marking resolved. Thanks again.

[2018-03-31 02:47] #1006 closed

[2018-04-02 15:18] baolocdo commented on #990
Filed a bug at b/77468768

[2018-04-02 20:48] paulb777 commented on #9
- I updated the Carthage distribution with Firebase 4.11.0.
- It now [includes Functions, Firestore, and Invites](https://github.com/firebase/firebase-ios-sdk/blob/master/Carthage.md#carthage-usage).
- Instructions for adding the Resources in Firestore and Invites are [now available.](https://github.com/firebase/firebase-ios-sdk/blob/master/Carthage.md#carthage-usage)

Thanks to @blender for [help

[2018-04-02 21:41] olejnjak commented on #988
Hi, I've got the same problem.

My setup looks the same as @businessengine. But I am setting custom dispatch queue for Firebase callbacks using this code in my AppDelegate

[code]

With this setup my app crashes on _FIRESTORE INTERNAL ASSERTION FAILED: enterCheckedOperation may not be called when an operation is in progress_ assert as mentioned in this issue.

If I stick to the main thread it work

[2018-04-02 22:54] morganchen12 commented on #988
@mikelehen could this be caused by the new `enterCheckedOperation` changes if an `FSTDispatchQueue` is created with a concurrent queue like in the above example?

[2018-04-03 02:12] XiandWang commented on #1005
@morganchen12 You are right! After upgrading to the newest SDK, the bug was gone. I think it's fixed in  4.10.1 . Thank you!

[2018-04-03 02:21] #1005 closed

[2018-04-03 07:37] olejnjak commented on #988
I'll create a minimal example project if it would help (?) or maybe I could provide my project which is affected by this.

[2018-04-03 16:38] DuM4ll3 commented on #359
Hi, I'm having similar issues with screen tracking.

## **Environment**

- Xcode version: 9.2
- iOS version: 10
- Firebase SDK version: Firebase (4.10.1) / FirebaseAnalytics (4.1.0) / FirebaseCore (4.0.17)

## **Description**
`FIRAScreenViewReporter` is calling `viewDidLoad()` of a ViewController that has been initialized using `instantiateViewController(withIdentifier:)` .

### **Scenario**
I hav

[2018-04-03 17:12] morganchen12 commented on #359
This is a similar issue but doesn't seem to affect the page view controller case mentioned originally.

I'll take a look.

[2018-04-03 17:53] tooolbox opened #1019 "FSRWebsocket Crash - Mutating While Enumerating"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 9.2
  * Firebase SDK version: 4.8.1
  * Firebase Component: Database
  * Component version: 4.8.1

### [REQUIRED] Step 3: Describe the problem

I'm getting crashes in my Firebase dashboard from the following:
[code]
Comes from:
[code]
Which is [here](https://github.com/firebase/firebase-ios-sdk/blob/master/Firebase/Database/Core/

[2018-04-03 19:58] morganchen12 commented on #1019
Can you post the full stack trace?

[2018-04-03 20:07] tooolbox commented on #1019
Sorry!
[code]
Hm, rather annoying copying these things out of Crashlytics.

[2018-04-03 21:46] morganchen12 commented on #359
This is fixed and will be out in the next minor release.

[2018-04-04 07:51] DuM4ll3 commented on #359
So fast! Thank you

[2018-04-04 11:33] rerelease commented on #9
We're seeing a linker warning when using Firebase with Carthage

[code]

Any clue what's causing this? It still appears when `Link frameworks automatically` is disabled.

[2018-04-04 11:41] olejnjak commented on #9
@rerelease do you link empty `Firebase.framework`? You shouldn't https://github.com/firebase/firebase-ios-sdk/blob/master/Carthage.md#carthage-usage

[2018-04-04 20:37] karlolopez commented on #445
Same issue here, I deleted de document which ID was generating trouble with unsupported characters and still get firestore document has key instead of expected error.
As @tropicdome  said disabling presistence make it work but Im in production and dont know the consequences of this.

[code]

[2018-04-04 20:40] morganchen12 commented on #445
This happens because Firestore will try to load persisted values before receiving data from the server, since server availability isn't guaranteed.

If you upgrade Firestore, it should be able to load the cached values on your user's devices without crashing.

[2018-04-04 21:09] karlolopez commented on #445
Ive updated firestore and all firebase components and still had the issue.

[2018-04-04 21:27] morganchen12 commented on #445
Can you upload a sample project reproducing the bug? It should be fixed in the newest Firestore version.

[2018-04-05 13:02] herrernst commented on #186
Any update on this? [FirebaseInstanceID 2.0.3](https://github.com/CocoaPods/Specs/blob/master/Specs/3/6/0/FirebaseInstanceID/2.0.3/FirebaseInstanceID.podspec.json) removed the dependency on FirebaseCore, but [2.0.8](https://github.com/CocoaPods/Specs/blob/master/Specs/3/6/0/FirebaseInstanceID/2.0.8/FirebaseInstanceID.podspec.json) added it again. Any reason why?

[2018-04-05 13:41] paulb777 commented on #186
FirebaseInstanceID added dependencies to FirebaseCore for logging.

It's still the plan to open source FirebaseInstanceID but I can't give an update on timing.

[2018-04-05 13:55] paulb777 opened #1030 "Travis should fail on build warnings"
Catch regressions like #1029 faster

[2018-04-05 14:02] ryanwilson opened #1031 "Move FIRMessaging.h to use NS_ASSUME_NONNULL_BEGIN/END"
Currently `FIRMessaging.h` uses manual `nonnull` attributes, but this caused a build breakage since a method was added without `nonnull` since most other headers use the `NS_ASSUME_NONNULL_BEGIN/END` macros.

[2018-04-05 17:20] schmidt-sebastian commented on #940
@mariohahn Can you do us a favor and try this again with the RTDB SDK 4.10.0? We fixed a precision issue with int64 numbers (such as those returned  Date().timeIntervalSince1970) that affects queries that use persistence.

Furthermore, since we have been unable to reproduce this locally, it would help us to get your debug logs after all. To see these logs, pass "-FIRDebugEnabled" to your app on la

[2018-04-05 20:01] dmandar commented on #976
This should now be fixed. Please retest.

[2018-04-05 21:52] jyaunches opened #1034 "Auth.auth().sendSignInLink (xcode compilation error - method not available)"
* Xcode version:  9.2
  * Firebase SDK version: 4.9.0
  * Firebase Component: Auth
  * Component version: 4.4.3

### The problem

For the Auth library, I'm unable to call sendSignInLink. I get an xcode compilation error that the method is not available.

![screen shot 2018-04-05 at 5 44 49 pm](https://user-images.githubusercontent.com/372490/38393711-b26d396c-38f9-11e8-9ecf-52c871e99147.png)

I've

[2018-04-05 22:38] paulb777 commented on #1034
According to the [Change Log](https://github.com/firebase/firebase-ios-sdk/blob/master/Firebase/Auth/CHANGELOG.md), `sendSignInLink` was added in FirebaseAuth 4.5.0. Please `pod update` to the latest Firebase 4.11.0 that includes FirebaseAuth 4.5.0.

[2018-04-05 22:38] #1034 closed

[2018-04-05 23:53] #1031 closed

[2018-04-06 00:00] morganchen12 commented on #924
@vinayakpal there are a number of issues with your implementation, including issues not specifically related to Firebase.

Please move your question to StackOverflow and make sure to include any relevant error messages when running your project.

[2018-04-06 00:12] chliangGoogle commented on #936
Currently remote config only works with default project. We are aware of the demand for multiple FIRApp support and it's on our list of new features to add.

[2018-04-06 00:12] #936 closed

[2018-04-06 02:48] asifmujteba commented on #431
@levantAJ

[2018-04-06 13:06] moontecholabs commented on #816
We have provided exception message/logs above, now updated latest pod not facing again.

[2018-04-06 13:35] #816 closed

[2018-04-06 13:43] moontecholabs commented on #824
Does this only happen on subsequent fetches?
Looks like your expiration behavior may be causing infrequent refreshes.
-> Yes, we are calling multiple times this function.

[2018-04-06 14:13] #825 closed

[2018-04-06 15:17] jyaunches opened #1036 "'sharedApplication' is unavailable - xcode compilation error with Firebase 4.11.0 & FirebaseAuth 4.5.0"
* Xcode version: 9.2
  * Firebase SDK version: 4.11.0
  * Firebase Component: Auth
  * Component version: 4.5.0

### [REQUIRED] Step 3: Describe the problem

I'm running a Swift 4.0, iOS 11 app attempting to upgrade to the new Firebase 4.11.0 & FirebaseAuth 4.5.0.

My end purpose is to use Auth.auth().sendSignInLink capability, which is only available with these versions.

I'm getting the followin

[2018-04-06 15:46] morganchen12 commented on #824
Try setting the `expirationDuration` to `0` and seeing if you get refreshes immediately.

If not, please enable debug logging via `FIRConfiguration.sharedInstance().setLoggerLevel(.debug)` and post any relevant logs here.

[2018-04-06 17:47] protocol86 commented on #1036
@jyaunches,

Thanks for raising this issue. I have a quick question; are you building an App Extension?

cheers,
-Z

[2018-04-07 13:15] edisonjoao commented on #307
has anyone been able to solve this?
I'm legit going crazyyyy

[2018-04-07 17:29] jyaunches commented on #1036
By 'App Extension', do you mean framework? If so, nope! This is just a standard iOS client app!

![screen shot 2018-04-07 at 1 29 21 pm](https://user-images.githubusercontent.com/372490/38458086-b6bec2be-3a67-11e8-9d84-0221d0d95292.png)

[2018-04-07 17:56] paulb777 commented on #1036
From your screen shot, it looks like OneSignalNotificationServiceExtension is an extension.

It's not valid to use UIApplication in an app extension and Firebase doesn't officially support app extensions.

[2018-04-07 19:29] jyaunches commented on #1036
You know.. your earlier question made me go back and look at the Podfile again. With the earlier version of the Cocoapod, I had moved it outside this target to make it available for the unit test suite. This may not be a good practice. Either way, I got things working by putting the pod specifications back inside the project target.

So, I'm good! Thanks for you time.

![screen shot 2018-04-07 at

[2018-04-07 20:04] #1036 closed

[2018-04-08 05:24] hiragram commented on #344
I am facing same issue.

I don't use cocoapods. When I call `addDocument`, my app will crash.

Are there any solution?

[code]

[2018-04-08 05:25] hiragram commented on #344
please help @morganchen12

[2018-04-08 07:31] CastleChe commented on #431
@JienLee @AzenXu @rdamiano
We are going to work around this problem by redirecting all -[NSUserDefaults setObject:forKey:] to main queue. This is ugly but it should work.

[2018-04-08 13:28] mikelehen commented on #988
@morganchen12 Almost certainly, but we're not sure how.

@olejnjak We looked into this before but weren't able to reproduce it or come up with a likely cause, so a minimal example would be extremely helpful.  Thanks!

[2018-04-08 13:44] mikelehen commented on #961
The iOS client treats custom claims exactly the same as any other auth token so this is likely an issue with your rules. This probably isn't the best place for rules questions and without a more complete example (including all of the data that your rules depend on) it will probably be difficult for somebody to help you.  If you're still stuck, perhaps post on the [google-cloud-firsetore-discuss](h

[2018-04-08 13:44] #961 closed

[2018-04-08 14:26] olejnjak commented on #988
Here it is. It is not exactly minimal example as I am now busy. Just packed my project which contains almost nothing so it can be considered minimal.

[CarManager.zip](https://github.com/firebase/firebase-ios-sdk/files/1887534/CarManager.zip)

[2018-04-08 16:53] morganchen12 commented on #344
@hiragram can you make a new issue and share the project?

[2018-04-08 18:33] joerozek opened #1045 "[Firestore] Potential cache issue with Snapshot listener results."
### Environment

  * Xcode version: 9.3
  * Firebase SDK version: 4.11 (also reproduced in 4.4 before updating)
  * Firebase Component: Firestore
  * Component version: 0.10.4  (also reproduce in 0.8 before update )

### Problem

#### Steps to reproduce:

I have a snapshot listener set up to watch a query.  When I delete a record that the query matches.
 the listener fires three times.  I've confi

[2018-04-08 22:26] paulb777 opened #1046 "7 new warnings building Messaging"
<img width="1071" alt="screen shot 2018-04-08 at 3 24 26 pm" src="https://user-images.githubusercontent.com/73870/38473216-1093553c-3b41-11e8-95f3-3b7ac8e0a3d5.png">

[2018-04-09 06:40] Botz commented on #976
Do i have to update the SDK? Because the new version(4.12) isn't available with cocoapods

[2018-04-09 08:30] eironeia commented on #1019
Having the same issue, any solution or reason? Thanks!

[2018-04-09 12:38] vinayakpal commented on #924
@morganchen12  I recently found that i forgot to enable keychain sharing in App Capability section. But later on I enable that but still no progress found in login. can you please help this regarding this keychain issue.

[2018-04-09 13:19] mikelehen commented on #1045
Thanks for the report!  I believe this is likely a manifestation of a known issue that we're working on.  We'll update here once it's resolved.

@wilhuff I think this will be fixed by b/33446471.

[2018-04-09 15:51] morganchen12 commented on #976
The fix hasn't been released yet. We'll close the ticket when the next binary is released.

[2018-04-09 16:25] joerozek commented on #1045
Thanks

[2018-04-09 17:37] paulb777 commented on #819
cc:@protocol86, @morganchen12 @wilhuff @chliangGoogle @schmidt-sebastian @ryanwilson @bklimt

Now that master is targeting the next major release, we're converting to the policy of closing issues when the fix goes into master for the open source pods. Closed source pods should still leave issues open and use the "next" tags until the release.

For now, please use a comment to identify the release

[2018-04-09 17:37] #819 closed

[2018-04-09 18:06] morganchen12 commented on #819
Previously released future minor releases have been moved to the `released` tag.

After the next major release, we should be able to mark all the `future x release` tags as `released` and remove the future release tags entirely.

[2018-04-09 18:29] dmandar commented on #976
@Botz this is now working for me with the currently available version (FDL 2.3.2)..sorry should have mentioned that. Can you try again?

[2018-04-09 19:29] edenman opened #1052 "Crash in FIRAAppDelegateProxy application:openURL"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 9.3
  * Firebase SDK version: Firebase/Core 4.10.1
  * Firebase Component: Core
  * Component versions:
[code]

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

Crash report received on Bugsnag.  I can't repro the issue.

#### Relevant Code:

[code]
#### Stacktrace:

[code]

I do have an implementation of `f

[2018-04-09 22:55] edenman commented on #1052
Maybe worth noting: I just released the version of our app that upgrades to Firebase/Core 4.10.1 this morning.  The crash has happened three times, to two separate users.  I tried testing out our deep link support and it works fine, so there's something I'm not seeing about the cause here.

[2018-04-10 00:08] #1019 closed

[2018-04-10 05:39] bitoshub commented on #1052
I got same issue.

xcode 9.2 is fine

xcode 9.3 build is ok, when i run my app, got crash
my podfile.
    pod 'Firebase/Core'
    pod 'Firebase/Crash'
    pod 'Firebase/DynamicLinks'

I installed
Installing Firebase (4.11.0)
Installing FirebaseAnalytics (4.1.0)
Installing FirebaseCore (4.0.18)
Installing FirebaseCrash (2.0.2)
Installing FirebaseDynamicLinks (2.3.2)
Installing FirebaseInstanceID (2

[2018-04-10 07:48] Drusy commented on #9
Having the same problem @rerelease, having the `import Firebase` statement produces this warning.
Replacing with any other library works `import FirebaseCore` for example or `import FirebaseAnalytics`.

[2018-04-10 09:03] patpawasantanon opened #1059 "Crash in FIRAIdentity updateIdentifiers"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 9.2
  * Firebase SDK version: 4.8.2
  * Firebase Component: Core, Messaging
  * Component version:
- Firebase/AdMob (4.8.2):
    - Firebase/Core
    - Google-Mobile-Ads-SDK (= 7.27.0)
  - Firebase/Core (4.8.2):
    - FirebaseAnalytics (= 4.0.9)
    - FirebaseCore (= 4.0.14)
  - Firebase/Messaging (4.8.2):
    - Firebase/Core

[2018-04-10 09:46] cdjinwei opened #1060 "I got a Domain error when post data to Cloud FireStore"
### when i run those code blow,i got a domain error
#### my code(just same as FireBase`s document),and i have the config file "GoogleService-Info.plist",also initialzed FireBase
[code]
[code]
#### what error i got
[code]
#### its seems like firesbase is ready to post data to server, but client cant connect to server cause of  the FIRFirestoreErrorDomain,every data is saved in local cache, so i can

[2018-04-10 14:15] paulb777 commented on #252
Closed by #1049

[2018-04-10 14:15] #252 closed

[2018-04-10 14:17] prsolucoes commented on #9
How to add this repository to Carthage? Only need paste that lines "binary ..." to the Cartfile?

[2018-04-10 14:18] paulb777 commented on #819
I just deleted the Future tags in favor of Milestones and created 4.12.0, M24, M25, and M26 milestones.

Now we can put a milestone on issues and PRs **once** and manage the timing from the milestone editor. Users can check if a milestone is available via CocoaPods on whether it is open or closed.  We can rename a milestone from M* to a version number when the release branch gets cut.

[2018-04-10 14:19] floriangbh commented on #9
README : https://github.com/firebase/firebase-ios-sdk/blob/master/Carthage.md#carthage-usage

[2018-04-10 14:24] paulb777 commented on #9
@prsolucoes Does #1061 answer your question?

[2018-04-10 14:34] prsolucoes commented on #9
Yes. In my opinion, i think that something more clear as "paste de following lines into your Cartfile" will be easier to carthage newbies like me auhahuahuahuahua. But i understand that is paste lines and im testing now.

[2018-04-10 14:53] prsolucoes commented on #9
Hi,

After include this reps:

[code]

And carthage build, i have include the frameworks, but got error:

[code]

[2018-04-10 15:34] morganchen12 commented on #1059
This suggests something weird going on in your app and may not be caused by Firebase, since `NSDate timeIntervalSinceNow` should definitely not be causing crashes in `objc_msgSend`.

We won't be able to effectively debug this crash without repro steps.

[2018-04-10 15:39] morganchen12 commented on #1060
Are you able to read and write data to Firestore via the Firebase Console? If so, your network connection shouldn't be the issue.

[2018-04-10 17:12] kasyanov-ms commented on #9
I've just deleted that framework, and all works well

[2018-04-10 17:50] prsolucoes commented on #9
I can ignore it? Remove it from my build and copy-framework?

[2018-04-10 18:21] prsolucoes commented on #9
Today im using all of this:

![image](https://user-images.githubusercontent.com/395096/38575849-c83b06ac-3cd2-11e8-87cc-b90d3334b319.png)

To use Analytics and Messaging parts.

[2018-04-10 19:42] coolgastjen commented on #1052
I can confirm this issue.

Crash when running xcode 9.3.
` FirebaseApp.configure()`

Went and grabbed xcode 9.2 from Apple and there the code runs just fine without any changes.

However, when setting up a new target inside 9.3 and creating a new project in Firebase, it runs fine.
Existing targets crash, while new once work fine. Same code for all targets.

Running latest Firebase SDK

[2018-04-10 19:53] paulb777 commented on #1052
Thanks for the info. Perhaps it's something related to Xcode options.

We haven't yet been able to reproduce. Is anyone able to share a reproducible example?

[2018-04-11 00:57] cdjinwei commented on #1060
when im testing,all request are accessible to database
`
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write;
    }
  }
}
`

[2018-04-11 01:29] wilhuff commented on #1060
Are you by chance based out of China?

[2018-04-11 01:37] wilhuff commented on #1060
Alternatively can you verify that when you run a REST-based get you get a response from the Firestore service?

For example, if you run this (for the same document in your log above):
[code]
You should see output like this:
[code]

[2018-04-11 01:52] cdjinwei commented on #1060
yes,im a chinese developer, and i think my network environment allow my app to connect to google

[2018-04-11 01:58] wilhuff commented on #1060
So does the `curl` request work?

[2018-04-11 02:02] cdjinwei commented on #1060
i got this

`curl: (35) LibreSSL SSL_connect: SSL_ERROR_SYSCALL in connection to firestore.googleapis.com:443
`

[2018-04-11 02:05] cdjinwei commented on #1060
sorry ,i forgot something ,now i got this
[code]

[2018-04-11 02:31] paulb777 commented on #359
The fix will go out with the next minor release of Firebase. Follow the milestone tag for more details.

[2018-04-11 02:31] #359 closed

[2018-04-11 03:24] vishalcnz commented on #898
@paulb777  Thanks for reply

I am facing problem. When ever i try to install pod and try to run project it gives me error  like

[code]

I am trying to install this pods
[code]

[2018-04-11 03:57] wilhuff commented on #1060
So `FIRFirestoreErrorDomain` here is somewhat misleading. Every `NSError` should have a “domain” and a “code” and in this case, the domain is telling you that Firestore originated the error and the code 14 is that the service is “unavailable”. The underlying detail supplied by grpc indicates that what’s happening is that the client cannot connect to the server.

Meanwhile we know the service to be

[2018-04-11 04:36] vishalcnz commented on #898
Hello now i am trying this one

[code]
I tried
[code]
and then
[code]
But still facing same problem

[2018-04-11 04:57] vishalcnz commented on #898
It's works fine if i comment ``` FirebaseCoreVersionString``` in  ``` FIRVersion.h```  like this

[code]

[2018-04-11 05:39] cdjinwei commented on #1060
Thanks for your so long replay,it's helpful.
All of my internet request are via an HTTP proxy so they can really reach remote server,but i still cant understand why my android deivce can work,Maybe my IOS device's network got some problem.
I will check it again carefully.

[2018-04-11 06:04] wilhuff commented on #1060
My guess is that this is just a difference between the Android gRPC and iOS gRPC.

Android uses grpc-java, which in turn uses okhttp which appears to honor the system proxy settings. The iOS gRPC is based on the grpc C core, and I don't see anything in that repository that appears to interact with the system settings for http proxies. To make this work you'll need to set the http_proxy environment

[2018-04-11 06:41] Saurman commented on #337
Hello, I am still getting this issue. Obj-c project, using only Firebase analytics (pod Firebase/Core). App works fine in Debug mode but instantly crashes on [FIRApp configure] if archived (Release) and installed

[2018-04-11 07:02] coolgastjen commented on #1052
4.12.0 fixed the issue

[2018-04-11 07:04] satroschenko opened #1069 "Crash in Firestore in offline mode"
* Xcode version: Version 9.3 (9E145)
  * Firebase SDK version:
[code]
  * Firebase Component: Firestore

### The problem
My app crashes when it launches in offline mode.

### Steps to reproduce:
1. Go to offline mode (Turn off the internet connection)
2. Lauch app.
3. Kill the app.
4. Launch app again.

Actual result: The application crashes

[code]

[2018-04-11 08:32] wilhuff commented on #1069
Given the steps you describe I can't reproduce this problem, in any of these releases:

  * Firebase 4.10.1 / FirebaseFirestore 0.10.3 (the one from your report)
  * Firebase 4.11.0 / FirebaseFirestore 0.10.4
  * Firebase 4.12.0 / FirebaseFirestore 0.11.0 (released yesterday)

I also tried 4.10.1 on a device running iOS 11.3 but couldn't see this there either.

The failure you're encountering happ

[2018-04-11 08:40] satroschenko commented on #1069
I forgot some details:
This bug is reproducing only in Release build. Not in Debug.
Step 3 - is mandatory. We have to kill app, before launching.

[2018-04-11 09:49] sacrificar commented on #466
Hello, is this issue solved? I have a same problem with @matiasvillaverde and couldn't find the solution yet. Could some one tell me how to solve this problem.

[2018-04-11 10:59] pulimento commented on #357
I'm getting this very same error. Using it from Xamarin.iOS

* Compiling against iOS 11.3. Xamarin.iOS 11.9.1.24 (latest)
* Network: Orange Spain. Tried wi-fi and cellular.
* Xamarin.Firebase.iOS.CloudMessaging NuGet package (with Firebase.iOS.Core 4.0.13)
* ATS: Default configuration. (no exceptions)
* Device: iPhone 7, iOS 11.3

The error I'm getting:

[2018-04-11 13:24] paulb777 commented on #337
@Saurman It may be that you're running into #1052 that others have reported occurs in Xcode 9.3 but not 9.2.

[2018-04-11 13:46] paulb777 commented on #898
@vishalcnz That error sounds strange. Do you have code that redefines the FOUNDATION_EXPORT macro?  What are the object files that the duplicate symbols come from?

[2018-04-11 16:37] coolgastjen commented on #337
Still having this issue and using 4.12.0

I did notice that changing the bundlename to another name resolves the crash. That is also the reasen why new apps work fine when created in 9.3, but apps created before 9.3 crash at FIRApp configure.
Both app run exactly the same code.

However. This is not an option because we do not want to release the app as a new app.

We rolled back to xcode 9.2 and

[2018-04-11 18:18] paulb777 commented on #9
@kasyanov-ms @prsolucoes I deployed Firebase 4.12.0 to Carthage and fixed the FirebaseCoreDiagnostics error in the process.

I'm not able to reproduce the "This app could not be installed at this time." issue. If that's still occurring for you, please create another issue with details on how to reproduce.

[2018-04-11 18:24] prsolucoes commented on #9
Hi @paulb777, Thanks for the update. But FirebaseCoreDiagnostics is needly or not?

[2018-04-11 18:42] olejnjak commented on #988
I was trying with the latest release (4.12) but I am unable to install it using Carthage...
[code]

Deleting `~/Library/Caches/org.carthage.CarthageKit` did not help

[2018-04-11 18:48] paulb777 commented on #988
@olejnjak That really looks like a stale cache error. Are you able to download https://dl.google.com/dl/firebase/ios/carthage/4.12.0/Firestore-87a804ab561d91db.zip from a browser?

[2018-04-11 19:02] olejnjak commented on #988
But the problem persists

[2018-04-11 19:06] paulb777 commented on #988
I'm not sure why the cache isn't updating.  One workaround might be manually updating the zero lengthed ./FirebaseFirestoreBinary/4.12.0/Firestore-87a804ab561d91db.zip in the Cache with the one downloaded from a web url.

[2018-04-11 19:20] olejnjak commented on #988
By the problem I mean the "FIRESTORE INTERNAL ASSERTION FAILED: enterCheckedOperation may not be called when an operation is in progress" exception :-)

[2018-04-11 19:25] EugeneGordin2303 opened #1071 "Unresolved identifier 'HTTPMetric' when using Firebase Performance"
I'm trying to add FirebasePerformance to my app. For adding monitoring for specific network requests I used the example from here: https://firebase.google.com/docs/perf-mon/get-started-ios

However, I get "Unresolved identifier 'HTTPMetric' ". I do have imports for Firebase & FirebasePerformance in my .swift class.

I used pod 'Firebase/Performance' to add FirebasePerformance to my app. So I notic

[2018-04-11 19:26] halinebr opened #1072 "NSInvalidArgumentException, reason: 'data parameter is nil' when parsing FIRUser IDToken"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2018-04-11 19:44] var-const commented on #988
@olejnjak Just wanted to let you know that I could reproduce the issue using the project you uploaded. I [fixed](https://github.com/firebase/firebase-ios-sdk/commit/9f02fa6b2ee1bfac85b20907693c0afdb1d274b5#diff-8470e7048f44b5ce9fcfbb0024967f09) a race condition which could be connected to the error, but haven't verified yet that it resolves the error you're seeing. I'll continue working on this is

[2018-04-11 20:25] olejnjak commented on #988
Cool, so do we agree that it's an error inside Firestore and not the client code?

[2018-04-11 20:36] wilhuff commented on #988
Based on our current line of investigation, yes that seems to be the case, but we haven't yet confirmed one way or the other.

[2018-04-11 20:36] morganchen12 commented on #1071
What are the contents of your `Podfile.lock`?

[2018-04-11 20:41] wilhuff commented on #1069
I have good news and bad news.

The good news is that I've managed to reproduce the issue and found a way to attach a debugger as the process was crashing. Starting out with the debugger attached would not reproduce.

The bad news is that this appears to be a flaw in gRPC's handling of `SCNetworkReachability` events. In this particular configuration there's a race between the construction of the R

[2018-04-11 21:08] JaredHalpern commented on #1072
I was just coming here to report this. I'm seeing it, along with 2 others - https://stackoverflow.com/questions/49771555/firebase-auth-error-data-parameter-is-nil-calling-getidtokenforcingrefresh

Easy repro (will crash):

[code]

[2018-04-11 21:11] vishalcnz commented on #898
@paulb777

It's come from this two files

[code]

[2018-04-11 22:07] EugeneGordin2303 commented on #1071
`PODS:
  - Alamofire (4.5.1)
  - AlamofireImage (3.3.0):
    - Alamofire (~> 4.5)
  - AlamofireNetworkActivityIndicator (2.2.0):
    - Alamofire (~> 4.5)
  - CocoaLumberjack/Core (3.0.0)
  - CocoaLumberjack/Default (3.0.0):
    - CocoaLumberjack/Core
  - CocoaLumberjack/Extensions (3.0.0):
    - CocoaLumberjack/Default
  - CocoaLumberjack/Swift (3.0.0):
    - CocoaLumberjack/Extensions
  - Crashly

[2018-04-11 22:40] morganchen12 commented on #1071
Does running `pod update` make the issue go away?

[2018-04-11 23:03] EugeneGordin2303 commented on #1071
oh wow, it actually does! thank you!

[2018-04-11 23:28] #1071 closed

[2018-04-12 08:16] xbauquet commented on #1072
It seems like Firebase found a workaround. If you run `pod install` a few library are downgraded:

    Installing Firebase 4.5.0 (was 4.12.0)
    Installing FirebaseAnalytics 4.0.4 (was 4.1.0)
    Installing FirebaseAuth 4.3.1 (was 4.6.0)
    Installing FirebaseCore 4.0.10 (was 4.0.19)
    Installing FirebaseMessaging 2.0.6 (was 2.2.0)

After that it's working again.

[2018-04-12 09:12] xuaninbox commented on #1072
I'm seeing the same issue but was able to fix it by

- first logout on the prod (store) build
- install & login on the debug build

[2018-04-12 14:16] opotapov-sygic commented on #1072
Gosh. Our team spent 5 h on this task, thanks for hint to roll back to 4.11.0

[2018-04-12 14:53] JaredHalpern commented on #1072
When someone gets this working with downgraded Pods, it would be helpful to paste the `Podfile` in this thread for others.

[2018-04-12 15:26] JaredHalpern commented on #1072
I'm able to successfully use the below versions in my project. If you run `pod install`, Cocoapods will resolve dependencies for whatever is not in your `Podfile.lock`. As per Cocoapods [docs](https://guides.cocoapods.org/using/pod-install-vs-update.html),

My suggestion is to try replacing references to Firebase in your Podfile.lock with the following, until this issue is resolved by the Firebase

[2018-04-12 15:29] prsolucoes commented on #9
Now with the new version everything is working and compiling, but when i run i get the error:

![image](https://user-images.githubusercontent.com/395096/38687450-1aebaf98-3e4d-11e8-9d59-7d77eea3b515.png)

[2018-04-12 15:57] olejnjak commented on #9
@prsolucoes i think that this might be some problem with your project configuration...

[2018-04-12 16:19] bryanbartow commented on #1072
We are also experiencing the same issue.

[2018-04-12 16:27] JaredHalpern commented on #1072
@bryanbartow try rolling back in the interim. Worked for us and we're able to keep moving forward.

[2018-04-12 16:39] bryanbartow commented on #1072
@JaredHalpern Yep. Just rolled back to 4.11.0 and everything is back to normal. Thanks.

[2018-04-12 17:03] KimAM commented on #1052
Got the same thing in my app:

These are crashreports from Crashlytics:

[code]

Haven't been able to reproduce. This happened on both iOS 11.3 and 11.2.6 on all kinds of devices. A common thing for them all is that the device is low on RAM.

[2018-04-12 17:09] paulb777 commented on #1072
We're working on a fix. In the meantime, you can workaround by rolling Firebase back to 4.11.0 with FirebaseAuth 4.5.0.

[2018-04-12 18:12] prsolucoes commented on #9
@olejnjak @paulb777  No guys, dont be a problem here. I create an empty and simple new project, add carthage file, download the frameworks, link into the project and the same problem happen. If i remove all from firebase, the project back to work:

The repository that i create only to test firebase and carthage:
https://github.com/prsolucoes/firebase

[2018-04-12 19:52] prsolucoes commented on #9
@olejnjak @paulb777 Hi. I made more command line tool in my sample project (https://github.com/prsolucoes/firebase). After run on simulator (make run-simulator) i got error:

[code]

I think that it can be a clue.

Can you check?

[2018-04-12 20:04] prsolucoes commented on #9
Hi @olejnjak and @paulb777,

I solved it changing manually all info.plist as i sad and it is working now:

[code]

Now you only need correct all the frameworks to have individual bundle-id. What i do is change to **"com.firebase.Firebase + . + [Framework Name]"**

[2018-04-12 20:09] rerelease commented on #9
@prsolucoes these are static frameworks, you are not supposed to add them to the `copy-frameworks` script

[2018-04-12 20:45] prsolucoes commented on #9
Hi,

So, i dont need add anyone too copy-framework?

![image](https://user-images.githubusercontent.com/395096/38703298-45f7b714-3e79-11e8-90f8-07677dfddc6c.png)

Thanks.

[2018-04-12 20:56] paulb777 commented on #9
Right - the Firebase frameworks are all static and linked at build time and don't need to be copied for runtime linking.

[2018-04-12 21:13] prsolucoes commented on #9
Hi,

I have updated everything and all is working.

I change all the project and make a sample that receive a message from Firebase console and show a push message. It is nice. With carthage support and makefile to help users.

Thanks for all support guys. Here is the repository:

https://github.com/prsolucoes/firebase

[2018-04-13 00:38] paulb777 commented on #1072
The fix has been pushed to master from #1076 and we're working to get a [4.12.1 release](https://github.com/firebase/firebase-ios-sdk/milestone/3) deployed.

See the instructions [here](https://github.com/firebase/firebase-ios-sdk#step-by-step-source-pod-installation-instructions) and use the 'master' tag if you'd like to try out the fix earlier.

[2018-04-13 00:38] #1072 closed

[2018-04-13 00:42] JaredHalpern commented on #1072
Thank you @paulb777 & @morganchen12 !

[2018-04-13 07:06] jkmartin19 commented on #1052
I'm seeing the same issue after building my app from Xcode 9.3. My app authenticates with Spotify and when my app's URLScheme is opened from Safari, the app crashes. It never makes it to `application(_ application: UIApplication, open url: URL, sourceApplication: String?, annotation: Any) -> Bool` where I handle the login.

[2018-04-13 08:24] cxjwin commented on #581
https://stackoverflow.com/questions/11221110/my-isa-swizzling-breaks-kvo

[2018-04-13 08:25] cxjwin commented on #581
Is firebase use custom isa-swizzling ?

[2018-04-13 08:43] mortenbekditlevsen commented on #9
Hi there,
I have a question about the Carthage support help page.

Under Static Frameworks it is stated that:
"Note that the Firebase frameworks in the distribution include static libraries. While it is fine to link these into apps, it will generally not work to depend on them from wrapper dynamic frameworks."

Could this comment be elaborated?
Is it a generic logical issue with static libs inside

[2018-04-13 15:09] EmDee commented on #1052
We just had a very similar issue at our end. 100% reproducible as well.

Our issue happened due to authentication with the Facebook SDK (so probably similar to @jkmartin19's issue). When logging in with the Facebook App (note: doesn't happen when logging in through the Facebook website), the Facebook callback is most likely calling `application(_:open:sourceApplication:annotation:)`, which then le

[2018-04-13 15:29] paulb777 commented on #9
@mortenbekditlevsen  Thanks for the feedback!

Yes - it's a general issue about how static and dynamic linking works.  Static linking happens at build time. Dynamic linking happens at run time. if a dynamic library depends upon a static library, that static library will be loaded at runtime, which it isn't necessarily built to do.  When a second dynamic library is linked that depends on the same s

[2018-04-13 15:46] LaurentLK commented on #1052
We had the same crashes and it's related to a bug in swift 4.1 / XCode 9.3 reported here :

https://bugs.swift.org/browse/SR-7240?focusedCommentId=33771&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-33771

Our crashes were reproducible when opening a deep link.

And as @EmDee it was because we had implemented :

`    func application(_ application: UIApplication,

[2018-04-13 17:23] paulb777 opened #1091 "Address tvOS build warnings in FirebaseCore"
Validating spec
 -> FirebaseCore (5.0.0)
    - WARN  | [tvOS] xcodebuild:  FirebaseCore/Firebase/Core/FIRLogger.m:105:24: warning: 'asl_open' is deprecated: first deprecated in tvOS 10.0 - os_log(3) has replaced asl(3); see os_log_create(3) [-Wdeprecated-declarations]
    - NOTE  | [tvOS] xcodebuild:  /Applications/Xcode9.2.app/Contents/Developer/Platforms/AppleTVSimulator.platform/Developer/SDKs/

[2018-04-13 17:33] EmDee commented on #1052
Please note for those that can’t just remove that delegate call: In @LaurentLK’s link there is a very simple workaround fix, which I’ve seen in other people’s code as well, where you only have to change the `annotation` type from `Any` to `Any?`.

[2018-04-13 20:41] edenman commented on #1052
I had suspected the upgrade from Firebase 4.10.0 to 4.10.1 as the issue, so I downgraded back to 4.10.0, but the issue is still happening.  Definitely doesn't seem like an actual issue with Firebase SDK at this point, I'm just gonna upgrade to 4.12.0 and make a release with the above workaround.  @paulb777 feel free to close this if you want?  Thanks all!

[2018-04-13 21:26] mortenbekditlevsen commented on #9
Thanks, @paulb777 ,

So am I correct in assuming, that if only one dynamic library has the static libraries linked, then you will only ever have one copy of the static libraries loaded, and you will get no inderterminism in that regard?

[2018-04-13 21:39] morganchen12 commented on #9
@mortenbekditlevsen that's correct.

[2018-04-13 23:58] paulb777 commented on #1052
Thanks everyone for the research, analysis and shares! 💯

[2018-04-13 23:58] #1052 closed

[2018-04-14 00:14] paulb777 commented on #1072
4.13.0 is now published to CocoaPods with fix.

[2018-04-14 11:01] olejnjak commented on #9
I was also wondering, since Crashlytics are now part of Firebase and are the default crash reporting tool, can we expect official Carthage support? I mean different than "some guys" repo (https://github.com/Carthage/Carthage/issues/2036)?

[2018-04-14 12:24] schlingding commented on #9
+1 for Fabric/Crashlytics inclusion. I am waiting for this inclusion before I switch from my current Firebase solution.

[2018-04-14 23:33] baolocdo commented on #1059
Track internal bug at b/78059673

[2018-04-15 23:11] seejayuu opened #1110 "Xcode linker error "symbol not found" when using -all_load linker flag"
* Xcode version: 9.3
  * Firebase iOS SDK version: 4.13.0

When I build my Firebase app using the -all_load linker flag, I get the following error:

Undefined symbols for architecture x86_64:
  "firebase::invites::internal::InvitesReceiverInternalIos::InvitesReceiverInternalIos(firebase::App const&)", referenced from:
      firebase::invites::internal::InvitesReceiverInternal::CreateInstance(fireb

[2018-04-16 00:16] #1091 closed, assigned to nobody

[2018-04-16 00:28] paulb777 commented on #1110
@wilhuff  Might be fixed by the M25 build system switch?

[2018-04-16 09:15] hoangtam101 commented on #990
I still this bugs in the lasted version.

[2018-04-16 17:14] var-const commented on #988
@olejnjak To give a progress update, we've been able to identify the issue. It's triggered by configuring `FirestoreSettings` to use a concurrent queue, so for a quick workaround, you could change that to use a serial queue (which is the default). I'll continue working on fixing this and will post an update when I have it.

[2018-04-16 17:24] olejnjak commented on #988
Nice, thanks :-)

[2018-04-16 20:47] morganchen12 commented on #1046
Looks like this was fixed by @chliangGoogle in 609cd03.

[2018-04-16 20:47] #1046 closed

[2018-04-16 20:54] TKBurner commented on #9
Todd from Crashlytics here. Right now we don't have plans for official Carthage support, but all previous workarounds should continue to work in the new system. Thanks! 👍

[2018-04-16 21:09] Saurman commented on #337
thats not an option for me

[2018-04-17 00:14] businessengine commented on #988
Cool, we will use the default queue in the meantime.

[2018-04-17 08:47] levantAJ commented on #431
@katowulf Hi, can you please confirm is this issue is fixed and included in latest sdk (4.13.0)? Thanks.

[2018-04-17 18:41] yusuftor opened #1127 "Accessing custom claims always crashes"
* Xcode version: 9.3
  * Firebase SDK version: 4.13.0
  * Firebase Component: Auth

Whenever I try to access the custom claims from my token, the app crashes. My code

[code]

At the line where it crashes it says `Thread 1: EXC_BAD_INSTRUCTION (code=EXC_I386_INVOP, subcode=0x0)` which isn't helpful. The claims are implemented correctly because I'm currently using a third party library to decode th

[2018-04-17 18:53] morganchen12 commented on #1127
Can you give the stack trace of the crash? `EXC_BAD_INSTRUCTION` is usually a force-unwrap error when running on iOS Simulator or Mac architectures. In your code it looks like `claims` should be an optional and the `guard` line should be

[code]

[2018-04-17 20:12] yusuftor commented on #1127
@morganchen12 `claims` isn't an optional so I can't use a `?` on it in a guard (it gives me an error if I do).
Stack trace:

[code]

[2018-04-17 20:35] morganchen12 commented on #1127
Looks like the app is crashing when trying to bridge the `claims` dictionary from ObjC to Swift. Can you post the contents of the `claims` dictionary?

You may have a hard time doing this, since it'll probably crash your code on access. Otherwise, can you share a project that reproduces this issue?

[2018-04-17 21:03] yusuftor commented on #1127
Ah hold on, it looks like this user that I'm using hasn't got custom claims associated with them! I just tried and there's no claims dictionary. So it's crashing when the claims don't exist. I guess `claims` should be an optional to handle this case. Because I only recently introduced claims into the users profile, so only affects recent users.

[2018-04-17 21:26] morganchen12 commented on #1127
@yusuftor can you share the ID token of one of these users? `claims` shouldn't ever be `nil`, even in the case when there are no claims. In that case it should just return an empty dictionary instead.

[2018-04-17 21:54] Nailer commented on #1072
Still having this issue on 4.13. Rolling back to 4.11 for now. This really happened at an inopportune moment... That should teach me to update my pods right before release :/

[2018-04-17 22:32] Nailer commented on #1072
Downgrading the library gives me the following linker error:

Undefined symbols for architecture arm64:
  "_kFIRLoggerSwizzler", referenced from:
      ___63+[FIRSwizzler swizzleClass:selector:isClassSelector:withBlock:]_block_invoke in FirebaseMethodSwizzler(FIRSwizzler_360b26e2244d68994ab8f6788d06111b.o)
ld: symbol(s) not found for architecture arm64

Tried just about everything, still no go.

[2018-04-17 23:43] paulb777 commented on #1072
If anyone is having this issue on 4.13.0, please open a new issue and share your backtrace, Podfile, and Podfile.lock

[2018-04-18 07:48] benjaminpwarren commented on #1045
I'm having a similar issue where an onSnapshot fires multiple times, the first time with only one of the expected docs, the second time with all of the expected docs. Could this be related?

Note: I'm not writing/deleting any data, this is just when I set up the listener on page load.

[2018-04-18 08:45] yusuftor commented on #1127
sure:

eyJhbGciOiJSUzI1NiIsImtpZCI6ImZlZjg5YmE3MjEyNmU1NGZkZDUwYzkxOWI3YWRiNWUyNmYwMjk5Y2YifQ.eyJpc3MiOiJodHRwczovL3NlY3VyZXRva2VuLmdvb2dsZS5jb20vcWphbS1maXJlYmFzZS1zdGFnaW5nIiwibmFtZSI6Ill1c3VmIiwicGljdHVyZSI6Imh0dHBzOi8vZmlyZWJhc2VzdG9yYWdlLmdvb2dsZWFwaXMuY29tL3YwL2IvcWphbS1maXJlYmFzZS1zdGFnaW5nLmFwcHNwb3QuY29tL28vcHJvZmlsZUltYWdlcyUyRmFJY1F0Qk9HUDRlQWdadnhoMGVtYUhHQ01OZjElMkY4OEUwNUI2Ni02MEYyLT

[2018-04-18 09:52] tapannathvani commented on #924
We are facing the same issue, Just update the POD file and enabled key chain sharing also. Google sign in not coming back to the App. And it works well in iOS 11 but not in iOS 10.2.1. Any update ?

[2018-04-18 14:26] bryanbartow commented on #1072
@Nailer Same here. Looks like Google sign in works, but now Facebook sign in is broken.

[2018-04-18 14:59] Nailer commented on #1072
@bryanbartow Yeah! That's exactly the login type I was struggling with yesterday. Holy adrenaline-fueled batman what a ride it was too. It was midnight, and I needed to get that stuff sent to apple for review. 0/10 would not recommend.

[2018-04-18 16:04] protocol86 commented on #1072
@bryanbartow Are you getting an error/exception when signing into Facebook? Or when refreshing/force refreshing the token? Is it the same error at the beginning of this thread?

[2018-04-18 16:46] bryanbartow commented on #1072
@protocol86 Crashing on `[FIRUser parseIDToken:error:]`. It's the same error I was getting earlier.

[2018-04-18 17:00] morganchen12 commented on #1072
@bryanbartow please post a new issue with your stack trace and Firebase versions.

[2018-04-18 17:43] morganchen12 commented on #1127
Looks like this user token generates a valid claims dictionary just fine. Can you share your project?

[2018-04-18 19:52] morganchen12 commented on #1127
We've identified the issue. The claims dictionary is annotated as a `[String: String]` type, but it may contain non-string objects.

[2018-04-18 20:48] yusuftor commented on #1127
Great, thank you!

[2018-04-18 22:16] #1127 closed

[2018-04-19 01:40] stshelton opened #1140 "'data parameter is nil' when parsing FIRUser IDToken on 4.13.0 while signing into facebook"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: __9.3___
  * Firebase SDK version: _4.13.0____
  * Firebase Component: ___Auth__ (Auth, Core, Database, Firestore, Messaging, Storage, etc)
  * Component version: __4.6.1___

### [REQUIRED] Step 2: Describe the problem

My current IOS project has two targets ("production" and "development").
In the production version of the proje

[2018-04-19 03:26] rromanchuk commented on #1140
<img width="475" alt="screen shot 2018-04-18 at 8 24 30 pm" src="https://user-images.githubusercontent.com/102188/38969723-8c6865fa-4346-11e8-9385-4ef13da4d6ce.png">

Same exact stacktrace here

[code]

[2018-04-19 03:33] rromanchuk commented on #1140
Implementation, redacted unrelated.

[code]

I am able to quickly reproduce this error with the following in `AppDelegate`

[code]

[2018-04-19 14:25] paulb777 commented on #766
Fixed in upcoming 5.0.0 release

[2018-04-19 14:25] #766 closed

[2018-04-19 14:28] paulb777 commented on #956
Closed by #955

[2018-04-19 14:28] #956 closed

[2018-04-19 15:51] bryanbartow commented on #1140
Thanks @stshelton and @rromanchuk. I was just coming here to add this and y'all beat me to it. I'm having the exact same issue.

[2018-04-19 16:39] paulb777 opened #1143 "Firestore pod spec lint warnings"
On the 5.0.0 branch

` pod spec lint FirebaseFirestore.podspec --sources=sso://cpdc-internal/spec.git,https://github.com/CocoaPods/Specs.git` generates

[code]

I haven't yet been able to reproduce in Xcode, even in the workspace generated by adding the options `--verbose --no-clean`

cc:@wilhuff

[2018-04-19 18:24] stshelton commented on #1140
Im trying to switch to source pods or master branch but I keep getting the error `[!] Unable to find a specification for 'Firebase'.` when running pod install. Ive deleted and reinstalled cocoa pods but still receiveing error.

[2018-04-19 19:07] rromanchuk commented on #1140
@stshelton yeah, it's a little picky, here is what i'm using

[code]

[2018-04-19 20:00] paulb777 commented on #1140
@stshelton: @rromanchuk's Podfile looks good. Change to the branch specifier to `:branch => 'release-4.13.0'` to get the last official release.

If you're still having trouble, please post what you have.

[2018-04-19 20:31] wilhuff commented on #1143
`NSInteger` is effectively equivalent to `long` so the problem would surface when compiling for 32 bits. I thought `-Wshorten-64-to-32` should flag this kind of thing even in 64-bit builds though.

[2018-04-19 20:56] wilhuff commented on #1069
We have a fix pending in gRPC here: https://github.com/grpc/grpc/pull/15086.

[2018-04-19 20:59] wilhuff commented on #1060
I don't believe there's any action possible on our part here. If you find problems unrelated to your local network configuration we can reopen and investigate further.

[2018-04-19 20:59] #1060 closed

[2018-04-19 21:02] wilhuff commented on #1143
Please verify that this reduces the warning count using the prerelease build.

Note that we can't remove the first one: we have a subspec for Abseil in which we mirror the warning disablement flags in the upstream (non-CocoaPods) project.

[2018-04-19 21:12] wilhuff commented on #1110
`firebase::invites::internal::InvitesReceiverInternalIos` isn't a Firestore type. It appears to be a packaging error that comes from an erroneous dependency in google3. Once we switch to source pod distribution this will go away.

[2018-04-19 21:13] #1110 closed

[2018-04-19 21:16] wilhuff commented on #1110
@seejayuu You can work around this today by using the Firestore source pod, as [described in the README](https://github.com/firebase/firebase-ios-sdk/#examples). You can use `4.13.0` as the branch name instead of `master` to get the same version you have now, just from source.

[2018-04-19 21:33] wilhuff commented on #1143
Like I said above:

Upstream does not believe in the value of these warnings and refuses to consider fixing them. I don't want to be in the business of maintaining the differences to fix these warnings.

[2018-04-20 00:49] paulb777 commented on #976
@morganchen12 Any reason this is still open. Reopen if so.

[2018-04-20 00:49] #976 closed

[2018-04-20 00:55] paulb777 commented on #707
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

[2018-04-20 00:55] #707 closed

[2018-04-20 02:43] klwoon commented on #1140
I'm not sure if this is related to facebook login, these few days the photoURL returned is either:
1. https://lookaside.facebook.com/platform/profilepic/?asid={Facebook_user_ID}&height=100&width=100&ext=1524206352&hash=AeRU6R6kKZ1WJbz5
2. https://graph.facebook.com/{Facebook_user_ID}/picture

The crash will happen if the URL is of pattern 1.

[2018-04-20 03:59] wbattel4607 commented on #1140
Even before this problem, I'd been having a lot of trouble with Facebook's _lookaside_ CDN subdomain. I would use the graph URL to fetch the profile picture, but whenever it routed to the lookaside CDN it always failed to get the image. I've never had this problem with any of Facebook's other CDN subdomains.

[2018-04-20 10:33] hoangvuanhdevelopervn commented on #413
Me too. Firestore very very very slow. I just call 10 documents each time but it's take 5, 6 minutes to finish. My netwok is strong, i also using another back-end server and it's fast, firestore is too slow, worst back-end i ever use.

[2018-04-20 13:44] Francescu commented on #1140
As #1072 was closed, I'll post here which seems to be the new Issue related to the `-[FIRUser parseIDToken:error:]` crash.

There is still a regression with `-[FIRUser parseIDToken:error:]` .

We upgraded from 4.11 to 4.12 in our previous release and went from 94.38% crash free users to 51.19% - #1072

Then we released a hotfix version including 4.13 and still get some `-[FIRUser parseIDToken:erro

[2018-04-20 15:30] mikelehen commented on #1045
@benjaminpwarren Hrm. Offhand that doesn't sound like the same issue. The issue this was referring to was specific to deletes.  If you could open a separate issue with as much detail (ideally repro code) as you can, that would be great.

[2018-04-20 18:51] protocol86 commented on #1140
Still looking into this error. Was anyone able to obtain the affected token via source pods. There is an easier method to obtain the affect ID token. If you are able to sign in with the problematic Facebook user, you can obtain the refreshToken from the user object `[FIRAuth auth].currentUser.refreshToken`.

You can then use the refresh token to obtain the IDToken by following the instructions [he

[2018-04-20 21:08] rromanchuk commented on #1140
I noticed i keep getting this error. I noticed in the `FIRAuthErrorUserInfoDeserializedResponseKey` it's my JWT token. This may be developer error, as i have been recently refactoring for better firebase session management.

[code]

[2018-04-20 23:37] protocol86 commented on #1140
@rromanchuk

This isn't your error, this is by design. The reason that the  error contains your JWT is so that whether or not the token parsing fails we can still provide you the JWT which we couldn't parse ourselves (you can at least use to to trouble shoot or contact support and it won't crash the app).

For everyone building from the source pods; please use this the following branch to avoid bu

[2018-04-21 01:42] baolocdo commented on #990
Internally tracked at b/77468768. It would be nice to be able to reproduce the issue by having some sample project. Thanks

[2018-04-21 13:59] rdamiano commented on #431
@levantAJ updated firebase to 4.13.0, still getting saveMonitoringDataToUserDefaultsOnMonitorQueue crashes, all in iOS 11

come on guys, months later, this is grounds for removing firebase from my app, this is Google???

[2018-04-22 01:39] axiom-media opened #1164 "FieldValue.serverTimestamp() is not currently supported inside array"
* Xcode version: 9.3
  * Firebase SDK version: 4.13
  * Firebase Component: Firestore
  * Component version: 0.11.0

I am trying to update a document within a transaction and I'm calling

[code]

where editedList is a Dictionary and listRef is a DocumentReference to the appropriate list.

The contents of the editedList dictionary are as follows:

[code]
If I include the last argument, my app crash

[2018-04-22 18:26] baolocdo commented on #431
As @katowulf stated above that we have a potential fix but we need some help in determine whether it is safe to release. We are actively working on the bug, we understand that it is frustrating to wait and we would like to fix it as soon as possible. Please contact @katowulf if you can help us try out the fix. Thanks.

[2018-04-23 03:32] klwoon commented on #1140
Thanks for the quick response to fix the issue.

Last week (19 April 2018) I was using the master branch with this commit:

https://github.com/firebase/firebase-ios-sdk/commits/81ac1761e2195aa2f16c0377471e084910ccdb35

And Firebase will return the following error for invalid token after signing in with Facebook:

`Error Domain=FIRAuthErrorDomain Code=17999 "An internal error has occurred, print an

[2018-04-23 03:54] protocol86 commented on #1140
@klwoon This is expected behavior. The parser is able to handle the "invalid URL" now (I can provide a detailed explanation as to why the token parsing failed if needed).

I think you should still handle the above mentioned error case since there may be some exceptional edge case where token parsing fails; in which case you can obtain your JWT regardless.

-Z

[2018-04-23 04:59] klwoon commented on #1140
@protocol86 Hi, thanks for the reply, I would be appreciated if you could explain the token parsing, I'm new and still learning every bit, thanks.

[2018-04-23 11:15] eironeia commented on #1019
Still occuring on Firebase 4.13.0

[2018-04-23 13:38] paulb777 commented on #1019
@eironeia Note that the milestone on this issue is 5.0.0, which we haven't published yet.

[2018-04-23 13:41] eironeia commented on #1019
Oh okay sorry, waiting for the update then, thanks!

[2018-04-23 15:56] v-lavrentikov opened #1165 "Issue with 10 seconds delay in the getDocument() request from cache is still reproducing"
* Xcode version: 9.3
* Firebase SDK version: 4.13 (and latest from repository)
* Firebase Component: Firestore
* Component version: 0.11.0

Old issue from the Firebase 4.11.0 is still reproducing.

* Resolved a regression in the Firebase iOS SDK release 4.11.0 that could cause getDocument() requests made while offline to be delayed by up to 10 seconds rather than returning from cache immediately.

[2018-04-23 18:35] stshelton commented on #1140
Trying to switch over to the staging branch here's pod file.
` pod 'FirebaseCore', :git => 'https://github.com/firebase/firebase-ios-sdk.git', :branch => 'staging-4.13.1' `
`  pod 'FirebaseAuth', :git => 'https://github.com/firebase/firebase-ios-sdk.git', :branch => 'staging-4.13.1'`
`pod 'FirebaseMessaging', :git => 'https://github.com/firebase/firebase-ios-sdk.git', :branch => 'staging-4.13.1'`

[2018-04-23 19:40] mikelehen commented on #1165
@v-lavrentikov Can you provide more detail, in particular what you mean precisely by "application is offline."?

The behavior around this is subtle and heuristic-based.  If the client has already decided it is offline, it should return results from cache immediately.  But if the client hasn't yet decided it is offline (in particular the first request it tries to make doesn't provide any response)

[2018-04-23 23:07] mikelehen commented on #1164
I was unable to reproduce this error with the following code against the 4.13.0 Firebase iOS SDK:

[code]

The transaction succeeded and the expected values (including the server timestamp) showed up in the Firebase Console data viewer. Could you provide more detail on how you are reproducing this issue?

[2018-04-23 23:24] DenisMishin commented on #1165
@mikelehen This random 10-second delays issue is reproduced by placing phone in either airplaine mode, or just with explicitly disabled wifi or cellular connections, and issuing repeated requests in succession with couple second delays between them. A fair % of requests will experience this 10-second delay.

[2018-04-23 23:33] mikelehen commented on #1165
Thanks.  That indeed doesn't sound correct. I'll see if I can reproduce.

[2018-04-24 00:41] paulb777 commented on #1140
@stshelton I'm able to build a sample app with your Podfile.

Do you have use_frameworks! in your Podfile?  If not, see the [static library usage section](https://github.com/firebase/firebase-ios-sdk#static-library-usage).

The versions are a bit confusing. Sorry about that. Here are the details: Since we didn't do a full Firebase update for this bug fix and the Firebase CocoaPod locks to particul

[2018-04-24 01:11] mikelehen commented on #1165
Ahh, I see what's happening.  The "good" news is that as a workaround you could add a snapshot listener (to any document or query, it doesn't matter).  As long as you have an active snapshot listener, you shouldn't incur these delays.

The issue is basically that when your getDocument() call completes (returning data from cache because you're offline), we no longer have a need to establish a conne

[2018-04-24 04:38] brennick commented on #1140
Having the same error as well currently while calling `user.getIDTokenForcingRefresh`

[2018-04-24 05:33] DenisMishin commented on #1165
@mikelehen thanks!

Probably you could utilize [SCNetworkReachability](https://developer.apple.com/documentation/systemconfiguration/scnetworkreachability-g7d) to set your connection state machine initial state - i.e. in cases described above it'll be immediately Offline

`A remote host is considered reachable when a data packet, sent by an application into the network stack, *can leave the local

[2018-04-24 08:41] konkontos commented on #9
I was told to investigate using Firebase for one an upcoming app.
This thread has been _enlightening_ in helping me make a decision.
It seems Carthage support is officially out of the question - i.e., I'll look for another solution.

Unfortunately, I'm one of those developers not comfortable using a package manager that alters my project files / settings.

[2018-04-24 09:19] faizmokhtar opened #1171 "-[FLevelDBStorageEngine runMigration] returning Unrecognized database version"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 9.3
  * Firebase SDK version: 4.13.0
  * Firebase Component: Core, Messaging, Database, Invites, DynamicLinks, Crash, Auth, Analytics, RemoteConfig
  * Component version:
[code]

### Step 3: Describe the problem

#### Steps to reproduce:

I'm not exactly sure how to reproduce this. I only have the Crashlytics crash report. Sorry

[2018-04-24 10:31] ggpuglia commented on #673
@flashwade03 How often does it happen? I weren't able to reproduce this issue.

Could you provide some additional instructions for us to reproduce the crash?

[2018-04-24 13:08] EmperiorEric opened #1172 "Swift Unit Tests fail to run after adding Firebase to the project."
* Xcode version: 9.3 (9E145)
  * Firebase SDK version: latest (4.x)
  * Firebase Component: Remote Config and Core
  * Component version: latest

### [REQUIRED] Step 3: Describe the problem

Same as #58, the Firebase module is expected for Tests but isn't included. No Tests depend on the module. Also tracked in Cocoapods here https://github.com/CocoaPods/CocoaPods/issues/6891

We have a handful of

[2018-04-24 13:33] paulb777 commented on #1172
Thanks for the report @EmperiorEric. Are you able to share a reproducible test case? We're likely to need that to make progress on this issue.

The other route would be trying the CocoaPods master branch since there have been some related changes for 1.5.1 and 1.6.0.

[2018-04-24 16:06] iiAtlas commented on #1140
Hello all, I am having the same `[FIRUser parseIdToken:error]` crash as @Francescu.  Mine occurs on any call to FirebaseAuth getIDToken***  This seems to be the currently active thread, so I will post here.

[code]

![screen shot 2018-04-24 at 11 48 49 am](https://user-images.githubusercontent.com/764612/39199503-9e32f35c-47b7-11e8-81e2-91db41c7eb5b.png)

I attempted to update to `4.13.1` but reci

[2018-04-25 04:30] axiom-media commented on #1164
Here is some example code, with the problematic line being the last key/value pair in the "editedItem" dictionary:

[code]

[2018-04-25 07:07] petrpavlik commented on #1059
I have managed to find someone else reporting this exact stack trace on the Internet, which gives me certain amount of confidence that they may not necessarily be something weird going on with our app https://gist.github.com/plu/8eae8472fa458b8fc52ed032139b4ce8#file-gistfile6-md.

Furthermore, this crash seems to be represented as 4+ different crashes based on fabric and some traces look like this

[2018-04-25 07:10] geraldeersteling commented on #254
I'm still getting the issue with Firebase 4.13.0, Messaging 2.2.0 and InstanceID 2.0.10. Just like @ashok1089; how do I fix the 'Unregistered Registration Token' error from the CM Console?

[2018-04-25 07:51] Swarnima-shuttl opened #1179 "Crashed: com.google.iid-token-operations (QOS: UTILITY)"
Xcode version: 9.2
Firebase SDK version: 4.13.0

Podfile:
pod 'Firebase/Analytics'
pod 'Firebase/Messaging'
pod 'Firebase/RemoteConfig'

Podfile lock:
- Firebase/Analytics (4.13.0):
    - Firebase/Core
  - Firebase/Core (4.13.0):
    - FirebaseAnalytics (= 4.2.0)
    - FirebaseCore (= 4.0.20)
  - Firebase/Messaging (4.13.0):
    - Firebase/Core
    - FirebaseMessaging (= 2.2.0)
  - Firebase/Remote

[2018-04-25 10:44] shaharyakir opened #1180 "FR: Be able to invalidate offline data"
Consider a case where we have some kind of data discrepancy which causes crashes in our clients.

The problem is identified and fixed at our remote Firestore DB, but since clients maintain and read offline data first,

users keep processing the offline data on startup and therefore crash.

I tried playing with listening to metadata changes and ignoring offline data when the app starts after a cras

[2018-04-25 13:40] paulb777 commented on #1179
This is a duplicate of #402 which was fixed in Firebase 4.8.0.   The FIRLoggerWrapper call in the backtrace was eliminated from the code in that release.

It looks like these are crash reports from an un-updated release of the app.

[2018-04-25 13:40] #1179 closed

[2018-04-25 15:13] mikelehen commented on #1164
@axiom-media Ahh...  Yes, it looks like you are storing FieldValue.serverTimestamp() inside an updatedAt field that's part of a dictionary that's stored in your orderedItems array, and as the error says, FieldValue.serverTimestamp() is not currently supported in arrays.  We will hopefully relax this in the future, but currently it is not feasible (FieldValue.serverTimestamp() is implemented by "tr

[2018-04-25 15:16] mikelehen commented on #1165
@DenisMishin Thanks!  Yeah, we have plans to incorporate SCNetworkReachability and that should definitely improve matters. I'm not sure when that will happen, but it's definitely on the roadmap. We may be able to do something shorter-term to improve the situation, but I'm not sure yet.

[2018-04-25 16:58] paulb777 commented on #1140
The fix will deploy in our upcoming 5.0.0 release.

In the meantime to access the workaround, make sure you run `pod update` with a Podfile including:
[code]

If you're having trouble setting up the workaround, please share the Podfile you're using.

[2018-04-25 16:58] #1140 closed

[2018-04-25 17:13] baolocdo commented on #673
@flashwade03 : you said it happened when users quit the app. Does it mean completely closing the app or putting the app into the background? Thanks

[2018-04-25 17:17] baolocdo commented on #1059
Thanks for more information, @petrpavlik.  It could be but from the stack trace and the Fabric link you provided, I think they could be different issues. The crash occurred on different queues. Regarding the UIKit methods, we have determined that it is a bug from Apple but we also have a potential work around for it (see https://github.com/firebase/firebase-ios-sdk/issues/431).

[2018-04-25 18:05] iiAtlas commented on #1140
Hi Paul!  Attempts to use the staging branch now build, but don't compile.

Podfile
[code]

![screen shot 2018-04-25 at 2 02 54 pm](https://user-images.githubusercontent.com/764612/39263943-95b5ba90-4891-11e8-8be8-c3ba68c8197e.png)
![screen shot 2018-04-25 at 2 02 46 pm](https://user-images.githubusercontent.com/764612/39263944-95caf75c-4891-11e8-8a74-00e65fa7a025.png)
![screen shot 2018-04-25 at

[2018-04-25 19:17] paulb777 commented on #1140
@iiAtlas  You're running into the static library (no use_frameworks!) issue documented with workaround [here](https://github.com/firebase/firebase-ios-sdk#static-library-usage). The static library source pods issue is also fixed in 5.0.0.

Sorry, we can't give out dates - but you could investigate when the last two major Firebase releases came out to make a guess ...

[2018-04-25 19:39] shaharyakir commented on #1180
Does #1096 (I guess it's #655) also cover snapshot listeners or only fetches?

In any case I can see why it would be considered nuclear (i.e. internal?), but I feel as if the developer needs to have some kind of control in order to escape cases such as mentioned.

Will try deleting manually as suggested. Thanks.

[2018-04-25 20:25] mikelehen commented on #1180
#655 is specifically for fetches via getDocument() / getDocuments(), but (as I think you already discovered) for a snapshot listener you can already check .metadata.isFromCache on the snapshots you get and ignore any snapshots from cache, waiting until you get a non-cache snapshot which will be fully up-to-date with the server data.

If you end up wiping persistence on crashes, I'd be curious to h

[2018-04-25 20:29] shaharyakir commented on #1180
You are correct but that would be a little bit cumbersome since:

1. Different handling for fetches and listeners
2. Need to use `includeMetadataChanges` only when crashes are involved, otherwise I won't get the remote data if it is not changed compared to local cache

I'm trying wiping now. Preliminary testing seems to work well, the only tricky thing is to track consecutive crashes with crashlyt

[2018-04-25 20:47] shaharyakir commented on #1180
The code below seems to work well. Glad to hear your thoughts.

      func application(_ application: UIApplication, didFinishLaunchingWithOptions launchOptions: [UIApplicationLaunchOptionsKey: Any]?) -> Bool {

       ...

        // these trigger a synchronous call to delegate method below
        Crashlytics.sharedInstance().delegate = self
        Fabric.with([Crashlytics.self])

        // We

[2018-04-26 13:16] iiAtlas commented on #1140
@paulb777 THANK YOU for the assistance with that.  I can confirm the post_installer script/FirebaseAnalytics script fixed my build issues, and that 4.13.1 has fixed my [FIRUser parseIDToken:error:] crash.

Looking forward to `5.0.0` !

[2018-04-27 08:06] zgosalvez commented on #1019
@paulb777 When's the release date for this fix? I've got nodes showing inconsistent counters due to some transactions failing.

[2018-04-27 15:33] axiom-media commented on #1164
@mikelehen thanks for your reply.  This was a silly oversight on my part as I forgot I was using "editedItem" for two purposes (one inside an array and one outside) and was convinced the error was coming from the second case (i.e. outside an array).  Sorry about that!

[2018-04-27 15:37] mikelehen commented on #1164
@axiom-media No worries! Glad we could get it resolved. :-)

[2018-04-27 15:37] #1164 closed

[2018-04-27 15:40] kmilitagaitanm commented on #307
I'm having the same issue

[2018-04-27 16:25] paulb777 commented on #1019
@zgosalvez Sorry. We don't publish release dates in advance.

In the meantime, you can workaround by [installing 4.13.0 from source](https://github.com/firebase/firebase-ios-sdk#source-pods-ios-macos-tvos) and patching in #1057.

[2018-04-27 23:33] wbattel4607 commented on #1140
I'm running `pod update` after modifying my Podfile and am getting this:
[code]

These are my Pods
[code]
Note that we use React Native but I don't think that should have any influence in this error we're getting unless it needs the Firebase pod that we replaced with RNFirebase.

[2018-04-27 23:42] morganchen12 commented on #1140
@wbattel4607 can you run pod update with the `--verbose` flag and post the reason the download failed?

[2018-04-27 23:46] wbattel4607 commented on #1140
It wasn't giving any reason, so I updated my version of Cocoapods and now it seems to be working. Sorry for the inconvenience.

[2018-04-28 00:52] paulb777 commented on #1140
@wbattel4607 Might need to add `pod Firebase`. Share your `Podfile` if you're still having trouble.

[2018-04-28 01:46] wbattel4607 commented on #1140
Unfortunately it seems that adding the Firebase pod made no difference.

This is my Podfile. To avoid a massive blob of code I've uploaded it to PasteBin here: https://pastebin.com/7saHaezn

[2018-04-28 02:42] wbattel4607 commented on #1140
I tried to revert to 4.11.0, which is the version we used before without problem. I'm getting the same error, so I think I have to ask the RNFirebase guys. I don't think that particular build error is from the native iOS sdk.

[code]

[2018-04-30 19:16] wbattel4607 commented on #1140
We still can't get our project to build when we use 4.11.0 or 4.13.1 via git. 4.13.0 builds fine but then we have the problem that _this_ issue is about, so we can't use it.

When we use 4.11.0 we get [this](https://github.com/firebase/firebase-ios-sdk/issues/1072#issuecomment-382177171) problem, and when we use 4.13.1 we get [this](https://github.com/firebase/firebase-ios-sdk/issues/1140#issuecom

[2018-04-30 21:53] wbattel4607 opened #1197 "_kFIRLoggerSwizzler symbol(s) not found for architecture arm64 when using SDK version 4.11.0 via Cocoapods"
### Environment

  * Xcode version: 9.3
  * Firebase SDK version: 4.11.0
  * Firebase Component: (I think) Performance Monitoring (Auth, Core, Database, Firestore, Messaging, Storage, etc)
  * Component version: 1.1.2

### Problem

We cannot use the latest version of the SDK because of https://github.com/firebase/firebase-ios-sdk/issues/1140. Using a non-release version, such as 4.13.1, breaks the

[2018-04-30 21:55] paulb777 commented on #1197
Sorry, I haven't been able to get to this - it should be possible to down rev the Swizzler pod version to make this work. Hopefully will be able to give a more thorough answer in the next day or two.

[2018-04-30 23:04] wbattel4607 commented on #1197
Interesting. So I went back and looked at the Podfile.lock from the last version that worked. It contained
[code]
but the pod has changed since then, to:
[code]

If I force it back with `pod 'FirebaseSwizzlingUtilities', '1.0.0'` in the Podfile then it works again...

I'm not sure what about 1.0.1 is causing the error but using 1.0.0 works.

[2018-05-01 00:11] paulb777 commented on #1140
@wbattel4607 Sorry about the slow response.

It looks like you solved the 4.11.0 issue in #1197. More comments coming there.

Were you able to find out anything from RNFirebase folks about the other problem. It looks like the search path to the Firebase module.map is not set up correctly. If minimal repro instructions (for someone who does not have RNFirebase installed) are published, I'll take a

[2018-05-01 00:14] paulb777 commented on #1197
@wbattel4607  Thanks for tracking it down! You found the right workaround.

Unfortunately, it looks like we messed up our versioning and changed an internal API in a patch version update. Sorry about that.

[2018-05-01 00:14] #1197 closed

[2018-05-01 00:50] wbattel4607 commented on #1140
@paulb777 it does seem to be a podspec issue with RNFirebase. I was able to fix that problem using a suggested fix in an open PR on their repo, see here: https://github.com/invertase/react-native-firebase/pull/1017

**tl;dr**, this repo is not the cause of _that_ issue.

[2018-05-01 00:52] wbattel4607 commented on #1197
Okay. Glad I could find it (for myself and any others potentially affected).

Thanks for the help. Looking forward to the next release.

Speaking of the next release, @paulb777 do you know if 4.13.1 is going to be released beyond staging or do we have to wait for 5.0.0?

[2018-05-01 01:13] paulb777 commented on #1197
@wbattel4607 It's unlikely we'll release 4.13.1 beyond staging, since we're very focused on 5.0.0

[2018-05-01 16:58] Randoramma commented on #1052
Had the same bug using Xcode 9.3 when updating from Firebase 3.11.0 (I know!!) to 4.13.0. So the issue (in Swift?) persists.  @LaurentLK 's fix crushed it.  Thanks!  🙏

[2018-05-01 20:50] BranchS commented on #196
I can confirm with Xcode 9.3 Firebase 4.13 this issue still exists, and is quite annoying, as it generates over 200 errors. Disabling bitcode helps, but should not have to be done, since bitcode is useful for other things.

[2018-05-02 07:03] georgbachmann commented on #337
I am also having this issue today. Also it seems as if it's gone when I don't have the debugger attached...
Just did a pod update

    Installing Firebase 4.13.0 (was 4.12.0)
    Installing FirebaseAnalytics 4.2.0 (was 4.1.0)
    Installing FirebaseCore 4.0.20 (was 4.0.19)

but am still having the issue.

[2018-05-02 10:01] ramonpoca opened #1208 "Crash on FIRUser parseIdToken:error:"
### [READ] Step 1: Are you in the right place?

  I hope so.

### [REQUIRED] Step 2: Describe your environment

  * Xcode version: Version 9.3 (9E145)
  * Firebase SDK version: 4.13.0
  * Firebase Component: Auth
  * Component version:
  - Firebase/Auth (4.13.0):
    - Firebase/Core
    - FirebaseAuth (= 4.6.1)

### [REQUIRED] Step 3: Describe the problem

Crash on FIRUser parseIdToken:error:

Thr

[2018-05-02 11:04] ramonpoca commented on #1208
Removing the user and recreating it got rid of the crash. The image URL seems to be the culprit:

https://firebasestorage.googleapis.com/v0/b/minichat-54540.appspot.com/o/files%2F183D12C3-0006-4B3F-833B-D1F057FD61C7_image.jpg?alt=media&token=dd6a69b1-7ba3-490d-8a8a-be348b2e9c6e

[2018-05-02 13:03] georgbachmann commented on #337
Managed to get a crash-log be surrounding the call with a try-catch:

[code]

[2018-05-02 13:13] paulb777 commented on #337
Thanks for the backtrace @georgbachmann. Seems to be a different problem than was originally reported here, so I'll reopen and recategorize it.

[2018-05-02 13:42] paulb777 commented on #1208
Looks related to #1140. @protocol86 ?

[2018-05-02 16:09] blender commented on #9
Hello,

This [PR](https://github.com/Carthage/Carthage/pull/2436) which just landed in Carthage/master makes it possible to use the archive at https://kit-downloads.fabric.io/cocoapods/fabric/1.7.6/fabric.zip with Carthage.

What is left to do, is for Google/Crashlytics to host the binary dependency file somewhere. This is a simple JSON, see https://github.com/Carthage/Carthage/blob/master/Documen

[2018-05-02 20:07] chliangGoogle commented on #337
I haven't been able to reproduce the case but for your log specifically, can you check whether your language setting is nothing irregular? Specifically can you print out the following info to see if it's nil?
[[NSLocale preferredLanguages] firstObject]

Next release we will add better checking to avoid case like this.

[2018-05-02 21:10] schmidt-sebastian commented on #1171
The error message that you see is supposed to contain the version information that we load from the "version" file. It looks like this file is empty here and we cannot determine what version this schema is at (and hence the version string is empty).

Unfortunately, there is not much we can do here. It would be interesting to know how this file was cleared, but for that we would access to the user'

[2018-05-02 21:10] #1171 closed

[2018-05-03 07:33] georgbachmann commented on #337
Ok, so for me in my Simulator it's `@"de-US"`,... so not nil...
Other fun-fact... It's not crashing any more today without ANY change since yesterday?!?

[2018-05-03 07:59] peza8 opened #1215 "Firestore updateData([hashable], completion) not invoking completion handler"
### Environment
  * Xcode version: 9.3
  * Firebase SDK version: 4.13.0
  * Firebase Component: Firestore
  * Component version: 4.13.0

### Description

I attempted to update a document that should have been created, using the `updateData()` with a completion handler included. The completion handler was never invoked (with or without an error).
The Firebase documents state that the updateData() m

[2018-05-03 09:57] kiranb47 commented on #344
Same issue for me. Any Firestore read or write operation leads to crashing. Any fix so far @morganchen12 @hiragram ?

[2018-05-03 10:35] kiranb47 opened #1216 "Firestore Crashing"
![screen shot 2018-05-03 at 4 02 08 pm](https://user-images.githubusercontent.com/13976093/39572072-70afe9a4-4eeb-11e8-84b6-9d724d26af2a.png)

Tried using Cocos Pod & Manually. Same issue. But working on a empty project without any other 3rd Party SDK's. My project is a game contains Facebook integration, Fabric, IronSrc, UnityAds, FAN, Admob & Cocos2dx.

[2018-05-03 15:00] mikelehen commented on #344
@kiranb47 This issue was closed as we were never able to reproduce it. If you have a way to reproduce it, please open a new issue and include a repro project and we'll be happy to take a look. Thanks!

[2018-05-03 16:08] gsoltis commented on #1216
Hi, can you provide the version of the Firestore SDK you're using? And can you try narrowing down which other SDK it's conflicting with (try an empty project with half of them, then the other half if that works)?

[2018-05-03 16:11] kiranb47 commented on #1216
Hi, I’m using the most updated version available for download. I spent some time today by removing some sdks. But no luck. I will try some tomorrow.

[2018-05-03 16:32] gsoltis commented on #1216
Can you provide a copy of your `Podfile.lock` ?

[2018-05-03 16:36] kiranb47 commented on #1216
Yes, Attached.

On 3 May 2018 at 22:02, Greg Soltis <notifications@github.com> wrote:

[2018-05-03 16:49] gsoltis commented on #1216
Hmm, it appears the attachment is not coming through. You might have to use the github web interface to do it?

[2018-05-03 16:54] kiranb47 commented on #1216
[pod.zip](https://github.com/firebase/firebase-ios-sdk/files/1971869/pod.zip)

[2018-05-03 16:55] kiranb47 commented on #1216
@gsoltis attached.

[2018-05-03 16:59] kiranb47 commented on #1216
@gsoltis attached crashlog from fabric.
[games.spearmint.linesandhexa_issue_97_crash_9f7dcc3cf46445e481f73d4c335ce8e3_DNE_0_v2.txt](https://github.com/firebase/firebase-ios-sdk/files/1971878/games.spearmint.linesandhexa_issue_97_crash_9f7dcc3cf46445e481f73d4c335ce8e3_DNE_0_v2.txt)

[2018-05-03 17:01] gsoltis commented on #1216
Got it, thanks. I'll take a look. I'm looking to the possibility that you are hitting this issue, but I'm not sure yet: https://github.com/grpc/grpc/issues/6111

[2018-05-03 17:10] kiranb47 commented on #1216
Definitely issue is coming from BoringSSL. Might be a OpenSSL conflicting issue.

[2018-05-03 17:15] gsoltis commented on #1216
Do you have a copy of openssl also being loaded by one of the other SDKs? I don't see it as an explicit dependency in your `Podfile`...

[2018-05-03 17:17] ggpuglia commented on #673
@itsJoKr As there is a high change of crashing, could you please enable debug mode, reproduce the crash and share the console logs with us? It will pin point what logic is causing the issue.

[2018-05-03 17:36] gsoltis commented on #1216
Ah, that looks like the culprit.

[2018-05-03 17:38] gsoltis commented on #1216
Yup, that makes sense. Unfortunately, your best bet may be to follow the instructions in the `gRPC` issue to cause it to build against OpenSSL.

[2018-05-03 17:40] kiranb47 commented on #1216
Ok i will try. @gsoltis You know Cocos2dx is a widely using game engine. I hope you guys find a easy solution.

[2018-05-03 17:43] kiranb47 commented on #1216
ok, thank you

[2018-05-03 21:28] bwalton commented on #1110
@wilhuff  If I'm getting the same error while using the [.frameworks](https://firebase.google.com/download/ios), do I just need to wait for the next release of updated static frameworks?

[2018-05-03 21:51] gsoltis commented on #1216
@kiranb47 I'm going to close this issue in favor of the re-opened gRPC issue, as it's more properly addressed there.

I'll update your cocos2d issue as well with the link.

[2018-05-03 21:51] #1216 closed

[2018-05-03 23:37] paulb777 opened #1224 "Add -all_load to Unit Test builds"
To prevent future issues like #1223

[2018-05-04 01:25] m-toyoda commented on #9
+1

[2018-05-04 05:04] peza8 commented on #1215
That sounds like a perfectly reasonable explanation given my understanding of the offline behaviour of the client SDK. We have intermittent internet down here in Africa. Thank you for your help and speed of response.

--> Closing the issue. No need for action :)

[2018-05-04 05:04] #1215 closed

[2018-05-04 13:48] paulb777 commented on #1172
Closing for now. Will reopen with a repro case.

[2018-05-04 13:48] #1172 closed

[2018-05-04 13:50] paulb777 commented on #689
Closing for staleness. Reopen with new information.

[2018-05-04 13:50] #689 closed

[2018-05-04 13:53] paulb777 commented on #300
Should have been fixed in December 2017.

[2018-05-04 13:53] #300 closed

[2018-05-04 13:55] paulb777 commented on #849
Closing for staleness. Please reopen if still a problem.

[2018-05-04 13:55] #849 closed

[2018-05-04 13:58] paulb777 commented on #72
@samtstern Please provide more context? Where is the doc generation process that you're referring to?

[2018-05-04 17:11] #1224 closed

[2018-05-05 06:01] atalw commented on #274
Bump

[2018-05-05 21:46] baolocdo commented on #673
@itsJoKr : do you have any sample project that we can reproduce? Thanks

[2018-05-06 16:28] RWOverdijk commented on #1208
I'm using this indirectly through react-native-firebase and I'm facing the same issue. My upgrade was a pretty big leap, but I can't seem to get past this issue.

@ramonpoca when you say "removing the user" do you mean in firebase? Like removing the actual user? If so, I think I'll need to find a better solution because I can't just delete all my users.

[2018-05-07 08:12] ramonpoca commented on #1208
Yes, I could because I was on testing. The problem is in the "image" URL that Firebase returns that the SDK cannot parse (funnily enough is a firebase URL...).
You could fix it by removing the `image` (avatar) URL for the affected user(s), and use a third party service for them.
Hope this helps. :)

[2018-05-07 08:17] RWOverdijk commented on #1208
I'm already using a different service for the images. This is just auth, so still not a viable solution I think. I'm willing to help, just point me in the right direction. :)

[2018-05-07 09:43] Narayane commented on #1208
Hi,

I have the same crash than @ramonpoca with some Firebase id tokens relative to users which always have a profile photo but all users with profile pictures are not impacted.

I guess it could be related to image color mode or something like that...

[2018-05-07 13:54] paulb777 commented on #1208
Does the workaround described in #1140 and #1197 help?

Set the Firebase version back to 4.11.0 by adding the following to the Podfile:

[code]

You could be running into this [base64 encoding bug](https://github.com/firebase/firebase-ios-sdk/pull/1161) that hasn't been released yet.

[2018-05-07 21:24] cyupa opened #1236 "Why does Firebase/Messaging import AddressBook if it doesn't use it?"
I just noticed that the Firebase Messaging podspec links AddressBook but it doesn't use it.
Is there any reason behind it?
https://github.com/firebase/firebase-ios-sdk/blob/38824e721ebaa3f50e443e1ea4b47d34030e4703/FirebaseMessaging.podspec#L39

[2018-05-07 22:57] morganchen12 commented on #1236
@chliangGoogle seems like we can remove this reference.

[2018-05-08 00:21] #1236 closed, assigned to paulb777, charlotteliang

[2018-05-08 23:06] richardliveraise opened #1244 "Dynamic Links don't survive app install on iOS 11.3.1"
* Xcode version: 9.3
  * Firebase SDK version: 5.0.0
  * Firebase Component: Dynamic Links
  * Component version: 3.0.0

### Problem:
Dynamic links does not survive app install from app store on iOS 11.3.1
<bundle id>://google/link/?dismiss=1&is_weak_match=1
Note that this works fine on previous iOS versions (11.2 and below)

#### Steps to reproduce:
1. Click on Firebase Dynamic Links
2. Browser r

[2018-05-08 23:36] richardliveraise commented on #1244
@morganchen12 For sure.

[code]

Note that on iOS 11.2 it still works.

[2018-05-09 00:48] paulb777 commented on #1208
Closing for now.  Please open a new issue if you see the problem with 5.0.0 or the workaround above

[2018-05-09 00:48] #1208 closed

[2018-05-09 07:54] stevenp opened #1248 "Firebase 5.0.0 will not compile when Cocoapods `use_modular_headers!` is enabled"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 9.3
  * Firebase SDK version: 5.0.0
  * Firebase Component: Core, Auth
  * Component version: 5.0.0
  * Cocoapods 1.5.0

### [REQUIRED] Step 3: Describe the problem

When including the Auth pod for version 5.0.0, in Coocapods 1.5.0, a header error occurs and the project can't be compiled. This happens when the new `use_modular_he

[2018-05-09 10:00] jaschaio commented on #600
Hey @AndrewSB and @paulb777,
I encountered the same problem.

[code]

I did not understand how you resolved it in the end.

I tried `rm -rf ~/Library/Developer/Xcode/DerivedData/` but this didn't helped.

I checked that the `libsqlite3.tbd` is added to my `Link Binary with Library` Step.

[2018-05-09 11:49] robertofrontado opened #1249 "DynamicLink triggered twice (again after killing/reopening the app)"
### Environment

  * Xcode version: 9.3
  * Firebase SDK version: 4.13.0
  * Firebase Component: DynamicLinks
  * Component version: 4.13.0

Using latest version available through `pod "Firebase/DynamicLinks"`

[code]

### Problem

The app gets twice the same deeplink (after killing/opening it again)

## Steps to reproduce
- Install the app
- Opening it for the first time and then sending the app

[2018-05-09 14:04] paulb777 commented on #1248
@stevenp Thanks for the report!

The short answer is to wait for CocoaPods 1.5.1.

You're seeing https://github.com/CocoaPods/CocoaPods/issues/7596. The 1.5.0 modular headers implementation changed the semantics of private headers and that got [fixed for 1.5.1](https://github.com/CocoaPods/CocoaPods/issues/7599).

There are some [other serious issues](https://github.com/CocoaPods/CocoaPods/blob/ma

[2018-05-09 14:12] paulb777 commented on #600
@jaschaio Please show more of the log you're seeing.  I suspect the `ignoring file` message indicates an incorrect configuration.

[2018-05-09 15:41] paulb777 commented on #1248
Actually the new patch release is CocoaPods 1.5.2.

It's now available for install and I confirmed it fixes this issue.

[2018-05-09 15:41] #1248 closed

[2018-05-09 17:53] eskerber commented on #9
@TKBurner Does you mean that we can't expect Crashlytics.framework and Fabric.framework to support Carthage, but _FirebaseXXXX.framework_ and all Firebase originals _will_ have Carthage support?

[2018-05-10 02:10] paulb777 opened #1255 "Address incomplete-umbrella header warnings"
Address incomplete-umbrella header warnings from pod lib lint in #1252. Full log at https://travis-ci.org/firebase/firebase-ios-sdk/jobs/377095898

[code]

[2018-05-10 03:59] miguelrc86 commented on #9
Hi everyone!

I've being trying to make `FirebaseDatabase` work with no success... I followed the installation guide throughfully, adding `ObjC` to other linker flags, removing the Firebase.framework from the linked frameworks, including `GoogleService-Info.plist` in my build target and my subset for the Cartfile is as follows:

[code]

I'm receiving a lot of `Apple Mach-O Linker errors`... 😕 This

[2018-05-10 04:15] paulb777 commented on #9
@miguelrc86 Occasionally, Xcode's automatic linking fails to pull in all of the necessary libraries. You can find the missing libraries by internet searching the missing symbol errors or systematically adding in all of the libraries that show up in `Carthage/Build/iOS/*/Modules/module.modulemap`.

In this case, the c++ and sqlite libraries need to be added to the `Link Binary With Libraries` Build

[2018-05-10 04:46] miguelrc86 commented on #9
Oh! Thank you so much @paulb777 for your ultra quick and clear response, will do that! 🙂

[2018-05-10 05:57] jaschaio commented on #600
Here you go:

[code]

Strangely this only happens if I try to run the app in the simulator. It does however work on a real device.

[2018-05-10 08:50] pisarm commented on #9
This also helped me - I was missing `libicucore.tbd` and `libc++.tbd`.

[2018-05-10 09:48] averello opened #1257 "Duplicate symbol _FirebaseCoreVersionString for architecture arm64 when using SDK version 5.0.0 via Cocoapods"
# Evironment

  * Xcode version: Version 9.3 (9E145)
  * Firebase SDK version: 5.0.0
  * Firebase Component: Core
  * Component version: 5.0.0

# Problem

#### Steps to reproduce:

Can not reproduce in a clean/simple project that contains only Firebase/Core as its cocoa pod dependency.

1. Pod install
2. Archive
3. Error

#### Error Code:

[code]

### Discussion
Tried to delete `~/Library/Develope

[2018-05-10 13:56] paulb777 commented on #1257
@averello This looks like a known issue that the fix will go out in the next patch.  (Unfortunately a documentation glitch is currently showing the 5.0.0 known issues in the 4.13.0 section of the[ release notes](https://firebase.google.com/support/release-notes/ios).)

The fix (and workaround) is visible at #1223.

Note, that we've only seen this issue when the -all_load option is set in `Other Li

[2018-05-10 14:02] paulb777 commented on #600
Actually, I was curious about what is before the "ignoring" message at the top.  The path `/ios/Frameworks/libsqlite3.tbd` doesn't look correct. Are you adding the libraries like the screenshot at https://github.com/firebase/firebase-ios-sdk/issues/9#issuecomment-387947163

[2018-05-10 15:58] miguelrc86 commented on #9
Thanks @paulb777 @pisarm added those libraries, also had to include StoreKit and voila! Firebase is up and running now 👊🏻

[2018-05-10 19:27] xaphod commented on #1257
+1. I just got this too when I updated from cocoapods 1.4.0 to 1.5.2. Earlier in the day I went from Firebase 4.x to 5.0 just fine, but then cocoapods 1.5.2 seems to break Firebase.

[code]

[2018-05-10 19:44] xaphod commented on #1257
UPDATE: per the answer here, `-all_load` is no longer needed (since XCode 4.2 it seems!) if you're using `-ObjC`. https://stackoverflow.com/questions/2567498/objective-c-categories-in-static-library/2615407#2615407

I removed it from the libs that needed it, and those libs appear to still be working fine. So far (caveat emptor)

[2018-05-10 19:55] paulb777 commented on #1257
@xaphod Thanks for the confirmation! I'll close this now since the fix is on the way for the next release.

[2018-05-10 19:55] #1257 closed

[2018-05-11 07:46] kaannesinn opened #1260 "[FIRASqliteStore recordsForQuery:parameterValues:error:withFilter:] bug"
### [REQUIRED] Step 2: Describe your environment

Xcode version: 9.3 (ObjC)
Firebase SDK version: 4.13.0
Firebase Component: FirebaseAnalytics (4.2.0),  FirebaseCore (4.0.20), FirebaseInstanceID (2.0.10)

### [REQUIRED] Step 3: Describe the problem

Hi,
In our ios application, we use Firebase for event logging and show native and interstitial ad banners with  Google-Mobile-Ads-SDK (7.30.0). After

[2018-05-11 08:06] jaschaio commented on #600
@paulb777 I think you are right. I removed the libsqlite3.tbd from my frameworks folder and from the Build Step. Than I added `libsqlite3.dylib` and `libc++.dylib` from my systems `/usr/lib/` folder.

[2018-05-11 09:24] dsanghan opened #1261 "Auth / GTMSessionFetcher are re-using invalidated NSURLSessions"
### Environment

  * Xcode version: 9.3
  * Firebase SDK version: 4.0.11
  * Firebase Component: Auth
  * Component version: 4.3.2

### Problem

Auth / GTMSessionFetcher are re-using invalidated NSURLSessions:

[code]

[2018-05-11 18:50] richardliveraise commented on #1244
@morganchen12 @dmandar Any update on this? Thanks!

[2018-05-12 05:03] jtressle opened #1266 "Firebase Firestore could not build modules while archiving app"
### [REQUIRED] Step 2: Environment

  * Xcode version: 9.3
  * Firebase SDK version: 5.0
  * Firebase Component: Firestore
  * Component version: 0.12.0

### [REQUIRED] Step 3: Describe the problem

I'm unable to finish archiving a project with Firebase 5.0.  There are several closed issues for 4.10 with the same symptoms.

When archiving my project, I get the following errors:

RxLibrary-umbrella

[2018-05-12 05:05] jtressle commented on #898
FYI, I opened a new issue for SDK 5.0.  This issue is still present.

https://github.com/firebase/firebase-ios-sdk/issues/1266

I tried using the above pod lines, but had the same issue.

[2018-05-12 05:18] jtressle commented on #1266
I went ahead and updated my pod file to the following:

`pod 'FirebaseCore', :git => 'https://github.com/firebase/firebase-ios-sdk.git', :tag => '5.0.0'
pod 'FirebaseFirestore', :git => 'https://github.com/firebase/firebase-ios-sdk.git', :tag => '5.0.0'
pod 'FirebaseAuth', :git => 'https://github.com/firebase/firebase-ios-sdk.git', :tag => '5.0.0'
pod 'FirebaseStorage', :git => 'https://github.com

[2018-05-12 10:43] crnjan commented on #990
Hi!

Seems we are experiencing the same crash (XCode version: 9.3):

[code]

Stack trace:

[code]

PODS:

[code]

The crash is 100% reproducible using below steps:

1. make sure application is NOT installed,
2. install the application,
3. run the application,
4. on first screen (or any screen for that matter) put the application into background and back to foreground.

This will cause application

[2018-05-12 15:06] paulb777 commented on #1266
This is https://github.com/grpc/grpc/issues/7406. Also discussed at https://github.com/firebase/firebase-ios-sdk/issues/898#issuecomment-374971715.

The workaround is to comment `#import "transformations/GRXMappingWriter.h"` line from `gRPC_RxLibrary-umbrella.h`.

More discussion at GoogleCloudPlatform/ios-docs-samples#30 and https://github.com/GoogleCloudPlatform/ios-docs-samples/blob/master/spee

[2018-05-12 18:00] jtressle commented on #1266
Thanks for the workaround. I got everything to work with it.

On Sat, May 12, 2018 at 8:06 AM Paul Beusterien <notifications@github.com>
wrote:

[2018-05-12 23:03] jlaws opened #1267 "Google sign in with the Firebase iOS 5.0 pods no longer works."
* Xcode version: 9.3.1
  * Firebase SDK version: 5.0.0
  * Firebase Component: Auth
  * Component version: 5.0.0

I just updated my pods and migrated all my API's to the Firebase iOS 5.0 API and Google Sign In no longer works. Following the Firebase iOS [guide](https://firebase.google.com/docs/auth/ios/google-signin) setting the GIDSignIn client ID
`GIDSignIn.sharedInstance().clientID = FirebaseAp

[2018-05-13 00:39] paulb777 commented on #1267
You may have a bad Xcode state and need to `rm -rf ~/Library/Developer/Xcode/DerivedData`.

The selector `gtm_httpArgumentsString` is defined in `GoogleToolboxForMac/NSDictionary+URLArguments` and that pod subspec shows up in your list of installed pods.

[2018-05-13 00:46] jlaws commented on #1267
I previously (and again after your comment) tried removing derived data, removing all Pods, cleaning from Xcode.  The issue still persists :(

Xcode lists this warning re: categories, which may be why it is unable to find the correct method:
[code]

[2018-05-13 01:12] paulb777 commented on #1267
Yep, that warning is likely related - since it's an NSDictionary category that seems not to be linked.

Is the -ObjC option in the `OTHER_LDFLAGS` Build Setting?  Is there any more information to indicate where the incompatible category definition is?

Web searching on the warning may provide other clues.

[2018-05-14 07:59] jaschaio opened #1270 "Publish links to zip archives of old releases"
Hey there,
I am using the Firebase SDK together with [react-native-firebase](https://github.com/invertase/react-native-firebase/).

Unfortunately it seems that the latest version `5.0.0` incoporated some breaking changes and I am still required to use `4.13.0` instead.

On the [Add Firebase to your iOS Project](https://firebase.google.com/docs/ios/setup#frameworks) Guide Page is a download link to

[2018-05-14 09:52] jaschaio commented on #1270
Finnally found the download link for 4.13.0: https://dl.google.com/firebase/sdk/ios/4_13_0/Firebase-4.13.0.zip

Would be great to have the previous versions linked somewhere within the official google docs for people who integrate without cocoapods or other package managers. For example here: https://github.com/firebase/firebase-ios-sdk/releases

[2018-05-14 13:16] Julianvantveld commented on #1266
The workaround paulb777 specified works great on local projects.
However, I'm building using Travis CI. There, it constantly crashes since framework changes are not checked in.

Locally the errors are fixed indeed, but Travis builds still fail.

Thanks in advance!

[2018-05-14 14:09] paulb777 commented on #1267
@jlaws Do any of the answers at https://stackoverflow.com/questions/39665979/xcode-8-objective-c-category-warning apply to your app?

[2018-05-14 15:10] Kimnyhuus commented on #274
I just ran into this issue because I'd experienced the exact same problem.
With persistence enabled, we cannot check if a child node exists because it only checks locally.

We're currently building a chat for our app.
Each chat corresponds to something called a "challenge".
So if a user creates a challenge which is send to multiple other users, then a chat is created in that same instance.

Becaus

[2018-05-14 16:57] paulb777 commented on #1261
@dsanghan Thanks for the report. Are you able to share a reproducible test case? Does the issue still occur with 5.0.0?

[2018-05-14 17:41] morganchen12 commented on #1244
No update yet, but we should be able to get to this this week.

[2018-05-14 18:55] ryanwilson opened #1278 "Re-Enabling Messaging Pod Linting in Travis"
This was disabled in #1277.

It should be re-enabled once Core releases, or when we have support on Travis for local pod dependencies.

[2018-05-15 04:25] jlaws commented on #1267
Turns out the pod [card.io](https://github.com/card-io/card.io-iOS-SDK) was causing the linker issues so we removed it from our dependencies.  Completely removed derived data, cleaned, and built.  The project no longer has any warnings but still crashes when attempting to set the clientID