[2022-11-08 01:30] yodagamaheshan commented on #10461
Hi @rizafran , Thanks for quick respond. yes I also noticed that I could receive Notification on first installation, If I call `registerForRemoteNotifications()` just after initialising firebase and setting messaging delegate in `application(_:didFinishLaunchingWithOptions:)`.

But , In my case I have to wait a bit to fetch user and , based on the user type I only ask Permission to Use Notificatio

[2022-11-08 01:32] paulb777 commented on #10463
Discovered that commenting out the following fixes the deadlock:

![Screen Shot 2022-11-07 at 5 28 09 PM](https://user-images.githubusercontent.com/73870/200451532-562daac8-fd23-4dbc-80f4-06bc74b6ad12.png)

I'm not sure why it behaves different than the old Objective C version:

![Screen Shot 2022-11-07 at 5 30 13 PM](https://user-images.githubusercontent.com/73870/200451682-86e6eb1c-8c91-4b5d-a48

[2022-11-08 02:14] #10454 closed

[2022-11-08 08:46] jesus-mg-ios commented on #10462
I'm sure, the error is random and I'm using the code that appears on firebase doc.
Thanks in advance. I really appreciate your hard work

[2022-11-08 10:03] cristian0791 commented on #6194
Currently I'm the same situation described by @willbattel and I didn't find any reasonable solution.

@willbattel can you point us in the right direction on solving this specific use case?

[2022-11-08 10:39] jesus-mg-ios opened #10466 "Crash: FIRStorageDownloadTask.m line 105"
### Description

Random crashes in iOS 15.x, 16.x devices.

### Reproducing the issue

I cannot reproduce it.

### Firebase SDK Version

9.6.0

### Xcode Version

13.4.1

### Installation Method

Swift Package Manager

### Firebase Product(s)

Storage

### Targeted Platforms

iOS

### Relevant Log Output

[code]

[code]
[code]

[2022-11-08 13:45] rizafran commented on #10458
Thanks for reporting, @saurabhprasad. Does updating the SDK to a later version makes difference?

[2022-11-08 13:53] saurabhprasad commented on #10458
hi @rizafran thanks for your response, I can try updating it but if there is no changes done in that direction then i guess it should be reproducible on latest version as well.

[2022-11-08 14:15] ncooke3 commented on #10460
Kicked off a re-run for `storage`. The other two looked flaky

[2022-11-08 15:10] thomasvl commented on #10463
What does `objc_sync_enter`/`objc_sync_exit` do on a `Dictionary`?  Isn't that a value type, is that providing the expected behavior here?  Could there be copies happening so things aren't lining up as expected?

[2022-11-08 17:47] devkayumov commented on #10214
Same for me.
Looking forward to 10.2.0

[2022-11-08 18:43] paulb777 commented on #10463
@morganchen found https://straypixels.net/swift-dictionary-locking/ which doesn't exactly match what we're seeing, but may be related since its seems like the runtime is creating a lock that never gets released.

[2022-11-08 19:07] sergiocampama opened #10469 "Firestore LevelDbDocumentOverlayCache infinite recursion results in broken app on launch"
### Description

It appears that there is a weird issue in firestore which results in an overlay proto message that can't be decoded correctly by nanopb, and ends up in an infinite recursion which ultimately crashes the app. You can see the infinite recursion in the provided crash report.

[Copilot-2022-11-08-152134.ips.zip](https://github.com/firebase/firebase-ios-sdk/files/9964374/Copilot-2022-1

[2022-11-08 21:25] mustafauskuplu opened #10470 "Crash - FPRConfigurations.objectForInfoDictionaryKey"
### Description

We are experiencing a crash on `FPRConfigurations.m line 106` (`-[FPRConfigurations objectForInfoDictionaryKey:]`).

Here is the stack trace:

[code]

### Reproducing the issue

_No response_

### Firebase SDK Version

10.0.0

### Xcode Version

14.1

### Installation Method

Swift Package Manager

### Firebase Product(s)

Analytics, Crashlytics, Performance

### Targeted Platform

[2022-11-08 21:37] mustafauskuplu opened #10471 "Crash - GDTCORWriteDataToFile"
### Description

We are experiencing a crash on `GDTCORPlatform.m line 295` (`GDTCORWriteDataToFile `).

Here is the stack trace:

[code]

### Reproducing the issue

_No response_

### Firebase SDK Version

10.0.0

### Xcode Version

14.1

### Installation Method

Swift Package Manager

### Firebase Product(s)

Analytics, Crashlytics, Performance

### Targeted Platforms

iOS

### Relevant Log Outp

[2022-11-08 23:04] morganchen12 commented on #10463
I haven't pinned down the exact cause, but here's what I've found: `Dictionary` uses a [singleton](https://github.com/apple/swift/blob/main/stdlib/public/core/Dictionary.swift#L91) to represent all empty dictionaries, avoiding an allocation until the dictionary actually needs storage. Once an object is stored to the dictionary, the singleton swapped out for the expected dictionary type. Here's the

[2022-11-09 00:30] morganchen12 commented on #10463
This should be fixed and out with 10.2.0.

[2022-11-09 00:30] #10463 closed

[2022-11-09 01:22] mikehardy commented on #10463
Just caught up on the thread. Subtle one! Our reproductions looked like they lined up at the end, so I'll be surprised if it isn't fixed when you think it is but I will check first thing tomorrow, for confirmation. Cheers

[2022-11-09 02:04] HendSalahEldlin commented on #10174
I have the same issue, any solution please @rizafran

[2022-11-09 10:12] Pyr3z commented on #8430
It used to be able to log opens somewhere around v7.1.0 (Firebase Unity), but upon upgrading to v9.1.0, we get 0 logged opens, out of 10s of millions of sends.

Is this somewhat intentional? I must ask because [the docs](https://firebase.google.com/docs/cloud-messaging/understand-delivery?platform=ios#message-delivery-reports) _do_ state about logging "Opens – The user opened the notification mess

[2022-11-09 10:22] jesus-mg-ios commented on #10462
Okay, I'm gonna try it, but I've already said, it happens randomly in clients. I mean the number of times of a sign-in or sign-up is made on production is more than I can test with the quick app start ... Even I have to use a real Apple ID ... and it makes that if the error happens in the signup process, catching it with a user test is gonna be very difficult.

[2022-11-09 12:47] Hawki101 commented on #10047
Would love to see a workaround for this without having to set up our own apns stuff!

[2022-11-09 14:12] rizafran commented on #10174
Hi all, sorry for the trouble. I'll make a follow up to the team regarding this issue and will let you know once I got an update.

[2022-11-09 15:33] mikehardy commented on #10463
Pulled https://patch-diff.githubusercontent.com/raw/firebase/firebase-ios-sdk/pull/10468.diff
Removed docs + tests hunks so it was just the fix with the new lock-specific object
changed to ios/Pods/FirebaseStorage dir and did the patch -p1 on the remaining diff in our e2e harness on my repro branch

built + ran just fine

:heavy_check_mark:

Thanks all, looking forward to firebase-ios-sdk 10.2.0

[2022-11-09 16:04] paulb777 commented on #10460
rerun succeeded

[2022-11-09 16:04] #10460 closed

[2022-11-09 16:05] rizafran commented on #10471
Thanks for reporting, @mustafauskuplu. Is the issue reproducible locally? If so, could you provide the detailed steps in reproducing the issue?

[2022-11-09 16:19] mustafauskuplu commented on #10471
Hello @rizafran . Thanks for looking into the issue.

Unfortunately, this is not something I can reproduce locally.

Here is the stack trace for **multiple** threads. Maybe it will help 🤷‍♂️

[code]

[2022-11-09 16:19] tmatta88 opened #10473 "Crashlytics - Crash report sometimes reports crash emanating from nonsensical line number"
### Description

Intermittently, I'm noticing that in a report Crashlytics shows an impossible line number. It appears it could be compiler related. I'm wondering if there is any way/setting to get more reliable information and reduce or eradicate these unhelpful crash reports.

<img width="707" alt="Screen Shot 2022-11-09 at 10 09 10 AM" src="https://user-images.githubusercontent.com/83671115/200

[2022-11-09 19:13] rizafran commented on #10461
Hi @yodagamaheshan, in order for me to reproduce it locally, could you provide a code snippet on how you're calling the `registerForRemoteNotifications()` if it's not in `application(_:didFinishLaunchingWithOptions:)`? Thanks.

[2022-11-09 20:55] aashishpatil-g commented on #10047
Thanks for the interest @ericagredo and @Hawki101. We are still investigating this.

If live activity support is important for you, please be sure to give a thumbs up to the original post if you haven't done so already.

[2022-11-09 21:08] DellaBitta commented on #10416
This seems to be a similar issue to one reported in the [Firebase Unity SDK running on iOS](https://github.com/firebase/firebase-unity-sdk/issues/495). The user reported that this occurs on iOS 16.

The Firebase Unity SDK wraps the Firebase iOS SDK for its implementation so that information should be relevant here.

[2022-11-09 22:11] jfcong commented on #10470
Hi @mustafauskuplu, can you provide the following information to help us debug this issue?

1. App environment - Eg: Just iOS/Watch/tablet - What environment is causing the crash?
2. What are the list of targets that is associated with the firebase in the workspace. For eg: there could be a target for iOS, Watch, Tablet and many more in the same workspace.

[2022-11-10 04:34] ericagredo commented on #10047
I have a working workaround. It’s using Firebase functions. I’ll post a write up tomorrow for everyone.

[2022-11-10 04:36] Hawki101 commented on #10047
Epic! currently working on a direct send via APNS instead! but interested to read through some alternatives!

[2022-11-10 06:16] DevarshRanpara commented on #10359
Facing the same issue,
I am not well familier with the iOS, so don't really know wha to do and how can we fix it!
<img width="1047" alt="Screenshot 2022-11-10 at 11 46 06 AM" src="https://user-images.githubusercontent.com/26064415/201014771-c503ad9b-13b7-484a-9833-da440dcfe827.png">

[2022-11-10 09:32] YanxiFeng commented on #9974
same crash here.

[2022-11-10 09:33] YanxiFeng commented on #9974
crash on iPhone 6s, not crash on iPhone 11 Pro max.

[2022-11-10 10:53] ian-sayles opened #10476 "Xcode warning: Thread running at QOS_CLASS_USER_INTERACTIVE waiting on a lower QoS thread"
### Description

When uploading a file getting the following purple warning:
GTMSessionFetcherService.m:307 Thread running at QOS_CLASS_USER_INTERACTIVE waiting on a lower QoS thread running at QOS_CLASS_BACKGROUND. Investigate ways to avoid priority inversions

Only started when upgraded Xcode to Version 14.1 (14B47b) and Firebase 10.1.0

<img width="1115" alt="Screenshot 2022-11-10 at 10 51 26"

[2022-11-10 11:27] IhorStasiv opened #10477 "Deep Link does not contain valid required params + DynamicLinks == nil"
### Description

DynamicLinks.dynamicLinks().handleUniversalLink(incomingURL) this method give me (dynamiclink(nil) error(nil) )
after method ends print
        2022-11-10 13:17:33.136393+0200 *****[2531:606940] 8.9.1 - [Firebase/Analytics][I-ACS023001] Deep Link does not contain valid required params. URL params: {
            "_cpb" = 1;
            "_cpt" = cpit;
            "_fpb" = "CJsFEPcCG

[2022-11-10 11:37] yodagamaheshan commented on #10461
Hi @rizafran

adding below code snippets inside  `application(_:didFinishLaunchingWithOptions:)` will reproduce the issue.
[code]

Note: I have added some delay to call `requestAuthorization` and `registerForRemoteNotifications` to mimic the delay that I get when I fetch users in my case ( I only need to enable push notifications based on the user, so that I have to wait until I get the current us

[2022-11-10 12:04] github-actions[bot] opened #10478 "Nightly Testing Report"
# Nightly Testing Report
This issue([log](https://github.com/firebase/firebase-ios-sdk/actions/runs/3436614332)) is generated at 11/10/2022 04:02 AM, fetching workflow runs triggered in the last 24 hrs.
| Workflow |11/09|
| -------- | -------- |
| [combine](https://github.com/firebase/firebase-ios-sdk/blob/master/.github/workflows/combine.yml) | [failure](https://github.com/firebase/firebase-ios-s

[2022-11-10 14:22] ericagredo commented on #10047
To begin, you want to make sure you've gone through the process of enabling push notifications and downloaded the p8 file. https://medium.com/@syumak/how-to-send-push-notifications-to-ios-devices-via-p8-key-using-amazon-pinpoint-f08efb2a6b7 Then, create a firebase function. In our function we're going to be using the `http2` and `jsonwebtoken` library. Here is my code with what you need:

`app.pos

[2022-11-10 14:55] paulb777 commented on #10476
This may be https://github.com/google/gtm-session-fetcher/pull/324

Does updating GTMSessionFetcher to at least version 2.2.0 help?

In Xcode, do File -> Packages -> Update to Latest Versions

[2022-11-10 16:01] rizafran commented on #10477
Hi @IhorStasiv, per checking, it's possible that your link structure is not properly configured. With this, you may try the following suggestions:

- Make sure that your [link parameter](https://firebase.google.com/docs/dynamic-links/create-manually) is correct and [URL encoded](https://en.wikipedia.org/wiki/Percent-encoding).
- Update the SDK to the [latest version](https://firebase.google.com/su

[2022-11-10 16:06] ian-sayles commented on #10476
Updated to latest version, 2.3.0 and still have same warning when I upload a file.

@@ -113,8 +113,8 @@
      "kind" : "remoteSourceControl",
      "location" : "https://github.com/google/gtm-session-fetcher.git",
      "state" : {
        "revision" : "d4289da23e978f37c344ea6a386e5546e2466294",
        "version" : "2.1.0"
        "revision" : "5ccda3981422a84186387dbb763ba739178b529c",
        "v

[2022-11-10 16:40] p16r opened #10480 "FIRMessagingTokenFetchOperation went isFinished=YES without being started by the queue it is in"
### Description

Title is the error I get in the console when I try to log in in my app. I do not have the steps to replicate this 100%, but the most reliable way I have been able to replicate this is when updating my app from an older build (e.g. from TestFlight) to a newer one.

### Reproducing the issue

[code]

### Firebase SDK Version

8.15.0

### Xcode Version

13.2.1

### Installation Metho

[2022-11-10 16:42] p16r commented on #10480
FYI I cannot update Xcode or Firebase version till 2023 so that is not an option for now.

[2022-11-10 16:49] p16r commented on #10480
Elsewhere on the internet where `Operation went isFinished=YES without being started by the queue it is in`:
- https://github.com/robertmryan/AFHTTPSessionOperation/issues/7
- https://stackoverflow.com/questions/42789556/what-do-i-do-with-this-exception-tripped-shortly-after-cancelling-all-operations
- https://stackoverflow.com/questions/48137896/operation-went-isfinished-yes-without-being-started

[2022-11-10 17:29] peternowell commented on #10417
How do you disable swizzling? I have a SwiftUI Mac app with a custom app delegate. Sorry if this is a real novice question!

[2022-11-10 17:59] joshuapoq commented on #4951
We are a SAAS ecommerce platform with a core SDK and integration SDKs. We have separate development and QA teams. Each of our clients has at least 3 separate backend environments for which we used to have a matching number of targets.

Each target requires a separate app on Firebase (additional maintenance). But more importantly, separate builds. This separation of builds and apps for the same cod

[2022-11-10 18:11] MEHTAMAYUR commented on #10416
This issue has occurred on Firebase SDK Version
8.10

[2022-11-10 18:33] rizafran commented on #10461
Thanks for sharing your code snippet, @yodagamaheshan. I tried to use the code in my sample app, but I'm still able to receive notifications. Here are the steps I did:
1. Install the app for the first time
2. Wait for the user permission popup and click "Allow"
3. Copy paste the registration token from the logs and use it to send test message from the console

Could you confirm if you're using the

[2022-11-10 19:00] nsarno-lucid commented on #10476
I am getting the following data race condition:

[code]

When calling:

[code]

For reference:

<img width="1127" alt="Screen Shot 2022-11-10 at 1 23 54 PM" src="https://user-images.githubusercontent.com/106601664/201176226-f726d775-6d55-4296-844d-9b4e7b21f141.png">

I found this thread, and updated "Update to Latest Versions" (per above comments) and now I'm getting the race condition **and** the

[2022-11-10 19:15] thomasvl commented on #10476
This isn't correct; 3.0.0 is the same as 2.2.0.

But 2.2.0 broke semver because of the minos version bump; and the bump was needed for https://github.com/google/gtm-session-fetcher/pull/324, so 2.3.0 doesn't have that fix, 3.0 does.

[2022-11-10 19:20] nsarno-lucid commented on #10476
@paulb777 @thomasvl I just upgraded from `Firebase/10.1.0` to `Firebase/master` , which is running `GTMSessionFetcher 3.0.0` and the priority inversion is gone. My original race condition still exists though.

[2022-11-10 19:26] thomasvl commented on #10476
A data race would be a different issue from what this issue was opened for.

[2022-11-10 23:07] paulb777 commented on #10476
I'm going to mark the priority inversion issue fixed with the upcoming Firebase 10.2 release.

Would you create another issue for the data race problem, ideally with more repro information.

Thanks for raising these!

[2022-11-10 23:07] #10476 closed

[2022-11-10 23:14] Anteloper commented on #10200
Thanks for this @otymartin - is this still the best solution we know of? Architecting a new app with iOS 16 Xcode 14 and experiencing the same.

[2022-11-11 00:42] anthonyhunter commented on #10359
See [here](https://issuetracker.google.com/issues/254418199#comment48) for workaround

[2022-11-11 08:34] IhorStasiv commented on #10477
Ok? i get new version of SDK now its(10.0.0)
and now this method (DynamicLinks.dynamicLinks().handleUniversalLink(url)) returns me not 2 nil but returns nil and an error.
Error says <<<Error Domain=com.firebase.dynamicLinks Code=1 "Universal link URL could not be parsed by Dynamic Links." UserInfo={NSLocalizedFailureReason=Universal link URL could not be parsed by Dynamic Links.}>>>

[2022-11-11 09:24] IhorStasiv commented on #10477
I found your method "DynamicLinks.dynamicLinks().resolveShortLink(url)"
it works now, but I'm afraid that it may break in the future, if something becomes known with an error like mine, please write back.
thank you for your time

[2022-11-11 10:07] rizafran commented on #10477
I'm glad it's already working, @IhorStasiv. I'll be closing this ticket now, but feel free to comment here in case you encounter the issue again.

[2022-11-11 10:07] #10477 closed

[2022-11-11 10:23] IhorStasiv commented on #10477
@rizafran
Ok i have some new information for you,
from my link that comes to me in the method
      "application(_ application: UIApplication, continue userActivity: NSUserActivity, restorationHandler: @escaping ([UIUserActivityRestoring]?)"
      i can't create "DynamicLink" - always returns nil.
But when I try to create a "DeferredLink", after installing the program from the "AppStore", the meth

[2022-11-11 12:04] #10478 closed

[2022-11-11 14:57] itsMeSyedPS opened #10485 "Crashed: com.google.fira.worker"
### Description

Attached is the stack trace logs from crashlytics
[code]

### Reproducing the issue

There are no specific steps to reproduce this issue but the app crashes when switching between the views at the same time I am performing some transactions into the SQL database but somehow firebase is making the app crash.

I am using firebase crashlytics, firebase analytics, and firebase auth.

[2022-11-11 15:51] samedson commented on #10174
Hey folks, thank you for reporting this. We're looking into the discrepancy, but haven't gotten to the bottom of it.

We've found that the `atos` command line utility produces results the same as Xcode Organizer's. Crashlytics just reads what's in the dSYM, so we're still figuring out why there seems to be more accuracy on Apple's side.

Eg. this command can produce the correct line numbers:

`ato

[2022-11-11 19:34] rizafran commented on #10480
Thanks for reporting, @p16r. I tried to reproduce the issue but I wasn't able to get the same error. Could you clarify on what you mean by "_I have been able to replicate this is when updating my app from an older build (e.g. from TestFlight) to a newer one._"? Does it mean you're updating your app itself or the SDK version? Also, did you make any changes in your code that might be the possible ca

[2022-11-11 20:32] MEHTAMAYUR commented on #10416
@rizafran  It is working fine 0n latest firebase SDK 10.0.0 , Could you give any info why it was not working in 8.10.0 and now it is working on 10.0.0

[2022-11-12 12:03] github-actions[bot] opened #10486 "Nightly Testing Report"
# Nightly Testing Report
This issue([log](https://github.com/firebase/firebase-ios-sdk/actions/runs/3450850111)) is generated at 11/12/2022 04:02 AM, fetching workflow runs triggered in the last 24 hrs.
| Workflow |11/11|
| -------- | -------- |
| [storage](https://github.com/firebase/firebase-ios-sdk/blob/master/.github/workflows/storage.yml) | [failure](https://github.com/firebase/firebase-ios-s

[2022-11-12 23:41] mustafauskuplu commented on #10470
Hello @jfcong ,

The crash is recurring on **iOS** (476 crashes so far) and **iPadOS** (7 crashes so far).
There is only a single app target in the workspace which was referred to as "App" in the stack trace. We are distributing it for iOS and iPadOS.

[2022-11-13 01:07] yodagamaheshan commented on #10461
yes I am using the same steps.

I think there is an another information that I need to share with you.  I used `iOS 16.`1 on iPhone 12.

I will try adding above my sample code snipes in to given QuickStart sample projects and will let you know the result.

Thanks @rizafran for the effort you gave on this.

[2022-11-14 10:10] p16r commented on #10480
I mean the most reliable method to replicate this crash is by updating the app from a previous build e.g. 2.10.4 build 299 to 2.10.4 build 300. i.e. I download 2.10.4-299 from TestFlight and use it on my phone, then download 2.10.4-300, and when I first run the new build, it will crash. But next run onwards it won't.
 I'm not changing any of the Firebase-related code in between builds.

[2022-11-14 10:16] ondrejkorol commented on #9462
I believe it wasn't reproducible ever.
@DimDL - in your case the issue really did disappear without doing anything special? In our case, it's still present.

Firebase 10.0.0
[code]

[2022-11-14 11:10] andrewsexcellent opened #10487 "Firebase Storage Global queue usage leads to thread explosion/threading issues"
### Description

It seems that starting with version 10.0 and above, hitting the FirebaseStorage `getData` method, creates a thread explosion due to using the global queues and background as quality of service.

Here's the relevant portion:
![Screenshot 2022-11-13 at 22 14 20](https://user-images.githubusercontent.com/82413230/201641944-684eccef-b9c7-41a3-9363-fc0bbe77cb6e.png)

Additionally if yo

[2022-11-14 12:04] #10486 closed

[2022-11-14 13:26] rizafran commented on #10416
Thanks for the update, @MEHTAMAYUR. It's possible that there are changes including bug fixes and new features to the latest SDK version since [8.10.0](https://firebase.google.com/support/release-notes/ios#version_8100_-_december_1_2021) was released almost a year ago. With this, we always suggest developers to update SDK versions to the latest one.

I'll be closing this issue for now, but feel fre

[2022-11-14 13:26] #10416 closed

[2022-11-14 14:22] AlleSchonWeg commented on #9968
Hi,
do you know the xamarin/c# variant for this workaround?

Thank you

[2022-11-14 16:14] p4checo opened #10489 "[Analytics] Passing `nil` value to `setUserProperty` doesn't clear property"
### Description

We use the `setUserProperty(_:forName:)` to set (and unset) custom user properties with `FirebaseAnalytics`, but unsetting them via passing `nil` value is not currently working. When looking at the DebugView every new non-nil value is logged, but values are never cleared when we pass in `nil`.

Documentation clearly states this should be the behavior:
[code]

From the logs it's cl

[2022-11-14 18:14] paulb777 commented on #10487
Thanks for the detailed report. It looks like we didn't correctly port the queue management code from Objective C to Swift. We'll dig into this.

The GTMSessionFetcher lock issue should be fixed by #10468 which is planned to release in this week's 10.2.0 version.

[2022-11-14 20:29] maneesht commented on #10419
@wawilliams003 have you tried restarting the simulator?

[2022-11-14 20:59] jfcong commented on #10470
Hi @mustafauskuplu, thanks for the info. Is it possible for you to provide a sample app where we can reproduce this issue?

[2022-11-14 21:57] morganchen12 commented on #10470
Also @mustafauskuplu can you symbolicate the rest of the stack trace?

[2022-11-14 22:21] #10487 closed

[2022-11-14 23:30] morganchen12 commented on #10417
Hey @peternowell, you can disable swizzling by adding the `FirebaseAppDelegateProxyEnabled` key with value set to `NO` to your app's Info.plist as described [here](https://firebase.google.com/docs/ios/learn-more#app_delegate_swizzling).

In the short term, if you're using SwiftUI, you should disable swizzling. In the longer term, we're working on a better SwiftUI integration that won't require as

[2022-11-15 00:37] morganchen12 opened #10494 "Make Firebase components initializable without access to disk resources (Keychain)"
Currently, Firebase requires access to the keychain on startup to do a couple things, including:
- Check for the existence of a logged in user
- Check for the existence of a previous installation token

With [app pre-warming](https://developer.apple.com/documentation/uikit/app_and_environment/responding_to_the_launch_of_your_app/about_the_app_launch_sequence), the app may be launched without user

[2022-11-15 06:11] twhitt14 commented on #10047
@ericagredo This is awesome! So you just included your p8 file in the functions folder (e.g. next to index.js) & it will be uploaded & read just like that? I'm not really a Node dev so I don't know if that's how it will work. You also reference `api.sandbox.push.apple.com` but I'm guessing we should use `api.push.apple.com` for production? Sorry, I've never read all the APNs docs & don't know how

[2022-11-15 07:09] jesus-mg-ios commented on #10466
@morganchen12, I can't reproduce it

[2022-11-15 07:10] jesus-mg-ios commented on #10462
@rizafran I couldn't reproduce it.

[2022-11-15 08:57] FenWangSiCheng opened #10495 "APMPersistedConfig scheduleSynchronizeToDisk crash"
### Description

Noticed this crash in Crashlytics

![crash](https://user-images.githubusercontent.com/35355866/201870490-292519ef-d908-4e16-8d9e-ae219e178cd5.png)

### Reproducing the issue

_No response_

### Firebase SDK Version

9.4.0

### Xcode Version

13.1

### Installation Method

CocoaPods

### Firebase Product(s)

Analytics, Crashlytics, DynamicLinks, Performance, Remote Config

### Targ

[2022-11-15 10:11] rizafran commented on #10495
Thanks for reporting, @FenWangSiCheng. Based on this [related issue](https://github.com/firebase/firebase-ios-sdk/issues/10400#issuecomment-1302525301), it seems like the `_Block_copy` crash is caused by memory corruption. As mentioned there, could you try reproducing the issue locally with zombies or asan?

[2022-11-15 10:43] DimDL opened #10496 "In-App Messaging: `appData` property is nil in Draft Mode"
### Description

When previewing an InApp Campaign on Device as draft, appData is nil. Only when the campaign is publish, does appData become available. This was unexpected; we're using appData to provide additional UI options (we have a customize the rendering of InApp messages), so when previewing we need both the basic data (title, body…) as well as appData.

### Reproducing the issue

STEPS :

[2022-11-15 12:09] github-actions[bot] opened #10497 "Nightly Testing Report"
# Nightly Testing Report
This issue([log](https://github.com/firebase/firebase-ios-sdk/actions/runs/3470243072)) is generated at 11/15/2022 04:07 AM, fetching workflow runs triggered in the last 24 hrs.
| Workflow |11/14|
| -------- | -------- |
| [zip](https://github.com/firebase/firebase-ios-sdk/blob/master/.github/workflows/zip.yml) | [in_process](https://github.com/firebase/firebase-ios-sdk/ac

[2022-11-15 16:44] rizafran commented on #10489
Hi @p4checo, I tried setting the `setUserProperty` value to `nil`, but I wasn't able to reproduce the issue. That said, this looks like an issue in the Firebase console side, since our SDK seems to be working properly. Could you file a ticket to our [support channel](https://firebase.google.com/support) so the backend team will be able to assist you. Thanks.

[2022-11-15 16:44] #10489 closed

[2022-11-15 19:11] rizafran commented on #10496
Thanks for reaching out, @DimDL. I tried to reproduce the issue but I was able to get the value of the `appData`. May I know if you have made any changes in your campaign in the console? Also, you may try our [In-App Messaging Quickstart](https://github.com/firebase/quickstart-ios/tree/master/inappmessaging) to isolate the issue and use this as your baseline for troubleshooting. Otherwise, we need

[2022-11-15 19:29] ncooke3 commented on #10142
Thanks @bguidolim for the helpful info. When you say "It's happening with Firebase 9.6.0 and 10.0.0.", do you also mean that it app instances on pre-9.6.0 are not having this issue?

[2022-11-15 20:32] bguidolim commented on #10142
@ncooke3 I cannot say that, we only enforced AppCheck from version 9.6.0.

[2022-11-15 23:03] morganchen12 commented on #10466
Unfortunately we can't help you debug this issue without more information. [Apple's memory access issue debugging guide](https://developer.apple.com/documentation/xcode/investigating-memory-access-crashes) may help you identify the cause of this crash.

[2022-11-15 23:11] morganchen12 commented on #10485
Duplicate of #5503.

We've never been able to repro this crash, but had something similar happen with a partner who was using a custom version of sqlite3.

[2022-11-15 23:11] #10485 closed

[2022-11-15 23:46] p4checo commented on #10489
hi @rizafran, Thanks for looking into this. Will do 👌🏼

[2022-11-16 02:04] #10433 closed

[2022-11-16 16:01] ericagredo commented on #10047
yes for both questions. https://developer.apple.com/documentation/usernotifications/setting_up_a_remote_notification_server/sending_notification_requests_to_apns

[2022-11-16 16:16] KoCMoHaBTa commented on #9968
No idea, but the solution is using method swizzling. You can check if [this](https://stackoverflow.com/questions/14127453/how-to-port-method-getimplementation-and-method-setimplementation-to-monotou) can help you.

[2022-11-17 01:07] kassim commented on #4856
This seems to be part of a larger bug – I can't seem to be able to re-set the user ID in the same session.
I can set the user ID once, then when I try to set it to something else it fails. If I kill the app I can then set the user ID again.

[2022-11-17 02:04] #10432 closed

[2022-11-17 02:04] #10414 closed

[2022-11-17 08:51] virozy opened #10504 "Authentication built-in UI in Custom Keyboard Extension"
### Description

Hi, Guys. Thanks for your great works.

I'm working on Custom Keyboard Extension Project for iOS now.
I've just seen the issue #6605. But there aren't any words related to Authentication Library.
Can I integrate and use Firebase Authentication Lib with it? Can I use pre built-in AuthUI in my custom keyboard view?
Also Realtime Database Library?

Hope to hear from you.

### Reprodu

[2022-11-17 13:18] rizafran commented on #8617
Hi @siddeshpillai, sorry for not getting back to you in this. I'm just wondering if you're still encountering the issue on the latest SDK version?

[2022-11-17 15:53] AmerigoM commented on #4856
Encountered this problem on Xcode 13.4.1 and FirebaseAnalytics 9.5.0. Any update on this matter would be appreciated. Using `Analytics.setUserID(nil)` or `Analytics.setUserID("")` didn't help.

I also tried to shut down and up again the Analytics just to see if that would do the trick through `Analytics.setAnalyticsCollectionEnabled(false)` and `Analytics.setAnalyticsCollectionEnabled(true)` right

[2022-11-17 18:25] DimDL commented on #10496
Hi @rizafran. I found the issue: When previewing as draft, appData is nil. Only when the campaign is publish, does appData become available. This was unexpected; we're using appData to provide additional UI options, so when previewing we need both the basic data (title, body…) as well as appData. Is there more info I can provide ?

[2022-11-18 04:04] panhongx commented on #10470
@mustafauskuplu  We got burnt recently by a crash with similar stack trace. It only appears on iOS 16.0+. The only workaround we have at the moment is using method swizzling to replace the [NSBundle objectForInfoDictionaryKey] method with a custom  implementation. We have not yet released the fix though. BTW, firebase sdk not used in our app.

[2022-11-18 04:31] daniapopov opened #10507 "Crash in FireStore After v 10.2 Upgrade"
### Description

Our Integration testing caught a 100% reproducible crash after we upgraded to 10.2

Context
Our App has a connection to FireStore before log in where we are able to fetch some records as an anonymous user. During login we update the auth user and start to fetch new user specific records.

Issue
With the latest SDK version whenever this login occurs we immediately get this stack tr

[2022-11-18 09:07] bguidolim commented on #8430
I'm facing the same issue, with swizzling OFF and reporting it manually with `Messaging.messaging().appDidReceiveMessage(userInfo)`. We are getting 0 opens.

[2022-11-18 10:04] DimDL commented on #10496
Retitled and reworded the description

[2022-11-18 11:17] mustafauskuplu commented on #10470
@panhongx Thanks for the info. I'll look into it.

@morganchen12 Here is the whole stack trace (one of the crashes I got from Crashlytics):

[code]

[2022-11-18 11:54] bw-flagship commented on #7153
Just commenting to mention that this is still an existing important problem.

[2022-11-18 14:35] rizafran commented on #10496
Thank you for clarifying your issue, @DimDL. I was able to reproduce it by using the "Test on device" button in the console, but on the second attempt of testing, the `appData` is showing. I'll inform the engineer about this and we'll let you know if it's a bug or intended behavior.

[2022-11-18 16:51] tom-andersen commented on #10507
Hi @daniapopov!

I think enabling the Address Sanitizer and Thread Sanitizer will help provide information when reproducing the problem:
https://developer.apple.com/documentation/xcode/diagnosing-memory-thread-and-crash-issues-early

Could you reproduce with these enabled?

[2022-11-18 20:14] JarnoRFB commented on #10049
This tripped me off as well. I first had `Missing required module 'FirebaseFirebase'`. After including this as described by @paulb777  I got errors about `AppCheck` so now I just ended up linking all possible firebase libraries to the test target, which got it working. Have to say that this issue was pretty hard to find, so maybe including some hints in the [SPM README](https://github.com/firebase

[2022-11-19 12:03] #10497 closed

[2022-11-19 16:06] nrkrishna opened #10512 "Crash in FirebaseStorage version 10.1.0"
### Description

We are seeing a crash on iOS in Crashlytics ever since upgrading to FirebaseStorage version 10.x.x. The code where this crash occurs hasn't changed, so I think this is something to do with FirebaseStorage itself.

Crash trace:
[code]

The specific line tied to this crash is simply creating a storage reference in Swift as follows.

`let fileReference = storage.reference(withPath: "

[2022-11-19 16:57] paulb777 commented on #10512
Sorry about the trouble. It's possible that the issue you're seeing is related to #10463 that was fixed in last week's 10.2.0 release.

Would you update to 10.2.0 and let us know?

[2022-11-19 23:19] nrkrishna commented on #10512
@paulb777 thanks for the quick reply. I'll update this thread once we find out the result of the update.

[2022-11-20 12:03] github-actions[bot] opened #10513 "Nightly Testing Report"
# Nightly Testing Report
This issue([log](https://github.com/firebase/firebase-ios-sdk/actions/runs/3507871353)) is generated at 11/20/2022 04:02 AM, fetching workflow runs triggered in the last 24 hrs.
| Workflow |11/19|
| -------- | -------- |
| [prerelease](https://github.com/firebase/firebase-ios-sdk/blob/master/.github/workflows/prerelease.yml) | [failure](https://github.com/firebase/firebase

[2022-11-20 18:06] paulb777 commented on #10316
CocoaPods fix merged at https://github.com/CocoaPods/CocoaPods/pull/11660. Waiting for release ....

[2022-11-20 21:16] Shakle commented on #10507
My ios crashed on google sign in since 10.2.0 is released

[2022-11-21 03:13] volandoo commented on #10260
I don't have any more details than the ones provided. That said, I have not seen this again in a while. I'll reopen if I see this again.

Thanks.

[2022-11-21 03:13] #10260 closed

[2022-11-21 04:00] philip511 opened #10514 "Crashed: com.apple.main-thread EXC_BAD_ACCESS KERN_INVALID_ADDRESS -[FIRQueryDocumentSnapshot data] + 44"
### Description

1. This is a crash that occurs within seconds of a user opening the app.
2. This crash occurs randomly, it is not reproducible.
3. This crash occurs in one place only, in the method that queries all of the user's posts
4. I have multiple methods that are structured similarly to this method that query different sets of data and the crash does not occur in those methods.
5. I have c

[2022-11-21 11:56] Wackymax commented on #10507
Same here, getting crashes that happen whenever the firebase auth user changes. Seems to be related to snapshot listeners being active when the user change happens.

[2022-11-21 12:52] Shakle commented on #10507
Mine got fixed with adding new Url scheme which for some reason had changed..
Try run the app with xcode, it will show you crash reason in this case

[2022-11-21 13:06] Wackymax commented on #10507
I did try that. I am not using Google Sign In though, my crash happens on sign in and sign out. I am also using Flutter if that counts for anything

[2022-11-21 15:37] SwiftNativeDeveloper commented on #2896
A year later. This is a huge pitfall of Firebase. I understand extensions are short-lived, but there are ways to get around it. I'm playing with the idea of an app group to transfer data from extension to target app, but the API like Analytics.logEvent don't allow me to alert the timestamp from what I can tell. So I'm having to tell my PO we either live with horribly wrong analytics data, or none

[2022-11-21 23:04] #9968 closed

[2022-11-21 23:29] morganchen12 commented on #10514
@philip511 do you have a full intact crash report? The error message in the title of this issue doesn't match the stack trace.

[2022-11-22 00:26] philip511 commented on #10514
For some reason Firebase Crashlytics does not report it in stack trace. This is what I see
https://imgur.com/a/DzmxekQ

Here is the full stack trace that I downloaded from Crashlytics
[com.WeDivvy.WeDivvy_issue_a3452583de58f75dbf8d08c7cd553993_crash_session_30dbf59d92ef494ca8d6fe8c8c7c8cc1_DNE_0_v2_stacktrace.txt](https://github.com/firebase/firebase-ios-sdk/files/10061514/com.WeDivvy.WeDivvy_issu

[2022-11-22 17:11] tom-andersen commented on #10514
@philip511 I don't see an obvious reason for error. What would be helpful:

- What is code at GetDataObject.m:1408?
- Are you able to isolate line where code crashes?
- Could you try to enable Address Sanitizer since there seems to be a null pointer problem. (see https://developer.apple.com/documentation/xcode/diagnosing-memory-thread-and-crash-issues-early)
- Can you share log?

[2022-11-22 17:58] rizafran commented on #9047
Hi @thanhnhan111093, sorry for not getting back to you in this issue. I'm just want to confirm if you're still encountering the issue using the latest SDK version?

[2022-11-22 18:27] philip511 commented on #10514
@tom-andersen I'm so sorry I forgot to specify the line where it crashes. I updated my code and posted the line where it crashes below. I've played around with the code several times before posting here and it always seems to crash when doc.data is used. Whether it is being printed or being stored in a variable.

However, the strange thing is this occurs randomly, the data being retrieved is not b

[2022-11-23 02:18] thanhnhan111093 commented on #9047
hi  @rizafran,  I just checked again, and there are no errors in the last 30 days, I will close this ticket

[2022-11-23 02:18] #9047 closed

[2022-11-23 12:10] rizafran commented on #5676
Hi @vin047, apologies for not getting back to you on this issue. We appreciate the feedback and should have responded earlier. I'm currently taking a look on it, but I just want to clarify your reproducible steps so I could move forward with the replication using the latest SDK version. That being said, could you clarify if you're linking email E (email link auth) to user A (new email/password acc

[2022-11-23 21:44] dconeybe commented on #9462
@ondrejkorol I spent a few hours investigating this again today, and came to the same conclusion as I did 6 months ago: https://github.com/firebase/firebase-ios-sdk/issues/9462#issuecomment-1142555266. Basically, this _should_ never happen.

The crash is due to the global variable `g_glip` from grpc being null. But `g_glip` is initialized before `main()` is even called, and it is  set exactly once

[2022-11-23 22:32] paulb777 commented on #9462
To see if multiple copies of the library are linked into the app, the Xcode console will show warnings at launch time.

[2022-11-24 00:29] dconeybe commented on #9462
@ondrejkorol Could you share your `Podfile.lock`?

[2022-11-24 01:49] dconeybe commented on #9462
@ondrejkorol Could you also run `grep -r g_glip Pods` in your project root and paste the output? I'm looking for duplicate definitions of `g_glip`.

For example, here is what I see when I run it in my clone of https://github.com/firebase/quickstart-ios, which is correct/expected (i.e. the one and only definition of `g_glip` is in `Pods/gRPC-C++/src/cpp/codegen/codegen_init.cc`):

[code]

[2022-11-24 02:04] #10461 closed

[2022-11-24 10:04] tamv-ika opened #10521 "Crash - [FPRClient logTrace:]_block_invoke"
### Description

Hi, we have an issue with the Firebase sdk. This issue already asked and mark as fixed on the version 8.6.0 in this issue:
https://github.com/firebase/firebase-ios-sdk/issues/8545

But we're using version 8.15.0 and this crash still happen, could you help me to check this?

Here is my crash log:

### Reproducing the issue

_No response_

### Firebase SDK Version

8.15.0

### Xcode

[2022-11-24 10:22] tamv-ika opened #10522 "Crash - FPRMakeFirstSessionVerbose in FPRNanoPbUtils.m"
### Description

Hi, I got a crash happen with Firebase SDK
This related to this issue #8139 and mark fixed #8189, but on the version I'm using 8.15.0 this crash still happen.
I cannot reproduce this crash

### Reproducing the issue

Cannot reproduce this crash, this crash is show in the Firebase crash analytics

### Firebase SDK Version

8.15.0

### Xcode Version

14.1

### Installation Method

S

[2022-11-24 14:56] rizafran commented on #10521
Thanks for reporting, @tamv-ika. Is the issue reproducible using the latest SDK version?

[2022-11-24 14:57] VatanaChhorn commented on #10507
same thing occurred

[2022-11-24 16:20] rizafran commented on #10522
Hi @tamv-ika, is this issue also reproducible on the latest SDK version?

[2022-11-24 16:33] tamv-ika commented on #10522
HI @rizafran, this issue is reported from firebase crashlytics. The version shipped with our products is 8.15.0, I haven't updated the SDK to the lastest, so I don't know does this crash happen on the lastest one. Do you have any suggestion?

[2022-11-24 16:36] tamv-ika commented on #10521
Hi @rizafran, as I mentioned on the #10522, both issues are reported from firebase Crashlytics and run on version 8.15.0. And I havent update to the lastest SDK version. So I don't know does this issues exist in the lastest one.

[2022-11-24 17:33] dconeybe commented on #9462
@ondrejkorol One more question... are you by any chance using Firestore in the initialization of a global variable? Because that could explain why `g_glip` is null because then the Firestore code _could_ be running before `g_glip` is initialized.

[2022-11-24 17:36] tom-andersen commented on #10514
This is very difficult to test, but I have a nagging suspicion that `doc.data` method is invoked lazily by logging, perhaps after loop has exited and data has been released. If you convert `doc.data` to string, and then pass that string to logger, does the problem disappear?

[2022-11-24 18:48] philip511 commented on #10514
@tom-andersen Well, here is the thing. I don't really need to log it, I added those logs to see if I can find what's going wrong. This is my code without the logs. I'm trying to create a dictionary of arrays that looks like this. Also, as a side, not I query this same data else where in the app and loop through it the same way as well, and no crash. I'm thinking it's some sort of memory or synchro

[2022-11-25 03:53] ipangth commented on #10400
we app also crash on it.

we upgrade the google ad sdk, Google-Mobile-Ads-SDK (= 9.11.0)- GoogleAppMeasurement (= 9.6.0), then much crash.

the previous (Google-Mobile-Ads-SDK (8.13.0) , GoogleAppMeasurement (8.10.0)) is OK.

0 libsystem_blocks.dylib 0x000000020bcd3afc __Block_copy + 56
1 libdispatch.dylib 0x00000001c624c478 __dispatch_Block_copy + 32
2 libdispatch.dylib 0x00000001c624c478 __dispa

[2022-11-25 04:02] ipangth commented on #10495
[Skip to content](https://github.com/firebase/firebase-ios-sdk/issues/10400#start-of-content)
Search or jump to…
[Pull requests](https://github.com/pulls)
[Issues](https://github.com/issues)
[Codespaces](https://github.com/codespaces)
[Marketplace](https://github.com/marketplace)
[Explore](https://github.com/explore)

@ipangth
https://github.com/firebase
/
[firebase-ios-sdk](https://github.com/fir

[2022-11-25 10:18] pauldeste commented on #10394
I'm on Xcode 14.1 with Firebase version of 9.6.0 and I got similar error:

![Screenshot 2022-11-24 alle 15 34 22](https://user-images.githubusercontent.com/98191446/203958811-071ff1b7-124f-4c50-bce8-c5b90d4a19da.png)

[2022-11-25 11:18] jesus-mg-ios opened #10524 "[FR]: Include Firebase XCFrameworks through SPM"
### Description

I want to reduce frictions with my internal tools to build faster xcframeworks from SPM to use it in my projects.

### API Proposal

For that purpose already exists a repo that make it possible https://github.com/akaffenberger/firebase-ios-sdk-xcframeworks
I want to know if it's possible that firebase use this approach directly.

Thanks in advance

### Firebase Product(s)

AB Test

[2022-11-25 14:28] rizafran commented on #10522
Thanks for letting me know, @tamv-ika. For now, what I may suggest is to check if the issue is reproducible with any memory debugging tools (like zombies, asan) to isolate it.

[2022-11-25 14:43] paulb777 commented on #10524
This is a duplicate of #6564. Please follow the feature request there.

[2022-11-25 14:43] #10524 closed

[2022-11-25 14:46] tamv-ika commented on #10522
@rizafran for now, I can't reproduce this crash in our enviroment, none of this crash has been reported when we were developing or testing. This crash happen to the published application. Do you have any guess?

[2022-11-25 14:48] jesus-mg-ios commented on #6564
is this https://github.com/akaffenberger/firebase-ios-sdk-xcframeworks going to be hosted by Firebase? I mean I think is the best option, and should be supported by firebase

[2022-11-25 15:06] paulb777 commented on #6564
We haven't yet decided to directly support binary distributions via SPM, but if we do, we'll host the binaries.

Note that we already do distribute binary xcframeworks via the [Carthage distribution](https://github.com/firebase/firebase-ios-sdk/blob/master/Carthage.md).

[2022-11-25 15:08] paulb777 commented on #10400
Reopening. See the comment above about investigating locally. https://github.com/firebase/firebase-ios-sdk/issues/10400#issuecomment-1302525301

[2022-11-25 15:24] arielelkin commented on #6564
@paulb777 what's the added value for developers who use Firebase to build Firebase from source? It involves:

- Fetching a dozen dependencies (takes 120 seconds on average)
- Building a dozen different targets (takes 50 seconds from clean to compile hundreds of source files)

This would make sense if most developers were interested in inspecting or debugging the Firebase code, but I suspect that's

[2022-11-25 15:45] jesus-mg-ios commented on #6564
@paulb777 , thanks for your reply.
It's truth and before I was using Carthage, but the last update was on May 8, 2021, no active contributors,  it's not the Apple standard and it has lots of problems managing dependencies because the lack of contribution.

I think that's my point of view and the point in which lots of developers are.

[2022-11-25 18:49] tom-andersen commented on #10514
@philip511 Could you try to enable Address Sanitizer since there seems to be a null pointer problem. (see https://developer.apple.com/documentation/xcode/diagnosing-memory-thread-and-crash-issues-early)

We might get lucky and have the location of the problem identified.

[2022-11-25 18:50] philip511 commented on #10514
@tom-andersen Got it, will do

[2022-11-26 02:43] myseven commented on #10495
I'm facing the same crash

[2022-11-27 23:11] tsahi-deri commented on #10393
Hey @dconeybe, after updating to Firebase SDK version 10.2.0 and using the app for a while, I still facing some launch crashes. Below, are some of the crash logs that I captured.

-------------------------------------
Translated Report (Full Report Below)
-------------------------------------

Incident Identifier: 05B28B63-F07C-456D-A725-7A9E4FD5B395
CrashReporter Key:   6AF3DEC0-C139-8828-965C-A9

[2022-11-28 02:04] #10419 closed

[2022-11-28 06:31] KGurpreet opened #10526 "Multiple errors while archiving in Xcode 13.4 or Xcode 14.1(iOS 15 or iOS 16)"
### Description

Getting multiple errors while archiving the project but app build/run fine. Tried many solutions related to cleaning derived data, deintegrate/integrate/install pods, pod clean etc. but nothing worked.
(['GoogleUtilities/GULURLSessionDataResponse.h' file not found](https://stackoverflow.com/questions/66809424/googleutilities-gulurlsessiondataresponse-h-file-not-found)) (https://gi

[2022-11-28 06:52] tamvutdt commented on #10522
@rizafran are you at work today? Please help me or suggest me some solutions to this issue. Thank you so much.

[2022-11-28 08:04] ngoccuong11789 opened #10527 "Phone Auth not working in iOS 16 and above"
### Description

I'm using IOS 16.1.1 and can't login using Firebase and see the issue on this function :

PhoneAuthProvider.provider().verifyPhoneNumber(phoneNumber, uiDelegate: nil) { (verificationID, error) in
         if let error = error {
           print("error 123\(error.localizedDescription)")
             error.localizedDescription.showToast()
           return
         }
           guar

[2022-11-28 12:17] rizafran commented on #10527
Thanks for reaching out, @ngoccuong11789. I tried reproducing the issue, but I'm able to verify my number and login to my app. May I know if you're using native iOS or react native app?

[2022-11-28 14:55] paulb777 commented on #10513
The Firestore tsan tests have been consistently failing the last 7 days.

[2022-11-28 15:38] dabaicaifen opened #10528 "iPhone 14 / 14 Pro models not appears on Analytics Dashboard"
### Description

Using Swift Package Manager.
Firebase SDK version is 10.2.0.

The Analytics Dashboard and real-time DebugView cannot show iPhone 14 Pro models.

### Reproducing the issue

The issue can be reproduced every time by simply setup Firebase Analytics.

### Firebase SDK Version

10.2.0

### Xcode Version

14.1

### Installation Method

Swift Package Manager

### Firebase Product(s)

Ana

[2022-11-28 15:39] paulb777 commented on #10522
@tamv-ika See https://developer.apple.com/forums/thread/92102

[2022-11-28 15:57] rizafran commented on #10528
Hi @dabaicaifen, it seems that your issue is most likely on the backend side. With this, please file a ticket through our [Firebase support channel](https://firebase.google.com/support) so that the team will be able to assist you better since they have a visibility in your project details. That being said, I'll be closing this issue now.

[2022-11-28 15:57] #10528 closed

[2022-11-28 16:08] dconeybe commented on #10393
@tsahi-deri The "good" news is that none of those crashes in the updated stack traces appear to be related to Firestore. So perhaps the race condition fix https://github.com/firebase/firebase-ios-sdk/pull/10403 (released in 10.2.0) fixes the initial crash that you reported.

The updated stack traces all seem to be coming from Crashlytics. This could either be a bug in crashlytics or, sometimes, cr

[2022-11-28 16:33] paulb777 commented on #8200
According to https://github.com/apple/swift-protobuf/issues/1101, there are solutions using `@_implementationOnly import` and module aliasing with Swift 5.7

[2022-11-28 16:50] paulb777 commented on #10526
I suspect there is something wrong with the Build Settings in the Xcode workspace. We'll likely need a reproducible example to help here.

[2022-11-28 18:58] ehsannas commented on #10469
Thanks for reporting @sergiocampama. I will start looking into this. In the meantime, if there has been any developments over the past few weeks, please provide an update here. Thanks

[2022-11-28 19:28] sergiocampama commented on #10469
not much to report given we're pinned to Firestore 9.1.0

[2022-11-28 19:43] wu-hui commented on #10507
I have tried to reproduce this with 10.2, only unsuccessfully. I have tried to switch users from anonymous users to email to google users, all while keeping an active listener around, and it worked fine.

@Shakle Please can you explain how the URL scheme changed for you?

To all folks who can reproduce this, I suspect there is some specific condition required before I can reproduce, please can you

[2022-11-29 02:04] #10466 closed

[2022-11-29 02:04] #10462 closed

[2022-11-29 03:18] ngoccuong11789 commented on #10527
Thanks for reaching out me. I'm working on  native iOS, I can't pass this function : PhoneAuthProvider.provider().verifyPhoneNumber.... It always return error on IOS 16, but IOS 15.5 is OK, nps.... Here is the error message : An internal error has occurred, print and inspect the error details for more information.

Thanks,

[2022-11-29 03:20] ncooke3 commented on #10527
Hi @ngoccuong11789, could you please share a snipped of where and how you configure Firebase?

[2022-11-29 03:42] ngoccuong11789 commented on #10527
Hi Sir,
I can't test for now, because of this error : "Error Domain=FIRAuthErrorDomain Code=17010 "We have blocked all requests from this device due to unusual activity. Try again later." UserInfo={NSLocalizedDescription=We have blocked all requests from this device due to unusual activity. Try again later., FIRAuthErrorUserInfoNameKey=ERROR_TOO_MANY_REQUESTS}
"
I will confirm you later after Fire

[2022-11-29 06:28] Zeus64 opened #10533 "Could not find or use auto-linked framework 'FBLPromises'"
### Description

I'm using delphi to build my ios App. Starting with firebase 9, I cannot anymore compile my project with firebase. when I try (with -ObjC linker flag) i receive error like:

[code]
and this still firebase 10.2.0. but with firebase 8.15.0 it's was working fine. Is there any change made in firebase 9.0.0 that can explain this? Is there any workaround?

### Reproducing the issue

_No

[2022-11-29 11:31] giovaniortolani commented on #9497
Hello.

I was checking the Firebase documentation and saw that `ga_session_id` getter was implemented sometime in mid-October.

`ga_session_number` getter is still missing.

See:
https://firebase.google.com/docs/reference/swift/firebaseanalytics/api/reference/Classes/Analytics#sessionid

[2022-11-29 12:13] jesus-mg-ios opened #10534 "Possible Hang"
### Description

Purple advice appears on Xcode when using firebase.

### Reproducing the issue

<img width="793" alt="image" src="https://user-images.githubusercontent.com/85997060/204525910-214d3dfa-e85e-4aa8-8f77-ed351b44f671.png">
<img width="1175" alt="image" src="https://user-images.githubusercontent.com/85997060/204526031-224452c2-34b7-4579-8279-dba321162df8.png">

### Firebase SDK Version

[2022-11-29 12:28] tsahi-deri commented on #10393
@dconeybe No problem.
By remove Crashlytics, do you mean remove the Crashlytics Run Script that was added to Build Phases,
or remove the framework completely?
If the latter is true, how do I do it?

[2022-11-29 13:02] rizafran commented on #10534
Hi @jesus-mg-ios, this issue seems related to #10476, and the fix was already included in [v10.2.0](https://firebase.google.com/support/release-notes/ios#version_1020_-_november_15_2022). With this, updating your SDK to the latest version would resolve the issue. Thanks.

[2022-11-29 13:02] #10534 closed

[2022-11-29 13:19] jesus-mg-ios commented on #10534
@rizafran thanks for your reply

[2022-11-29 15:05] wu-hui commented on #10507
In the flutter comment https://github.com/firebase/flutterfire/issues/9972#issuecomment-1328195480 it seems this happens when you have `whereIn` queries.

Can people in this thread confirm this? This issue is already known by the team, and we are addressing it at the moment.

If you do not have `whereIn` and still experience this issue, then it could be something else and we will look further.

[2022-11-29 16:25] paulb777 commented on #10533
FIRHeartbeatController is defined in the module FirebaseCoreInternal that was introduced in Firebase 9.0.0

[2022-11-29 16:26] Zeus64 commented on #10533
Thanks, what is FIRHeartbeatController and why it's can make the linking fail ?

[2022-11-29 16:27] paulb777 commented on #10533
The FirebaseCore implementation now depends on FIRHeartbeatController, so FirebaseCoreInternal must be linked as well

[2022-11-29 18:01] paulb777 commented on #10394
@pauldeste Those are not selectors in Firebase. Please check the rest of your app.

[2022-11-29 20:39] dconeybe commented on #10393
@tsahi-deri I'm suggesting removing Crashlytics completely from your application. Removing the run script is not sufficient as the run script is only used to capture dSYMs/cSYMs and does not impact the app at runtime. The steps to remove Crashlytics depend on how your app is built (CocoaPods, SPM, framework copied in, etc). I don't have specific guidance on that because I'm not familiar with your

[2022-11-29 22:25] paulb777 commented on #6564
We're adding this feature request to the active backlog. Most likely a first solution will be Firestore only.

[2022-11-30 02:04] #9462 closed

[2022-11-30 04:02] ngoccuong11789 commented on #10527
Hi Sir,
I think the problem is not related to IOS 16, the problem is I sent many request on my device and my device/phone number has blocked all requests, the first message is : "An internal error has occurred, print and inspect the error details for more information." and the next error is : "We have blocked all requests from this device due to unusual activity...."
I need to wait for 1 day and c

[2022-11-30 04:02] #10527 closed

[2022-11-30 07:30] Zeus64 commented on #10533
No, adding FirebaseCore didn't help :( There is definitively something wrong in Firebase 9.0.0

to go a little further, when I add the linker option:
-ObjC

then i receive

[DCC Error] E2597 ld: warning: Could not find or use auto-linked framework 'GoogleDataTransport'

and when I add the linker option:
-force_load .\Firebase\FirebaseMessaging\GoogleDataTransport.xcframework\ios-arm64\GoogleDataTr

[2022-11-30 12:03] #10513 closed

[2022-11-30 16:32] ryo0126 opened #10542 "Snapshots get not to be notified to snapshot listener for several seconds"
### Description

Snapshots get not to be notified to snapshot listener for several seconds.

In my code, I call addSnapshotListener on a firestore collection where 10 documents are added per second and listening for changes. However, after tens of minutes or hours, the snapshot gets not to be notified at all. Then, after a few tens of seconds, they will be notified again.

I use Wi-Fi and keep the

[2022-11-30 17:36] kr1s0404 commented on #10526
same here

[2022-11-30 18:22] paulb777 commented on #10533
If you can reproduce with one of the supported Firebase distributions, the Firebase team can investigate further.

Otherwise we can leave open if someone else in the community can help with the Delphi configuration.

[2022-11-30 18:33] Zeus64 commented on #10533
thanks @paulb777

I investigate a little more and now i have this :

[code]

do you know what's it's mean exactly ?

[2022-11-30 18:52] kr1s0404 opened #10543 "Using Swift Package Manager to add Firebase on Xcode 14.1 causing multiple errors in Xcode project"
### Description

When I used the SPM to add Firebase SDK to my Project, it shows the following error.
But when I use Pod install to add SDK, it was working fine.
I have try reset package caches, resolve package version, and delete the derived data in the folder.

![Imgur](https://i.imgur.com/Qf7Cukz.png)
![Imgur](https://i.imgur.com/ggFRA2e.png)

### Reproducing the issue

Xcode Version: 14.1
iOS

[2022-11-30 19:08] paulb777 commented on #10533
One issue may be that the Swift library is not being linked. A workaround for that is to add a dummy swift source file to the project.

[2022-11-30 19:13] Zeus64 commented on #10533
thanks @paulb777 , do you know how to link the swift library ? I'm not under xcode so I cannot add a dummy swift source file, I need to link it manually. why it's was working in 8.15.0 but not anymore in 9.0.0+ ?

[2022-11-30 19:44] paulb777 commented on #10533
Firebase 9.0.0 is the first version of Firebase that includes required Swift implementation sources.

[2022-11-30 19:46] paulb777 commented on #10543
These are possibly transitory networking issues.

Does retrying work? Are you able to access the failed URLs from a browser?

[2022-11-30 19:47] charlotteliang commented on #7854
@dweekly You are right, app group doesn't support data sharing between watch and iPhone. So unfortunately this issue is expected.  We are looking at the possibilities of supporting this feature. In the meantime, @RohitRajendran and @dweekly It would be great to file a feature request and upvote the issue, which helps us prioritize.

[2022-11-30 19:49] charlotteliang commented on #9525
This is a duplicate of #7854.

[App group doesn't support data sharing between watch and phone right now](https://developer.apple.com/forums/thread/3927?page=2). It would be great for @ivopintodasilva to file a feature request or upvote one already exists which helps us prioritize.

[2022-11-30 19:49] #9525 closed

[2022-11-30 20:02] Zeus64 commented on #10533
thanks @paulb777 now that explain why it's not working under 9.0.0. do you know where I can found this swiftFileProvider library? I look everywhere and I can't find it :(

[2022-11-30 22:35] SwiftNativeDeveloper commented on #6975
@eacrh I filled out the survey link above in the springtime. Regarding 'event' data, the exit metrics are HUGE. They could be first-party events that get adopted into firebase.

The downside is that exposing these metrics really demonstrates that Firebase doesn't catch nearly as much as Apple provides out of the box with the MXDiagnosticPayloads.

https://developer.apple.com/documentation/metricki