[2020-03-03 17:29] morganchen12 commented on #4998
Thanks, please keep this issue updated after releasing with the new Firebase version.

[2020-03-03 17:36] justkd-google commented on #4913
The issue with Xfinity/Comcast should be fixed now. Please let us know if you continue to see this problem

[2020-03-03 17:43] morganchen12 commented on #2465
@yellowgmk do you have the exception message as well, printed after the crash? Without it, it's not possible to tell if this is the same crash or a different one.

[2020-03-03 17:52] tennydesign commented on #4913
I'm still getting this:
ResponseErrorCode=-1200, NSLocalizedDescription=An unknown error occurred, please check the server response.

[2020-03-03 17:58] tennydesign commented on #4913
Correction: Rebooted my router and it worked. @justkd-google the correct closure message should include a step to reboot the router.
Thanks for hunting this down. Big relief.

[2020-03-03 17:59] baolocdo commented on #4990
The current Firebase Analytics is 6.3.0. You can pin the version of Analytics to the previous one 6.2.2

[2020-03-03 18:00] justkd-google commented on #4913
Glad to hear - thanks @tennydesign for reporting that the solution requires rebooting the router (unfortunate that step is necessary, but it doesn't appear we can get around that).

[2020-03-03 18:04] dloker commented on #4913
I can also confirm it works now for myself with XFi Advanced Security enabled. I did not have to reboot the router, though.

[2020-03-03 18:12] #4913 closed

[2020-03-03 18:14] mikehaney24 commented on #4956
Sorry I missed this, this was fixed by #4965

[2020-03-03 18:14] #4956 closed

[2020-03-03 18:43] ehmjaysee commented on #4913
Does this require a Firebase update? Or was it resolved entirely by Xfinity/Comcast?

[2020-03-03 19:10] morganchen12 commented on #4913
This was resolved by Comcast and does not require any Firebase updates.

[2020-03-03 19:10] chliangGoogle commented on #4996
from the notification, it seems like you are sending display notification, which doesn't use direct channel at all. Enable direct channel will only consume your phone's battery for no reason.

you should stop using direct channel and use Apple's API to handle message response since you are using APNS channel to display visible notifications.

Here's the documentation where you can handle received

[2020-03-03 20:17] #4905 closed

[2020-03-03 20:21] wilhuff commented on #4905
This fix should go out with the next release.

[2020-03-04 01:30] paulb777 opened #5010 "Remove deprecated sendLogsWithServiceName"
`sendLogsWithServiceName` is not longer used.

Remove with Firebase 7.

Internally tracked at b/137222285

[2020-03-04 02:12] #4942 closed

[2020-03-04 04:00] ShreeSoftech-Bhuj commented on #4996
@chliangGoogle
Thanks for guidance
but I have already followed  https://firebase.google.com/docs/cloud-messaging/ios/receive
some of it's functions are deprecated.
 just willPresent notification (works with foreground messages only) & didReceive withCompletionHandler function works only
didReceiveRemoteNotification & didReceiveRemoteNotification fetchCompletionHandler completionHandler both are ne

[2020-03-04 07:55] hovox commented on #4915
Hi,
Any info on this issue ? Maybe I can provide additional info ?

Thanks

[2020-03-04 08:39] sschizas commented on #4914
@dmandar it happens randomly but based on the reports received by our customers the devices seem to affect more are iPhone 11, 11 Pro, X. IMO, I think there is an issue with iOS13 that's why I mention in my previous post about iOS13 AASA new format.

[2020-03-04 11:13] RobBernardini commented on #3862
@paulb777, @rizafran, thank you for all the hard work getting this out the door. We appreciate it!

[2020-03-04 11:28] Goseong commented on #4677
Great, thank you for the work!

[2020-03-04 13:41] Nehal-29 opened #5011 "iOS: Notification doesn't appear if my app is in foreground but works if it's in background"
- Using APNS Auth key instead of certificates.
- React Native Project
- xcode: 11.3.1

- pods:

 pod 'RNFirebase', :path => '../node_modules/react-native-firebase/ios'
  pod 'Firebase/Analytics'
  pod 'Firebase/Core'
  pod 'Firebase/Messaging'

Here's my AppDelegate:

[code]

[2020-03-04 14:15] Meshanya opened #5012 "Crashed: GoogleTagManager - NSInvalidArgumentException"
Have a problem with GoogleTagManager.

### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 11.3.1 (11C504)
  * Firebase SDK version: 6.18.0
  * Firebase Component: Analytics, GoogleTagManager
  * Component version: 7.1.2
  * Installation method: `CocoaPods`

### [REQUIRED] Step 2: Describe the problem

#### Steps to reproduce:

After updating the frameworks from:
[code]

to

[code

[2020-03-04 14:56] ryanwilson commented on #5011
Hey @Nehal-29 - which version of Firebase are you using? Copying your `Podfile.lock` would be helpful so we can determine if you're on the latest version or not.

Also, which iOS version are you testing on?

[2020-03-04 15:22] Nehal-29 commented on #5011
Tested on iPhone 6s OS: 12.4.2

`PODS:
  - boost-for-react-native (1.63.0)
  - BVLinearGradient (2.5.6):
    - React
  - Crashlytics (3.14.0):
    - Fabric (~> 1.10.2)
  - DoubleConversion (1.1.6)
  - Fabric (1.10.2)
  - Firebase/Analytics (5.15.0):
    - Firebase/Core
  - Firebase/Core (5.15.0):
    - Firebase/CoreOnly
    - FirebaseAnalytics (= 5.4.0)
  - Firebase/CoreOnly (5.15.0):
    - Fireba

[2020-03-04 15:29] maksymmalyhin commented on #4957
The fix scheduled to be released in 6.19.0 - M66

[2020-03-04 15:29] #4957 closed

[2020-03-04 15:33] ryanwilson commented on #5011
Thanks for the reply! Firebase 5.15.0 was released in December 2018 and there have been a significant number of fixes and changes since then - including a major version update. Can you please try updating to the latest Firebase version (6.18.0) and seeing if this is fixed for you?

If you can't update to the latest major version, updating to the latest 5.X version (5.20.2) may fix your issue, alth

[2020-03-04 16:30] Nehal-29 commented on #5011
@ryanwilson  Still no luck

I get this in console:

[Firebase/Messaging][I-FCM006000] Received message missing local start time, dropped.
2020-03-04 21:57:47.455496+0530 [3360:1805454] 6.18.0 - [Firebase/Analytics][I-ACS023051] Logging event: origin, name, params: fcm, notification_foreground (_nf), {
    ga_event_origin (_o) = fcm;
    ga_screen (_sn) = ScreenName;
    ga_screen_class (_sc) = Scr

[2020-03-04 18:17] morganchen12 commented on #5011
The console log suggests the message is being delivered to your app correctly, but isn't being handled. Can you share the full app logs to see if the notification handler callbacks are being invoked?

[2020-03-04 18:26] morganchen12 commented on #5012
Hey @Meshanya, the crash is originating in Google Analytics and doesn't include any Tag Manager or Firebase symbols. Please file this bug at the [Google Analytics issue tracker](https://issuetracker.google.com/issues?q=componentid:187400) and mention that the crash occurs because `-[GAIBatchingDispatcher queueDispatch:]` does not check the types of its parameter's contents before trying to process

[2020-03-04 18:26] #5012 closed

[2020-03-04 18:27] morganchen12 commented on #4914
We'll need some more information to debug this issue. I'll keep the issue open in case anyone else runs into it. In the meantime, if you're able to isolate the issue concretely (to OS version, device model, or anything else), please let us know.

[2020-03-04 19:24] chliangGoogle commented on #4996
Let's clarify:
Are you
A: sending display notification directly from your backend? Or
B: sending data messages to device and device schedule local notification to display to users?

[2020-03-04 20:52] Abreu0101 commented on #4914
The same issue is happening on two of my apps (I was able to test/reproduce in iOS 13.x.x).
@morganchen12 can you try updating the AASA to the new format? Do we have an ETA (I have a feature that depends on universal links functionality)?

Thanks in advance

[2020-03-04 20:58] kondratk opened #5020 "AppStore Distribution / Release app does not send crashes due to Exported Symbols File missing __mh_execute_header"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 11.3.1
  * Firebase SDK version:  Firebase/Crashlytics (6.15.0):
  * Firebase Component: Crashlytics
  * Component version: 4.0.0-beta.4
  * Installation method: `CocoaPods` (select one)

### [REQUIRED] Step 2: Describe the problem

We've identified, that after signing the app with AppStore certificate, Firebase Crashlytics stops

[2020-03-05 03:46] ShreeSoftech-Bhuj commented on #4996
As I am not having any function to receive remote notification directly for now. so, I am using messaging to receive message & I am scheduling local notification to display that received message to end users.

[2020-03-05 05:27] Nehal-29 commented on #5011
@morganchen12

These are the logs I'm getting after a test notification is sent from Firebase Cloud Messaging console.
Also none of my handlers are getting invoked to show alert.
(even though I'd set the delegate `UNUserNotificationCenter.current().delegate = self`)

[Firebase/Messaging][I-FCM006000] Received message missing local start time, dropped.
2020-03-05 10:53:08.399810+0530 ProjectName[34

[2020-03-05 06:44] Meshanya commented on #5012
@morganchen12 I don't have GoogleAnalytics as separated pod in Podfile. GoogleTagManager depends on GoogleAnalytics(https://cocoapods.org/pods/GoogleTagManager). What can I do with it?

Podfile.lock
[code]

[2020-03-05 07:12] morganchen12 commented on #5012
You can still file feedback at the link above. Google Analytics SDK issues aren't appropriate for this repository since it's not a Firebase product.

[2020-03-05 07:15] morganchen12 commented on #5011
The analytics events being logged means your app is definitely receiving the notifications. To set up notification callbacks, don't forget to set the [delegate property on `UNUserNotificationCenter`](https://developer.apple.com/documentation/usernotifications/unusernotificationcenter/1649522-delegate). Note that this property should be set before your app finishes launching.

[2020-03-05 08:40] Nehal-29 commented on #5011
I'd set my delegate property in application(didFinishLaunchingWithOptions) method.
I can't figure out what's going wrong.

For reference I'd shared my appDelegate above(in template) If you can have a look. @morganchen12

[2020-03-05 13:52] guness commented on #4914
+1

[2020-03-05 17:09] andesappal opened #5024 "iOS app build failure"
https://github.com/flutter/flutter/issues/52020

[2020-03-05 17:16] paulb777 commented on #5024
I don't see anything to indicate that this is an iOS SDK issue. It looks like a flutter integration or app configuration problem.  We can reopen if it reproduces by installing a Firebase pod.

[2020-03-05 17:16] #5024 closed

[2020-03-05 17:31] morganchen12 commented on #4914
According to [this document](https://developer.apple.com/documentation/safariservices/supporting_associated_domains_in_your_app) the older AASA format should still be valid on iOS 13.

If you have the time, can you see if it's reproducible without dynamic links? i.e. host an AASA in the older format from a service like Firebase Hosting and try to set up universal links on that domain?

[2020-03-05 18:13] lguillermo commented on #4334
Having the exact same issue

[2020-03-05 18:31] chliangGoogle commented on #5011
The reason is because you put all the foreground receiving handlers inside "extension: appDelegate" which I don't think it's how delegate should be handled.

Can you move them under class AppDelegate?

[2020-03-05 18:35] andesappal commented on #5024
Thanks Paul. I'll see what I can do with my code, and talk to the Flutter team if need be.

[2020-03-05 18:57] morganchen12 commented on #5011
The extension looks ok and shouldn't cause any issues. Can you try [scheduling a local notification](https://developer.apple.com/documentation/usernotifications/scheduling_a_notification_locally_from_your_app) and seeing if it triggers your `UNUserNotificationCenterDelegate` callback?

[2020-03-05 19:14] chliangGoogle commented on #5011
Another way is that can you try to follow the two delegates in class AppDelegate?
like:
class AppDelegate: UIResponder, UIApplicationDelegate, MessagingDelegate, UNUserNotificationCenterDelegate

I don't know what effect gonna happen when you assign your app delegate to MessagingDelegate and UNUserNotificationCenterDelegate without your class actually follow/extend them.

[2020-03-05 19:36] tommy-hartz commented on #4416
Yes, but that implies the user will still be getting notified until the launch my app again.  Or it would require background code execution, which Apple is usually restrictive about and I am not comfortable adding that to my app.

[2020-03-05 20:10] rakesthedon commented on #4707
At the moment no, but my QA already encounter the same bug with the same steps but using google so it's not impossible that users are going to do so as well.

[2020-03-06 02:02] #4300 closed

[2020-03-06 02:09] paulb777 commented on #2465
GoogleTagManager 7.1.3 was released today with a fix for this issue. Let us know how it goes.

[2020-03-06 11:18] jla commented on #4913
[Barracuda](https://www.barracudacentral.org/lookups/lookup-reputation) is listing  firebasestorage.googleapis.com under the phishing-fraud category.

[2020-03-06 12:27] bensheehan-r38 commented on #4914
@morganchen12 app opens as expected on iOS 12.4.5

[2020-03-06 13:25] domagojb opened #5031 "[CRASH] InAppMessaging crashes when trying to show/load an in-app message"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 11.3.1 (11C504)
  * Firebase SDK version: 6.18.0
  * Firebase Component: InApMessaging
  * Component version: 0.18.0
  * Installation method: Zip file

### [REQUIRED] Step 2: Describe the problem

App crashes when trying to load/present an in-app message.

Log:
[code]

Stack trace:

![image](https://user-images.githubusercontent.

[2020-03-06 13:38] Abreu0101 commented on #4914
The documentation mention "You can include both paths and components array in the same details dictionary". So, the following format should be valid:

[code]

[2020-03-06 15:57] a-h opened #5032 "157240391: SDK attempts to connect to firebasedynamiclinks-ipv6.googleapis.com from IPv4 network."
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 11.3.1 (11C504)
  * Firebase SDK version: Firebase/Core 6.13.0
  * Firebase Component: DynamicLinks
  * Component version: 4.0.7
  * Installation method: `CocoaPods`

### [REQUIRED] Step 2: Describe the problem

Firebase Dynamic Links attempts to connect to an IPv6 domain that it's not capable of connecting to (firebasedynamiclin

[2020-03-06 16:56] morganchen12 commented on #4914
Thanks for clarifying. I'll let the backend team know.

[2020-03-06 16:58] morganchen12 commented on #4913
Is it causing access issues for your users?

[2020-03-06 17:08] a-h commented on #5032
I've also reproduced the issue in the iOS 13.3 simulator.
I've also reproduced the issue in SDK version 6.15.0.

[2020-03-06 17:09] a-h commented on #5032
<img width="365" alt="Screenshot 2020-03-06 at 17 04 50" src="https://user-images.githubusercontent.com/1029947/76105571-172d4a80-5fcd-11ea-94bf-5fac80ab0877.png">

[2020-03-06 17:27] christibbs commented on #5031
Seems like this might be related to the consolidation of the `FirebaseInAppMessaging` and `FirebaseInAppMessagingDisplay` SDKs, since I'm seeing this line (FIDBannerViewController was renamed to FIRIAMBannerViewController):

[code]

@domagojb What does your Podfile look like?

[2020-03-06 17:37] jla commented on #4913
Yes, they are getting a firebase storage error "max retry time for operation exceeded please try again" when they connect through their corporate network. There are a bunch of big companies that use that firewalls.

[2020-03-06 18:06] aletabu commented on #4914
Hello I'm having same issue on iOS 13.3.1. I thinks it's related with apple and not with Firebase.
I'm also using the mixed json format for version 13 and early versions.
It happens on iPhone X, XR and iPhone 11 as far as I know.
It worked fine in iPhone8 with 13.3.1
iOS 12 wroks fine.

[2020-03-06 18:33] paulb777 commented on #5031
Since it's a zipfile install, the problem might be related to not updating the InAppMessagingDisplayResources.bundle as described in [#6 of the README](https://github.com/firebase/firebase-ios-sdk/blob/master/ZipBuilder/Template/README.md).

[2020-03-06 18:48] Abreu0101 commented on #4914
@aletabu Did you try re-installing the app? Because the apple-app-site-association file is cached.

[2020-03-06 19:00] morganchen12 commented on #4913
Thanks. We'll track is in the support ticket to avoid spamming this issue that has a bunch of subscribers who may not be using Barracuda.

[2020-03-06 22:32] christibbs commented on #4952
@srini2dl Looking into this currently, localization should be working on iOS.

[2020-03-06 22:57] christibbs commented on #4952
This issue will be fixed in an upcoming in-app messaging release. Will close when code is complete.

[2020-03-06 22:58] christibbs commented on #4714
Sorry for the delay, this will be fixed in an upcoming release. Will close when code is complete.

[2020-03-06 23:00] christibbs commented on #4701
This is a larger project to consider targeting in our test on device flow. We are adding it to our roadmap.

[2020-03-06 23:03] christibbs commented on #3887
@pimnijman  thanks for the additional context. The InstanceID work is complete, we have to do some work on our end to integrate. This should happen in a near-term upcoming release, I'll close this when the work is done.

[2020-03-07 23:19] paulb777 commented on #4951
Related to #230

[2020-03-07 23:24] paulb777 commented on #4889
I'm going to close since this is an iOS 13.3.1 issue with multiple discussions and workarounds available on stackoverflow.

The best workaround might be to use all static frameworks via a new CocoaPods 1.9.0 feature:

`use_frameworks! :linkage => :static`

[2020-03-07 23:24] #4889 closed

[2020-03-07 23:27] #4561 closed

[2020-03-07 23:30] paulb777 commented on #3902
Work in progress at https://github.com/firebase/firebase-ios-sdk/tree/xcframework-master

[2020-03-07 23:33] paulb777 commented on #2933
Adding to be addressed in the Firebase 7 milestone.

[2020-03-07 23:34] paulb777 commented on #2881
Adding to Firebase 7 milestone for evaluation.

[2020-03-08 00:15] RobBernardini commented on #4827
@paulb777 I have added the libraries like you mentioned but now I am getting this error. Am I missing another library? Since there will never be any standalone Tag Manager included in the Firebase framework hopefully someone can help me out.

<img width="275" alt="Screen Shot 2020-03-08 at 11 05 10 am" src="https://user-images.githubusercontent.com/10274232/76154290-0e07bf00-612e-11ea-9ce8-62a46fd

[2020-03-08 01:22] paulb777 commented on #4827
@RobBernardini Looks like missing symbols from the iOS AddressBook.framework. Add it to the `Link Binary with Libraries` Build Phase.

[2020-03-08 13:59] wangjunhua1 opened #5043 "-[APMUserDefaults objectForKey:]"
### -[APMUserDefaults objectForKey:]
we use the lastest version
<img width="438" alt="image" src="https://user-images.githubusercontent.com/11474284/76164205-f9f0ab80-6187-11ea-85a1-6240bdd682df.png">
but show this crash
[code]

[2020-03-08 14:29] paulb777 commented on #5043
@wangjunhua1 Thanks for the report. We'll investigate. Internally tracked at b/151033525

[2020-03-09 01:02] #4622 closed

[2020-03-09 06:13] JayachandraA commented on #5020
Crashlytics, I'm also experiencing same problem. This is sending me the crash report in debug mode, but when I use signing the build and push to TestFlight it is not sending me the report.

[2020-03-09 07:39] akhilpothana opened #5044 "FR: Get Download URL in a single call"
### Feature proposal

* Firebase Component: Storage

Currently, you can obtain the download URL of an image you know already exists in the bucket in one call. In my scenario, I'm uploading a new image, and then immediately making another call to obtain its new download URL to send elsewhere. I wonder if it's possible to obtain the image URL as a part of the upload tasks callback, and make everythi

[2020-03-09 07:51] jframosg commented on #4976
Finally, I did not have to do the Firebase integration with my private pod. Thank you very much for your help, @morganchen12 !!

[2020-03-09 07:51] #4976 closed

[2020-03-09 09:33] drlukas6 commented on #5031
I am getting the same bug even after trying your suggested solution.

[REQUIRED] Step 1: Describe your environment

Xcode version: 11.3.1 (11C504)
Firebase SDK version: 6.18.0
Firebase Component: InApMessaging
Component version: 0.18.0
Installation method: Zip file

[REQUIRED] Step 2: Describe the problem
Loading/Presening an InAppMessage crashes the app

Log:
[code]

[2020-03-09 09:53] nidegen opened #5045 "Missing symbols on Build"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 11.3.1
  * Firebase SDK version: 6.18.0
  * Firebase Component: Analytics
  * Installation method:Zip file

### [REQUIRED] Step 2: Describe the problem

#### Steps to reproduce:

- Manually install firebase from the zip.

- Build it.

Output:
[code]

As already reported on #4800, we get linking errors since trying to update above

[2020-03-09 09:53] nidegen commented on #5045
just run `sh setup.sh` to dl the zippped firebase

[2020-03-09 11:37] DevAndArtist commented on #4917
Just run into the similar issue. I was trying if I can drop pods in our project and use `Crashlytics/Analytics` trough Carthage until we can use SPM. Cocoapods give me too many headaches.

[2020-03-09 13:35] shaliko commented on #4558
+1

[2020-03-09 14:08] maksymmalyhin commented on #5045
@nidegen Could you make sure you remove all old Firebase framework versions and copy the new ones? Also you may clean the build folder and Derived Data folder in case the first doesn't help.

From you particular error it looks like your project picks  an old `FirebaseCore.framework` version.

[2020-03-09 14:10] nidegen commented on #5045
That is what i was thinking. I have tried those things, but let me double check. Maybe search paths were wrong.

[2020-03-09 14:15] nidegen commented on #5045
yep, there was the old version in the carthage build folder 😖 thanks for the trigger:D

[2020-03-09 14:15] #5045 closed

[2020-03-09 14:16] maksymmalyhin commented on #5045
I'm glad it was fixed for you!

[2020-03-09 14:30] paulb777 commented on #4917
@DevAndArtist While it's clear there's a consistency problem, we haven't seen the issue prevent anything from working.  How is it not working for you?

[2020-03-09 15:31] DevAndArtist commented on #4917
@paulb777 when I try running the project in the simulator I get an error prompt from Xcode 11.3.1 before it can launch the app that this particular framework is missing the `Info.plist` file. It compiles, but I can't run the application if I use this setup.

[2020-03-09 15:37] paulb777 commented on #4917
@DevAndArtist Thanks. We'll take a look. It might be something with the recent Xcode version.  In the meantime a workaround might be to exclude FirebaseCoreDiagnostic.framework.

[2020-03-09 16:12] jostster commented on #4558
A little update. I was able to get FirebaseCrashlytics to build for WatchOS and running in the Firebase watchos sample app. I seem to be having an issue though with the backend seeing the sample app as the watch extension appends a `WatchKitExtension` to the end of the bundleId. So this might require a bit of work to the backend?

For example my test app is `com.ua.crashlyticstest.WatchKitApp` dow

[2020-03-09 16:50] morganchen12 commented on #5043
@wangjunhua1 can you provide the iOS version this crash is occurring on?

[2020-03-09 17:48] christibbs commented on #5031
@drlukas6 Are you integrating in-app messaging for the first time, or upgrading from a previous version?

[2020-03-09 18:26] schmidt-sebastian commented on #5044
@akhilpothana Thanks for the feature request!

This is actually how Storage used to work, but we had to change the behavior so that we could add support for `StorageReference.list()`. Generating download URLs is now a separate step, and while I understand that this is not ideal, this separation allows us to better balance SDK traffic across our backends. Sorry!

[2020-03-09 18:26] #5044 closed

[2020-03-09 18:40] morganchen12 commented on #4888
Closing since this is intended (iOS platform) behavior. @letrungtrung please let us know if you have any more questions.

[2020-03-09 18:40] #4888 closed

[2020-03-09 18:49] morganchen12 commented on #4996
Hey @ShreeSoftech-Bhuj, as mentioned earlier, the only way to receive messages in the background is via APNs, since the direct channel is not available when the app is suspended. If your app is unable to receive APNs messages, then FCM will not work in the background because FCM depends on APNs to deliver background messages.

This also means that in order to receive background messages you will n

[2020-03-09 18:53] morganchen12 commented on #2465
Hey all, the TagManager fix was pushed at the end of last week. [Here's the podspec](https://github.com/CocoaPods/Specs/tree/master/Specs/9/5/6/GoogleTagManager/7.1.3); please update and test your apps.

Note that the Swift-only value check will still be included in the next Firebase release, which should be out soon as well.

I'm going to close this issue since the fix is released, but if it regr

[2020-03-09 21:07] girishw opened #5048 "Push Notifications Not Working for Catalyst"
I am unable to get push notifications working for Catalyst. My current setup works correctly for iOS but shows an authentication error for Catalyst.

**Code Excerpts**

[code]
**Error **
{ Error: Auth error from APNS or Web Push Service Raw server response: "{"error":{"code":401,"message":"Auth error from APNS or Web Push Service","status":"UNAUTHENTICATED","details":[{"@type":"type.googleapis.com

[2020-03-09 21:12] morganchen12 commented on #5048
The error you're getting is likely to cause push notifications to fail on both iOS and macOS Catalyst. Can you try generating a new auth key and uploading it to Firebase console?

[2020-03-09 21:54] willbattel opened #5049 "Add Query equality function"
### Feature proposal

* Firebase Component: Firestore

Our team would like to see a built-in function added to the Query object that allows us to compare it with another Query object for logical equality. I've nosed around and haven't found this functionality built into the SDK, though there are workarounds possible on our side. This would be a low priority nice-to-have for us if you agree in its

[2020-03-09 21:55] paulb777 commented on #5043
@wangjunhua1 Also you might want to check the other threads and run the Xcode memory analyzer tools. We've seen a crash like this for unrelated memory corruption problems in some of our tests.

[2020-03-09 22:37] RobBernardini commented on #3862
@paulb777 @rizafran . I finally updated to using the new Google Mobile Ads framework, as well as other Firebase frameworks, and I ran grep to verify that there are no more references to UIWebView in my app but this is what was discovered.

<img width="486" alt="Screen Shot 2020-03-10 at 9 32 18 am" src="https://user-images.githubusercontent.com/10274232/76263163-4b955500-62b2-11ea-82d6-7eb035d8df2

[2020-03-09 23:07] girishw commented on #5048
I tried with a new APNS key and am seeing the same result. A few more data points:

- I am using the fcmToken from the callback :
func messaging(_ messaging: Messaging, didReceiveRegistrationToken fcmToken: String)
- I seem to be able to the fcmToken generated on iOS to send a message to the Mac Catalyst instance of the app. The fcmToken from the callback on Catalyst produces the  UNAUTHENTICATED

[2020-03-09 23:20] RobBernardini commented on #4827
Hi @paulb777 . I appreciate all your help with this!

I still haven't found a solution but I believe that it may be due to our use of an older `GoogleAnayticsServices.a` library. I see that we also also have an `AdIdAccess.a` library and I believe that they are part of the legacy Tag Manager and Google Analytics frameworks.

<img width="113" alt="Screen Shot 2020-03-10 at 9 39 51 am" src="https://

[2020-03-09 23:23] girishw commented on #5048
I also see the following warning : 6.18.0 - [Firebase/InstanceID][I-IID003014] Running InstanceID on a simulator doesn't have APNS. Use prod profile by default.

[2020-03-09 23:25] morganchen12 commented on #3862
What version of GoogleMobileAds are you running?

[2020-03-09 23:29] morganchen12 commented on #5048
@chliangGoogle could InstanceID be mistaking the Catalyst runtime for a simulator environment?

[2020-03-09 23:31] morganchen12 commented on #4827
I'm not sure about the requirements for the new library, but:

This is likely just a stale linker flag somewhere in your build configuration. If you search your build files (and config files, if you're using any) for `-lGoogleAnalytics` you may be able to find the culprit.

[2020-03-09 23:41] RobBernardini commented on #3862
Hi @morganchen12 , I am running version 7.55.1, this is the latest version bundled into Firebase 6.18.0.

[2020-03-09 23:43] RobBernardini commented on #4827
That's what I thought. I still haven't found it but I'll keep searching. Thanks!

[2020-03-10 00:28] morganchen12 commented on #3862
Interesting. Looks like the references were removed from GoogleMobileAds' codebase internally at the end of January, and I wasn't able to find any references to UIWebView in the current codebase. Can you try again with GoogleMobileAds 7.56.0? It's possible the UIWebView removal slipped past the code freeze for 7.55.1, but if UIWebView is still present in the latest version then there's likely some

[2020-03-10 00:44] wilhuff commented on #5049
I believe this is already present: `FIRQuery` implements `isEqual:`:

https://github.com/firebase/firebase-ios-sdk/blob/master/Firestore/Source/API/FIRQuery.mm#L132

Or were you looking for something else?

[2020-03-10 00:57] RobBernardini commented on #3862
I just updated to 7.56.0, ran it on a device and called grep on the app. Here is the whole output:

<img width="481" alt="Screen Shot 2020-03-10 at 11 52 29 am" src="https://user-images.githubusercontent.com/10274232/76269454-da5f9d00-62c5-11ea-93a5-9d9f8794ef2d.png">

The other SCORVCE reference is another framework called `ComScore` but I am wondering if the UIWebView specific reference is with

[2020-03-10 01:07] paulb777 commented on #3862
I don't see it in the admob quickstart:

[code]

[2020-03-10 02:52] willbattel commented on #5049
@wilhuff you're right. I had a weird issue in Xcode where some functions appeared not to exist. Restarting Xcode and cleaning the build resolved the issue. The implementation of `isEqual` should give us exactly what we want. Thank you!

[2020-03-10 02:52] #5049 closed

[2020-03-10 03:55] yasirmturk commented on #5020
Same here 👎

[2020-03-10 06:31] SeeTheInvisible commented on #5020
We also have the same problem

[2020-03-10 08:53] drlukas6 commented on #5031
@christibbs I upgraded firebase from 6.14.0 to 6.18.0. Previously InAppMessagingDisplay was used, but as it was deprecated, I replaced it with InAppMessaging

[2020-03-10 09:47] yellowgmk commented on #2465
We've embedded GoogleTagManager 7.1.3 in our application, but it doesn't seem to solve the problem.
We have trouble reproducing the problem, but our users have it consistently and we have about 50% crashes in our user base, all caused by this issue.
- The crash always happens at app startup.
- Usually the application crashes once at app startup and then it works the second time the user launches i

[2020-03-10 10:11] a-h commented on #5032
A similar issue was filed in the .NET SDK in 2018 and was resolved by updating the domain to firebasedynamiclinks.googleapis.com, see https://github.com/googleapis/google-api-dotnet-client/issues/1186 for more details.

[2020-03-10 11:41] terenceyan commented on #5020
Also, seeing the same issue with an app not using `CocoaPods` installation.

[2020-03-10 13:13] yasirmturk commented on #5020
I have tried with both pods and with static framework linking using `6.18.0`

[2020-03-10 13:43] samedson commented on #5020
For others with the same issue, are you seeing the same log from Crashlytics and InstanceID? Eg:

[code]

[2020-03-10 14:02] ryanwilson commented on #5048
Looks like that's coming right from GoogleUtilities itself - https://github.com/firebase/firebase-ios-sdk/blob/0dd8dda16557cc56fb93e29fac966e889c3d8347/GoogleUtilities/Environment/third_party/GULAppEnvironmentUtil.m#L203-L211

We should be checking `TARGET_OS_MACCATALYST` here.

[2020-03-10 14:04] ryanwilson commented on #5048
Also it looks like the example needs to change, too:
https://github.com/firebase/firebase-ios-sdk/blob/e028c72162a3df49ce3147aa2fc2fca4841353da/Example/Messaging/Sample/iOS/Environment.swift#L20-L27

[2020-03-10 14:13] samedson commented on #5020
If this is happening with both Firebase 6.15.0 and 6.18.0, it seems unlikely a code change caused this to happen, since many apps have successfully released to the App Store in that timeframe with Crashlytics. I'm trying to figure out what could have changed with Apple's signing that would cause this. It seems like files in general can't be opened from Crashlytics and InstanceID.

 - Are there oth

[2020-03-10 14:57] Xhale1 commented on #4994
Are you able to comment on what effects upgrading gRPC could have on the performance / feature-set of Firebase? It seems like a huge leap consisting of several years of development.

[2020-03-10 15:45] EliteTechnicalCare opened #5053 "[Catalyst] Invalid Code Signing for uploaded apps"
After jumping through 1000 hoops I was able to get my project to compile, and after another 1000 hoops I was able to get it to achieve, but then when I finally uploaded it to the App Store I was hit with:

This is currently what I have for signing:
![image](https://user-images.githubusercontent.com/12222977/76331069-029acc00-62c5-11ea-8f64-061125fbb7e8.png)

Is this an issue on my end? Or ongoing

[2020-03-10 16:18] wilhuff commented on #4994
The gRPC-C++ 0.0.9 CocoaPod was an experimental packaging of gRPC 1.21 from ~May 2019. Previously only the C core and the Objective-C interface to gRPC were packaged as CocoaPods. The versioning here indicated that the CocoaPod itself was experimental, even though the C++ interface is otherwise widely used and well tested.

I expect there to be no substantial differences in performance and no diff

[2020-03-10 17:17] jostster commented on #4958
This seems to also be an inssue in Crashlytics as well.

[2020-03-10 18:03] samedson commented on #4958
This has worked in Crashlytics for a while now - did this break with the most recent version?

[2020-03-10 18:03] morganchen12 commented on #4958
@jostster, can you share what version of Crashlytics you're using?

[2020-03-10 18:06] morganchen12 commented on #5048
The Swift sample should use `#if targetEnvironment(simulator)` instead of checking architectures.

[2020-03-10 18:12] morganchen12 commented on #2465
@yellowgmk can you update to the latest version of Analytics and then try to force the crash by logging a Swift-only type?

[2020-03-10 18:19] morganchen12 commented on #3862
`GADOMIDUIWebViewJSExecutor` doesn't actually reference UIWebView anymore, it's just a holdover name from when it used to. Can you try checking a project without comScore?

[2020-03-10 18:58] jostster commented on #4958
4.0.0-beta.4 I built from the master branch instead of installing from a pre built pod.

[2020-03-10 19:01] morganchen12 commented on #5053
Can you check the code signatures of the gRPC bundle and your main application bundle? You can grab the certificate information with the following commands:

[code]

This is to figure out if the two bundles have separate signing certificates. If they do, you should then
- Re-sign the gRPC bundle with the same certificate and signing identity that you used for the main app bundle, then resubmit to

[2020-03-10 19:02] morganchen12 commented on #4958
Thanks for clarifying! If this behavior regresses, please file it as a separate issue since this issue tracking two SDK behaviors will otherwise start to get messy.

[2020-03-10 20:15] jostster commented on #4557
+1, Is analytics for iOS open source? I'm not seeing the code for doing community support for watchOS.

[2020-03-10 20:24] paulb777 commented on #4557
@jostster FirebaseAnalytics is not open source.

[2020-03-10 20:32] jostster commented on #4558
After further debugging it appears the issue with it not activating on the backend is because the activation is done through the `FirebaseAnalytics` framework which is not ported to watchOS.

[2020-03-10 20:48] jostster commented on #4557
@paulb777 Do you know if it is on the roadmap to allow it to work on watchOS? It seems https://github.com/firebase/firebase-ios-sdk/issues/4558 will be held up by the community without the watchOS support on Analytics since it looks like the FirebaseCrashlytics backend activation requires the Analytics to ping the server.

[2020-03-10 20:55] paulb777 commented on #4557
@jostster I can't speak about roadmaps, but I can say that watchOS is a lower priority than Catalyst, tvOS, and macOS.

Also, Crashlytics does have support for Catalyst, even thought Analytics is not available.

[2020-03-10 21:24] pacu commented on #4690
I know this is closed, but it might help, because it fixed the issue for me. If you see this on the simulator, reset content and settings and try again.

[2020-03-10 22:40] morganchen12 commented on #5048
This fix will be in the next release, but you can test it out now by installing the pod directly from GitHub.

[2020-03-10 23:21] akhilpothana commented on #5044
Fair enough. Thanks for the reply!

[2020-03-10 23:51] WillLewis opened #5062 "'../AppEvents/Internal/ViewHierarchy/FBSDKViewHierarchy.h' file not found"
###  environment
  *Cocoapods 1.9.1
  * Xcode version: 11.3.1
  * Firebase SDK version: 6.2
  * Firebase Component: FBSDKCoreKit + Internal.h
  * Component version: 6.6.0
  * Installation method: CocoaPods

### problem
'../AppEvents/Internal/ViewHierarchy/FBSDKViewHierarchy.h' file not found

<img width="1584" alt="Screen Shot 2020-03-10 at 6 45 46 PM" src="https://user-images.githubusercontent.co

[2020-03-11 01:35] paulb777 commented on #5062
Looks like a [Facebook SDK problem](https://cocoapods.org/pods/FBSDKCoreKit). Please report it there. We can reopen if it's something about Firebase triggering it.

[2020-03-11 01:35] #5062 closed

[2020-03-11 01:54] SotoiGhost opened #5065 "Undefined symbols for architecture armv7: "_UIApplicationWillEnterForegroundNotification""
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 11.3.1
  * Firebase SDK version: 6.19.0
  * Firebase Component: Firestore
  * Component version: 1.11.1
  * Installation method: `CocoaPods` (`cocoapods-rome` plugin)

### [REQUIRED] Step 2: Describe the problem

When building the framework I get the following error:

[code]

Last lines of build here: https://gist.github.com/Soto

[2020-03-11 02:24] paulb777 commented on #5065
Does it help to explicitly link UIKit?

[2020-03-11 02:46] SotoiGhost commented on #5065
@SotoiGhost I'm not a Podfile expert heh. How can I link it from Podfile or must be done from Pods.xcproj?

[2020-03-11 03:12] SotoiGhost commented on #5065
@paulb777 Linking `UIKit` to `FirebaseFirestore` scheme make it work.

[2020-03-11 03:30] daisy1754 opened #5066 "FIRRemoteConfig crash ios 13 with latest SDK 6.18.0"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 11.3.1
  * Firebase SDK version: 6.18.0
  * Installation method: ` Carthage`

cartfile.resolved:
[code]

### [REQUIRED] Step 2: Describe the problem
Seeing around 3% of session crashes per crashlytics. cannot reproduce on my iphone.

stacktrace:
[code]

`BUG IN CLIENT OF LIBDISPATCH: dispatch_sync called on queue already owned by

[2020-03-11 03:39] ShreeSoftech-Bhuj commented on #4996
Hi @morganchen12 ,

[2020-03-11 04:21] SotoiGhost commented on #5065
@paulb777 @wilhuff Is there a way to workaround it using the Podfile for now?

[2020-03-11 04:33] wangjunhua1 commented on #5043
<img width="821" alt="image" src="https://user-images.githubusercontent.com/11474284/76382695-82439c00-6394-11ea-8b16-e3934ce660f5.png">

[2020-03-11 04:39] wangjunhua1 commented on #5043
We tested that there was no recurrence but the online user had this crash

[2020-03-11 05:37] tapanshah1 opened #5068 "Main thread crashing"
PODS:
  - CocoaAsyncSocket (7.6.3)
  - CocoaLumberjack (3.6.0):
    - CocoaLumberjack/Core (= 3.6.0)
  - CocoaLumberjack/Core (3.6.0)
  - Crashlytics (3.14.0):
    - Fabric (~> 1.10.2)
  - Fabric (1.10.2)
  - Firebase (6.15.0):
    - Firebase/Core (= 6.15.0)
  - Firebase/AdMob (6.15.0):
    - Firebase/CoreOnly
    - Google-Mobile-Ads-SDK (~> 7.50)
  - Firebase/Analytics (6.15.0):
    - Firebase/Co

[2020-03-11 05:38] tapanshah1 commented on #5068
Please find attached file.

[2020-03-11 06:05] morganchen12 commented on #5068
Here's the crashed thread:

[code]

Looks like autolayout is crashing your app somehow. There are no Firebase symbols in the crashing thread's stack trace, so I'm going to close this issue.

If you're able to reproduce this crash locally, the exception message should contain some additional info that may help you debug this.

[2020-03-11 06:05] #5068 closed

[2020-03-11 06:11] morganchen12 commented on #4996
Happy to help! Let us know if you have any more questions.

[2020-03-11 06:13] ShreeSoftech-Bhuj commented on #4996
Thanks for Support !

[2020-03-11 06:16] morganchen12 commented on #5066
Looks like this was also reported on FlutterFire in September (https://github.com/FirebaseExtended/flutterfire/issues/225) and may be a regression of #3929. @daisy1754 if you have a fully symbolicated crash report that'd be helpful, but even without it the cause of this crash is pretty clear. Fixing it may be non-trivial though.

[2020-03-11 07:44] nickinade opened #5070 "App crashes after adding GoogleTagManager to project which is using Firebase Analytics"
## [REQUIRED] Step 1: Describe your environment

  * Xcode version: 11.3.1
  * Firebase SDK version: 6.3.2
  * Firebase Component: GoogleTagManager
  * Component version: 7.1.2
  * Installation method: CocoaPods

### [REQUIRED] Step 2: Describe the problem

I have project using Firebase Analytics. I have added Google Tag manager pod. Then, after I add GTM container to the project it crashes at sta

[2020-03-11 08:49] Gagnant opened #5071 "Firestore v6.19.0 is not available via Carthage"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 11.3.1
  * Firebase SDK version: 6.18.0(?)
  * Firebase Component: Firestore
  * Component version: 6.18.0(?)
  * Installation method: Carthage

### [REQUIRED] Step 2: Describe the problem

Firestore 6.19.0 version is not available through the Carthage. All other firebase components are ok. Dependency is listed as `binary "https:

[2020-03-11 08:49] KFMONGF2P commented on #5062
@WillLewis
can you try this solution, see if it works for you or not as I have tried so many ways and this solved my problem?
https://github.com/roughike/flutter_facebook_login/issues/201#issuecomment-543282475

[2020-03-11 08:52] mono0926 opened #5072 "Firestore Emulator Security Rule `request.auth` is always null even after authed"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 11.3.1
  * Firebase SDK version: 6.19.0
  * Firebase Component: Auth, Firestore
  * Component version: Auth: 6.19.0, Firestore: 6.19.0
  * Installation method: `CocoaPods`

### [REQUIRED] Step 2: Describe the problem

Firestore Emulator Security Rule `request.auth` is always null even after authed.

I tried it on Android project/

[2020-03-11 09:17] brkeyal commented on #4393
I've re-created the scenario where an Apple user is new and signs in for my app for the first time, and still, Firebase's user (FIRUser) held a null displayName.
Definitely Apple provided the givenName and familyName on that login (on the appleID Credential), but Firebase just doesn't fetch it.  Seems like a bug with Firebase.

[2020-03-11 10:00] kondratk commented on #5020
@samedson we are using `[[NSBundle mainBundle] bundleIdentifier]` in our app, and the method seems like working fine. Only Crashlytics has difficulties with accessing this identifier.

[2020-03-11 10:05] kondratk commented on #5020
@samedson

- Are there other errors in the logs that indicate an issue with opening files?

Haven't found any additional errors.

- Does anyone's app successfully read from the bundle identifier, but see Crashlytics fail to?

We are reading other files like translations of third party SDK's, so access is working fine. Also  getting `[[NSBundle mainBundle] bundleIdentifier]` works as expected.

[2020-03-11 11:51] anushenoy opened #5073 "FR: Crashlytics stable release ETA"
Now that Fabric is being deprecated and the Firebase Crashlytics beta sdk has been out for quite some time,  when can we expect a stable release of the same.

* Firebase Component: Crashlytics

[2020-03-11 11:56] d-date opened #5074 "Not found run script in FirebaseCrashlytics via Carthage"
* Xcode version: 11.3.1
  * Firebase SDK version: 6.19.0
  * Firebase Component: Crashlytics
  * Component version: v4.0.0-beta 5
  * Installation method: `Carthage`

As described in [your document](https://firebase.google.com/docs/crashlytics/get-started-new-sdk?platform=ios), we need to run Build Script but we cannot find `FirebaseCrashlytics/run` and `FirebaseCrashlytics/upload-symbols` under `

[2020-03-11 13:16] ryanwilson commented on #5071
Hey @Gagnant - can you clear out any caches and try again? Downloading that file directly I see:

[code]

and that direct link allows me to download the `6.19.0` version of Firestore.

Let me know if you're still having troubles with it and I can re-open.

[2020-03-11 13:16] #5071 closed

[2020-03-11 13:23] ryanwilson commented on #5074
Hi @d-date - thanks for the report.

Check out the [Carthage instructions](https://github.com/firebase/firebase-ios-sdk/blob/master/Carthage.md#carthage-usage) and at the very bottom there's a section for Crashlytics specific instructions. Copied here:

     [upload-symbols](https://github.com/firebase/firebase-ios-sdk/raw/master/Crashlytics/upload-symbols)
     and [run](https://github.com/fireba

[2020-03-11 13:59] Elshad commented on #4997
@zebganzo if you upload dSYMs' from firebase dashboard then problem was there. I started upload with upload script and everything now ok.
Run the script directly from your terminal:
`/path/to/pods/directory/FirebaseCrashlytics/upload-symbols -gsp /path/to/GoogleService-Info.plist -p ios /path/to/dSYMs`

[2020-03-11 14:01] ryanwilson commented on #5070
Thanks for the report. I'm not sure if this will make a difference or not at the moment but can you please update to the latest Firebase SDKs and see if that helps? `6.19.0` was just released yesterday. If it's still causing issues we can take another look!

[2020-03-11 14:19] visumickey commented on #5066
Thanks for re-surfacing this issue. We will debug this again to see if we could et anyways around this. Internally tracked at b/151214123.

[2020-03-11 14:23] paulb777 commented on #5070
Also GoogleTagManager 7.1.3 has been recently released.

[2020-03-11 14:38] paulb777 commented on #5065
@SotoGhost A fix is on the way in #5067.  In the meantime another workaround might be to add UIKit to the app's Link Binary with Libraries Build Setting:

![Screen Shot 2020-03-11 at 7 37 35 AM](https://user-images.githubusercontent.com/73870/76428686-3c261280-636b-11ea-9938-415e171eb815.png)

[2020-03-11 15:04] LeffelMania opened #5075 ""app has not yet been configured" exception when calling FirebaseApp.configure()"
### Step 1: Describe your environment

  * Xcode version: 11.3.1 (11C504)
  * Firebase SDK version: 6.19.0
  * Firebase Component: Analytics
  * Component version: 6.3.1
  * Installation method: `CocoaPods`

### Step 2: Describe the problem

After upgrading my `pod 'Firebase/Analytics'` from 6.13.0 to 6.19.0, calling `FirebaseApp.configure()` throws an exception stating that `The default Firebase

[2020-03-11 15:06] nickinade commented on #5070
I have updated Firebase SDKs to `6.19.0` and GoogleTagManager to `7.1.3`. Still same issue.

[2020-03-11 15:08] WillLewis commented on #5062
@KFMONGF2P
I'm not using flutter but a modified version of that worked for me...

- From terminal project directory run `pod cache clean --all`
- Remove `ios/Podfile.lock` file
- Go to the `Podfile` file and ensure it reads `platform :ios, '11.0'`
- From terminal project directory run `pod install`
- Run the project again

Thanks

[2020-03-11 15:14] SwapnanilDhol commented on #4393
I have the same problem. I removed my app from the list of apps I use Apple Auth with but while signing in I still don't get back the name of the user.

[2020-03-11 15:36] d-date commented on #5074
I missed to read this document and get solved this issue.
Thank you for your help.

[2020-03-11 15:36] #5074 closed

[2020-03-11 16:32] rostopira opened #5076 "Undefined symbols for architecture arm64"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 11.3.1
  * Firebase SDK version: multiple, see below
  * Firebase Component: multiple, see below
  * Component version: multiple, see below
  * Installation method: CocoaPods

### [REQUIRED] Step 2: Describe the problem

Can't build after pods update

#### Steps to reproduce:

[code]

Xcode error output:
[code]

I've tried adding

[2020-03-11 16:37] rostopira commented on #5076
This may be a duplicate of https://github.com/firebase/firebase-ios-sdk/issues/4819 however workarounds from comments doesn't fix issue

[2020-03-11 16:55] ryanwilson commented on #5075
Thanks for the report and example project! This is definitely a configuration issue and Firebase being a static framework instead of a dynamic framework.

When running the example I see this log (among other identical ones for different classes):
[code]

Here's a good example of what can be done to avoid this: https://github.com/firebase/firebase-ios-sdk/issues/4777#issuecomment-580848556

The cod

[2020-03-11 16:56] jostster commented on #4558
A little update I was able to finally get the application to auth on the backend. It seems the backend service was down for awhile and would randomly return 404 when getting settings. However the settings does seem to return `firebase_crashlytics_enabled: false` in the settings even though it says reports are being sent and dsym's uploaded. I did see 1 user connect about 12 hours ago but during my

[2020-03-11 17:15] wilhuff commented on #5076
Your build is missing symbols from many of the CocoaPods that you've listed as installing.

At the very least you're missing abseil, gRPC-C++, leveldb-library, and non-Firebase-related pods like OpenCV.

I suspect your build environment or project is corrupt. Try removing `~/Library/Developer/Xcode/DerivedData`, your `Pods` folder, and possibly pod deintegrating and re-installing.

[2020-03-11 17:15] #5076 closed

[2020-03-11 17:18] rostopira commented on #5076
I've already tried cleaning derived data.
Rollback to Firebase 6.13.0 worked out, so I can assume that new version of Firebase breaks whole project badly

Those are Firebase dependencies as well, I'm not installing them directly

[2020-03-11 17:25] morganchen12 commented on #5076
It looks like you're missing symbols from a bunch of dependencies, including some non-Firestore ones.
- gRPC
- abseil
- nanopb
- leveldb
- GoogleMobileAds
- openCV
- Flutter
- Crashlytics

Something else must be going on. Can you share your Podfile?

[2020-03-11 17:27] rostopira commented on #5076
It's Flutter project, nothing really interesting here:
[code]
But whatever, I've already rolled back

[2020-03-11 17:36] wilhuff commented on #5076
Understood that some of your dependencies are indirect.

There seems to be something specific about your circumstances. I'm able to `pod update` in https://github.com/firebase/quickstart-ios/tree/master/firestore to 6.19.0 without issue.

[2020-03-11 17:47] #5065 closed

[2020-03-11 17:49] morganchen12 commented on #4393
Thanks all, I'll take another look at this issue.

[2020-03-11 17:52] morganchen12 commented on #5070
This is a duplicate of #200. There aren't any Firebase symbols in the crashing stack trace, so please file feedback at the Google Analytics tracker instead: https://issuetracker.google.com/issues?q=componentid:187400

[2020-03-11 17:52] #5070 closed

[2020-03-11 17:57] samtstern commented on #5072
@mono0926 thank you for the extremely detailed bug report, this feels like a bug but I'm not sure at the moment if it's a bug in the iOS SDK or if it's a bug in the emulator(s).

[2020-03-11 18:06] girishw commented on #5048
@morganchen12 This fixed the InstanceID/APNS warning but still hasn't fixed the APNS authentication error.

[2020-03-11 18:08] TKBurner commented on #5073
Thanks we expect Fabric to be deprecated before the general release of our Firebase SDKs. They will end up being relatively close in timing, but it should be noted that we will continue support for the Fabric SDKs for many months after the Firebase SDKs have general release.

[2020-03-11 18:13] chliangGoogle commented on #5048
I can help take a look at. Are you able to reproduce with catalyst?

[2020-03-11 18:33] SotoiGhost commented on #5065
Just for the records.

Snippet to link `UIKit` framework from Podfile:

[code]

[2020-03-11 18:38] paulb777 commented on #5065
Running `pod update` to FirebaseFirestore 1.11.2 should now resolve.

Thanks for the report, @SotoiGhost !

[2020-03-11 18:42] girishw commented on #5048
Yes, I am seeing when I build my app for Catalyst. The same code +
 configuration built for iOS does not have the problem. Do I need to make any changes to the bundle ID?

[2020-03-11 18:47] dmandar commented on #5000
Thanks for reporting. Is there a dynamic link you can share? Internal bug b/ tracking this.

[2020-03-11 18:48] dmandar commented on #5032
Thanks for reporting. We will investigate this and report back.

[2020-03-11 19:32] christibbs commented on #5031
The problem is likely that you're using `InAppMessagingDisplayResources.bundle` from the 6.14.0 (or previous) version. Try deleting that from your project and adding `InAppMessagingDisplayResources.bundle` from the newer ZIP file.

Note, it is now located in `Firebase/FirebaseInAppMessaging/Resources`. Sorry for the confusion about this.

[2020-03-11 19:33] #5031 closed

[2020-03-11 20:57] samedson commented on #5020
Want to ask a few more questions. I still haven't determined the root cause of the issue - wondering if maybe something changed with the timing of calling `[NSBundle mainBundle]` in iOS.

 - How are you initializing Firebase? Is it with a call to `[FIRApp configure]` in the App Delegate?
 - Was there some point where Crashlytics stopped working in new versions of your app, or is this the first tim

[2020-03-12 01:02] #4986 closed

[2020-03-12 03:26] daisy1754 commented on #5066
Thanks for prompt response! Do you have any recommendation on workaround while we are waiting for fix? Would removing FirebasePerformance help?

[2020-03-12 03:50] visumickey commented on #5066
@daisy1754 As we were looking at this, the method in the stack trace has been removed a few releases ago (in the context of fixing a crash similar to this). Can you verify if this crash is occurring the latest version of your app (that contains 6.18.0 version of Firebase)? If it crashes, can you share the stack trace from the latest version of your app?

[2020-03-12 03:51] daisy1754 commented on #5066
hm interesting let me check with team

[2020-03-12 04:31] gwangpa commented on #2011
+1

[2020-03-12 10:06] tfonfara opened #5082 "Crash in GoogleDataTransportCCTSupport v2.0"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 11.3.1
  * Firebase SDK version: 6.19.0
  * Firebase Component: GoogleDataTransportCCTSupport (Auth, Core, Database, Firestore, Messaging, Storage, etc)
  * Component version: 2.0
  * Installation method: CocoaPods

### [REQUIRED] Step 2: Describe the problem

#### Steps to reproduce:

I got a crash report from a user where Googl

[2020-03-12 10:21] nikolaykasyanov opened #5083 "`-[FIRRemoteConfig ensureInitializedWithCompletionHandler:]` method uses DISPATCH_QUEUE_PRIORITY_LOW"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 11.3.1
  * Firebase SDK version: 6.17.0
  * Firebase Component: Remote Config
  * Component version: 4.4.7
  * Installation method: `CocoaPods`

### [REQUIRED] Step 2: Describe the problem

We've encountered an issue where remote config initialization doesn't complete in a timely manner when the app is launched in background (by

[2020-03-12 12:17] andyshephard opened #5084 "Create macOS Carthage Dependencies"
### Feature proposal

* Firebase Component: Core, Crashlytics

Please can you provide Carthage dependencies or simply a path to download the macOS framework files that would allow us to manually install them to our macOS Xcode projects?

We have a business reason for not using Cocoapods and therefore are currently unable to use Firebase on macOS.

[2020-03-12 13:05] nikolaykasyanov opened #5085 "`-[FIRRemoteConfig ensureInitializedWithCompletionHandler:]` doesn't fail when RCNConfigDBManager fails to open the DB"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 11.3.1
  * Firebase SDK version: 6.17.0
  * Firebase Component: Remote Config
  * Component version: 4.4.7
  * Installation method: `CocoaPods`

### [REQUIRED] Step 2: Describe the problem

When `RCNConfigDBManager` can't open the database for whatever reason (device being locked for one), no error is propagated to the callback o

[2020-03-12 13:15] maksymmalyhin commented on #5083
@nikolaykasyanov Thank you for bringing this up. Changing the priority will not necessary guarantee fetching remote config in the background within the iOS provided timeframe. If fetching the config is critical for your logic you should consider **requesting additional background time** by [beginning a background task](https://developer.apple.com/documentation/uikit/uiapplication/1623051-beginback

[2020-03-12 13:17] maksymmalyhin commented on #5083
@nikolaykasyanov Could you please try this approach and let us know if it works for your case. Feel free to reopen the ticket if more actions are required from our side.

[2020-03-12 13:17] #5083 closed

[2020-03-12 13:42] nikolaykasyanov commented on #5083
@maksymmalyhin thanks for your reply and hint. It's turned out that the app had enough backround time, the actual issue is #5085.

[2020-03-12 13:56] paulb777 commented on #5084
We don't currently have plans to add a macOS Carthage distribution.  However, we do have Catalyst support in progress at #5080 which could be a model for building macOS artifacts and/or creating an additional PR.

[2020-03-12 13:59] #5075 closed

[2020-03-12 14:11] andyshephard commented on #5084
Are you able to provide the libraries as a download, as you already do with iOS?

[2020-03-12 15:20] tlacan opened #5086 "Build error in googledatatransport archiveRootObject unarchiveObjectWithFile depreccated in ios 12"
* Xcode version: 11.3.1
  * podfile.lock
  - Firebase/Auth (6.18.0):
    - Firebase/CoreOnly
    - FirebaseAuth (~> 6.4.3)
  - Firebase/Core (6.18.0):
    - Firebase/CoreOnly
    - FirebaseAnalytics (= 6.3.0)
  - Firebase/CoreOnly (6.18.0):
    - FirebaseCore (= 6.6.3)
  - firebase_auth (0.0.1):
    - Firebase/Auth (~> 6.3)
    - Firebase/Core
    - Flutter
  - firebase_auth_web (0.1.0):
    - Flu

[2020-03-12 16:09] andyshephard commented on #5084
To provide a bit of further context here, while it's good that Catalyst support will be arriving in the future, right now we're at risk of losing access to crash reporting and analytics.

While I understand analytics for macOS won't be appearing anytime soon, by losing crash reporting also, we'll be forced to look into using an alternative solution to Fabric right now. If that were the case and we

[2020-03-12 16:24] paulb777 commented on #5084
Thanks for the additional context.  Based on how the Catalyst binary distro roll-out goes, we'll evaluate the feasibility of adding other platform slices.

In the meantime, a workaround would be building a macOS binary framework yourself via one of the CocoaPods binary distribution mechanisms.

[2020-03-12 16:29] andyshephard commented on #5084
I tried this earlier by generating an Xcode workspace for FirebaseCrashlytics (after cloning the firebase-sdk-ios repository) and moving the generated frameworks to my own Xcode project, but experienced errors:

`dyld: Library not loaded: @rpath/FBLPromises.framework/Versions/A/FBLPromises
  Referenced from: /Users/ashephard/Library/Developer/Xcode/DerivedData/myproduct-deetnrigsncezegzjgsguzfurpg

[2020-03-12 16:38] paulb777 commented on #5084
Not sure, but it looks like something related to the Promises framework, one of the Crashlytics dependencies via FirebaseInstallations, not being linked properly.

[2020-03-12 17:38] maksymmalyhin commented on #5084
Looks like Firebase Cartage documentation/setup has to be updated to accommodate  a new dependency on FBLPromises library.

@andyshephard In the meanwhile could please try to add FBLPromises dependency into your project manually as described [here](https://github.com/google/promises/blob/master/g3doc/index.md#carthage) and let us know if it fixes your issue.

[2020-03-12 18:40] mikehaney24 commented on #5082
This is probably due to a one-time conversion of objects from a previous NSCoding-compliant class (GDTCORStoredEvent) to a different class (GDTCOREvent) and having mismatched fileURL keys in the coder. It's possible that this is a far-reaching bug, and #5088 should resolve it.

[2020-03-12 19:09] mikehaney24 commented on #5086
GoogleDataTransport is (somehow) missing from your podfile.lock, so I'm not sure what version it is. I suspect it's out of date, because this has been fixed ~7 months ago in #3525. **Can you paste the code in GDTCORStorage.m from lines 100 to 300?**

[2020-03-12 20:38] mreddyamwell opened #5092 "[FIRApp configure] changes context of AppDelegate bundle"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 11.3.1
  * Firebase SDK version: 6.19.0
  * Firebase Component: Core/Analytics
  * Component version: Analytics v.60301000
  * Installation method: `Zip file`

### [REQUIRED] Step 2: Describe the problem

#### Steps to reproduce:

What happened? How can we make the problem occur?
This is a bit of a strange one and hoping someone

[2020-03-12 20:41] morganchen12 commented on #5092
Can you share a sample project that repros this issue?

[2020-03-12 22:02] #5082 closed

[2020-03-13 03:08] daisy1754 commented on #5066
Hey @visumickey we believe you were right. We released the new version and verified the latest version of our app contained 6.18.0. Since launching the new version we no longer see the issue! thanks for your help!!!

[2020-03-13 03:08] #5066 closed

[2020-03-13 08:33] arthurchenjs opened #5098 "GULHeartbeatDateStorage heartbeatDateForTag crash"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 11.3.1
  * Firebase SDK version: 6.18
  * Firebase Component: Core,FirebaseAnalytics
  * Component version: FirebaseCore (= 6.6.3),FirebaseAnalytics (= 6.3.0)
  * Installation method: `CocoaPods ` (select one)

### [REQUIRED] Step 2: Describe the problem

#### Steps to reproduce:

**user crash**
[code]

![Screen Shot 2020-03-13 a

[2020-03-13 09:27] tlacan commented on #5086
Hi @mikehaney24, thanks for the answer.
My bad forgot to put the GoogleDataTransport version from podfile.lock

- GoogleDataTransport (4.0.1)
  - GoogleDataTransportCCTSupport (1.4.1):
    - GoogleDataTransport (~> 4.0)
    - nanopb (~> 0.3.901)

Here is GDTCORStorage.m lines 100 to 300:

[code]

[2020-03-13 12:10] adrianortuzar opened #5099 "Remote config conditionals created with user properties does not work"
### Step 0: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ please use the Feature Request template.
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the `firebase` tag.
  * For general (non-iOS) Firebase discussion, u

[2020-03-13 14:03] terenceyan commented on #5020
Yes

A new app under development but on TestFlight.

Not using CocoaPods.

[2020-03-13 14:57] maksymmalyhin commented on #5098
@arthurchenjs From the first glance the crash looks like a concurrency issue in `GULHeartbeatDateStorage` .  Could you please provide the following information to help us investigate the issue:
1. Call stacks for other threads (you may consider removing replacing the call stack parts that you are not comfortable posting here)
2. Is Firebase used by an app extension?
3. `EXC_BREAKPOINT` may indicat

[2020-03-13 15:50] zebganzo commented on #4997
Thanks @Elshad

[2020-03-13 16:15] paulb777 commented on #5043
We'll likely need a way to reproduce to make more progress on this issue.  Also a list of all the threads at the crash might be helpful.

[2020-03-13 18:34] dmandar commented on #5099
Thanks for reporting. Can your enable logs with debug mode for analytics (https://firebase.google.com/docs/analytics/debugview) and post those here? Also note that analytics sdk might take a while to log events to the backend. You can make sure events are uploaded by backgrounding and foregrounding the app. The upload details will also be logged.

[2020-03-13 18:37] dmandar commented on #4740
As a workaround you can call fetchwithexpirationduration: to explicitly set the minimumfetchinterval for just that fetch call.

[2020-03-13 21:25] #3887 closed

[2020-03-13 21:29] christibbs commented on #3887
Thanks for your patience everyone. This should be fixed in the next release of the Firebase iOS SDK.

[2020-03-13 21:32] christibbs commented on #3687
Reassigning to @dmandar for work on the Remote Config side.

[2020-03-14 01:10] paulb777 commented on #4917
Fixed and will be available in the upcoming 6.21.0 release.

[2020-03-14 01:10] #4917 closed

[2020-03-14 02:47] arthurchenjs commented on #5098
Firebase is not used in extension
This is an online user, and our mokey autotest only reappears once
We can't provide sample app yet
[copy-MYXJ-2020-03-12-211822.crash.txt](https://github.com/firebase/firebase-ios-sdk/files/4332223/copy-MYXJ-2020-03-12-211822.crash.txt)

[2020-03-15 03:29] GoldenJoe opened #5111 "FR: Permit batch operations >500"
### Feature proposal

* Firebase Component: Database

Sometimes it is necessary to store complex objects that if stored as a flat document, would go over the 1MB limit. As such, it can become necessary to store many documents in sub-collections. When doing this, it's very easy to run into the arbitrary 500 operation transactional limit. This appears to be in place to enforce best practices for typ

[2020-03-15 13:31] phamthoidinhthien commented on #1894
It is ridiculous that an Analytics tools from Google can't do a basic task: measure numbers of screen views. And what ridiculous more is that they took more than 1 years prioritizing but still can not fix it 🤷‍♂️

[2020-03-15 13:37] marcosybarraa commented on #1894
Fully agree, I already reported directly too google, more people should do it...

M.Y.

[2020-03-15 15:52] unnanego opened #5112 "x CoreUI: deallocating _CUIInternalLinkRendition 205 /System/Library/CoreServices/CoreGlyphs.bundle/Assets.car"
Approximately 25% of all my apps users (both this one and I'm guessing I had the same problem with my previous app from last summer, but crashlytics doesn't go that far) experience crashes on iOS only (this is a unity project, Android has no crashes at all).
Crashlytics gives me the following stack trace and some of the crashes have this key: x CoreUI: deallocating _CUIInternalLinkRendition 205 /S

[2020-03-15 15:54] unnanego commented on #5112
There's a topic on stackoverflow https://stackoverflow.com/questions/59717173/crash-info-entry-0-coreui-deallocating-cuiinternallinkrendition-assets-ca but it has no answer

[2020-03-15 16:25] wilhuff commented on #5111
Hi @GoldenJoe, thanks for writing in.

Firestore provides simple per-operation pricing where you don't have to reserve or manage an instance at an hourly rate. A key part of making this pricing model work is that we have to bound the complexity and duration of each operation.

In a transaction, the likelihood of contention goes up as the number of participants increases. When two transactions cont

[2020-03-15 16:25] #5111 closed

[2020-03-16 00:48] NickRussell95 commented on #4914
Hello, I am having a similar issue on iOS13 when sharing dynamic links to the messages app. It must be an apple issue, but the messages app will share the base link url rather than the dynamic link url.

**Steps to reproduce:**
1. Generate a dynamic link and open it into a UIActivityViewController in order to share it.
2. Wait for the activity view to prefetch the url (the link favicon will appear

[2020-03-16 01:02] #4916 closed

[2020-03-16 03:07] GoldenJoe commented on #5111
@wilhuff I understand that this is largely based on the pricing model, and I can agree that a limit is a good idea, but you need to understand that "sorry that's just how it is" doesn't make programs work. Could you at least provide some kind of workaround, preferably in the docs themselves? Surely you don't expect me to believe there is a tangible increase in cost between storing the indices for

[2020-03-16 06:54] Nehal-29 commented on #5011
none of my delegates are getting called even tough I had set them.
UNUserNotificationDelegate

[2020-03-16 08:13] samtstern commented on #5111
@GoldenJoe it's worth noting that even if we raised the 500 item limit you're very likely to run into the 10MB per write operation limit:
https://firebase.google.com/docs/firestore/quotas#writes_and_transactions

That limit is more fundamental and comes from the Firestore storage backend which has to maintain global strong consistency.

[2020-03-16 09:01] followthemoney1 commented on #5086
same error

[2020-03-16 11:20] anatoliykant commented on #4644
We need support for Swift 5 cage.
If you can’t do it now, then leave Fabric and Beta working.

[2020-03-16 14:08] RameshIDPal opened #5113 "FR: Vulnerabilities check fail in GoogleUtilities/AppDelegateSwizzler:6.5.1"
We are using below dependencies in our projects
'FirebaseCore', '6.6.4'
'FirebaseMessaging', '4.3.0'
'FirebaseAnalytics','6.3.1'

We ran the Dependency checker to find the vulnerabilities in GoogleUtilities/AppDelegateSwizzler:6.5.1. Is this will be fixed in the future release.

[2020-03-16 14:11] TKBurner commented on #4558
@jostster if you contact suport we can manually enable Crashlytics. We'll need the bundle ID.

[2020-03-16 14:12] ryanwilson commented on #4990
This should be fixed in the next release of FirebaseAnalytics.

[2020-03-16 14:38] paulb777 commented on #4644
While we're not yet publishing a binary version of FirebaseFirestoreSwift,  the ZipBuilder [here](https://github.com/firebase/firebase-ios-sdk/tree/master/ZipBuilder) now supports building a binary framework of FirebaseFirestoreSwift with a desired Xcode version.

[2020-03-16 14:46] cvaghela commented on #4915
We have seen a few reports similar to this and are looking into this. Will post it here as soon as we have update on this!

[2020-03-16 14:46] paulb777 commented on #5113
@RameshIDPal Which dependency checker and what vulnerabilities?  Please provide more detail to help us investigate.

[2020-03-16 14:52] anatoliykant commented on #4644
thx, Paul!
Let's see how it works.

[2020-03-16 14:55] RameshIDPal commented on #5113
We are using OWASP Dependency checker and attached the screenshot below,

![Screenshot 2020-03-16 at 8 21 50 PM](https://user-images.githubusercontent.com/45414029/76770486-0b5b3880-67c4-11ea-8eda-11555b04faa3.png)

[2020-03-16 15:01] paulb777 commented on #5113
Thanks, but we still need the specifics of what vulnerabilities you'd like to see fix. You're also welcome to send a PR with the desired changes.

[2020-03-16 15:14] RameshIDPal commented on #5113
@paulb777 The vulnerabilities are

![Screenshot 2020-03-16 at 8 41 06 PM](https://user-images.githubusercontent.com/45414029/76772418-dd2b2800-67c6-11ea-80b6-51d351f9a47f.png)

[2020-03-16 15:38] paulb777 commented on #5113
These messages don't refer to specific code. We will likely need file and line numbers to be able to progress.

[2020-03-16 16:08] wilhuff commented on #5113
Your dependency checker is mistaken. Those vulnerabilities refer to DeleGate, a network proxy. They were also issued in 2005, years before this software even existed.

[2020-03-16 16:08] #5113 closed

[2020-03-16 17:21] morganchen12 commented on #5011
Are you able to reproduce this bug with the [messaging quickstart](https://github.com/firebase/quickstart-ios/tree/master/messaging)?

[2020-03-16 18:05] GoldenJoe commented on #5111
@samtstern the 500 document and 10MB limits are completely different. It's very easy to imagine a case where you would write 1000 documents without even hitting 1MB, such as a record of coordinates, timestamps paired with an identifier, etc.

Again, I read the documentation and I understand their business model. I'm not here to debate their reasoning. I'm here for solutions, but I seem to be the o

[2020-03-16 18:27] wilhuff commented on #5111
I'm completely sympathetic that this makes things harder, but all systems have limits and when you come up against them you have to design around it. There are no databases that allow unlimited transaction sizes. In any case, this is a limit we can't reasonably change.

Workarounds depend a lot on your application and why you might want to write a large number of documents at the same time. Some i

[2020-03-16 19:33] niyazahmed commented on #5075
We are facing this issue and the comment solution does not solve for the set up we have.  Will there be any fixes or workaround for this?

[2020-03-16 19:39] LeffelMania commented on #5075
To close my side of the loop on this, the configuration issue that was pointed out was indeed an issue. We attempted to rework our Podfile in the way recommended by https://github.com/firebase/firebase-ios-sdk/issues/4777#issuecomment-580848556. However, we ran into a second issue after updating our Podfile because of the `use_frameworks!` setting. We were unable to get Firebase to work with that

[2020-03-16 21:15] christibbs commented on #4664
Update on this: sorry for the delay.

The bug is actually in the web console (in aggregating the user count totals). This is being worked on. From what I'm told, you should be able to see accurate data when [fetching analytics data from BigQuery](https://firebase.google.com/docs/ab-testing/abtest-config#bigquery_data_export). But in production, the correct amount of users are being assigned.

I'll

[2020-03-16 21:29] #5098 closed

[2020-03-16 21:34] maksymmalyhin commented on #5098
@arthurchenjs The crash log indicates that the app was killed due to unresponsive main thread. It looks like the app was pretty "busy" at the moment of the crash. The PR #5114 moves file system operations of the main thread (which was a mistake), so Firebase will contribute less to the main thread load.

[2020-03-16 21:55] zporges commented on #4664
I actually figured out my issue - I had configured an experiment to go to 50% of users, and I split those users into an experimental group and a control group. But the other 50% of users had the default value of being in the experimental group, which caused us to have a 75/25 split overall. Sorry about that!

[2020-03-16 22:15] christibbs commented on #4664
@zporges OK, great. Will keep this open for @phuc-nguyen4-tiki's issue.

[2020-03-16 23:16] chliangGoogle commented on #5048
Can you share with us the APNS authentication error?

[2020-03-16 23:39] jasonhowk-mlb commented on #4550
So this should also rule out using the google provided Carthage binaries then on tvOS as well, correct?

[2020-03-17 00:01] paulb777 commented on #4550
Yep, same story for Carthage. However, it might not be too hard to add tvOS support to the ZipBuilder [here](https://github.com/firebase/firebase-ios-sdk/tree/master/ZipBuilder) and we would accept PRs.

[2020-03-17 00:41] mikehaney24 commented on #5086
@tlacan Are you building for iOS? What is the deployment version?

[2020-03-17 00:58] phuc-nguyen4-tiki commented on #4664
@christibbs Great, Hope your team can help us.

[2020-03-17 01:21] girishw commented on #5048
@chliangGoogle

Error: Auth error from APNS or Web Push Service Raw server response: "{"error":{"code":401,"message":"Auth error from APNS or Web Push Service","status":"UNAUTHENTICATED","details":[{"@type":"type.googleapis.com/google.firebase.fcm.v1.FcmError","errorCode":"THIRD_PARTY_AUTH_ERROR"}]}}"
    at FirebaseMessagingError.FirebaseError [as constructor] (/srv/node_modules/firebase-admin/li

[2020-03-17 01:28] chliangGoogle commented on #5048
So the error is from server side, meaning your client apns token was not setup correctly.
You mentioned that "UNUserNotificationCenter.current().requestAuthorization(options:) does not show a dialog to the user." This seems like your push notification setting in xcode wan't setup correctly. Can you double check that to make sure the dialog got pop out?

From the api, make sure your have Mac Cataly

[2020-03-17 01:33] chliangGoogle commented on #5048
can you also check if you are getting apns token right now?

[2020-03-17 07:14] nunepradeepkumar opened #5122 "157239669: dynamicLink nil upon first app install"
Xcode version: 11.3.1
Firebase SDK version: 6.19
Firebase Component: DynamicLinks

I tried to create dynamicLink at Firebase console to navigate user to download my app at appStore,
and when they launch app for the first time I keep getting DynamicLink object with nil url.
func application(_ application: UIApplication, continue userActivity: NSUserActivity,
restorationHandler: @escaping ([UIUserAc

[2020-03-17 07:17] nunepradeepkumar commented on #5122
Xcode version: 11.3.1
Firebase SDK version: 6.19
Firebase Component: DynamicLinks

I tried to create dynamicLink at Firebase console to navigate user to download my app at appStore,
and when they launch app for the first time I keep getting DynamicLink object with nil url.
 func application(_ application: UIApplication, continue userActivity: NSUserActivity,
                     restorationHandler

[2020-03-17 08:08] marwanDevTest opened #5123 "library not found for -lGoogleAnalytics"
### Step 1:

  * Xcode version: 11.2.1
  * Firebase SDK version: __6.19.0__
  * Firebase Component: __Analytics__
  * Component version: __6.19.0__
  * Installation method: `CocoaPods (v1.9.1)`

### Step 2:

I am trying to integrate `FirebaseAnalytics` and I am following [this link](https://firebase.google.com/docs/analytics/get-started?platform=ios) in the documentation. I am using CocoaPods this

[2020-03-17 10:14] rgkobashi opened #5124 "Calling setLoggerLevel does nothing"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 11.3.1
  * Firebase SDK version: 6.18 and 6.20
  * Firebase Component: Analytics
  * Component version: 6.18 and 6.20
  * Installation method: `CocoaPods`

### [REQUIRED] Step 2: Describe the problem

`FirebaseConfiguration.shared.setLoggerLevel(.min)` has no effect on the logging.
This is same as #3516, I apologize for the dupli

[2020-03-17 10:19] adrianortuzar commented on #5099
thanks @dmandar ,
did not found better way to paste the logs here than in a picture. Better way to do it, please let me know.

<img width="1017" alt="Screenshot 2020-03-17 at 11 04 51" src="https://user-images.githubusercontent.com/649600/76846663-24ee9580-6841-11ea-973c-97fb530166ee.png">

[2020-03-17 11:56] tlacan commented on #5086
I am building via flutter, my xcode build my target version is 12.4

Here is my podfile:
[code]
and here are my packages:
firebase_auth: ^0.15.5+2
firebase_core: ^0.4.4+3
these are the last releases

[2020-03-17 14:03] paulb777 commented on #5123
Your project may have lingering references to `GoogleAnalytics` instead of `FirebaseAnalytics`. Try `pod deintegrate` and searching the Build Settings for referencs to `GoogleAnalytics`.

[2020-03-17 14:10] ryanwilson commented on #5124
Thanks for the report - I was able to reproduce this. There was a small effect on the logging (3 lines added from Core) when going from `.min` -> `.max` but Analytics still logs everything regardless.

I found a few workarounds for the time being:
- Call `setLoggerLevel(.min)` after `FirebaseApp.configure()` quiets the logs significantly
- Use the instructions logged to disable debug logging: "To

[2020-03-17 14:13] paulb777 commented on #3516
See #5124

[2020-03-17 14:29] ryanwilson commented on #5124
Filed internally at b/151716193

[2020-03-17 14:35] marwanDevTest commented on #5123
You are right, I had a successful build.
Thank you soooo much!!! 😄

[2020-03-17 14:41] #5123 closed

[2020-03-17 15:11] mdzwonek opened #5126 "Bundle ID validation doesn't work in my share extension"
### Step 0: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ please use the Feature Request template.
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the `firebase` tag.
  * For general (non-iOS) Firebase discussion, u

[2020-03-17 15:56] girishw commented on #5048
@chliangGoogle
- When I call UNUserNotificationCenter.current().requestAuthorization(options:), the callback is called with the result as true. However, there is no authorization dialog shown.
- The callback func application(_ application: UIApplication, didRegisterForRemoteNotificationsWithDeviceToken deviceToken: Data) is also called with the token
- Push notifications are enabled in Xcode. Plea

[2020-03-17 16:00] andyshephard commented on #5084
Hey @maksymmalyhin sorry for not replying sooner. I wasn't well during the past few days.
Anyway, I've tested out what you said (FBLPromises added manually) but I'm now experiencing an error with GoogleUtilities.framework, pretty much the same error as with FBLPromises.

`dyld: Library not loaded: @rpath/GoogleUtilities.framework/Versions/A/GoogleUtilities
  Referenced from: /Users/ashephard/Libra

[2020-03-17 16:55] chliangGoogle commented on #5048
"However, when I build and run for Catalyst, I am seeing the error. "
Do you see any error in xcode when you switch? specifically signing errors with your existing push notification provisioning profile?

[2020-03-17 17:27] #4714 closed

[2020-03-17 17:30] christibbs commented on #4952
Update: this will be fixed by a server-side change that won't require an update to the in-app messaging SDK. I'll close this when the server-side change is fully rolled out.

[2020-03-17 17:37] andyshephard commented on #5084
OK, an update for you.

I've managed to get the app building and running successfully now by assigning 'Apple Developer' as a codesigning certificate to my targets and also setting `Embed & Sign` to the following 3 frameworks:

- FBLPromises (the framework, NOT Swift Package Manager)
- nanopb
- GoogleUtilities

`2020-03-17 18:33:46.809179+0100 Adblock Plus[56928:3446483] [Firebase/Crashlytics] Ver

[2020-03-17 17:41] UberMC opened #5130 "Firebase without analytics dependency"
### [READ] Guidelines

When filing a feature request please make sure the issue title starts with "FR:".

A good feature request ideally
* is either immediately obvious (i.e. "Add Sign in with Apple support"), or
* starts with a use case that is not achievable with the existing Firebase API and
  includes an API proposal that would make the use case possible. The proposed API
  change does not nee

[2020-03-17 17:48] paulb777 commented on #5130
Remove `Firebase/Core` from the Podfile to exclude the `FirebaseAnalytics` pod.

If you'd like to share more details about the app rejection, we'll share with the Analytics team to investigate a solution that would let you keep Analytics capabilities in the app.

[2020-03-17 17:48] morganchen12 commented on #5130
In this case you can use the [`Firebase/CoreOnly` subspec](https://github.com/firebase/firebase-ios-sdk/blob/master/Firebase.podspec#L38) or depend on `FirebaseCore` directly.

[2020-03-17 18:01] wilhuff commented on #5130
Is it possible this has to do with Apple Arcade? My understanding is that those apps have strict prohibitions on analytics of any kind.

[2020-03-17 18:06] UberMC commented on #5130
Kids section app

[2020-03-17 18:19] UberMC commented on #5130
The app rejection is this: remove idfa functionality, remove the code from the implementation, not just disable use of idfa

Are there any recommendations without removing FirebaseCore and using directly  Firebase/CoreOnly subspec

[2020-03-17 18:23] paulb777 commented on #5130
Adding FirebaseCore (or Firebase/CoreOnly) to the Podfile is a no-op.  All the other Firebase pods will pull it in as a dependency.

[2020-03-17 18:40] morganchen12 commented on #5130
You could use the direct podspecs for each pod, right?

[2020-03-17 18:47] girishw commented on #5048
I see the following errors, not sure if they are related:

[User Defaults] Couldn't write values for keys (
    ApplicationAccessibilityEnabled
) in CFPrefsPlistSource<0x600002c21780> (Domain: com.apple.Accessibility, User: kCFPreferencesCurrentUser, ByHost: No, Container: (null), Contents Need Refresh: Yes): setting preferences outside an application's container requires user-preference-write or

[2020-03-17 18:55] chliangGoogle commented on #5048
I see couple of issues here:
1.  Core refuses the bundle ID as it's not in plist @ryanwilson
2. Messaging can't detect the right mobileprovision file (assigned this issue to myself)
3. Regardless Firebase, if the dialog is not popping up, it could mean APNS is still not setup correctly on Apple side. Can you try to send a notification using the APNS token to see if it delivers (this will also rule

[2020-03-17 19:14] paulb777 commented on #5130
The current recommendation is to specify the pods desired via the Firebase pod - like `pod Firebase/Messaging`.   There is typically no reason to specify FirebaseCore.

[2020-03-17 19:20] #5130 closed

[2020-03-17 19:40] girishw commented on #5048
@chliangGoogle Regarding 3:
 I am currently using the admin send function as described here:
https://firebase.google.com/docs/cloud-messaging/send-message

Do I just substitute the APNS token for the FCM registration token to test 3?

[2020-03-17 20:18] chliangGoogle commented on #5048
no, you will use Apple's sender API: https://developer.apple.com/documentation/usernotifications/setting_up_a_remote_notification_server/sending_notification_requests_to_apns/

[2020-03-17 20:21] chliangGoogle commented on #5048
You can try something like this:https://github.com/firebase/firebase-ios-sdk/issues/4042#issuecomment-542359566

[2020-03-17 22:13] girishw commented on #5048
I used the following to test: https://github.com/onmyway133/PushNotifications

While I don't see the notification delivered on the device, I don't see an error message either. The PushNotifications app shows a success message.

[2020-03-17 22:38] chliangGoogle commented on #5048
I see so number 3 is not an issue, we are working on issues 1 and 2.

[2020-03-17 23:54] UberMC commented on #5130
Hey guys,

Thanks, as morganchen12 mentioned to just simply replace dependencies Core to CoreOnly worked.

Required I forked https://github.com/invertase/react-native-firebase/ and changed each package pod spec to CoreOnly. Seems to work. Analytics pod was removed succesfully.

[2020-03-18 00:35] paulb777 commented on #5126
It's weird to see log from both the Firebase and Fabric Crashlytics. Are they both in the app?

[code]

[2020-03-18 01:47] ppamorim opened #5136 "Unable to compile by command line due nanopb error"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 11.3.1
  * Firebase SDK version: 6.20.0
  * Firebase Component: Core, Performance, RemoteConfig, MLVision
  * Component version: 6.20.0
  * Installation method: CocoaPods

### [REQUIRED] Step 2: Describe the problem

After running `pod update` and `pod install`, the script to publish my app on the store using `Fastlane` stopped w

[2020-03-18 02:05] #5136 closed

[2020-03-18 02:06] #5086 closed

[2020-03-18 08:17] DracoRubi commented on #5122
I got exactly this same issue, I've been trying to solve it since yesterday.

The `handleUniversalLink` method returns true, but in the completion closure the `dynamiclink.url` property is nil.

[2020-03-18 10:01] mdzwonek commented on #5126
Good point! Looks like I forgot to stop linking Fabric Crashlytics. Fixed it but I'm still getting a similar error:

2020-03-18 09:59:11.199347+0000 ShareExtension[58698:24284072] 6.15.0 - [Firebase/Core][I-COR000008] The project's Bundle ID is inconsistent with either the Bundle ID in 'GoogleService-Info.plist', or the Bundle ID in the options if you are using a customized options. To ensure that

[2020-03-18 11:05] ahmedelmoughazy commented on #5074
could you please tell me where to put the upload-symbols as i'm stuck here

[2020-03-18 13:25] 666tos opened #5139 "DynamicLinks uses AssetsLibrary [Catalyst]"
### Step 0: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ please use the Feature Request template.
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the `firebase` tag.
  * For general (non-iOS) Firebase discussion, u

[2020-03-18 13:43] kondratk commented on #5020
@samedson

FirebaseApp.configure() in App Delegate

We've just tried to migrate from Fabric SDK to Firebase SDK. There were no issues with Fabric SDK, so we've migrated back. Today I've received an email from Google that Fabric services will be held up and running until early May.

[code]

[2020-03-18 13:47] kondratk commented on #5020
Seems like that issue is connected to this one (also problems with bundle context):
https://github.com/firebase/firebase-ios-sdk/issues/5092

[2020-03-18 13:57] kondratk commented on #5073
@TKBurner
Today I've received an email from Google "Fabric shutdown extended to Ma‌y 4, 2020".

Does it mean, that after shutting down Fabric service- Fabric SDKs will still continue to work and to comunicate with Firebase services like Crashlytics? Or is migration to Firebase SDK necessary?

I'm asking because right now we are not able to migrate because of that issue, which seems like a more ser

[2020-03-18 14:58] ryanwilson commented on #5124
Did you start your project from the quickstart? It looks like the quickstart includes the `-FIRAnalyticsDebugEnabled` flag by default in the scheme for quickstart applications which could explain the debug logs appearing there.

[2020-03-18 15:15] #5139 closed

[2020-03-18 15:27] 666tos commented on #5139
@maksymmalyhin спасибо!

[2020-03-18 15:28] maksymmalyhin commented on #5139
@666tos  Пожалуйста! 😄

[2020-03-18 16:21] Aishwaryalaxmi opened #5143 "Crash In Did Finish Launch Application"
After the pod update app is crashing in did finish application. This crash is not happening in the previous pod version . Please find the attached logs and the pod versions

Firebase 6.20.0
Firebase core 6.6.4
Firebase performance 3.1.10
Firebase analyticas 6.3.1

Xcode Version: 11.3.1
iOS Version: 13.3

====================================

The default FirebaseApp instance must be configured befo

[2020-03-18 16:26] morganchen12 commented on #5143
Can you share the full stack trace?

[2020-03-18 16:33] morganchen12 commented on #5122
AFAIK there have been no recent changes in the client SDK. @dmandar, are you aware of any backend changes that could be causing pending links to not be matched properly?

[2020-03-18 17:52] dmandar commented on #5122
No recent changes in the client. Morgan, can you file a bug for Max to take a look at? Thanks.

[2020-03-18 18:39] morganchen12 commented on #5122
Will do. In the meantime, @DracoRubi @nunepradeepkumar can you confirm that dynamic links work correctly otherwise? (i.e. when clicking a link with the app already installed, the link is correctly populated)

[2020-03-18 19:04] morganchen12 commented on #5122
Filed b/151846783

[2020-03-18 20:29] maksymmalyhin commented on #2350
The issue should be completely fixed by the fix of https://github.com/google/gtm-session-fetcher/issues/140

[2020-03-18 20:41] #2350 closed

[2020-03-18 23:49] kkosovsky commented on #5073
@TKBurner
How does providing Carthage support for FirebaseCrashlytics fit in your release plans?
I don't want to use Cocoapods, I'm currently using some Firebase features in my project including vision and analytics, wanted to add Crashlytics and all I managed to do is adding locally my own custom json for Carthage, so it can download Fabric and Crashlytics. It's a temporary solution.

[code]
- Ho

[2020-03-18 23:51] paulb777 commented on #5073
@kkosovsky See https://github.com/firebase/firebase-ios-sdk/blob/master/Carthage.md#carthage-usage for info on the current experimental support.

[2020-03-19 00:06] kkosovsky commented on #5073
@paulb777
Yup, been there, done that :) Can you, please, answer my question?

Thank you

[2020-03-19 00:47] erikkerber commented on #5073
@kkosovsky You probably have dealt with this already, but with Carthage you have to look under the covers and figure out what transitive dependencies Firebase introduced with FirebaseCrashlytics.

From my experimentation:

- FirebaseInstallations
- PromisesObjC

[2020-03-19 07:07] rgkobashi commented on #5124
thank you very much for your quick response @ryanwilson

I did what you mention (calling `setLoggerLevel(.min)` after `FirebaseApp.configure()`) and the logs are still the same.

No I didnt, however I am using `-FIRDebugEnabled` flag and according to the [docs](https://firebase.google.com/docs/analytics/debugview#enabling_debug_mode) if we disable it, my measurements will be affected during testin

[2020-03-19 08:29] bakshioye commented on #5143
I faced the same issue [here](https://github.com/firebase/quickstart-ios/issues/936). Can anyone suggest something ?

[2020-03-19 08:45] myCols opened #5151 "The x button should partially overlap the corner of the image."
Environment :

  * Xcode version: 13
  * Firebase SDK version: _____
  * Firebase Component: in-app messaging (Auth, Core, Database, Firestore, Messaging, Storage, etc)
  * Component version: 6.17 for Core and InApp Messaging

  * Installation method: `CocoaPods | Carthage | Zip file` (select one)

Problem

The x button should partially overlap the corner of the image.

![WhatsApp Image 2020-03-18

[2020-03-19 08:56] adrianortuzar commented on #5099
Hi, after some testing I discovered that when
`Analytics.setAnalyticsCollectionEnabled(false)`
Remote config conditions does not work.

[2020-03-19 09:03] DracoRubi commented on #5122
In my case, the following happens:

If the dynamic link is clicked from a native iOS application, like Safari, Notes or the camera (reading a QR containing the link), it doesn't work.
In this case, this method is invoked in the AppDelegate:
`func application(_ application: UIApplication, continue userActivity: NSUserActivity,
                     restorationHandler: @escaping ([Any]?) -> Void) ->

[2020-03-19 09:07] nunepradeepkumar commented on #5122
when clicking a link with the app already installed, the link is correctly populated but received dynamic URL is
Optional(<FIRDynamicLink: 0x280455740, url [(null)], match type: unique, minimumAppVersion: N/A, match message: (null)>)

[2020-03-19 09:26] amaurydavid commented on #5122
Same issue here.
Clicking on a dynamic link from the Notes app with the app already installed results in the Firebase SDK to send me a `FIRDynamicLink` containing a nil url.

The app triggering the dynamic link doesn't seem to have an impact for me:
- from Notes it opens my app with a nil FIRDynamicLink.url
- from Messenger or duckduckgo it opens a web page with an "open" button redirecting to my

[2020-03-19 09:49] Aishwaryalaxmi commented on #5143
@morganchen12 We are not getting any other stack trace.

[2020-03-19 09:52] amaurydavid commented on #5032
I also have this error when launching the app.

[2020-03-19 09:54] bakshioye commented on #5143
@Aishwaryalaxmi Can you try moving the call from `didFinishLaunchingWithOptions` to `init()` of `AppDelegate` like this

[code]
And then when the app crashes, then enter `bt` in the debugger and then stack trace will be displayed.  Can you paste that here ?

[2020-03-19 10:29] alectogeek commented on #4664
I faced the same issue. For a few days, everything went well, but then users counter froze on approximately 850 users. Any updates?

[2020-03-19 10:34] bakshioye commented on #5143
I did some digging and found out that My working code(on remote repo) had

and current code(that is crashing) has

Maybe the version difference did some changes that is causing the crash

Is there a way to revert back to the pervious version `(6.15.0)` that was working for me?

[2020-03-19 11:33] Moater11 commented on #1894
Have same problem. Glad I found this conversation and I'm not alone ;)

Tried to exclude from auto reporting a UIViewController (that is a containerView inside another UIViewController). Even the solution on google docs to add viewDidAppear and not call super is not working.

 As per google docs: "If you implement viewDidAppear in your UIViewController but do not call [super viewDidAppear:], that

[2020-03-19 12:00] matrad commented on #1894
When we do this we'll have many other problems what can occur, because then some Default UIViewController internal calls would also be affected - so this is not a "real" workaround to prevent this.

Google should provide a clean solution for this issue, that can't be so hard.... :@

[2020-03-19 12:50] christibbs commented on #3624
The Remote Config issue has been fixed. For targeting, you should use `CFBundleVersion`, which maps to the `Build` field in Xcode project settings > Targets > General > Identity.

[2020-03-19 12:50] #3624 closed

[2020-03-19 13:11] Aishwaryalaxmi commented on #5143
If I call configure in the didFinishLaunch everything works fine. But we are calling the configure only when we are accessing the Firebase. This was perfectly working when we are using the old pod.

Note: We recently updated the script to upload the dYSM file as per the Firebase direction.

[2020-03-19 13:21] ryanwilson commented on #5124
Ahh - thanks for the info! What if you combine `-FIRDebugEnabled` with `-noFIRAnalyticsDebugEnabled`? The naming is slightly confusing but I'm fairly certain that the `-noFIRAnalyticsDebugEnabled` is for Xcode console logging only, not the actual events being passed through.

I'll confirm with the Analytics team that's a reasonable approach as well but worth a go before they are online :)

[2020-03-19 13:44] eternalstorms commented on #5122
same issue here (<FIRDynamicLink: 0x280455740, url [(null)], match type: unique, minimumAppVersion: N/A, match message: (null)>)

[2020-03-19 13:45] ryanwilson commented on #5143
if you're seeing an exception the stack trace should be printed in Xcode's console above the `terminating with uncaught exception of type NSException` text. As an example I just tried to call `[FIRApp configureWithOptions:]` with an invalid `FIROptions` instance (with `EMPTY_FILE_PATH` as an example) and this was printed:

[code]

Having that text will help us understand the issue further and any

[2020-03-19 13:58] ryanwilson commented on #5048
Looking at the bundleID issue now, also related to #5126

[2020-03-19 14:05] christibbs commented on #5151
@myCols Are you [customizing the in-app message UI](https://firebase.google.com/docs/in-app-messaging/customize-messages?platform=ios#modify_message_look_and_feel)? This doesn't look like it was built with our default in-app messaging UI.

[2020-03-19 14:40] AndreasLS opened #5152 "-[FIRInstanceIDTokenInfo isFreshWithIID:]: unrecognized selector sent to instance"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 10.1
  * Firebase SDK version: 6.20.0
  * Firebase Component: FirebaseInstanceID
  * Component version: 4.3.2 (was 4.2.6)
  * Installation method: CocoaPods

### [REQUIRED] Step 2: Describe the problem

#### Steps to reproduce:

After updating from 6.11 to 6.20, it started to crash and reported the error:

-[FIRInstanceIDTokenInf

[2020-03-19 14:58] paulb777 commented on #5099
@adrianortuzar Thanks for sharing your investigation.

@dmandar @morganchen12 Does documentation need to be improved?

[2020-03-19 15:57] samedson commented on #5020
Apologies, but I'm unable to reproduce the issue. Could you provide a project that reproduces the issue (if I build it for App Store distribution)?

[2020-03-19 16:03] morganchen12 commented on #5099
This sounds like intended behavior @dmandar can you confirm? If so I'll update the docs.

[2020-03-19 17:20] chliangGoogle commented on #5126
Did you download the same GoogleService-Info.plist file from the main app to your share extension target?

[2020-03-19 17:29] morganchen12 commented on #5122
We saw issue when the end user opts out save my place in the app (the check box) for pasteboard. @amaurydavid @nunepradeepkumar @DracoRubi can you make sure the user testing this feature hasn't opted out on the app preview page?

Also, when the link is handled, can you check the device's pasteboard contents to see if the dynamic link is present?

[2020-03-19 17:32] samedson commented on #5074
@ahmedelmoughazy you may put `run` and `upload-symbols` anywhere under your Xcode project directory, as long as the Run Script Build Phase points to it. It will help to use the `${PROJECT_DIR}` macro in the Run Script Build Phase. Eg, for a project I'm using, I'm putting the tools in a `scripts` folder in my project directory:

![Screen Shot 2020-03-19 at 1 29 02 PM](https://user-images.githubuser

[2020-03-19 17:49] UberMC opened #5153 "FR:advertisingIdentifierString reason for apple rejection."
### [READ] Guidelines

When filing a feature request please make sure the issue title starts with "FR:".

### Feature proposal

* Firebase Component: Analytics? (Auth, Core, Database, Firestore, Messaging, Storage, etc)

Describe your use case and/or feature request here.

Apple:
As we discussed, we continue to find that your Kids app includes third-party analytics with the ability to collect and

[2020-03-19 17:55] paulb777 commented on #5153
Thanks for sharing the details from the Apple rejection. We'll investigate.

[2020-03-19 18:23] maksymmalyhin commented on #5152
@AndreasLS  The issue looks very similar to #4776 and #4711. Most likely you have two copy of Firebase in you project - one in a module defined in a dynamic framework (one of your app dependencies) and another one in you app target. Also, probably the versions of Firebase are different which triggers the crash.

Could you please follow troubleshooting steps from the issue above to identify what ex

[2020-03-19 18:47] nugmanoff commented on #5074
@ahmedelmoughazy Don't forget to add appropriate input files on top of what @samedson provided you.

(I am talking about this one basically)
`${DWARF_DSYM_FOLDER_PATH}/${DWARF_DSYM_FILE_NAME}`

[2020-03-19 18:53] AndreasLS commented on #5152
@maksymmalyhin I checked my dynamic frameworks, there is not any embbeded frameworks.

I just got one Target in my project. I tried to deintegrate pod and install it again. It still not working.

The  versions described in Podfile.lock related to Firebase are those:

- Firebase (6.20.0):
    - Firebase/Core (= 6.20.0)
  - Firebase/Analytics (6.20.0):
    - Firebase/Core
  - Firebase/Core (6.20.0):

[2020-03-19 18:59] AndreasLS commented on #5152
I managed to solve the problem with the follow code:

[code]

[2020-03-19 19:03] DracoRubi commented on #5122
No opting-out, the issue still happens.

And when the link is handled, the pasteboard isn't altered

[2020-03-19 19:18] maksymmalyhin commented on #5152
@AndreasLS Thank you for additional details. The posted workaround indicates that there are two different versions of `FIRInstanceIDTokenInfo` class in Objective C runtime of your application.  I assume you should have a warning mentioning classes with the same name defined in different modules  in your debug console when you lunch the app.

[2020-03-19 19:56] jostster commented on #4558
@TKBurner I was able to get things enabled but reports don't show up in the dashboard. Do you know if the backend blocks the display of extension bundleid's? The reports are recorded and uploaded fine. They are just like any other iOS crash report. If i could get the dashboard to show the reports I would be able to submit a PR for community watchOS support.

[2020-03-19 20:16] dmandar commented on #5099
Yes please. User properties and audiences only work when analytics is enabled.

[2020-03-19 20:19] morganchen12 commented on #5122
To clarify, the checkbox needs to be filled:
![image](https://user-images.githubusercontent.com/4529021/77111249-3ae88b80-69e4-11ea-9097-c833d852a5c0.png)

Can you check that it's filled in?

[2020-03-19 20:20] morganchen12 commented on #5099
Thanks, I'll update the docs.

[2020-03-19 20:41] mreddyamwell commented on #5092
Adding `FirebaseAppDelegateProxyEnabled` set to `NO` in the `info.plist` and manually implementing the delegation handlers in `AppDelegate` seems to have done the trick.

[2020-03-19 20:41] #5092 closed

[2020-03-20 04:43] min opened #5161 "Crash: Fatal Exception: NSRangeException"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 11.3.1
  * Firebase SDK version: 6.14.0
  * Firebase Component: Auth, Core, Database, Firestore
  * Component version: 6.14.0
  * Installation method: Carthage

### [REQUIRED] Step 2: Describe the problem

#### Steps to reproduce:

We're observing a crash that's slowly increasing when invoking `database.purgeOutstandingWrites()`

[2020-03-20 07:33] bakshioye commented on #5143
@Aishwaryalaxmi I was using `Firebase 6.20.0` as well and it was crashing for me as well. I reverted back to `Firebase 6.15.0` and everything seems to be working for now. You can try the same and see if it works for you

[2020-03-20 08:03] amaurydavid commented on #5122
Where did you get this screenshot from ? I don't remember seeing this page.

[2020-03-20 09:11] DracoRubi commented on #5122
It should open if you use the dynamic link without your app installed, or if you press down the link for a while and then select "Open in Safari".

[2020-03-20 10:09] mdzwonek commented on #5126
Just double checked and I downloaded a separate Google config file for my share extension.

[2020-03-20 12:37] ryanwilson commented on #5126
Ahh that's the issue then - the expectation is you're using the same app in the console and the same `GoogleService-Info.plist` - which would have the `bundleID` of the main app.

Can you try with that and see if it works for you? Also, if you had a particular reason to set up a separate app in the Firebase console for your extension it'd be helpful to know what kind of use-cases that folks need.

[2020-03-20 12:50] ryanwilson commented on #5092
@mreddyamwell if you were able to reproduce this in a quickstart it would be very helpful to figure out if this is a project-specific issue or a general issue - having the `AppDelegateProxy` enabled should work as intended and not affect the bundle.

Glad you're unblocked at the very least!

[2020-03-20 12:56] ryanwilson commented on #5161
Looks like the `purgeOutstandingWrites` call does some async work on `[FIRDatabaseQuery sharedQueue]` and we should wait that out when an app is deleted.

This should likely be done in the following: https://github.com/firebase/firebase-ios-sdk/blob/9bfbb9ece0d9a7094a890696d663a20cf8627e85/Firebase/Database/Api/FIRDatabaseComponent.m#L85-L100

@min: are you doing anything after `app.delete()`? It

[2020-03-20 13:00] min commented on #5161
@ryanwilson we’re basically calling reset to clear out the session when a user logs out. wondering if the purge is even necessary.

[2020-03-20 13:27] ryanwilson commented on #5161
It's likely not for the moment to unblock you, but something we should still try to fix :)

[2020-03-20 13:31] min commented on #5161
@ryanwilson thanks!

[2020-03-20 14:17] samedson commented on #5020
From https://github.com/firebase/firebase-ios-sdk/issues/5092, can you try setting `FirebaseAppDelegateProxyEnabled` to `NO` in your Info.plist and see if that resolves the issue?

[2020-03-20 14:57] IniongunIsaac opened #5162 "Precondition failed: NSArray element failed to match the Swift Array Element type Expected FIRQueryDocumentSnapshot but found FIRQueryDocumentSnapshot: file"
### Step 0: Are you in the right place?

  Yes

### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 11.2
  * Firebase SDK version: 6.19.0
  * Firebase Component: Firestore
  * Component version: 1.11.2
  * Installation method: `CocoaPods `

### [REQUIRED] Step 2: Describe the problem

I have firebase dependencies added in both my app's target and other internal targets.
I have a R

[2020-03-20 17:00] paulb777 commented on #5161
@ryanwilson Should the label be changed to database?

[2020-03-20 17:10] ryanwilson commented on #5161
Great call - not sure why Googelbot thought it was auth...

[2020-03-20 17:12] wu-hui commented on #5162
This is likely the same cause of #2085.

In short, you are probably getting two Firebase static libs linked, and hence two `FIRQueryDocumentSnapshot`.

[2020-03-20 17:15] christibbs commented on #5151
@myCols Ah, I see. So it's the image only template.

Will investigate.

[2020-03-20 17:19] AndreasLS commented on #5152
@maksymmalyhin You were right! I double checked the debug log and there they are: the logs saying that I have two different definitions of the same class. I found out that one of our dynamic libs had a reference to Firebase libs and based in your answer there [https://github.com/firebase/firebase-ios-sdk/issues/4315#issuecomment-566102527](url) about Firebase libs being a static library, I removed

[2020-03-20 17:19] #5152 closed

[2020-03-20 18:04] IniongunIsaac commented on #5162
So is there a way around this? What can I do?

[2020-03-20 19:22] TKBurner commented on #4558
Can you share the debug output of the upload? Sanitized, of course.

[2020-03-20 19:30] lopsae commented on #5153
Current version of `Firebase/Analytics` (`6.20.0`) uses `GoogleAppMeasurement` which in turns shows up when searching for `ASIdentifierManager`:

[code]

We are getting rejections from the Apple App Store for a similar issue. Our kids app is being flagged as possibly using IDFA. Communicating with Apple directly they have stated that they want the app to contain absolutely no IDFA code, regardless

[2020-03-20 19:31] jostster commented on #4558
[xcode copy.log](https://github.com/firebase/firebase-ios-sdk/files/4361508/xcode.copy.log)
 Here you go @TKBurner if you need anything else, let me know.

[2020-03-20 19:58] wilhuff commented on #5153
Can you post your Podfile.lock?

[2020-03-20 19:58] morganchen12 commented on #5153
Filed b/152062046 internally.

[2020-03-20 20:01] morganchen12 commented on #5162
If `RemoteAPI` is a dependency of `Buy Ticket`, link Firestore into only the `RemoteAPI` target and not `Buy Ticket` and then expose the Firestore headers to `Buy Ticket` so it will still compile.

[2020-03-20 20:09] wilhuff commented on #5162
Also note that with CocoaPods 1.9 you may be able to use statically linked frameworks too:

[code]

[2020-03-20 20:29] IniongunIsaac commented on #5162
I understand the "link Firestore into only the RemoteAPI target" aspect but what I don't understand is how to "expose the Firestore headers to Buy Ticket" so please to you mind explaining that a bit more? A link on  how to do that can also be useful. Thank you

[2020-03-20 20:31] lopsae commented on #5153
This is my Podfile.lock when only using `Firebase/Analytics`:

[code]

[2020-03-20 20:41] IniongunIsaac commented on #5162
I just applied `:linkage => :static` on the targets in my Podfile but I got the same crash result. I'm I doing it wrongly? Please see attached

![image](https://user-images.githubusercontent.com/21115262/77204687-8e95ca80-6af3-11ea-8a48-72a7a86f93f5.png)

[2020-03-20 21:05] paulb777 commented on #5162
Possibly a problem is linking the Firebase libraries into both a dynamic framework and the app.  The Firebase podspec's force them to be static no matter what is specified by `use_frameworks!`.

[2020-03-20 21:16] IniongunIsaac commented on #5162
Yes that's the problem I think (based on all that I've gathered). Now trying to find a working solution to the problem not just for this project but for future projects as well. I'm thinking of returning the project to a single monolithic app without multiple internal targets but a solution to the current problem would be best suited.

[2020-03-20 21:17] ahmedelmoughazy commented on #5074
Thanks you very much, it worked ! ...

[2020-03-20 21:19] paulb777 commented on #5162
Three options come to mind:
- Use multiple static library framework targets instead of dynamic library framework targets
- Make all Firebase calls from one library
- Single monolithic app

[2020-03-21 00:47] eburley commented on #5153
Would you mind emailing me at eburley@google.com? I'd like to follow up on a few details.

[2020-03-21 03:11] fangyuxi opened #5166 "FirebaseUI Sign in with Apple , button label text color error."
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: ___11.3.1__
  * Firebase SDK version: _____
  * Firebase Component: _Auth____ (Auth, Core, Database, Firestore, Messaging, Storage, etc)
  * Component version: _____
  * Installation method: `CocoaPods | Carthage | Zip file` (select one)

  - Firebase/Analytics (6.16.0):
    - Firebase/Core
  - Firebase/Auth (6.16.0):
    - Fireb

[2020-03-21 03:32] fangyuxi commented on #5166
I can't create a FUIOAuth use custom text button color.

[2020-03-21 05:32] fangyuxi commented on #5166
**So I have to use the following code to fix this UI problem so that I can adapt to the dark mode.**

`- (void)reviseAppleSignInButtonUI:(UIView *)rootView {
    for (UIView *subView in [rootView subviews]){
        if (!rootView.subviews.count) {
            return;
        }
        if ([subView isKindOfClass:[UIButton class]]) {
            if ([subView respondsToSelector:@selector(providerUI)]

[2020-03-21 13:08] fetching commented on #5032
Hi, in case its helpful I also see this issue.

```2020-03-20 21:53:30.115019-0400 [22075:10757038] Task <5562A0D9-05C7-4593-960F-C09CBE08188C>.<2> finished with error [-1003] Error Domain=NSURLErrorDomain Code=-1003 "A server with the specified hostname could not be found." UserInfo={NSUnderlyingError=0x600001670810 {Error Domain=kCFErrorDomainCFNetwork Code=-1003 "(null)" UserInfo={_kCFStreamErr

[2020-03-22 04:25] Fidetro commented on #1732
any plans?

[2020-03-23 01:02] #2465 closed

[2020-03-23 09:59] RobBernardini commented on #3862
@morganchen12
I apologise for taking a while to reply. So I removed `ComScore`, built the app and ran grep and the following output is obtained:
<img width="482" alt="Screen Shot 2020-03-23 at 8 54 03 pm" src="https://user-images.githubusercontent.com/10274232/77304490-a1eda380-6d48-11ea-9e0c-bcd6b50b9474.png">

There is still this reference being shown to UIWebView. If Mobile Ads no longer has an

[2020-03-23 11:57] mdzwonek commented on #5126
Ohh, I didn't know that!

The reason for splitting the extension from the main app is that the #1 crash in the main app happens roughly 100x more often the #1 crash in the extension. And it's the same with active users, the main app has hundreds times more users than the extension.
If we combine all crashes in one dashboard then it's really hard to spot issues in the extension. Because I'm assumin

[2020-03-23 13:13] ryanwilson commented on #5126
That's correct, yes. cc @TKBurner for any potential solutions from the Crashlytics side - what's the best way to filter crashes from extensions?

That's very helpful feedback and something we'll need to consider moving forward, thank you!

[2020-03-23 13:52] paulb777 commented on #3862
@RobBernardini Can you be more specific about which library the reference is coming from?  See the commands used in https://github.com/firebase/firebase-ios-sdk/issues/3862#issuecomment-596850809

[2020-03-23 15:02] mreddyamwell commented on #5092
@ryanwilson I was not able to repro this in the quickstart projects as none of them have a similar setup to ours. Our project has our common codebase (`AppDelegate` included) brought in as a framework. I'm thinking because `AppDelegate`'s relative path is different from the norm is what is causing the issue.

[2020-03-23 15:55] christibbs commented on #5151
@myCols It looks like there's some whitespace at the top and the right of this image that's causing the X button to float off of it. Try cropping it to remove this whitespace, I used the attached image and ended up with the attached screenshot.

![Uploading cropped_image.png…]()
![Uploading screenshot_with_cropped_image.png…]()

[2020-03-23 15:55] #5151 closed

[2020-03-23 16:00] ryanwilson commented on #5126
It looks like the original issue is still valid - we should be able to match exact bundleIDs for extensions in this sort of setup.

[2020-03-23 18:01] chliangGoogle commented on #5126
Part of reason we enforce the same config file is so that users can have unified identity as one app, e.g. you will only have to log in once with Auth.  I also wonder if crashlytics support customized events so you can specify the difference there.

[2020-03-23 21:02] rickrvo commented on #5143
I have the same issue. just updated from 6.14.0 and this error started

[2020-03-23 22:00] paulb777 commented on #5143
As requested above, we'd really like to get a crash backtrace to help with this one.

[2020-03-23 22:21] sgehrman commented on #5076
same issue.  rollback didn't work for me.

[2020-03-23 22:32] chliangGoogle commented on #3776
I think we swizzle didReceive as well: https://github.com/firebase/firebase-ios-sdk/blob/master/Firebase/Messaging/FIRMessagingRemoteNotificationsProxy.m#L31

And call appDidReceiveMessage in the swizzling:
https://github.com/firebase/firebase-ios-sdk/blob/master/Firebase/Messaging/FIRMessagingRemoteNotificationsProxy.m#L548

Does that not work you? @ruralcoder

[2020-03-23 23:06] mjlee250 commented on #5153
I am having the same issue? Did you find a workaround?

[2020-03-24 00:58] RgMellon commented on #4914
Hello, do you have any sollution? i have the same problem :(

[2020-03-24 05:03] nishitsplashmath commented on #5153
Same issue.. Our app got rejected because of the same. Also on removing firebase/analytics didn't removed the app measurement.

[2020-03-24 05:38] over140 opened #5175 "GoogleDataTransportCCTSupport GDTCCTConstructLogEvent crash"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 11.3.1
  * Firebase SDK version: 6.20.0
  * Firebase Component: Core, Analytics, Performance
  * Component version: FirebaseCore (6.6.4), FirebaseCoreDiagnostics (1.2.2), FirebasePerformance (3.1.10), GoogleDataTransport (5.0.0), GoogleDataTransportCCTSupport (2.0.0), FirebaseAnalytics (6.3.1)
  * Installation method: `CocoaPods`

[2020-03-24 08:07] rostopira commented on #5076
@sgehrman if you are using Flutter, rollback to v1.14.6. If with this version you build stuck at splashscrenn, add `Flutter.framework` and `App.framework` in build phases

[2020-03-24 08:10] mikehaney24 commented on #5175
Probably a duplicate of #5082, fixed in next release.

[2020-03-24 08:10] #5175 closed

[2020-03-24 08:50] lehanphong opened #5176 "I have a crash at GDTCCTNanopbHelpers.m line 151 when run on ios 13.3"
This is log crash on Fabric, please check for me and fix (if need), thank!

OS Version: 13.3.1 (17D50)
Device: iPad mini 5 (WiFi)
RAM Free: 23.5%
Disk Free: 38.5%

#11. Crashed: com.twitter.crashlytics.ios.exception
0  VndirectTrading                0x104eb9edc CLSProcessRecordAllThreads + 4344979164
1  VndirectTrading                0x104eba2c4 CLSProcessRecordAllThreads + 4344980164
2  VndirectT

[2020-03-24 10:38] LifeEternal commented on #5122
what if we tell the dynamic link to skip this page?

[2020-03-24 11:05] RobBernardini commented on #3862
@paulb777
I ran the command as you did and got the same output without any reference to UIWebView in the SDK. As shown below:
<img width="968" alt="Screen Shot 2020-03-24 at 9 41 10 pm" src="https://user-images.githubusercontent.com/10274232/77416978-ca44d300-6e18-11ea-926b-63a5368a12e8.png">

The command I originally ran was on the application file (`.app`) found in the `/Library/Developer/Xcode/

[2020-03-24 11:46] kainjinez opened #5177 "Swiftlint error in FirebaseFirestoreSwift (FirestoreEncoder.swift)"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: Version 11.3.1 (11C505)
  * Firebase SDK version: Newest with `pod install`
  * Firebase Component: Firestore
  * Component version: Newest with `pod install`
  * Installation method: `CocoaPods` (select one)

### [REQUIRED] Step 2: Describe the problem

#### Steps to reproduce:
I want to use custom object to add data to Firestor

[2020-03-24 14:13] paulb777 commented on #3862
That seems to indicate that the undefined UIWebView symbol is coming from another archive than the one from the Google-Mobile-Ads-SDK.

Are you able to isolate the pod from which the undefined UIWebView symbol is being linked from into the app?

[2020-03-24 14:18] paulb777 commented on #5153
GoogleAppMeasurement is also a [dependency of Google-Mobile-Ads-SDK](https://github.com/CocoaPods/Specs/blob/master/Specs/5/9/a/Google-Mobile-Ads-SDK/7.57.0/Google-Mobile-Ads-SDK.podspec.json#L4).

[2020-03-24 15:25] paulb777 commented on #4990
Released today.

[2020-03-24 15:25] #4990 closed

[2020-03-24 15:28] paulb777 commented on #5176
Should be a duplicate of #5082 for which the fix was released today in  GoogleDataTransportCCTSupport (2.0.1)

[2020-03-24 15:28] #5176 closed

[2020-03-24 15:32] morganchen12 commented on #5122
Then the dynamic link will always fall back to a weak match.

[2020-03-24 16:08] ghus86 commented on #4914
@bensheehan-r38  also facing the same issue did you find a solution ?
@aletabu @morganchen12 any update on this issue ?

[2020-03-24 17:10] TKBurner commented on #5073
Thanks, the anticipated SDK deprecation date for the Fabric SDKs is approximately Q4 2020.

[2020-03-24 17:29] artud2000 commented on #5043
I've been observing a similar issue, when using GMASDK 7.56

[2020-03-24 17:31] artud2000 commented on #5043
Thread 8 Crashed:
Thread 8 name:  Dispatch queue: APMExperimentWorkerQueue

<img width="335" alt="Screen Shot 2020-03-24 at 10 30 54 AM" src="https://user-images.githubusercontent.com/5375703/77457949-a2268700-6dba-11ea-9059-ef54cb223cbb.png">

[2020-03-24 18:44] morganchen12 commented on #5043
@artud2000 can you share your AppMeasurement version?

[2020-03-24 20:05] barakwei opened #5182 "FR: allow sending unsymbolicated stack traces in custom exception models."
### Feature proposal

* Firebase Component: Crashlytics

This is in continuation to #4706 where I describe our use case in length.

First of all thanks for adding `[FIRCrashlytics recordExceptionModel:]` it will help us a lot. My problem with the current API is that in order to create the stack trace inside the exception model, I must use the `[FIRStackFrame initWithSymbol:file:line:]` method, so

[2020-03-24 21:10] urjitbhatia opened #5184 "Firebase/messaging: Timeline for upstream messaging feature removal"
Is there a timeline for fully deprecating upstream messages? The changelog doesn't say when the support will be removed

cc @blakeanderson @Kaspik

[2020-03-24 21:14] morganchen12 commented on #5184
@chliangGoogle do you know when support will end? We should update the docs with the sunset date.

[2020-03-24 21:19] Kaspik commented on #5184
Our current issue right now is:
- we use direct channel for downstream messages (we can easily switch to APNS only) - so we see a lot of deprecated warnings
- we use upstream message to handle push notifications token registration - so we see another deprecated warning

Problem with the 2nd one is that for receiving upstream messages, our server needs to use XMPP (https://firebase.google.com/docs/

[2020-03-24 23:03] Ihernandezpi commented on #4914
Same Issue, just appears page.preview.link but not redirect to the app

[2020-03-25 02:46] aletabu commented on #4914
I tried to use different domains to test and I found it that it works
perfect when I configure the Universal link with Azure (same app conf and
same json).
The only relevant difference  Ifound is the time of response. Azure
services resolves DNS lookup and SSL handsahke and response in less than
300ms.

Other sites that are failing the whole process takes more than 500 millis.
My hypothesis is tha

[2020-03-25 06:12] RobBernardini commented on #3862
No. I thought it was coming from Google Mobile Ads or a dependency because of how it is listed when calling grep. We know that the ComScore SDK also has UIWebView references but I isolated that SDK and the report just above still showed a reference to UIWebView. We have suspicions that it could also be due to RxSwift but are unsure. We will be investigating this. I've run a few tests in a new proj

[2020-03-25 10:51] ghus86 commented on #4914
@aletabu thanks for the feeback
if I understand correctly our suggestion is to put the AASA to an azure server ?

I am using firebase inside unity and this strange
it works well in iOS 13.3 and 13.4 for an Iphone SE
but when clients try on iphone 11 or X it doesnt open the app

[2020-03-25 11:41] DracoRubi commented on #5122
What if that page isn't shown? For example, if the user already has the app installed, Safari will automatically open the app without showing that page. Will it fall back to a weak match?

[2020-03-25 12:01] mironal commented on #5143
I have the same issue. updated from 6.14.0 to 6.21.0.

It doesn't crash if I launch from Xcode, otherwise the app crashes.

I got following error.

[code]

The following is part of a Podfile diff.

![image](https://user-images.githubusercontent.com/537587/77534275-ab5b4500-6edb-11ea-9fc2-7080b34adb3e.png)

[2020-03-25 12:30] ryanwilson commented on #5143
@rickrvo @mironal are either of you able to share a stack trace for when the exception is thrown? If not, we don't have a way to debug why this is happening and likely won't be able to solve your issue for you. Thanks!

[2020-03-25 14:47] reshadf commented on #3624
@christibbs I am still having issues here. It is not working for me it is always returning true. I have updated to the most recent version of the sdk.

Also, on another note. Why do you guys use CFBundleVersion? I think both CFBundleVersion and CFBundleShortVersionString should work. We use the latter and CFBundleVersion is rarely used in our app.

Is it possible to make them both actually work?

[2020-03-25 15:31] morganchen12 commented on #5122
@DracoRubi in that case it'll open the app directly through the system universal link behavior and you'll be able to get the URL from the system callbacks. Dynamic Links rely on the preview page to guarantee strong matching, and it does so by copying the URL to clipboard which the SDK then inspects when the app is opened.

[2020-03-25 15:36] morganchen12 commented on #3862
No problem. I'll close this issue now, but if it regresses please comment here and I'll reopen the issue.

[2020-03-25 15:36] #3862 closed

[2020-03-25 15:38] amaurydavid commented on #5122
So if we check "skip app preview app" in the links settings, we will never be able to get the actual url from FIRDynamicLink ?
Also, could you define "strong match" and "weak match" ?

[2020-03-25 15:50] aletabu commented on #4914
I include the same aasa file on azure web  and other 2 domains, using
similar headers, and it worked only on azure. The only difference I found
is the response time.

It only happens with certain devices.

On Wed, Mar 25, 2020 at 7:51 AM ghus86 <notifications@github.com> wrote:

--
Alejandro Taboada (ataboada@gmail.com)

[2020-03-25 15:56] wu-hui commented on #5177
Hi,

Thanks for reporting the issue. Those force casts are actually required. We will push a change to disable the force_cast checks for these lines.

We are not using swiftlint for our repository yet, so it's might be time to actually add some checks as well.

Thank you!

[2020-03-25 16:07] morganchen12 commented on #5177
In the meantime, you can disable [SwiftLint checking for your dependencies](https://github.com/realm/SwiftLint/issues/1423).

[2020-03-25 16:07] ibuda commented on #4461
@pmendesTekever Hi, may I ask you what is the app/service you are using to see user's interactive events ordered consecutively on a timeline?

[2020-03-25 16:12] morganchen12 commented on #5122
@dmandar, can you answer these questions?

[2020-03-25 16:25] karlkaminski opened #5191 "FR: Update nanopb because of security finding"
### Feature proposal

* Firebase Component: Core

In our project we use whitesources to find security issues in the code.
We got an security finding in the nanopb library in the newest firebase 6.21.0
https://nvd.nist.gov/vuln/detail/CVE-2020-5235

Could you please update to a nanopb version that fixed this security issue?

Thank you

[2020-03-25 16:59] paulb777 commented on #5191
@karlkaminski Our nanopb migration is currently pending migrating the Firestore gRPC dependency from a nanopb-dependent version. See #4312.

Once that happens, we'll move the Firebase nanopb version forward.

[2020-03-25 18:50] ryan-cbs opened #5192 "Firebase Does Not Properly Implement Swift Module Stability on iOS"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: __11.4__
  * Firebase SDK version: __6.21.0__
  * Firebase Component: __ALL__ (Auth, Core, Database, Firestore, Messaging, Storage, etc)
  * Component version: __6.21.0__
  * Installation method: `Carthage`

### [REQUIRED] Step 2: Describe the problem

#### Steps to reproduce:
Add Firebase to Cartfile

`# Firebase
binary "https:/

[2020-03-25 19:07] paulb777 commented on #5192
@ryan-cbs Thanks for the report.

Some initial questions:
- Is going back to Xcode 11.3.1 or earlier a workaround?
- Why is Carthage checking the Swift build version when there is no Swift in the library?
- Is the problem only in FirebaseAnalytics (and FirebasePerformance) which have a different build process than the one you reference?

[2020-03-25 19:22] ghus86 commented on #4914
Hi @paulb777

Any idea how to fix this without using aletabu solution ?

The was working fine and since ios 13.3 people are complaining that the app doesnt open properly.
it works well in iOS 13.3 and 13.4 for an Iphone SE
but when clients try on iphone 11 or X it doesnt open the app
this is so strange

Thanks in advance for any tip

[2020-03-25 20:12] chliangGoogle commented on #5184
@Kaspik Thank you for reaching out. Sorry that we didn't provide enough information regarding the sunset. So based on your use case, you can store the token in your own way or talk to your server directly. If you can't build that now, you can also try other tools. You can also use Firebase real time database or cloud function to connect to your server in communications on handling tokens.

You can

[2020-03-25 20:12] #5184 closed

[2020-03-25 21:46] artud2000 commented on #5043
@morganchen12 how can I check that?

I did 'Google-Mobile-Ads-SDK', '7.56.0' in my pod file, I don't think I have explicitly installed anything else

[2020-03-25 22:39] paulb777 commented on #5043
@artud2000 It should be in the generated `Podfile.lock` file.

[2020-03-26 00:08] chliangGoogle commented on #5048
@girishw  Please try again with xcode 11.4 which allows to use the same bundle ID as your iOS one.
<img width="595" alt="Screen Shot 2020-03-25 at 5 07 26 PM" src="https://user-images.githubusercontent.com/27706281/77597149-23fdd980-6ebb-11ea-85c6-74dd5474fa14.png">

I managed to get it working after #5165. So if you can enable it without using the bundle ID prefix with maccatalyst and wait for th

[2020-03-26 01:02] #5053 closed

[2020-03-26 01:08] erikkerber commented on #5073
@TKBurner Originally you stated:

Since this was pushed out to May 4th from March 31st, do you imagine the first "stable" release of FirebaseCrashlytics would be soon?

Before the delay to May 4th, your previous statement made it sound as if the beta tag would come off relatively close to next week.

[2020-03-26 10:54] GRiMe2D opened #5199 "FR: Crashlytics crash sending completion handler (or delegate messages)"
### Feature proposal

* Firebase Component: Crashlytics

Sometimes our app is stuck on some state where it will crash upon startup. And therefore no crash reports are sent to Firebase. We want to add fake splash screen on startup and check if there are any unsent crash reports and send them. We want to continue app after crashes are sent.

So it would be great if Crashlytics could accept a complet

[2020-03-26 10:57] purnendu-roy opened #5200 "Thats Weird, my dynamic link has no URL on iOS Help me"
### Step 0: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ please use the Feature Request template.
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the `firebase` tag.
  * For general (non-iOS) Firebase discussion, u

[2020-03-26 13:16] kobe1941 opened #5201 "Xcode compile failed，Undefined symbols for architecture x86_64: "_FBLPromiseErrorDomain","
user zip file, not pod.
version: Firebase-6.21.0

I drag this framework：
![image](https://user-images.githubusercontent.com/7099017/77650510-93042c80-6fa6-11ea-9866-678f25fbe5c0.png)

as you see,  I also  drag PromisesObjC.framework to my project.
and  FBLPromiseErrorDomain is also in file FBLPromiseError.h.
the class FBLPromise is also in PromisesObjC.framework，

but why Xcode build Error：
Undefi

[2020-03-26 14:02] paulb777 commented on #5201
It's possible you have a mix of frameworks from different Firebase versions.  I recommend removing all the Firebase frameworks from the app and reinstalling from scratch following the zip README's instructions.

[2020-03-26 15:05] imWildCat opened #5206 "Catalyst still cannot compile: building for Mac Catalyst, but linking in object file built for iOS Simulator"
### Step 0: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ please use the Feature Request template.
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the `firebase` tag.
  * For general (non-iOS) Firebase discussion, u

[2020-03-26 15:06] ryanwilson commented on #3136
The [Swift 5.3 Release Process](https://swift.org/blog/5-3-release-process/) was just posted, stating that the branch for SwiftPM will be cut *tomorrow*. We'll use that once it's cut to test and try to get support working before the next Xcode release (presumably WWDC timeline, but nothing was confirmed in this post for release timeline). Once we have something functional I'll update here and folk

[2020-03-26 15:24] purnendu-roy commented on #5122
I'm getting the same issue. Any idea how to resolve this.

[2020-03-26 15:25] paulb777 commented on #5206
Duplicate of #4563.  FirebaseAnalytics does not support Catalyst.

See https://github.com/firebase/firebase-ios-sdk#community-supported-efforts for a summary of what is available.

[2020-03-26 15:25] #5206 closed

[2020-03-26 15:26] purnendu-roy commented on #5122
did anyone know how to solve this issue?

[2020-03-26 15:46] artud2000 commented on #5043
Thanks

6.3.1

cc: @morganchen12 @paulb777

[2020-03-26 16:13] ghus86 commented on #5200
yes there is something strange with dynamic links and iOS
https://github.com/firebase/firebase-ios-sdk/issues/4914
@dmandar @ryanwilson can you please help

the code stoped working in iOS 13.3 for newer devices
but in my iphone SE with the latest iOS it still works :/

[2020-03-26 16:24] DracoRubi commented on #5122
In that case... We should be adding code to manually handle the URL if `handleUniversalLink` returns false?

[2020-03-26 16:31] girishw commented on #5048
@chliangGoogle I rebuilt my app with Xcode 11.4, Use iOS Bundle Identifier checked. I built with the github sources. I now see the following error message:

{ Error: Requested entity was not found.
    at FirebaseMessagingError.FirebaseError [as constructor] (/srv/node_modules/firebase-admin/lib/utils/error.js:42:28)
    at FirebaseMessagingError.PrefixedFirebaseError [as constructor] (/srv/node_m

[2020-03-26 16:32] morganchen12 commented on #5043
Can you try updating AppMeasurement to [6.4.0](https://github.com/CocoaPods/Specs/blob/master/Specs/e/3/b/GoogleAppMeasurement/6.4.0/GoogleAppMeasurement.podspec.json)?

[2020-03-26 16:34] appfrilans commented on #4007
Any progress here? It's been 6 months!

[2020-03-26 16:41] MichaelNL opened #5209 "File "FirebaseCore-umbrella.h" generated when using Carthage causing warnings"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 11.3.1
  * Firebase SDK version: 6.21.0
  * Firebase Component: Core
  * Component version: 6.21.0
  * Installation method: Carthage

### [REQUIRED] Step 2: Describe the problem

When adding Firebase v6.21.0 to your project using Carthage, a header file called "FirebaseCore-umbrella.h" is created in FirebaseCore. This will trigge

[2020-03-26 17:01] paulb777 commented on #5209
Thanks for the report. We'll fix for the next release.

In the meantime, a workaround is to manually delete 'FirebaseCore-umbrella.h' and any other unreferenced umbrella.h files.

[2020-03-26 18:54] chliangGoogle commented on #5048
Can you reset your app uninstall it and reinstall again?

[2020-03-26 20:50] girishw commented on #5048
@chliangGoogle I am running builds from Xcode to test. I tried deleting the user's account and running a first launch process with authorization of notifications, etc. Still the same result :-(

[2020-03-26 21:03] chliangGoogle commented on #5048
Are you running on mac or ipad? Is it possible to share your debugLog with me? You can send directly to me at chliang@google.com

[2020-03-26 21:09] TKBurner commented on #5073
Yes, this is still on track. It is important to note it is tied to Firebase SDK releases, so if it doesn't ship in the next release it may be delayed by up to a month.

[2020-03-26 21:13] artud2000 commented on #5043
Sure, let me give it try

[2020-03-26 23:06] JasonSa1993 opened #5213 "FirebaseInstallations will not work correctly with current version of Firebase Instance ID"
###  Step 1: Describe your environment

  * Xcode version: 11.3.1
  * Firebase SDK version: 6.21.0
  * Firebase Component: Firebase (FirebaseInstanceID & FirebaseInstallations)
  * Component version: 6.21.0
  * Installation method: CocoaPods
  * Deployment info: 13.1

### Step 2: Describe the problem

#### Steps to reproduce:

After doing a pod update, the application throws an error and closes im

[2020-03-26 23:12] christibbs commented on #4952
This has been fixed on the server.

[2020-03-26 23:12] #4952 closed

[2020-03-26 23:28] paulb777 commented on #5213
@JasonSa1993 Thanks for the report.  Please share the `Podfile.lock` to help the investigation.

[2020-03-27 06:21] mironal commented on #5143
Hi! @ryanwilson

I can't get the stack trace at the time of the exception because there is no problem when connected to the debugger(xcode).

Instead, I added the code to output the stack trace as below and got it.

![image](https://user-images.githubusercontent.com/537587/77727826-7b788280-703e-11ea-9932-cd565602f639.png)

The following is the call stack when [FIRApp configure] is called in Fireb

[2020-03-27 07:29] mironal commented on #5143
I checked which version caused the same problem and got the following results.

- 6.15.0 <- OK
- 6.16.0 <- OK
- 6.17.0 <- OK
- 6.18.0 <- NG (Crash occurs)
- 6.19.0 <- NG
- 6.20.0 <- NG
- 6.21.0 <- NG

[2020-03-27 08:42] lisindima commented on #4335
I close the problem, the error was caused in my improper implementation of the code from the documentation in my catalyst application.

[2020-03-27 08:42] #4335 closed

[2020-03-27 09:52] alvinthen commented on #5072
Anything I can do to help further debugging this? It's a letdown not being able to test my app against the emulator suite

[2020-03-27 10:58] Gujci commented on #3913
Regarding this feature request, we still have a a metric payload JSON representation in our application. Do you have a best practice to (maybe slice &) send it using the current feature set of Firebase.

[2020-03-27 12:03] coolcool1994 opened #5215 "[Ignore, false alarm]iOS RTDB crashes my app every time at launch"
PLEASE IGNORE THIS POST. YOU MAY DELETE IT. THERE IS NO PROBLEM WITH RTDB. THIS WAS TOTALLY MY FAULT NOT RTDB'S. THE BUG HAPPENED BECAUSE OF MY LOGIC AND I CHANGED THE DICTIONARY VALUE INTO AN INT, CAUSING BELOW CRASH as I tried to iterate through int as if it is a dictionary lol. If you are a Google Developer, please delete this post :)

I have a child field changed listener, and when one of the

[2020-03-27 12:23] krishnastvSMSC commented on #3242
Hello Team,

In our project also took 52% of CPU for  FirebaseApp.configure() due to this our app start time is increased.

Any solution for this.Thank you

[2020-03-27 13:31] filipealva commented on #5200
Guys, I'm having this issue too. But only when the users share the link through some very specific way, e.g. SMS.

The link comes out without an URL an opens on the browser as this:

[code]

[2020-03-27 14:04] maksymmalyhin commented on #5215
@coolcool1994 Thank you for sharing your issue and updating the ticket once you figured out the reason. I hope the ticket will help other developers that encounter similar issues.

[2020-03-27 14:04] #5215 closed

[2020-03-27 14:18] maksymmalyhin commented on #5143
Could you please share the following:

1. The way you use Firebase (do you use it from a framework, or from the app target, both)
2. A sample project to reproduce the issue will speed up investigation significantly

Could you please also check the recommendations from https://github.com/firebase/quickstart-ios/issues/936 and [Using Firebase from a Framework or a library](https://github.com/firebas

[2020-03-27 14:20] filipealva commented on #4914
+ 1

[2020-03-27 14:25] filipealva commented on #4914
@paulb777 @morganchen12

Guys, seriously, we have A LOT of issues open regarding DynamicLinks. All of them with similar complaints. I know how open source can be hard, but it seems that it is not receiving the attention it should be. I'll link here just a few issues that are probably regarding the same bug: #5000, #5122 and #5200.

Here we are experiencing a lot of users complaining, it's somethin

[2020-03-27 14:41] vburojevic commented on #5201
I have a similar issue on Xcode 10.4, installed via Carthage.

`ld: warning: Could not find or use auto-linked framework 'FBLPromises'
Undefined symbols for architecture x86_64:
  "_FBLPromiseErrorDomain", referenced from:
      ___60-[FIRSecureStorage getObjectForKey:objectClass:accessGroup:]_block_invoke in FirebaseInstallations(FIRSecureStorage.o)
  "_OBJC_CLASS_$_FBLPromise", referenced from:

[2020-03-27 14:55] artud2000 commented on #5043
I'm still getting a crash

![Screen Shot 2020-03-27 at 7 53 40 AM](https://user-images.githubusercontent.com/5375703/77768807-3e8d9b00-7000-11ea-8d0a-63d3436b89ea.png)

[2020-03-27 15:20] artud2000 commented on #5043
<img width="432" alt="Screen Shot 2020-03-27 at 8 20 39 AM" src="https://user-images.githubusercontent.com/5375703/77771381-da6cd600-7003-11ea-8f79-bc525cb723f7.png">

[2020-03-27 15:29] roremeol commented on #4914
I'm experimenting the same issue.

5S iOS 11 -> it works well
X IOS 13.3.1  -> it doesnt open the app

@filipealva is there any kind of information that I could give you to help fix this bug? I have many user with this trouble.

[2020-03-27 15:43] morganchen12 commented on #5043
Can you share the full stack trace in text at the crashing location? You can get this by running `bt all` in the debugger.

[2020-03-27 15:45] artud2000 commented on #5043
sure

[2020-03-27 15:45] artud2000 commented on #5043
would the crash log also help?

[2020-03-27 15:46] morganchen12 commented on #5043
Yes, both would help.

[2020-03-27 15:47] artud2000 commented on #5043
[Google.txt](https://github.com/firebase/firebase-ios-sdk/files/4394514/Google.txt)

[2020-03-27 15:50] morganchen12 commented on #5043
The crash log doesn't show any symbols in the crashed thread:
[code]
Also, none of the app symbols are symbolicated.

[2020-03-27 15:51] morganchen12 commented on #3242
@krishnastvSMSC is this reproducible in the latest Firebase version? We still haven't been able to isolate the root cause, but we made some minor fixes to dispatch misuse in Analytics in 6.19.

[2020-03-27 15:56] artud2000 commented on #5043
let me symbolicate a few of them and post them back

[2020-03-27 16:05] artud2000 commented on #5043
I symbolicated this one, but it shows no info in the crashing thread

[CrashOneSymbolicated.txt](https://github.com/firebase/firebase-ios-sdk/files/4394628/CrashOneSymbolicated.txt)

[2020-03-27 16:42] artud2000 commented on #5043
If I revert the Google-Mobile-Ads SDK back to 7.43.0 the crash goes away, but for some reason the thread with the crash is not displaying any info besides

`Thread 12 name:  Dispatch queue: APMExperimentWorkerQueue
Thread 12 Crashed:`

In some devices, not all of them

[2020-03-27 17:26] GRiMe2D commented on #5032
Hello, I've tested my IPv6 using https://test-ipv6.com and it says I (my ISP) don't have any IPv6 compatibility.

And this causes my app freeze on the first launch. Relaunching helps. I'm also getting the same error messages
<img width="1918" alt="Screen Shot 2020-03-27 at 8 25 39 PM" src="https://user-images.githubusercontent.com/6705445/77783031-3c135b80-7069-11ea-83e1-1266a0c1c81d.png">

[2020-03-27 17:30] chliangGoogle commented on #5048
Sync offline and customer didn't get the latest version of code. @girishw please try again with the patch changes of #5165 and reopen the issue if it still doesn't work for you.

[2020-03-27 17:30] #5048 closed

[2020-03-27 21:07] chliangGoogle opened #5216 "Remove Messaging direct channel and Upstream API at next major change release"
Firebase Messaging direct channel and upstream API have been deprecated and will be removed at the Firebase 7 major release.

[2020-03-27 23:42] roremeol commented on #4914
@morganchen12 I believe that i found the problem, server-side redirects are forbidden by Apple in the apple-app-site-association and Firebase do it a lot. Maybe in this new iOS release they are blocking it.

I’ve just made a version using universal link and it worked as expected.

[2020-03-28 00:07] c0diq commented on #4914
Same problem here. Used to work. Not anymore since updating to iOS 13.4. One thing I noticed is that the documentation states to enter the App ID (prefix) in the Settings but the only setting I see is Team ID. Our Team ID is totally different than the App Prefix in some cases. Yet Firebase is using the TeamID to build the App ID (prefix + bundle ID) when generating the AASA file so I have to put t

[2020-03-28 00:25] ghus86 commented on #4914
@c0diq So changing the TeamID for the AppID in the config fixed the issue for you ?

[2020-03-28 00:34] c0diq commented on #4914
It was working yesterday but not today after updating to iOS 13.4.

[2020-03-28 09:32] imWildCat commented on #5206
Thanks. I can finally manage to exclude Firebase for the Catalyst target: https://stackoverflow.com/a/60612984/2949840

[2020-03-28 12:39] Axadiw opened #5217 "Firebase not respecting Cocoapods configuration setting"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 11.3.1
  * Firebase SDK version: 6.21.0
  * Firebase Component: Crashlytics
  * Component version: 4.0.0-beta.6
  * Installation method: `CocoaPods`

### [REQUIRED] Step 2: Describe the problem

#### Steps to reproduce:

Add Crashlytics to Podfile
run `pod install`
Run `Archive` action in Xcode

#### Relevant Code:

I've added

`

[2020-03-28 12:42] ghus86 commented on #4914
@c0diq
I have found this page from apple they also talk in app identifier not teamID and that
https://developer.apple.com/documentation/safariservices/supporting_associated_domains_in_your_app

they also mention that starting iOS12 it should include

@morganchen12 @paulb777 is it possible that the AASA needs to be updated ?

[2020-03-28 13:48] paulb777 commented on #5217
@Axadiw This might be a CocoaPods subspec issue.  Does specifying the FirebaseCrashlytics pod directly work instead of via the Firebase subspec?

`pod 'FirebaseCrashlytics', '4.0.0-beta.6', :configurations => ['Debug_dev', 'Release_dev']`

[2020-03-28 18:31] Axadiw commented on #5217
Nope, the same issue with `FirebaseCrashlytics` pod. I'll post this issue on cocoapods repo then.

Thanks!

[2020-03-28 18:45] aletabu commented on #4914
Hey! The fact is that after some hours/days begins working without making
any change.
That means that the json content is fine, otherwise wouldn’t work.

Ios 13 on new devices handles the domain info in a different way. Pleas
check that device logs and will see that the domain wasnt verified and the
next validation date is an invalid date in the past. Meaning that os will
check in the future when

[2020-03-28 21:19] sasojadrovski commented on #5201
@vburojevic,

I had the same issue with Carthage, but I resolved it.

Please check if the `PromisesObjc.framework` is added to your project (make sure the correct target is selected). In my case it wasn't because I believe this is a new framework they've added recently. It goes without saying that "Do Not Embed" should be selected under Frameworks, Libraries and Embedded Content".

I hope this hel

[2020-03-28 21:21] sasojadrovski commented on #5213
@paulb777 ,

I have the same issue with the Carthage installation. Please let me know what can I provided in order to help you resolve this as soon as possible.

Best regards,
Sasho

[2020-03-28 21:25] paulb777 commented on #5213
Please share the project's `Podfile.lock`.

[2020-03-28 21:28] sasojadrovski commented on #5213
@paulb777, thanks for the prompt reply. I do not have a `Podfile.lock` file since I am using Carthage.

[2020-03-28 21:30] JasonSa1993 commented on #5213
This is my Podfile.lock

confirm me if this is helpful?
regards

[Podfile.lock.zip](https://github.com/firebase/firebase-ios-sdk/files/4397935/Podfile.lock.zip)

[2020-03-28 21:32] JasonSa1993 commented on #5213
we had to download the version to 6.14.0 to make our project work again

[2020-03-28 23:56] paulb777 commented on #5213
@JasonSa1993 The Podfile.lock is for 6.14.0, but the issue is reported on 6.21.0?

@sasojadrovski I recommend you delete all Firebase frameworks from your project and reinstall the latest from scratch to insure the installation is consistent.

[2020-03-29 00:07] sasojadrovski commented on #5213
@paulb777 I was actually updating all dependencies in my project, meaning I deleted the Carthage folder and the `Cartfile.resolved` files.

The frameworks in the project are added from the Carthage/Build folder so since I already deleted them, it’s like I added them all over again. Not sure if deleting and re-adding them again would make any difference 🙁

[2020-03-29 00:09] EvanMurphy17 opened #5219 "Error "Undefined symbols for architecture x86_64: "___isOSVersionAtLeast"" after adding Firebase (Xcode/Swift)"
Contacted Firebase support and they told me to post here:

New project, installed Firebase 6.21.0 using cocoapods, tried to build and run into this error.

Xcode: Version 11.3.1 (11C504)
Toolchain: Swift 5.1.3 Release 2019-12-13 (a)

Full error:

Undefined symbols for architecture x86_64: "___isOSVersionAtLeast", referenced from: ___54+[GULSceneDelegateSwizzler proxyOriginalSceneDelegate]_block_in

[2020-03-29 03:32] victorstewart opened #5220 "GDTCORStorage.m:152 ->There was an error removing an event file"
### Step 0: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ please use the Feature Request template.
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the `firebase` tag.
  * For general (non-iOS) Firebase discussion, u

[2020-03-29 03:46] JasonSa1993 commented on #5213
As I told you, currently I go down to version 6.14.0 so that my project will work again, that is, the problem occurs with version 6.21.0, 6.20.0, 6.19.0, 6.18.0 and so on until version 6.15 .0, already in the version that brings the Podfile.lock that I sent you, which is 6.14.0, the project works correctly.

It seems very strange to me that before updating I had the Firebase to 6.19.0, Update, it

[2020-03-29 06:27] c0diq commented on #4914
Rebooting the phone fixed it.

[2020-03-29 09:50] Yuop opened #5221 "AppStore reject. Crash on launch"
* Xcode version: 11.4
  * Firebase SDK version: 6.21.0
  * Firebase Component: Crashlytics
  * Component version: 4.0.0-beta6
  * Installation method: CocoaPods

After adding firebase in my project AppStore reject it on last 5 reviews, attaching crash reports like this.

[Exception Type:  EXC_CRASH (SIGKILL).txt](https://github.com/firebase/firebase-ios-sdk/files/4398576/Exception.Type.EXC_CRASH.S

[2020-03-29 10:32] Yuop commented on #5221
not relevant

[2020-03-29 10:32] #5221 closed

[2020-03-29 11:42] sasojadrovski commented on #5213
Hey @paulb777,

It's a good thing you asked me to remove all Firebase frameworks and add them again, because by doing that I have realized that for some of the required frameworks, the project was using old references from the time when I was not using Carthage (since there was no official support) and the frameworks were added manually.

I corrected their paths, i.e. used the latest ones that wer

[2020-03-29 12:09] aamarkov commented on #5220
I'm having the same issue after updating Firebase pods to 6.21.0.

[2020-03-29 14:16] paulb777 commented on #5213
@sasojadrovski Glad you got it working!

@JasonSa1993 There's a good chance there was something similarly wrong with your CocoaPods configuration when you updated to 6.21.0.  It's unlikely we'll be able to help without knowing more about the configuration that didn't work for you.

[2020-03-29 14:19] paulb777 commented on #5220
Thanks for the reports. We'll investigate.

Does reverting the version of GoogleDataTransport make a difference?

`pod 'GoogleDataTransport', '5.0.0'`

[2020-03-29 14:22] paulb777 commented on #5219
Are you able to reproduce with a [quickstart project](https://github.com/firebase/quickstart-ios)?

We'll likely need a reproducible example to help since this is likely an configuration or environment issue.

[2020-03-29 14:23] aamarkov commented on #5220
@paulb777 ,

Yes, reverting the version of GoogleDataTransport to '5.0.0' fixed it.

[2020-03-29 14:48] EvanMurphy17 commented on #5219
[Test.zip](https://github.com/firebase/firebase-ios-sdk/files/4399087/Test.zip)
I have created this Test file that is reproducing the error.

[2020-03-29 15:02] paulb777 commented on #5219
Hmm. Works fine for me with Xcode 11.3.1.  Please check the version you're using by selecting `About Xcode`:

![Screen Shot 2020-03-29 at 8 01 06 AM](https://user-images.githubusercontent.com/73870/77852437-8ee93200-7193-11ea-9461-f693f11a3f60.png)

[2020-03-29 15:04] EvanMurphy17 commented on #5219
<img width="569" alt="Screen Shot 2020-03-29 at 10 04 09 AM" src="https://user-images.githubusercontent.com/47575224/77852512-b0064e80-71a4-11ea-8dd6-cc83d4876b33.png">

[2020-03-29 15:12] EvanMurphy17 commented on #5219
@paulb777 switched the toolchain to fit what you sent over and it works now. Any reason it works on the Xcode toolchain but not the Swift toolchain? I am new to this

[2020-03-29 15:40] mfrohman123 opened #5222 "Link email sign-in with an account crash"
Hello,

I am attempting to link the Email Auth Provider with an existing account, and it crashes with the error:

"Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '*** +[NSURLComponents initWithString:]: nil URLString parameter'"

I am using Firebase iOS with version 6.20.0 with Xcode 11.2.1. Below is the code:

`let email = Auth.auth().currentUser?.email

        /

[2020-03-29 17:46] paulb777 commented on #5219
@EvanMurphy17 Some relevant discussion about the Swift toolchain issue here - https://forums.swift.org/t/undefined-symbol-isosversionatleast/29782.

In general, Firebase is validated with Xcode releases and toolchains included with those Xcode versions.

I'll close the issue since it looks like you're resolved.

[2020-03-29 17:46] #5219 closed

[2020-03-29 18:15] yuzushioh commented on #5213
## Step 1: Describe your environment
- Xcode version: 11.4
- Firebase SDK version: 6.21.0
- Firebase Component:
  - FirebaseAnalytics
  - FirebaseAuthBinary
  - FirebaseDynamicLinks
  - FirebaseMessaging
  - FirebaseStorage
- Component version: 6.21.0
- Installation method: Carthage
- Deployment info: 13.0

## Step 2: Describe the problem
It gives me an error right after app launches. The descript

[2020-03-29 19:34] paulb777 commented on #5213
@yuchenshi Please also remove all Firebase frameworks from the Xcode project and reinstall from the Carthage download.

[2020-03-29 20:45] bengottlieb commented on #3862
I just downloaded v7.57.0, and ran nm on it. I see the following:

[code]

[2020-03-30 00:17] ParkingPal commented on #4393
Hello, do we have an update on this issue? I'm an experiencing it, as well.

[2020-03-30 01:02] #5011 closed

[2020-03-30 02:23] Goodman333 commented on #4300
We encountered the same problem on Firebase 6.17.0

[Crash.txt](https://github.com/firebase/firebase-ios-sdk/files/4400459/Crash.txt)

[2020-03-30 03:26] kobe1941 commented on #5201
thanks all~
it's my problem, my target don't add PromisesObjc.framework correct。
I am already fixed it out.

[2020-03-30 03:26] #5201 closed

[2020-03-30 03:30] yuzushioh commented on #5213
@paulb777 I tried it and it was the same result.

[2020-03-30 03:32] mironal commented on #5143
@maksymmalyhin Hi!

I am using Firebase from framework.

I have published a sample project that probably crashes due to the same problem. The actual application is more complicated.

https://github.com/mironal/firebase-crash-sample

[2020-03-30 05:39] yuzushioh commented on #5213
For some reason it works fine now. I'm not sure about the cause.

[2020-03-30 06:53] adkaushik commented on #5000
@dmandar
Leaving a dynamic link here for reference:
```https://by9nq.app.goo.gl/E6DM6hnrmXSXAX88A```

[2020-03-30 10:25] wangjunhua1 opened #5223 "[APMIdentity appInstanceID] + 152 It will jam the main thread for a while"
[#2575](https://github.com/firebase/firebase-ios-sdk/issues/2575) The crash of this problem did not occur but It will jam the main thread for a while when I followed the latest version

<img width="782" alt="image" src="https://user-images.githubusercontent.com/11474284/77902027-22fdeb00-72b3-11ea-8a87-944333d669d9.png">

<img width="605" alt="image" src="https://user-images.githubusercontent.com/

[2020-03-30 10:32] donnywdavis commented on #5209
I am seeing this as well for `FirebaseCore`, `FirebaseInstanceID`, and `FirebaseMessaging` when installing through CocoaPods. Just wanted to note this so that it's not flagged as just a Carthage issue. 🙂

[2020-03-30 11:16] run4jit commented on #5201
I am facing the same issue. could you please help me out.

[2020-03-30 11:53] ghus86 commented on #4914
@c0diq
ok thanks
but did you kept using the team iD or the app id ?

[2020-03-30 13:28] ryanwilson commented on #5223
Thanks for the report @wangjunhua1. Can you please provide some information from the bug template so we can try reproducing this?

[code]

Also, if there's any specific Analytics calls or screens where this happens, please provide some steps to reproduce.

[2020-03-30 13:54] ryanwilson commented on #5222
Hi @mfrohman123 - sorry you're facing this issue. Can you please provide the full stacktrace of the crash? It's tough to tell exactly where the bug is occurring just by the code sample.

Thanks!

[2020-03-30 14:40] wangjunhua1 commented on #5223
Xcode version:11.3.1
Firebase SDK version:
    pod 'Fabric', '1.10.2'
    pod 'Crashlytics', '3.14.0'
    pod 'Firebase/Core' , '6.18.0'
    pod 'Firebase/Auth' , '6.18.0'
    pod 'FirebaseInstanceID', '4.3.2'
    pod 'FirebaseInstallations', '1.1.1'
    pod 'GoogleDataTransport', '5.1.0'
    pod 'GoogleDataTransportCCTSupport', '2.0.1'
    pod 'GoogleUtilities','6.5.1'
Installation method: `Cocoa

[2020-03-30 14:41] wangjunhua1 commented on #5223
and pod 'Google-Mobile-Ads-SDK', '7.55.1'

[2020-03-30 14:43] samedson commented on #5182
Thank you for the feedback and info! Have a couple quesions:

 - How do you construct the unsymbolicated stacktrace?
    - Are you using [NSThread's callStackReturnAddresses](https://developer.apple.com/documentation/foundation/nsthread/1409565-callstackreturnaddresses?language=objc)? This is what the [recordError](https://firebase.google.com/docs/reference/ios/firebasecrashlytics/api/reference/Cl

[2020-03-30 14:47] samedson commented on #5199
Thanks for the request - this is great feedback! We'll talk about this as a team. We don't have plans in the short term to revisit this API but will continue to be judging interest on this issue.

[2020-03-30 15:02] baolocdo commented on #5223
What's the y-axis? Is it the count or the latency?

[2020-03-30 16:17] morganchen12 commented on #4300
@Goodman333 can you try reproducing the issue with Firebase 6.12.0? If it's still crashing, let us know and we will reopen the issue.

[2020-03-30 16:19] morganchen12 commented on #3862
`GADOMIDUIWebViewJSExecutor` doesn't reference UIWebView anymore, even though it has UIWebView in its name. You can ignore those symbols.

[2020-03-30 16:20] bengottlieb commented on #3862
@morganchen12 I can ignore them just fine, but Apple's sniffers may not :-)

[2020-03-30 16:22] morganchen12 commented on #5217
Closing in favor of the CocoaPods issue.

[2020-03-30 16:22] #5217 closed

[2020-03-30 16:49] paulb777 commented on #4300
@Goodman333 @morganchen12 I believe you mean Firebase 6.21.0

[2020-03-30 17:48] dmandar commented on #4914
Testing with 13.3.1 iPhone6s atm and am not seeing any issues. Can folks try restarting the device to see if the AASA is getting downloaded again?

[2020-03-30 17:51] filipealva commented on #4914
I'm not getting the point... Will we have to advice all our users experiencing this issue to reboot their iPhones?

@morganchen12 did you have news from the backend team?

Is there another repo where we should report it? Give us a light!

[2020-03-30 18:34] maksymmalyhin commented on #5143
@mironal Thanks you for the sample project!

As far as I can see Firebase is used in both a dynamic framework and the app that depends on this framework. Unfortunately this use case is not supported (see the [guide](https://github.com/firebase/firebase-ios-sdk/blob/master/docs/firebase_in_libraries.md#using-firebase-sdks-from-dynamic-framework) for details).

Here is one of potential fixes for you

[2020-03-30 18:43] roremeol commented on #4914
I`ve tested on iOS 13.3.1 and 13.4 on iPhone X and it still does not working even after reboot.

[2020-03-30 18:50] aletabu commented on #4914
has no sense to use the app id instead of the team ID since app id is
strict for Appstore. Enterprise and developer debug apps doesn't use app ID

On Mon, Mar 30, 2020 at 3:43 PM Rômulo Oliveira <notifications@github.com>
wrote:

--
Alejandro Taboada (ataboada@gmail.com)

[2020-03-30 19:57] swarajk1 commented on #1894
I have just one word seeing this whole thread and how long this issue with a basic necessity has persisted: **disappointed**!

[2020-03-30 20:10] #5209 closed

[2020-03-30 20:15] paulb777 commented on #5209
The 6.21.0 regression has been fixed for the two binary distributions - Carthage and Zipfile - and will be available in the next release.

@donnywdavis I don't see the issue for CocoaPods installs.  If you're seeing it there, please create another issue with the template filled out.

[2020-03-30 20:46] morganchen12 commented on #4914
I was able to reproduce this bug with an app not using Firebase Dynamic Links (Google Docs) by restarting my phone, putting the device in airplane mode, and then tapping on a universal link. This did not reproduce consistently with other apps that I had used recently. Unfortunately I couldn't find any conclusive error messages in the device logs, but this seems to be potentially an Apple issue: ht

[2020-03-30 20:58] morganchen12 commented on #3862
Filed b/152796373 internally for renaming GADOMIDUIWebViewJSExecutor.

[2020-03-30 21:07] mikehaney24 commented on #5220
Looking into it. Recently, we changed event URLs to be relative instead of absolute. This problem is likely not a problem for your apps, but it annoying to see these messages, so I'll try to address both of those things in the next day or so. Thanks for the report!

[2020-03-30 22:38] dmandar commented on #5000
We are not able to repro the issue on our end. Can you try fixing the warnings in your FDL link for iOS?  https://by9nq.app.goo.gl/E6DM6hnrmXSXAX88A/?d=1

[2020-03-31 00:50] wangjunhua1 commented on #5223
it is the count about 300 users

[2020-03-31 02:12] wangjunhua1 opened #5230 "_GAD_GADWebKitWebViewController_arm64_7_55_1 It will jam the main thread for a while"
It will jam the main thread for a while
pod 'Google-Mobile-Ads-SDK', '7.55.1'
Xcode version :11.3.1
<img width="1035" alt="image" src="https://user-images.githubusercontent.com/11474284/77979660-d01a4700-7337-11ea-9e6c-8457973022bd.png">

<img width="585" alt="image" src="https://user-images.githubusercontent.com/11474284/77979746-1b345a00-7338-11ea-9165-a046859e24b9.png">

[2020-03-31 02:16] wangjunhua1 opened #5231 "_GAD_GADWebViewJSContext_arm64_7_55_1 There are some notsmooth frames in the main thread"
pod 'Google-Mobile-Ads-SDK', '7.55.1'
<img width="966" alt="image" src="https://user-images.githubusercontent.com/11474284/77979906-7c5c2d80-7338-11ea-9e83-9c8de410a8da.png">

The details are as follows：
libobjc.A.dylib | method_getName + 4
-- | --
1 UIKitCore | __classWithImplementationOfSelector + 124
2 UIKitCore | _PushNextClassForSettingIMP + 332
3 UIKitCore | ___workaround10030904InvokeWithTa

[2020-03-31 04:46] rgkobashi commented on #5124
I apologize for the late response...
Yes! `-noFIRAnalyticsDebugEnabled` reduces the logs significantly.

Just to confirm, for now the solution would be to use `-noFIRAnalyticsDebugEnabled` flag and once the bug when sending LoggerLevel is fix, I guess the logs will be reduced even more?

Thanks!

[2020-03-31 08:12] kobe1941 commented on #5201
@run
just make all the frameworks add to project. if compile wrong, remove all frameworks and add it again.
you need to read the readme file, then you will know which framework need to add to your project.

[2020-03-31 08:15] DracoRubi commented on #5122
I'd love an answer to my previous question, if possible:

[2020-03-31 08:38] DracoRubi commented on #5200
This issue happens to me, universal dynamic links aren't working in my application (even below iOS 13).

I've been trying to solve this contacting to support and in this issue: https://github.com/firebase/firebase-ios-sdk/issues/5122

But nothing. It still doesn't work.

[2020-03-31 09:10] roremeol commented on #4914
@morganchen12 I made a version using universal link and it worked as expected.

[2020-03-31 11:49] denisxaritonov opened #5232 "Add delegate/callback on crash report sent"
###Feature proposal

* Firebase Component: Crashlytics

My feature request relates to (Crashlytics crash sending completion handler)[https://github.com/firebase/firebase-ios-sdk/issues/5199]

We need to send application logs when app crashed. We can do it with non-fatal crashes, but we can't do it with regular crashes.

So my proposal is to extend related feature request, i.e. get some notificatio

[2020-03-31 13:49] bridger opened #5233 "iOS 9 crashes after Xcode 11.4"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 11.4
  * Firebase SDK version: 6.9.0
  * Firebase Component: Analytics
  * Component version: 6.1.2
  * Installation method: `CocoaPods`

### [REQUIRED] Step 2: Describe the problem

I haven't updated Firebase/Analytics SDK in a while, but yesterday I started gettings tons of new crashes in many parts of the SDK after updating my

[2020-03-31 13:51] bridger commented on #5233
I'm going to update my app with the newest version of Firebase/Analytics and by using Xcode 11.31 because these crashes are urgent. I don't know how to test if the cause of the crash is  Firebase/Analytics being out of date, or if any version built with Xcode 11.4 will cause similar issues.

[2020-03-31 14:00] paulb777 commented on #5233
Might be related to #4278?

[2020-03-31 14:15] bridger commented on #5233
In #4278 it was caused by a call to sqlite3_shutdown, right? I don't see any calls to that method in my app. I use [SQLite.swift](https://github.com/stephencelis/SQLite.swift) and only use it on the main thread. It is only one database that I open and update, so I never close it during the lifetime of the app.

[2020-03-31 15:31] barakwei commented on #5182
`NSThread` gives you the stack of the current thread. We use low level API to walk the stack of other threads and "manually" build the stacktrace.
The sent stacktraces, are symbolicated in the backend.

[2020-03-31 15:53] morganchen12 commented on #5233
Is this reproducible on 6.21.0? iirc Analytics had a few sqlite crash fixes in the releases between 6.9.0 and now.

[2020-03-31 16:01] morganchen12 commented on #5231
Do you mean the view update calls are causing frame drops?

[2020-03-31 16:02] morganchen12 commented on #5230
How long does it stall the main thread? It looks like the code here is just initializing a webview, which should not take very long on newer devices.

[2020-03-31 16:07] morganchen12 commented on #4914
Interesting. We still have not been able to reproduce the issue, even on the device and OS version combinations mentioned by others in this thread.

@roremeol did you re-host the Firebase-generated AASA or did you generate your own?

[2020-03-31 16:13] dmandar commented on #5122
Hi..looks like there are a couple of issues being discussed here. That said, we are not yet able to repro either of those (qualified below) and need some help in narrowing down the issue.
1. First app install case: This is handled entirely by dynamic links. Using an app preview page (option presented when you create a dynamic link) is highly recommended. This copies the link to the pasteboard and

[2020-03-31 16:22] dmandar commented on #5200
Please refer and contribute to issues #4914 and #5122 for latest updates.

[2020-03-31 17:21] roremeol commented on #4914
@morganchen12 i did my based on Amazon’s AASA but i didn't see any difference for yours AASA.

[2020-03-31 18:43] bridger commented on #5233
I’ll push an update with v6.21.0 and build with Xcode 11.3.1. I really hope it fixes the issues. I don’t have an iOS 9 device to test with, but I’ve ordered one that should help determine the cause of the issue.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-31 18:54] Ninakadin opened #5235 "Firestore: After a while snapshotListener does not get called in newer SDK anymore"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 11.4
  * Firebase SDK version: 6.21.0
  * Firebase Component: All (Auth, Core, Database, Firestore, Messaging, Storage, etc)
  * Component version: 6.21.0
  * Installation method: CocoaPods

### [REQUIRED] Step 2: Describe the problem
I discovered a buggy behaviour since I updated to the latest SDK (6.21.0) a few days ago using '

[2020-03-31 19:16] paulb777 commented on #5233
We've done some additional testing with Xcode 11.4 and iOS 9 and haven't found any problems.

I more strongly suspect the issue is somehow related to the sqlite integration ...

[2020-03-31 19:28] bridger commented on #5233
Thank you for looking into it more! I'll also look more in my app. I use a single SQLite connection using `SQLITE_OPEN_FULLMUTEX`, and most of the calls are from the main thread. I don't see any of my methods using a sqlite database showing up in any of the crash traces. I'll see if others on SQLite.swift are seeing problems.

[2020-03-31 19:44] dconeybe commented on #5235
Hello @Ninakadin and thank you for reporting this issue.  I'm sorry it is causing trouble for you.

I will be looking into this and I'm going to start by trying to reproduce.  If you happen to have an app that I could use to reproduce the issue then please show it to me so I can use it as well.

Also, it sounds like you are reporting the issue on real devices. Do you know if you see this issue wit

[2020-03-31 20:03] morganchen12 commented on #5235
Also, if you're able to reproduce this locally, can you share your app's Firebase logs with [verbose logging enabled](https://firebase.google.com/docs/reference/ios/firebasecore/api/reference/Classes/FIRConfiguration#/c:objc(cs)FIRConfiguration(im)setLoggerLevel:)? Non-Firebase logs can be omitted.

[2020-03-31 20:23] Ninakadin commented on #5235
No, we found that problem when doing long term acceptance tests on real devices.
I was glad everything worked fine again, when downgrading the Firebase/Firestore sdk.
But I can for test purposes create a buggy app again and commit the logs. Will take a day.

[2020-03-31 23:23] mikehaney24 commented on #5220
If you clear the app cache, do you still see these errors?

[2020-03-31 23:32] mikehaney24 commented on #5220
There's several questions I need answered:
1. I need your Podfile.
2. Are you using the 'FirebaseCrashlytics' pod with 4.0.0-beta.6?
If so, how did you revert GoogleDataTransport back to 5.0.0, because it has a dep on GDT ~> 5.1 which means you can't revert it without reverting the FirebaseCrashlytics pod.
3. Do you still see these errors if you wipe your app's cache? It might be a one-time thing.

[2020-04-01 00:06] yuchenshi commented on #5213
@paulb777 I think you meant to mention @yuzushioh instead of me (Yuchen). I have no context on this but good luck :)

[2020-04-01 02:26] bsansouci commented on #4914
Hey all! Thanks for looking into this.
We've had an issue related to dynamic links which may or may not be the same as this thread.
Dynamic links shared through the share sheet, in iMessage, won't redirect when clicked. Looking at the URL that is sent, it's not the deep link and it's not the long URL either, it's the **preview** URL. When I curl the long URL with no `User-Agent`, I get a 302 redir

[2020-04-01 02:47] filipealva commented on #4914
@bsansouci Good finding! Our issue happens only when sharing the link through iMessage, indeed. Thanks for sharing the workaround 🙌

[2020-04-01 03:42] wangjunhua1 commented on #5230
More than 3 s

[2020-04-01 03:43] wangjunhua1 commented on #5231
YES

[2020-04-01 03:51] hanumanAbacus opened #5238 "Firestore crashes"
### Step 0: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ please use the Feature Request template.
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the `firebase` tag.
  * For general (non-iOS) Firebase discussion, u

[2020-04-01 04:17] RaknasAvis opened #5239 "Firebase is using old nanopb "0.3.9011" version"
Step 1: Describe your environment
Xcode version: 11.3.1
Firebase SDK version: 6.18.0
Firebase Component: Firestore(Auth, Core, Database, Firestore, Messaging, Storage, etc)
Component version: _____
Installation method: cocoapods

Step 2: Describe the problem

There is a potentially exploitable out of memory condition In Nanopb before 0.4.1, 0.3.9.5, and 0.2.9.4. When nanopb is compiled with PB_ENA

[2020-04-01 08:56] SamMcNeilly commented on #5233
I'm also seeing a huge number of new crashes on a new release - same Firebase versions as my last release, but using Xcode 11.4. They mostly all appear to be on 32 bit devices like the iPhone 5c and iPad 4 on iOS 10.

![Screenshot 2020-04-01 at 09 48 03](https://user-images.githubusercontent.com/17176179/78117737-eee31100-73fd-11ea-8ce8-63a5acb1d844.png)

Pods:
  - Crashlytics (3.14.0):
    - Fabr

[2020-04-01 09:07] roremeol commented on #4914
@bsansouci Thanks for the hard working ant time spent trying to help us but in my case the problem occurs anywhere I put the link ( WhatsApp, slack, .... )

[2020-04-01 09:14] NikKovIos commented on #2011
Need this feature...

[2020-04-01 10:08] bridger commented on #5233
I re-released with Xcode 11.3.1 and an updated Firebase. The crashes have stopped. I’m not sure which solution was the actual fix. I ordered an iPad 2 to investigate more.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-04-01 10:12] SamMcNeilly commented on #5233
I'm just preparing a new release with Xcode 11.3.1 -- I strongly suspect that this is the "fix" here because my previous release had the exact same SDK versions and didn't have these crashes. Only difference for me was the Xcode version.

Glad it worked for you, that's promising at least!

[2020-04-01 10:44] aamarkov commented on #5220
1.
  pod 'SwiftLint'
  pod 'Firebase/Auth'
  pod 'Firebase/Database'
  pod 'Firebase/Firestore'
  pod 'FirebaseFirestoreSwift'
2. I'm not using 'FirebaseCrashlytics' pod.
3. I reverted  'GoogleDataTransport' back to 5.1.0, cleared app cache, cleaned Build Folder, and the errors messages were gone. So it was a one-time thing just like you said. Thank you, @mikehaney24 !

[2020-04-01 13:36] paulb777 commented on #5239
Duplicate of #5191

[2020-04-01 13:36] #5239 closed

[2020-04-01 13:48] dconeybe commented on #5238
Hi @hanumanAbacus.  Thank you for reporting this issue.  Although the root cause is not immediately obvious, I will look into it and get back to you.

In the meantime, could you answer a few questions:
1. Approximately how many times per day are you seeing this crash?
2. Approximately when did this crash start occurring?
3. Did this crash correspond with an upgrade of the Firebase SDK version in y

[2020-04-01 15:23] mikehaney24 commented on #5220
Cool, thanks! I'll close then, since it's transient and should be addressed next release.

[2020-04-01 17:03] dconeybe commented on #5238
Hi @hanumanAbacus.  I've had a chance to take a closer look at this crash and discuss with my team.  This looks like a symptom of heap memory corruption in the app, since the crash occurred when trying to free memory that was previously allocated by malloc.  It is entirely possibly that this is a symptom of memory mismanagement by Firestore, but it is also possible that the heap is getting corrupt

[2020-04-01 17:04] dconeybe commented on #5238
You can also take a look at issue #3664, a similar, but unresolved, memory corruption issue.  Most of my advice was taken from the comments in that issue.

[2020-04-01 17:23] morganchen12 commented on #5231
If you're able to reproduce this, can you profile the view update via Instruments to see what's taking up the most time? Since these are calls to UIView, they cannot be moved off of the main thread. The only way to reduce the amount of stuttering is to try to distribute the view updates across more runloop invocations or reduce the number of view updates.

[2020-04-01 17:25] morganchen12 commented on #5230
Does this only occur on older devices?

[2020-04-01 18:10] morganchen12 commented on #4914
@bsansouci filed b/152989387 for the iMessage issue, which is a separate issue from this issue. Thanks for investigating!

[2020-04-01 19:59] dconeybe commented on #5235
FYI I was not able to reproduce the issue.

Here is what I tried.  I created the smallest possible iOS application where the only interesting code is the following in my `AppDelegate` class:

[code]

I launched the app from Xcode.  Then I waited for 30 minutes.  The screen remained turned on the entire time.  Then, I made a change to the document in the Firebase console, and the `print` statement

[2020-04-01 21:06] todesignandconquer opened #5250 "157241436: [Firebase/InAppMessaging] Unable to receive in-app message on app launch"
### Step 1: Describe your environment

  * Xcode version: `11.3.1`
  * Firebase SDK version: `6.20.0`
  * Firebase Component: `InAppMessaging`
  * Component version: `0.19.0`
  * Installation method: `CocoaPods`

### Step 2: Describe the problem

#### Steps to reproduce:

I have successfully setup a campaign that is supposed to display when the app is launched or the app is in foreground. This is

[2020-04-01 22:34] hanumanAbacus commented on #5238
Approximately how many times per day are you seeing this crash?
-- We got only few users currently using the app, say everyday it crashes around 2 times for each user
Approximately when did this crash start occurring?
Since updating Firebase from  6.3.0 to 6.18.0
Did this crash correspond with an upgrade of the Firebase SDK version in your app?
Yes
Could you provide the podfile that you are using?

[2020-04-01 22:45] emreoktem commented on #1732
+1

[2020-04-01 23:02] wilhuff commented on #5238
The difference between 6.3.0 and 6.18.0 is pretty huge unfortunately so it doesn't really help narrow this down.

Did running with Address Sanitizer enabled turn anything up?

[2020-04-01 23:18] paulb777 opened #5255 "In App Messaging Build warnings"
The [next version of CocoaPods](https://github.com/CocoaPods/CocoaPods/pull/9612) exposes two build warnings in In App Messaging:

[code]

From https://travis-ci.org/github/firebase/firebase-ios-sdk/jobs/669892353

[2020-04-02 04:29] EdmundLeex opened #5257 "Cocoapod invalid spec"
### Step 0: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ please use the Feature Request template.
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the `firebase` tag.
  * For general (non-iOS) Firebase discussion, u

[2020-04-02 05:37] coolcool1994 opened #5260 "Firebase Storage Security Rule Bug when setting request.resource.size"
[code]
if I set request.resource.size < 5.0 * 1024.0 * 1024.0 for Firebase Storage security rule in the console, and then upload an 1.5MB image with iOS SDK, image gets uploaded. But the downloadURLWithCompletion does not succeed - the error returned is "NSLocalizedDescription=User does not have permission to access". When I delete the image using [storageRef deleteWithCompletion], this fails as w

[2020-04-02 05:41] coolcool1994 commented on #5260
I can also put request.resource.contentType.matches('image/.*') instead of request.resource.size < 5.0 * 1024.0 * 1024.0, the image doesn't even get uploaded.

[2020-04-02 05:43] coolcool1994 commented on #5260
I know the security rule is the only issue here because I implemented the security rule today and everything worked fine before. Also if I do not call request.resource.etc. in the security rule, everything just works fine too. Very weird.

[2020-04-02 06:42] surajthomask commented on #2465
I can confirm that we don't have this crash anymore. So the issue was, as mentioned by @morganchen12  that we were passing a swift only type, in our case an enumeration case to the Firebase. Once we replaced that swift only type with it's rawValue, the crash disappeared.

If you have a central place where all analytics calls are routed through it's easy to find where these crashes are coming from.

[2020-04-02 06:44] frantxesco commented on #5153
Please let us know if you come up with any solution. Thanks.

[2020-04-02 11:46] ndreisg commented on #5233
I am also facing this issue since I updated to XCode 11.4.
I am using Core Data with an SQLite store in my app.
The issue also persists after updating the pods to the latest versions.
It seems the crashes are only appearing on 32 bit devices **with low memory** remaining.
A colleague has an iPad 3 with iOS 9 and can reproduce the crashes. Unfortunately I don't have access to this device atm due to

[2020-04-02 12:19] bridger commented on #5233
I’m suspecting a compiler bug. If it helps, Firebase wasn’t the only library crashing. I was also getting a lot of crashes in the Branch SDK, which doesn’t user SQLite. This method was crashing a lot. This and the Firebase crashes would happen to users immediately after opening the app, even after restarting the device.

[code]

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-04-02 12:45] Ninakadin commented on #5235
Sorry to have bothered you. When making the test setup with verbose mode and new SDK again, it turned out, there was a miscommunication between QA and Devs. The problem was located elsewhere.

[2020-04-02 12:45] #5235 closed

[2020-04-02 14:21] Saranjithpk opened #5261 "'com.firebase.installations', reason: 'FirebaseInstallations will not work correctly with current version of Firebase Instance ID"
Source code was working perfectly, Suddently below issue comes for some of collaborates of project in XCode 11.2.1

'com.firebase.installations', reason: 'FirebaseInstallations will not work correctly with current version of Firebase Instance ID. Please update your Firebase Instance ID version.'

[2020-04-02 14:27] paulb777 commented on #5261
This looks like a duplicate of #5213.  See the discussion there.

[2020-04-02 14:33] paulb777 commented on #5257
This looks like a problem in the `Podfile`. There should not be a `v` in the version string.  Please share the `Podfile` if you're still stuck.

[2020-04-02 15:29] gapl opened #5264 "Crash in `[GDTCCTPrioritizer encodeWithCoder:]`"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: `11.4`
  * Firebase SDK version: `6.21.0`
  * Firebase Component: `GoogleDataTransportCCTSupport`
  * Component version: `6.21.0`
  * Installation method: `Carthage`

### [REQUIRED] Step 2: Describe the problem

#### Steps to reproduce:

Crash report observed on Firebase Crashlytics:

`EXC_BAD_ACCESS KERN_INVALID_ADDRESS 0x000000

[2020-04-02 15:58] mfrohman123 commented on #5222
Yep, @ryanwilson it is below. Please let me know if I can provide anything more!

2020-04-02 11:56:05.739467-0400 Resistance [40318:27105514] *** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '*** +[NSURLComponents initWithString:]: nil URLString parameter'
*** First throw call stack:
(
	0   CoreFoundation                      0x00007fff23c4f02e __exceptionPreproc

[2020-04-02 16:42] christibbs commented on #5250
@todesignandconquer thanks for reporting this. Will investigate.

[2020-04-02 19:37] #5264 closed

[2020-04-02 21:40] CodeTeamLabs commented on #4707
Hi guys, I'm also facing this problem ... Are there any updates ??

How can we manage an **Apple** user with **Hidden Email** who for his own reasons decides to use his **Apple** email to access our apps?

The same thing seems to happen with **Facebook** when a user decides not to show his email ... If at the next login he changes his mind and wants to show the email, his **Firebase** account cont

[2020-04-02 23:31] MartinGonzalez commented on #4914
So is there any news about this, any fix?
I'm using firebase for Unity but I also have this issue since is iOS stuff.

[2020-04-02 23:57] johnswifttt opened #5274 "FR: Add Sign In with Apple Account Linking Sample Code/Documentation"
### Feature proposal

* Firebase Component: Auth

While the Firebase documentation is awesome, it is unfortunately very sparse for: [implementing account linking with Sign In with Apple](https://firebase.google.com/docs/auth/ios/apple#reauthentication_and_account_linking). The documentation states to handle `FIRAuthErrorUserInfoUpdatedCredentialKey` though it's hard to understand how exactly.

The

[2020-04-03 02:13] kolbasan commented on #4393
Hi, I am also having this issue, is this being worked on?

[2020-04-03 02:20] ParkingPal commented on #4393
I'm not sure, but I was able to find a work around that appears to work. The name is available only on the first time authenticating with Apple. In the authorizationController method that is in the docs, take the variable appleIDCredential that is given, and grab both the first and last name. For me, I had variables that looked something like: firstName = appleIDCredential.fullName?.givenName

Onc

[2020-04-03 02:46] dconeybe commented on #5235
No problem.  Thank you for closing this issue and letting us know what happened.  All the best!

[2020-04-03 04:43] EdmundLeex commented on #5257
Oops sorry, I pasted the wrong log. UPdated it.

[2020-04-03 10:25] ffittschen opened #5276 "Multiple/Duplicate Protobuf Dependencies of Carthage Binary Firebase Components"
### Step 1: Describe your environment

  * Xcode version: 11.4
  * Firebase SDK version: 6.21.0
  * Firebase Component: Remote Config, Messaging (and all other components depending on Protobuf)
  * Component version: n/a
  * Installation method: `Carthage`

### Step 2: Describe the problem

The usage description of the [Carthage documentation](https://github.com/firebase/firebase-ios-sdk/blob/mast

[2020-04-03 10:28] sachinvas opened #5277 "GoogleUtilities Dependency Check Vulnerability"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 11.4
  * Firebase SDK version: 6.10.0
  * Firebase Component: GoogleUtilities
  * Component version: 6.5.2
  * Installation method: CocoaPods

### [REQUIRED] Step 2: Describe the problem

We have integrated the Dependency Check in our Project which scans the Podfile.lock for dependencies and runs the NVD database for any known vu

[2020-04-03 13:03] ryanwilson commented on #5277
Thanks for the report. A few things here:

- You currently have an older version of Firebase. Please update to 6.21.0 which was released last week.
- I'm not sure if I'm reading this correctly but it appears this is a false flag? The description doesn't match and seems to be matching "AppDelegate" with software called "DeleGate".

For example, [CVE-2005-0036 is described](https://www.cvedetails.co

[2020-04-03 13:03] #5277 closed

[2020-04-03 13:14] ryanwilson commented on #5276
Thanks for the report @ffittschen! This is a side-effect as to how we currently build and package the zip file (which turns into the Carthage release).

It's partly an issue due to how the dependencies are set up within Firebase - Protobuf is required by Messaging and RemoteConfig but not Analytics - so including it in Analytics brings unnecessary bloat for those who aren't using Messaging or Remo

[2020-04-03 14:38] paulb777 commented on #5257
This is a duplicate of https://github.com/CocoaPods/CocoaPods/issues/9672. A reproducible test case is needed. Please continue the conversation in that CocoaPods issue.

[2020-04-03 14:38] #5257 closed

[2020-04-03 15:53] morganchen12 commented on #4914
We are working on a fix for the iMessage send bug. The other issue we have not yet been able to reproduce, nor have we isolated the root cause.

[2020-04-03 16:12] wilhuff commented on #5277
This is a duplicate of #5113. Those vulnerabilities are from 2005, years before Firebase even existed.

[2020-04-03 18:30] chliangGoogle commented on #5048
The fix is in the next release. Please wait for 6.22 and see if that resolves the issue.

[2020-04-03 20:47] shtnkgm opened #5280 "Error: 'GoogleDataTransport/GDTCORConsoleLogger.h' file not found"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 11.3
  * Firebase SDK version: 6.21.0
  * Firebase Component: Core
  * Component version: 6.21.0
  * Installation method: `CocoaPods`（1.8.4）

### [REQUIRED] Step 2: Describe the problem
The following error occurred.

![image](https://user-images.githubusercontent.com/16917697/78403791-f68dfa00-7637-11ea-9206-0ae99394e7b4.png)

`P

[2020-04-03 21:02] shtnkgm commented on #5280
I solved this problem myself.
The header file was imported successfully by executing the following command.

[code]

[2020-04-03 21:03] morganchen12 commented on #5280
Thanks for updating! Feel free to comment here if the issue resurfaces and we'll try to help.

[2020-04-03 21:03] #5280 closed

[2020-04-03 21:26] SotoiGhost opened #5282 "Undefined symbols for architecture armv7: "GULAppEnvironmentUtil""
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 11.3.1
  * Firebase SDK version: 6.21.0
  * Firebase Component: InAppMessaging
  * Component version: 0.19.1
  * Installation method: `CocoaPods` (`cocoapods-rome` plugin)

### [REQUIRED] Step 2: Describe the problem

When building the framework I get the following error:

[code]

#### Steps to reproduce:

What happened? How can

[2020-04-03 21:43] SotoiGhost commented on #5282
Workaround for now. Add these lines to your Podfile file:

[code]

[2020-04-03 21:55] paulb777 commented on #5282
Thanks for sending the fix and workaround along with  the bug!

It's merged to master and is targeted for the M69-6.23.0 release.

[2020-04-03 21:55] #5282 closed

[2020-04-03 23:23] gilrodar commented on #5220
I'm having the same issue with Firebase pods 6.21.0

[2020-04-03 23:24] paulb777 commented on #5220
Added the next release's milestone to this issue.

[2020-04-04 04:05] bestwnh commented on #5233
@bridger I have the same situation with same version of GA and crash only on the Xcode11.4 release. So it should be Xcode trigger the issue. But I don't have 32bit device and just tried to release a new version that compiled by Xcode 11.3.1 today. So 🤞

[2020-04-04 08:50] CodeTeamLabs commented on #4707
Hi guys, I'm also facing this problem ... Are there any updates ??

How can we manage an Apple user with Hidden Email who for his own reasons decides to use his Apple email to access our apps?

The same thing seems to happen with Facebook when a user decides not to show his email ... If at the next login he changes his mind and wants to show the email, his Firebase account continues to show an inv

[2020-04-04 11:29] peymankh commented on #5213
Having the same issue on 6.21.0.

Using the following with Carthage.

- FirebaseAnalytics
- FirebaseRemoteConfig

The FirebaseInstanceID seems to have been removed from 6.21.0 json binaries but it is showing up in FirebaseRemoteConfig binaries.

Checkout the contents of the binaries here.

https://dl.google.com/dl/firebase/ios/carthage/6.21.0/FirebaseAnalytics-211716d7b9c9b9b7.zip
https://dl.googl

[2020-04-04 12:52] aceontech commented on #5032
I can also definitely reproduce. And if this occurs in your app's startup sequence, it will hang the app, with iOS killing it after 20-odd seconds...

[2020-04-04 13:23] jcampbell05 commented on #583
We are adding macOS support as we need it for our new launch but we will have to abandon firebase which is a shame as we've been customers of it for many many year

[2020-04-04 13:45] paulb777 commented on #5213
@peymankh FirebaseInstanceId was removed as a dependency of FirebaseAnalytics in 6.21.0, but remained a dependency of FirebaseRemoteConfig. FirebaseRemoteConfig had been previously relying upon the version installed with FirebaseAnalytics.

[2020-04-04 13:49] peymankh commented on #5213
@paulb777 that does make sense.

My wildest guess is that Installations is looking for something inside InstanceID to verify it as a legit dependency BUT the version of InstanceID inside RemoteConfig is not providing that hence Installations throwing an exception.

Could it be that we need to ensure InstanceID needs to be updated in RemoteConfig or elsewhere for that matter?

[2020-04-04 13:53] paulb777 commented on #5213
As pointed out above, the most likely cause is that the Xcode project points to a mix of Firebase libraries from different releases.

[2020-04-04 14:02] peymankh commented on #5213
@paulb777 Yes that has been true in the past but I have tried this with a fresh install of Firebase and still getting the same issue. Obviously cleared all possible caches. DerivedData, Carthage Cache, etc.

In fact if you look at the code [here](https://github.com/firebase/firebase-ios-sdk/blob/f0d6f5a9ff3af91406d11c79c04e2557c35eb747/FirebaseInstallations/Source/Library/FIRInstallations.m#L235),

[2020-04-04 14:02] peymankh commented on #5213
The files are from v6.21.0 tag.

[2020-04-04 14:08] paulb777 commented on #5213
It's not in a header file, but it is defined [here](https://github.com/firebase/firebase-ios-sdk/blob/master/Firebase/InstanceID/FIRInstanceID+Private.m#L52).

An additional thing to clear are the references to Firebase frameworks in the Xcode project.  It's likely the Xcode project still has references to old frameworks.

[2020-04-04 17:43] bridger commented on #5233
I'm fairly certain that the issue is not with Firebase, but I'll add more info to this issue in case it is helpful to someone else.

Today I got an iPad 2 and I'm able to check out the crash. It only seems to repro when on Release mode. I'm also seeing the crash in a different stack trace (perhaps this is one that Crashlytics has trouble capturing, which is why we get so many different crash trace

[2020-04-04 18:07] paulb777 commented on #5233
@bridger Thanks for sharing. Hopefully Apple will provide some feedback!

[2020-04-04 19:33] paulb777 commented on #583
@jcampbell05 Sorry to hear that.

Is the issue that the support is not "official" or that the "community" support is missing features that you need?

[2020-04-04 19:41] guidedways commented on #583
@paulb777 I don't think anyone would really care if it were "official" as long as we all got what we've been asking for, for years? And that primarily is: "Analytics" support for macOS. We should be able to see "Analytic Events" as we do for our iOS apps. This feature works just fine in Fabric and I don't understand how or why it's difficult to port this over to Firebase. If there are technical hu

[2020-04-04 21:08] paulb777 commented on #5276
Whenever I've seen this occur, a retry has succeeded - presumably because the Carthage installation is parallel and non-deterministic and will only fail if multiple installations of the same framework overlap in  time.

Any suggestions on how best to address this issue?   It would be nice if Carthage supported dependency management.

The downside of bundling into Analytics would be a size cost for

[2020-04-05 01:02] #3776 closed

[2020-04-05 01:05] EdmundLeex commented on #5257
interestingly, if I specify the FirabaseAuth version to 6.4, I won't run into this error.