[2020-08-13 06:26] ttimpe commented on #3136
Please select the "master" branch when adding the repo as a Swift Package.

[2020-08-13 06:53] PhilBelanger42 opened #6268 "Invalid Token - Bug appears when creating duplicate apps with different Bundle ID's"
Okay, so I had developed an app (programmed in flutter) using the firebase_auth dart package, and that app is working perfectly fine, no issues.

The issue arrises when I try to duplicate the app for a second Bundle ID.  (Think same client, different end-user customer-base).  Every single time I boot up the app, authentication doesn't even let me enter in a phone number, just giving me an "Invalid

[2020-08-13 06:59] musaprg commented on #5964
I also encountered the same situation, and I want to use the implementation like this in our product.

I'm not sure, but I think that's due to the thread-safety model of Auth. `getIDToken`, internally `getIDTokenWithCompletion` pushes the passed completion block to `dispatch_main_queue`. This causes dead-locking at `semaphore.wait()` on the main-thread.

https://github.com/firebase/firebase-ios-sd

[2020-08-13 07:25] emilioschepis commented on #5964
@musaprg I also noticed the same thing in the source code, that absolutely seems to be the cause of the deadlock.

@rosalyntan can you suggest a workaround to this issue? I understand that this feature request might not be high priority for the Firebase team right now but a temporary solution, if it exists, would be much appreciated. Thanks!

[2020-08-13 11:18] greyder commented on #3136
<img width="1423" alt="Screen Shot 2020-08-13 at 7 12 20 PM" src="https://user-images.githubusercontent.com/2621883/90128324-4eccc980-dd99-11ea-9d6b-10c3e675f406.png">
Hi guys, I'm having a problem with FirebaseFirestore using the SPM, I'm sure I included it in the Targets -> Framework, Libraries

[2020-08-13 13:21] ryanwilson commented on #6267
Hi @inPhilly - thanks for the request.

Quick question: Have you tried to include Performance Monitoring in the extension and failed? If so, please let us know what went wrong and what steps you used to get set up. That way we have a good idea of where to look if something is currently broken.

[2020-08-13 13:46] dkalraYusata opened #6269 "Too much data Consumed by Firebase Crashlytics"
Hello,
My app consuming two much dat on one min by Firebase crashylatcis. Its nearly 11 MB per min . After Killed the app from background also it called **cm.crashylatcis.com** and consume the data. Please help on it.
Firebase Pods :- pod 'Firebase/Crashlytics'
pod 'Firebase/Analytics'
pod 'GooglePlacePicker'
pod 'Firebase/Core'
pod 'Firebase/Messaging'

Pod Lock file
- Firebase/Analytics (6.20.0)

[2020-08-13 14:43] jchitel commented on #3136
@ttimpe That's what I did. Are things just supposed to work at that point? If I need Analytics and Crashlytics in my app, do I just need the `FirebaseAnalytics` and `FirebaseCrashlytics` packages? Or do I also need `Firebase` or `FirebaseCore`? The instructions in the console say that I should be able to import the module `Firebase` in my code, but that module isn't available for me via SPM. I nee

[2020-08-13 14:49] morganchen12 commented on #6269
Please fill out the issue template. It would be helpful to know how you're measuring data usage and any steps required to reproduce the issue.

[2020-08-13 14:54] morganchen12 commented on #6268
You should file this issue at the [FlutterFire repository](https://github.com/firebaseextended/flutterfire/issues). The maintainers there will have more context on the error, since it's being surfaced from the flutter layer.

[2020-08-13 14:54] #6268 closed

[2020-08-13 14:58] morganchen12 commented on #6266
Looks like your app is crashing in `malloc`, which is a symptom of heap corruption that may or may not have been caused by Firestore. See [this comment](https://github.com/firebase/firebase-ios-sdk/issues/5238#issuecomment-607372681) for some strategies for identifying heap corruption in your app.

[2020-08-13 15:09] paulb777 commented on #3136
@jchitel The `Firebase` module is available via SPM.

![Screen Shot 2020-08-13 at 8 07 25 AM](https://user-images.githubusercontent.com/73870/90151928-1c40b380-dd3c-11ea-9cd6-37c2e3e66fa3.png)

[2020-08-13 15:10] paulb777 commented on #3136
@greyder We'll likely need a reproducible example to help investigate.

[2020-08-13 15:12] jchitel commented on #3136
@paulb777 would it be better for me to create a separate issue to dig into this further? I'd rather not bloat this issue with my specific problems.

[2020-08-13 15:22] paulb777 commented on #3136
@jchitel Yes. Please create separate issues to discuss specific Swift Package Manager problems/questions.

[2020-08-13 15:33] itsdamslife commented on #230
Even I am getting this issue. But my context is I am building a macOS standalone process, a command line tool. I am trying to integrate crashlytics into it. I manage to fix all other issues with bundle identifier etc. But not able to run the script in build phases as per the documentation.

`
error: Could not get GOOGLE_APP_ID in Google Services file from build environment
FirebaseCrashlytics/uplo

[2020-08-13 15:35] paulb777 commented on #6219
Also may be related this issue noted at https://forums.swift.org/t/swift-packages-in-multiple-targets-results-in-this-will-result-in-duplication-of-library-code-errors/34892/38:

`There is an entirely separate issue which happens only for Xcode previews which is related to all package products being built dynamically in Xcode 12 to enable previews. It is also something we're actively investigating

[2020-08-13 17:47] tomhicks opened #6272 "Firestore not working, but everything else is"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: Version 11.3.1 (11C504)
  * Firebase SDK version: 6.30.0
  * Firebase Component: Firestore
  * Component version: 1.16.4 ??
  * Installation method: `CocoaPods` (select one)

### [REQUIRED] Step 2: Describe the problem

#### Steps to reproduce:

What happened? How can we make the problem occur?
`Error: [firestore/unavailable] The

[2020-08-13 18:05] #4558 closed

[2020-08-13 18:08] wu-hui commented on #6266
On top of what @morganchen12 said, I want to know if you could re-produce the issue on your device/simulator. If so, I'd like to ask for instructions to reproduce, that would give us something to act on.

[2020-08-13 18:14] wu-hui commented on #6272
You are right that there could be something blocking gRPC, but the fact that an older SDK works is interesting.

Can you tell me the version of the older SDK that is working for you, i can try to see what has changed btw them.

[2020-08-13 18:45] artud2000 commented on #6071
Hi @morganchen12 I was assigned to a different project, but I'll pass this thread to the engineer working on the issue, he might be able to provide some more info.

Regards,
Arturo

[2020-08-13 19:59] tomhicks commented on #6272
Thanks for the reply.

From the old version's Podfile (working) bits that I think might be useful!:
[code]

The new, not working one:

[code]

[2020-08-13 20:10] morganchen12 commented on #5955
Closing since this is working as intended.

[2020-08-13 20:10] #5955 closed

[2020-08-13 20:38] paulb777 commented on #5897
Adding to Firebase 7 milestone to consider for next major release.

[2020-08-13 20:41] paulb777 commented on #5663
Is this still an issue?  With the emphasis on adding Swift Package Manager support, we're not investing too much in atypical package managers like Rome.

[2020-08-13 20:46] paulb777 commented on #5223
@maksymmalyhin Could this be from the transition from InstanceID to Installations?

[2020-08-13 21:02] maksymmalyhin commented on #5223
@paulb777 It doesn't looks like related. As far as I can see from the code `APMIdentity` may read previously set values and don't make any calls to Installations. I see extensive `dispatch_sync` usage in `APMIdentity` and it's dependencies so I guess there may be an unintentional deadlock related to it.

@wangjunhua1 @hufengiOS Could you please share call stacks for other threads to help with the

[2020-08-13 21:12] laurenmarshallVS commented on #5663
@paulb777 I haven't tried again since we decided to drop attempting to use FirebaseInAppMessaging in our application. It doesn't mean that it's still not a problem in general though. It would need to be fixed if you are supporting Rome, but if you are dropping support for Rome, then it wouldn't matter.

[2020-08-13 21:59] paulb777 commented on #5663
OK thanks. We'll leave this open for now, but at a low priority.

[2020-08-13 22:18] sotrosh opened #6275 "All user properties sent except Apple Search Ads events"
### Step 0: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ please use the Feature Request template.
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the `firebase` tag.
  * For general (non-iOS) Firebase discussion, u

[2020-08-14 00:55] vinhhhnexle commented on #6266
hi @wu-hui thank your feedback.
I'm have debug with "Address Sanitizer" and "Undefined Behavior Sanitizer"  but can't reproduce.
But i  think it happen when a listener receive  a lot of data change after in background and then app go to foreground i have some write/some info to firestore for each change..

[2020-08-14 01:05] wertpoiu commented on #2011
Bummer, we need this for tvOS

[2020-08-14 01:09] zhangcx627 commented on #6258
@maksymmalyhin  Thank you~. I'm try to update to the last version and use Xcode 12 Beta4. And find the log about `[BackgroundTask] Background task still not ended after expiration handlers were called: <_UIBackgroundTaskInfo: 0x2835e06c0>: taskID = 64, taskName = CCTLogWriter, creationTime = 64357 (elapsed = 0). This app will likely be terminated by the system. Call UIApplication.endBackgroundTask

[2020-08-14 04:22] pmtamit-vn opened #6276 "Firestore Crash > 1000 per day"
**Environment**
Xcode version: 11.5
Firebase SDK version: Various 6.*
Firebase Component: Firestore
Component version: 1.15.0
Installation method: CocoaPods
Problem description
A few weeks ago, we enabled the use of Firestore in our deployed AppStore builds.
Since then, we've seen a high crash rate in Crashlytics, with multiple crash-point/stack traces.

**Steps to reproduce:**
No identified repro

[2020-08-14 06:42] philipphofmann commented on #6128
It's also flagging our code in [sentry-cocoa](https://github.com/getsentry/sentry-cocoa), not just Crashlytics code.

[2020-08-14 08:12] emanuel-lundman commented on #5333
no updates on this?

[2020-08-14 09:00] vinhhhnexle commented on #6266
Crashlytic Key said: malloc: *** error for object 0x106817e00: pointer being freed was not allocated

[2020-08-14 11:11] fruitcoder commented on #4040
I get the following error:
[code]

[2020-08-14 12:31] jakob-fiegerl commented on #5641
I had the same issue.
Solved it with by reading this: https://github.com/firebase/firebase-ios-sdk/issues/4690#issuecomment-583514820

I forgot to active Crashlytics for iOS.

[2020-08-14 13:46] maksymmalyhin commented on #6258
@zhangcx627 I suspect, there may be something that prevents GoogleDataTransport (the SDK that contained `CCTLogWriter ` in older versions) from updating. If you could share your `Podfile.lock` we can take a look together what it may be.

[2020-08-14 15:19] wu-hui commented on #6266
Sorry for the crashes you are seeing..I'd need some more information to further investigate.

1. Is there a patten regarding the OS version? Are all crashed happening on a/several certain iOS version?
2. Is there a version of firestore that is deployed but you don't see crashes?

[2020-08-14 15:22] wu-hui commented on #6276
Sorry to hear you have a lot crashes.

I want to know if you can get some more information from Crashlytics. Things like, if there is a pattern regarding iOS version or Firestore version, if there is a version that your App deployed but you don't see crashes.

It looks like you failed to reproduce the issue, so some information about whether there is a working version will help us to identify what

[2020-08-14 15:27] pmtamit-vn commented on #6276
Thanks for your reply.
I would like to send some information from Crashlytics:
iOS version: 13.6.1 (17G80)
Firestore version: 1.15.0
Keys: crash_info_entry_0  XXX(695,0x16b7df000) malloc: *** error for object 0x10d011a00: pointer being freed was not allocated

[2020-08-14 15:51] wu-hui commented on #6276
Some of files in the report are pretty old: `document_reference.mm` for example (and some other `mm` files) are from last year. The SDK has gone through a lot since then.

I am not sure why it is reporting 1.15, but looks like you are using an even older version. Maybe giving the newer versions a try would be helpful.

[2020-08-14 15:56] pmtamit-vn commented on #6276
Thanks for your reply.
Please help me check the update report below:
----------------------------------------------
Crashed: com.google.firebase.firestore
0  libsystem_kernel.dylib         0x19d048df0 __pthread_kill + 8
1  libsystem_pthread.dylib        0x19cf68948 pthread_kill + 228
2  libsystem_c.dylib              0x19cef7ba4 abort + 104
3  libsystem_malloc.dylib         0x19cf59fdc _malloc_put

[2020-08-14 16:20] morganchen12 commented on #4040
That's what I expected, but that should be the case even for old TagManager releases. TagManager has always had a hard dependency on `ASIdentifierManager` in the AdSupport framework. I can't speak authoritatively to TagManager's future plans, but it's unlikely the AdSupport dependency changes in the future. If you don't want TagManager linking AdSupport into your app, you should remove TagManager;

[2020-08-14 18:16] chuganzy commented on #4040
@morganchen12 I want to confirm that GTM does not send any data until the app emits Firebase events. `ASIdentifierManager` usage in GTM affects iOS14 app transparency actually, so I am worried about it too.

[2020-08-14 18:31] wu-hui commented on #6272
Hmm, I have found nothing meaning between the two versions..

I am wondering now if it works in a different network environment. I am suspecting something in your test environment is blocking the connections. Can you try to switch and test again, like maybe over hotspot over LTE or anything that is not affected by your current environment?

[2020-08-14 18:34] wu-hui commented on #6266
This seems to be the same issue as #6276, closing this one to consolidate discussion.

[2020-08-14 18:34] #6266 closed

[2020-08-14 18:43] wu-hui commented on #6276
Merged another report of the same issue.

The stack traces tell us there are memory corruption, and not much more useful beyond that. This could be firestore is corrupting the memory, it also could be something else. It could be that Firestore allocates/deallocates memories when in background makes it more prone to hitting these corruptions.

I am wondering if you see other crashes resulted from m

[2020-08-14 19:14] morganchen12 commented on #4040
Tracking data will only be automatically sent if your app has set the [`dispatchInterval` property](https://developers.google.com/tag-manager/ios/v3/reference/interface_t_a_g_manager#a0fbe2615c7b2dd59290c4cca7d9e38f2) to a positive non-zero value. Even then, the dispatch result will be `kTAGDispatchNoData` unless your app has logged an event through Firebase Analytics or one of the other event log

[2020-08-14 19:44] hIUG opened #6277 "Over 24 hours and still dSYMs files missing"
### [REQUIRED] Step 1: Describe your environment
  * Xcode version: 11.6 (11E708)
  * Firebase SDK version: NA (Refer to below components)
  * Firebase Components & Verison:
	FirebaseCore - Version: 6.7.0
	Firebase/Messaging - Version: 6.24.0
	Firebase/Analytics - Version: 6.24.0
	Firebase/Crashlytics - Version: 6.24.0
  * Component versions: Above
  * Installation method: `CocoaPods

### [REQUIRE

[2020-08-14 20:53] morganchen12 commented on #6277
Hey @hIUG, sorry to hear you're still having trouble. Please follow the link in my original comment to file this issue with [Firebase Support](http://firebase.google.com/support) instead of on GitHub.

[2020-08-14 20:53] #6277 closed

[2020-08-14 23:22] paulb777 commented on #6188
Marking for Firebase 7 major release, since we should resolve this either of the two ways described above by then.

[2020-08-15 05:52] willbattel commented on #6194
Hey Malcom, thanks for the info. There is some discussion happening on our end. I'll provide a full response when able.

[2020-08-16 18:30] mike-kerley commented on #5787
Same issue. Just started seeing it intermittently. Version 6.27.0, installing via Carthage.

[code]

Crashlytics is definitely enabled; I can generate crashes and see them in Firebase.

[2020-08-17 01:03] #6199 closed

[2020-08-17 01:03] #6185 closed

[2020-08-17 06:13] zhangcx627 commented on #6258
Sorry about the slow reply. Here is the Podfile.lock.
[Podfile.lock.zip](https://github.com/firebase/firebase-ios-sdk/files/5082434/Podfile.lock.zip)

[2020-08-17 06:31] syonip commented on #147
I'm also missing the ability to perform large uploads that continue in the background, even when the app is closed, both in android and ios.
Writing this comment to raise awareness :)

[2020-08-17 08:05] pmtamit-vn commented on #6276
I'm using Firestore for messaging features and have not handled anything related to background, so it depends on SDK.
I created a listener for conversation and tracking "add new", "changed", "removed" to process messages.
Any idea for a solution?
Thank you.

[2020-08-17 08:20] CeccoCQ commented on #5122
Same issue here.

[2020-08-17 08:59] auro-ganesh opened #6279 "Crash: RCNConfigFetch.m line 221 - [RCNConfigFetch refreshInstanceIDTokenAndFetchCheckInInfoWithCompletionHandler:]_block_invoke_2 + 221"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 11.4
  * Firebase SDK version & Firebase Component:
[code]

  * Installation method: CocoaPods

### [REQUIRED] Step 2: Describe the problem
Getting plenty of crashes on RCNConfigFetch.m line 221
#### Steps to reproduce:

What happened? How can we make the problem occur?
Random crashes occurs, not able to reproduce it in debug.

#

[2020-08-17 10:03] zhangcx627 commented on #6258
May be it's Realm's bug.
https://github.com/realm/realm-cocoa/issues/6671

[2020-08-17 10:44] lorenzofiamingo opened #6280 "Error on SwiftUI Preview when using Swift Package Manager"
### Environment

  * Xcode version: 12.0 beta 4
  * Firebase SDK version: master branch
  * Firebase Component: Auth, Firestore, Storage
  * Installation method: Swift Package Manager

### Problem

#### Steps to reproduce:

When I build and run the app all is working ok. When I try to use the SwiftUI Preview Canvas XCode raises me errors.

#### Error Logs:

[code]
[code]
[code]
[code]
[code]

[2020-08-17 13:39] ryanwilson commented on #6279
Hi @auro-ganesh, thanks for the report.

Remote Config is now on version 4.9.0 and the method that's crashing for you doesn't exist anymore, Remote Config has migrated from InstanceID to Installations. Please update and re-open a new issue if you're still seeing issues with Remote Config - I'm going to close this for now since no action can be taken on the crash you've outlined.

[2020-08-17 13:39] #6279 closed

[2020-08-17 16:06] itsdamslife commented on #230
@arthurgivigir I fixed this issue with following changes to run script in Build Phases:
`
/path/to/pods/dir/FirebaseCrashlytics/upload-symbols -gsp /path/to/app/target/GoogleService-Info.plist -p ios /path/to/built_products_dir/target_name.dSYM/Contents/Resources/DWARF/target -val
`

If you are working on macOS app, then pass `-p mac` instead of `-p ios`. After this my dsym files uploading success

[2020-08-17 16:15] itsdamslife commented on #583
I am building a macOS standalone process, a command line tool binary (non UI app). I am trying to integrate crashlytics into it. I manage to fix all other issues with bundle identifier, fetching dsym files and uploading etc.

The crash reports are getting uploaded to firebase console as per network proxy logs. I can see 202 Accepted status for POST requests to https://reports.crashlytics.com domai

[2020-08-17 19:43] ryanwilson commented on #4621
This was addressed with #6260 - thanks again for the contribution!

[2020-08-17 19:43] #4621 closed

[2020-08-17 21:22] elenadoty commented on #6125
We've been able to get Crashlytics reports to upload from App Clips on devices running iOS 14 Beta. We haven't been able to get to the bottom of the issue with the simulator, but it seems like it may involve provisioning profiles. Have you been able to test on device?

[2020-08-17 21:26] #6210 closed

[2020-08-17 21:54] ccamaisa opened #6284 "Undefined Symbol & 'GoogleUtilities not found' errors when building Xcode 12 project"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: Version 12.0 beta 3 (12A8169g)
  * Firebase SDK version: 6.30.0
  * Firebase Component: Firestore
  * Component version: 1.16.4
  * Installation method: CocoaPods

### [REQUIRED] Step 2: Describe the problem
I added Firebase to my project via cocoapods and built it, but I kept getting the error `Undefined symbol: _OBJC_CLASS_$_FI

[2020-08-17 22:10] morganchen12 commented on #6284
Normally this is something that CocoaPods will take care of for you. What version of CocoaPods are you using? Are you able to reproduce this build issue in the [Firestore quickstart](https://github.com/firebase/quickstart-ios/tree/master/firestore)?

[2020-08-17 22:15] ccamaisa commented on #6284
I'm currently using v.1.9.3. I'll try to reproduce with the that quickstart, will post result soon.

[2020-08-17 22:45] ccamaisa commented on #6284
@morganchen12 Just tried building the quickstart and it seems fine, also tried `pod deintegrate` and `pod clean` on my project yet it seems to still happen... the console even showed it downloading googleutilities 6.7.2

[2020-08-17 23:14] ccamaisa commented on #6284
@morganchen12 I did however create a new Xcode project on ver. 12 beta and added Firebase through the standard "Add Firebase to Your iOS App" process, still got the same error.

[2020-08-17 23:21] morganchen12 commented on #6284
Can you share the new sample project you made? It's possible this is a CocoaPods bug and may be fixed in CocoaPods beta, but it'd be good to identify the root cause of the issue.

[2020-08-17 23:22] paulb777 commented on #6284
Note that `_OBJC_CLASS_$_FIRApp` is defined in `FirebaseCore` not `GoogleUtilities`.

[2020-08-17 23:49] FaroukZeino commented on #3136
Hi, when I added Firebase Analytics using SPM, the app size got increased by 20 MB, I don't think that this is normal.

[2020-08-17 23:54] paulb777 commented on #6280
@lorenzofiamingo Thanks for trying out the Swift Package Manager support and the feedback.  This looks like a known Xcode issue described at https://forums.swift.org/t/swift-packages-in-multiple-targets-results-in-this-will-result-in-duplication-of-library-code-errors/34892/38:

`
There is an entirely separate issue which happens only for Xcode previews which is related to all package products bei

[2020-08-18 00:02] ccamaisa commented on #6284
My apologies, on that project I was getting the FirebaseApp.configure error() which was resolved (#6066). Implementing that fix worked.

Before, I added Firebase, where I got a plethora of errors and decided to go the cocoapods route. It looks like it messed with the project's internals and maybe wasn't removed properly. This is what I believe to be the case, but unfortunately I cannot share the o

[2020-08-18 00:02] #6284 closed

[2020-08-18 07:44] mike-kerley opened #6287 "Deadlock in +[FPRRemoteConfigFlags sharedInstance]"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 11.5
  * Firebase SDK version: 6.30.0
  * Firebase Component: Performance
  * Component version: 6.30.0?
  * Installation method: `Carthage`

### [REQUIRED] Step 2: Describe the problem

I've been experiencing some intermittent crashes when running my app's tests. The crash dump points to:

[code]

Whenever this happens, I see tw

[2020-08-18 07:54] dingmriesgui opened #6288 "Mac APPS upgraded from Fabric to FirebaseCashkit, but a problem accessing a private folder in keychain was found in the new Mac system (10.15.5)! Cannot receive report when user is denied access!! This was not the case at Fabric before!"
[REQUIRED] Step 1: Describe your environment

Xcode version: 11.6
Firebase SDK version: See below. Podfile just specifies unversioned Firebase/Crashlytics and Firebase/Analytics
Component version: See above
Installation method: CocoaPods
    pod 'FirebaseCore'
    pod 'Firebase/Crashlytics'
    pod 'FirebaseInstallations'
[REQUIRED] Step 2: Describe the problem

Steps to reproduce:

This is for a

[2020-08-18 07:58] dingmriesgui opened #6289 "Mac APPS upgraded from Fabric to FirebaseCashkit, but a problem accessing a private folder in keychain was found in the new Mac system (10.15.5)! Cannot receive report when user is denied access!! This was not the case at Fabric before!"
[REQUIRED] Step 1: Describe your environment

Xcode version: 11.6
Firebase SDK version: See below. Podfile just specifies unversioned Firebase/Crashlytics and Firebase/Analytics
Component version: See above
Installation method: CocoaPods
`
    pod 'FirebaseCore'
    pod 'Firebase/Crashlytics'
    pod 'FirebaseInstallations'
`
[REQUIRED] Step 2: Describe the problem

Steps to reproduce:

This is fo

[2020-08-18 09:28] rgkobashi commented on #5704
Updated to `6.30.0` and still seeing a bunch of logs, using `FirebaseConfiguration.shared.setLoggerLevel(.min)` changed nothing.

Is there anything else to do?

[2020-08-18 09:31] cubuspl42 commented on #6276
I've experienced a similar crash on iOS with Flutter `cloud_firestore` plugin 0.13.7, which is using native `FirebaseFirestore` 1.16.3.

One user, one ocurrence so far.

Stack trace:

[code]

[2020-08-18 09:36] pmtamit-vn commented on #6276
@cubuspl42 Have you solved it yet? If yes, please tell me how to do it. Thanks.

[2020-08-18 10:22] cubuspl42 commented on #6276
No, I haven't.

[2020-08-18 11:07] arunlj561 opened #6290 "Firebase Crashlytics not getting Enabled"
### Step 0: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ please use the Feature Request template.
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the `firebase` tag.
  * For general (non-iOS) Firebase discussion, u

[2020-08-18 11:58] Sherlouk commented on #3136
Hey @FaroukZeino, as per [Paul's comment](https://github.com/firebase/firebase-ios-sdk/issues/3136#issuecomment-673542407) previously it might be best to raise this as a new issue so it can be tracked and discussed on it's own.

[2020-08-18 12:27] ryanwilson commented on #6288
Closing in favor of #6289 which appears to contain the same contents (plus screenshots).

[2020-08-18 12:27] #6288 closed

[2020-08-18 12:33] ryanwilson commented on #6289
Thanks for the report - you're right it does look like #5540 but based on the comments in the thread it could have been fixed by an update (unless I'm reading it incorrectly, I wasn't involved too closely with the original issue).

Can you please share your `Podfile.lock` so we can see which versions are being installed? Also, can you answer the questions from [this comment[(https://github.com/fir

[2020-08-18 12:55] ryanwilson commented on #6290
Hi @arunlj561, a few questions to start off:

- Crashlytics is also on version 4.4.0 now, can you please update to the latest version and try again?
- Are you seeing any logs in the Xcode console? If so, can you please paste them here?
- Are other Firebase services working?

After you've updated, please share any logs in the Xcode console you're seeing, and if there are no logs please reach out to

[2020-08-18 16:18] morganchen12 commented on #6289
Duplicate of #6141

[2020-08-18 16:18] #6289 closed

[2020-08-18 17:32] #5984 closed

[2020-08-18 18:50] Olegkodysh commented on #6130
Are you trying to delete this instance of the Firebase app when calling the .delete function, and then trying to configure it again? Does the error occur then?

[2020-08-18 19:27] paulb777 commented on #6280
Might be fixed in Xcode 12 beta 5 - https://forums.swift.org/t/swift-packages-in-multiple-targets-results-in-this-will-result-in-duplication-of-library-code-errors/34892/40.

I'll plan to retry in the next day or two - but feel free to beat me to it. :)

[2020-08-18 20:47] demonar commented on #6130
exactly

[2020-08-18 23:17] paulb777 opened #6295 "One version for all Firebase pods"
With the next major version, we plan to re-version all Firebase pods to 7.0.0 and then keep them in sync from then on.

This will align CocoaPods versioning with the Swift Package Manager, Carthage and zip distributions.

The implementation should replace all individual pod version handling and option processing with a call to the FirebaseCore pod to get the Firebase version.

Please add any comme

[2020-08-19 00:35] paulb777 commented on #6280
Confirmed that Xcode 12 beta 5 fixes Swift UI preview for all Firebase products except Firestore.

It exposes a build issue in its abseil dependency for which I'll send a PR for.

[2020-08-19 00:49] FaroukZeino opened #6298 "20 MB increasing in total app size after adding Analytics using SPM"
### Step 0: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ please use the Feature Request template.
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the `firebase` tag.
  * For general (non-iOS) Firebase discussion, u

[2020-08-19 02:22] #5891 closed

[2020-08-19 02:39] #6280 closed

[2020-08-19 04:48] #6290 closed

[2020-08-19 05:18] freddyholland opened #6300 "6.24.0 - [Firebase/Firestore][I-FST000001] Could not reach Cloud Firestore backend. Backend didn't respond within 10 seconds."
I am unable to access my Firebase cloud firestore. The following is the log from apps initiation until failed read attempt.
The problem is not related to wifi issues, I am testing from a real device that has a previous build installed on it (which still works), its only the newer updated build that has this error.
[code]

[2020-08-19 07:26] dingmriesgui commented on #6289
So there is no way to deal with it?

[2020-08-19 09:07] Swapnil-Gunla commented on #6039
@eburley Any update on this crash. Are you looking into this?

[2020-08-19 10:01] ntemposd commented on #4664
I have a similar issue. I've configured my A/B test and the audience size was let's say, 100 users. However, the experiment is running for two days now and I get 0 users exposed. 😕

[2020-08-19 11:11] skipperprivate opened #6301 "Error 501 "Device ID and checkin info is not found. Will not proceed with subscription/unsubscription""
### Environment

  * Xcode version: 12.0 beta 2
  * Firebase SDK version: 6.29.0
  * Firebase Component: Messaging

### Problem

I'm trying to implement the FCM topic mechanism for sending push notifications in a more balanced way.
To do this, I subscribe/ unsubscribe to the topics I need in the AppDelegate class in func `application(_ application: UIApplication, didRegisterForRemoteNotificationsW

[2020-08-19 16:02] morganchen12 commented on #6300
Hey @freddyholland, please fill out the issue template and provide all steps necessary to reproduce the issue.

[2020-08-19 16:08] samedson commented on #6028
Alright we've updated the public docs. Change will take a bit to propagate. Thanks for reaching out folks!

[2020-08-19 16:08] #6028 closed

[2020-08-19 16:14] ivarorn opened #6304 "Default language options set in main.m do not work with firebase sdk"
I have a app that needs to start up with a different default language than the system one.
I do that by setting the AppleLanguages NSUserDefaults entry on startup in main.m

I set up a demo project that localizes a string and sets the AppleLanguages in main.m
Default string is in english, and the localized one is in Icelandic

To have the app start up with Icelandic set as a default language we ad

[2020-08-19 17:01] ramzesku commented on #3136
I try connect firebase use swift package manager.
1) Enter: https://github.com/firebase/FirebaseUI-iOS
2) Enter branch: pb-spm
<img width="736" alt="Screenshot 2020-08-19 at 19 54 42" src="https://user-images.githubusercontent.com/3276456/90666338-e4fb6680-e255-11ea-9ee2-9387ef6c127a.png">
3) Click next button.

I see error:
Showing All Messages
: package at 'https://github.com/firebase/FirebaseUI

[2020-08-19 17:10] mortenbekditlevsen commented on #3136
You should use the 'master' branch as per a comment further up in the thread. :-)

[2020-08-19 17:12] paulb777 commented on #3136
@ramzesku The referenced Firebase UI branch is a prototype of a small part of the API. It is not ready for use. Please follow https://github.com/firebase/FirebaseUI-iOS/issues/886 for FirebaseUI.

[2020-08-19 17:22] paulb777 commented on #6298
I see an increase of 1.1MB after adding Analytics with SPM the empty app goes from 75K to 1.2M:

[code]

[2020-08-19 17:30] paulb777 commented on #3136
Also Xcode 12 is required to use SPM with the `master` branch of https://github.com/firebase/firebase-ios-sdk.git.  At least beta 4 is required for FirebaseAnalytics. At least beta 5 is required for SwiftUI preview support.

[2020-08-19 17:52] chliangGoogle commented on #6301
You checkin data seems missing, did you check that you have a FCM token at at all? make sure you delete your token after unsubscribing because it still requires token to proceed.

[2020-08-19 19:03] carlosdelamora opened #6306 "No Google App ID or Google Services file provided"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 11.6
  * Firebase SDK version: 6.30.0
  * Firebase Component: Crashlytics
  * Component version: 4.4.0
  * Installation method: `CocoaPods`

### [REQUIRED] Step 2: Describe the problem
I am not getting crash reports on firebase console. I assume that the issue is that I can not upload the dSYM files. However firebase console does

[2020-08-19 20:25] pabloearg opened #6308 "165847014:ios the app always goes to the appstore: having a previous version of the app in the market and adding dynamic links"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 11.6 and 11.4
  * Firebase SDK version: 6.28.1
  * Firebase Component: Firebase/DynamicLinks
  * Component version: 6.28.1
  * Installation method: CocoaPods

### Step 2: Describe the problem

we have an app in the appstore right now that has branch.io, and we are replacing that for firebase dynamic links

But for some reason, in

[2020-08-19 21:51] makuchaku commented on #4563
Hi everyone,

I am Mayank, a Product Manager at Firebase and am working closely with the Google Analytics team.

We are currently working on an SDK for Catalyst and wanted to check if folks from this thread would be interested to partner with us to share their feedback on some early SDK builds for Catalyst.

If you are interested, please [fill in this form](https://forms.gle/vpScgBXx2inPRM3i6) to

[2020-08-19 23:21] morganchen12 commented on #6298
Building for iOS 14 on arm64, the whole app bundle is 2.6MB. @FaroukZeino can you share a project that reproduces this issue?

[2020-08-20 01:03] #6143 closed

[2020-08-20 01:03] #5970 closed

[2020-08-20 04:35] thoughtcastapp opened #6311 "iOS 14 App Clip SIGABRT crash - Library not loaded: @rpath/FBLPromises.framework/FBLPromises"
#### Steps to reproduce:

Have an app that uses Firestore for its DB (made a core app and an app clip as a separate ios target before app clips were available). Added an app clip and used cocoapods to add the firstore libraries to the app clip. Linked the app clip to my pre-built app/migrated the files over and tried to simulate it. Build compiled and ran, but it crashed before launching with the

[2020-08-20 04:55] anatoliykant commented on #4563
Hey, @makuchaku
Thank you for doing this for us.
Could you please show a **screenshot** of the Firebase admin area where the **Google Analytics Property ID** is located?

[2020-08-20 06:28] skipperprivate commented on #6301
I've added the subscribing method even to func messaging(_ messaging: Messaging, didReceiveRegistrationToken fcmToken: String) to be sure I have FCM token received - but nothing worked as I expected. What can it be?

[2020-08-20 06:46] vinhhhnexle commented on #6276
My issues maybe i have using the api removeAllObject for NSMutableArray various, or some Listener varis call remove but not set to nil. I'm not sure exactly which one have resolve it.But that crash was decreasing too much.
Thank to @wu-hui

[2020-08-20 07:00] pmtamit-vn commented on #6276
I improved the crash issue by @vinhhhnexle way, re-initialize NSMutableArray, NSDictionary instead of using removeAllObject, also set Listener (Firestore) = nil after remove.

[2020-08-20 07:00] #6276 closed

[2020-08-20 09:36] federicocappelli commented on #4563
Hem... I don't want to be the paranoid one but who the hack is @makuchaku ? Nowhere in his profile is shown that works for Firebase, nor on his website (a photographer from Delhi?) and his Github account isn't in any firebase project. I'm not even mentioning to the anonymous google docs form.
@makuchaku could you post the request from an official firebase account? (see https://github.com/ryanwilso

[2020-08-20 11:47] StephanWalters commented on #6300
^ just to not this issue seems to be having on a number of firebased data  services (FirebaseDatabase, etc), when running on a real device. Running on im seems to work great for some reason

[2020-08-20 11:56] StephanWalters commented on #6211
This is also the exact same issue with FirebaseDatabase.

[2020-08-20 12:32] ryanwilson commented on #6211
@StephanWalters yes, unfortunately Firebase Database is affected by the same issue.

On the technical level, the hurdles to get Database running are going to be easier since it's not migrating gRPC but migrating from SocketRocket (which is an overall smaller dependency) and the surface area of APIs that touch SocketRocket is relatively small. That being said, it's still replacing the entire networ

[2020-08-20 14:28] ryanwilson commented on #4563
Hey folks - sorry for the confusion but I can confirm @makuchaku is who he says he is - a Google employee working as a PM on Firebase. I'll message him when he comes online to publicize his membership in the Firebase org for future reference.

For the profile link https://github.com/makuchaku - here's a screenshot
 of what I see (as a member of the Firebase org myself)
![makuchaku profile screensh

[2020-08-20 14:37] federicocappelli commented on #4563
Thank you @ryanwilson for the clarification, there's probably some configuration/permission issue because this is the profile I see:
<img width="759" alt="Screenshot 2020-08-20 at 16 35 13" src="https://user-images.githubusercontent.com/1489236/90785881-2a29a200-e303-11ea-9085-70fd161a14af.png">

Back on topic now and filling the form :)

[2020-08-20 14:43] ryanwilson commented on #4563
@anatoliykant  You can find this by:

1. Go to the [Firebase Console](https://console.firebase.google.com/)
2. Under the "Analytics" heading in the side bar, click "Dashboard"
3. In the top right corner, click the little settings icon:
![Settings icon button](https://user-images.githubusercontent.com/1097316/90786572-b8853000-e2d1-11ea-99e2-5d6db85c2175.png)
4. See the "Property ID" at the top (se

[2020-08-20 14:44] ryanwilson commented on #4563
Makes sense, it looks like a personal setting set on the profile to mark that as visible. I'll work with @makuchaku to get that publicized to prevent this in the future.

Awesome, thank you for doing so!

[2020-08-20 15:05] ryanwilson commented on #6311
Hi, @thoughtcastapp sorry for the issues you're seeing.

Re: Library not loaded, this is the same issue as #4889. Specifically, the workaround here: https://github.com/firebase/firebase-ios-sdk/issues/4889#issuecomment-596147745

Unfortunately though, Firestore does not currently work in App Clips on device. You can follow along with progress at #6211, and I'll close this issue.

[2020-08-20 15:05] #6311 closed

[2020-08-20 15:07] ryanwilson commented on #6300
@freddyholland @StephanWalters is this by any chance in an App Clip? If so, #6211 is tracking that.

[2020-08-20 15:14] StephanWalters commented on #6300
@ryanwilson thanks Ryan! This sucks however lol, I may have to consider a restful solution.

[2020-08-20 15:35] makuchaku commented on #4563
This was a good learning point.
I've made my membership in both Google & Firebase orgs as public.
Cheers!

<img width="346" alt="Screen Shot 2020-08-20 at 8 29 30 AM" src="https://user-images.githubusercontent.com/107647/90792815-cf228b80-e2bf-11ea-9b4a-288c078cf8ea.png">

[2020-08-20 15:55] thoughtcastapp commented on #6311
gotcha, just a note for anyone reading this after the ticket was closed, I tried #4889, but there are some libraries that swift won't allow static linkage to in firebase (I believe boring ssl is one of them), so that solution will not work for this issue...here's to hoping you guys can figure out a solution :)

[2020-08-20 16:47] htcgh commented on #5704
@rgkobashi If you previously used `-FIRAnalyticsDebugEnabled` to enable debug mode, then I would include both `-FIRDebugDisabled` and `-noFIRAnalyticsDebugEnabled` in your scheme. If that still doesn't work, would you mind sharing your logs that include the first few Analytics messages?

[2020-08-20 17:22] chliangGoogle commented on #6301
Can you share with us the debugLog here?

[2020-08-20 20:34] BouweCeunen commented on #6301
I've also encountered this on an app in production, but not being able to reproduce it myself.

[2020-08-20 22:27] kim-f commented on #6287
Hello @mike-kerley, thank you for reporting this issue and providing us with the snippets and environment details!

While we work on investigating and narrowing down a root cause, it would be helpful to know what iOS version you're seeing this issue occur within. If you're able to provide this information, please do so -- otherwise we'll continue investigating without it.

Thanks again

[2020-08-20 22:29] mike-kerley commented on #6287
Sure - it was with iOS 13.4. Thanks for looking into it!

[2020-08-20 22:34] EzlyJohnnie commented on #6161
Hi guys, any updates on this?

[2020-08-20 22:40] kim-f commented on #6287
Great, thank you!

note: this issue is being tracked internally at b/165809929

[2020-08-20 22:52] eldhosembabu commented on #6308
Could you please provide the Firebase Dynamic Link which is causing this issue?

[2020-08-21 01:03] #5085 closed

[2020-08-21 02:34] rgkobashi commented on #5704
hi @htcgh,

By using `-noFIRAnalyticsDebugEnabled ` and `-FIRDebugDisabled` works, but according to your [docs](https://firebase.google.com/docs/analytics/debugview#enabling_debug_mode) using `-FIRDebugDisabled ` my measurements will be affected during testing and development and we don't want that, we want to track our events properly on debug and release mode.

TIA

[2020-08-21 06:43] jyotigroomefy opened #6316 "166129177: Firebase Dynamic Link: AppScheme://google/link/?dismiss=1&is_weak_match=1 on iOS 13.5.1"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: _11.1____
  * Firebase SDK version: __6.10.0___
  * Firebase Component: _DynamicLinks____ (Auth, Core, Database, Firestore, Messaging, Storage, etc)
  * Component version: _4.0.8____
  * Installation method: `CocoaPods` (select one)

### [REQUIRED] Step 2: Describe the problem
I have created the dynamic link from firebase console

[2020-08-21 07:55] BarryDuggan opened #6318 "Crashed: com.google.fira.worker EXC_BAD_ACCESS KERN_INVALID_ADDRESS"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 11.5
  * Firebase SDK version: 6.26.0
  * Firebase Component: (RemoteConfig, Performance, Analytics)
  * Component version:
  * Installation method: `CocoaPods

### [REQUIRED] Step 2: Describe the problem
Crashlytics is reporting about 10 crashes a day

#### Steps to reproduce:

From the logs there doesnt seem to be any particula

[2020-08-21 17:48] maxbbb opened #6320 "FIRESTORE INTERNAL ASSERTION FAILED: Failed to open DB: Internal: Failed to open LevelDB database"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 11.6
  * Firebase SDK version: 6.27.0
  * Firebase Component: Firestore (Auth, Core, Database, Firestore, Messaging, Storage, etc)
  * Component version: 6.27.0
  * Installation method: CocoaPods

### [REQUIRED] Step 2: Describe the problem
Have about ~26,000 crashes in prod for this error through Crashlytics, do not know the cau

[2020-08-21 20:34] #6320 closed, assigned to nobody

[2020-08-21 23:20] michaeleisel opened #6322 "FR: Open-sourcing Crashlytics upload-symbols"
### Feature proposal

* Firebase Component: Crashlytics

The upload-symbols script has gotchas such as issues around parsing paths with spaces in them. I am facing a few additional ones myself right now. By open-sourcing it, it could reduce the number of issues coming in for people dealing with the tool, because they could potentially debug/fix it locally themselves. It could also lead to PRs for

[2020-08-23 16:49] bzhu9 opened #6324 "Crashlytics website cant find app"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 11.6
  * Firebase SDK version: 6.3.0
  * Firebase Component: Crashlytics
  * Component version: 4.2.0
  * Installation method: CocoaPods

### [REQUIRED] Step 2: Describe the problem
I tried installing Firebase Crashlytics in my project following the steps listed in the docs. I brought in the Firebase/Crashlytics and Firebase/Anal

[2020-08-23 18:11] bzhu9 commented on #6324
I called a pod update and crashlytics was updated to 4.4.0 but this did not fix the error. The firebase console still shows "We’ll be listening for your app to communicate with our servers."

[2020-08-24 00:43] zhangcx627 commented on #6258
@maksymmalyhin Does this log from the previous versions?
`[BackgroundTask] Background Task 55 ("GDTTransformer"), was created over 30 seconds ago. In applications running in the background, this creates a risk of termination. Remember to call UIApplication.endBackgroundTask(_:) for your task in a timely manner to avoid this.`

[2020-08-24 01:03] #6150 closed

[2020-08-24 01:22] morganchen12 commented on #6324
Are there any errors from Crashlytics in your app's logs?

[2020-08-24 02:19] bzhu9 commented on #6324
There are no errors in the logs, in fact the app is able to find the crashlytic pod and print its version
`2020-08-23 21:34:54.723241-0400 BasicChat[37996:4854519] [Firebase/Crashlytics] Version 4.4.0`

There are other messages in the logs related to Analytics, but I'm pretty sure it doesn't affect Crashlytics from connecting
`2020-08-23 21:34:56.382874-0400 BasicChat[37996:4854679] 6.30.0 - [Fire

[2020-08-24 16:17] morganchen12 commented on #6324
Sounds like there's nothing wrong on your app's side. Can you [file a support ticket to look](https://firebase.google.com/support) into why it's not connecting to your app in Firebase console?

[2020-08-24 17:45] maksymmalyhin commented on #6258
@zhangcx627 Sorry for the slow response, I was off last week. Thank you for the update.

Yeah `GDTTransformer` background task ID is used in the new versions. Do you still experience the crash with the recent Firebase version? If yes, will it be possible to share the crash log or at least stack traces for all threads where Firebase or GDT is present?

Also, a sample project to reproduce the issue

[2020-08-24 18:26] eldhosembabu commented on #6316
@jyotigroomefy Glad you have figured out the issue. Will check with backend team and get you answers on API Key expirations soon

[2020-08-24 19:40] samedson commented on #5792
Related to https://github.com/firebase/firebase-android-sdk/issues/1512.

Thanks @rpendleton - that's the right advice (pass an empty string). We're going to stick with this behavior for now.

[2020-08-24 19:40] #5792 closed

[2020-08-24 23:04] makuchaku commented on #4563
Hi everyone,
Thank you for responding to the form. I have close the EAP form and will reach out to those who cited interest in participating. Cheers!

[2020-08-25 00:42] zhangcx627 commented on #6258
No, there is no crash, But there are just a lot of logs `[BackgroundTask] Background Task 55 ("GDTTransformer"), was created over 30 seconds ago. In applications running in the background, this creates a risk of termination. Remember to call UIApplication.endBackgroundTask(_:) for your task in a timely manner to avoid this.`

[2020-08-25 01:03] #6259 closed

[2020-08-25 03:22] Hesse-Huang commented on #5787
Same error. Looks like it occurs in my legacy projects.

[2020-08-25 04:00] pabloearg commented on #6308
@eldhosembabu
all links are causing this, (this link will no work in our production build, because now we are using branch.io)

[here is an example:](https://goalsettertest.page.link/dTh456BQPJfKUrvh6)

[2020-08-25 05:45] Alaakhodor commented on #6324
try to add Input Files to your Build script in Build phases, i think it will work.

![image](https://user-images.githubusercontent.com/34441403/91127625-518bc080-e6af-11ea-816f-41a92045c76c.png)

[2020-08-25 08:39] seki-ne opened #6327 "screen_view are tracked when app is not active in firebase 6.29.0"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 11.4.1
  * Firebase SDK version: 6.29.0, 6.30.0
  * Firebase Component: Analytics
  * Component version: 6.7.0
  * Installation method: `CocoaPods`

### [REQUIRED] Step 2: Describe the problem
i use background fetch.
`screen_view` are tracked when app is not active in firebase 6.29.0, 6.30.0
i also test  in 6.24.0 and `screen_vie

[2020-08-25 11:43] nathanvogel opened #6328 "FR: Add ServerTimestampBehavior option to FirebaseFirestoreSwift"
### Feature proposal

* Firebase Component: FirebaseFirestoreSwift.

These are the currently available methods to get data from a document, if FirebaseFirestoreSwift is installed:

![Screenshot 2020-08-25 at 11 16 03](https://user-images.githubusercontent.com/3106715/91156790-d503dc80-e6c4-11ea-98d3-04679fa4c044.png)

I would expect these additional methods, so that all use cases are covered:
[cod

[2020-08-25 12:52] bzhu9 commented on #6324
I was able to connect to the Firebase Console by forcing a crash as implemented here: https://firebase.google.com/docs/crashlytics/test-implementation?platform=ios#force_a_crash_to_test_your_implementation

[2020-08-25 12:52] #6324 closed

[2020-08-25 14:13] Swapnil-Gunla commented on #6039
@eburley Please let us know, if you need more information to debug this issue. Please consider this as urgent.

[2020-08-25 14:22] #3136 closed

[2020-08-25 14:29] paulb777 commented on #3136
We're starting a Swift Package Manager beta for Firebase. To use it select the Firebase GitHub repository - `https://github.com/firebase/firebase-ios-sdk.git` and `6.31-spm-beta`.

Limitations include:

- Requires at least Xcode 12 beta 4.
- SwiftUI Previews require Xcode 12 beta 5.
- Analytics requires clients to add `-ObjC` linker option.
- Analytics is only supported for iOS and cannot be used

[2020-08-25 15:21] morganchen12 commented on #6039
@Swapnil-Gunla can you try to isolate the issue? We're unable to make much progress on this crash without a way to reproduce the issue.

[2020-08-25 17:49] wilhuff commented on #6328
This is an oversight and we'll put this together. Thanks for pointing it out!

[2020-08-25 17:56] maksymmalyhin commented on #6258
@zhangcx627 Thank you for the update. I was not able to reproduce the issue on my end. I haven't detected anything obviously wrong in the implementation either.
I guess, there are some additional conditions to trigger the issue. Could you please provide a sample project and steps to reproduce the issue so we can make progress on it?

[2020-08-25 18:02] cvaghela commented on #6306
Can you reach out to [Firebase Support](https://firebase.google.com/support/troubleshooter/contact) with your GoogleService-info.plist and dSYM files that you're trying to upload?

[2020-08-25 19:58] nathanvogel commented on #6328
Glad to read it, thanks!

[2020-08-26 01:37] willbattel commented on #6194
Malcom, after further discussion, there are two things we would like to come from this discussion:

1. Improvements to documentation regarding dual FIRApp instances in order to more safely perform user merge in the event of conflict during anonymous upgrade. See related discussion here: https://github.com/firebase/firebase-ios-sdk/issues/5342#issuecomment-665146290

2. A deeper dive into the devic

[2020-08-26 05:02] seki-ne commented on #6327
i make a sample to reproduce it
https://github.com/seki-ne/myapp

[2020-08-26 07:50] dangthaison91 commented on #5956
It has been about 2 months, any updates on this issue @paulb777 We still looking to see good news from Firebase teams.

[2020-08-26 10:33] shahbazsaleem01 opened #6336 "Sign in with Apple | Invalid nonce"
### Environment

  * Xcode version: 11.6
  * Firebase SDK version: 6.24.0
  * Firebase Component: Auth
  * Component version: 6.5.3
  * Installation method: CocoaPods

### Problem with Apple Sign in
I'm getting the invalid nonce error even my nonce does match...

Code=17094 "The nonce in ID Token "8648160ed87a74ce1053994704012f7066c0a9fdce5cf2a8967fa19fd2082aa0" does not match the SHA256 hash of t

[2020-08-26 11:31] skipperprivate commented on #6301
2020-08-26 14:23:33.368732+0300 appname[687:176018] 6.29.0 - [Firebase/Core][I-COR000003] The default Firebase app has not yet been configured. Add `[FIRApp configure];` (`FirebaseApp.configure()` in Swift) to your application initialization. Read more: https://goo.gl/ctyzm8.
2020-08-26 14:23:33.494778+0300 appname[687:176018] 6.29.0 - [Firebase/Core][I-COR000001] Configuring the default app.
2020

[2020-08-26 14:39] paulb777 commented on #5956
@dangthaison91 Sorry about the delay. We haven't been able to find the bandwidth to dig too deep into this yet. Two things that would help:

- A sample app that demonstrates the `pre-main` times documented above
- Isolating the slow pre-main time to specific Firebase libraries

[2020-08-26 14:43] paulb777 commented on #6327
Thanks for the repro! Filed internally at b/166440923

[2020-08-26 15:15] elenadoty commented on #5182
We've added this API to a branch that should be going out in the next release.

[2020-08-26 15:15] #5182 closed

[2020-08-26 15:15] elenadoty commented on #5975
We've added this API to a branch that should be going out in the next release.

[2020-08-26 15:15] #5975 closed

[2020-08-26 15:27] paulb777 commented on #5182
Marked with the `6.32.0 - M79` milestone

[2020-08-26 15:58] morganchen12 commented on #6301
@skipperprivate are you calling `FirebaseApp.configure()` in your code? If so, and you're still getting the errors in these logs, you likely have duplicate Firebase classes in your app runtime.

[2020-08-26 16:05] morganchen12 commented on #6336
Maybe [this StackOverflow answer](https://stackoverflow.com/questions/59011314/cause-of-error-setting-up-sign-in-with-apple-for-firebase-ios13-swift) will help?

[2020-08-26 19:29] rebello95 opened #6339 "Error when archiving: Umbrella header for module 'GoogleUtilities' does not include header 'GULLoggerCodes.h'"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: `11.5`
  * Firebase SDK version: `6.31.0`
  * Firebase Component: `Auth` & `Core`
  * Component version: `FirebaseAuth (6.9.0)` & `Firebase/Core (6.31.0)`
  * Installation method: `CocoaPods` with `use_frameworks!` in the `Podfile`

### [REQUIRED] Step 2: Describe the problem

#### Steps to reproduce:

I'm running into some compi

[2020-08-26 20:20] gilrodar opened #6340 "Documentation Issue: Parameter 'selected_port[out]' not found in the function declaration 6.31.0"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 11.6
  * Firebase SDK version: 6.31.0
  * Firebase Component: Firestore
  * Component version: 1.17.0
  * Installation method: CocoaPods

### [REQUIRED] Step 2: Describe the problem

When you run the application, this message appears

"Parameter 'selected_port[out]' not found in the function declaration"
"Did you mean 'selected_p

[2020-08-26 20:32] paulb777 commented on #6339
@rebello95 Thanks for the thorough report. I'm able to successfully archive https://github.com/firebase/quickstart-ios/tree/master/authentication with Xcode 11.6 which should have the same Firebase pods as your example.

The numeric suffix in your log `GoogleUtilities-00567490` makes it look like something prevented GoogleUtilities from consolidating into a single library.

Some suggestions.

- Se

[2020-08-26 20:38] paulb777 commented on #6340
Might be worth another try to remove this `--allow-warnings`?  Since it catches this problem - https://github.com/firebase/firebase-ios-sdk/blob/master/.github/workflows/firestore.yml#L186

[2020-08-27 01:03] #6269 closed

[2020-08-27 01:03] #6071 closed

[2020-08-27 01:03] #5223 closed

[2020-08-27 01:13] paulb777 commented on #6222
I'm going to close this one since there are no clear next steps on our side. We can continue the conversation though.

[2020-08-27 01:13] #6222 closed

[2020-08-27 03:48] shahbazsaleem01 commented on #6336
I already checked this, but i'm already on latest version 6.5. However the signature in documentation and xCode is slightly different.

[2020-08-27 04:28] rebello95 commented on #6339
Thanks for the response @paulb777! I was able to simplify my project and create a small app that reproduces this issue. I think the key is that I have both a framework _and_ the main app in my `Podfile` both depending on one more more Firebase/Google pods.

**Here's the project: [GoogleUtilTest.zip](https://github.com/firebase/firebase-ios-sdk/files/5134038/GoogleUtilTest.zip)**

With the above pr

[2020-08-27 04:42] canfieldtim opened #6341 "import Firebase is not sufficient to define the FirebaseApp symbol in my build environment."
### [REQUIRED] Step 1: Describe your environment
  * Xcode version: 11.6 (11E708)
  * Firebase SDK version: 6.31.0
  * Firebase Component: Analytics
  * Component version: 6.8.0
  * Installation method: CocoaPods
  * macOS version: 10.15.6 (19G2021)

### [REQUIRED] Step 2: Describe the problem

'import Firebase' is no longer sufficient to define the FirebaseApp symbol in my build environment.  Usi

[2020-08-27 05:14] harryhiyoshi opened #6342 "Crashed: com.google.fira.worker EXC_BAD_ACCESS KERN_INVALID_ADDRESS"
### Step 0: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ please use the Feature Request template.
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the `firebase` tag.
  * For general (non-iOS) Firebase discussion, u

[2020-08-27 05:15] freddyholland commented on #6300
I fixed the problem by reverting the apps iOS version back 1 release.

[2020-08-27 07:16] shahbazsaleem01 commented on #6336
I fucked it up... sorry guys...
I was sending hashed nonce instead of raw nonce... my bad.

[2020-08-27 07:16] #6336 closed

[2020-08-27 10:22] StephanWalters commented on #6300
Major, minor or patch? Would you mind pasting the exact version code?

[2020-08-27 10:33] Rushang007 opened #6344 "Crashed: com.apple.main-thread EXC_BREAKPOINT 0x0000000104218738"
I use Firebase crash reporting (latest) in my app and get lots of same crash report and I am not able to fix this issue.because while I'm testing in its I'm not getting any crash but Firebase Show that Crash report.

Here is that Crash report and that is no issue with iOS

![Screenshot 2020-08-27 at 4 01 37 PM](https://user-images.githubusercontent.com/16713953/91431885-9f0a5800-e87e-11ea-9115-4e4

[2020-08-27 13:09] borut-t opened #6345 "FR: Excluding redundant packages"
### Feature proposal

I'm currently using a few packages from firebase (using cocoapods), here is the list:
[code]

Reviewing the `Podfile.lock` file reveals that there are multiple top-level packages installed that I didn't want. Just to name a few:
- FirebaseABTesting
- FirebaseInstallations
- FirebaseInstanceID
- GoogleAppMeasurement
- GoogleDataTransport
- ...

Now wondering if there is a way

[2020-08-27 14:26] paulb777 commented on #6345
@borut-t CocoaPods and Firebase do not install extra pods. If you search the `Podfile.lock` for any of the questioned pods, you'll see them indented under the pods that require them.

Firebase is architected with extra pods to increase code sharing, enable more granular installations, and decrease overall size.

[2020-08-27 14:26] #6345 closed

[2020-08-27 14:57] agergely opened #6349 "Zip builder binary framework generation does not support bitcode"
- Xcode version: 11.6
- Firebase SDK version: 6.27.0

I use Carthage and would like to build FirebaseFirestoreSwift. As mentioned in [#5287 ](https://github.com/firebase/firebase-ios-sdk/issues/5287) I am trying to use ZipBuilder.
Everything works great but when I try to create an archive build I get an error to bitcode support. So my question is how to support bitcode, when I build a binary frame

[2020-08-27 14:58] antoniovm commented on #1894
Here are the latest release notes for Android.
https://firebase.google.com/support/release-notes/android#analytics_v17-5-0

[2020-08-27 15:07] lorenzofiamingo opened #6351 "Add strongly typed query, sort and updates in Firestore"
### Feature proposal

* Firebase Component: Firestore

I hope this is not duplicate, and I think you already thought about this.
I think would be great to add these strong methods to FirestoreSwift, and use comparison operators.

I thought and tried by myself different approaches:

## Convert `KeyPath` to `String`
This as two problems:

1. `KeyPath` can be converted to `String` only if its Root is

[2020-08-27 15:14] dconeybe commented on #6340
Hi @gilrodar! The warning about `selected_port` is actually from one of Firestore's dependencies, specifically grpc. Here is where it comes from:

https://github.com/grpc/grpc/blob/dca24b8de56272111365a2a3521f59734da9990e/include/grpcpp/server_builder.h#L131

Please open an issue in the grpc repository so that the appropriate people can prioritize and address it. Since there is no action in this r

[2020-08-27 15:31] danilobuerger commented on #1894
Here is the blog post: https://firebase.googleblog.com/2020/08/google-analytics-manual-screen-view.html

Funny though that the post spells the plist key as `FirebaseAutomaticScreenReportingEnabled` but the SDK itself logs

[2020-08-27 15:38] paulb777 commented on #6339
See the [resolution](https://github.com/firebase/firebase-ios-sdk/issues/4087#issuecomment-545841819) in #4087.  Make sure that the GoogleUtilities subspecs match across the target.

Once that is resolved depending upon the structure of the app, there may be issues with multiple copies of Firebase pods linked in. See https://github.com/firebase/firebase-ios-sdk/blob/master/docs/firebase_in_librari

[2020-08-27 15:56] maksymmalyhin commented on #6342
@harryhiyoshi  The issue looks like a duplicate of #6318. Could you please try troubleshooting steps suggested in #6318 and update the thread.

[2020-08-27 16:03] ryanwilson commented on #6344
Hi @Rushang007,

It looks like this is an issue with your app and not the Firebase SDKs. It's possible (and very likely) that there are issues happening in your app that you are unable to reproduce. It's worth looking at the code mentioned in the crash report and see if there's anything that sticks out there, any assumptions you've made about data or a certain state of the app, etc.

Good luck in

[2020-08-27 16:03] #6344 closed

[2020-08-27 16:03] dconeybe commented on #6351
Hi @lorenzofiamingo! Thank you for taking the time to open a feature request with Firestore. This sounds like a good idea, but it's unclear to me what change to Firestore you are suggesting. Could you provide some or all of the following information to help me understand?

1. What class or classes would be affected?
1. What change would you like to see in these classes?
1. As a consumer of Firesto

[2020-08-27 16:08] morganchen12 commented on #6336
No problem, glad you were able to solve the issue!

[2020-08-27 16:31] Rushang007 commented on #6344
@ryanwilson  Thanks for Quick Reply

 But I want to know that I tested in many phones but there is no crash So I can't Debug it Can you please help me exactly what line my app crash. it's Crash App or Just Crash Code

[2020-08-27 16:33] allenktv commented on #1894
@danilobuerger Thanks for pointing that out, I have updated the docs to reflect the correct plist key and will be fixed in the next release!

[2020-08-27 16:34] danilobuerger commented on #1894
@allenktv So what is the correct plist key? `FirebaseAutomaticScreenReportingEnabled` or `FirebaseScreenReportingEnabled`?

[2020-08-27 16:35] allenktv commented on #1894
@danilobuerger `FirebaseAutomaticScreenReportingEnabled` is the correct one, although they will both work.

[2020-08-27 16:46] paulb777 commented on #6349
@agergely Thanks for the report A few follow up questions:

What Xcode version was the xcframework built with? What Xcode version is the app built with?

Does bitcode show in the binary. From this [stackoverflow post](https://stackoverflow.com/questions/32755775/how-to-check-a-static-library-is-built-contain-bitcode):

[code]

BTW, the build is faster with
`swift run ReleasePackager -templateDir $

[2020-08-27 17:00] lorenzofiamingo commented on #6351
Hi, thanks for the reply!

Query, Document Reference

New methods that avoid using raw strings

**Example 1**

    Firestore.firestore().collection("users").whereField("name", isEqualTo: "Sam")

will become

    Firestore.firestore().collection("users").query(User.self, where: \.name == "Sam")

or

    Firestore.firestore().collection("users", of: User.self).query(\.name == "Sam")

**Example 2**

[2020-08-27 17:14] morganchen12 commented on #6344
Hey @Rushang007, unfortunately Firebase staff does not have the bandwidth to provide personal debugging assistance into non-Firebase issues. You may find more help on a general programming forum like StackOverflow, but be aware that most other developers will not be able to effectively debug an issue in your code without any understanding of your codebase.

[2020-08-27 17:34] rebello95 commented on #6339
Thank you @paulb777! I had tried that previously with no luck, but when attempting it again it looks like I had missed one of the static frameworks which also used a Firebase pod in my `Podfile`. Adding the following to my `Podfile` fixed the issue, based on the suggestion in that issue:

[code]

I also read through the `Firebase in libraries` doc you sent over, and it looks like my setup should b

[2020-08-27 17:34] #6339 closed

[2020-08-27 17:34] #2107 closed

[2020-08-27 18:38] canfieldtim commented on #6341
Some additional info:

When the code has "import FirebaseCore" and just after performing a 'Clean Build Folder', Xcode complains "No such module Firebase".  However, that error is cleared upon running a build and both the QuickStart app and my app seem to work fine with the 'import FirebaseCore'.  See Screenshot.

<img width="1019" alt="Screen Shot 2020-08-27 at 2 32 12 PM" src="https://user-image

[2020-08-27 18:47] paulb777 commented on #6341
The `No such module 'FirebaseCore'` issue is the result of how CocoaPods and Xcode interact.  The Xcode source parser doesn't work correctly until after the FirebaseCore module gets built.

I appreciate the detailed steps, but still wasn't able to reproduce the `FirebaseApp` issue on Xcode 11.6.  One of my teammates will try to see if there's something different about our environments.

Two additi

[2020-08-27 19:07] dconeybe commented on #6340
Actually, my colleague @wilhuff pointed out to me that we *can* suppress this warning in Firestore using `SUPPRESS_DOCUMENTATION_WARNINGS_BEGIN` from https://github.com/firebase/firebase-ios-sdk/blob/bdf84c0a7ba928fa1e98658a90b8775f0ef96c95/Firestore/core/src/util/warnings.h#L72

I'll open a PR to make the required change to suppress the warning.

[2020-08-27 20:16] canfieldtim commented on #6341
Another quick update: After restarting Xcode 11.5 on the machine which I previously reported was working, the error "use of unresolved identifier 'FirebaseApp'..." is now happening on that machine.  The upgrade from Firebase 6.27.0 to 6.31.0 was done on that machine and then shared with the Xcode 11.6 machine through git.  That machine was able to build fine until the restart of Xcode.

Thanks for

[2020-08-27 20:30] #6340 closed

[2020-08-27 21:13] eldhosembabu commented on #5898
I've tried and was not able to reproduce the issue with https://github.com/firebase/quickstart-ios/tree/master/dynamiclinks using static frameworks from https://firebase.google.com/docs/ios/setup#frameworks.

Could you please provide a sample app project which is having this issue. It would be better if you can provide the quick start app with your changes in a temporary branch.

[2020-08-27 21:23] canfieldtim commented on #6341
More info:

Sometimes the build succeeds without having to import FirebaseCore.  Xcode still complains about the use of unresolved identifiers, but the build succeeds and the app launches.  Below I describe a pattern of builds failing or succeeding that is mostly reproducible.  But sometimes, maybe depending on whether or not I did a clean build or whether or not I has the "import FirebaseCore" in

[2020-08-27 21:31] paulb777 commented on #6341
Thanks for the continued investigation. It really sounds like something non-deterministic is going on.

Separate from the Xcode complaints, does a clean build ever fail?

[2020-08-27 22:43] canfieldtim commented on #6341
Yes, a clean build fails (unless I import FirebaseCore).

Sorry if my message wasn't clean.  Most builds fail.  My main goal was to convey that sometimes a build will succeed even though Xcode continues to complain.  I haven't yet determined a reliable pattern to this.  I've updated my previous comment to make it more direct.

[2020-08-28 01:03] #6272 closed

[2020-08-28 04:44] harryhiyoshi commented on #6342
No good results with sanitizer tool so far. I could only confirm that the crash never happened with disabling the monitoring tool.

I got following comments about the crash from the monitoring tool vender. Appreciate your help to stop the Crash in Firebase.

-It happens on draining an autorelease pool
-It occurs on a thread of firebase not associated with our agent threads
-Our agent only uses aut

[2020-08-28 04:56] StarLard opened #6357 "SPM can't find firebase dependencies"
### Step 0: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ please use the Feature Request template.
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the `firebase` tag.
  * For general (non-iOS) Firebase discussion, u

[2020-08-28 06:26] borut-t commented on #6345
@paulb777 I wouldn't be so sure about it. Let's check the `Podfile.lock` file:

[code]

So why I'm seeing root dependencies like`GoogleAppMeasurement` or `FirebaseABTesting` since I didn't specify them in Podfile?

[2020-08-28 06:29] Chesong-Lee-Hospii opened #6358 "Calling verifyPhoneNumber dismisses presented keyboard"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 11.6 (11E708)
  * Firebase SDK version: 6.5.0
  * Firebase Component: Auth (Auth, Core, Database, Firestore, Messaging, Storage, etc)
  * Component version: 6.5.0
  * Installation method: `CocoaPods`

### [REQUIRED] Step 2: Describe the problem
Calling `PhoneAuthProvider.provider().verifyPhoneNumber(...` when a keyboard is presen

[2020-08-28 06:35] auro-ganesh opened #6359 "Crash: FIRRemoteConfig.m line 601 - [FIRRemoteConfig setDefaultsFromPlistFileName:namespace:] + 601 (FIRRemoteConfig.m:601)"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 11.4
  * Firebase SDK version & Firebase Component:
[code]
  * Installation method: `CocoaPods`

### [REQUIRED] Step 2: Describe the problem

Getting plenty of crashes on FIRRemoteConfig.m line 601

#### Steps to reproduce:

What happened? How can we make the problem occur?
Random crashes occurs, not able to reproduce it in debug

[2020-08-28 07:03] Rushang007 commented on #6344
hey @morganchen12, thanks for Reply

I can understand what you trying to say but I had check everywhere but some form have no answer that issues and also check in apple developer community but no answer found. what I think Crash means it will break some line on code in IDE, but this issue has no break anywhere also I tried in many devices but no breakdown. So why firebase increases that issue in C

[2020-08-28 09:07] agergely commented on #6349
@paulb777 Thanks for your reply.

The framework and the app were built with the same version: XCode 11.6

Thanks for the suggestion. I've checked the tool and got the same result as you.

[code]
And

[code]
But I still cannot make a successful archive build. Do you have any idea?

[2020-08-28 13:29] coulonb opened #6360 "Unable to install FirebaseAnalytics Xcode 12 with SPM"
### **[REQUIRED] Step 1: Describe your environment**

  * Xcode version: 12.0 beta 6
  * Firebase SDK version: Branch 6.31-spm-beta
  * Firebase Component: Firebase, FirebaseCrashlytics, FirebaseAnalytics
  * Component version: 6.31
  * Installation method: SPM

### **[REQUIRED] Step 2: Describe the problem**
Hi,
I try to install FirebaseAnalytics from the SPM, and after compiling an error appears

[2020-08-28 13:51] paulb777 commented on #6345
`GoogleAppMeasurement` is a dependency of `FirebaseAnalytics`. `FirebaseABTesting` is a dependency of `FirebaseRemoteConfig`.

[2020-08-28 13:52] ryanwilson commented on #6358
Hi @Chesong-Lee-Hospii - thanks for the report and sorry for the issues you're seeing!

Firebase has received quite a few updates since 6.5.0 - are you able to reproduce this issue on the latest Firebase version?

Thanks!

[2020-08-28 14:09] ryanwilson commented on #6357
Thanks for the report @StarLard - there were a few issues with the copy/pasted code (like a missing `)` to close the `.target(` but after I cleaned it up I was able to reproduce the issue. I'm not sure exactly why that's the case though, it looks like that should be the correct default name: https://github.com/apple/swift-package-manager/blob/96b0ff907fdd4d91fcd207f4c49aae4fce1d9ec5/Sources/Packag

[2020-08-28 14:36] ryanwilson commented on #6357
Follow up:

It looks like this is working as intended based on this package resolution code:
https://github.com/apple/swift-package-manager/blob/6f469cf0c7c03591ac0723baa134b5d42855e3c1/Sources/PackageGraph/PackageGraphLoader.swift#L327-L338

(shout out to Swift Package Manager for being open source).

I'm going to post on the forums asking about this because it's unclear to me what this means if

[2020-08-28 14:47] NordicBat commented on #5569
So, no final solution yet?
Looks like some managed with some hacks and workarounds, but the same hack doesn’t work for others

[2020-08-28 14:58] maksymmalyhin commented on #6342
@harryhiyoshi Thank you for the update. Yeah, so far everything points out to a potential issue on the Firebase side. There are couple things I would like to ask you to help with the investigation:

1. An issue with autorelease pool (a memory management in general) may occur because of incorrect bridging between CoreFoundation, Objective-C and Swift types. Could you please check what parameters ar

[2020-08-28 15:25] ryanwilson commented on #6360
Hey @coulonb - sorry for the issues you're seeing.

I'm unable to reproduce this on both device and simulator. Can you please try creating a brand new project, following the [installation steps](https://github.com/firebase/firebase-ios-sdk/blob/master/SwiftPackageManager.md#installation) and seeing if you still run into the issue?  Also, is this an iOS/iPadOS app, or does it target a different pla

[2020-08-28 15:28] harryhiyoshi commented on #6342
Thank you for the comment. Though it is not possible to reproduce, what sample app do you need? Is it enough with an app including both the monitoring tool and Firebase?

[2020-08-28 15:31] paulb777 commented on #6359
@auro-ganesh Sorry to hear about the crashes. Would you confirm that version 4.9.0 of RemoteConfig is actually the version that is crashing?  The [referenced line](https://github.com/firebase/firebase-ios-sdk/blob/release-6.30.0/FirebaseRemoteConfig/Sources/FIRRemoteConfig.m#L601) does not have any associated code.

[2020-08-28 15:34] auro-ganesh commented on #6359
@paulb777 Crash observed in RemoteConfig version 4.9.0 and older

[2020-08-28 15:50] paulb777 commented on #6359
Ah, it's not actually line 601. It's 601 bytes after the start of `setDefaultsFromPlistFileName:namespace:`.

There be a problem in how the app's `updateViewValues` method calls the RemoteConfig method.

[2020-08-28 15:57] paulb777 commented on #6341
I wonder if there's an Xcode race condition and Xcode tries to build the app code before it builds FirebaseCore? Will you check the timestamps in the build log when it fails to see if that's the case?

The timestamp shows up if you hover over a compile line in the Xcode build log:

![Screen Shot 2020-08-28 at 8 56 41 AM](https://user-images.githubusercontent.com/73870/91588043-6c0ea580-e90c-11ea-8

[2020-08-28 15:59] maksymmalyhin commented on #6342
We will need a sample app where the crash was reproduced at least once.

[2020-08-28 16:02] StarLard commented on #6357
Thanks for the quick reply Ryan! I'll give that a try.

[2020-08-28 16:04] auro-ganesh commented on #6359
@paulb777 App calling `updateViewValues` from viewWillAppear.

[code]

[2020-08-28 16:20] wilhuff commented on #6345
Note that top-level entries in Podfile.lock don't necessarily correspond to root dependencies. What it shows you is a two-level listing capturing the pods included by the project and their dependencies. Many of these entries are not mentioned in your Podfile; they come in as dependencies of those entries.

None of the dependencies implied by adding a Firebase package to your Podfile are optional.

[2020-08-28 16:22] morganchen12 commented on #6359
The cause of the crash is likely invoking RemoteConfig fetch from a non-main thread: `DispatchQueue.global(qos: .background).async`

Further investigation required to figure out exactly what's happening, but can you try removing the background queue dispatch and seeing if it fixes the crash?

[2020-08-28 16:33] matthieuchappaz opened #6362 "Firebase ML: Support for Swift Package Manager"
### Step 1: Describe your environment

  * Xcode version: 12.0 beta 5
  * Firebase SDK version: Branch 6.31-spm-beta
  * Firebase Component: Firebase ML
  * Component version: 6.31
  * Installation method: Swift Package Manager

### Step 2: Describe the problem

As described by @paulb777 [here](https://github.com/firebase/firebase-ios-sdk/issues/3136#issuecomment-680060085), Firebase ML is not sup

[2020-08-28 16:35] canfieldtim commented on #6341
I think you have a good theory.  The build fails in just a few seconds, so the 1 minute granularity of the hover timestamp may not be revealing, but I included a screenshot below.

Given that I am intermittently able to coax a successful build out of it, I think there may be some left over state from a previous build, combined with something like a race condition like you theorized that may be int

[2020-08-28 16:38] borut-t commented on #6345
I am aware of that but it still confuses me why `FirebaseABTesting` for an example is included as a dependecy of `FirebaseRemoteConfig`. It should be added as a standalone pod if needed, not as a dependency of another one.

AB testing is smth firebase offers, but we don't use it at all. So why bundling it with remote config?

[2020-08-28 16:41] paulb777 commented on #6341
Yep, it always succeeds for me. I haven't been able to reproduce.  However, I'm still on 10.15.5 so it might be exposed by 10.15.6

Just the fact that your log shows the app build before building FirebaseCoreDiagnostics is concerning since FirebaseCoreDiagnostics is a dependency of FirebaseCore ...

[2020-08-28 17:07] paulb777 commented on #6345
@borut-t The specific dependency of `FirebaseRemoteConfig` on `FirebaseABTesting` was done for expediency. It's been under consideration for separation, but hasn't been a priority since the `FirebaseABTesting` code is relatively small. Feel free to open another issue specifically for that one.

There is already an active project to remove the `FirebaseInstanceID` dependency from `FirebaseMessaging

[2020-08-28 17:25] paulb777 commented on #6341
Does it make a difference to disable Parallel Builds?

![Screen Shot 2020-08-28 at 10 24 36 AM](https://user-images.githubusercontent.com/73870/91595655-c150b400-e918-11ea-8f3c-13158f065818.png)

[2020-08-28 17:27] canfieldtim commented on #6341
Here are three screen shots of the build log.  The first with the Debug configuration, which failed.  The next two with the Release configuration, which succeeded.  The different components show up in a different order across the two builds.  I can't tell if this is relevant.

Debug Build:
<img width="1272" alt="Screen Shot 2020-08-28 at 1 16 13 PM" src="https://user-images.githubusercontent.com/6

[2020-08-28 17:29] borut-t commented on #6345
I'm just worried a bit how many other dependencies are included de-facto, but could be moved into standalone.

Thanks @paulb777 for detailed explanation.

[2020-08-28 17:39] canfieldtim commented on #6341
Disabling parallel builds does not seems to change the outcome.  Debug build still fails for QuickStart and Release build succeeds.

<img width="1270" alt="Screen Shot 2020-08-28 at 1 33 45 PM" src="https://user-images.githubusercontent.com/65051502/91599137-d38c1b80-e933-11ea-8148-b4bfe28fb9bb.png">

[2020-08-28 17:54] paulb777 commented on #6341
I'm wondering if https://github.com/firebase/firebase-ios-sdk/pull/5884/files exposed this.

Does it make a difference if you go back to a Firebase version before that change like 6.27.0?

[2020-08-28 19:42] Chesong-Lee-Hospii commented on #6358
Hey @ryanwilson - updated to 6.31.0 - still seeing this issue.

[2020-08-28 19:50] canfieldtim commented on #6341
I had been using 6.27.0 prior to this week without any issues.

[2020-08-28 19:52] joshuapoq commented on #6200
Agreed. The docs for GTM are awful and its name conflicts with "Google Toolbox for Mac". Who comes up with naming at Google? Also SwiftPM support and documentation wouldn't go amiss.

[2020-08-28 20:39] paulb777 commented on #6349
@agergely Sorry about the inconvenience and thanks for the report.

I was able to reproduce the issue, track down a fix, and successfully archive an app with the rebuild FirebaseFirestoreSwift.xcframework.

See #6366

[2020-08-28 20:40] paulb777 commented on #6341
@canfieldtim Thanks for all of your help tracking this down!  I'm hopeful that #6367 will be a fix.

[2020-08-28 20:51] agergely commented on #6349
@paulb777 Thank you so much, it sounds great!
I am excited about your MR and I'm waiting for it to try it out.

[2020-08-28 21:03] allenktv commented on #6327
@seki-ne Thanks for the report!

In version 6.24.0, the manual `screen_view` was not implemented yet, so it makes sense that it doesn't get logged, however I saw that the automatic `screen_view` was logged back in the old version, as well as the new one, so there is no regression there.

In terms of why the `screen_view` event was being called in the first place: I saw that the OS calls `viewDidAp

[2020-08-28 21:03] #6327 closed

[2020-08-28 21:19] morganchen12 commented on #6327
Maybe a good way to resolve this issue would be to log screen_view with application state, so in BigQuery you could filter out screen_view events where the app was not active.

[2020-08-28 21:22] paulb777 commented on #6200
Since Google Tag Manager is not part of Firebase, I'm going to close. Please follow up at the [Google Tag Manager support site](https://support.google.com/tagmanager?utm_source=marketingplatform.google.com&utm_medium=et&utm_campaign=marketingplatform.google.com%2Fabout%2Fsupport%2F&hl=en#topic=3441530).

[2020-08-28 21:22] #6200 closed

[2020-08-28 21:24] harryhiyoshi commented on #6342
Understood, thank you. Can I sent it to you not here but with a secure way to keep all privacy?

[2020-08-28 21:25] #6341 closed

[2020-08-28 21:31] #6349 closed

[2020-08-28 21:32] maksymmalyhin commented on #6342
@harryhiyoshi Sure, feel free to use my email mmaksym@google.com for it.

[2020-08-28 21:33] morganchen12 commented on #6220
Thanks @brennobemoura, I'll discuss the other feature requests you filed with the team and update there instead of on this issue.

[2020-08-28 21:33] #6220 closed

[2020-08-28 21:37] morganchen12 commented on #6148
Hey @brennobemoura, unfortunately this is part of a larger Firebase limitation and we recommend using separate projects for dev and prod. If you'd like to avoid doing that, you can filter out Analytics events from App Distribution builds by carefully choosing special build numbers for App Distribution only.

[2020-08-28 21:37] #6148 closed

[2020-08-28 22:28] dbaroncelli commented on #5928
Do we have any update on this?
In particular I would like to ask if there is a way to use Firebase Analytics and AdMob (but without targeted ads!) without requesting the IDFA and having to show the permission prompt.

[2020-08-28 22:43] paulb777 commented on #4599
@leisurehound Is this still needed/planned?

[2020-08-28 22:47] leisurehound commented on #4599
So, I've implemented around the need for this, tho this pushes more cognitive load on the client to use the solution.  I'm about to release the library on GitHub next week, so can we look at adoption and/or pushback on whether a more seamless solution to the client developer is warranted?

[2020-08-28 22:49] paulb777 commented on #4599
So you mean leave this open pending feedback on next week's release?

[2020-08-28 22:50] leisurehound commented on #4599
yes, if that is possible.

[2020-08-28 22:58] paulb777 commented on #4599
SG - let me or @ryanwilson know if you'd like to come back to this. There have been some Interop structural changes since this PR was created.

[2020-08-28 22:59] leisurehound commented on #4599
hmm...maybe it would be better then to just start a new PR if the need warrants it.

[2020-08-28 23:01] paulb777 commented on #4599
Perhaps. Maybe close #4600 and leave this feature request open?

[2020-08-28 23:02] leisurehound commented on #4599
ah, yes, we can close that PR.  Will do so now.

[2020-08-28 23:58] paulb777 commented on #6304
Filed internally at b/166840987

[2020-08-29 00:04] rosalyntan commented on #5964
Hi @emilioschepis, thanks for filing this issue! Firebase Auth APIs are asynchronous by design, and blocking the main thread to wait for the completion of `getIDToken` is not advised. May I ask what you are trying to accomplish by synchronizing the retrieval of the ID token? Can you achieve what you want by putting whatever is waiting for the semaphore into the completion block instead?

[2020-08-29 00:45] rosalyntan commented on #5747
This has been added in #6142

[2020-08-29 00:45] #5747 closed

[2020-08-29 02:01] morganchen12 commented on #5928
You can use Firebase + AdMob and serve ads without the advertising identifier, but expect to see decreased ad revenue. The AdMob docs for iOS 14 can be found [here](https://developers.google.com/admob/ios/ios14).

[2020-08-29 02:07] dbaroncelli commented on #5928
so, can you confirm that Firebase Analytics doesn't require IDFA, and we don't need to state our app is using it when we publish to the AppStore?

[2020-08-29 05:51] emilioschepis commented on #5964
Hi @rosalyntan, here is my use case:

I am using the Apollo iOS library to make GraphQL requests to a server, and I send the user's current Firebase JWT token to authenticate.

As you can see [from the docs](https://github.com/apollographql/apollo-ios/blob/main/docs/source/initialization.md#example-advanced-client-setup), headers for each request are defined in a delegate method.

Unfortunately th

[2020-08-29 07:10] long1eu opened #6371 "Wrong brief on field"
https://github.com/firebase/firebase-ios-sdk/blob/90a1aff41dbb45778e828b39cb51fe4fe7874631/FirebaseAuth/Sources/AuthProvider/GameCenter/FIRGameCenterAuthCredential.h#L53

I'm doing a port to Dart so I thought it would be nice to flag stuff that I found along the way. :D

[2020-08-29 13:45] pedped commented on #5599
we have same problem in Iran, my app reports crashes to server very well, but before three days ago, there was no report and after investigation, I found that it works well with VPN.

I am using latest google Firebase Crashlytics . hope that fixed soon

[2020-08-29 14:19] paulb777 commented on #6371
Thanks for the report! Fixing in #6372.

[2020-08-29 18:41] agergely commented on #6349
I've tested and It is working. Thank you so much again for the quick fix!

[2020-08-29 21:02] EthanHannah commented on #6360
I am also getting this error.

When I try to install on my iPhone I get:
[code]

When I try to run on simulator I get:
[code]

[2020-08-30 03:37] richlowenberg commented on #4393
Is it correct to assume that if we're using the prebuilt UI, there's no way to retrieve the displayName?

[2020-08-30 04:23] garyhooper commented on #5032
Any solution to this? It's been at least 6 months without a fix.

[2020-08-30 19:56] willbattel commented on #5928
Just for 100% clarity, if we do not want to use the IDFA in iOS 14, all we have to do is forgo the ATT framework and the Firebase SDK will operate with no issues other than decreased revenue and reduced attribution data?

[2020-08-31 02:00] cozelight opened #6373 "Crash: [APMScreenViewReporter trackScreenWithParameters:timestamp:]"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version:  11.6
  * Firebase SDK version & Firebase Component:
[code]

### [REQUIRED] Step 2: Describe the problem
Getting plenty of crashes on [APMScreenViewReporter trackScreenWithParameters:timestamp:]

#### Steps to reproduce:

What happened? How can we make the problem occur?
Random crashes occurs, not able to reproduce it in debug.

[2020-08-31 02:29] morganchen12 commented on #5928
In the latest version of Analytics, yes. Older versions aren't aware of the zeroed out IDFA and will treat it as a normal advertising identifier, which probably won't cause any issues, but is not ideal.

[2020-08-31 04:15] StarLard opened #6374 "SwiftUI Previews Not Working When Using Analytics via SPM"
### Step 0: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ please use the Feature Request template.
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the `firebase` tag.
  * For general (non-iOS) Firebase discussion, u

[2020-08-31 04:16] StarLard commented on #6374
Possibly related issue? https://github.com/firebase/firebase-ios-sdk/issues/6360#issuecomment-683341572

[2020-08-31 06:02] yogesh-nykaa commented on #5898
@eldhosembabu It seems this issue has been fixed in the updated firebase sdk, but it was not working on older firebase sdk. We can close this now.

[2020-08-31 06:02] #5898 closed

[2020-08-31 06:29] StarLard commented on #6374
Tried removing `FirebaseAnalytics` dependency from my package, but still getting the 'GoogleAppMeasurement can't find plist' error when loading preview even after removing analytics.

[2020-08-31 08:21] Baza207 opened #6375 "SwiftUI Previews wont run"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: Xcode 12.0 beta 6 (12A8189n)
  * Firebase SDK version: 6.31.0
  * Firebase Component: FirebaseAnalytics
  * Component version: 6.8.0
  * Installation method: Zip file

### [REQUIRED] Step 2: Describe the problem

#### Steps to reproduce:

Since Xcode 12 b5 (and now b6) SwiftUI previews do not run. Running on a device seems to wor

[2020-08-31 08:22] Baza207 commented on #6375
Possibly related to #6374 and/or #6219.

[2020-08-31 09:53] shengyang998 commented on #5837
Hello, is there any investigation going on? I'm facing the same issue here.

Not like @uson1x , however, this is an inappropriate behavior due to our privacy policy.

If it cannot be fix in a reasonable time, maybe a removal of firebase framework shall be necessary.

[2020-08-31 10:19] Abrahanfer commented on #5928
Will Firebase Analytics request ATT Authorization in future versions or Are we responsible, as developers, to request that authorization?

[2020-08-31 13:38] auro-ganesh commented on #6359
@morganchen12 Will check and update here.

[2020-08-31 13:42] #6371 closed

[2020-08-31 13:55] paulb777 commented on #6374
@StarLard Thanks for the report. This looks very similar to #6360 which we haven't been able to reproduce. Are you able to share a reproducible example?

For the most recent comment, it seems that the Xcode project has lingering references to `GoogleAppMeasurement`. Can you search and remove any of them?

[2020-08-31 14:00] paulb777 commented on #6375
Thanks for the report. It could also be related to #5562.

[2020-08-31 14:35] paulb777 commented on #6341
Firebase 6.31.1 is now published on CocoaPods with the fix.

[2020-08-31 15:07] morganchen12 commented on #5928
Analytics will never automatically request ATT authorization. It's up to you to decide whether or not access to the advertising identifier is critical to your business and request the required permissions if necessary.

[2020-08-31 15:08] dconeybe commented on #6351
Hi @lorenzofiamingo. We will be discussing and considering this feature request internally. Thank you for taking the time to write it up. I have no ETA but I will update this issue once I have an update (in the next 2-3 weeks).

[2020-08-31 15:09] morganchen12 commented on #5928
@dbaroncelli Analytics does not require the IDFA. If you don't link AdSupport, you don't need to fill out the App Store questionnaire.

Firestore and Auth have never depended on the advertising identifier, and will continue to not require IDFA access in future versions.

[2020-08-31 15:25] ryanwilson commented on #6374
Thanks for the report, I was able to reproduce this one! It works in the simulator but previews are broken, meaning it's different from #6360. Will try with the other package managers as well, but for now here's what I did:

1. Create a blank SwiftUI only iOS project using Xcode 12 b6.
2. Add FirebaseAnalyitcs as a SwiftPM dependency.
3. In `ContentView.swift`, add `import Firebase` and replace th

[2020-08-31 15:26] ryanwilson commented on #6375
This looks to be the same as #6374, so I'll close this and use that as the issue to track it since it was opened first. I've written a summary and a repro in [this comment](https://github.com/firebase/firebase-ios-sdk/issues/6374#issuecomment-683849163). Thanks for the report!

[2020-08-31 15:26] #6375 closed

[2020-08-31 15:27] ryanwilson commented on #6374
As noted in #6375 this happens in Zip file as well, so it must be related to the framework itself and how Xcode tries to run it.

[2020-08-31 15:30] ryanwilson commented on #6360
Thanks for the extra info @EthanHannah.

@coulonb can you follow the same steps to see if that helps for you? Restarting, cleaning the build folder, and reinstalling the app?

If that doesn't help you, we'll likely need a project or steps to reproduce the issue in order to make further progress. Hopefully that helps get you unblocked, though!

[2020-08-31 16:13] paulb777 commented on #6374
A workaround is adding arm64 to the Excluded Architectures Build Setting. Thanks to https://developer.apple.com/forums/thread/656509?answerId=627644022#627644022.

![Screen Shot 2020-08-31 at 9 10 22 AM](https://user-images.githubusercontent.com/73870/91741854-294a0900-eb6a-11ea-9d09-6fedb617757a.png)

[2020-08-31 16:45] ryanwilson commented on #6219
I was able to reproduce this issue and the workaround works for me as well.

Steps to reproduce:

1. Create a new SwiftUI iOS project in Xcode 12 b6. *Make sure to check the "Include Tests" box. Close the Xcode window.
2. `cd` into the directory, run `pod init`.
3. Add `pod 'FirebaseCore'` to the `Podfile`.
4. Run `pod update`.
5. Open the `.xcworkspace` generated from CocoaPods.
6. Edit the schem

[2020-08-31 16:48] ryanwilson commented on #6219
@brandtdaniels hope you don't mind that I changed the title to make it easier to find for folks, and more accurately state the issue. Thanks again for the report.

[2020-08-31 17:19] StarLard commented on #6374
@paulb777 To be clear, adding `arm64` is a workaround for the `_OBJC_CLASS_$_FIRAnalytics` error right? This workaround does not resolve the `GoogleAppMeasurement` issue for me.

[2020-08-31 17:21] StarLard commented on #6374
Yup, this was the case. I had to completely remove and reinstall Firebase from my project to get it to remove. Clearing package caches did not work.

[2020-08-31 21:25] #6306 closed

[2020-08-31 21:47] morganchen12 commented on #6373
Looks like a potential threading issue in `APMScreenViewRecorder`. May be reproducible with

[code]

Further investigation required to determine the root cause.

[2020-08-31 22:12] JavanPoirier commented on #2011
+1

[2020-09-01 03:21] Karthikdp92 commented on #4493
Still facing this issue for our App. Below are the details which can help to know more
Firebase (6.28.1)
FirebaseDatabase (6.4.0)

Note: Crash occurrences are not happening in background

`Fatal Exception: FirebaseDatabasePersistenceFailure
Error initializing persistence: Error Domain=APLevelDBErrorDomain Code=0 "IO error: /var/mobile/Containers/Data/Application/B32798E8-62C4-4957-BA03-F684EE9E517

[2020-09-01 05:58] harryhiyoshi commented on #6342
Hi @maksymmalyhin,
Thank you for your support. As for #1, either NSTaggedPointerString, __NSCFNumber or __NSCFString is used as parameter.
As for #2, I understand a sample is needed to investigate though, it is difficult to reproduce actually. We tried it for 2 days, but we couldn't. The crash rate is not so high but the impact is high since we have massive number of users.
Appreciate your help.

[2020-09-01 06:57] willbattel opened #6380 "FR: Add property to InAppMessagingAction to indicate if primary action button"
### Feature proposal

* Firebase Component: In-App Messaging

The `InAppMessagingCardDisplay`  has two action buttons, `primaryActionButton` and `secondaryActionButton`. We're trying to configure a new campaign that uses Cards with these two buttons. However, we have to set the behavior of the buttons at runtime. We cannot simply drop URLs into the Firebase Console because the actions are dependen

[2020-09-01 09:59] volmus commented on #5837
@ryanwilson
Any updates on this? We're facing the same issue.

As @shengyang998 mentions, this is also unacceptable for us due to our privacy policy.

[2020-09-01 10:24] cvoronin commented on #5792
As for me, it could be nice to have a method like `clearUserId()` - in this case there will be no need pass an empty string

[2020-09-01 11:47] Neilfau commented on #6360
I also have the same issue, I have Firebase Analytics as a dependency of another package that add to my main project. I get the following error when I try to run the app on device or simulator and ive tried all the Xcode tricks with derived data, restarting devices etc.

`Details

Unable to install "FirebaseExample"
Domain: com.apple.dt.MobileDeviceErrorDomain
Code: -402653103
--
Could not inspect

[2020-09-01 12:13] ryanwilson commented on #5837
Hey folks, thanks for commenting. I'll get a more detailed answer soon, but a few things to note here:

The APIs that show `crashlyticsreport-pa` are for Crashlytics reporting.

Re: the strings not being found in the source code, they're there just harder to find to avoid abuse from bots scanning GitHub: https://github.com/firebase/firebase-ios-sdk/blob/fa7b3f9e7e247edfdd79ef9054a5112285c88d28/Goo

[2020-09-01 12:21] ryanwilson commented on #6360
@Neilfau sorry for the troubles. Are you able to reproduce it by creating a blank project and adding the dependency there? If it does, please let us know what steps you took so we can reproduce it. Without being able to reproduce it on our end we likely won't be able to help much more. Thanks!

[2020-09-01 13:05] shengyang998 commented on #5837
Thank you for your information @ryanwilson . I will dig deeper with those.

In my case:
The exact API is `none`.

We use Cocoapods to integrate Firebase framework, and configure it with `:configurations => ['AppStore']`. However, we did not exclude it from compiling.
The version is:

    Firebase/Analytics (6.29.0)
    Firebase/Core (6.29.0)

The tested app is built with `Release` and not `AppStor

[2020-09-01 13:11] Neilfau commented on #6360
@ryanwilson with a blank project the app runs but crashes shortly after starting. I get the error:
`-[__NSCFString apm_UTF32Length]: unrecognized selector sent to instance 0x280267dc0`

[2020-09-01 13:19] ryanwilson commented on #5837
Thanks for the quick reply @shengyang998.

To confirm, you don't call `FirebaseApp.configure()`, correct? There are definitely calls inside of `+load` that are needed for Analytics to be able to get helpful Analytics data for your product. If you need to ensure that analytics aren't being sent to FirebaseAnalytics during startup, please use the [`FIREBASE_ANALYTICS_COLLECTION_ENABLED`](https://fir

[2020-09-01 13:19] Neilfau commented on #6360
@ryanwilson to clarify though that was a blank project with a local swift package dragged into the project with firebase as a dependency of that. Im now going to just add firebase as a dependency of the blank project and check that works.

[2020-09-01 13:25] ryanwilson commented on #6360
Thanks @Neilfau - the crashing issue sounds like you [need to add the `-ObjC` linker option](https://github.com/firebase/firebase-ios-sdk/blob/master/SwiftPackageManager.md#limitations).

[2020-09-01 13:26] Neilfau commented on #6360
@ryanwilson ah yeah good point forgot to add that for the blank project.

[2020-09-01 13:40] Neilfau commented on #6360
@ryanwilson ok can confirm it works if Firebase is a dependency of a local package and if added to a blank project locally by dragging the package into Xcode and also if the firebase package is added to project directly. I have also added the package with the firebase dependency remotely and it also works fine, so I think the error is possibly related to having a project with 2 different packages

[2020-09-01 13:46] shengyang998 commented on #5837
Thanks @ryanwilson I will try those keys.

Yes, I didn't call `FirebaseApp.configure()`

To be clear, if I want to disable all automatic network request for Firebase and FirebaseAnalytics, I need to set `FirebaseDataCollectionDefaultEnabled` to false in Info.plist.
And it won't cause automatic data collection if `FirebaseDataCollectionDefaultEnabled` is set to false.
If I want to enable data colle

[2020-09-01 13:49] ryanwilson commented on #6360
Ah, so you're saying your setup has dependency `Foo` which depends on Firebase, and dependency `Bar` which also depends on Firebase, and you think they're both being included? At first thought that shouldn't be happening since Swift Package Manager's dependency resolution should catch that, but also the error would be a duplicate symbols error instead of the above error.

Can you reproduce the abo

[2020-09-01 13:49] Neilfau commented on #6360
@ryanwilson not sure if I explained that well enough by my app structure is as follows:

Package A - dependencies: **Firebase Package** (FirebaseCore, FirebaseDatabase) & **Package B**
Package B - dependencies: **Firebase Package** (FirebaseAnalytics)

Xcode Project - dependencies: **Package A**

[2020-09-01 13:51] ryanwilson commented on #6360
@Neilfau makes sense, thanks. If you add those dependencies in the blank project (if possible), does the error happen for you still?

[2020-09-01 14:05] Neilfau commented on #6360
@ryanwilson ive added firebase package (FirebaseCore, FirebaseDatabase) to the blank project and have also added the test package which has firebase (FirebaseAnayltics, FirebaseCore) as dependency also and the project builds and runs fine. The next thing im going to try is making a second package with a firebase dependency and adding both packages to the blank project and see what happens.

[2020-09-01 14:19] maksymmalyhin commented on #6342
Thank you for the update. We will try to find possible reasons of the issue on our side. A couple more things that may help the investigation:
- would you be able to send a full crash log. It may contain some additional clues. Feel free to send it privately to  firebase-ios-sdk-issue6342@google.com
- could you check if your app or one of it's dependencies uses `objc_sync_enter` and `objc_sync_exit

[2020-09-01 14:21] daihovey commented on #5964
+1 Having the same issue.

[2020-09-01 17:54] maksymmalyhin opened #6383 "GoogleDataTransport: reduce public API to required minimum"
As originally to separate GoogleDataTransport SDKs where merged into one we can cleanup the public API surface to keep only API actually useful for clients and hide any implementation details such [GDTCORStorageProtocol](https://github.com/firebase/firebase-ios-sdk/blob/fa7b3f9e7e247edfdd79ef9054a5112285c88d28/GoogleDataTransport/GDTCORLibrary/Public/GoogleDataTransport/GDTCORStorageProtocol.h#L32

[2020-09-01 18:11] eldhosembabu commented on #6316
The API key is not having any expirations as such. The key will get expired only if gets deleted or regenerated manually.

Let us know if you see otherwise.

Closing this bug since the issue is resolved.

[2020-09-01 18:11] #6316 closed

[2020-09-01 19:07] ryanwilson commented on #5837
Correct, the global key `FirebaseDataCollectionDefaultEnabled` is likely what you want. It is newer and controls *all* automatic data collection in Firebase SDKs, not just the Firebase Analytics SDK. Then once a user has opted in, or whatever control you're using, you can set the `dataCollectionDefaultEnabled` runtime property to `true` and it will persist across app launches for that device.

[2020-09-01 19:15] fosterbrereton opened #6384 "How do I add custom values to a crash report after the fact?"
### Step 1: Describe your environment

  * Xcode version: 11.6
  * Firebase SDK version: 6.28.2
  * Firebase Component: Crashlytics
  * Component version: 4.3.0
  * Installation method: `Zip file`

### Step 2: Describe the problem

Prior to the SDK update, it was possible to delay the reporting of the crash so a user could be asked for more specifics (e.g., whether they want to send the crash in t

[2020-09-01 20:06] harryhiyoshi commented on #6342
Hi @maksymmalyhin , Thank you for your investigation and  updates. I have posted a full stacktrace to the email address. I hope it may help you. As for #2, I will check it later.

[2020-09-01 20:16] maksymmalyhin commented on #6342
@harryhiyoshi Thank you. From the first glance I could not spot anything suspicious in the call stack. I'll pass it to Firebase Analytics team for investigation.

[2020-09-01 20:23] fosterbrereton commented on #6384
I think I solved my own problem. By setting `[FIRCrashlytics.crashlytics setCrashlyticsCollectionEnabled:NO]`, _automatic_ reporting is disabled, requiring that I later call `checkForUnsentReportsWithCompletion` after I have added any custom keys to the crash report. The `setCrashlyticsCollectionEnabled` API name is misleading, as it sounds like all collection is disabled when set to `NO`, when in

[2020-09-01 20:23] #6384 closed

[2020-09-01 20:25] maksymmalyhin commented on #6342
Tracked internally at b/167426485

[2020-09-02 01:25] daihovey commented on #5964
@emilioschepis A (terrible) internal workaround (we haven't launched yet) is to save the accesstoken locally per session on login - hoping we can find a better approach soon.

[2020-09-02 01:51] yingpaihuai commented on #5223
Same issue

[2020-09-02 02:10] yingpaihuai commented on #5223
Same issue there,For iOS 14,we have to update it. when update  'Firebase/Analytics' to 6.31.0,It happens.
And it's very ofen,now this is our top one main thread block.Please try to fix it.

Sdk version：
'Firebase/Analytics' 6.31.0
Google-Mobile-Ads-SDK (>= 7.55.0)

Key Stack Info Below：

Thread 0:
0   libsystem_kernel.dylib          0x188acb93c kevent_id (in libsystem_kernel.dylib) + 8
1   libdisp

[2020-09-02 03:44] cozelight commented on #6373
Hi @morganchen12, Thank you for your investigation.
I log `AnalyticsEventScreenView` by myself because I want to showing logs on firebase crashlytics console. But before migrated to firebase from fabric, it can showing `screen_view` logs automatic without manual log. Do you know why? Is there configurations I missed?

[2020-09-02 04:15] cozelight opened #6391 "Crash: disk writes, exceeding limit of 12.43 KB per second over 86400 seconds"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 11.6
  * Firebase SDK version & Firebase Component:
[code]

### [REQUIRED] Step 2: Describe the problem

#### Steps to reproduce:

What happened? How can we make the problem occur?
I receive many disk write logs from APP Analytics Data, It may be `GDTCORFlatFileStorage` cause.  And I use `FIRTrace` frequently in my app.

#### Rel

[2020-09-02 07:20] yingpaihuai opened #6392 "[APMIdentity appInstanceID] main thread block"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 11.6
  * Firebase SDK version: 6.31.0
  * Firebase Component: Analytics (Auth, Core, Database, Firestore, Messaging, Storage, etc)
  * Installation method: CocoaPods

### [REQUIRED] Step 2: My Question
Same issue there,For iOS 14,we have to update it. when update 'Firebase/Analytics' to 6.31.0,It happens very ofen.now this is our

[2020-09-02 08:27] coulonb commented on #6360
@ryanwilson @EthanHannah Restarting, clean everything seems to be not the solution for me. I will tried with a new starter project and back to you.

[2020-09-02 08:29] Neilfau commented on #6360
Ok I completely recreated the same structure with a blank project and it works on both device and simulator so I'm no closer to finding the cause of the issue unfortunately. In my actual project I get this additional error when trying to run on a simulator compared to running on my device:

[code]

[2020-09-02 08:59] emilioschepis commented on #5964
@daihovey thanks for the tip. I'm still in the prototyping phase and my backend database (Hasura) supports a combination of admin secret and role so I can simulate being any user I need. As you said, however, these workarounds won't be secure enough for production so let's hope an official fix or workaround will come soon.

[2020-09-02 09:30] harryhiyoshi commented on #6342
Hi @maksymmalyhin,

The app: Yes
A library(RxSwift): Yes
The 3rd party monitoring tool: No

I hope it may help your investigation.

[2020-09-02 09:49] coulonb commented on #6360
Like @Neilfau, after created new project with exactly the same structures (same, lib, versioning,..) I've again the same problems. (Same issue that him for simulator)

[2020-09-02 10:01] Neilfau commented on #6360
@ryanwilson think I've tried everything now & I still cannot recreate the issue with a blank project. I have now instead of adding the package that has the firebase analytics as a dependency to my second package, I have just added the firebase analytics to the target dependencies of the second package and that builds and runs. So for now I'll have use Analytics framework directly rather than havin

[2020-09-02 11:12] dbaroncelli commented on #5928
@morganchen12 can you please explain what it means to "link AdSupport" ?
I am currently using the standard AdMob configuration through Firebase.
Does it mean I am currently linking AdSupport?
I would like to keep using AdMob but without IDFA. How do I remove the link to AdSupport?

[2020-09-02 11:44] Neilfau commented on #6360
@ryanwilson unfortunately that didn't work either ... soon as I add the target dependency:
 `.product(name: "FirebaseAnalytics", package: "Firebase")` I get the error when trying to run the app, if I comment it out it runs again.

[2020-09-02 11:51] danh-geo opened #6393 "Dynamic Links (Universal links) on iOS13 not always working"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 11.6
  * Firebase SDK version: 6.28.1
  * Firebase Component: Dynamic Links
  * Component version: 6.28.1
  * Installation method: CocoaPods

### [REQUIRED] Step 2: Describe the problem

#### Steps to reproduce:

Dynamic Links are not working consistently on iOS13. We have a number of our customers complaining about the issue and

[2020-09-02 12:34] jesusmateos1234 commented on #6360
The problem with GoogleAppMeasurement.plist also it's reproduced with Carthage

[2020-09-02 13:35] coulonb commented on #6360
Same issue concerning the simulator. I thought maybe there was a cache conflict with cocoapods because I had installed FirebaseAnalytics before with this pod. Everything is clean and cached, Pods are completely remove from the project so it's a possibility that has been ruled out.

`Details

This app was unable to be installed.
Domain: IXUserPresentableErrorDomain
Code: 2
--
Failed to load Info.pl

[2020-09-02 13:57] maksymmalyhin commented on #6342
If `objc_sync_...` methods are used in your app, I highly recommend to refactor the code to avoid using the methods (and/or contact the library owner to do it). As mentioned in  #5998 the methods are not intended to be used directly and proved to lead to issues.

[2020-09-02 14:04] paulb777 commented on #6392
Revival of #5223. Tracked internally at b/152743115.

[2020-09-02 14:30] maksymmalyhin commented on #6391
@cozelight Sorry you encounter the issue and thank you for the provided details.

Could you please check the following things to isolate the issue:

- there are samples not attributed to Firebase in the provided report, `SensorsAnalyticsSDK` and `JPUSHFileCacheController ` in particular. Could you try to reproduce the issue without them to check if it is Firebase alone, another dependency or combi

[2020-09-02 14:38] paulb777 commented on #6360
@Neilfau @coulonb Is there anything different about Build Settings between the new project and the project that demonstrates the issue?

Are you able to incrementally add to the new project or remove from the broken project to isolate what triggers the problem?

If anyone can share a reproducible example, it would be helpful.

[2020-09-02 15:45] coulonb commented on #6360
@paulb777 I looked carefully line by line and I saw nothing that changes in the build settings.
I'm trying to recreate the bug on a new project but for the moment impossible to reproduce.
And to get the things that trigger the problem in the broken project I would have to know what's going on too.
I'm still looking...

[2020-09-02 16:09] morganchen12 commented on #5928
If you're using AdMob you're likely using AdSupport as well. I'm not sure if you can remove AdSupport in that case--you may want to ask [AdMob support](https://support.google.com/admob/gethelp).

[2020-09-02 16:16] morganchen12 commented on #6373
Screen views are logged automatically by default. If you want to log them manually, you should set the `FirebaseAutomaticScreenReportingEnabled` key to NO in your Info.plist file.

[2020-09-02 17:45] elenadoty commented on #6125
We've started using a new reporting pipeline which should resolve this problem - make sure to use the newest SDK version and clean the app's cache.

[2020-09-02 17:45] #6125 closed

[2020-09-02 19:28] diegoveloper commented on #5333
Any news about this issue? :/

[2020-09-02 20:42] willbattel commented on #6380
Can someone on the FIAM team let me know if I'm thinking about this correctly or if I've misunderstood something? I find it hard to believe that FIAM cannot be used with URLs inserted at runtime- preventing usage in all use cases that can't use static URLs (which I'd imagine to be the majority of use cases).

[2020-09-02 22:44] christibbs commented on #6380
@willbattel Hey, this is Chris from the FIAM team. Just to get my head wrapped around your use case-- are you mostly showing in-app messages on app foregrounding, or ones that are triggered by custom analytics events?

[2020-09-02 23:10] willbattel commented on #5928
Unfortunately that support link just dumps you into the community forum where I doubt other users are going to confidently be able to answer this. Is there not a Firebase/AdMob dev that can be cc'd to answer this?

I have a Production support role in GCP but AdMob isn't one of the options listed under Firebase- which doesn't necessarily surprise me, but does make it difficult for us to find someon

[2020-09-02 23:19] willbattel commented on #6380
Currently it's mostly triggered by custom analytics events while the app is in use, rather than upon the app becoming active.

On a different tangent, another quick question:

Is the only different between:

`Analytics.logEvent("event_name")` (no custom parameters)

and

`InAppMessaging.inAppMessaging().triggerEvent("event_name")`

that Firebase Analytics won't record the latter?

[2020-09-02 23:30] willbattel commented on #6380
Let me also provide a more clear use case example. Let's say the app session flows like the following series:

1. App launches, session start
2. User navigates to product page
3. User purchases product
4. After completed purchase, trigger FIAM message to suggest another product using a recommendation ML model.
5. User is taken to other product or dismisses message.

We would need to insert the URL

[2020-09-03 02:56] #6342 closed

[2020-09-03 07:16] shengyang998 commented on #5837
Thanks a lot, it seems to me that the issue is been fixed. At least I hope so.

[2020-09-03 08:12] mattia opened #6398 ""upload-symbols" triggers security alert"
* Xcode version: 11.6 (11E708)
  * Firebase SDK version: 6.31.0
  * Firebase Component: FirebaseCrashlytics (Auth, Core, Database, Firestore, Messaging, Storage, etc)
  * Component version: 6.31.0
  * Installation method: `Carthage`

### [REQUIRED] Step 2: Describe the problem
Running the `upload-symbols` script trigger a Gatekeep alert and does not allow to continue.
Alert shows:

This problem ca

[2020-09-03 08:21] Neilfau commented on #6360
@paulb777 I couldn't see anything in the build settings and ive tried adding other packages incrementally but not class files as its a big project and would take me a long time and don't think that would have anything to do with it anyway and I have only one class that imports FirebaseDatabase and one class for analytics.

[2020-09-03 14:45] mattia commented on #6398
Forgot to mention: the `upload-symbols` used is from the [master branch as of today](https://github.com/firebase/firebase-ios-sdk/blob/master/Crashlytics/upload-symbols)

[2020-09-03 14:54] entotsu commented on #6360
I succeed to avoid this problem by stopping to install `FirebaseAnalytics`. (and `-ObjC` )

---

Below set is not work for me.

[code]

[2020-09-03 15:04] danh-geo commented on #6393
Hi @ryanwilson thanks for assigning @eldhosembabu
I appreciate you will look at this issue once you get to it. However is there any chance you could provide an estimate of when you or someone might look into it? As mentioned we have a live app affecting our customers currently with this issue. Again I appreciate you have other issues/features to work on, but if you could provide an indication of w

[2020-09-03 15:24] cozelight commented on #6391
Hi @maksymmalyhin , Thank you for your investigation.
- each `UIViewController ` own a `FIRTrace ` instance, and `start` at `loadView`, `stop` at `viewDidLoad`
- I try to reduce, unfortunately, it's continue crash
- and I try to disable the firebase data collection, it's crash too, but not `disk writes` event, instead of `wakeup`
- I also suspect SensorsAnalyticsSDK and JPUSHFileCacheController, b

[2020-09-03 15:30] cozelight commented on #6391
@maksymmalyhin there is another crash log about wakeup, I disable firebase data collection, only enable crashlytics collection.  but `GDTCORFlatFileStorage` has a high percentage QoS, its confused me

[code]

[2020-09-03 15:59] morganchen12 commented on #5928
AdSupport is listed as a `weak_framework` in the GoogleMobileAds [podspec](https://github.com/CocoaPods/Specs/blob/master/Specs/5/9/a/Google-Mobile-Ads-SDK/7.64.0/Google-Mobile-Ads-SDK.podspec.json#L50) and is not required in the [manual install instructions](https://developers.google.com/admob/ios/quick-start#manual_download), so it's not required for serving ads with AdMob.

[2020-09-03 16:00] jserrafindster commented on #5956
Not sure if might be related but,

i'm also having an issue happening randomly with launch time sometimes taking over 10 to launch. I tried to analyze it and found it coming from Firebase's configureapp. I was able then to pause the code when this happen to see where the code was running.

I dont have it in text but heres the screenshot
![Screenshot 2020-09-03 at 16 57 24](https://user-images.gith

[2020-09-03 16:41] christibbs commented on #6380
Yes, that's the only difference. The in-app message display behavior will be the same.

[2020-09-03 16:46] maksymmalyhin commented on #6391
@cozelight Thank you for the update.

`GDTCORFlatFileStorage` is a part of GoogleDataTransport SDK which is used by several Firebase SDKs including Performance and Crashlytics to send data in batches to Firebase backend. Crashlytics sends a check-in data each app startup, I think this is the reason why you can see `GDTCORFlatFileStorage` traces in the report along with other app activities.

[2020-09-03 16:49] christibbs commented on #6380
OK. That clears things up for me. You're right that you've reached the limits of our API with this case. We have the `messageClicked(_:with:)` callback for developers that want to handle clicks themselves, but as you mentioned there's no way to tell which button was clicked if you can't rely on the button text.

Adding `isPrimaryAction` would solve your use case, but I wonder if adding an identifi

[2020-09-03 16:57] paulb777 commented on #6295
@ryanwilson Should we add a public API to return the current Firebase version?

[2020-09-03 17:09] maksymmalyhin commented on #6342
@harryhiyoshi An update on if the issue was fixed for you is appreciated. It will definitely help us and other developers if they encounter a similar issue.

[2020-09-03 17:32] adamvduke commented on #6398
Hi @mattia,

Can you provide the output of `codesign -dv --verbose=4 ./MyProject/Firebase/upload-symbols`?

[2020-09-03 17:38] maksymmalyhin commented on #5956
@jserrafindster It looks like a separate issue. Could you please create a separate ticket for it? From the first glance it looks like an issue with an excessive amount of requests sent by Firebase Installations in the case of Firebase miss-configuration which was fixed in #6232. If it looks different, let's continue the discussion in a separate ticket.

[2020-09-03 17:52] willbattel commented on #6380
I agree. I only suggested the boolean for its simplicity- but having a canonical identifier would be more versatile. Thanks for looking into it!

[2020-09-03 17:55] mattia commented on #6398
[code]

[2020-09-03 18:57] ap4996 opened #6401 "Crash on iOS when starting the app."
### Please fill in the following fields:
Unity editor version: 2018.4.17f1
Firebase Unity SDK version: 6.15.2
Source you installed the SDK (.unitypackage or Unity Package Manager): .unitypackage
Firebase plugins in use (Auth, Database, etc.): Auth, Database, Analytics, Crashlytics, Messaging
Additional SDKs you are using (Facebook, AdMob, etc.): Facebook, Google Play Services, Sign In With Apple,

[2020-09-03 19:11] paulb777 commented on #6401
@chkuang-g RTDB does use leveldb, but based on the call stack here, it looks to be called by the C++ function `RuntimeInvoker_FalseSByte_t9070AEA2966184235653CB9B4D33B149CDA831DF(void ()(), MethodInfo const, void*, void**)`

[2020-09-03 19:32] ap4996 commented on #6401
Aditional SDKs also include GameAnalytics. Forgot to mention that.

[2020-09-03 20:20] vinicius-animo commented on #6393
I'm facing the same issue, which [was already reported](https://github.com/firebase/firebase-ios-sdk/issues/4914) and closed without any real solution.

My last attempt to solve it was to implement the missing `scene` handlers for deepLinks (code below, objC), but that did not work.

I also have a live app with firebase password-less email login, and this issue adds a ton of friction to it (and on

[2020-09-03 21:44] chkuang-g commented on #6401
@paulb777 That is called from Unity's IL2CPP framework (see `Il2CppInvokerTable.cpp`)
Since this callstack start from `thread_start`, this can be some thread created by...any SDK.

@ap4996 Does it work if you switch to Mono?

[2020-09-04 00:16] paulb777 commented on #6318
I'll close this for now based on the suggestions here and #6342. We can reopen or create another issue for recurrences.

[2020-09-04 00:16] #6318 closed

[2020-09-04 00:57] paulb777 commented on #6360
Thanks for checking @coulonb @Neilfau. Unfortunately, we're stalled on our end until we can get a reproducible example.

[2020-09-04 02:48] canfieldtim commented on #6341
@paulb777 This seems to fix it and things build as expected with 6.31.1 in my environment.  Thanks!

[2020-09-04 07:45] danh-geo commented on #6393
@vinicius-animo Thanks for your feedback.

I can confirm I also tried the SceneDelegate implementation and it did NOT work either unfortunately. The affected devices still showed the same issue. I wasn't convinced it would make a difference anyway since we have a number if iOS 13 devices which work fine for our dynamic link, and some devices that don't. And as described above, on the affected devi

[2020-09-04 08:33] simonmaddox commented on #5928
We use Firebase for Crashlytics and for Analytics events. We don't link AdSupport, or use the IDFA.

Based on my reading of [Apple's webpage on User Privacy and Data Use](https://developer.apple.com/app-store/user-privacy-and-data-use/), we would have to ask for permission to track. Is this understanding correct?

As someone that doesn't know the inner workings of Google's data collection, this se

[2020-09-04 09:52] eikSchli commented on #5837
In our project we have the same issue.

We want to use the Firebase Remoteconfig and still be able to turn tracking (user behavior statistics) dynamically on and off.
So we cannot avoid using „_FirebaseApp.configure()_“.

After the newest updates on this Thread, we made following adjustments to our code:

In the **info.plist,** we set :

**FirebaseDataCollectionDefaultEnabled: false**

as our defa

[2020-09-04 12:30] jserrafindster opened #6403 "App Launch time excessive requests"
### Describe your environment

  * Xcode version: 11.3.1
  * Firebase SDK version: 6.21.0
  * Installation method: CocoaPods

### Describe the problem
The issue doesn't seem to happen always.
Sometimes when launching the app the app can take more than 10 seconds to reach the home screen.

While this issue was happening I was able to pause the code and do some debug.
Seems firebase is delaying the

[2020-09-04 14:04] puneet-egym opened #6404 "Crashes and Non-Fatals are not getting logged"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 11.6 (11E708)
  * Firebase SDK version: 6.31.0
  * Firebase Component: Crashlytics
  * Component version: 4.5.0
  * Installation method: Carthage

### [REQUIRED] Step 2: Describe the problem

The crashes and non-fatals are not getting logged in the firebase console.
The crash is produced using `fatalError()`
The non-fatals are lo

[2020-09-04 14:43] paulb777 commented on #6341
@canfieldtim Thanks for confirming and thanks again for the assistance tracking it down!

[2020-09-04 22:50] jjfmarket commented on #5787
In my case, I was getting this error in my automation pipeline after setting up a new app. I had to enable crashlytics from the firebase crashlytics web dashboard (both ios and android!) to enable uploads.

I think the error message could use a little refinement in this case.

[2020-09-05 00:26] hechukwu commented on #5032
Any solution to this? would gladly get one

[2020-09-05 06:12] Chesong-Lee-Hospii commented on #6358
Solved issue by playing `becomeFirstResponder` within the `viewDidAppear` code

[2020-09-05 06:12] #6358 closed

[2020-09-05 09:53] AustinConlon commented on #6100
[Details for app privacy questions now available](https://developer.apple.com/news/?id=hx9s63c5).

[2020-09-05 10:29] hechukwu commented on #3242
Any update on this?

[2020-09-05 22:18] willbattel opened #6405 "FIAM delegate calls messageDismissed instead of messageClicked if button action is to dismiss"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 11.6
  * Firebase SDK version: 6.30.0
  * Firebase Component: In-App Messaging
  * Component version: 0.23.0
  * Installation method: CocoaPods

### [REQUIRED] Step 2: Describe the problem

When using a Card message with two buttons, both of which set in the Firebase Console to use dismiss as the action, FIAM never calls the `mes

[2020-09-05 22:33] willbattel commented on #6380
@christibbs because of #6405 it would probably be best if we could set the `actionURL` programmatically. The ability to set the URL at runtime would solve both issues, I believe.

I think the most straightforward API would be a new delegate function, something like `prepare(for inAppMessage: InAppMessagingDisplayMessage)` for example. Such a function would allow the app to configure message proper

[2020-09-06 21:22] JavanPoirier commented on #4550
Hello folks, I got Crashlytics working on tvOS without Cocoapods or XCFramework bundles. You can read the story here: https://medium.com/@Javan.Poirier/integrating-firebase-crashlytics-for-tvos-without-cocoapods-or-xcframework-support-a8f4b389c7c2

[2020-09-07 05:44] zhangcx627 commented on #6258
Verrrrrrrrry sorry about late reply. This is the demo. Please change the keys in GoogleService-Info.plist first.
Use Xcode 12.0 beta6 build and use iOS14 Device not simulator.
If this log doesn't appear, please switch front and back sometimes. It will appear.
My app will have this log when I switch to the background for the first time

[FBDemo.zip](https://github.com/firebase/firebase-ios-sdk/file

[2020-09-07 05:53] trr-amsiq opened #6406 "GoogleSignIn crash"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 11.6
  * Firebase SDK version: 6.31.0
  * Firebase Component: Auth
  * Component version: 6.31.0
  * Installation method: Carthage

### [REQUIRED] Step 2: Describe the problem

iPad Pro running iOS 13.6

App crashes on iPad when sign in with google is successful with
``` with Actions added to UIAlertController of style UIAlertAct

[2020-09-07 07:48] lisindima opened #6407 "Error archiving project with SPM: Symbols tool failed"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: `12.0 Beta 6`
  * Firebase SDK version: `6.31-spm-beta`
  * Firebase Component: `Crashlytics, Analytics`
  * Component version: `6.31.0`
  * Installation method: `Swift Package Manager`

### [REQUIRED] Step 2: Describe the problem

I installed Firebase via SPM using the [instruction](https://github.com/firebase/firebase-ios-sdk/b

[2020-09-07 08:24] skipperprivate commented on #6301
Yes, I am. Why do these duplicates cause errors?

[2020-09-07 08:37] DenTelezhkin opened #6408 "Unable to use Firebase Crashlytics with Mac Catalyst app when installed using SPM"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 12.0 beta 6
  * macOS Catalina 10.15.6
  * Firebase SDK version: branch 6.32-spm-beta
  * Firebase Component: Crashlytics
  * Component version: 6.32-spm-beta
  * Installation method: Swift Package Manager

### [REQUIRED] Step 2: Describe the problem

When trying to use FirebaseCrashlytics in macCatalyst app, following compilatio

[2020-09-07 08:49] nomoth commented on #5928
Hi @morganchen12 ,

We need to link AdSupport as we work with many Ad providers.
So we will integrate ATT and ask for consent.
But do we need to obtain user consent before initializing the Firebase Analytics SDK?

Thanks

[2020-09-07 09:12] puneet-egym commented on #6404
More logs:

2020-09-07 11:08:26.236506+0200 TrainerApp[23050:18047682] 6.31.0 - [Firebase/Crashlytics][I-CLS000000] [Crashlytics] Running on iOS Simulator (iPad), 13.6.0 (19F101)
2020-09-07 11:08:26.243392+0200 TrainerApp[23050:18047682] 6.31.0 - [Firebase/Crashlytics][I-CLS000000] Automatic data collection is enabled.
2020-09-07 11:08:26.243520+0200 TrainerApp[23050:18047682] 6.31.0 - [Firebase/C

[2020-09-07 09:34] deanPGM commented on #6407
It doesn't fix the issue, but you can work around this step by unchecking the `Upload your app's symbols to receive symbolicated reports from Apple` option on the page prior.

[2020-09-07 09:55] deanPGM opened #6409 "Unable to upload to ASC with SPM - Error ITMS-90171: "Invalid Bundle Structure""
* Xcode version: `12.0 beta 6 (12A8189n)`
  * Firebase SDK version: `6.32-spm-beta`
  * Firebase Component: `FirebaseAnalytics, FirebaseCrashlytics`
  * Component version: `6.32.0`
  * Installation method: `Swift Package Manager`

### [REQUIRED] Step 2: Describe the problem

I have added Firebase to an existing iOS project and attempted to upload to App Store Connect. During the upload phase, the

[2020-09-07 10:12] mattia commented on #6398
Can I provide additional information to help the process?

Thanks! Have a nice day

[2020-09-07 14:13] paulb777 commented on #6409
This is likely a duplicate of #6360. Are you able to run on a device?  We're still looking for how to reproduce.

[2020-09-07 14:14] paulb777 commented on #6408
@DenTelezhkin Thanks for the report. Your suggestions sounds reasonable. We'll investigate more deeply this week.

[2020-09-07 14:31] deanPGM commented on #6409
Thanks for the quick reply.

Yes, it runs on device fine, and I'm seeing the expected output in the Firebase console.

I'll experiment and see if I can reproduce in a blank project.

[2020-09-07 15:54] enquel commented on #6217
@morganchen12 how can I apply the fix for GA for Unity? Which is obviously abandoned?

[2020-09-07 17:15] morganchen12 commented on #6301
See [this StackOverflow answer](https://stackoverflow.com/questions/60753233/the-default-firebaseapp-instance-must-be-configured-before-the-defaultfirebaseap/61352175?noredirect=1#comment111575298_61352175)

[2020-09-07 17:16] morganchen12 commented on #6406
You need to set a title on your view controller before it can be used as the presenting view controller.

[2020-09-07 17:38] salami commented on #6393
I'm having the same problem. Dynamic links worked fine a few days ago and now on the same devices the link will not open directly to the app but rather show the preview.page.link and then either go nowhere (in the case of email link signup) or go to the app store and not the app (in the case of my other dynamic links).

[2020-09-07 23:45] deanPGM commented on #6409
I have integrated Firebase with a different project of mine, and can't reproduce. I'll investigate further and see what it is about this particular project that caused it.

[2020-09-08 00:22] coolcool1994 commented on #5376
@dmandar

Is there any update? Below code creates the dynamic link: https://example.page.link/asdfj, but it always opens the app if the app is installed. Should open the browser!!

const response = await request({
                method: 'POST',
                url: 'https://firebasedynamiclinks.googleapis.com/v1/shortLinks?key=API_KEY',
                body: ({
                    dynamicLinkInfo

[2020-09-08 00:27] coolcool1994 opened #6410 "Dynamic link created by REST API always opens the app, not browser"
I created dynamic link successfully using Cloud Functions in index.ts environment, but it doesn't behaves correctly only in iOS platform.

Using below code, I get a dynamic link like "https://example.page.link/asdbaf. When I click on this, I want it to open the browser as the url or long link (https:/example.com) is a url in the website (it would make no sense to open the web url in the app). In A

[2020-09-08 03:44] morganchen12 commented on #5928
@nomoth You do not need to present the ATT prompt before initializing the Analytics SDK.

@simonmaddox Analytics will only combine your users' data with data from other apps if access to the advertising identifier is granted. Crashlytics' crash data is not used for advertising, and is thus not combined with any other third-party applications or services.

[2020-09-08 05:08] trr-amsiq commented on #6406
@morganchen12 It does not help

[2020-09-08 07:44] shengyang998 commented on #5837
I came back, @ryanwilson
Nope, it seems setting FirebaseDataCollectionDefaultEnabled to false in info.plist and toggle dataCollectionDefaultEnabled at runtime cannot disable all network request.
The request is sent to firebaselogging-pa.googleapis.com as @uson1x posted.

[2020-09-08 10:27] puneet-egym commented on #6404
This binary seems to be working:
`binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseCrashlyticsBinary.json"  == 6.27.0`

**Crashlytics version: 4.2.0**

[2020-09-08 11:32] ryantstone opened #6413 "Missing SCNReachability in Test Bundle"
### Step 0: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ please use the Feature Request template.
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the `firebase` tag.
  * For general (non-iOS) Firebase discussion, u

[2020-09-08 13:23] ryanwilson commented on #6409
One thing to check: are those libraries somehow added to the "Copy Bundle Resources" build setting? Seen by clicking your project name in the Xcode navigator, your app's target name, then clicking "Build Phases". That seems to be a common issue when getting that error message, although I'm not sure how they would have ended up there.

[2020-09-08 13:25] ryanwilson commented on #6407
Can you please hit "Show Logs" and share whatever you can there? Without logs or a reproduction I'm not sure what else we can do to help debug. Thanks!

[2020-09-08 13:30] deanPGM commented on #6409
Hi @ryanwilson - I can confirm they are not part of the "Copy Bundle Resources" phase, one of the first things I checked.

[2020-09-08 14:09] maksymmalyhin commented on #6403
@jserrafindster Thank you for creating the issue. To check if it is the same issue as the one fixed in #6232 could you please enable [debug mode](https://firebase.google.com/docs/analytics/debugview#enabling_debug_mode) and post the app logs you see when the issue is reproducible. Feel free to filter non-Firebase logs.

[2020-09-08 15:40] ryanwilson commented on #5928
It looks like Apple finally released the list of explicit items that are required to be disclosed: https://developer.apple.com/support/app-privacy-on-the-app-store/

We'll be looking at this closely and get an answer ASAP for each product.

[2020-09-08 16:17] michael-braley commented on #5787
We were having similar problems and found the following Xcode Run Script Build Phase works reliably.
**${PODS_ROOT}/FirebaseCrashlytics/upload-symbols  -bp**
The -bp switch is for --build-phase which we found from running $upload-symbols --help in a terminal. That help documentation says the following about the command line arguments -bp, --build-phase
"Build Phase Mode is meant to be run as an Xc

[2020-09-08 16:17] maksymmalyhin commented on #6258
@zhangcx627 Thank you for the provided project. I could get the ` ("GDTTransformer"), was created over 30 seconds ago...`  console message only after generating a big amount (more than 10) Performance traces in the background. In this case the background tasks were successfully finished in the expiration handler which is an expected behaviour and should not lead to an app crash.

I'll take a look

[2020-09-08 16:40] rencsaridogan commented on #6092
Is there any thought given into this? Please do kindly let me know.

[2020-09-08 17:00] samedson commented on #6128
Hey folks wanna reach back out. Are people still running into this? Haven't heard an update yet from my end but want to see if this is still impacting folks to see if we should look into a workaround.

[2020-09-08 17:10] ryanwilson opened #6415 "Investigate if `GCMSenderID` is still a required parameter."
### Feature proposal

* Firebase Component: Core

Investigate if `gcmSenderID` is still a required parameter for `FirebaseOptions`. It's currently in the default initializer but may not be needed after IID is no longer a requirement.

[2020-09-08 17:11] ryanwilson commented on #6415
Related to #4692

[2020-09-08 17:19] ryanwilson commented on #5897
Follow up for this: for Firebase 7 we should make sure that all completion handlers are called on the main thread for RC.

[2020-09-08 17:24] morganchen12 commented on #6406
Can you share a project that reproduces this issue?

[2020-09-08 17:26] christibbs commented on #6380
Hmm, I like the idea of `prepare(for inAppMessage: InAppMessagingDisplayMessage)`, it has recognizability from [prepare(for:sender:)](https://developer.apple.com/documentation/uikit/uiviewcontroller/1621490-prepareforsegue) and it unlocks a lot of other potential use cases (different background color for light mode/dark mode for example).

We would have to change all of the properties on message o

[2020-09-08 17:29] morganchen12 commented on #6413
The test passes if commented out because the linker strips unused symbols. Can you try adding SystemConfiguration.framework to the Link Binary with Libraries part of your test target's Build Phases?

[2020-09-08 17:31] christibbs commented on #6405
Hey Will, we're aware of this and handling it across both our SDKs-- another developer pointed it out on the [Android SDK](https://github.com/firebase/firebase-android-sdk/issues/1603).

[2020-09-08 17:35] ryantstone commented on #6413
It does build when adding it. Thank you.

[2020-09-08 17:38] ryanwilson opened #6416 "Remove all Deprecated APIs at Firebase 7"
For the next major version change, we should be removing all currently deprecated APIs from the public interface.

[2020-09-08 17:51] morganchen12 commented on #6413
Closing this issue since it seems to be resolved, let me know if you need any more help.

[2020-09-08 17:52] ryanwilson opened #6417 "Firebase 7: Remove deprecated MLKit pods from umbrella header"
For Firebase 7, remove the deprecated MLKit pods from the umbrella header and Firebase pod (subspecs).

[2020-09-08 18:12] eldhosembabu commented on #5333
Seems like a feature request. Will pass the internal bug (b/157240716)to product team to prioritize.

[2020-09-08 18:22] eldhosembabu commented on #5333
Also could you please share a sample FDL link for us to check where you have used the social meta tag parameters

[2020-09-08 18:55] paulb777 commented on #6092
@rencsaridogan Sorry that I have no progress to report.

[2020-09-08 19:05] CraigST123 commented on #4563
Hi @makuchaku , I know the form is closed, but we'd love a chance to get in early on Analytics for Catalyst--any chance you can add one more? :)

[2020-09-08 19:30] adamvduke commented on #6322
Hi @michaeleisel,

Thanks for bringing this up. We are interested in open-sourcing upload-symbols in the future, but it is not on our current roadmap. We’re currently judging interest and will keep the community updated if things change.

[2020-09-08 19:30] #6322 closed

[2020-09-08 19:32] adamvduke commented on #6398
Do you mind sharing your installation method, e.g. CocoaPods, Swift Package Manager, manual zip download, etc...?

[2020-09-08 19:43] samedson commented on #6398
Hey @mattia, based on that output, `upload-symbols` is codesigned (which is expected). I think ultimately we need to take the next step and Notarize the tool for macOS to accept it via Carthage / zip downloads. With Cocoapods it seems to be ok with just a signed binary.

I'll let you know when we pull the work to get it Notarized.

[2020-09-08 19:50] mattia commented on #6398
Thank you!

[2020-09-08 21:39] paulb777 commented on #6409
It looks like you've covered these - but just in case, see the answers at https://stackoverflow.com/questions/28621297/iphone-app-submitting-error-itms-90171-invalid-bundle-structure-cant-contain

[2020-09-08 21:48] jason-oanda commented on #6258
Hey folks,

I'm also getting this same error:
`2020-09-08 17:02:24.528971-0400 iosapp[23130:550346] [BackgroundTask] Background Task 4615 ("GDTTransformer"), was created over 30 seconds ago. In applications running in the background, this creates a risk of termination. Remember to call UIApplication.endBackgroundTask(_:) for your task in a timely manner to avoid this.`

In my case it's not related

[2020-09-08 22:11] morganchen12 commented on #3242
Hey all, no updates to announce yet, but we're continuing to investigate the issue.

[2020-09-08 22:41] paulb777 commented on #6408
Actually, it looks like those symbols should be available for Catalyst.

I'm able to work around by explicitly linking CoreTelephony:

![Screen Shot 2020-09-08 at 3 37 18 PM](https://user-images.githubusercontent.com/73870/92534303-470e1280-f1e9-11ea-989f-b81352d5963e.png)

I'll continue to investigate if there's a way to make this automatic.

[2020-09-08 23:18] paulb777 commented on #6413
Going to reopen since this may have a similar resolution as #6408 with #6419.

[2020-09-09 00:22] zhangcx627 commented on #6258
Thank you all~~~. Sorry about the issue title. The first time I noticed this problem was when adapting to iOS14. And later found that crash is from Realm. Now there only console those logs. My app has lots of background traces. So it must appear when I debug.
`I reverted the change (removed Firebase/Performance from Podfile), did 'pod install' (which removed FirebasePerformance, GTMSessionFetcher,

[2020-09-09 05:33] trr-amsiq commented on #6406
Unfortunately no but I have this stack trace.
[code]

[2020-09-09 09:00] fliperamma commented on #5928
Hey @ryanwilson Thanks for sharing that link.
I understand this is not the ideal place to ask, but would you know if the changes there (answer the privacy questions while preparing a release) were also postponed until the next year or if those will be available in the following weeks (together with the iOS 14 release)?

[2020-09-09 09:18] danh-geo commented on #6393
Hi @salami,

Thanks for sharing your experience.

Like you we tried difference versions of Xcode, clear derived data etc, but the same affected devices always had the issue. We also have devices on the same iOS version using the same build, one device works, and the other not (see my original post).

One thing I found really interesting/weird just now is you suggestion of WhatsApp. Up until now we

[2020-09-09 10:24] DenTelezhkin commented on #6408
@paulb777 Linking CoreTelephony explicitly works on my side too, thanks!

FYI, I also tried PR you opened to fix this(#6419), but it did not work on my side, producing the following:

[code]

[2020-09-09 11:05] YasinTian opened #6424 "I received many cpu resource fatal feedback"
Cpu usage always high when 'Library/Caches/google-sdks-events/GDTCORFlatFileStorage' have too many files.

Date/Time:        2020-09-06 01:37:14 +0800
End time:         2020-09-06 01:37:23 +0800
OS Version:       iPhone OS 13.2.3 (Build 17B111)
Architecture:     arm64
Report Version:   29
Incident Identifier: 1E8019B1-ED6C-4D72-84D4-7E34CE05CCE7

Data Source:      Microstackshots
Shared Cache:

[2020-09-09 11:06] YasinTian commented on #6424
- Firebase/Analytics (6.31.0):
    - Firebase/Core
  - Firebase/Core (6.31.0):
    - Firebase/CoreOnly
    - FirebaseAnalytics (= 6.8.0)
  - Firebase/CoreOnly (6.31.0):
    - FirebaseCore (= 6.10.1)
  - Firebase/Crashlytics (6.31.0):
    - Firebase/CoreOnly
    - FirebaseCrashlytics (~> 4.5.0)
  - Firebase/Performance (6.31.0):
    - Firebase/CoreOnly
    - FirebasePerformance (~> 3.3.0)
  - Fireb

[2020-09-09 11:55] zeusent opened #6425 "FirebaseAnalytics symbols not found when installed via SPM"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: `12.0 beta 6 (12A8189n)`
  * Firebase SDK version: `6.32-spm-beta`
  * Firebase Component: `Analytics`
  * Component version: `6.32.0`
  * Installation method: `Swift Package Manager`

### [REQUIRED] Step 2: Describe the problem

#### Steps to reproduce:

- I've installed Firebase via SPM using the instructions found at [this](ht

[2020-09-09 12:04] YasinTian commented on #6424
I write continuously 40M event data to Library/Caches/google-sdks-events/GDTCORFlatFileStorage/gdt_event_data, cpu will keep high usage when background switch foreground.

Test code

[code]

[2020-09-09 13:32] skipperprivate commented on #6301
This answer recommends to remove duplicate inits as I understand.
But in my logs there is no such situation.

[2020-09-09 13:41] ryanwilson commented on #5928
@fliperamma  I have no extra insight other than going from [Apple's page linked in the original report](https://developer.apple.com/app-store/user-privacy-and-data-use/) - under the "Describing How Your App Uses Data" section it starts with "Later this year," then later mentions "You will soon be required to provide information...". This leads me to believe that it's not tied to the iOS 14 launch

[2020-09-09 13:50] maksymmalyhin commented on #6424
@YasinTian Sorry you have the issue, thank you for the report.

The method [checkForExpirations](https://github.com/firebase/firebase-ios-sdk/blob/802cb6a71678084bdff6d7b381cb474eae6b27ef/GoogleDataTransport/GDTCORLibrary/GDTCORFlatFileStorage.m#L343) currently may cause performance issue in the case of a big amount of events stored. I would like to ask you about your use case to understand why yo

[2020-09-09 13:53] ryanwilson commented on #6425
Hi @zeusent - sorry for the troubles you're seeing.

Based on your reproduction steps, I'm unable to reproduce this. I created a new project and followed the instructions linked, added the `-ObjC` flag, using `import Firebase` or `import FirebaseAnalytics` and then calling `Analytics.logEvent("Test", [:])` succeeds in a simulator build as well as building for device (I tested via Archiving).

A fe

[2020-09-09 13:55] paulb777 commented on #793
See https://github.com/CocoaPods/CocoaPods/issues/10034#issuecomment-689281086 for a start at adding via the CocoaPods test spec.

[2020-09-09 13:56] hiepxanh commented on #6393
Thank god, with your solution:
[code]
I can fix the error Url is Nil and return `google/link/?dismiss=1&is_weak_match=1`

You saved my life sir @danh-geo it took me 20 hours already

[2020-09-09 14:00] zeusent commented on #6425
Hi @ryanwilson! Thanks for your fast reply.

The project was an existing project and Firebase was added via CocoaPods. I've removed the lines in my Podfile and executed `pod update` to remove it.

I see in your example that you use a hardcoded string value for the event name and no parameters. Can you use one of the pre-defined events and parameters that Firebase provides? Something likes this:

`

[2020-09-09 14:10] paulb777 commented on #6425
Hi @zeusent You might need to run `pod deintegrate` instead of `pod update` to fully eliminate the CocoaPods artifacts from the Xcode project.

[2020-09-09 14:15] zeusent commented on #6425
When @ryanwilson asked me how I removed it I went back and did just that. Ran `pod deintegrate`, deleted the workspace project and the `Podfile.lock` file and then ran `pod install` to  generate new ones. I still see the same errors

[2020-09-09 14:19] ryanwilson commented on #6425
Hmm, still no luck on my end when updating to the log event that you copied above. Still compiles okay for me. I suspect it's something to do with the previous setup. I'd be curious if you were to try in a blank project if you get the same issue - if you do, it's something with your machine, if you don't, it's something with the project.

[2020-09-09 14:39] maksymmalyhin commented on #6424
Note: this potentially will be partially mitigated by #6365.

[2020-09-09 15:10] dbaroncelli commented on #5928
@morganchen12 I am sorry, but it's still not clear to me:
If our iOS app has AdMob already installed, and we don't want to use AdSupport,
do we need to do change something specifically in our configuration?

[2020-09-09 16:54] morganchen12 commented on #5928
No changes are required.

[2020-09-09 16:56] morganchen12 commented on #6301
Can you share a sample project that reproduces this issue?

[2020-09-09 16:58] morganchen12 commented on #6406
Some of the symbols in the stack trace are missing, can you fully populate the stack trace?

[2020-09-09 16:58] zeusent commented on #6425
I've managed to do it... I've started from scratch and it worked with an empty project. I just added a call in my AppDelegate.

I then decided to recreate the old project. I did that and now it stopped working again. After a bit of fiddling with it I've made it.

Weirdest thing: I had to add `import UIKit` in the file I was using these... Maybe I'm missing something but I have no idea why that is

[2020-09-09 17:00] #6408 closed

[2020-09-09 17:00] #6413 closed

[2020-09-09 17:03] trr-amsiq commented on #6406
I am not sure what you mean. This is the Stacktrace that is printed.

[2020-09-09 17:08] morganchen12 commented on #6406
I'm talking about these lines that don't reference a method in the framework they're specifying:
[code]
The UDID should instead be something like `-[UIViewController presentViewController:]`.

[2020-09-09 18:38] simdani commented on #5569
What to do if missing `uuids` in firebase console do not match the local ones?

[2020-09-09 18:44] ryanwilson commented on #6425
Very strange - glad it's tracked down. I wonder if it was some sort of false flag for some other issue in the file, or something else. The values are included in the public header file there (there's no `.m` file) so not sure what happened.

Sounds like things are resolved, but please do re-open if you run into issues again and thanks for checking out SwiftPM support!

[2020-09-09 23:47] fosterbrereton opened #6431 "Unable to attach User Feedback to a crash report"
### Step 1: Describe your environment

  * Xcode version: 11.6
  * Firebase SDK version: 6.31.0
  * Firebase Component: Crashlytics
  * Component version: 4.5.0
  * Installation method: zip file

### Step 2: Describe the problem

When a crash happens, we ask the user for feedback and/or steps that prove helpful in reproducing the crash. When a crash is detected, we present the user with a crash re

[2020-09-10 06:54] ap4996 commented on #6401
I don't think we can make a workable Mono build for iOS app. Here's a link to the callstack of all the threads - https://drive.google.com/file/d/1gxaYr8-UWKiky04_30ampBB2hOUM3JUz/view?usp=sharing

[2020-09-10 07:26] danh-geo commented on #6393
Hi @hiepxanh,

Are you using the "hosting" method of creating a {sitename}.firebaseapp.com as opposed to the {sitename}.page.link?

I'm still trying to use the {sitename}.page.link method of Firebase Dynamic Links, but I still have an issue with it on certain devices, even if I append dismiss=1&is_weak_match=1, e.g.:

https://{myapp}.page.link/?link=https%3A%2F%2Fverify.{mydomain}.com%2F%3Fverific

[2020-09-10 09:50] YasinTian commented on #6424
40M is my test data, maybe my app always online at long time.
I only import Firebase Performance, trace are not used. I will try to remove the Firebase Performance.

[2020-09-10 09:59] deanPGM commented on #6409
Thanks Paul. That link didn't have any advice that worked I'm afraid. In the meantime, I've integrated Firebase directly using the community catalyst builds which work fine for now.

If it's any help to you or your team, I can share the private repo with you?

[2020-09-10 10:12] zeusent commented on #6425
After a good night sleep things stopped working again out of the blue, without me changing anything :( I'll get back to investigating how I can fix this and why is this happening :(

[2020-09-10 10:25] trr-amsiq commented on #6406
I have no idea how to get this information

[2020-09-10 11:18] BouweCeunen commented on #6301
I'm getting this from Sentry if it could help.
![image](https://user-images.githubusercontent.com/5576686/92722487-fb35a780-f367-11ea-9658-7c74a90886f1.png)

Did not yet encounter it myself, this is from production users, so not sure how to reproduce it. In what cases can this occur?

[2020-09-10 12:18] pabloearg opened #6432 "Dynamic link on ios: the open in app button doesnt you app when you long press a link"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 11.6
  * Firebase SDK version: 6.28.1
  * Firebase Component: Dynamic Link
  * Component version: 6.28.1
  * Installation method: CocoaPods

### [REQUIRED] Step 2: Describe the problem

When i long press a link (for example on whatsapp), it must show you between the options "open with safari", "open with chrome".... the option Op

[2020-09-10 13:08] mtieltjes opened #6433 "FCM Tokens do not refresh 'deleteToken' -> 'getToken' is called"
### Step 1: Describe your environment

  * Xcode version: 11.6
  * Firebase SDK version: 6.30.0
  * Firebase Component: Messaging
  * Component version: 4.6.2
  * Installation method: `CocoaPods` (through [React Native Firebase)](https://github.com/invertase/react-native-firebase)

###  Step 2: Describe the problem
When deleting the FCM token, and getting a new one, the same (cached & invalid) tok

[2020-09-10 13:34] vinicius-animo commented on #6393
@danh-geo FYI, I switched libraries (now using branch.io SDK) and the problem is gone.

I'll keep following up the discussion here. Hope this bug is fixed soon :)

[2020-09-10 14:29] Neilfau commented on #6360
@paulb777 @ryanwilson

I have an update about this issue... I now have it kind of working. So the structure of my app is like the following:

`[Firebase Package] -> [Analytics Package] -> [Core Package] -> [Xcode Project]`

If the `[Core Package]` is added to the `[Xcode Project]` locally then when I try to build and run the app I get the same errors above. If however I add the package using Xcode

[2020-09-10 14:42] ecamacho opened #6434 "Crashlytics crashes in WatchOS with sigaction on fatal signals is not supported"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 11.6
  * Firebase SDK version: 6.31.0
  * Firebase Component: Crashlytics
  * Component version: 4.5.0
  * Installation method: `CocoaPods`

### [REQUIRED] Step 2: Describe the problem

After issue #4558 was closed thanks to PR #6262 I was looking forward to use it in my WatchApp but it doesn't work.

The Watch App Crashes with t

[2020-09-10 15:09] choli commented on #4558
This looks all nice and amazing. Now when I upgrade the FirebaseAnalyticsBinary and FirebaseCrashlyticsBinary to 6.32.0 with carthage update, then I don't get any watchOS framework, it tells me, "Building for watchOS Simulator, but the linked and embedded framework 'FirebaseCrashlytics.framework' was built for iOS + iOS Simulator."
If I try with CocoaPods, which we don't use, then it says "[!] The

[2020-09-10 15:18] jostster commented on #6434
I'll double check this but signals should of been disabled for AW. Thanks for the report!

[2020-09-10 15:20] paulb777 commented on #4558
@choli Thanks for the report. Currently we only support watchOS via CocoaPods.

Also it looks like we did not properly update the Firebase pod to represent that. We'll fix that problem in 6.33.0. In the meantime, watchOS can be accessed with `pod 'FirebaseCrashlytics'` (without the slash) and `pod update`.

[2020-09-10 15:21] jostster commented on #4558
Note there appears to be another issue that I am looking into regarding watchOS signal crashes. https://github.com/firebase/firebase-ios-sdk/issues/6434

[2020-09-10 15:25] choli commented on #4558
@paulb777 Thanks for the quick response, I will try that right away. Is there a roadmap to add this to carthage/SPM anytime soon? I don't see any Carthage projects that I could contribute on?

[2020-09-10 15:54] morganchen12 commented on #6406
If you're able to reproduce the crash locally, you can obtain the stacktrace with `bt all` in Xcode console when the crash occurs.

[2020-09-10 16:39] jostster commented on #4558
@paulb777 is there anything in particular causing watchOS to not be supported with carthage? We too use carthage, so would find it beneficial so that we don't have to incorporate another package manager into our deploy process.

[2020-09-10 17:04] chliangGoogle commented on #6433
To first understand your use case, won't the function fail if you pass in nil as authorizedEntity?

Can you share your sample code of calling the public API?

[2020-09-10 18:19] kylebrowning commented on #6374
Adding `arm64` to excluded did not work for me. I still receive
![image](https://user-images.githubusercontent.com/113023/92780117-822e5400-f357-11ea-822c-a17301a02027.png)

[2020-09-10 18:28] kylebrowning commented on #6360
Yup, this is happening for me too. I don't have a dependency setup like the above.

Im straight up depending on firebase-ios-sdk and I am including.

![image](https://user-images.githubusercontent.com/113023/92781117-b2c2bd80-f358-11ea-9347-53dfa922721f.png)

Removing firebase analytics solves the issue, but that's kind of a nonstarter considering we use it.

[2020-09-10 18:33] prime31 commented on #5875
Checking in to see if there is any progress on this one. We had to do our release with only Android support (https://play.google.com/store/apps/details?id=air.com.sgn.cookiejam.gp&hl=en_US) for Crashlytics and would like to get our iOS build on par with it.

[2020-09-10 18:37] morganchen12 commented on #5875
Hey @prime31, unfortunately I haven't had the time to look into this recently and will probably not be able to for the next two weeks.

[2020-09-10 19:37] jostster commented on #4558
Thanks @paulb777 I can take a look at ZipBuilder if I have time. I'm guessing it just needs support in `ZipBuilder/FrameworkBuilder.swift` for the watchOS Arch? Is there other places that need to be edited such as automated scripts to trigger the watchOS builds or will adding the proper architecture in ZipBuilder enable watchOS Crashlytics for carthage?

[2020-09-10 20:24] paulb777 commented on #4558
@jostster Here's a rough idea of what would need to be done:

- Build the right architecture slice
- Construct the properly structured `.framework` and `.xcframework`
- Handle products that don't support watchOS
- Verify and update documentation at https://github.com/firebase/firebase-ios-sdk/tree/master/ZipBuilder for both json-driven and release builds

[2020-09-10 20:29] ryanwilson commented on #6409
@deanPGM sure thing, you can email firebase-ios-github-6409 AT google DOT com (with the actual at sign and period, obviously) and the only people who have access is myself and @paulb777. That'd be greatly appreciated!

[2020-09-10 20:30] dconeybe commented on #6351
Hi @lorenzofiamingo. We have discussed internally and decided not to pursue this feature. Thank you for making the request, though, and doing the up-front research. It was very thorough and well thought-out. Our decision was reached because the limitations of the feature detract from its usefulness to a degree that the benefits do not justify the work involved.

Using `KeyPath` would be ideal; how

[2020-09-10 20:30] #6351 closed

[2020-09-10 22:37] mitchcohen commented on #5837
Adding a “me too” to this bug.  Specifically, I’m seeing an unexplained network call to app-measurement.com.  [FIRApp configure] has not been called, and this is in the app’s Info.plist:

[code]

This is a violation of our privacy policy.  Unfortunately if this isn’t fixed before our next update, we’ll be pulling Firebase from the app.

[2020-09-10 22:37] mitchcohen commented on #5837
Adding a “me too” to this bug.  Specifically, I’m seeing an unexplained network call to app-measurement.com.  [FIRApp configure] has not been called, and this is in the app’s Info.plist:

[code]

This is a violation of our privacy policy.  Unfortunately if this isn’t fixed before our next update, we’ll be pulling Firebase from the app.

[2020-09-10 22:47] paulb777 commented on #5837
Filed internal Analytics issue b/168251939

[2020-09-10 23:55] paulb777 commented on #1785
@ryanwilson I don't fully understand the AnalyticsConfiguration requirements and timing. Will you take this issue or discuss with me?

[code]

[2020-09-11 02:08] devssun commented on #5376
I have a same issue. The dynamic link was made always open Safari, we didn't set destination to app.
But It always open the app!!! not browser!!

It works success at Android.

Firebase Version
[code]

Test Device

My Dynamic Links Debug
<img width="749" alt="스크린샷 2020-09-11 오전 11 08 13" src="https://user-images.githubusercontent.com/16014607/92842932-216a4e80-f41f-11ea-9e1b-17353073976f.p

[2020-09-11 05:20] trr-amsiq commented on #6406
`bt all` prints this
[code]

[2020-09-11 08:33] ecamacho commented on #6434
@jostster thanks for the promptly response!

[2020-09-11 09:32] lmunck commented on #4838
I'm also experiencing this issue and cannot get the work-around to work. I'm up to six seconds delay and still get the same message. I have added below to my root view, and have tested other Analytics.logEvent with success. It is is only below that fails:

`.onAppear {
            DispatchQueue.main.asyncAfter(deadline: .now() + 6) {
              Analytics.setScreenName("test", screenClass: Strin

[2020-09-11 12:09] goncharik commented on #6360
Hello @paulb777

I have the same issue. And I was able to reproduce it with new project. Was doing nothing special, just created new xcode project. Set it up with deployment target for iOS 12 and just add few swift packages with Firebase. And it shows same error about missing Info.plist on running for simulator. You can checkout this demo project here: https://github.com/goncharik/XCFrameworkSPMDe

[2020-09-11 14:03] ryanwilson commented on #6360
Aha, thanks for the project @goncharik! I now see the issue with the project you provided. Digging into it now to see if I can track this down.

I thought this may have been an project that targets iOS < 13 issue but after creating a new project and modifying it appropriately to run on iOS 10, adding Firebase to it via SwiftPM, I was still unable to reproduce the issue.

@Neilfau re: removing the

[2020-09-11 14:12] Neilfau commented on #6360
@ryanwilson ok great! Yeah my project targets iOS 13.0+ so I don't think its that.

[2020-09-11 14:45] kylebrowning commented on #6360
My project is also 13+

[2020-09-11 15:32] allenktv commented on #4838
Hi @lmunck, we have released a new way to manually log screen view events and you no longer need to wait for a ViewController to log them. Please see the [blog post](https://firebase.googleblog.com/2020/08/google-analytics-manual-screen-view.html).

[2020-09-11 15:32] #4838 closed

[2020-09-11 16:27] danh-geo commented on #6393
Thanks @vinicius-animo, in the meantime we have removed the dynamic links from our email templates because of the unexpected/unpredictable behaviour.

Similar to my peculiar WhatsApp test a few posts up. I also experienced more weird behaviour. So as well as our email verification dynamic link (via our verify.{mydomain}.com), we also have a similar dynamic link for the forgot password experience (

[2020-09-11 16:53] aneena-thomas opened #6441 "*** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[FIRAuthDataResult getIDTokenWithCompletion:]: unrecognized selector sent to instance 0x600002192000'"
*** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[FIRAuthDataResult getIDTokenWithCompletion:]: unrecognized selector sent to instance 0x600002192000'

[2020-09-11 17:23] ryanwilson commented on #6441
Hi @aneena-thomas - sorry for the trouble you're facing. Can you please fill out the [issue template](https://raw.githubusercontent.com/firebase/firebase-ios-sdk/master/.github/ISSUE_TEMPLATE/bug_report.md) so we can get a better understanding of what's going on? With only the given information we don't have much to start on and won't be able to make progress on solving your issue.

Thanks!

[2020-09-11 18:18] morganchen12 commented on #6406
Can you add an exception breakpoint and run the `bt` command again?

[2020-09-11 19:23] paulb777 commented on #6360
Thanks for the repro case @goncharik !  We were able to isolate and fix.

To pick up the fix - **File -> Swift Packages -> Update to Latest Package Versions**

We were able to isolate to missing `Info.plist` files in the Analytics .frameworks and fix in #6444. It's a mystery about why this sometimes works and sometimes doesn't. Perhaps an Xcode race condition?

[2020-09-11 19:23] #6360 closed

[2020-09-11 19:24] aneena-thomas commented on #6441
* Xcode version: 11.4.1
  * Firebase SDK version: 6.32
  * Firebase Component: FirebaseAuth(6.91.)(Auth, Core, Database, Firestore, Messaging, Storage, etc)
  * Component version: 6.9.1
  * Installation method: CocoaPods

### [REQUIRED] Step 2: Describe the problem
After installing the pod file with the latest version I got the following error

*** Terminating app due to uncaught exception 'NSInva

[2020-09-11 19:28] paulb777 commented on #4900
Marking as fixed by #6438. It will land in master with Firebase 7.

[2020-09-11 19:28] #4900 closed

[2020-09-11 19:28] paulb777 commented on #6417
Marking as fixed by #6438. It will land in master with Firebase 7.

[2020-09-11 19:28] #6417 closed

[2020-09-11 19:29] morganchen12 commented on #6441
Can you share a project that reproduces this issue?

[2020-09-11 19:29] paulb777 commented on #5010
Marking as fixed by #6437. It will land in master with Firebase 7.

[2020-09-11 19:29] #5010 closed

[2020-09-11 19:31] aneena-thomas commented on #6441
Sorry its my client project I can't able to share it

[2020-09-11 19:33] paulb777 commented on #6407
Updating might fix if this has the same root cause as #6360. See https://github.com/firebase/firebase-ios-sdk/issues/6360#issuecomment-691271702

[2020-09-11 19:36] morganchen12 commented on #6441
Unfortunately we won't be able to help you effectively debug this issue without a reproducible sample. The selector referenced in the crash message is implemented in [`FIRUser`](https://github.com/firebase/firebase-ios-sdk/blob/bf0cb09d51adc83fa8a21217804c6413b9be2d42/FirebaseAuth/Sources/User/FIRUser.m#L858), not `FIRAuthDataResult`. Please check that you are not incorrectly casting `FIRAuthDataR

[2020-09-11 19:36] #6441 closed

[2020-09-11 19:40] aneena-thomas commented on #6441
I changed this function to

[[FIRAuth auth] signInWithCredential:credential completion:^(FIRUser * _Nullable firUser, NSError * _Nullable error) {
    }];
to this
    [[FIRAuth auth] signInWithCredential:credential completion:^(FIRAuthDataResult * _Nullable authResult, NSError * _Nullable error) {
        <#code#>
    }]
 I this is the issue,

[2020-09-11 19:44] jriskin commented on #5641
I'm having the same issue. I'm migrating from fabric and first it ran in to a case sensitivity issue. The bundle name in firebase has a single capitolized letter which made it not match. So i created a second new app, and now it give the FIRCLSNetworkError Code=-5 error. The bundleId DOES have a dash in it. But, i can't remove it since apple doesn't allow bundleId's to change and this is an existi

[2020-09-11 19:56] ryanwilson commented on #6441
What was the old version of Firebase you were using? It could have been a major version or two ago, in which case this is an expected break. I believe the version used in the project previously was 4.X and we're on 6.X right now preparing for 7.

It would be a good idea to take a look at the changelogs for the breaking changes: [5.0 breaking changes](https://firebase.google.com/support/release-not

[2020-09-11 20:13] paulb777 commented on #6409
It's possible that updating and the #6360 [solution](https://github.com/firebase/firebase-ios-sdk/issues/6360#issuecomment-691271702) might solve this as well.

[2020-09-11 20:14] #5562 closed

[2020-09-11 20:29] paulb777 commented on #6374
@StarLard @kylebrowning I believe the issue you're discussing is the same as #6360 and should now be resolved with an update. See that issue for details.

I'll close this issue now since the missing symbol issue has a workaround and seems to be a reported Xcode issue.

If you're seeing otherwise, please comment or open a new issue and we'll continue the investigation.

[2020-09-11 20:29] #6374 closed

[2020-09-11 20:50] morganchen12 commented on #5641
@jriskin you should file a ticket at [Firebase Support](https://firebase.google.com/support), they may be able to help you on the Firebase project side of things.

[2020-09-11 21:00] cerupcat commented on #4563
@makuchaku have you sent anything out? Haven't received any contact yet; filled out the form when posted.

[2020-09-12 01:40] chkuang-g commented on #6401
Based on the callstack, it does not look like any Firebase SDK is trying to write to leveldb at this moment.
We really cannot tell if this is related to Firebase SDK or not.

@paulb777 Is it possible to consult with leveldb team and see if there is any known issue from their side?
C++/Unity SDK only use levelDB for Desktop implementation and this looks like issue from iOS side.

[2020-09-12 02:15] mozeryansky opened #6448 "Sign In With Apple credential doesn't update email"
* Xcode version: Version 12.0 beta 6 (12A8189n)
  * Firebase SDK version: 6.31.0
  * Firebase Component: Auth
  * Installation method: Carthage

#### Steps to reproduce:

I am using Sign In With Apple using the `OAuthProvider` credential. I am able to login and confirm that Firebase Authentication console shows that the account is linked with Apple. However, when testing I removed my Apple ID and

[2020-09-12 10:59] aschuch opened #6449 "Swift Package Manager: nanopb deployment target warning"
### Environment

  * Xcode version: Xcode 12 beta 6
  * Firebase SDK version: 6.32-spm-beta
  * Firebase Component: Analytics
  * Installation method: Swift Package Manager

### Problem

Firebase is dependent on the nanopb framework. This dependency shows the following warning in Xcode 12 beta 6 when integrating Firebase Analytics using Swift Package Manager:

[code]

<img width="328" alt="Screens

[2020-09-12 13:59] paulb777 commented on #6401
@schmidt-sebastian @wilhuff Any suggestions on the right next step?

[2020-09-12 14:25] paulb777 commented on #6449
Thanks for the report. This is also a problem for other Firebase dependencies that support iOS 8 and earlier as well. I started a discussion at https://forums.swift.org/t/minimum-ios-version-xcode-12-and-build-warnings/40224 to explore solutions.

![Screen Shot 2020-09-12 at 7 12 35 AM](https://user-images.githubusercontent.com/73870/92997367-9d1fd600-f4c7-11ea-9b3b-1d5a6494f0dc.png)

[2020-09-13 02:16] StarLard commented on #6374
Hi @paulb777 I've updated to the latest version of the `6.32-spm-beta` as per recommendation in https://github.com/firebase/firebase-ios-sdk/issues/6360 and am still experiencing this issue. Also while excluding `arm64` in my app target is a workaround there, this option is not available within the Swift Package itself so SwiftUI previews are still unavailable there.

[2020-09-13 02:54] willbattel opened #6451 "Firebase Storage uploads appear to take longer in recent SDK versions"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 11.6
  * Firebase SDK version: 6.30.0
  * Firebase Component: Storage
  * Component version: 3.9.0
  * Installation method: CocoaPods

### [REQUIRED] Step 2: Describe the problem

Full disclosure: I'm having a hard time reproducing this issue. Additionally, while I am fairly confident that the problem lies in a recent Firebase SD

[2020-09-13 14:36] paulb777 commented on #6449
https://github.com/nanopb/nanopb/pull/585 is sent for nanopb. We'll follow up with the other dependency updates and updates to the Firebase Package.swift in the next week or so.

[2020-09-13 16:11] ap4996 commented on #6401
Here's a call stack for the same from Unity Dashboard if it helps - https://drive.google.com/file/d/1yiAwuIykmR3MVXM3aisKcaWLrDOz8YhI/view?usp=sharing

[2020-09-13 17:06] paulb777 commented on #6401
@ap4996 Thanks. That looks like a different crash from Messaging. I don't see leveldb anywhere in that call stack. Would you also share the Podfile.lock?

[2020-09-13 17:34] ap4996 commented on #6401
Yes. We updated our Facebook SDK yesterday. So I'll be sharing two Podfile.lock, one from an older build(which is having the crashes) and one from the latest build(still under review).

old Podfile - https://drive.google.com/file/d/1cvW2Zrz-uuUeslImLsJvmCgSrMhEYrlo/view?usp=sharing
new Podfile - https://drive.google.com/file/d/1oZ-39gz5rBmsmYCSum97n8cirNUXCTn6/view?usp=sharing

[2020-09-14 01:03] #6359 closed

[2020-09-14 05:06] trr-amsiq commented on #6406
[code]

[2020-09-14 05:32] jvigneshcs opened #6453 "'FirebaseInstallations/FirebaseInstallations.h' file not found"
### Step 0: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ please use the Feature Request template.
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the `firebase` tag.
  * For general (non-iOS) Firebase discussion, u

[2020-09-14 09:36] puneet-egym commented on #6404
Updated the Crashlytics binary to test if the problem is resolved in the new version, but the problem remains:

2020-09-14 11:30:57.064949+0200 TrainerApp[12004:172600] 6.32.0 - [Firebase/Crashlytics][I-CLS000000] [Crashlytics] Running on iOS Simulator (iPad), 13.7.0 (19G2021)
2020-09-14 11:30:57.071109+0200 TrainerApp[12004:172584] 6.32.0 - [Firebase/Crashlytics][I-CLS000000] Automatic data colle

[2020-09-14 12:56] zeusent commented on #6425
I think I found the issue in the end. I have no idea why running on the simulator sometimes works and sometimes doesn't but archiving didn't work for me at all...

Looking at the `Package.swift` file I see that the `FirebaseAnalyticsWrapper` target is defined as such:

[code]

But looking in the folder structure that was downloaded I see that the header files are actually found at  `FirebaseAnalyt

[2020-09-14 13:34] dyah10 commented on #5298
We're finding this to be an issue as well. We don't want our users to wait indefinitely for an upload to complete. With the current state, what's the best way to get information on the status of an upload when it's failed and retrying?

[2020-09-14 13:37] ryanwilson commented on #6451
Hi @willbattel thanks for the detailed report and sorry for the issue you're seeing.

There weren't too many changes between those two versions and nothing sticks out to me as a potential issue.. but it's worth a look double checking these to see if anything was changed that could affect this.

[code]

(leaving out the `CHANGELOG.md` in the above command will show the actual contents of the change

[2020-09-14 13:44] #6449 closed

[2020-09-14 15:12] maksymmalyhin commented on #6258
Looks like background tasks are not properly finished by `GDTTransformer` for events filtered by a transformer [here](https://cs.opensource.google/firebase-sdk/firebase-ios-sdk/+/master:GoogleDataTransport/GDTCORLibrary/GDTCORTransformer.m;l=73;drc=85e33543469ec7e55b0da8153d1d38761d3848aa) (in this case Firebase Performance event rate limit filter applied). I'll work on a fix.

[2020-09-14 15:28] ryanwilson commented on #6453
Sorry for the troubles you're seeing - typically this is a bad state of Xcode, CocoaPods, and some derived data.

Does the following help? Note this will delete derived data for all your projects - you can manually find and remove the derived data for just this project if it's preferred.

[code]

[2020-09-14 15:50] ryanwilson commented on #6425
Thanks @zeusent for the extra info! That's very interesting... re: why they are in a `Public/FirebaseAnalytics` directory as opposed to just the `Public` directory, the rest of Firebase [is structured this way](https://github.com/firebase/firebase-ios-sdk/blob/master/HeadersImports.md) due to being compatible with both CocoaPods and SwiftPM, otherwise we'd have to have a bunch of `#if` checks at t

[2020-09-14 16:11] ehidna opened #6456 "0x8badf00d watchdog crash when app start"
### [REQUIRED] Step 1: Describe your environment
  * Unity version: 2019.3.4f
  * Xcode version: 11.7
  * Firebase SDK version: 6.10.0
  * Firebase Component: (DynamicLinks, Core, Analytics, Crashlytics, Messaging, RemoteConfig)
  * Component version: 6.10.0
  * Installation method: CocoaPods

### [REQUIRED] Step 2: Describe the problem
This is a crash that happend by chance when app start. Most u

[2020-09-14 16:14] morganchen12 commented on #6456
Can you symbolicate the symbols in the crash stack trace? Also, it looks like there aren't any Firebase calls on the main thread; most of the thread is calls to WebKit.

[2020-09-14 16:18] morganchen12 commented on #6406
Unfortunately this stack trace isn't enough to fully debug this crash; can you try to reproduce it in a sample project and share that project with us?

[2020-09-14 16:26] morganchen12 commented on #6404
Hey @puneet-egym, the new endpoint log you've called out has been in the code for about 6 months now, before the release of 6.27. It's unlikely to be caused by that change.

The only significant change between 6.27 and 6.28 was #5904.

[2020-09-14 16:36] ehidna commented on #6456
Sorry forgot to symbolicate it.

[2020-09-14 16:44] morganchen12 commented on #6456
This is the call that's taking up all of the time on your main thread:

[code]

You may want to ask this question at the Unity forums.

[2020-09-14 16:59] ehidna commented on #6456
Ok, thanks for your time.

[2020-09-14 16:59] #6456 closed

[2020-09-14 18:55] makuchaku commented on #4563
@cerupcat @CraigST123 : apologies for a delayed reply. I've sent an email to both of you.
Cheers!

[2020-09-14 19:22] CraigST123 commented on #4563
Just signed it on my end, thank you so much @makuchaku  !

[2020-09-14 20:35] willbattel commented on #6451
Thanks for the comments, Ryan. I'll collect more info and report back later this week.

[2020-09-14 22:21] #5032 closed

[2020-09-14 23:10] yalunqin commented on #6287
Just an update, we found the race condition that caused the issue. Will fix it soon.

[2020-09-14 23:14] curtisburns opened #6462 "Keep experiencing '<GoogleUtilities/GULLoggerLevel.h>' file not found"
### Step 0: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ please use the Feature Request template.
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the `firebase` tag.
  * For general (non-iOS) Firebase discussion, u

[2020-09-15 00:11] cerupcat commented on #4563
@makuchaku apologies. I'm not seeing an e-mail.

[2020-09-15 07:03] jvigneshcs commented on #6453
@ryanwilson , The solution you mentioned worked for me.

[2020-09-15 07:03] #6453 closed

[2020-09-15 10:14] high5Fly opened #6464 "Firebase Crashlytics integration"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 12 beta 6
  * Firebase SDK version: 6.32.0
  * Firebase Component: Crashlytics
  * Component version: [Firebase/Crashlytics] Version 6.32.0
  * Installation method: `Swift Package Manager`

### [REQUIRED] Step 2: Describe the problem
I am having issue running Crashlytics and connecting it to the console.

#### Steps to reproduce:

[2020-09-15 14:41] kasyrm commented on #5376
Same problem. Deep link always opens app if it's installed even though the chart shows it should open web. Only specified parameters are: domainUriPrefix, link and socialMetaTagInfo.

[2020-09-15 15:02] #6258 closed

[2020-09-15 15:40] maksymmalyhin commented on #6258
The fix is planned for the next release.

[2020-09-15 16:54] cvaghela commented on #6464
Can you also make sure that your `Debug Information Format` is set to `DWARF with dSYMs`?

Also, can you turn on Firebase debug more, build and run the app, disconnect from xcode debugger, open the app, make a test crash, run from the xcode again and attach the debug logs here?

Make sure that your Firebase Crashlytics dashboard is open and looking for the integration.

[2020-09-15 18:59] BrunooShow commented on #6306
same error here similar scenario any update on it ? @carlosdelamora

[2020-09-15 19:04] carlosdelamora commented on #6306
I have contacted Firebase Support, they are helping me, but still have not figure it out.

[2020-09-15 19:14] willbattel commented on #6451
Hey @ryanwilson I've done a little more digging.

`GTMSessionFetcher` was upgraded from `1.3.0` to `1.4.0` during this time. Additionally, we discovered that the problem may have existed in some capacity when we were on SDK version `6.18.0` after upgrading from `6.13.0`.

As a means of troubleshooting, to narrow down the possibilities, we are releasing a patch build to production where we have for

[2020-09-15 19:20] stherold commented on #6464
We have the same issue, this is logged in the console (after doing what you wrote):
[code]

After crashed, attached the debugger again I get this:
[code]

But always seeing this screen:

![Screen Shot 2020-09-15 at 20 09 31](https://user-images.githubusercontent.com/64915710/93254800-3afdf400-f799-11ea-8cc6-02753f30465b.png)

[2020-09-15 19:51] #6434 closed

[2020-09-15 20:32] StarLard commented on #6374
For anyone else experiencing this issue: A workaround to get previews working is to declare a separate package library target that depends on your main target and only import FirebaseAnalytics there; similar the the Firebase package structure itself.

[2020-09-15 22:38] morganchen12 commented on #6462
Hey @curtisburns, can you try to isolate this in a reproducible example and then share that with us? Alternatively if you're able to you can just share your whole RN project as-is.

[2020-09-16 00:19] eldhosembabu commented on #5032
Hi everyone,

Sorry for the delays and lack of communication here, but this issue is now resolved. We were originally worried that by switching to the base API that doesn't specify ipv4 vs ipv6 would lose accuracy based on attribution, but have determined that it's a small corner case and an acceptable tradeoff from a performance and confusion standpoint (printing error logs when it may be working

[2020-09-16 01:58] zhangcx627 commented on #6258
Thanks very much.

[2020-09-16 05:34] ericjjj commented on #6464
some error

[2020-09-16 06:12] willbattel commented on #6451
Speaking further to this idea, there has been some further discussion on our end that I would like to share.

We believe that, while there may or may not be a problem with the Storage SDK, what is really exacerbating the situation we are seeing is the fundamental difference in how the Firestore and Cloud Storage clients work.

Firestore is quite intelligent; its offline persistence feature ensures

[2020-09-16 06:58] sjmueller commented on #6425
I am running into this exact problem, I will try @zeusent hack to get around it for now..

[2020-09-16 07:33] tysun opened #6471 "Lexical or Preprocessor issues"
I have 16 Protobuf issues and 23 FirebaseFirestore issues. All are "**Non-portable path to file '<protobuf/Wrappers.pbobjc.h>'; specified path differs in case from file name on disk**" type messages.

iOS 13
Xcode 11.7

Please advise.

Thanks

![sc](https://user-images.githubusercontent.com/11150198/93306028-48b78600-f83a-11ea-8332-462a6dc5637e.png)

[2020-09-16 07:53] curtisburns commented on #6462
Hey @morganchen12, I've set up a fresh project, here's the [repo](https://github.com/curtisburns/react-native-app-test). When running build, this is what I'm getting currently:

`In file included from /Users/curtisburns/development/personal/test/ios/Pods/FirebaseCoreDiagnostics/Firebase/CoreDiagnostics/FIRCDLibrary/FIRCoreDiagnostics.m:24:
/Users/curtisburns/development/personal/test/ios/Pods/Fire

[2020-09-16 09:34] Neilfau opened #6472 "Xcode 12 GM Archive Error SPM - unexpected Mach-O header code: 0x72613c21"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: Xcode 12 GM (12A7208)
  * Firebase SDK version: 6.32-spm-beta
  * Firebase Component: Analytics
  * Component version: 6.32
  * Installation method: Swift Package Manager

### [REQUIRED] Step 2: Describe the problem

When trying to upload an archive to App Store connect Xcode 12 GM gives me the following error:

`Found an unexpec

[2020-09-16 09:44] mtieltjes commented on #6433
Sorry, I was a bit in a hurry when writing the issue.

You're right about that. I got a little confused as we call our library without any parameters, but the `authorizedEntity` defaults to the FIRApp options `GCMSenderID`

Our project is created in React Native, so we use [React Native Firebase](https://rnfirebase.io/) as a bridge to the Firebase SDK.
To prevent filing an issue at the wrong proje

[2020-09-16 10:52] zeusent commented on #6425
Hey @ryanwilson ! Thanks for the test branch. I can confirm that with it I don't have the issue happening anymore no matter what my build type is: for simulator, for device, when archiving.

[2020-09-16 11:15] high5Fly commented on #6464
1. Dwarf with dSYMs is enabled
![Screenshot 2020-09-15 at 20 55 17](https://user-images.githubusercontent.com/11722811/93330099-ee60fa00-f826-11ea-9e1f-05f520ed0324.png)

2. Log after crash:
2020-09-16 14:12:14.507845+0300 DeviceMate[17958:7949502] [Firebase/Crashlytics] Version 6.32.0
2020-09-16 14:12:14.615378+0300 DeviceMate[17958:7949659] [Firebase/Crashlytics] Packaged report with id 'ba802e3

[2020-09-16 13:17] maksymmalyhin commented on #6462
@curtisburns It looks like you experience the issue with CoreDiagnostics internal headers added as public by Cocoapods. The issue was fixed in #6442. The fix is planned for the next release.

[2020-09-16 13:17] #6462 closed

[2020-09-16 14:39] ryanwilson commented on #6472
Thanks for the report - I'll look into this right away. To confirm, did you [add the `-ObjC` linker option for Analytics](https://github.com/firebase/firebase-ios-sdk/blob/master/SwiftPackageManager.md#limitations)?

[2020-09-16 14:48] Neilfau commented on #6472
@ryanwilson yeah it was the first thing I checked! I went back to the Xcode 12 beta 6 and had no issues at all. Something that might be of note is apple released a new version of the Xcode 12 GM with build number of (12A7209). Im currently downloading it and I will try with that version also as it could of been a Xcode bug.

[2020-09-16 15:05] ryanwilson commented on #6472
Yeah I'm downloading it as well, will report back when I can repro or not. Currently trying on 12A7208 but it's currently hanging when trying to check out grpc.. 😬

[2020-09-16 15:15] ryanwilson commented on #6472
I reproduced the issue, still unzipping the new GM seed and will test it there but I'll see if I can find a workaround for the first GM seed.

[2020-09-16 15:28] ryanwilson commented on #6472
Initial thought: if it's packaging for release, it may be trying to include all the architectures to run on device and it's not expecting to be run on the simulator? That's why it's searching for the arm64 architecture even though it's running on an x86 simulator. I tried running on device and get a different issue though, will try the new Xcode version.

[2020-09-16 15:30] Neilfau commented on #6472
Yeah I think its something to do with that also.

[2020-09-16 15:38] Neilfau commented on #6472
I can confirm I get the same issue with the new seed also.

[2020-09-16 15:42] ryanwilson commented on #6472
Same re: running with Release. I am able to Archive though, selecting "Any iOS Device (arm64)" and hitting "Product -> Archive" in the menu.

Based on the original issue - you're unable to archive right?

[2020-09-16 15:43] morganchen12 commented on #6471
Duplicate of https://github.com/firebase/firebase-ios-sdk/issues/2665. Please update your Protobuf dependency.

[2020-09-16 15:43] #6471 closed

[2020-09-16 15:44] harrygt opened #6473 "Xcode 12 GM SPM Firebase Analytics Run Error - Failed to load Info.plist from bundle"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 12 GM (12A7209) running on iOS 14 iPhone 11 Pro
  * Firebase SDK version: 6.32-spm-beta
  * Firebase Component: Analytics
  * Component version: 6.32
  * Installation method: `Swift Package Manager`

### [REQUIRED] Step 2: Describe the problem

Unable to run apps on iOS Simulator or device.

[code]

If I tap `Details` it shows th

[2020-09-16 15:47] Neilfau commented on #6472
I can archive its when I try to upload to the App Store I get the `Found an unexpected Mach-O header code: 0x72613c21` error. The other error was when I tried to run it on a simulator.

[2020-09-16 16:00] golya commented on #6433
@mtieltjes, @chliangGoogle We have a similar issue, and if you check you can see that in the cache there is a key <senderid>.*, and when the RNF try to delete the token by the firebase-ios-sdk then the default scope is "FCM", so it try to find the <senderid>.FCM key.
`161       scope || 'FCM',`

If you use this code in javascript, then it can be quick workaround for you (I tested it and we got a n

[2020-09-16 16:40] ryanwilson commented on #6473
Hey @harrygt - sorry for the issue you're seeing. This looks like #6360 which we resolved already, see https://github.com/firebase/firebase-ios-sdk/issues/6360#issuecomment-691271702 for more context.

tl;dr: "To pick up the fix - File -> Swift Packages -> Update to Latest Package Versions"

I'll close this issue but if you're on the latest version and still see the exact same issue, please re-ope

[2020-09-16 16:40] #6473 closed

[2020-09-16 16:51] harrygt commented on #6473
Thanks Ryan, yes this resolves it!

[2020-09-16 16:53] ThePragmaticArt commented on #6472
Yeah, so right now the firebase framework artifacts are being copied into the `/Frameworks` folder of the ipa and are embedded. The frameworks themselves are static frameworks....

[2020-09-16 16:55] ThePragmaticArt commented on #6472
This is due to a static framework being embedded within the `/Frameworks` folder of the archive.

[2020-09-16 16:59] ryanwilson commented on #6472
Thanks @ThePragmaticArt for finding that! I'm wondering if that's an Xcode bug or that's an artifact based on how we set up our `Package.swift` manifest. I'll see about reproducing with the upload case and filing some Feedback about it - especially since binary packages are new in SwiftPM.

[2020-09-16 17:00] ThePragmaticArt commented on #6472
[code]
It seems to have to do with the `xcframework` bundles included. Actual root cause, I'm not entirely sure. It does seem to be those 3 artifacts though.

[2020-09-16 17:01] ThePragmaticArt commented on #6472
[code]
It seems to have to do with the `xcframework` bundles included. That's at least the only lead I can see. Actual root cause, I'm not entirely sure. It does seem to be those 3 artifacts though.

[2020-09-16 17:11] ryanwilson commented on #6472
Those are in fact the only binary frameworks that we offer - all the rest are source based. It could be due to packaging of the XCFrameworks since they're manually generated from regular .frameworks (we hope to be changing over to build XCFrameworks directly very soon), or it could be an issue with binary frameworks in general on the Xcode side.

[2020-09-16 17:13] ThePragmaticArt commented on #6472
@ryanwilson I believe Realm has some embedded `xcframework` artifacts as well but do not have this issue:

https://github.com/realm/realm-cocoa.git

[2020-09-16 17:16] ryanwilson commented on #6472
@ThePragmaticArt that must be outside of Swift Package Manager though - see here for where we define `binaryTarget`s: https://github.com/firebase/firebase-ios-sdk/blob/cd844903abed3c4e73210af9b258808d21f455fe/Package.swift#L225-L239

This was introduced in `swift-tools-version:5.3` and Realm is still on `5.0` and doesn't have any `binaryTarget`s in their `Package.swift` file. We ship `xcframework`

[2020-09-16 17:23] ThePragmaticArt commented on #6472
@ryanwilson interesting. I don't have anything separate I can test. I might be able to spin up something later today just to play around and see. Not sure if there are any quick samples that are already out there that could validate the behavior. It would be disappointing to hear there's a bug in the GM that requires a script to clean this up.

[2020-09-16 17:23] doctiger commented on #5808
This has been a trouble to me as well. I'm actually creating Translator app, but eventually I just have ended up with endless progress bar while it doesn't provide me any progress sensitive solution.

At the same time, the downloading is very slow as well. In the document, it's said that the model size is about 30MB, but it's taking much more time than I expected.
I don't know if Firebase MLKit is

[2020-09-16 17:54] chliangGoogle commented on #6433
@golya We do save the token per sender ID per scope, and when you invalidate the token by calling deleteToken, we will clear the cache and send a request to our server to invalidate it too.
Does that answer your question?

[2020-09-16 18:21] ryanwilson commented on #6472
It looks like this is related to https://github.com/PSPDFKit-labs/radar.apple.com/commit/9b6c842d0d00465f20a82252df3735e4396beb06 (FB7785691). This was an issue opened stating that the archive *should* include those frameworks, but now we're running into an issue for Firebase.

@steipete - are you able to share how the XCFrameworks are generated and anything that may be going on here? Perhaps stat

[2020-09-16 18:30] steipete commented on #6472
Here's an yet unreleased blog post how we explain our SwiftPM integration:
https://pspdfkit.com/blog/2020/binary-frameworks-as-swift-packages/ - will become a public URL in a few days but I'm ok with sharing it early here if it helps.

We use dynamic frameworks only, not statics, and the above radar has been fixed in the GM. Let me know if that helps, happy to share more to get Firebase across to

[2020-09-16 18:33] ryanwilson commented on #6472
Thanks @steipete, helpful as always! :D That must be the issue, we package FrameworkAnalytics as a static framework. Will have to do some digging and chat offline with @paulb777 about how to proceed, but at least we have a workaround right now.