[2021-03-22 12:42] ryanwilson commented on #7177
Thanks for the report @androidparth90 - and sorry for the troubles.

Unfortunately it has to be a major version change since we're breaking an existing public API (removing the `transform:` call), so there's a bit more work in migrating all usages of it, bumping the dependencies, and making sure nothing breaks in the process. This should be a bit simpler than when it was reported since we moved GD

[2021-03-22 13:10] github-actions[bot] opened #7766 "Nightly Testing Report"
# Nightly Testing Report
This issue([log](https://github.com/firebase/firebase-ios-sdk/actions/runs/676125920)) is generated at 03/22/2021 06:10 AM, fetching workflow runs triggered in the last 24 hrs.
| Workflow |03/21|
| -------- | -------- |
| [auth](https://github.com/firebase/firebase-ios-sdk/blob/master/.github/workflows/auth.yml) | [failure](https://github.com/firebase/firebase-ios-sdk/acti

[2021-03-22 13:36] ncooke3 commented on #7766
Auth integration tests looked like they had some failed networking related errors. Restarted.

[2021-03-22 14:07] paulb777 commented on #7766
Looks like the Firebase project might be in a bad state like it was a few weeks ago and an id needs to be manually deleted from the project.

[2021-03-22 15:52] raspu commented on #7715
We are facing the same issue here, any workaround? I will try to integrate manually...

[2021-03-22 15:55] elenadoty commented on #7702
Hi @armcknight, thanks for the feature request. This isn’t something we think we have the bandwidth to take on soon, but I’ll leave this issue open to gauge interest in it and will comment if there’s any updates.

[2021-03-22 16:43] ncooke3 commented on #7766
@rosalyntan it looks like the issue from #7718 might be returning here. Paul added the "existing" id to the Firebase project's user database and restarted the CI but it still failed.

[2021-03-22 16:52] rosalyntan commented on #7766
Taking a look -- it looks like a different but similar issue to #7718, as this failure is in `testSignInExistingUserWithEmailAndPassword` instead of `testCreateAccountWithEmailAndPassword `.

[2021-03-22 18:42] christibbs commented on #7715
@raspu @khuffie I'm working on this currently. When it's resolved we'll likely make a quick patch release for all of our Swift Package Manager users.

[2021-03-22 18:53] rosalyntan commented on #7766
I've added the "existing" email plus the password to the Firebase project, hopefully that should fix it -- I'll trigger a rerun now.

[2021-03-22 18:59] yuchenshi commented on #7723
I've tracked this feature request internally at b/183415773.

[2021-03-22 19:13] DaniellSousa commented on #6472
Hi guys.. i solved this problem changing the code signing identity. The target and project was different and i changed all for iOS Distribution according the provision profile file.

[2021-03-22 19:24] paulb777 commented on #6477
@trusk89 Sorry, all I can say is there is active progress.

[2021-03-22 19:25] ncooke3 commented on #7766
Looks like adding the email plus the password fixed it! 💯

[2021-03-22 19:31] paulb777 commented on #7766
thanks @rosalyntan!

The release failure looks like a release flake in the zip Database Swift quickstart after hours. I'm fine to defer any rerun/investigation to that issue repeating.

[2021-03-22 19:31] #7766 closed

[2021-03-22 19:32] rosalyntan commented on #7766
Filed b/183421777 internally to see if we can make the Auth integration tests less fragile to Firebase project state.

[2021-03-23 00:55] rosalyntan commented on #7341
Hi @BosPrusin -- sorry you're experiencing this issue!

I want to make sure I understand the issue.

Is this still after switching targets in Xcode? Or are you seeing a different issue now?

[2021-03-23 01:03] #7634 closed

[2021-03-23 02:26] ir77 opened #7770 "[FirebaseAuth] signIn(withEmail:link:completion:) doesn't work with MFA"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: Version 12.4 (12D4e)
  * Firebase SDK version: 7.8.1
  * Installation method: `CocoaPods`
  * Firebase Component: Auth

### [REQUIRED] Step 2: Describe the problem

#### Steps to reproduce:

Hello. I'm an iOS developer.
We are using Firebase Auth for new app development. We use the email link authentication method. We are trying

[2021-03-23 02:52] cltnschlosser opened #7771 "Data Race / Crash in GDTCCTUploadOperation"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 12.4
  * Firebase SDK version: 7.8.1
  * Installation method: `CocoaPods`
  * Firebase Component: Crashlytics

### [REQUIRED] Step 2: Describe the problem

#### Steps to reproduce:

Data Race / associated crash happening while running unit tests

#### Relevant Code:

[code]

[2021-03-23 03:41] androidparth90 commented on #7177
@ryanwilson : Well noted and thanks for your feedback.

[2021-03-23 05:40] cozelight opened #7772 "Crash: [GULHeartbeatDateStorage checkAndCreateDirectory:fileCoordinator:]"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version:  12.4
  * Firebase SDK version: 7.6.0
  * Installation method: CocoaPods
  * Firebase Component: Crashlytics

### [REQUIRED] Step 2: Describe the problem
Getting plenty of crashes on [GULHeartbeatDateStorage checkAndCreateDirectory:fileCoordinator:]

#### Steps to reproduce:
Random crashes occurs, not able to reproduce it in debu

[2021-03-23 07:11] GeekLee609 commented on #6039
@paulb777 @maksymmalyhin
We ran into the same problem，We used SDK version 7.6.0

## Podfile
[code]

## Podfile.lock
[code]

## Stack trace

[code]

Has happened hundreds of times in the app

[2021-03-23 08:04] trusk89 commented on #6477
@paulb777 thanks for the update!

[2021-03-23 09:46] raspu commented on #7715
Thanks @christibbs. I was able to integrate manually, so we are going that way for now. But we would love to move to SPM when available :).

[2021-03-23 12:53] BosPrusin commented on #7341
Yes the issue still occurs when switching between targets in Xcode.   What I noticed was that the authentication with the custom token was valid and returned successfully.  However the console log was throwing the error I listed above.  My suspicion all along has been the cached token used from the first target authentication given our use of persistence.

[2021-03-23 13:16] github-actions[bot] opened #7773 "Nightly Testing Report"
# Nightly Testing Report
This issue([log](https://github.com/firebase/firebase-ios-sdk/actions/runs/679661719)) is generated at 03/23/2021 06:16 AM, fetching workflow runs triggered in the last 24 hrs.
| Workflow |03/22|
| -------- | -------- |
| [zip](https://github.com/firebase/firebase-ios-sdk/blob/master/.github/workflows/zip.yml) | [failure](https://github.com/firebase/firebase-ios-sdk/action

[2021-03-23 13:40] ncooke3 commented on #7773
The zip workflow failed without any logs. Restarting 🔁

[2021-03-23 14:15] ncooke3 commented on #7772
Hi @cozelight, thanks for the report and sorry for the trouble. We'll look into this and get it addressed!

Seems like it could be related to #5969

[2021-03-23 14:25] maksymmalyhin commented on #7772
@cozelight Could you please share a couple additional details to help us with the investigation:
- what platform is it (iOS/tvOS/macOS/etc.)
- could you share the exception caused the crash (should be available in the crash report)
- does it happen only for the app first launch or for consequent launches as well
- could you share a sample project where the crash is reproducible? It will significan

[2021-03-23 14:30] maksymmalyhin commented on #7772
A possible reason (still to be validated):
- we may create [several subdirectories](https://github.com/google/GoogleUtilities/blob/78425daa0f8cc4a705dcde2979cd2826cee82cce/GoogleUtilities/Environment/GULHeartbeatDateStorage.m#L67) when `GULHeartbeatDateStorage` is used for the first time
- we coordinate access to with NSFileCoordinator only to the [child dir](https://github.com/google/GoogleUtilit

[2021-03-23 14:51] xiuwangthoughtworks commented on #7239
Same issue

[2021-03-23 15:20] rizafran commented on #7770
Hi @ir77 let me check this, and I'll let you know of my findings.

[2021-03-23 15:33] cltnschlosser commented on #7771
Had some co-workers send me some different stack traces that seem to point to the same race. Might be useful.
[code]

[code]

Sorry if this is the wrong project, but looks like @maksymmalyhin was the last one to edit https://github.com/google/GoogleDataTransport/blob/main/GoogleDataTransport/GDTCCTLibrary/GDTCCTUploadOperation.m, so this is in good hands :)

[2021-03-23 15:35] maksymmalyhin commented on #7771
@cltnschlosser thank you for sharing the detail!

[2021-03-23 17:52] jfinkelstein-ixl commented on #7736
Will Firebase please create their own test app that uses FirebaseAnalytics.framework and GoogleAppMeasurement.framework and submit it to the app store as a kids category app so that they can communicate directly with Apple about the issue instead of us being the middle people? Firebase can chose a manual submission so it doesn't actually end up on the app store when Apple approves it. Especially w

[2021-03-23 19:12] paulb777 commented on #7764
I can reproduce, so there is at least a documentation bug here, since running without options doesn't provide the usage notes.

[2021-03-23 19:14] jkb0o commented on #7736
Any progress with hiding GoogleAppMeasurement? It's quite critical for us. For now, we are walking in the dark with zero information about users' behavior. Right before the most important release for the last three years. @paulb777, @ryanwilson?

[2021-03-23 19:21] armcknight commented on #7702
Thanks @elenadoty! I assume you mean bandwidth for acceptance testing the signal propagation change. Would you like me to split out the other fixes I made, into a separate PR? Of special interest might be the logging and integer signedness fixes. Sorry I didn't link a full diff, here is a draft PR in my fork: https://github.com/specto-dev/firebase-ios-sdk-1/pull/1. I can also open a separate issue

[2021-03-23 21:08] elenadoty commented on #7702
Hi @armcknight,
The testing was what I meant, yes. We'd be happy to take the other changes though (a separate issue would be best)!

[2021-03-24 00:20] ramanpreetSinghKhinda commented on #7765
Tracked internally at b/183553709

[2021-03-24 00:56] ramanpreetSinghKhinda commented on #7765
Thanks @dmytriigolovanov for reporting the issue.

Can you help me understand how many sessions/users are currently effected with this issue? (_you should be able to see this in Firebase Crashlytics Console_).

[2021-03-24 10:54] malcommac commented on #7208
Unfortunately it seems fails to build the project on a device because it can't found linked frameworks.
For example: When I import the pod "A" in the main target, build process fails with 'Cannot found module A'.
Any idea?

[2021-03-24 13:17] ncooke3 commented on #7773
Most of the tests failed during project setup with a `Response: 429 429: Too Many Requests` error from the cocoapods? CDN.

Auth integration flaked again, this time with `testCreateAccountWithEmailAndPassword:`. Seems like deleting a user account failed and caused a failed account creation attempt.

[2021-03-24 13:27] cpdunphy opened #7777 "Unable to install the Firebase iOS SDK (7.9.0) through SPM"
### Environment

  * Xcode version: 12.4
  * Firebase SDK version: 7.9.0
  * Installation method: `Swift Package Manager`
  * Firebase Component: Take your pick.. I could not get the option to select the desired components.

### Problem

Unable to install the Firebase iOS SDK (7.9.0) through SPM. Failing with the error: `Failed to resolve dependencies`

This seems to be a problem isolated to 7.9.0

[2021-03-24 13:35] GregoireTapptic commented on #7736
We have the same issue here for a Kids app with rejections from Apple with Firebase 8.7.1 and we would really need a solution as it blocks us from releasing anything on the Store.

[2021-03-24 13:37] MrJorgeXavier commented on #7208
@malcommac That happened with me to after I cleaned my project. I edited my previous comment with the solution, what I did was changing the following lines:

[code]

to

[code]

This way the config only affects the simulator.

[2021-03-24 13:41] malcommac commented on #7208
Hi, thank you.
I've also tried this:

[code]

but I'm not sure it's correct too.

[2021-03-24 13:51] rizafran commented on #7770
Hi @ir77, based on my understanding, MFA is working fine when using the other auth method, but it's not working when using the email link. Is it correct? Also, is it possible for you to share an [MCVE](https://stackoverflow.com/help/minimal-reproducible-example) so I could try to reproduce it on my end?

[2021-03-24 14:13] Program8 commented on #2984
Its 2021 and still not fixed

[2021-03-24 14:19] paulb777 commented on #7777
@cpdunphy Thanks for the report. I've reproduced and we're investigating ...

[2021-03-24 14:25] paulb777 commented on #7777
It looks like a result of changing from version dependencies to hash dependencies in #7563. I'll work on a fix.

[2021-03-24 14:31] cpdunphy commented on #7777
Sounds great! I appreciate the quick turnaround.

[2021-03-24 14:41] jkb0o commented on #7736
@GregoireTapptic The solution is to build without FirebaseAnalytics and GoogleAppMeasurement frameworks. We did pass the review.

[2021-03-24 15:00] GregoireTapptic commented on #7736
Thanks @jkb0o but as I understand, this prevents from getting Analytics from Firebase right? What about Crashlytics?

[2021-03-24 15:07] ibeleliev opened #7780 "Memory Leak in GoogleDataTransport"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 12.4
  * Firebase SDK version: 7.9.0
  * Installation method: `CocoaPods`
  * Firebase Component: Crashlytics

### [REQUIRED] Step 2: Describe the problem

#### Steps to reproduce:

Using the profiling instrument - "Leaks" i saw memory leaks regarding GoogleDataTransport.
I'm using the version 8.3.0 .

#### Relevant Code:
![Scree

[2021-03-24 15:11] malcommac commented on #7208
I've also added the remaining arch because it fails on my device.
Thank you very much for your support :)

[code]

[2021-03-24 15:15] khuffie commented on #7707
@chliangGoogle  - the google-oss-bot is stating this issue is stale.

Is this still being investigated on your end?

We are seeing the same issue in our iOS app. On Android, our push notification rate is about 27%, on iOS, it's less than 1%. We do see an uptick in users on iOS whenever we send a push notifications, so they ARE being received and opened.

[2021-03-24 15:16] timmythompsen commented on #7777
Im running into the same issue! Thanks for the quick fix everyone

[2021-03-24 15:39] paulb777 commented on #7777
I just published a 7.9.1 and verified that my test example is fixed with that.

For future reference, I first tried moving the 7.9.0 tag, but Xcode used a cached version of the repo and tag that didn't get reset even after removing `DerivedData`.

[2021-03-24 16:09] paulb777 commented on #7707
Looks like this was marked stale because of the open question above:

@chris-o3h were you able to see notification_open even logged in analytics debug view?

[2021-03-24 16:52] eburley commented on #7736
We’re sorry you’re seeing rejections.  Google Analytics for Firebase has provided AddSupport as an optional feature for a long time, and introduced optional support for AppTrackingTransparency last year. Our approach has been to use NSClassFromString and NSSelector to detect the presence of these frameworks - this approach is now resulting in App Store rejections. Our team is working on decoupling

[2021-03-24 17:03] rrozenv commented on #7777
@paulb777 I think I am having a related issue with boringssl-SwiftPM. Even after clearing derived data and resetting all package caches I am seeing a `openssl/arm_arch.h file not found`. I tried downgrading to 7.8.1 and it does not work there either

![Screen Shot 2021-03-24 at 1 00 05 PM](https://user-images.githubusercontent.com/25207952/112352638-4e869c00-8ca1-11eb-9297-9f640801f56c.png)

[2021-03-24 17:08] chliangGoogle commented on #7707
@chris-o3h Can you also let us know if you are using "send now" or "scheduled" message? If you use "scheduled" message, are you using local timezone or specific timezone?

Here's how you can use analytics debug view to see if notificaiton_open is logged: https://firebase.google.com/docs/analytics/debugview

[2021-03-24 17:53] cpdunphy commented on #7777
@rrozenv I am running into the same issue that you described. (Downgrading to 7.8.1 does not work as well)

[2021-03-24 18:39] rizafran commented on #6887
Hi @Koronaa, sorry for the late reply here. May I know if you're still encountering an issue in getting the FCM token for all the devices in China? If not, have you tried it using VPN in order to isolate the issue?

[2021-03-24 19:02] #7771 closed

[2021-03-24 19:02] #7780 closed

[2021-03-24 19:04] paulb777 commented on #7777
Reproduced when building for device. It's a result of https://github.com/firebase/boringSSL-SwiftPM/pull/1/files.

Sorry about the churn.  We clearly have to improve our SPM testing and CI.

I'll work on a fix.

Note this issue should be Firestore only. Locking the BoringSSL-GRPC dependency to 0.0.7 should be a workaround and I'll try to get a 0.0.9 soon.

[2021-03-24 19:09] jbweimar commented on #7652
Hey @paulb777,

I just got a response from Apple and they said the following:

"At this time, the concern regarding App Transparency code use is associated with -[APMIdentity updateIdentifiers], wherein the ATTrackingManager class is accessed dynamically, and here and elsewhere within that SDK are methods for that class also accessed dynamically. It would be appropriate to remove the SDK, update o

[2021-03-24 19:21] paulb777 commented on #7777
There is now a 0.0.9 update for BoringSSL-SwiftPM, but there is also a problem with the abseil dependency. I'll work on that one as well, and in the meantime, that needs to be force back to 0.20200225.0.

I'll work through any other build issues and  do my best to get a complete resolution out later today.

[2021-03-24 19:29] rrozenv commented on #7777
@paulb777 Thanks for taking a look. Is it possible if you could force Firebase 7.9.1 to point back to abseil 0.20200225.0? Or maybe create a separate branch where this is the case? Just want to have an interim solution so I'm not blocked. Really appreciate it.

[2021-03-24 19:36] NikitaEfim opened #7782 "Unable to install Firebase iOS"
**Environment:**
  * Xcode version: 12.4
  * Firebase SDK version: _____
  * Installation method: CocoaPods
  * Firebase Component: Analytics, Crashlytics, DynamicLinks

I just created a new empty project with Podfile and run 'pod install'
Now my app can't run because of error:
'GoogleUtilities/GULURLSessionDataResponse.h' file not found

My Podfile:
[code]

[2021-03-24 19:45] jkb0o commented on #7736
Yeah, you will stop getting Analytics. Crashlytics is a different part I guess, it works just fine.

[2021-03-24 19:45] maksymmalyhin commented on #7782
@NikitaEfim Could you please try `pod install --repo-update` and post the result.

[2021-03-24 20:14] NikitaEfim commented on #7782
@maksymmalyhin
The result is the same - 'GoogleUtilities/GULURLSessionDataResponse.h' file not found

**pod install --repo-update**
[code]

[2021-03-24 20:27] maksymmalyhin commented on #7782
Could you share what Cocoapods version you use? Could you try to update to the most recent one?

[2021-03-24 20:28] paulb777 commented on #7782
`pod deintegrate` or `rm -rf ~/Library/Developer/Xcode/DerivedData/` may help here.

[2021-03-24 20:32] NikitaEfim commented on #7782
@maksymmalyhin
Knew you would ask
just updated to the latest

pod --version
1.10.1

[2021-03-24 20:37] NikitaEfim commented on #7782
@paulb777

This is a specially created new project to be sure that the problem is not in the settings
I think you can easily repeat this error by creating an empty project with the same Podfile

[code]

[2021-03-24 20:41] maksymmalyhin commented on #7782
This looks a bit suspicious to me:
[code]

Could you please check in your Podfile and Podfile.lock why a very old Firebase version is installed along with the modern one. Feel free to share the files if you need help.

[2021-03-24 20:41] paulb777 commented on #7777
@rrozenv I made an abseil 0.20200225.2 and my early tests successfully build after Swift Packages -> Update to Latest Package Versions.

I want to do more testing before making a Firebase 7.9.2 and would appreciate any feedback on if the latest versions resolve your issues.

[2021-03-24 20:45] ramanpreetSinghKhinda commented on #7765
@dmytriigolovanov Upon checking this looks like a thread synchronization problem however, with current stack trace information we are not able to validate that (_at least we don't see a reason why there should be a threading problem based on the way how the method is called as the specific use case is already protected with [dispatch_queue_t](http://go/appledoc/dispatch/dispatch_queue_t)_).

Can y

[2021-03-24 20:55] maksymmalyhin commented on #7771
Thank you again for reporting the issue! The updated GoogleDataTransport version is expected to be released within a couple days after testing.

[2021-03-24 20:55] maxim04 opened #7783 "Callable function returns 'Unauthenticated' error when using the functions emulator"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 12.4
  * Firebase SDK version: FirebaseFunctions (7.8.0)
  * Installation method: `CocoaPods`
  * Firebase Component: Functions

### [REQUIRED] Step 2: Describe the problem
When using the emulator for functions and calling a callable function from the app, the request immediately returns an error: Unauthenticated, there are no lo

[2021-03-24 20:55] maksymmalyhin commented on #7780
Thank you for reporting the issue! The updated GoogleDataTransport version is expected to be released within a couple days after testing.

[2021-03-24 21:01] paulb777 commented on #7777
It looks like fresh installs of 7.9.1 get the corrected abseil and boringssl versions. I've verified that the Firestore quickstart now builds and runs on device.

Let me know if you see any additional issues or if you see the need for a 7.9.2 that forces the minimum versions of the corrected dependencies.

[2021-03-24 21:03] rrozenv commented on #7777
@paulb777 abseil 0.20200225.2 seems to have done the trick. I don't think 7.9.2 is required. Thanks again

[2021-03-24 21:31] #7777 closed

[2021-03-24 21:35] paulb777 commented on #7777
The Firestore device build issue is solved by https://github.com/firebase/abseil-cpp-SwiftPM/pull/3 and https://github.com/firebase/boringSSL-SwiftPM/pull/2 along with tag updates.

[2021-03-24 21:39] paulb777 opened #7784 "Fix async/await toolchain issues"
Successor bug to #7552.

Parts of #7563 had to be reverted because of bugs reported at #7777.

This issue is to investigate a solution that will work for both toolchains for all necessary use cases.

cc: @peterfriese

[2021-03-24 22:20] paulb777 commented on #7652
Some more recent updates at #7736

[2021-03-24 22:21] NikitaEfim commented on #7782
[temp.zip](https://github.com/firebase/firebase-ios-sdk/files/6200799/temp.zip)

Podfile
[code]

Podfile.lock
[code]

[2021-03-24 22:30] paulb777 commented on #7782
Thanks for providing the sample. The Podfile is missing a minimum version declaration, so CocoaPods tries to install ancient versions of Firebase that support old iOS versions.  The current minimum iOS version supported is 9.0, so the solution is to add `platform :ios, '9.0'` to the top of the Podfile.

[2021-03-24 22:38] NikitaEfim commented on #7782
Thanks, I uninstalled pods, installed again, but the error is still there
Do you manage to reproduce the error in my project above, or is it just something wrong with me?

[code]

[2021-03-24 22:41] paulb777 commented on #7782
I reproduced and then eliminated. You might also need to remove the Podfile.lock.

[2021-03-24 22:49] NikitaEfim commented on #7782
Ohh, I don't know what to try anymore
Could you check please?
[temp.zip](https://github.com/firebase/firebase-ios-sdk/files/6200908/temp.zip)

[2021-03-24 22:52] paulb777 commented on #7782
Oh, I'm sorry the minimum current version is 10, not 9.

[2021-03-24 22:59] NikitaEfim commented on #7782
ahhh, clear
and if I want support iOS 9, then which version I need to specify for pods?

pod 'Firebase/Analytics'
pod 'Firebase/Crashlytics'
pod 'Firebase/DynamicLinks'

[2021-03-24 23:06] paulb777 commented on #7782
Analytics and Crashlytics are the exceptions that still support 9.

For DynamicLinks, you'll need to go back to 6.x, the latest being 6.34.0

[2021-03-24 23:15] NikitaEfim commented on #7782
Thanks for you help!

[2021-03-24 23:15] #7782 closed

[2021-03-25 03:51] MichaleTuan commented on #7704
@rizafran Thanks for your advice. I updated to the latest version (7.8.0) & it still happened. If you create a campaign with option `Display no more than one message every day` . You will see the problem.

[2021-03-25 04:23] cpdunphy opened #7785 "FirebaseAnalyticsSwift-Beta: Failure to Build/Archive with Xcode"
### Describe your environment

  * Xcode version: 12.4
  * Firebase SDK version: 7.9.1
  * Installation method: `Swift Package Manager`
  * Firebase Component: `FirebaseAnalyticsSwift-Beta`

### Describe the problem

Xcode Archive fails when using the `FirebaseAnalyticsSwift-Beta` component. Building and installing the app with the dependency works so far as expected, the trouble is with archiving

[2021-03-25 07:28] trungnguyen1791 commented on #7387
@bathi67 Did you get any update on this issue?

[2021-03-25 11:03] ir77 commented on #7770
@rizafran

Yes, your understanding is correct. More specific, it won't work if a user who is already connected to MFA uses the email link. If you remove the MFA setting for that user from the project settings, the email link will work.

I'm sorry, but I'm not going to be able to share the MCVE for a while. If I am ready, please let me know.

[2021-03-25 12:51] ryanwilson commented on #7785
Thanks for the report and sorry for the troubles!

The workaround of copying the file manually sounds like a good approach for now while we figure out what's going on. I'm not sure why that's an issue though off the top of my head, as we're conditionally checking if `SwiftUI` can be imported here:

https://github.com/firebase/firebase-ios-sdk/blob/881518c82aa5882bc9fff17b60881edef1ccea9e/FirebaseA

[2021-03-25 12:55] ryanwilson commented on #7785
Haven't tested this yet but I think adding a `linkedFramework` may be the solution here, similar to this inclusion of StoreKit:  https://github.com/firebase/firebase-ios-sdk/blob/881518c82aa5882bc9fff17b60881edef1ccea9e/Package.swift#L258

[2021-03-25 13:01] cpdunphy commented on #7785
@ryanwilson Thanks for taking a look! Obviously the component is in beta and issues are a given, but I figured it is worth mentioning. Let me know if you're able to reproduce it.

[2021-03-25 13:56] scottluxenberg opened #7787 "Remediate CVE-2021-21401 by updating to nanopb 0.3.9.8 or higher"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 12.1
  * Firebase SDK version: 7.4.0
  * Installation method: `CocoaPods` (select one)
  * Firebase Component: nanopb

### [REQUIRED] Step 2: Describe the problem

[CVE-2021-21401](https://vuln.whitesourcesoftware.com/vulnerability/CVE-2021-21401): "In Nanopb before versions 0.3.9.8 and 0.4.5, decoding a specifically formed messa

[2021-03-25 14:21] paulb777 commented on #7787
@scottluxenberg Thanks for the report. The nanopb issue came from us and we're working to update Firebase's nanopb version in our next release.

[2021-03-25 14:41] ncooke3 commented on #7773
Auth  integration failed on `testCreateAccountWithEmailAndPassword:`. Looks like the account was still in the project's user database. Removed the account and restarted. Zip also failed on auth but it looks flaky so I'm restarting that as well.

[2021-03-25 15:00] hovox commented on #7627
HI @elenadoty , hope you are well.

Is there any progress regarding to this issue ? Sorry for disturbing you, just want to check do you started to work on this or have timeline approximately when will start ?

[2021-03-25 17:23] rizafran commented on #7783
Thanks for reporting, @maxim04. This might be a permission issue. First off, make sure that you're running the latest [CLI version](https://firebase.google.com/docs/cli#update-cli). Also, It seems like the suggested steps [here](https://cloud.google.com/functions/docs/securing/managing-access-iam#allowing_unauthenticated_function_invocation) may fix the Unauthenticated error. Make sure as well tha

[2021-03-25 20:26] maxim04 commented on #7783
@rizafran I am running the latest firebase cli `9.7.0`. The suggestion in the provided link to "Allowing unauthenticated function invocation" is not my goal here. I want the function to be called with authentication.

Some more info:
- I am the owner of the project in firebase
- I have all the necessary rights.
- Everything works as expected in production mode.
- The problem arises when using the

[2021-03-25 20:49] morganchen12 commented on #7783
@samtstern do you know what could be going on here?

[2021-03-25 22:47] elenadoty commented on #7627
Hi @hovox,
Sorry for the delay - unfortunately I haven't yet been able to determine a solution to this. I'm in the process of exploring the unwinding process and hope to be able to spend more time on it next week or so.

[2021-03-26 06:46] Tliens opened #7790 "NSURLSession delegate cycle"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: __12.3___
  * Firebase SDK version: _7.8.1____
  * Installation method: `CocoaPods ` (select one)
  * Firebase Component: __GoogleDataTransport___ (Auth, Core, Database, Firestore, Messaging, Storage, etc)

### [REQUIRED] Step 2: Describe the problem
NSURLSession delegate  cycle
`
- (instancetype)initWithTarget:(GDTCORTarget)targ

[2021-03-26 07:11] tichise commented on #6219
I am now getting previews rendered with code coverage off.

[2021-03-26 09:20] JohannesWarn commented on #7736
We are also being rejected with the 7.8.1 version of the Firebase SDK. Same message from Apple. We asked Apple for more details but unfortunately only got the same message again.

[2021-03-26 10:34] dmytriigolovanov commented on #7765
There is only 1 user affected by this issue and only 1 issue case for this user.

You're interested only in stacktraces linked to your SDKs?
I'm not sure that providing all stacktraces does not break an agreement with our customer. I think you will understand what I say (NDA).

[2021-03-26 11:02] LeonXiaoZ commented on #7406
@cuicmex @eldhosembabu  Are there any updates on this? I want to integrate the firebase dynamic links. I test several times in iOS14.2.1 and iOS14.4.1. It works well. But if it have chance to fail to work in iOS14, I need to know it and have some backup mechanism.

[2021-03-26 16:11] yakovmanshin opened #7791 "[IAM] Duplicate code in FIRIAMRenderingWindowHelper"
### Feature proposal

* Firebase Component: IAM

`FIRIAMRenderingWindowHelper`’s `UIWindowForImageOnlyView` method is identical to `UIWindowForModalView`, except for local variable names. One of them can be safely removed.

Also, `UIWindowForModalView` is called not only in `FIRIAMDefaultDisplayImpl`’s `displayModalViewWithMessageDefinition:displayDelegate:`, but also in `displayCardViewWithMessag

[2021-03-26 17:01] dimawushu commented on #6528
Any updates?

[2021-03-26 18:11] yansaid opened #7793 "Can not receive message from FCM."
This is the shell i used, it is successful, all configurations are same as FCM.
My phone can not receive test message from FCM.
And no error reported.
[code]

These are logs.
[code]

[2021-03-26 18:56] mfmansueli commented on #4563
Hello @makuchaku , I'd love a chance to get in early on Analytics for Catalyst. Can you add one more? =)

[2021-03-26 19:04] Jange1l opened #7794 "Thread Sanitizer found Data Race in GDTCCTUploadOperation.m:508 in -[GDTCCTUploadOperation finishOperation]"
Hello everyone, I am in the process of uploading my app to the app store and there are some bugs that are not caught in the simulator but when I upload my archived version the apple testers say that it crashes after logging in.

After a deeper look into my code, I noticed that there is a race condition related to some Google code for firebase dependencies.

I could really use some help interpretin

[2021-03-26 19:21] rizafran commented on #7793
Thanks for reporting, @yansaid. It seems that the template hasn't been followed. With this, could you share the following details so we could verify what's causing it:

- Detailed steps to reproduce the issue
- SDK version you're using
- Notification payload being used
- App state

[2021-03-26 19:36] rizafran commented on #7794
Thanks for reporting, @Jange1l. It seems like the issue you encountered is related here #7771.

[2021-03-27 01:28] yansaid commented on #7793
steps: I add a new iOS application on firebase, i use `auth` and `Messaging`, the `Auth` works well.
I add the `AuthKey` to iOS application settings, all same as the test.
I can get the FCM Token , not into the error
[code]
SDK version: 7.3.0
iOS: >= iOS 11
My Device: iOS 14.4.1
App state: APP in Foreground
Environment: development

[2021-03-27 09:12] #7793 closed

[2021-03-27 09:14] yansaid commented on #7793
solve: reupload Auth Key.
Set Team ID before uploading Auth Key

[2021-03-27 13:07] #7773 closed

[2021-03-27 18:02] delasign commented on #7291
Has this been figured out ? I just hit this wall on App Store connect

[2021-03-28 15:31] paulcarpenter commented on #6843
Any progress on this? I've followed all of the instructions here for my project and see the same thing as this: https://github.com/firebase/firebase-ios-sdk/issues/6843#issuecomment-773028176

Still can't get any crashes to show up in the console, either from simulator or device. I'm triggering the crash with an invalid selector.

I've read over all of the comments here and believe that I've tried

[2021-03-28 16:07] jostster commented on #6843
Hello Paul,
Notice the exception is a sigabrt which is a signal abort, which is a
signal exception. Unfortunately due to watchOS limitations we are unable to
capture any crashes generated from SwiftUI.

On Sun, Mar 28, 2021 at 10:31 AM paulcarpenter ***@***.***>
wrote:

[2021-03-28 16:27] paulcarpenter commented on #6843
@jostster Wow, no need to answer my annoying questions on a Sunday. I actually deleted my comment that you replied to because I got confused myself. Two things:
– I know that SIGABRT is a signal abort, but it was triggered by calling a missing selector, which is what you had recommended above. I was confused why the preferred method of testing this was in fact supposedly not detectable on WatchOS.

[2021-03-28 16:39] jostster commented on #6843
So I THINK but am not certain that because the invalid selector is
initially triggered from swiftUI it generates as a signal.

Also I have noticed that sometimes it can take up to an hour for reports to
show up in console.

On Sun, Mar 28, 2021 at 11:27 AM paulcarpenter ***@***.***>
wrote:

[2021-03-28 16:58] girishw commented on #7291
You can work around this with :

1, Selecting the team in Signing & Capabilities
2, Selecting Sign to Run Locally under Signing Certificate

[2021-03-28 20:06] delasign commented on #7291
@girishw thanks for the note. You're an exceptional Samaritan.

#1 failed.
#2 BINGO.

[2021-03-29 00:30] Blurzschyter opened #7796 "Failed to upgrade Firebase SDK"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: **12.4**
  * Firebase SDK version: **7.0.0**
  * Installation method: **CocoaPods**
  * Firebase Component: **Auth, Firestore, Analytics, Crashlytics, Performance**
  * Cocopods version : **1.10.1**

### [REQUIRED] Step 2: Describe the problem

I'm currently using **Firebase SDK 6.34.0** with my project with below pods, without e

[2021-03-29 01:03] #7625 closed

[2021-03-29 01:03] #7551 closed

[2021-03-29 05:58] dturnq commented on #6565
Any updates on this? I am having this very frustrating problem as well.

[2021-03-29 10:46] samtstern commented on #7783
@maxim04 sounds like it might be a Firebase CLI issue. Could you run the Firebase emulators `emulators:start` with the `--debug` flag and then show the logs when this issue happens?

[2021-03-29 13:08] github-actions[bot] opened #7797 "Nightly Testing Report"
# Nightly Testing Report
This issue([log](https://github.com/firebase/firebase-ios-sdk/actions/runs/697929744)) is generated at 03/29/2021 06:08 AM, fetching workflow runs triggered in the last 24 hrs.
| Workflow |03/28|
| -------- | -------- |
| [crashlytics](https://github.com/firebase/firebase-ios-sdk/blob/master/.github/workflows/crashlytics.yml) | [failure](https://github.com/firebase/firebas

[2021-03-29 13:28] ryanwilson commented on #7785
Thanks, I can definitely reproduce it but the fix isn't as simple as I had originally hoped. Even with adding it as an explicitly linked framework, I'm still seeing the issue. I temporarily removed the `#if canImport(SwiftUI` and still running into the issue, despite importing SwiftUI on line 17.

I'll keep digging, thanks again for the report!

[2021-03-29 13:38] maksymmalyhin commented on #7790
@Tliens Sorry for the trouble. The issue is a duplicate of #7780. The fix is in the main branch of [GoogleDataTransport](https://github.com/google/GoogleDataTransport) repo and is expected to be released soon once testing is complete. You are very welcome to test the fix from the branch if you have a chance. Thank you.

I'm closing the issue so far, but feel free to reopen if you find out addition

[2021-03-29 13:38] #7790 closed

[2021-03-29 13:40] lorenzofiamingo opened #7798 "Code linting process is not working"
Follow up of [this](https://github.com/firebase/firebase-ios-sdk/pull/7623#issuecomment-804954799) comment in #7623.

### Environment

  * macOS Version: 11.2.3

### Problem

I'm not able to lint my code.

#### Steps to reproduce:

I did all the steps in [Developing.md](https://github.com/firebase/firebase-ios-sdk/blob/combine-main/FirebaseCombineSwift/DEVELOPING.md) of combine-main branch. The fi

[2021-03-29 14:00] paulb777 commented on #7796
@Blurzschyter This is a duplicate of #7195. Please see the resolution at https://github.com/firebase/firebase-ios-sdk/issues/7195#issuecomment-748160262

[2021-03-29 14:01] #7796 closed

[2021-03-29 14:21] paulb777 commented on #7798
@lorenzofiamingo Sorry about the trouble.

What happens after fixing the trailing whitespace errors?  Does it proceed further?

It might be confusing that formatting errors are fixed by the script, but whitespace and some other errors are not.

[code]

[2021-03-29 14:33] maksymmalyhin commented on #7780
The should be fixed on GoogleDataTransport 8.3.1. Please try to update and let us know if you still have the issue.

[2021-03-29 14:34] maksymmalyhin commented on #7790
The should be fixed in GoogleDataTransport 8.3.1. Please try to update and let us know if you still have the issue.

[2021-03-29 14:34] ryanwilson commented on #7785
Hmm, I suspect this is the issue:
https://github.com/firebase/firebase-ios-sdk/blob/9f36662ee8b71dd6b6e15e5b57ce30daefafb832/Package.swift#L24

If I change that to `.iOS(.v13)` I'm able to successfully archive with a few local changes. That's a no-go in general though since the rest of the SDKs still need to support older iOS versions. I suspect it could be a bug on Apple's side, since everything

[2021-03-29 14:35] maksymmalyhin commented on #7771
The should be fixed in GoogleDataTransport 8.3.1. Please try to update and let us know if you still have the issue.

[2021-03-29 14:35] maksymmalyhin commented on #7794
The should be fixed in GoogleDataTransport 8.3.1. Please try to update and let us know if you still have the issue.

[2021-03-29 14:35] #7794 closed

[2021-03-29 14:44] lorenzofiamingo commented on #7798
I think it works well then... Is this output correct?

[code]

[2021-03-29 14:51] ibeleliev commented on #7780
Thanks @maksymmalyhin the issue doesn't appear anymore.

[2021-03-29 16:40] paulb777 commented on #7798
Based on https://github.com/firebase/firebase-ios-sdk/pull/7623/checks?check_run_id=2219478330, it looks like there is still a style problem.

Something in the checked out repo might be causing a problem with running `./scripts/style.sh`. Two options:

- Add logging to the script to isolate the issue
- Do a `git clean` and retry (assuming you don't have needed untracked files in the checked out re

[2021-03-29 16:50] paulb777 commented on #7797
All three of these passed yesterday and there were no repo changes. Considering them transitory flakes unless they repeat tomorrow.

[2021-03-29 16:56] #7791 closed

[2021-03-29 16:59] khuffie commented on #7707
@chliangGoogle  - I can share my experience as well

We have used both "send now" and "scheduled" messages. Both messages were in specific timezones.

In our tests, we could not see the notification_open being logged in debugview consistently.

[2021-03-29 17:40] AndriyGo opened #7800 "AB testing exclude user"
### Feature proposal

* Firebase Component: AB testing

Suppose I want to A/B test onboarding redesign for my app. It is easy to set up a RemoteConfig A/B test, and let's suppose that I have two variants: "new" and "old", with "old" being the default one.

I can postpone the loading of my app until remote config fetch is complete. But, if there is no internet, my user will not receive any informat

[2021-03-29 19:27] lorenzofiamingo commented on #7798
When I do `git clean`:
[code]

[2021-03-29 19:38] paulb777 commented on #7798
Yes you need to use one of the options.

[2021-03-29 20:23] #7787 closed

[2021-03-29 20:33] mobilepm commented on #7736
We're also a kids app being rejected with 7.8.1. Apple told us "the ATTrackingManager and trackingAuthorizationStatus dynamic usage remains in place via concatenation in block code associated with -[APMIdentity updateIdentifiers]."

Could you help us resolve this issue ASAP? Thanks

[2021-03-29 22:20] idsky2 commented on #5314
Check the Firebase API Key restrictions in *Google* Console -- mine was restricted to not allow Dynamic Links API calls from back when we first started using firebase for other things.  I wish the API call had given a permission error instead of a 'success' response with a null link!

[2021-03-30 00:57] rosalyntan commented on #7341
Hi @BosPrusin, can you provide some example code of how you are obtaining and sending your custom token? It does seem likely that the custom token for the wrong project is being sent to the backend after you switch targets in Xcode.

[2021-03-30 06:01] Algashev opened #7803 "Unable to read the license file `LICENSE` for the spec `Firebase (7.9.0)`"
### Environment

  * Xcode version: 12.4 (12D4e)
  * Firebase SDK version: 7.9.0
  * Installation method: `CocoaPods`
  * Firebase Component: Analytics, Crashlytics, RemoteConfig

### Steps to reproduce:
[code]
or
[code]
`pod update` log:
[code]
Console warning:
[code]

[2021-03-30 07:37] jkb0o commented on #7736
Is it possible to release a `strict` version of the framework? Like Appsflyer does. Without any tracking or suspicious things. Just to keep the kids happy?

[2021-03-30 08:20] GZaccaroni commented on #7039
Any update on this? The PR was merged

[2021-03-30 09:26] maxim04 commented on #7783
@samtstern started the simulators with the debug flag and unfortunately there was no log output when the error occurs. I did however enabled debug logging for firebase using `-FIRDebugEnabled` xcode flag and when the `Functions.functions().httpsCallable("myFunction").call(functionData) { (result, error) in }` is called the following line is printed to console: `7.8.0 - [Firebase/Auth][I-AUT000017]

[2021-03-30 10:17] Algashev commented on #7803
Deleting `pod 'Firebase/RemoteConfig'` from the Podfile fixes the issue.

[2021-03-30 12:24] sanjayhub opened #7804 "crash in Firebase Crashlytics"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 12.4

  * Firebase SDK version: 7.6.0
  * Installation method: `CocoaPods`
  * Firebase Component: Crashlytics

### [REQUIRED] Step 2: Describe the problem

#### Steps to reproduce:

crash found in store build
<img width="1236" alt="Screenshot 2021-03-30 at 9 51 12 AM" src="https://user-images.githubusercontent.com/7887251/112987

[2021-03-30 13:20] BosPrusin commented on #7341
Sure.  But again to be clear we are seeing the auth coming back successful which mean the initial login event is working and not a result of an invalid token being sent.   It is subsequent calls made by the SDK that I see the error in the log as mentioned.

Here is a snippet of our login:

  Auth.auth().signIn(withCustomToken: token) { (user, error) -> Void in
            if error != nil {

[2021-03-30 13:25] pot8os opened #7805 "Thread sanitizer detected Data Race in [FPRNetworkTrace responseSize] at 7.9.0"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 12.4
  * Firebase SDK version: 7.9.0
  * Installation method: `CocoaPods`
  * Firebase Component: See the following list 👇

[code]

### [REQUIRED] Step 2: Describe the problem

#### Steps to reproduce:

Just running an app that implements the above and configuring them properly. I believe we can regard this as a general issue as

[2021-03-30 13:44] paulb777 commented on #7797
All of last night's failures are a result of yesterday's nanopb/GDT changes and I believe all infrastructure issues. I'll follow up with the resolution.

[2021-03-30 14:04] paulb777 commented on #7797
Fixes for the nightly test failures in #7806, #7807, and #7808.

The release test is expected to fail because we don't want to use SpecsDev in release testing and master currently depends on it in advance of M93. We may want to rethink this ...

[2021-03-30 14:14] paulb777 commented on #7039
I'm planning to investigate this week.

[2021-03-30 14:19] paulb777 commented on #7803
This looks like a duplicate of #7782.

Please see the resolution and discussion there and let us know if you have any additional questions.

[2021-03-30 14:43] rizafran commented on #7804
Thanks for reporting, @sanjayhub. Is the issue reproducible on your end? Also, can you share the full stack trace so we could take a look on what's causing it, and when/which part did the crash occur (e.g app launch, device offline)?

[2021-03-30 15:16] GZaccaroni commented on #7039
I think the download link you provided doesn't include `FirebaseFirestoreSwift`.

[2021-03-30 15:25] paulb777 commented on #7039
Correct the Swift packages are so far only available via CocoaPods and SPM.

[2021-03-30 17:36] ramanpreetSinghKhinda commented on #7765
To respect NDA you can only send me stacktraces linked to Firebase SDKs.

[2021-03-30 19:00] bilck commented on #7736
I came to this post just to make the **exact** same suggestion.

We removed Firebase App Analytics from our app, but "Firebase/Core" pod dependency drags along "FirebaseAnalytics".
**Note:** We use Firebase SDK for Unity 3D, including Firebase Remote Config and Crashlytics.

[2021-03-30 20:29] paulb777 commented on #7736
@bilck The `Firebase/Core` subspec is no longer recommended instead of specifying the Firebase pods specifically needed. See https://firebase.google.com/docs/ios/setup

BTW, we're working to get a more tangible response here on the issue soon.

[2021-03-30 22:11] paulb777 commented on #7039
On further investigation, the [Carthage release PR](https://github.com/Carthage/Carthage/pull/3152) with the fix is open and not yet released.  I'll follow up when 0.38.0 is available.

In the meantime, if anyone wants to validate that the [Firebase xcframeworks](https://github.com/firebase/firebase-ios-sdk/releases/tag/7.9.0) work with the pre-release, it would be appreciated.

[2021-03-30 23:03] unxavi commented on #4393
Just my 2 cents, `appleIDCredential.fullName` returns the name everytime there is a new SignIn, this seems something that Firebase should fix on the SDK. Then the developer should check if `displayName` is nil or not and if it is, prompt the user to give you the name. Then user already accept to give you the name with sign in with apple and they can edit the name that they want to give, so this is

[2021-03-31 03:58] Tliens commented on #7790
thanks

[2021-03-31 12:48] jsding opened #7815 "Build Firestore 7.9.0 failed"
### Step 0: Are you in the right place?

### [REQUIRED] Step 1: Describe your environment
  * OSX: 10.15.7
  * Xcode version: 12.4
  * Firebase SDK version: 7.9.0
  * Installation method: CocoaPods
  * Firebase Component: Auth, Core, Firestore, Messaging, RemoteConfig

### [REQUIRED] Step 2: Describe the problem

<path>/Pods/BoringSSL-GRPC/src/crypto/x509/x_name.c:69:10: '../asn1/asn1_locl.h' file

[2021-03-31 14:05] paulb777 commented on #7797
I restarted storage, database, and abtesting.

It looks like #7807 is the wrong way to and SpecsDev as a repo to the zip test. @granluo, would you take a look?

[code]

[2021-03-31 16:42] rizafran commented on #7815
Thanks for reporting, @jsding. I've tried to reproduce the issue, but I was able to successfully build my project. Could you share the complete logs you encountered when building the project? You could also try using the [Quickstart for iOS ](https://github.com/firebase/quickstart-ios/tree/master/firestore)and see if the issue will persist.

[2021-03-31 16:59] LeonXiaoZ commented on #7406
Any updates on this issue?I almost gave up on this SDK

[2021-03-31 20:29] rizafran commented on #7800
Hi @AndriyGo, thanks for filing. It seems that you may use the activation event. As per [docs](https://firebase.google.com/docs/ml/ios/ab-test-models), an activation event is an event the user must trigger before they are considered to be part of the experiment. This looks like a flag that determines if the user will be included in the experiment. To setup, make sure that the fetchAndActivate shou

[2021-03-31 20:53] willbattel commented on #1951
We're still interested in this behavior. @morganchen12 I know you guys are busy, but do you think this is something we might get some day or is it more likely this will sit here until the heat-death of our universe? 🙃

In the mean time, can you recommend this as a workaround or is there a possible danger to orphaning the trace?
[code]

[2021-03-31 21:06] davepaul0 commented on #6663
What's the recommended channel for putting pressure on GTM/GA teams to provide support?

[2021-03-31 22:06] maxim04 commented on #7783
@samtstern After further investigation I found that even though in the iOS app I configure the functions to use the emulator like so `Functions.functions().useEmulator(withHost: "localhost", port: 5001)` when the line `Functions.functions().httpsCallable("myFunction")` is executed, it makes a call to the real function in the cloud, it does not use the function running in the emulator. This is conf

[2021-03-31 22:33] morganchen12 commented on #7783
@maxim04 can you [enable debug logging](https://firebase.google.com/docs/reference/ios/firebasecore/api/reference/Classes/FIRConfiguration#/c:objc(cs)FIRConfiguration(im)setLoggerLevel:) and share the logs from Xcode when your app is running?

[2021-03-31 22:43] jfinkelstein-ixl commented on #7736
hi @ryanwilson thank you for the update!

1) We should update to 7.9.0-k2 (not 7.9.0-k1) for cocoapods, correct?
2) After we updated to 7.9.0-k2 (and ran `pod update`) in the Podfile.lock, I only see -k2 as part of the version (7.9.0-k2) for `Firebase/Analytics` and `Firebase/Crashlytics` in the `DEPENDENCIES` section not in the `PODS` section (there it's just 7.9.0 for `FirebaseAnalytics`, `Googl

[2021-03-31 22:44] maxim04 commented on #7783
@morganchen12 here is the output from xcode with debug logging enabled:
[code]

[2021-03-31 23:04] paulb777 commented on #7736
Hi @jfinkelstein-ixl Firebase, FirebaseAnalytics, and GoogleAppMeasurement should all be the `-k2` version.

After adding the following to the [Analytics Quickstart Podfile](https://github.com/firebase/quickstart-ios/blob/master/analytics/Podfile):

[code]

I see

![Screen Shot 2021-03-31 at 4 03 17 PM](https://user-images.githubusercontent.com/73870/113221890-bfe2c380-923a-11eb-8d98-5e4b941492c3.

[2021-04-01 01:03] #6432 closed

[2021-04-01 01:03] #4810 closed

[2021-04-01 02:09] jsding commented on #7815
pod deintegrate and pod install not work.

../asn1/asn1_locl.h not found in BoringSSL-GPRC module.

[2021-04-01 02:43] paulb777 commented on #7815
Another possibility is the `sed` command has been changed on the Mac installing the Pods.

See #5623 and #736 for more details and solutions.

[2021-04-01 03:40] jsding commented on #7815
Thanks for the info. I did not changed sed to gnu-sed. so this should not be the case.

[2021-04-01 08:02] GZaccaroni opened #7819 "Add FirebaseFirestoreSwift to Carthage and binary zip package"
### Feature proposal

* Firebase Component: Firestore (Auth, Core, Database, Firestore, Messaging, Storage, etc)

Describe your use case and/or feature request here.

I want to ask if it is possible to add FirebaseFirestoreSwift to Carthage and binary zip packages added to each release ( https://github.com/firebase/firebase-ios-sdk/releases/tag/CocoaPods-7.2.0 Firebase.zip).

[2021-04-01 11:34] broksonic21 commented on #6393
According to this: https://developer.apple.com/forums/thread/123554?answerId=419087022#419087022

Apple prioritizes .com's differently than .links (at least in US). Could this explain why the original posters Firebase hosted version worked better than the .link URL? If so, perhaps that _is_ the solve?

[2021-04-01 14:34] paulb777 commented on #7797
Several tests didn't finish, but of the ones that did finish it looks like #7814 is causing a few breakages. Messaging and SPM workflows are broken because of failing unit tests that I can reproduce locally:

![Screen Shot 2021-04-01 at 7 29 29 AM](https://user-images.githubusercontent.com/73870/113309483-0af0eb00-92bc-11eb-8f04-93bf4e2a12b5.png)

The [prerelease tests are failing](https://github.

[2021-04-01 15:18] parachutemind commented on #4563
Ditto. When will FirebaseAnalytics.xcframework include a ios-arm64_x86_64-maccatalyst FirebaseAnalytics binary?

[2021-04-01 15:54] chliangGoogle commented on #7797
I will resolve it today. Sorry for missing that!

On Thu, Apr 1, 2021 at 7:34 AM Paul Beusterien ***@***.***>
wrote:

[2021-04-01 16:06] raymondlam commented on #7277
Closing this as this has been fixed with Kotlin v1.4.30.
https://github.com/ktorio/ktor/issues/1040#issuecomment-784357477

[2021-04-01 16:06] #7277 closed

[2021-04-01 16:24] paulb777 commented on #7815
Those issues contain other ideas about investigating.

Ultimately, we'll likely need a reproducible example to help since we don't see the problem in our tests.

[2021-04-01 18:53] bobbyzamora opened #7822 "Dynamic link sometimes redirects to appstore"
### Step 1: Describe your environment

  * Xcode version: 12.4
  * Firebase SDK version: 7.9.0
  * Installation method: CocoaPods
  * Firebase Component: Dynamic Links

### Step 2: Describe the problem
Hi!
We're using a lot of **firebase dynamic links** in our iOS application, and almost all time it works perfectly.
But, sometimes opening application from link stops working: link opening redirects

[2021-04-01 23:37] paulb777 commented on #7797
Reopening for the FCM issues

[2021-04-02 01:51] curiousdustin commented on #7736
I can confirm that an update to one of my kids category apps was facing this rejection.

I switched to using `7.9.0-k2` and resubmitted. I was approved within a few hours.

🚀

[2021-04-02 02:58] curiousdustin commented on #7736
@ryanwilson @paulb777, Is there anything in particular that this change may have broken? I will be testing my app a bit more before releasing the approved version.

My app uses:
[code]

[2021-04-02 06:27] Erumaru commented on #7208
Any news?

[2021-04-02 07:22] thienphuoc commented on #7736
Thanks, firebase team! After we updated the firebase SDK to 7.9.0-k2, My app was approved by Apple.

[2021-04-02 11:13] jsding commented on #7815
After upgrading MacOs to 11.2.3 (10.15.7 -> 11.2.3), this build error disappeared.

[2021-04-02 11:13] #7815 closed

[2021-04-02 14:21] gallaugher opened #7824 "Please support FirebaseUI in SPM"
### [READ] Guidelines

For large or ambiguous requests, such as significant breaking changes or use
cases that could be addressed by multiple different features, consider instead
starting a
[Pitch](https://github.com/firebase/firebase-ios-sdk/discussions/categories/pitches)
discussion for ideas that you'd like to discuss with the Firebase community to
flush out.

When filing a feature request plea

[2021-04-02 15:57] abdullah4one opened #7825 "Flutter project Undefined symbols for architecture armv7 FSTFirestoreComponent firestoreForDatabase:] in FSTFirestoreComponent"
Undefined symbols for architecture armv7:
  "absl::lts_2020_02_25::string_view::find(absl::lts_2020_02_25::string_view, unsigned long) const", referenced from:
      firebase::firestore::model::ResourcePath::FromStringView(absl::lts_2020_02_25::string_view) in resource_path.o
  "absl::lts_2020_02_25::AlphaNum::AlphaNum(absl::lts_2020_02_25::Hex)", referenced from:
      firebase::firestore::nanopb

[2021-04-02 18:57] alobaili opened #7829 "184767764: FR: Make Dynamic Links work on macOS"
### Feature proposal

* Firebase Component: Dynamic Links

Currently [Firebase Dynamic Links is not supported in native macOS apps](https://github.com/firebase/firebase-ios-sdk/discussions/7826#discussioncomment-563096). It would be great to make it supported so that I can use the convenience of the Dynamic Links feature to support Universal Links for my macOS app without having to set up my own s

[2021-04-02 19:24] #7797 closed

[2021-04-02 21:50] paulb777 opened #7832 "Firebase pod and Firebase.h review and update"
- Updates for deleted and deprecated pods
- Review minor/patch version control
- Consider removing all Analytics warnings from Firebase.h

[2021-04-02 21:54] morganchen12 commented on #7824
See https://github.com/firebase/FirebaseUI-iOS/issues/886 for previous discussion. SPM support for FirebaseUI is complete but untested, but should be usable for educational exercises. You'll have to use the `pb-spm` branch on the FirebaseUI repository for now; the changes should be merged to master (https://github.com/firebase/FirebaseUI-iOS/pull/942) soon.

[2021-04-02 21:55] morganchen12 commented on #7824
Closing as duplicate of https://github.com/firebase/FirebaseUI-iOS/issues/886

[2021-04-02 21:55] #7824 closed

[2021-04-02 23:05] paulb777 commented on #7784
This is progressing and will probably land early next week. In the meantime, a workaround should be the small updates from two mentioned above after spm installation.

[2021-04-03 00:20] paulb777 commented on #7698
I'm going to close, since this can be tracked and will be solved along with #7039

[2021-04-03 00:20] #7698 closed

[2021-04-03 09:51] Idomo opened #7833 "Something in Firebase prevents from updating to Firebase/AdMob ~> 8.3.0"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 12.4 (12D4e)
  * Firebase SDK version: 7.9.0
  * Installation method: `CocoaPods`
  * Firebase Components: (Auth, Core, Database, Storage, Crashlytics, Analytics, AdMob)

### [REQUIRED] Step 2: Describe the problem

#### Steps to reproduce:

I've got messages that I should upgrade Google AdMob SDK to V8.
I've started with upgradi

[2021-04-03 13:09] github-actions[bot] opened #7834 "Nightly Testing Report"
# Nightly Testing Report
This issue([log](https://github.com/firebase/firebase-ios-sdk/actions/runs/714358156)) is generated at 04/03/2021 06:08 AM, fetching workflow runs triggered in the last 24 hrs.
| Workflow |04/02|
| -------- | -------- |
| [crashlytics](https://github.com/firebase/firebase-ios-sdk/blob/master/.github/workflows/crashlytics.yml) | [failure](https://github.com/firebase/firebas

[2021-04-03 14:53] paulb777 commented on #7833
tl;dr: Replace `pod 'Firebase/AdMob'` with `pod 'Google-Mobile-Ads-SDK'`.

Background, see docs at https://firebase.google.com/docs/ios/setup?authuser=0#initialize-firebase. Usage of `Firebase/AdMob` is no longer recommended since `Google-Mobile-Ads-SDK` releases at a different cadence than the other Firebase subspecs. It is especially exacerbated right now since `Google-Mobile-Ads-SDK` recently d

[2021-04-03 15:15] paulb777 opened #7836 "Remove InstanceID dependency from FirebaseMessaging.podspec"
The dependency should be removed at the next breaking change release.

Also delete IID from repo.

Delete IID from Package.swift

[2021-04-03 15:16] paulb777 commented on #7834
Crashlytics looks like a flake. prerelease should be fixed by #7835

[2021-04-03 16:55] paulb777 opened #7837 "Update minimum supported Xcode version"
For Firebase 8, review minimum supported Xcode, update, and make sure docs are consistent.  Perhaps 12.2?

[2021-04-03 19:11] antonioacunadev commented on #7736
Thank you for the update. We got our child's app approved yesterday using this SDK version on Cordova.

[2021-04-04 13:48] Idomo commented on #7833
Got it, thanks.

[2021-04-04 14:39] paulb777 commented on #7833
Great! I'll leave this issue open to track making the Firebase podspec update for the 8.0.0 release.

[2021-04-05 07:01] jkb0o commented on #7736
Thank you! We got approved with the archive release.

[2021-04-05 09:07] FitzAfful commented on #6978
Any update with this?

[2021-04-05 12:05] khuffie commented on #7707
@chliangGoogle this keeps getting marked as stale but there’s indications of an internal ticket. I’ve also provided responses to your questions.

Is this issue prioritized at your end? If we can’t reliably track our push notifications open rate then it becomes impossible to track the success of any of our metrics and we’d have to look at other tools.

[2021-04-05 12:19] angelolloqui commented on #7208
I have managed to make it work (I believe, although I am still testing it) by following the steps here:
https://bogo.wtf/arm64-to-sim.html
Note that this is a very hacky solution, updating the framework manually to support the new arch, but seems to work ok. In our case, we have kept the original for AppStore builds, but using the modified version for development. So far it is seems to be working

[2021-04-05 13:27] paulb777 commented on #7707
It's automatically marked stale because the original poster did not respond to the questions.  I'll remove the `needs-info` tag so it doesn't get marked stale again.

[2021-04-05 14:06] dmhts commented on #7039
@paulb777 Just validated, works for me 👍

[2021-04-05 14:09] schlingding commented on #6528
An update would be great as this has been preventing a full migration away from Firebase Carthage. Does https://github.com/firebase/firebase-ios-sdk/pull/7680 relate?

[2021-04-05 14:22] paulb777 commented on #7039
Thanks @dmhts!  In that case we should be able to publish a Carthage xcframeworks update soon after 0.38.0 is available.

[2021-04-05 14:37] rizafran commented on #7805
Thanks for reporting, @pot8os. I've tried to reproduce the issue, but it's working fine on my end. Can you share an [MCVE](https://stackoverflow.com/help/minimal-reproducible-example) so I could reproduce the issue and check what's causing it?

[2021-04-05 15:49] elenadoty commented on #7627
A quick update on this: comparing the behavior between assert() and NSAssert(), it seems that we rely heavily on the exception.clsrecord file generated in the case of exception crashes for accurate traces. Since it's a signal crash, assert() creates only a signal.clsrecord file, which in this case is lacking some of the information that we'd need to report the correct stack trace. Unfortunately, t

[2021-04-05 16:58] paulb777 commented on #7785
Besides archiving this is also a problem for building FirebaseAnallyticsSwift-Beta for Any iOS Device.

[2021-04-05 17:42] #7834 closed

[2021-04-05 17:54] #7784 closed

[2021-04-05 18:21] chliangGoogle commented on #7707
@khuffie So it seems like the pipeline is functioning cuz you do see event in debug_view, but just not consistently for every message? Can you file a separate customer ticket so we can route analytic backend to help investigate on that.

[2021-04-05 19:13] rizafran commented on #7822
Hi @bobbyzamora. I see that the link is redirecting to App Store even if the app is installed, however, you’re unable to reproduce it on your end. For us to verify the root cause of the issue or to isolate it, can you provide the following details:
- Affected device (OS version/device model)
- App wherein the Dynamic Link has been opened
- Dynamic Link used
    - Is it only happening to 1 Dynamic

[2021-04-05 19:57] chliangGoogle commented on #3686
We removed NSCoding from Messaging but not InstanceID yet. InstanceID is deprecated and will be removed from Messaging soon. We will keep this open for now.

[2021-04-05 21:04] beeirl commented on #7406
Same issue here if `isForcedRedirectEnabled=true`. Any updates?

[2021-04-05 21:21] morganchen12 commented on #6173
Hey @sairamkotha-swiggy, unfortunately the Firebase team continues to lack the bandwidth necessary to tackle this feature request. Closing this as it's not something we consider on adding in the future and has garnered minimal community support.

[2021-04-05 21:21] #6173 closed

[2021-04-05 21:22] morganchen12 commented on #6628
@karenyz can you take a look at this issue?

[2021-04-05 21:24] morganchen12 commented on #6644
Hey @gautier-gdx, have you been able to measure a difference in the crash volume after updating Firestore?

[2021-04-05 21:43] paulb777 commented on #6628
This might be related to the internal b/184356915

[2021-04-05 22:07] morganchen12 commented on #6100
Closing this issue in favor of #5928. The Firebase docs can now be found here: https://firebase.google.com/docs/ios/app-store-data-collection

[2021-04-05 22:07] #6100 closed

[2021-04-05 22:17] morganchen12 commented on #6750
Fixed in cl/366884068 (Googlers-only).

[2021-04-05 23:45] #6750 closed

[2021-04-06 04:12] luuduchoa10011993 commented on #7782
@paulb777
How about Firebase/Messaging, version I need to specify for pods ?
Could you help me for iOS 9.0

[2021-04-06 10:20] hovox commented on #7627
We have changed all assert calls to nsassert, so it’s okey for us.
I just want to understand other cases, e.g. calling our(none system) C function from Obj-C and having a crash in a C function.
Or what will happen if app crashes in some system C function which is called from Obj-C?
What will happen in that cases ?

[2021-04-06 12:35] sethfri commented on #5569
@OJDee I was wondering this too when I first found the thread. After reading through, my take is yes, the reason being that `run` doesn't upload any optional dSYMs. You seem to have to upload those manually using `upload-symbols`

[2021-04-06 13:09] github-actions[bot] opened #7845 "Nightly Testing Report"
# Nightly Testing Report
This issue([log](https://github.com/firebase/firebase-ios-sdk/actions/runs/722605677)) is generated at 04/06/2021 06:08 AM, fetching workflow runs triggered in the last 24 hrs.
| Workflow |04/05|
| -------- | -------- |
| [zip](https://github.com/firebase/firebase-ios-sdk/blob/master/.github/workflows/zip.yml) | [failure](https://github.com/firebase/firebase-ios-sdk/action

[2021-04-06 13:52] paulb777 commented on #7845
The release build looks like an infrastructure issue. It's using the podspec in master, along with the source from the release branch. I think it should use also use the podspec from the release branch.

@granluo Would you take a look?

(I suspect the zip failure is a flake with the Auth quickstart, and further investigation on that one can wait until a repeat)

[2021-04-06 15:35] #7764 closed

[2021-04-06 15:36] samedson commented on #7764
Thanks for calling this out @crspybits - documentation should be fixed now!

[2021-04-06 16:10] paulb777 commented on #7782
@luuduchoa10011993 Similar to DynamicLinks, Messaging dropped support for iOS 9.x in Firebase 7.x

[2021-04-06 17:59] #7845 closed

[2021-04-06 18:37] ryanwilson commented on #6684
This is an awkward API but has quite a bit of history and references to it, plus we haven't had any complaints or issues with it. Closing for now, will re-address adding a better API in the future.

[2021-04-06 18:37] #6684 closed

[2021-04-06 18:53] ryanwilson commented on #2933
Moving to the next major version, will reach out to the RN folks to coordinate with larger lead time in the future.

[2021-04-06 19:09] ryanwilson commented on #7837
We've already moved to 12.2, just need to coordinate this for docs mostly.

[2021-04-06 19:23] gallaugher commented on #7824
Sorry if I'm missing something. I'm in the pb branch, see the URL as:
https://github.com/firebase/FirebaseUI-iOS/tree/pb-spm
but when I enter this in SPM I get the error:
"The remote repository could not be accessed: Make sure a valid repository exists at the specified location and that the correct credentials have been supplied." Is this the correct URL? Sorry if I've missed something basic.

[2021-04-06 19:40] ROBYER1 commented on #6472
Honestly shocked Apple haven't hotfixed this in 12.4 Xcode at least as it looks like it's been an issue for a while... ugh

[2021-04-06 20:15] paulb777 commented on #7824
The URL is https://github.com/firebase/FirebaseUI-iOS.git. The branch is pb-spm

[2021-04-06 21:09] #7715 closed

[2021-04-06 23:29] RohitRajendran opened #7854 "auth.useUserAccessGroup(accessGroup) does not work to share authentication between Watch and iPhone"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: Version 12.4
  * Firebase SDK version: 7.9.1
  * Installation method: Swift Package Manager
  * Firebase Component: Auth

### [REQUIRED] Step 2: Describe the problem

#### Steps to reproduce:

I'm trying to use `Auth.auth().useUserAccessGroups` across both iPhone and WatchOS apps to share authentication. The iPhone app initiates

[2021-04-07 01:03] #6887 closed

[2021-04-07 02:03] ncooke3 commented on #7715
Hi @khuffie & @raspu,

We've implemented a fix for the issue and it will officially release in Firebase 7.11
Thank you for your patience and don't hesitate to reach out if you run into any further issues! 🙂

[2021-04-07 02:16] christinachanhk commented on #7736
I was using Firebase version 7.8.0 and rejected for collecting user and device information to create a unique identifier for the user's device. After updated to 7.9.0-k2, my App got approved by Apple.
Also tested on Firebase/Messaging for Push Notification, that works fine.

Thanks for the update.

[2021-04-07 04:37] mortenbekditlevsen commented on #7736
Is the fix included in Firebase 7.10.0?

[2021-04-07 09:14] mohsinulhaq opened #7856 "Firebase* Swift imports not working on integrating framework depending upon Firebase itself"
### Describe your environment

  * Xcode version: 12.4
  * Firebase SDK version: 7.2.0
  * Installation method: `CocoaPods`
  * Firebase Component: (Auth, Core, Database, Firestore, Messaging, Storage, etc)

### Describe the problem
I have a Cocoapods Swift framework that depends on Firebase (Core, Database, Storage, and a few others). I'm trying to add that framework to my app that also depends o

[2021-04-07 12:03] lanouari-Mar1 commented on #7736
@paulb777  Is the fix included in 7.10.0?
When I do pod install with `pod 'Firebase/Analytics', '7.9.0-k2'` I get this error:

`[!] CocoaPods could not find compatible versions for pod "Firebase/Analytics":
  In Podfile:
    Firebase/Analytics (= 7.9.0-k2)`

[2021-04-07 13:09] github-actions[bot] opened #7857 "Nightly Testing Report"
# Nightly Testing Report
This issue([log](https://github.com/firebase/firebase-ios-sdk/actions/runs/726088536)) is generated at 04/07/2021 06:09 AM, fetching workflow runs triggered in the last 24 hrs.
| Workflow |04/06|
| -------- | -------- |
| [zip](https://github.com/firebase/firebase-ios-sdk/blob/master/.github/workflows/zip.yml) | [failure](https://github.com/firebase/firebase-ios-sdk/action

[2021-04-07 13:15] Altoor commented on #7782
I'm also having this issue. `platform :ios, '10.0'` did not solve this issue for me.

My podfile looks like so:

`require_relative '../node_modules/react-native/scripts/react_native_pods'
require_relative '../node_modules/@react-native-community/cli-platform-ios/native_modules'

platform :ios, '10.0'

target 'Greenbook' do
  config = use_native_modules!

  use_react_native!(
    :path => config[:r

[2021-04-07 13:40] paulb777 commented on #7736
So far the fix is only in 7.9.0-k2. We're working on a longer term solution that will part of regular releases, but it will likely take a few more releases.  Until then, we recommend that Kids apps stay on 7.9.0-k2.

[2021-04-07 13:45] visumickey commented on #6528
Thanks a lot for highlighting the importance of the migration. We have been putting our energy to get this effort started up soon. We are currently targeting some critical changes for the upcoming I/O and after that we would have this prioritized and landed soon. We will use this thread updated as we set an ETA for this effort.

[2021-04-07 14:06] paulb777 commented on #7857
@granluo Please take a look at the release failure. It seems related to yesterday's changes. The zip failure should be a flake.

[2021-04-07 14:43] rizafran commented on #7856
Thanks for reporting, @mohsinulhaq. Can you try to update your SDK to the latest one and see if that would fix the issue? If not, can you share your Podfile or a project that reproduces this issue?

[2021-04-07 15:06] jkb0o opened #7858 "No analytics events with sdk 7.9.0-k1."
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 12.4 (12D4e)
  * Firebase SDK version: 7.9.0-k1
  * Installation method: `Zip file`
  * Firebase Component: Analytics

### [REQUIRED] Step 2: Describe the problem

I do not receive any analytics events. There are no events in DebugView, no events in the BiqQuery, no events in the Firebase Analytics Dashboard.

#### Steps to repro

[2021-04-07 16:07] LeonXiaoZ commented on #6978
For the open after first install case, we should call 'DynamicLinks.dynamicLinks().dynamicLink(fromCustomSchemeURL: url)', right?

@available(iOS 9.0, *)
func application(_ app: UIApplication, open url: URL, options: [UIApplication.OpenURLOptionsKey : Any]) -> Bool {
  return application(app, open: url,
                     sourceApplication: options[UIApplication.OpenURLOptionsKey.sourceApplicati

[2021-04-07 17:13] unxavi commented on #7777
@paulb777 I'm getting this issue when I add the Firestore dependency with SPM with verion 7.10.0

I have cleared the derived data and as soon as I add FirebaseFirestore this compilation error comes. Should I do anything else? should I open a new issue?

[2021-04-07 17:27] paulb777 commented on #7777
@unxavi I'm not able to reproduce.

Would you try `Swift Packages -> Update to Latest Package Versions` and note any version changes of the packages installed?

[2021-04-07 18:11] rizafran commented on #7858
Hi @jkb0o, based on the debug logs you provided, the SDK is successfully logging the events. Note that Analytics data is not real-time so you'll need to wait at least 24hrs. Thanks.

[2021-04-07 18:47] htcgh commented on #7858
@jkb0o There are also the following error messages and error events (_err) in your debug logs:
[code]
The parameters of the error event should have an error code (see https://firebase.google.com/docs/analytics/errors) that indicates what triggered the error. Events and user properties that contain errors are typically dropped by Analytics.

If you wish to set the user property with name `user_id`,

[2021-04-07 18:59] ssense-eric opened #7860 "Firebase support for AdServices Framework?"
Reopening discussion from: https://github.com/firebase/firebase-ios-sdk/issues/7369

Apple released a new framework for iOS 14.3+, aimed to attribute app-download campaigns that originate from the App Store, Apple News, or Stocks on iOS devices.

From my understanding, this new framework that will be replacing the iAd framework. I'm wondering if the Firebase SDK will be adopting it with firebase_c

[2021-04-07 20:13] jamesyoon11 commented on #6663
Same as @joshuapoq's situation, we have to support the clients who pay GA360. They really get used to the universal GA property and don't want to move to "GA for Firebase" (GA4 App+Web) property. Whenever we have an issue regarding the legacy GA SDK, we contact our 360 reseller but they cannot help much by suggesting to switch to Firebase. Please ask the GA team to support the legacy SDK if it has

[2021-04-07 20:17] unxavi commented on #7777
@paulb777 I think what did it to me was to `reset the package cache`. I also run the ` Swift Packages -> Update to Latest Package Versions` but well, seems to works, thanks a lot and sorry to make noise on the thread, it was driving me crazy all day. Thanks again

[2021-04-07 20:21] paulb777 commented on #6663
We've asked the GA team to add support and they've added it to their backlog. I'd encourage any paying GA360 customers to also request on their support channels.

In the meantime, a workaround could be to wrap the binary installed by CocoaPods into a local Swift Package.

[2021-04-07 20:27] eldhosembabu commented on #7829
Tracking internal bug: https://b.corp.google.com/issues/184767764

[2021-04-08 06:29] Fateh-Alam opened #7864 "Network error (such as timeout, interrupted connection or unreachable host) has occurred."
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 12.4
  * Firebase SDK version: Latest Version
  * Installation method: `Swift Package Manager`
  * Firebase Component: Auth

### [REQUIRED] Step 2: Describe the problem

#### Steps to reproduce:

The problem is similar to the title of the issue. I have implemented Firebase Login Successfully but whenever I hit login button it giv

[2021-04-08 10:37] unxavi opened #7865 "Firestore memory footprint seems too high"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version:  12.4
  * Firebase SDK version: 7.10.0
  * Installation method: Swift Package Manager
  * Firebase Component: Firestore

#### Steps to reproduce:

I created an iOS App extension, Network extension to be more precise, this extension is limit by iOS to run with a maximum usage of 15 MB of RAM.

I have noticie that just including `F

[2021-04-08 11:31] bobbyzamora commented on #7822
Hi @rizafran! Thanks for the reply!
Here is some info:

**1. Affected device (OS version/device model):**
iPhone XS, iOS 14.4
iPhone 12 pro max, iOS 14.4
iPhone 6s, iOS 14.3
iPhone 6s, iOS 14.4
iPhone 12 Pro, iOS 14.4.2 & iOS 14.4.1
iPhone 8, iOS 14.4.2

(this is not the full list, just some examples from our customers reports)

**2. App wherein the Dynamic Link has been opened**
Didn't quite get

[2021-04-08 13:07] gautier-gdx commented on #6644
Hi @morganchen12, Indeed it has completely disappeared, thanks a lot !

[2021-04-08 13:13] mohsinulhaq commented on #7856
https://github.com/mohsinulhaq/Swift-Firebase-Framework-error
@rizafran here's a repro for the issue, for easy development, I have put the Framework in the `ios/TestFramework` folder instead of another GitHub repo.

Run `yarn`. post-install hook handles the pod installation.

Once installation completes, building the app will produce the above error of it not able to compile the Swift files in the

[2021-04-08 13:57] #6644 closed

[2021-04-08 14:10] rizafran commented on #7864
Thanks for filing, @Fateh-Alam. I've tried to reproduce the issue, but I wasn't able to get the same error you encountered. With this, can you share a [minimal repro](https://stackoverflow.com/help/minimal-reproducible-example) of your app that I can run locally?

[2021-04-08 15:10] henryglendening-hh opened #7866 "Custom UI based InAppMessaging does not event correctly"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 12.4
  * Firebase SDK version: 7.9.0
  * Installation method: `CocoaPods `
  * Firebase Component: InAppMessaging/ABTesting

### [REQUIRED] Step 2: Describe the problem

When using a custom view controller to present in-app messages, the delegate will effectively receive the callbacks when buttons are tapped (by calling those fun

[2021-04-08 15:54] Fateh-Alam commented on #7864
Sure, Here is a minimal repro

Note: the app which is producing the error is a macOS app

[TotalView.swift.zip](https://github.com/firebase/firebase-ios-sdk/files/6279879/TotalView.swift.zip)

[2021-04-08 15:54] Fateh-Alam commented on #7864
And please tell if GoogleServices-Info.plist file is required

[2021-04-08 15:58] oleg-moseyko commented on #7803
platform :ios, '10.0'
require_relative '../node_modules/@react-native-community/cli-platform-ios/native_modules'

target 'ImageLockerMobile' do

  permissions_path = '../node_modules/react-native-permissions/ios'

  pod 'Permission-Camera', :path => "#{permissions_path}/Camera.podspec"
  pod 'Permission-PhotoLibrary', :path => "#{permissions_path}/PhotoLibrary.podspec"

  # Pods for ImageLockerMob

[2021-04-08 16:04] paulb777 commented on #7803
Please examine the `Podfile.lock` to determine why Firebase 3.x components are being installed in addition to the expected 7.x ones.

[2021-04-08 17:02] granluo commented on #7857
Looks like the release still get the branch issue. Will take a look on it.

[2021-04-08 19:18] paulb777 commented on #7864
Perhaps a keychain access problem?

[2021-04-08 19:21] Fateh-Alam commented on #7864
Yes but I am confused as to how to solve it

[2021-04-08 19:21] Fateh-Alam commented on #7864
should I recreate the project and re-register it with Firebase?

[2021-04-08 19:24] paulb777 commented on #7864
See https://github.com/firebase/firebase-ios-sdk/issues/7408#issuecomment-770906752

[2021-04-08 19:25] rizafran commented on #7822
Thanks for sharing the info, @bobbyzamora. The issue seems to be happening intermittently, and I wasn't able to reproduce it on my end. In case you have reproduced the issue or if you find something that would help with the investigation, including the [debugging of your Dynamic Link](https://firebase.google.com/docs/dynamic-links/debug) (adding ?d=1), feel free to share it here. Thanks.

[2021-04-08 19:30] Fateh-Alam commented on #7864
how to find my keychain group value?

[2021-04-09 10:43] ashvinajadiya opened #7873 "Deprecated properties in FPRProtoUtils.m"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 12.4
  * Firebase SDK version: 7.10.0
  * Installation method: CocoaPods
  * Firebase Component: Analytics

### [REQUIRED] Step 2: Describe the problem
Properties are deprecated,
'**subscriberCellularProvider**' is deprecated: first deprecated in iOS 12.0
'**currentRadioAccessTechnology**' is deprecated: first deprecated in iOS 1

[2021-04-09 13:26] paulb777 commented on #7873
Note that Firebase still supports iOS 10 and higher and changing the minimum versions on the build settings in the Pods Xcode project generated by CocoaPods can expose warnings liked this.

[2021-04-09 15:02] dconeybe commented on #7865
Hi @unxavi. Thank you for reporting this issue. I don't have any immediate response but will look into it and reply back. My first thought though is that I'm not terribly surprised that Firestore's memory usage is significantly larger than the other products. Its relative size is larger and is has quite a few dependencies.

If you have a chance, could you use some of the memory debugging tools fro

[2021-04-09 17:59] paulb777 opened #7876 "test_coverage should not run after closed PR"
It should only run after a merge.

<img width="1014" alt="Screen Shot 2021-04-09 at 10 58 22 AM" src="https://user-images.githubusercontent.com/73870/114221757-8f79e400-9922-11eb-9d37-e4827b51bcff.png">

[2021-04-09 18:15] khaptonstall opened #7877 "fetchAndActivateWithCompletionHandler does not return FIRRemoteConfigFetchAndActivateStatusSuccessUsingPreFetchedData when activateWithCompletion detects last fetched config is already activated"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 12.4
  * Firebase SDK version: 7.9.0
  * Installation method: `CocoaPods`
  * Firebase Component: RemoteConfig

### [REQUIRED] Step 2: Describe the problem

#### Steps to reproduce:
Call `.fetchAndActivate` 2+ times while being under the `minimumFetchInterval`.

What happened? How can we make the problem occur?
I'm using the `fet

[2021-04-09 19:34] AdamBCo opened #7878 "Custom In App Messaging Shown Multiple Times"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 12.4
  * Firebase SDK version: 7.8.0
  * Installation method: cocoapods
  * Firebase Component: InAppMessaging

### [REQUIRED] Step 2: Describe the problem

I recently followed the documentation found [here](https://firebase.google.com/docs/in-app-messaging/customize-messages?platform=ios) to create a custom UI for Firebase In Ap

[2021-04-09 22:07] elenadoty commented on #7627
I believe the issue should be limited to calls to assert(), abort(), and the signal type crashes, so if I'm understanding your question correctly then those types of crashes should be properly symbolicated. I'll try to get a bit more information around any additional cases where we'd expect to see incorrect stack traces and update this next week.

[2021-04-09 23:30] maxiedaniels opened #7879 "Preview in Swift is broken"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 12.4
  *  Firebase SDK version: 7.10
  * Installation method: `CocoaPods
  * Firebase Component: importing Firebase, so Core?

### [REQUIRED] Step 2: Describe the problem

#### Steps to reproduce:

What happened? How can we make the problem occur?
Once I imported Firebase, previews stopped working. The error is in 'FirebaseCoreDi

[2021-04-10 08:06] bars0um opened #7880 "Token caching breaks deleted token refresh"
#### Environment

  * Xcode version: 12.4 12D4E
  * Firebase SDK version: 7.9.0
  * Installation method: `CocoaPods` (select one)
  * Firebase Component:  Messaging

#### Steps to reproduce:

Delete your token and try to fetch a new one:

[code]
The returned token is not a fresh one and checking the firebase api shows that the relating instance id is no longer there.

[code]

The only way to fix t

[2021-04-10 09:36] louicoder commented on #7803
This helped alot, I had some components for version 3.x.x being installed alongside those with version 7.x.x Causing the Duplication.

[2021-04-10 10:01] jkb0o commented on #7858
I gues it is because of `<key>FIREBASE_ANALYTICS_COLLECTION_ENABLED</key><false/>` in the `Info.plist`. Everything works like a charm after removing this setting. Thank you.

[2021-04-10 10:01] #7858 closed

[2021-04-10 14:15] paulb777 commented on #7857
Addressing last night's failures in https://github.com/firebase/quickstart-ios/pull/1139

[2021-04-10 14:17] #7803 closed

[2021-04-10 19:01] aasamson commented on #7736
I updated my FirebaseAnalytics, FirebaseCrashlytics and Firebase from 7.0.0 to 7.10.0 but my app still rejected, can someone help me :'(. Thank you in advance.

<img width="927" alt="Screen Shot 2021-04-11 at 2 58 09 AM" src="https://user-images.githubusercontent.com/39507993/114281638-0b367680-9a72-11eb-8558-faaebbb9621d.png">

<img width="576" alt="Screen Shot 2021-04-11 at 2 57 07 AM" src="http

[2021-04-10 19:16] hovox commented on #7627
That means if we have a pure C function call in Objective C class method and app crashes in that C function, then stacktrace should be wrong ? Because C function can crash because of signal.
If I understand correctly, then we may get wrong stacktrace in that cases.

[2021-04-10 19:23] paulb777 commented on #7736
@aasamson See details above, especially https://github.com/firebase/firebase-ios-sdk/issues/7736#issuecomment-811340570

[2021-04-10 19:25] aasamson commented on #7736
Hi upon installing again the project with `7.9.0-k2`, I didn't seem to get the `7.9.0-k2` version in Firebase/Analytics. Here's the screenshot. Can you help me :'(

<img width="693" alt="Screen Shot 2021-04-11 at 3 22 59 AM" src="https://user-images.githubusercontent.com/39507993/114282298-91a08780-9a75-11eb-9a03-8ca09cca50ad.png">
<img width="573" alt="Screen Shot 2021-04-11 at 3 23 16 AM" src="h

[2021-04-10 19:29] paulb777 commented on #7736
From the instructions linked:

In your Podfile, update the version specifier on Firebase/Analytics and any **other** Firebase/* pod to 7.9.0-k2.

`pod 'Firebase/Analytics', '7.9.0-k2'`

[2021-04-10 19:31] aasamson commented on #7736
Thank you so much <3 I'll update you once the app is approved.
![Uploading Screen Shot 2021-04-11 at 3.31.21 AM.png…]()

[2021-04-10 20:15] themadmrj commented on #7087
Can you please fix this???? I've just lost a whole day until I debugged the problem myself and searched for this open issue. This completely blocks custom domains...

[2021-04-11 07:24] zhahaoyu commented on #6489
If I set false for `enableForcedRedirect`, there is no link detected on iPhone. I have ios 14.1

[2021-04-11 14:04] paulb777 commented on #7857
Messaging and Database flakes. Green on rerun.

[2021-04-11 14:04] #7857 closed

[2021-04-11 14:18] paulb777 commented on #7879
I'm not able to reproduce. It's possible something about your installation has been corrupted.  I recommend `pod deintegrate` and `pod install` and clearing DerivedData.

If that doesn't help, please send a reproducible example.

![Screen Shot 2021-04-11 at 7 17 19 AM](https://user-images.githubusercontent.com/73870/114307799-fec41500-9a95-11eb-98e0-f0cca0f606f1.png)

[2021-04-11 15:57] steveroe317 opened #7881 "flutter build ios on macOS 11.2.3 fails to install BoringSSL-GRPC (0.0.7)"
After creating a new flutter project and adding the dependencies from https://firebase.flutter.dev/docs/firestore/overview/

[code]

"flutter build ios" fails with
[code]
Running `pod install` in the project's ios directory fails with a similar error.

However, running a git clone command directly succeeds
[code]

How can I get flutter build ios to work with firebase dependencies?

The environment

[2021-04-11 17:00] paulb777 commented on #7881
This is likely a transitory networking issue. Please try again. If that doesn't work, you may have a corrupted `~/.cocoapods` directory

[2021-04-11 17:13] steveroe317 commented on #7881
Just tried again, with the same results.  The error has been persistent over the last day or so.

Then ran `sudo rm -rf ~/.cocoapods/repos` and retried `flutter build ios` but got the same error.

[2021-04-11 17:57] steveroe317 commented on #7881
What puzzles me is why `flutter build ios` and `pod install` fail, but the git clone command reported in the error messages succeeds.

[2021-04-11 18:28] steveroe317 commented on #7881
It was a network issue.

I got past the error by disconnecting the wired connection to my Google wifi hub and running the commands over the wifi interface. To the same hub.

Some of the posted solutions for this problem involved changing git buffer size limits, which I tried without success.  Maybe the docking station (CalDigit USB Type C Pro Dock) has its own limits on buffer sizes?

After the bu

[2021-04-11 18:42] paulb777 commented on #7881
Glad you solved it and thanks for sharing!

[2021-04-11 18:42] #7881 closed

[2021-04-12 01:03] #7804 closed

[2021-04-12 01:03] #7765 closed

[2021-04-12 02:00] pot8os commented on #7805
@rizafran Hello, I tried to reproduce today however it didn't show up again after I've updated several libraries (including Firebase to 7.10.0). So I'm ok to close it.
Sorry for bothering you and thanks for the great library!

[2021-04-12 08:52] yingpaihuai commented on #6392
Yes,we user ARKit to realize some stricker  but the block isn't happen in  iOS 14.2 or 14.3

[2021-04-12 09:07] rizafran commented on #7805
No worries, @pot8os. It's good to hear that the issue is not showing up after updating your SDKs. Feel free to reopen if you encountered the issue again. Thanks!

[2021-04-12 09:07] #7805 closed

[2021-04-12 10:14] ZsIsMe opened #7882 "Collection <__NSArrayM: XXX> was mutated while being enumerate"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 12.4
  * Firebase SDK version: __6.34.0___
  * Installation method: `CocoaPods `
  * Firebase Component: ___Core, Messaging, RemoteConfig,_ DynamicLinks, Performance, Crashlytics, FirebaseAnalytics_

### [REQUIRED] Step 2: Describe the problem
I got  [**Collection <__NSArrayM: 0x280f557d0> was mutated while being enumerate**] eve

[2021-04-12 11:26] rizafran commented on #7882
Hi @ZsIsMe, could you try updating your SDK to the latest version (as this contains bug fixes and new features), and see if the issue will persist?

[2021-04-12 13:08] github-actions[bot] opened #7883 "Nightly Testing Report"
# Nightly Testing Report
This issue([log](https://github.com/firebase/firebase-ios-sdk/actions/runs/741244969)) is generated at 04/12/2021 06:08 AM, fetching workflow runs triggered in the last 24 hrs.
| Workflow |04/11|
| -------- | -------- |
| [instanceid](https://github.com/firebase/firebase-ios-sdk/blob/master/.github/workflows/instanceid.yml) | [failure](https://github.com/firebase/firebase-

[2021-04-12 13:39] ncooke3 commented on #7883
The instanceID failure was due to: [`FirebaseInstanceID` not passing validation due to 1 error](https://github.com/firebase/firebase-ios-sdk/runs/2321041968?check_suite_focus=true#step:6:42). On the retry, it looks like it timed out. Should this require further debugging, I don't see what the error was?

The spm failure was due to a [failing auth test case](https://github.com/firebase/firebase-ios

[2021-04-12 13:53] paulb777 commented on #7882
The symbol `GADJSONSafeDictionary` is from `Google-Mobile-Ads-SDK`

[2021-04-12 15:46] sophiagatliff commented on #1738
Can provide a use case:

Use selects a date in the app. This fires a HTTPs.onCall to for a API call to Google Calendar, with a min/max time set for that date. Would be nice to be able to upload the Date/Timestamp directly from the client.

Workaround right now is to upload a string for the selected day, and then create the date in javascript from the string reference.

[2021-04-12 16:00] paulb777 commented on #2505
MLKit symbol is tracked internally at b/146429345 and should be removed in Firebase 8.0.0 release

[2021-04-12 16:27] #7772 closed

[2021-04-12 16:36] paulb777 commented on #7883
Agree, almost certainly flakes.

[2021-04-12 17:09] therealyou1 opened #7885 "Stable Crash: Database - reference(withPath:)"
### Step 1: Describe your environment

  * Xcode version: 12.4 (12D4e)
  * Firebase SDK version: 7.10.0
  * Installation method: CocoaPods
  * Firebase Component: Database

### Step 2: Describe the problem

Database method reference(withPath:) (https://firebase.google.com/docs/reference/swift/firebasedatabase/api/reference/Classes/Database?authuser=0#referencewithpath:) crashes in case of simultan

[2021-04-12 18:22] christibbs commented on #7866
@henryglendening-hh Thanks for reporting. Could you provide example code for how you're handling a click or dismiss?

Just a snippet from the `UIButton`s' assigned actions will suffice.

[2021-04-12 18:35] dconeybe commented on #7865
@unxavi Would you be able to create a project in GitHub that I could clone to reproduce? I'd like to make sure I'm using the same setup as your environment.

[2021-04-12 18:46] christibbs commented on #7878
@AdamBCo My intuition here, just looking at the code is that the retain count on your `inAppMessagingDisplayDelegate` object goes to 0  after the dust settles [here](https://github.com/firebase/firebase-ios-sdk/blob/6eaf76142b670c0bb35869ef1cbb8e064b74ac93/FirebaseInAppMessaging/Sources/Flows/FIRIAMDisplayExecutor.m#L673). Since it goes to 0, it will end up being released from memory, making it `n

[2021-04-12 18:52] henryglendening-hh commented on #7866
@christibbs Thank you for taking a look at this.

Essentially, I'm just calling `firebaseInAppMessaging.triggerEvent("myEvent")` when a button is pressed, in order to trigger displaying a successive message/screen. When a message is received from Firebase in `func displayMessage(_ messageForDisplay: InAppMessagingDisplayMessage, displayDelegate: InAppMessagingDisplayDelegate)`, I create a new cust

[2021-04-12 19:03] christibbs commented on #7866
You actually do need to call the delegate methods within your custom VC. Aside from metrics, that resets the flag that you're getting tripped up at (see [dismiss flow](https://github.com/firebase/firebase-ios-sdk/blob/6eaf76142b670c0bb35869ef1cbb8e064b74ac93/FirebaseInAppMessaging/Sources/Flows/FIRIAMDisplayExecutor.m#L170), for example but the same thing happens for a click).

In your implementat

[2021-04-12 19:12] chliangGoogle commented on #7880
@bars0um I'm not able to reproduce. Would you mind sharing debugLog with me?

To enable debug logging set the following application argument: -FIRDebugEnabled (see http://goo.gl/RfcP7r)

[2021-04-12 20:18] unxavi commented on #7865
@dconeybe sure, I can do that... also I have opened the memory tools, but I'm not what I'm looking for.

I've implemented a gRPC Firestore client with swift-grpc, and I can see that it uses 2MiB, while Firestore SDK init takes 5MiB.

I attach a project here as a zip? it will be a network extension type, it can't be run on a simulator, has to be a real device.

[2021-04-12 20:19] dconeybe commented on #7865
Great! The best way to share your project would be to publish it to GitHub as a repository and post the link here. Would that be possible?

[2021-04-12 20:20] henryglendening-hh commented on #7866
Ah, perfect thank you! I did not realize that the `displayDelegate` inside of `displayMessage(_ :displayDelegate:)` is different than the `displayDelegate` that I assigned to `InAppMessaging.inAppMessaging().delegate` (when initially configuring Firebase). Using the `displayDelegate` from the `displayMessage(:)` parameter now triggers the event appropriately.

Thank you for your support!

[2021-04-12 20:21] unxavi commented on #7865
@dconeybe sure, honestly I don't why I didn't think of that 🤦🏽

[2021-04-12 20:29] christibbs commented on #7866
Anytime.

BTW, if you have any SwiftUI projects check out our extension for building custom in-app messages in SwiftUI: https://github.com/firebase/firebase-ios-sdk/blob/master/FirebaseInAppMessagingSwift.podspec.

[2021-04-12 20:29] #7866 closed

[2021-04-12 21:23] paulb777 commented on #7833
Current plan is to remove the Firebase/AdMob subspec in favor of directly using the `Google-Mobile-Ads-SDK` podspec.

[2021-04-12 23:26] unxavi commented on #7865
@dconeybe I'm finishing the problem that I will share with you, but so far I'm not able to reproduce the issue as bad as in my project.

I'm running the memory tools, and I am able to see a region which Firestore is using of about 6MiB, right now when I enable Firestore is using in total 9MiB.

![image](https://user-images.githubusercontent.com/3817679/114474784-444c2380-9bf7-11eb-990a-23ad5bd22b7

[2021-04-13 01:11] allanwolski commented on #7087
I also spent a day trying to find the problem.

[2021-04-13 01:27] ZsIsMe commented on #7882
YES, I should try....

Thanks for your information!

[2021-04-13 01:27] #7882 closed

[2021-04-13 08:45] alelordelo opened #7890 "Catalyst Crash"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: Version 12.4 (12D4e)
  * Firebase SDK version: Firebase 7.9.1
  * Installation method:  Swift Package Manager
  * Firebase Component: Auth, Core, Database, Firestore, Messaging, Storage

### [REQUIRED] Step 2: Describe the problem

When build on Catalyst, Firebase crashes

#### Steps to reproduce:

What happened? How can we make

[2021-04-13 08:54] alelordelo commented on #7890
solved with this:
https://stackoverflow.com/questions/39597277/error-when-accessing-keychain-with-firebase-ios-10

[2021-04-13 13:31] paulb777 commented on #7890
Yep. That's documented at https://github.com/firebase/firebase-ios-sdk#additional-catalyst-notes

[2021-04-13 13:31] #7890 closed

[2021-04-13 13:35] paulb777 commented on #7883
Looks like the CocoaPods CDN was broken last night. https://github.com/CocoaPods/CocoaPods/issues/10580

[2021-04-13 14:04] #7883 closed

[2021-04-13 14:57] lorenzofiamingo opened #7891 "FirebaseAnalytics not found in FirebaseAnalyticsSwift"
### Environment

  * Xcode version: 12.4
  * Firebase SDK version: 7.10.0
  * Installation method: Swift Package Manager
  * Firebase Component: Analytics Swift

### Problem
When I build the project there is no problem, but when I archive it for a release this appears:

<img width="1281" alt="Schermata 2021-04-13 alle 16 49 56" src="https://user-images.githubusercontent.com/40797951/114573949-20c9

[2021-04-13 15:30] paulb777 commented on #7891
@lorenzofiamingo Sorry about the trouble. This is looks to be a duplicate of #7785.

[2021-04-13 15:30] #7891 closed

[2021-04-13 18:14] chliangGoogle commented on #7239
@erickogi Looks like you are using the direct channel from the response. Would you switch to APNS channel in FCM because [direct channel has been removed since last I/O breaking change](https://github.com/firebase/firebase-ios-sdk/pull/4710).

Please use HTTP v1 API to send the push notifications using APNS channel to receive notification on FCM iOS SDKs.

[2021-04-13 18:18] chliangGoogle commented on #7113
@sulemanalibuiltin Is this issue still happening? Would you share stacktrace with us?

[2021-04-13 18:20] chliangGoogle commented on #5757
@karimhm Are you sure this is a Messaging issue? I don't think Messaging is using [FSRWebSocket](https://github.com/firebase/firebase-ios-sdk/tree/2b7ffaa37f1c0b190a42d46c3b3837cd0d681689/Firebase/Database/third_party/SocketRocket).

[2021-04-13 20:07] bars0um commented on #7880
@chliangGoogle thank you for your response and your help.

I've enabled the firebase debug log but the only message I get from the Messaging component is this:

 7.9.0 - [Firebase/Messaging][I-FCM001000] FIRMessaging Remote Notifications proxy enabled, will swizzle remote notification receiver handlers. If you'd prefer to manually integrate Firebase Messaging, add "FirebaseAppDelegateProxyEnabled"

[2021-04-13 21:32] elenadoty commented on #7627
Yes, unfortunately I think that's the case.

Thanks for bringing this to our attention - we're planning to take on work to fix the issue as soon as we can and will keep you updated.

[2021-04-13 21:49] AdamBCo commented on #7878
@christibbs Thanks so much for taking the time to help me with this issue! I definitely appreciate it. 😁

I just removed the **weak** reference from the inAppMessagingDisplayDelegate and still running into issues where the In App Message continues to show even though it's now a **strong** reference.

I'm also seeing the following message in the terminal, which may or may not be helpful.
`[Firebase

[2021-04-13 22:33] chliangGoogle commented on #7880
I'm not able to reproduce with your code. Could you debug to figure out why debugLog is limited on your end? Without the debugLog it's hard for us to speculate.

Also InstanceID is deprecated along with non-default ("*") scope. For the case that failed for you, are you using non-default scope ("*")? such as "FCM" scope or some other custom scope?

Would it be possible to migrate to [FIRMessaging t

[2021-04-13 23:08] chliangGoogle commented on #7880
Another thing is if you delete a non-default token and call `[FIRInstanceID instanceID] instanceIDWithHandler:`, it will return the default token.

[2021-04-14 07:21] karimhm commented on #5757
@chliangGoogle This issue was tagged as `api: messaging` by [Google Open Source Bot](https://github.com/google-oss-bot).

Firebase Database seems the to be the only part that uses [FSRWebSocket](https://github.com/firebase/firebase-ios-sdk/tree/2b7ffaa37f1c0b190a42d46c3b3837cd0d681689/Firebase/Database/third_party/SocketRocket).

[2021-04-14 10:50] teh-nsd commented on #6219
I had the same issue with Canvas previews and can confirm that after I turned off Code coverage they now work.

[2021-04-14 13:07] github-actions[bot] opened #7895 "Nightly Testing Report"
# Nightly Testing Report
This issue([log](https://github.com/firebase/firebase-ios-sdk/actions/runs/748399340)) is generated at 04/14/2021 06:07 AM, fetching workflow runs triggered in the last 24 hrs.
| Workflow |04/13|
| -------- | -------- |
| [zip](https://github.com/firebase/firebase-ios-sdk/blob/master/.github/workflows/zip.yml) | [failure](https://github.com/firebase/firebase-ios-sdk/action

[2021-04-14 13:20] ryanwilson commented on #7895
IID and database seem to be a flake, restarted them.

Zip doesn't have logs, and prerelease had RC fail linting. Investigating.

[2021-04-14 14:01] ryanwilson opened #7897 "[FR] Importing public headers should fail presubmit"
In the https://github.com/firebase/firebase-ios-sdk/blob/master/scripts/check_imports.swift script, we should fail if there's an attempt to import a Public header (like FIRVersion.h) from a different Firebase SDK, instead it should be the internal private header. See #7896 for reasoning.

[2021-04-14 14:04] HeebeLee opened #7898 "When will analytics support MacOS?"
According to the 2020 roadmap, analytics will support more apple platforms. (https://github.com/firebase/firebase-ios-sdk/blob/master/ROADMAP.md#getting-started)

Now it's April 2021. Among the support platforms I see officially, there is no one except IOS. It's a very important thing for a lot of people. I have been waiting for a full year since I saw the road map.

What's the latest news?

[2021-04-14 14:06] maksymmalyhin commented on #7177
We still need to update SDKs like Firebase Performance to use the updates GDT version.

[2021-04-14 14:06] ryanwilson commented on #7895
#7896 to fix the RC linting which would make prerelease pass

[2021-04-14 14:13] paulb777 commented on #5757
#7656 added support for watchOS via WebSockets.  We're hesitant to change the other platforms since we still support iOS 10 and would prefer not to have a version-specific implementation.

We're open to hearing a case otherwise though.

cc: @ryanwilson to check this explanation

[2021-04-14 14:22] ryanwilson commented on #5757
Yep, this was the primary reason. There's a worry we have subtle differences between the 2 and it could make debugging an issue. We haven't seen issues on iOS 13 or 14 using the SocketRocket implementation yet (outside of App Clips) so there doesn't seem to be an immediate rush. If things change in iOS 15 we'll re-evaluate, as well as try to get a solution that works in App Clips as well while try

[2021-04-14 14:51] mortenbekditlevsen commented on #5757
One issue with the version of SocketRocket that is used is that SOCKS proxying is not available and that makes VPN access (and debugging with tools like the Charles Proxy) impossible. I'd love to see the migration to NSURLSession some time! 😊

[2021-04-14 14:55] ryanwilson commented on #5757
That was something I was unaware of 😄  thanks @mortenbekditlevsen! Definitely something to re-evaluate for when we have some bandwidth to do so. Unfortunately we don't have a ton of great end-to-end tests for the socket code so it may require some groundwork there.

[2021-04-14 15:53] paulb777 commented on #7898
@HeebeLee Sorry about the confusion, but the specific reference to Analytics was in the Quickstarts section to describe that we plan to modernize other Firebase Quickstarts, like we did for [Analytics in 2020](https://github.com/firebase/quickstart-ios/tree/master/analytics).

Nonetheless, there has been progress in Analytics and a EAP was made available for Catalyst support. Otherwise, I can't co

[2021-04-14 15:53] #7898 closed

[2021-04-14 18:07] mortenbekditlevsen commented on #5757
The proxy functionality could also be obtained by upgrading SocketRocket, but I guess that also comes with a risk.

[2021-04-15 05:42] idenfox opened #7902 "Wrong/Outdated Swift code example at 'Twitter login' documentation"
### Step 0: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ please use the Feature Request template.
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the `firebase` tag.
  * For general (non-iOS) Firebase discussion, u

[2021-04-15 07:05] sbo-nemlig commented on #7509
Any updates on this ?

[2021-04-15 08:51] rencsaridogan commented on #6092
This is added with v7.1.0

[2021-04-15 08:51] #6092 closed

[2021-04-15 10:54] rizafran commented on #7902
Hi @idenfox,

Thanks for reporting and sharing your findings. Per checking, I see that the [Auth quickstart](https://github.com/firebase/quickstart-ios/tree/master/authentication) is currently using the `Auth.auth().signIn(with: credential)`, but the doc seems outdated as it is still using the `Auth().signIn(with: credential)`.

[2021-04-15 13:09] ryanwilson commented on #7895
Crashlytics looks to be a flake, re-ran it. `release` is an expected failure due with 7.11 not being available for Analytics yet.

[2021-04-15 14:30] bars0um commented on #7880
Thanks chliangGoogle, I will try to find the time to sort out the debug log and let you know when I do.

[2021-04-15 14:53] ncooke3 commented on #7772
Hi @cozelight,

A potential fix for this issue (as part of GoogleUtils 7.4) was planned for release in Firebase 7.11 but is being pulled due to some technical challenges. The team will be reevaluating the issue and is looking forward to the Firebase 8 release.

Apologies for the delay and thank you again for the report. In the meantime, please keep us in the loop with any further details that may

[2021-04-15 16:46] christibbs commented on #7878
@AdamBCo

So I made the most basic of basic implementations and it seemed to work (shows the alert only once).

[code]

You seem to be doing all of the things I'm doing here, though-- calling the impression callback and the dismiss callbacks. I did notice one strange log though. Do you get this? Could explain the "No impression record" log you're getting.

`7.10.0 - [Firebase/InAppMessaging][I-IAM

[2021-04-15 17:32] julestburt commented on #6877
Seeing the same issue also.

[2021-04-15 17:59] rizafran commented on #7854
Hi @RohitRajendran, would you mind sharing a [minimal repro](https://stackoverflow.com/help/minimal-reproducible-example) that I can run locally? It would help us a lot digging into the cause of your issue. Thanks.

[2021-04-15 19:11] #6628 closed

[2021-04-15 21:24] morganchen12 commented on #7902
Docs fixed in cl/368711142 (Googlers-only link).

[2021-04-15 21:24] #7902 closed

[2021-04-15 22:33] aehlke commented on #7576
This is now merged  ✅ (Release pending)

[2021-04-15 22:41] paulb777 commented on #2505
#7908 removes Perf and MLKit for 8.0.0. Analytics, Crash and RemoteConfig are deferred due to google3 references.

[2021-04-15 23:10] #7670 closed

[2021-04-16 09:50] steven851007 commented on #7618
The same crash happens to us, any update on when this planned to be fixed?

[2021-04-16 12:04] rizafran commented on #6997
Hi @cybergen78, I just want to check if you're still encountering the issue. If so, please provide a sample project ([MCVE](https://stackoverflow.com/help/minimal-reproducible-example)) that will reproduce the issue so we could take a look what's causing it. Thanks.

[2021-04-16 12:13] cybergen78 commented on #6997
I didn't have time for this project since then. But I should have some time in the next 3 weeks. Sorry for the delay.

[2021-04-16 13:26] ncooke3 commented on #7895
* `zip` [failed](https://github.com/firebase/firebase-ios-sdk/runs/2360375277?check_suite_focus=true#step:5:5677) with:

Is this release related?

* `firestore` failed on the `check` workflow. Looks like there were issues trying to [update/find dependencies with Homebrew](https://github.com/firebase/firebase-ios-sdk/runs/2361201767?check_suite_focus=true#step:4:587)

I'm not sure the best way to m

[2021-04-16 16:04] paulb777 commented on #7618
No plans yet on this one. We're open to a PR here if someone wants to convert the gist above to Objective C, apply to the crashing code with appropriate `#if` wrapping, and test on an M1 Mac.

[2021-04-16 17:28] lorenzofiamingo opened #7911 "DispatchQueue seems not truly effective in Cloud Firestore."
### Environment

  * Xcode version: 12
  * Firebase SDK version: 7.10.0
  * Installation method: SPM
  * Firebase Component: Firestore

### Problem

I need to make a call to Firestore and wait for the query result. Since Firestore make its async calls on the main thread and I need my code to be on the main thread, I have to change the default `dispatchQueue` used by Firestore callbacks, in order t

[2021-04-16 18:20] #7833 closed

[2021-04-16 18:26] rmindo commented on #7803
In my case pod 'Firebase/Analytics' caused the issue, anything that has Firebase/ will duplicate.

[2021-04-16 22:42] paulb777 commented on #7487
Firebase 8 will eliminate all the build time warnings from Firebase.h about the missing Analytics frameworks.

[2021-04-17 11:28] omerozk commented on #5423
Exactly same issue than @elai950, with same iPhone 12 (simulator) iOS 14.4 version and also on M1 Pro. (maybe we should create a new issue 🤔

[2021-04-17 14:57] paulb777 commented on #7895
The symbolcollision test failed with

[code]

This is an expected result of #7908 and I'll send a PR to remove the deleted ML pods.

The other two failures look like flakes and I kicked off reruns.

[2021-04-17 17:18] yinzara commented on #5663
This definitely still needs attention and I don't think is related to Rome as I'm not even using it.

I'm having this problem when using this with the cordova-plugin-firebase-inappmessaging@4.0.0 which is including Firebase/InAppMessaging ~> 7.0.0 pod.

There is also a corresponding bug in cordova-plugin-firebasex that seems identical (though I don't use that plugin):
https://github.com/dpa99c/cor

[2021-04-19 03:29] lengocgiang commented on #5423
me too iPhone 11(simulator) iOS 14.4 - M1 pro
[code]

[2021-04-19 04:45] Erumaru commented on #7208
Any news?

[2021-04-19 12:26] ryanwilson commented on #7895
Messaging failed on watchOS  trying to extract GoogleAppMeasurement - if it fails again we should evaluate how the latest changes were made and potentially do a new release. If that's the case, let's find out how we can add a test in the GoogleAppMeasurement repo to prevent further breakages.

[2021-04-19 12:28] ryanwilson commented on #7895
RTDB looks like it could be a flake but potentially exposing a real issue: https://github.com/firebase/firebase-ios-sdk/runs/2373644275?check_suite_focus=true#step:4:691

[2021-04-19 13:17] ryanwilson commented on #7895
The symbolcollision is expected, #7915 will close it.

[2021-04-19 13:56] #7895 closed

[2021-04-19 15:50] adamcumiskey commented on #7879
@maxiedaniels Had a similar issue in my project that was solved by this: https://stackoverflow.com/a/58973469

[2021-04-19 16:41] #7487 closed

[2021-04-19 16:41] #7832 closed

[2021-04-19 19:19] dconeybe commented on #7865
Hi @unxavi. I'm going to add the "needs-info" tag to this ticket. It will then be automatically closed in about 2 weeks. If you are able to provide a project that we can use to reproduce and investigate then simply add a comment to this issue and that will cancel its pending closure.

[2021-04-19 19:37] #7663 closed

[2021-04-19 20:01] rizafran commented on #7911
Hi @lorenzofiamingo, we'll try to reproduce this, and let you know with the updates or findings. It'll also be better if you can share a sample project that I can run locally. Thanks.

[2021-04-19 20:32] paulb777 commented on #7736
Google Ads campaigns requires IDFA that is disabled with 7.9.0-k2, so no easy answer here.

[2021-04-19 21:01] #7177 closed

[2021-04-19 21:02] pablo-leite-playkids commented on #7736
What about SKAdNetwork? Is there any plan to support Google Ads campaigns tracking in the future, as currently there's no way to optimize Google Ads on Kids Category app.

[2021-04-19 22:56] paulb777 opened #7918 "Create script to automatically generate NOTICES file for each release"
Now that all of Firebase is built from this repo, with the exception of Analytics which has no dependencies separate from this repo and its dependencies, we should be able to automatically generate the NOTICES file.

Concatenate all the LICENSE files in third_party directories in this repo with the LICENSE files generated in PODS/*/LICENSE in a project that installs all Firebase pods. Then verify

[2021-04-20 01:03] #7825 closed

[2021-04-20 13:08] github-actions[bot] opened #7921 "Nightly Testing Report"
# Nightly Testing Report
This issue([log](https://github.com/firebase/firebase-ios-sdk/actions/runs/767221695)) is generated at 04/20/2021 06:08 AM, fetching workflow runs triggered in the last 24 hrs.
| Workflow |04/19|
| -------- | -------- |
| [zip](https://github.com/firebase/firebase-ios-sdk/blob/master/.github/workflows/zip.yml) | [failure](https://github.com/firebase/firebase-ios-sdk/action

[2021-04-20 13:23] dconeybe commented on #7911
Hi @rizafran. The code sample you provided will cause the main thread to block. This is a hazardous thing to do as it will cause your app to become unresponsive while waiting for Firestore to call back, which could take seconds, or even longer if the collection is large.

Firestore's API is specifically designed so that its work, like downloading documents from the server, does *not* block the mai

[2021-04-20 14:04] paulb777 commented on #7921
Several real issues today:

zip - The zip build script cannot handle a GDT major version update.  This should fix after today's release and we can move the new GDT to SpecsStaging

symbolcollision - The GDT major update is inconsistent with other pods like GoogleMLKIt. We may need to adjust this test until after Firebase 8 ships

abtesting and release - The Swift quickstart is making IID API calls

[2021-04-20 14:15] lorenzofiamingo commented on #7911
Hi @dconeybe.
The problem remains: setting the `dispatchQueue` in the `FirestoreSettings` has no effect. If I want to block the main thread for a reason, I should be able to move the asynchronous tasks of Firestore in an another queue.

Causes can be two:

1. When `getDocuments` is called not all the asynchronous tasks are sent to the `dispatchQueue` of `FirestoreSettings`.
2. `Firestore.firestore

[2021-04-20 14:17] paulb777 commented on #7921
Sent https://github.com/firebase/quickstart-ios/pull/1142 for the abtesting/release failure

[2021-04-20 14:25] paulb777 commented on #7921
@granluo Would you look into the prerelease failure for FirebaseFirestoreTestingSupport? We may want to ignore it until we get further along in the combine implementation?

@ncooke3 For the zip failure, would you coordinate with @ryanwilson to clear SpecsStaging of the 7.11.0 specs and then move GDT 9.0.0 there after the 7.11.0 publish?

[2021-04-20 14:51] dconeybe commented on #7911
Setting the dispatch queue in `FirestoreSettings` specifies the dispatch queue for dispatching user callbacks, such as calling the block of code specified to `getDocuments()`. There are other internal implementation details where work is scheduled on the main thread that are not visible outside of the Firestore internals.

I must admit that I'm not personally familiar with `NSIncrementalStore` so

[2021-04-20 15:10] salyasev opened #7922 "FirebaseAnalytics can't update from 7.1.0 to 7.10.0"
### [REQUIRED] Step 1: Describe your environment

Xcode version: Version 12.4 (12D4e)
Firebase SDK version: 7.1.0
Installation method: Pod binary
Firebase Component: FirebaseAnalytics

### [REQUIRED] Step 2: Describe the problem

#### Steps to reproduce:

Trying to update Firebase pods from 7.1.0 to 7.10.0
from:
[code]
to:
[code]

Faced with an issue: "Can't import FirebaseAnalytics framework"

[2021-04-20 15:29] paulb777 commented on #7922
`FirebaseAnalytics` is now distributed as an `.xcframework` and that looks to be unsupported by https://github.com/leavez/cocoapods-binary.

A workaround might be to remove `binary: true` from `Firebase/Analytics` since the CocoaPod is already distributed as a binary.

[2021-04-20 16:04] salyasev commented on #7922
@paulb777 Oh, Thanks!
but still are not available
`import FirebaseAnalytics` in swift and `@import FirebaseAnalytics;` in objc

and using simple `import Firebase` or `#import "Firebase.h` don't have an access to `[FIRAnalytics logEventWithName:...`

[2021-04-20 16:33] paulb777 commented on #7922
Perhaps something about cocoapods-binary and mixing pods from the Firebase umbrella pod is causing trouble? Another suggestion would be to stop using the umbrella pod (remove the `/`s from all the `pod Firebase/*` directives in the Podfile).

[2021-04-20 17:38] rdportillo opened #7923 "Veracode issue CWE252 - Unchecked Return Value in FIRCLSMultipartMimeStreamEncoder.m"
Environment:

  * Xcode version: 12.3
  * Firebase SDK version: 7.3.0
  * Installation method: CocoaPods
  * Firebase Component: FirebaseCrashlytics

Description:

According to Veracode static scan, there are issues related to the following file:
- FIRCLSMultipartMimeStreamEncoder.m - lines 102 and 110

The Veracode issue is "Unchecked Return Value": The result of this call to close() is not captu

[2021-04-20 17:41] morganchen12 commented on #7923
[Here's](https://cs.opensource.google/firebase-sdk/firebase-ios-sdk/+/master:Crashlytics/Shared/FIRCLSNetworking/FIRCLSMultipartMimeStreamEncoder.m;l=102-110?q=FIRCLSMultipartMimeStreamEncoder.m) the lines of code in question. The `open` and `close` methods referenced are `NSStream` instance methods, and do not produce a return value.

[2021-04-20 17:41] #7923 closed

[2021-04-20 18:32] lorenzofiamingo commented on #7911
https://github.com/lorenzofiamingo/FirestoreIncrementalStore

[2021-04-20 19:40] sethdeckard commented on #7424
I'm seeing the same thing on `7.6.0` and it does seem to affect older devices for the most part (many iPhone 6/6s, some iPhone 7).

[2021-04-20 19:51] dconeybe commented on #7911
Thanks @lorenzofiamingo. I've been able to reproduce with your app. I'm talking to some team members about this issue and hope to reply in the next few days.

[2021-04-20 20:43] ncooke3 commented on #7921
- [x] [Post 7.11.0 release cleanup](https://github.com/firebase/SpecsStaging/commit/3630c24240fe26bd050c8660f4359ebef144e060)
- [x] Closed Firebase 7.11 Milestone
- [x] [[Add] GoogleDataTransport (9.0.0) (add to SpecsStaging)](https://github.com/firebase/SpecsStaging/commit/ae56cf9aba7e18fe940de606b4d74b8f14f5360b)
- [x] [Migrate GDT 9.0.0 to SpecsStaging (remove from SpecsDev)](https://github.com

[2021-04-20 21:14] ryanwilson commented on #6472
Confirmed this is still fixed in the Xcode 12.5 RC released today - will leave it open until the fix is the publicly released version.

[2021-04-21 07:14] jose-pay opened #7926 "Firebase SDK for iOS update causes Zombie Object crash"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 12.4
  * Firebase SDK version: 7.10.0
  * Installation method: Zip file
  * Firebase Component: Remote Config, Messaging, In-app messaging, Crashlytics, Analytics

### [REQUIRED] Step 2: Describe the problem

#### Steps to reproduce:

We updated the Firebase iOS SDK version from 6.32.2 to the latest one: 7.10.0

Libraries used (a

[2021-04-21 09:18] ThibautRichez commented on #7424
We are encountering this issues for a while now and this have a huge impact on our AppStore rating / reviews.
As said above, we reproduced it on other Firebase/RemoteConfig versions and mostly on older phones (5S, 6, 6S, …. but some of our customers had this issues with iPhone X though).

Please up this issues and share any thoughts/workaround you have.

Thanks

[2021-04-21 09:38] lorenzofiamingo commented on #7911
@dconeybe  Thanks to you.

[2021-04-21 11:04] antonjn commented on #7877
+1 On this one (I have same issue and same questions).

[2021-04-21 12:30] salyasev commented on #7922
@paulb777 Cool. Your suggestion helped to link the FirebaseAnalytics (it's possible to import now).

But now there is another issue:
`Undefined symbols for architecture arm64:
  "_kGULNetworkHTTPStatusCodeNotModified", referenced from:
      -[APMMeasurement networkRemoteConfigFetchCompletionHandler:data:error:] in GoogleAppMeasurement(APMMeasurement.o)
      ___46-[APMMeasurement(URL) requestDefe

[2021-04-21 12:34] emretufekci opened #7927 "import Firebase no longer works related w/6066"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: Version 12.4 (12D4e)
  * Firebase SDK version: 7.11
  * Installation method: `CocoaPods `
  * Firebase Component: Crashlytics, Analytics

### [REQUIRED] Step 2: Describe the problem
Similar to #6066 and the solution for #6066 does not work for this one.

AppDelegate.swift file cannot find Firebase _No such module 'Firebase'_

But

[2021-04-21 13:28] ncooke3 commented on #7921
Here are notes from investigating all the failures.
- [ ] **storage**: the podliblint workflows failed but I'm not sure what's wrong? [see here](https://github.com/firebase/firebase-ios-sdk/runs/2398269089?check_suite_focus=true#step:4:9)
- [ ] **zip**: failed on `build` due to an internal GHA error
- [ ] **messaging**: looks like a flake on the `iOS (spm)` workflow
- [ ] **symbolcollision**: GTD

[2021-04-21 13:42] paulb777 commented on #7922
It looks like some of the GoogleUtilities subspecs are not being linked.

One approach would be to examine the generated Podfile.lock from without using `binary: true` and then explicitly add all the necessary GoogleUtilities subspecs to the Podfile.

[2021-04-21 13:48] maksymmalyhin commented on #7926
@jose-pay Sorry you are having the issue.

From the first glance it looks like there is an issue with the project setup. The stack trace indicates that the crash happened on an attempt (presumably by NSZombie instrumentation) to set a class to an object while it was being deallocated. The console messages are an additional confirmation of the issue with the project. Here are some ideas you on what

[2021-04-21 13:53] paulb777 commented on #7921
The symbolcollision test is in flux and will get worse when we update the Firebase versions. The plan is to comment out the non-Firebase pods that dependent on shared major versions and create an issue to track the coordination with the other team updates that is discussed in the major versions section of go/firi.

The prerelease failure is related to the podspec's added on the Combine merge. Thes

[2021-04-21 14:01] paulb777 commented on #7927
@emretufekci Sorry about the trouble, if the suggestions in #6066 don't work, we'll likely need a reproducible example to help.

On first install, make sure you do a build in Xcode to make sure the modules get updated in the Xcode cache so they can be found by the editor's parser.

[2021-04-21 14:31] dconeybe commented on #7911
@lorenzofiamingo Could you provide some additional information about your use case? Any context you could provide could help investigation on our end.

[2021-04-21 15:10] uchiha-itachi95 opened #7929 "Archiving fails after adding performance monitoring SDK but build succeeds"
### Step 0: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ please use the Feature Request template.
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the `firebase` tag.
  * For general (non-iOS) Firebase discussion, u

[2021-04-21 15:13] lorenzofiamingo commented on #7911
I’m trying to get Firestore to work with CoreData. To accomplish that in the best way possible I want to create a reusable and general purpose swift package. I’m exploring two ways:
1) Create a new `NSPersistentStore` (`NSIncrementalStore`) called `NSFirebaseStore`
2) Create a `NSPersistentContainer` called `NSPersitentFirebaseContainer`, as Apple did with CloudKit (`NSPersistentCloudKitContainer`

[2021-04-21 15:29] paulb777 commented on #7929
Are you able to update to the latest version - 7.11.0?

If not or you're still seeing the problem, please share the Podfile and Podfile.lock.

[2021-04-21 16:04] granluo commented on #7921
It looks like we are not able to push due to  `FirebaseFunctionsTestingSupport` after excluding `FirebaseFirestoreTestingSupport`
https://github.com/firebase/firebase-ios-sdk/pull/7924/checks?check_run_id=2396594159
Are we going to exclude `FirebaseFunctionsTestingSupport` as well?

[2021-04-21 16:25] granluo commented on #7921
Just check the raw log and it turns out `FirebaseAuthTestingSupport`, `FirebaseCombineSwift` and  `FirebaseFunctionsTestingSupport` are all failed to validate. Are we going to exclude all of them?

[2021-04-21 17:51] AdamBCo commented on #7878
@christibbs After looking at your code, I **MIGHT** have figured out the issue.

In my sample code, you can see that I am passing **self** as the displayDelegate for the TestCardViewController. In your code, you are using the displayDelegate passed via the displayMessage function. Once I changed **self** to **displayDelegate**, I stopped seeing the In App Message repeatedly. Any idea why?

    pub

[2021-04-21 17:55] raymondlam commented on #7929
This could be related to #6597 which is already fixed in the latest version.

[2021-04-21 18:14] christibbs commented on #7878
Ah... yeah I totally missed that. So the `displayDelegate` that comes in from `displayMessage(_:displayDelegate)` is responsible for reporting metrics. It's a class that's internal to the SDK (ends up being [this class](https://github.com/firebase/firebase-ios-sdk/blob/master/FirebaseInAppMessaging/Sources/Flows/FIRIAMDisplayExecutor.m)). Your 2nd code block is correct.

Now that you mention it, t

[2021-04-21 18:15] christibbs commented on #7878
Closing this for now, since you have the right idea.

[2021-04-21 18:15] #7878 closed

[2021-04-21 21:24] dan-o3h commented on #7707
FYI the solution we had was to check the `args.Message.NotificationOpened` flag on and send our own custom event e.g. "my_notification_open" containing an "fcm_message_id" param to store the `FirebaseMessage.MessageId`. We then enabled the FCM analytics for BigQuery and then we could count the number of the custom events vs the number of sent events with the same id.

It works for analytics throug

[2021-04-21 21:28] dan-o3h commented on #7707
@paulb777  To answer your question, they show as `notification_foreground`in the analytics debugger

[2021-04-21 21:30] chris-o3h commented on #7707
@chliangGoogle sorry for the late response. Please refer to @dan-o3h 's comments as he's been deeper into this aspect of our project than me. Thanks!

[2021-04-21 21:41] chliangGoogle commented on #7707
@dan-o3h Thank you for letting us know your alternative solution. So looks like the default notification_open logging in analytics still don't work for you?
Can you confirm that you are able to use debugView in analytics to see notification_open is logged?

Here's how you can use analytics debug view to see if notificaiton_open is logged: https://firebase.google.com/docs/analytics/debugview

[2021-04-21 21:55] dan-o3h commented on #7707
@chliangGoogle  Here's a screen grab from a test I just did:

I tapped on the push notification from the iOS notification centre and the app loads, reauthenticates with FirebaseAuth ("login"), and then tracks as notification_foreground.

![Screen Shot 2021-04-21 at 2 49 01 PM](https://user-images.githubusercontent.com/48730057/115625424-e97a9200-a2b0-11eb-827d-48b146fecf7b.png)

[2021-04-21 21:57] chliangGoogle commented on #7707
Can you try tapping on the notification with app closed?

For your case both open and foreground should be recorded. Do you have swizzling enabled or disabled?

[2021-04-21 22:04] dan-o3h commented on #7707
The app was closed when I tapped on the push notification, but it still tracks as notification_foreground. I suspect that by the time it sends the event (after reauth) the app is now in the foreground and something under the hood thinks it's the same as resuming from the background.

[2021-04-21 22:09] chliangGoogle commented on #7707
No, the SDK should be able to differentiate that be able to log both foreground and open for your case. I can't reproduce your case. Can you let us know if you have swizzling disabled?

[2021-04-21 22:24] dan-o3h commented on #7707
I believe swizzling is disabled, FirebaseAppDelegateProxyEnabled is false.

[2021-04-21 22:29] dan-o3h commented on #7707
Actually we don't have FirebaseAppDelegateProxyEnabled set in the info.plist, does this default to true?

[2021-04-21 22:34] dan-o3h commented on #7707
Also I just noticed this might be the wrong issues list, we're using the Unity SDK

[2021-04-21 22:41] khuffie commented on #7707
@dan-o3h we are seeing the same issue and we use the iOS SDK

[2021-04-21 23:23] chliangGoogle commented on #7707
If you have swizzling disabled, analytics logging is by default disabled unless you manually implement `Messaging.appDidReceiveMessage` in the tutorial here: https://firebase.google.com/docs/cloud-messaging/ios/receive.

@dan-o3h can you check if you have that implemented in both `userNotificationCenter:willPresentNotification:withCompletionHandler:` and `userNotificationCenter:didReceiveNotificat

[2021-04-21 23:34] dan-o3h commented on #7707
They do appear to be implemented, but within the FirebaseMessaging pods in FIRMessagingRemoteNotificationsProxy.m, but this is part of the Unity SDK 7.0.1, so I'm not able to modify.

[2021-04-21 23:46] dan-o3h commented on #7707
I also tried FirebaseAppDelegateProxyEnabled set to true and false and neither value yielded `notification_open`

[2021-04-22 00:43] #7876 closed

[2021-04-22 01:18] uchiha-itachi95 commented on #7929
thanks for the super fast reply.
I was able to solve this issue by following this solution [here](https://medium.com/%E5%BD%BC%E5%BE%97%E6%BD%98%E7%9A%84-swift-ios-app-%E9%96%8B%E7%99%BC%E6%95%99%E5%AE%A4/archive-fails-in-firebasecorediagnostics-with-could-not-build-module-googleutilities-6726004587e7)

All I needed to do is removing the `FIRCoreDiagonstics.m` file from the `FirebaseDiagnostics Ta

[2021-04-22 01:18] #7929 closed

[2021-04-22 01:41] rromanchuk commented on #6477
+1 if you can also just ask that team to just distribute via github.  If it helps the sale, and i'm not even kidding when i say this, i'm literally just going to drop google sign in as a federated provider on ios without spm, because i'm far far too lazy to manage downloading binaries and linking manually.

[2021-04-22 04:26] dconeybe commented on #7911
tl;dr The "internal implementation details where work is scheduled on the main thread" turns out to be in Firebase Auth, where the main dispatch queue is hardcoded for callbacks. I tested out changing these Auth callbacks to instead use a background dispatch queue and it worked perfectly in my isolated test, allowing the code presented in the first comment of this issue to succeed. I'll dig into t

[2021-04-22 08:02] lucasvercelot commented on #7424
Hello,

I have the same problem. It happens from time to time, no idea why.
I don't know if the problem comes from the SDK or from a server-side issue.

Please fix this, thanks.

[2021-04-22 08:32] salyasev commented on #7922
@paulb777 Many thanks! I'm succeeded with updating Firebase dependencies without using binary.

[2021-04-22 08:32] #7922 closed

[2021-04-22 08:34] emretufekci commented on #7927
@paulb777

I can see the modules installed.
![Screen Shot 2021-04-22 at 11 19 16](https://user-images.githubusercontent.com/23323000/115680820-9827dc80-a35c-11eb-9b51-f594c6fe6e5b.png)

Actually, i've just downloaded cocoapods to be able to use firebase even to avoid caching i removed everything in the DerivedData folder but even i build removing the line and then try rebuild with it no chance.

B

[2021-04-22 09:05] perumal1216 opened #7935 "Crashed: com.google.fira.worker"
### [REQUIRED] Step 1: Describe your environment

1. Xcode version: 12.4
2. Firebase SDK version: 7.6.0
3. Firebase Component: (Performance, Crashlytics, Analytics, DynamicLinks, Core)
4. Installation method: `CocoaPods

### [REQUIRED] Step 2: Describe the problem

Crashlytics is reporting crashes. The crash rate is so high, so it is difficult to reproduce it. Can you help sort it out, since tool

[2021-04-22 09:23] perumal1216 commented on #7935
Thanks for the update . could you please tell me the what are required information to help your investigation.

[2021-04-22 10:42] emretufekci commented on #7927
I've solved the issue by adding "$(inherited)" under Header Search Path (Release & Debug).
Thanks.

[2021-04-22 10:42] #7927 closed

[2021-04-22 11:26] tritter opened #7936 "Uploading to ITS is broken!"
### Describe your environment

  * Xcode version: 12.4 (12D4e)
  * Firebase SDK version: 7.11.0
  * Installation method: `Swift Package Manager`
  * Firebase Component: Core
  * iOS Target & SDK(14.1)
### Step 2: Describe the problem
I can't upload an app to Apple. After processing I get an E-Mail saying:

[code]

I think Apple changed their minimum target? Without FirebaseCore I'm able to process

[2021-04-22 14:20] ryanwilson commented on #7936
Hi @tritter, sorry for the troubles. Can you share which products you're including via SwiftPM? Everything except Analytics is distributed as source so sources should be built using the Xcode version you're using. Note that there's a separate issue with binary SDKs (#6472) that is worth looking at as well, but this is a separate error you're seeing.

Can you also confirm you're not using the Xcode

[2021-04-22 14:26] tritter commented on #7936
@ryanwilson No problem, happy to help. I Only included the default via SPM. And yes I'm aware of that issue! I solved it by adding one of the scripts which is mentioned there, which let me upload the IPA last time. So now I just changed something in my code and tried to rebuild, without success, so also with 7.10.0 it worked before. Seems like Apple toggled some switches again on their side... Las

[2021-04-22 14:35] ryanmcdonald77 opened #7938 "Completion Handler of FirebaseRemoteConfig fetch is never called in Simulator"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 12.2
  * Firebase SDK version: 7.6
  * Installation method: Zip file
  * Firebase Component: RemoteConfig

### [REQUIRED] Step 2: Describe the problem

Remote config fetch completion is never called. Console logs sometimes indicate an SSL connection issue.

#### Steps to reproduce:

The app is launched in the simulator and after

[2021-04-22 16:06] bobbyzamora commented on #7822
Hi @rizafran! I'm returning with some info. I've just catch this error, and here is what output i have.

Launched app with Xcode12.4 on iPhone 11, iOS 14.4.2. Got the link that redirects to AppStore, then added:
`DynamicLinks.performDiagnostics(completion: nil)`
and
`suffix?d=1` to the link

--------------
Xcode console output:

[code]
--------------

Then i've tried opening the link: "https://sto

[2021-04-22 16:13] rizafran commented on #7935
Thanks for reporting, @perumal1216. Could you try updating your SDK to the latest one and see if the issue still occurs?

[2021-04-22 17:49] jobnte opened #7939 "Firebase SDK crashes on FBLPromise with unrecognized selector."
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 12.4
  * Firebase SDK version: 7.11.0
  * Installation method: CocoaPods
  * Firebase Component: RemoteConfig, DynamicLinks, Firestore, Auth, Analytics.

### [REQUIRED] Step 2: Describe the problem

#### Steps to reproduce:

We just updated the Firebase SDK from **6.34.0** to **7.11.0**.

Dependencies:
* Firebase Analytics
* Fire

[2021-04-22 19:23] dconeybe commented on #7911
One last note before @morganchen12 takes over this issue... talking briefly with the Auth folks yielded this interesting document: https://github.com/firebase/firebase-ios-sdk/blob/master/FirebaseAuth/Docs/threading.md. tl;dr They explicitly decided to use the main dispatch queue for callbacks to make things easy from a concurrency perspective. This is not to say it couldn't be changed (or made to

[2021-04-22 20:24] tysonwil commented on #5423
@vizaiapp any luck with this crash on macOS?

[2021-04-22 20:29] paulb777 commented on #7939
I suspect this might be a corrupted environment. Try `pod deintegrate`, clearing DerivedData, reinstalling and rerunning.

[2021-04-22 20:37] elincoln opened #7940 "Crashlytics `upload-symbols` crashing when launched via `run` script in Xcode Build Phase"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 12.4 (12D4e)
  * Firebase SDK version: 7.11.0
  * Installation method: `Swift Package Manager` (select one)
  * Firebase Component: Crashlytics

### [REQUIRED] Step 2: Describe the problem

`upload-symbols` via the `run` script is **sometimes** crashing in the background/async (after passing the `--validate` synchronous step)

He

[2021-04-22 21:02] jobnte commented on #7939
Hi @paulb777 , thanks for your answer. Unfortunately, it didn't work and still crashing.

[2021-04-22 21:31] paulb777 commented on #7939
Hmm, it sounds a bit strange to use `use_frameworks! :linkage => :static` and link into a dynamic library.  Do you get any duplicate library warnings on load?

[2021-04-22 21:39] paulb777 commented on #7921
The symbolcollision and zip failures should be fixed in the next day or two when I do the 8.0.0 version update
app_check should be fixed by today's PRs

The rest look like flakes.

[2021-04-22 22:06] paulb777 commented on #7936
Core is not a product available via Swift Package Manager. See https://github.com/firebase/firebase-ios-sdk/blob/master/Package.swift#L25 for the list.

Which Firebase products are linked into the app?

[2021-04-22 22:09] paulb777 commented on #7935
Related issue at #6802. This may be related to issues that have been fixed in FirebasePerformance.

[2021-04-22 22:47] chliangGoogle commented on #7707
@dan-o3h what I mean is you need to implement the Messaging.appDidReceiveMessaging under those two methods I listed above in your own app implementations, not in FIRMessagingRemoteNotificationsProxy.m. Please check the code sample in tutorial here:  https://firebase.google.com/docs/cloud-messaging/ios/receive.

[2021-04-22 22:50] Brett-Best commented on #7325
I’m also seeing a similar crash, this [post](https://developer.apple.com/forums/thread/111371?answerId=671664022#671664022) on the developer forums may be relevant.

I have both the crash + analytics libraries included.

Here is a crash report downloaded in Xcode from Apple. Unsure why it’s not fully symbolicated, maybe due to the process name truncation 🤔

[code]

[2021-04-23 04:37] tritter commented on #7936
You're completely right. To the target it it is only "FirebaseAnalytics" Thanks

[2021-04-23 07:11] icedice opened #7946 "Carthage versioning"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 12.4
  * Firebase SDK version: 7.11.0
  * Installation method:  Carthage

### [REQUIRED] Step 2: Describe the problem

The Carthage usage document (https://github.com/firebase/firebase-ios-sdk/blob/master/Carthage.md#carthage-usage) clearly states that

The newest version available seems to be 7.11 however for FirebaseAnalyticsBi

[2021-04-23 10:04] hazemMaher opened #7947 "Firebase Analytics cause Terminated due to signal 9"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 12.4
  * Firebase SDK version: latest 7.11.0
  * Installation method: `CocoaPods`
  * Firebase Component: `Core, RemoteConfig, Messaging, Analytics, Crashlytics`
  * Podfile:
[code]
  * Background Modes:

<img width="306" alt="image" src="https://user-images.githubusercontent.com/13917231/115847819-9aa13980-a423-11eb-81fd-e941187

[2021-04-23 11:57] tritter commented on #7936
Hi @paulb777,

Seems to be fixed with the RC of Xcode 12.5!
Just submitted successfully just by upgrading to Xcode 12.5, I also removed the archive step now. So https://github.com/firebase/firebase-ios-sdk/issues/6472 should be solved too with 12.5

Thanks for responding so quickly,
Thom

[2021-04-23 11:57] #7936 closed

[2021-04-23 11:58] perumal1216 commented on #7935
thanks for your update @rizafran   .  we are already having Firebase SDK version: 7.6.0 and  Firebase/Performance (7.6.0)

[2021-04-23 12:47] jobnte commented on #7939
Yes, I’m getting duplicate warnings but even before I update to 7.11.0

[2021-04-23 13:15] ryanwilson commented on #7946
Hi @icedice - sorry for the trouble. You can see an explanation at https://github.com/firebase/firebase-ios-sdk/issues/7698#issuecomment-799023908, but the tl;dr is that Analytics switched to distribute the binary as an `xcframework` so we could support Apple silicon, but carthage doesn't have a release that supports `xcframework`s yet.

We have another issue tracking Apple silicon support for Car

[2021-04-23 13:15] #7946 closed

[2021-04-23 13:39] icedice commented on #7698
Thank you for explaining. I will stick with 7.4.0 until Carthage 0.38.0 is out which seems to be very soon.

[2021-04-23 13:56] rizafran commented on #7940
Thanks for reporting @elincoln. It looks like your issue is related here #7634.

[2021-04-23 14:36] paulb777 commented on #7939
The duplicate warnings are indicative of non-deterministic behavior. When there are multiple copies of a library, the right one may or may not be chosen.

[2021-04-23 15:04] paulb777 commented on #7921
zip should be fixed by #7944
symbolcollision fix is planned described above
mlmodeldownloader is an spm flake

prerelease and release looks like an infra bug - @granluo PTAL

[2021-04-23 15:05] samedson commented on #7940
@elincoln sorry this is happening. We recently added code to validate dSYMs that may be the culprit. Could you try adding the following flag to `run` to see if the crashes stop happening `--skip-dsym-validation` ?

[2021-04-23 15:49] granluo commented on #7921
Looks like we have the 8.0.0 tag but we do not have `release-8.0.0` or `release-8.0` branches. Will investigate see if the tests could just depend on either branch or tag, instead of both.

[2021-04-23 16:02] paulb777 commented on #7921
@granluo I think the workflows should only depend on the branch existence. The tag is created but still being tested in #7944. If the release branch is there, the tag should always be on it.

[2021-04-23 16:28] paulb777 commented on #7935
The current release is 7.11.0

[2021-04-23 17:41] khuffie commented on #7707
@chliangGoogle  our QA team did multiple tests.

With the app in the background and tapping on a push notification, notification_open got triggered 4 out of 5 times.

With the app killed, tapping on a push notification, notification_open got triggered Zero out of 4 times. So it looks like there's an issue on iOS with notification_open at app launch.

[2021-04-23 18:26] santiagolimas commented on #5893
Has there been any update on this topic?

[2021-04-23 18:53] granluo commented on #7921
Yep the release workflow should depend on the release branch, while the prerelease workflow will depend on a nightly tag, which will stick to the head of master. Will update the script then.

[2021-04-23 19:12] rizafran commented on #7938
Hi @ryanmcdonald77, I've tried to reproduce the issue, but I was able to successfully call the fetch(). With this, did you use the activate() after calling the fetch()?

[2021-04-23 19:55] elincoln commented on #7940
Hi @samedson,
**TLDR:** that fixed the crash but `upload-symbols` is now uploading the old/stale dSYM file for local incremental builds, and not the new one.

**Details:**
Adding `--skip-dsym-validation` does prevent the crash, but your mention of a race condition made me look a little closer: while it no longer crashes on incremental builds, it instead uploads a stale dSYM file.

Before performin

[2021-04-23 20:19] rizafran commented on #7822
Thanks for sharing your findings, @bobbyzamora. I've tried debugging your dynamic link by adding a `?d=1` in the end, and I've noticed that there are 3 warnings. Could you double-check if the `UniversalLinks` is enabled and if you're using the correct bundle ID?

[2021-04-23 20:53] paulb777 opened #7953 "Update Symbol Collision Test Podfile for internal Google dependencies after Firebase 8"
Restore GoogleMLKit (disabled in #7952) and add other internal Firebase dependencies. See go/firi (internal) for a list.

[2021-04-23 20:58] chliangGoogle commented on #7707
@khuffie I think there might be a bug in `[userNotificationCenter:didReceiveNotificationResponse:withCompletionHandler:](https://developer.apple.com/documentation/usernotifications/unusernotificationcenterdelegate/1649501-usernotificationcenter?language=objc)` not getting triggered in swift.

I'm able to reproduce. @khuffie can you also confirm that the method above doesn't trigger for you when yo

[2021-04-23 21:30] morganchen12 commented on #7947
Can you run a time profiler trace to determine what's causing the CPU usage?

[2021-04-23 21:57] khuffie commented on #7707
I’ll have to speak with our devs.

@chliangGoogle however, our push notifications have additional metadata that directs a user to a deep link, and that functionality works consistently.

[2021-04-24 00:27] jobnte commented on #7939
We have been using it like that even with 6.34 and never had any issue. We would totally appreciate it If you have any article about how to fix those duplicate warnings because we have tried everything with no success.

[2021-04-24 01:02] paulb777 commented on #7939
Do the warnings reduce or go away with `use_frameworks!` instead of `use_frameworks! :linkage => :static`?

[2021-04-24 07:08] pradeep-spikey-tech commented on #7406
Hi. I'm facing the same issue. Any update?

[2021-04-24 13:52] paulb777 commented on #7921
The Zip build is failing because we don't have a way to specify a higher minimum iOS version for AppCheck

[2021-04-24 17:55] aryaxt opened #7957 "Firestore Snapshot Listener executes too much work on main thread"
### [REQUIRED] Step 1: Describe your environment
  * Xcode version: 12.4
  * Firebase SDK version: 6.34.0
  * Installation method: CocoaPods
  * Firebase Component: Firestore

### [REQUIRED] Step 2: Describe the problem
Snapshot listener executes large tasks on the main thread and makes the app extremely laggy.
I was wondering if the code can be optimized to perform the work on a background thread

[2021-04-24 21:03] granluo commented on #7921
`release` and `prerelease` workflows were merged after tests, the new setup should be applied tonight. [`prerelease` new setup ](https://github.com/firebase/firebase-ios-sdk/actions/runs/780269085)was manually triggered and it seemed to be working.

[2021-04-24 23:42] paulb777 commented on #7476
Reopening - the issue looks back in #7955

[2021-04-25 01:56] lotz opened #7958 "Xcode build error when including pods "Firebase/Analytics" 7.11.0 and "Google-Mobile-Ads-SDK" 8.4.0 across targets"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 12.4 (12D4e)
  * Firebase SDK version: 7.11.0
  * Installation method: `CocoaPods`
  * Firebase Component: Analytics
  * Cocoapods version: 1.10.1

### [REQUIRED] Step 2: Describe the problem

I have multiple targets in my project, all of which use `Firebase/Analytics`. Some are ad-supported, and some are not, so some of the targ

[2021-04-25 14:28] paulb777 commented on #7921
@granluo release seems to be failing because it is using the tag `CocoaPods-7.11` instead of `CocoaPods-7.11.0` or `CocoaPods-7.11.1` or whatever is highest available.

zip is proposed to be fixed by #7956

The rest should be flakes.

[2021-04-25 14:37] paulb777 commented on #7958
@lotz Sorry about the trouble and thanks for the report.

This is likely a side-effect of the 7.11.0 to change to split the AdSupport and AppTrackingTransparency from Firebase/Analytics. See the [release notes](https://firebase.google.com/support/release-notes/ios) in order to address to new Appstore requirements.

I'll follow up with the team on this use case this week. In the meantime, a workaro

[2021-04-25 14:43] lotz commented on #7958
Thanks for the prompt response and for looking into it.

[2021-04-26 00:09] jobnte commented on #7939
No, but I can run the project without the runtime error. The problem now is `RemoteConfig.remoteConfig().fetchAndActivate ` closure is never called and my our depends of that call. This is only happening when there is a previous build installed with 6.34 because If make a fresh install everything works.

[2021-04-26 07:10] granluo commented on #7921
Manually canceled the nightly release job. Have triggered the release workflow([log](https://github.com/firebase/firebase-ios-sdk/pull/7960/checks?check_run_id=2435725348)) with updated scripts in #7960

[2021-04-26 09:54] perumal1216 commented on #7935
Do we have a any potential fix on release 7.11.0 version related to above defined issue . if yes please provide details that could be great help to us.

[2021-04-26 10:23] bobbyzamora commented on #7822
@rizafran Thanks for the reply!
_Universal link_ is enabled, and _bundle id_ is correct. Otherwise it would not open later from notes app.
Note that after opening from "notes" the link can be opened from safari too.
Thanks!

[2021-04-26 10:25] Panajev commented on #7785
I had to revert to Firebase 7.10.0 from 7.11.0 as it would not build with the Xcode 12.5 RC build (SwiftPM integration).

Tried to fully remove Firebase and then re-add it via SwiftPM and could only re-add 7.10.0, Xcode would throw up an error and refuse to add 7.11.0.  I think this is pretty important as Xcode 12.5 will go live very shortly as iOS 14.5 goes live this week.

[2021-04-26 10:36] bluelagon opened #7961 "crash on CFXNotificationTokenRegistration keyCallbacks"
### Step 0: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ please use the Feature Request template.
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the `firebase` tag.
  * For general (non-iOS) Firebase discussion, u

[2021-04-26 13:28] ryanwilson opened #7962 "Flaky installation of GoogleAppMeasurement in 7.11 with SwiftPM"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 12.5
  * Firebase SDK version: 7.11.0
  * Installation method: `Swift Package Manager`
  * Firebase Component: Analytics

### [REQUIRED] Step 2: Describe the problem

#### Steps to reproduce:

From a blank project in Xcode 12.5, attempt to add Firebase via SwiftPM.
Occasionally, this fails to reproduce with the message:

[code]

[2021-04-26 13:28] ryanwilson commented on #7785
@Panajev thanks for the additional report - looking into this now.

Was the error you're seeing similar to the screenshot below? If so, that's a different error but needs attention. I've filed #7962 to track this.

![Installation error in Xcode](https://user-images.githubusercontent.com/1097316/116090372-c9acea80-a671-11eb-9a12-d6eef6bf347e.png)

[2021-04-26 14:15] jovanovski opened #7963 "watchOS FCM notifications not being received"
### Environment

  * Xcode version: 12.4
  * Firebase SDK version: 8.0.0
  * Installation method: CocoaPods
  * Firebase Component: Messaging

### Describe the problem
I am trying to get a standalone watchOS app to receive a FCM notification sent from the console. I tried following the [example app](https://github.com/firebase/firebase-ios-sdk/tree/master/Example/watchOSSample), to the point, line

[2021-04-26 14:23] jobnte commented on #7939
We fixed our issue by running a script that will avoid duplicate issues. We also are using just `use_frameworks!`. Thanks for the help @paulb777 .

[2021-04-26 14:23] #7939 closed

[2021-04-26 14:26] paulb777 commented on #7921
`release` should be fixed by #7960
`zip` is fixed by #7956 but will explore a better fix today.

Restarted likely `installations` and `instanceid` flakes

[2021-04-26 14:42] ryanwilson commented on #7962
This is likely the underlying implementation of the unzipping:
https://github.com/apple/swift-tools-support-core/blob/435a2708a6e486d69ea7d7aaa3f4ad243bc3b408/Sources/TSCUtility/Archiver.swift#L65

Will try to work off that and reproduce.

[2021-04-26 14:52] ryanwilson commented on #7962
Using the `unzip` command an extra directory `__MACOSX` shows up. I suspect this is due to an incorrect compression of the release artifacts, and Xcode gets confused when there are 2 `XCFramework`s nested there. This could also explain the flakiness in that sometimes the proper `XCFramework` gets selected.

![Duplicate folders in finder](https://user-images.githubusercontent.com/1097316/116103047-

[2021-04-26 15:10] ryanwilson commented on #6219
TODO: Test this issue with Xcode 12.5 to see if it's resolved.

[2021-04-26 15:22] ryanwilson commented on #7486
Since there's no workarounds or changes we can make in this repo to make this work, we'll close this in favour of the CocoaPods issue you have commented in: https://github.com/CocoaPods/CocoaPods/issues/9973.

Thanks again for the report!

[2021-04-26 15:22] #7486 closed

[2021-04-26 15:24] ryanwilson commented on #6696
Previous comment is still relevant.

[2021-04-26 15:25] paulb777 commented on #4644
Closing in favor of the more recent and encompassing #7819

[2021-04-26 15:25] #4644 closed

[2021-04-26 15:27] paulb777 commented on #7819
Thanks for the request.  Until we get to this, a workaround is to build it yourself using the ZipBuilder tool at https://github.com/firebase/firebase-ios-sdk/tree/master/ReleaseTooling.

[2021-04-26 15:35] paulb777 commented on #7798
Are you still having trouble with this after the merge back to master?

[2021-04-26 15:44] ryanwilson commented on #7785
TODO for solving the original issue: create a minimal repro to report to the Swift forums / Apple's Feedback system, or ideally find a solution based on the minimal repro.

[2021-04-26 15:50] #7921 closed

[2021-04-26 17:09] samedson commented on #7940
Dang that is indeed problematic - thank you for this information.

Were you able to try adding the `${DWARF_DSYM_FOLDER_PATH}/${DWARF_DSYM_FILE_NAME}/Contents/Resources/DWARF/${TARGET_NAME}` to the "Input Files" section of the run / upload-symbols script in Build Phases?

[2021-04-26 17:17] chliangGoogle commented on #7963
@jovanovski Which bundle ID do you register with Firebase console? Are you using the one suffix with .WatchKitApp?

[2021-04-26 17:19] jovanovski commented on #7963
@chliangGoogle The one that ends with `.watchkitapp.watchkitextension`. Should I be registering the one that ends just with `.watchkitapp` instead?

[2021-04-26 17:23] chliangGoogle commented on #7963
Yes that is the bundle ID of watch app.

[2021-04-26 17:39] jovanovski commented on #7963
Registering that ID, grabbing a new `GoogleService-Info.plist`, cleaning everything and rebuilding made it work. Thank you Chen for your help!

[2021-04-26 17:40] #7963 closed

[2021-04-26 18:13] elincoln commented on #7940
🤦  Adding this fixed my "uploading stale symbols" issue.  It even seems to have resolved the crash; WITHOUT needing to include the `--skip-dsym-validation`

My apologies for poor reading comprehension on my part -- I even tried using that setting (incorrectly) and somehow overlooked that part of your post!

For future reference, I'm guessing that if my build produced multiple dSYM files that I wou

[2021-04-26 18:29] samedson commented on #7940
All good - thank you for reaching out and carefully describing the issue! Very glad it's resolved on your end. Yes for additional dSYMs you'll want to put them into the Input Files. You may also need to add an additional call to upload-symbols, eg. `upload-symbols --build-phase -- <path-to-dsym>`.

Haha but yeah... we fixed a similar issue to this a while back with Xcode 10 when they introduced as

[2021-04-26 18:30] #7940 closed

[2021-04-26 18:44] morganchen12 commented on #7961
The crashing stack trace doesn't include any symbols from Firebase (aside from the Crashlytics crash recorder thread), which means this crash is likely not caused by Firebase. Looks like the crash is caused by an index out of bounds error in one of your collection views.

[2021-04-26 18:44] #7961 closed

[2021-04-26 18:46] morganchen12 commented on #7935
@perumal1216 this kind of crash can also be caused by memory corruption in your app, consider debugging your app with some memory diagnostic tools (like asan, zombies) enabled.

[2021-04-26 18:55] Panajev commented on #7785
Hey Ryan, I think so. I will create a sample project and reproduce it there too :)! Thanks for looking into this.

Sent from my iPhone

[2021-04-26 19:06] morganchen12 commented on #7957
@aryaxt have you tried setting the [callback queue](https://firebase.google.com/docs/reference/ios/firebasefirestore/api/reference/Classes/FIRFirestoreSettings#/c:objc(cs)FIRFirestoreSettings(py)dispatchQueue) to a background queue?

[2021-04-26 22:46] ryanwilson commented on #7962
7.11.1 for SwiftPM was released and this appears to be resolved.

[2021-04-26 23:27] morganchen12 commented on #7962
@ryanwilson does this warrant a release note?

[2021-04-27 02:36] 1oo7 opened #7977 "Deadlock caused by RemoteConfig fetch"
### Step 0: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ please use the Feature Request template.
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the `firebase` tag.
  * For general (non-iOS) Firebase discussion, u

[2021-04-27 03:44] 1oo7 commented on #7977
I notice the logs usually end like this:

[code]

[2021-04-27 04:41] wangjunhua1 opened #7978 "[NSProcessInfo isiOSAppOnMac] crash"
ios 14.0.0 crash

![image](https://user-images.githubusercontent.com/11474284/116186245-d440b000-a755-11eb-840c-d8fe27f23f63.png)

    sdk version
    #firebase
    pod 'Firebase/Crashlytics', '7.11.0'
    pod 'Firebase/Analytics', '7.11.0'
    pod 'Firebase/RemoteConfig', '7.11.0'

    pod 'Firebase', '7.11.0'
    pod 'FirebaseAnalytics', '7.11.0'
    pod 'FirebaseCore' ,'7.11.0'
    pod 'Firebas

[2021-04-27 06:47] henrikix opened #7979 "Firebase 7.11.0 for Carthage"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 12.4
  * Firebase SDK version: 7.4.0
  * Installation method: Carthage
  * Firebase Component: Auth, Analytics etc

### [REQUIRED] Step 2: Describe the problem

I would like to update Firebase SDKs to make sure I'm up to date and avoid any possible issues with app privacy.
The provided `https://dl.google.com/dl/firebase/ios/carth

[2021-04-27 07:19] MapaX opened #7980 "GoogleUtilitiesComponents cannot be installed via SwiftPM"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 12.4
  * Firebase SDK version: 8.0.0
  * Installation method: `Swift Package Manager
  * Firebase Component: GoogleUtilitiesComponents

### [REQUIRED] Step 2: Describe the problem

#### Steps to reproduce:

I am trying to get the ML Kit working without cocoa pods. It has dependency to GoogleUtilitiesComponents, which is not vaila

[2021-04-27 13:09] github-actions[bot] opened #7981 "Nightly Testing Report"
# Nightly Testing Report
This issue([log](https://github.com/firebase/firebase-ios-sdk/actions/runs/789174201)) is generated at 04/27/2021 06:09 AM, fetching workflow runs triggered in the last 24 hrs.
| Workflow |04/26|
| -------- | -------- |
| [zip](https://github.com/firebase/firebase-ios-sdk/blob/master/.github/workflows/zip.yml) | [failure](https://github.com/firebase/firebase-ios-sdk/action

[2021-04-27 13:10] bluelagon commented on #7961
Thank you for your explanation.

[2021-04-27 13:20] 4brunu commented on #6472
Now that Xcode 12.5 stable is release, this issue should be fixed, right?

[2021-04-27 14:03] paulb777 commented on #7981
There was a problem with AppCheck in the zip build. Investigating ....

[2021-04-27 14:29] ryanwilson commented on #7979
Hi @henrikix - sorry for the trouble. You can see an explanation at https://github.com/firebase/firebase-ios-sdk/issues/7698#issuecomment-799023908, but the tl;dr is that Analytics switched to distribute the binary as an xcframework so we could support Apple silicon, but Carthage doesn't have a release that supports xcframeworks yet.

We have another issue tracking Apple silicon support for Cartha

[2021-04-27 14:30] #7979 closed

[2021-04-27 14:31] paulb777 commented on #7979
In the meantime, the best workaround is to use the zip distribution - https://github.com/firebase/firebase-ios-sdk/releases/tag/7.11.0

[2021-04-27 14:35] paulb777 commented on #7978
This is a duplicate off #7413. See the resolution there.

[2021-04-27 14:35] #7978 closed

[2021-04-27 15:27] ryanwilson commented on #6472
Confirmed that this issue is fixed in the public version of Xcode 12.5. 🎉

Thank you everyone for your patience and helping out with workarounds! If you did add a workaround for your project, it's probably best to remove it to ensure it doesn't cause any issues in the future.

[2021-04-27 15:27] #6472 closed

[2021-04-27 17:01] schmidt-sebastian commented on #7957
Can you also share the code of you listeners and approximate the number of documents in each snapshot? Raising the snapshot should not put a lot of work on the main queue, but accessing the document data inside of the snapshot may kick off expensive operations.

[2021-04-27 17:20] rizafran commented on #7822
Hi @bobbyzamora, can you file a ticket to [Firebase support](https://firebase.google.com/support)? This way, you can share your project info to the support team so that they might help you to troubleshoot your dynamic link further. Thanks.

[2021-04-27 19:19] #6662 closed

[2021-04-27 20:50] 1oo7 commented on #7977
In testing different possible fixes for this issue and googling various sections of the logs, eventually at long last, we found this old github issue from 2019 about the same exact problem: https://github.com/firebase/firebase-ios-sdk/issues/3929

I found this by googling ([FIRRemoteConfig configValueForKey:]_block_invoke freeze)[https://www.google.com/search?client=safari&rls=en&q=%5BFIRRemoteCon

[2021-04-27 20:53] paulb777 commented on #7977
Thanks for sharing the analysis. It should help with our investigation.

[2021-04-27 21:26] #7424 closed

[2021-04-27 21:38] karenyz commented on #7424
Thanks for all the detailed reports!! Sorry it took some time to track down the problem. Put in a fix that will be in the next release, feel free to re-open if this issue still persists after that

[2021-04-28 00:42] Busta117 opened #7990 "OAuthProvider with tenant support"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version:  12.4
  * Firebase SDK version: 7.10.0
  * Installation method: `CocoaPods `
  * Firebase Component: Auth

### [REQUIRED] Step 2: Describe the problem

#### Steps to reproduce:

there is a problem when we try to signin with a specific tenant and specific provider using OAuthProvider(see code below for a better understand)

in the

[2021-04-28 00:55] #7618 closed

[2021-04-28 01:05] ncooke3 commented on #7618
Hi all,

Apologies for the delay. After some investigation, this seems to be a known issue that crops up when initializing WebKit objects on M1 machines running a Rosetta-translated process. There's a fix planned to release with Firebase 8.0.0 that conditionally avoids the crash-inducing code and should resolve the issue.

Thanks again for the reports and don't hesitate to reach out if you run int

[2021-04-28 04:56] #7981 closed

[2021-04-28 05:01] paulb777 commented on #7836
Fixed by #7970

[2021-04-28 05:01] #7836 closed

[2021-04-28 07:49] mortenbekditlevsen commented on #7153
I got the Firebase Auth SDK for iOS to work with a custom auth domain by swizzling (until we get proper support for custom auth domains in the iOS SDK).

I have not verified yet if this makes the sign in more stable.

USE AT YOUR OWN RISK:
[code]
Make sure to call ` _ = swizzleSupportedAuthDomains` somewhere before attempting to sign in.

The auth domain of course needs to be configured in firebas

[2021-04-28 07:52] mortenbekditlevsen opened #7992 "Incorrect comment in code."
The comment on the referred line specifies that the order of `supportedAuthDomains` matters. But the outer loop is the authorized domains from the web request, so actually the first match in the authorized domains list 'wins'.
The inner and outer loops should be switched for the comment to be correct.

https://github.com/firebase/firebase-ios-sdk/blob/31307cdf7e2e7f0cf931ccf30f54fb409cad037d/Fireb

[2021-04-28 11:19] mortenbekditlevsen commented on #7153
**TL;DR: Disable 'Prevent Cross-Site Tracking' on the user's device appears to make the issue go away.**

I now have some findings:
Using the custom auth domain did not have any effect for me (I'll still keep it though, as it's nice to see our own domains while logging in).

But I did manage to find something that _immediately_ fixed the issue!
I experienced the issue in the iPad simulator. I went

[2021-04-28 13:10] github-actions[bot] opened #7993 "Nightly Testing Report"
# Nightly Testing Report
This issue([log](https://github.com/firebase/firebase-ios-sdk/actions/runs/792715337)) is generated at 04/28/2021 06:09 AM, fetching workflow runs triggered in the last 24 hrs.
| Workflow |04/27|
| -------- | -------- |
| [dynamiclinks](https://github.com/firebase/firebase-ios-sdk/blob/master/.github/workflows/dynamiclinks.yml) | [failure](https://github.com/firebase/fireb

[2021-04-28 14:07] paulb777 commented on #7993
`dynamiclinks` had the spm decoding flake. Restarted
`messaging` has a tvos heartbeat unit test failure
`functions` and `firestore` have stale quickstart Podfile.lock issues after GoogleUtilities 7.4.0
`zip` is still broken adapting to AppCheck

[2021-04-28 14:25] ryanwilson commented on #7962
Probably - but let's hold off momentarily as I just had the issue happen again.

[2021-04-28 19:08] visumickey commented on #7977
@1oo7 We did fix this issue in the past and we made design changes where we do not deadlock with Remote Config. So, sounds like a regression. We will dig on this further.

Curious on how easy is it to reproduce the issue? I tried this on using Firebase version 11.0 and could not reproduce this. Will continue to try this out. But If you could share details about the version of XCode, iOS Version an

[2021-04-28 19:12] paulb777 commented on #7977
Could this one be related to #7975?

[2021-04-28 19:15] visumickey commented on #7977
Yes, at the look of it. It feels like this could be the cause of the issue. Let me take a look at the perf SDK to see how it acts for that change in remote config and see how we can move ahead on this.

[2021-04-28 21:06] paulb777 opened #8001 "8.0.0 Testing: Installing two versions of GoogleAppMeasurement"
It's possible to get two versions of GoogleAppMeasurement installed. This is a result of `Google-Mobile-Ads-SDK` not having a compatible release with Firebase 8. Other Podfile scenarios can lead to a pre-GoogleAppMeasurement version of AdMob being installed.

At runtime this results in:
`'FIRAnalyticsVersionMismatch', reason: 'Google Analytics for Firebase version (80000000) does not match with Go

[2021-04-28 21:48] unxavi commented on #7577
Just to add to this... I'm seeing the same. My case is a bit different. I ask notification permission and as soon as the user respond, we show a new screen and this screen is not tracked

`Cannot log screen view event when the app is not active`

[2021-04-28 22:10] #8001 closed

[2021-04-29 02:05] lotz commented on #7958
This is not directly related to this issue, but some people reading this thread may be interested. I have [posted in the Google Mobile Ads SDK Developers forum](https://groups.google.com/u/0/g/google-admob-ads-sdk/c/dHjMnBxZtmw) asking about a version of that SDK that does not require the IDFA or AdSupport.framework, similar to `Firebase/AnalyticsWithoutAdIdSupport`.

[2021-04-29 09:44] simba909 opened #8005 "SwiftUI Previews crashes on FBLPromise with unrecognized selector"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 12.5
  * Firebase SDK version: 7.8.1 or 7.11
  * Installation method: `Zip file`
  * Firebase Component: Analytics, Database, Firestore, Storage

### [REQUIRED] Step 2: Describe the problem

With Firebase set up in an iOS app, I cannot run SwiftUI Previews (and just previewing itself crashes frequently). Running the app in a simu

[2021-04-29 12:31] ryanwilson commented on #6219
Hey everyone, I tested this with Xcode 12.5 with [my repro steps above](https://github.com/firebase/firebase-ios-sdk/issues/6219#issuecomment-683896871) and was unable to reproduce - I think this is resolved.

I'm going to close this now, but if you still see the same error using Xcode 12.5 please share steps to reproduce and I'll re-open the issue!

[2021-04-29 12:31] #6219 closed

[2021-04-29 14:03] rizafran commented on #7980
Sorry to hear that `GoogleUtilitiesComponents` is not yet available via SPM, @MapaX. It looks like this feature is in the SPM support To do list as shown [here](https://github.com/firebase/firebase-ios-sdk/projects/1#card-41224239). We'll update here when we have any details to share. Thanks!

[2021-04-29 20:31] squm opened #8009 "building for iOS Simulator, but linking in object file built for iOS"
hello, what is this?

[2021-04-29 20:33] morganchen12 commented on #8009
Hey @squm, please fill out the issue template. Looks like you're using an older version of Firebase that doesn't support xcframeworks.

[2021-04-29 22:16] mikehardy commented on #7736
@paulb777 I believe this is an accurate statement, based on the recent 7.11.0 release? I just added support and launched it in react-native-firebase but I figured it can't hurt to cross-check here:

[2021-04-29 22:27] paulb777 commented on #7736
@mikehardy It looks like it, but I'm not fully educated enough to make a full judgement about the react-native-firebase integration

[2021-04-29 23:20] mikehardy commented on #7736
@paulb777 If RNFB users set a variable in their Podfile that we look for in our RNFBAnalytics.podspec, we include the new subspec you all publish with no ad ids, otherwise they get the original Firebase/Analytics dependency

I put guards in requiring 7.11.0 min and also verify in RNFBAdMob that they did *not* set the variable as that would make no sense.

Examination of Podfile.lock with and witho

[2021-04-30 01:03] #7113 closed

[2021-04-30 01:09] Sawmi commented on #7707
![all-about-of-kim-rae-won-firstlove-1](https://user-images.githubusercontent.com/83381906/116636342-51089f80-a98b-11eb-88ac-4b3af91919d4.jpg)

[2021-04-30 02:35] 1oo7 commented on #7977
Xcode 12.3, iOS 14.4.1, don't use CocoaPods.

We were using Carthage for Firebase for awhile, but then Google stopped releasing new binaries via Carthage. When Carthage 0.37.0 came out with the ability to build XCFrameworks, we transitioned all our dependencies to XCFrameworks. However Firebase can't be built from source, and while Carthage 0.37.0 can now build XCFrameworks, sadly its ability to f

[2021-04-30 03:31] yunyun453162 opened #8010 "GoogleUtilities crash"
i update my local cocoapods repos， and rebuild my project,  the crash happend when launch the app.

xcode : 12.4
device: ios 14.2.2  iphone 8

 GoogleUtilities  7.3.1
- Firebase/CoreOnly (7.11.0):
    - FirebaseCore (= 7.11.0)
  - Firebase/Crashlytics (7.11.0):
    - Firebase/CoreOnly
    - FirebaseCrashlytics (~> 7.11.0)
  - FirebaseCore (7.11.0):
    - FirebaseCoreDiagnostics (~> 7.4)
    - Goog

[2021-04-30 06:01] #8010 closed

[2021-04-30 07:21] anthonynevo commented on #4040
Hi @morganchen12, following the release of iOS 14.5 and now that the Firebase team has released a new version (7.11.0) dealing with AppTrackingTransparency (thus excluding AdSupport), do you know of any new plans regarding TagManager and its AdSupport dependency ?
Thank you.

[2021-04-30 08:32] jesus-verse opened #8011 "Dynamic links sometimes not working"
### Step 1: Describe your environment

Xcode version: 12.2
iOS version: 14.3
Firebase SDK version: 7.1
Installation method: CocoaPods
Firebase Component: Dynamic Links

### Step 2: Describe the problem

Sometimes when a user tap a Dynamic Link and the app is not installed on the device, the application:openURL:options method does not receive the dynamic link url. It seems this is happening for 30%

[2021-04-30 09:23] DimaiOS-coder commented on #7406
Only first start app I have url "com.my-project://google/link/?request_ip_version=IP%5FV4&match_message=No%20pre%2Dinstall%20link%20matched%20for%20this%20device%2E
" isForcedRedirectEnabled=true and isForcedRedirectEnabled=false don't help. iOS 14+. I understand this because of Apple's restrictions on collecting user information. If there are developers of the library, let me know if any work is

[2021-04-30 11:07] DimaiOS-coder commented on #7406
I create the url manually

[2021-04-30 11:28] MaxiJunkie opened #8012 "GoogleUtilities installed twice, impossible to archive app on Xcode 12.5"
Hello, everyone. I have updated Firebase libs from 7.0.1 to 7.11.0

 This is my Podfile:

<img width="496" alt="Снимок экрана 2021-04-30 в 14 18 52" src="https://user-images.githubusercontent.com/22434221/116688186-00129e80-a9bf-11eb-819b-09034d824e5d.png">

And I have a local pod with podspec (this pod is lowest pod in dependency hierarchy):

<img width="438" alt="Снимок экрана 2021-04-30 в 14 20

[2021-04-30 11:32] MaxiJunkie commented on #8012
If I will drop FirebasePerformance problem will go away, but I need FBPerformance

[2021-04-30 11:37] MaxiJunkie commented on #8012
There is another solution. I can drop all Firebase dependencies from Local pod and this make help me

[2021-04-30 13:10] rizafran commented on #8011
Hi @jesus-verse, have you tried debugging your dynamic link by appending the `d=1` parameter to your link? You may check this [page](https://firebase.google.com/docs/dynamic-links/debug) for reference on debugging dynamic links. Thanks.

[2021-04-30 14:20] paulb777 commented on #8012
@MaxiJunkie  Sorry about the trouble. This looks related to #6861. Please see the discussion there.

[2021-04-30 19:36] morganchen12 commented on #4040
I do not. If removing AdSupport from your app is a necessity, you should move off of Tag Manager.

[2021-05-01 13:09] github-actions[bot] opened #8022 "Nightly Testing Report"
# Nightly Testing Report
This issue([log](https://github.com/firebase/firebase-ios-sdk/actions/runs/802250734)) is generated at 05/01/2021 06:08 AM, fetching workflow runs triggered in the last 24 hrs.
| Workflow |04/30|
| -------- | -------- |
| [prerelease](https://github.com/firebase/firebase-ios-sdk/blob/master/.github/workflows/prerelease.yml) | [failure](https://github.com/firebase/firebase-

[2021-05-02 01:41] willbattel opened #8023 "Duplicate symbols when using new AnalyticsWithoutAdIdSupport subspec"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: Version 12.5 (12E262)
  * Firebase SDK version: 7.11.0
  * Installation method: CocoaPods
  * Firebase Component: Analytics

### [REQUIRED] Step 2: Describe the problem

#### Steps to reproduce:

After switching from the `Firebase/Analytics` pod to the new `Firebase/AnalyticsWithoutAdIdSupport` pod, my build fails due to "_527 du

[2021-05-02 07:50] anthonyliuhao commented on #7783
I had the same issue. If I do this, I get the same `Unauthenticated` error.
[code]

However, the following works.
[code]

I don't understand the source code, but it looks like `Functions.functions()` returns an instance of the `Functions` class, which is the client for interacting with Cloud Functions. Just my theory.

This is weird because you can configure Firebase Auth by calling `Auth.auth().u

[2021-05-03 01:03] #7879 closed

[2021-05-03 01:03] #7865 closed

[2021-05-03 05:22] AnkitaPundir commented on #7208
Any update?

[2021-05-03 06:48] batuhansk commented on #6472
This issue is still exist on Xcode 12.5 (12E262). I could not upload the binary to App Store without adding Post-actions script.

[2021-05-03 09:06] uncured opened #8024 "APMScheduler crash related to sqlite"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 2.4 (12D4e)
  * Firebase SDK version: 7.11.0
  * Installation method: `CocoaPods`
  * Firebase Component: `Analytics`

### [REQUIRED] Step 2: Describe the problem

#### Steps to reproduce:

Currently there are no clear way to reproduce the crash, but I found similar ones caused by the `nanopb` lib in the past, so maybe that is th

[2021-05-03 10:54] rizafran commented on #8024
Thanks for reporting @uncured. The issue you're encountering seems related to issue #7633.

[2021-05-03 11:12] uncured commented on #8024
@rizafran  Seems like the starting point matches, but I couldn't find any useful info on the thread of #7633 . Seems like the issues in that issue were caused by dispatching and mach ports. In my log, as far as I've got it, it's an allocation issue, which is similar to the issues with `nanopb` I've mentioned in the description. #4154 #4210

Let me know if I can provide any other details.

[2021-05-03 12:45] ryanwilson commented on #6472
Hi @testAVD and @batuhansk, sorry for the trouble you're facing.

Can you please try to reproduce this in a new project and let me know if you see the issue? If so, can you please confirm:

- You're using Xcode 12.5 (and if you have multiple Xcode versions installed, it's activated with `xcode-select`)
- Which Firebase products are you including?
- Are you using any non-Firebase products that are

[2021-05-03 12:52] batuhansk commented on #6472
Hi @ryanwilson,

- No, I do not have multiple Xcode versions. Only Xcode 12.5 (12E262).
- I use FirebaseAnalytics, FirebaseMessaging and FirebaseRemoteConfig products.
- Yes I do. I use [Realm](https://github.com/realm/realm-cocoa) as binary as well.

Thanks.

[2021-05-03 12:55] ryanwilson commented on #6472
Thanks for the confirmations. If you create a brand new project and only include FirebaseAnalytics, FirebaseMessaging, and FirebaseRemoteConfig do you see the same issue?

[2021-05-03 14:05] maksymmalyhin commented on #8023
@willbattel Sorry for the trouble. Could you please post content of your Podfile.lock file to help understand why both `GoogleAppMeasurement` and `GoogleAppMeasurementWithoutAdIdSupport` are installed in your app.

[2021-05-03 14:33] paulb777 commented on #8024
I don't believe that `nanov2` is related to `nanopb`. It looks like something in the system memory manager.

See https://developer.apple.com/forums/thread/116587

[2021-05-03 14:33] lotz commented on #8023
This seems to be related to https://github.com/firebase/firebase-ios-sdk/issues/7958. I would love a version of `Google-Mobile-Ads-SDK` like `Google-Mobile-Ads-SDK-Without-Ad-Id-Support`. I've posted [a feature request here](https://groups.google.com/u/0/g/google-admob-ads-sdk/c/dHjMnBxZtmw).

[2021-05-03 14:35] paulb777 commented on #8023
Yes - `Google-Mobile-Ads-SDK` is currently incompatible with `Firebase/AnalyticsWithoutAdIdSupport`. I'll close this in favor of #7958.

[2021-05-03 14:35] #8023 closed

[2021-05-03 14:42] uncured commented on #8024
@paulb777 Yep, my bad, misinterpret the meaning of `nano` in that case.
Anyway, the suggestion from Quinn on Apple forum to "run your app under the standard memory debugging tools" is not going to help in my case I believe as the crash happed in the Firebase `APMSqliteStore` class.
Any suggestions how can I help resolving that memory corruption?

[2021-05-03 14:47] paulb777 commented on #8024
I'd recommend searching the issues in the repo on `APMSqliteStore`.  One that comes to mind are issues related to including an sqlite implementation in the app that is incompatible with the system version.

[2021-05-03 18:11] rizafran commented on #7990
Hi @Busta117, may I know if you're getting any error when signing in / can you share the expected vs actual behavior of your use case? Thanks.

[2021-05-03 20:31] armcknight opened #8026 "Possible integer overflow and other minor code quality opportunities"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: N/A
  * Firebase SDK version: latest (instances present on `master` `HEAD` as of this filing)
  * Installation method: N/A
  * Firebase Component: Crashlytics

### [REQUIRED] Step 2: Describe the problem

As mentioned in https://github.com/firebase/firebase-ios-sdk/issues/7702, I found a few possible code quality issues. You can

[2021-05-04 09:13] rogerluan commented on #6477
Is there any way the community can help make support to SPM be released any faster? I'm sure there's a lot at stake here, and many people would be willing to help, myself included.
It's not just the lack of SPM, but also the lack of an arm64 distribution, which makes GoogleSignIn not available to be run on the simulator of M1 (Apple Silicon) machines:

[code]

I'm scared to imagine why recompiling

[2021-05-04 09:34] sipersso commented on #7958
@paulb777 I don't have the Ads SDK installed but get the same issue. Are there more incompatible pods?

My current firebase dependencies:

[code]

[2021-05-04 09:56] milobird commented on #8024
I'm seeing similar crashes after updating to Firebase 7.11.x, happening over 20 times a day for us but never the same user twice so probably a race condition. Our crash logs look like this:

`Thread 3 Crashed:
0   libsystem_platform.dylib        0x3bf2d220c         _os_unfair_lock_unowned_abort
1   libsystem_platform.dylib        0x3bf2d0260         _os_unfair_lock_unlock_slow
2   libsqlite3.dylib

[2021-05-04 13:11] mcezzare commented on #7736
Hi. Thanks for the update, a question is after update to this versions to :
  pod 'Firebase/Analytics', '7.9.0-k2'
  pod 'Firebase/Crashlytics', '7.9.0-k2'

Is it necessary change anything in the app privacy policy on apple store ?

[2021-05-04 13:20] callionica opened #8027 "page.link domain should be listed in the public suffix list"
I know this isn't iOS specific, but seems like a security issue, so...

It appears that your product/company owns the page.link domain. I believe you allow subdomains of page.link to be used by mutually-untrusting parties. As a result, you should ensure separation of cookies, storage, passwords saved in the browser, etc for separate subdomains. The way to do that is to list your domain in the publ

[2021-05-04 13:39] paulb777 commented on #7958
@sipersso There shouldn't be any other incompatible Pods. Please check the Podfile.lock to make sure all the Firebase versions are at least 7.11.0.  Otherwise, there may be some stale Xcode state.

[2021-05-04 13:56] revolter opened #8029 "The registerAppForAdNetworkAttribution methods is indirectly called even if GOOGLE_ANALYTICS_REGISTRATION_WITH_AD_NETWORK_ENABLED is set"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: `12.5 (12E262)`
  * Firebase SDK version: `7.10.0`
  * Installation method: `CocoaPods`
  * Firebase Component: ? (Auth, Core, Database, Firestore, Messaging, Storage, etc)

### [REQUIRED] Step 2: Describe the problem

The `+[SKAdNetwork registerAppForAdNetworkAttribution]` is called from a thread named `com.google.fira.worker` (

[2021-05-04 14:02] jesus-verse commented on #8011
I've tried to check with d=1 parameter and all seems fine.
I think the problem is related to some users don't receive the dynamic link. We are trying to find the reason why some users receive and some users don't receive the dynamic deeplink.

![Screenshot 2021-05-04 at 15 58 20](https://user-images.githubusercontent.com/52409139/117014917-901f5380-acf1-11eb-9b99-5ea1c596c664.png)

[2021-05-04 15:12] cybergen78 commented on #6997
Eventually, I got the time to create an MCVE. I could reproduce the issue with this example project but it's even worse. In StarSnoopy at least the user is still logged out from the share extension if he/she logs out in the app itself. In the example app this doesn't work neither. However, I can't figure out the difference - the relevant code and configuration is the same.

[FirebaseShareExtension

[2021-05-04 15:34] aryaxt commented on #7957
Thanks, I'll try the callback queue and report back

[2021-05-04 15:41] Sawmi commented on #7957
![Uploading เทรนด์.png…]()

[2021-05-04 16:43] ryanwilson commented on #7785
Going to close this now that it's merged into `master` - this will be fixed for Firebase 8.0.

Thanks for the report!

[2021-05-04 16:43] #7785 closed

[2021-05-04 17:04] mikehardy commented on #7736
@mcezzare I think the current best solution is not the `k2` variants but the new `7.11.0` release, and an include of `Firebase/AnalyticsWithoutAdIdSupport`

I'm not sure anyone can say exactly what Apple wants at any given time as it appears to fluctuate depending on reviewer's mood (personal opinion), and your app may have other reasons that it needs to implement ATT or privacy policy, but it is

[2021-05-05 01:03] #7926 closed

[2021-05-05 13:08] jestemnawakacjach commented on #7509
BUMP

[2021-05-05 13:48] paulb777 commented on #8022
Looks like a problem with the Functions quickstart and flakes

[2021-05-05 13:56] paulb777 commented on #8022
https://github.com/firebase/quickstart-ios/pull/1158 broke the Functions Swift build.

@morganchen12 PTAL, fix and add the Swift target to the quickstart CI.

[2021-05-05 14:19] rizafran commented on #8027
Hi @callionica, thanks for sharing your feedback. I've found similar request internally, but we can't share any details or timeline as to when this could be materialized. I'll keep this issue open and we will let you know of any updates regarding this. Thanks!

[2021-05-05 14:50] AnarionII commented on #7509
Hi everyone,

I would love as well to see a proper fix from Google, but in the mean time here is a workaround pretty straightforward. I add  GTM and his dependencies only in Release, I can do that because I have no Swift code that imports them. That way I can build for simulator in Debug on Apple Silicon.

[code]

[2021-05-05 15:41] gsakakihara commented on #8027
The page.link domain is used for Firebase Dynamic Links and doesn't host third party content and doesn't allow third parties to access anything like cookies, storage, or passwords so I don't think that this would apply.

[2021-05-05 15:41] #8027 closed

[2021-05-05 18:36] paulb777 commented on #7736
I'm going to close since 7.11.0 is intended to address this in the official release.

[2021-05-05 18:36] #7736 closed

[2021-05-06 00:23] paulb777 commented on #6564
@mikehardy Any more updates on this?  Perhaps it might be worthwhile to chat about binary distribution directions? Let me know.

[2021-05-06 07:42] kemalmuderrisoglu opened #8045 "Rejection from apple for App Tracking Transparency"
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: `Version 12.4 (12D4e)`
  * Firebase SDK version: `7.11.0`
  * Installation method: `CocoaPods ` (select one)
  * Firebase Component: `Auth, Core, Database, Messaging, Storage, Crashlytics, Analytics`

### [REQUIRED] Step 2: Describe the problem

We have a taxi app like Uber on the store. We published 2 weeks ago there was no reje

[2021-05-06 14:03] paulb777 commented on #8045
@kemalmuderrisoglu Sorry about the trouble and thanks for the report.  Please provide more detail about the errors when using `pod 'Firebase/AnalyticsWithoutAdIdSupport'` including the `Podfile` and `Podfile.lock`.

[2021-05-06 14:05] dsouksavatd commented on #7208
Hi guys,
I was face the same issues with google-signin and facebook-sdk on my M1 Macbook Pro

[2021-05-06 14:12] dsouksavatd commented on #7208
Hi guys,
I was face the same issues with google-signin and facebook-sdk on my M1 Macbook Pro
after spent couple days, finally I was found the solution for this (worked for me)

you have open your Xcode using Rosetta

to run Xcode using Rosetta, go to Applications-> (right click Xcode Application) -> Get Info -> check Open with using Resetta, completely quite Xcode and open it again and try to rebu

[2021-05-06 14:18] jc-paris commented on #7208
@paulb777 any updates from the GoogleSignIn team ?

[2021-05-06 14:47] ericagredo commented on #7208
@jc-paris I had to get rid of Google Sign In so I could use Xcode M1 :( . Honestly, given the lack of maintenance from the Google Sign In team it might be smart to get rid of a low reliability repo  ¯\_(ツ)_/¯ .

[2021-05-06 14:58] jc-paris commented on #7208
That's our last resort: Not linking GoogleSignIn.framework when building for iOS simulator.

[2021-05-06 15:38] ryanwilson commented on #8045
Based on Apple's message, it also sounds like you're specifying that you track users in App Store Connect but aren't using the new permissions dialogue. It's worth looking at the app privacy information you specified in App Store Connect to ensure it's what you expected and is accurate. You can see Firebase's data usage at https://firebase.google.com/docs/ios/app-store-data-collection.

[2021-05-07 00:17] elincoln opened #8047 "Crash: `[FIRCoreDiagnostics sendDiagnosticsData:]` leads to an "unrecognized selector sent to instance""
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: 12.5 (12E262)
  * Firebase SDK version: 7.11.0
  * Installation method: `Swift Package Manager`
  * Firebase Component: Crashlytics, Core

### [REQUIRED] Step 2: Describe the problem

#### Steps to reproduce:

Launch app in iOS 14.5 simulator
`[FIRCoreDiagnostics sendDiagnosticsData:]` leads to a crash:
[code]
#### Relevant Code:

[2021-05-07 00:47] paulb777 commented on #8047
@elincoln Sorry about the trouble and thanks for the detailed report and analysis.  We'll investigate.

[2021-05-07 01:03] #7947 closed

[2021-05-07 01:03] #7938 closed

[2021-05-07 01:09] khuffie commented on #7707
@chliangGoogle can you please acknowledge this issue, try to verify it internally and come up with a resolution?

[2021-05-07 02:32] chliangGoogle commented on #7707
@khuffie Can you confirm my question at https://github.com/firebase/firebase-ios-sdk/issues/7707#issuecomment-825922050?

[2021-05-07 07:58] MegaMaddin opened #8048 "auth: Support sign in for Facebook limited login mode"
### Feature proposal

* Firebase Component: Auth

Facebook recently added the ability to sign in using a limited data and tracking mode called [limited login](https://developers.facebook.com/blog/post/2021/01/19/facebook-login-updates-new-limited-data-mode/). The benefit of that is that you are able to tell Facebook in advance to not track the user and that the data you can get out of Facebook is

[2021-05-07 13:04] ThePragmaticArt commented on #6663
@paulb777 noting that I'll likely have someone reach out on their support channels, has there been any known movement on this front. It's been quite some time and there's a bit of a cultural knowledge that the GA team doesn't necessarily iterate in much of a prioritized fashion for GA on iOS (which has to be a large customer base right?). It's just a bit confusing on how these products are so heav

[2021-05-07 14:26] maksymmalyhin commented on #8047
Here are our finding so far:
- in GoogleUtilities version 7.4.0 a mutable copy of the stored dictionary is made before modifying it (see [here](https://github.com/google/GoogleUtilities/blob/66f5945ac3a4c4ac268bf94c31f226116b14e327/GoogleUtilities/Environment/GULHeartbeatDateStorage.m#L118))
- GoogleUtilities version 7.4.0 stores `NSDictionary` to the file in contrast to previous versions storing

[2021-05-07 15:07] maksymmalyhin commented on #8047
I could reproduce the crash on my end with the described steps.

[2021-05-07 15:44] alelordelo opened #8051 "Apple Silicon M1 : GoogleUtilities/AppDelegateSwizzler App Delegate does not conform to UIApplicationDelegate protocol."
### [REQUIRED] Step 1: Describe your environment

  * Xcode version: Version 12.5 (12E262)
  * Firebase SDK version: 7.9.1
  * Installation method: Swift Package Manager
  * Firebase Component: Auth, Core, Database, Firestore, Messaging, Storage

### [REQUIRED] Step 2: Describe the problem

App crashes when build on macOS M1 apple silicon:
GoogleUtilities/AppDelegateSwizzler App Delegate does not

[2021-05-07 16:00] maksymmalyhin commented on #8051
It looks like a duplicate of #8047. Closing it so far. Feel free to reopen it with more details if you think it is a separate issue.

[2021-05-07 16:00] #8051 closed

[2021-05-07 16:34] alelordelo commented on #8051
@maksymmalyhin , are you sure it’s a duplicate? It’s doesn’t mention apple M1 or app delegate

[2021-05-07 17:33] paulb777 commented on #8051
@alelordelo The crash backtrace matches.

[2021-05-07 17:39] ncooke3 commented on #8047
We are working on a patch fix and will update this thread accordingly.

[2021-05-07 17:46] htcgh commented on #8029
Thank you @revolter for reporting this issue and bringing it to our attention. I've sent feedback to Apple via Feedback Assistant suggesting that they document the behavior of `-[ADClient requestAttributionDetailsWithBlock:]` calling `+[SKAdNetwork registerAppForAdNetworkAttribution]`. However, it might be low priority for them since `ADClient` has been marked as deprecated in iOS 14.5. Closing th

[2021-05-07 17:46] #8029 closed

[2021-05-07 18:09] khuffie commented on #7707
@chliangGoogle  - We use push notifications deeplink our users to specific screens in the app. Our deep link functionality works 100%, whether the open event is tracked or not.

to I confirmed with our development team that the deep link handling in our app starts with the swift equivalent of that method, so that method is getting triggered reliably.

[2021-05-07 18:15] KevinLaRosa commented on #8047
First of all, thanks for your investigation, you’ve helped me a lot to get a hint to my issue, It seems we have wrongly updated our SPM version of firebase when we fixed the exact version to `7.4.0` after a previous release in `up to next major 7.4.0` in the last release of our APP, I'm investigating to reproduce the issue.

[2021-05-07 18:50] elincoln commented on #8047
@maksymmalyhin Xcode SPM did indeed have GoogleUtilities version 7.3.0, and deleting and reinstalling clean did resolve the issue.
Then I did a right-click "Update package" in Xcode and it pulled down 7.4.0.

I do toggle between two clones of the same repo, so I guess this is caused from a stale SPM cache for one of the repos?

I have no idea why SPM didn't automatically update to 7.4.0... Firebas

[2021-05-07 19:23] maksymmalyhin commented on #8047
@elincoln A couple notes that may be helpful:
- once dependencies have been resolved SPM doesn't update package versions unless explicitly asked (in command line, "Update package" action or "File" ->"Swift Packages->Update to Latest Package Versions " menu, etc.)
- The installed package versions are specified in `Package.resolved` file
- SPM should be able pick up any version tag even if it is not

[2021-05-07 21:57] paulb777 opened #8052 "Use buildcache to speed up CI"
See https://github.com/marketplace/actions/buildcache-action and https://twitter.com/fastsquatch/status/1390465013983367176

There is potentially a 40-50% speedup opportunity

[2021-05-09 20:30] anabeatrizzz commented on #7803
@louicoder delete Pods folder or delete Podfile file?

[2021-05-10 01:03] #7798 closed

[2021-05-10 04:04] louicoder commented on #7803
@anabeatrizzz , never delete the Podfile. But you can always delete Podfile.lock and Pods folders. In your case delete both the Pods folder and Podfile.lock