[2018-05-15 13:38] paulb777 commented on #1267
@jlaws Is it still an unrecognizable selector crash? Are you able to reproduce in an example you can share?

[2018-05-15 14:02] TKBurner commented on #9
You are all in great hands with @paulb777, we had a chance to meet and are trying to see what we can as far as Crashlytics.

[2018-05-15 14:10] jlaws commented on #1267
Yes it is the same unrecognizable selector crash.  Will try and get an example setup to share if we can't resolve it today.

[2018-05-15 15:02] jlaws commented on #1267
Looks like others are running into the same issue with the GoogleSignIn library and they aren't using Firebase

https://github.com/googlesamples/google-services/issues/102

[2018-05-15 15:14] jlaws commented on #1267
Adding the deprecated [Google pod](https://cocoapods.org/pods/Google) fixes it for some weird reason, but adds back the linker errors.  Others have been seeing the issue since 2015 so it is definitely not new.  Will keep posting updates here until we find a better solution.

[2018-05-15 16:01] paulb777 commented on #1267
Interesting. It looks like some of the remarks at https://github.com/googlesamples/google-services/issues/102  are related to missing `-ObjC` which would definitely cause the category not to be linked.  I'm not sure why linking in the deprecated pod would make any difference on finding other symbols.

Does adding `-all_load` to `OTHER_LDFLAGS` make any difference?

[2018-05-15 18:12] morganchen12 commented on #888
Closing since this has staled and has no new reports.

[2018-05-15 18:12] #888 closed

[2018-05-15 18:13] morganchen12 commented on #940
@mariohahn please re-open this if it's still an issue.

[2018-05-15 18:13] #940 closed

[2018-05-15 18:19] wilhuff commented on #485
This was initially fixed in https://github.com/firebase/firebase-ios-sdk/pull/872 (released in v0.10.4) and tuned in https://github.com/firebase/firebase-ios-sdk/pull/978 (released in v0.11.0).

[2018-05-15 18:19] #485 closed

[2018-05-16 14:12] paulb777 opened #1283 "FirebaseMessaging fails to build sqlite3.h header import"
When the `pod 'YapDatabase/SQLCipher', '3.0.2'` is added to the Podfile, FirebaseMessaging fails to build:

[code]

A workaround is to change to `#import <sqlite3.h>`

System headers probably should have brackets, but why does it stop getting found when another pod that includes the header, that shouldn't be referenced in the FirebaseMessaging pod, is added?

Reported on [stackoverflow](https://st

[2018-05-16 15:33] wilhuff commented on #1283
SQLCipher ships its own copy of `sqlite3.h` and publishes it as a public header.

It seems likely that after adding SQLCipher when Xcode builds the header map it now knows that the `sqlite3.h` header is part of that framework but sees you're not actually dependent on that framework so it treats that file as not found instead of falling back on the system version.

If I add this to the `FirebaseMes

[2018-05-16 16:07] crnjan commented on #990
Tried to build the project on the build server directly using XCode (archive, export, sign with enterprise cert) to rule out the signing and crash cannot be reproduced. Seems like issue is related to fastlane build, still not sure why, just wanted to share.

[2018-05-16 18:00] iwheelbuy commented on #1283
But why 2.2.0 worked with SQLCipher? No SQLite in previous FirebaseMessaging version?

[2018-05-16 18:14] morganchen12 commented on #1266
Since this is a gRPC issue, the fix will be rolled out in a release of gRPC. It won't be tied to the Firebase release cycle.

[2018-05-17 04:06] v-anh opened #1287 "the error module 'FirebaseFirestore' not found" when run "pod install""
* Xcode version: 9.4
  * Firebase SDK version: 5.0
  * Firebase Component: Firestore
  * Component version: 0.12.1

Pod file contains:
pod 'Firebase/Firestore'

I receive the error module 'FirebaseFirestore' not found" when I add plugins cordova-plugin-firestore to the project.
Also, when I run "pod install", I don't see FirebaseFirestore.framework file in ./Pods/FirebaseFirestore/...

[2018-05-17 10:08] crnjan commented on #990
OK, just found the reason why it was crashing, hope it might help someone - in fastlane, we had:

`gym( ... xcargs: "GCC_PREPROCESSOR_DEFINITIONS='SOMEFLAG=1'",  ....)`

which removed all other defines, so replacing it with:

`gym( ... xcargs: "GCC_PREPROCESSOR_DEFINITIONS='$(inherited) SOMEFLAG=1'",  ....)`

fixed the crash.

[2018-05-17 11:01] kaannesinn opened #1288 "Crash on FIRAnalytics, FIRAScheduler, FIRAIdentity and FIRASqliteStore classes"
Hi,
In our ios [application](https://itunes.apple.com/us/app/translate-assistant/id1348751689?mt=8), we use Firebase for event logging and show native and interstitial ad banners with Google-Mobile-Ads-SDK. After adding Firebase and GAD libraries and updating our app on AppStore, these crashes are occured;
http://crashes.to/s/5fc50f389c7 -> FIRAnalytics
http://crashes.to/s/47b922a704a -> FIRASched

[2018-05-17 13:56] paulb777 commented on #1287
@v-anh We'll likely need more information to reproduce. Adding `pod 'Firebase/Firestore'` to a Podfile works fine for me.  Are you able to share the full Podfile?  If the issue is Cordova related, it may be helpful to report the issue in that community.

[2018-05-17 15:12] baolocdo commented on #1288
Would you mind updating to the latest SDK at 5.0.0 and let us know whether you still see similar crashes?

[2018-05-17 15:17] baolocdo commented on #1288
tracked internally at b/79920348

[2018-05-17 15:18] baolocdo commented on #1260
Tracked internally at b/79920348

[2018-05-17 19:22] MattTimmons opened #1291 "macOS Email Link Authentication"
* Xcode version: 9.3.1
  * Firebase SDK version: 5.0
  * Firebase Component: Auth

Hello! I have been working with the v5.0 SDK in macOS in trying to get email link authentication to work. I do know that the DynamicLink SDK does not appear to be available in macOS. That's fine.

I have everything functional properly...except the fact that the firebase backend is seeing this as "desktop" behavior.

[2018-05-17 22:19] salqadri commented on #1110
@seejayuu, what is the reason you wanted to use -all_load?

[2018-05-17 22:34] kaannesinn commented on #1288
Yes of course, because of we were using previous versions on AppStore version of our app, we have updated all sdks and updated our app also. I have sent to Apple this evening, waiting the review process. After that and distributing some days, I will look for them and turn to you the cases.

Are these bugs known ones on your previous sdks or new issues that you dont know or experience?

Thanks

Ale

[2018-05-18 02:19] v-anh commented on #1287
Thanks to you for supporting me.
This is full Podfile:
platform :ios, '8.0'
target 'My-App' do
	project 'My-App.xcodeproj'
	pod 'Firebase'
	pod 'Firebase/Core'
	pod 'Firebase/Firestore'
end

Full Podfile.lock:

`PODS:
  - BoringSSL (10.0.2):
    - BoringSSL/Implementation (= 10.0.2)
    - BoringSSL/Interface (= 10.0.2)
  - BoringSSL/Implementation (10.0.2):
    - BoringSSL/Interface (= 10.0.2)
  -

[2018-05-18 03:51] paulb777 commented on #1287
tl;dr
Change to `@import Firebase`;

I suspect that your Podfile does not include `use_frameworks!`.   Therefore, CocoaPods would not create a FirebaseFirestore module now that with the Firebase 5.0.0 release, FirebaseFirestore is a source pod.

The recommended way to import Firebase modules is with `@import Firebase`. If you do that, instead of `@import FirebaseFirestore`, the import will work wi

[2018-05-18 09:31] v-anh commented on #1287
@paulb777  Thank you so much. I fixed the error module 'FirebaseFirestore' not found". But I receive the new error about "FIRQueryListenOptions" type. I think maybe "cordova-plugin-firestore" has the old code for the Firebase 5.0.0 release. What do you think about this?
![screen shot 2018-05-18 at 4 23 35 pm](https://user-images.githubusercontent.com/5137045/40227492-e4d50930-5ab8-11e8-88e0-23759e

[2018-05-18 13:55] wilhuff commented on #1287
The 5.0.0 release did indeed make those changes: https://firebase.google.com/support/release-notes/ios

[2018-05-18 14:08] pot8os opened #1293 "ThreadSanitizer detects data race when initializing FirebaseApp instance"
* Xcode version: 9.3.1
  * Firebase SDK version: 5.0.1
  * Firebase Component: Probably `Analytics` has an issue, I guess.

Hello,

After I upgraded Firebase components to 5.0.1 from 4.13.0, my app stops and the thread sanitizer shows the following stack trace while I'm running on the Xcode.
[code]
I'm sure it doesn't exist when I use 4.13.0.

#### Steps to reproduce:

In my `AppDelegate.swift`, i

[2018-05-18 17:31] davidair commented on #1293
I think adding the no_sanitize attribute is a reasonable approach

[2018-05-18 20:35] alfonsodev commented on #126
I see [CocoaPods/CocoaPods#6811](https://github.com/CocoaPods/CocoaPods/pull/6811) was merged, is there a way now to use Analytics on *macos* ?
What should be added to the Podfile ?
This my current Podfile
[code]
Thanks

[2018-05-18 22:29] jlaws commented on #1267
-all_load doesn't help, and I also have no idea why adding the Google pod makes a difference.  My theory is that it contains more categories that cause the linker to behave in a new way that avoids whatever the underlying bug/issue is.

It would be great if GoogleSignIn was open source so we could just manually remove the category usage to avoid the crash.  That being said, are there any plans to

[2018-05-18 23:32] dmandar commented on #926
This looks like the short link fails to redirect correctly on android. Following up with the team. Are links created in the console working for you across all platforms?

[2018-05-19 00:45] dmandar commented on #1244
Can you confirm if your links are using the app preview page?

[2018-05-19 01:35] pot8os commented on #1293
@wilhuff Thanks for your explanations. Unfortunately, it didn't work the workaround you suggested. And I'm not sure how I find out what it's wrong.
It'd be helpful if you could try to see if it works in your environment when you have time.

What I did:

- Add `blacklist.txt`
<img width="210" alt="2018-05-19 10 29 19" src="https://user-images.githubusercontent.com/5249113/40263596-ac5ef8c6-5b4f-11e

[2018-05-20 12:44] bradmill commented on #196
I can confirm Xcode 9.3 with the following pods , still has the issue when archiving project , any news on this ?

 - Firebase/AdMob (5.0.1):
    - Firebase/Core
    - Google-Mobile-Ads-SDK (= 7.30.0)
  - Firebase/Core (5.0.1):
    - Firebase/CoreOnly
    - FirebaseAnalytics (= 5.0.0)
  - Firebase/CoreOnly (5.0.1):
    - FirebaseCore (= 5.0.1)
  - FirebaseAnalytics (5.0.0):
    - FirebaseCore (~>

[2018-05-21 02:55] v-anh commented on #1287
@paulb777 @wilhuff Thank you so much.

[2018-05-21 02:55] #1287 closed

[2018-05-21 06:21] shiwanjun opened #1297 "timestamps stored in Cloud Firestore"
The behavior for system Date objects stored in Firestore is going to change AND YOUR APP MAY BREAK.
To hide this warning and ensure your app does not break, you need to add the following code to your app before calling any other Cloud Firestore methods:

let db = Firestore.firestore()
let settings = db.settings
settings.areTimestampsInSnapshotsEnabled = true
db.settings = settings

With this chang

[2018-05-21 09:50] shiwanjun commented on #1060
请问最后是怎么解决问题的呢？

[2018-05-21 10:43] moontecholabs opened #1298 "-[FIRMessagingRemoteNotificationsProxy originalImplementationForSelector:]"
Gettign crash

[code]

[2018-05-21 10:49] moontecholabs opened #1299 "Crash in -[FIRASqliteStore endTransaction]"
0 | libsystem_kernel.dylib | fsync + 8
-- | -- | --
1 | libsqlite3.dylib | (null) + 59100
2 | libsqlite3.dylib | (null) + 2236
3 | libsqlite3.dylib | (null) + 56892
4 | libsqlite3.dylib | (null) + 21904
5 | libsqlite3.dylib | (null) + 3472
6 | libsqlite3.dylib | (null) + 61016
7 | libsqlite3.dylib | sqlite3_step + 2708
8 | libsqlite3.dylib | sqlite3_exec + 536
9 | | -[FIRASqliteStore endTransactio

[2018-05-21 15:12] shiwanjun opened #1300 "FIRFirestoreErrorDomain"
我在中国使用firestore服务(iOS),但是每次请求时，都会出现FSTWriteStream 0x608000301b90 close: Error Domain=FIRFirestoreErrorDomain Code=13 "(null)" 错误，我想知道我该怎么处理和解决相关的问题，谢谢

[2018-05-21 15:40] mikegilroy commented on #1045
I am experiencing the exact same issue that @joerozek has reported but on a newer version of the SDK/Firestore. Steps to reproduce are identical.

- Xcode version: 9.3
- Firebase SDK version: 5.0
- Firebase Component: Firestore
- Component version: 0.12.1

[2018-05-21 16:55] wilhuff commented on #1300
Google Translate said this was what you said:

As far as we know, Firestore will not work in China, because our hostname `"firestore.googleapis.com"` is blocked. See more here:

https://stackoverflow.com/questions/42605566/can-firebase-be-used-as-a-realtime-database-in-china-now/42620514

There's nothing we can do about this, sorry.

[2018-05-21 16:55] #1300 closed

[2018-05-21 17:10] wilhuff commented on #1297
This issue does not appear to ask a question or report unexpected behavior. You're seeing this log message on startup for the reasons explained in the message.

If you have a question about this, please follow up here.

[2018-05-21 17:10] #1297 closed

[2018-05-21 17:36] morganchen12 commented on #1298
This is a crash in a code that shouldn't ever crash. Can you reproduce this issue?

[2018-05-21 17:58] portellaa opened #1302 "Assert DownloadTask enqueueWithData not on main thread"
* Xcode version: 9.3.1
  * Firebase SDK version: 5.0.1
  * Firebase Component: Storage
  * Component version: 3.0.0

#### Steps to reproduce:

Before Firebase SDK 5.0 and Storage 3.0 we use to download data from Storage in a background thread, or at least we assume so, because we configure the `callbackQueue` property with queue create by us with `.background` QoS.

This is my code to configure th

[2018-05-22 01:32] shiwanjun commented on #1300
目前我们使用ShadowsocksX 也不能使用firestore吗？因为我们使用的用户群体是非中国用户。是不是有什么其他方法，可以链接到firestore

[2018-05-22 01:36] shiwanjun commented on #1300
![image](https://user-images.githubusercontent.com/3345618/40337695-960acfa4-5da3-11e8-9699-2fcfee4fe0b4.png)

[2018-05-22 01:38] ryanwilson opened #1306 "Lazily register for Core's `firebaseUserAgent`"
Currently we register in `FIROptions` under `+initialize` (changed from `+load` in #1305).
https://github.com/firebase/firebase-ios-sdk/blob/11933c038df81f57c0e7d15f5a8795b74e874843/Firebase/Core/FIROptions.m#L118

This could be optimized to lazily register in a `dispatch_once` block once `firebaseUserAgent` is called.

[2018-05-22 02:20] ryanwilson commented on #126
@alfonsodev Unfortunately Firebase Analytics does not support macOS.

[2018-05-22 10:35] sadra opened #1307 "FCM not work when app is on foreground"
## Environment
* Xcode version: Version 9.0 (9A235)
  * Firebase SDK version: 4.8.2
  * Firebase Component: FirebaseAnalytics (4.0.9), FirebaseCore (4.0.14), FirebaseInstanceID (2.0.8), FirebaseMessaging (2.0.8)
  * Device: iPhone 6S
  * OS: iOS 11.3.1

## Problem
I've got a problem in my app. I use FCM on iOS device.
When my device is connected to XCode, everything is ok.
But when I disconnect th

[2018-05-22 17:08] Rovel opened #1309 "Update Firebase Pods break Boring SSL and generate build error"
My Xcode app can't build anymore after a pod update Firebase to get the latest
Swift 4
Xcode: Version 9.3.1 (9E501)

**Error:**
<img width="1440" alt="screen shot 2018-05-22 at 14 02 42" src="https://user-images.githubusercontent.com/2469500/40378080-e5f6052c-5dc8-11e8-9a88-1f8ffcdfbcec.png">

**Efforts to solve**
- [x] Clean project - no result
- [x] Update pods again - no result
- [x] Edit/Force

[2018-05-22 17:45] morganchen12 commented on #1300
Shadowsocks 和 Firestore 应该不会有冲突，您目前的问题可能是 Shadowsocks 配置的问题。

[2018-05-22 17:52] morganchen12 commented on #1307
What notification payload are you sending?

[2018-05-22 20:37] richardliveraise commented on #1244
@dmandar yes, we're skipping the app preview page. But this works prior to iOS 11.3.1

[2018-05-22 20:57] sadra commented on #1307
Umm, this is my payload:

[code]

I should say it again, there is no problem when the device is connected to Xcode! as time as I disconnect my iPhone from Xcode, there is no message receiving on foreground!

[2018-05-22 22:27] morganchen12 commented on #1307
Looks like you're sending an invalid payload. Try removing the `content_available` flag.

[2018-05-22 22:32] wilhuff commented on #1309
I haven't been able to reproduce this yet, though I'm on Xcode 9.3.

What's the location of the other declaration of that function?

[2018-05-23 01:03] Rovel commented on #1309
no, just a standard xcode single page app, in a brand new project it wont happen. I don't have nothing special on this project that builds the error, is there a chance that In app purchase or other https calls that maybe use open ssl is conflicting with boring ssl?

[2018-05-23 01:03] #1309 closed

[2018-05-23 01:42] rob-keepsafe commented on #196
We've run into this recently as well. It unfortunately kills any hope of noiseless CI reporting since it logs about 400 warnings during linking.

We'd appreciate an update on when this can be realistically silenced. Thanks 🙏

[2018-05-23 02:41] Lingyj opened #1317 "Some crashes with firebase sdk"
I got some crashes with firebase sdk recently, here are some infomations. How to fix that?

the crashes list:
![375e26ad-55cf-4bc7-924d-bf84b974e386](https://user-images.githubusercontent.com/3283295/40400669-c5ad75ae-5e75-11e8-915e-f2fd97b8dfcd.png)
![b6532a3f-c3f0-4643-8993-8f67c2b0a067](https://user-images.githubusercontent.com/3283295/40400672-c83654bc-5e75-11e8-8f99-08474c9dfda9.png)
![73b263

[2018-05-23 06:27] sadra commented on #1307
OK, my problem solved, but there is another problem:
When app is in background, If received a notification, the method not called:
[code]
until the user clicks on the notification from the screen.
how to can I call this method (in the background) whenever message received?

[2018-05-23 07:05] sadra commented on #1307
the same problem mentioned here too:
[didReceiveRemoteNotification not working when notifications received in the background](https://stackoverflow.com/a/38995621)

[2018-05-23 12:55] lonelydatum commented on #413
I'm experiencing the same thing. It takes 3 seconds to get the data. Please improve the speed.

[2018-05-23 13:54] davidair commented on #196
The team is currently looking into this - we will ping this thread once we have more information.

[2018-05-23 14:16] dsanghan commented on #1261
@paulb777 Don't see the issue after updating to 5.0.0. Still monitoring. I'll close it if I don't see it in the next few days. Thanks!

[2018-05-23 14:18] jbb1003 opened #1319 "FIRUser decode of dates is incorrect."
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 9.3.1
  * Firebase SDK version: 4.33.0
  * Firebase Component: Auth
  * Component version: 5.0.0

### [REQUIRED] Step 3: Describe the problem

The date fields of ID tokens are incorrectly decoded in current epoch.
See  [FIRUser parseIDToken:error:]
[code]
They should be decoded in UNIX epoch - see  https://firebase.google.com/doc

[2018-05-23 16:40] morganchen12 commented on #1317
For each stack trace posted, can you expand the full stack trace to show the hidden symbols (click on the triangle icons on the left side of the stack trace)?

[2018-05-23 16:42] morganchen12 commented on #1307
If you want to wake your app in the background with a notification, you'll need to enable background modes and send silent notifications. These aren't displayable notifications and are much less reliable than regular push notifications, since the system will throttle them.

To do so, send a notification payload without the `notification` object and add the `content_available` flag back in.

Closin

[2018-05-23 16:42] #1307 closed

[2018-05-23 21:56] baolocdo commented on #1317
Do you know which iOS versions caused the crashes?

[2018-05-24 03:28] Lingyj commented on #1317
11.3.1 (15E302) iPhone 7
11.2.5 (15D60) iPhone 7 Plus
11.3.1 (15E302) 7 Plus

![f8426044-a10f-4eec-adf4-af98aa8692ce](https://user-images.githubusercontent.com/3283295/40463070-995b4618-5f45-11e8-9960-0dbe75c525eb.png)
![7c80cdeb-d89a-43ac-9157-07f14c0dae87](https://user-images.githubusercontent.com/3283295/40463072-9b269772-5f45-11e8-80f0-6bf7848297f0.png)

[2018-05-24 03:32] Lingyj commented on #1317
11.2.1 (15C153) iPhone 7
11.3.1 (15E302) iPhone X
11.3.1 (15E302) iPhone 6

![c4f25d40-bf20-4e01-960a-cd124408c4f5](https://user-images.githubusercontent.com/3283295/40463146-10b224fc-5f46-11e8-933a-2a433f663363.png)
![eabb4e5c-df9f-4f58-b7a5-6be5414cf575](https://user-images.githubusercontent.com/3283295/40463150-132c0f0e-5f46-11e8-8ef2-92b10bc0eb03.png)

[2018-05-24 03:35] Lingyj commented on #1317
11.2.5 (15D60) iPhone 7 Plus
11.3.0 (15E216) iPhone 7

![d2905d18-2092-434b-8800-5c88068afd8b](https://user-images.githubusercontent.com/3283295/40463210-846de7a0-5f46-11e8-9da3-ab17c25e8fa1.png)

[2018-05-24 03:39] Lingyj commented on #1317
11.2.5 (15D60) iPhone 7 Plus

![d336d3d5-d576-4d06-9255-e4de952a36e3](https://user-images.githubusercontent.com/3283295/40463281-0308d9b2-5f47-11e8-84f1-14386647bb59.png)
![8a8d43f0-bc40-4f25-a7ed-8a56e063b4d0](https://user-images.githubusercontent.com/3283295/40463284-0567c790-5f47-11e8-9fa2-e127d91ed700.png)

[2018-05-24 03:42] Lingyj commented on #1317
11.2.5 (15D60) iPhone 7 Plus

![53ebd5ff-81bc-44c2-a8bc-8d85a679ae9e](https://user-images.githubusercontent.com/3283295/40463365-73425a50-5f47-11e8-8071-e5e80d87d9ca.png)
![c4e9ad44-fc90-4a8b-afa4-9ca90e80ff70](https://user-images.githubusercontent.com/3283295/40463367-7455f4a6-5f47-11e8-851a-043842bc5b18.png)

[2018-05-24 08:10] inna4209 opened #1330 "crashes in FIRAPersistedConfig"
Hello

### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 9.3
  * Firebase SDK version: 4.9.0
  * Firebase Component: FirebaseAnalytics

### [REQUIRED] Step 3: Describe the problem

I have reports from Crashlytics and from Apple, that my application has crashes in FIRAPersistedConfig. This happens on iOS 11.3 - 11.4 when app in background. I am not able reproduce this bug.

####

[2018-05-24 10:10] andygeers opened #1331 "linkAndRetrieveDataWithCredential: doesn't correctly handle linking an anonymous account with emailed-link authentication"
### Environment

  * Xcode version: 9.3.1
  * Firebase SDK version: 4.13.0 (but can see the same code in v5)
  * Firebase Component: Auth
  * Component version: 4.6.1

### Problem

If you create an anonymous user and then call `linkAndRetrieveDataWithCredential:` to link it with an emailed-link credential, it doesn't correctly set `_anonymous = NO` - because `updateEmail:password:callback:` is cal

[2018-05-24 16:11] nadimalam commented on #1266
How comes its been so many days and this still hasn't been fixed? Does anyone know if a fix is being worked on for the Pods? I can fix this in a local copy fine, but as @Julianvantveld said this is a huge issue for CI.

[2018-05-24 16:58] morganchen12 commented on #1330
Can you try upgrading to Firebase 5+?

[2018-05-24 17:02] morganchen12 commented on #1317
The crashes here are all in methods that shouldn't crash (like `+[NSDate date]`) or in `retain`/`release`. They may not be issues related to Firebase, and we likely won't be able to debug them without repro.

[2018-05-25 01:22] ryanwilson opened #1335 "InstanceID reads from Messaging before +configure is called"
This prevents the future automatic data collection flag from being read properly, leading to a false value. InstanceID should wait for a proper response from Core.

[2018-05-25 08:05] shiwanjun commented on #1300
那我怎么配置Shadowsocks才能链接上去呢？

[2018-05-25 15:21] wilhuff commented on #1300
Unfortunately, we cannot help you with this kind of problem here because we cannot help anyone circumvent a government-imposed network block.

[2018-05-27 02:00] deguilardi commented on #1052
This is not fixed.
I am still getting this error using the following versions:
    pod 'Firebase/Core', '~> 4.13.0'
    pod 'Firebase/AdMob', '~> 4.13.0'
Xcode: 9.3.1

the stacktrace:

0 | libswiftCore.dylib | swift_getObjectType + 60
-- | -- | --
1 | Eu Sei | MyDelegate.swift line 0@objc MyDelegate.application(UIApplication, open : URL, sourceApplication : String?, annotation : Any) -> Bool
2 | E

[2018-05-27 18:33] mrpuzzler commented on #1299
got same bug, don't know how to reproduce

[2018-05-28 05:46] OkumuraShintarou opened #1339 "Firebase's Deletegate didReceiveRegistrationToken is not called and token is nil"
## Envroment
- Xcode Version: 9.3.1
- FirebaseSDK version: 4.9.0
- Firebase Component: Messaging
- Component Version: 2.1.0

## problem
In-house I am implementing Firebase's fcmToken and sending a push notification.
But firebase 's  fcmToken can not be acquired at all, and delegate has never been called.
I investigated it with the same verison as this is a firebase bug or my own project is wrong.

[2018-05-28 06:51] shiwanjun commented on #1300
好的，谢谢

[2018-05-28 07:00] vcGF opened #1340 "currentUser not returning nil after deleting the app"
* Xcode version: 9
  * Firebase SDK version: 5
  * Firebase Component: Auth
  * Component version: ??

#### Steps to reproduce:

- log in using fb
- delete the app from simulator
- try to check for existing user

Issue : After deleting the app, the currentUser returned is not nil, hence giving the impression that the user is still logged in.

I tried to check with

                if let error = e

[2018-05-28 08:53] mpaulsonco opened #1341 "Firestore Fatal Exception: [FSTImmutableSortedDictionary documentDictionary]: unrecognized selector sent to class"
#### Enviornment
  * Xcode version: 9.3
  * Firebase SDK version: 5.0.1 (Carthage)
  * Firebase Component: Firestore
  * Component version: 5.0.1

#### Steps to reproduce:

1. Try a basic query of a collection (see Relevant Code):

After calling `getDocuments`, the app will experience a fatal exception.

#### Console Output:

[code]

#### Relevant Code:
[code]

[2018-05-28 08:59] mpaulsonco opened #1342 "Latest release is not available through Carthage"
#### Enviornment
  * Xcode version: Not Applicable
  * Firebase SDK version: 5.1.0
  * Firebase Component: Any
  * Component version: 5.1.0

#### Steps to reproduce:

1. Attempt to install Firebase 5.1.0 from Carthage

The latest version available from `https://dl.google.com/dl/firebase/ios/carthage/*.json` is `5.0.1` *however* Firebase `5.1.0` [has been released](https://github.com/firebase/fireb

[2018-05-28 09:03] dsanghan commented on #1261
@paulb777: Unfortunately, it's happening on Core 5.0.1, with Auth 5.0.0.

[code]

[2018-05-28 10:16] vcGF commented on #1340
Do we really need to rely on such tricks ?

[https://stackoverflow.com/questions/4747404/delete-keychain-items-when-an-app-is-uninstalled](url)

[2018-05-28 13:11] dsb92 commented on #926
@dmandar Nope, unfortunately it does not work from console either.

[2018-05-28 14:19] moontecholabs commented on #1298
We are not facing this crash again, please find attached crash logs files, if help more to rectify crash

[crash logs.txt](https://github.com/firebase/firebase-ios-sdk/files/2045344/crash.logs.txt)

[2018-05-28 14:22] moontecholabs commented on #1299
Yes, using C++ SDK

[2018-05-28 20:34] ryanwilson commented on #1052
@deguilardi did you take a look at @LaurentLK'x fix [here](#issuecomment-381177458)?

Also, please note that Firebase is currently on version `5.0.1`. If you are able to reproduce there, please let me know and I'll take a look.

[2018-05-29 03:29] deguilardi commented on #1052
@ryanwilson I need the parameters sourceApplication and annotation. The proposed solution requires not using these parameters.

I am currently using the version 4.13.0. The changelog doesn't point to any fix related to this issue.
Changelog link: https://firebase.google.com/support/release-notes/ios

[2018-05-29 07:40] LaurentLK commented on #1052
@deguilardi As mentioned previously this issue is not related to Firebase at all.

You need to replace:

`func application(_ application: UIApplication, open url: URL, sourceApplication: String?, annotation: Any) -> Bool`

By:

`func application(_ app: UIApplication, open url: URL, options: [UIApplicationOpenURLOptionsKey : Any] = [:]) -> Bool`

If you need source and annotation you just need to g

[2018-05-29 11:26] AlexPartyPlay opened #1345 "FirebaseAnalytics framework not available"
**Xcode version:** 9.3.1
**Firebase SDK version:** using CocoaPods -> FirebaseCore, FirebaseAuth, FirebaseDatabase, FirebaseMessaging, FirebaseStorage all of them version 5.0.0
**Swift version (Podfile and target):** 4.1

Hi, I'm not able to use Analytics and I get a warning which message is:

I get that I have to include FirebaseCore, so I did but I'm not able to use `Analytics` class. I tried im

[2018-05-29 13:41] Alexsays commented on #1345
I solved this problem importing in the Podfile: `pod 'Firebase/Analytics'`. The tutorial from the docs says to import `pod 'Firebase/Core`, but is not enough. I had to import that one.

[2018-05-29 16:25] var-const commented on #988
Should be fixed as of release 5.1.0.

[2018-05-29 16:25] #988 closed

[2018-05-29 16:50] morganchen12 commented on #1339
Can you share the project that's unable to fetch the fcmToken?

[2018-05-29 17:02] jemartti commented on #9
I've got Carthage working and running—however, I'm seeing the same linker warning as @rerelease and @Drusy:

[code]

There was a mention of removing any `import Firebase` statements; however, that seems to contradict the required step of configuring a `FirebaseApp` shared instance (e.g. `FirebaseApp.configure()` in `application:didFinishLaunchingWithOptions:`).

Has anyone managed to get rid of th

[2018-05-29 17:13] miguelrc86 commented on #9
@jemartti I resolved this by using `import FirebaseCore` instead if I remember well, so yeap, you need to follow the instructions by removing the Firebase framework and its related imports, hope it helps.

[2018-05-29 18:09] morganchen12 commented on #1244
Mandar is currently investigating this, but hasn't come back with anything yet.

Internal bug filed at b/79657436.

[2018-05-29 18:33] zxu123 commented on #1165
Will we track connectivity per-query or for an arbitrary query? If this issue is about device connectivity, seems tracking for an arbitrary query is enough. But keep a listener per-query grant more information if there is change and thus we can determine whether to re-fetch or not and speed up subsequent same query; however that way leads more network traffic.

[2018-05-29 18:42] mikelehen commented on #1165
We already track connectivity for the entire watch stream (see https://github.com/firebase/firebase-ios-sdk/blob/master/Firestore/Source/Remote/FSTOnlineStateTracker.mm for where most of the logic lives).

The change I think we want to make is related to https://github.com/firebase/firebase-ios-sdk/blob/3fd7b456d5b58481fada7a31305bb21bb64dbd06/Firestore/Source/Remote/FSTRemoteStore.mm#L341

Basica

[2018-05-30 02:31] vcGF commented on #1340
Really ?

But it seems fairly basic but essential that when the app gets deleted, the credentials go away as well.

At the moment, after deletion, the currentUser is returning the previous object , hence need to use some tricks to figure out if this data is actually valid.

Bit odd no ?

[2018-05-30 11:56] ryanwilson commented on #1342
The Firebase `5.1.0` release just went out yesterday (even though the tags were created 5 days ago) but the Carthage release should be out soon!

[2018-05-30 12:01] ryanwilson commented on #1319
@jbb1003 Thanks for reporting this! I'll try to reproduce locally.

[2018-05-30 12:20] ryanwilson commented on #1249
@dmandar - have you had a chance to check this out?

[2018-05-30 12:26] nidegen commented on #9
I often get an error when runninc carthage update with the framework protobuf. No idea where it comes from. Happens on different machines. Any ideas? thanks:)
[code]

[2018-05-30 15:21] paulb777 commented on #1278
Closed by #1352

[2018-05-30 15:21] #1278 closed

[2018-05-30 16:14] paulb777 commented on #1345
I suspect the problem was `pod FirebaseCore` instead of the documented `pod Firebase/Core`

[2018-05-30 16:53] morganchen12 commented on #1340
The data is no more or less valid than a user loaded from Keychain without an app reinstall. Firebase Auth doesn't validate logins at app start when loading users from Keychain. See [this comment](https://github.com/firebase/firebase-ios-sdk/issues/198#issuecomment-324400360) for more details.

It may also be impractical to implement this new behavior of erasing keychain users on uninstall, since

[2018-05-30 17:21] deguilardi commented on #1052
How can this error not be related to Firebase if it breaks on
[FIRAAppDelegateProxy application:openURL:sourceApplication:annotation:]
???

Firebase manual itself is teaching to do the "wrong" way:
https://firebase.google.com/docs/dynamic-links/ios/receive

[2018-05-30 17:49] paulb777 commented on #1340
Similar issue and answer as #198

[2018-05-30 17:49] #1340 closed

[2018-05-30 18:33] bojeil-google opened #1357 "Including FirebaseAuth 5.0 SDK is no longer possible in App extension"
iOS SDK and FirebaseAuth previously unofficially supported extensions and other similar environments up to 4.x.
Since 5.0, it was no longer possible to include FirebaseAuth.
One reason we don't support this is due to sharedapplication not being available in extensions which phone authentication depends on. However, many other APIs do not depend on this and were still usable. In addition to that, t

[2018-05-30 18:46] paulb777 commented on #1357
Raised at https://stackoverflow.com/questions/50592585/can-firebaseauth-5-0-x-be-used-in-an-ios-app-extension and https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/firebase-talk/OtbDoPGm4zg/wGib79IdAgAJ

[2018-05-30 18:55] RickForAxios commented on #1357
I would really like to see app extensions become officially supported. Even if not "officially supported", it really sucks to lose the ability to use FB in an extension. In our case, we have a Share Extension that lets the user send a web page URL to Firestore.

None of my options are good:

- Stick with FB 4.x SDK in the extension. This may force me to stick with 4.x across the board just to make

[2018-05-30 20:27] dmandar commented on #1249
Am not able to repro this - looks like a race. Is this always repro for you?

[2018-05-30 20:31] dmandar commented on #1291
This is currently not supported, but have added a new feature request for the same. Thanks for the feedback!

[2018-05-30 20:31] #1291 closed

[2018-05-30 20:36] dmandar commented on #926
To confirm, do dynamic links created in the console work on android for you?

[2018-05-30 21:13] paulb777 commented on #1036
Revisiting FirebaseAuth, Firebase 5.x and extensions in #1357

[2018-05-30 22:10] morganchen12 commented on #337
We've fixed this internally and it'll be out in an upcoming minor release.

[2018-05-30 22:10] #337 closed

[2018-05-30 22:21] paulb777 commented on #1052
@deguilardi As pointed out [above](https://github.com/firebase/firebase-ios-sdk/issues/1052#issuecomment-381177458), there is a Swift issue.

@dmandar would you review the Dynamic Links documentation link [above](https://github.com/firebase/firebase-ios-sdk/issues/1052#issuecomment-393246144).

[2018-05-30 22:26] paulb777 commented on #9
@nidegen I've seen this a few times, but not able to reproduce reliably. I suspect a Carthage race condition since `Protobuf.framework` is a dependency of multiple components.

Rerunning the `carthage update` command is a workaround.

[2018-05-30 23:03] dmandar commented on #1052
The [FIRAAppDelegateProxy application:openURL:sourceApplication:annotation:] should only be used on iOS8 and older as stated in the documentation. @deguilardi what iOS version is this breaking at for you?

[2018-05-30 23:14] paulb777 commented on #1261
@dsanghan Are you using FirebasePerformance? This looks similar to #213.

[2018-05-30 23:21] dmandar commented on #743
Thanks for the feedback. Will ensure that the codepath returns back an error if the link is nil. Also have filed a bug to investigate the double encodeURIComponent.

[2018-05-31 00:59] #1357 closed

[2018-05-31 04:35] paulb777 commented on #1342
Firebase 5.1.0 is now available via Carthage.

[2018-05-31 04:35] #1342 closed

[2018-05-31 06:14] nidegen commented on #9
@paulb777 yes I have also just reupdated carthage a couple of times, but it is really a pain for our CI pipelines😬😬

are the binaries not just download only? how comes carthage has to check out dependencies there?

[2018-05-31 07:33] dsanghan commented on #1261
@paulb777: No. I think this is just a case of a bug in `FIRAuthBackendRPCIssuerImplementation `. From `Podfile.lock`:

[code]

It's probably asking `GTMSessionFetcher` to expire and then re-using it anyways.

[2018-05-31 08:40] oferRounds opened #1362 "UI API called on a background thread"
* Xcode version: `9.3 (9E145)`
  * Firebase SDK version:
[code]

  * Firebase Component: `Core, Analytics`
  * Component version: `As described above`

### [REQUIRED] Step 3: Describe the problem

Getting the message:
[code]

#### Steps to reproduce:
Using the components as described above, on a React Native project (version 0.54.2)

What happened? How can we make the problem occur?
This could be

[2018-05-31 08:43] TuanFram commented on #1339
I don't know why but some days before, firebase was working normal in my project but today it's not working =((((

[2018-05-31 10:30] Alexsays commented on #1345
I didn't tried importing just `Firebase/Core`, maybe it will work just with it. Thank you!

[2018-05-31 11:33] kbcodelogicx commented on #1244
What about the issue ? If this issue persist in every latest OS version then what is the meaning of using Firebase Dynamic link ? And why they are not providing with any solutions to this when this issue is creating so much noise over the internet.

[2018-05-31 15:05] paulb777 commented on #1362
This is a duplicate of #69. Please update to a recent Firebase version.

[2018-05-31 15:05] #1362 closed

[2018-05-31 15:22] paulb777 commented on #9
@nidegen Since Carthage doesn't do dependencies for binaries, the multiple Firebase components that depend on `Protobuf.framework` need to include it.

[2018-05-31 15:27] paulb777 commented on #1261
@dsanghan Are you able to share a reproducible test case or debug it yourself with breakpoints in `FIRAuthBackendRPCIssuerImplementation`?

[2018-05-31 15:33] oferRounds commented on #1362
@paulb777 I thought I am in the latest. my pod file includes the line:
`pod 'Firebase/Core'`

When I run `pod update 'Firebase/Core'` the Firebase’s dependencies stays the same:
[code]

Any idea?

[2018-05-31 15:37] paulb777 commented on #1362
@oferRounds Likely, there is something else in your `Podfile` that depends on Firebase 3.x. You can see more details about the dependencies in `Podfile.lock`.

[2018-05-31 15:53] oferRounds commented on #1362
Got you, thanks!

[2018-05-31 16:03] dmandar commented on #1244
@kbcodelogicx we are actively investigating this issue and will have an update very soon.

[2018-05-31 17:35] schlingding commented on #9
Some frameworks are fetching version 5.0.1 and some version 5.1.0.

Example:
`binary "https://dl.google.com/dl/firebase/ios/carthage/FirebasePerformanceBinary.json"` is only pulling down 5.0.1

`binary "https://dl.google.com/dl/firebase/ios/carthage/FirebasePerformanceBinary.json" == 5.0.0` produces
`No available version for binary "https://dl.google.com/dl/firebase/ios/carthage/FirebasePerformanc

[2018-05-31 19:13] nidegen commented on #9
@paulb777 i dont get it. if binaries have no dependencies (I already understood it that way) why is there an issue with a dependency (protobuf). To me it seems that carthage does check for dependencies after all, or performs some kind of processing of the binaries. i dont see why it should / a binary package is performing anything

[2018-05-31 19:58] morganchen12 commented on #1341
Looks like that's crashing on [this line](https://github.com/firebase/firebase-ios-sdk/blob/8037a4bf79b8ae49162c2b6f099d62ec17a7f283/Firestore/Source/Local/FSTLevelDBRemoteDocumentCache.mm#L86), which shouldn't ever crash.

@wilhuff was this code changed recently?

[2018-05-31 20:09] morganchen12 commented on #933
@mikelehen were these bugs fixed? I see the docs were changed a while ago to reflect the batched write size limits.

[2018-05-31 20:11] morganchen12 commented on #673
Closing for now since this has become inactive. @itsJoKr if you have a stack trace or reproducible example, please share it and I'll reopen the issue.

[2018-05-31 20:11] #673 closed

[2018-05-31 20:42] wilhuff commented on #1341
Nearly everything has had some minor modifications lately, but overall this code is not moving fast.

[2018-05-31 21:43] morganchen12 commented on #1341
@mpaulsonco, can you share a project that's causing this crash? Is it consistently reproducible, or does it only happen sporadically?

[2018-05-31 22:59] wilhuff opened #1366 "Firestore will not compile on Xcode 9.2 or earlier"
Xcode 9.2 sees ambiguities in our `FormatArg` in `util/string_format.h` because `std::is_base_of<NSObject, T>{}` does not enable overloads that handle Objective-C types.

Xcode 8.3.3 sees static assertion failures in our specializations of `RankedInvokeHash` in `util/hashing.h` because `std::hash<T>` is defined for all `T`--it's just that it's an error to use the generic specialization of std::has

[2018-05-31 23:04] paulb777 commented on #1366
FYI, there's a good chance we'll drop Xcode 8 support in the next few months since [Apple will require all apps include iOS 11 support](https://developer.apple.com/news/?id=05072018a)

[2018-06-01 00:35] BranchS opened #1368 "Add Crashlytics SDK and Release Notes to Main Firebase SDK Download"
Now that Crash Reporter is all but dead, it would be nice if A) the Crashlytics SDK/frameworks were bundled with the main Firebase iOS SDK download. I know many people use Cocoapods making this irrelevant, but for those that don't, it would be nice. Also, once that's done, having the Crashlytics release notes here: https://firebase.google.com/support/release-notes/ios would be nice.

Thanks!

[2018-06-01 00:38] paulb777 commented on #9
@nidegen The Carthage zip files for multiple Firebase components include the Protobuf.framework. If you're using two or more of those components, Carthage will attempt to do multiple copies to `./Carthage/Build/iOS/Protobuf.framework`.

@schlingding Does clearing the Carthage cache make a difference - `rm -rf ~/Library/Caches/org.carthage.CarthageKit`

[2018-06-01 00:41] paulb777 commented on #1368
cc: @tkburner

[2018-06-01 00:48] wilhuff commented on #1366
I figured as much, but we haven’t dropped support yet :-).

Also this fix is likely the right thing to do anyway since depending on the standard library to behave in some specific way in cases that are undefined by the standard is unlikely to be portable.

[2018-06-01 00:50] schlingding commented on #9
@paulb777 I have tried clearing the cache and removing the Carthage folder as well. Same results. I’m on the latest version of Carthage.

[2018-06-01 06:42] chatwyn opened #1369 "when I add s.dependency "Firebase/Core","5.0.0" in Podspec,then Use pod package failed"
## I want to make private pod and i depend firebase， I add s.dependency "Firebase/Core","5.0.0" in Podspec, then I want to make a framework , I use pod package , then build failed.

 /var/folders/qc/7_dh4q2x5_9g4ydsyn4_r03h0000gn/T/cocoapods-xgidm4bd/Pods/Static/FirebaseCore/Firebase/Core/FIRVersion.m:18:2: error: "Firebase_VERSION is not defined: add -DFirebase_VERSION=... to the build invocation

[2018-06-01 07:27] mmcc007 commented on #1266
Add the following step to your CICD process after the `pod install` to automate the commenting workaround:
[code]
Used this a year or so ago to fix a gRPC build. Guess it has not yet been permanently fixed.

[2018-06-01 14:43] portellaa commented on #1302
Hi 👋

Do you guys have any update on this? I would love to update the Firebase SDK, but i would like to have more details on this and if this will be the expected behaviour.

Cheers

[2018-06-01 15:46] mikelehen commented on #933
Not entirely.  The write size limit was documented which is good, but the second 2 issues are still active. I guess I'll close this though since they are backend issues rather than issues in the iOS SDK and so this issue isn't tracking anything actionable.

If folks run into this, feel free to comment here or contact Firebase Support. For reference, the internal issue tracking the issues is b/7641

[2018-06-01 15:46] #933 closed

[2018-06-01 16:48] siejkowski commented on #1266
The other CI/CD friendly solution is to add
[code]

to your `Podfile`. Of course it's just a workaround until the gRPC issue is fixed.

[2018-06-01 17:10] wilhuff commented on #1266
To get the fix now you need something like this in your Podfile

[code]

Note that I don't recommend this for anything more than playing around.

[2018-06-01 18:13] schlingding commented on #9
@paulb777 Ran Carthage today and now it's pulling all `5.1.0` versions. Leaving the previous comment intact in case someone else runs into the issue.

[2018-06-01 20:41] cyupa commented on #529
I encountered the same issue, but after a couple of rebuilds, it "went away".

[code]

[2018-06-01 20:42] #1366 closed

[2018-06-03 14:55] tonysung opened #1372 "FR: field mask support in Firestore query"
* Firebase SDK version: master
* Firebase Component: Firestore

There is no support for field mask / select() in FIRQuery as in the Firestore Node.js API.

Reference: https://cloud.google.com/nodejs/docs/reference/firestore/0.14.x/Query#select

[2018-06-03 15:55] wilhuff commented on #1372
Thanks for your interest, but this omission is intentional.

See here for rationale:
https://github.com/firebase/firebase-js-sdk/issues/212

[2018-06-03 15:55] #1372 closed

[2018-06-03 20:52] neo-xy commented on #627
is there any update on idea of:
`let model = snap.data(as:Model.self)`
to be added to API?
-comming from Android so it is incredibly irriteting not being able to assign datasnapshot to my custom Object :S

[2018-06-04 04:57] OkumuraShintarou commented on #1339
@morganchen12 We can not be shared because of the company's products.

[2018-06-04 04:59] OkumuraShintarou commented on #1339
@TuanFram I see. Can you share that project?

[2018-06-04 06:28] chatwyn commented on #1369
I clone this project,then I use  'pod package FirebaseAuth.podspec --force' ,same error

[2018-06-04 08:21] kubbing commented on #431
yo guys any update on this one?

[2018-06-04 14:52] paulb777 commented on #1369
Thanks @chatwyn. I can reproduce now.  The failure also occurs without the dependency from FirebaseAuth to FirebaseCore by directly trying to package FirebaseCore with `pod package FirebaseCore.podspec`.

It seems that `cocoapods-packager` does not correctly process the `pod_target_xcconfig` [podspec attribute](https://github.com/firebase/firebase-ios-sdk/blob/master/FirebaseCore.podspec#L35).

Th

[2018-06-04 16:58] morganchen12 commented on #1339
Can you share your implementation of `FIRMessagingDelegate`?

[2018-06-05 14:51] #1369 closed

[2018-06-05 23:53] paulb777 commented on #1267
@jlaws Sorry I can't say anything about GoogleSignIn plans.

In the crashing situation, does `GTMNSDictionary+URLArguments.m` show up in the Xcode build log?

Are you able to make a shareable example that demonstrates the crash?

[2018-06-05 23:55] paulb777 commented on #1030
This is better now that travis is failing on warnings from `pod lib lint` from most pods.

[2018-06-05 23:58] paulb777 commented on #897
Closing for lack of recent activity. Please reopen if still an issue with >= Firebase 5.x

[2018-06-05 23:58] #897 closed

[2018-06-06 04:42] sargunv commented on #1045
Is there any known workaround for now other than ignoring fromCache=true events?

[2018-06-06 09:18] mikegilroy commented on #1045
@sargunv I used throttling to mask the UI flickering that the multiple responses cause, as I still wanted cached results to come through when the user was offline for example. I set the throttling delay to 0.5 seconds and that seemed to get rid of the flickering in the majority of cases where internet connection was ok. It's not a full-proof solution but it's working as a good mask of the issue un

[2018-06-06 14:18] walsht commented on #1342
Not working for me
`*** Skipped building firebase-ios-sdk due to the error:
Dependency "firebase-ios-sdk" has no shared framework schemes for any of the platforms: iOS

If you believe this to be an error, please file an issue with the maintainers at https://github.com/firebase/firebase-ios-sdk/issues/new
`

[2018-06-06 15:31] welshm opened #1384 "Can't upgrade to Firebase 5.1.0 with GoogleTagManager 6.0.0"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2018-06-06 17:15] morganchen12 commented on #1384
Thanks for filing this, I've asked the GoogleTagManager team to update their pod and will keep this ticket updated with details.

[2018-06-06 21:20] richardliveraise commented on #1244
@dmandar @morganchen12 this is fixed on iOS 11.4, but issue still persists on iOS 11.3

[2018-06-06 21:58] morganchen12 commented on #1244
@richardliveraise is this iOS 11.3.1, or just iOS 11.3?

[2018-06-06 22:37] richardliveraise commented on #1244
@morganchen12 correction, issue is on 11.3.1, I don't have 11.3 device to confirm.

[2018-06-07 00:10] dmandar commented on #1244
@richardliveraise that's correct - the issue still persists only on that version - we have a bug fix in the works for it. Also, 11.4 or any other version (up to one digit after the decimal) should not exhibit the behavior.

[2018-06-07 00:39] morganchen12 commented on #1244
It turns out some of the fixes are still in the process of being implemented. To clarify, this is a server issue, so you won't need an SDK update in order to receive the fix. I'll leave this issue open for the time being until all of the error cases are fixed.

[2018-06-07 08:29] walsht commented on #196
Having the same isssue, but can’t archive at all. Using Carthage.
[code]

[2018-06-07 09:26] inna4209 commented on #1330
Hi,
After upgrading to Firebase 5.0 this bug seems to be fixed. But now I get new crash in FIRNetworkURLSession:

#1. Crashed: trust
0  libxpc.dylib                   0x183677d14 _xpc_api_misuse + 64
1  libxpc.dylib                   0x183677d08 _xpc_api_misuse + 52
2  libxpc.dylib                   0x1836779a0 _xpc_transaction_end_impl + 168
3  libxpc.dylib                   0x1836643a0 xpc_trans

[2018-06-07 13:43] paulb777 commented on #196
@walsht It looks like you're missing the Delete Firebase framework step from the [Carthage instructions](https://github.com/firebase/firebase-ios-sdk/blob/master/Carthage.md#carthage-usage).  The Firebase framework is only used for compiling and should not be used for linking.

[2018-06-07 19:11] walsht commented on #196
@paulb777 Yes I did, thank you for pointing that out.

[2018-06-07 22:53] morganchen12 commented on #1384
Tracked internally at b/109888889.

[2018-06-07 23:01] BranchS commented on #196
@davidair @paulb777 this issue is still occurring as originally reported, though. Very annoying...

[2018-06-07 23:06] paulb777 commented on #196
@BranchS We expect to address the original issue with the next version of the Google-Mobile-Ads-SDK pod.

[2018-06-07 23:10] BranchS commented on #196
@paulb777 awesome! I assume that also goes for those of us on the downloadable SDK (no pods)?

[2018-06-07 23:29] paulb777 commented on #196
@BranchS Yep, it would be in the next downloadable zip Firebase SDK after the Google-Mobile-Ads-SDK update.

[2018-06-08 07:15] zkdzegede commented on #469
I think I'm getting the same issue with the Golang SDK.
I am using these [Golang examples](https://github.com/GoogleCloudPlatform/google-cloud-go/blob/master/firestore/apiv1beta1/firestore_client_example_test.go)

I am able to read information for documents even when I shouldn't be able to.

# Rules
[code]

Even with the above rules I can read all my "devices" from golang, but only read the ones w

[2018-06-08 10:11] toco1001 commented on #1244
+1

[2018-06-08 10:12] toco1001 commented on #1244
It's working on `iOS11.3`, but not `iOS11.3.1`

[2018-06-08 10:13] fmkpro1984 commented on #1244
Hi @morganchen12 , I'm also having this issue and am troubled because iOS 11.3 has currently the majority of iOS userbase. No pressure but do we have any ETA on the server side fix? Thanks in advance...

[2018-06-08 10:57] walsht commented on #9
Seeing this on "5.2.0"
[code]
Only way to resolve is
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebasePerformanceBinary.json" == 5.1.0

[2018-06-08 13:49] ugenlik commented on #269
+1

[2018-06-08 14:36] robertofrontado commented on #1249
Yep it happens most of the time

[2018-06-08 14:45] mikelehen commented on #469
@zkdzegede The server client libraries bypass all Cloud Firestore Security Rules and instead authenticate through Google Application Default Credentials. If you are using the server client libraries or the REST or RPC APIs, make sure to set up Cloud Identity and Access Management for Cloud Firestore.

[2018-06-08 17:28] morganchen12 commented on #1317
@Lingyj can you try updating to Firebase 5 and seeing if these are still present?

[2018-06-08 20:49] paulb777 commented on #1384
Version 7.0.0 of GoogleTagManager has been pushed that has been updated to depend on FirebaseAnalytics 5.x - https://github.com/CocoaPods/Specs/blob/master/Specs/9/5/6/GoogleTagManager/7.0.0/GoogleTagManager.podspec.json#L4

[2018-06-08 20:49] #1384 closed

[2018-06-08 20:50] #1293 closed

[2018-06-08 21:30] paulb777 commented on #1293
I saw a different thread sanitizer test case and fixed that one. I'm not able to reproduce one in FIRLogBasic. Let me know if it still occurs with the fix in #1390 and we can reopen.

[2018-06-10 20:05] BranchS commented on #1368
@paulb777 @TKBurner

any update on this? would be so nice to only have one zip to download, and to be able to see Crashlytics release notes with all the others! Doesn't seem like it'd be too hard to just throw them in there.

[2018-06-11 02:39] carlosdelamora commented on #625
I am facing a similar question with swift.
[code]

[2018-06-11 02:57] zkdzegede commented on #469
@mikelehen

I'm trying to use golang for an embedded "client" not as a "server client".
In that case would I still want to use IAM for something I am distributing to end users?

When I was looking at the Access Management for Cloud documentation it seemed like the controls were not for user level access controls the same way the Cloud Firestore Security Rules did, but rather at the developer/servi

[2018-06-11 03:39] zkdzegede commented on #469
Sorry I just realized that this issue is under firebase-ios-sdk, but it sounded so close to what I was experiencing I thought I should add it here after reading ``` Definitely holler if you see anything more suspicious ```

[2018-06-11 13:59] parth51 opened #1393 "Application crash after adding Firebase Performance SDK."
### [READ] Step 1: Are you in the right place?
YES

### [REQUIRED] Step 2: Describe your environment

  * Xcode version:  9.2
  * Firebase SDK version:5.0.0
  * Firebase Component:
FacebookCore (0.3.0),
Firebase (5.0.0),
FirebaseAnalytics (5.0.0),
FirebaseCore (5.0.0),
FirebaseInstanceID (3.0.0),
FirebasePerformance (2.0.0),
FirebaseSwizzlingUtilities (2.0.0)

### [REQUIRED] Step 3: Describe the p

[2018-06-11 14:08] shali3 commented on #1244
Is it going to be a server side fix?

[2018-06-11 14:59] portellaa commented on #1302
Hello and thanks for get back to me.

I understand but why are you guys using the main queue to synchronize serial work? There are a lot of alternatives to make this right, an internal queue for example and you protect yourself against this, wouldn't that be better? You don't need to rely on assumptions or protect your code with this kind of asserts and make this work.

Anyway, i didn't change the

[2018-06-11 15:50] DuM4ll3 opened #1394 "Crashed: com.google.FPRScreenTraceTracker"
### Describe your environment

  * Xcode version: 9.4
  * Firebase SDK version: 5.1.0
  * Firebase Component: Core/Analytics
  * Component version: FirebaseCore 5.0.2 / FirebaseAnalytics 5.0.1

#### The problem:
App is crashing when tracking screens.

#### Steps to reproduce:
It just happens randomly navigating through the app. So I've created _FirebaseScreenReportingEnabled_ flag and set it to _f

[2018-06-11 17:04] morganchen12 commented on #1244
Yes.

[2018-06-11 17:06] morganchen12 commented on #1394
This is a crash in `-[NSMutableDictionary copy]`, which will be very difficult for us to debug without a repro case.

[2018-06-11 17:23] morganchen12 commented on #625
@carlosdelamora can you try implementing the older `openURL:annotation:sourceApplication:` method?

[2018-06-11 17:47] carlosdelamora commented on #625
@morganchen12 I just tried it `openURL:annotation:sourceApplication:`, it is also not called.

[2018-06-11 17:59] morganchen12 commented on #625
Can you open a new issue? What you're facing is likely a different issue than the one filed here.

[2018-06-12 07:13] alihen commented on #1394
Possibly related - Let me know if I should rather create a new ticket for this.

### Describe your environment

  * Xcode version: 9.3.1
  * Firebase SDK version: 5.1.0
  * Firebase Component: Performance
  * Component version: FirebasePerformance (2.0.0)

### Describe the problem
The app crashes when navigating it (not been able to reproduce yet)

#### Stacktrace:
[code]

[2018-06-12 09:22] zapjonny opened #1397 "5.2.0 - [Firebase/Messaging][I-FCM002024] Format '/topics/news' is deprecated. Only '/topics/news' should be used in subscribeToTopic."
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 9.4
  * Firebase SDK version: 5.2.0
  * Firebase Component: Messaging
  * Component version: Not sure... if needed... ask again

### [REQUIRED] Step 3: Describe the problem

Getting this in the logs:

This error message is confusing. I did exactly what it suggested, but it says that exact same way is deprecated. Is the error mess

[2018-06-12 09:30] zapjonny commented on #1397
Note:

Unsubscribing the same way gives a similarly confusing error message:

    Messaging.messaging().unsubscribe(fromTopic: "/topics/news")

[2018-06-12 09:56] matvdg commented on #431
Still crashing for me... Any update???

[2018-06-12 10:49] rdamiano commented on #431
Yes I'm not sure what this is about, I'm not doing anything "special" with Firebase Analytics with my iOS app and this is one of the biggest crashes, so I have to believe it's happening to everyone...for months.

I contacted @katowulf for the potential fix to download, he told me something like "looks like the fix has already been verified"?

[2018-06-12 13:49] siverchen opened #1398 "the files of FirebaseInstanceId was missed after updating the newest version v3.1.0"
<img width="309" alt="1" src="https://user-images.githubusercontent.com/980523/41294345-68bc60c4-6e8a-11e8-845b-59b725eaed61.png">
<img width="783" alt="2" src="https://user-images.githubusercontent.com/980523/41294368-7d8ac388-6e8a-11e8-9fd8-e1e9d06e1e76.png">

[2018-06-12 13:53] siverchen commented on #1398
by deleting the folder then execute "pod update" it worked again.

[2018-06-12 13:53] #1398 closed

[2018-06-12 15:58] paulb777 commented on #1397
Looks like a problem with #1312. cc: @alexames @morganchen12

[2018-06-12 16:34] davidwernhart commented on #1244
I am trying to implement Firebase Invites on iOS right now, and after an app install I am also always receiving myAppScheme://google/link/?dismiss=1&is_weak_match=1 instead of the deep link. Therefore FIRInvites cannot parse it and it does not work. Is this related to the issue with Dynamic Links? I have one iPhone 6 on iOS 11.4 and one iPhone 5 on 10.3.3 and it does not work on both of them.

Min

[2018-06-12 17:52] groue opened #1399 "Crash and rejection from the App Store: scene-create watchdog transgression"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: Version 9.4 (9F1027a)
  * Firebase SDK version: 5.2.0
  * Firebase Component: Core (?)
  * Component version: ?

### [REQUIRED] Step 3: Describe the problem

My app was refused by the App Store because it hangs in `FirebaseApp.configure()`:

The full symbolicated crashlog reported by Apple:

<details>
<summary>Crash log</summary>

[2018-06-12 18:09] morganchen12 commented on #1399
This is crashing in a Security framework call. Can you share your project?

[2018-06-12 18:10] morganchen12 commented on #1244
@davidwernhart can you file a new issue and include the versions of the Firebase frameworks you're using?

[2018-06-12 18:12] groue commented on #1399
Hello @morganchen12,

Yes.

It belongs to a client: I can't upload it. If you have any question I can answer without uploading the whole project, i'll be happy to help.

[2018-06-12 18:46] paulb777 commented on #1399
@groue - Are you able to share the Podfile and Podfile.lock?

[2018-06-12 18:51] groue commented on #1399
Hello @paulb777.

<details>
<summary>Podfile</summary>

[code]

</details>

<details>
<summary>Podfile.lock</summary>

[code]

</details>

[2018-06-12 19:02] johnqh opened #1402 "Crashes in FPRScreenTraceTracker"
* Xcode version: 9.3.1
  * Firebase SDK version: 5.1.0
  * Firebase Component: Core, Analytics, Performance
  * Component version:
- Firebase/Core (5.1.0):
    - Firebase/CoreOnly
    - FirebaseAnalytics (= 5.0.1)
  - Firebase/CoreOnly (5.1.0):
    - FirebaseCore (= 5.0.2)
  - Firebase/Performance (5.1.0):
    - Firebase/Core
    - FirebasePerformance (= 2.0.0)
  - FirebaseAnalytics (5.0.1):
    -

[2018-06-12 19:56] johnqh commented on #1402
btw, this happened with Firebase 5.0 too, but didn't happen with 4.X. 4.X has its own different random crashes in iOS9 only but those crashes are gone. 95% of the crashes in 5.0 are one of those two

[2018-06-12 20:24] paulb777 commented on #1368
@BranchS No updates, we're still pursuing. Feel free to also reach out on one of the [official support channels for Crashlytics](https://firebase.google.com/support/). We try to help on non-open source repo Firebase issues here, but can't make any commitments.

[2018-06-12 20:25] baolocdo commented on #431
Can you upgrade to the latest Analytics SDK, and add the flag `UseCFPreferencesLibrary=YES` in the **Info.plist**? Please let us know whether it fixes the crashes

[2018-06-12 20:28] baolocdo commented on #1288
Some of these are rare and they are not easy to reproduce. We are still trying to see whether we can reproduce those crashes. If you have any sample projects with similar crashes, please share them. Thanks.

[2018-06-12 20:39] eshiehz commented on #1394
We're aware of the issue and a fix will be available in the next release. Thanks for filing!

[2018-06-12 20:40] eshiehz commented on #1402
We're aware of the issue and a fix will be available in the next release. Thanks for filing!

[2018-06-12 20:40] eshiehz commented on #1393
Thanks for the bug report! We're actively looking into this issue.

[2018-06-12 21:35] davidwernhart opened #1403 "Firebase Invites never survive App Installation Process on iOS"
* Xcode version: 9.4
  * Firebase SDK version: 5.2.0
  * Firebase Component: Invites
  * Component version: 3.0.0

Steps to reproduce:

* Download Firebase Invites example project:
https://github.com/firebase/quickstart-ios/tree/master/invites

* Run Pod Install

* Download GoogleService-Info.plist, enter the Reversed_Client_Id in the URL Types and the Associated Domains from your Firebase Project

[2018-06-13 03:19] zapjonny commented on #1397
Btw if I change to `Messaging.messaging().unsubscribe(fromTopic: "news")` which seems to be the correct way since updating to 5.2.0 (no actual build time heads up notice of that unfortunately), the warning goes away. So the error message just seems to be incorrect.

[2018-06-13 08:22] matvdg commented on #431
Hi, thanks. We'll try this in our next release and get back to you asap for feedback. @rdamiano we have encountered this issue for more than one year, but it's quite minor as we have only a few user sessions crashing over thousand at each release.

[2018-06-13 09:30] sgrgrsn commented on #1006
@paulb777 Could we add a comment to the Carthage.md file saying that the frameworks should NOT be added to the Carthage build phase. I was in doubt when I followed the guide today.

[2018-06-13 10:41] sgrgrsn commented on #1006
@paulb777 I've created a [pull request](https://github.com/firebase/firebase-ios-sdk/pull/1404) for adding a comment in the Carthage.md

[2018-06-13 14:59] groue commented on #1399
Hello, folks.

Today the App Store review did pass. What has changed since last version:

- The freshest GoogleService-Info.plist from the projet settings in the Firebase console
- Made sure Distribution Provisioning Profile was Active on https://developer.apple.com/account/ios/profile/production

Maybe this did actively solve the crash. Maybe something else did. I don't know.

I'm closing this is

[2018-06-13 17:31] chliangGoogle commented on #1397
Yeah the right format should be "news" instead of "/topic/news" and the warning is trying to warn you that. But we print the warning wrong which confuses people. We will send out a PR soon for the fix.

[2018-06-13 17:59] baolocdo commented on #1309
For Firebase Analytics: there is no In-app purchase calls or https call that use openSSL

[2018-06-14 13:43] wnagrodzki opened #1409 "FR: Provide data messages delivered by APNs via FIRMessagingDelegate"
### Environment

  * Xcode version: Version 9.4 (9F1027a)
  * Firebase SDK version: 5.2.0
  * Firebase Component: Messaging
  * Component version: 3.0.2

### Feature Proposal

I have noticed that data messages with the content-available flag set to yes are always delivered via APNs.
However with the current state of Firebase API, we are forced to handle those data messages as notifications in `app

[2018-06-14 15:44] A-Mitch commented on #892
Hey, @ryanwilson I am currently running into this guard issue and was wondering if you guys made any progress on it?

[2018-06-14 18:53] Rovel commented on #1309
since the last update for firebase 5.2.0 and boring ssl 10.0.5 the bug disappeared.

thanks

[2018-06-14 19:49] Rovel opened #1412 "Archiving fails at Firestore 5.2.0 Pod (4 issues)"
The app runs fine on the simulator and device, I already had sent it to the testflight in the past.
Today I just updated the firebase pods, tested it in the simulator and archived, by the end of the archive it fails pointing to the firestore pod

  * Xcode version: Version 9.4.1 (9F2000)
  * Firebase SDK version:  5.2.0
  * Firebase Component: Firestore
  * Component version: 5.2.0

#### Steps to

[2018-06-14 19:52] paulb777 commented on #1412
This is a duplicate of #1266. See the status and workarounds there.

[2018-06-14 19:52] #1412 closed

[2018-06-15 12:00] Lingyj commented on #1317
I catght it just now but only once. I opened the Zombie Objects and run the project, the crash occured.

![83f2a5bc-a4d0-4758-86c4-95cb1810df77](https://user-images.githubusercontent.com/3283295/41466779-47453724-70d6-11e8-924f-1b886813995c.png)

[2018-06-15 13:15] Lingyj commented on #1317
An other one

![4896eca1-02b3-423b-ab8d-95582e7ea8d8](https://user-images.githubusercontent.com/3283295/41469802-3aeebb5c-70e1-11e8-80a7-84ae41d1abc8.png)
![771746a0-8279-4374-ae21-5ab4f5eeb96d](https://user-images.githubusercontent.com/3283295/41469806-404aa12e-70e1-11e8-8e33-c8556e9512be.png)
![89beb7ef-b6ac-4e0d-9201-b1f543dbbde1](https://user-images.githubusercontent.com/3283295/41469808-417bd

[2018-06-15 13:37] Rovel commented on #1266
Hey, thanks for all the info, since I'm on a production build whats the best option?
1. Fallback the pod to the latest stable ex: 5.0.0?
2. Point gRPC to git master?

I know the difference, but I'm not aware of critical bug fixes from 5.2 to 5.0 or the kind of problems I may run if I have to point these gRPC to the git master. any suggestions?

Thanks

[2018-06-15 14:08] paulb777 commented on #1266
@Rovel I recommend the workaround at https://github.com/firebase/firebase-ios-sdk/issues/1266#issuecomment-388561282, since it focused and non-intrusive. Its downside is that it needs to be redone after any `pod install/update`.

[2018-06-15 16:02] wilhuff commented on #1266
Note that the grpc fix is now available at the v1.13.0-pre1 tag, so you no longer have to target master to pull it in. I still wouldn't recommend this for production use but it's definitely coming.

[2018-06-16 05:33] Lingyj commented on #1317
I guess the crash `[FIRASearchAdReporter scheduleSearchAdReport] ` because of `nonatomic`. `nonatomic` is not thread-safe. In the other thread, the method is executing and coursed the crash. You can read [this link](https://www.jianshu.com/p/b075bfd67899).

![973a0c55-ebaf-4dbf-bf31-500f5a4bd377](https://user-images.githubusercontent.com/3283295/41496100-cdeef380-7169-11e8-8896-5f1de96487ec.png)
!

[2018-06-17 00:05] ccynn commented on #1339
i am having the same issue where the didReceiveRegistrationToken delegate function all of a sudden isn't firing anymore...it was just working the other day where i'd see the fcmToken

[2018-06-17 00:08] omatty198 commented on #1339
@ccynn Can it be reproduced by creating a new project?

[2018-06-17 01:10] ccynn commented on #1339
i just reproduced it and weird...with the new project the didReceiveRegistrationToken does get triggered.

what's the best mode of action here?

[2018-06-17 21:52] baolocdo commented on #1317
I think the `self` in the **async** block might have been deallocated. We should check whether `self` has been nil in the async call block. Can someone fix the `FIRMutableDictionary` and  `FIRNetwork`? @morganchen12 @ryanwilson

Regarding the screenshot of FIRAMonitor, please upgrade to the latest version and use the flag `UseCFPreferencesLibrary=YES` in the Info.plist? Please let us know whether

[2018-06-17 23:08] SujaySundaram commented on #1341
I had the same issue and for some reason adding $(inherited) to the other linker flags of my target seems to fix the issue. What is weird is that there are no flags in my project settings.

[2018-06-18 07:33] hccoelho opened #1419 "Project fails with "Non-portable path to file '<protobuf/Any.pbobjc.h>'" when updated to latest Firebase/Messaging component"
* Xcode version: 9.4
  * Firebase SDK version: 5.2.0
  * Firebase Component: Messaging (Auth, Core, Database, Firestore, Messaging, Storage, etc)
  * Component version: 3.0.2

When trying to build my project I see several identical errors to:

Non-portable path to file '<protobuf/Any.pbobjc.h>'; specified path differs in case from file name on disk

#### Steps to reproduce:

If I update my pods fi

[2018-06-18 13:50] paulb777 commented on #1419
Something is going wrong with handling `FirebaseMessaging's` [`xcconfig` options](https://github.com/firebase/firebase-ios-sdk/blob/master/FirebaseMessaging.podspec#L35).  That option is used to avoid this error [here](https://github.com/google/protobuf/blob/master/objectivec/GPBProtocolBuffers.h#L49).

If you're still stuck, share your `Podfile`.

[2018-06-18 18:07] hccoelho commented on #1419
Hi @paulb777 thanks for the quick response.

This is how my pod file looks like - not this is a react-native app:

platform :ios, '9.0'

react_path = '../node_modules/react-native'
yoga_path = react_path + '/ReactCommon/yoga'

target 'redbeetapp' do
    pod 'Firebase/Core'
    pod 'Firebase/Performance'
    pod 'Firebase/RemoteConfig'
    pod 'Firebase/Messaging'
    pod 'RNFirebase', :path => '..

[2018-06-18 18:46] morganchen12 commented on #1419
Are you overriding any of your pod options in your project file?

[2018-06-18 18:47] morganchen12 commented on #1341
@mpaulsonco, I'm closing this issue as it hasn't seen any activity lately and we don't have a solid repro case. Please open this if you have an example to share.

[2018-06-18 19:03] morganchen12 commented on #1339
Closing this issue since there's not enough information for me to debug. Please feel free to continue commenting here, and if someone shares a reproducible example, I'll re-open the issue.

[2018-06-18 19:03] #1339 closed

[2018-06-18 19:06] morganchen12 commented on #1409
It's not entirely possible to do this currently without changing the method signature of `MessagingDelegate`'s `messaging(_:didReceive:)` method since the fetch completion handler must also be passed along.

[2018-06-18 19:15] hccoelho commented on #1419
@morganchen12 I'm not sure. I can't think of anything. Where would you recommend looking into?

[2018-06-18 19:23] morganchen12 commented on #1419
Normally CocoaPods will flag a warning in `pod install` output if you're overriding its xcconfig values.

You can also try manually adding the preprocessor definition that Paul linked above into your pbxproj file.

[2018-06-18 22:00] jlaws commented on #1267
We also only see the issue when compiling our extensions (messaging and sharing) in with our main app.

[2018-06-19 07:48] hoantran commented on #1266
Thanks for the workaround paulb777 (commented on May 12, 2018)

[2018-06-19 10:46] niallwatchorn commented on #892
@ryanwilson @A-Mitch Also facing this issue as we have a debug plist file and a release plist file which is loaded in based on compile target. Seems a bit silly to force use the 'GoogleServices-Info.plist' filename.

[2018-06-19 11:04] shinma commented on #1394
Lately I see only crashes of 5.X.X. This bug is present also in 5.2.0.

[2018-06-19 15:11] ryanwilson opened #1423 "FIRAuthSettings should remove FIR prefix in Swift."
https://github.com/firebase/firebase-ios-sdk/blob/22a943708d156712a97d29dcd11ee903cb9d8494/Firebase/Auth/Source/Public/FIRAuthSettings.h#L22

Unfortunately we missed this one in review, it's an easy fix but will have to wait for the next breaking change.

[2018-06-19 15:44] ryanwilson commented on #892
Hey @A-Mitch and @niallwatchorn - thanks for the comments. I'll make sure to bring this up again and see if there's something we can do about it on the Analytics side. Unfortunately nothing to report at the moment.

[2018-06-19 15:51] A-Mitch commented on #892
Thanks @ryanwilson  for the feedback!  @niallwatchorn In the meantime, the person I am working with found a workaround here: https://stackoverflow.com/questions/37472090/in-new-firebase-how-to-use-multiple-config-file-in-xcode , which works smoothly.

[2018-06-19 17:10] jlaws commented on #1267
Thanks Paul, that fixed the issue for me, hopefully we can get a long term fix from the Cocoapods team that doesn't require changing the pods code every update

[2018-06-19 17:20] paulb777 commented on #1267
It turns out the bug has already been fixed on CocoaPods master, so the fix will be in the upcoming CocoaPods 1.6.0 beta.

I'll close this issue now with the resolution being the workaround for the near term and CocoaPods 1.6.0+ as the long term solution.

Thanks for the report @jlaws and @fgrios!

[2018-06-19 17:21] #1267 closed

[2018-06-19 22:19] #1397 closed

[2018-06-19 23:52] morganchen12 commented on #1317
@Lingyj are you able to capture the same zombie crash with an exception breakpoint enabled (or are you able to share the exception message with the backtrace)? The stack traces provided end in `__dealloc_zombie`, which IIRC is not indicative of a bad access when zombies are enabled.

[2018-06-20 07:56] Narayane commented on #431
@baolocdo Hi, your fix seems to work, thanks

[2018-06-20 08:55] Lingyj commented on #1317
`FIRMutableDictionary` seem only happened with Zombie Objects. I closed Zombie Objects and
cannot reappearance.
What about `[FIRASearchAdReporter scheduleSearchAdReport]`, I got 18 crashes in the last 7 days. Any suggestion? We will have a new release in a few days. I did update to the latest sdk and add `UseCFPreferencesLibrary `.

[2018-06-20 11:06] rrnsd opened #1428 "Firebase Analytics does not log any event when building from build server."
### **Environment**
  * Xcode version: 9.3 Build 9E145
  * Firebase SDK version: 5.2.0, 5.0.0
  * Firebase Component: Core
  * Component version: 5.2.0, 5.0.0

### **Problem**

Firebase Analytics does not log any event when building from build server.

Everything works as espected when starting/building the app from xcode (as debug). Every event gets logged.

We automatically build our apps with j

[2018-06-20 13:45] raulrom13 opened #1429 "pod package error in FIRCore and Firebase version"
* Xcode version:  9.4.1
  * Firebase SDK version:  5.2.0
  * Firebase Component: Core
  * Component version: 5.0.3

I have an error when execute this plugin for cocoapods:

pod package #MY_SPEC#.podspec --force --no-mangle --exclude-deps --verbose

The error is:

#error "Firebase_VERSION is not defined: add -DFirebase_VERSION=... to the build invocation"
#error "FIRCore_VERSION is not defined: add

[2018-06-20 13:50] paulb777 commented on #1429
Thanks for the report. This is a duplicate of #1369.

See the fix in #1378 that will be available in the next Firebase update.

[2018-06-20 13:50] #1429 closed

[2018-06-20 15:10] baolocdo commented on #1317
I'll try to fix `FIRASearchAdReporter` but the scheduled release won't be out until next month. Sorry for keeping you waiting.

[2018-06-20 17:14] #1331 closed

[2018-06-20 17:20] johnqh commented on #1402
I see 5.3.0 in releases 7 days ago, but cocoa pod still only installs 5.1.0.

[2018-06-20 18:48] paulb777 commented on #1402
@johnqh The [5.3.0 milestone](https://github.com/firebase/firebase-ios-sdk/milestone/7) still being open indicates we are still stabilizing and haven't published yet. It should be soon.

5.2.0 is available now though. Possibly you need to add the `--repo-update` option to the `pod install` command.

[2018-06-20 20:38] tfonfara opened #1431 "FR: Add method to get all subscribed topics"
### Environment

  * Xcode version: Version 9.4.1 (9F2000)
  * Firebase SDK version: 5.2.0
  * Firebase Component: Messaging
  * Component version: 3.0.2

### Feature Proposal

Currently it's not possible to unregister from all subscribed topics (I know there's a workaround to create a new instance id in order to do that) or to get a list of subscribed topics to add/remove subscriptions on that ba

[2018-06-20 20:42] morganchen12 commented on #1431
Similar to #225, but not quite identical.

[2018-06-20 20:50] #1402 closed

[2018-06-20 20:50] #1394 closed

[2018-06-21 11:55] rrnsd commented on #1428
We have that same crash when be build with crashlytics and via xcodebuild. The build flags solution does not solve the crashes neither the bug decribed in [issue](https://github.com/firebase/firebase-ios-sdk/issues/990) . However both seems to have the reason somehow in nanopb.

[2018-06-21 11:59] rrnsd commented on #990
We have that same crash when be build with crashlytics and via xcodebuild. The build flags solution does not solve the crashes neither the bug decribed in [issue](https://github.com/firebase/firebase-ios-sdk/issues/1428) . However both seems to have the reason somehow in nanopb.

[2018-06-22 06:51] hccoelho commented on #1419
I don't think is a matter of setting the preprocessor - it seems the preprocessor is working fine the problem is that the path case in the filesystem does not match the import
<img width="798" alt="screen shot 2018-06-21 at 11 49 49 pm" src="https://user-images.githubusercontent.com/22967620/41761920-d400cf4e-75ad-11e8-9b82-20b3067b26a5.png">

The pode install shows no warnings:

<img width="607"

[2018-06-22 14:09] paulb777 commented on #1419
I see the problem now. Thanks for your patience. I should have remembered this one sooner.

These are warnings generated by the Protobuf CocoaPod when it is built as a static library because of clang bug with file name casing - see https://github.com/google/protobuf/issues/3218.

It's an error for you because your Podfile is treating all warnings as errors.

Workarounds include allowing warnings f

[2018-06-23 05:55] hccoelho commented on #1419
That works. Thanks a lot!

[2018-06-23 05:55] #1419 closed

[2018-06-23 12:06] davidwernhart commented on #1403
any updates on this one?

[2018-06-24 14:13] jyounus commented on #1345
I currently am using ```FirebaseCore``` as per the readme from this repo. However I don't have access to the ```Analytics``` class in my code.

I went ahead and changed it to ```Firebase/Core``` and did a ```pod install```, here are the new things it installed:

[code]

Now I have to do ```import FirebaseAnalytics``` in order to have access to the ```Analytics``` classes.

I'm assuming this isn't

[2018-06-24 14:14] jyounus commented on #1345
@paulb777 let me know if you'd like me to open a new issue for this.

[2018-06-24 14:34] paulb777 commented on #1345
@jyounus This repo is not intended to be full Firebase documentation. Rather it is focuses specifically on developing with this repo. As mentioned, see https://firebase.google.com/docs/ios/setup where it documents the Podfile should include `pod 'Firebase/Core'`.

Once you do that, it should be sufficient to access the `Analytics` classes with `import Firebase` in a source file.  If that doesn't w

[2018-06-25 04:43] asaduzzaman-shuvro opened #1442 "Is GoogleService-Info.plist is harmful for jailbreak iOS devices or hacker?"
### Environment

  * Xcode version: 9.3.1
  - Firebase/Core (5.3.0):

### In jail break iOS devices the plist is readable. so anyone can read the plist about GoogleService-Info.plist data. They can read the api key, app id, client id and others data. For secondary option configuration, the Crashlytics  don't send the crash data to dash board. But it configured successfully. I can read remote confi

[2018-06-25 10:22] pwlkania commented on #1339
I was struggling with this issue too. Steps to reproduce from my app:

1. In UIViewController_1 call `FirebaseApp.configure()`
2. Push UIViewController_2 and set the messaging delegate, i.e. `Messaging.messaging().delegate = self`
3. In UIViewController_2 call `UIApplication.shared.registerForRemoteNotifications()` - system alert view should appear; tap accept
4. In UIViewController_2 listen for d

[2018-06-25 10:24] niallwatchorn commented on #892
@A-Mitch Thanks man, will read up on it now. 👍

[2018-06-25 12:17] squm opened #1443 "Invalid Shift"
https://github.com/firebase/firebase-ios-sdk/blob/137ce37363d72ac1d643ea9f93bc6e6665367e57/Firebase/Database/Api/FIRDatabaseQuery.m#L256

Left shift of 1 by 31 places cannot be represented in type 'long'

https://developer.apple.com/documentation/code_diagnostics/undefined_behavior_sanitizer/invalid_shift

[2018-06-25 12:20] squm opened #1444 "Invalid bool load"
https://github.com/firebase/firebase-ios-sdk/blob/31a2acb7497eaaeae38b7ceb17edcab09d7f2866/Firebase/Database/Snapshot/FIndexedNode.m#L82

https://developer.apple.com/documentation/code_diagnostics/undefined_behavior_sanitizer/invalid_boolean

[2018-06-25 17:49] #1443 closed

[2018-06-25 17:49] #1444 closed

[2018-06-25 17:55] morganchen12 commented on #1442
Don't store sensitive information in remote config, and use security rules to secure your information in RTDB/Firestore/Storage. Leaking remote config values shouldn't be a significant concern since the values must be interpreted by your app to have meaning and they're going to be visible directly or indirectly in your app anyway.

In general you can't assume someone calling your Firebase APIs is

[2018-06-25 17:55] #1442 closed

[2018-06-25 17:56] paulb777 commented on #1443
Thanks for the reports @squm! This and #1444 will be fixed in the next release #1445 and we'll add sanitizers to our regular testing - #1447

[2018-06-25 17:56] morganchen12 commented on #1403
Does this occur on all iOS versions after #1244 is fixed?

[2018-06-25 18:04] davidwernhart commented on #1403
It is at least on 11.4

Are you able to reproduce it? Maybe the issue is on my end after all.

[2018-06-25 21:48] #1319 closed

[2018-06-25 23:51] paulb777 opened #1451 "didReceiveRemoteNotification unit test failures"
Three FirebaseMessaging tests started failing today on travis after no seemingly relevant change. The tests still run locally.

In the short term, I'll make a PR to disable the tests. In the longer term, we should figure out what happened.

FIRMessagingRemoteNotificationsProxyTest
  testIncompleteAppDelegateRemoteNotificationWithFetchHandlerMethod, (([incompleteAppDelegate respondsToSelector:remot

[2018-06-26 00:37] paulb777 commented on #1451
Successful resolution includes removing BUG_1451 from the source:

[code]

[2018-06-26 07:45] puelocesar commented on #990
Since we don't have access to source code to try to understand why this crash, can anyone at Firebase team take a look at this and provide at least a workaround?

[2018-06-26 12:17] rrnsd commented on #990
I think you have to set **PB_FIELD_32BIT=1** **PB_NO_PACKED_STRUCTS=1** in your **GCC_PREPROCESSOR_DEFINITIONS** for your xcodebuild. Otherwise nanopb will crash during runtime, which is used by FIRAPBMeasurementConfig. Normally the configuration is inherited, be sure you don't override the **GCC_PREPROCESSOR_DEFINITIONS** as we accidentally. So now it works for us.

[2018-06-26 13:43] yunsun330 opened #1457 "How to get 'No connection failed' error for FIRDatabaseReference.observeSingleEventOfType?"
I am using
   * Xcode 9.2
   * Firebase SDK
         Using Firebase (5.3.0)
         Using FirebaseAnalytics (5.0.1)
         Using FirebaseCore (5.0.4)
         Using FirebaseDatabase (5.0.1)
         Using FirebaseInstanceID (3.1.1)
         Using FirebaseStorage (3.0.0)

I have integrated Firebase on my iOS project and use the Realtime database and Storage.
I want to get the JSON data and image

[2018-06-26 14:53] puelocesar commented on #990
I'll try that, thanks!

[2018-06-26 16:21] frios commented on #1267
Thank you for the help. It seems to have taken care of another related problem as well!

[2018-06-26 20:13] jamieQ-Target opened #1464 "Thread Sanitizer warnings related to protobuf objects"
### Environment

  * Xcode version: 9.4
  * Firebase SDK version: 5.0.0
  * Firebase Component: Performance
  * Component version: 5.0.0

### Problem Description

Hi,

I'm using some Firebase tools, and was debugging with the thread sanitizer enabled when I received a warning about a data race on some internal library objects. Here is the TSAN output that appeared in my Xcode console:

[code]

And

[2018-06-26 20:50] morganchen12 commented on #1457
RTDB doesn't surface connection state in its public API. You can use [SCNetworkReachability](https://developer.apple.com/documentation/systemconfiguration/scnetworkreachability) to detect connection state like airplane mode.

It's unlikely this will be added to RTDB in the near future.

[2018-06-26 20:50] #1457 closed

[2018-06-26 22:28] #1261 closed

[2018-06-27 01:42] Lingyj commented on #1317
Hello, I got a serious problem with the lastest sdk.  `[FIRAMeasurement monitor] ` crash 140 times in two days, most on iOS11.4.0. Old crashes seems have been fixed in the lastest sdk.

![image](https://user-images.githubusercontent.com/3283295/41948038-7a58d452-79ed-11e8-899c-012129dffcfc.png)
![image](https://user-images.githubusercontent.com/3283295/41948051-8e86dc8a-79ed-11e8-9b1f-abf1d0280e69

[2018-06-27 11:31] Kimnyhuus commented on #274
Any update on this?

After updating the Firebase pods on our project, the workaround described in this thread (and in my own comment above this) doesn't seem to work anymore.

Before, the ".observe" returned first the local data and then the online if there were any changes.
Now it only returns the local just as "observeSingleEvent" did when this issue were created.

To solve this issue I had to a

[2018-06-27 12:28] Lingyj commented on #1317
Seems there have a singleton with `FIRAMeasurement`. When the signleton init, it calls `[FIRAUserDefaults synchronize]`, and `FIRAUserDefaults` recall the singleton before the singleton finish.

[2018-06-27 12:50] chlebta opened #1470 "application( open url) is not called any more"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 9.3
  * Firebase SDK version: 4.13.0 (Pod)
  * Firebase Component: Core
  * Component version: 4.0.20 (Pod)

### [REQUIRED] Step 3: Describe the problem

Since I've added Firebase to my project this method `application(_ app: UIApplication, open url: URL, options: [UIApplicationOpenURLOptionsKey : Any]) -> Bool` is not called any

[2018-06-27 14:53] baolocdo commented on #1317
@Lingyj : I have filed internal bug at b/110876085. The fix should be in the next release of Firebase Analytics. Thanks for reporting

[2018-06-27 17:12] morganchen12 commented on #1470
Please upgrade to 5.0+ and see if it fixes your issue.

Also, please share some code or repro steps, or we can't effectively debug your issue.

[2018-06-28 13:13] NALAWALAMURTUZA commented on #149
how to get a notification with image payload.

[2018-06-28 15:43] yusuftor commented on #1266
When will this be properly integrated into the framework?

[2018-06-28 18:18] wilhuff commented on #1266
As noted above: the fix is coming from gRPC in the 1.13.0 release. They're now on the third prerelease (v1.13.0-pre3).

[2018-06-28 19:19] jorgelub12 opened #1476 "Firebase Messaging subscribe Topic"
I just updated the version of FirebaseMessaging from 2.1.1 to 3.0.2 and I got the next error.

"Use of unresolved identifier 'Messaging'; did you mean messagingError?"

Am I doing something wrong?

<img width="680" alt="captura de pantalla 2018-06-28 a la s 14 15 53" src="https://user-images.githubusercontent.com/17097930/42055866-0c855d3c-7ade-11e8-822f-20f07abc9f66.png">

XCode: 10
iOS Deploymen

[2018-06-28 19:35] morganchen12 commented on #1476
Can you share your project?

[2018-06-28 19:42] jorgelub12 commented on #1476
Hello @morganchen12, thanks for your answer. Unfortunately I can't share my project but I can provide any information related to fix this issue.

I got this problem right after run 'pod update'.

Log:
Installing Firebase 5.3.0 (was 4.11.0)
Installing FirebaseAnalytics 5.0.1 (was 4.1.0)
Installing FirebaseCore 5.0.4 (was 4.0.18)
Installing FirebaseInstanceID 3.1.1 (was 2.0.10)
Installing FirebaseMe

[2018-06-28 19:50] paulb777 commented on #1476
The Xcode module cache might be corrupted. Try `rm -rf ~/Library/Developer/Xcode/DerivedData` and restarting Xcode.

[2018-06-28 20:43] jorgelub12 commented on #1476
Yes, I tried that but still getting that error.

[2018-06-28 20:55] morganchen12 commented on #1476
Are you able to reproduce this issue in a new project?

[2018-06-28 21:22] jorgelub12 commented on #1476
I created a test project and everything works fine. I mean, I can use Messaging.messaing() without get the above error. What is wrong? I just used pod update. Isn't the same ?

[2018-06-28 22:55] KabukiAdam opened #1477 "Slow firestore listener performance with large data sets"
* Xcode version: 9.4.1
  * Firebase SDK version: 5.3.0
  * Firebase Component: Firestore
  * Component version: 0.12.4

I’ve been experiencing surprisingly slow performance with Firestore listeners with larger data sets (thousands of documents).  There are three issues that are seemingly related…let me know if you’d like me to break this up into separate issues.

All testing has done using a simpl

[2018-06-29 00:13] 0x8badf00d opened #1478 "App crash in FirebaseABTesting Framework"
### Environment

  * Xcode version: 9.4.1
  * Firebase SDK version: 4.13.0
  * Firebase Component: RemoteConfig (Auth, Core, Database, Firestore, Messaging, Storage, etc)
  * Component version:

  - Firebase/Core (4.13.0):
    - FirebaseAnalytics (= 4.2.0)
    - FirebaseCore (= 4.0.20)
  - FirebaseABTesting (1.0.0):
    - FirebaseCore (~> 4.0)
    - Protobuf (~> 3.1)
  - FirebaseAnalytics (4.2.0):

[2018-06-29 03:28] zeqinjie commented on #1394
YES,This bug is present also in 5.2.0.  why?

[2018-06-29 03:30] zeqinjie commented on #1402
This bug is present also in 5.2.0

[2018-06-29 06:04] Krusheuski commented on #357
Task <F67CC2EF-6606-4A36-9AE8-16386AFCD53D>.<1> HTTP load failed (error code: -999 [1:89])
Task <F67CC2EF-6606-4A36-9AE8-16386AFCD53D>.<1> finished with error - code: -999

[2018-06-29 08:20] chlebta commented on #1470
I've updated the SDK to 5.0 but always same issue.
Also unfortunately I don't  have much code to share because all what I've done is adding the firebase configuration to my AppDelegate.
[code]

[code]

[2018-06-29 08:28] alihen commented on #1402
@zeqinjie, this should have been resolved in 5.3.0 - please update your pod if possible 👍

[2018-06-29 11:33] RochevAV opened #1480 "Сrash in FIRAnalyticsQueue (FIRAnalytics + Crashlytics)"
### [READ] Step 1: Are you in the right place?

Yes

### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 9.3
  * Firebase SDK version: 5.0.0
  * Firebase Component: Core, Analytics
  * Component version:
      * 5.0.0 - [Firebase/Core][I-COR000012]
      * 5.0.0 - [Firebase/Analytics][I-ACS020006]
      * [Crashlytics] Version 3.10.2 (130)

### [REQUIRED] Step 3: Describe the prob

[2018-06-29 13:36] uzma-sayyed opened #1481 "FCM: Not handling method un-swizzling properly for UNUserNotificationCenterDelegate"
FCM is swizzling both the methods of UNUserNotificationCenterDelegate i.e. willPresentNotification and didReceiveNotificationResponse.
[FIRMessagingRemoteNotificationsProxy.m](https://github.com/firebase/firebase-ios-sdk/blob/master/Firebase/Messaging/FIRMessagingRemoteNotificationsProxy.m#L214)

But while un-swizzling, only willPresentNotification method is un-swizzled and not didReceiveNotificat

[2018-06-29 13:54] paulb777 commented on #1394
Right @alihen  - And according to the milestone marked on this issue. See the right column. 👍

[2018-06-29 14:02] saumitrabhave commented on #1481
I think this is the commit of interest https://github.com/firebase/firebase-ios-sdk/commit/5496eff88f3d1c386f10a3765afa0373cff12e17 , This commit added the support for didReceiveNotificationResponseSelector but missed it in the unswizzle part.

[2018-06-29 14:13] ryanwilson commented on #1470
@chlebta can you share your Podfile with us so we can see what other SDKs you are using? Especially if you're using Firebase Messaging.

[2018-06-29 14:51] baolocdo commented on #1480
From the stacktrace, it looks like it's Crashlytics problem in CLSFIRAEventParametersAsPrimitiveDictionary

[2018-06-29 18:45] morganchen12 commented on #1480
Filed in b/110990116.

[2018-06-29 21:34] morganchen12 commented on #1299
Is this still an issue on the latest version of Firebase?

Can either of you provide a sample that reproduces the issue, even inconsistently?

[2018-06-29 21:35] morganchen12 commented on #1288
Closing since this has had no new activity or repro steps. Please update to the latest version of Firebase and comment on this issue if it still exists.

[2018-06-29 21:35] #1288 closed

[2018-06-29 21:40] morganchen12 commented on #1298
Closing for inactivity. We made some (currently unreleased) changes around this area recently that may affect this issue, please comment again if the issue regresses.

[2018-06-29 21:40] #1298 closed

[2018-06-29 21:41] morganchen12 commented on #1249
@robertofrontado are you able to reproduce this in the DynamicLinks quickstart?

[2018-06-29 21:43] #1069 closed

[2018-06-29 21:49] morganchen12 commented on #196
This should be fixed in Google-Mobile-Ads 7.31.0 and higher. Please comment if you're still running into this issue.

[2018-06-29 23:56] mikelehen commented on #1477
@KabukiAdam Thank you for this detailed performance feedback! This is useful and I appreciate you taking the time to provide it.  I haven't dug in too deep, but I'll briefly respond with my initial analysis.

Your first point (slow w/ large data set) is semi-expected. We may be able to optimize this some, but on the order of ~1 second per 1000 documents is probably expected right now.  We generall

[2018-06-30 04:54] mrpuzzler commented on #1299
With latest 5.x - I don't see it.

[2018-06-30 05:21] moontecholabs commented on #1299
@markbouchard
Yes, seems fixed now.

Thanks

[2018-06-30 05:21] #1299 closed

[2018-06-30 17:08] paulb777 commented on #1266
gRPC 1.13.0 has now released and I confirmed that my test case successfully archives.

[2018-06-30 17:08] #1266 closed

[2018-07-01 07:30] joelgetaction commented on #583
For the reference of others, did you mean this?  https://github.com/firebase/firebase-ios-sdk#macos

[2018-07-01 13:53] paulb777 commented on #583
@joelgetaction This - https://github.com/firebase/firebase-ios-sdk#macos-and-tvos

[2018-07-02 06:48] rrnsd commented on #990
I used xcodebuild over the command line with Firebase 5.2.0.

[code]

[2018-07-02 07:19] RochevAV commented on #1480
@morganchen12  What did you mean?

[2018-07-02 09:19] zeqinjie commented on #1402
ok, thx

[2018-07-02 11:56] pushkardeshmukh1992 commented on #1197
I encountered same issue.
Even if you downgrade to `'FirebaseSwizzlingUtilities', '~> 1.0.0'` in podfile, it still installs with 1.0.1

Any workaround for this?

[2018-07-02 13:43] paulb777 commented on #1480
@RochevAV Crashlytics is not open source nor part of this repo, so @morganchen12 added a link to the bug tracking system where its issues are tracked.

[2018-07-02 14:19] kaannesinn commented on #1288
Hi @baolocdo

Could you find a fix for that case? We are updating with the new versions of the SDK whenever Firebase updates them. But we cant find a related description for fixes on each release notes of them.

Btw the previous crashes doesnt like to be appeared again but sometimes some other crashes occurs. We see them on fabric but we cant reproduce them.

I am going to open a new issue for the

[2018-07-02 14:20] kaannesinn opened #1487 "Crashes on FIRADatabase, FIRASqliteStore and FIRAUserDefaults classes"
Hi,

I am using Xcode 9.4 and our application deployment target is 10+. On testing we dont see a crash that comes from FIRA-classes but on production base (AppStore version) there are some crashes comes from FIRA-prefixed classes that we see the details on Fabric/Crashlytics tool.

Btw we cant reproduce this crash. The crashes have these lines and you can see the details from the fabric links;

-[

[2018-07-02 14:21] kaannesinn commented on #1260
It is related with the new issue https://github.com/firebase/firebase-ios-sdk/issues/1487

[2018-07-02 15:08] wbattel4607 commented on #1197
@pushkardeshmukh1992 change `'FirebaseSwizzlingUtilities', '~> 1.0.0'` to `'FirebaseSwizzlingUtilities', '1.0.0'`

The `~>` tells it to use the latest version, not 1.0.0.

[2018-07-02 17:53] morganchen12 commented on #1260
@kaannesinn can you try updating to Firebase 5.0+ and seeing if the crash still occurs?

The first crash appears to be a crash in the Google Mobile Ads SDK, and the second crash has 0 occurrences.

[2018-07-02 19:10] KabukiAdam commented on #1477
@mikelehen Thank you for the prompt and helpful reply.

Regarding the listener performance with a large data set, it's good to hear that my results are not unexpected. However I can't help but feel this is still "slow" relative to what one would typically expect for locally-persisted data queries (similar queries using core data or sqlite are ~100 times faster). I do agree that 3000 documents is w

[2018-07-02 21:39] Rovel opened #1488 "Value of type 'StorageMetadata' has no member 'downloadURL'"
Hi,

I'm adding a brand new image upload in IOS 11.4, XCode 9.4.1, and Firebase/Storage (5.3.0) FirebaseStorage (= 3.0.0) as the Docs:
https://firebase.google.com/docs/storage/ios/upload-files?authuser=0
[code]
it throws this error:
`Value of type 'StorageMetadata' has no member 'downloadURL'`

Am I missing something? When I use the autocomplete of the metadata it shows no url option the closest I

[2018-07-03 00:44] kaannesinn commented on #1260
@morganchen12 I updated 5.0+ after 1 week from this issue and updated our app on AppStore. Most of the crashes are gone yes.

Yes I know it is from GAD. The 2nd crash doesnt occur again but the 1st one exists on the new version of the app with #1487 issue.

I am closing this issue and we can continue with the new one.

Thanks

[2018-07-03 00:44] #1260 closed

[2018-07-03 06:55] avdgriendt commented on #283
I have the same issue. Is there a way to solve it already?

[2018-07-03 07:22] thienpham234 opened #1489 "App opens dynamic link content a second time following app uninstall"
* Xcode version: 9.3.1
  * Firebase SDK version: 5.0.1
  * Firebase Component: Dynamic Links
  * Component version: 3.0.0

I implemented Dynamic links in project. I have a problem, I don't know the behavior that is true. Could you help me resolve it?

Steps to reproduce:
1.  Install App from App store.
2. Share a link for project.
3. Delete App on device.
4. Tap an link share at above (2)
5. Move

[2018-07-03 07:52] liyu0013 commented on #743
Any updates on this? I'm also having a similar issue with SDK 5.2.0 and 5.4.0. Our app works fine if it's already running background or foreground. But it's killed and then I trigger a dynamic link, dynamicLink and error will be both nil.

[2018-07-03 12:13] 5fcgdaeb opened #1490 "Messaging Component - Support for iOS Extensions"
Version 5.2.0 does restore the 4.x level support for extensions; it fixes the issue in the Auth component. However, same issue also exists in the Messaging component. With the configuration below, it is not possible to include FirebaseMessaging component from an iOS extension. It fails with the error: "sharedApplication' is unavailable: not available on iOS (App Extension) - Use view controller ba

[2018-07-03 17:28] jamieQ-Target commented on #1464
The thread sanitizer just caught another instance of this while I was debugging today. I realize I didn't capture a full stack trace of the thread that triggered the issue, so here it is:

[code]

[2018-07-03 22:16] chliangGoogle commented on #1490
We are working making FIRMessaging compile with app extension. In the meantime, you can remove the FIRMessaging from your app extension target in Podfile.

Normally you can't receive push notification from app extensions, so FIRMessaging should be installed in your host app even if you want to use notification extensions. Any reason you need to build them inside your app extension app?

[2018-07-03 23:52] mono0926 commented on #1488
The API had changed at version 5.0.0, so you should `StorageReference`'s `downloadURL` method.

[2018-07-04 00:08] FrankB1708 commented on #1293
I'm using a current version 5.4.0 and I'm seeing a very similar pattern:
WARNING: ThreadSanitizer: data race (pid=21644)
  Write of size 1 at 0x00010c4f5091 by thread T6:
    #0 __FIRSetAnalyticsDebugMode_block_invoke <null>:3746336 (TunesGenie:x86_64+0x100302071)
    #1 __tsan::invoke_and_release_block(void*) <null>:3746336 (libclang_rt.tsan_iossim_dynamic.dylib:x86_64+0x622bb)
    #2 _dispatch_c

[2018-07-04 00:12] paulb777 commented on #1293
@FrankB1708 The FIRSetAnalyticsDebugMode tsan issue is planned to be fixed in the next release. It's part of #1370

[2018-07-04 04:05] ferdinandharmaputra opened #1491 "success while build in simulator but failed while archiving"
When I am building the app in simulator it works, but when I archive the project to upload, it's showing error

this is the screenshot

<img width="854" alt="screen shot 2018-07-03 at 9 51 11 pm" src="https://user-images.githubusercontent.com/34279128/42256213-1a34ee0c-7f7a-11e8-89f9-458b5746e613.png">

[2018-07-04 05:01] 5fcgdaeb commented on #1490
That is right; one shouldn't ideally need the Messaging component in their extensions. In my case, I have already removed the dependency.

I have created the issue so that Firebase offers a standard behavior across all of its modules.

[2018-07-04 07:30] spyroseth commented on #1490
Hello. I have the same issue here. In my case, I build a framework that handles push notification using FirebaseMessaging component. Through the notification extension, I want to delegate the methods provided to the framework.

[2018-07-04 08:06] thienpham234 commented on #1489
I temporarily resolved this problem but I not sure this is root core.
I used property "mathType" to check.
@property(nonatomic, assign, readonly) FIRDLMatchType matchType;

FIRDynamicLink *dynamicLink = [[FIRDynamicLinks dynamicLinks] dynamicLinkFromCustomSchemeURL:url];
 if (dynamicLink) {
       if (dynamicLink.url && dynamicLink.matchType == FIRDLMatchTypeUnique) {
             // to check App

[2018-07-04 11:04] yusuftor opened #1492 "Two observers within the same app interfering with each other"
* I'm using the latest versions of every component and Xcode.
  * Firebase Component: Database

I have two observers within my app, one that is ordered, one that isn't. The unordered observer seems to interfere with the ordered observer's results, when the unordered observer is called from a different view controller.

#### Steps to reproduce:

A simplified version of my database looks like this:

[2018-07-04 14:21] chlebta commented on #1470
@ryanpbrewster sorry for taking time here's the google pods I'm using :
[code]

[2018-07-04 14:36] Rovel commented on #1488
thanks @mono0926, Are the docs updated?

[2018-07-04 14:49] paulb777 commented on #1491
@ferdinandharmaputra This looks like an issue with an Alamofire API and is out of scope for the Firebase issue tracker.

[2018-07-04 14:49] #1491 closed

[2018-07-04 14:56] paulb777 commented on #1488
Looks like the docs were not updated. I'll reopen to track fixing the docs.

[2018-07-04 15:08] ManuelRiegler opened #1493 "The method handleUniversalLink(_: completion:) returns nil for both error and dynamicLink completion handler parameters"
**Environment:**
  * Xcode version: 9.4.1
  * Firebase SDK version: 5.3.0
  * Firebase Component: Dynamic Links
  * Component version: 3.0.1
  * iOS: 11.4
  * Device: iPhoneX

I have two apps (two targets in one xcode project), one is available in AppStore already, the second one is only on Testflight for testing. The Bundle Identifiers are camle case like Com.Company and Com.Company.Test and are

[2018-07-04 15:23] #1493 closed

[2018-07-04 19:33] ryanpbrewster commented on #1470
((wrong ryan))
cc: @ryanwilson ---^

[2018-07-05 12:35] scalbatty opened #1496 "Linker warnings on Firestore when using `-all_load` linker flag"
When using `-all_load` linker flag and statically linking against the `FirebaseFirestore` framework and dependencies, about a hundred linker warnings appear, about `Pointer not aligned` in files located inside `FirebaseFirestore.framework`:

[code]
(Full list below)

### Environment

  * Xcode version: 9.3
  * Firebase SDK version: 3.5.0
  * Firebase Component: Firestore
  * Component version: 5.3

[2018-07-05 16:36] businessengine commented on #1477
We faced the same issues where we have 10 collections with an average 500-3000 docs each - all must be listened when the app starts. When the number of docs for each is small e.g 100 each, the performance is fine, but now on an average 500-3000 docs (each docs is less than 2kb), it becomes extremely slow both online and offline.
Profiling:
![image](https://user-images.githubusercontent.com/578995/

[2018-07-05 16:58] rsgowman commented on #1477
@businessengine Check out https://github.com/firebase/firebase-ios-sdk/pull/1494. It's not a finalized PR, but demonstrates the issue.

However, note that the specific performance degradation that this seems to help only applies to offline queries. When online, simply creating the query is enough to cause leveldb to perform quickly, so this may not be relevant at all for your use case.

As Mike po

[2018-07-05 17:55] richardliveraise commented on #1489
I'm having this issue as well. I didn't have this issue until recently though. Perhaps they're caching the IP for the tracking?
Any chance this could be related to this ticket?
https://github.com/firebase/firebase-ios-sdk/issues/1244

[2018-07-05 18:08] richardliveraise commented on #1244
yes, this is fixed on iOS 11.3.1 . Thank you!!

[2018-07-05 18:20] aleczadikian commented on #357
This was happening to me because I was blocking my main thread with `DispatchGroup.wait()`. Check to see if your main thread is blocked.

[2018-07-05 22:05] baolocdo commented on #1288
@kaannesinn: I'm not aware of the fixes that fixed your crashes. It might be a coincidence that some bug fixes also alleviate your crashes too or newer iOS might influence the crash rate. If you find any new one, please let us know. Thanks

[2018-07-06 00:08] kaannesinn commented on #1288
@baolocdo ok, yes we are updating Firebase sdk whenever there is a new update without knowing that it solves our crashes or not. And some of the crashes on this issue are like to be gone. Yes it could be a coincidence maybe. But some crashes still exist with a low amount.

You can see them on https://github.com/firebase/firebase-ios-sdk/issues/1487

Thank

[2018-07-06 03:55] businessengine commented on #1477
Thanks @rsgowman, we applied the patch and noticed the leveldb size reduced from23 to 15MB, however, overall performance is still the same (or unnoticeable). We may have to consider the solution where we cache big collections ourselves with alternate db such as realm or snappydb. Do we have any roadmap/milestones on when Firebase team will work on the client-indexing feature which may help improve

[2018-07-06 13:55] sanks opened #1499 "Firestore - custom claims don't update in rules"
* Xcode version: 9.4.1
  * Firebase SDK version: 5.4.0
  * Firebase Component: Firestore
  * Component version: 0.12.5

### The problem
After setup custom claims for a user through the Cloud Functions - the token (and custom claims together with it) weren't updated in Firestore Rules.

Even after calling `getIDTokenForcingRefresh(true)` the Rule doesn't allow to get a document. However, in the app

[2018-07-06 17:38] morganchen12 commented on #1488
The docs have been updated. Thanks for filing!

[2018-07-06 17:38] #1488 closed

[2018-07-06 22:33] baolocdo commented on #1487
Regarding the crash at [FIRAUserDefaults objectForKey:] -> http://crashes.to/s/f33bf7b0134, I think it's related to the system

[code]
So I don't think Firebase Analytics can fix this. Other crash logs don't provide much clue of what caused the crashes :(
We will have some bug fixes in the next release soon and I'm not sure if they can improve what you have seen here but please update and let us k

[2018-07-07 11:46] kaannesinn commented on #1487
Ok it could be like you said. Btw they have max 5 occurences, and after updating sdk they are decreased.
We will update the app nearly and ok I will follow them and turn the results.
Also some other crashes are on github as an issue and we sent to firebase bug report team some of them. Maybe the others could be solved at next release

[2018-07-08 01:14] wilhuff commented on #1496
You need to define the same macros that the CocoaPod build for nanopb does:

https://github.com/CocoaPods/Specs/blob/master/Specs/6/1/e/nanopb/0.3.8/nanopb.podspec.json#L19

Add `PB_FIELD_32BIT=1` and `PB_NO_PACKED_STRUCTS=1` to `GCC_PREPROCESSOR_DEFINITIONS`.

[2018-07-08 01:14] #1496 closed

[2018-07-09 09:46] chlebta commented on #1470
@ryanwilson Any updates ?

[2018-07-09 16:01] eithan commented on #934
Hello,
Curious if any progress has been made on this issue? In case it helps here is some data from the last 48 hours when looking at median timings by carrier:

Nextel (Telet) --> 6,180.97 s
Telemovil --> 4,252.30 s
T-Mobile/Mobimak --> 2,569.22 s
Swisscom --> 26,289.16 s
UNKNOWN [311530] --> 11,504.04 s
BSNL --> 66,080.97 s

[2018-07-09 17:32] rob-keepsafe commented on #196
Thanks @morganchen12 and @paulb777 👍 Did this happened to get cherry-picked into the `Firebase` pod subspecs as well? Not seeing it explicitly in https://firebase.google.com/support/release-notes/ios

[2018-07-09 17:58] morganchen12 commented on #196
The fix was part of Google Mobile Ads and not Firebase, which is why it's not in the changelog (it wasn't a change made in Firebase).

[2018-07-09 18:15] baolocdo commented on #431
Apple asked to verify the fix by using the iOS 12 beta seed. Since I can't reproduce the issue, can any of you confirm the fix (without Analytics' flag)? Thanks

[2018-07-09 19:07] richardliveraise commented on #1489
@morganchen12 @dmandar any update on this? Any drawback of checking if dynamicLink.matchType == FIRDLMatchTypeUnique ?

Thanks!

[2018-07-09 20:08] berkcoker commented on #147
I wonder if there are any updates on this? I'm currently using signed URLs, which I found easier to implement, but this feature feels like a no-brainer

[2018-07-09 20:40] ryanwilson commented on #1470
@chlebta - sorry no updates yet. What iOS version are you using here? Is this device only or simulator?

[2018-07-09 20:58] schmidt-sebastian commented on #147
There are unfortunately no updates at this point. We will update this issue when this changes.

[2018-07-09 23:49] paulb777 commented on #1490
Fixed in the upcoming M30 release by #1503

[2018-07-09 23:49] #1490 closed

[2018-07-10 07:53] thienpham234 commented on #1489
@richardliveraise  Thank you for reporting. I will try to reproduce this in my app.

[2018-07-10 08:17] thienpham234 commented on #1489
@richardliveraise I reproduced to steps of you but i seen it still return matchType == FIRDLMatchTypeUnique.

[2018-07-10 17:33] alexg33 commented on #72
@samtstern — Not seeing that "View Source" button when I look at the doc. Where does it send you if you click the link? (You might have special, special access.)

[2018-07-10 17:40] samtstern commented on #72
@alexg33 whoops!  Looks like I only have that because of this extension:
https://chrome.google.com/webstore/detail/android-sdk-search/hgcbffeicehlpmgmnhnkjbjoldkfhoin

Well either way, it's something we can/should add.

[2018-07-10 17:43] alexg33 commented on #72
Well, per usual, you're right.

[2018-07-11 06:48] nikeshakya commented on #1403
@morganchen12 I am experiencing same issue..
invite url works only when app is in background mode...
fresh install and terminated app state doesn't respond to dynamic link
Any update on this?

[2018-07-11 10:11] nidegen commented on #9
@paulb777 For the protobuf checkout bug, deleting cache with `rm -rf ~/Library/Caches/org.carthage.CarthageKit` actually fixes my issue, probably also yours @walsht

I run it before each carthage update

[2018-07-11 13:17] adrianortuzar commented on #143
I am having same issue as @priyankamistry09. I already try @ojordann solutions and does not work. Anyone else with the same problem?

[2018-07-11 13:21] mag10a commented on #1393
@paulb777 - Any update on this issue? We are seeing this in our Cordova project and we are using FirebaseInstanceID 2.0.8.

[2018-07-11 13:34] paulb777 commented on #1393
@mag10a The current FirebaseInstanceID version is 3.1.1. Does that make a difference?

[2018-07-11 14:30] hIUG commented on #143
Exact same problem after updating pods... no solution working for me yet

[2018-07-11 15:03] baolocdo commented on #143
@hIUG  @adrianortuzar Can you see the debug log in the console log but not see on the debug view? Also do you have similar issue with having released apps sending events in debug view?

[2018-07-11 15:22] paulb777 opened #1517 "Firestore does not build in Xcode 8.3.3"
See https://stackoverflow.com/questions/51273189/no-such-module-firebasefirestore

[code]

[2018-07-11 15:52] xaverlohmueller commented on #990
I could reproduce @crnjan 's crashes with going to background and back again today when I missed adding the `GoogleToolboxForMac` framework to our project that uses Firebase Analytics. No (linker) errors, no nothing except for a very short stack trace.

Adding the framework fixed it for us.

[2018-07-11 16:45] marcbaldwin opened #1518 "Firebase Database not pruning tracked queries"
* Xcode version: 9.4.1 (9F2000)
  * Firebase SDK version: 5.4.0
  * Firebase Component: Database
  * Component version: 5.4.0

### Description of the problem

The time it takes for the first callback to occur when observing a reference increases proportionally with the number of writes made. In some cases this means it takes nearly three minutes for the first callback to occur.

Note: Turning off

[2018-07-11 17:05] morganchen12 commented on #1403
No updates yet, but it does look like this is a bug. Mandar, can you take a look when you get a chance?

[2018-07-11 17:19] morganchen12 commented on #1518
@mikelehen the repro steps seem pretty ordinary, I'm surprised this hasn't shown up before. Is this a regression?

[2018-07-11 17:42] wilhuff commented on #1517
Aha, the problem is that the assignment operator and copy constructors that allow conversion from a child type to a parent type are part of C++17 and are not available as part of C++11.

Xcode 8.3.3's libc++ does not have this feature yet and Xcode 9's libc++ does not flag it as C++17 only :-(. There does [not appear to be a flag we can enable](https://clang.llvm.org/docs/DiagnosticsReference.html

[2018-07-11 17:58] morganchen12 commented on #431
Hey all, given the response to the flagged fix we're going to enable the flag by default in the next update of Firebase.

I'll close this issue for now, it'll go out with the M30 milestone in the next Analytics release. If it regresses after that, please comment here and I'll re-open the issue.

Thanks all!

[2018-07-11 17:58] #431 closed

[2018-07-11 18:19] mikelehen commented on #1518
This is probably related to https://github.com/firebase/firebase-ios-sdk/blob/c6b4b03fffc3cea7c9525e5c79dce28f52900521/Firebase/Database/Persistence/FPersistenceManager.m#L124

When you perform a write we add it to our cache, which includes adding it to our tracked queries (which helps us know that we have complete data for that location and can raise events for it if you listen in the future).

I

[2018-07-11 19:08] morganchen12 commented on #1499
@sanks instead of signing out and signing back in, are you able to work around this by [reloading the user](https://firebase.google.com/docs/reference/ios/firebaseauth/api/reference/Classes/FIRUser#-reloadwithcompletion)?

[2018-07-11 19:12] morganchen12 commented on #1478
Unfortunately, we'll have a hard time investigating this issue without repro steps. The crash is in a protobuf C method that shouldn't show up multiple times consecutively in a stack trace like the one you've posted.

[2018-07-11 19:35] wilhuff commented on #1517
Nope, that's not it.

The issue is that when returning instances of `std::unique_ptr<Document>` from a function declared to return `std::unique_ptr<MaybeDocument>` (a parent of Document) the compiler in Xcode 8.3.3 is not attempting to find a suitable move constructor.

This seems likely to be an instance of http://open-std.org/JTC1/SC22/WG21/docs/cwg_defects.html#1579.

[2018-07-12 04:50] sanks commented on #1499
@morganchen12 no, reloading user doesn't work as well.

[2018-07-12 09:20] Lawris commented on #269
+1

[2018-07-12 10:40] adrianortuzar commented on #143
@baolocdo @hIUG  looks it was a Firebase downtime, also in twitter you can find people complain the same problem. It was a pity loose too many hours in this error. I would like to have some feedback from Firebase when some on the nice tools they have does not work :(

At least now is working fine.

[2018-07-12 13:17] marcbaldwin commented on #1518
Thanks @mikelehen for the speedy response. @schmidt-sebastian do you think you'll be able to have a look? If not I'd be happy to have a go at fixing it :)

Thanks!

[2018-07-12 14:34] mikelehen commented on #1499
This is a known issue.  Right now the Firestore SDK ignores token changes if the uid doesn't change.  We likely need to rework the code here: https://github.com/firebase/firebase-ios-sdk/blob/49f2493e14cd68ecc0e08ad2d9fc75739e419a3b/Firestore/core/src/firebase/firestore/auth/firebase_credentials_provider_apple.mm#L61

Sorry for the inconvenience! For now, signing out / back-in is the only workarou

[2018-07-12 15:38] schmidt-sebastian commented on #1518
I can take a look at this next week or so. If you want to take a stab at it in the meantime, I would be more than happy to support you along the way. Thanks!

[2018-07-12 16:07] schmidt-sebastian commented on #1492
Hi @yusuftor! Thanks for sending this over. This is actually the expected behavior. What is going on here is that the second listener will first returns results from cache, and then go back to the server to fetch the remaining data. Since you already fetched key `R5UwSxlH3vhH6SjTNMGfMoiaGae2`, it will be returned right away.

You are probably asking yourself why we don't respect the orderBy constr

[2018-07-12 16:07] #1492 closed

[2018-07-12 16:53] #143 closed

[2018-07-12 18:17] dmandar commented on #926
You can debug the link by appending ?d=1.  https://avxw5.app.goo.gl/EQfLEDGznK9xOzwe2?d=1 to check if android is enabled for the link. Pls reopen if still an issue.

[2018-07-12 18:17] #926 closed

[2018-07-13 07:29] nikeshakya commented on #1403
@morganchen12 thank you for prompt reply.
I hope this gets fixed asap.

[2018-07-13 09:18] marcbaldwin commented on #1518
Some more info...

After a write `FPersistenceManager.doPruneCheckAfterServerUpdate` is executed which checks to see if a prune is required according to its cache policy pacing in its `serverCacheUpdatesSinceLastPruneCheck` value.  However as the `serverCacheUpdatesSinceLastPruneCheck` is not persisted between app restarts, a prune will only occur after 1000 server updates during a single app sess

[2018-07-13 15:52] schmidt-sebastian commented on #1518
I would suggest you pick option 4 and perform a prune check at startup, and then once every 1000 operations. Since we target a wide range of mobile devices, it is sometimes very hard to predict what the perceived performance characteristics of changes in the persistence logic are.

[2018-07-13 16:12] mikelehen commented on #1518
doPruneCheckAfterServerUpdate is actually pretty expensive because it has to iterate the entire database to estimate the cache size. It ends up calling https://github.com/firebase/firebase-ios-sdk/blob/master/Firebase/Database/third_party/Wrap-leveldb/APLevelDB.mm#L289

So #4 is the most palatable of your options but it'll still slow down app starts for everybody.  And it'll still only help apps o

[2018-07-13 16:34] marcbaldwin commented on #1518
Thanks for the input.

@mikelehen If `doPruneCheckAfterServerUpdate` is expensive then would it not be a bad idea to be calling it in`applyUserWrite`? In some cases our app might make multiple writes per second.

Could another option be to add a public method to perform a prune? Then users can perform it when it best suits the needs of their app. For example, I'd probably choose to do it after sta

[2018-07-13 16:54] #1517 closed

[2018-07-13 16:58] mikelehen commented on #1518
@marcbaldwin Well, because of the `kFServerUpdatesBetweenCacheSizeChecks` counter in there it would still only do the expensive part of the check once every 1000 writes...  so you might see the occasional delayed write, but it shouldn't be too bad...  hopefully. :-)

Adding an API would certainly provide the most control for developers, but 1) ideally we'd solve this transparently for the majority

[2018-07-13 22:00] richardliveraise commented on #393
@morganchen12 I've experiencing some issue with FCM lately too. Same device, sometimes the notification comes in, sometimes it doesn't. FCM API returns success message. Also, I noticed that the notification token gets refreshed quite frequently (every 2-3 days).
If notification token expires, would FCM API returns success ? Also, how often should notification token gets refreshed?

[2018-07-14 02:08] var-const commented on #1477
@KabukiAdam Thanks for a great repro case! Experimenting with the test app you provided locally, it appears to me that #1533 significantly speeds up creating a listener for several K documents. If you have the opportunity, it would be great if you could try out that branch on your side, just to check whether you see a similar performance improvement. (I slightly modified the app to create 9K docum

[2018-07-14 02:46] businessengine commented on #1477
Thanks @var-const Great news! We will try it out today.

[2018-07-14 03:02] businessengine commented on #1477
Tried the branch `varconst/coll-opt` but got the following header missing: `'FirebaseCore/FIRAppEnvironmentUtil.h' file not found`

We used
`  pod 'FirebaseCore', :git => 'https://github.com/firebase/firebase-ios-sdk.git', :branch => 'varconst/coll-opt'
  pod 'FirebaseFirestore', :git => 'https://github.com/firebase/firebase-ios-sdk.git', :branch => 'varconst/coll-opt'`

[2018-07-14 04:45] var-const commented on #1477
@businessengine Oh, really sorry about the trouble. There was some project restructuring recently, this failure looks related to that. The way I had it in my podfile was to only use the non-standard pod for Firestore:
[code]
I'll look into this more closely tomorrow.

[2018-07-14 14:29] paulb777 opened #1535 "Update source snapshot README for M30 changes"
Update the instructions at https://github.com/firebase/firebase-ios-sdk#accessing-firebase-source-snapshots to describe how to handle the `GoogleUtilities` and the `FirebaseAuthInterop` pods.

In the meantime, a workaround is to add those two pods with the appropriate branch specifier.

[2018-07-14 14:31] paulb777 commented on #1477
Our pod structure is in flux until the next release and installing from branches will vary for component and over time until we release the M30 milestone. More background at #1535.

Since Firestore is still compatible with both the latest and last release dependencies, it should be sufficient to add the one line to the Podfile:

`pod 'FirebaseFirestore', :git => 'https://github.com/firebase/fireba

[2018-07-14 21:35] ghugues opened #1536 "Firebase calls iOS9+ method on iOS 8"
### Environment

  * Xcode version: 9.2
  * Firebase SDK version: 5.1
  * Firebase Components: FirebaseDynamicLinks (3.0.1)

### Problem

On iOS 8, Firebase calls `-[UIApplicationDelegate application:openURL:options:]`. This method was introduced in iOS 9 and should not be called on iOS 8.

In particular, if this method has been marked as available only in iOS 9 or later, then the compiler will no

[2018-07-15 00:45] paulb777 commented on #1536
At first glance, it looks like Firebase makes the assumption that if `-[UIApplicationDelegate application:openURL:options:]` exists in the app, the API exists and is valid to call.

We'll follow up with a more detailed analysis and response.

[2018-07-15 19:14] darkylmnx opened #1539 "Firestore queries extremly slow on the last 2 weeks"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2018-07-16 05:59] zeqinjie opened #1540 "iOS8 [NSLock updateTraceWithCurrentSession]: unrecognized selector sent to instance 0x7fa0f8cf5b50"
[READ] Step 1: Are you in the right place?
YES

[REQUIRED] Step 2: Describe your environment
Xcode version: 9.3
Cocopod update :
 Installing Firebase 5.4.0 (was 5.2.0)
Installing FirebaseCore 5.0.5 (was 5.0.3 and source changed to `https://github.com/CocoaPods/Specs.git` from `https://github.com/cocoapods/specs.git`)
Installing FirebaseMessaging 3.0.3 (was 3.0.2 and source changed to `https://gith

[2018-07-16 06:59] zeqinjie commented on #1402
but when i update to 5.4.0 or 5.3.0.it must crash in iOS8.[iussue](https://github.com/firebase/firebase-ios-sdk/issues/1540)

[2018-07-16 13:30] chlebta commented on #1470
@ryanwilson I'm using Xcode 9.4 and iOS 9, 10 and 11. All not working.

[2018-07-16 14:11] KabukiAdam commented on #1477
@var-const Yes, I was able to confirm that #1533 does seem to fix the long listener times that I was experiencing right after creating a large set of documents (the issue I described under **Listener performance is worse immediately after adding the large data set** in my original post).  The listener time now seems to be the same as it would be after a fresh install.

Thanks for quick investigati

[2018-07-16 15:07] Gujci commented on #1393
I'm having a very similar issue.
My dependencies are:

[code]

These are freshly installed with Carthage `0.29.0`.
As soon as the `FirebaseApp.configure()` is called, I get an error:

[code]

I thought it might be a linking issue. I have only linked  `FirebaseSwizzlingUtilities.framework`, but adding any other related frameworks, like `FirebaseISASwizzler.framework` results in a compile-time error

[2018-07-16 15:20] paulb777 commented on #1393
@Gujci Try removing `Carthage/Build/iOS/FirebaseSwizzlingUtilities.framework`. It is no longer part of Firebase 5.4.0. It was split into `FirebaseISASwizzler.framework` and `FirebaseMethodSwizzler.framework`.

[2018-07-16 15:23] baolocdo commented on #1536
We will investigate this. In the meantime, to avoid crashes, please set the flag `FirebaseAppDelegateProxyEnabled` to `NO` (Boolean) in the Info.plist.

[2018-07-16 15:29] Gujci commented on #1393
@paulb777 thank you

[2018-07-16 18:32] morganchen12 commented on #1540
Can you share the full stack trace?

[2018-07-16 19:12] var-const commented on #1477
@KabukiAdam That's great to hear, thanks for the confirmation!

@businessengine To echo what @paulb777 Paul said, I could successfully build [FirestoreListenerTest](https://github.com/KabukiAdam/FirestoreListenerTest) by only pointing the `FirebaseFirestore` pod to a Git branch, so that the Podfile looks like:
[code]

However, if I change `FirebaseCore` to also point to Git, I start having issues

[2018-07-16 19:17] morganchen12 commented on #393
@richardliveraise in the future please file a new issue. If you have further questions, please **file them as a new issue instead of commenting more here**.

- Can you share particulars on how your notifications are delivered and how token refresh is handled? Relatively frequent token refresh is normal and not likely to be a source of bugs, but your client needs to make sure it's handling token re

[2018-07-16 20:20] var-const commented on #1341
The issue can be reproduced consistently using [this test app](https://github.com/var-const/FirestoreCrashRepro). The thing that triggers this seems to be the fact that `Podfile` is configured to fetch Firestore _and_ FirebaseCore from Git (just using the default pod for `FirebaseCore` "fixes" it). I have found this out accidentally while trying out my branch, which is the branch I'm using. It loo

[2018-07-16 20:57] richardliveraise opened #1543 "Push notification token gets invalidated after few days b/111760840"
### Describe your environment

  * Xcode version: 9.4.1
  * Firebase SDK version: 5.0.0
  * Firebase Component: Firebase Messaging
  * Component version: 3.0.0

### Describe the problem

Token gets invalidated after few days with no clear reason.

#### Steps to reproduce:

1. Register token, send token to server
2. Close app, wait for 2-3 days.
3. Send push notification to the registered token
4.

[2018-07-16 21:25] chliangGoogle commented on #1409
data message can be delivered in both APNS or direct channel depending on which server API you are using, for instance if you are using HTTP v1 API, your message is delivered through APNS and if you use legacy API, it's using direct channel.

And yes for iOS 9 and below, FCM handles message in application(_ application:, didReceiveRemoteNotification:, fetchCompletionHandler:) method.
And for iOS 1

[2018-07-16 21:32] ghugues commented on #1536
Thanks. We're already doing an iOS version check inside the method to avoid potential crashes. I just think this is something that could be improved in the Firebase SDK. And it's not just this method, I think that any method added to the protocol in a given iOS version should not be called on earlier versions, even if it's implemented (because it's going to be unexpected by the developer most of t

[2018-07-16 21:59] morganchen12 commented on #1543
Can you share your project ID? This looks like a backend issue and may require looking at your Firebase project information.

[2018-07-16 22:01] richardliveraise commented on #1543
What is your email?

[2018-07-16 22:32] morganchen12 commented on #1543
Instead of emailing me directly, you should file a [support ticket](https://firebase.google.com/support/contact/?category=troubleshooting) so we can keep all your debugging-related nonpublic information in one place (the ticket can link to this GH issue).

Apologies for the misdirection, I realize this is really obtuse after asking you to file a separate issue.

[2018-07-16 23:20] richardliveraise commented on #1543
@morganchen12 I filed a support ticket. let me know if you need any additional information. Thank you!

[2018-07-16 23:52] paulb777 commented on #1341
`-ObjC` is not getting added to the `OTHER_LDFLAGS` setting. Adding it manually is a workaround.  I suspect something about one of the pods is messing with the typical CocoaPods install behavior.

[2018-07-17 00:06] paulb777 commented on #1539
I don't see anything here indicating an iOS SDK issue. Perhaps, it should be filed to https://github.com/firebase/firebase-js-sdk/issues?

Either way, we'll likely need more information about reproducing the issue.

[2018-07-17 00:13] jdimond commented on #1539
We deployed a fix to the backends today that should bring down querying times. Please re-open the issue if it's still reproducible.

[2018-07-17 00:13] #1539 closed

[2018-07-17 01:25] zhantx opened #1546 "App crashes at -[FIRAuthAppDelegateProxy originalImplementationForSelector:]"
* Xcode version: 9.4.1
  * Firebase SDK version: 4.1.0
  * Firebase Component: Auth
  * Component version: 4.1.0

Hey there, I'm having a crash from `[FIRAuthAppDelegateProxy originalImplementationForSelector:] `every time the app receives push notification.

Background about this project. this is a react native project integrated with unity, and we use firebase-unity-sdk's database component in t

[2018-07-17 01:39] zeqinjie commented on #1540
@morganchen12
<_NSCallStackArray 0x7fe1b6546350>(
0   ???                                 0x000000012501a130 0x0 + 4915831088,
1   houseApp                           0x000000010e3b3c40 main + 0,
2   CoreFoundation                      0x000000011348327c ___forwarding___ + 988,
3   CoreFoundation                      0x0000000113482e18 _CF_forwarding_prep_0 + 120,
4   CoreFoundation

[2018-07-17 06:55] gbsendhil opened #1547 "App crashes during [FIRApp configure]"
* Xcode version: 9.4.1
  * Firebase SDK version: 4.13.0
  * Firebase Component: Core
  * Component version: 4.0.20.
  * iOS Version : 11.2.5 (15D60)

Hey there, I'm having a crash from [FIRApp configure] every time the user launches the app.

Background about this project. this is a react native project, and we use firebase-ios-sdk's core component. We have followed the steps outlined at https://f

[2018-07-17 09:53] aleh opened #1548 "Firestore: Deleting a couple of documents returned by limited subcollection query triggers all documents to disappear locally"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 9.4 (9F1027a)
  * Firebase SDK version: 5.3.0
  * Firebase Component: Firestore
  * Component version: 5.3.0

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

- Set up a query on any subcollection with a limit smaller than the number of elements in the subcollection already, for example, 5.

- Set up another

[2018-07-17 13:43] paulb777 commented on #1547
Version 7 of GoogleTagManager is required with Firebase 5.x:

[code]

[2018-07-17 15:51] mikelehen commented on #1548
Thank you for the repro app and video!  I'll take a look and get back to you.

[2018-07-17 17:10] gbsendhil commented on #1547
Has this crash fixed in the latest version ?

[2018-07-17 20:55] richardliveraise commented on #1543
@morganchen12 I monitor the token I got from yesterday, and today it says it's NotRegistered. This is really bad.

[2018-07-18 07:02] businessengine commented on #1477
Thanks @var-const we used that same Pod content too.

[2018-07-18 10:23] wilhuff commented on #1548
Thanks for filing this. It turns out to be the cause of [this discussion](https://groups.google.com/d/topic/google-cloud-firestore-discuss/h5I672iaGtQ/discussion). We'll treat this as the canonical issue for this bug. The problem exists on all Firestore mobile/web SDKs.

For context, when a client is listening to a limit query (and in certain other cases) when a document moves out of the query res

[2018-07-18 10:30] aleh commented on #1548
@mikelehen @wilhuff  Thanks for the detailed update!

[2018-07-18 20:52] var-const commented on #1477
@businessengine Are you still seeing build errors when using a similar podspec? If errors persist, then if you could share the Firestore-related bits of your podspec and the errors you're seeing, I could take a look.

[2018-07-19 01:06] businessengine commented on #1477
@var-const sorry for the misunderstanding, we were able to build successfully with the above pod lines. Notice a hug performance boost in batch writing, but caching big 10-15 collections when the app starts is somehow similar as before. We can extract our code and send you via email for further investigation. Please let us know if that works for you.

[2018-07-19 02:39] businessengine opened #1559 "SMS Verification message not customizable"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2018-07-19 15:31] scottmas commented on #1548
I see the js and ios fixes have been merged. Into master. Any ETA on when we can expect new version releases with the fix?

[2018-07-19 16:28] herrernst opened #1561 "Subscribing to topic on first app start fails without bg notifications and direct channel"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 9.4.1
  * Firebase SDK version: 5.4.0
  * Firebase Component: Messaging
  * Component version: 3.0.3

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

Create a new project as described in https://firebase.google.com/docs/cloud-messaging/ios/client. Notably, don't set up a direct channel; and don't enable sil

[2018-07-19 16:33] mikelehen commented on #1548
@scottmas There's still one more part to the iOS fix (https://github.com/firebase/firebase-ios-sdk/pull/1558) and then we'll work on getting a new release out with the fixes.  We'll update this thread as that happens.

[2018-07-19 17:18] morganchen12 commented on #1561
You won't be able to subscribe successfully before the FCM token is first fetched. In your example, [this code](https://github.com/herrernst/firebase-ios-sdk/commit/97a9c8d59ccca8e360c01e95e1e6fdbfc828a7c8#diff-e28d4af0e7a88e5b8c4efa9b7114ccfc) should be moved to your implementation of [this MessagingDelegate method](https://firebase.google.com/docs/reference/ios/firebasemessaging/api/reference/Pr

[2018-07-19 17:19] morganchen12 commented on #1559
We can use this issue for tracking, but since this isn't an SDK issue, can you file it at our [troubleshooting channel](https://firebase.google.com/support/contact/?category=troubleshooting)?

[2018-07-19 17:58] herrernst commented on #1561
Thank you. But why does it work when a direct channel setup is requested, or when silent background notifications are enabled?

[2018-07-19 18:01] morganchen12 commented on #1561
IIRC requesting notification permissions via `registerForRemoteNotifications` affects the IID fetch process, but I'm fuzzy on the details. @chliangGoogle can probably answer in more detail.

[2018-07-19 18:34] herrernst commented on #1561
Also, the documentation you linked about `-messaging:didReceiveRegistrationToken:` says: "Typically it will be called once per app start, but may be called more often." But what if I want to subscribe to a topic later on, when the delegate method has already been called?
In other words, how do I know if I will be able to successfully subscribe to a topic, or if a have to wait for `-messaging:didRe

[2018-07-19 18:41] chliangGoogle commented on #1561
I can't reproduce the error you had by calling subscription too early or without any checkin credentials. Seem like your client's direct channel credentials are corrupted for some reason.

With the latest FCM (v3.0.3) your subscription should suspend without a token. Regardless of MCS connection or background notification. And Firebase do request a token during initialization(if you didn't disable

[2018-07-19 18:52] chliangGoogle commented on #1561
Actually with the latest FCM (v3.0.3) you should be able to call subscription any time and the operation will simply suspend if a token is not present. And the operation resumes any time a token is retrieved and your subscription can then complete.

Can you try with the latest fcm and send us debug log if you still encounter the issue? Make sure you add -FIRDebugEnabled to expand the debug logs.

[2018-07-19 19:01] morganchen12 commented on #1561
In general, you should always wait for `-messaging:didReceiveRegistrationToken:` to subscribe to topics.

If you want to subscribe to a topic later on, you can fetch an existing (or new) IID via [`-[FIRInstanceID instanceIDWithHandler:]`](https://firebase.google.com/docs/reference/ios/firebaseinstanceid/api/reference/Classes/FIRInstanceID#-instanceidwithhandler).

[2018-07-19 19:09] wilhuff commented on #1548
@scottmas It's now possible to try this out. Add these lines to your `Podfile` (replacing any existing entries for `FirebaseCore` and `FirebaseFirestore`.

[code]

[2018-07-19 19:33] scottmas commented on #1548
Great! What about Android?

[2018-07-19 20:15] wilhuff commented on #1548
That's coming, but not ready yet. I'm mostly interested in verifying that with this in place your iOS simulator with the broken calendar entries is fixed.

[2018-07-19 20:52] scottmas commented on #1548
Hey Gil, those pod entries do not work when I try to pod install them. You
were missing a slash "Firebase/Core", but even after I added that it still
doesn't work.

On Thu, Jul 19, 2018 at 2:15 PM Gil <notifications@github.com> wrote:

[2018-07-20 00:36] var-const commented on #1477
@businessengine Would you be able to upload a snippet of the problematic code to Github (doesn't necessarily have to compile as long as it clearly demonstrates the issue; of course, a minimal test app is best if at all possible)?

[2018-07-20 03:53] slopSurfer commented on #413
Im using ADMIN SDK in node.js AWS lambda function.  RDS Postgres will return 280 rows in ~300 millseconds (from a table that contains millions of rows), Dynamodb takes about 1100 ms for same query, Firestore is taking on average 3- 4.5 seconds to return 2 documents! The collection only contains 4 documents.  In an Android app the performance is similar.  Im in Sydney Australia.  Surely there must

[2018-07-20 04:23] ToFind1991 opened #1565 "fetcherCompletion is assign"
`@property(readonly) GTMSessionFetcherCompletionHandler fetcherCompletion;`

This property is using default assign, so fetcherCompletion will may be released to case a wild pointer and `EXC_BAD_ACCESS` crash.

In the file `FIRStorageDownloadTask.m`, there is a assignment for `fetcherCompletion` :
[code]

And at the end of this scope, there is a fetch:
[code]
Because this fetch is async, when ` wea

[2018-07-20 04:42] baolocdo commented on #1470
Please try the flag that @paulb777 recommended and let us know the result. I believe that the handler is deprecated: https://developer.apple.com/documentation/uikit/uiapplicationdelegate/1622964-application. Can you use the `application(_:open:options:)` instead?

[2018-07-20 07:53] herrernst commented on #1561
@chliangGoogle

As I've said, I did not set up a direct channel.

Also, as I've mentioned, I'm already using the latest FCM (3.0.3), and my example is based on it, too. Of course I can send you the debug (next week), but you should be able to try it out yourself by running my example.

Is there any notification posted or callback called when such a suspended subscription completes? Or can I query

[2018-07-20 14:27] ShahbazAli46 opened #1566 "Authentication SMS is not being received"
I have set up all my app,
it receive Auth msg, but when app is uploaded to Apple AppStore, it does not receive Auth Sms, is there any thing to change after uploading to App Store, like in Android SHA-1 is changed

i am asking about iOS.. my whole code is in swift 4

[2018-07-20 15:53] jdimond commented on #413
@slopSurfer some of this latency may be attributed to slow-start problems: It takes some time to setup the correct connections between the backends from Australia. For backend/admin operations it's usually recommended to co-locate the code with where your data lives. Are you able to execute the lambda functions in us-central1? This should drastically improve latency.

[2018-07-20 17:57] scottmas commented on #1548
Any ETA on Android?

On Fri, Jul 20, 2018 at 11:26 AM Gil <notifications@github.com> wrote:

[2018-07-20 17:58] chliangGoogle commented on #1561
Your direct channel credentials is generated and used for token generation, regardless you are setting it up or not.

When the suspended subscription completes, it goes back to the same callback for your original subscription request.

[2018-07-20 19:20] paulb777 commented on #1547
There have been some changes to the code around this crash, but we haven't been able to reproduce, so it's unknown if Firebase 5.x fixes it.

[2018-07-20 19:29] paulb777 commented on #529
Closing due to lack of recent activity. Please reopen if still an issue.

[2018-07-20 19:31] paulb777 commented on #314
Closing due to lack of recent activity. Please open a new issue if this is occurring on Firebase 5.x.

[2018-07-20 19:31] #314 closed

[2018-07-20 19:32] paulb777 commented on #971
Closing due to lack of recent activity. Please open a new issue if this is occurring on Firebase 5.x.

[2018-07-20 19:32] #971 closed

[2018-07-20 21:07] morganchen12 commented on #1566
Is your app able to receive silent notifications normally in production?

[2018-07-20 22:36] slopSurfer commented on #413
@jdimond You are correct.  The issue appears to be slow initial database connection time.  After some brief investigation it appears about 75% of the 'query' time is attributed to the connection process.  After the connection latter queries are significantly faster.  I looked at a connection and query to Firebase and it was about 30% faster then Firestore, but once again the initial connection was

[2018-07-21 13:55] paulb777 opened #1570 "Swizzler should be warning free on iOS 7"
The Travis iOS7 check [runs just once a day](https://travis-ci.org/firebase/firebase-ios-sdk/jobs/406492209) and it is now failing because of new code in the Swizzler that is not iOS 7 compliant.

To reproduce locally:
[code]
[code]

[2018-07-22 03:32] businessengine commented on #1559
Thanks @morganchen12 . The support team is working on this matter.

[2018-07-22 04:37] polok commented on #269
+1

[2018-07-22 16:24] gordysc opened #1571 "Apple Mach-O Linker Error: Undefined symbols for architecture x86_64"
### [READ] Step 1: Are you in the right place?

I believe so? 🤔 I've seen multiple issues around this area answered already on this repository, but couldn't find an exact match to my current issue.

### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 9.4.1
  * Firebase SDK version: 5.4.0
  * Firebase Component: Analytics, Auth, Crash, & Firesore
  * Component version: 5.4.0

### [

[2018-07-22 17:31] wilhuff commented on #1571
In general undefined symbol errors mean you're missing required frameworks, libraries or both.

A few that stand out to me:
  * symbols in `std::` (like `std::__1::basic_string`) mean you're missing libc++, so add `c++` to your required libraries.
  * missing sqlite_close means you're missing the `sqlite3` library
  * Some of the symbols FirebaseCrash is missing look like they come from the Core T

[2018-07-22 17:31] #1571 closed

[2018-07-22 18:09] gordysc commented on #1571
Thanks @wilhuff , perhaps some of these can be added to the Carthage readme for this repo? I'd be happy to open a PR with whatever updates are necessary, but following the directions provided led me to this scenario.  I imagine others will hit the same issue in the future. Neither the C++ nor sqlite3 library are called out in the Carthage readme at the moment, and there's nothing about the Core Te

[2018-07-22 18:46] wilhuff commented on #1571
We'll happily review a PR that lists these things out. Thanks!

[2018-07-22 19:18] paulb777 commented on #1571
See https://github.com/firebase/firebase-ios-sdk/issues/9#issuecomment-387947163. Let's add this content to https://github.com/firebase/firebase-ios-sdk/blob/master/Carthage.md.

[2018-07-22 21:30] gordysc commented on #1571
Opened a PR to help future developers out.  This got me up and running.  Thanks for the help y'all!

[2018-07-23 05:06] jcyu0208 opened #1573 "FCM Token Nil Error code 1003"
### Environment

  * Xcode version: 9.4.1
  * Firebase SDK version: 5.4.0
  * Firebase Component: Messaging
  * Component version: 3.0.3

### Problem

I keep receiving a 1003 Error and always get nil when trying to get the FCM token. I assume that I've setup my APNs correctly and I'm using the correct GoogleService file since I was able to authenticated via Phone Number without seeing the recaptch

[2018-07-23 05:23] 24601 opened #1574 "Adding Firebase/Firestore Creates EXC_BAD_ACCESS"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 9F2000
  * Firebase SDK version: 5.4.0
  * Firebase Component: Firestore (Auth, Core, Database, Firestore, Messaging, Storage, etc)
  * Component version: 0.12.5

### [REQUIRED] Step 3: Describe the problem
Swift application works just fine until adding Firebase/Firestore. Then on startup it throws an EXC_BAD_ACCESS. Remove Fires

[2018-07-23 14:04] paulb777 commented on #1341
@var-const Thanks for finding the root cause. The CocoaPods bug fix is now merged into master and will be part of the CocoaPods 1.6.0 release.  In the meantime, the workaround is to add `-ObjC` to `OTHER_LDFLAGS`.

[2018-07-23 14:04] #1341 closed

[2018-07-23 14:20] wilhuff commented on #1574
Your supposition is correct: BoringSSL and OpenSSL can't be statically linked in the same binary, since they export nearly the same symbols.

Firestore uses gRPC which in turn uses BoringSSL. It's known to work with OpenSSL, so it's possible you could exclude BoringSSL from the build and have this work. Unfortunately, I couldn't find any easy way to resolve this with CocoaPods. @paulb777 do you ha

[2018-07-23 14:50] ryanwilson commented on #1547
@gbsendhil are you able to provide a sample project at all that reproduces the crash?

[2018-07-23 15:00] herrernst commented on #1561
Ok, I've now looked at it a little bit more and added some more logging to the test case at https://github.com/herrernst/firebase-ios-sdk/tree/subscribing-bug.
When running the example app at first time, these things happen in order:
* `didReceiveRegistrationToken` is called with an FCM token
* When the button gets clicked, after confirming notification authorisation, topic subscription is called.

[2018-07-23 16:02] 24601 commented on #1574
Thank you, @wilhuff and @paulb777, for the quick and helpful response. It is much appreciated.

I am giving the suggestion a try, at first blush replacing BoringSSL with OpenSSL isn't exactly helping and creating other issues, but I'm going to work through those to see if those are addressable. It seems like the BoringSSL v. OpenSSL thing is a can of worms/hard stop so hopefully this is at least a

[2018-07-23 16:57] morganchen12 commented on #1566
How did you integrate phone auth into your app? Without auth notifications, does it still work with captcha?

[2018-07-23 17:32] wilhuff commented on #1574
The intent is that gRPC is compatible with both BoringSSL and OpenSSL. If you look through commit and issue history in the gRPC repo, you'll see that they take that compatibility very seriously.

For most users that don't care or don't otherwise use OpenSSL we believe BoringSSL is a better default choice. Unfortunately this creates a problem for users like yourself that are otherwise using OpenSSL

[2018-07-23 17:32] #1574 closed

[2018-07-23 17:34] 24601 commented on #1574
@wilhuff - thanks for the insight and knowing that you guys will continue to think of/mind the needs of users needing to use OpenSSL is really helpful in committing to develop/use against services like Firebase, etc.

I think I have a solution...I'll share when I fully verify.

[2018-07-23 17:48] baolocdo commented on #1536
So I have just tested with iOS 8 with Firebase and Analytics SDKs that only implements iOS 9 openURL handler and I couldn't reproduce similar result. The iOS 9 was not called. I'm suspecting it's the Analytics problem, and Dynamic Links might behave differently. Can you provide the Podfile? Thanks.

[2018-07-23 18:01] richardliveraise commented on #1543
@morganchen12 Did you get the info needed from the support ticket? I sent it out a week ago, but no update there. I also tried to update to the latest SDK and the token still gets invalidated after 3 days (without opening the app after the token was generated)

[2018-07-23 18:56] morganchen12 commented on #1543
I haven't seen it. Can you email me your project directly? I'm morganchen@

[2018-07-23 23:06] baolocdo commented on #1536
@ghugues : Have you tried unlinking DynamicLinks? If it works as intended after taking DynamicLinks, I suspect it is the problem, not Analytics.

[2018-07-23 23:12] morganchen12 commented on #1543
@richardliveraise can you share one or more tokens that were unregistered early?

[2018-07-24 01:36] greggmojica opened #1577 "disable catcha on iOS"
is it possible to disable the captcha using phone auth and if so, how? I've found very limited docs on this matter. thank you.

[2018-07-24 02:09] greggmojica commented on #1577
Nvm, turns out you have to turn on background app refresh in xcode capabilities. I felt this was poorly documented.

[2018-07-24 02:09] #1577 closed

[2018-07-24 03:46] ghugues commented on #1536
I haven't, but yes the problem most probably comes from `DynamicLinks`. I initially framed this as an `Analytics` bug because the call was coming from `FIRAAppDelegateProxy`, but the stack trace clearly shows that the culprit is indeed `DynamicLinks`. I have updated the issue description since then.

[2018-07-24 09:30] Francescu commented on #147
Background uploads shouldn't be (only?) manually performed like suggested in https://github.com/firebase/firebase-ios-sdk/issues/147#issuecomment-318427481

IMO in most of the case, if an `uploadTask` is uploading while the user is leaving the app in background, a background upload should be automatically triggered (if enabled by a flag in the `uploadTask`).

[2018-07-24 14:10] marcbaldwin commented on #1518
@mikelehen @schmidt-sebastian sorry for the delayed response, I've been away on holiday.

@mikelehen calling `doPruneCheckAfterServerUpdate` from `applyUserWrite` still won't help unless our app performs 1000 writes or we change the if statement to account for the number of tracked queries.

[code]

[code]

Thanks!

[2018-07-24 15:08] watson-yu commented on #990
Thanks to @xaverlohmueller, adding GoogleToolboxForMac.framework fixed my problem.

[2018-07-24 19:07] mikelehen commented on #1518
@marcbaldwin Hrm.  Are you saying that your app is _not_ doing more than 1000 writes?  From your original statement about having 200,000 tracked queries, my assumption was that the pruning would kick in every time you reached ~1000, which should be sufficient to keep the performance good.

`self.trackedQueryManager.numberOfPrunableQueries` is an O(n) operation (it requires walking all of the track

[2018-07-24 20:10] tejasd commented on #1570
Fixed in https://github.com/firebase/firebase-ios-sdk/pull/1578.

[2018-07-24 20:10] #1570 closed

[2018-07-24 20:15] visumickey commented on #1540
This will be fixed in the upcoming release of Firebase Performance.

[2018-07-25 00:00] morganchen12 commented on #1543
Looks like your tokens are being replaced, while still valid, by new tokens. Can you send a currently valid token? This way we can check what's causing it to be refreshed while still valid.

[2018-07-25 00:15] mikelehen commented on #1518
Out of curiosity, how many app sessions does it take for your app to hit 200,000?  I assumed there must be some action in your app that triggers a large number of writes and hopefully it'd (at least periodically?) exceed 1000 and the pruning would kick in.  It's not foolproof but I would expect it'd be good enough for most apps.

But yeah, persisting serverCacheUpdatesSinceLastPruneCheck would be

[2018-07-25 00:15] richardliveraise commented on #1543
@morganchen12 I sent the valid token to your email. Thank you!

[2018-07-25 00:29] richardliveraise commented on #1543
Do you know when this started happening? I noticed this in the last 2 weeks. I wonder how long this has been going on for our users.

[2018-07-25 08:13] marcbaldwin commented on #1518
Depends on the user, but a few months most likely. Thing is even with 50,000 tracked queries it's still ~30 seconds of start-up time.

Anyway, if we perform the prune check on writes, I could just put a dirty hack in to our app to perform 1000 writes for users who are experiencing an incredibly slow start-up time.

I'll make a PR for the call to `doPruneCheckAfterServerUpdate` from `applyUserWrite

[2018-07-25 11:31] nikolas-theodosis opened #1581 "FirebaseApp.configure(options: FirebaseOptions) crashes app"
* Xcode version: 9.4 (9F1027a)
  * Firebase SDK version: 5.0.0
  * Firebase Component: Core
  * Component version: 5.0.0

I am using FirebaseApp.configure(options: FirebaseOptions) since I don't want to use the GoogleService-Info.plist file. Instead, the necessary keys to configure Firebase come from my host server. If the keys received are valid there is no problem at all. However, a slight chang

[2018-07-25 15:20] mvorisis commented on #431
Hi is the flag added in info.plist to the 5.4.1 version? Thanks!

[2018-07-25 15:44] ryanwilson commented on #1535
`GoogleUtilities` will be released out of band, closing this issue.

[2018-07-25 15:44] #1535 closed

[2018-07-25 15:46] marinofaggiana opened #1585 "_OBJC_CLASS_$_GULAppEnvironmentUtil"
`Undefined symbols for architecture arm64:
  "_OBJC_CLASS_$_GULAppEnvironmentUtil", referenced from:
      objc-class-ref in FirebaseCoreDiagnostics(FIRDiagnostics_afb9975b7573ce8caa0e4380e6bfbe31.o)
  "_OBJC_CLASS_$_GULNetwork", referenced from:
      objc-class-ref in FirebaseCoreDiagnostics(FIRClearcutLogger_45763904baa6658ff86b47cac2ab23e7.o)
ld: symbol(s) not found for architecture arm64
clan

[2018-07-25 16:05] mvorisis commented on #431
Hi I updated the firebase but I don't see this flag. Will it be in the project's info.plist or somewhere else? Thanks for your quick response

[2018-07-25 16:44] morganchen12 commented on #431
You'll need to add the key-value pair in the plist yourself.

[2018-07-25 16:45] morganchen12 commented on #1585
Your app is missing the `GoogleUtilities` framework.

[2018-07-25 16:47] morganchen12 commented on #1581
It's currently not possible to conditionally skip Firebase configuration. You also shouldn't be modifying the keys used to configure Firebase. Waiting for a network request will delay Firebase configuration as well, which may cause you to lose some Analytics data. What's your use case for this?

[2018-07-25 16:50] morganchen12 commented on #1543
Not sure yet. It looks like your app is sending up frequent requests to register a new token, though this may not be the root cause of the issue (since your app has always been doing this and this has only been an issue recently).

Can you pin down any repro steps for this issue or share your codebase?

[2018-07-25 17:39] nikolas-theodosis commented on #1581
I see your point but let me rephrase my question. Is it possible to catch the exceptions thrown by Firebase? I assume a delegate should be available to allow each user to choose how to handle these exceptions. Being unable to configure/initialise Firebase shouldn't lead to app crash.

[2018-07-25 17:41] morganchen12 commented on #1581
This is currently unsupported by Firebase.

[2018-07-25 17:43] nikolas-theodosis commented on #1581
I see...Thank you for your help!

[2018-07-25 17:43] #1581 closed

[2018-07-25 17:53] paulb777 commented on #1585
@marinofaggiana Are you integrating from the zipfile?  There might have been a packaging failure in creating the 5.4.1 zipfile.

If so, a workaround could be removing FirebaseCoreDiagnostics from the set of libraries added to the project.

@morganchen12 Firebase usage of the GoogleUtilities framework has not released yet.

[2018-07-25 18:07] richardliveraise commented on #1543
@morganchen12 Which request do you mean? Is it [[UIApplication sharedApplication] registerForRemoteNotifications]; ? I tried calling this multiple times, but the delegate returns the same token.
If the app is open and new token is generated, It will send the new token to the backend, so it's not an issue.

The app is not active when the token gets invalidated, so there shouldn't be any request mad

[2018-07-25 18:20] marinofaggiana commented on #1585
thanks @paulb777 I have remove FirebaseCoreDiagnostics and the issue is closed, but without FirebaseCoreDiagnostics exists a few future problem ? We use Firebase only for push notification  (Analytics and messaging).

[2018-07-25 18:23] mikelehen commented on #1518
So thinking about this fresh today, I have a new suggestion (a tweak of previous things discussed above).

I don't want to call `self.trackedQueryManager.numberOfPrunableQueries` after every server update / write, but it would probably be fine to call it once at startup since startup already did the O(n) work to load the trackedQueries from persistence...  but I don't want to do the `serverCacheEs

[2018-07-25 18:29] paulb777 commented on #1585
@marinofaggiana There should not be problems for you.

I'll work on publishing a corrected zip in the next day or two so others do not run into the problem and will keep this issue open until then.

[2018-07-25 18:33] marinofaggiana commented on #1585
Thanks a lot @paulb777 for your job.

[2018-07-25 18:50] morganchen12 commented on #1543
Do you have any explicit calls to InstanceID in your code?

[2018-07-25 18:58] richardliveraise commented on #1543
@morganchen12 No, I dont. Should I?

[2018-07-25 19:07] richardliveraise commented on #1543
Also, from the docs, "Either at startup, or at the desired point in your application flow, register your app for remote notifications"

From the sample code, this code is called every time app is launched.

[2018-07-25 19:52] morganchen12 commented on #1543
You don't need any explicit calls to the InstanceID API. Let me check and I'll get back to you on the second question.

[2018-07-25 20:12] chliangGoogle commented on #1561
You are right, you should be able to call subscription any where not necessary inside the callback.

When subscription failed, the error (501) returns in the completion block. This is the case happened to you. So even if you get a token later, the completion block will not be triggered again since it's already returned with an error.
And Yes I meant the completion block of subscribeToTopic.

@morg

[2018-07-25 20:22] morganchen12 commented on #1543
Looks like there's nothing wrong going on in your code. Are you able to reproduce this with the Messaging quickstart repo?

[2018-07-25 22:05] richardliveraise commented on #1543
@morganchen12 I'll look into that. Can you tell me what triggers the token to be refreshed? Is this coming from client side?

[2018-07-25 22:21] morganchen12 commented on #1543
Messaging should request a token on every app start, but this is normal and should usually return an existing token instead of generating a new one. If you send the logs, we'll be able to discern more clearly.

[2018-07-25 22:29] richardliveraise commented on #1543
@morganchen12 The last active token I sent you was just invalidated. As of 20 minutes ago, it was still working. I'm quite certain this has nothing to do with client side. Do you see anything on the backend ?

[2018-07-25 22:44] richardliveraise commented on #1543
@morganchen12
1. What is the trigger that set the token to Not Registered state on your end?
2. My understanding is APN will issue deviceToken to client, which will be converted to FCM token from the client. The SDK then will send this to Firebase backend. So unless the client make a request and updating that token, the FCM token should still be valid, is this correct?

[2018-07-26 00:00] Maikol commented on #1403
@morganchen12 I'm having the same issue.
Any update? Thank you

[2018-07-26 11:40] ElectroBuddha opened #1590 "Cocoapods: Installing 'Firebase/Messaging' together with 'google-cast-sdk' produces a lot of 'Class <XxXXx> is implemented in both' warnings"
* Xcode version: 9.4.1
  * Firebase SDK version: 5.4.1
  * Firebase Component: Messaging
  * Component version: 3.0.3

### DESCRIPTION:

When framework  'Firebase/Messaging' (version 3.0.3) is installed together with 'google-cast-sdk' (version 4.3.0), building the app produces massive amount of these messages in debug console:

`Class GPBInt32Array is implemented in both /[PATH_TO_APP]/Frameworks/

[2018-07-26 12:14] aleh opened #1591 "Firestore: deleted documents briefly reappear in cached snapshots"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 9.4 (9F1027a)
  * Firebase SDK version: 5.4.1
  * Firebase Component: Firestore
  * Component version: 0.12.6

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

- Set up a query on any subcollection with a limit smaller than the number of elements in the subcollection already, for example, 5.

- Delete one of

[2018-07-26 17:22] morganchen12 commented on #1543
1. Registrations can be deleted if a new registration of the same type is generated or if the client causes the registration to be deleted (i.e. by deleting the InstanceID, by restoring the device from backup, or by reinstalling the app)
2. The APNs token is sent by the client to the IID backend as part of the register request; the backend then returns a valid FCM token.

- Can you provide some va

[2018-07-26 17:45] morganchen12 commented on #1590
Looks like GoogleCast packages Protobuf instead of pulling it in via CocoaPods.

[2018-07-26 17:57] mikelehen commented on #1591
This is likely a dupe of https://github.com/firebase/firebase-ios-sdk/issues/1045 and tracked internally by b/33446471.

[2018-07-26 18:42] sicbb commented on #1045
Same issue here and it's very annoying.

`listener = Firestore.firestore().collection("categories").whereField("userId", isEqualTo: currentUser.uid).addSnapshotListener() { (snapshot, error) in
            if let snapshot = snapshot {

                snapshot.documentChanges.forEach({ diff in

                    print(snapshot.metadata.isFromCache, snapshot.metadata.hasPendingWrites)

[2018-07-26 18:52] morganchen12 commented on #1590
Filed b/111884913 to the GoogleCast folks.

[2018-07-26 19:42] richardliveraise commented on #1543
@morganchen12
1. What do you mean a new registration of same type is generated?
2. If the client is completely closed, still installed, and no update, what other triggers that could affect the registration?
3. Did we learn anything from the last active token I sent you? Is it getting replaced with new token?

Can you provide some valid FCM tokens from other installations of this app?
Yes, I sent i

[2018-07-26 20:01] aleh commented on #1591
@mikelehen Yes, we've been told that this was something known when were reporting this via the Firebase support channel. We thought that a workaround ignoring cached snapshots would fix this for us so we ignored this issue for a while.

Recently we've discovered that in some cases the workaround makes things worse because then we can miss actual document deletes sometimes and then the app can be t

[2018-07-26 20:09] richardliveraise commented on #1543
Also, the fact that its consistently gets invalidated between 2-3 days is so weird. It's not 1 day, not 4 days.

[2018-07-26 20:10] mikelehen commented on #1591
Thanks @aleh! Yeah, I have no complaint with you filing a dupe, and sorry progress has been slow here.  The fix involves a large refactor and potentially storing additional data in our persistence cache (which means schema changes which are painful to make).  But you're right that this is an obvious flaw when you hit it (it mostly comes up with limit queries + deletes) and we appreciate the extra

[2018-07-26 20:20] paulb777 commented on #1585
The zip has now been updated. The correct version has an `ls -l` size of 455024108.

[2018-07-26 20:20] #1585 closed

[2018-07-26 21:00] morganchen12 commented on #1543
1. This effectively means when a new token is generated for your instance (app install).
2. In this case it must be some internal process that's causing the app instance to be unregistered. We haven't quite pinned this down yet.
3. The last token sent was deleted without a new token being generated (as if the app was uninstalled), which indicates it's _probably_ a bug on the FCM side. Unfortunatel

[2018-07-26 21:44] SheldonWangRJT opened #1594 "Support for Codable JSON parsing with JSONDecoder"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2018-07-26 23:03] richardliveraise commented on #1543
@morganchen12
1. Will it help if we switch over to APNs Authentication Key?
2. If we use APNs Authentication Key, will existing FCM tokens still works?
3. Do we need to delete existing APNs certificates from Cloud Messaging settings if we update to APNs Authentication Key?

Thank you!

[2018-07-27 08:50] aleh commented on #1591
@mikelehen All our queries on subcollections are limited and I believe that's the normal use case in production apps. I guess I need to demo the case when ignoring the cached data is not working.

[2018-07-27 09:22] ShahbazAli46 commented on #1566
actually i am just using phone auth, and for phone, you just have to enable
user notification, phone auth is sent over sms.. and it works fine in debud
mode..

but when i have uploaded it, it does not work in release mode.

On Mon, Jul 23, 2018 at 9:57 PM, Morgan Chen <notifications@github.com>
wrote:

--
ONLY YOU

[2018-07-27 09:30] marcbaldwin commented on #1518
That sounds good to me. Are you going to do this or shall I?

[2018-07-27 12:23] gerchicov-bp commented on #1339
@morganchen12
As I understand `didReceiveRegistrationToken` method simply doesn't exist at all.

So it seems everything is correct except of the documentation:
https://firebase.google.com/docs/cloud-messaging/ios/client

Fix the documentation please

[2018-07-27 15:10] dyegos commented on #875
Hi,

This issue is happening with me on iOS 11.4.2 and also iOS 10. I'm always getting "my_custom_scheme://google/link/?dismiss=1&is_weak_match=1" when the App is killed and I open it via dynamic link. How can we know where's the problem?

[2018-07-27 16:08] mikelehen commented on #1518
If you don't mind putting together a PR, that'd be great.

[2018-07-27 20:30] morganchen12 commented on #1543
1. It's possible, but uncertain at this point. We're investigating the possibility of token invalidations being forced as a result of APNs token changes on the client, so you may want to hold off until those investigations finish.
2. Unlikely, but I'm not entirely sure.
3. Yes.

[2018-07-29 09:17] ShahbazAli46 commented on #1566
in my all checks it worked,

but client was in Sauidi Arabia, he said... noooo.. its not working..

On Sat, Jul 28, 2018 at 1:27 AM, Morgan Chen <notifications@github.com>
wrote:

--
ONLY YOU

[2018-07-30 09:55] tclarke-scottlogic opened #1602 "Bug: React native app crashing (since updating build environment to High Sierra 10.13.6)"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 9.4.1
  * Firebase SDK version: 4.13.0 (as per [react-native-firebase@4.1.0](https://github.com/invertase/react-native-firebase-docs/blob/master/docs/getting-started.md))
  * Firebase Component: Messaging? (Unsure, based on exception)

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

* Build application

* S

[2018-07-30 13:21] otondin commented on #1585
I was in pain for a week with this issue! Thank a lot for the fix @paulb777! I owe you a cup of coffee! 😄 ☕️

[2018-07-30 13:59] tclarke-scottlogic commented on #1602
Potentially related code:
[code]

[2018-07-30 14:18] SMorozovMinsk commented on #10
Question about Firebase Analytics for tvOS. I don't understand.  Can I use last version of FirebaseCore for tvOS for Firebase Analytics? Now I add sdk to my tvOS app and try to start it, But every time I have "1671911] 5.0.0 - [Firebase/Core][I-COR000022] Firebase Analytics is not available."

[2018-07-30 15:42] marcbaldwin commented on #1518
@mikelehen trying out your suggestions.

If a prune is performed on start-up, the start-up time is just as bad as it was before! (I think it's O(n) where n is the number of items in the Database). So if during an app session there are >1000 writes/reads, they'll always get poor startup performance!

Looking at the prune function you can see it's incredibly inefficient (someone even left a TODO the

[2018-07-30 16:06] mikelehen commented on #1518
Oh, yes. pruning is O(n) and that's probably not avoidable... at least not without a rewrite which is unlikely to happen.

But if we prune on startup, then you should stay under 1000 queries, which should be pretty fast to prune, right?  In other words, yes you'll have O(1000) startup delays occasionally, but you'll never reach O(200k) like you're hitting right now.

Or are you saying that occasio

[2018-07-30 16:58] marcbaldwin commented on #1518
Yeah because pruning is O(number of entries in database) NOT O(number of prunable queries) it takes a loooooong time if your database has a lot of entries!

[2018-07-30 17:57] mikelehen commented on #1518
Typically "number of entries in database" is proportional to "number of tracked queries" but if you have persisted queries with many results, there could be a lot of entries.

I am indeed getting scared that we can't make this change...  but I'm curious what kind of delays you're seeing for your use case.

[2018-07-31 12:05] herrernst commented on #1561
@chliangGoogle Thanks for investigating this! BTW, I get this error regardless of `FirebaseMessagingAutoInitEnabled` being set in Info.plist

[2018-07-31 15:41] tclarke-scottlogic commented on #1602
@Salakar Already have done. I now have more information on the crash. It is down to `FIRMessagingDataMessageManager` expecting a dictionary when it's deserialised a string...

The lines in question are:
[code]

`po [message[kDataMessageNotificationKey] class]` in the debug console comes out as `__NSCFString`

`key` is `'e'`

message is:
[code]

[2018-07-31 15:53] tclarke-scottlogic commented on #1602
From server team:

[code]

[2018-07-31 15:53] tclarke-scottlogic commented on #1602
Oh, also, updated to firebase 4.3.1 and thus FirebaseSDK:

[code]

[2018-07-31 15:57] Salakar commented on #1602
@tclarke-scottlogic given the stack trace is internal to the Firebase SDK and that the error is on receiving a remote message I'm fairly confident it's unrelated to React Native Firebase's implementation of this.

Not sure why but it looks like `data.notification` in the message data payload is getting picked up at the root of the message as `notification` - which expects a dictionary, potential c

[2018-07-31 16:03] Salakar commented on #1602
Looks like it's these lines specifically on the iOS SDK: https://github.com/firebase/firebase-ios-sdk/blob/master/Firebase/Messaging/FIRMessagingDataMessageManager.m#L173-L176

Does seem to appear based on a quick glance of the code above you can also send a notification inside the data payload, whether that's intentional though I'm not sure.

[2018-07-31 16:12] tclarke-scottlogic commented on #1602
What's really weird is that I'm not getting these crashes on the phone itself, merely the simulator.

[2018-07-31 16:13] tclarke-scottlogic commented on #1602
And it apparently hasn't changed in a while. The main change on the client side specific to the simulator is an update to High Sierra 10.13.6 OS.

Could this have changed how notifications are processed?

[2018-07-31 21:01] leobmaffei commented on #1566
Some of my clients are also experiencing the same issue. Any update?

[2018-07-31 23:33] chliangGoogle commented on #1573
Error 1003 is a upstream error when you try to send a upstream message with empty to address.
https://github.com/firebase/firebase-ios-sdk/blob/master/Firebase/Messaging/NSError%2BFIRMessaging.h#L45

Can you send me your debug log so I can take a look?

[2018-07-31 23:40] richardliveraise commented on #1543
@morganchen12
Can you please confirm if updating to APNs Authentication Key will invalidate existing FCM tokens or not? I'd like to try updating it, but I don't want it to invalidate the valid tokens.

Also, what could cause APNs token changes on the client? Shouldn't this be long lived?

[2018-07-31 23:47] chliangGoogle commented on #1543
Did you happen to use the offloading feature of the iOS? https://www.theverge.com/2017/6/7/15752132/ios-11-storage-deleting-apps-messages-photos

If that happens, it will invalidate your apns token which cause fcm token to be invalidated as well. You will need to delete existing one and refresh a new one from server.

If your tokens are still being invalidated every two days, I say it doesn't hurt

[2018-08-01 00:07] richardliveraise commented on #1543
@chliangGoogle

no, I don't have offloading features enabled.
We're still monitoring this issue on our end, I see some tokens that are still valid after 5 days.
So I don't want to update to APNs Auth key if it will invalidate those remaining valid tokens.

Also, I'm receiving push notifications from other apps even those I don't open it for more than a week.

[2018-08-01 00:32] mhs2342 opened #1613 "Ambiguous reference to member 'setValue(_:withCompletionBlock:)'"
* Xcode version: 9.4.1
  * Firebase SDK version: 5.4.0
  * Firebase Component: Database
  * Component version: 5.4.0

I am trying to write a simple query to my real-time database and handle the error that might exist in the completion handler at the call site by throwing the error but when I try to throw the error, I get an `Ambiguous reference to member 'setValue(_:withCompletionBlock:)'` error i

[2018-08-01 09:44] tclarke-scottlogic commented on #1602
@Salakar A thought occurs. I assume the simulator itself isn't getting these notifications, it's getting them via the Mac?
So is this the Mac pre-processing incoming notifications differently?

[2018-08-01 09:45] tclarke-scottlogic commented on #1602
Because that might *also* explain why I'm still getting the crash (with the same stack) when my app in the simulator has notifications disabled, which has not helped with diagnosing the root cause of this issue.

[2018-08-01 10:17] vijay444 opened #1614 "read data slow for large database in firebase in ios"
I am using firebase for my Chating app. I store all information about the user from there. Normally if Firebase database does not have large data it gives a quick response. But once data is an increase in the database it becomes too slow. The same database is working perfectly on my android app. Please help me with solving this issue.

I am using the following method for fetching data from firebas

[2018-08-01 12:50] den330 opened #1615 "Sign up with email crashes the app"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2018-08-01 14:12] sjavora opened #1616 "Dynamic links not working on first launch"
* Xcode version: 9.4
  * Firebase SDK version: 5.4.1
  * Firebase Component: FirebaseDynamicLinks
  * Component version: 3.0.1

iOS 11.4

1. tap on dynamic link
2. app store opens
3. install app through Xcode
4. App Delegate `application(_:open:options:)` is called
5. `url` is always `<scheme>://google/link/?dismiss=1&is_weak_match=1`
6. Tried switching cellular/wifi, tried different devices, trie

[2018-08-01 15:01] bond- commented on #1574
@24601 Did you ever fix it. I am having a similar issue: https://github.com/grpc/grpc/issues/16181

[2018-08-01 21:32] ryanwilson commented on #1614
Hi @vijay444,

Can you give some information about what Firebase version you are using, and what iOS version this is on?

Also, how big is the database being pulled in? Is it highly nested, or is it flat?

[2018-08-01 21:35] ryanwilson commented on #1615
Hi @den330,

Firebase 4.1.1 was released back in August of 2017 and the Auth API has been updated quite a bit since then. Are you able to update Firebase and see if this issue still persists?

[2018-08-01 23:50] 24601 commented on #1574
@bond here's the reader's digest of the solution I found to work best.

First, clone the gRPC repo or download the *.podspec files in the repo (you don't need the whole repo, just the .podspec files in the top level). https://github.com/grpc/grpc

Second, place these in the root of your project or some folder, your choice, just remember where you put them.

Third, edit gRPC-Core.podspec and replac

[2018-08-02 00:43] mikelehen commented on #1591
@aleh Hey, I'm really sorry but it turns out I was wrong.  The underlying issue here is not what I originally thought.  After debugging through this it turns out there's a relatively simple cause for your symptom and I've put together a fix in https://github.com/firebase/firebase-ios-sdk/pull/1622.  I've tested with your repro (thanks very much for providing it!) and the flickering issue seems to

[2018-08-02 02:16] #1591 closed

[2018-08-02 04:32] vijay444 commented on #1614
Thank you for giving me reply sir.
We are using Following Firebase version here

- Using Firebase (4.13.0)
- Using FirebaseAnalytics (4.2.0)
- Using FirebaseAuth (4.6.1)
- Using FirebaseCore (4.0.20)
- Using FirebaseDatabase (4.1.5)
- Using FirebaseInstanceID (2.0.10)
- Using FirebaseMessaging (2.2.0)

We are using ios os version as follow

- IOS 10.3.3
- iOS 11.4.1

Our Firebase database is big.

[2018-08-02 08:49] aleh commented on #1591
@mikelehen Thanks a lot! That's just in time before our release. We'll test it.

By the way, I have not got around to demo problems with "ignore cache" workaround in online mode, but have seen it in offline mode: just remove a couple of items and then notice that ignored cached snapshots won't allow to update your UI.

[2018-08-02 08:52] GauravT9l opened #1624 "Crash : Audience filter count out of range"
**Environment**
  * Xcode version: 9.4.1
  * Firebase SDK version: 5.2.0

 **Describe the problem**
Every time I open the app go the same issue/crash

` 5.2.0 - [Firebase/Analytics][I-ACS006009] Audience definition is invalid. Audience will not be saved. Audience, error: <FIRAPBAudience: 0x604000203860>, Error Domain=com.google.gmp.measurement.ErrorDomain Code=9 "Audience filter count out of range

[2018-08-02 10:12] aleh commented on #1591
@mikelehen It seems to be working however I have a backend connectivity issue when using the recent library:

[code]

If I switch back to the official release, then it connects without any problems, switching again and it fails all the time.

My Podfile:

[code]

[2018-08-02 10:43] tclarke-scottlogic commented on #1602
I'm trying to find out how FCM notifications get into the simulator, because despite having updated to a different name (as per @Salakar's suggestion), we're still getting this error.

[2018-08-02 11:30] nikeshakya commented on #1616
this issue is same as https://github.com/firebase/firebase-ios-sdk/issues/1403
it has been open for so long...
why aren't you guys taking care of this ?
this is critical...!!!!

[2018-08-02 13:37] mikelehen commented on #1591
I ran into that too.  It happens with or without my fix when you build against the current bits from master. I haven't dug into it yet so I'm not sure if there's an actual bug in master or if there are just changes in master that prevent picking out components in your Podfile like that right now.

For now, I just threw up a branch that's synced to the latest release + cherry-picking my fix.  So yo

[2018-08-02 14:16] aleh commented on #1591
@mikelehen Your branch is working properly. Thanks!

[2018-08-02 19:31] viniciusfont commented on #591
Hi, did you solve the problem? My application was working normally, but out of nowhere, it started to return white page from recaptcha.

[2018-08-02 20:37] handu commented on #591
@viniciusfont Mine too. Have you figured out what the problem is?

[2018-08-02 20:47] viniciusfont commented on #591
@handu Not yet. As I'm using react-native, I opened an issue on react-native-firebase repository, in the hope of getting an awnser. [https://github.com/invertase/react-native-firebase/issues/1363](https://github.com/invertase/react-native-firebase/issues/1363)

[2018-08-02 21:14] viniciusfont commented on #591
It worked, apparently it was a temporary problem.

[2018-08-02 21:37] chliangGoogle commented on #1543
we suspect your apns token is invalidated, you can double check by sending notification using apns token only.
Or in your delegate application:didRegisterForRemoteNotificationWithDeviceToken: see if your apns token has changed every time you failed sending push notification.

[2018-08-02 21:53] richardliveraise commented on #1543
@chliangGoogle ok, I'll check that out. What could cause the apns token gets invalidated though? With no app update, no OS update, app is closed. it doesnt make any sense.

[2018-08-03 01:38] mono0926 commented on #1477
I noticed that [Firebase 5.5.0](https://github.com/firebase/firebase-ios-sdk/releases/tag/5.5.0), which contains [Firestore-0.13.0](https://github.com/firebase/firebase-ios-sdk/releases/tag/Firestore-0.13.0), was released and I tried to use it.

I was troubled with this performance issue before v5.5.0, but after updated to v5.5.0, it seems to be fixed 👍

[2018-08-03 06:24] nikeshakya commented on #1616
@ryanwilson when will fix for this come ?
been waiting for months now...

[2018-08-03 12:37] MateuszKarwat commented on #1561
@chliangGoogle @herrernst I'm also facing this issue. Usually, I subscribe to 4 topics at some point and indeed the 1st one fails on a first launch with error code `501`.

I use default values for both `shouldEstablishDirectChannel` and `FirebaseMessagingAutoInitEnabled`. In fact, I don't have such strings in my code whatsoever. Also, I use the same versions which @herrernst uses.

Let me know, if

[2018-08-03 13:54] wilhuff commented on #1591
The fix for this issue was released as part of Firebase 5.5.0.

[2018-08-03 14:59] ryanwilson commented on #1540
Firebase Performance was updated in Firebase 5.5.0.

[2018-08-03 14:59] #1540 closed

[2018-08-03 15:07] baolocdo commented on #1624
Please ignore this. This is a known bug from the BE, not the SDK but it won't interfere with the normal operation of the SDK. Sorry for the confusion :(

[2018-08-03 15:10] wilhuff commented on #1590
It looks like https://issuetracker.google.com/72219403 was already filed about this issue and we're just waiting on a new release of the cast SDK.

[2018-08-03 15:10] #1590 closed

[2018-08-03 15:11] baolocdo commented on #1536
Please update to the latest SDK versions and let us know whether it is still a problem. Thanks

[2018-08-03 15:12] baolocdo commented on #1487
Can you please upgrade to the latest SDK Firebase 5.5.0 and let us know whether you still see any of the crashes? Thanks

[2018-08-03 15:13] wilhuff commented on #1477
This fix was released as a part of Firebase 5.5.0.

[2018-08-03 15:13] #1477 closed

[2018-08-03 17:40] scottmas opened #1632 "Firestore blows up on GET {source: "cache"} if document exists in cache"
### Issue
When the data gets in a certain state (I don't know how), when I request a document with `{source: 'cache'}` that doesn't exist in the cache, the library blows up with the following error. While I am using React Native, the RN Firebase folks have triaged the issue and are relatively confident it's [not on their end](https://github.com/invertase/react-native-firebase/issues/1353).

Error

[2018-08-03 18:37] scottmas commented on #1632
Additional info: I can clean up the corrupted data by simply doing another request with `source: 'server'`. Then once I request `source: "cache"` again, it works fine.

So it's likely some discrepancy between the local database and the server.

[2018-08-03 18:47] wilhuff commented on #1632
Given step 1 of "Get your data in a corrupted state. Not sure how" this isn't going to be a terribly actionable bug.

Please try to narrow this down somehow. Does this happen with a certain kind of data? Duration?

Worst case, could you get a dump of the leveldb database if you find a document that has this behavior? We'll need the dump and a full name of the document (or the query you're running

[2018-08-04 15:02] denis-shienkov commented on #1585
Hi guys,

I'm too faced with this issue then I have upgraded OSX to Sierra 10.13.6 and XCode to 9.4.1 (with previous Sierra 10.12.6 && XCode 9.2 were all fine).

From where I need to remove the 'FirebaseCoreDiagnostics'? I use only following firebase libraries:

    # Linking for required firebase POD's frameworks.
    FCM_PODS_PATH = $$(GOOGLE_FIREBASE_PODS)
    message("FCM_PODS_PATH = $$FCM_POD

[2018-08-04 15:14] denis-shienkov commented on #1585
UPD: Seems I need to add and:

-framework GoogleUtilities

from the Analytics directory... O_o

[2018-08-05 13:55] AndriyGo opened #1636 "FirebaseApp.configure() memory leak"
### [READ] Step 1: Are you in the right place?

Yes

### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 9.4.1
  * Firebase SDK version: 5.5.0
  * Firebase Component: Core
  * Component version: 5.1.0

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

I have added `FirebaseApp.configure()` to `didFinishLaunchingWithOptions`. Now if I push another view controll

[2018-08-06 02:02] cysp opened #1639 "Firebase 5.5.0's dependency on GoogleUtilities/* conflicts with GoogleTagManager 7.0.0's"
### [READ] Step 1: Are you in the right place?

I think so? Judging by this previous issue for a similar problem: https://github.com/firebase/firebase-ios-sdk/issues/1384

### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 9.4.1
  * Firebase SDK version: 5.5.0
  * Firebase Component: Analytics
  * Component version: 5.1.0

### [REQUIRED] Step 3: Describe the problem

FirebaseAnal

[2018-08-06 07:06] GauravT9l commented on #1624
But I am getting this more often and this is not just error which I can ignore as that is producing a **crash** also.

[2018-08-06 08:33] kaannesinn commented on #1487
We have uploaded a new version for our two apps on Friday with Firebase SDK 5.4.1 in them and we have these issues now again for production.

http://crashes.to/s/8e7cb725692
http://crashes.to/s/2154c5982b6
http://crashes.to/s/798d175f66b

(for Firebase 5.4.1, FirebaseAnalytics 5.0.1, FirebaseCore 5.0.6, FirebaseInstanceID 3.1.1)

I think you have updated the SDK to 5.5.0 on the same day with us :/

[2018-08-06 11:00] aleh commented on #1591
@wilhuff Great, can confirm it works as well. Thanks a lot!

[2018-08-06 12:30] baolocdo commented on #1624
Hmm, I haven't seen the crash related to this message. Do you have any crash log related to this? Can you please provide some sample project so we can reproduce the bug? Thank you.

[2018-08-06 12:54] augusto-carmo opened #1640 "[RemoteConfig] Apple Mach-O Linker Error (using pods)"
* Xcode version: **9.4.1 (9F2000)**
  * Firebase SDK version: **4.13.0**
  * Firebase Component: **RemoteConfig**
  * Component version: **4.13.0**

---

### The problem

The project is not compiling after I have added the `Firebase/RemoteConfig` to my project (It worked when I tried to compile only the `Firebase/Core`).

Xcode throws 10 errors:

![image](https://user-images.githubusercontent.com/

[2018-08-06 15:01] paulb777 commented on #1639
Thanks for the report.  We plan to address this in the next release. In the meantime, a workaround is using the previous release of Firebase - `pod 'Firebase', '5.4.1'`

[2018-08-06 15:35] paulb777 commented on #1640
It looks like you have a mix of Firebase 4.x and 5.x pods.

Did you run `pod install` instead of `pod update`?

Is there any reason for locking to version `4.13.0` versus using the latest Firebase?

[2018-08-06 15:38] scottmas commented on #1632
I have a dump of the database and the query. What's the best way to get that to you?

[2018-08-06 17:08] dmandar commented on #1616
@nikeshakya The openUrl option is to be used only on iOS 8 and lower - can you confirm you are testing with the same?. Also, please make sure you have followed all steps mentioned here: https://firebase.google.com/docs/dynamic-links/ios/receive and reopen bug if it still reproes for you. Thanks.

[2018-08-06 17:44] morganchen12 commented on #1543
Apple's pretty vague about what can cause APNs tokens to be invalidated. In their [official documentation](https://developer.apple.com/library/archive/documentation/NetworkingInternet/Conceptual/RemoteNotificationsPG/HandlingRemoteNotifications.html#//apple_ref/doc/uid/TP40008194-CH6-SW1), they present some cases in which APNs tokens are guaranteed to be invalidated, but then hints that the device

[2018-08-06 18:22] #1566 closed, assigned to morganchen12

[2018-08-06 18:30] baolocdo commented on #1636
I could reproduce this. Tracked internally at b/112265892. I have a fix for it and will have the fix in the next release

[2018-08-06 18:58] chliangGoogle commented on #1602
can you print out the dataMessage.appDataArray before the crash point?

Also it would be great to share with us both when running on app or simulator.

Because the server data payload is not corrected parsed it's hard for us to debug. It would be great to know which server API you use to send and what the exact payload you sent.

[2018-08-06 19:41] joaomelo81 opened #1643 "Cannot build app for distribution due to MLVisionTextModel not being bitcode compatible"
Environment:

  * Xcode version: 9.4 (9F1027a)
  * Firebase SDK version: 5.5.0
  * Firebase Component: MLVisionTextModel
  * Component version: 5.5.0 ?

Problem description:

When trying to build for app submission, with "Enable Bitcode" setting = true, I get this error and can't build for release.

ld: '/Firebase/MLVisionTextModel/TextDetector.framework/TextDetector' does not contain bitcode. You

[2018-08-06 20:27] mikelehen commented on #1632
Thanks for the report! I've reproduced the issue and believe I have a fix (see referenced PR above).

[2018-08-06 21:00] paulb777 commented on #1639
Internally tracked at b/112272935

[2018-08-06 21:29] paulb777 opened #1644 "Add travis pod lint --use-modular-headers phase"
When CocoaPods 1.6.0 is available, add a travis build phase to check --use-modular-headers with the pods.

Context at https://github.com/CocoaPods/cocoapods-trunk/pull/111

[2018-08-06 22:14] scottmas commented on #1632
Cool! Does this bug affect Android too? I'm not certain but I'm relatively sure I've experienced it on Android as well.

[2018-08-06 22:16] mikelehen commented on #1632
@scottmas It shouldn't crash, but it will probably give you a failed `Task` rejected with an error saying "Failed to get document from cache." rather than giving you a snapshot with `.exists()` false.  I'm working on porting the fix to web / Android right now.

[2018-08-06 22:37] scottmas commented on #1632
Okay great, what error code does it raise? I'm currently handling the code `firestore/unavailable` which is the code I'm currently handling when the document doesn't exist in the cache (in a non-blow-up scenario)/

[2018-08-06 22:50] mikelehen commented on #1632
Yes, that is the correct code although I'm not sure if/when you'd encounter it as a string `firestore/unavailable`.  On Android you'd be checking .getCode() against `FirebaseFirestoreException.Code.UNAVAILABLE` I believe.

[2018-08-06 23:08] scottmas commented on #1632
I'm using react-native-firebase, so they must do some translation layer like that.

[2018-08-06 23:37] morganchen12 commented on #1614
@vijay444 can you try updating to Firebase 5.0+ and seeing if the issue still persists?

[2018-08-07 01:32] michael-mckenna commented on #1614
You need to paginate your data. Rights now you are pulling in everything at once at that reference path. See https://firebase.google.com/docs/firestore/query-data/query-cursors

[2018-08-07 04:32] vijay444 commented on #1614
I am already updating firebase version and also I also implement pagination
here. but not work.

On Tue, Aug 7, 2018 at 7:02 AM michael-mckenna <notifications@github.com>
wrote:

--
--
*Thanks with Regard*
*Vijay Kachhadiya*

[2018-08-07 09:44] marcbaldwin commented on #1518
If a prune happens I was getting a delay of around 15 seconds for 1001 tracked queries, our app accumulates tracked queries pretty quickly, just not in one session, so perhaps every few sessions we'd get a start up time of around 15 seconds.

Do you guys have any time to look into this?

[2018-08-07 13:17] marat643 opened #1647 "Memory leak in [RCNConfigFetch URLSessionDataTaskWithContent:completionHandler:]"
### [READ] Step 1: Are you in the right place?
YES

### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 9.4.1
  * Firebase SDK version: 5.4.1
  * Firebase Component: FirebaseRemoteConfig
  * Component version: 3.0.0

### [REQUIRED] Step 3: Describe the problem
Memory leak in [RCNConfigFetch URLSessionDataTaskWithContent:completionHandler:]
(retain cycle)
![screen shot 2018-08-07 a