[2018-11-01 00:58] zeqinjie commented on #2019
@visumickey  @sarahedenyoung
"We are still getting crashes this morning".....me too

[2018-11-01 01:00] sarahedenyoung commented on #2019
Any updates?

[2018-11-01 01:02] zeqinjie commented on #2019
@sarahedenyoung  no update still FirebasePerformace v2.1.2. but i think it's a back-end problem. It's reasonable to say that no updated version should be able to solve the problem.

[2018-11-01 02:15] BranchS commented on #196
@morganchen12 Glad to hear it that the root cause was identified-- are you able to share it (just out of curiosity)? ETA yet for fix? Thanks so much for the continued work on this!

[2018-11-01 02:47] tache commented on #196
Hey thanks for getting on this.

[2018-11-01 10:45] gurhub commented on #2011
The Future of Fabric
Firebase is Google’s mobile development platform. It helps app teams succeed by providing tools to build better apps, improve quality, and grow your business. Now, it also includes Crashlytics, phone authentication, and more from Fabric.
We are integrating the best of Fabric into Firebase to give you one powerful platform. We’ll support Fabric until mid-2019, but we encourage

[2018-11-01 14:28] rafarbr commented on #2019
"We are still getting crashes this morning"

Using FirebaseCore (5.1.5)
Using FirebasePerformance (2.1.2)
Using FirebaseRemoteConfig (3.0.2)
Using FirebaseAnalytics (5.2.0)
Using FirebaseInstanceID (3.2.2)
Using FirebaseABTesting (2.0.0)

[2018-11-01 18:47] morganchen12 commented on #1953
We have some pending changes in this area that should address this crash. They're part of a larger partial rewrite change, though, so it'll be some time before they're released.

In the meantime, if anyone has repro steps, we can try to verify the fixes before release.

[2018-11-01 19:36] TwistedMinda commented on #1661
I was so happy to see that you are in the exact same state as I am...
Was so disappointed to see no response :(

I've been searching all day long to make that gRPC's gRPCCertificates.bundle build in the directory with the other Pods...

[2018-11-01 20:12] paulb777 commented on #1661
@TwistedMinda For static library pod installations, the resource copy happens in the app build phase instead of the Pod build phase -

![screen shot 2018-11-01 at 1 10 45 pm](https://user-images.githubusercontent.com/73870/47876905-ba69c080-ddd7-11e8-8df3-56d703564241.png)

[2018-11-01 20:30] TwistedMinda commented on #1661
Yes I know that for sure!

But still the file "$(PODS_CONFIGURATION_BUILD_DIR)/gRPC/gRPCCertificates.bundle" can't be found because it is created in my : Staging-iphoneos/ instead of Release-iphoneos/, and this is the only file doing that, all my other Pods build as I want in my Release-iphoneos/

therefore "$(PODS_CONFIGURATION_BUILD_DIR)", which points towards my Release-iphoneos/, won't find th

[2018-11-01 20:45] paulb777 commented on #1661
@TwistedMinda This sounds more like an issue with your particular project or perhaps CocoaPods usage or installation than with Firebase. Your description might be sufficient to get an answer on stackoverflow.

Either way, you may to share a reproducible example to get more help.

[2018-11-01 21:37] TwistedMinda commented on #1661
Well, finally I got it to work, I was missing the part of creating a new scheme, I was only creating a new build configuration and was not enough, but I still have the same problem as the creator of this conversation had...

It crashes whenever i call firebase.firestore(), but NOT when i call firebase.messaging(), this must be a Firebase issue, no?

Thanks again for your answers, i feel less alone

[2018-11-02 01:00] azeemse commented on #1888
Is this issue is resolved and Can I update my pods to the latest version now?

[2018-11-02 02:55] schmidt-sebastian commented on #1888
We are still working on the release. The fix will be out in the next couple of days.

[2018-11-02 03:05] paulb777 commented on #1888
The [milestone](https://github.com/firebase/firebase-ios-sdk/milestone/19) associated with this issue will be closed when 5.12.0 is published.

[2018-11-02 07:29] imRanjit commented on #2019
Team google, please fix this asap and tell us the solution. My app top 3 crashes.

Crash 1 - [FIRTrace updateTraceWithSessionId]_block_invoke
Crash 2 - [FPRNetworkTrace updateTraceWithCurrentSession]_block_invoke
Crash 3 - Crashed: com.google.perf.sessionIds.networkTrace

[2018-11-02 07:43] ilyon opened #2040 "Firebase download error Error Domain=FIRStorageErrorDomain Code=-13000"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2018-11-02 08:54] mberndt92 commented on #2019
@visumickey:
I can confirm that the crash is not happening with the latest version of the performance SDK (2.2)

[2018-11-02 09:37] taher-mosbah opened #2041 "Crash on Firebase init after reinstalling the application"
### Environment

  * Xcode version: 10.1
  * Firebase SDK version: 5.8.0
  * Firebase Component: (Core, Analytics, Messaging, Performance)
  * Component version: 5.8.0

### Problem

#### Steps to reproduce:

Upon a reinstall of the app, a crash occurs when launching Firebase
[code]

#### Crash :

[code]

If I relaunch the app I don't have the crash again.
Happens on debug and release.

[2018-11-02 10:05] morganchen12 commented on #2041
Can you share the crash message after the exception breakpoint? That will tell us which selector was sent to which class.

[2018-11-02 10:05] morganchen12 commented on #2019
Thanks for confirming, @mberndt92. I'll close this issue for now, but if anyone is still having issues, please feel free to continue commenting here.

[2018-11-02 10:05] #2019 closed

[2018-11-02 11:56] Horoshaya commented on #1846
Is it the best we can do to resolve this issue?

[2018-11-02 13:12] visumickey commented on #2019
@imRanjit Like I mentioned - Please update the Performance SDK to 2.2.0 to resolve this crash.

[2018-11-02 13:38] taher-mosbah commented on #2041
Sure, my bad

[code]

[2018-11-02 13:47] paulb777 commented on #2041
Please update to the latest version - currently Firebase 5.11.0. If the issue still occurs, let us know the contents of `Podfile.lock`.

[2018-11-02 13:52] taher-mosbah commented on #2041
I'm using Carthage, will update to 5.11.0 and let you know, thanks.

[2018-11-02 13:54] paulb777 commented on #2040
See https://github.com/firebase/firebase-ios-sdk/issues/1888#issuecomment-431544373 and the successive comment

[2018-11-02 15:20] taher-mosbah commented on #2041
Same crash with 5.11.0
Here is my Cartfile.resolved
[code]

[2018-11-02 15:30] paulb777 commented on #2041
@taher-mosbah The unrecognized selector is in a category.  Make sure that you've added -ObjC to the `Other Linker Options` Build Setting.

[2018-11-02 16:08] taher-mosbah commented on #2041
-ObjC fixed it for me, I created a new framework and I forgot to add it, thanks !

[2018-11-02 16:08] #2041 closed

[2018-11-02 17:55] ansonbtl commented on #1896
having same issue on iOS 11.3.1 device as well. other devices are working fine. but one specific device always having this error even after delete and reinstall. there must be something to do with the token generated on that device. getting users complains more and more on this issue.

[2018-11-03 06:42] NishaParmar opened #2044 "FirebaseCore and FirebaseDynamicLink - Undefined symbols for architecture x86_64"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.0
  * FirebaseCore Framework version: 5.1.6
  * FirebaseDynamicLink Framework: 3.1.0

### [REQUIRED] Step 3: Describe the problem
       getting issue by adding FirebaseCore and FirebaseDynamicLink framework. objective c project added by framework not using pod

#### Relevant Code:
[code]

[2018-11-03 13:41] paulb777 commented on #2044
The GoogleUtilities framework must be added to satisfy those dependencies.

[2018-11-04 13:31] Idomo opened #2045 "FirebaseCore, FirebaseAuth and FirebaseStorage xCode analyze errors"
* Xcode version: 10.1
  * Firebase SDK version: 5.4.1
  * Using FirebaseAuth (5.0.2)
  * Using FirebaseCore (5.0.6)
  * Using FirebaseStorage (3.0.0)

### Describe the problem
When running analyze via xCode (Product > Analyze) it will show some errors about Memory, Logic, API Misuse, Coding Conventions and more.
#### Steps to reproduce:
Run Analyze via xCode on project that using the above version

[2018-11-04 14:13] paulb777 commented on #2045
All the analyze warnings were fixed by Firebase 5.8.0 in [several PR's](https://github.com/firebase/firebase-ios-sdk/pulls?utf8=%E2%9C%93&q=is%3Apr+analyze). Please update to the a newer release.

We still need to confirm that Xcode 10.1 doesn't introduce anything new and will reopen if that's the case.

[2018-11-04 14:13] #2045 closed

[2018-11-05 03:02] ninokierulf commented on #2009
Thank you for the reply, I failed to mention that I'm already using Crashlytics for tvOS via Fabric for about 2 years now. I was just exploring the migration to Firebase as the end of Fabric is inevitable. Even if Crashlytics will be supported after the app sunset on Nov 30, 2018, Fabric is still planned to end by mid 2019 so I need to make sure I've done my due diligence on the matter. Eventually

[2018-11-05 04:04] kazuhiro4949 commented on #1936
@morganchen12
I figure out what's happened in my case.
I uses KVO and initialize NSURLConnection in class A.
KVO makes  a subclass of A automatically, named: NSKVONotifying_A.
It doesn't match class name. So the app hooks the above assert.

For example, the following view controller makes crash in debug mode.

[code]

[2018-11-05 06:01] imRanjit commented on #2019
@visumickey Cant google fix this issue at their backend servers? All app developers facing this issue should again upload a new build to app-store.

[2018-11-05 09:56] mberndt92 commented on #2019
@imRanjit
Yes but since the suggested update is in place the crashes have been entirely resolved 🙂

[2018-11-05 10:00] imRanjit commented on #2019
Hey thanks. I am also getting these crashes in crashlytics report.  But not
able to reproduce on my device

So you updated the SDK and made a new release right ?

On Mon, 5 Nov 2018 at 3:26 PM, Maximilian Berndt <notifications@github.com>
wrote:

--
*::DISCLAIMER::

-------------------------------------------------------------------------------------------------------------------------------------

[2018-11-05 15:48] conrado commented on #1916
This doesn't affect the build, still broken

[2018-11-05 19:04] morganchen12 commented on #1953
@mohammedshahid can you share your code or any sample that reproduces this issue?

[2018-11-06 01:31] kazuhiro4949 commented on #1936
Could you tell me whether the assertion has a problem or not?
It is an internal specification of KVO.

[2018-11-06 05:01] agordeev commented on #2019
I'm still seeing such crash reports coming from Crashlytics :-/

[2018-11-06 06:50] imRanjit commented on #2019
Hello All, I didn't update the SDK, as I had to do a release for it. But as said above, due to roll-out, my crashes have dropped substantially.

[2018-11-06 07:46] xstable commented on #340
I have the same error... means I got no error, but if I remove `[FIRApp configure];` from `AppDelegate.m`, the up starts.
If I add it, the app stop at the Splash-Screen. Here is a short Video which shows it: http://somup.com/cFX1iGn15J

[2018-11-06 09:10] yigitserin commented on #463
I have the same issue.
Details here:
https://stackoverflow.com/questions/53168688/notification-service-extension-does-not-handle-data-messages-when-using-firebase

[2018-11-06 10:19] yigitserin opened #2048 "Notification Service Extension does not handle data messages when using Firebase Data Message"
Firebase **data** notifications do not trigger Notification Service Extensions didReceive method.
I am using latest version and this is my payload.
[code]
If I add a "notification" object to this payload, it works in iOS but that breaks android functionality. So I would like to avoid that.

[2018-11-06 16:16] SPopenko commented on #1885
@ulaserdegor what was the solution for you? Could you share that, please?

[2018-11-06 18:04] mikehaney24 commented on #1824
Can't continue without additional information.

[2018-11-06 18:04] #1824 closed

[2018-11-06 19:54] morganchen12 commented on #2048
This is Apple functionality, not Firebase. Notification extensions cannot modify silent notifications (the notification must be configured to display an alert).

https://developer.apple.com/documentation/usernotifications/unnotificationserviceextension

[2018-11-06 19:54] #2048 closed

[2018-11-06 21:00] AndriyGo commented on #1917
@morganchen12 I have the same issue with lots of memory leaks generated by Firebase. I am attaching the screenshot.

<img width="1396" alt="screenshot 2018-11-06 at 22 58 04" src="https://user-images.githubusercontent.com/7107815/48093311-b4c90c00-e217-11e8-93e6-f53808a6f754.png">

Here is my setup:

[code]

I would be happy to share my project with you as long as there is some secure way of doing

[2018-11-06 21:44] morganchen12 commented on #1896
Hey everyone, looks like there's several issues being reported here.

@sharpwitz, please [file a support ticket](https://firebase.google.com/support/contact/?category=troubleshooting) and we'll be able to take a look at your project specifically to see what's wrong.

For other people who have APNs integrated but are running into invalid token errors, please check that you're able to send notificat

[2018-11-06 21:44] #1896 closed

[2018-11-06 21:46] morganchen12 commented on #1917
Thanks @AndriyGo, I'll take a look.

[2018-11-06 23:12] morganchen12 commented on #1936
@kazuhiro4949 can you share the stack trace of your repro example's crash? GoogleUtilities shouldn't be conflicting with NSURLConnection.

[2018-11-07 02:09] radvansky-tomas commented on #1733
same issue, it happens in cocoa framework (embed framework) with firestore included using pods

[2018-11-07 03:47] kazuhiro4949 commented on #1936
@morganchen12
This is the stack track.

[code]

[2018-11-07 05:37] smartPiz opened #2054 "I cant see the data saved in the control tab , but native app can show the new data created . why."
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2018-11-07 11:41] aplusm opened #2055 "[AdMob] Accessing GADMaxAdContentRating.general makes linker failed"
* Xcode version:  9.4.1
  * Firebase SDK version: 5.11.0
  * Firebase Component: AdMob
  * Component version: Google-Mobile-Ads-SDK (7.35.1)

Trying to set a custom max ad rating results in a failed linker process:

[code]

gives:
[code]

[2018-11-07 17:09] wilhuff commented on #2054
Hi! Please fill out the details of the form above. It really helps us help you. As it stands I can't even tell which product you're using.

Also please give details describing how to reproduce the problem in considerably more detail. Describe the steps you took, what you expected to see and what you actually saw.

As it stands I can't help you with this issue.

[2018-11-07 19:47] paulb777 commented on #2055
Tracked internally at b/119199475

[2018-11-07 19:53] #2054 closed

[2018-11-07 22:07] #2040 closed

[2018-11-07 22:07] #2044 closed

[2018-11-07 22:09] paulb777 commented on #2022
My biggest concern about this change would be causing some developers to have several more dynamic frameworks along with a potential performance impact.

We might want to wait for this until CocoaPods has the capability to pick and choose which pods are built dynamically and statically.

[2018-11-07 22:52] morganchen12 commented on #1518
Closing due to inactivity.

[2018-11-07 22:52] #1518 closed

[2018-11-07 22:54] morganchen12 commented on #892
Closing this due to inactivity. If you're looking to use multiple GoogleService-Info.plist files with Firebase, the best way to do this currently is to store them in different folders and use a run script phase to copy the plist file into your project (some directory Xcode knows about). Your script can then depend on variables defined in Xcode to determine which plist to copy.

[2018-11-07 22:54] #892 closed

[2018-11-07 22:56] morganchen12 commented on #1393
Closing due to inactivity. If anyone is still experiencing this crash, please comment and I'll reopen.

[2018-11-07 22:56] #1393 closed

[2018-11-07 23:02] morganchen12 commented on #1838
@olegshamin sorry for the slow response here. Calling the `signIn:didSignInForUser:withError:` method that you mentioned is a responsibility of the GoogleSignIn SDK, not Firebase or FirebaseUI.

Please comment here if this is still an issue.

[2018-11-07 23:02] #1838 closed

[2018-11-07 23:04] morganchen12 commented on #1718
@nicopuri can you share a project where it crashes?

[2018-11-07 23:06] morganchen12 commented on #934
@visumickey, can you take a look at this? It seems like it'd be best to just discard app launch traces if the user backgrounds mid-launch, since it just adds noise.

In the future we can revisit a way to include background-mid-launch traces in a less noisy way.

[2018-11-07 23:08] morganchen12 commented on #1691
Closing due to inactivity. We don't have a good way to diagnose or debug these crashes without repro steps.

[2018-11-07 23:08] #1691 closed

[2018-11-07 23:12] #2026 closed

[2018-11-07 23:14] morganchen12 commented on #1940
Hey, sorry for the late response on this. This is almost definitely a bug, but it may not be an iOS one. Can you move it over to [Firebase Support](https://firebase.google.com/support/contact/?category=troubleshooting)?

[2018-11-07 23:14] #1940 closed

[2018-11-08 10:52] casperzandbergenyaacomm commented on #225
This is the main reason my company stays away from topics on the client side. I'd love to see an update on this!

[2018-11-08 12:17] brenwell commented on #1916
Any developments on this one?

[2018-11-08 13:30] VValiente opened #2059 "App crashes after manually updating GoogleTagManager to 7.1.1"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2018-11-08 15:16] paulb777 commented on #2059
I suspect that the GoogleAnalytics 3.x pod is not compatible with the recent GoogleTagManager version.

I need to confirm, but It may not be possible to use the old GoogleAnalytics along with the recent FirebaseAnalytics and GoogleTagManager.

[2018-11-08 15:37] VValiente commented on #2059
The GoogleAnalytics is from the cocoapods installation though.
![screenshot 2018-11-08 at 16 37 05](https://user-images.githubusercontent.com/6738234/48209078-9167a380-e374-11e8-88f3-8213e589e913.png)

[2018-11-08 15:43] paulb777 commented on #2059
Presumably the Podfile is asking for GoogleAnalytics to be installed

[2018-11-08 15:51] VValiente commented on #2059
I also tried installing pod from scratch, and it still used that version for `GoogleTagManager (7.1.1)`. I was also wondering why the GoogleAnalytics' version didn't change. With `GoogleTagManager (6.0.0)`, it's the same `GoogleAnalytics (3.17.0)` version number.

Here is the the contents of the `Podfile.lock` from a fresh install:
[code]

[2018-11-08 15:55] paulb777 commented on #2059
Oh I see - GoogleAnalytics 3.17.0 is a dependency of GoogleTagManager. See https://cocoapods.org/pods/GoogleTagManager  My hypothesis above was wrong.  Something else is going on. I'll report it to the GoogleTagManager team.

[2018-11-08 16:00] VValiente commented on #2059
Yes it is. :) And thank you for the quick reply! I already wasted 2 days for this and was desperate for help. 😅

[2018-11-08 16:01] paulb777 commented on #2059
Tracked internally at b/119253176

[2018-11-08 16:15] AndriyGo commented on #1917
@morganchen12 in case it may be helpful here are the results after updating to latest pods:

<img width="1396" alt="screenshot 2018-11-08 at 18 12 29" src="https://user-images.githubusercontent.com/7107815/48211326-f4ac0280-e381-11e8-91b4-07c830088fb6.png">

Setup:

[code]

[2018-11-08 16:16] RamblinWreck77 opened #2060 "Memory leak in GULNetwork.m"
### Step 2: Describe your environment

  * Xcode version: 10.1
  * Firebase SDK version: 5.12.0
  * Firebase Component: GoogleUtilities
  * Component version:  5.3.4

### Step 3: Consistent memory leaks

### Steps to reproduce:

-Setup a scheme to detect memory leaks by:
1) Scheme/edit/run/diagnostics
2) enable Malloc Scribble, Guard Edges, and Malloc

-Make a test project app that:
1) Calls Fireb

[2018-11-08 23:46] paulb777 commented on #2055
Fixed in Google-Mobile-Ads-SDK 7.35.2

[2018-11-08 23:46] #2055 closed

[2018-11-08 23:46] paulb777 commented on #196
Fixed in Google-Mobile-Ads-SDK 7.35.2

[2018-11-08 23:46] #196 closed

[2018-11-09 10:20] ludivinefafournoux commented on #1879
I have the same issue, my app ID is com.eu.tessa.NetCabDev

[2018-11-09 18:03] sibabratswain11 commented on #1965
facing the same issue with  ionic project
**Podfile**
platform :ios, '9.0'
use_frameworks!
target 'BlockShorts' do
        pod 'FirebaseMessaging', '~> 2.0.0'
        pod 'GoogleToolboxForMac', '~> 2.1'
        pod 'Firebase'
        pod 'Firebase/Auth'
        pod 'Firebase/Core'
        pod 'Fabric'
        pod 'Crashlytics'
end

[2018-11-09 18:41] rob-keepsafe commented on #196
Confirmed fixed 🎉 Thanks for all your help @paulb777 and @morganchen12 !

[2018-11-09 19:32] wilhuff commented on #1916
Could someone share a project (ideally minimal) that's in this state? The steps to reproduce above are nontrivial. We don't formally support react native, don't test with it, and don't have a ton of experience with it. While I'd like to help I just don't have the kind of time it would take to reproduce this from the instructions above.

[2018-11-09 19:38] conrado commented on #1916
@wilhuff The instructions for getting this starter project going, with MacOS High Sierra and XCode 10.1  seem to reproduce it: https://github.com/invertase/react-native-firebase-starter

[2018-11-12 02:30] FlorentPottevin opened #2063 "Just updated pod, didReceiveRegistrationToken is not called anymore"
* Xcode version: 10.1
  * Firebase SDK version: 5.12.0
  * Firebase Component: Messaging
  * Component version: 3.2.1

I've simply updated the pods and it stopped working.
It worked fine until now and nothing has changed.

Why is didReceiveRegistrationToken not called anymore?

[2018-11-12 05:19] mohammedshahid commented on #1953
@morganchen12 - Hey Apologies we can't share the code and even if we do that it's hardly reproducible . We get this issue at random with no specific steps, but surely at app launch when we call - **self.firebase.setDefaults(defaultConfig as? [String : NSObject])**

[2018-11-12 15:30] fschaus commented on #1868
Thanks @wilhuff for the detailed comments on the expected behavior.

This is anyway how I proceed - I always query _all_ data from the server since querying _only a subset_ (say last 30 days) doesn't make any difference in terms of performance (i.e., the client 'query' anyway returns every single document in a collection, before sorting/ filtering them locally on the client and only returning the

[2018-11-12 17:45] morganchen12 commented on #2063
There's not enough information here to debug the issue. Please show how you've integrated Messaging in code, then reopen the issue.

[2018-11-12 17:45] #2063 closed

[2018-11-12 18:00] #1718 closed

[2018-11-12 18:00] morganchen12 commented on #1718
Please comment when you have more information.

[2018-11-12 19:00] paulb777 commented on #2063
Also, let us know what version you updated from.  5.12.0 had no changes for Messaging.

[2018-11-12 21:00] #2060 closed

[2018-11-12 21:01] morganchen12 commented on #2060
Fixed in #2061.

[2018-11-12 21:08] RamblinWreck77 commented on #2060
@morganchen12 Thank you so much!

[2018-11-12 21:47] wilhuff commented on #1868
I'm glad to hear that GC is working. What I was thinking would help your case is if you dialed down the size of the cache via the new option [`cacheSizeBytes`](https://github.com/firebase/firebase-ios-sdk/blob/ba406b652636be7f3841646410174b40c997a895/Firestore/Source/Public/FIRFirestoreSettings.h#L74) you'd reduce the number of documents to scan automatically.

[2018-11-13 06:48] weilihua opened #2070 "Crashed: com.google.fira.worker"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.0
  * Firebase SDK version: 5.11.0
  * Firebase Component: Auth, Core, Database, Firestore,  Storage
  * Component version:
Using Fabric (1.7.9)
Using Firebase (5.11.0)
Using FirebaseABTesting (2.0.0)
Using FirebaseAnalytics (5.3.0)
Using FirebaseCore (5.1.6)
Using FirebaseInstanceID (3.3.0)
Using FirebasePerformance (2.2.0)
U

[2018-11-13 10:49] VValiente commented on #2059
@paulb777 we just noticed a big crash group related to this: https://github.com/firebase/firebase-ios-sdk/issues/502. You suggested in that thread to update to Firebase 4.8.0.

Since we really need to make `FirebaseMessaging` working soon, and fix this big crash, could you please tell us which versions we need to install to use the following components:
- GoogleTagManager
- FirebaseMessaging

I'm

[2018-11-13 14:10] VValiente commented on #2059
Updating our pods to:
[code]

We currently have the following versions:
[code]

So far the project builds without any issue and there is no crash at start up. Still need to implement `FirebaseMessaging` though and test GTM if it still works. This isn't the best solution but we need to do something to fix the Firebase crash group and implement Messaging. Still hoping that the issue with the latest

[2018-11-13 15:16] jxy4769 opened #2072 "FR: Mac OS + Apple Extension support"
### Environment
  * Xcode version: Version 10.1
  * Firebase SDK version: 5.1.7
  * Firebase Component: Crashlytics
  * Component version: 3.11.1

### THE PROBLEM
The issue is to integrate Crashlytics to Mac OS Apple Extensions. I was trying to implement
Crashlytics but it is not officially supported. I wonder if there is a hack/workout to allow Apple Extensions to work with Crashlytics! In additi

[2018-11-13 17:51] paulb777 commented on #1936
Fix planned to go out with GoogleUtilities 5.3.5

[2018-11-13 17:51] #1936 closed

[2018-11-13 21:31] paulb777 opened #2073 "Move useful capabilities of Firebase pod into the FirebaseCore pod"
We want to eventually remove the need for an umbrella Firebase pod and enable developers to directly request the particular Firebase{component} pods that they need.

The first step is moving the Firebase module functionality to Firebase core so that `import Firebase` and `#import <Firebase/Firebase.h>` still work.

If this can be done in a non-breaking way, it can happen before Firebase 6.

[2018-11-14 06:19] Jay-iTechPioneer commented on #1994
@paulb777 I have also same issue with latest pod version.

[2018-11-14 12:38] PatrickNLT commented on #1733
I encountered the same issue. I created a minimal sample project which demonstrates this issue. It's available here: https://github.com/PatrickNLT/FirebaseSwizzlingSample

* Xcode 10.1
* CocoaPods 1.5.3

@paulb777 don't hesitate to have a look. Thanks! 👍

[2018-11-14 13:18] PatrickNLT commented on #1733
I just managed to avoid the crash by adding `pod 'Firebase/Core'` to the framework target as well.

We then get warnings about duplicate implementations of static frameworks. That is actually a known issue (https://github.com/CocoaPods/CocoaPods/issues/5768).

[2018-11-14 14:52] paulb777 commented on #1994
@Jay-iTechPioneer To confirm, do you still have the issue with the Google Utilities 5.3.5 that released yesterday?

[2018-11-14 20:40] jr00n opened #2080 "Extra argument 'toFile' in call"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.1
  * Firebase SDK version: 5.12.0
  * Firebase Component:  Storage
  * Component version: 3.0.3

### [REQUIRED] Step 3: Describe the problem
Can't Build project
Extra argument 'toFile' in call  -> refrence.write(toFile: localURL)

#### Steps to reproduce:
Build code -> Can't compile!

Error message: Extra argument 'toFile' in

[2018-11-14 21:03] morganchen12 commented on #2080
Looks like this is a bad error thrown by Swift. The compiler error is there because you're not handling the error thrown by the `try` statement when initializing your `AVAudioPlayer`. If you handle or ignore the error either using a `catch` statement or a `try?`/`try!` the error goes away.

[2018-11-14 21:03] #2080 closed

[2018-11-15 10:09] jacobDaurizio commented on #16
I've had this problem and I found by running _sudo gem update_ in terminal and then adding _pod 'Firebase'_ to the podfile, I was bale to solve it. Hope this turns out the same for you. Good luck!

[2018-11-15 10:11] jacobDaurizio commented on #16
Actually never mind the problem is back. Are you using Xcode 10?

[2018-11-15 15:55] paulb777 opened #2081 "Run travis pod spec lint testing for Xcode 9"
The release 5.13.0 release testing discovered two Xcode 9 pod spec lint errors that don't show up in Xcode 10.  We need to add Xcode 9 lint checking to regular Travis regression testing.

- #2079 fixed introduced nullability warnings in GoogleUtilities
- #2032 introduced Xcode 9 build errors for InAppMessaging

cc: @Corrob

[2018-11-15 16:44] RamblinWreck77 opened #2082 "Just a heads up, it appears 5.13.0 did not release to Cocoapods"
Hello! I Noticed

Utilities-5.3.6

when running pod outdated and when checking the releases tab I saw 5.13.0 had *also* released but wasn't available on cocoapods. Just thought I'd let you know as it's easy to forget.

Thanks for all your hard work!

[2018-11-15 16:47] paulb777 commented on #2082
Thanks - 5.13.0 is still being tested and not yet pushed to CocoaPods.

[2018-11-15 16:47] #2082 closed

[2018-11-15 18:05] paulb777 commented on #2082
A good way to check the status of a release is to check the corresponding [milestone](https://github.com/firebase/firebase-ios-sdk/milestones).  We'll close the milestone after publishing to CocoaPods.

[2018-11-15 18:36] wilhuff commented on #1916
On macOS 10.13.6, with CocoaPods 1.5.3 I can't reproduce with:
  * Xcode 10.0, Firebase 5.11.0 (the current version referenced in react-native-firebase-starter project)
  * Xcode 10.1
  * Firebase 5.9.0 (the version in the first report)

I know this isn't a figment of your imagination, so there's got to be something else about your configuration that triggers this. Any ideas?

[2018-11-15 23:48] allenktv commented on #1894
Looked into this and this is happening due to the following:

For iOS, we intercept screen changes to automatically log a screen view event. This is how we are able to do automatic screen view reporting. The first and second screen_view (FoodPickerViewController and ViewController without the "firebase_screen")  are logged because of this. The third screen_view event is due to the quickstart app [

[2018-11-16 06:39] csprl commented on #1916
Latest react-native-firebase-starter seems to succeed when building the workspace in Xcode, but not when running `npm run ios` which invokes `xcodebuild -workspace <appname>.xcworkspace -configuration Debug -scheme <appname> -destination id=... -derivedDataPath build`. I used fresh git repositories for each test.

macOS 10.14, Xcode 10.1 and CocoaPods 1.5.3.

[2018-11-16 11:43] rs-georg opened #2085 "Fatal Error for getDocuments(): NSArray element failed to match the Swift Array Element type"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2018-11-16 16:12] #2081 closed

[2018-11-16 19:06] kbot opened #2087 "FIRIAMDisplayExecutor messageClicked doesn't work in followActionURL"
* Xcode version: 10.0
  * Firebase SDK version: master
  * Firebase Component: InAppMessage (Auth, Core, Database, Firestore, Messaging, Storage, etc)
  * Component version: 0.12.1

### [REQUIRED] Step 3: Describe the problem
Modal Button Action is not opened when button is tapped. The Modal dismissed, but the delegate FIRIAMDisplayExecutor (private code) doesn't open urls, or application deeplink

[2018-11-16 19:20] wilhuff commented on #1916
That's what I'm doing. I also built directly in Xcode but that made no difference as far as I can see.

[2018-11-16 19:21] mikelehen commented on #2085
I can't reproduce this with the latest Firebase pods.  I notice you're using carthage, so perhaps that is related.  I am also a little confused by the version numbers you shared:

The latest version I see in https://dl.google.com/dl/firebase/ios/carthage/FirebaseFirestoreBinary.json is 5.12.0, and I think the latest Firestore component version is 0.14.0.

@paulb777 Any ideas?  Else, @rs-georg Can

[2018-11-16 19:31] paulb777 commented on #2085
There are no component versions in the Carthage version. Everything is versioned with the Firebase version.  5.13.0 has not released for either CocoaPods or Carthage, so 5.12.0 is the latest available version.

[2018-11-16 21:28] rafsouzap opened #2089 "FirebaseMessaging Carthage"
* Xcode version: 10.1 (10B61)
* Firebase SDK version: 5.12.0

After update the Firebase SDK to the last version for Xcode 10 and Swift 4.2 using Carthage, I can no longer compile the project, is returning the error below:

[code]

[2018-11-16 21:31] paulb777 commented on #2089
Please make sure that the GoogleUtilities and GoogleAppMeasurement frameworks are being linked. Both of them should be installed with FirebaseAnalytics.

[2018-11-17 04:11] morganchen12 commented on #2085
I don't think this is a packaging issue. This sort of error occurs if you have an array that Swift assumes is homogenous and contains only a certain type, but is actually not homogenous.

Can you try going through your code sample and adding explicit type declarations for all of the variables? Also, can you include what your database contents are? I suspect if you try this with an empty db the err

[2018-11-17 14:53] pot8os opened #2090 "Can't build an app against iPhone (arm64) via Xcode"
* Xcode version: 10.1
  * Firebase SDK version: I'm using `Cocoapods` to install Firebase components. See below.
  * Firebase Component: See below.
  * Component version: See below.
[code]

### Steps to reproduce:

- Connect iPhone to MacBook and try to install an app against it. Then I get an error as follows.
  - It can build against emulator and archive against `Generic iOS Device`.
  - I check

[2018-11-17 15:44] paulb777 commented on #2090
Looks to be something related to the `Undefined Behavior Sanitizer`.   Does turning it off in the scheme make a difference?

<img width="846" alt="screen shot 2018-11-17 at 7 43 14 am" src="https://user-images.githubusercontent.com/73870/48662833-84197b80-ea3c-11e8-9a0a-022c436d2c6d.png">

[2018-11-17 16:56] pot8os commented on #2090
@paulb777 Thanks for responding quickly and yes that's the root cause! For some reason, that check box was grayed out so I edited `xcscheme` file directly and it worked finally.

[2018-11-17 17:36] #2090 closed

[2018-11-18 12:15] evgzor opened #2092 "Build fails in ios simulator if address sanitizer is off"
* Xcode version: 10
  * Firebase SDK version: 5.12.0
  * Firebase Component: FirebaseAnalytics (5.3.0),  FirebaseAnalyticsInterop (1.1.0), FirebaseCore (5.1.7), FirebaseInstanceID (3.3.0), FirebaseMessaging (3.2.1)
  * Component version: __5.3.0___

### [REQUIRED] Step 3: Describe the problem
If switch off address sanitizer build does not compile with error:
Undefined symbols for architecture x86_

[2018-11-18 14:36] paulb777 commented on #2092
I'm not able to reproduce with Xcode 10.1.  Does doing `Product -> Clean Build Folder` or `rm ~/Library/Developer/Xcode/DerivedData` make a difference?

What is the exact version of Xcode?  Are you using the new or old build system? This sounds more like an Xcode build issue than a Firebase issue.

[2018-11-18 14:47] evgzor commented on #2092
Version 10.1 (10B61)
Removing derived data does not help
using the legacy build system
<img width="1158" alt="screen shot 2018-11-18 at 17 46 56" src="https://user-images.githubusercontent.com/5227456/48674118-ff248400-eb59-11e8-9523-a61d1e67bd1b.png">

[2018-11-18 18:06] Jay-iTechPioneer commented on #1994
@paulb777 in 5.3.5 it is fixed and works fine.
Thank you !!

[2018-11-18 18:15] Jay-iTechPioneer commented on #1994
@paulb777 in 5.3.5 it is fixed and works fine.
Thank you !!

[2018-11-18 18:22] #1994 closed, assigned to nobody

[2018-11-19 11:23] rafsouzap commented on #2089
Hi @paulb777 I had not linked these frameworks. But even after linking, the error continues.

[2018-11-19 12:02] evgzor commented on #2092
Messaging quick start uses 8.0 however  I use
platform :ios, '11.0' in pod file

[2018-11-19 15:01] stonesam92 opened #2094 "Firebase/Performance 5.12.0 conflicts with NearbyMessages 1.1.1"
We're unable to build a project that includes the latest versions of `Firebase/Performance` (5.12.0) and Google `NearbyMessages` (1.1.1) due to a duplicate symbol linker error.

#### Describe your environment

- Xcode version: 10.1
- Firebase SDK version: 5.12.0
- Firebase Component: Performance
- Firebase/Performance version: 5.12.0
- NearbyMessages version: 1.1.1
- CocoaPods version: 1.5.3

####

[2018-11-19 15:16] paulb777 commented on #2092
Changing to `11.0` doesn't make a difference for me.  We'll likely need a reproducible example to make progress on this issue.

[2018-11-19 15:35] evgzor commented on #2092
will try to prepare it

[2018-11-19 15:47] nathankallman commented on #1403
We are also still experiencing the same issue on fresh iOS installs with Firebase Dynamic links (SDK version: 5.5.0) Android and post-install iOS are working as expected.

Is there an update to this issue on what we should expect?

[2018-11-19 15:50] flexaddicted commented on #16
I have the same error.

[2018-11-19 16:07] paulb777 commented on #2094
Confirmed:

[code]

[2018-11-19 16:09] AndriyGo commented on #1917
@morganchen12 the leaks are still there after latest releases (and #2061 fix)

<img width="1396" alt="screenshot 2018-11-19 at 18 07 29" src="https://user-images.githubusercontent.com/7107815/48719432-29437800-ec26-11e8-964f-4a9f182fffa6.png">

Setup:

[code]

[2018-11-19 16:09] paulb777 commented on #2094
Internally tracked at b/119758936

[2018-11-19 18:50] paulb777 commented on #1846
The issue is now fixed on CocoaPods master from https://github.com/CocoaPods/CocoaPods/pull/8287 and is planned to be in whichever CocoaPods release follows 1.6.0.beta.2

[2018-11-19 18:50] #1846 closed

[2018-11-19 18:54] RamblinWreck77 commented on #1917
@AndriyGo can confirm, I'm seeing these as well

[2018-11-19 20:04] christibbs commented on #2087
I can't reproduce this after running `pod update` and getting onto 0.12.1 of the FirebaseInAppMessaging pod. Was testing with a generic action URL: https://google.com. Could it be the action URL?

[2018-11-19 21:07] lifely commented on #230
I'd like to bump this, the issue seems to have been open a year ago.

We're also struggling with this, we might implement the `build-script` solution but imho this isn't a good solution at all.

Our goal is to be able to switch environment at runtime and even though the api looks like it's build for it

`FirebaseApp.configure` with multiple `FIRApp` instances, `Analytics` use a static approach.

T

[2018-11-19 22:37] paulb777 commented on #2087
Thanks for letting us know.

[2018-11-19 22:37] #2087 closed

[2018-11-19 22:38] paulb777 commented on #2089
Hi @rafsouzap I'm not sure what's going on in your app. We'll likely need a reproducible example to help with this one.

[2018-11-19 22:50] radvansky-tomas opened #2099 "Crash prepareVerifyAssertionRequest"
I am using firebasUI, everything worked well...but for some reason I cannot register using email+password anymore:

However exception is raised inside firebase auth:

[code]

Any changes on your side?!

[2018-11-19 23:05] radvansky-tomas commented on #2099
Method is called from:

[code]

[code]

[2018-11-19 23:06] radvansky-tomas commented on #2099
In my scenario I have anonym login...and after real registration process (using FirebaseUI + auto upgrade anonym users)

[2018-11-19 23:12] radvansky-tomas commented on #2099
Removing exception

[code]

Completely resolves the issue, so can you explain its existence there ? Do we need to have any implementation there ?

[2018-11-20 01:46] jacobDaurizio commented on #16
How do I do that?

[2018-11-20 01:58] paulb777 commented on #16
Some possible workarounds:

- Use CocoaPods 1.6.0
- Switch to the Xcode Legacy build system
- Add "${PODS_ROOT}/Firebase/CoreOnly/Sources" to the Tests target only under Build Settings -> Header Search Paths

If someone shares a reproducible example, I'll take a deeper look.

[2018-11-20 03:12] morganchen12 commented on #2099
@renkelvin the crash seems to come from Auth, though it's triggered by FirebaseUI.

@radvansky-tomas can you add a complete stack trace?

[2018-11-20 03:16] morganchen12 commented on #1917
I was previously able to reproduce this by just logging a bunch of Analytics events, but the last patch made those go away. How are you two reproducing this issue?

[2018-11-20 04:17] radvansky-tomas commented on #2099
@morganchen12 @renkelvin I've changed branch and did clean install (pods, derived data etc) and its gone...but still I have no idea what caused it AND what is the purpose of prepareVerifyAssertionRequest and its assertion in email/pass provider...could somebody give some explanation ? If it happen again I will post screenshots of stack trace, but as I already said flow was:

Anonym User -> Registr

[2018-11-20 06:45] noahtallen commented on #1916
I've been getting this exact same error too. Super frustrating. I had turned the legacy build system on to "fix" it, but on a hunch, I started importing RNFirebase via pods rather than via the link step. Then I turned on the new build system, cleaned the build folder, and it all works now. Maybe something about compiling the project through Pods rather than through a manual import fixes it.

To ma

[2018-11-20 07:37] flexaddicted commented on #16
@paulb777 Thanks for the reply.

For some strange reason, using `${PODS_ROOT}` does not resolve correctly.

[2018-11-20 08:55] jacobDaurizio commented on #16
Sorry I’m really new to this. Could you tell me like a step by step like what things to press and where to type in Xcode for the ${PODS_ROOT} things? Your help is greatly appreciated.

[2018-11-20 16:59] StefanDorresteijn opened #2100 "fatal error: 'GoogleUtilities/GULAppEnvironmentUtil.h' file not found when building"
Hey everyone,

I'm running into an issue trying to build my app after adding the Firebase and Firebase/Core pods.
I'm trying to run it in a React Native app, using the react-native-firebase package.

### Environment

  * Xcode version: 10.1
  * Firebase SDK version: 5.12.0
  * Firebase Component: Core
  * Component version: 5.12.0

### Problem

#### Steps to reproduce:

1. Follow Firebase iOS SDK

[2018-11-20 17:30] paulb777 commented on #2100
Does removing the version specifier from the Firebase pod make a difference?

Please share the Podfile.lock

[2018-11-21 08:59] mihirpmehta opened #2102 "I am getting "multiple command produce gRPCCertificates.bundle" error in Firestore when archiving"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.0  (10A255)
  * Firebase SDK version:  Firebase 5.13.0, FirebaseFirestore (0.15.0)
  * Firebase Component: FirebaseFirestore (0.15.0)
  * Component version: 0.15.0

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

install firestore through pod

`pod 'Firebase/Firestore' ` and archive

#### Relevant Code:

[2018-11-21 10:36] scourgy opened #2103 "Error when adding Firebase to my iOS project without CocoaPods."
I am trying to add Firebase to my project and especially their barcode reader frameworks (Vision). I have followed these instructions:

https://www.mokacoding.com/blog/setting-up-firebase-without-cocoapods/

I have added the folder that contains what I want - MLVision with all the frameworks there. I have imported the header files, also did @import GoogleMobileVision in my main file.

The problem

[2018-11-21 12:43] mihirpmehta commented on #2102
The difference is between Pods-WhereRU-resources.sh

[code]

If i build and archive with previous version of MacOS High Sierra with same XCode version same CocoaPods version these lines are not generated in **Pods-WhereRU-resources.sh** file

[2018-11-21 13:20] StefanDorresteijn commented on #2100
That does not make a difference.

Podfile.lock
[code]

[2018-11-21 15:04] paulb777 commented on #2100
Change the Podfile from `pod 'Google/SignIn'` to   `pod 'GoogleSignIn'`

The issue is using the deprecated version of the Google pod that forces in an extra old version of the GoogleUtilities pod that doesn't have the Environment subspec with the GULAppEnvironmentUtil.h header.

CocoaPods really should have thrown an error and not a warning in this case.

[2018-11-21 15:04] #2100 closed

[2018-11-21 15:09] paulb777 commented on #2103
`FIRMLKitLog` is defined in FirebaseMLCommon.framework. Make sure you've included that framework in your link.

[code]

[2018-11-21 15:12] paulb777 commented on #2103
Locking for additional comments since this is a question and also asked at https://stackoverflow.com/questions/53410037/error-when-adding-firebase-to-my-ios-project-without-cocoapods/53415028

[2018-11-21 15:12] #2103 closed

[2018-11-21 15:15] StefanDorresteijn commented on #2100
That fixed it, thanks!

[2018-11-21 15:41] paulb777 commented on #2102
Dupe question at https://stackoverflow.com/questions/53406947/xcode10-ios-firebase-firestore-sdk-multiple-command-produce-grpccertificates

[2018-11-21 16:05] mihirpmehta commented on #2102
Hi

in Firestore version  0.14.0 (pod 'Firebase/Firestore', '5.12.0') Everything works fine. This problem starts in version 0.15.0 only... Also in XCode if i build using Legacy build system it works in 0.15.0 ... but if i use new build system which is default, this error comes ....

[2018-11-21 16:58] paulb777 commented on #2102
Ok, it seems the issue has nothing to do with the macOS version.

I reproduced on macOS 10.13 with the Firestore quickstart and CocoaPods 1.5.3. I successfully archived with 0.14.0 and ran `pod update` installing 0.15.0 and **gRPC-Core 1.17.0-pre1** and then got the build failure.

[2018-11-21 17:30] var-const commented on #2102
@mihirpmehta Can you please post contents of your `Podfile.lock` file?

[2018-11-21 18:04] simonbengtsson commented on #2102
Here is other lockfile, if it helps. Will update this with more info if I find anything.

Mac: 10.14.1
Xcode: 10.1
Build System: New

[Podfile.txt](https://github.com/firebase/firebase-ios-sdk/files/2605299/Podfile.txt)

[2018-11-21 18:24] paulb777 commented on #2102
The gRPC-C++ latest official release has a hard dependency to a gRPC-Core pre-release - https://github.com/CocoaPods/Specs/blob/master/Specs/c/8/7/gRPC-C++/0.0.4/gRPC-C++.podspec.json#L147

[2018-11-21 18:44] paulb777 commented on #2073
I did some investigation of splitting the Firebase module capability out of the Firebase pod yesterday.  The conclusion is that there is no great solution without some level of a breaking API change so I'm proposing that we defer this to Firebase 6 along with potentially addressing other questions about the utility of the Firebase umbrella pod.

Investigation details in the next comment.

[2018-11-21 18:46] var-const commented on #2102
@simonbengtsson Thanks!

I see from your Podfile.lock that gRPC-C++ version 0.0.4 is used. The issue is triggered by the combination of the latest Firestore and gRPC-C++ 0.0.4. As a quick measure, if you could force CocoaPods to use gRPC-C++ 0.0.3, it should resolve the archiving issue.

[2018-11-21 18:58] paulb777 commented on #2073
Here are some approaches to separating the Firebase module from the Firebase pod:

1. I first tried to move the current [Firebase pod preserve_path implementation ](https://github.com/CocoaPods/Specs/blob/master/Specs/0/3/5/Firebase/5.13.0/Firebase.podspec.json#L42)of the Firebase module directly to the FirebaseCore pod.  This works great for deployed pods, but doesn't work for Development pods. S

[2018-11-21 19:02] paulb777 commented on #2073
Recommendation for breaking change implementation if we decide to eliminate the umbrella pod functionality:

Merge Firebase module capability into FirebaseCore and rename FirebaseCore to Firebase.

This would break the presumably small number of developers who reference the FirebaseCore module. It also make the Firebase module behavior consistent with other CocoaPods pods, but require static libra

[2018-11-21 19:15] paulb777 commented on #2102
The gRPC team just pushed version 0.0.5 of gRPC-C++.

I did a `pod update` and now the quickstart successfully archives.

[2018-11-21 19:17] Idomo opened #2104 "FirebaseStorage adding white stripe to my images"
* Xcode version: 10.1
  * Firebase SDK version: 5.4.1
  * Using FirebaseAuth (5.0.2)
  * Using FirebaseCore (5.0.6)
  * Using FirebaseStorage (3.0.0)

#### Description:

When uploading image via FirebaseStorage, it'll add some white stripes (like border) on some sides of it.
*Notice that if you'll look at the photo before uploading it won't include those stripes.
The result of uploading full black

[2018-11-21 22:30] paulb777 opened #2107 "Add archive build testing to CI"
We should use travis CI to make sure that Archive builds continue to work and we don't release with issues like #2102.

[2018-11-21 22:46] radvansky-tomas commented on #2099
@renkelvin Started testing iPad application and crash is back:

![image](https://user-images.githubusercontent.com/12473664/48872021-2de97580-ee4c-11e8-9f34-6c91c22f134a.png)

[2018-11-22 05:45] ishabazz commented on #2099
Having the exact same issue.  I'm certain that this used to work, but given that the code specifically says to throw an error, I'm not sure how.

[2018-11-22 08:05] scourgy opened #2108 "Manually added Analytics, now getting linker command failed with exit code 1 (use -v to see invocation)"
Hi, I have manually added Analytics to my project and now it doesn't want to run.

[code]

Here are some screenshots that may be useful:

[https://imgur.com/a/eANhJN0](https://imgur.com/a/eANhJN0)

Any ideas what could be wrong here?

[2018-11-22 08:32] scourgy commented on #2108
Sorry, you can delete this one, the problem was that I was trying to install it first using Carthage and the frameworks remained in the Carthage folder, so Xcode got confused I guess. When deleting the frameworks from Carthage folder, it's OK.

[2018-11-22 10:26] datalogen opened #2109 "Failed to read file or folder at <my_path>/Carthage/Build/iOS/gRPC.framework"
#### Describe your environment
  * Firebase SDK version: 5.13.0
  * Firebase Component: Firestore
  * Component version: 5.13.0

#### Describe the problem
When running carthage update we get an error saying: "Failed to read file or folder at <path>/Carthage/Build/iOS/gRPC.framework"

Looking at the release notes:
"Moved from Objective-C gRPC framework to gRPC C++. If you're manually tracking depen

[2018-11-22 13:37] forsen commented on #230
Seems like `Analytics` is not the only module that does not support multiple `GoogleService-Info.plist`files. We use multiple targets, and name the file like this: `GoogleService-Info-<target>.plist`. This has worked fine for some time, but when we now tried to add `DynamicLinks` to our project, it insists on loading the `API KEY` from `GoogleService-Info.plist` (which doesn't exist), and complete

[2018-11-22 14:20] ryanwilson commented on #2108
Thanks for the update!

[2018-11-22 14:20] #2108 closed

[2018-11-22 14:24] ghowen opened #2111 "Many documentation issues for FirebaseFirestore"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.1
  * Firebase SDK version: 5.13
  * Firebase Component: Firestore
  * Component version: 0.15.0

### [REQUIRED] Step 3: Describe the problem
Still loads of documentation warnings when compiling. They have been there for a bit (even before GRPC changed) and are still not fixed. The don't do any damage but they clutter up the w

[2018-11-22 15:32] ryanwilson commented on #230
@lifely thanks for the update and the clear goal. It's still an ongoing discussion and I'll update with more as it progresses, thanks!

@forsen thanks for bringing that to our attention - looks like the line in question is https://github.com/firebase/firebase-ios-sdk/blob/c724f9d1e8c3d2f7a44b8959983e1ebaa3eaa5cb/Firebase/DynamicLinks/FDLURLComponents/FIRDynamicLinkComponentsKeyProvider.m#L29

This

[2018-11-22 15:34] ryanwilson opened #2112 "Dynamic Links shouldn't read from `defaultOptions`"
https://github.com/firebase/firebase-ios-sdk/blob/c724f9d1e8c3d2f7a44b8959983e1ebaa3eaa5cb/Firebase/DynamicLinks/FDLURLComponents/FIRDynamicLinkComponentsKeyProvider.m#L29

Currently Dynamic Links reads from the defaultOptions plist to get the API key - this should be fetched from `FIRApp` incase developers manually set options.

This was discovered by @forsen in #230.

[2018-11-22 19:41] var-const commented on #2111
Thank you for the report. As far as I can see, the warnings all stem from gRPC-C++ which is one of our dependencies. I'll see if we can make a PR to fix those documentation warnings in gRPC.

In the meantime, if those warnings are annoying, you could configure your podspec to ignore all warnings produced by Firestore by adding `:inhibit_warnings => true`:
[code]

[2018-11-22 19:45] ghowen commented on #2111
@var-const Thanks for the hint. I reformatted the original report which makes it easier to see where the warnings are coming from.

[2018-11-23 02:05] radvansky-tomas commented on #2099
@renkelvin @ishabazz So whats is the plan ?

[2018-11-24 05:09] var-const commented on #2092
@evgzor The linker issues seem to all complain about UBSan (Undefined Behavior Sanitizer). Just to check, do you have UBSan enabled in XCode?

[2018-11-24 06:48] evgzor commented on #2092
@var-const yes UBSan was active. After disabling it the issue was gone.

[2018-11-24 18:12] aplusm opened #2118 "GADRewardBasedVideoAd dismissed presenting controller when skipping ad"
* Xcode version: 9.4.1
  * Firebase SDK version: 5.13
  * Firebase Component:  AdMob
  * Component version: Firebase/AdMob (5.13.0) Google-Mobile-Ads-SDK (~> 7.35)
  * Mediation stack: AdMob, Unity Ads

#### Steps to reproduce:

I have a **UITabBarController** hosting multiple view controllers, and present rewarded ads from one of this VC.

I present ads using the basic:
[code]

and when asking fo

[2018-11-25 04:51] PJUllrich commented on #1916
I've been able to resolve this issue by setting the build system to `Legacy`.
1. Open the `PROJECT_NAME.workspace` file
1. `File > Workspace Settings`
1. `Build System > Legacy Build System`
Will try out @noahtallen solution next, since we have to make the switch to the `New Build System` eventually...

[2018-11-26 00:14] ishabazz commented on #2099
This is absolutely not the way to fix this, but it worked for me.
I changed line 984 of FIRUser.m from

`if ([credential isKindOfClass:[FIREmailPasswordAuthCredential class]])`
to
`if ([(FIREmailPasswordAuthCredential*)credential  email] &&  [(FIREmailPasswordAuthCredential*)credential  password] )`

[2018-11-26 00:29] radvansky-tomas commented on #2099
@ishabazz yeah I mean as I said, I can just bypass assertion and it will work...But I was looking for some proper solution from firebase team...as this seems pretty serious

[2018-11-26 22:30] hugocroch commented on #1403
@nathankallman. It seems that I have the same issue. Also, I cannot reproduce the bug on Android.

[2018-11-26 22:37] var-const commented on #2111
This was fixed in gRPC repo: https://github.com/grpc/grpc/pull/16992. The warnings will go away once Firestore upgrades to a gRPC release that includes the fix (in a future Firestore release). I'll close the issue for now; feel free to reopen if you encounter any documentation issues not stemming from gRPC.

[2018-11-26 22:37] #2111 closed

[2018-11-27 02:49] renkelvin commented on #2099
@ishabazz Could you help confirm that on `if ([credential isKindOfClass [FIREmailPasswordAuthCredential class]])`,`credential` is an instance of `FIREmailPasswordAuthCredential`?
"downcasting" is not the issue since `isKindOfClass:` check the class of the actual object, instead the pointer.

[2018-11-27 04:59] StackHelp commented on #1045
@mikelehen Still have an issue. Still it shows recipe even after I deleted it from firestore.

[2018-11-27 05:19] doddyth commented on #2112
Any update for this issue? Right now, we're stuck. Any help will be appreciated. Thank you.

[2018-11-27 13:12] TheHmmka commented on #2087
I wonder if I can catch the URL from FIRIAMDisplayExecutor?

[2018-11-27 13:30] ryanwilson commented on #2112
I'll try to take a look today to see how invasive the change will be - hopefully it's easy to pipe through.

[2018-11-27 16:24] mikelehen commented on #1045
@StackHelp Sorry you're running into an issue.  If you believe you're seeing a bug in the Firestore iOS SDK, please open a new issue with as much detail as you can including detailed repro instructions. Thanks!

[2018-11-27 20:19] keegho commented on #2089
Same issue here :((((

[2018-11-27 20:23] christibbs commented on #2087
Currently no, but message lifecycle callbacks are on the roadmap.

[2018-11-27 21:57] ryanwilson commented on #2112
This was fixed and will be out in the next release.

[2018-11-27 21:57] #2112 closed

[2018-11-27 22:34] stshelton opened #2125 "Firebase register token for FCM doesn't work after app transfer"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.1
  * Firebase SDK version: 5.13.0
  * Firebase Component: Auth, Core, Database, Messaging, Storage
  * Swift Version: 4.2

### [REQUIRED] Step 3: Describe the problem

Recently transferred my app to a new Apple ID. I created/upload all of the new certificates for push notifications to firebase console (APN Auth Key). Also, se

[2018-11-28 13:19] sivaerusappan opened #2129 "No such module 'FirebaseMLVision'"
I got No such module 'FirebaseMLVision' error, how do fix it, I downloaded quickstart-ios samples, I have used mlvison sample for my analysis. kindly let me know how to fix it

[2018-11-28 13:52] ryanwilson commented on #2129
@sivaerusappan thanks for the report - can you share the Podfile? Are you trying to use `@import FirebaseMLVision` or `@import Firebase`?

[2018-11-28 13:53] akhilakhil commented on #1896
The issue can be resolved with apns key.

[2018-11-28 15:18] WillShelley commented on #2111
Having the same problem here. After recent update gRPC-C++ is causing 15 documentation issues in Xcode 10.1/Swift. Tried running :inhibit_warnings => true but warnings are still there.

[2018-11-28 15:40] kilirushi commented on #1339
I fixed it. I think I was wrong when I put in the end
FirebaseApp.configure()
Messaging.messaging().delegate = self
 And I fixed it as screenshoot below:
![screen shot 2018-11-28 at 22 37 50](https://user-images.githubusercontent.com/17327812/49162820-4d0d6900-f35e-11e8-9b4a-eeb6f4168cf6.png)

[2018-11-28 16:11] ryanwilson commented on #202
Closing due to inactivity, will report individual errors as they come up.

[2018-11-28 16:11] #202 closed

[2018-11-28 17:13] julsh commented on #147
Really would love to see this implemented soon!

[2018-11-28 17:14] paulb777 commented on #2118
Tracked internally at b/120135407

[2018-11-28 17:17] paulb777 commented on #2109
Make sure that the frameworks that have been deleted in this release are no longer in your project.

The easiest approach might be to delete the `Carthage` directory before doing a clean `carthage update`

[2018-11-28 17:22] paulb777 commented on #2089
Thanks for posting your journey @keegho.

From the first line at https://github.com/firebase/firebase-ios-sdk/blob/master/Carthage.md#carthage-usage:

`Note that FirebaseAnalyticsBinary must always be included.`

We're happy to accept suggestions or PRs to make the process and instructions better.

[2018-11-28 17:22] #2089 closed

[2018-11-28 17:48] UIowaEABurns commented on #2118
Hello,

Could you provide a Charles log from a session that is causing the issue? It would help debug to see the ad request and response, since this could be an issue specific to certain creatives. Thanks!

[2018-11-28 18:59] aplusm commented on #2118
Hello,

Yes, sure i can provide you a Charles log of this issue.
However i would prefer not make it public. How can we proceed ?

[2018-11-28 19:40] chliangGoogle commented on #2125
The old token is associated with your old APNS token, which should be updated automatically once the new apns token is generated by Apple. We will investigate more to it.

There's another issue we want to clarify: So the solution that you call deleteID should always guarantee a new token is associated with the new APNS token, does this solution not work with you neither?

[2018-11-28 19:49] radvansky-tomas commented on #2099
On my side there is correct class: <FIREmailPasswordAuthCredential: 0x600001ca3060>
But is still crashing on ipad

[2018-11-28 20:39] radvansky-tomas commented on #2099
And Iam starting to think that issue is somewhere else: https://stackoverflow.com/questions/12386189/iskindofclass-doesnt-work-as-expected

And I am seeing similar console output on my side:
objc[4705]: Class FIREmailPasswordAuthCredential is implemented in both /Users/tr/Library/Developer/Xcode/DerivedData/timerush-gbxepiamopovhfhixqrcfwtzybfg/Build/Products/Debug-iphonesimulator/timerushframewor

[2018-11-28 20:48] radvansky-tomas commented on #1733
Which then resolves into this https://github.com/firebase/firebase-ios-sdk/issues/2099#issuecomment-441486960

So in my project I have shared framework and today widget extension. They all use Firebase Core&Auth for basic functionality.

But because of duplicate linking functions like isKindOfClass may fail and result in serious bugs

[2018-11-28 21:31] paulb777 commented on #1733
@radvansky-tomas Thanks for tracking this further.

Yes, the duplicate linker errors are potentially serious and should be avoided.

Back to the original problem. I cloned the git repo [above](https://github.com/firebase/firebase-ios-sdk/issues/1733#issuecomment-438647748) and the SwizzlingSample target builds fine for me on Xcode 10.1

[2018-11-28 21:32] paulb777 commented on #2099
There's a good chance this is related to the `implemented in both` warning.  Please eliminate the warning and let's solve any resulting problems.

[2018-11-28 21:32] radvansky-tomas commented on #1733
@paulb777 thank you for reply, I am not really solving that particular one, as I now have issue with simple email+pass registration on some of my targets. And its probably due to duplicate linking

[2018-11-28 21:37] sharpwitz commented on #1896
It appears the latest SDK uses new code
To fix the above problem
we are using "signInAndRetrieveDataWithCredential" instead of "signInWithCredential"

also, if your app has PUSH notification enabled even though you don't make use of PUSH, then it can throw the SDK off.  so disable PUSH if your app does not make use of PUSH.

[2018-11-28 22:11] sharpwitz commented on #1896
It appears the latest SDK uses new code
To fix the above problem
we are using "signInAndRetrieveDataWithCredential" instead of
"signInWithCredential"

also, if your app has PUSH notification enabled even though you don't make
use of PUSH, then it can throw the SDK off.

so disable PUSH if your app does not make use of PUSH.

On Thu, Oct 4, 2018 at 2:07 PM Chad Kouse <notifications@github.com> wrot

[2018-11-29 01:19] zeqinjie commented on #2070
me too.
Xcode version: 10.0
Firebase SDK version: 5.11.0
出错堆栈

0	libsystem_platform.dylib
__os_unfair_lock_unowned_abort + 36
1	libsystem_platform.dylib
__os_unfair_lock_unlock_slow + 144
2	libsqlite3.dylib
sqlite3_snprintf + 3296
3	libsqlite3.dylib
sqlite3_snprintf + 2592
4	libsqlite3.dylib
sqlite3_free_table + 48616
5	libsqlite3.dylib
sqlite3_rekey + 85820
6	libsqlite3.dylib
sqlite3_rekey + 8504

[2018-11-29 02:05] stshelton commented on #2125
Ok let me try the few things you suggested. Also technically I haven't sent out an update on new Apple ID just transferred apps. Do you think if I sent out an update that may help tokens automatically refresh?

[2018-11-29 02:32] paulb777 commented on #2070
Created b/120167700 for the APMSqliteStore crashes

[2018-11-29 07:49] jdanthinne commented on #2109
Deleted `Carthage` directory, but `carthage update` still stops at `Failed to read file or folder at /Users/xxx/Carthage/Build/iOS/gRPC.framework`.

[2018-11-29 09:54] sauravexodus commented on #2109
Facing the same issue. Any solution?

[2018-11-29 12:03] sivaerusappan commented on #2129
@ryanwilson Yes i tried to use @import FirebaseMLVision, this is the import library mentioned in code.
Here is My Pod entry, Its referred in firebase [ML Kit](https://firebase.google.com/docs/ml-kit/ios/recognize-text):

platform :ios, "11.0"
use_frameworks!
target 'MLVisionExample' do
pod 'Firebase/Core'

pod 'Firebase/MLVisionTextModel'
end

Please help me to fix the issue. Thanks for your reply

[2018-11-29 13:30] jutei commented on #1879
Hi @TKBurner
I'm facing the same issue. Initialisation is ok but then I've got the error for downloading settings
I tried to unlink the app (it worked) than re-linked it but still the same download settingd error...

My app id is com.truckfly.truckflyapp

Can you help me please?

[2018-11-29 13:40] ryanwilson commented on #2129
Based on the instructions, you also need to include `pod 'Firebase/MLVision'` in your Podfile as that contains the library necessary - the `Firebase/MLVisionTextModel` only contains the model used by `Firebase/MLVision`.

I noticed the instructions weren't very clear in this regard, and it may be reasonable to have `MLVision` as a dependency for `MLVisionTextModel`. I'll chat with the MLKit folks

[2018-11-29 14:01] PatrickNLT commented on #1733
@paulb777 Yes, it builds. But it crashes at launch.

[2018-11-29 14:22] rs-georg commented on #2109
Same issue here. Any idea how to fix it?

[2018-11-29 14:37] sivaerusappan commented on #2129
Thanks for your quick response, issue fixed!!! pod repo update fixed the issue, i got all dependencies after repo update.

[2018-11-29 14:49] adrianortuzar commented on #1986
I have exactly the same issue, any news about how to fix this crash?

[2018-11-29 15:00] #2129 closed

[2018-11-29 15:06] PeeGee85Spil commented on #1403
Having the same problem with FIrebase Dynamic Links on iOS. Normal dynamic links (when the app is already installed) work fine, deferred dynamic links lead to the store, I install the app and open it, nothing (application:openURL:sourceApplication:annotation: is not called). If I then close and restart the app, application:openURL:sourceApplication:annotation: is called and I do get the deeplink.

[2018-11-29 15:10] var-const commented on #2109
We're currently working with our release team to figure out the issue with the build.

[2018-11-29 15:19] keegho commented on #2089
@paulb777 Yes i read it and we all read it but after including `FirebaseAnalyticsBinary` plus other stuff we really have no clue which frameworks belong to the `FirebaseAnalyticsBinary`. So i think it has to be mentioned also in a way.

[2018-11-29 17:17] paulb777 commented on #2109
I updated FirebaseFirestoreBinary.json with a 5.13.1 version that properly puts `gRPCCertificates.bundle` in its new `FirebaseFirestore.framework` location instead of the no longer used gRPC.framework.

Please update and let us know if it works.

[2018-11-29 18:15] visumickey commented on #1986
This should be fixed in the upcoming release of Firebase performance.

[2018-11-29 19:16] chliangGoogle commented on #2125
Do you mean that you haven't switch your app certificate on your app yet? What about the console? have you updated the new certificate to the FCM settings?

[2018-11-29 21:57] paulb777 commented on #1733
@PatrickNLT Sorry I missed that it was a post-launch crash. This is a variation of https://github.com/CocoaPods/CocoaPods/issues/7850 and fixed in CocoaPods 1.6.0.  You can either update to the CocoaPods pre-release or continue using the workaround.

[2018-11-30 04:59] doddyth commented on #2112
Wow, thank you for the fast fixed! May I know when 5.14 release come out?

[2018-11-30 07:46] sauravexodus commented on #2109
I downgraded it to 5.12 and it worked. 👍

[2018-11-30 07:46] sauravexodus commented on #2109
Is this happening with 5.13.1 as well?

[2018-11-30 07:56] rs-georg commented on #2109
I still get the same error

Cartfile
[code]

Log
[code]

[2018-11-30 07:57] jdanthinne commented on #2109
@sauravexodus How do you downgrade? I've tried `binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseFirestoreBinary.json" "5.12"` but got `Parse error: binary dependencies cannot have a git reference for the version specifier`.

[2018-11-30 08:34] AlbertRenshaw opened #2134 "Firestore: Completion blocks don't return if networking has been disabled"
#### Environment:

  * Xcode version: 10.1
  * Firebase SDK version: 5.13.0
  * Firebase Component: Firestore
  * Component version: 5.13.0

#### Problem:

If networking is disabled on an instance of firestore, network calls will fail but their method's completion blocks do not return an error (in-fact they don't return _anything_ at all, which lead to an infinite loading screen in our app)

We ha

[2018-11-30 08:46] aplusm commented on #2118
Hi,

How can we proceed to move forward on this bug ?

[2018-11-30 09:32] sauravexodus commented on #2109
@rs-georg  Can you show me your `Cartfile.resolved`?

[2018-11-30 09:44] rs-georg commented on #2109
@sauravexodus
Good point! In the `Cartfile.resolved` it says 5.13.0 and not 5.13.1

[code]

[2018-11-30 09:45] ghost opened #2135 "FR: Swift Package Manager Support for Firestore and Auth"
### [READ] Step 1: Are you in the right place?
 Current Firestore Implementation can be used in SPM with Module map.

### [REQUIRED] Step 3: Describe the problem

Use firestore and Auth with SPM Packege

[2018-11-30 10:31] jdanthinne commented on #2109
I finally deleted my `Carthage` folder, then the `Cartfile.resolved`, and it's now taking the correct and latest version, and although it is a bit different (binary instead of binary-only) when loading, it works!

[code]

[2018-11-30 10:34] jdanthinne commented on #2109
But still not building… Carthage is ok, but Xcode not (even after Clean Build):
`error: /Users/xxx/Carthage/Build/iOS/gRPC.framework/gRPCCertificates.bundle: No such file or directory`

[2018-11-30 10:35] sauravexodus commented on #2109
It's because they removed the gRPC framework. Make sure you also remove it from your references in the frameworks folder.

[2018-11-30 10:56] jdanthinne commented on #2109
Is this `gRPCCertificates.bundle` still needed then (found it in the `FirebaseFirestore.framework`)?
Now I got a `Could not find auto-linked framework 'Firebase'`…

[2018-11-30 10:58] sauravexodus commented on #2109
I think you should do a `git reset --hard` and go back to 5.12. I have verified that it works 👍

[2018-11-30 12:45] PeeGee85Spil commented on #870
@richardliveraise Deferred deeplinks are handled differently on iOS and Android. Apparently the Google Play store can "hold" a deeplink for an app and pass the link after the app is installed. For Apple there is no such mechanism so developers have to store some identifying information on a back-end the moment the user clicks on a link, then on app start send that same identifying information to s

[2018-11-30 14:01] ryanwilson commented on #2135
Thanks for the feature request, @ios3! I have a few questions about your usage, if you don't mind!

1. Do you currently use SPM for your iOS App?
2. Are you using SPM for other platforms?
3. You mentioned that the current Firestore Implementation can be used in SPM with a module map - have you tried this, and if so, can you please share some details?

This is something we're keeping a close eye on

[2018-11-30 14:06] ryanwilson commented on #2112
You're very welcome 😄 by policy, we don't commit to dates for upcoming releases, but I will say that we are hoping to get 5.14.0 out with this issue fixed next week.

[2018-11-30 14:29] ryanwilson commented on #2134
Thanks for the report, I'm digging in to see if I can find out why this is happening.

[2018-11-30 14:35] ryanwilson commented on #2134
One thing in case you haven't tried yet - have you created a completion handler for the `disableNetworkWithCompletion:` and called the `setData:` within that? Off the top of my head, I'm wondering if there's a race condition where something gets queued and killed along the way.

The completion handler should still get called, but thought I'd check if there's a workaround in the meantime while we t

[2018-11-30 15:14] var-const commented on #2109
@jdanthinne Yes, the bundle is still necessary, please refer to the [updated Carthage instructions](https://github.com/firebase/firebase-ios-sdk/pull/2132). (To give some background on this, the certificates file are necessary for SSL to work. Previously, Firestore relied on Objective-C gRPC framework, which bundled that file. Now that Firestore switched to C++ gRPC framework, which for the time b

[2018-11-30 16:53] wilhuff commented on #2134
Hi, this behavior is intended. Our [docs](https://firebase.google.com/docs/reference/ios/firebasefirestore/api/reference/Classes/FIRDocumentReference#-setdatacompletion) describe the completion handler like this:

Firestore locally queues writes and already guarantees that your operations are serialized even without waiting on the completion handler. That is, in the absence of any other things mod

[2018-11-30 16:53] #2134 closed

[2018-11-30 20:19] jdanthinne commented on #2109
@var-const Sorry, that was 2 questions... the certificates file problem is ok. I’ve used the updated instructions.
But the auto-linked framework is not...

[2018-11-30 21:03] #2092 closed

[2018-11-30 22:31] AlbertRenshaw commented on #2134
I understand and that's a reasonable stance. Even still, with no clues it was very hard for us to debug until finally our coders from different buildings got on the phone and were able to talk and uncover what had happened. Might I suggest that in the event a server call is made while networking has been disabled it at least NSLogs a hint like 'p.s. you have manually disabled networking, this call

[2018-11-30 23:39] paulb777 commented on #2109
The auto-linked framework question sounds like a configuration issue. Make sure that Firebase.framework is deleted from the Link Binary With Libraries Build Phase.

[2018-12-01 00:36] FullstackJack commented on #1916
How do you handle the reference to React in Pod deps after that? What does your Podfile look like?

[2018-12-01 04:04] noahtallen commented on #1916
Here's my current pod file:

[code]

[2018-12-01 08:10] jdanthinne commented on #2109
It is deleted. It was already before updating to 5.13.0, and everything was compiling fine.

[2018-12-01 17:01] FullstackJack commented on #1916
Yeah, the sub specs for RN is what I find most annoying about listing React in the podfile because there could be 30 or so. Thanks for posting this.

[2018-12-01 17:53] noahtallen commented on #1916
That section isn’t really due to rhyme or reason, just to the fact that I’ve had to fix so many things with the build when upgrading different things.. and that’s basically how it has materialized over several months of that. I’m 100% sure that could be cleaned up. My guess is that react is manually linked and needs removed before pod link? I forget what it actually fixed at the time. I might spen

[2018-12-01 22:00] paulb777 commented on #2109
Anything in the log to indicate where the reference to the auto-linked 'Firebase' is coming from?

[2018-12-02 01:43] joelmarquez90 commented on #1694
Just for anyone there that steps up with this problem, the solution was to check for the `providerData` first object, and then grabbing the `displayName` on it, which was the Facebook user name.

[2018-12-02 18:44] pschneider opened #2138 "gRPC abort in grpc::Channel::PerformOpsOnCall"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.1
  * Firebase SDK version: 5.13.0
  * Firebase Component: Firestore
  * Component version: Latest one included in 5.13.0 pod

### [REQUIRED] Step 3: Describe the problem

We never saw this crash before. We thought it might be related to the recent switch from gRPC in #1968 and related ones.

The app is currently running in a

[2018-12-03 01:35] var-const commented on #2138
Thank you for the report. This certainly looks related to the recent gRPC transition. I will try to reproduce this and will follow up here.

[2018-12-03 01:47] var-const commented on #2138
@ntnmrndn Does your stack trace also look identical?

[2018-12-03 01:55] ntnmrndn commented on #2138
@var-const I have the same stack trace, and a second one in addition (almost identical).

See:

[2018-12-03 04:52] ios3 commented on #2135
Do you currently use SPM for your iOS App?
No, we are currently using SPM for our CLI App.
Are you using SPM for other platforms?
Yes, CLI and Server Side
You mentioned that the current Firestore Implementation can be used in SPM with a module map - have you tried this, and if so, can you please share some details?
No

[2018-12-03 07:46] jdanthinne commented on #2109
[code]

[2018-12-03 12:41] pschneider commented on #2138
We sadly could not reproduce this crash in our development environment yet but as soon as I have more information I'll provide it here.

[2018-12-03 13:56] cobalt910 opened #2141 "r"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2018-12-03 15:04] paulb777 commented on #2141
Please fill out template.

[2018-12-03 15:04] #2141 closed

[2018-12-03 17:03] zackshapiro commented on #2138
I'm also getting this as well

[2018-12-03 17:22] zackshapiro commented on #2138
I'm downgrading to `FirebaseFirestore 0.14.0` to see if it fixes the issue since #1968 was merged 23 days ago and 0.14.0 is the last build before

[2018-12-03 23:03] var-const commented on #2138
One thing that I found a little weird is that there is one function I would expect to see in the call stack that isn't there. To clarify, in all the call stacks I see, execution goes directly from `GrpcStream::Shutdown` to `grpc::ClientAsyncReaderWriter::Finish`. I would expect to see `GrpcStream::FinishCall` in-between. Perhaps it's just optimized away, but just to double-check, it would be helpf

[2018-12-03 23:13] var-const commented on #2138
Ignore my previous post; looks like that function can indeed be optimized away.

[2018-12-04 01:04] stshelton commented on #2125
No, I did switch app certificates and I  updated FCM settings with new APN certificate. But at the time I did not actually submit a new build to the new Apple ID. When transferring apps between Apple IDs I didn't have to submit a new build,  I just transferred the current build that was on the old Apple ID to new  Apple ID. But this past weekend I sent out an update with new Apple ID, and the user

[2018-12-04 01:47] renkelvin commented on #2099
@radvansky-tomas Hey, I couldn't reproduce the warning. According to your console log, it seems the duplicates are in timerushframework.framework and timerush-dev.app. Is is possible timerushframework.framework is a dependency of timerush-dev.app?

[2018-12-04 01:50] radvansky-tomas commented on #2099
Thank you, yes...There is a bug in cocoa pods and way how firebase is structured. IE. if you have project with multiple targets -> app, watch, extensions and shared framework and you want to reference some dependencies in all of them and some not. Specially with firebase SDK when you cant really use them as dynamic frameworks in your custom pods. If anyone is interested, here is issue when I am tr

[2018-12-04 17:53] businessengine commented on #2138
@zackshapiro can you please share how to deal with the downgrade. We used
`  pod 'FirebaseCore', '~> 5.1.7' #, :git => 'https://github.com/firebase/firebase-ios-sdk.git', :branch => 'master
  pod 'FirebaseFirestore', '~> 0.14.0' #, :git => 'https://github.com/firebase/firebase-ios-sdk.git', :branch => 'master'
  pod 'Firebase/Database'
  pod 'Firebase/Storage'
  pod 'Firebase/Messaging'
  pod 'Fir

[2018-12-04 18:10] morganchen12 commented on #2125
@stshelton, can you open a [support ticket](https://firebase.google.com/support/contact/?category=troubleshooting) and reference this issue? When filling out the form, please share your FCM tokens that failing to receive pushes and we'll be able to look at what's happening to them on the backend.

[2018-12-04 18:10] morganchen12 commented on #2099
Closing since this isn't a Firebase issue, but feel free to continue discussing here.

[2018-12-04 18:10] #2099 closed

[2018-12-04 18:41] var-const commented on #2138
We found a bug which might be the cause of the issue (hard to say with full confidence, because the issue is so hard to reproduce, but the symptoms look similar). We're actively working on a fix, and I will post an update here as soon as I have it.

[2018-12-04 18:42] zackshapiro commented on #2138
@businessengine I just bumped the version of FirebaseFirestore down from 0.15.0 to 0.14.0 and did a pod install. That's it :)

[2018-12-04 18:43] pschneider commented on #2138
@var-const Thank you very much for your work on this! Very appreciated!

[2018-12-04 18:48] zackshapiro commented on #2138
+1

[2018-12-04 23:52] FullstackJack commented on #1916
@noahtallen What does your xcworkspace project looks like. When I list React under Podfile I get duplicate module for `react-native`.

[code]

[2018-12-05 02:41] var-const commented on #2138
Update: I merged a [PR](https://github.com/firebase/firebase-ios-sdk/pull/2146) to `master` which I believe might fix the issue. However, because the issue is so difficult to reproduce, it's hard to know whether this fix covers all possible cases.

It would be super helpful if anyone could temporarily modify their podfiles to get Firestore from the current `master` branch and give it a try. The in

[2018-12-05 04:40] noahtallen commented on #1916
I'm not sure if this is helpful, or even if it's optimal for us.
<img width="245" alt="screen shot 2018-12-04 at 11 35 29 pm" src="https://user-images.githubusercontent.com/6265975/49490342-855ced80-f81d-11e8-9d70-92b1cf0f4f3d.png">

It looks as if that's finding react-native's JS files through both Pods and node_modules, which is strange. Did you add the post install step, and then run `pod insta

[2018-12-05 09:31] MrAPolk opened #2147 "UI Tests no longer run after Firebase/Core pod install"
### Describe your environment

  * Xcode version: 10.1
  * Firebase SDK version: 5.13.0
  * Firebase Component: Core
  * Component version: 5.13.0
  * CocoaPods: 1.5.3

### Describe the problem

When I installed the Firebase Core pod and try and run my test target it runs my unit tests correctly buy fails to launch my UI tests giving the following error:

`BrokenFirebaseCoreUITests-Runner.app (807

[2018-12-05 10:46] seblau opened #2148 "[FIRApp configure] takes ~1 second on iPhone 6Plus"
* Xcode version: 10.1
  * Firebase SDK version: 5.11.0
  * Firebase Component: Core, Messaging
  * Component version: 5.11.0

#### Steps to reproduce:

I annotated my AppDelegate.m with two NSLog statements, made a Release build and run the app on an iPhone 6Plus. As you can see from the Log output below, `[FIRApp configure]` takes 0,8 seconds to finish. I testet multiple times (warm and cold star

[2018-12-05 11:42] guidedways opened #2149 "FirebaseCrash to support macOS - moving from Fabric"
I realize macOS support isn't there, but given the community has provided support for macOS (somewhat), is there a way to make FirebaseCrash work with macOS? I'm porting my code over from Fabric to Firebase given Fabric is on its last leg and the Google wants us to move us all to Firebase. I'm surprised the support for macOS isn't there as it was in Fabric.

What are we supposed to do when Fabric

[2018-12-05 12:30] ryanwilson commented on #2148
Hi @seblau - thanks for the report. This doesn't sound great, we'll definitely try to track it down. I'll answer your questions first, then ask a few of my own if that's okay!

I'll try to find an iPhone 6 Plus to reproduce - but it would help to know what iOS version it's running (see questions below).

It's recommended to run `[FIRApp configure]` as soon as possible in order to detect some event

[2018-12-05 12:45] ryanwilson commented on #2149
Hi @guidedways - FirebaseCrash was deprecated in favor of Crashlytics. You can find the documentation [here](https://firebase.google.com/docs/crashlytics/).

We're working on tightening the integration on the SDK side, and in the meantime you can depend on the `FirebaseCore` pod directly (instead of `Firebase/Core`) for macOS projects.

Let me know if that's what you're looking for, or you have mo

[2018-12-05 12:48] ryanwilson commented on #2072
Hi @jxy4769 - so we can better understand the use case, what App Extensions were you trying to integrate with?

[2018-12-05 12:48] guidedways commented on #2149
Thanks Ryan

In that case, the instructions are confusing. There's conflicting implied information in the docs. I realise it mentions we need to be using Crashlytics, however the "Crash Free Users" section in Firebase instructs us to use Firebase.

I also dislike using Pods (it won't work in our setup) and the manual process of including Frameworks hasn't quite worked. There's in fact no `@import

[2018-12-05 12:51] guidedways commented on #2149
On top of this, we were already using `GTMAuth` in one of our frameworks which then uses `GTMFetcherSession`. If I now try and include `FirebasePerformance` into our iOS variant, the app won't compile given there are now dozens of duplicate symbols. It's not going to be easy removing `GTMFetcherSession` from being included in our build given `GTMAuth` depends on it. I'm sort of stuck in a cyclic r

[2018-12-05 13:08] ryanwilson commented on #2147
Thanks for the report, and producing a repro! We can take a look today to see if this is expected or not.

Also, thanks for adding the workaround! It doesn't sound unreasonable that it could be expected to include that, but it looks like the `inherit! :search_paths` is added appropriately in the Podfile.

Will update this issue when we figure things out.

[2018-12-05 13:39] guidedways commented on #2149
Furthermore, I tried setting this up for another macOS project just now (using cocoa pods) and I get this:

`[!] The platform of the target `BusyCal MAS` (macOS 10.11) is not compatible with `Firebase/Core (5.14.0)`, which does not support `osx`.`

[2018-12-05 13:44] ryanwilson commented on #2149
This is great feedback, thanks for all the info.

For the "Crash Free Users" section, are you referring to [this page](https://support.google.com/firebase/answer/7245318?hl=en#), or a different doc? I see a deprecation notice at the top, but we could have other documentation that hasn't been updated. Any help tracking down old or outdated docs would be greatly appreciated!

Re: no `@import Firebas

[2018-12-05 13:45] ryanwilson commented on #2135
Thanks for the info, @ios3.

[2018-12-05 14:01] guidedways commented on #2149
Thanks a lot Ryan! I've now undone all of my changes (since I spent an hour trying to get it to work), so I don't remember what framework it was that complained about `UIApplication`, however since I was only trying to manually import `Firebase/Crash` and `Firebase/Analytics`, it should be easy to reproduce at your end. I suppose it might have been `Firebase/Analytics` in case that isn't yet suppo

[2018-12-05 14:31] code-surf opened #2151 "Firebase - GoogleAppMeasurement dependency crash"
* Xcode version: 10.1
  * Firebase SDK version: 5.11.0
  * Firebase Component: Core
  * Component version: 5.11.0

It looks like you have updated the cocoapod for GoogleAppMeasurement to version 5.4.0. This makes app using Firebase 5.11.0 crash with console log:

*** Terminating app due to uncaught exception 'FIRAnalyticsVersionMismatch', reason: 'Google Analytics for Firebase version (50300000) d

[2018-12-05 14:56] code-surf commented on #2147
Hi, this might be related to the issue I found:
https://github.com/firebase/firebase-ios-sdk/issues/2151

[2018-12-05 14:59] paulb777 commented on #2151
Hi @code-surf Thanks for the report

We fixed the issue of making the CocoaPods dependency of FirebaseAnalytics lock to the GoogleAppMeasurement version in Firebase 5.14.0 along with versions 5.4.0 of FirebaseAnalytics and GoogleAppMeasurement.

The recommended solution is to run `pod update` to update the latest version of all Firebase pods.

If you want to stick to Firebase 5.11.0, you should lo

[2018-12-05 14:59] #2151 closed

[2018-12-05 15:01] code-surf commented on #2151
Hi @paulb777 ,

thank you for the update. I didn't see the release notes of 5.14.0 here: https://firebase.google.com/support/release-notes/ios
 so I didn't notice the fix. Thank you for the update

[2018-12-05 15:04] paulb777 commented on #2151
Looks like there's a delay in publishing the release notes. We'll follow up on that.  Thanks for letting us know.

[2018-12-05 15:35] paulb777 commented on #2147
@MrAPolk Thanks for the report and great minimal, reproducible example.

This issue seems to be a CocoaPods bug and discussed at https://stackoverflow.com/questions/34990175/test-target-x-encountered-an-error-early-unexpected-exit-operation-never-finis.

Your workaround is the most popular answer.  I also verified that hujunfeng's answer of un-nesting the test target also works.

@code-surf - Than

[2018-12-05 15:35] #2147 closed

[2018-12-05 15:59] davidair commented on #2148
Another interesting thing worth checking - what happens if you create a blank app from scratch and add Firebase to it? Would you still encounter the same startup latency issue?

[2018-12-05 16:22] paulb777 commented on #2147
No difference with the latest CocoaPods 1.6.0.

[2018-12-05 16:27] bdhaeseleer opened #2152 "Notifications only received when device is targeted"
* Xcode version:  10.1
  * iOS version tested : 12.1
  * Firebase SDK version: _5.12.0_
  * Firebase Component: Core, messaging
  * Component version: 3.2.1

### Describe the problem

I'm able to receive my notifications from the firebase console when I target a specific device token but when I try to target the entire application, there's no notifications received.
The configuration on the fireba

[2018-12-05 17:45] morganchen12 commented on #2152
Are you accidentally targeting the wrong bundle ID?

[2018-12-05 17:48] morganchen12 commented on #2149
Can you share your Podfile?

[2018-12-05 17:53] guidedways commented on #2149
Sure

[code]

[2018-12-05 17:55] guidedways commented on #2149
But as I mentioned, the duplicate class message isn't because there's a duplicate within your frameworks - we have a complex web of internal frameworks we use, and one of our internal frameworks already uses `GTMAppAuth` (as source) which already contains `GTMSessionFetcher`. There's no easy way around this as we cannot remove the dependency we have already (we've got a few modifications on top of

[2018-12-05 17:57] morganchen12 commented on #2149
Since your internal framework isn't managing its dependencies through CocoaPods, you won't be able to resolve this issue via CocoaPods. The easiest way to avoid the duplicate class dependencies is to just rename all the Google classes in your internal framework so they won't conflict with Firebase's version. Unfortunately any cleaner solution will be difficult since you're essentially mixing depen

[2018-12-05 21:52] UIowaEABurns commented on #2118
Hello,

Sorry for the late response-- I missed this notification. Yes, a private zip is fine. Feel free to send an email to me.

Thanks!

[2018-12-05 22:15] morganchen12 commented on #2085
@rs-georg, please comment here again if this is still an issue and I'll reopen it.

[2018-12-05 22:41] mayankjanmejay commented on #1045
Hi, I have the same issue but on Cloud Firestore Plugin for flutter. I am loading through only about a 1000 records and they take up to 30 seconds to a minute sometimes on a 100MBps internet connection to the tablet loading the data

[2018-12-06 03:05] wilhuff commented on #2138
@pschneider @zackshapiro @businessengine

Any chance you could try out our fix?

Add this to your `Podfile` for testing:

[code]

[2018-12-06 07:28] babuiglesiaskhan opened #2155 "Firebase/Perofrmance issue"
Describe your environment
  * Xcode version: 9.2
  * Firebase SDK version: 4.9.0
  * Firebase Component: _____ (FirebaseAnalytics (4.0.9), FirebaseAuth (4.4.3), FirebaseCore (4.0.15), FirebaseDatabase (4.1.4), FirebaseInstanceID (2.0.9), FirebaseMessaging (2.1.0), etc)
  * Component version: _____

### [REQUIRED] Step 3: Describe the problem
I just installed FirebasePerformance but with automatica

[2018-12-06 07:37] babuiglesiaskhan commented on #1197
Describe your environment

Xcode version: 9.2
Firebase SDK version: 4.9.0
Firebase Component: _____ (FirebaseAnalytics (4.0.9), FirebaseAuth (4.4.3), FirebaseCore (4.0.15), FirebaseDatabase (4.1.4), FirebaseInstanceID (2.0.9), FirebaseMessaging (2.1.0), etc)
Component version: _____
[REQUIRED] Step 3: Describe the problem
I just installed FirebasePerformance but with automatically installed Fireba

[2018-12-06 07:38] babuiglesiaskhan commented on #1197
How could I resolve this issue?

[2018-12-06 09:02] triplef commented on #843
+1

@mathieugarcia can you share how you are hiding the directory? We tried setting `NSURLIsHiddenKey` but it’s still showing in Files app.

[2018-12-06 11:51] KunalDev opened #2156 "Crash: [FIRAnalytics notifyEventListenersOnSerialQueue:]"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.1
  * FirebaseCore 5.0.5
  * FirebaseAnalytics 5.0.1

### [REQUIRED] Step 3: Describe the problem

Application is getting crashed with below log:

+[FIRAnalytics notifyEventListenersOnSerialQueue:]

[code]

#### Steps to reproduce:

**The crash is not reproducible at my end. How ever we are getting 2 crashes for the same in la

[2018-12-06 13:40] dipen-apptrait opened #2157 "FIRDatabase reference always returns nil for Apple TV works fine for iOS"
When we try to initialise FIRDatabase reference for Apple TV it always returns nil and it works totally fine for iOS version.
We use below syntax. We do configure firebase in appdelegate file and also confirmed the config file.
`self.ref = [[FIRDatabase database] reference];`

Also please note that we use the example code provided with this repository.

[2018-12-06 14:00] ryanwilson commented on #2156
Can you please share what other Firebase frameworks you're using?

Without steps to reproduce it's hard to know whether or not upgrading Firebase versions will resolve it, but there have been major changes in Analytics since 5.0.1 and is now on version 5.4.0.

[2018-12-06 14:02] ryanwilson commented on #2157
Hi @dipen-apptrait,

1. Can you please check if `[FIRDatabase database]` is nil or not in this situation?
2. Are any errors or warnings logged in the console?

Thanks!

[2018-12-06 14:09] KunalDev commented on #2156
**
I have POD files for below 2 frameworks:

'Firebase/Core'
'Firebase/Messaging'

Firebase - 5.4.0
FirebaseAnalytics - 5.0.1
FirebaseAnalyticsInterop - 1.1.0
FirebaseCore - 5.0.5
FirebaseInstanceID - 3.1.1
FirebaseMessaging - 3.0.3

**

[2018-12-06 14:18] ryanwilson commented on #2155
Hi @babuiglesiaskhan - Firebase 4.9.0 was release about 10 months ago and there have been several iterations (including a major version update, 5.0) and we're currently on version `5.14.0`. The functionality of the `FirebaseSwizzlingUtilities` framework is now integrated with `GoogleUtiltiies` pod.

There are many bug-fixes (and features) included since then, it's recommended that you update to th

[2018-12-06 15:51] paulb777 commented on #1197
@babuiglesiaskhan See the workaround above https://github.com/firebase/firebase-ios-sdk/issues/1197#issuecomment-385554442

[2018-12-06 15:53] paulb777 commented on #2155
This is a duplicate of #1197. A workaround is posted there at https://github.com/firebase/firebase-ios-sdk/issues/1197#issuecomment-385554442

[2018-12-06 15:53] #2155 closed

[2018-12-06 16:41] businessengine commented on #2138
Thanks @var-const for the quick fix on this. We have made a build with this fix and will monitor to see if the crash is gone.

[2018-12-07 00:13] mqln commented on #1197
This is still borked :<

[2018-12-07 05:11] dipen-apptrait commented on #2157
There is no error on console. And yes

 is

![screen shot 2018-12-07 at 10 36 40 am](https://user-images.githubusercontent.com/17145241/49628853-9ddf2a80-fa0c-11e8-95c6-352517af3ebd.png)
![screen shot 2018-12-07 at 10 37 28 am](https://user-images.githubusercontent.com/17145241/49628854-9ddf2a80-fa0c-11e8-9312-01a685b85da9.png)

[2018-12-07 06:33] pschneider commented on #2138
@wilhuff We've pointed to the fix in our app as well. Unfortunately the crash also didn't happen for us anymore since I've created the issue (I guess the internal test usage of the app is probably to low right now) and therefor it will be hard to really verify this. But I'll report back if we can see the crash again.

[2018-12-07 08:34] seblau commented on #2148
Hi @ryanwilson,

1.) iOS 12.0.1
2.) I testet only on iPhone 6Plus so far
3.) For the "warm start" I completely closed the app (swiped it away) and started it again
4.) My test app is a React Native app which includes the Firebase SDK via https://github.com/invertase/react-native-firebase version 5.1.1. This package is using Firebase SDK component of version 5.11.0
5.) The Podfile for the Firebase

[2018-12-07 10:43] businessengine commented on #2138
We confirm that no crash for the last 12hours since the fix was deployed!

[2018-12-07 14:30] ryanwilson commented on #2157
Hmm, that's definitely a bug. Thanks for finding this! We recently changed around how we handle the singleton, I'll poke around and see what I can find.

[2018-12-07 14:40] #1792 closed

[2018-12-07 14:40] #1793 closed

[2018-12-07 16:41] ryanwilson opened #2159 "Add tvOSSample to Travis"
We should add the compilation of tvOSSample to Travis so something like #2158 doesn't happen again.

[2018-12-07 17:25] #2157 closed, assigned to nobody

[2018-12-07 18:30] scalessec opened #2161 "FirebaseCoreDiagnostics was built for archive which is not the architecture being linked (arm64)"
* Xcode version: 10.1 (10B61)
  * Firebase SDK version: 5.14.0
  * Firebase Component: Core

Currently seeing this log when building for a device:

`ld: warning: ignoring file /web/mobile-iossdk/Carthage/Build/iOS/FirebaseCoreDiagnostics.framework/FirebaseCoreDiagnostics, file was built for archive which is not the architecture being linked (arm64): /web/mobile-iossdk/Carthage/Build/iOS/FirebaseCo

[2018-12-07 19:57] morganchen12 commented on #2161
The wrong architecture is not going to be linked in anyway, so removing that framework for now has no negative effects beyond what the missing architecture is already doing.

[2018-12-07 23:46] paulb777 commented on #2161
Thanks for the report @scalessec.  I've reproduced and will investigate.

[2018-12-08 01:46] fschaus commented on #2138
Just a heads up that I am also seeing the exact same crash on the latest Firestore version. Will deploy the latest fix on my test environment and see if it still reproduces.

Thanks for the quick work on trying to fix this!

[2018-12-08 11:29] guidedways commented on #1732
Same here. It would be great to have this, along with `FirebasePerformance` added to the mix. `FirebasePerformance` is perhaps one of the things that's exciting me about the move from Fabric to Firebase.

[2018-12-08 11:32] guidedways opened #2163 ""Checking if app has communicated.." on macOS"
I've gone through the process of including `FirebaseCore` into a macOS app. I realize this is community supported, however I am also under the impression that since `FirebaseCore` is supported, the Firebase console should be able to recognise our app communicating with the servers?

I am only seeing this on the `Add Firebase to your iOS apps` (except, I'm adding it to a macOS app)

`Checking if th

[2018-12-08 15:12] paulb777 commented on #2163
It's supposed to work. Is there something not working beyond the confusing log message?

[2018-12-08 15:20] guidedways commented on #2163
Well, the linking page keeps spinning suggesting the app never communicated. I can see crashes appear but those should come through crashlytics anyway. I guess I’m not even sure why we have to link our apps to Firebase from Fabric. What benefit am I getting out of this linkage when a) it won’t link, b) if it did, I don’t know what to look out for.

[2018-12-08 20:11] wilhuff commented on #2138
(I've updated the title here to avoid the "non-virtual thunk" because that description was misleading.)

At this point we haven't been able to reproduce this on device, but given the stack were able to recreate this in unit tests added in #2146. We believe that fixes this issue and it will go out with the next release.

[2018-12-08 20:11] #2138 closed

[2018-12-10 02:16] roothybrid7 opened #2165 "Using Firebase/Performance via CocoaPods, A runtime error occurred in the project with application target and app extension target."
### [READ] Step 1: Are you in the right place?

   Yes.

### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.1 (10B61)
  * Firebase SDK version: 5.13.0
  * Firebase Component: Performance
  * Component version: 2.2.1

### [REQUIRED] Step 3: Describe the problem

When run the app, then the following things happened.

[code]

#### Steps to reproduce:

If you use firebase SDK in t

[2018-12-10 02:32] roothybrid7 opened #2166 "On new build system, build failed for archive because of Multiple commands produce"
### [READ] Step 1: Are you in the right place?

  Yes.

### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.1 (10B61)
  * Firebase SDK version: 5.13.0
  * Firebase Component: Performance
  * Component version: 2.2.1

**same as #2165**

### [REQUIRED] Step 3: Describe the problem

following log when building for archive:
[code]

#### Steps to reproduce:

To run archive on new bu

[2018-12-10 05:12] xiao99xiao commented on #1879
Same here. Tried all methods mentioned above.
Only the crashlytics part is not working. Analytics works like a charm.

[2018-12-10 06:52] dbarrett0815 opened #2167 "Firestore completion handler not called for setData"
### [READ] Step 1: Are you in the right place?
Yes
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.1
  * Firebase SDK version: 5.14.0
  * Firebase Component: Firestore
  * Component version: 5.14.0

### [REQUIRED] Step 3: Describe the problem
Setting data to firestore using the setData method does not execute closure. Reading from the database works but cannot add new data

[2018-12-10 07:03] KunalDev commented on #2156
Here is the symbolicated Crash log:

#5. Crashed: FIRAnalyticsQueue
0  libobjc.A.dylib                0x204e2d428 objc_retain + 8
1  WDSDK                   0x1033fdef8 __CLSFIRAEventParametersAsPrimitiveDictionary_block_invoke + 32
2  CoreFoundation                 0x205b2c45c -[__NSDictionaryM enumerateKeysAndObjectsWithOptions:usingBlock:] + 232
3  WDSDK                   0x1033fdeb0 CLSFIRAEve

[2018-12-10 08:43] duyenlv opened #2168 "InAppMessaging - doesn't show third or fourth campaign for the same event."
* Xcode version: 10.1
  * Firebase SDK version: 5.13.0
  * Firebase Component: InAppMessagingDisplay
  * Component version: (0.12.2)

### [REQUIRED] Step 3: Describe the problem

app doesn't show third or fourth campaign for the same event.
it's also occurred on Quick Start example project.

#### Steps to reproduce:

1, Setup project with Firebase App Id and our bundle id.

2, Build Quick Start sa

[2018-12-10 08:47] duyenlv opened #2169 "InAppMessaging - doesn't show third or fourth campaign for the same event."
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.1
  * Firebase SDK version: 5.13.0
  * Firebase Component: InAppMessagingDisplay
  * Component version: (0.12.2)

### [REQUIRED] Step 3: Describe the problem

app doesn't show third or fourth campaign for the same event.
it's also occurred on Quick Start example project.

#### Steps to reproduce:

1, Setup project with Firebas

[2018-12-10 08:47] #2168 closed

[2018-12-10 08:51] duyenlv opened #2170 "InAppMessaging doesn't show third or fourth campaign for the same event."
### [READ] Step 1: Are you in the right place?

Yes

### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.1
  * Firebase SDK version: 5.13.0
  * Firebase Component: InAppMessaging
  * Component version: 5.13.0

### [REQUIRED] Step 3: Describe the problem

app doesn't show third or fourth campaign for the same event.
it's also occurred on Quick Start example project.

#### Steps

[2018-12-10 09:47] r-a-o commented on #707
This issue is happening with the latest version of the SDK, on iOS 10.3.3

[2018-12-10 13:53] ryanwilson commented on #2156
Awesome, thank you! Looks like the crash is coming from Crashlytics. I'll see if we can track down exactly what's going wrong.

[2018-12-10 14:04] KunalDev commented on #2156
Kindly find the attached fully symbolicated log. Which might helpful to you.
[Symbolicated Log.txt](https://github.com/firebase/firebase-ios-sdk/files/2663395/Symbolicated.Log.txt)

[2018-12-10 15:17] paulb777 commented on #2165
Remove `pod 'Firebase'` from the app extension target.

This is likely an instance of the CocoaPods issue - https://github.com/CocoaPods/CocoaPods/issues/8206. Workarounds include using the old build system or making sure that requested subspecs match between extension and main targets.

However, to take a step back, I don't know of a reason to include `pod 'Firebase'` in an app extension target,

[2018-12-10 15:24] paulb777 commented on #2161
There was a regression in the Carthage build process that has been addressed and will be available with the 5.15.0 release. Thanks for the report.

[2018-12-10 15:24] #2161 closed

[2018-12-10 15:43] paulb777 commented on #707
@r-a-o Please open another issue with details about the contents of the `Podfile` and `Podfile.lock`

[2018-12-10 18:04] wilhuff commented on #2167
Could you [enable logging](https://firebase.google.com/docs/reference/swift/firebasefirestore/api/reference/Classes/Firestore#/c:objc(cs)FIRFirestore(cm)enableLogging:) and post what you see in the logs? I can't think of any way that reads would work but writes don't work that's related to certificate setup--the connection should be all or nothing.

One thing to be careful of: are you sure `getDoc

[2018-12-10 18:05] AndriyGo commented on #1917
@morganchen12

I can't reproduce it now. Don't know what has changed. If it resurfaces I will let you know how it can be reproduced.

[2018-12-10 18:17] wilhuff commented on #2167
We've updated the Carthage instructions in #2171.

[2018-12-10 18:18] morganchen12 commented on #1917
Thanks @AndriyGo. I'll close this issue for now, but please comment if it resurfaces again.

[2018-12-10 18:18] #1917 closed

[2018-12-10 18:20] var-const commented on #2167
An assertion will [fail](https://github.com/firebase/firebase-ios-sdk/blob/master/Firestore/core/src/firebase/firestore/remote/grpc_root_certificate_finder_apple.mm#L59-L61) if  the certificates bundle cannot be loaded, triggering a crash, so it's unlikely that this issue is related to certificates.

[2018-12-10 18:32] dbarrett0815 commented on #2167
Here is a debug log of the successful getDocuments and a failed setData ran on a real device
[code]

[2018-12-10 18:42] dbarrett0815 commented on #2167
@wilhuff The read with `getDocuments()` appears to be hitting the database. Whenever I make a change in the firestore its able to pull those changes in. And if the client was offline shouldnt it read all those docuements that I have attempted to write but failed? It doesnt pick up on those local writen docuemnts on a read only whats in the actual firestore database.

[2018-12-10 18:55] mikelehen commented on #2167
@dbarrett0815 Thanks for the logs! Very helpful.

It looks like what's happening is that your write is being queued before you're authenticated to Firebase Authentication and so it's an "unauthenticated" write.  And then you authenticate as some user before we get a chance to send the write to the backend, and so we do _not_ send it, because now you're authenticated as a different user.

Basically

[2018-12-10 19:01] dbarrett0815 commented on #2167
@mikelehen That seems like that was the issue! I was bypassing the login for testing purposes but when I logged in it worked. Thank you

[2018-12-10 19:03] #2167 closed

[2018-12-10 19:15] zackshapiro commented on #2138
Thanks for all of your work on this. Really appreciate it and so quickly.

What does this functionality improve or enable that wasn't there before? Thanks

[2018-12-10 19:35] wilhuff commented on #2138
I'm not sure I understand the question. Do you mean what did our fix change? The PR notes describe the underlying problem and the changes to address it so we didn't repeat that here. However, maybe you meant something else though--could you clarify which functionality you're inquiring about?

[2018-12-10 21:53] wilhuff commented on #2138
A colleague has pointed out that you may have been inquiring why we're migrating our usage C++ internally. This doesn't really benefit existing users at all but the point of the project is to make Firestore compatible with the Firebase Games SDKs, which are available in C++ and Unity and also run on Windows and Linux. Our eventual goal here is to share the core of this Firestore codebase among all

[2018-12-10 22:59] zackshapiro commented on #2138
@wilhuff Yeah I was more inquiring what benefits to my company, if any, these changes had aside from what's in 0.14.0 and if there was any urgency for me to upgrade our pod. I understand that your goal is to make Firestore compatible with the games SDK. Thanks for explaining

[2018-12-10 23:23] wilhuff commented on #2138
Our [release notes](https://firebase.google.com/support/release-notes/ios) list changes of note across Firebase products. If you're just interested in Firestore, the release notes come from our [CHANGELOG](https://github.com/firebase/firebase-ios-sdk/blob/master/Firestore/CHANGELOG.md).

Note that while we're putting a release together the CHANGELOG may have notes about changes that haven't yet ma

[2018-12-11 02:20] huakucha commented on #2070
Crashed: com.google.fira.worker
0  libsystem_platform.dylib       0x1aa722f3c _os_unfair_lock_unowned_abort + 36
1  libsystem_platform.dylib       0x1aa724524 _os_unfair_lock_unlock_slow + 144
2  libsqlite3.dylib               0x1aaf8e18c sqlite3_randomness + 4368
3  libsqlite3.dylib               0x1aaf6d878 sqlite3_value_text + 26356
4  libsqlite3.dylib               0x1aaf6d250 sqlite3_value_te

[2018-12-11 02:22] huakucha commented on #2070
- Firebase/Core (5.11.0):
    - Firebase/CoreOnly
    - FirebaseAnalytics (= 5.3.0)
  - Firebase/CoreOnly (5.11.0):
    - FirebaseCore (= 5.1.6)
  - Firebase/Performance (5.11.0):
    - Firebase/Core
    - FirebasePerformance (= 2.2.0)
  - Firebase/RemoteConfig (5.11.0):
    - Firebase/Core
    - FirebaseRemoteConfig (= 3.1.0)
  - FirebaseABTesting (2.0.0):
    - FirebaseCore (~> 5.0)
    - Protob

[2018-12-11 02:39] roothybrid7 commented on #2165
If I remove `pod 'Firebase'`, I think that I can't use **Analytics**  in the app extension target.

[2018-12-11 03:16] paulb777 commented on #2165
True, but Analytics is not very well supported in app extensions because of appID ambiguity and short extension lifetimes.  Have you found it to meet your needs?

[2018-12-11 04:10] roothybrid7 commented on #2165
Yes,  I hope I can roughly measure total amounts of receiving notifications by Analytics.
So there is no problem for now.
And then I split `GoogleService-Info.plist` for each the application target and the app extension target.

[2018-12-11 05:22] paulb777 commented on #2165
OK. Then for this issue, CocoaPods 1.6.0 is the solution.  However, for #2166, you would either need to use the old build system or update the Podfile to match the GoogleUtilities subspecs between the app and the extension.

[2018-12-11 07:32] roothybrid7 commented on #2165
OK. thanks.

[2018-12-11 11:09] agordeev opened #2177 "FIRESTORE INTERNAL ASSERTION FAILED: Could not load root certificates from the bundle. SSL cannot work."
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10
  * Firebase SDK version: 5.14.0
  * Firebase Component: Unsure (Auth, Core, Database, Firestore, Messaging, Storage, etc)

### [REQUIRED] Step 3: Describe the problem

I've updated Firebase from 5.11.0 to 5.14.0 using `pod update`. After fixing this compile issue:

[code]

by running pod install I finally got my project runni

[2018-12-11 13:31] lucasanovaes commented on #2177
I’m having the same issue, using the sane xcode and firebase SDK version.

Looking into the crash log, I noticed that only 32bit devices are being affected (iPhone 5, 5c and 4s)

I have more than 1k users affected. Any additional information, please contact me.

[2018-12-11 14:43] #2165 closed

[2018-12-11 15:20] paulb777 commented on #2163
Closing for now - will reopen with more info.

[2018-12-11 15:20] #2163 closed

[2018-12-11 15:22] paulb777 commented on #2152
Closing. Will reopen with more information.

[2018-12-11 15:22] #2152 closed

[2018-12-11 17:04] rfreude commented on #1399
Hi,

We are a software vendor for various clients. Last week we had about 100 apps in review (with Firebase) and 13 apps have been rejected for the reason of that timeout.

We will update all that apps now to the newest version of the Firebase SDK. We are not yet on Firebase 5.11.0, FirebaseInstanceID 3.3.0.

Just one question in advance – do you assume that issue is fixed even with compiler optim

[2018-12-11 17:15] paulb777 commented on #1399
@rfreude The fix was done in the FirebaseInstanceID library which is still delivered as a pre-built binary vendored_framework CocoaPods - so the app build options shouldn't matter.

[2018-12-11 19:34] Sndrsn commented on #2111
I was having the same issue. I went ahead and included the  inhibit warnings line, and ran pod update, and the warnings went away. WillShelley, did you include the comma after 'FirebaseFirestore' and run pod update afterward?

[2018-12-11 19:53] lucasanovaes commented on #2177
Take a loot at: https://github.com/firebase/firebase-ios-sdk/commit/c1c7506f947c64d2a7f9c324186fcca898fc7b9e

This is a commit made yesterday. Probably related to it. (expected to be released with version `5.15.0`)

[2018-12-11 20:49] wilhuff commented on #2177
@agordeev The assertion error indicates that something still isn't quite right in your build setup because the SDK can't find the resources at run-time. What version of CocoaPods are you using?

Note that at this point we know Firestore 0.15.0 and 0.16.0 are subject to a race condition on gRPC shutdown (#2138) so for the moment I'd advise that you hold off upgrading past Firestore 0.14.0 (Firebase

[2018-12-12 02:57] adamsinger commented on #1879
This is happening for my app as well.

One thing to note: the last version that has any analytics showing up in the Fabric console is 1.3.x, but my app is now at 2.0.2 (2.0 is when I attempted to transition from Fabric only to Firebase).

I tried doing the un-link and re-link flow, and selected that I was adding the integration to an existing Crashlytics app. Could the fact that the versions don't

[2018-12-12 03:41] AlecZadikian9001 opened #2179 "Authentication doesn't work within share extension, even with Keychain sharing enabled"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 9.4.1
  * Firebase SDK version: 5.14.0
  * Firebase Component: Auth
  * Component version: ? Latest

### [REQUIRED] Step 3: Describe the problem

You aren't logged into Firebase within a share extension, making it difficult to send authenticated requests to your own server. There are unofficial workarounds around the Internet, bu

[2018-12-12 04:34] paulb777 commented on #2177
@agordeev Try doing `pod deintegrate` and deleting the xcworkspace.  I've seen instances of corrupted workspaces in projects that have gone back and forth between CocoaPods 1.5.x and 1.6.x.

[2018-12-12 04:43] agordeev commented on #2177
@paulb777 Thanks for your suggestion but that didn't help. After installing all the pods and cleaning/rebuilding I still get

[code]

[2018-12-12 10:37] rfreude commented on #1399
Hi,

Ah OK - I was just referring to this post...

Well, we will update all 100 apps to the newest SDK version and submit them again. I'll keep you up to date in any case.

Best regards!

[2018-12-12 15:47] fschaus opened #2180 "FR: Connection speed monitoring"
Hello,

Sharing a feature request - would it be possible to implement a connection performance monitoring into the SDK?

I am getting user feedback that at times the connection to firebase is slow and I would like to show them that this is not due to the app but likely due to their slow connection so that they don't keep staring at their phones thinking my app is slow. I already implement reachabi

[2018-12-12 15:47] ElyasNaranjeeSani opened #2181 "Bug: Firebase analytics sends 2 screen_view events, if you set screen name"
* Xcode version: 10.1
  * Firebase SDK version: 5.14.0
  * Firebase Component: Analytics

#### Steps to reproduce:

Set a custom name for your screen and look at the DebugView dashboard. Your will see 2 `screen_view` events reported.
#### Note:
This only happens only first time the view controller gets allocated and after view is allocated then it sends only one event if the view appears again.

#

[2018-12-12 15:58] AlecZadikian9001 commented on #2179
Confirmed that the hacky method in the gist works. So all that's needed is a copy of the keychain data from the main app, and keychain sharing has to be enabled.

[2018-12-12 16:02] wilhuff commented on #2177
@lucasanovaes I'm at a loss for how to debug this further. Even after archiving an app I can see the `gRPCCertificates-Firestore.bundle` in the root of the .app as expected.

This is the code that loads the bundle:

https://github.com/firebase/firebase-ios-sdk/blob/master/Firestore/core/src/firebase/firestore/remote/grpc_root_certificate_finder_apple.mm#L37

can you see anything in there that is a

[2018-12-12 16:05] paulb777 commented on #2177
`path` is random stack data when `bundle` is nil.

[2018-12-12 17:02] lucasanovaes commented on #2177
@wilhuff No. Apparently there is no difference.

I don't know if the Crashlytics code can help some way...but:

[code]

[2018-12-12 19:25] wilhuff commented on #2177
@paulb777 ARC guarantees that `path` is initialized to `nil`. The assertion we're seeing here is that `path` is `nil` when it shouldn't be--if it were random data then we wouldn't try to re-assign it at any point and we would have failed on line 63.

@lucasanovaes The Crashlytics data really only confirms what we know, that `LoadGrpcRootCertificate` is failing. One interesting bit of data is that

[2018-12-12 23:05] wilhuff commented on #2177
While we haven't been able to observe this, our hypothesis is that it's possible for the certificate file to be outside the Firestore framework and that we need to also fall back on the main bundle when searching #2183 implements a possible fix, though I'm still not sure why this would be the case on 32-bit devices but not 64.

[2018-12-13 00:39] var-const commented on #2177
@agordeev We would need more information to figure out what is happening here. Can you please locate `roots.pem` and `gRPCCertificates-Firestore.bundle` in your project tree and post screenshots? `roots.pem` should be in `Pods` workspace under `Pods/FirebaseFirestore/Resources`. `gRPCCertificates-Firestore.bundle` should be in `Pods` workspace under `Products`. I wonder if these files make it into

[2018-12-13 05:53] agordeev commented on #2177
Yes, they are both there:

<img width="265" alt="screenshot 2018-12-13 at 08 51 51" src="https://user-images.githubusercontent.com/2883524/49918482-606b1900-feb4-11e8-8df2-9a63ec5c9af3.png">
<img width="269" alt="screenshot 2018-12-13 at 08 51 35" src="https://user-images.githubusercontent.com/2883524/49918483-6103af80-feb4-11e8-9dfe-3c50fa68157d.png">

I didn't do any modifications, just built th

[2018-12-13 06:10] agordeev commented on #2177
Further debugging shown that `[bundle pathForResource:@"gRPCCertificates.bundle/roots" ofType:@"pem"]` returns nil (grpc_root_certificate_finder_apple.mm:45). Line 55 returns nil as well.

I also couldn't find `gRPCCertificates-Firestore.bundle` nor `gRPCCertificates` within my app package built

[2018-12-13 15:45] lucasanovaes commented on #2177
@wilhuff I'm following the exactly instructions on Readme inside firebase frameworks folder. [https://firebase.google.com/download/ios?hl=pt-br](url)

FYI, I did the integration using `carthage` and released a new version using Testflight (Firebase 5.14.0) and the same crash *only* on 32bit devices.

I'm going to make the suggested change `bundle = [NSBundle mainBundle];` and post here ASAP.

[2018-12-13 22:49] chliangGoogle commented on #225
As rsattar stated, you can use the REST API to request this, currently we don't have plan providing such API as exposing your API key in the client would expose it to the public and allow anyone to send messages to the user of that application.

[2018-12-14 08:30] jwfstars opened #2188 "The setData handler won't call, and the console logs [BoringSSL] nw_protocol_boringssl_get_output_frames(1301)"
I start a new project with only Firebase init code and setData code。
The promblem only appears in iOS12(maybe in iOS11), I test in iOS10.0.2 its OK。
I followed  https://stackoverflow.com/questions/52217167/trying-to-get-data-from-the-url-and-get-console-warnings but not help.

  * Xcode version: Xcode10, iOS12.1
  * Firebase SDK version: 5.14.0
  * Firebase Component: Core ,Firestore
  * Component

[2018-12-14 08:54] businessengine opened #2189 "Memory leak at [FSTSerializerBeta decodeFieldvalue]"
.### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.1
  * Firebase SDK version: 5.14.0
  * Firebase Component: Firestore
  * Component version: 0.16.1

### [REQUIRED] Step 3: Describe the problem
We found memory leaks from Firestore the Instruments tool while tracing leaks from other SDK.
#### Steps to reproduce:

What happened? How can we make the problem occur?
This could be

[2018-12-14 12:22] ergunkocak commented on #1403
Deeplink did not survive after app store install. If i install the app first and then click on the link it works as expected.

IOS => 12.1.1
xcode => 10.1
Firebase/Core => 5.14.0
iPhone 6S+

Also tested with IOS 12.0.1 & iPhone 6S
Also tested with wifi and cellular

Best

[2018-12-14 18:50] dmandar commented on #1403
@PeeGee85Spil We need the bundleID of the app to be the same as that configured in the Firebase console. Can you confirm the bundleID of your app (from the app store) is the same as what is you have during development?
Also, please check if you have the app preview page (https://firebase.google.com/docs/dynamic-links/link-previews) enabled and if so, is shown before you navigate to the app store.

[2018-12-14 20:34] dmandar commented on #876
Can you confirm that you have the correct entitlements in each of the apps?

[2018-12-14 20:34] #876 closed

[2018-12-15 16:56] fschaus commented on #2138
Just checking whether a new release will be pushed out soon?

I am a bit in a bind as I don't want to push my app with this version given the random fatal errors this issue create (I've experienced it 4-5 times a week on my test build) and when rolling back to previous versions 5.11.0 or 5.12.0 either give me the GoogleAppMeasurement issue #2151 (wrong version) or the #2102 issue at build (multipl

[2018-12-15 17:01] paulb777 commented on #2138
@fschaus 5.15.0 is planned to be pushed out in the next few work days.  For some older versions, the GoogleAppMeasurement needs to be explicitly forced to match the FirebaseAnalytics version in the Podfile.

[2018-12-17 00:34] ntnmrndn commented on #2138
@fschaus You need to specify a correct version in your podfile. Maybe you can checkout an older version of your podfile.lock and use that ?

It's definitely an issue in the pod spec tho...

[2018-12-17 08:57] edwardbeecroft commented on #2138
Thanks for your work on this one guys. Intending to hold out for 5.15.0 (unless it's arriving after the holidays 😄).

[2018-12-17 10:07] mariohahn commented on #2011
Fabric was the best tool yet, because they supported all platforms. Please continue with that attitude and support tvOS 🎉

[2018-12-17 10:40] rfreude commented on #1399
All we know is that FirebaseApp.configure() is leading to that timeout. Everything behind we cannot analyze. We are on iOS 12.0 SDK at the moment. From our experience 10% of our apps with Firebase get rejected. So far we didn't submit the apps with updated Firebase version but we will soon.

[2018-12-17 11:39] ryanwilson commented on #1399
@Buthrakaur @rfreude sorry you are having issues -  do you have a crash log you could share? It'd be helpful to understand if this is coming from the same method call as before or something else entirely.

Note [from Apple's documentation](https://developer.apple.com/library/archive/technotes/tn2431/_index.html): "The Xcode debugger disables crashes due to watchdog time outs ... The easiest way to

[2018-12-17 11:45] KevinQuisquater commented on #1399
Thanks for re-opening @ryanwilson ! I embedded my crash log in my [comment](https://github.com/firebase/firebase-ios-sdk/issues/1399#issuecomment-433923135) on the 29th of October.

FYI have not had any other rejections (3 apps) for that issue since I changed the optimization levels as explained in that comment -but as far as I understand, but it should not have been related.
Still scared to set o

[2018-12-17 11:47] ryanwilson commented on #1399
@KevinQuisquater thanks, looking through that log now!

Odd that the optimization level seems to be affecting this, hopefully we can find the root cause and get this settled for good.

[2018-12-17 15:05] saudahmed opened #2193 "Failed to register user notifications settings"
* Xcode version: 10.1
  * Firebase SDK version: latest from pod
  * Firebase Component: Messaging
  * Component version: latest from pod

Step 3: Describe the problem
I do receive push token and fcm token but never able to didRegisterUserNotificationSettings

Steps to reproduce:

<Firebase/Network/ERROR> Encounter network error. Code, error: -1200, Error Domain=NSURLErrorDomain Code=-1200 "An SSL

[2018-12-17 15:11] saudahmed commented on #357
This happened to me same as well. The whole code with no change was working completely fine in previous project.

[2018-12-17 15:21] paulb777 commented on #2193
Please share the `Podfile` and `Podfile.lock` files.  The `4.8.1` implies you are using an old Firebase version.

[2018-12-17 15:51] saudahmed commented on #2193
I updated via pods and now it gives a different error

4.8.1 - [Firebase/Core][I-NET901017] <Firebase/Network/ERROR> Encounter network error. Code, error: -1001, Error Domain=NSURLErrorDomain Code=-1001 "The request timed out." UserInfo={NSErrorFailingURLStringKey=https://play.googleapis.com/log, NSErrorFailingURLKey=https://play.googleapis.com/log, _kCFStreamErrorDomainKey=4, _kCFStreamErrorCodeK

[2018-12-17 15:52] paulb777 commented on #2193
Run `pod update` to update to Firebase 5.x.

[2018-12-17 19:12] wilhuff commented on #2189
I can't reproduce a leak in FSTSerializerBeta, either using our tests or a sample application. Looking at the code I can't see an unbalanced retain/release there either. I did find some other leaks related to SCNetworkReachability and a gRPC leak in FillMetadataArray that I'll look at now.

Can you give some more detail about what you might have been doing to trigger this? Things that might be int

[2018-12-18 01:10] #2094 closed

[2018-12-18 11:40] Igor-Palaguta commented on #1986
Hello,

Please can you also update Carthage version files. They don't include 5.15.0

binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseABTestingBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAnalyticsBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebasePerformanceBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/Fi

[2018-12-18 12:50] ElyasNaranjeeSani commented on #2181
@htcgh any news on this?

[2018-12-18 14:51] paulb777 commented on #2181
Internally tracking at b/121187306

[2018-12-18 19:21] allenktv commented on #2181
Looks like a duplicate of this [bug](https://github.com/firebase/firebase-ios-sdk/issues/1894). For that bug, the quickstart-app was showing the same duplicate screen view when calling setScreen manually.

To re-iterate from there: For iOS, we intercept screen changes to automatically log a screen view event. This is how we are able to do automatic screen view reporting. The first and second scree

[2018-12-18 19:33] #2181 closed

[2018-12-19 00:42] paulb777 commented on #1986
@Igor-Palaguta Carthage was updated with 5.15.0 today.

[2018-12-19 00:43] Igor-Palaguta commented on #1986
Thanks!

[2018-12-19 07:52] Buthrakaur commented on #1399
@KevinQuisquater @ryanwilson @rfreude @paulb777 I was just rejected with our 2 apps again. We're on Firebase/Core 5.14.0 and FirebaseInstanceID 3.3 and I even turned off the optimization so it looks like there's still something left.. 😢

[2018-12-19 12:49] ryanwilson commented on #1399
@Buthrakaur are you able to share a crash log or stack trace for this? It'd be helpful to compare against @KevinQuisquater's log. Sorry you're having issues, we'll try to track this down!

[2018-12-19 12:56] ryanwilson commented on #1270
Starting with 5.14.0, we've started publishing the zip file as a [GitHub Release](https://github.com/firebase/firebase-ios-sdk/releases), which should help for finding previous releases.

In order to find releases older than 5.14.0, you can currently use this format for our download URLs:

[code]

For example, 5.0.1 would be `https://dl.google.com/firebase/sdk/ios/5_0_1/Firebase-5.0.1.zip`.

As Pa

[2018-12-19 12:56] #1270 closed

[2018-12-19 13:59] Buthrakaur commented on #1399
@ryanwilson I'll need to do one more review, because the app didn't crash - it just got stock on splash screen and I don't fully understand it wasn't killed in the ~20s timeout this time:

[2018-12-19 17:01] wilhuff commented on #2189
Absent more data there's not much I can do about this because I can't find any leak resembling this. Those I did find were fixed in the PR above.

If you are still able to see the leak in FSTSerializerBeta and can provide the additional information requested above we can reopen this and address it.

[2018-12-19 17:01] #2189 closed

[2018-12-19 20:06] timurbeg commented on #2059
Hi guys, my apoligies for using this thread for solving my issue.

I'm facing similar issue though it happens after I decompile/compile the build via ixguard(code obfuscation) tool.
Without ixguard, build runs well - no issues.

My pods look as below:

[code]

And I have following versions:

[code]

I'm able to install my app and even I can finish onboarding flow for a new user.
But as soon as I l

[2018-12-19 20:59] chliangGoogle commented on #1399
From the crash log and some of the comments, seems like the app stuck for 20s which seems quite abnormal. If you are able to reproduce the stuck, debug log would also helps great deal.

[2018-12-19 21:58] ThoseGuysInTown commented on #147
Anyone know of any work arounds while it's not supported directly in the SDK?

[2018-12-20 05:37] kazuhiro4949 opened #2201 "NSURLConnection doesn't call the delegate methods when my app installs Firebase Preformance Monitoring."
###  Describe your environment

  * Xcode version: 10.1
  * Firebase SDK version: 5.12.0
  * Firebase Component: Performance
  * Component version: 5.12.0

###  Describe the problem

My app uses NSURLConnection in a background thread. It was configured a delegate object and expected to call the methods.

[code]

This code is in a subclass of NSOperation. It is the delegate object.

[code]

[self.c

[2018-12-20 17:23] Ruberik commented on #147
Sure, here's how I do it. Please let me know if you have any trouble.

    class PhotoUploadManager {
      static var urlSessionIdentifier = "photoUploadsFromMainApp"  // Should be changed in app extensions.
      static let urlSession: URLSession = {
        let configuration = URLSessionConfiguration.background(withIdentifier: PhotoUploadManager.urlSessionIdentifier)
        configuration.sessi

[2018-12-20 17:52] rfreude commented on #1399
Just to give you an update on our situation. We won't update to the newest SDK version. We gave our customers the recommendation to not use Firebase until this has been sort out. Two customers (international publishers) have 100 apps with us each and we cannot discuss with Apple about 200 apps in case they will be rejected. For us the only solution for now is to drop Firebase completely. Appreciat

[2018-12-20 20:21] BranchS opened #2205 "SDK Download stuck at 5.14"
Please update the manual iOS SDK download to Firebase 5.15. Thanks! cc @paulb777

[2018-12-20 21:44] ryanwilson commented on #2205
Sorry about that! We'll fix that ASAP. In the meantime, the zip is also uploaded in GitHub Releases - you can find it at https://github.com/firebase/firebase-ios-sdk/releases/tag/5.15.0

[2018-12-20 22:03] paulb777 commented on #2205
Thanks for the report @BranchS.

We've fixed the link at https://firebase.google.com/docs/ios/setup#frameworks

[2018-12-20 22:03] #2205 closed

[2018-12-21 01:23] paulb777 commented on #2201
Tracked internally at b/121352006

[2018-12-21 07:00] shoaibnomani commented on #1339
This solved the issue for me. But I can't figure out why this started happening. It was working fine previously.

[2018-12-21 07:08] CarlosVegaMe commented on #1965
not part of this, same with regular ios app using adbanner (kGADAdSizeSmartBannerPortrait) hope this helps if I read right.

[2018-12-21 20:05] bbhagat commented on #230
Hello everyone,

We have had the same problem of Analytics not working when initializing FIR instances runtime. Is there any time frame that can be provided for the fix? We have also seen this problem on Android and will it be fixed for both platforms or just iOS?

Regards,
Bhavik

[2018-12-22 05:18] agordeev commented on #2177
@var-const thanks for your suggestion. Unfortunately, that didn't help and I still experience the issue :-/
Cleaning out Pods doesn't help

[2018-12-23 14:57] AlexisBarreyat commented on #2177
Still having the same issue on 32bits device version 10.3.3 using Firebase 5.15.0

[2018-12-24 10:02] ch3n commented on #2177
same here.
the problem is the library can not find ssl cert for grpc
solution: under Carthage/build/ios/FirebaseFirestore.framework, there is a file called gRPCCertificates-Firestore.bundle, drag it into Xcode project

[2018-12-24 14:37] cyberclectic commented on #2011
Another vote for this to be added - please...

[2018-12-25 20:13] iMinichrispy commented on #1759
Getting the same error again with v7.37.0:
[code]

[2018-12-25 23:12] iMinichrispy commented on #1759
Ah, my b! Think it was the zip distribution. Thanks!

[2018-12-26 20:48] macah1 commented on #2118
Hi! I'm having the same issue.

- Using Firebase (5.15.0)
- Using FirebaseAnalytics (5.4.0)
- Using FirebaseAnalyticsInterop (1.1.0)
- Using FirebaseCore (5.1.10)
- Using FirebaseInstanceID (3.3.0)
- Using FirebaseMessaging (3.2.2)

- Xcode Version 10.1 (10B61)

Mediation stack: AdMob, using rewarded ads

Thanks!

[2018-12-27 11:39] sraiteri opened #2221 "FR: Build Firebase 5.15.0 binaries with Xcode 10.1"
### Environment

  * Xcode version: 10.1
  * Firebase SDK version: 5.15.0
  * Firebase Component: Analytics, Messaging
  * Component version: 5.15.0

### Describe the problem

Working for a team that is heavily reliant on Carthage, the experimental Cartage for Firebase SDK components (binaries) has been greatly appreciated :smile:.

We're looking at upgrading our project to Xcode 10.1 early in the

[2018-12-27 15:17] paulb777 commented on #2221
5.15.0 was actually built with Xcode 9.2.  We build Firebase with the earliest version that our infrastructure support since Apple typically supports linking binaries from older versions of Xcode but not from future versions.   This allows us to support a wider range of developers.

We will likely move to building with Xcode 10.1 when it becomes [required for App Store submission in March 2019](ht

[2018-12-27 21:31] sraiteri commented on #2221
Thanks @paulb777, completely understand the requirement here to build with Xcode 9.2 to improve the compatibility range.

The March 2019 push for App Store updates to be built with at least iOS 12.1 SDK is exactly what we're starting to prepare for, but are having issues specifically with the Carthage dependencies:

## Firebase 5.15.0 Analytics & Messaging w/ Xcode 10.1

![image](https://user-imag

[2018-12-27 21:59] paulb777 commented on #2221
@sraiteri Thanks for the details. I'm not able to reproduce the issue with Xcode 10.1.  A few strange things:
- All of the Firebase code is binaries built from Objective C so Swift version should not matter. I suspect the "Incompatible Swift version" error may be coming from something other than Firebase. See https://stackoverflow.com/questions/46835129/carthage-build-failed
- I don't see any prob

[2018-12-28 10:46] sraiteri commented on #2221
@paulb777 - you were absolutely right on point #1. We had another external binary creep in last minute, and that ended up being the root cause of this issue (Carthage reporting here isn't great).

Dropping carthage dependencies back to just Firebase 5.15.0 components, I have no problems with carthage bootstrapping.

Thanks for your assistance on this one, sorry for the incorrect FR report!

[2018-12-28 10:46] #2221 closed

[2018-12-29 03:57] kodeine commented on #1654
sorry for the late response,

[code]

[2018-12-29 18:11] paulb777 opened #2223 "style.sh does not handle file names with spaces"
The shell script currently splits a list of generated files by spaces so that file's that include spaces in their names do not get processed.

[2018-12-30 19:34] walsht commented on #2177
@ch3n Thank you... that worked for me.

[2019-01-02 17:49] morganchen12 commented on #1654
Can you include the versions of all the pods when running `pod install`? It looks like your project is unable to find some headers that should be there, possibly after updating your Firebase version.

[2019-01-02 18:49] HiramKarim commented on #2193
Hi guys, I got a really strange issue related to user notifications using firebase. When user accept to receive notifications the app suddenly crash.

Log: Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '*** +[NSJSONSerialization dataWithJSONObject:options:error:]: Invalid top-level type in JSON write'

Anyone knows what's happening?

Thank's! Happy new year!

[2019-01-02 18:58] ryanwilson commented on #1399
Apologies to those still having issues, we're working on getting this resolved and prevent this issue from resurfacing in the future.

We haven't been able to reproduce this issue, but we believe the keychain access is the main offender and are going to make the following changes in the next version of InstanceID:

- Delay reading the keychain so it doesn't get called when `FirebaseApp.configure()

[2019-01-03 00:01] kodeine commented on #1654
[code]

[2019-01-03 10:17] groue commented on #1399
I was the OP of this issue.

Even if I am not planning to make a new app release these days, I have a concern with the [last statement](https://github.com/firebase/firebase-ios-sdk/issues/1399#issuecomment-450951485) by @ryanwilson:

When everything has been made asynchronous, apps will certainly not hit the watchdog limit, and won't crash on startup. This issue will be fixed.

But this is not qui

[2019-01-03 10:23] groue commented on #1399
Also, it is not clear if you have filed a report on http://bugreport.apple.com about `SecItemDelete` taking too much time, in hope you could get any help directly from Apple. You have plenty of detailed stack traces in this issue.

[2019-01-03 18:16] gundadittu opened #2230 "Unable to Use Crashlytics - FAB Network Error"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2019-01-03 18:18] morganchen12 commented on #1654
Doesn't look like there's anything wrong with your pod versions. Are you able to build the Xcode project without using cordova?

[2019-01-03 18:21] morganchen12 commented on #1399
@groue the `SecItemDelete` calls that were made asynchronous were essentially cleanup calls, so deferring them won't cause your Firebase to fail to initialize.

[2019-01-03 18:39] chliangGoogle commented on #1399
We are not sure yet the keychain hang issue is a generic issue inside Apple's framework or something specific to this SDK. We want to firstly ensure we are doing things better, while moving things off main thread, we are also looking to reduce the number of calls to keychain. And if that doesn't resolve the issue, we will def file a report to Apple once we improved the performance of IID. And rega

[2019-01-03 18:46] paulb777 commented on #529
Closing for staleness.

[2019-01-03 18:46] #529 closed

[2019-01-03 21:47] morganchen12 commented on #2230
@gundadittu can you file this at [Firebase Support](https://firebase.google.com/support/contact/?category=troubleshooting)? This way they'll be able to take a look at what's going on in your Fabric/Firebase project.

[2019-01-03 21:47] #2230 closed

[2019-01-04 04:38] 1omarsaid opened #2233 "'FirebaseCore/FirebaseCore.h' file not found when trying to Archive iOS Project"
* Xcode version: 10.1
  * Firebase SDK version: Firebase (5.15.0)
  * Firebase Component: Core (what it seems to be)
  * Component version: _____

Describe the problem

I cant seem to archive my iOS project due to the fact that two errors, the following is what is shown in the logs:

**/Users/omar/Desktop/Xcode/Jama3aV2/Pods/Firebase/CoreOnly/Sources/Firebase.h:1:9: error: 'FirebaseCore/FirebaseCo

[2019-01-04 05:43] paulb777 commented on #2233
I was able to reproduce the issue with the Firebase Messaging quick start app and then able to get past it and successfully archive. The issue seems to be related to bad Xcode state, but I'm not sure what the minimal steps are to solve.   The important warning that showed up in the build log:

`Target 'Pods-MessagingExample' of project 'Pods' was rejected as an implicit dependency for 'Pods_Messag

[2019-01-04 12:40] aparandiy commented on #1339
shoaibnomani, thank you man - you saved my day

[2019-01-04 13:09] shoaibnomani commented on #1339
It was in fact the solution by @kilirushi if you look above in the thread. It saved me a lot of time as well.

[2019-01-04 17:16] fwigorcferreira opened #2235 "Problems using GCC_INSTRUMENT_PROGRAM_FLOW_ARCS and Firebase/Core"
### [READ] Step 1: Are you in the right place?

Yes

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.

### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.1
  * Firebase Component: Core
  * Component version: 5.0

### [REQUIRED] Step 3: Describe the problem

Firebase/Core (since 5.0) blocks the execution of tests with [GCC I

[2019-01-04 17:54] paulb777 commented on #2235
I'm not able to reproduce in a [Firebase quickstart example](https://github.com/firebase/quickstart-ios/tree/master/analytics).

The following command runs successfully:

`set -o pipefail && env "NSUnbufferedIO=YES"  xcodebuild -workspace AnalyticsExample.xcworkspace/ -scheme AnalyticsExample build test -destination "platform=iOS Simulator,name=iPhone 6s Plus,OS=latest" "GCC_INSTRUMENT_PROGRAM_FLO

[2019-01-04 18:09] moriah-hammond commented on #2044
@paulb777 I am having the same issue, and am attempting to add the GoogleUtilites framework using carthage but I cannot seem to find the binary. https://github.com/firebase/firebase-ios-sdk/blob/master/Carthage.md . Could you please shed light on which one I need to include?

[2019-01-04 18:15] paulb777 commented on #2044
From the [instructions](https://github.com/firebase/firebase-ios-sdk/blob/master/Carthage.md#carthage-usage):

`Note that FirebaseAnalyticsBinary must always be included.`

[2019-01-04 18:17] moriah-hammond commented on #2044
I am including that as well ```binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseMessagingBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAnalyticsBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseFunctionsBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseRemoteConfigBinary.json"```

[2019-01-04 18:17] moriah-hammond commented on #2044
@paulb777 my bad I left it out

[2019-01-04 18:17] moriah-hammond commented on #2044
[code]

[2019-01-04 19:01] 1omarsaid commented on #2233
@paulb777  Where were you able to see more fine logging?

[2019-01-04 19:13] paulb777 commented on #2233
@1omarsaid See https://stackoverflow.com/questions/30060898/xcode-how-to-see-build-command-and-log/30084344

[2019-01-04 22:32] paulb777 commented on #2044
Those symbols indicate that the GoogleUtilities and AppMeasurement frameworks aren't being linked.

[2019-01-05 16:55] jlaws commented on #10
+1 Would be great to get Firestore, Functions and RemoteConfig support for TVOS!

[2019-01-05 17:15] paulb777 commented on #10
Functions and Firestore are both open source and we'd happy to work with any contributors.   Functions should be a matter of a bit of configuration, build and validation.  Firestore is more complex because of its gRPC dependency but should still be doable.

[2019-01-05 17:58] aceisScope commented on #2166
In our case, this issue can be solved by removing Firebase from the pod subspec of the unit test target. But then it complains "fail to find Firebase module", the solution of which is described in issue #16.

[2019-01-06 09:30] semenoh commented on #2044
@moriah-hammond I have the same issue. Did you managed to solve it ?

[2019-01-06 19:46] festrs commented on #2177
@ch3n Thank you worked here too!

[2019-01-07 08:29] shosokawa opened #2237 "Crash on reset for nextBatchID by assert in FSTLevelDBMutationQueue.start"
### Describe your environment

  * Xcode version: Version 10.1 (10B61)
  * Firebase SDK version: 5.15.0
  * Firebase Component: Firestore
  * Component version: 0.16.1

### Describe the problem
An app on a certain device was crashed by `HARD_ASSERT` in this code repeatedly. I couldn't find a way to handle or recover this error except uninstalling the app once to delete persistent data.
https://git

[2019-01-07 14:38] moriah-hammond commented on #2044
@paulb777 Can you please point me to the appropriate binary URLS https://github.com/firebase/firebase-ios-sdk/blob/master/Carthage.md for the GoogleUtilities and AppMeasurement frameworks so that I can bring them in using carthage

[2019-01-07 14:51] paulb777 commented on #2044
@moriah-hammond `binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAnalyticsBinary.json"`

[2019-01-07 20:10] MycujooMats commented on #1399
Apple just rejected our app for the same reason. The app was built with Xcode 10.1. We are using Firebase 5.11, installed with Cocoapods. I have attached 3 crash logs that were provided by Apple during the rejection:

[crashlog1.txt](https://github.com/firebase/firebase-ios-sdk/files/2734149/crashlog1.txt)
[crashlog2.txt](https://github.com/firebase/firebase-ios-sdk/files/2734150/crashlog2.txt)
[c

[2019-01-07 20:14] ryanwilson commented on #1399
@MycujooMats thanks for the message - it looks like the Facebook SDK is causing those three crashes (based on the symbols coming from `FBSDKCoreKit`) and not Firebase. Which Firebase SDKs are you using? I see `GoogleUtilities` but don't see any other Firebase references.

[2019-01-07 23:46] wilhuff commented on #2237
So unfortunately, the stack trace for this crash isn't informative: if this assertion were to fail it can only fail during startup exactly in the way it has.

Do you still have a device that's failing this way? If so we may be able to discover what's happening by examining the stored persistent data.

The failure here indicates that there's a mismatch between the mutation queue contents and the me

[2019-01-08 04:33] mesonny commented on #2019
we had a huge amount of crashes (20% of our users!) due to this issue，we had to remove firebase performance sdk.
we didn't update sdk version (we use pod), the only difference is that we built our app with xcode 10.
is there anyone having the same problem now?

[2019-01-08 15:24] paulb777 commented on #2019
@mesonny What versions of Firebase pods are you using?  IIRC, some of the recent bugs fixed and released in FirebasePerformance we're especially prevalent with Xcode 10.

[2019-01-09 06:38] wilhuff commented on #2237
OK. Looking through the changes around those versions I think I've figured out you could get in this state.

In #2029 (released with Firebase 5.13.0) we changed the way we store writes and documents that have been acknowledged by the server but not yet observed via an active listen. Previously we would hold these in our outbound queue and keep track in memory of these held write acknowledgements.

[2019-01-09 11:34] fwigorcferreira commented on #2235
@paulb777 I'll close this issue, and re-open if/when I manage to create a simple project that showcase the bug.

[2019-01-09 11:34] #2235 closed

[2019-01-09 12:36] M2Bas opened #2240 "[Messaging] message delegate not calling didReceiveRegistrationToken from 5.10.0 -> 5.11.0"
### Describe your environment

  * Xcode version: 10.1 (10B61)
  * Firebase SDK version: 5.11.0 and higher
  * Firebase Component: Messaging
  * Component version: 3.2.1 and higher

### Describe the problem

After updating firebase to version 5.11.0 or higher the messaging delegate function `didReceiveRegistrationToken` is not called.
This issue is rather similar to https://github.com/firebase/fir

[2019-01-09 14:59] paulb777 commented on #2235
OK, thanks for update @fwigorcferreira. Perhaps, it's something to do with the Build Settings in your project?

[2019-01-09 18:06] morganchen12 commented on #2240
@chliangGoogle can you take a look at what changed in the 5.11.0 release?

[2019-01-09 20:49] chliangGoogle commented on #2240
I've looked at the release changes and no changes has related to this. Looks like dev is modifying to have their own FIRMessagingDelegate, which I think the workaround is the ideal way of doing it as FIRMessaging delegate should be initialized after FIRApp.configure().

The previous solution should probably not work at the first place.

[2019-01-09 21:17] morganchen12 commented on #1978
@zeqinjie is this still an issue?

[2019-01-09 21:20] morganchen12 commented on #1919
@ryanwilson can we close this issue?

[2019-01-09 21:28] #1879 closed, assigned to TKBurner

[2019-01-09 21:30] morganchen12 commented on #2148
@seblau can you profile your launch time via Instruments to see which calls are taking up the most time?

[2019-01-09 21:36] morganchen12 commented on #2125
Closing since this is resolved (I think)--please re-open if I'm wrong

[2019-01-09 21:36] #2125 closed

[2019-01-09 21:39] #1654 closed

[2019-01-09 22:55] M2Bas commented on #2240
@chliangGoogle I think you are dismissing the issue a bit to quick here.

Yes I created my own way of handling the delegate, but I feel like there is an underlaying issue in the way the Messaging instance is created and how it is returned as the singleton in follow up calls.

In the implementation I can see calling `Messaging.messaging()` returns the static property `static FIRMessaging *sMessagin

[2019-01-09 23:00] paulb777 commented on #2240
@M2Bas Sorry about the confusion.

There were changes in 5.11.0 related to how `FirebaseApp.configure()` initialized Messaging.

Setting the delegate before ` FirebaseApp.configure()` was previously undefined behavior.  The delegate should be set after to be deterministic.

`Messaging.messaging().delegate = self` should happen after `FirebaseApp.configure()`

You can see the differences between 5.

[2019-01-09 23:47] morganchen12 commented on #2240
The pattern we've been using in other SDKs is to assert if initialization-dependent classes have been accessed before Firebase was initialized. I'm not sure if there's a good reason for why we haven't done that for Messaging, but previously accessing `Messaging.messaging()` before `FirebaseApp.configure()` only worked out of coincidence.

It's a pretty unpleasant technicality, but undefined behavi

[2019-01-10 01:06] ryanwilson commented on #230
@bbhagat sorry for the delay, we're working on the docs to make it more clear.

As Paul mentioned in the stackoverflow question there's a workaround where you can have two files named `GoogleService-Info.plist` in different folders and include them in different targets for your application.

While this isn't exactly the ability to switch at runtime, it's the current supported setup. Unfortunately

[2019-01-10 02:14] ryanwilson commented on #1919
Looks like it's still outstanding and relevant. Should be a very quick fix, though.

[2019-01-10 04:34] bbhagat commented on #230
Hey @ryanwilson Thanks a lot for providing the update.

Unfortunately, we do not have two different targets. We only have one target (IPA/APK) file which gets generated and has ability to connect to different servers (QA,STG,PROD) and hence we need an ability to switch the instance runtime. We decide where the user is logging in depending on the username  and server specifier that they enter. It i

[2019-01-10 13:32] RvAgrawal opened #2246 "framework not found MeasurementNanoPB using pod"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2019-01-10 14:15] zeqinjie commented on #1978
@morganchen12 yes. still crash on Firebase version 5.15.0

0	libsystem_platform.dylib
__os_unfair_lock_recursive_abort + 36
1	libsystem_platform.dylib
__os_unfair_lock_lock_slow + 276
2	libsqlite3.dylib
sqlite3_snprintf + 3124
3	libsqlite3.dylib
sqlite3_snprintf + 2592
4	libsqlite3.dylib
sqlite3_free_table + 48616
5	libsqlite3.dylib
sqlite3_free_table + 63388
6	libsqlite3.dylib
sqlite3_free_table

[2019-01-10 18:40] morganchen12 commented on #2246
Hey @RvAgrawal, can you post the full linker error, or upload your build output?

[2019-01-10 18:55] #1451 closed

[2019-01-11 05:12] rawrmaan commented on #2246
`MeasurementNanoPB.framework` is also missing from the 5.15.0 zip for iOS!

[2019-01-11 06:08] RvAgrawal commented on #2246
@rawrmaan Have you find any solution on this?.

[2019-01-11 08:17] ShagunParikh commented on #2246
Same issue. Need some solution urgently!

[2019-01-11 11:27] vladvarna opened #2248 "[macos] Using the SDK on XCode 10"
### [REQUIRED] Step 2: Describe your environment

Xcode version: 10.1 (10B61)
Firebase SDK version: 5.1.10
Firebase Component: Database
Component version: FirebaseDatabase (5.0.4)

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:
I tried using the SDK with XCode 10 on Mojave.
The authorization work fine, but when trying to get an instance of the Database, I get a NULL.

#### R

[2019-01-11 11:44] vladvarna commented on #2248
Hello,
           I tried using the SDK with XCode 10 on Mojave.
Xcode version: 10.1 (10B61)
Firebase SDK version: 5.1.10
Firebase Component:  Database
Component version: FirebaseDatabase (5.0.4)
           The pod I am using is :
___________________________________________________________________________________
platform :osx, '10.11'
target '####' do
  use_frameworks!
  #use_modular_headers!
  #

[2019-01-11 14:34] ryanwilson commented on #2248
@vladvarna sorry you’re having issues - are you calling ‘FirebaseApp.configure()’ before this?

Is anything logged to the console at all? It would be helpful if you could copy any Firebase related logs from the console so we can better understand what the issue is.

[2019-01-11 14:42] paulb777 commented on #2248
This might be the issue with CocoaPods 1.5.3 not adding `-ObjC` to the `OTHER_LDFLAGS` Build Setting.

The workaround is using the CocoaPods 1.6.0 prerelease or adding `-ObjC` manually to the Build Settings.

[2019-01-11 14:48] paulb777 commented on #2246
`MeasurementNanoPB` is no longer a Firebase dependency. It should be removed from the project's Build Settings.

Try running `pod deintegrate` and `pod install`

[2019-01-11 14:49] vladvarna commented on #2248
Hi,
    Thanks for the reply, yes I am calling the FirebaseApp.configure(), and
also doing the authentication, which works ok, I can see the user in the
Firebase Console, In the completion handler of the authentication functions
I am trying to instantiate a Realtime Database object, which returns NULL,
and there is nothing shown in the console. I've also tried putting a sleep
to make sure the auth

[2019-01-11 15:04] vladvarna commented on #2248
Thanks, this was the problem

[2019-01-11 15:12] #2248 closed

[2019-01-11 17:46] var-const commented on #2237
PR #2243, which will be part of the next release, should hopefully fix this.

[2019-01-11 18:41] #2237 closed

[2019-01-11 21:07] RamblinWreck77 opened #2252 "crash on com.google.fira.worker thread in apmpb_encode_repeated_user_attribute"
### Describe your environment

  * Xcode version: 10.1
  * Firebase SDK version: 5.15.0
  * Firebase Component: Core
  * Component version: 5.1.992

### Describe the problem

Rare-ish crash in production, seems to only happen when the app is launched in the background from a significant location change event. Crash occurs essentially right at app launch so there's little/no logging.

#### Steps to

[2019-01-12 00:07] Rawnly commented on #2177
@ch3n Thank you! Worked for me too!

[2019-01-12 00:35] paulb777 commented on #2252
@htcgh Could be related to #2070 - added this info to b/120167700

[2019-01-12 01:49] #2233 closed

[2019-01-12 01:54] paulb777 commented on #9
Closing since Carthage is now available experimentally. We'll track making it officially supported in #1862.

[2019-01-12 01:54] #9 closed

[2019-01-12 10:17] valstripe commented on #2111
For me the warnings don't go away either. Had the line perfectly copied and pastied, updated my pods, but the warnings still don't go away

[2019-01-12 11:09] elprl commented on #2134
I spent hours trying to figure this one out also. I'm using the RxFirebase library with Swift and this issue renders that library pretty useless for me. What's the suggested architectural approach here, that we do Reachability tests beforehand, then run setData() with a fire & forget approach if offline?

[2019-01-12 18:17] wilhuff commented on #2134
Our suggested approach is that unless you specifically care about waiting for the commit at the server, you just always fire and forget calls to setData. You don't need to test for reachability first.

[2019-01-14 02:35] zhgchgli0718 commented on #269
+1

[2019-01-14 13:07] zhouyantongiosDev commented on #1966
@paulb777
How to fix this problem?
iOS 12  _os_unfair_lock_unowned_abort

[2019-01-14 16:35] bobobo1618 opened #2254 "Replace app-measurement.com in connectivity checks"
Continuation of https://github.com/invertase/react-native-firebase/issues/1469.

The problem: The SDK uses `app-measurement.com` to determine whether an internet connection is available. Apps utilizing this SDK sometimes operate in environments where users deliberately obstruct access to this domain through DNS filtering or IP-blocking, usually motivated by privacy concerns.

For example, [Pi-Hole

[2019-01-14 22:55] paulb777 commented on #2254
@bobobo1618 Thanks for the thorough Issue write-up.

We've done a deeper investigation today and found that I don't yet fully understand the issue.

FirebaseAnalytics should be the only Firebase library that uses GoogleUtilities/Network and `app-measurement.com` to check reachability.

FirebaseMessaging [checks for access to `www.google.com`](https://github.com/firebase/firebase-ios-sdk/blob/94314

[2019-01-15 10:16] bobobo1618 commented on #2254
Interesting, you're right.

When I did a search for `GULReachabilityChecker`, I came up with [FIRMessagingClient.m](https://github.com/firebase/firebase-ios-sdk/blob/98b6eef71eac368692ae249f056a75d89ed0350d/Firebase/Messaging/FIRMessagingClient.m) and [FIRMessaging.m](https://github.com/firebase/firebase-ios-sdk/blob/943141e0cd727211764ac871dead7c14ce38a5e7/Firebase/Messaging/FIRMessaging.m).

FIR

[2019-01-15 12:10] 7er0 opened #2260 "'String' file not found error with all updates beyond 4.0.2"
I am having problems with updating my Firebase Pods

For months now I can't update my Firebase, because all the new versions give me 2 errors:

Swift Compiler Error
- 'string' file not found
- could not build Objective-C module 'CoreFoundation'

Already tried:
- Contacted Firebase Support, but they "could not replicate the problem" with the updates.
- Added all frameworks manually.
- Cleaned deriv

[2019-01-15 17:06] wilhuff commented on #2260
Your project is misconfigured.

The compilation failure you're seeing here is that your project is finding leveldb's `block.h` when CoreFoundation's `CFBase.h` is actually trying to include the system's `Block.h`. leveldb is C++ and it includes `<string>`, a C++ system header that's not available when compiling Objective-C (or Swift using a bridging header).

Somehow 'Pods/leveldb-library/table' h

[2019-01-15 17:10] paulb777 commented on #2254
We have plenty of examples of other parts of Firebase working when Analytics is disabled, so that shouldn't be the case.

Likely we'll need a reproducible test case to make more progress on this issue, so I'll close for now.

[2019-01-15 17:10] #2254 closed

[2019-01-15 17:36] netizen01 opened #2261 "FirebaseInstanceID 3.4 not available"
Newly published pod spec for Messaging references FirebaseInstanceID 3.4, which is not available as a pod yet.

[2019-01-15 18:02] paulb777 commented on #2261
The latest published FirebaseMessaging podspec still references FirebaseInstanceID 3.0.  See https://github.com/CocoaPods/Specs/blob/master/Specs/2/d/6/FirebaseMessaging/3.2.2/FirebaseMessaging.podspec.json#L40.

The next release that references 3.4 is being stabilized.  FirebaseInstanceID 3.4.0 is staged at https://github.com/firebase/SpecsStaging, but we do not recommend that be used for anythin

[2019-01-15 19:20] amani-mohammad opened #2262 "Facebook Authentication with Firebase - Unsuccessful debug_token response from Facebook"
* Xcode version: 10.1
  * Firebase SDK version: 5.15.0
  * Firebase Component: Auth
  * Component version: 5.2.0

I am integrating `Facebook` login with `Firebase` in my `iOS` app.

I have followed all steps mentioned here:
https://firebase.google.com/docs/auth/ios/facebook-login

I make sure that `Facebook` sign in is enabled on `Firebase` and that App ID and App secret are identical to those on

[2019-01-15 19:52] paulb777 commented on #2261
Closing now. We can reopen if my answer is missing something.

[2019-01-15 19:52] #2261 closed

[2019-01-15 21:15] Thomas-Cartotto opened #2265 "Firestore Fatal Error on reading query snapshot document changes"
* Xcode version: 10.1
  * Firebase SDK version: 5.15.0
  * Firebase Component: Firestore
  * Component version: 0.16.1

I am trying to loop through an array of document changes retrieved from a QuerySnapshot. When attempting to access an element from the [DocumentChange] array or loop through them (ie. snapshot.documentChanges.forEach) this fatal error occurs: "NSArray element failed to match the

[2019-01-15 22:23] mikelehen commented on #2265
Please see https://github.com/firebase/firebase-ios-sdk/issues/2085#issuecomment-439586294 for a possible explanation. If you're not sure why it's happening, please provide the info that @morganchen12 asked for there. Thanks!

[2019-01-16 04:12] alkharaz opened #2270 "FIRGeoPoint return null"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2019-01-16 06:17] EpicDraws commented on #1732
Definitely want to add a +1 here.

[2019-01-16 08:05] hite commented on #1399
Hello gays,
Our company app was rejected  6 AM today for the same reason.
Here is my guess.
1. Some sharedInstance is called on main thread. For @inquisitiveSoft example, it is `-[FIRInstanceIDAuthKeychain defaultAccessGroup]` which is called on main thread.
2.The sharedInstance init method used `dispatch once` method.  For @inquisitiveSoft example, it does.
3.  The sharedInstance init method thro

[2019-01-16 10:42] davidattias commented on #1686
I have the same issue with PassKit here which seems to do the same as SafariServices.

[2019-01-16 14:54] ryanwilson commented on #2270
The code sample you gave has a bug in it: you're attempting to use the pointer to call `init` but it's `nil` and you should be using the `FIRGeoPoint` there.

If you use:

[code]

That should do the trick!

[2019-01-16 15:44] paulb777 commented on #1399
We believe that we've fixed this issue in the upcoming FirebaseInstanceID 3.4.0 and Firebase 5.16.0.

Since we were never able to reproduce, we're not absolutely sure, so please respond here if you still see this reoccurring with Firebase 5.16.0 or newer.

[2019-01-16 15:53] paulb777 commented on #1686
cc: @htcgh ^

[2019-01-16 18:01] Appswage commented on #2111
Agree with @valstripe above. Documentation errors continue to exist and the warnings remain even with the "inhibit_warnings" indicator.

[2019-01-16 18:09] #2262 closed

[2019-01-16 18:09] amani-mohammad commented on #2262
Fixed. I just had a mistake in my Facebook App secret key

[2019-01-16 21:13] ryanwilson commented on #2270
Closing for now but feel free to re-open if the code snippet doesn't solve your issue.

[2019-01-16 21:13] #2270 closed

[2019-01-17 01:06] paulb777 commented on #2223
Closing since this is a low priority, since we'll likely avoid source files with spaces in their paths

[2019-01-17 07:44] memoryxy commented on #1399
Hello, can you point out how you guys fix it? Or paste a link? Thank you very much! I really wanna know how to fix it.

[2019-01-17 11:22] WillShelley commented on #2111
Sndrsn I'm still having the documentation issues even after updating/cleaning the pod file. I think this may stem from deleting my derived data for that project a while ago. Is there a way to fix this?

[2019-01-17 15:33] ryanwilson commented on #1399
`FirebaseInstanceID` isn't open source so I can't point to specific code, although there was a large amount of refactoring done in that change.

You can get the change by updating with CocoaPods (`pod update`) and make sure you're using Firebase 5.11.0 or greater (although we always suggest the most recent version), or download the most recent zip file from [the Firebase site via this link](https:

[2019-01-17 17:40] wilhuff commented on #2111
Here's the current state of this issue:

  * We've fixed the documentation errors upstream in gRPC
  * gRPC has cut a new release containing the fix
  * We're cutting a new release referencing the fix. This release is imminent.

Unfortunately, the gRPC-C++ CocoaPod is not yet a part of the mainline gRPC release process, so we cannot depend on it with a floating version number that would have allow

[2019-01-17 17:51] thesanketkale commented on #1845
- Xcode version: 10.1 (10B61)
- Unity Firebase SDK version: 5.4.3
- Firebase Component: Core, Analytics, Messaging, Dynamic Links
- Unity version: 2018.2.14f1

I am still getting below error for building app with firebase for Unity iOS:

iOS framework addition failed due to a CocoaPods installation failure. This will likely result in a non-functional Xcode project.

After the failure, "pod repo up

[2019-01-17 19:14] ugenlik opened #2278 "Crash: StorageUploadTask 'Attempt to call unavailable initializer.', reason: 'init unavailable, use designated initializer'"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: Version 10.1
  * Firebase SDK version: 5.15.0
  * Firebase Component: FirebaseStorage 3.0.3

[code]

### [REQUIRED] Step 3: Describe the problem

Creating storagetask causes crash

`var uploadTask:StorageUploadTask = StorageUploadTask()`

#### Steps to reproduce:

`var uploadTask:StorageUploadTask = StorageUploadTask()`

[code]

[2019-01-17 19:19] morganchen12 commented on #2278
You shouldn't be calling the initializer of `StorageUploadTask`. Use [this method](https://github.com/firebase/firebase-ios-sdk/blob/master/Firebase/Storage/Public/FIRStorageReference.h#L102) instead.

[2019-01-17 19:19] #2278 closed

[2019-01-17 19:24] UIowaEABurns commented on #2118
Hello,

We've pushed our creative JS fix, which is expected to resolve the issue without any further action. Please let us know if the issue is ongoing. Thanks!

[2019-01-17 19:36] #2118 closed

[2019-01-17 23:16] WillShelley commented on #2111
Thanks appreciate it 👍

[2019-01-18 01:24] Smiller193 opened #2281 "FirebaseCore Lexical or preprocessor issue"
### [READ] Step 1: Are you in the right place?

Yes

### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.0
  * Firebase SDK version: 5.15.0
  * Firebase Component: Core (Auth, Core, Database, Firestore, Messaging, Storage, etc)
  * Component version: _____

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

So I am having an issue with compiling my project w

[2019-01-18 01:36] paulb777 commented on #2281
The `Firebase Core 2` scheme looks suspicious.  Does the GoogleUtilities file actually exist?  `pod deintegrate` and `pod install` might help.

[2019-01-18 01:37] Smiller193 commented on #2281
When I run pod install I see this regardless of whether or not I remove or add firebase it is kinda weird
<img width="336" alt="screen shot 2019-01-17 at 8 37 08 pm" src="https://user-images.githubusercontent.com/16108750/51359933-bc1e5880-1a97-11e9-95a1-fffee7b354ba.png">

[2019-01-18 01:38] Smiller193 commented on #2281
however when I search it up I can't find it

[2019-01-18 01:41] Smiller193 commented on #2281
yeah that didn't work

[2019-01-18 02:01] Smiller193 commented on #2281
There seems to be an issue with FIreLogger.m

[2019-01-18 02:02] Smiller193 commented on #2281
I just want to work on my project again and this is making it very hard lol @paulb777

[2019-01-18 02:10] paulb777 commented on #2281
@Smiller193 It looks similar to #2100. If you're still stuck after looking at that one, please share your `Podfile.lock`.

[2019-01-18 02:12] Smiller193 commented on #2281
- AFDateHelper (4.2.7)
  - Alamofire (4.8.1)
  - AlamofireImage (3.5.0):
    - Alamofire (~> 4.8)
  - AlamofireNetworkActivityIndicator (2.3.0):
    - Alamofire (~> 4.7)
  - AlgoliaSearch-Client-Swift (5.1.7)
  - AMPopTip (3.5.0)
  - AZDialogView (1.3.0)
  - BPStatusBarAlert (0.1.6)
  - CLTokenInputView (2.3.0)
  - ColorSlider (4.3)
  - Crashlytics (3.12.0):
    - Fabric (~> 1.9.0)
  - CRRefresh (

[2019-01-18 02:12] Smiller193 commented on #2281
@paulb777  see podfile.lock above

[2019-01-18 11:41] Igor-Palaguta opened #2283 "Firebase/Performance crashes Password Autofill screen"
* Xcode version: 10.0
  * Firebase SDK version: 5.15.0
  * Firebase Component: Performance
  * Component version: 5.15.0

We have very frequent crash 0.5 % of all users who visited registration screen with password autofill fields. We started to have it after adding Firebase/Performance. Also we have confirmation from other developers that after removing Firebase/Performance it stopped crashing. H

[2019-01-18 13:33] ryanwilson commented on #2283
Thanks for the report, also tracked internally at b/123065386.

@visumickey can you investigate and see if Perf is the cause or not? It doesn't look like there are Firebase references in the stack trace, but a few users seem to think Perf is the issue.

[2019-01-18 16:55] visumickey commented on #2283
@Igor-Palaguta Can you share the detailed stack trace for this issue? Firebase performance does not have anything related to the UIActivity on the screen, so it is surprising to hear that the issue is related to UIActions. If this is predictably reproduce-able, can you share any sample app?

It would be helpful to understand the version of the Firebase Performance POD you are using. (Note: Firebas

[2019-01-18 17:24] Igor-Palaguta commented on #2283
@visumickey

Cartfile.resolved
[code]

I could not replicate this issue, just can see crashes in fabric, but some people could do it: https://stackoverflow.com/questions/52879044/crash-in-uikitcore-uiviewcontroller-viewdidmovetowindowshouldappearordisappear#comment93141683_52879044

Yesterday in stackoverflow appeared answer that after removing Firebase/Performance issue gone.
I checked when we ad

[2019-01-19 00:39] Batvos commented on #2283
@visumickey

Hi,

Here is my test project https://github.com/Batvos/firebaseperfomanceissue where you can reproduce this crash.

[2019-01-19 07:42] pot8os opened #2292 "Functions: httpsCallable().call() doesn't make a request at all"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.1
  * Firebase SDK version: See below
  * Firebase Component: See below
  * Component version: See below

My `podfile` has the following definitions.
[code]
### [REQUIRED] Step 3: Describe the problem

My iOS code using ` Functions.functions().httpsCallable(...).call(...)` doesn't make a call.

#### Steps to reproduce:

I gues

[2019-01-19 07:54] businessengine opened #2293 "Firestore stops syncing unexpectedly"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2019-01-19 09:50] linhCrystal opened #2294 "UITest crash when use both Alamofire and Firebase"
### [READ] Step 1: Are you in the right place?

  Yes

### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.1
  * Firebase SDK version: 5.15
  * Firebase Component: Core, MLVision, MLVisionBarcodeModel (5.15)

### [REQUIRED] Step 3: Describe the problem

Crash when run UITest

[code]

#### Steps to reproduce:
I create new Proj with UI, unit test -> Add pod to Proj target (not te

[2019-01-19 16:36] paulb777 commented on #2294
Thanks for the report @linhCrystal

`inherit! :search_paths` should not be used with UITests.  Details at https://github.com/CocoaPods/CocoaPods/pull/8423.

Let us know if removing it fixes the crash.

[2019-01-19 17:16] linhCrystal commented on #2294
It still crash. And still remove pod Alamofire fix the crash.

When I remove `inherit! :search_paths`, there's a warning `target overrides the `ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES``. I tried delete "Always embed..." but it still crash.

[2019-01-20 00:44] paulb777 commented on #2294
Does un-nesting the UITests target or one of the other workarounds at https://stackoverflow.com/questions/34990175/test-target-x-encountered-an-error-early-unexpected-exit-operation-never-finis help?

[2019-01-20 05:09] linhCrystal commented on #2294
I fix the crash by do the following:
- remove `inherit! :search_paths` in UITest
- move test target to outside of Proj target
- delete `Always Embed Swift Standard Libraries`

[2019-01-20 05:09] #2294 closed

[2019-01-20 14:31] agordeev opened #2295 "dyld: Symbol not found: after integrating with Carthage"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2019-01-20 15:59] paulb777 opened #2296 "Organize Carthage and zip distributions to support optional Analytics inclusion"

[2019-01-20 16:01] paulb777 commented on #2295
I'm not able to reproduce. From Googling a bit, it looks like `_DAAccountFolderContentsChangedNotification` was a symbol in older iOS versions in `Message.framework`, `Messages.framework` or `DataAccess.framework`.

Perhaps, you need a clean build or `rm -rf ~/Library/Developer/DerivedData`?

Regarding the number of frameworks:`RxSwift.framework` is not related to Firebase and can be removed.

Fir

[2019-01-21 08:01] agordeev commented on #2295
Thanks for your comment.
Clean build and cleaning DerivedData doesn't help. This started to happen after I added all of these frameworks required by Firebase

[2019-01-21 09:23] agordeev commented on #2295
Haha, that was funny. I figured out what's going on there.

My target name was `DataAccess` and it's a framework I use in the main app. The name conflicts with the private framework `DataAccess.framework`.

All works good now after I renamed my target to `DataAccessLayer`.

Thanks for trying to help Paul.

[2019-01-21 09:23] #2295 closed

[2019-01-21 13:02] Igor-Palaguta commented on #2283
@Batvos test app looks empty

[2019-01-21 13:58] Batvos commented on #2283
Ops, Sorry. I don't how it happened:) I'll push a normal version today later

[2019-01-21 14:35] ryanwilson commented on #2292
I think you did find a valid bug - if `auth` is nil we should call the callback as such but that doesn't happen. Looks like this was inadvertently broken in #2113.  I'll make a fix shortly!

[2019-01-21 18:04] Batvos commented on #2283
@Igor-Palaguta I've updated project. But you need download your own GoogleService-Info.plist file from firebase project and add it to the root of project. Also you need install pods.

[2019-01-22 02:02] ninokierulf commented on #2011
#2159

[2019-01-22 12:24] Idomo commented on #2104
@paulb777 Any progress with this issue? it's very annoying.

[2019-01-22 17:40] morganchen12 commented on #1059
We've seen some internal reports of this issue from a partner; reopening to investigate.

[2019-01-22 17:46] morganchen12 commented on #2104
Hey @Idomo, is this the case for images uploaded via Firebase Console? My guess is there's a rounding issue in the image size calculation in your upload code.

[2019-01-22 18:00] Idomo commented on #2104
@morganchen12 Looks like it doesn't happen when uploading from Firebase Console.
May you help me to find out what can cause this issue?

This is my code of resizing the image:
[code]

[2019-01-22 18:21] morganchen12 commented on #2104
Looks similar to [this issue](https://github.com/AliSoftware/UIImage-Resize/issues/3). Maybe you could apply the same fix to your code?

[2019-01-22 18:25] morganchen12 commented on #2260
@7er0 can you share your project? There's most likely some bad config in your xcodeproj file that's difficult to pinpoint without looking at the project.

What you're trying to do should work in a new project without issues.

[2019-01-22 18:44] wilhuff commented on #1165
We believe that this issue has been resolved (for quite some time now). If you're still experiencing random long delays please file a new issue with as many details as you can.

[2019-01-22 18:44] #1165 closed

[2019-01-22 18:56] Idomo commented on #2104
Unfortunately it doesn't seems to fix the problem for me... (tried also use ceil())

[2019-01-22 18:58] wilhuff commented on #1825
I've double-checked and both document and collection now throw invalid argument, e.g.

/Users/mcg/src/firebase/ios-sdk/Firestore/Example/Tests/API/FIRCollectionReferenceTests.mm:44: error: -[FIRCollectionReferenceTests testNilElements] : failed: caught "FIRInvalidArgumentException", "Document path cannot be nil."

[2019-01-22 18:58] #1825 closed

[2019-01-22 19:09] #2292 closed

[2019-01-22 21:14] wilhuff commented on #2109
Here's my take on the current state of this bug:

1) The binary build of Firestore from Firebase 5.13.0 included a bad gRPC.framework that just included just a `roots.pem` file but no actual framework binary, which caused the error in the title.

2) The binary build of Firestore from Firebase 5.13.1 corrected this issue.

3) The autolink problem may remain, but I can't see any trace of it in the f

[2019-01-22 21:14] #2109 closed

[2019-01-22 21:33] morganchen12 commented on #2104
@Idomo looks like this happens when your image dimensions are non-integer values. This code seems to fix the issue:

[code]

I'll close this issue since it's not a Firebase issue, but if you still have issues feel free to keep commenting (or consider posting a StackOverflow question).

[2019-01-22 21:33] #2104 closed

[2019-01-22 21:48] Idomo commented on #2104
@morganchen12 This is what I've done after the link you sent before.
Like I said, it did made the stripes thinner, but there are still visible on black image (If you'll play with it's size on black background you'll see it)

[2019-01-22 22:36] wilhuff commented on #2188
Sorry for the delay in responding to this--somehow this got lost around the holidays. I'm currently working on reproducing this.

[2019-01-22 23:38] morganchen12 commented on #2104
Looks like you can avoid this issue by using a scale of 1 for all image resizing, though I'm not sure that's the behavior you want. IIRC The white bar on the side is a result of anti-aliasing when drawing the image for screen scales greater than 1. Here's an updated code snippet.

[code]

[2019-01-23 02:13] paulb777 commented on #2009
@ninokierulf Peripherally, yes. We can't share most progress since Crashlytics is not currently part of the open source part of Firebase on GitHub.

[2019-01-23 02:58] jwfstars commented on #2188
Sorry, it has been solved now. It is the problem caused by the VPN client I used. I changed a VPN client.

[2019-01-23 02:58] #2188 closed

[2019-01-23 04:05] zesoat opened #2303 "Firebase Dynamic Links sometimes got error NSPOSIXErrorDomain Code=53 "Software caused connection abort""
* Xcode version: 10.1
  * Firebase SDK version: 5.14
  * Firebase Component: FirebaseDynamicLinks
  * Component version: 3.3.0
  * IOS 12

I created dynamic links from firebase console. Then I clicked that link to open my app.
Sometimes I got success, but sometimes I got error from `DynamicLinks.dynamicLinks().handleUniversalLink`
in AppDelegate

Error Domain=NSPOSIXErrorDomain Code=53 "Software c

[2019-01-23 05:16] morganchen12 commented on #2303
Looks like [this](https://github.com/AFNetworking/AFNetworking/issues/4279) is the core issue, which cannot be resolved directly but can be worked around as has been done in the react native repo [here](https://github.com/invertase/react-native-firebase/pull/1841). @dmandar, what do you think is the best course of action here?

[2019-01-23 09:06] aleh opened #2304 "Crash in [APMIdentity numericFieldsFromAppVersionNumeric:]"
### [READ] Step 1: Are you in the right place?

Seems like so.

### [REQUIRED] Step 2: Describe your environment

  * Xcode version: Version 9.4.1 (9F2000)
  * Firebase SDK version: 5.5.0
  * Firebase Component: FirebaseAnalytics
  * Component version: 5.1.0

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

Not sure, constantly crashes for a single user in the field.

#### Re

[2019-01-23 09:52] Idomo commented on #2104
@morganchen12 The `floor` solution was better, with this code the stripes looks like they looks without the `floor`.
Thank you very much for your time, at least you helped me to make this look better then before [=

[2019-01-23 13:11] ryanwilson commented on #2304
Internally tracked as well at b/123276571.

[2019-01-23 15:59] vbrittes commented on #1986
Reduced the occurrence, but still happening.

[2019-01-23 18:12] wilhuff commented on #2188
OK, whew. I was not able to reproduce and starting to worry there was some deeper issue :-).

[2019-01-23 18:35] wilhuff commented on #2293
This really sounds like you're describing two issues, one for Firestore and one for Auth. Could you kindly file the issue with the username/password separately?

Regarding the "won't sync data back to the server" issue, there's not really enough here for us to diagnose what's happening. Which calls are you making (setData, transaction, etc)? Are you writing continuously or just occasionally?

If y

[2019-01-23 19:03] wilhuff commented on #2265
@morganchen12 I've taken this code and annotated it in a project I have lying around:

[code]

This looks reasonable to me. However, I also can't reproduce the problem you're describing: the changes come through just fine (my small addition shows all the document IDs for all the changes).

I've also tried to figure out how we could conceivably end up with an element in the array that isn't a `Docu

[2019-01-23 20:10] wilhuff commented on #1916
Our current hypothesis is that project-level misconfiguration of HEADER_SEARCH_PATHS or related settings, possibly generated by CocoaPods, is the cause of this issue. We've been unable to reproduce this.

Closing this issue for now, but if someone is still experiencing this problem, please share a tarball of your project (i.e. after running `pod install`) so that we can continue diagnosis.

[2019-01-23 20:10] #1916 closed

[2019-01-23 20:54] visumickey commented on #2201
@kazuhiro4949 I'm trying to understand few things here to make sure I debug this right.

1. I understand you are initiating a call for making a network request in main(). But is this happening after Firebase Initialization?
2. When you say none of the delegate methods of NSURLConnection are getting called - just to confirm - even connectionDidFinishLoading: is not getting called? Can you share any

[2019-01-24 00:08] htcgh commented on #2304
@aleh, can you determine which iOS version the user was crashing on and what the value of CFBundleVersion ("Bundle version") was from your app's Info.plist file?

[2019-01-24 03:49] Formerly opened #2309 "User crashes , [FIRMessagingConnection connectToSocket:]"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2019-01-24 07:02] aleh commented on #2304
@htcgh iPhone 6, iOS 11.3.1 (15E302), CFBundleVersion is 565.

[2019-01-24 11:18] allright commented on #2094
The same issue (but only in DEBUG)
duplicate symbol __ZNSt3__114numeric_limitsIN4absl7uint128EE8digits10E in:
    /Users/allright/Library/Developer/Xcode/DerivedData/TimePhone-fdjnayfcnyckukapeqmsvoqkvcdu/Build/Products/Debug-iphoneos/FirebaseFirestore/FirebaseFirestore.framework/FirebaseFirestore(int128.o)
    /Users/allright/TimePhone/timephone/TimePhone/Pods/FirebasePerformance/Frameworks/Fireb

[2019-01-24 13:08] pot8os commented on #2292
Thank you! Looking forward to the new version!

[2019-01-24 14:04] rupertdaniel commented on #843
It would be great if this issue could be addressed. Our users make use of the Files app to transfer a lot of files in/out of the device/app. This folder causes confusion to some people and is at risk of being deleted by the user.

[2019-01-24 14:12] harrygt commented on #843
Definitely agree here. User's shouldn't be able to access this in the `Documents` directory which is meant for User generated files.

[2019-01-24 17:34] morganchen12 commented on #2309
Can you include the missing symbols from `XoaInfoPlug1.dylib` in the stack trace? The stack trace ends in an array out-of-bounds exception, but the Firebase Messaging method called at the top of the stack trace doesn't do any array indexing. Also, the crash seems to occur only on jailbroken devices.

[2019-01-25 00:31] visumickey commented on #2283
This looks like a very tricky issue. We are able to reproduce the issue, but we are trying ways to find the root cause to have a fix on this. Will keep investigating this crash to arrive at a solution soon.

[2019-01-25 02:03] Formerly commented on #2309
I tried to find `XoaInfoPlug1.dylib` and I didn't find this. My recent version of the iteration is to do pods upgrade. The previous pods version is as follows:- Firebase/Core (5.4.1):
    - Firebase/CoreOnly
    - FirebaseAnalytics (= 5.0.1)
  - Firebase/CoreOnly (5.4.1):
    - FirebaseCore (= 5.0.6)
  - Firebase/Messaging (5.4.1):
    - Firebase/CoreOnly
    - FirebaseMessaging (= 3.0.3)
  - Fire

[2019-01-25 06:01] AdamDeveloper97579 commented on #1846
[FireBase worning.pdf](https://github.com/firebase/firebase-ios-sdk/files/2794808/FireBase.worning.pdf)

[2019-01-25 06:02] AdamDeveloper97579 commented on #1846
Вот решение этой проблемы
[FireBase worning.pdf](https://github.com/firebase/firebase-ios-sdk/files/2794809/FireBase.worning.pdf)
[FireBase.worning.pdf](https://github.com/firebase/firebase-ios-sdk/files/2794810/FireBase.worning.pdf)

[2019-01-25 08:45] peteralen commented on #2260
I think this is an issue with misconfiguration of HEADER_SEARCH_PATHS or related settings by CocoaPods. Removing `$(SRCROOT)/Pods/` from `TARGETS -> Build Settings -> Header Search Paths` will fix this issue.

[2019-01-25 08:46] peteralen commented on #1916
As @wilhuff mentioned, this should be an issue with misconfiguration of HEADER_SEARCH_PATHS or related settings by CocoaPods. Removing `$(SRCROOT)/Pods/` from `TARGETS -> Build Settings -> Header Search Paths` will fix this issue.

[2019-01-25 14:17] riley-usagi commented on #1846
Только - warning, а не worning =)

But thank you for answer.

[2019-01-25 18:02] morganchen12 commented on #2309
It's hard to say for sure, but I'm guessing updating Firebase broke something jailbreak-related that's now crashing your app. If you downgrade your pods, the crashes may go away, or they might go away whenever the jailbroken devices update their jailbreak software.

Closing this for now since it doesn't seem to be a Firebase issue. **Please let us know if there are any non-jailbroken devices exper

[2019-01-25 18:02] #2309 closed

[2019-01-25 19:47] GabeRoze opened #2316 "@import "FirebaseCore.h" in FUIAuthStrings not found. Can not run with Cocoapods"
### Describe your environment

  * Xcode version: 10.1
  * Firebase SDK version: 5.16
  * Firebase Component: Firebase (Auth, Core, Database, Firestore, Messaging, Storage, etc)
  * Component version: 5.2.2

#### Steps to reproduce:

OBJC project

I FUIAuthStrings @import causes the build to fail
Line 17

Replacing it with #import "FirebaseCore.h"

my pod file: https://gist.github.com/GabeRoze/5ad

[2019-01-25 21:32] paulb777 commented on #1403
FirebaseInvites has been deprecated and we don't plan to fix this.

More at https://firebase.google.com/docs/invites/deprecation

[2019-01-25 21:32] #1403 closed

[2019-01-25 21:33] paulb777 commented on #870
FirebaseInvites has been deprecated and we don't plan to fix this.

More at https://firebase.google.com/docs/invites/deprecation

[2019-01-25 21:33] #870 closed

[2019-01-25 21:34] paulb777 commented on #1403
If you see a related issue with DynamicLinks, please open another issue.

[2019-01-28 11:34] AdamDeveloper97579 commented on #1846
Я выбираю основной Info.plist ! Помоему он начинается non.info.plist .... Если я правильно запомнил

[2019-01-29 07:44] hite commented on #1399
Sorry man, actually we don't use Firebase at all, I use Fabric for crash catch. But I think the crash mentioned by this thread is caused by same season, and can be fix with same tricks.

[2019-01-29 11:46] curlyfrie commented on #2011
#need
would be highly appreciated

[2019-01-29 13:31] ortekka opened #2324 "Cannot import Firebase 5.16.0 from .mm (Objective-C++) files"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.1
  * Firebase SDK version: 5.16.0
  * Firebase Component: MLNaturalLanguage
  * Component version: 5.16.0?

### [REQUIRED] Step 3: Describe the problem

Upgrading my project from version 5.15.0 to 5.16.0 of the Firebase iOS SDK broke my build. The problem is in the new MLNaturalLanguage frameworks that were just added in 5.16

[2019-01-29 14:59] paulb777 commented on #2324
@ortekka Thanks for the report. We'll work on a solution.

In the meantime, a workaround seems to be removing   pod 'Firebase/MLNLLanguageID' from the `Podfile`

[2019-01-29 15:20] paulb777 commented on #2324
Other workaround is editing the import in `./Pods/FirebaseMLNLLanguageID/Frameworks/FirebaseMLNLLanguageID.framework/Headers/FIRNaturalLanguage+LanguageID.h` to `#import <FirebaseMLNaturalLanguage/FirebaseMLNaturalLanguage.h>`

[2019-01-29 17:30] bwhtmn commented on #1399
Just got rejected by app review, using version 5.16.0 of the Firebase iOS SDK. I don't think this issue has been fixed.

[symbolicated_crash.txt](https://github.com/firebase/firebase-ios-sdk/files/2808874/symbolicated_crash.txt)

[2019-01-29 18:13] morganchen12 commented on #1399
@chliangGoogle this looks like a deadlock in a `dispatch_sync` call.

[2019-01-30 03:34] chliangGoogle commented on #1399
Thanks for the crash log! Yeah, looks like we will also need to move read operation off main thread cuz there's race condition that a deadlock could happen. This requires a bigger refactor which will come in the next release.

[2019-01-30 10:42] bhadresh8141 commented on #2303
I am facing the same error.  @zesoat Did you got any solution for the same?
I am facing this issue on :
Xcode 10.1
iOS 12.1 (iPhone 6)

[2019-01-30 10:49] zesoat commented on #2303
@bhadresh8141
I added delay 50ms before handleUniversalLink and it worked.

[code]

[2019-01-30 11:11] bhadresh8141 commented on #2303
@zesoat Thanks...it works after putting delay 👍

[2019-01-30 19:35] chliangGoogle commented on #1399
@bwhtmn Can you share with us the other dependencies you have, also whether you are using keychain in your app? If you are not comfortable to share of these information, @morganchen12 can help reach out to you directly or file a case.

[2019-01-30 20:06] bwhtmn commented on #1399
@chliangGoogle I've attached the Podfile for our app below which should give you an idea of our other dependencies. We're not using the iOS keychain directly in the app, only as it's accessed through Firebase. Another possibly helpful detail is that `FirebaseApp.configure()` was the very first line of application(_:, didFinishLaunchingWithOptions:) in the build that got rejected.

[Podfile.txt](ht

[2019-01-30 20:50] mqln commented on #1624
Hello, I'm experiencing this crash intermittently on iOS 11.3 in the Simulator.

Is this a persisting problem?

[2019-01-30 21:06] morganchen12 commented on #1624
@mqln can you share a stack trace?

[2019-01-30 23:02] mqln commented on #1624
Yup, here's some more info:
[code]

Plus, here's the relevant portion of my Podfile.lock

[code]

[2019-01-31 18:48] paulb777 commented on #1624
@mqln Do you see the same issue with a more recent Firebase version.  The current release is 5.16.0.

[2019-01-31 18:52] mqln commented on #1624
@paulb777 Let me update and stress-test and see if I can reproduce, good call.

[2019-01-31 21:13] TylerZubke commented on #1965
I'm not sure if there has been any update on this, but I was able to get it to work in the simulator with this in my Podfile

	pod 'FirebaseCore'
	pod 'GoogleAnalytics'
	pod 'FirebaseAnalytics'
	pod 'GoogleTagManager'

[2019-02-01 03:25] ninglinli1 opened #2333 "Crash in FIRInstanceIDKeyPair"
### [READ] Step 1: Are you in the right place?
YES

### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.1
  * Firebase/Database = 4.8.2, Firebase/Storage = 4.8.2

### [REQUIRED] Step 3: Describe the problem
We saw 151 production crashes since January 32th, 2019.

#### Crash log:

CoreFoundation | CFDataGetBytePtr (CoreFoundation)
-- | --
Security | SecKeyCreateWithData (Securit

[2019-02-01 14:15] chadpav commented on #2292
This was a pretty big regression. Thanks for reporting it and fixing it. I would have never guessed that I needed to install the `Firebase/Auth` pod to resolve this. This functionality was working for me until recently and broke my production app.

[2019-02-01 14:42] ryanwilson commented on #2333
@ninglinli1 thanks for the report - the Firebase version `(4.8.1)` being used was released over a year ago (January 27, 2018) and InstanceID has changed quite a bit since then. Can you reproduce this on the latest version?

If you're not able to update the major version to the most recent (`5.16.0` as of this writing) try updating to the last `4.X` release - `4.13.0`.

[2019-02-01 16:10] ryanwilson commented on #2292
@chadpav apologies for the issue, we've definitely learned from this and will ensure transitions in the future go tested even further. This wasn't caught originally due to Auth always being included in our test project to ensure that the Authentication and security didn't break.

Previously we were using a fragile interface between Auth and other SDKs but now it's more appropriate - the thing we m