[2019-10-02 10:15] ramjyroo commented on #3145
https://medium.com/@piazzachris/how-to-authenticate-a-user-with-sign-in-with-apple-and-firebase-using-a-custom-token-80dedbc24dd - seems to be a good starting for using google cloud functions as our custom backend to create the token

[2019-10-02 10:24] pradipaub36 commented on #3759
I'm having Firebase SDK v6.8.1 and getting the same issue, Whenever change app state from background to foreground the app starts from splash screen instead of the existing screen.

[2019-10-02 11:03] epebojot commented on #1045
I just came here simply to check if I am correct but I, somehow found out the solution:

`db.collection("cities").doc("SF")
    .onSnapshot(function(doc) {
        // Only an example
        var source = doc.metadata.hasPendingWrites ? "Local" : "Server";
        console.log(source, " data: ", doc.data());
        // Solution
        switch(source) {
         case "Server":

[2019-10-02 11:12] epebojot commented on #1045
I just came here simply to check if my solution is correct but I somehow found out the solution:
![code](https://user-images.githubusercontent.com/38276345/66039836-8dbeab80-e548-11e9-94b8-c9476b4102a5.png)

[2019-10-02 12:20] re-ckart commented on #3938
So you are saying that you **get** redirected to the AppStore when you click on the link I provided in my comment above with an iPad with iOS 13? Because this does **not** work on our iPad (iOS 13.1.2) but does on the ones with prior version (iOS 12.2)

Also I am not sure if this is really an SDK issue. It seems more like an issue on the Firebase servers as the redirect should happen there. @dmand

[2019-10-02 12:46] Mayberries commented on #3145
I haven't tested it on multiple devices, but when I do I'll update you. I think it will depend on if you make the keychain synchronizable, and whether the private relay email that apple provides is generated for each device, or generated per AppleID (which makes more sense). If your keychain syncs across devices and the private relay email stays the same for your appleID then this method will work

[2019-10-02 12:48] jzaccone commented on #3967
Yes, right on launch on querying data from HealthKit, then saving the result into Firestore. This is sometimes called multiple times. Should I be making accessing my Firestore instance from the main thread in this scenario?

[2019-10-02 12:50] audkar commented on #3145
How would you make keychain synchronizable for Firefox on Windows? e.g. user has iPhone and windows PC.

[2019-10-02 13:08] Mayberries commented on #3145
In that case I think you would just have to look up your email/password in keychain. Again, this is just a work-around to satisfy apple's requirements.

[2019-10-02 15:00] loobnin commented on #1244
We also face same issues in our iOS apps. All works fine with *.page.link domains, but when we use a custom domain then Dynamic Links don't survive app install.

In that case it is always “appscheme://google/link/?request_ip_version=IP_V4&match_message=No pre-install link matched for this device.” URL that passed to the “application:openURL:sourceApplication:annotation:” method.

So we just can’t

[2019-10-02 15:24] wilhuff commented on #3967
It *should* be the case that this is all thread-safe, but given your description it seems like there may be a race in the initialization somewhere. I'll see if I can reproduce based on that.

This suggests that a workaround for now would be to call `Firestore.firestore()` (or `[[FIRFirestore firestore]`) once (likely early on the main thread) and reuse that instance. If the crash goes away after t

[2019-10-02 16:48] rojas commented on #2009
What should I do if my iOS and tvOS app uses the same bundle identifier? How can I setup both on the same Firebase project?

[2019-10-02 17:12] guidedways commented on #1732
Just received an email from Google announcing a deadline where Answers and Fabric will stop working by March 2020.

We *heavily* rely on `Answers` (i.e. now Google Analytics) for our macOS apps and since there's no macOS support yet, I don't see how "Migrate your apps to Firebase now" makes any sense. This deadline should either be increased to allow a port of Firebase Analytics over to macOS or G

[2019-10-02 17:21] jzaccone commented on #3967
OK I will call once and reuse instance like you suggest and will let you know if the crash goes away.

[2019-10-02 17:23] samedson commented on #2009
Right now we have a limitation that if they have the same bundle ID, they can't be in the same Firebase project. We recommend using separate projects for now.

[2019-10-02 17:31] morganchen12 commented on #1045
Locking responses on this issue since it's gotten mostly off-topic responses. If you're running into a Firestore bug, please [file a new issue](https://github.com/firebase/firebase-ios-sdk/issues/new).

[2019-10-02 17:43] rojas commented on #2009
Is this limitation on the road map? Do you think Firebase will support this case before Fabric deprecation on March 31st? Just trying to avoid creating new projects if possible.

[2019-10-02 17:46] renkelvin commented on #3791
You'll get AppAuth 1.2.0 now if using CocoaPods, which should fixed this issue.

[2019-10-02 17:54] tkrajacic commented on #3791
Why is this issue closed? There is still no new binary release which fixes the issue.
Using Cocoapods is not a viable solution for many users, so this is still broken in the latest binary release here: https://developers.google.com/identity/sign-in/ios/sdk/

[2019-10-02 17:55] schmidt-sebastian commented on #3962
@swftvsn All up- and download operations that are built into the Firebase Storage SDKs (such as dataWithMaxSize) are evaluated against your rules and do not rely on public download URLs.

[2019-10-02 18:04] paulb777 commented on #3791
@tkrajacic Good point. Thanks!

This issue was missing a milestone.  I've updated the issue to include the 6.10.0 milestone which is stabilizing now and should publish next week for CocoaPods, Carthage, and the [Firebase binary release](https://github.com/firebase/firebase-ios-sdk/releases). I can't speak for the GoogleSignIn releases.

Our policy in this repo is to close issues when they're fixed

[2019-10-02 18:32] #3524 closed

[2019-10-02 19:10] #3973 closed

[2019-10-02 20:26] paulb777 commented on #2626
Is this still an issue? There have been multiple stability improvements to FirebasePerformance since this was reported.

[2019-10-02 20:31] josevictor1 commented on #3802
I'm getting the same error as @titopalito.  ```Optional(Error Domain=com.google.remoteconfig.ErrorDomain Code=-114 "(null)" UserInfo={FetchError=Duplicate request while the previous one is pending})```.

About the second fetch call after the completion:

[code]

I've tried this, but still not working.

[2019-10-02 23:46] nordfogel commented on #3411
Is it intended not taking the delegate into account by recreating the Messaging singleton after a FirebaseApp is deleted and recreated?

`@property(nonatomic, weak, nullable) id<FIRMessagingDelegate> delegate;`

[2019-10-03 00:40] wilhuff commented on #3967
I haven't been able to reproduce this issue locally, but tracing through the initialization logic I did find a race and I've proposed a fix in #3984.

You can try that out by adding the following to your `Podfile`:

[code]

Note that any existing lines for `Firebase/Core` should remain unchanged.

[2019-10-03 01:54] pkrmf commented on #2846
I am not sure if Firestore generates any files, but if it does, you could always change the attributes of those files to no protection and that should fix the crash too.

I ran into a very similar issue, I opened a radar on Apple today since its clearly an iOS 13 bug in my case:
From my radar/Feedback:

- An application with data protection entitlement enabled on iOS13 will crash when a user with

[2019-10-03 07:18] pajtimid opened #3985 "Silent push notification not working iOS 13"
Silent push notification not working in iOS 13. But works fine in iOS 12.4. Any solution?

[2019-10-03 07:23] swftvsn commented on #3962
Thank you for the answer @schmidt-sebastian ! (And thanks for the great stack!)

[2019-10-03 07:23] #3962 closed

[2019-10-03 07:35] pbtouchtier commented on #3938
Case - On App not installed in the device and click on link
Expectation - Redirect to Dynamic link preview page

Case Result in iPhone 11 Pro Max- iOS 13.1 simulator - its display dynamic link preview page
Case Result in iPad6 Device (iPad OS 13.1) -
On click link - Redirect to the browser and open the link parameter URL(happens same as the dynamic link on web)
On long press the dynamic link displ

[2019-10-03 09:29] simonbengtsson commented on #3967
We released a new version yesterday and now this is our most common crash appearing for at least 1% of users.

Our new release contains three things related to this:

1. Upgraded firebase sdk form `6.8.1` to `6.9.0`
2. First build with Xcode 11
3. Migrated parts of database from realtime to firestore

Based on environment posted in issue and above comments I would guess its #3 then since we also a

[2019-10-03 13:01] ArtFeel commented on #2009
It's a pity that we still can't migrate correctly and compare iOS and tvOS analytics in single project.

[2019-10-03 14:01] #3950 closed

[2019-10-03 14:40] chliangGoogle commented on #3985
Can you provide an example of payload you send for silent push notification?

[2019-10-03 14:59] paulb777 commented on #2665
Protobuf 3.10.0 has been published to CocoaPods. Doing some additional Firebase integration testing today.

[2019-10-03 15:11] pajtimid commented on #3985
I updated to the iOS 13, the app no longer  receiving push notifications. I deleted the app and reinstalled it, after that I can receive push notifications.
Is there any changes on iOS, that affected the push notifications (token or anything else ) ?

Thank you!

[2019-10-03 15:15] chliangGoogle commented on #3985
Shouldn't be, we handled the iOS 13 updates on the payload so technically you shouldn't have to change anything. Not sure why reinstall the app matters for this case. If you can still reproduce the issue, please send us
a. the token
b. let us know which sender API you use to send the notification.
c. the payload you sent
d. the response you get after you sent the payload

[2019-10-03 15:35] #3967 closed

[2019-10-03 15:38] #128 closed

[2019-10-03 15:38] harshad1242 commented on #1339
Firebase need to take some second to connect with server. so i gave 5 second delay.
[code]

[2019-10-03 15:42] ryanwilson commented on #3924
#3984 likely addresses this issue.

[2019-10-03 15:46] paulb777 commented on #3924
@morganchen12 or @willk37 : Would you try patching in #3984 to confirm that it fixes this?

[2019-10-03 16:16] wilhuff commented on #3967
@simonbengtsson have you been able to reproduce the issue locally? If so, does applying the fix as [described above](https://github.com/firebase/firebase-ios-sdk/issues/3967#issuecomment-537738275) address it?

[2019-10-03 16:55] chliangGoogle commented on #3522
I wonder if this applies to FCM because we only care if app goes foreground and background, and those notifications are called now with the latest xcode 11 GM. And when scene goes to deactivate and activate, apps are still in foreground? So we should ignore the scene states update because we only care if app goes foreground and background for direct channel connections.

(I've tested multi-scenes

[2019-10-03 17:44] simonbengtsson commented on #3967
I have not been able to reproduce, but we will release a new version in a few days so can confirm then if noone have been able to before that.

[2019-10-03 18:00] morganchen12 commented on #3924
I've been unable to reproduce this bug with the new patch.

[2019-10-03 18:00] #3924 closed

[2019-10-03 18:00] morganchen12 commented on #3924
@willk37 feel free to comment here if this is still an issue, and thanks for reporting!

[2019-10-03 18:26] wilhuff commented on #3967
OK. We haven't been able to reproduce either. The fix is based on inspection and the result is strictly better than what came before. My worry is that this may not have been the only cause. Please do let us know what you see.

In the meantime this fix will end up in the next Firebase release.

[2019-10-03 21:38] ahmeric commented on #3578
I have the same error,
[code]
And not able to solve by any suggested methods. It takes all day. Still it stucks.

[2019-10-03 21:40] paulb777 commented on #3578
@ahmeric It looks like the GoogleDataTransport.framework is missing or it's an old version.

[2019-10-03 21:47] possen commented on #3578
As the original poster, I just wanted to confirm that I was able to upgrade to 6.9.0, by removing the == 6.5 from the Cartfile. Thank you.

[2019-10-03 21:48] ahmeric commented on #3578
Thanks, @paulb777 it has solved my problem. But until today, it was working without adding this framework to the linked libraries.

[2019-10-03 22:35] morganchen12 commented on #2303
Closing since this issue has staled.

[2019-10-03 22:35] #2303 closed

[2019-10-03 22:36] morganchen12 commented on #2447
This bug should be fixed now (was a backend fix, so no SDK update). Please comment here if it's still reproducible.

[2019-10-03 22:36] #2447 closed

[2019-10-03 22:39] morganchen12 commented on #3455
I suspect this is an artifact of how we're doing link matching. The match quality is most likely weaker for the subsequent installs.

Basically, if the user taps on the dynamic link and goes to the App Store, but then cancels their download and opens the App Store on their own to install the app, Dynamic Links can't distinguish that the user broke the dynamic link flow and went back to the App Sto

[2019-10-03 22:42] DavidPhillipOster commented on #3522
It's only an issue if there is important per-scene state: for example two
scenes each signed in to different accounts.

On Thu, Oct 3, 2019 at 9:55 AM Chen Liang <notifications@github.com> wrote:

[2019-10-03 22:46] morganchen12 commented on #3501
Hey @thiagomacauba88, sorry for the slow response--looking through your codebase, there doesn't seem to be any issues with your implementation. We've made some improvements recently to the dynamic link debug view, so please try appending `?d=1` to the end of your links and seeing if there's anything wrong.

[2019-10-03 22:46] #3501 closed

[2019-10-04 01:00] #1978 closed

[2019-10-04 03:07] tomokitakahashi commented on #3985
Hi, I had same issue.
I tried to solve using`apns-push-type` , but I couldn't .
Is there any other good way?

https://forums.developer.apple.com/thread/121568

[2019-10-04 04:15] ninokierulf commented on #2011
Hi, are there any plans to include for tvos?

[2019-10-04 05:40] ukmunnithan commented on #3321
I am getting the same issue. How to fix this issue..
I am not using WCDB in my project.

[2019-10-04 06:07] tomokitakahashi commented on #3985
I found patterns of iOS 13 bug.
Maybe you have set empty string to `aps` properties ?

I checked using legacy API :) ↓

|<img width="235" alt="スクリーンショット 2019-10-04 14 52 03" src="https://user-images.githubusercontent.com/16111788/66184366-caa8b080-e6b6-11e9-9f20-116eb6462fba.png">|<img width="252" alt="スクリーンショット 2019-10-04 14 51 51" src="https://user-images.githubusercontent.com/16111788/66184384-

[2019-10-04 07:09] ivovdry commented on #3759
Had similar crash on iOS 13. Was connected to Data Protection Complete mode: https://forums.developer.apple.com/thread/122858. After changing to NSFileProtectionCompleteUntilFirstUserAuthentication works as expected.

[2019-10-04 07:10] ivovdry commented on #3814
Had similar crash on iOS 13. Was connected to Data Protection Complete mode: https://forums.developer.apple.com/thread/122858. After changing to NSFileProtectionCompleteUntilFirstUserAuthentication works as expected.

[2019-10-04 07:56] JhonnyTawk commented on #3893
any solution for this issue? when will it be the next release for Firebase?

[2019-10-04 11:28] b-onc commented on #2910
Hello @ggpuglia , is there any progress on this?

[2019-10-04 14:11] ryanwilson commented on #3893
The `null` pointer crash should be fixed with #3975, and the other backgrounding crashes should be resolved (or at least severely reduced) with #3896 + #3974. The fixes should be in the next Firebase release, current plan is to release next week if testing goes well. You can try using the `release-6.10.0` branch or the `6.10.0` tag in the meantime to see if that resolves the issue (if you have a r

[2019-10-04 14:53] #2665 closed

[2019-10-04 15:33] chliangGoogle commented on #3985
I'm not able to reproduce for the case when notification field is empty (second scenario), what response do you get when it failed?

[2019-10-04 15:39] chliangGoogle commented on #3522
We use singleton so there is always one direct channel connection across multi-scenes.

[2019-10-04 16:42] NicolasVidal opened #4000 "Firebase ML Interpreter, link error since upgrading from 5.16.0 to 6.6.0"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.3
  * Firebase SDK version: 6.6.0
  * Firebase Component: ML Interpreter
  * Component version: 6.6.0

### [REQUIRED] Step 3: Describe the problem
We were using Firebase ML Interpreter in version 5.16.0 and everything was working fine. We had to upgrade to Firebase 6.6.0 due to another dependency compatibility issue.

Since we

[2019-10-04 16:59] JessicaGiphy commented on #2896
Hi @paulb777 we recently noticed a spike in our extension data ~mid september - wondering if a fix was made for this issue that would cause the extensions to more consistently be tracked and therefore we would see a spike. CC @giorgia

[2019-10-04 17:16] morganchen12 commented on #2896
Allen, can you answer @JessicaGiphy's question?

[2019-10-04 17:21] allenktv commented on #2896
@JessicaGiphy we have not made any changes concerning extensions on the SDK.

[2019-10-04 19:13] ggpuglia commented on #2910
Sorry, the development team hasn't had a change to prioritize this. We are working on getting release soon.

[2019-10-04 19:46] leandrodemarco commented on #2149
I'm having this exact same issue:

[2019-10-04 19:48] h36ahmed opened #4004 "Cloud Functions Error"
Lately, I have been receiving a lot of issues regarding network connection lost:
 User info dictionary:
 _kCFStreamErrorCodeKey: 54
 NSUnderlyingError: Error Domain=kCFErrorDomainCFNetwork Code=-1005 "(null)" UserInfo={_kCFStreamErrorCodeKey=54, _kCFStreamErrorDomainKey=1}
 _NSURLErrorFailingURLSessionTaskErrorKey: LocalDataTask <944971F4-03A5-4959-9E05-6E62AF83859C>.<1>
 _NSURLErrorRelatedURLSess

[2019-10-04 20:01] morganchen12 commented on #4004
This kind of network error is a result of your device losing network connection in the middle of a request. It's unlikely that this was caused by updating Firebase in your app. We'll need a sample app demonstrating this issue to debug it effectively.

[2019-10-04 20:06] h36ahmed commented on #4004
This never happened before though. I never added any changes to Cloud functions calls. They have remained the same for months. I have only updated Firebase versions. Although this is happening for some users and not all users, I have not been able to replicate on my end. Only that users have started to complain about this in the past week. I will ask more information about the behaviour.

[2019-10-04 20:26] JessicaGiphy commented on #2896
Thanks for the quick response

[2019-10-04 21:42] wilhuff commented on #2846
@pkrmf This is essentially the advice I gave in https://github.com/firebase/firebase-ios-sdk/issues/2846#issuecomment-484291699. Unfortunately, as a library we can't really make this choice for developers using Firestore. If the data really is sensitive, Firestore auto-unlocking its database files will work counter to developer intent.

Since this issue occurred we have done a few things to make i

[2019-10-04 21:55] h36ahmed commented on #4004
I spoke to a couple of users, a call is made to the cloud function and there is a waiting period for few seconds. After some time, it gives an error. All of the cloud functions fail not just one. They keep giving an error. The function retries but same result. All of the users have LTE internet connection.

[2019-10-04 22:09] h36ahmed commented on #4004
I am suspecting this change may be caused it. "Transitive GoogleDataTransport dependency incremented to v2.0.0"

[2019-10-04 22:13] paulb777 commented on #4004
@h36ahmed Why do you suspect GoogleDataTransport?  What was the previous version you were on before 6.9.0?

[2019-10-04 22:14] h36ahmed commented on #4004
6.8.1.

[2019-10-04 22:15] h36ahmed commented on #4004
I am downgrading it to 6.8.1 to further test my hypothesis. At the moment, all I can say is that on WIFI, Cloud functions work fine but not on LTE.

[2019-10-05 01:00] #3904 closed

[2019-10-05 01:00] #3066 closed

[2019-10-05 04:47] h36ahmed commented on #4004
I tested with 6.8.1 and that didn't work either. It's same the issue. For LTE, the error is DEADLINE EXCEEDED. For Wifi, it works fine.

[2019-10-05 06:33] h36ahmed commented on #4004
I tested with 6.8.0 and that worked for both LTE and WIFI

[2019-10-05 09:18] tomokitakahashi commented on #3985
I got no fail response.  It was success response😥

[2019-10-05 10:28] michael-mansour commented on #3144
Hi, when I try to archive my project I get the following error with gRPC-Core:

[2019-10-05 12:23] michael-mansour opened #4007 "gRPC-Core file not found (Mac Catalyst)"
###  Describe your environment

  * Xcode version: 11.1
  * Firebase SDK version: 6.3.0
  * Firebase Component: Firestore
  * Component version: 1.5.1

### Describe the problem
When I archive my project for MacCatalyst I get the following errors:

I have no issues when I run the project.

#### Steps to reproduce:
Choose target >Generic iOS Device then Product > Archive
(This is a Mac Catalyst proj

[2019-10-05 15:27] paulb777 commented on #4007
@michael-mansour Thanks for the report

I'm able to reproduce with `pod gen FirebaseFirestore.podspec --local-sources=./ --auto-open`, updating the signing and archiving `App-iOS`:
[code]

It does seem like the file is there:

[code]

More investigation required ....

[2019-10-05 15:35] paulb777 commented on #4007
Created https://github.com/grpc/grpc/issues/20500 on the gRPC repo.

[2019-10-05 15:36] paulb777 commented on #3144
Investigating gRPC-Core archive issue at #4007

[2019-10-05 22:35] fishandphil commented on #3145
Good evening
Now that iOS 13 has been out for "a while already"...
Is it possible to get an answer from anyone at Firebase regarding an official release?
We are looking forward to Sign-in with Apple in our product but stuck.
Visibility would make our life much easier :)
Thank you. We love Firebase

[2019-10-05 23:33] h36ahmed commented on #4004
Here is another issue I get when I am trying to connect to my cloud functions using cellular data: An SSL error has occurred and a secure connection to the server cannot be made.

[2019-10-06 06:19] JhonnyTawk commented on #3893
@ryanwilson  Thank you

[2019-10-06 08:53] IchordeDionysos commented on #3145
Please stop spamming!
As you noticed from the technical discussion in this thread it is far from trivial to implement Sign-in with Apple not mentioning any technical discussion on how to store/handling the data in the back end to make sure everything is secure!

And it's more than unusual to even get a timeline:

[2019-10-06 10:24] ZaidPathan commented on #627
https://github.com/alickbass/CodableFirebase could help.

[2019-10-06 16:29] radarcontact opened #4008 "SSL Connection Error With Newer iPhones on Cellular"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 11.0
  * Firebase SDK version: Newest (just updated all frameworks to the latest version as of 10/6/2019)
  * Firebase Component: Functions
  * Component version: _____

I recently updated the function and all of my firebase libraries by deleting the Pods folder and workspace and running "pod install" again.

### [REQUIRED] Step

[2019-10-06 20:29] lukemcgregor commented on #3145
The reason i'm subscribed to this thread is to get notifications when it's actually implemented (or wont be), not several a day from people who are upset its not done yet...

If you want this feature thumbs up the issue rather than adding a new comment.

[2019-10-06 20:57] paulb777 commented on #4008
Looks similar to #4004

[2019-10-06 21:27] radarcontact commented on #4004
I’m having the same issue. Only reproducible on cellular. I can take a video of it and submit it someone. Please let me know where to send it.

[2019-10-06 21:28] radarcontact commented on #4004
@h36ahmed have you been able to solve it by downgrading firebase SDKs?

[2019-10-06 21:30] h36ahmed commented on #4004
@radarcontact nope. I think ever since I built it with XCode 11, thats when this happened. I thought it would be Firebase changes but I downgraded it 6.7.0 and it still gives me the same error. So I am not sure what is causing this.

[2019-10-06 21:54] radarcontact commented on #4004
Feels like an SSL error given the error messages. I’m curious if a Google engineer could look into this on their side. Maybe a certificate authentication issue?

@h36ahmed have you been able to downgrade to iOS 10 or Xcode? I last updated our app like 12 days ago. I believe it was compiled with Xcode 10. Curious if it is the software on our side but it feels like this is a google infrastructure is

[2019-10-06 21:56] radarcontact commented on #4008
Thanks @paulb777. It is. What is being done? This is highly impacting our users.

[2019-10-06 23:23] h36ahmed commented on #4004
I have not installed old Xcode to test if the issue is XCode 11 build.

[2019-10-06 23:35] vukrado commented on #4004
I am experiencing the same issue using httpsCallable

[2019-10-07 00:09] radarcontact commented on #4008
Hi @paulb777 This is causing some serious trouble for us we need resolved ASAP. Can you update?

Im happy to pay for a support plan if it helps move this along faster. We *really* need this resolved.

[2019-10-07 00:10] radarcontact commented on #4008
Could it be something simple like an expired SSL certificate?

[2019-10-07 00:32] rmdan90 opened #4009 "App crash when calling Firestore.firestore(app: secondaryApp)"
I'm trying to access another firestore project to read a document, here is the code:

[code]

  * Xcode version: Xcode 11 .
  * Firebase SDK version: Firebase (6.5.0) .
  * Firebase Component:  (Firestore) .
  * Component version: FirebaseCore (6.1.0) FirebaseFirestore (1.4.2) .

the crash happens when i try to create an instance of firestore for the secondary app(project)
and it points at string_

[2019-10-07 00:58] h36ahmed commented on #4004
Hi Google Team, please make this fix urgent. I am getting a lot of complaints from my users about app not working. It is impacting UX of our app.

[2019-10-07 01:19] vukrado commented on #4008
<img width="484" alt="Screen Shot 2019-10-06 at 8 15 57 PM" src="https://user-images.githubusercontent.com/33791641/66279319-616f9b80-e876-11e9-85fe-922639b4aee5.png">
Allowing Arbitrary Loads removes these errors

[2019-10-07 01:52] ukmunnithan commented on #3760
Hello,
I have the same issue..
Could you please help me..
@paulb777: how can we update internal version of sqlite 3...

[2019-10-07 02:02] wilhuff commented on #4009
It appears that our validation isn’t very friendly here and we’re crashing when we should be giving you a more helpful error message. In this case the issue is that your options object is missing the Google Cloud project ID.

[2019-10-07 02:23] rmdan90 commented on #4009
Thank you, it worked.
and also this should be said in the firebase documentation too [Here](https://firebase.google.com/docs/projects/multiprojects)

[2019-10-07 05:26] min-hwang opened #4010 "Firestore start after date issue"
* Xcode version: 11.0
  * Firebase SDK version: _____
  * Firebase Component: Firestore
  * Component version: 1.5.1

The firestore getDocument function seems to include the date it is specified to start after.

#### Steps to reproduce:

  1. Define firestore.
  2. Use .start(after:[]) function to get next page.

#### Observed Results:

The last element from last read was included in new read. I s

[2019-10-07 06:26] Kieranshb commented on #4008
I am having a similar issue using the flutter firebase cloud_functions plugin as well. Users on cellular networks using iOS cannot use us the cloud functions plugins. It works fine on every other platform and when connected to wifi, but this has caused several complaints from customers.

[2019-10-07 06:53] Milap-Kundalia commented on #2390
I am facing the same issue
I have written the new method in app delegate but still, it's not getting called when the dynamic link is clicked.

[code]

I am testing in iOS 13

let me know if anyone is having any solution for this.

[2019-10-07 11:18] LeXa777 commented on #3145
The reason I’m subscribed to this thread is not only to get a notification when this is implemented but also to get an idea when to expect it as I need to plan my time and my releases around this knowledge. I can’t just patiently wait until December when we get a happy post from Firebase team that they're are about to finally release the Alpha version.

I mean if they release it in December, it’s

[2019-10-07 11:40] shliama commented on #3145
Jeez. Everyone around here is so sensitive! No fun at all 😢
Not sure if it's spam 🤔Sorry Not Sorry.

[2019-10-07 12:42] jzaccone commented on #3967
I have running a new version in production with the PR fix and I have yet to see the crash come up. This resolved the crashes I was seeing

[2019-10-07 12:55] Manidevlop commented on #1917
Hi, Even I'm also getting the same leak in firebase config

import Firebase & FIRApp.configure() in didFinishLaunchingWithOptions in app delegate.

![Screenshot 2019-10-07 at 6 23 07 PM](https://user-images.githubusercontent.com/32291332/66313263-b6bbb380-e92f-11e9-82c7-536dbe8ef50b.png)
![Screenshot 2019-10-07 at 6 23 43 PM](https://user-images.githubusercontent.com/32291332/66313265-b7544a00-e92

[2019-10-07 13:23] paulb777 commented on #1917
@Manidevlop Please upgrade to Firebase 6.x

[2019-10-07 13:38] antekarin opened #4011 "Push notifications not being delivered [iOS 13] [Clean install]"
Xcode version: Xcode 11
Firebase SDK version: 6.9.0
Firebase Component: Messaging 4.1.5

For builds made signed with iOS 12 SDK and Xcode 10 we have no issues with push notifications but they are not being delivered for clean installed builds made with Xcode 11 (iOS 13 SDK).

Updating from build made with Xcode 10 (iOS 12 SDK) to build made with Xcode 11 causes no issues on push delivery.

This is

[2019-10-07 14:14] wilhuff commented on #4010
Hi!

This has been reported previously, though [not on github](https://groups.google.com/d/topic/google-cloud-firestore-discuss/9_Vq21PAgbY/discussion).

The issue is that `NSDate` and `Date` on iOS are represented as a double precision floating point number and that's insufficiently precise to represent all possible dates. What you're seeing is a rounding error where converting a Date to a Firest

[2019-10-07 14:14] #4010 closed

[2019-10-07 15:46] #3949 closed

[2019-10-07 15:57] nielswh commented on #4008
Our Team is also having the problem with specific iOS devices when using Cellular.  The last week we have had a huge up tick in supports calls of people who could not use the app. Pin pointed the problem to iOS devices on cellular networks.  When making a call to cloud functions, these devices would throw and exception that they are unable to connect.  If on wifi or Android devices, its not an iss

[2019-10-07 16:48] chliangGoogle commented on #4011
We've tested on iOS 13 that notification should still work. If you can still reproduce the issue, please send us
a. the token
b. let us know which sender API you use to send the notification.
c. the payload you sent
d. the response you get after you sent the payload

[2019-10-07 17:25] morganchen12 commented on #4008
Hey all, looks like this is a server issue on our end. We're working to have a fix up as soon as possible. Resolving this issue will not require a binary update.

Googlers, see incident number 16293

[2019-10-07 18:07] chliangGoogle commented on #3985
I'm able to reproduce, @chong-shao did we silent the message when notification body is empty?

[2019-10-07 18:19] ryanwilson commented on #4008
This should be resolved now with no action needed from folks - please test and let us know if things are back to normal or more investigation is needed.

[2019-10-07 18:19] #4008 closed

[2019-10-07 18:19] ryanwilson commented on #4004
This should be resolved now with no action needed from folks - please test and let us know if things are back to normal or more investigation is needed.

[2019-10-07 18:19] #4004 closed

[2019-10-07 18:26] Kieranshb commented on #4004
It looks to be working on our end! Thank you!

[2019-10-07 18:28] chliangGoogle commented on #3985
Actually this only happens in legacy API, not the new http v1 API. We are not currently adding new support for legacy API and encourage developers to migrate to http v1 API. @sampson-chen

[2019-10-07 19:07] chliangGoogle commented on #3522
For multi-scenes, developers can now specify a "target-content-id" key to let system know which scene should be opened.
More info at https://developer.apple.com/videos/play/wwdc2019/259/

The system will take care of which scene to be open and I haven't seen anything from Apple that push notification needs to handle in a sceneDelegate level. Because of that, when we handle universal link, FCM shou

[2019-10-07 19:07] #3522 closed

[2019-10-08 02:39] Lunziyuan commented on #842
The same with you.Have you solved this problem? @nguyentuanvu90

[2019-10-08 04:45] Lunziyuan commented on #842
I  solved it by this! [https://github.com/invertase/react-native-firebase/issues/1972](url)

[2019-10-08 04:58] GoranLilja commented on #3891
Any updates on this topic?

[2019-10-08 09:08] icedice opened #4018 "Watchdog timeout (8badf00d)"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 11.0
  * Firebase SDK version: 6.9.0
  * Firebase Component:  Unknown
  * Component version: 6.9.0
 * Using carthage

### [REQUIRED] Step 3: Describe the problem

Some of our users report watchdog timeouts (0x8badf00d), so far we are unable to reproduce the issue but we have been able to get hold of a few crash logs. The logs sho

[2019-10-08 12:36] antekarin commented on #4011
Hi @chliangGoogle ,

we are using Firebase console to trigger push notifications. In further debugging I've found that setting 'FirebaseDataCollectionDefaultEnabled' to 'NO' in Info.plist file prevents FCM token to be used by default and the MessagingDelegate method

`func messaging(_ messaging: Messaging, didReceiveRegistrationToken fcmToken: String)`

would not be called. But calling:

`Messagin

[2019-10-08 14:02] bmh1990 opened #4019 "GDTCORUploadCoordinator uploadTargets"
* Xcode version: 10.2
  * Firebase SDK version: 6.9.0
Using FirebaseAnalytics (6.1.2)
Using FirebaseAuth (6.2.3)
Using FirebaseAuthInterop (1.0.0)
Using FirebaseCore (6.3.0)
Using FirebaseCoreDiagnostics (1.1.0)
Using FirebaseCoreDiagnosticsInterop (1.0.0)
Using FirebaseDatabase (6.1.0)
Using FirebaseInstanceID (4.2.5)
Using FirebaseStorage (3.4.1)
Using GoogleDataTransport (2.0.0)
Using GoogleDat

[2019-10-08 15:19] Almaz5200 commented on #4011
I am experiencing this issue as well, have you solved the problem?

[2019-10-08 15:34] mccarron commented on #3893
@ryanwilson what's the current plan for release of `6.10.0`? Getting lots of crashes still and would love to update this.

[2019-10-08 16:59] chliangGoogle commented on #4011
@antekarin Yes, it is by default that when setting 'FirebaseDataCollectionDefaultEnabled' to 'NO', it will overwrite FCM's autoInitEnabled flag to NO, meaning FCM doesn't auto generate FCM tokens without developers's intentionally calling it. Which explains why when you call getFCMToken yourself, push notification start working again.

[2019-10-08 17:41] bmh1990 commented on #4019
@maksymmalyhin, Thank's for answer so quickly. The crashes occurred on production and i haven't been able to reproduce it. I don't have a sample app either , but i will update the pods and let you know if this resolves the issue.

[2019-10-08 18:40] morganchen12 commented on #4018
Can you share your Podfile.lock?

[2019-10-08 18:50] icedice commented on #4018
I'm using carthage...  cartfile.resolved looks like this:

binary "https://building42.github.io/Specs/Carthage/iOS/Crashlytics.json" "3.14.0"
binary "https://building42.github.io/Specs/Carthage/iOS/Fabric.json" "1.10.2"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseABTestingBinary.json" "6.9.0"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAnalyticsBinary.json" "6

[2019-10-08 18:53] morganchen12 commented on #4018
A few thoughts from looking at the stack trace:
- The GTMSessionFetcher code tries to load some persisted background fetchers from NSUserDefaults. This usually only takes a few milliseconds; something unusual in your app is causing this to hang for longer. You can see the `load` logic in its entirety [here](https://github.com/google/gtm-session-fetcher/blob/master/Source/GTMSessionFetcher.m#L1330)

[2019-10-08 19:04] morganchen12 commented on #4018
cc @thomasvl

[2019-10-08 19:22] travischapman commented on #3759
Firebase 6.9.0
GoogleDataTransportCCTSupport 1.1.0

Issue is still present in iOS 13.1, but absent in iOS 12
`Can't end BackgroundTask: no background task exists with identifier 18 (0x12), or it may have already been ended. Break in UIApplicationEndBackgroundTaskError() to debug.`

[2019-10-08 19:27] morganchen12 commented on #3759
@travischapman can you file a new issue? This looks slightly different than the parent issue, since it's not resulting in a crash.

[2019-10-08 19:32] morganchen12 commented on #4000
@NicolasVidal is this still an issue on 6.9.0? I'm not able to reproduce the issue with the ML Kit samples.

[2019-10-08 19:49] mikehaney24 commented on #3759
@travischapman @morganchen12 This is an iOS issue. If you create a completely empty project and run it and background the app, it will say this.

![image](https://user-images.githubusercontent.com/1082754/66428019-11a1e900-e9ca-11e9-93bc-61ceb6d27dd4.png)

[2019-10-08 19:57] cambronjay commented on #3578
I am still experiencing this issue. Any viable solution?

[2019-10-08 20:01] mikehaney24 commented on #4019
This is because the ivar is being set and read/written at the same time (see: reading a non-whole value). This happens because the encoders/decoders are not on the queue, whereas the reads and writes are. I'll look into how I can queue the setting of this ivar without creating a deadlock.

[2019-10-08 20:25] thomasvl commented on #4018
https://github.com/google/gtm-session-fetcher/pull/154 is looking to move this off `+load` further into startup to avoid some of the delays.

[2019-10-08 20:41] ryanwilson commented on #3929
Firebase 6.10.0 was released a few moments ago that should contain a fix for this issue. Please update and re-open the issue if it still persists.

[2019-10-08 20:53] NicolasVidal commented on #4000
@morganchen12 This is indeed not an issue with 6.9.0, and right now just for iOS we are using it. But the issue is that the Firebase Unity SDK we are using is still in 6.6.0 (https://firebase.google.com/download/unity), we hope that using 6.6.0 unity wrapper with 6.9.0 won't cause any issue with the rest of Firebase services, but it's not a perfect solution.

[2019-10-08 20:58] ryanwilson commented on #3780
Firebase 6.10.0 was just released and MLKit should be fixed. Please re-open if you find otherwise!

[2019-10-08 20:58] #3780 closed

[2019-10-08 20:59] mikehaney24 commented on #3893
Firebase 6.10.0 was released a few minutes ago. The issues mentioned by Ryan above should be addressed. Reopen if issues persist!

[2019-10-08 20:59] #3893 closed

[2019-10-08 21:54] paulb777 commented on #4000
Closing here. Please open an issue at https://github.com/firebase/quickstart-unity/issues for additional assistance.

[2019-10-08 21:54] #4000 closed

[2019-10-08 22:55] dmandar commented on #3802
Thanks @josevictor1 for confirming. Investigating.

[2019-10-09 00:33] arkilis commented on #3851
Same thing here.

[2019-10-09 06:52] icedice commented on #4018
Unfortunately we are unable to reproduce it consistently.
In fact we only have one device where this happens again and again (but not every time), the device is not jailbroken. This device belongs to one of our main stakeholders, which is also part of the problem.
It could be some "freak" issue with this device I guess, especially since we can't reproduce it on any of our 10+ test devices, but it'

[2019-10-09 09:17] Almaz5200 opened #4026 "Messaging on iOS 13 not working"
* Xcode version: 11.0
  * Firebase SDK version: 6.9.0
  * Firebase Component: Messaging
  * Component version: 6.9.0

I’m trying to send push notification on iOS 13 via legacy api and getting success response but there’s no push notification on my device. Same code doing well on iOS 12

[2019-10-09 09:21] JhonnyTawk opened #4027 "GoogleDataTransportCCTSupport error after pod update"
On iOS 13, errors inside GoogleDataTransport

Xcode version: 11.0
Firebase SDK version: 6.10.0
Firebase Component: Core
Component version: latest
I am getting this error

**Pods/GoogleDataTransportCCTSupport/GoogleDataTransportCCTSupport/GDTCCTLibrary/GDTCCTUploader.m:119:65: runtime error: null pointer passed as argument 1, which is declared to never be null**

**Pods/GoogleDataTransportCCTSuppor

[2019-10-09 09:40] fvonk opened #4028 "Firebase InAppMessaging messageDisplaySuppressed not working properly."
* Xcode version: 11
  * Firebase SDK version: FirebaseInAppMessagingDisplay (0.15.4):
    - FirebaseCore (~> 6.2)
  * Firebase Component: FirebaseInAppMessagingDisplay
  * Component version: FirebaseInAppMessaging (0.15.4):
    - FirebaseAnalyticsInterop (~> 1.3)
    - FirebaseCore (~> 6.2)
    - FirebaseInstanceID (~> 4.0)
    - GoogleDataTransportCCTSupport (~> 1.0)

In app did finished launchin

[2019-10-09 11:33] tomerciucran commented on #3929
We're having the same crash even after updating to 6.10.0.

[2019-10-09 12:31] vetrovosk commented on #3791
Even after release of 6_10_0 we still do observe the same behaiour on devices running iOS 13.

After invoking `[[GIDSignIn sharedInstance] signIn]` with GoogleSignIn framework from Firebase binary distribution we see `"The app" Want to use google.com to signin" modal dialog that appears briefly and then hides itself and that's it.

[2019-10-09 13:17] paulb777 commented on #3929
@tomerciucran Is it the same backtrace as above?

[2019-10-09 13:21] paulb777 commented on #3791
@vetrovosk Please confirm that you updated the AppAuth.framework to the version 1.2.0 from the zip download, did a clean rebuild, and removed DerivedData(`rm -rf ~/Library/Developer/Xcode/DerivedData/`)

[2019-10-09 13:40] tomerciucran commented on #3929
@paulb777 Yes.

[2019-10-09 13:47] vetrovosk commented on #3791
Yes, I confirm that I've just made a clone of [google signin sample app](https://github.com/googlesamples/google-services/tree/master/ios/signin), opened it in Xcode 11, changed client id in app delegate, changed `CFBundleURLTypes` in `Info.plist` accordingly, added `-ObjC` linked flag, and dragged and dropped all the frameworks from `Firebase/GoogleSignIn` and `GoogleSignIn/Resources/GoogleSignIn

[2019-10-09 13:48] visumickey commented on #3929
@tomerciucran Were you able to get this crash during development time or in production?

If in production, is the volume of crash similar to earlier?

[2019-10-09 13:59] adamup928 commented on #4018
@icedice - does your application use the data protection entitlement, by chance?  There's an iOS 13 bug that causes crashes due to the  scene-update watchdog timer.

Here's an Apple developer forum post that includes some reproduction steps so you can verify it's affecting you: https://forums.developer.apple.com/thread/122858

[2019-10-09 14:05] tomerciucran commented on #3929
@visumickey In development. We have Firebase version 5.20.2 currently in production.

[2019-10-09 14:14] visumickey commented on #3929
@tomerciucran That is nice you were able to catch in development. Few more questions:

1. Is this happening during app start up or later?
2. Is this consistent?
3. Can you provide us a sample app where this is happening?

[2019-10-09 14:50] vetrovosk commented on #3791
Yes, I even think that I've mentioned that their fix uses compile time checks that don't get applied when built against older versions of ios sdk in the support Case 00011522 submitted to firebase-support@google.com :-)

Thanks!

[2019-10-09 15:29] chliangGoogle commented on #4026
This seems like a duplicate issue as #3985.

[2019-10-09 16:10] Almaz5200 commented on #4026
Thanks! I've actually solved my problem, I've got a problem on my side with APNS registration

[2019-10-09 16:10] #4026 closed

[2019-10-09 16:52] morganchen12 commented on #4018
Looks like the stack trace in the parent issue has a different exception message (EXC_CRASH / SIGKILL) than the iOS 13 bug crash, so it's probably unrelated.

@icedice, you can try patching in https://github.com/google/gtm-session-fetcher/pull/154 and seeing if that fixes the crash. Otherwise, without a reproducible sample we won't be able to help you resolve this issue.

[2019-10-09 16:56] adamup928 commented on #4018
@morganchen12 - I can confirm that the exception message `(EXC_CRASH / SIGKILL)` is what's given as a result of the data protection entitlement watchdog crash.

[2019-10-09 17:16] morganchen12 commented on #4018
The apple developer forum link you posted is a SIGBUS crash.

[2019-10-09 17:19] adamup928 commented on #4018
@morganchen12 - yes, that initial post you're seeing is a different issue.  There is a thread on that page, however, that talks about the data protection entitlement crash.  Sorry for the confusion.  There's no way to link directly to specific posts in the Apple dev forum.

[2019-10-09 17:21] steipete commented on #3144
We shipped our Catalyst app (PDF Viewer) and we're *REALLY* missing Firebase Crashlytics. Is there a rough ETA for it? Is there anything we can do to help/beta-test?

[2019-10-09 17:37] #4019 closed

[2019-10-09 17:50] morganchen12 commented on #4018
I see, thanks for clarifying!

[2019-10-09 18:43] icedice commented on #4018
The device in question runs iOS 12.4 and we do not have any data protection entitlement set. So I think the linked issue is unrelated.

[2019-10-09 19:33] cambronjay commented on #4027
I will second this issue. This too occurs with the manual installation of the SDK. When will this be fixed? Apps are breaking in iOS 13.

[2019-10-09 20:01] mikehaney24 commented on #4027
Working on it right now.

On Wed, Oct 9, 2019 at 12:33 PM Jay Cambron <notifications@github.com>
wrote:

[2019-10-09 21:23] AnthonyMillerSF commented on #3066
I am seeing this same issue using `Firebase/Analytics` and `GTMSessionFetcher` currently.

[2019-10-09 21:30] morganchen12 commented on #3066
Anthony, can you share an Instruments time profiler trace?

[2019-10-09 21:33] mmgrt commented on #3136
Any update on this?

[2019-10-09 23:53] RobBernardini commented on #3862
@paulb777 , I was wondering if the latest Firebase released yesterday has also resolved this issue as it has with Firebase ML.
Thanks for your time.

[2019-10-10 01:05] ZachOrr opened #4034 "Update Firebase Auth + GoogleSignIn docs"
Hey there - I see Firebase Authentication on iOS got [updated to support GoogleSignIn 5.0.0](https://github.com/firebase/firebase-ios-sdk/issues/3609), but [the docs](https://firebase.google.com/docs/auth/ios/google-signin) haven't been updated. Would it be possible to update the documentation to reflect the necessary changes for the new version of the library?

Thanks!

[2019-10-10 02:22] LipYoung opened #4035 "Firebase/Firestore can not work with SVGKit. it wil build error."
* Xcode version:  11
  * Firebase SDK version: Firebase/Firestore 6.7.0
  * Firebase Component:

[code]
 * pod version:  1.8.1
 * macos version: 10.14.6

### [REQUIRED] Step 3: Describe the problem

If I add the `Firestore` edit to the newly created project, an error will occur. If you remove the `Firestore` edit, it will be fine.

如果我在新创建的工程中添加`Firestore`编辑就会出现错误。如果移除`Firestore`编辑就正常了。

#### Step

[2019-10-10 02:25] paulb777 commented on #4035
What is the error?

Please share the created project.

[2019-10-10 02:25] LipYoung commented on #4035
![image](https://user-images.githubusercontent.com/15086314/66534240-3ae88380-eb48-11e9-8345-2b917e97b1f4.png)

This is error info.

[2019-10-10 02:29] paulb777 commented on #3791
According to the GoogleSignIn team, the 5.0.1 zip file downloadable from https://developers.google.com/identity/sign-in/ios/sdk has the fix.

I'll leave this issue open until we have a resolution for the Firebase zip and Carthage distribution.

[2019-10-10 02:30] LipYoung commented on #4035
[TestFirebase.zip](https://github.com/firebase/firebase-ios-sdk/files/3710193/TestFirebase.zip)

i uploading this test project.

[2019-10-10 02:32] paulb777 commented on #3862
@RobBernardini Yes. The issue should be resolved in Firebase 5.10.0 for everything except Google Mobile Ads.

[2019-10-10 02:36] paulb777 commented on #3136
There's essentially no change from the July 9th comment above.  There have been some proposals and discussions about some of the necessary features in the Swift Package Manager Forums, but not much tangible progress yet.

[2019-10-10 03:35] hberson opened #4036 "Firestore <uninitialized>"
* Xcode version: Xcode Version 11.0 (11A419c)
  * Firebase SDK version: 6.9.0
  * Firebase Component: Firestore
  * Component version: 6.9.0

### [REQUIRED] Step 3: Describe the problem

The code snippet bellow is how I configure firebase because the app I am working on contains three type of configurations; development, staging, and production configuration/environment.

[code]

The problem that

[2019-10-10 03:50] RobBernardini commented on #3862
Actually Google Mobile Ads is specifically what I need solved. Hopefully it will be fixed by next release.

[2019-10-10 07:37] nstein opened #4038 "Crash on com.google.fira.worker thread, EXC_BREAKPOINT"
A couple of crashes reported from production on Crashlytics in the last 30 days for iOS versions 12.4.1 and 13.0.0.

[REQUIRED] Step 2: Describe your environment

  * Xcode version: 11.0 (11A420a)
  * Firebase SDK version: 6.9.0
  * Firebase Component: Analytics
  * Component version: 6.9.0

[REQUIRED] Step 3: Describe the problem

Steps to reproduce:

This issue occurs very rarely when a `UIViewC

[2019-10-10 07:43] JhonnyTawk opened #4039 "GDTCORStorage Null pointer exception"
On iOS 13, errors inside GDTCORStorage

Xcode version: 11.0
Firebase SDK version: 6.10.0
Firebase Component: Core
Component version: latest
I am getting this error

Getting Null pointer passed as argument 2, which is declared to never be null **on**

`[NSKeyedUnarchiver unarchivedObjectOfClass:[GDTCORStorage class] fromData:data error:&error]; in line 220`

<img width="1299" alt="Screen Shot 2019-

[2019-10-10 09:39] tomerciucran commented on #3929
@visumickey Sorry for the late response.

1. It is happening on app launch.
2. It is consistent.
3. Unfortunately no resources at the moment to provide a sample app for this.

[2019-10-10 09:46] Manidevlop commented on #1917
Okay, I will upgrade and check it.

Thank you

[2019-10-10 10:08] Andreas409 commented on #4011
any update here?

[2019-10-10 11:19] peterstojanowski commented on #3144
@samedson Is there any update or ETA on Firebase Crashlytics SDKs? I assume this will replace old Fabric Crashlytics and be compatible with Catalyst?

[2019-10-10 11:40] MatthiasB94 commented on #4028
@fvonk This issue should be fixed with #3922 which is included in version 6.10.0. Unfortunately I didn't create an issue for this, so it's not included in the changelog.

[2019-10-10 12:22] carbjo opened #4040 "Google tag manager non-optional dependency to AdSupport framework"
### [READ] Step 1: Are you in the right place?

I think so. This seems to be a way to come in contact with firebase and GTM developers.

### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 11.1
  * Firebase SDK version: 6.9.0
  * Firebase Component: Analytics
  * Component version: 6.1.2

### [REQUIRED] Step 3: Describe the problem

We have used Firebase and Google Tag Manager to

[2019-10-10 13:50] mikehardy commented on #3929
This is only tangentially related, but as a react-native-firebase maintainer, releasing a crash fix in the same semver as releasing breaking changes to MLKit makes it difficult to message to users what the compatibility matrix of versions is. This should be in 6.xx and the MLKit breaking stuff should have gone in a 7.0. This adds downstream support and documentation burden.

[2019-10-10 13:51] djdirtycake commented on #3915
Did some debugging of FIRApp.m
The cause of the problem is propably static FIRApp *sDefaultApp suddenly becoming nil fore whatever reason

During configuration the FIRApp instance is created and assigned to sDefaultApp and is fine during +addAppToAppDictionary:
<img width="1286" alt="Screenshot 2019-10-10 at 16 44 25" src="https://user-images.githubusercontent.com/2623510/66574794-82d5cd80-eb7d-11

[2019-10-10 14:05] paulb777 commented on #3929
@mikehardy MLKit is still in beta and I would recommend expectations be set for ongoing breaking changes.

[2019-10-10 14:13] mikehardy commented on #3929
Developing for react-native makes one quite prepared for ongoing breaking changes :-), but the semver signaling helps sort them out and maintain coherent compatibility matrices is all. Failure to use that signal results in sleeper issues sometimes a couple dependencies downstream that waste troubleshooting time until someone bisects and discovers a hidden semver break like this https://github.com/

[2019-10-10 14:19] paulb777 commented on #3929
@mikehardy I completely agree with the merits of semver and that's exactly why FirebaseMLKit is still at major version 0 to set the proper expectations.  See bullet 4 at https://semver.org/

[2019-10-10 14:26] paulb777 commented on #4028
Thanks @MatthiasB94 !  Sorry we missed the release notes update.

@fvonk Let us know if `pod update` does not resolve the issue.

[2019-10-10 14:26] #4028 closed

[2019-10-10 14:33] mikehardy commented on #3929
Hmm - this may be more of a style / transitive issue then. I think of the firebase ios SDK as a version-locked monorepo based on all the versions moving in step (eg 6.10) but under the covers that could be connecting with a differently-versioned FirebaseMLKit 0.x ? I'm not sure how to manage that.

Also, apologies to participants here - didn't mean to rabbit hole on versioning in an active crash i

[2019-10-10 14:41] ryanwilson commented on #4036
Hi @hberson, thanks for the report.

A set of questions that should help track this further: where, how, and when does `self.firestore?` get initialized?

Thanks!

[2019-10-10 14:46] samedson commented on #3144
Hey all, we are working towards providing this support - it's is a high priority for us. We'll let you know when there is news to share.

[2019-10-10 15:31] samedson commented on #3144
Right now we have community support for macOS here: https://github.com/firebase/firebase-ios-sdk#macos-and-tvos. More fully fledged support is TBD.

You can currently get Crashlytics on macOS without Analytics by setting it up as an iOS app in the Firebase Console, and including the pods:
[code]

[2019-10-10 15:37] chliangGoogle commented on #4011
Close the issue as this is expected behavior. If you encounter a different scenario as @antekarin described [here](https://github.com/firebase/firebase-ios-sdk/issues/4011#issuecomment-539492120a), please file a separate issue.

[2019-10-10 15:37] #4011 closed

[2019-10-10 15:40] Andreas409 commented on #4011
our problem had to do with the Push Certificates. Any newly added app on a Firebase project (old or new), would only work if we used Prod and Sandbox PANS certificates. Our APNs Authentication Key (even though it is valid and works on multiple other projects), would not work. I assume something is broken on the backend when using the APNs Key

[2019-10-10 15:46] Andreas409 commented on #4011
To Verify above we did the following:

We had to migrate App A, B, C from Project 1 to Project 2. App A, B & C on project 1 all were using the APNs Authentication Key with success (were linked a few weeks back).

Yesterday we removed App A,B,C from Project 1 and added them on Project 2 and used the APNs Authentication Key for the Cloud Messaging.

We kept on getting:

`{
        "@type": "type.goo

[2019-10-10 15:46] chliangGoogle commented on #4011
This seems like a bug, @Andreas409 would you mind create a new issue here and assign to me?

[2019-10-10 16:02] Andreas409 opened #4042 "APNs Authentication Key's Not working for GCM iOS app configuration"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: Version 11.0 (11A420a)
  * Firebase SDK version:
  * Firebase Component: Messaging
  * Component version:
Firebase/Core (6.10.0):
    - Firebase/CoreOnly
    - FirebaseAnalytics (= 6.1.3)
  - Firebase/CoreOnly (6.10.0):
    - FirebaseCore (= 6.3.1)
  - Firebase/Messaging (6.10.0):
    - Firebase/CoreOnly
    - FirebaseMessaging (

[2019-10-10 16:04] Andreas409 commented on #4042
@chliangGoogle

[2019-10-10 17:01] jeffvstudio opened #4044 "Crash when calling appWillForeground in GDTCORStorage class"
* Firebase/Core (6.10.0)
  * Firebase/RemoteConfig (6.10.0)
  * FirebaseABTesting (3.1.2)
  * Xcode version: Version 11.1 (11A1027)
  * iOS decices version: 12.3.1 and 13.1

If you run the tests in Xcode it crashes after starting, it happens no matter the device you choose to run them. It crashes because there's Null pointer passed as an argument and the function doesn't expect Null values. Image

[2019-10-10 17:02] jeffvstudio commented on #4039
Same error for me

[2019-10-10 17:08] morganchen12 commented on #4044
Duplicate of #4039

[2019-10-10 17:08] #4044 closed

[2019-10-10 18:00] visumickey commented on #3929
@tomerciucran Few of more information could be useful.

1. Can you share the stack trace for the crash happening on 6.10.0?
2. Can you also share your podfile.lock after the update to 6.10.0?
3. Can you enable Debug mode and share the console logs when the crash is happening (https://firebase.google.com/docs/reference/ios/firebasecore/api/reference/Classes)

Sorry for requesting more information.

[2019-10-10 20:30] #4039 closed

[2019-10-10 20:30] #4027 closed

[2019-10-10 21:11] bbhagat commented on #230
@ryanwilson  @paulb777 Should we assume that this is not going to be fixed?

[2019-10-10 21:18] chliangGoogle commented on #3985
@tomokitakahashi can you try sending the failed case above using apns token directly without fcm?

I'm not sure how Apple handle such payload especially you set content-available to true, meaning it's a hidden message, but then it has a body field.
We think maybe the iOS 13 apple re-enforce on apns-push-type that such payload might not be supported.

[2019-10-10 22:11] var-const commented on #4035
Quick update: `SVGKit` accidentally imports a header file from `Firestore` instead of its own header. One of the reason it happens is that `SVGKit` imports using short file names, and the file name is really common (`Document.h`). The issue appears to be related to header maps. I'll post another update once I have it -- I'll continue investigating the issue.

[2019-10-11 04:28] savana10 commented on #3706
@nikolouzos facing similar issue here, where you able to resolve it?

Integration testing did work but its showing `about:blank` page after reCaptcha  when `isAppVerificationDisabledForTesting  = false`

Checked it on iOS 13.1.2, using Xcode 11 , FirebaseAuth version 6.3.0

[2019-10-11 08:51] Beeen commented on #1868
At app start we need to load multiple profiles by their ID resulting in multiple calls to addSnapshotListener() which is very slow to get all profiles needed.
It seems to create a burst that we didn't experience with RealTime Database (profiles were in RTDB back then)
Is our problem related to this issue or does it concerns only querying collections with sorting and limiting ? Are we doing it wron

[2019-10-11 12:57] quetool commented on #1244
@loobnin did you find any solution or made some progress on this issue?

[2019-10-11 14:00] leandrodemarco opened #4048 "Integrating Crashlytics into Mac OS application from scratch"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.1
  * Firebase SDK version: 6.3.0 (FirebaseCore)
  * Firebase Component: Crashlytics
  * Component version: 3.10.7

### [REQUIRED] Step 3: Describe the problem
We are evaluating changing our crash reporting tool for a Mac OS app and have considered Firebase Crashlytics as one of the alternatives. While I know that Mac OS is no

[2019-10-11 16:50] kylebrowning opened #4049 "Build fails with CocoaPods"
* Xcode version: 11.1
  * Firebase SDK version: 6.10.0
  * Firebase Component: Database
  * Component version: 6.10.0

I cant seem to build currently after moving over to CocoaPods.

#### Steps to reproduce:
Pod file contents,

[code]

#### Relevant Code:

[code]

[2019-10-11 16:57] morganchen12 commented on #4049
Looks like all the missing symbols are from ubsan. Can you try going into your build settings and disabling it if it's enabled, then deleting DerivedData and rebuilding?

[2019-10-11 17:03] kylebrowning commented on #4049
Im not able to enable it or disable it ...
<img width="557" alt="Screen Shot 2019-10-11 at 10 03 12 AM" src="https://user-images.githubusercontent.com/113023/66670334-59b14d80-ec0e-11e9-896e-0c29accdc652.png">

I did do a clean build and deleted DerivedData. But still same error.

[2019-10-11 17:07] kylebrowning commented on #4049
<img width="478" alt="Screen Shot 2019-10-11 at 10 06 50 AM" src="https://user-images.githubusercontent.com/113023/66670523-d93f1c80-ec0e-11e9-9b3b-e428dfaa1180.png">

This is also set to No, and did a derived data delete, as well as clean build after and same thing.

[2019-10-11 17:25] paulb777 commented on #4049
Could be related to ubsan still being checked.  Try check the schemes for the Pods.

It could be cleaned with  `pod deintegrate` and `pod install`

[2019-10-11 17:27] kylebrowning commented on #4049
Pods don't have a scheme?

Ive done a `deintegrate` many times, still no luck.

[2019-10-11 17:37] kylebrowning commented on #4049
Welp, Clean build, edited the scheme manually with xml, deleted derived data, rebooted, and that fixed it :/

[2019-10-11 17:37] #4049 closed

[2019-10-11 18:16] mikezucc commented on #16
Reposting an above reply from anonym24  for the weary traveler:
"I had to use this temporary solution https://stackoverflow.com/a/40524145/7767664 to fix it"

[2019-10-11 18:40] slk333 commented on #627
can't wait for this feature to become available in the main pod, codable support sounds very important. Thanks for the work!

[2019-10-11 18:53] renkelvin commented on #3706
While we're working on the fix, please check out the last code snippet of https://firebase.google.com/docs/auth/ios/phone-auth#appendix:-using-phone-sign-in-without-swizzling for a workaround. Note that you don't have to disable swizzling.

[2019-10-11 19:59] var-const commented on #4036
Thanks for the bug report! Unfortunately, we would need additional information to investigate the issue. I cannot reproduce it in a new project, so there must be something specific to your configuration or environment that makes the issue manifest. `Firestore.firestore(app:)` should never return `nil`, even upon bad input (it would throw instead), so something must go wrong in the implementation o

[2019-10-12 02:56] hberson commented on #4036
Hey @var-const when I have the bandwidth to create a simple repo mirroring the configurations I will do so, but I was able to add `-ObjC` flag to `Other Linker Flags` and now running the app I got the  following `Assertion failure`.

[code]

[2019-10-12 11:09] fishandphil commented on #3144
Good afternoon.
We are trying to create the Firebase frameworks for our Catalyst App. Is it possible to have a bit more information about the following points:

1) "FirebaseFirestore - Requires signing workaround for gRPC resource."
What is the "workaround", were can we find information about what/how to do?

2) When we do the last step: "Run it to build and test"
What device should we do the "Bui

[2019-10-12 14:37] paulb777 commented on #3144
@fishandphil

In general, you can search on the [Catalyst tag in this Issues list](https://github.com/firebase/firebase-ios-sdk/issues?q=is%3Aissue+is%3Aopen+label%3ACatalyst), to get more Catalyst-specific status.

Here are the answers:

1. See #3500. I updated the [comment above](https://github.com/firebase/firebase-ios-sdk/issues/3144#issuecomment-520530306) to clarify this. thanks!
2. "My Mac"

[2019-10-12 18:05] maylortaylor commented on #3763
Where are these settings located?
I am now have this exact issue on my Flutter app. It is happening for both my iOS emulator and Android emulator. Should i open a new issue?

[2019-10-12 20:51] sgammon opened #4059 "Barcode scanning is broken on iOS"
* Xcode version: `11.1 (11A1027)`
  * Firebase SDK version: See podfile lock below
  * Firebase Component: MLKit
  * Component version: See podfile lock below

### [REQUIRED] Step 3: Describe the problem

I cannot build any iOS app or codebase that imports Firebase ML Vision.

#### Steps to reproduce:

1) Add Firebase ML vision to your app (via Podfile) for barcode scanning (following the guide [h

[2019-10-12 21:18] eduardbosch commented on #2626
The problem persists with version 6.10.

The log says this:
[code]

Here is the Xcode screenshot when the app crashes:
<img width="1149" alt="Screenshot 2019-10-12 at 23 12 32" src="https://user-images.githubusercontent.com/3925897/66707738-dd218a80-ed45-11e9-8d69-049b5c358c30.png">

[2019-10-12 21:50] bogdannedelcu commented on #3255
Hello, I am using Firebase with Flutter and I struggle with this error. I have latest version of Firebase and even disabled Analytics but still crashed randomly. The issue is detailed here: https://github.com/flutter/flutter/issues/42599

Thank you!

[2019-10-12 22:01] paulb777 commented on #3255
@bogdannedelcu We are unlikely to be able to help without a reproducible example or a backtrace of the crash - neither of which I see at the flutter issue. If you can get one of those, please open another issue in this repo and we'll investigate.

[2019-10-13 01:02] #3945 closed

[2019-10-13 02:16] pot8os opened #4060 "Crashed at com.google.FPRCCLogger when FIRTrace calls dealloc"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 11.1
  * Firebase SDK version: 6.9.0
  * Firebase Component: See below
[code]

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

Although I can't repro so far, a few users got the following crash at `FPRCCLogger` thread.
<details><summary>Stack trace of the FPRCCLogger thread</summary>

[code]
</details>

<de

[2019-10-13 08:28] MohamedAbdallah-14 commented on #3706
I tried it by add to appDelegate
`func scene(_ scene: UIScene, openURLContexts URLContexts: Set<UIOpenURLContext>) {
      for urlContext in URLContexts {
          let url = urlContext.url
          Auth.auth().canHandle(url)
      }
    }
`
but it didn't work still about:blank
checked it on Xcode 11 with the simulator

[2019-10-13 13:38] chandlerding commented on #1300
I’d suggest a workaround for this case but need firebase team to allow SDK users set a customize api URL .
Then user can host a reverse proxy under their own domain name and configure the SDK to send all api request to their own reverse proxy.

[2019-10-13 20:48] wilhuff commented on #1300
You can set the host name via settings on the main Firestore object: https://firebase.google.com/docs/reference/ios/firebasefirestore/api/reference/Classes/FIRFirestoreSettings#host

[2019-10-14 07:09] abhilnay opened #4062 "App crashes while running XCUItest on XCODE , crashes with com.google.FPRScreenTraceTracker error"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2019-10-14 07:55] savana10 commented on #3706
after adding above snippet, it still showed `about:blank` page

[2019-10-14 09:17] dbaroncelli commented on #4060
Also happening to us, and only on iOS 12

this is the stacktrace:

Crashed: com.google.perf.FPREventsQueue
0  libobjc.A.dylib                0x186493ca8 objc_release + 24
1  ourApp                         0x104e899cc -[FPRConfigurations hasRemoteConfigFetchHappened] + 4342471116
2  ourApp                         0x104e89e08 -[FPRConfigurations sdkEnabled] + 4342472200
3  ourApp

[2019-10-14 11:54] idrougge commented on #2009
Two years ago, we ruled out Firebase because it wasn't supported on tvOS. I really, really would have expected tvOS support to be a given by now.

[2019-10-14 14:33] Tripwire999 commented on #2603
Having the same issue Firebase core 6.2 with FirebaseInAppMessagingDisplay 0.15.5

[2019-10-14 16:20] visumickey commented on #4062
@abhilnay Can you share some more details about the error here?

1. Can you share the kind of test to make sure we understand the scenario?
2. Can you share the version of the Firebase Performance SDK used?
3. Can you share some more information about the error? Any information would make it easier for us.
4. What is the version of XCode/iOS you are performing this test?

[2019-10-14 16:22] visumickey commented on #3929
Thanks @tomerciucran. We are investigating this to make sure we iron this out completely.

[2019-10-14 16:35] AnthonyMillerSF commented on #3066
Next time I can get this to repro again I will!

[2019-10-14 16:36] morganchen12 commented on #4059
@sgammon can you share the build error you're seeing?

[2019-10-14 16:44] visumickey commented on #3891
@GoranLilja We made some changes to Fireperf in the recent version (6.10.0). Can you check if the issue still happening? Ideally this issue should not be reproducible now.

[2019-10-14 16:46] sgammon commented on #4059
@morganchen12 it seems to happen only when using imports of specific Firebase features, for example:

`import FirebaseMLVisionBarcodeModel`

produces the error:

[code]

[2019-10-14 17:18] morganchen12 commented on #4059
Got it. You shouldn't have to import that module in order to build your project--if you look at the framework bundle, there's no public headers. The `FirebaseMLModel` frameworks only contain trained models for use from other ML libraries.

[2019-10-14 17:32] morganchen12 commented on #4018
Closing this issue since it's not actionable here. Please let us know if patching in https://github.com/google/gtm-session-fetcher/pull/154 doesn't fix it and I'll reopen the issue.

[2019-10-14 17:32] #4018 closed

[2019-10-14 17:45] wilhuff commented on #3763
These are API Key restrictions, and they're documented here: https://cloud.google.com/docs/authentication/api-keys

[2019-10-14 18:27] renkelvin commented on #3706
Please make sure it's added to your SceneDelegate, not ApplicationDelegate.

[2019-10-14 18:45] leojaygoogle commented on #4042
Please make sure the following settings are correct:
1. Team id
2. Key id
3. Bundle id
4. APNS auth key.

Those 4 settings are used to generate JWT provider tokens. If any of them is not correct, you will get InvalidProviderToken errors.

[2019-10-14 18:47] var-const commented on #4036
@hberson The issue with certificates usually happens when adding Firestore to the project manually or through Carthage. Can you please clarify how your app is getting the Firestore dependency, do you use CocoaPods or something else? Normally, the certificates are supposed to come as part of the `gRPC-C++` pod (in its resources bundle).

[2019-10-14 18:48] #4035 closed

[2019-10-14 18:51] hberson commented on #4036
@var-const I apologize for not updating you sooner, but I forgot to mention that I was using Carthage and when I scrolled down on the documents page I realized that I forgot that step. The project is working as expected and connecting to `Firestore`. Thank you for the help!

[2019-10-14 18:57] var-const commented on #4036
Glad that helped!

[2019-10-14 18:57] #4036 closed

[2019-10-14 19:01] var-const commented on #4035
@LipYoung #4054 is a workaround for the issue; it will be a part of the next release, but if you'd like to try it out sooner, you can use the commit with the workaround in your `Podfile`:
[code]
(notice no slash in `FirebaseFirestore` -- that's the name of the development pod).

[2019-10-14 19:08] visumickey commented on #3891
We verified this issue with 6.10.0 version of Firebase release and this is not reproducible. So closing the issue. Please re-open if you still find this issue.

[2019-10-14 19:08] #3891 closed

[2019-10-14 20:29] var-const commented on #1868
@Beeen The issue should only manifest on relatively large collections (at least a few hundred documents, or containing very large documents). Could you please provide more details on what you're doing (ideally with code examples)? In particular:
* how large are the collections/documents you're loading (both in terms of the number of documents and the size of the documents);
* how long are the dela

[2019-10-14 20:31] paulb777 commented on #3500
Tracked in CocoaPods at https://github.com/CocoaPods/CocoaPods/issues/8891

[2019-10-14 20:38] mikehaney24 commented on #4019
GoogleDataTransport 3.0.1 and GoogleDataTransportCCTSupport 1.2.1 were just pushed and they should address this issue. Because this is an out-of-band release, please report back quickly if you encounter any issues!

[2019-10-14 20:38] mikehaney24 commented on #4027
GoogleDataTransport 3.0.1 and GoogleDataTransportCCTSupport 1.2.1 were just pushed and they should address this issue. Because this is an out-of-band release, please report back quickly if you encounter any issues!

[2019-10-14 20:38] mikehaney24 commented on #4039
GoogleDataTransport 3.0.1 and GoogleDataTransportCCTSupport 1.2.1 were just pushed and they should address this issue. Because this is an out-of-band release, please report back quickly if you encounter any issues!

[2019-10-14 20:57] bbhagat commented on #1894
I do not think Google is going to do anything and there is no point asking for something that is not gonna change. It's a shame that there are so many blockers and they forced developers to move to Firebase which has functional gaps when compared to google analytics. Clearly someone who does not understand how google analytics was being used by their customers decided to force everyone to use Fire

[2019-10-14 21:34] visumickey commented on #4060
@pot8os @dbaroncelli  We fixed issues related to accessing remote config values.

Can you try updating to the recent version of Firebase (6.10.0) and see if this issue is occurring?

[2019-10-14 22:10] dmandar commented on #4060
Also, if you still see it in 6.10.0, would be nice to get information of all threads in the crash.

[2019-10-15 01:02] #3455 closed

[2019-10-15 03:58] MohamedAbdallah-14 commented on #3706
Thank you It worked
but the code snippet
`func scene(_ scene: UIScene, openURLContexts URLContexts: Set)`
give error `Reference to generic type 'Set' requires arguments in <...>`
according to Apple documentation it should be
`func scene(_ scene: UIScene, openURLContexts URLContexts: Set<UIOpenURLContext>)`

[2019-10-15 04:19] QuantumThom commented on #689
Im having this same problem did anyone figure it out?

[2019-10-15 04:20] QuantumThom commented on #689
with the auth().addStateChangeListener

[2019-10-15 06:58] bbhagat opened #4072 "Screen Views are being captured after deleteApp on default app."
### [READ] Step 1: Are you in the right place?

  * I was asked to file an issue from the stack overflow thread where I posted my question. Link to the stack overflow thread is https://stackoverflow.com/questions/58386149/firebase-what-happens-when-we-call-delete-app-on-firapp-defaultapp?noredirect=1#comment103122091_58386149

### [REQUIRED] Step 2: Describe your environment

  * Xcode version: Ve

[2019-10-15 09:02] Andreas409 commented on #4042
Yea these were triple checked and confirmed. We even made a new project with. Unless there is some limit we reached for the APNS auth key. We currently already have 9 apps using that Auth Key.

[2019-10-15 10:06] cruisediary commented on #2899
Dear @christibbs
I have a some question about FIAM.
**Q: Is there a FIAM no working scenario even though FCM working fine?**
Firebase Cloud Messaging use firebase token including `InstanceID`. so it means InstanceID is valid but FIAM is not working. It also same occur issue after updating latest SDK (6.10.0) but re-installing make it fine.

[2019-10-15 13:33] rizafran commented on #4072
Hi @bbhagat , looks like there's another way to disable analytics event, which is by using `[FirAnalytics setAnalyticsCollectionEnabled:false];`. If the app detected that you're using Prod environment, you may re-enable it, or vise versa. Check out this [documentation](https://firebase.google.com/docs/analytics/configure-data-collection#temporarily_disable_collection_2). Let us know if this is not

[2019-10-15 14:03] ryanwilson commented on #3915
@djdirtycake thank you for picking that up! There was a bit of a race condition for the `defaultApp` that was addressed in #4030 that could have caused this, hopefully that part is addressed after that change.

[2019-10-15 17:25] wilhuff commented on #4009
Could you possibly share the full stack trace you see when you get this failure?

As far as I can tell we are actually validating a missing projectID. A new test I wrote passes https://github.com/firebase/firebase-ios-sdk/pull/4073.

(It's catching the [exception thrown here](https://github.com/firebase/firebase-ios-sdk/blob/master/Firestore/Source/API/FSTFirestoreComponent.mm#L84)).

[2019-10-15 17:33] NathanWalker commented on #3791
Is anyone still running into this issue with latest Firebase 6.10.0? Seems still occurs - perhaps that's what you're referring to @paulb777 that everyone still waiting on full resolution in Firebase ditro? Perhaps in a 6.11.0 upcoming release?

[2019-10-15 17:39] paulb777 commented on #3791
@NathanWalker We don't have a mechanism in Firebase to support different binaries for both Xcode 10 and Xcode 11, so we're planning to drop distribution of the GoogleSignIn binary and instead reference the GoogleSignIn team's official distribution channel at https://developers.google.com/identity/sign-in/ios/sdk

[2019-10-15 18:46] bbhagat commented on #4072
Hi @rizafran ,

Thanks for the information. I was able to stop the analytics event from getting captured after setting the flag that you mentioned above.

Is it possible to tell us (or document) the expected behavior of the **deleteApp** method? One can easily assume that deleteApp will delete the app and no events will be reported in future.

Thanks !

[2019-10-15 19:01] paulb777 commented on #4072
@bbhagat There is possibly a bug with FirebaseAnalytics not properly handling `deleteApp`.

Tracked internally at b/142733606

[2019-10-15 19:05] leojaygoogle commented on #4042
Can you send notifications directly to APNs?

Here is the script I use to send notifications to APNs for your reference. Please set DEVICE_ID, AUTH_KEY_ID, TEAM_ID, BUNDLE_ID, and make sure that the auth key file exists before running it.
[code]

[2019-10-15 19:19] vetrovosk commented on #3791
@paulb777 when we try to use[ GoogleSignIn SDK](https://developers.google.com/identity/sign-in/ios/sdk) instead of `Firebase/GoogleSignIn/` together with the rest of Firebase SDK `v6.10.0` (we use `Firebase/Analytics`, `Firebase/Performance` and Crashlytics) our Xcode build failes with a lot of the errors like these:

[code]

[2019-10-15 19:23] paulb777 commented on #3791
Thanks for the report @vetrovosk

A likely workaround would be to stop linking the GTMSessionFetcher.framework from Firebase.

[2019-10-15 19:24] rmdan90 commented on #4009
I made a test app, and it now shows that the reason is a missing projectID

`FirestoreTest[11011:43449] *** Terminating app due to uncaught exception 'FIRInvalidArgumentException', reason: 'FIROptions.projectID must be set to a valid project ID.'
*** First throw call stack:
(
	0   CoreFoundation                      0x00007fff23baa1ee __exceptionPreprocess + 350
	1   libobjc.A.dylib

[2019-10-15 19:28] wilhuff commented on #4009
That's good news--sort of. That still leaves the question of how you got `EXC_BAD_ACCESS` around `CFStringGetLength(str)`. That shouldn't ever be happening. If you can reproduce that just be removing the fix you made earlier it would be helpful.

[2019-10-15 19:43] rmdan90 commented on #4009
I will once i get a chance to.
Note that i've tried multiple scenarios on this test project and didn't get the earlier mentioned error.

[2019-10-15 20:48] RuiAAPeres opened #4080 "Firestore with secondary FirebaseApp not yielding results"
### [READ] Step 1: Are you in the right place?

Yes.

### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 11.1
  * Firebase SDK version: 6.10.0
  * Firebase Component: Firestore
  * Component version: 1.6.0

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

I am currently using a secondary `FirebaseApp` for Firestore. I load said app via another plist. I made

[2019-10-16 00:23] Tibbs commented on #2011
+1

[2019-10-16 05:26] michael-mansour commented on #4007
I know that you are working actively on the issue and I wanted to thank you for that. However I really have to ship my app.  While waiting to find the source of the problem, would you have any idea of a workaround so that I can still distribute my app ?
Thanks a lot

[2019-10-16 08:03] Tokta opened #4087 "GoogleUtilities installed twice, impossible to archive app on Xcode 11.x"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2019-10-16 09:52] RuiAAPeres commented on #4080
The secondary FirestoreApp was being initialized in the App Module and then calls being made from a Module B. This was the culprit. I moved this:

[code]

To Module B, so the FirebaseApp is configured in Module B and now things work. Is this documented behaviour?

[2019-10-16 11:53] RuiAAPeres commented on #627
[code]

Is this available somewhere?

[2019-10-16 13:18] paulb777 commented on #4007
@michael-mansour See the discussion at grpc/grpc#20500 for instructions about manually creating a symbolic link to workaround.

[2019-10-16 13:56] paulb777 commented on #4087
Looks like a duplicate of #2166. See that issue and CocoaPods/CocoaPods#8206 for workarounds.

[2019-10-16 14:25] wu-hui commented on #4080
I tried reproduce this by creating `db` in App Module, and then calling `db.collection().document().getDocument` as you described, from a unit testing module, and it works for me. I hope I get your description right? Can you elaborate a bit more on your setup?

Also `FirebaseApp.configure` returns `Void` so you code does not compile, just to confirm, you meant
[code]
Right?

[2019-10-16 14:36] wu-hui commented on #4080
I believe you were also asking for Swift Codable?

Codable is not officially released yet. You'd have to try it from our repository for now, here is the pod spec `FirebaseFirestoreSwift.podspec`, it's under repository root.

Note we might still change the API as it is not released yet.

[2019-10-16 18:13] chliangGoogle commented on #4042
Can you also check when you switch to project 2, the first time you open the app, can you get the debugLog there?  I'm trying to see if a new token request is triggered (or you can see if your app's FCMToken has changed)

[2019-10-16 20:16] casevictor commented on #3941
hey 👋 do we have any updates on it? I'm having the same issue.
Xcode 11.1. To get rid of I need to uncheck "Automatically Sync Pasteboard" on the simulator

[2019-10-16 20:20] andermoran commented on #873
What if the request is being sent from a mobile device that has an SSL proxy configured? Couldn't an attacker who has installed a certificate on an iOS device be able to see this sensitive information? Seems like a big security concern.

[2019-10-16 20:36] grehce commented on #2102
Updated Cocoapods and had to update Firebase and this blocking archiving issue comes up again.

- Target in the root folder only points to one resources.sh file (not multiple targets)
- I've deleted the derived data and still on archive, come up with the following `Multiple commands produce.../Build/Intermediates.noindex/ArchiveIntermediates/.../IntermediateBuildFilesPath/UninstalledProducts/iphon

[2019-10-16 21:19] julienbodet opened #4100 "RemoteConfig.remoteConfig().fetch return .success while the app is offline"
### Describe your environment

  * Xcode version: 11.0 (11A420a)
  * Firebase SDK version: 6.10.0
  * Firebase Component: Remote Config
  * Component version: 6.10.0

### Describe the problem
`RemoteConfig.remoteConfig().fetch` returns a `.success` status (`FIRRemoteConfigFetchStatus`) even though I disabled the internet connection.

Note: I never configured defaults via `setDefaults`, and I ran t

[2019-10-16 21:58] valerianaGit commented on #3344
@paulb777 @ryanwilson hi guys. I am trying to link performance today and getting these same crashes on app launch. Will follow #3842 , but I am running iOS 12 still.

[2019-10-17 04:27] jlubeck commented on #3918
I'm seeing this problem myself.

`func application(_ application: UIApplication, continue userActivity: NSUserActivity, restorationHandler: @escaping ([UIUserActivityRestoring]?) -> Void) -> Bool` is just never called

[2019-10-17 04:57] mortenbekditlevsen opened #4108 "RTDB persistence layer triggers a bug with number parsing"
**UPDATED** After digging around a bit more, I think that I have gotten closer to the actual issue. My findings are added in the bottom.

### [READ] Step 1: Are you in the right place?
Yup, most definitely.

### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.3
  * Firebase SDK version: 6.2.0 (also present in 6.10.0)
  * Firebase Component: Database
  * Component version: 6.2.0

[2019-10-17 05:16] jlubeck commented on #3918
Ok, I found my problem. You might want to update your documentation.

In my case, I started a brand new project on Xcode 11 which uses `SceneDelegate` as well as `AppDelegate`

Looks like UniversalLinks (and probably several other APIs) use this callback on the `SceneDelegate`:

    func scene(_ scene: UIScene, continue userActivity: NSUserActivity) { }

Instead of this callback on the `AppDelegat

[2019-10-17 06:46] michael-mansour commented on #4007
@paulb777 thanks ! Unfortunately I am not really familiar with the process of manually adding a symbolic link. Would it be possible to share more details ? (Like a more detailed step by step explanation ?) thanks a lot !

[2019-10-17 07:54] iwheelbuy commented on #3482
@rizafran  I've updated from `6.0.0` long ago and haven't seen the crash since.

[2019-10-17 12:02] doganov opened #4110 "Add arm64e slice to Firebase Analytics"
A full year has passed since arm64e was announced. The arm64e support in Xcode 11 is still considered experimental, but Apple advises us to test our apps in advance in order to prepare in for the moment when arm64e becomes a required architecture. App authors still can't do that today if their app depends on Firebase Analytics.

This also applies to all binary-only dependencies that Firebase Analy

[2019-10-17 13:33] LipYoung commented on #4035
@var-const thx. This it help for me.

[2019-10-17 13:49] ryanwilson commented on #3941
All the code reading the pasteboard is found here: https://github.com/firebase/firebase-ios-sdk/blob/7c53489e03a2f2a4c4b3d1baad6796fb35719d3c/Firebase/DynamicLinks/FIRDLDefaultRetrievalProcessV2.m#L273

Looks like it's checking to see if it's a dynamic link currently copied on the clipboard in order to determine if it's the same device that triggered the initial link, but @dmandar should be able t

[2019-10-17 13:50] wu-hui commented on #4080
I tried reproducing it with a separate library module, instead of a unit test module, and still cannot reproduce what you saw. We'd appreciate if you can give a bit more details about your setup when you see the issue.

Thanks.

[2019-10-17 13:53] ryanwilson commented on #3344
@valerianaGit please make sure you copy **all** of the frameworks from the Performance folder in the zip file. `FirebaseRemoteConfig.framework` is part of the `Performance` folder and is a required dependency of Performance.

[2019-10-17 13:58] wu-hui commented on #2102
Hi grehce,

Can you please open a new issue, with more information about installed version of Firestore and gRPC, basically the output of your `pod install`? It might also help us reproducing it if you tell us your environment as well, OS version, XCode version, etc.

Thanks

[2019-10-17 13:58] RuiAAPeres commented on #4080
Two different Firebase Apps configured in the first module. Passed the secondary FirebaseApp to a second module. Initialised a Firestore with said app and it didn't work. As in, no callback.

[2019-10-17 13:59] #3482 closed

[2019-10-17 14:11] rizafran commented on #283
I'm wondering if you're still encountering this issue using the [latest SDK version](https://firebase.google.com/support/release-notes/ios)? If so, it would be great if you could provide a [minimal repro](https://stackoverflow.com/help/minimal-reproducible-example) to reproduce the issue.

[2019-10-17 14:17] paulb777 opened #4111 "Danger blocks CI from external PRs"
See #4109

[2019-10-17 14:19] paulb777 commented on #3918
Thanks for the investigation and analysis @jlubeck!

@dmandar Please take a look.

[2019-10-17 14:46] andreamazz commented on #230
This is a baffling omission in my opinion. The workaround I'm currently using is having a new Build Phase in my project that copies the appropriate file:
[code]

where `BUNDLE_ID_SUFFIX` is a user defined variable that differs between build configs.
Hope this helps.

[2019-10-17 16:36] morganchen12 commented on #4111
Fixed in #4103.

[2019-10-17 17:01] ggpuglia commented on #1894
@sirshannon @bbarenblat I'm sorry to hear that. Despite this is a terrible situation, Analytics team is doing their best to accommodate feature requests. We are actively working on this (see @allenktv and @GeroHerkenrath discussion above).

There are two issues here and I will tackle them separately: (1) duplicate screen_view events; (2) high latency to reply/solve these kind of bugs/feature reque

[2019-10-17 17:20] paulb777 commented on #4007
@michael-mansour Steps listed at grpc/grpc#20500

[2019-10-17 18:04] wilhuff commented on #2102
I've taken your set of pods, with the exception of `pod 'googleapis', :path=> "."` which I don't have, and I'm able to archive the project. It seems likely that you have some combination of things in your project that aren't playing well together.

Please open a new new issue--this isn't related to the one fixed in gRPC-C++ 0.0.5.

[2019-10-17 19:00] girishw commented on #3144
@paulb777  Need some clarifications on the current state and build instructions :

- Can I install using the currently released Cocoapods (eg Firebase/Core (6.10.0)) or do I need to generate the pods from GitHub source?
- After generating the pods from Github, do I simply reference the local pods from my Podfile?
- Currently, when building from the released Cocoapods I get the following error :

`

[2019-10-17 19:19] grehce commented on #2102
Thanks everyone, will open a new issue. Just didn't want to create a duplicate.

[2019-10-17 19:43] wu-hui commented on #4080
Hi RuiAAPeres,

I tried again and still could not reproduce.

In your first module, when you configure both apps, do they have same bundle ID?

I have tried with both different ID and same ID, the callback is called as expected though.

At this point I could not move forward without more details.

Thanks

[2019-10-17 19:50] paulb777 commented on #3144
@girishw

- You can use the released CocoaPods
- Use the pods just as you would for iOS
- As discussed above, FirebaseAnalytics is binary and has no support yet for Catalyst.  As you point out, Firebase/Core requires FirebaseAnalytics, so it cannot be in the Podfile. Separately, `Firebase/Core` is deprecated in favor of directly requesting the Firebase pods required.

[2019-10-17 19:52] EliteTechnicalCare commented on #3144
@paulb777
I assume same issue with Crashalytics? Also is there anywhere we can follow the progress on that.

[2019-10-17 19:59] paulb777 commented on #3144
@EliteTechnicalCare Only the [comment](https://github.com/firebase/firebase-ios-sdk/issues/3144#issuecomment-540622435) above.  Feel free to create another issue if you'd like to track Crashlytics for Catalyst specifically.

[2019-10-17 20:34] morganchen12 commented on #4080
@RuiAAPeres, can you share a project that reproduces this issue?

[2019-10-17 20:34] RuiAAPeres commented on #4080
@wu-hui I really appreciate your thorough review and investigation. I am afraid I can't provide any more detail than the one I already have. They did have the same bundle id, but on the meantime it's working, so it's no longer a blocker. 😞

[2019-10-17 20:34] RuiAAPeres commented on #4080
@morganchen12 unfortunately I can't.

[2019-10-17 20:41] morganchen12 commented on #4080
No problem, thanks for helping us investigate! If you still have the logs from the time the error was reproducible, please post them here, and if the issue resurfaces let us know and we'll re-open the issue.

[2019-10-17 20:41] #4080 closed

[2019-10-17 20:43] RuiAAPeres commented on #4080
@morganchen12 that was really the issue, there weren't any at all. 😥

[2019-10-17 21:30] christibbs commented on #2899
@cruisediary FCM working should rule out any instance ID issues, but there could be something else. Could you try [adding the verbose debugging flag](https://firebase.google.com/docs/in-app-messaging/get-started#send_a_test_message) and searching for `[Firebase/InAppMessaging]` in the logs to see if there's a more specific error.

[2019-10-17 21:49] peteyblah commented on #3791
I'm still having this issue, any timeframe for when this might be fixed? Thanks.

[2019-10-17 21:53] paulb777 commented on #3791
@peteyblah To summarize, the issue is fixed for CocoaPods users. For binary distro users, you need to use one of the workarounds discussed above. We're targeting a binary distribution solution for the M59 release, which is roughly three weeks from now.

[2019-10-17 22:03] peteyblah commented on #3791
I've read through the thread, I've tried using the package from the GoogleSignIn team with the 5.0.1 zip, but end up having the same error as mentioned above (even after a clean build and clearing derived data), that I get with the complete Firebase package.

[2019-10-17 22:19] pot8os commented on #4060
@visumickey @dmandar Thank you. I think I'll be able to let you know how the new version of my app that includes Firebase 6.10.0 works next week.

[2019-10-17 22:37] #4111 closed

[2019-10-17 23:50] paulb777 commented on #3816
It looks like CocoaPods [does not currently support custom module maps for static libraries](https://github.com/CocoaPods/CocoaPods/issues/9266#issuecomment-542880242).  If the project is Objective C, no `use_frameworks!` would be an option. Otherwise it looks like `use_frameworks!` is required for Swift apps to use Firestore because of the BoringSSL dependency.

[2019-10-17 23:55] paulb777 commented on #2159
travis now runs `pod lib lint` tests for tvOS

[2019-10-17 23:55] #2159 closed

[2019-10-17 23:58] paulb777 commented on #10
Going to close this since we now have community tvOS for most of Firebase and specific issues for missing coverage like #2011.

[2019-10-17 23:58] #10 closed

[2019-10-18 05:16] Andreas409 commented on #4042
Hi. Sorry for the delayed response, been swamped at work.

Just tried the above in Test Project 2 (can't mess with our live project for now).

Was unable to send Pushes with the script you provided. Was not sure if DEVICE_ID should be the firebase token or the apple token received in AppDelegate. So I tried both, and both came back with `{"reason":"InvalidProviderToken"}* Closing connection 0`.

S

[2019-10-18 10:11] cornr commented on #230
This is also an issue for us as we are having multiple stages (debug/beta/release). A naming scheme GoogleService-Info.${STAGE}.plist would be a lot easier to handle.

@andreamazz thanks for the workaround.

[2019-10-18 11:57] skuske commented on #2435
Any update on this?

[2019-10-18 15:23] RohithKilaparthi opened #4117 "ITMS-90809: Deprecated API Usage"
* Xcode version: 10.3
  * Firebase SDK version: 6 and above
  * Firebase Component: Auth, Core, Database, Firestore, Messaging, Storage, Crashlytics, Performance, Analytics, Google Maps
  * Component version: Given Below

### Describe the problem
When I submitted my app to AppStore, I got a mail from . them saying
```ITMS-90809: Deprecated API Usage - Apple will stop accepting submissions of apps

[2019-10-18 16:03] valerianaGit commented on #3344
@ryanwilson thanks so much for the response. I did copy the entire folder and (after clearing derived data, clean build and restarting my machine twice) I still get the above crash. And it crashes here in `AppDelegate` in `didFinishLaunchingWithOptions`
<img src="https://user-images.githubusercontent.com/42816552/67109594-757c9c80-f196-11e9-90fe-48b72288f09f.png" height=30px>
I followed the steps

[2019-10-18 16:38] grantespo commented on #1894
@ggpuglia thank you for the update. It's such a critical bug.

[2019-10-18 16:58] ibuprofane commented on #4087
As a workaround, I put the GoogleUtilities dependencies as separate pods in my Podfile, before the Firebase pods are resolved and it fixed the issue. These were based off my current Podfile.lock:

`pod 'GoogleUtilities/AppDelegateSwizzler'
pod 'GoogleUtilities/MethodSwizzler'
pod 'GoogleUtilities/Network'
pod 'GoogleUtilities/NSData+zlib'
pod 'GoogleUtilities/AppDelegateSwizzler'
pod 'GoogleUtilit

[2019-10-18 17:03] morganchen12 commented on #3344
@valerianaGit can you open a new issue with your full stack trace and exception message (and ideally a sample project)? Your issue looks like a different crash than the parent.

[2019-10-18 17:06] HaseebYousaf commented on #2435
I needed a team member to have access to crashlytics only and was not supposed to have access to in-app purchase and Admob data. I ended up creating a new role in IAM. It works but control of 'auto logging' would make things a lot easy.

[2019-10-18 17:06] morganchen12 commented on #4117
This issue should be resolved in the latest version of Firebase (6.10.0). Please upgrade and see if the issue is still reproducible.

See #3780

[2019-10-18 17:06] #4117 closed

[2019-10-18 17:51] leojaygoogle commented on #4042
The script talks to APNs directly without going through FCM. So the DEVICE_ID in the script should be an APNs device token.
I'm afraid you will have to contact Apple for further investigation, since you get the same error without using FCM.

[2019-10-18 18:23] willk37 commented on #3924
Sorry for the delay but I just updated to 6.10.0 and it looks like the issue is fixed. Thanks for the help!

[2019-10-18 20:11] morganchen12 commented on #4059
Please try this again without the FirebaseMLVisionBarcodeModel import and let me know if there are still issues.

[2019-10-18 20:11] #4059 closed

[2019-10-18 20:15] morganchen12 commented on #3167
Closing since I wasn't able to reproduce this issue with the latest ML Kit pods.

[2019-10-18 20:15] #3167 closed

[2019-10-18 23:32] dmandar commented on #3918
Thanks for reporting. @re-ckart we are not seeing any issues redirecting links to the app store in iOS 13. Can you confirm by clicking the link from Notes app? Also, you can debug dynamic links by appending the ?d=1 query param. Please reopen if still an issue.
@jlubeck thanks for finding this out. We will investigate and document accordingly.

[2019-10-18 23:32] #3918 closed

[2019-10-18 23:38] dmandar commented on #3941
@iDevid this is used to enable unique match. More details here: https://firebase.google.com/docs/dynamic-links/link-previews
@casevictor unfortunately, there is not much we can do here. That said, we have not been able to repro this on our end. Is this happening only on certain set of devices for you? How frequently does this occur?

[2019-10-18 23:51] schmidt-sebastian commented on #4108
I will close this for now as #4109 was merged. If we need to improve our parsing further to match the hash codes the backend uses, then we can open a follow-up issue.

[2019-10-18 23:51] #4108 closed

[2019-10-18 23:51] schmidt-sebastian commented on #4108
@mortenbekditlevsen Thank you for your contribution.

[2019-10-18 23:52] dmandar commented on #3812
Hi..we have not been able to repro your issue. Please reopen if this is still occuring for you with the latest version of iOS.

[2019-10-18 23:52] #3812 closed

[2019-10-19 00:00] dmandar commented on #3746
Thanks for reporting. We were able to repro the issue and are investigating. ATM, it seems related to https://github.com/AFNetworking/AFNetworking/issues/4279

[2019-10-19 00:46] workingDog commented on #4087
I'm having the same issue.
I have 2 targets as follows:

platform :ios, '13'
# Pods for iPhone and iPad
target 'SarahClass' do
  use_frameworks!
  pod 'PromisesSwift'
  pod 'Firebase/Core'
  pod 'Firebase/Auth'
  pod 'Firebase/Database'
  pod 'Firebase/Storage'
  pod 'Firebase/Firestore'
end

# Pods for iPad and macos
target 'SarahClassMac' do
  use_frameworks!
  pod 'PromisesSwift'
  pod 'Firebas

[2019-10-19 17:05] fr-machlin opened #4124 "In-App Messaging autolayout from background thread crash"
### [READ] Step 1: Are you in the right place?
YES

### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 11.1
  * Firebase SDK version: 6.10
  * Firebase Component: InAppMessaging
  * Component version: I'm using the Carthage version 6.10 not sure about component version.

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

I created and deployed my first In-App

[2019-10-19 17:18] paulb777 commented on #4087
@workingDog Does @ibuprofane's workaround work for you?

[2019-10-19 19:52] camillo777 opened #4125 "iOS compilation fails in Flutter app for XCode 9.2"
* Xcode version: Version 9.2 (9C40b)
  * Firebase SDK version: 7.6.1
  * Firebase Component: _____ (Auth, Core, Database, Firestore, Messaging, Storage, etc)
  * Component version: _____
  * Mac OSX Sierra 10.12.6 (16G2128)
  * Flutter flutter version v1.9.1+hotfix.5

**Describe the problem:**
I am trying to build my really Flutter simple app for iOS (Flutter init app).
Android is ok.
I cannot upd

[2019-10-19 21:54] paulb777 commented on #4125
@camillo777 Xcode 10.1 is currently the earliest supported Xcode version.

Apple requires at least Xcode 10 for app store submissions and [will require Xcode 11 starting in April 2020](https://developer.apple.com/app-store/submissions/).

A workaround for you could be to comment out/or delete the erroring code so the old API in the else statement below is always executed.

However, no guarantees t

[2019-10-19 21:54] #4125 closed

[2019-10-19 22:50] workingDog commented on #4087
no it doesn't. I've tried putting the GoogleUtilities dependencies in my SarahClass target, then in the SarahClassMac target, without success. I get the same warning message. Each time I did a DerivedData purge and recompile. I also tried the pod script solution proposed in

https://medium.com/@GalvinLi/tinysolution-fix-cocoapods-duplicate-implement-warning-5a2e1a505ea8

That did not work either.

[2019-10-19 23:03] ibuprofane commented on #4087
Just to be certain, did you put the dependency pods BEFORE the Firebase pods? Mine looks like:

pod 'GoogleUtilities/AppDelegateSwizzler'
pod 'GoogleUtilities/MethodSwizzler'
pod 'GoogleUtilities/Network'
pod 'GoogleUtilities/NSData+zlib'
pod 'GoogleUtilities/AppDelegateSwizzler'
pod 'GoogleUtilities/Environment'
pod 'GoogleUtilities/Logger'
pod 'GoogleUtilities/UserDefaults'
pod 'GoogleUtilities/

[2019-10-19 23:05] workingDog commented on #4087
yes

[2019-10-19 23:12] paulb777 commented on #4087
@workingDog That medium post is about a different issue than the archive problem with GoogleUtility subspec combinations discussed here.

[2019-10-20 04:36] workingDog commented on #4087
Update on my experiments on making GoogleUtilities archive with my 2 targets.

I have put the GoogleUtilities dependencies in my second target "SarahClassMac".
This removes the duplicate warning message and my app runs well on ios and macos.

But when I try to archive I now get this error:

.../sarahclass/Pods/gRPC-Core/src/core/tsi/ssl_transport_security.cc:45:10:
Did not find header 'bio.h' in f

[2019-10-20 05:24] workingDog commented on #4087
Did a clean DerivedData, clean build ... and now archive is working.
Thanks all for putting up with my comments.

[2019-10-20 06:01] freezy7 commented on #4060
6.10.0 also have this problem

[2019-10-20 10:47] skuske commented on #2435
I just found this through Google:

I am wondering how to use this method on iOS. I cannot find any further docs about that.

Found at the bottom of https://support.google.com/firebase/answer/6318039?hl=en

[2019-10-20 21:30] casevictor commented on #3941
Hey, @dmandar 👋I'm only experiencing this issue with simulators (building with Xcode 11.1) and only with "Automatically Sync Pastboard" checked.

[2019-10-21 05:58] morganchen12 commented on #3746
See #2303 for previous discussion

[2019-10-21 13:09] Tokta commented on #4087
This one solved my issue, thank you @paulb777

[2019-10-21 13:49] rizafran commented on #4087
It looks like the issue here is resolved, so I'll be closing it now. Otherwise, if you're still experiencing this problem and want to continue the discussion, just leave a comment here and we're happy to re-open this.

[2019-10-21 13:49] #4087 closed

[2019-10-21 14:13] ryanwilson commented on #4124
Thanks for the report! Looks like the responsible code is here:

https://github.com/firebase/firebase-ios-sdk/blob/16fbcf6116a13844fb8c3147d88fd8d90a5115c9/Firebase/InAppMessaging/Flows/FIRIAMDisplayExecutor.m#L315

@christibbs it's also worth noting that `keyWindow` was deprecated in iOS 13 and we may need to fetch the window from the `connectedScenes` property.

[2019-10-21 17:07] nicholausadi commented on #3145
Hi everyone, I just want to make sure is this still in track for Q4 2019? Or should we use this https://medium.com/@piazzachris/how-to-authenticate-a-user-with-sign-in-with-apple-and-firebase-using-a-custom-token-80dedbc24dd?

[2019-10-21 17:20] morganchen12 commented on #3145
Sign in with Apple support is very close to release. Here's the [proposed changes to the quickstart](https://github.com/firebase/quickstart-ios/pull/808), where you can see what Sign in with Apple integration will look like.

Thanks everyone for your patience, and sorry for the lack of further transparency here.

[2019-10-21 23:29] morganchen12 commented on #3963
Can you share the exception message so we can see which selector is missing?

[2019-10-22 00:26] paulb777 commented on #3963
Is TrustKit being used?  It could be related to #3742

[2019-10-22 00:27] devcexx commented on #3145
I won't use that post "as-is" to implement Apple Sign In, since it seems that the author has forgotten to write the part where he actually verifies the authentication against Apple ID servers, from the server-side

[2019-10-22 01:02] #3985 closed

[2019-10-22 04:12] result0924 opened #4132 "Dynamic link Source in Conversions for iOS is always not set"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 11.1
  * Firebase SDK version: 6.9.0 install via carthage
  * Firebase Component: DynamicLinks (Auth, Core, Database, Firestore, Messaging, Storage, etc)
  * Component version: 6.9.0 install via carthage

### [REQUIRED] Step 3: Describe the problem
I can see my `source/compaign/medium` in BigQuery

<img width="553" alt="Screen Sh

[2019-10-22 06:15] morganchen12 commented on #4132
Do you also have Firebase Analytics installed?

[2019-10-22 06:26] result0924 commented on #4132
Yes i install  firebase analytics 6.9.0

[2019-10-22 06:28] morganchen12 commented on #4132
Are you able to see all of your other Analytics events? Also, have you disabled swizzling?

[2019-10-22 06:37] result0924 commented on #4132
1. I can see other analytics events
2. where i can check disabled swizzling

[2019-10-22 09:41] andreimateiro commented on #3862
found a reference also in PersonalizedAdConsent

[2019-10-22 10:57] rsekharAppyog opened #4133 "additionalUserInfo nil when login through Phone number"
additionalUserInfo value is nil which is present inside AuthDataResult, when logging through phone number, so in that case not able to find out the providerID whether the user is logging through google/phone or any other services.

[2019-10-22 12:36] rizafran commented on #4133
Hi @rsekharAppyog thanks for filing this report. I tried replicating the issue by signing in using phone number, but I was able to get a value in `additionalUserInfo.providerID`.

Could you provide the following info to see what's going on here:

1. SDK version used / Podlock file
2. [Minimal repro](https://stackoverflow.com/help/mcve) / Relevant code
3. Detailed steps to reproduce the issue

[2019-10-22 14:56] RobertKoval commented on #4060
[code]

[2019-10-22 15:22] vitalii-tym commented on #3941
I'm experiencing this issue too. Found that it doesn't depend on iOS SDK: after building with Xcode 10.3 (and command line tools 10.3) it was still freezing for me. Though the built app was launched on iOS 13 Simulator provided by Xcode 11.

Also the firebase version doesn't need to be latest one. Mine is:

It just happens occasionally. I was not able to find any STR. In my recent case having "Aut

[2019-10-22 18:46] wilhuff commented on #627
`FirebaseFirestoreSwift` 0.2 is now available via CocoaPods! Add it to your `Podfile` alongside existing Firebase pods, like so:

[code]

This is a separate module, so importing Firestore with Codable support works like this:

[code]

If you're using Swift 5.1 (from Xcode 11) this includes several property wrappers to help make reading and writing documents easier:

  * Mark a `String` or `Documen

[2019-10-22 18:46] #627 closed

[2019-10-22 19:03] morganchen12 commented on #4132
@dmandar these events are supposed to be automatically logged by Analytics, right? Could the error somehow be Carthage-related?

[2019-10-22 20:50] valerianaGit opened #4138 "Firebase frameworks added manually fail unit tests to check for extra values - performance, analytics and (com) Crashlytics"
### [READ] Step 1: Are you in the right place?
Yes

### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.3
  * Firebase SDK version: manually added latest versions
   CocoaPod            | Version

FirebaseAnalytics               | 6.1.3
FirebasePerformance             | 3.1.5
FirebaseRemoteConfig            | 4.4.2

  * Firebase Component: _____ analytics, performance, Crashlyt

[2019-10-22 20:53] morganchen12 commented on #4138
Looks like you've included Firebase twice in your test target. How are your frameworks being linked into your tests?

[2019-10-22 21:35] paulb777 commented on #4132
These symptoms might happen if `FIRAnalyticsConnector.framework` was not linked into the app.

[2019-10-22 23:48] rawmean commented on #1757
The iOS app works perfectly and can access the firebase database, but the Catalyst app gives the following error:

6.11.0 - [Firebase/Database][I-RDB038012] Listener at /my_database/path failed: permission_denied

I have created an app in firebase console with the same bundleID of the Catalyst app and downloaded the and included the GoogleService-info.plist in the project (replaced the one for the

[2019-10-23 00:38] paulb777 commented on #1757
@rawmean Thanks for the report. Please create a new issue to track the Catalyst specific problem.

[2019-10-23 01:04] BeauNouvelle commented on #225
Should we keep holding out for this, or just assume that it will never be done?

[2019-10-23 02:25] result0924 commented on #4132
![Screen Shot 2019-10-23 at 10 19 56](https://user-images.githubusercontent.com/822363/67351085-30ce7800-f57f-11e9-9507-7a4a327198ec.png)

I think i have linked into the app  right?

[2019-10-23 03:03] result0924 commented on #4132
And find some behaviors are strange
We have set  conversions to `dynamic_link_app_open`

It will not set to conversion event in debug view on iOS

<img width="687" alt="Screen Shot 2019-10-23 at 10 39 50" src="https://user-images.githubusercontent.com/822363/67352609-067eb980-f583-11e9-8b40-031320da11e3.png">

But it can set to conversion event in debug view on Android

<img width="1208" alt="螢幕截圖

[2019-10-23 06:38] rsekharAppyog commented on #4133
Hi @rizafran ,

1)SDK version used - GoogleSignIn (4.4.0)
2)Relevant code:
 `let authUI: FUIAuth? = FUIAuth.defaultAuthUI()
   let firebaseauthController = self.authUI!.authViewController()
   self.present(firebaseauthController, animated: true, completion: nil)`

and implemented the FUIAuthDelegate to the controller where above code called as below,
 `func authUI(_ authUI: FUIAuth, didSignInWith

[2019-10-23 06:39] rsekharAppyog commented on #4133
Hi @rizafran ,

1)SDK version used - GoogleSignIn (4.4.0)
2)Relevant code:
let authUI: FUIAuth? = FUIAuth.defaultAuthUI() let firebaseauthController = self.authUI!.authViewController() self.present(firebaseauthController, animated: true, completion: nil)

and implemented the FUIAuthDelegate to the controller where above code called as below,
func authUI(_ authUI: FUIAuth, didSignInWith authDataRes

[2019-10-23 09:00] cegonzal1991 commented on #3862
Also I have the problem with PersonalizedAdConsent

[2019-10-23 12:11] kei-sidorov commented on #4087
I have the same problem and can't find any solution or workaround.

I've been modularizing my app and faced with this problem after I've moved some code in separate module inside separate project in common workspace:

[code]

Analytics framework connected with the app as regular framework (not through Cocoapods)

I had en warning and can't archive the project.
[code]

My Podfile:
[code]

Xcode 11.

[2019-10-23 13:49] domagojb commented on #3687
I would just like to comment that since 6.9.0 we are getting a really low number of users in the A/B testing dashboard which is how the bug manifested before we implemented our hack. I would assume that our hack broke because of some internal changes?

Either way, this is a big deal for us because now we can't do any A/B testing.

[2019-10-23 14:09] paulb777 commented on #4087
I suggest investigating and resolving the difference between GoogleUtilities-ac14cd06 and GoogleUtilities-00567490

[2019-10-23 14:14] rizafran commented on #4133
Hi @rsekharAppyog thanks for the info. I can't seem to replicate the issue either using [Firebase SDK](https://github.com/firebase/firebase-ios-sdk) or [FirebaseUI](https://github.com/firebase/FirebaseUI-iOS/tree/master/samples/swift/FirebaseUI-demo-swift/Samples/Auth). The `authDataResult.additionalUserInfo?.providerID` returns a "phone" value on my end when I tried to sign in a new phone number

[2019-10-23 14:15] cambronjay commented on #4027
thanks @mikehaney24 I will check to see if the build will work. I implement the sdk in my cordova plugin https://www.npmjs.com/package/cordova-firebase-plugin

[2019-10-23 15:09] 0x7fs commented on #1244
I hate to pile on with a +1 but we're still seeing this issue on iOS 13.x as well. Perhaps this issue should be reopened.

[2019-10-23 15:17] pixsolution opened #4143 "Problem installing the Firebase / Messaging pod"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 11.0
  * Firebase SDK version: 6.10.0
  * Firebase Component:
FirebaseMessaging (4.1.7),
Using Firebase (6.11.0)
Using FirebaseAnalytics (6.1.3)
Using FirebaseAnalyticsInterop (1.4.0)
Using FirebaseAuthInterop (1.0.0)
Using FirebaseCore (6.3.2)
Using FirebaseCoreDiagnostics (1.1.1)
Using FirebaseCoreDiagnosticsInterop (1.0.0)
Usi

[2019-10-23 15:53] rawmean opened #4144 "Catalyst and Firebase: get permission denied when accessing the database"
**Describe your environment**

Xcode version: 11.1
Firebase SDK version: 6.11.0
Firebase Component: RealTime Database
Component version:
Firebase 6.11.0
FirebaseAnalytics (6.1.3)
FirebaseInstanceID (4.2.6)
GoogleAppMeasurement (6.1.3)
GoogleUtilities 6.3.1

**Describe the problem**
The iOS app works perfectly and can access the firebase database, but the Catalyst app gives the following error:

`6

[2019-10-23 15:54] valerianaGit commented on #4138
@morganchen12. here is the step by step breakdown:
1 -  I dragged the folders to the project navigator
2 - then this option popped up
![Screen Shot 2019-10-23 at 10 48 00 AM](https://user-images.githubusercontent.com/42816552/67411057-a6881300-f582-11e9-9f0f-d76214b9fac8.png)
3 - I selected the project and tests targets
4 - clicked on Add.

5 - then I arranged them all in one folder, called it Fir

[2019-10-23 16:32] paulsUsername commented on #4143
I am having the same issue, this line in particular:

[code]

[2019-10-23 16:40] morganchen12 commented on #4143
@paulsUsername please file a separate issue.

@pixsolution can you share your entire Podfile and Podfile.lock, as well as the full build log and linker error?

[2019-10-23 16:43] morganchen12 commented on #4138
Dragging them into Xcode should automatically add them to the Link Binary with Libraries phase under your target's Build Phases. If Firebase is added to both the test and main app target and the test target embeds the main app, then you will have duplicate Firebase symbols in your test target.

Please check your build targets to make sure you don't have Firebase linked in both.

[2019-10-23 16:45] morganchen12 commented on #1244
@0x7fs, can you open a new issue and try reproducing the issue with the [dynamic links quickstart](https://github.com/firebase/quickstart-ios/tree/master/dynamiclinks)?

[2019-10-23 16:50] morganchen12 commented on #4132
@allenktv, do you know what could be causing the mark as conversion issue above?

[2019-10-23 17:28] quetool commented on #1244
@0x7fs could you check for `[UIApplicationDelegate application:openURL:options:]` function in your AppDelegate? In my case that was my issue, If you do have `openURL` delegate y your AppDelegate with nothing in it, somehow this is overriding the same method in `FirebaseDynamicLinksPlugin.m` so you need to delete that one in your `AppDelegate.m`, like I explain here https://github.com/FirebaseExten

[2019-10-23 17:36] ryanwilson commented on #4144
Thanks for the report @rawmean, this may be a silly question but is the Auth user properly logged in? Specifically, checking if `Auth.auth()?.currentUser` is `nil` or not right before the read.

This is just the first step in debugging what's going on here, hopefully we can get this resolved quickly for you.

[2019-10-23 18:00] rawmean commented on #4144
It turned out that I need to add "Keychain sharing" as a capability even though the app does not use Keychains. This is only necessary for the Mac app.

[2019-10-23 18:12] paulb777 commented on #4144
Yep. Thanks for sharing. We've documented that requirement for Auth on Catalyst so far at #3144.

[2019-10-23 18:12] #4144 closed

[2019-10-23 18:12] cambronjay commented on #4027
@mikehaney24  I am using the current release 6.11.0 from here https://firebase.google.com/docs/ios/setup#frameworks, which i believe has your changes in it. However, I am now seeing another issue. See the attached screenshot.
<img width="1400" alt="firebase-errors" src="https://user-images.githubusercontent.com/10892549/67421743-1efccd00-f59f-11e9-8eb5-20a5d850a7ba.png">

[2019-10-23 19:25] paulb777 commented on #4027
@cambronjay Please verify that the project is actually linking GoogleDataTransport.framework and it's the version from the 6.11.0 release.

[2019-10-23 23:47] morganchen12 commented on #3915
#4030 has been released, @djdirtycake can you try testing with the newest version of Firebase?

[2019-10-24 03:21] scglances opened #4153 "Crash in GDTCCTEncodeBatchedLogRequest.m:52"
* Xcode version: 11.1 11A1027
  * Firebase SDK version: 6.11.0
  * Firebase Component: GoogleDataTransportCCTSupport
  * Component version: 1.2.1 (1)

Problem -

App Crash
[code]
#### Steps to reproduce:

What happened? How can we make the problem occur?
This could be a description, log/console output, etc.

I just ran an app in the simulator and after a few seconds it crashes

[2019-10-24 07:22] aplusm opened #4154 "app crash when calling apmpb_free_event_field on com.google.fira.worker"
* Xcode version: 11.1
  * Firebase SDK version: 6.11.0
  * Firebase Component: Auth, Core, Database, Firestore, Messaging, Storage, etc)
  * Component version: /

The following crash occurs:

[code]

#### Steps to reproduce:

occurs when application starts

[2019-10-24 07:48] maipalr opened #4155 "App crashes for invalid googleApId"
Fatal Exception: com.firebase.core
Configuration fails. It may be caused by an invalid GOOGLE_APP_ID in GoogleService-Info.plist or set in the customized options.

FirebaseApp.configure(options: secondaryOptions)
Why doesn't this function throws a exception so that we can gracefully handle this instead of crashing the app.

[2019-10-24 08:24] domagojb commented on #3687
While debugging I noticed this message I get in the log:

`[Firebase/ABTesting][I-ABT000003] Failed to get conditional user properties from Firebase Analytics.`

No reason for failure given.

[2019-10-24 09:01] djdirtycake commented on #3915
@morganchen12
No, unfortunately app keeps crashing.

I've done additional research and probably my case is the mix of Cocoapods issue [https://github.com/CocoaPods/CocoaPods/issues/7155](url), internal iOS 13 changes and some of your code. We have a multiple app projects and an internal framework project in one workspace both depending on Firebase pod. All this apps also depending on this internal

[2019-10-24 09:30] coldfish opened #4156 ""Unsupported use of UIKit API off the main thread" Errors"
I'm getting too many assert warning logs about thread usage from Firebase Performance SDK:

[code]

If I remove the SDK from the project, they're gone. They don't cause any crash though.

  * Xcode version: Version 11.1 (11A1027)
  * Firebase SDK version: 6.9.0
  * Firebase Component: Performance
  * Component version: 3.1.5

[2019-10-24 09:33] mwoollard commented on #4154
Am seeing this too, app built with Xcode 10.3, again started having moved to 6.11.0.

[code]

[2019-10-24 09:53] kei-sidorov commented on #4087
I've solved the issue. It was a lot of fun!

First, I've compared main app target (MyApp) and module target's build settings to be sure that two targets are using the same swift version / c/c++ compiler and its options thanks to @paulb777. Some was different, but setting up the same value in both targets didn't help.

Then I've continued searching the difference and have dove into CocoaPods source

[2019-10-24 10:28] iDevid commented on #4154
Occurs after the upgrade of nanopb to 0.3.904

[2019-10-24 10:33] conmulligan commented on #4153
I'm seeing the same issue after updated to FirebaseCore 6.11.0 and compiling against the iOS 13.1 SDK.

[2019-10-24 11:14] TomLuna commented on #4154
Got same crash on 6.5.0 with the following pod configuration, not happened in Debug build.

[2019-10-24 11:41] ashokbhakharios commented on #4038
We are also experiencing similar crash after updating to new App version

Crash Logs-

`Crashed: com.google.fira.worker
0  Goibibo                        0x1021ec8f0 apmpb_free_event_field + 2008976
1  Goibibo                        0x1021ec9c8 apmpb_free_event + 2009192
2  Goibibo                        0x1021e968c -[APMPBEvent initWithBuffer:] + 1996076
3  Goibibo                        0x10218d

[2019-10-24 12:51] AlexSeverinov commented on #4154
pod 'nanopb', '0.3.901' - fix this issue

[2019-10-24 13:14] pixsolution commented on #4143
Hi @morganchen12
Ok I attached that
[issue-files.zip](https://github.com/firebase/firebase-ios-sdk/files/3767620/issue-files.zip)

Thanks
Regards

[2019-10-24 13:17] GraLucena commented on #143
Im facing the same problem right now, tried multiple versions for Firebase and can't see my device on DebugView, the logs show me Debug View is enable and sending events Right...

Any solution?

[2019-10-24 13:21] coldfish commented on #4156
After fetching the last commit of master using cocoapods, my problem is gone. Sorry for trouble.

[2019-10-24 13:21] #4156 closed

[2019-10-24 13:48] ryanwilson commented on #4155
Hi @maipalr, thanks for the report.

There are a few reasons for this:

- `googleAppID` is required for all Firebase functionality and cannot continue without it
-  We expect a specific format for `googleAppID`s, and this validation is what's causing a failure. We have no way to validate server side that the appID is valid during startup (without making a network request) so this is the best we ca

[2019-10-24 13:48] #4155 closed

[2019-10-24 14:08] paulb777 commented on #4038
@ashokbhakharios See #4154 for the `apmpb_free_event_field` crash and a workaround.

@nstein's crash is unrelated.

[2019-10-24 14:11] paulb777 commented on #3915
Yep, Firebase will now work correctly if there are "is implemented in both" warnings.

[2019-10-24 14:23] ashokbhakharios commented on #4038
Thanks!!

[2019-10-24 14:56] paulb777 commented on #4154
Thanks for the reports. It looks like yesterday's 0.3.9.4 nanopb podspec publish broke something in its interaction with FirebaseAnalytics.

We'll work on a solution today.  In the meantime please use @AlexSeverinov suggested workaround.

[2019-10-24 15:20] 670608142 commented on #4154
@AlexSeverinov @iDevid Thanks ~

[2019-10-24 16:12] paulb777 commented on #4154
I just published `nanopb (0.3.9011)` which rolls back the nanopb tag to 0.3.9.1. The installed pod exactly matches 0.3.9.1 and `pod update` will get a functional nanopb version again.

We'll continue to investigate the problem with Analytics and 0.3.9.4

[2019-10-24 16:21] Bilonik opened #4157 "Firebase/Analytics Crash"
App is crashing after updating to Firebase Analytics 6.11.0

Xcode 11.1
iOS: 13.1

6.11.0 - [Firebase/Analytics][I-ACS029016] Cannot retrieve configuration data from database. Error: Error Domain=com.google.gmp.measurement.ErrorDomain Code=2 "Remote config data is corrupted" UserInfo={NSLocalizedDescription=Remote config data is corrupted}

[2019-10-24 16:27] paulb777 commented on #4157
@Bilonik If you have nanopb 0.3.904 installed, would you do a `pod update`?  This might be related to #4154

[2019-10-24 16:31] paulb777 commented on #4154
I'm going to close this now since the crash should now be addressed with a `pod update`.

We'll follow up internally in b/143285077 on the Analytics integration with nanopb 0.3.9.4

[2019-10-24 16:31] #4154 closed

[2019-10-24 16:38] Bilonik commented on #4157
Just updated nanopb from 0.3.904 to  0.3.9011  with pod update, still same issue.

Console:
 6.11.0 - [Firebase/Analytics][I-ACS029016] Cannot retrieve configuration data from database. Error: Error Domain=com.google.gmp.measurement.ErrorDomain Code=2 "Remote config data is corrupted" UserInfo={NSLocalizedDescription=Remote config data is corrupted}

![Screen Shot 2019-10-24 at 11 37 50 AM](https:

[2019-10-24 16:42] vroussel35 commented on #4153
Same app crashs after few seconds for me (I have exactly the same version of packages/components mentioned above)

Anyone has found a workaround that can be used for the time it will take to solve this issue?

[2019-10-24 16:51] paulb777 commented on #4153
This might be a variation of #4154.  Please `pod update` and retry.

[2019-10-24 16:53] mikehaney24 commented on #4153
It perhaps possible, though I think GDTCCT has the nanopb pod locked to 0.3.9.1.

[2019-10-24 16:54] vroussel35 commented on #4153
I did the "pod update" before posting here and the error is still here (same travelog than mentioned in the description of the issue)

[2019-10-24 16:57] morganchen12 commented on #4157
@Bilonik can you share the full stack trace of the crash or a project that reproduces the issue?

[2019-10-24 17:02] morganchen12 commented on #3915
You can de-duplicate your dependency and also use Firebase from a framework if you only expose Firebase's header search paths to the main app instead of linking it to both the main app and framework.

Unfortunately this is largely unfixable while Firebase is still a statically linked framework, but feel free to continue asking questions on this thread if you need more clarification.

[2019-10-24 17:02] #3915 closed

[2019-10-24 17:09] mikehaney24 commented on #4153
Can you list the pods in your Podfile.lock please?

[2019-10-24 17:12] vroussel35 commented on #4153
PODS:
  - AppAuth (1.2.0):
    - AppAuth/Core (= 1.2.0)
    - AppAuth/ExternalUserAgent (= 1.2.0)
  - AppAuth/Core (1.2.0)
  - AppAuth/ExternalUserAgent (1.2.0)
  - BoringSSL-GRPC (0.0.3):
    - BoringSSL-GRPC/Implementation (= 0.0.3)
    - BoringSSL-GRPC/Interface (= 0.0.3)
  - BoringSSL-GRPC/Implementation (0.0.3):
    - BoringSSL-GRPC/Interface (= 0.0.3)
  - BoringSSL-GRPC/Interface (0.0.3)
  -

[2019-10-24 17:14] morganchen12 commented on #4143
Looks like FirebaseDatabase and FirebaseMessaging aren't being correctly linked into your app. In your Podfile, make sure `Firebase/Database` and `Firebase/Messaging` are being added to the correct build target.

If you're still unable to resolve the issue, please share your project.

[2019-10-24 17:23] mikehaney24 commented on #4153
[code]

That's probably the problem, try locking your nanopb dep to 0.3.901

[2019-10-24 17:32] Bilonik commented on #4157
Does this helps?
Its crash after ~10 secs of opening the app. this is after a complete wipe of the emulator.

![Screen Shot 2019-10-24 at 12 31 03 PM](https://user-images.githubusercontent.com/33837719/67510347-5ed4ba80-f65a-11e9-979e-d45b88060262.png)

[2019-10-24 18:32] chumps52 commented on #4153
@mikehaney24 The corresponding section of Podfile.lock for me is:
[code]
I assume that means the issue should be resolved for me, as I'm fully updated with the recent fix?

[2019-10-24 19:05] paulb777 commented on #4153
@chumps52 Yes - 0.3.9011 and 0.3.901 are equivalent

[2019-10-24 19:05] paulb777 commented on #4153
@vroussel35 It looks like your `pod update` was before the fix was published in 0.3.9011

[2019-10-24 19:15] chumps52 commented on #4153
Great, thanks!

[2019-10-24 19:17] paulb777 commented on #4153
Closing as a duplicate of #4154 with a different symptom.

`pod update` to nanopb 0.3.9011 is the recommended fix

[2019-10-24 19:17] #4153 closed

[2019-10-24 19:20] paulb777 commented on #4157
The log message doesn't look related to the backtrace?

[2019-10-24 20:26] morganchen12 commented on #4157
@Bilonik, when the debugger stops at the line where the crash occurs, can you run `bt all` in the debugger and paste the results here?

[2019-10-24 21:56] Heltisace commented on #4157
I guess I'm having a similar issue.
To reproduce, try launching an application with nanopb 0.3.901 and after it updating application to nanopb 0.3.904. It looks like some sort of compatibility issue.

Updating to 0.3.9011 and then completely rebuilding the project seems to solve the problem, though.

[2019-10-24 23:25] paulb777 commented on #3667
Without other reports or a repro, we're not likely to be able to help more on this one.

[2019-10-25 00:10] paulb777 opened #4162 "Fix F"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2019-10-25 00:11] paulb777 opened #4163 "FIAM analyze issues"
bundle exec pod lib lint --sources=https://cdn.cocoapods.org/ --analyze --include-podspecs={FirebaseCore.podspec,GoogleUtilities.podspec,FirebaseCoreDiagnosticsInterop.podspec,FirebaseCoreDiagnostics.podspec,GoogleDataTransportCCTSupport.podspec,GoogleDataTransport.podspec,FirebaseInstanceID.podspec,FirebaseAnalyticsInterop.podspec} FirebaseInAppMessaging.podspec
 -> FirebaseInAppMessaging (0.15.5

[2019-10-25 00:13] #4162 closed

[2019-10-25 00:25] paulb777 opened #4164 "Functions analyze issues"
bundle exec pod lib lint --sources=https://cdn.cocoapods.org/ --analyze --include-podspecs={FirebaseAuthInterop.podspec,FirebaseCore.podspec,GoogleUtilities.podspec,FirebaseCoreDiagnosticsInterop.podspec,FirebaseCoreDiagnostics.podspec,GoogleDataTransportCCTSupport.podspec,GoogleDataTransport.podspec} FirebaseFunctions.podspec
Adding spec repo `trunk` with CDN `https://cdn.cocoapods.org/`
 -> Fire

[2019-10-25 01:00] sampathkumar1988 commented on #143
@GraLucena Maybe just try with an open network. For me, it not worked in an internal office network and worked when tried with a VPN or open network.

[2019-10-25 01:05] #4062 closed

[2019-10-25 02:04] jffmrk commented on #3938
Safari on iPad with iPadOS 13 and above has "Request Desktop Site" turned on be default in the Settings app. The user agent reported by Safari in this case is the same user agent as Safari on a Mac. Firebase would need to use some other detection mechanism to determine if the user is on an iPad or a Mac. I've modified some of my sites to use javascript to check navigator.maxTouchPoints to see if i

[2019-10-25 04:03] paulb777 opened #4165 "Firestore analyze issues"
At least the bottom one looks like an issue in Firestore itself:

bundle exec pod lib lint --sources=https://cdn.cocoapods.org/ --analyze --include-podspecs={FirebaseAuthInterop.podspec,FirebaseCore.podspec,GoogleUtilities.podspec,FirebaseCoreDiagnosticsInterop.podspec,FirebaseCoreDiagnostics.podspec,GoogleDataTransportCCTSupport.podspec,GoogleDataTransport.podspec} FirebaseFirestore.podspec --pla

[2019-10-25 05:04] scglances commented on #4153
Worked thanks @paulb777

[2019-10-25 06:22] skuske opened #4166 "[BUG]: Crash in FPRMakeFirstSessionVerbose"
### [READ] Step 1: Are you in the right place?

Yes, I think so... :o)

### [REQUIRED] Step 2: Describe your environment

  * Xcode version: Version 11.1 (11A1027)
  * Firebase SDK version: 6.10
  * Firebase Component: Analytics, Fabric, Crashlytics, Performance
  * Component version: RemoteConfig 4.4.3

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

Crash reported by Crash

[2019-10-25 06:36] phaninderkumar opened #4167 "Crash at [FIRInstanceIDTokenManager checkTokenRefreshPolicyWithIID:] function"
**Environment**:

  * Xcode version: 11.0
  * Firebase SDK version: 6.11.0
  * Firebase Component: Core, Messaging
  * Component version: 6.3.2, ~> 4.1.7

**Problem**:
My project keeps crashing at [FIRInstanceIDTokenManager checkTokenRefreshPolicyWithIID:] function.
My app collects location in suspended state if it exits a region. My assumption is this crashes happens at that time. Not always thou

[2019-10-25 06:37] phaninderkumar commented on #4167
Here is the list of Firebase pods being used:

  - Firebase/Core (6.11.0):
    - Firebase/CoreOnly
    - FirebaseAnalytics (= 6.1.3)
  - Firebase/CoreOnly (6.11.0):
    - FirebaseCore (= 6.3.2)
  - Firebase/Messaging (6.11.0):
    - Firebase/CoreOnly
    - FirebaseMessaging (~> 4.1.7)
  - FirebaseAnalytics (6.1.3):
    - FirebaseCore (~> 6.3)
    - FirebaseInstanceID (~> 4.2)
    - GoogleAppMeasur

[2019-10-25 08:16] maipalr commented on #4155
is there any function to check for the format validity of googleAppID so that we can check before initializing the sdk?

[2019-10-25 09:52] pixsolution commented on #4143
Hi @morganchen12 Yes, but my target is SaludVitale and when I check the libraries appear there. It is not badly located if it did not appear, in addition to that the firebaseDatabase where it is locate was not giving problems because I was doing the chat queries without errors, it starts to fail with the new library

Please give me your gitlab user? to add you to the repo

[2019-10-25 14:04] ryanwilson commented on #4155
There is no public API for this. May I ask what your use case is? This will help us evaluate if this is functionality missing that we want to support in the future.

[2019-10-25 14:33] maksymmalyhin commented on #4167
@chliangGoogle Could you help with the issue investigation please. Here is what I investigated so far.

Looks like the crash happens because `cachedIID` is `nil` [here](https://github.com/firebase/firebase-ios-sdk/blob/9d38a27123277a535ed532c3a76cd708d477424c/Firebase/InstanceID/FIRInstanceID.m#L692). The particular crash itself is fixed in #4096.
As far as I can see from the code `cachedIID` shou

[2019-10-25 16:06] morganchen12 commented on #4143
Unfortunately I don't have a gitlab account. You can try running `pod deintegrate` and `pod install` to reinstall the pods and see if it fixes your issue.

[2019-10-25 16:55] skuske opened #4170 "[BUG]: Crash in [NSISVariableObservation sessionId]"
### [READ] Step 1: Are you in the right place?

Yes, I think so... :o)

### [REQUIRED] Step 2: Describe your environment

  * Xcode version: Version 11.1 (11A1027)
  * Firebase SDK version: 6.10
  * Firebase Component: Analytics, Fabric, Crashlytics, Performance
  * Component version: RemoteConfig 4.4.3

### [REQUIRED] Step 3: Describe the problem

Crash reported by Crashlytics:#

iOS 13.1.3 (17A8

[2019-10-25 16:57] chliangGoogle commented on #4167
@maksymmalyhin You are right, it is strange that IID becomes nil  when a token exists. I haven't been able to reproduce on my side. I agree #4096 should fix this but we can also adjust the keychain option here.

[2019-10-25 17:38] cambronjay commented on #4027
@paulb777 it is using the 6.11.0 release and the GoogleDataTransport.framwork is included with the  analytics portion of the SDK. I don't how else it would/could be linked. The past version worked with no errors. These past two releases have not worked.

[2019-10-25 17:53] chliangGoogle commented on #4167
@phaninderkumar can you also send us the debugLog right before the crash if you can reproduce? This can help us figure out why the instanceID is not retrieved successfully

[2019-10-25 21:23] mikehaney24 opened #4173 "check.sh not working for PRs that merge onto feature branch"
Travis output with -x enabled in check.sh https://travis-ci.org/firebase/firebase-ios-sdk/jobs/603024546?utm_medium=notification&utm_source=github_status

Key parts:
[code]

Incidentally, running `git merge-base origin/master 47bf5131d09897aaa93ff30500a31d06d93c9873` locally results in `3943cb16f94224203b66f83a299dba976a3baf07`

[2019-10-25 22:03] pixsolution commented on #4143
Hi @morganchen12 I have tried it but it still has the same error. I have uploaded the project on github and I have already added you.

I would greatly appreciate your help!

[2019-10-26 01:05] #4009 closed

[2019-10-26 20:15] mobmad opened #4175 "[Bug?] Unsafe to call useUserAccessGroup immediately after FirebaseApp.configure()"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 11.1 (11A1027)
  * Firebase SDK version: 6.11
  * Firebase Component: Auth
  * Component version: 6.3.1

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

1. Follow the steps in [Enabling cross-app authentication with shared iOS Keychain](https://firebase.google.com/docs/auth/ios/single-sign-on)
2. Do the fol

[2019-10-27 04:11] maipalr commented on #4155
use case is this params are configured from backend api, the reason for this we have different firebase projects and in future this projects may change. Sometimes if we get wrong data there is no way to revert back this the app keep crashes whenever it opened users has to delete the app and reinstall it.

[2019-10-27 04:22] PetrVasilev commented on #4157
I have the same error

[2019-10-27 23:42] ansonl opened #4176 "Firebase SDK crashes app on in-app purchase completion with: [__NSCFBoolean timeIntervalSince1970]: unrecognized selector sent to instance"
### [READ] Step 1: Are you in the right place?

Yes

### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 11.0
  * Firebase SDK version: 6.11.0
  * Firebase Component: Core/Unknown
  * Component version: 6.11.0

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

Import frameworks for Firebase Analytics into project. (I am not sure which framework exactly is caus

[2019-10-28 03:28] levantAJ commented on #3929
I think we got the same issue!

**Fatal Exception: NSGenericException
Task created in a session that has been invalidated
__InstrumentDataTaskWithRequestCompletionHandler_block_invoke**

[code]

Versions:
[code]

[2019-10-28 05:13] visumickey commented on #3929
Thanks a lot for these inputs. We are on this and hoping to have a fix rolled out in the upcoming release. Will keep this thread posted.

[2019-10-28 07:20] iwheelbuy commented on #4060
@dmandar
Version 6.10.0
[code]

[2019-10-28 09:34] AbubakerMajeed opened #4177 "Hi, reCAPTCHA flow on ios 13 is not working on lastest sdk."
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2019-10-28 12:32] rizafran commented on #4177
Hi @AbubakerMajeed, thanks for filing a report. However, I couldn't identify what's causing the issue here. To replicate, please provide the following information required from the template:

- Firebase SDK version used / Podfile.lock file
- Detailed steps to reproduce the issue
- Screenshot / complete error logs (if any)
- Relevant code / [MCVE](https://stackoverflow.com/help/mcve) that I can run

[2019-10-28 12:42] ryanwilson commented on #4176
Thanks for the report, tracked internally at b/143455671

[2019-10-28 13:04] AbubakerMajeed commented on #3706
still no update ? for ios 13 ?

[2019-10-28 13:05] AbubakerMajeed commented on #3706
reCaptcha is not working on ios 13 with out swift ui too

[2019-10-28 14:26] AbubakerMajeed commented on #4177
Firebase sdk : Firebase/Auth (6.11.0)
 ReCaptcha is not working, go to simulator, try using phone auth , it will take user to safariviewcontroller, then after ReCaptcha autoverifcation. screen stays there.

PhoneAuthProvider.provider(auth: Auth.auth())
        PhoneAuthProvider.provider().verifyPhoneNumber(phoneNumber, uiDelegate: nil) { (result, error) in
            if let _ = error {

[2019-10-28 14:57] xaphod opened #4179 "Crash with "<ERROR> Event decoder failed: varint overflow""
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 11.1
  * Firebase SDK version: 6.11.0
  * Firebase Component: APMDataBase -> nanoPB
  * Component version: whatever shipped with 6.11.0 firebase

### [REQUIRED] Step 3: Describe the problem

Startup app, immediately crashes on iPad 10.5" pro with iOS 13.1.3.
Crash appears to be in nanoPB, probably the related issue is this one (t

[2019-10-28 15:21] xaphod commented on #4179
Ah, closing this: I believe there was an error in my setup such that this was the OLD version of nanoPB reading files from the NEW version, because there was a mistake on my git client.
Sorry.

[2019-10-28 15:21] #4179 closed

[2019-10-28 17:04] nachourpi commented on #4157
The same for me and I'm not finding any way to even disable Firebase Analytics

[2019-10-28 18:00] morganchen12 commented on #4177
@AbubakerMajeed, the code you've shared is not enough to reproduce the issue. Please upload a sample project that exhibits the error you're describing.

[2019-10-28 18:04] morganchen12 commented on #4155
It's unlikely we'll add support for this use case since we don't want people to be dynamically provisioning Google app IDs at runtime.

[2019-10-28 19:00] carloskekwa commented on #3985
any news on this concern? I am having problems receiving push notifications ios13!
silent push not always received don't know why!
also i don't know why when i add this method

- (void)application:(UIApplication *)application
didReceiveRemoteNotification:(NSDictionary *)userInfo
fetchCompletionHandler:(void (^)(UIBackgroundFetchResult result))completionHandler{

    NSLog(@"- silent push:%@", user

[2019-10-28 19:14] chliangGoogle commented on #3985
@carloskekwa can you try sending the silent push using apns token directly without fcm?
You can try using this suggestion here: https://github.com/firebase/firebase-ios-sdk/issues/4042#issuecomment-542359566

[2019-10-28 19:22] carloskekwa commented on #3985
hello @chliangGoogle,

will try and let you know !

thanks for your fast answer

[2019-10-28 21:05] otondin commented on #4176
@ansonl same here! I've noticed this crash since two weeks ago and was trying to debug to found some issue and didn't find anything indeed on my app project. Thank you for reporting.

[2019-10-29 01:04] #283 closed

[2019-10-29 01:53] ansonl commented on #4176
I found a similar unsolved report on Stack Overflow reported last year [here](https://stackoverflow.com/questions/49325501/app-is-crashing-after-an-iap-only-after-podfiles-were-updated).

[2019-10-29 03:39] jkopi11 commented on #3918
We are seeing an issue where if you share a link with the Messages app in iOS 13 and wait long enough or cancel the share and try again, the link eventually opens the fallback url before it is shared. Anyone else notice this?

[2019-10-29 06:27] flyingbacon commented on #3951
I have same problem when my app name is chinese, once I change app name to english then it work fine, how can i fix it?

[2019-10-29 06:32] flyingbacon commented on #3951
The full stack trace of the crash:
(lldb) bt all
  thread #1, queue = 'com.apple.main-thread'
    frame #0: 0x000000010585d660 libobjc.A.dylib`objc_msgSend + 32
    frame #1: 0x0000000108078844 libswiftFoundation.dylib`Foundation.Locale.init(identifier: Swift.String) -> Foundation.Locale + 36
    frame #2: 0x00000001007c48b4 中文名`closure #1 in variable initialization expression of static NSDateForm

[2019-10-29 08:04] AbubakerMajeed commented on #4177
@morganchen12  this is exactly the code, when you implement firebase otp service, you need to verify number first. above sample code is doing same. but problem is after ReCaptcha verification, screen stay there not take user back to application.

[2019-10-29 08:48] surajthomask commented on #2465
@allenktv  Is there any update on this issue? We are still facing these crashes and is really messing up the app stability metrics.

As an additional information, we do not pass nil to Firebase as value. In all places we are passing non-optional Any as the value and string as key.

We would really appreciate it, if this issue is resolved asap.

[2019-10-29 13:17] #4164 closed

[2019-10-29 15:22] rizafran commented on #4177
Hi @AbubakerMajeed Upon investigating, I was able to replicate the issue which it didn't automatically take back to the app. However, based on the [documentation](https://firebase.google.com/docs/auth/ios/phone-auth#appendix:-using-phone-sign-in-without-swizzling), I added the following code in SceneDelegate.swift to handle redirect URL and the issue has gone:
[code]
You may try to add it in your

[2019-10-29 16:39] morganchen12 commented on #3951
@flyingbacon can you share the full stack trace of the crash and debug logs mentioned above?

[2019-10-29 19:00] Abhishek-kumar09 opened #4187 "Firestore cloud function not available on Location"
I am setting a new Firebase Firestore cloud for my project. I am from India and requires South-Asia1 for location But this location is having problem like cloud functions not enabled.
What should I do now, Should I go with my SouthAsia1 or change to nearest CloudFunctions location.
[![Deploying a function to this location is not available][1]][1]

  [1]: https://i.stack.imgur.com/TXBHt.png

What d

[2019-10-29 20:02] christibbs commented on #3883
This was fixed in the 15.5 version of In App Messaging. Please run `pod update`.

[2019-10-29 20:02] #3883 closed

[2019-10-29 20:08] rizafran commented on #4187
Hi @Abhishek-kumar09, it means that Cloud Functions is not yet available in "[asia-south1](https://cloud.google.com/about/locations/?tab=asia-pacific)" location. If you're going to use Cloud Functions, the nearest region that can be used for it is "asia-east2". You may check out this [documentation](https://firebase.google.com/docs/functions/locations#selecting-regions_firestore-storage) for more

[2019-10-29 20:18] #4187 closed

[2019-10-29 20:50] morganchen12 commented on #3985
Hey @carloskekwa, the provided script tries to send a notification directly through APNs, bypassing FCM.

You'll need to serialize the binary response and print its details to see exactly what error you're running into. This [document](https://developer.apple.com/library/archive/technotes/tn2265/_index.html) may help.

[2019-10-29 20:59] MihaelIsaev commented on #3136
Any chance to use firebase through SPM now?

[2019-10-30 01:04] #4042 closed

[2019-10-30 04:59] phaninderkumar commented on #4167
@chliangGoogle, I'm not able to reproduce this crash while the app is running. It happens when the app is launched from suspended state and hence the only logs I have are from the Fabric crash logs.

[2019-10-30 05:54] AbubakerMajeed commented on #4177
But i am not using swift UI, my app support ios 11 to onwards. This issue can be duplicated on ios12 too.

[2019-10-30 07:59] flyingbacon commented on #3951
do you mean this?

[firestore bt all.txt](https://github.com/firebase/firebase-ios-sdk/files/3787541/firestore.bt.all.txt)

[2019-10-30 10:46] Abhishek-kumar09 commented on #4187
So I should go with SouthAsia1 or asia-east2.As it is saying once i pick a location that cannot be changed

[2019-10-30 11:22] Abhishek-kumar09 commented on #4187
Can I have my firestore location and cloud function location different
thanks @rizafran

[2019-10-30 14:38] rizafran commented on #4187
Hi @Abhishek-kumar09, as I've mentioned earlier, if you're going to use Cloud Functions, you'll need to use "asia-east2" which is the [nearest region](https://firebase.google.com/docs/functions/locations#selecting-regions_firestore-storage) available in "asia-south1" (Mumbai). Take note that you could potentially experience increased latency and billing costs if your function and resource are in d

[2019-10-30 17:18] #4167 closed

[2019-10-30 17:21] morganchen12 commented on #3951
Thanks, it looks like this is the relevant stack trace:

[code]

@flyingbacon can you also share the debug logs mentioned in this comment: https://github.com/firebase/firebase-ios-sdk/issues/3951#issuecomment-536807072

[2019-10-30 19:05] ryanwilson opened #4198 "Fix IID/Messaging AutoInitEnabled test"
Disabled temporarily until the tests can be fixed - tests pass locally but fail on pod lib lint.

cc @chliangGoogle

[2019-10-31 00:41] mxnmike opened #4203 "FIRInstanceIDTokenManager.m line 285"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 11.1
  * Firebase SDK version: 6.10.0_____
  * Firebase Component: InstanceID_____ (Auth, Core, Database, Firestore, Messaging, Storage, etc)
  * Component version: 4.2.5

### [REQUIRED] Step 3: Describe the problem
The app crashes while in use.

#### Steps to reproduce:

Randomly happens

#### Relevant Code:

[code]

[2019-10-31 00:44] chliangGoogle commented on #4203
This is a duplicate of #4167 which will be resolved in the next release.

[2019-10-31 00:44] #4203 closed

[2019-10-31 02:30] flyingbacon commented on #3951
what should i get?
this is what i got
[after enable logging.txt](https://github.com/firebase/firebase-ios-sdk/files/3791896/after.enable.logging.txt)

[2019-10-31 06:04] calicratis19 opened #4204 "Firebase Auth(Google Sign in) Is returning null as email address!"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 11.1
  * Firebase SDK version: Latest Release(Installed from pod)
  * Firebase Component: Auth, Core, Database, ML Vision
  * Component version: Latest

### [REQUIRED] Step 3: Describe the problem
Starting from last 12 hours or so the firebase auth is returning null as email address. Its returning name and UID correctly. The API

[2019-10-31 08:13] skuske opened #4205 "[BUG]: Crash in FIRInstanceIDAuthKeyChain.m line 79 -[FIRInstanceIDAuthKeychain itemsMatchingService:account:]"
### [READ] Step 1: Are you in the right place?

Yes, I think so... :o)

### [REQUIRED] Step 2: Describe your environment

  * Xcode version: Version 11.1 (11A1027)
  * Firebase SDK version: 6.10
  * Firebase Component: Analytics, Fabric, Crashlytics, Performance, RemoteConfig
  * Component version: RemoteConfig 4.4.3

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

Crash rep

[2019-10-31 08:14] skuske commented on #4205
Maybe related to https://github.com/firebase/firebase-ios-sdk/pull/4172 ?

[2019-10-31 08:55] calicratis19 commented on #4204
We have found the problem. It occurred due to "One account per email address" settings change in the firebase auth settings. We set "Allow creation of multiple accounts with the same email address" as enabled which result in the mentioned error. IMO it should be specified in the settings page that this error might occur if the settings is changed.

[2019-10-31 08:55] #4204 closed

[2019-10-31 12:20] VedranVClover opened #4206 "[BUG] RemoteConfig fetched wrong values"
### [READ] Step 1: Are you in the right place?

Yes.

### [REQUIRED] Step 2: Describe your environment

Xcode: Version 11.1 (11A1027)
iOS version: 13.1.3
A released application on the Apple App store.

### [REQUIRED] Step 3: Describe the problem

We have an application in the App Store that uses Remote Config to fetch feature flags and it seems some users filed issues with certain features being d

[2019-10-31 15:26] PradeshKumar88 opened #4207 "Crashed on [FPRConfigurations hasRemoteConfigFetchHappened] + 491012"
**Crash reported by Crashlytics:**

iOS 12.4.2 (16G114)
iPad Mini 2

Crashed: com.google.perf.FPREventsQueue
EXC_BAD_ACCESS KERN_INVALID_ADDRESS 0x0000000f3522a3c0

**Stack Trace 1:**

[code]

[2019-10-31 15:26] rizafran commented on #4177
@AbubakerMajeed Could you try to check if you have a SceneDelegate.swift in your project file? If so, you may add the code snippet I provided [here](https://github.com/firebase/firebase-ios-sdk/issues/4177#issuecomment-547476399) and see if the issue persists.

[2019-10-31 16:08] skuske commented on #4207
We are seeing a similar issue, but pretty rare:

[code]

[code]

[2019-10-31 16:37] AntonPetrov83 opened #4209 "Unhandled exception in GDTCORStorage appWillBackground: crashes the app"
* Hardware Model:      iPad4,1
  * OS Version:          iPhone OS 11.0 (15A5341f)
  * Xcode version: Version 10.3 (10G8)
  * Firebase SDK version: Firebase/Core (6.9.0) via CocoaPods
  * Component version: GoogleDataTransport (2.0.0)

100% Crash on going background in `GDTCORStorage appWillBackground:`

Log:
[code]
Last Exception Backtrace:
[code]

[2019-10-31 17:02] morganchen12 commented on #4209
The method referenced is documented [here](https://developer.apple.com/documentation/foundation/nskeyedarchiver/2962880-archiveddatawithrootobject?language=objc) and is only available on iOS 11+. Looks like this is causing a crash on devices below iOS 10.

[2019-10-31 17:09] AntonPetrov83 commented on #4209
I have iOS 11.0 installed.
I think problem is not in `archivedDataWithRootObject:requiringSecureCoding:error:` but because `NSKeyedArchiever` tries to encode a class which does not implement `NSCoding` protocol or something (see [SO](https://stackoverflow.com/questions/22168753/unrecognized-selector-sent-to-instance-while-archiving-data-nscoding/22168955) )

[2019-10-31 17:30] morganchen12 commented on #4209
The exception message in your crash describes the class and selector that caused the crash:
[code]

If you're able to reproduce this with a debugger attached, you can add a symbolic breakpoint for `-[NSObject doesNotRecognizeSelector:]` and print `self` to inspect the class that's causing the crash.

Since you've mentioned this is occurring on an iOS 11+ device 100% of the time and we haven't gott

[2019-10-31 18:12] alexanderkhitev opened #4210 "crash on com.google.fira.worker in APMScheduler scheduleOnWorkerQueueBlockID:block:"
* Xcode version: 11.1 (11A1027)
  * Firebase SDK version: 6.11.0
  * Firebase Component: Core, Performance, Messaging, Auth, Storage, Database
  * Component version: 6.3.2, 3.1.5, 4.1.7, 6.3.1, 3.4.1, 6.1.1

We have noticed some app crashes in Crashlytics

this is log
[code]

[2019-10-31 18:20] dmandar commented on #4206
Hi, what is the RemoteConfig SDK version? Can you share the podfile lock?

[2019-10-31 18:35] chliangGoogle commented on #4205
@skuske  can you share the full stack trace, specifically the error message on top saying why it crash.

[2019-10-31 18:42] skuske commented on #4205
@chliangGoogle

[code]

**Stack trace 2:**

[code]

**Stack trace 3:**

[code]

[2019-10-31 18:48] rizafran commented on #4210
Hi @alexanderkhitev this issue looks like a duplicate of #4154. You may try to `pod update` to nanopb 0.3.9011 as [a recommended fix](https://github.com/firebase/firebase-ios-sdk/issues/4154#issuecomment-545999295).

[2019-10-31 18:53] alexanderkhitev commented on #4210
Hi @rizafran ! thanks, we'll try

[2019-10-31 18:53] #4210 closed

[2019-10-31 18:56] alexanderkhitev commented on #4210
I closed this issue for now

[2019-10-31 18:58] mikehaney24 commented on #4209
Also, GDT is currently v3.0.1 with, try updating the pods.

[2019-10-31 19:12] VedranVClover commented on #4206
I can share snippets from podfile.lock relevant:

PODS:
  - Alamofire (4.9.0)
  - Bolts (1.9.0):
    - Bolts/AppLinks (= 1.9.0)
    - Bolts/Tasks (= 1.9.0)
  - Bolts/AppLinks (1.9.0):
    - Bolts/Tasks
  - Bolts/Tasks (1.9.0)
  - BoringSSL-GRPC (0.0.3):
    - BoringSSL-GRPC/Implementation (= 0.0.3)
    - BoringSSL-GRPC/Interface (= 0.0.3)
  - BoringSSL-GRPC/Implementation (0.0.3):
    - BoringSSL-

[2019-11-01 06:09] fangyuxi opened #4215 "【FIRDynamicLink】How to fetch user-added custom parameters?"
FIRDynamicLink

I have created a Dynamiclink in the FIRDynamicLink Console, for example

https://xxx.page.link/XktS

But if I want the user to pass a custom parameter when user click, for example https://xxx.page.link/XktS?a=b,

I want to get the value of the parameter named a, value b, how to do it? I checked all the relevant documentation and instructional videos and didn't get an answer.

I kno

[2019-11-01 06:30] morganchen12 commented on #4215
When building a custom dynamic link, your user can attach normal parameters to the end of the link that can then be fetched from the query in iOS's universal link handler.

[code]

It's worth noting this is all non-Firebase functionality, just iOS's default universal links functionality.

[2019-11-01 07:15] fangyuxi commented on #4215
@morganchen12

Thank you , I know user can attach normal parameters to the end of the link that can then be fetched from the query in iOS's universal link handler.

But when user launch app first time (https://xxx.page.link/XktS?a=b,),

this method will be called.
[code]

I can not grab custom(a=b)  parameters this time.
Only the following parameters can be obtained

[code]

I tried using a full l

[2019-11-01 08:52] AntonPetrov83 commented on #4209
So, for my iPad with iOS 11.0 `[[NSKeyedArchiver class] respondsToSelector:@selector(archivedDataWithRootObject:requiringSecureCoding:error:)]` returns `NO` what is strange because this method is documented as iOS 11.0+

Currently I have no other devices with iOS 11.0 (15A5341f) to reproduce the issue. I will spend some time to investigate this but I agree that it looks like an anomaly.

[2019-11-01 09:00] #4209 closed

[2019-11-01 09:01] AntonPetrov83 commented on #4209
So, looks like version 15A5341f is iOS 11 Beta 5 and not a final iOS 11.0

[2019-11-01 09:22] fangyuxi commented on #4215
I have a solution.
First, give the user a webpage that we developed ourselves. When the user clicks into the webpage, use the restful api to dynamically create a specific dynamic link. Then the user clicks on the link and then opens the AppStore to download the app.

[2019-11-01 09:42] marcosybarraa commented on #1894
I add my comment also to show my deep disapointment..
Google force us to change to Firebase, and I still have not seen any benefit:
I lose analytics historic data, issues in IOS sdk for hundred days that IMMO are basic test any with understanding of the bussiness would do, compare analytics with firebase analytics, using the firebase examples.. and results are different.. ?¿?¿?
I am starting to se

[2019-11-01 10:31] AbubakerMajeed commented on #4177
Did you try on simulator? recapctha process is not working in any case.

[2019-11-01 10:33] AbubakerMajeed commented on #4177
My project is running from last 4 years. and it start with xcode older version. I do added "SceneDelegate.swift" of you request. Although it specifically requires me available check. but its not working in simulator. It stuck on white screen. As shown above.

[2019-11-01 11:53] spourteymour opened #4216 "FR: Firestore NOT operator in WHERE query"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2019-11-01 13:01] PradeshKumar88 opened #4217 "Crashed on com.google.fira.worker"
**Crash reported by Crashlytics:**

iOS 12.4.1 (16G102)
iPhone 7

Fatal Exception: NSInternalInconsistencyException
Incorrect or nil NSTextStorage requested for undo operation: <_UITextUndoOperationReplace: 0x280a9d900>
+[_CFXNotificationTokenRegistration keyCallbacks]

**Stack trace:**

[code]

[2019-11-01 13:35] ryanwilson opened #4218 "`FIRInAppMessagingCampaignInfo` missing `NS_SWIFT_NAME`"
`FIRInAppMessagingCampaignInfo` should be fixed with `NS_SWIFT_NAME` in order to remove the `FIR` prefix at the next breaking change.

https://github.com/firebase/firebase-ios-sdk/blob/b5b836670aa459b62be3ecdddf8f87e52dca9d08/Firebase/InAppMessaging/Public/FIRInAppMessagingRendering.h#L94

[2019-11-01 14:58] REPTILEHAUS commented on #4143
Also getting issues all day trying to istall Firebase/Messaging albeit via Ionic Capacitor

――― MARKDOWN TEMPLATE ―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――

### Command

[code]

### Report

* What did you do?

* What did you expect to happen?

* What happened instead?

### Stack

[code]

### Plugins

[code]

### Podfile

[code]

### Error

[code]

――― TEMPLATE END ―――――――――――――――

[2019-11-01 15:08] maksymmalyhin commented on #4217
@PradeshKumar88 Thank you for your issue report.

The provided stack trace does not look like directly related to the specified exception. Could you post a full crash log for us to better understand the issue? Feel free to mask your app calls that you wouldn't like to share or let me know if you would like to share it privately.

[2019-11-01 15:36] morganchen12 commented on #4217
@PradeshKumar88 please fill out the issue template and provide your Firebase versions as well.

[2019-11-01 15:37] morganchen12 commented on #4143
@REPTILEHAUS this is a CocoaPods error that you should file at the CocoaPods repo.

[2019-11-01 15:41] REPTILEHAUS commented on #4143
Can you clarify whether the way to install this is
pod Firebase/Messaging ?
or
pod FirebaseMessaging ?

[2019-11-01 15:43] morganchen12 commented on #4215
In either case, is the full deep link (including parameters) stored in `deep_link_id`?

[2019-11-01 15:45] morganchen12 commented on #4143
Both should work. `Firebase/Messaging` under the hood uses the `FirebaseMessaging` pod.

[2019-11-01 15:48] REPTILEHAUS commented on #4143
Strange, it only works for me using ```FirebaseMessaging```

[2019-11-01 16:22] fangyuxi commented on #4215
If the app is not installed, then when the user clicks on full link or short link, firebase will record user feature information. When the app is first installed and opened, firebase will collect the same user information to compare with google server. If the comparison is successful, Then it means the same user, then call [sourceApplication:(NSString *)sourceApplication] .. method. At this time,

[2019-11-01 17:05] morganchen12 commented on #4215
@dmandar is there a more direct way to achieve the same functionality?

[2019-11-01 17:11] morganchen12 commented on #4143
@pixsolution I'm not able to open the GitHub invite.

Closing this issue since it's not a Firebase issue. If you're still having trouble, you can try asking on StackOverflow.

[2019-11-01 17:11] #4143 closed

[2019-11-02 01:03] #3963 closed

[2019-11-02 01:52] d-date opened #4225 ""Could not install at this time." using Carthage"
When launching app, Xcode says This app could not be installed at this time.

<img width="421" alt="Screen Shot 2019-11-02 at 10 28 26" src="https://user-images.githubusercontent.com/20222809/68064251-992a1000-fd5c-11e9-8702-ec1944dd9a19.png">

##### Environment

  * Xcode version: 11.2
  * Firebase SDK version: 6.11.0
  * Firebase Component: InAppMessaging
  * Component version: 6.11.0

##### Det

[2019-11-02 02:03] ansonl commented on #4176
@ryanwilson I did some more testing, this exception always occurs when the NSUserDefaults key that is the same as the iAP product ID key is has a default prefs value registered like so:

[code]

In this case the IAP product ID key (that you would use to validate whether the iAP exists, etc) is `tipAdditional99Cents`.

Seems like Firebase is monitoring the user preferences key but this is not docum

[2019-11-02 02:06] d-date commented on #4225
I found this is my mistake since framework has embedded.

[2019-11-02 02:06] #4225 closed

[2019-11-02 12:22] skuske opened #4226 "[BUG] Crash in RCNFetch.m line 91 [RCNConfigFetch initWithContent]"
### [READ] Step 1: Are you in the right place?

Yes, I think so... :o)

### [REQUIRED] Step 2: Describe your environment

  * Xcode version: Version 11.1 (11A1027)
  * Firebase SDK version: 6.10
  * Firebase Component: Analytics, Fabric, Crashlytics, Performance, RemoteConfig
  * Component version: RemoteConfig 4.4.3

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

Crash rep

[2019-11-03 05:00] zyxsimonxyz commented on #3136
still no update? its been so long

[2019-11-03 13:21] coldmachine commented on #143
Same problem, cannot make it work

[2019-11-03 23:15] rhysforyou commented on #3136
While it's great to see everyone so excited to adopt Swift Package Manager in their projects, there's currently nothing the Firebase team can do to support it. Once SPM supports binary frameworks I'm sure they'll give us an update, but until then all the comments asking for updates aren't particularly useful.

[2019-11-04 02:02] #4138 closed

[2019-11-04 02:02] #4133 closed

[2019-11-04 02:02] #3667 closed

[2019-11-04 02:33] Faydee1220 commented on #4217
You can check your nanopb version, or try pod update.
I think this is related to this issue:
[app crash when calling apmpb_free_event_field on com.google.fira.worker]
https://github.com/firebase/firebase-ios-sdk/issues/4154

[2019-11-04 08:34] skogsbaer commented on #2823
Is there any progress on this issue?

[2019-11-04 08:51] Decsunshine commented on #4205
I have encountered the same problem

[2019-11-04 09:23] JohnnyTseng commented on #3929
@visumickey @paulb777

Will removing performance SDK temporarily fix this issue? Since the change log mentioned this is related to performance SDK

<img width="715" alt="Screen Shot 2019-11-04 at 17 22 56" src="https://user-images.githubusercontent.com/2656519/68110378-cb3b9d80-ff27-11e9-9bc4-ec6772e09acd.png">

[2019-11-04 10:36] derhuebiii commented on #1910
+1

[2019-11-04 13:53] rizafran commented on #4177
Hi @AbubakerMajeed thanks for clarifying. Yes, I'm using a simulator (iOS 12 and 13). I tried running the [Auth quickstart for iOS](https://github.com/firebase/quickstart-ios/tree/master/authentication) which doesn't have a SceneDelegate.swift file, but I can't seem to get the same issue. It would be great if you can share a [minimal repro](https://stackoverflow.com/help/mcve) of your app that I c

[2019-11-04 14:23] visumickey commented on #3929
@JohnnyTseng Sure. Removing performance SDK would mitigate the crashes for now. A permanent fix for this is being built and will rollout in the next few days to mitigate this issue.

[2019-11-04 17:46] chliangGoogle commented on #4205
@skuske @Decsunshine Can any of you share the full stack trace, It seems to related to remote config and performance, would be great to see the all the threads interaction during crash.

[2019-11-04 18:03] skuske commented on #4205
@chliangGoogle

Sure, here are the other stack traces:

**4:**

[code]

**5:**

[code]

**6:**

[code]

**7:**

[code]

**8:**

[code]

**9:**

[code]

**10:**

[code]

**11:**

[code]

**12:**

[code]

**13:**

[code]

**14:**

[code]

Hope that helps... :o)

[2019-11-04 18:54] moriah-hammond opened #4230 "[Carthage] Missing GDT symbols when installing Messaging and Remote Config"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2019-11-04 18:55] moriah-hammond commented on #4230
@paulb777

[2019-11-04 19:04] morganchen12 commented on #4230
Paul is currently on vacation.

It looks like you're missing the GoogleDataTransport framework. Make sure GoogleDataTransport is linked along with the rest of the Firebase frameworks.

[2019-11-04 19:14] moriah-hammond commented on #4230
https://github.com/firebase/firebase-ios-sdk/blob/master/Carthage.md @morganchen12  which one of these binaries should I include

[2019-11-04 19:21] morganchen12 commented on #4230
It should be included with the Analytics blob, so you should already have it in your project directory.

[2019-11-04 19:26] moriah-hammond commented on #4230
@morganchen12 exactly that's the issue. That's what I am trying to solve

[2019-11-04 19:27] moriah-hammond commented on #4230
please let me know how to fix this

[2019-11-04 19:30] morganchen12 commented on #4230
Those frameworks should be located in the `Carthage/Build/iOS` directory. It looks like they may not be there because `FirebaseAnalytics` was somehow excluded from your `Cartfile.resolved`.

Can you share the output of running `carthage install`?

[2019-11-04 19:32] moriah-hammond commented on #4230
accidentally cropped it out here is an accurate .resolved ```binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAnalyticsBinary.json" "6.7.0"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseMessagingBinary.json" "6.7.0"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseRemoteConfigBinary.json" "6.7.0"```
response from running cartage update
[code]

[2019-11-04 19:32] moriah-hammond commented on #4230
running the update now

[2019-11-04 19:34] moriah-hammond commented on #4230
@morganchen12  that is an invalid command
[code]

[2019-11-04 19:35] morganchen12 commented on #4230
Sorry, try running `carthage bootstrap`.

[2019-11-04 19:37] moriah-hammond commented on #4230
no worries, here's the result ``` carthage bootstrap
*** Checking out Kingfisher at "4.10.1"
*** Checking out gtm-session-fetcher at "v1.2.1"
*** Checking out Mobile.iOS.MVI at "0.9.11"
*** Checking out RxSwift at "4.0.0"
*** Checking out Alamofire at "4.8.0"
*** Checking out lottie-ios at "f7f7763dfb700d0c85b3f457cdcb377a1ad2ffd4"
*** xcodebuild output can be found in /var/folders/mr/9rj6sjr51qn_

[2019-11-04 19:48] morganchen12 commented on #4230
Looks like `cartahge bootstrap` is failing. Once you fix the error, check your Carthage build directory for the GoogleDataTransport framework.

[2019-11-04 19:48] moriah-hammond commented on #4230
just updated

[2019-11-04 19:48] moriah-hammond commented on #4230
@morganchen12

[2019-11-04 19:50] moriah-hammond commented on #4230
<img width="594" alt="Screen Shot 2019-11-04 at 2 49 58 PM" src="https://user-images.githubusercontent.com/36309559/68152821-66297d00-ff12-11e9-971c-addf21a15b95.png">

[2019-11-04 19:50] moriah-hammond commented on #4230
@morganchen12 it's in my Carthage directory

[2019-11-04 19:53] morganchen12 commented on #4230
Once it's in your Carthage directory, you should be able to add it to your target in Xcode. See step 3 in the Carthage documentation [here](https://github.com/Carthage/Carthage#if-youre-building-for-ios-tvos-or-watchos).

[2019-11-04 20:03] moriah-hammond commented on #4230
@morganchen12 I did and added it, the project builds but I get this simulator error.  I also included my embedded frameworks to give a full picture
<img width="731" alt="Screen Shot 2019-11-04 at 3 03 00 PM" src="https://user-images.githubusercontent.com/36309559/68153804-354a4780-ff14-11e9-9e72-ca180b410b14.png">
<img width="459" alt="Screen Shot 2019-11-04 at 2 56 00 PM" src="https://user-images

[2019-11-04 20:18] morganchen12 commented on #4230
Try deleting your build cache and DerivedData and rebuilding.

[2019-11-04 20:36] moriah-hammond commented on #4230
ended up having to delete the Firebase.framework, the ensuring all other frameworks were set to Do not Embed, on the general tab under frameworks, libraries, and embedded content

[2019-11-04 20:37] #4230 closed

[2019-11-04 21:27] morganchen12 commented on #4230
Awesome, glad you could get it working!

[2019-11-05 00:46] chliangGoogle commented on #4205
@Decsunshine  can you also share the stack trace of **ALL** the threads?

[2019-11-05 02:29] result0924 commented on #4132
is there any update on this?
thanks

[2019-11-05 03:00] xspyhack commented on #4209
GDT v3.0.1 still crash.

[2019-11-05 03:12] morganchen12 commented on #4209
@xspyhack please file a new issue.

[2019-11-05 03:14] AbbanMustafa commented on #4157
@Bilonik did you find a solution?

[2019-11-05 03:25] morganchen12 commented on #4132
Hey @result0924, dmandar is on vacation and will be back to take a look at this issue soon. In the meantime can you share some debug logs from your app? You can enable debug logging by passing the following launch arguments to your app: `-FIRDebugEnabled`, `-FIRAnalyticsDebugEnabled`

[2019-11-05 03:47] xspyhack opened #4237 "[NSKeyedArchiver archivedDataWithRootObject:requiringSecureCoding:error:] crash in [GDTCORStorage appWillBackground:]"
### Environment
  * Xcode version: Xcode 10.3
  * Firebase SDK version: 6.10.0
  * Firebase Component: Messaging, Analytics
  * Component version: 6.10.0
  * GDT version: 3.0.1

### Problem
`Fatal Exception: NSInvalidArgumentException +[NSKeyedArchiver archivedDataWithRootObject:requiringSecureCoding:error:]: unrecognized selector sent to class  __35-[GDTCORStorage appWillBackground:]_block_invoke

[2019-11-05 05:02] xiao99xiao opened #4238 "Firebase Performance logs too much when data collection disabled"
* Xcode version: 11.2
  * Firebase SDK version: 6.11.0
  * Firebase Component: Preformance
  * Component version: 3.1.5

#### Steps to reproduce:

I have `isInstrumentationEnabled` & `isDataCollectionEnabled` set to false, then run the app from Xcode in Debug mode, Performance begins infinite logging complaining things like below
[code]
One or two logs like that are usually ok. But currently, I go

[2019-11-05 05:42] phaninderkumar commented on #4167
Thanks @chliangGoogle for the quick fix. May I know when the release would be available please?

[2019-11-05 06:02] JohnnyTseng commented on #3929
Thanks @visumickey , we can confirm that removing performance SDK does fixed this issue temporarily. Still expecting a fix for this issue, Thanks!

[2019-11-05 06:32] result0924 commented on #4132
When Launch
[code]

When oepn dynamic links
[code]

Sorry for only can show debug log in simulator

[2019-11-05 08:55] vincenzo-favara commented on #4157
Same problem here. no update?

[2019-11-05 09:53] rockwotj commented on #4216
Hello! Thanks for your suggestion, since the Firestore backend doesn't support this behavior, the clients can't either. Can you open up a Feature Request  against the backend [here](https://issuetracker.google.com/issues/new?component=530136&template=0)?

[2019-11-05 11:06] alekseitsyss opened #4239 "Crash at line -[GDTStorage encodeWithCoder:] in GDTStorage.m, line 268"
Xcode version: 10.3

**Podfile.lock contents related to the Firebase:**
  - Firebase/Core (6.11.0):
    - Firebase/CoreOnly
    - FirebaseAnalytics (= 6.1.3)
  - Firebase/CoreOnly (6.11.0):
    - FirebaseCore (= 6.3.2)
  - Firebase/Firestore (6.11.0):
    - Firebase/CoreOnly
    - FirebaseFirestore (~> 1.6.1)
  - Firebase/Messaging (6.11.0):
    - Firebase/CoreOnly
    - FirebaseMessaging (~> 4.1.

[2019-11-05 12:09] AbubakerMajeed commented on #4177
strange it quick easy to produce, I will share a repo with you today. Although i shifted to another otp sms solution. but it great if we have a fix.

[2019-11-05 15:13] peacemoon opened #4240 "Crashed: com.google.GDTCCTPrioritizer"
### [READ] Step 1: Are you in the right place?
yes

### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 11.1
  * Firebase SDK version: 6.9.0
  * Firebase Component: Core, Messaging, Analytics, InAppMessaging
  * Component version: 6.9.0

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:
We have a lot of crash report regarding com.google.GDTCCTPrioritizer
[code]

[2019-11-05 16:09] baolocdo commented on #4176
@ansonl : Thanks for the reproduction steps. The issue is that `registerDefaults` will set values to all of the user defaults even with different domains from the shared user defaults.
We have identified the issue and will release the bug fix in the next release.

[2019-11-05 16:42] morganchen12 commented on #4157
If you're running into the same crash, please share a stack trace of the crash.

[2019-11-05 16:44] morganchen12 commented on #4237
@xspyhack can you share your iOS version as well? Is this issue consistently reproducible?

[2019-11-05 17:43] #4216 closed

[2019-11-05 20:16] mikehaney24 commented on #4240
Make sure to update your cocopoads, also, which specific version of iOS 13?

[2019-11-05 22:18] #4157 closed

[2019-11-05 23:29] visumickey commented on #4238
@xiao99xiao Currently these are log messages that are displayed only on one of the higher levels of verbosity. Can you double check if you have a high level of verbosity. Check for environment variable "-FIRInfoEnabled" in your app's scheme definition?

When set to -FIRDebugEnabled, these load of log messages should not be seen.

[2019-11-06 01:42] #1744 closed

[2019-11-06 01:45] JohnnyTseng commented on #3929
Hi @visumickey @paulb777
I've seen there is a new version 6.12.0.
Does the latest release fixes this issue? The change log haven't been updated yet on Firebase website

![Screen Shot 2019-11-06 at 09 44 11](https://user-images.githubusercontent.com/2656519/68261147-27aed200-007a-11ea-8fd8-97ee53b1f005.png)

Thank you!

[2019-11-06 01:48] paulb777 commented on #3791
This should be fixed in today's Firebase 6.12.0 in which the zip and Carthage distros are built with Xcode 11 instead of Xcode 10.

cc: @maksymmalyhin

[2019-11-06 01:57] xspyhack commented on #4237
@morganchen12 This is iOS 11 only issue, and I don't think it is consistently reproducible.

[2019-11-06 02:06] morganchen12 commented on #4237
Does it occur on jailbroken devices only?

[2019-11-06 02:39] xspyhack commented on #4237
Nope, most devices are iPhone 6 and in background.

[2019-11-06 05:01] Usman4Github opened #4246 "unlink provider doesn't remove the email of the provider"
**[READ] Step 1: Are you in the right place?**

yes

**[REQUIRED] Step 2: Describe your environment**

Xcode version: 11.1
Firebase SDK version: 6.9.0
Firebase Component: Auth, AuthUI
Component version: 6.2.3

**[REQUIRED] Step 3: Describe the problem**

When trying to remove a provider using unlink method the firebase removes it from the list but it does not remove the email id of the provider fr

[2019-11-06 06:14] kennic commented on #4207
We have the same issue that causes our Crash-free value dropping, please fix.

[2019-11-06 07:05] olejnjak commented on #3791
I'm afraid that I'm experiencing the same issue even with 6.12.0 release. Calling `GIDSignIn.shared.signIn()` almost immediately fails with error `The operation couldn’t be completed. (org.openid.appauth.general error -3.)`

[2019-11-06 08:20] cooksimo opened #4247 "Firebase Analytics + GTM unexpected behaviour"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.3
  * Firebase SDK version: 6.8.1
  * Firebase Component: Analytics + GTM
  * Component version: 6.8.1

### [REQUIRED] Step 3: Describe the problem

When using Firebase Analytics + GTM we are seeing some strange behaviour. Specifically, firing an event that triggers a tag that includes a Firebase User Property variable that cu

[2019-11-06 08:47] Decsunshine commented on #4205
@chliangGoogle

stack traces

[code]

[2019-11-06 09:53] rizafran commented on #4246
Hi @Usman4Github , thanks for reporting. I was able to replicate the same issue on my end. I'll confirm internally to see if this is an intended behavior or bug, and I'll let you know once I have an update.

[2019-11-06 13:39] alex-ost commented on #2011
+1

[2019-11-06 14:00] JohnnyTseng commented on #3929
Hi @visumickey
Does version 6.12.0 fixes this issue? The latest change log of performance section didn't mentioned about this issue. Wondering if it is deployed in this version, Thanks!

<img width="497" alt="Screen Shot 2019-11-06 at 21 59 51" src="https://user-images.githubusercontent.com/2656519/68304476-cc63fa80-00e0-11ea-90ff-a11c332416c5.png">

[2019-11-06 14:54] cambronjay commented on #4027
@mikehaney24  i am still experiencing an issue in 6.11.0 Any chance there will be a fix soon?

[2019-11-06 15:27] paulb777 commented on #4027
@cambronjay 6.12.0 was released yesterday.  However, since no one else has reported this problem that would break any zip distribution usage, it seems highly likely that there is something going on with your particular configuration.

[2019-11-06 18:30] leandromperez commented on #4154
Hi,
We're experiencing crashes that yield the following stack trace (which looks kinda similar to this issue).

Do you think that it could be the same bug?
[code]

Thanks!

[2019-11-06 19:21] paulb777 commented on #3791
@olejnjak Thanks for the report and sorry about that.

It turns out we had a problem with the release scripting and that the Carthage distribution was still built with Xcode 10. We plan to fix in the next release.

In the meantime, a workaround for Carthage users is to use `GoogleSignIn.framework` from the [zip distribution](https://github.com/firebase/firebase-ios-sdk/releases/tag/6.12.0).

[2019-11-06 19:51] inPhilly commented on #3136
It's difficult if you don't use CocoaPods... I have a legacy Objective-C project that I'm trying to integrate Firebase into. It doesn't use CocoaPods because there were so many issues. I just spent an hour manually integrating Firebase and Crashlytics and get this error:

*** Terminating app due to uncaught exception 'FIRAnalyticsVersionMismatch', reason: 'Google Analytics for Firebase version (60

[2019-11-06 19:53] skuske opened #4253 "[BUG]: Crash in RCNConfigDBManager.m line 246 -"
### [READ] Step 1: Are you in the right place?

Yes, I think so... :o)

### [REQUIRED] Step 2: Describe your environment

  * Xcode version: Version 11.1 (11A1027)
  * Firebase SDK version: 6.11
  * Firebase Component: Analytics, Fabric, Crashlytics

### [REQUIRED] Step 3: Describe the problem

**ATT: the project (a Today Extension) does _NOT_ use RemoteConfig, but the crash occurs in a RemoteConf

[2019-11-06 20:06] paulb777 commented on #3136
@inPhilly It looks like you have a `FirebaseAnalytics.framework` and `GoogleAppMeasurement.framework` from two different distributions.

Firebase does have an experimental Carthage distribution. See https://github.com/firebase/firebase-ios-sdk/blob/master/Carthage.md

[2019-11-06 20:16] paulb777 commented on #4253
@skuske Thanks for the report. This might be related to #4226.  FirebasePerformance depends upon FirebaseRemoteConfig.

cc: @visumickey

[2019-11-06 20:23] paulb777 commented on #4154
@leandromperez It looks like it. Are you using nanopb 0.3.904?

[2019-11-06 20:33] leandromperez commented on #4154
@paulb777 it's 0.3.901

[2019-11-06 21:20] paulb777 commented on #4154
@leandromperez In that case, please create a new issue with the backtrace and `Podfile.lock`

[2019-11-06 21:54] peacemoon commented on #4240
We install Firebase manually.

In the screenshot are the distribution of iOS 13 where the crashes occur.

![Screenshot 2019-11-06 at 22 53 29](https://user-images.githubusercontent.com/478757/68341220-4ba8fc80-00e8-11ea-90ba-af1410c0056d.png)

[2019-11-06 22:10] pives opened #4255 "error installing on device via Carthage"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: Version 11.2
  * Firebase SDK version:  latest via carthaeg binaries as of Nov 5
  * Firebase Component: MLVision (Auth, Core, Database, Firestore, Messaging, Storage, etc)
  * Component version: _____

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

Error installing on Device or Simulator. (via Carthage bu

[2019-11-06 22:17] paulb777 commented on #4255
I suspect this step was missed in the instructions:

- Please note that you shouldn't add the Firebase frameworks to the Carthage build phase (copy-frameworks). The frameworks contain static libraries that are linked at build time.

[2019-11-06 22:28] paulb777 commented on #4237
According to #4209, this issue only occurred on a beta version of iOS 11.  Please check that the issue occurs on a production version.

[2019-11-06 23:01] zdnk commented on #3913
any update on this issue?

[2019-11-06 23:32] pives commented on #4255
I thought it was only the Firebase.framework that should not be added.. Is this not the case? @paulb777

[2019-11-06 23:36] pives commented on #4255
@paulb777 you are correct one of the framework files snuck into my copy frameworks script on last build. :/

[2019-11-06 23:36] #4255 closed

[2019-11-07 01:59] xspyhack commented on #4237
Thanks @paulb777, I'm pretty sure this issue only occurred on beta version of iOS 11.0(15A5327g).

[2019-11-07 01:59] #4237 closed

[2019-11-07 02:23] xiao99xiao commented on #4238
@visumickey You are right, I set `-FIRDebugEnabled` and then the log was gone. Even after I removed that flag, the log still stays neat now.
Thanks you so much!

[2019-11-07 02:23] #4238 closed

[2019-11-07 07:11] rizafran commented on #4246
Hello @Usman4Github this is an intended behavior. What happened here was that, the top-level email was populated when you signed up with Facebook/Google provider. In your case, the top-level email (which is the Google provider) remains in the list after unlinking it to the phone number.

[2019-11-07 07:18] Usman4Github commented on #4246
Hello @rizafran, thanks for quick response and findings.

ok thats understood that it keeps the email as top level even after unlinking. so after that when ever that user will try to login with gmail using that email. it wont allow to login with an error of email already used or attached. is there any solution for it?

[2019-11-07 08:27] professorbk opened #4261 "[BUG] Build errors when implementing InAppMessagingDisplayDelegate"
### [REQUIRED] Describe your environment

  * Xcode version: 10.1
  * Firebase SDK version: 5.8.1
  * Firebase Component:
        pod 'Firebase/Core'
        pod 'Firebase'
        pod 'Firebase/InAppMessagingDisplay'
        pod 'Firebase/DynamicLinks'
        pod 'Firebase/Messaging', '5.8.1'
        pod 'Fabric', ~> 1.10.2
        pod 'Crashlytics', ~> 3.13.2
        pod 'GoogleAppMeasurement',

[2019-11-07 10:52] rizafran commented on #4261
Hi @professorbk Looks like you're still using an older version of Firebase SDK. Please update your SDK to the [latest one](https://firebase.google.com/support/release-notes/ios). If the issue persists, you may provide a [minimal repro](https://stackoverflow.com/help/mcve) that I can run locally to replicate the issue.

[2019-11-07 11:39] rizafran commented on #4239
Seems related to #3623

[2019-11-07 12:07] alekseitsyss commented on #4239
That's right. The issue was expected to be addressed in 6.7.0. The other day 6.12 was released, but the issue is still there.

[2019-11-07 12:44] juanscolari commented on #3145
Is there an estimated date when this feature will be released?

[2019-11-07 15:03] paulb777 commented on #4239
GDTStorage was renamed to GDTCORStorage several releases ago.  Please make sure to update to a recent version of the GoogleDataTransport pod.

[2019-11-07 15:11] mikelehen commented on #3817
I'm marking this needs-info since we have no way to reproduce this.  To move forward it would be helpful to answer the questions in https://github.com/firebase/firebase-ios-sdk/issues/3817#issuecomment-532292401.

[2019-11-07 15:44] mikelehen commented on #3951
@flyingbacon Based on the callstack it looks like the crash is actually happening in iOS CoreFoundation code, not in Firestore, which would be pretty strange.  As a sanity-check, can you just call `[NSBundle bundleWithIdentifier:@"org.cocoapods.grpcpp"];` directly from your code and see if it works?

Also, just to confirm, the problem only happens if you have Chinese characters in the app name?  C

[2019-11-07 16:31] cambronjay commented on #4027
@paulb777 The issue has been reported in a different thread, but i believe you have closed it. I will retest with 6.12.0 and see if the issue is resolved.

[2019-11-07 16:38] paulb777 commented on #793
CocoaPods 1.9.0 adds `pod lib lint` support for collecting coverage. See https://github.com/CocoaPods/CocoaPods/pull/9302

[2019-11-07 17:33] valzevul opened #4263 "[BUG] FirebaseApp.allApps returns only apps configured within the same module"
### [READ] Step 1: Are you in the right place?
Yes.

### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 11.1
  * Firebase SDK version: 6.1.0
  * Firebase Component: Core
  * Component version: 6.1.0

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

`FirebaseApp.allApps` returns only apps configured within the same module. So if there are multiple modules (`m

[2019-11-07 17:50] paulb777 commented on #4263
What exactly do you mean by "module"?

[2019-11-07 17:57] valzevul commented on #4263
@paulb777 module as in a separate framework within the project which incapsulates some app's logic (in the example above all network related code is stored in a `moduleNetwork`, which was created as File -> New -> Target... -> Framework and is getting imported by other modules whenever I need to make a network call).

[2019-11-07 18:06] LeXa777 commented on #3145
I doubt we will get any meaningful response, other then, 'we're working on it - should be out soon, blah blah'. I'm about to submit my app for review without the Apple Sign In button in a week or so and I'm a bit worried, but fingers crossed Apple is still flexible on this as otherwise I'm screwed.

[2019-11-07 18:22] aplourde commented on #3145
We've submitted 3 versions since the release of iOS 13 without Apple Sign In (we do offer Google, Facebook and usr/pwd authentication). Apple never complained about it yet !

[2019-11-07 18:24] giladrom commented on #3145
Same. I had Google, Facebook and Email logins enabled. I’ve since removed Google but still have Facebook and Email, Apple doesn’t care (for now).

[2019-11-07 18:28] cpboyd commented on #3145
FYI existing apps have a slightly longer period to add Apple Sign-in.

The exact wording makes it sound like **NEW** apps **must** have Apple Sign-in (if they offer any third-party sign-in services) if they want to be approved.

As I'm sure we're all well-aware, new apps typically go through a more stringent approval process than updates.

[2019-11-07 18:36] LeXa777 commented on #3145
Great, thanks for confirming that folks, I guess I can be more relaxed now 🤠

[2019-11-07 18:39] paulb777 commented on #4263
@valzevul Firebase is a linked statically and can only be linked once into an app. It cannot be linked into multiple dynamic frameworks.

[2019-11-07 19:01] valzevul commented on #4263
@paulb777 I see, thanks for the clarification.

It also seems that the answer in #4080 contradicts with yours, as there the comment mentions that using the same FIR instance from different frameworks actually works:

Would you have any advice on working around that issue?

[2019-11-07 19:35] paulb777 commented on #4263
Having multiple copies of Firebase linked can lead to non-deterministic behavior.

To use Firebase in multiple modules, they should be statically linked so that Firebase only gets included once in the app.

[2019-11-07 20:22] KabukiAdam opened #4265 "[BUG] Crash in FIRRemoteConfig.m"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 11.1
  * Firebase SDK version: 6.10.0
  * Firebase Component: Remote Config
  * Component version: 4.4.3

### [REQUIRED] Step 3: Describe the problem

After releasing the latest update to our app, we've started to see this crash in the crash logs.
Seems to be affecting about 5% of users.
Happens on both iOS 12 and iOS 13 devices.

[2019-11-07 21:16] paulb777 commented on #4265
This is likely related to the other crashes involving FirebasePerformance and FirebaseRemoteConfig.

[2019-11-08 02:25] professorbk commented on #4261
@rizafran thank you very much for your support. problem was resolved after I updated latest Firebase SDK.
InAppMessagingDisplayDelegate is available since FirebaseInAppMessaging 0.13.0 (mine was 0.11.0).

I think we should add a note for the below guide, something like "InAppMessagingDisplayDelegate requires Firebase version x.x.x or higher".
https://firebase.google.com/docs/in-app-messaging/modif

[2019-11-08 02:25] #4261 closed

[2019-11-08 04:16] flyingbacon commented on #3951
<img width="419" alt="snapshot" src="https://user-images.githubusercontent.com/20447785/68448529-bb210800-021e-11ea-92a3-8bc049dcf4d5.png">

I call [NSBundle bundleWithIdentifier:@"org.cocoapods.grpcpp"]; like the image show, and it work fine.

About the app name with chinese characters,  this is how I setting it
Packaging > Target > Display Name
chinese : 中文 (crash)
english : English (work)

and

[2019-11-08 07:27] rizafran commented on #4246
No worries, @Usman4Github.

When you sign in again with Google after unlinking, if it's already existing with the same email, the Google credential will automatically merge with that account.

Currently, you can only change your email and unable delete it.

[2019-11-08 08:34] adithyareddyZ opened #4268 "Firebase performance sdk crashing in iOS 10 and below versions"
### [READ] Step 1: Are you in the right place? yes

### [REQUIRED] Step 2: Describe your environment

  * Xcode version: _10.2____
  * Firebase SDK version: __6.12.0___
  * Firebase Component: __performance___ (Auth, Core, Database, Firestore, Messaging, Storage, etc)
  * Component version: _____

### [REQUIRED] Step 3: Describe the problem
https://github.com/firebase/firebase-ios-sdk/issues/3851

[2019-11-08 09:26] ksilz commented on #3145
The [Apple guidelines](https://developer.apple.com/news/?id=09122019b) seem pretty clear:
- **New** apps must have Apple Sign-in now if they offer any third-party sign-in services.
- **Existing** apps (probably as in "in App Store already before September 12") with third-party sign-in service must have Apple Sign-in by April 2020 at the latest.

[2019-11-08 10:29] valzevul commented on #4263
@paulb777 thank you for the explanation. I think this issue is resolved then.

[2019-11-08 10:29] #4263 closed

[2019-11-08 10:58] rizafran commented on #4177
Hi @AbubakerMajeed apologies, but I can't reproduce the behavior you encountered so I asked for an [MCVE](https://stackoverflow.com/help/mcve) in order to replicate it on my end and determine what's causing it.

[2019-11-08 14:52] paulb777 commented on #4268
@adithyareddyZ Please share the backtrace and `Podfile.lock`.  #3851 was specifically a 32 bit device issue that was resolved with the Protobuf 3.9.2 release.

[2019-11-08 14:54] rmatihara opened #4269 "Failed to iterate leveldb directory: Could not open directory (errno 2: No such file or directory)"
### Describe your environment

  * Xcode version: 11.2
  Firebase Component: Firestore
  Using Firebase (6.12.0)
  Using FirebaseAnalytics (6.1.5)
  Using FirebaseAuth (6.3.1)
  Using FirebaseCore (6.3.3)
  Using FirebaseDatabase (6.1.2)
  Using FirebaseFirestore (1.7.0)
  Using FirebaseInstanceID (4.2.7)

### Describe the problem

Our app, on many devices is crashing with this error code. I could

[2019-11-08 15:05] adithyareddyZ commented on #4268
Using Firebase Performance Carthage version 6.12.0.

Yes, it is just happening in the 32-bit devices(iPhone 5 and 5c), specific for iOS 10.3.x versions.

Here's the stack trace :

Crashed: PHTFlatFilePhenotype
EXC_BAD_ACCESS 0x0000000017ad138b

Crashed: PHTFlatFilePhenotype
0  Zomato                         0x5364cc GPBCodedInputStreamReadDouble + 5715148
1  Zomato                         0x5364c5

[2019-11-08 15:10] paulb777 commented on #4268
@adithyareddyZ Please make sure that the Protobuf.framework that is being linked into your app comes from version 6.12.0 and not an older version.

[2019-11-08 16:24] mikelehen commented on #4269
@rmatihara Thanks for the report. I will see if I can figure out what's going on.  In the meantime:

1. You reported the latest SDK version (FirebaseFirestore 1.7.0), but the callstack you included looks like it's coming from an older version of the SDK (FirebaseFirestore 1.5.1 or older).  Can you try to find out what version(s) of the SDK are actually producing the crash?  And if possible, get a

[2019-11-08 16:37] mikelehen commented on #4269
Two more notes / questions:

1. Do you know of anything interesting / unusual about how your app is configured especially with regard to file structure / protection / etc.  For instance are you using [iOS Data Protection](https://pspdfkit.com/blog/2017/how-to-use-ios-data-protection/)?
2. If you are desperate for a workaround, you could set the cache size to unlimited (kFIRFirestoreCacheSizeUnlimi