[2019-02-01 20:23] GetyUp commented on #434
With Firestore going GA yesterday, macOS support would be fantastic!

[2019-02-01 21:06] wilhuff commented on #434
Until Firebase more broadly supports macOS, macOS support is a community endeavor. That said, #2241 made the required changes and added support in the podspec.

This FR remains open because we still haven't gotten this integrated with our CI environment, but it should work.

[2019-02-01 23:12] #1806 closed

[2019-02-01 23:18] morganchen12 commented on #2148
Closing since this issue has staled; please comment and I'll reopen it.

[2019-02-01 23:18] #2148 closed

[2019-02-01 23:21] morganchen12 commented on #2260
@7er0 let us know if this is still an issue.

[2019-02-01 23:21] #2260 closed

[2019-02-02 01:41] paulb777 opened #2339 "Deprecated Crash and Invites should be removed from Firebase pod"
The deprecated Crash and Invites subspecs should be removed from Firebase pod at the next major release.

[2019-02-02 01:50] paulb777 commented on #2073
The value of this is not worth the potential disruption.  A more likely future path is removing the Firebase pod all together, but that is at least two major release away.

[2019-02-02 01:50] #2073 closed

[2019-02-02 01:52] paulb777 opened #2340 "Update Firebase pod to lock subspecs to minor versions instead of patch versions"
We're planning to make this change in Firebase 6 to change its subspec dependencies to be allow patches without a Firebase pod rev for at least the open source libraries.

[2019-02-04 01:12] KonsoltCorp opened #2342 "Missing or insufficient permissions regardless of rule."
* Xcode version: 10.1
  * Firebase SDK version: 5.16.0 also in 5.15.0
  * Firebase Component: Firestore
  * Component version: 1.0.0

### [REQUIRED] Step 3: Updates/additions to documents always fail with the error in the subject. I have even tried to open up the rules and the outcome is the same. The only way the error does not show is if I open up the entire database (match /{document=**} {allow

[2019-02-04 02:08] #2342 closed

[2019-02-04 03:14] jacobg commented on #2100
I'm running into the same issue on my Cordova project, but I'm not using `Google/SignIn`. The `Podfile` and `Podfile.lock` are below. Do you see something wrong?

[code]

[code]

[2019-02-04 05:16] jacobg opened #2343 "GULAppDelegateSwizzler not accessible"
### [READ] Step 1: Are you in the right place?

Yes.

### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.1
  * Firebase SDK version: 5.16.0
  * Firebase Component: GoogleUtilities (Auth, Core, Database, Firestore, Messaging, Storage, etc)
  * Component version: 5.3.7

### [REQUIRED] Step 3: Describe the problem

Following the README.md instructions at to intercept certain AppD

[2019-02-04 09:19] aleh opened #2345 "Firestore: EXC_BAD_INSTRUCTION in com.google.firebase.firestore queue"
### [READ] Step 1: Are you in the right place?

Yes.

### [REQUIRED] Step 2: Describe your environment

  * Xcode version: Version 9.4.1 (9F2000)
  * Firebase SDK version: Firebase (5.5.0)
  * Firebase Component: Firestore
  * Component version: FirebaseFirestore (0.13.0)

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

Not sure. Consistently happens for a single user in pro

[2019-02-04 12:47] indy1981 commented on #1813
it was closed, but still the same, works for a while and then stops for no reason

[2019-02-04 13:25] dimovskidamjan opened #2346 "AdditionalUserInfo `isNewUser` always returns `false`"
Environment

  * Xcode version: 10.1
  * Firebase SDK version: 5.16.0
  * Firebase Component: Auth
  * Component version: 5.16.0

Problem

#### Steps to reproduce:

I've implemented "Authenticate with Firebase Using Email Link in iOS" as per the docs, and in the completion handler of the signIn method I'm trying to check the "isNewUser" parameter, but it's always false.

#### Relevant Code:

The `

[2019-02-04 15:11] paulb777 commented on #2343
@tejasd Shouldn't `GoogleUtilities/GULAppDelegateSwizzler.h` be public since it is in the documentation?

@jacobg A private header in Xcode is still accessible if explicitly imported, so you should be able to work around the issue by adding `#import <GoogleUtilities/GULAppDelegateSwizzler.h>` to your source.  For example, see https://github.com/firebase/firebase-ios-sdk/blob/7c53489e03a2f2a4c4b3d1

[2019-02-04 16:53] wilhuff commented on #2342
Did you intend to close this issue?

[2019-02-04 17:18] wilhuff commented on #2345
Firestore 0.13.0 is more than 10 releases old (from July 2018). If you can reproduce against a newer release we can help. There have been significant changes in our usage of gRPC since this release, so much so that none of the Firestore code in this stack exists anymore.

Please upgrade and we’ll happily reopen and dig in.

[2019-02-04 17:18] #2345 closed

[2019-02-04 17:58] tejasd commented on #2343
The assumption we had was that this would be used by other Cocoapods and not apps, which is why it was internal and not public (and internal is named private in cocoapods).

I'm still not sure what the use case is for apps (because apps control the app delegate, they can just add code to it rather than going through the swizzler?) but perhaps there's something we haven't thought about?

[2019-02-04 18:01] jacobg commented on #2343
Thanks for the replies. The use case is for a Cordova plugin.

I tried:
`#import <GoogleUtilities/GULAppDelegateSwizzler.h>`
But it doesn't find the file. If it's not on HEADER_SEARCH_PATHS, how will it find it?

[2019-02-04 18:12] paulb777 commented on #2343
The GoogleUtilities framework should be in `HEADER_SEARCH_PATHS`

[2019-02-04 19:22] paulb777 commented on #2343
What version of CocoaPods are you using and does your Podfile include `use_frameworks!`?

[2019-02-04 19:38] paulb777 commented on #2343
I believe so - or add `"${PODS_ROOT}/Headers/Private/GoogleUtilities"` to `HEADER_SEARCH_PATHS`

[2019-02-04 19:51] jacobg commented on #2343
Ok thanks

[2019-02-04 23:09] rlepinski commented on #1399
Not an iOS firebase user but our SDK just received an issue report with a similar rejection. Here is an open radar ticket that could help with reproducing the issue - http://www.openradar.me/29741117

[2019-02-05 10:08] aleh commented on #2345
OK

[2019-02-05 12:37] simonbengtsson opened #2350 "StorageReference.putFile completion never called (if file errors)"
* Xcode version: 10.1
  * Firebase SDK version: 5.16
  * Firebase Component: Storage
  * Component version: 3.1.0

When using `StorageReference.putFile` errors such as "no such file" gets silenced and the completion block is never called.

**Relevant Code/Steps to reproduce**

[code]

At first glance it seems like https://github.com/firebase/firebase-ios-sdk/issues/1888 is related, but there it se

[2019-02-05 14:15] mberndt92 opened #2351 "Crash - Bad Access - GULMutableDictionary"
### System Information
  * Xcode version: 10.1
  * Firebase SDK version: 5.15
  * Firebase Component: Networking
  * Component Version: 5.15

### Describe the problem
Firebase crashes our App inside the GULMutableDictionary class inside the method `removeObjectForKey` in line 61 with `EXC_BAD_ACCESS`.
#### Steps to reproduce:
There is no real go-to to reproduce it but it pops up every like 30 seco

[2019-02-05 16:44] ryanwilson commented on #1399
@rlepinski thanks so much for sharing, that's very helpful!

[2019-02-05 18:38] morganchen12 commented on #2351
Duplicate of #1624

[2019-02-05 19:07] renkelvin commented on #2346
@dimovskidamjan Thanks for reporting! It seems a bug of the SDK. I'll let you know when the fix is available.

[2019-02-05 22:58] donnellyk commented on #2283
Also seeing this crash when we added `Firebase/Performance`

[2019-02-06 10:35] bacc3 commented on #2260
I have the same issue:

`While building module 'UIKit' imported from /Users/vasily/Documents/projects/ios/iosdp24/drumpads24/Drumpads-Prefix.pch:12:
While building module 'Foundation' imported from /Applications/Xcode.app/Contents/Developer/Platforms/iPhoneSimulator.platform/Developer/SDKs/iPhoneSimulator12.1.sdk/System/Library/Frameworks/UIKit.framework/Headers/UIKit.h:8:
While building module 'C

[2019-02-06 17:43] wilhuff commented on #2260
In your example, `Pods/leveldb-library/include/leveldb` is on your header search path when compiling Objective-C and CoreFoundation includes a system `Block.h` but it's finding the leveldb C++ `block.h` instead. Your project is misconfigured we just don't have concrete advice on what to change to fix it.

Please share a complete project (including xcode project files and your `Pods` tree) from aft

[2019-02-06 18:49] paulb777 commented on #2201
Closing due to inactivity. We'll reopen with more information.

[2019-02-06 19:13] allenktv commented on #2304
@aleh Is the value for CFBundleVersion being set manually or from a script?

[APMIdentity numericFieldsFromAppVersionNumeric:] expects a String for the value of CFBundleVersion and this crash can happen if that value is not a string. It may also be possible that the info.plist of the one user is getting corrupted where the value for that is no longer a string.

Also does the stack trace have any m

[2019-02-06 22:12] paulb777 commented on #2059
@VValiente We haven't been able to reproduce the issue, so likely need a reproducible example to make progress.

@timurbeg Sounds like there might be an issue with ixguard. I'm not sure we'll be able to help.

[2019-02-06 23:51] var-const commented on #2177
Because there hasn't been any activity for some time, I'll close this issue. If you still experience the issue, feel free to reopen or message me at the address provided above.

[2019-02-06 23:51] #2177 closed

[2019-02-07 00:26] Corrob commented on #793
I can successfully collect code coverage locally with the following steps:
- Pod install
- Open Firebase.xcworkspace
- Configure the test scheme to gather coverage
- Run all tests
- Run "slather coverage --html --scheme AllUnitTests_iOS --configuration=Debug --workspace Firebase.xcworkspace/ Firebase.xcodeproj/"
- This produces
Slathering...
warning: 14 functions have mismatched data
warning: 14 f

[2019-02-07 01:20] paulb777 commented on #793
@Corrob Awesome!

How do you process/visualize the data?

It's probably worth adding the instructions to the `Coverage` subsection to the [Development](https://github.com/firebase/firebase-ios-sdk#development) section on the repo homepage and publicizing it to the team.

[2019-02-07 10:36] aleh commented on #2304
@allenktv Hey Allen, it is set from a script but it is still a string:

[code]

There is one string that is missing in my original stack trace:

[code]

As you can see it does not mention the selector though.

I'd suggest to close this for now, as that was just a single user of a quite high-traffic app.

[2019-02-07 10:36] #2304 closed

[2019-02-07 12:41] kazuhiro4949 commented on #2201
@visumickey @paulb777
 I'm sorry for being late. I made a sample project to reproduce this problem.

https://github.com/kazuhiro4949/PerformanceMonitoringDebug

Install FirebaseSDK from Cocoapods and take GoogleService-info.plist from your firebase project.
If ```Firebase.configure()``` in AppDelegate.swift is removed, ```FooOperation``` catches NSURLConnetionDelegate method and stops an infinity

[2019-02-07 13:56] bacc3 commented on #2260
Hi @wilhuff !
Thank you for your reply. I created a test project that reproduces this error. Link: https://github.com/bacc3/firebaseTestApp

When I try to build this project, I get the error:
`Pods / leveldb-library / include / leveldb / slice.h: 21: 10: fatal error: 'string' file not found`

If you have any ideas or ways to solve this problem, please let me know.

[2019-02-07 14:42] mberndt92 commented on #1624
@morganchen12 : I can still see the issue appearing a lot for us using 5.16.0
Interestingly some of us use AppCode where the issue seems to be absent entirely.

[2019-02-07 18:15] KabukiAdam commented on #933
@mikelehen Hi, I was wondering if you had any info about whether the third issue in your above comment has been fixed yet?  (server getting stuck after ~10MB of writes).

We're experiencing something very similar to this in our own app, except it is actually a bit worse:
- If we write (add) multiple documents consecutively, once we hit ~10MB in total data written, the subsequent writes don't make

[2019-02-07 18:45] mikelehen commented on #933
@KabukiAdam To be honest, I'm not 100% sure the latest state of the backend's flow control behavior which is what we were running into before (if you sent too many big writes too fast, it would behave poorly). I'll see if I can get an update from the backend team.

But the workaround for the prior issue was basically just to throttle yourself.  I.e. if you are writing large amounts of data, try to

[2019-02-07 18:53] KabukiAdam commented on #933
@mikelehen Thanks for your reply.  It would be great to get an update on this from the backend team.

Regarding the workaround, unfortunately this isn't working for us, and we've tried all sorts of throttling and timing to no avail.

For example, if we write one single 100kB document, wait for it to complete, then wait a full several seconds before writing the next 100kB document, etc, then as soo

[2019-02-07 18:54] mikelehen commented on #933
That sounds really bizarre. I'll try to dig into this.

[2019-02-07 18:57] KabukiAdam commented on #933
Thanks. If it helps, the [test app](https://github.com/KabukiAdam/FirestoreLargeWriteTest) I created makes it really easy to reproduce the issue.

[2019-02-07 19:14] mikelehen commented on #933
Yep, I'll give that a try.

And if you're really in a bind for a workaround, try calling [disableNetwork()](https://firebase.google.com/docs/reference/swift/firebasefirestore/api/reference/Classes/Firestore#/c:objc(cs)FIRFirestore(im)disableNetworkWithCompletion:) followed by enableNetwork() periodically. That will restart our network streams, which I suspect will work around the issue.

[2019-02-07 20:25] mikelehen commented on #933
I've reproduced the problem and can confirm this isn't expected behavior. I've opened an internal tracking bug (b/76411277) and am working with the backend team.  We have a hunch what the problem is but even if correct, it could unfortunately be a couple weeks before we can roll out a fix to production.

[2019-02-07 21:26] wilhuff commented on #2260
Your project includes the following in `firebaseTestApp.xcodeproj/project.pbxproj`:

[code]

The problem is `"$PROJECT_DIR/**"`, which is picking up all sources recursively from the root of the project including all files in the `Pods` directory. This shouldn't be necessary and is likely harmful: you should be getting access to the headers for the frameworks you depend upon via the frameworks them

[2019-02-08 03:26] da351hon opened #2364 "FR: proxy support"
### Environment
  * Xcode version: 10.1
  * Firebase SDK version: 5.7.0
  * Firebase Component: Database
  * Component version: 5.0.2

### Problem
My application tried to access Firebase Realtime DB behind corporate HTTP(S) proxy, but failed. FIRAuth returned user information (AuthDataResult), but FIRDatabase did not returned any data.
I'm afraid FIRDatabase does not use HTTP(S) but webSocket.
Cou

[2019-02-08 06:44] emartinson opened #2365 "Push is not coming on Release builds after update from 5.15 to 5.16"
### Environment

  * Xcode version: 10.1
  * Firebase SDK version: 5.16
  * Firebase Component: Core, Messaging
  * Component version: **Core 5.16.0**, **Messaging 3.3.0**

### Problem

Recently I've updated pods using specs:

[code]

which made an upgrade from:
[code]

**The issues is - in DEBUG configuration - I'm receiving Push Notifications. But when exported for Production (AdHoc and AppStore

[2019-02-08 10:03] bacc3 commented on #2260
Yes, it fixed my problem.

Thanks for the help and practical advice, I really appreciate it.

[2019-02-08 10:46] teodorhtec commented on #2365
Same. I'm gettgin this error:
Error Domain=com.firebase.iid Code=1005
on:
- (void)instanceIDWithHandler:(nonnull FIRInstanceIDResultHandler)handler;

[2019-02-08 12:15] kutsin commented on #2365
I faced the same issue I think. Firebase messaging 3.3.0. First install - push is working on iPhone 5s, second launch of the app, push is not working.

[2019-02-08 12:18] kutsin commented on #2365
This how I was sent by firebase support:

Thanks for reaching out.
I'd first suggest updating to the latest version of the SDKs. Try also sending directly to the device and testing with the quickstart, to see if it's a problem with local to the device. If that doesn't help, check out this blogpost on debugging FCM for iOS, which contains lots of useful information - particularly step #4, sending d

[2019-02-08 12:40] ryanwilson commented on #2365
Thanks for the report and sorry about the issues. It sounds like another Firebase SDK is attempting to get `InstanceID` before `Core` is configured. We'll try to track this down to figure out what happened and get back ASAP. If things are broken in production, it may make sense for you to roll back to `5.15.0` for now until we get this resolved.

[2019-02-08 13:39] MasaYanagida commented on #1045
I faced the same issue, however it was the problem about indexing😅
The error shows :
```UserInfo={NSLocalizedDescription=The query requires an index. You can create it here: https://console.firebase.google.com/project/xxx/database/firestore/indexes?create_index=xxxxxxxxx}```

[2019-02-08 14:59] rob-keepsafe commented on #196
Just an fyi, looks like this may have caused a crash (or it's just coincidence that they both relate to a shared instance singleton): https://groups.google.com/forum/#!category-topic/google-admob-ads-sdk/ios/2ePobCo3QNg

We're reverting back to v7.34.0 with the linker warnings ☹️

[2019-02-08 16:01] Constantine-Fry opened #2366 "Memory leak with UIViewController when runnig tests"
Xcode version: Version 10.1 (10B61)
Using Firebase (5.14.0)
Using FirebaseAnalytics (5.4.0)
Using FirebaseCore (5.1.9)
Using FirebaseInstanceID (3.3.0)
Using GoogleAppMeasurement (5.4.0)
Using GoogleUtilities (5.3.6)
Using nanopb (0.3.901)

#### Steps to reproduce:

1. Create clean sample project with `pod 'Firebase/Core'`
2. Implement test case to ensure current view controller is deallocated
[co

[2019-02-08 17:42] paulb777 opened #2367 "Add tests for @testable"
We should insure that Firebase continues to work in developers` tests and to prevent regressions like https://github.com/CocoaPods/CocoaPods/issues/8497

[2019-02-08 19:42] chliangGoogle commented on #2365
emartinson@ do you happen to call any Firebase API before [FIRApp configure] call?

[2019-02-08 21:09] ryanwilson commented on #2365
@emartinson just wanted to check - is the version of Firebase Analytics correct from your pasted output?

The version of Analytics [set with Firebase 5.16.0 still 5.5.0](https://github.com/CocoaPods/Specs/blob/591a2f23485d070aa560252f04ef94b426f27e43/Specs/0/3/5/Firebase/5.16.0/Firebase.podspec.json#L33)

[2019-02-08 21:26] renkelvin commented on #2346
The fix is checked in and will be available in next version (5.3.1)

[2019-02-08 21:32] #2346 closed

[2019-02-08 22:25] BranchS commented on #196
@paulb777 can this be officially reopened, then? thanks!

[2019-02-08 22:33] morganchen12 commented on #196
I'll open a new issue for this, since it's different from (though may be caused by) the original issue.

[2019-02-08 22:36] morganchen12 opened #2369 "Crash in +[GADNSettings sharedInstance]"
The crash was originally reported [here](https://groups.google.com/forum/#!category-topic/google-admob-ads-sdk/ios/2ePobCo3QNg). See [here](https://github.com/firebase/firebase-ios-sdk/issues/196#issuecomment-461970014) for context.

Versions 7.36.0 and higher crash in `dispatch_once` when initializing a singleton.

[code]

[2019-02-08 22:36] morganchen12 commented on #196
https://github.com/firebase/firebase-ios-sdk/issues/2369

[2019-02-08 22:38] morganchen12 commented on #2369
The implementation of `+[GADNSettings sharedInstance]` isn't unusual, so this crash must have some other obtuse reason.

[code]

[2019-02-08 22:43] rob-keepsafe commented on #2369
Thanks @morganchen12 ! I sent the forum member the complete stack trace if it helps. I can also email it to you but it contains private APIs so I'd rather not share it publicly.

[2019-02-08 22:52] morganchen12 commented on #2369
No need to email me for the time being; we'll forward this issue to the team internally and see how they respond.

[2019-02-08 22:55] BranchS commented on #2369
Thanks for everything! Keep us posted. :)

[2019-02-08 22:57] morganchen12 commented on #2369
Filed internally at b/124126325

[2019-02-09 00:15] morganchen12 commented on #2369
Ah, I think I found the issue. The implementation of `+[GADNSettings sharedInstance]` is accidentally recursive, which you can see in the stack trace since it shows up twice.

[2019-02-09 15:05] AnilVarghese commented on #2283
Indeed Firebase/Performance framework is causing the crash.
We are not supporting password autofill in our app, still it crashes. Looks like iOS is internally checking for availabilty of password autofill for textfiled with secure text entry.  We have disabled the firebase performance by setting `firebase_performance_collection_deactivated` to true in Info.plist  as a temporary solution.

To repro

[2019-02-09 19:04] sirshannon commented on #2181
I'm confused.
Are you saying you intend for us to have 2 screen views when we use setScreen or that you intend for us to not use setScreen?

If the only way to have a nice useable "screen" name value is to use setScreen but that won't prevent the nameless duplicate screen views, then we effectively can't set or use screen names at all without ruining the integrity of screen view analytics.

There

[2019-02-09 21:35] tezine opened #2372 "Push notifications working only once in IOS"
Hi, Firebase Push Notifications works only once - on the first launch, after install from XCode.
If I relaunch the app again, messages are not received. All attempts using Postman return "NotRegistered". It's really weird.
I'm using Firebase C++ sdk (downloaded yesterday), Qt and CocoaPods. CocoaPods install the following versions:

  * Xcode version:10.1
  * Firebase SDK version: 5.16.0
  * Fireb

[2019-02-10 09:38] shachar-silbert opened #2373 "Crash in [FSRRunLoopThread main] (FSRWebSocket.m:1839)"
I got a crash in crashlytics that seems to lead streight to a problem in FIRWebSocket.

### ENV:

  * Xcode version: 10.1
  * Firebase Versions and use:
- Firebase/Auth (5.12.0):
    - Firebase/CoreOnly
    - FirebaseAuth (= 5.0.5)
  - Firebase/Core (5.12.0):
    - Firebase/CoreOnly
    - FirebaseAnalytics (= 5.3.0)
  - Firebase/CoreOnly (5.12.0):
    - FirebaseCore (= 5.1.7)
  **- Firebase/Databa

[2019-02-10 14:47] tipoc123 commented on #2365
Please fix the issue as soon as possible. I also have troubles with receiving push messages after updating Firebase to the latest version.

[2019-02-10 18:02] andoma93 commented on #2177
Still crashing here, @ch3n workaround worked for me. Thanks you!

[2019-02-11 03:24] emartinson commented on #2365
I suppose not. We found this issue during regress and checked almost all changes since latest release - no calls before [FIRApp configure]

[2019-02-11 03:29] emartinson commented on #2365
Yes. that's correct. That might happen because we used ~> 5.0 for all Firebase pods:
[code]

I also saw this line during updating cocoapods:

`Installing FirebaseInstanceID 3.4.0 (was 3.3.0 ...`

[2019-02-11 06:17] RajaReddyiOS opened #2375 "FireBase Phone Number Auth on iOS-11.+"
Getting 403 error (Permission_Denied)

{"error":{"code":403,"message":"Requests from this ios client application <empty> are blocked.","errors":[{"message":"Requests from this ios client application <empty> are blocked.","domain":"global","reason":"forbidden"}],"status":"PERMISSION_DENIED"}}

Not sure when i was checking on ios 12 its working fine and when i try same in ios 11. Am getting 403 erro

[2019-02-11 09:42] rcresnik commented on #230
Any options of NOT using plist files?
They're not the most secure way of storing keys in an app and would prefer to not use em.

[2019-02-11 10:49] Lukasz2891 opened #2376 "FirebasePerformance: class_getSuperclass crashes (EXC_BAD_ACCESS) with Realm"
### Step 1: Are you in the right place?

I suppouse.
The crash occurs **only** when a FirebasePerformance is added to the project.
Related with: https://github.com/realm/realm-cocoa/issues/5618

### Step 2: Describe your environment

  * Xcode version: Not dependent
  * Firebase SDK version: 5.0.16
  * Firebase Component: Performance / SwizzlingUtilities
  * Component version: 2.2.2
  * Realm vers

[2019-02-11 11:20] arpitarora-wynk commented on #1691
Facing this crash [APMIdentity updateIdentifiers] on Firebase version 5.9.0.

[2019-02-11 13:40] adrianortuzar opened #2377 "Getting errors when update to lastest version 5.16"
Hi currently I am working in Xcode: Version 10.1

I updated to the latest version of Firebase:

    pod 'Firebase', '~> 5.16.0'
    pod 'FirebaseCore', '~> 5.2.0'
    pod 'FirebaseMessaging', '~> 3.3.0'
    pod 'FirebasePerformance', '~> 2.2.2'
    pod 'FirebaseRemoteConfig', '~> 3.1.0'

I am getting those errors when I am calling RemoteConfig.remoteConfig().fetch

`5.16.0 - [Firebase/Performance]

[2019-02-11 13:53] #2377 closed

[2019-02-11 14:02] adrianortuzar commented on #2377
I found that if you initialise Firebase `FirebaseApp.configure()` first thing in the `func application(_ application: UIApplication, didFinishLaunchingWithOptions`
everything works fine.

[2019-02-11 14:58] BranchS commented on #2339
As well as from the SDK download!

[2019-02-11 15:06] fedefrappi commented on #1399
We've just been experiencing the same as well: our app has been rejected twice during beta app review for 'crashing on startup'.
Our stacktraces indicate that Facebook Core SDK is deadlocking when accessing the keychain but in this release we haven't touched it and have actually added some Firebase Remote Config related code to the app delegate. Maybe the two sdks are conflicting somehow? Anything

[2019-02-11 15:15] ryanwilson commented on #2375
@RajaReddyiOS can you please list what SDK version you're using? It'll help us track down any changes that may have been made.

[2019-02-11 15:19] ryanwilson commented on #2372
Thanks for the detailed report @tezine - does reverting to `5.15.0` solve your problem? I'm wondering if it's related to #2365.

[2019-02-11 17:19] chliangGoogle commented on #2365
@tipoc123 Can you also share the log when you run "pod update"?

[2019-02-11 18:21] tipoc123 commented on #2365
Sorry, I've already updated my pods:
[code]

[2019-02-11 18:25] tipoc123 commented on #2365
Possibly, my push messages are not working because of other reason. For example, my apple developer account is in process of migration from an individual to an organization. I'm waiting for the end of migration and will check push messages again.

[2019-02-11 18:29] chliangGoogle commented on #2365
@tipoc123 Yeah if your apple developer account is updated, your APNS token will change and old FCM token will not work. The client will update with the new FCM token that can be used to send notification.

[2019-02-11 18:58] morganchen12 commented on #2369
@BranchS and @rob-keepsafe, the admob team tells me this is fixed in 7.37 and above. Can both of you try updating your pods and seeing if this issue still occurs in the latest release?

[2019-02-11 22:02] wilhuff commented on #2364
Unfortunately, the Realtime Database does not support HTTP(S) proxies and we've shifted our development focus to Firestore.

Firestore uses gRPC for transport, and that does support proxies. You can set one by setting the `http_proxy` environment variable. We don't yet directly support reading proxy configuration from the system, but this is something that's straightforward to wire together using

[2019-02-11 22:02] #2364 closed

[2019-02-11 22:06] rob-keepsafe commented on #2369
Thanks for the update and for being so proactive about this @morganchen12 ! We're a little gunshy to test out 7.37 since we had to hotfix our last release, but I'll report back once we cross that bridge (feel free to close this for now).

✍️ As a point of feedback, the [release notes for the admob team](https://developers.google.com/admob/ios/rel-notes) aren't very transparent so if the crash was

[2019-02-11 23:52] rubelmusicwould8374 commented on #2369
Admob Account settings please

[2019-02-11 23:53] rubelmusicwould8374 commented on #196
Please help me AdSense Admob Account Adjust Settings All Device

[2019-02-12 14:31] lauriejhouse commented on #1965
How did you get it work? I have most of those pods minus GoogleTagManager and I can't get it to work.

[2019-02-12 16:29] nebiros commented on #16
This is still happening. Confirmed with CocoaPods `1.6.0`. @shtnkgm workaround works. There's a way to set up this search path from the `Podfile`?

[2019-02-12 19:35] mikemike396 commented on #269
Any update on this?

[2019-02-12 23:35] TylerZubke commented on #1965
@lauriejhouse I may have spoke too soon with that comment. It started working for a little bit, then the CoreTelephony errors came back. The only way I was able to get them to go away completely was to add a 1 second delay before initializing Firebase. I only do this delay when the simulator is detected.

[2019-02-13 04:54] gitmoto opened #2385 "*** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'FIRESTORE INTERNAL ASSERTION FAILED: Could not load root certificates from the bundle. SSL cannot work. (expected path)'"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2019-02-13 09:51] animeshp opened #2386 "Custom UI using FirebaseInAppMessagingDisplay crashes app at FirebaseApp.configure()"
* Xcode version: __10.1 (10B61)__
  * Firebase SDK version: __5.16.0__
  * Firebase Component: __In-App Messaging__
  * Component version: __0.12.0__

App crashes as soon as it starts with the following exception:

__Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[FIRAnalyticsConnector unregisterAnalyticsListenerWithOrigin:]: unrecognized selector sent to instanc

[2019-02-13 12:33] ryanwilson commented on #2386
Hey @animeshp - thanks for the report. We recently updated the `FIRAnalyticsConnector` code to use a new method introduced in `FirebaseAnalyticsInterop` but the `FirebaseAnalytics` SDK that implements the method hasn't been released yet.

We have a version that works staged right now on https://github.com/Firebase/SpecsStaging which you can use for testing, but should *not* use this for your produ

[2019-02-13 15:44] mberndt92 commented on #1624
For anyone still struggling with this crash.
What worked for our project is disabling the `NSZombieEnabled` environment variable.
Just remember that this results in a loss of proper Memory Debugging so in case you need to do that, don't forget to re-enable it.

[2019-02-13 16:24] animeshp commented on #2386
Thanks @ryanwilson for replying.

So I wanted to use `FirebaseInAppMessagingDisplay` for implementing my custom UI as per instructions provided [here](https://firebase.google.com/docs/in-app-messaging/customize-messages). But following instructions leads to local pod not being able to find `FIRInAppMessagingRendering.h`, so I had to include `pod 'FirebaseInAppMessaging'`.

This further leads to in

[2019-02-13 17:53] nitinalabur opened #2387 "FirebaseApp.configure() -> [FIRDynamicLinks checkForPendingDynamicLink] memory leak"
### [READ] Step 1: Are you in the right place?
 Yes

### [REQUIRED] Step 2: Describe your environment

  * Xcode version: Version 10.1 (10B61)
  * Firebase SDK version: 5.16.0
  * Firebase Component: Firebase/DynamicLinks
  * Component version: FirebaseDynamicLinks(3.4.0)
  * Swift version: 4.2

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:
following is in my pod file of a

[2019-02-13 18:02] morganchen12 commented on #1624
This does look a little different than the original issue (the crash is caused by a different selector).

I haven't had time to take a look at this yet, but I suspect looking at the ownership of GULNetworkURLSession would be a good place to start.

[2019-02-13 18:03] morganchen12 commented on #2385
Duplicate of #2177

[2019-02-13 18:03] #2385 closed

[2019-02-13 18:57] ryanwilson commented on #2386
Ahh, I was not aware of our instructions to do so. Apologies! One thing you can do in the meantime is instead of relying on master, use the latest release. If you checkout the `5.16.0` branch that should get you back up and running.

[2019-02-13 18:58] ryanwilson commented on #2386
cc: @christibbs @paulb777 - looks like we need to be more careful about temporarily breaking master.

[2019-02-13 19:03] wilhuff commented on #2385
This doesn't have anything to do with how you've instantiating `FirestoreSettings`, which is entirely unrelated. The issue is that very early in Firestore initialization, we load a certificate bundle. That bundle needs to be available to find with `NSBundle`.

Your `Podfile` doesn't actually include `FirebaseFirestore` or `Firebase/Firestore` so it's not clear exactly how you're getting Firestore,

[2019-02-13 19:52] xuaninbox commented on #2283
Any update on this issue?

[2019-02-14 07:59] StackHelp commented on #2138
Same issue here as well
![screenshot 2019-02-14 at 1 27 49 pm](https://user-images.githubusercontent.com/41230403/52771666-7cc63600-305c-11e9-89d0-686a24702693.png)

[2019-02-14 13:04] vitalii-tym opened #2390 "Dynamic links: application(_:continue:restorationHandler:) as suggested in doc never called"
* Xcode version: 10.1
  * Firebase SDK version: 5.16.0
  * Firebase Component: DynamicLinks
  * Component version: 3.4.0

This call never called:
[code]

#### Steps to reproduce:

Set up dynamic links according to the documentation by copy-pasting the suggested code snippets. https://firebase.google.com/docs/dynamic-links/ios/receive
Result: the links are not handled by the application. The Xcode

[2019-02-14 13:18] vitalii-tym commented on #2390
Answering my own problem: the call has changed and the new one looks a bit different now.

It was (and still suggested by current doc at https://firebase.google.com/docs/dynamic-links/ios/receive):

[code]
And the correct one is:

[code]

I personally had the older one in my legacy code and dynamic links simply have stopped working at some point.

This might not be an issue for anyone who adds the

[2019-02-14 14:03] LucasVanDongen commented on #1965
Running
xcrun simctl spawn booted log config --mode "level:off"  --subsystem com.apple.CoreTelephony
in terminal made it go away for me

[2019-02-14 15:43] wilhuff commented on #2138
This comment isn’t actionable.

This issue was filed against Firebase 5.13.0 and was fixed in 5.15.0. If you’re using a version prior to that point, please upgrade. If you’re using Firebase 5.15.0 or later please open a new issue with all the details.

[2019-02-14 18:05] gitmoto commented on #2385
Thank you, Gil!  Simply adding "pod 'Firebase/Firestore'" to both places in the podfile and then running pod install did the trick! Working perfectly now.

[2019-02-14 22:23] Corrob commented on #793
Sorry about the delay, had some other issues pop up.

Slather can also output HTML files that allow you to dig into the coverage.

slather coverage --html --scheme AllUnitTests_iOS --configuration=Debug --workspace Firebase.xcworkspace/ Firebase.xcodeproj/

produces all of these HTML files: https://drive.google.com/open?id=1pIteb1sHho3SeaicbXmSLVcmjRgsxFG0. You can open index.html to start.

I'll

[2019-02-16 03:21] SultanAhmadz opened #2402 "Problem"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2019-02-16 16:40] wilhuff commented on #2402
It looks like you didn’t actually submit the details of your problem. We’ll reopen once you do :-).

[2019-02-16 16:40] #2402 closed

[2019-02-17 07:58] eitanaviv opened #2403 "shouldEstablishDirectChannel issue"
* Xcode version: 10.1
  * Firebase SDK version: 5.16.0 (latest)
  * Firebase Component: Messaging
  * Component version: 3.3.0

#### Steps to reproduce:

I'm building an app for displaying the user real time data updates using firebase messaging notifications. I've implemented all of the required code from the quick start and set `Messaging.messaging().shouldEstablishDirectChannel = true`.

Everyt

[2019-02-17 09:29] engasix commented on #1339
I think this makes sense you are trying to set up the delegate while firebase engine is not yet ready.

[2019-02-17 22:27] DancinDirk commented on #2011
Another vote for this

[2019-02-17 23:01] simonbengtsson commented on #2283
We use firebase performance and have this crash as well. I can't see anything about firebase performance in the crash logs however. I have been able to reproduce it, but not consistently.

[crashlog.txt](https://github.com/firebase/firebase-ios-sdk/files/2873513/crashlog.txt)

[2019-02-18 12:13] dive commented on #1399
Hey @ryanwilson. We have the same issue with {{securityd_message_with_reply_sync}} deadlock (at least it looks like this). We do not use Firebase but I just wonder how did you solve the issue. Just moved all the calls to the keychain to another thread?

[2019-02-18 22:55] animeshp commented on #2386
Thanks @ryanwilson for suggesting to use `5.16.0` branch. I got my implementation for custom UI working in test build.

Do you have any idea if `5.16.0` branch is safe to use in production? Or any timeline to get everything working in master?

[2019-02-19 03:01] CheneyZJ commented on #1059
Hi, did you have some clues for this issue.This crash now rank first in our crash list.

[2019-02-19 09:22] ts95 commented on #1813
I also have this problem

[2019-02-19 10:32] Adnan1990 commented on #1419
These warnings just go away if you remove prefixes  for example `#import<protobuf/Any.pbobjc.h> `should be `#import <Any.pbobjc.h>`

[2019-02-19 18:26] morganchen12 commented on #1059
@CheneyZJ this crash seemingly only appears in older versions of Firebase. Have you tried upgrading?

[2019-02-19 18:26] #1059 closed

[2019-02-19 18:27] morganchen12 commented on #1399
@dive that's more or less what we're doing.

[2019-02-19 18:32] morganchen12 commented on #2403
@eitanaviv what queueing feature are you referring to specifically?

[2019-02-19 18:53] chliangGoogle commented on #1399
@dive Apple documented not correctly setting access control of the keychain could cause blocking on main thread. We added a new fix in the incoming release to always ensure we correctly set the right access control, instead of default value(kSecAttrAccessibleWhenUnlocked), that is too strict for our use case. We think this might be the reason other than calling it from another thread.

[2019-02-20 06:26] saheljalal commented on #1877
This seems really useful as I have data models that store identifiers for other documents and cannot find a simple way to query or fetch multiple records at once unless I'm missing something.

[2019-02-20 07:10] otiasj commented on #1718
I just had the exact same error, it turns out the NewRelic sdk was the culprit.
After removing the NewRelic pod I was able to login using Firebase without crashing.

[2019-02-20 08:10] eitanaviv commented on #2403
@morganchen12 I would like to use the `Direct FCM channel messages` to `reliably receive silent, data-only messages directly from FCM, bypassing APNs when the app is in the foreground` (as the docs says), but i'm also getting this queuing feature as described in the docs `With the direct channel enabled, the FCM backend uses a reliable message queue to keep track of pending messages when the app i

[2019-02-20 09:27] senryxie commented on #1986
Still happening with Firebase/Performance (5.16.0).

[2019-02-20 10:22] Anhelme opened #2408 "Disable sending idfa to Firebase"
Hello, how we can disable sending idfa in iOS Firebase SDK?
We found that we can disable it for Android, but there is no such information about iOS: https://firebase.google.com/support/guides/disable-analytics

[2019-02-20 14:06] yahmad commented on #2293
We have seen a similar issue in our iOS app, but can't give any specific reproduction steps as we have only seen it happen a couple of times in the past few months.

The app seems to break connection with Firestore, with all listeners across the app (including newly created ones) not providing server updates. This may be caused by the app being kept open for an extended period of time (though not

[2019-02-20 15:22] senryxie commented on #1986
@paulb777 Firebase/Performance (5.16.0) is from the Podfile.lock. It's happening in production, I got this from Fabric.
`Crashed: com.google.FPRScreenTraceTracker
0  libsystem_kernel.dylib         0x18189b048 __abort_with_payload + 8
1  libsystem_kernel.dylib         0x181895bdc abort_with_payload_wrapper_internal + 100
2  libsystem_kernel.dylib         0x181895b78 abort_with_payload_wrapper_inter

[2019-02-20 15:26] paulb777 commented on #1986
Thanks - It looks like a different crash, but we may be able to track here. I'll reopen.

[2019-02-20 15:28] rsgowman commented on #2293
The exponential backoff should max out at 1 minute, plus a random jitter factor which could be as high as 1.5x. So 90s should be the absolute maximum backoff delay.

In addition to the logs, it might be helpful to know the network state too. i.e. were you on wifi or cell? Was the network disrupted at all during the test, and if so, for how long? If the cause of the failure has something to do with

[2019-02-20 18:06] allenktv commented on #2408
Hi Anhelme,

Firebase Analytics by default does not send the IDFA and it only sends it if you have the AdSupport framework linked. If you have AdSupport previously linked, you will need to unlink it and have your users update their apps.

For more information, please take a look at: https://firebase.google.com/support/guides/analytics-adsupport

[2019-02-20 18:29] ShlomieRottenberg opened #2410 "[BUG] EXC_BAD_ACCESS KERN_INVALID_ADDRESS errors in [FPRHash fingerprintForString:]"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.1 (10B61)
  * Firebase SDK version: 5.16
  * Firebase Component: Core
  * Component version: 5.2.0

### [REQUIRED] Step 3: Describe the problem

I am monitoring my app via Crashlytics and I am getting a lot of EXC_BAD_ACCESS KERN_INVALID_ADDRESS 0x0000000000000000 errors in [FPRHash fingerprintForString:]

#### Steps to reprod

[2019-02-20 18:39] morganchen12 commented on #2403
There's no way to disable that feature unfortunately. Have you considered using Firestore and observing a document? That way you could change the document every time you wanted to show a new message and then in the client display the contents of the document. Whenever you wanted to not listen to updates, you could just detach the listener.

Alternatively, you can implement a timeout on your client

[2019-02-20 18:58] oflannabhra commented on #230
I'd just like to chime in that we are in the exact same position as others. I don't think we will be able to migrate our other apps from Fabric to Firebase until there is a resolution here.

We have currently implemented a method that configures Firebase at runtime based on the bundle ID detected at runtime, with multiple config plist files.

For us, losing early analytics is **by far preferable**

[2019-02-20 19:13] morganchen12 commented on #2369
Closing for now, please comment again here if this regresses.

Thanks all!

[2019-02-20 19:13] #2369 closed

[2019-02-20 21:09] #2408 closed

[2019-02-20 21:16] paulb777 commented on #2386
The `5.16.0` branch matches the current published release and is safe to use for production.

The docs should be updated to give instructions to point at the last release branch. The master branch is not recommended for production.

[2019-02-20 21:17] paulb777 commented on #2375
Closing for now. Will reopen with more information.

[2019-02-20 21:17] #2375 closed

[2019-02-20 21:19] paulb777 commented on #2372
Closing for now.  Will reopen if it's different from #2365

[2019-02-20 21:19] #2372 closed

[2019-02-20 21:21] #2351 closed

[2019-02-20 21:22] #2343 closed

[2019-02-20 21:23] paulb777 commented on #2333
Closing until there is evidence the issue exists in a recent release.

[2019-02-20 21:23] #2333 closed

[2019-02-20 21:34] paulb777 commented on #2281
Closing for now. Will reopen with more details.

[2019-02-20 21:34] #2281 closed

[2019-02-20 22:31] christibbs commented on #2386
I sent our technical writer a note to update this, will close when the docs are updated.

[2019-02-21 05:50] arunpkumar92 commented on #1896
https://stackoverflow.com/a/54800057/4295614

[2019-02-21 06:26] fschaus commented on #2180
Any update on if/ when such a feature would be exposed through the public API? I can tell from my console logs that the firebase SDK has some logic to identify when the connection is nonexistent, even when the phone (and open libraries like reachability) thinks that it is connected on a wifi/ cell network.

Thanks!
Francois

[2019-02-21 07:07] eitanaviv commented on #2403
@morganchen12 I don't want to use firestore/real-time database so it won't cost me.

How can i reach that?

[2019-02-21 17:09] Renanse commented on #1845
Seeing this same issue on Unity Cloud Build building for iOS.  I was on 5.4.4 and upgraded just now to 5.5.0 and have the issue in both versions.  Has anyone solved this on UCB?

[2019-02-21 18:01] morganchen12 commented on #2403
You can add a timestamp as a parameter to all your FCM sends, and then on the client just compute the time that's elapsed since each send and ignore messages that are too old.

Closing this for now since this isn't a feature we plan on adding, but feel free to continue discussion on this issue.

[2019-02-21 18:01] #2403 closed

[2019-02-21 18:48] paulb777 commented on #2059
Closing for now. Will reopen with additional reproducible data.

[2019-02-21 18:48] #2059 closed

[2019-02-21 18:51] #186 closed

[2019-02-21 23:10] chanuuuu opened #2418 "Linker errors - Undefined symbols for architecture x86_64"
### My environment
* Xcode version: 10.1
* Firebase Component: Analytics

### The problem

I am having linker issues while integrating Firebase using Carthage. I have included FirebaseAnalyticsBinary in my Cart file and linked following frameworks from Carthage/Build/iOS into the target:

<img width="990" alt="screen shot 2019-02-21 at 2 54 16 pm" src="https://user-images.githubusercontent.com/604

[2019-02-21 23:12] chanuuuu commented on #2418
@paulb777 any suggestions on how to fix this?

[2019-02-21 23:18] paulb777 commented on #2418
Looks like nanopb.framework is missing.

[2019-02-21 23:39] pepasflo opened #2419 "`Database.database()` is `nil` despite being `nonnull`"
<img width="742" alt="screen shot 2019-02-21 at 5 27 02 pm" src="https://user-images.githubusercontent.com/25310741/53209009-a227e680-35fe-11e9-9554-33fb11b3fa40.png">

^ _How could this possibly be happening?_ you might ask

<img width="253" alt="screen shot 2019-02-21 at 5 27 25 pm" src="https://user-images.githubusercontent.com/25310741/53209025-b23fc600-35fe-11e9-8f16-4874f782c18c.png">

Oh, t

[2019-02-22 00:01] chanuuuu commented on #2418
Thanks. That resolved my issue.

[2019-02-22 00:01] #2418 closed

[2019-02-22 03:45] ryanwilson commented on #1399
This should be addressed in the most recent 5.17.0 release - with a bonus of InstanceID now being open source as of #2414. Please give it a try and report back if you have issues.

[2019-02-22 03:45] #1399 closed

[2019-02-22 03:45] ryanwilson commented on #2365
This should be addressed in 5.17.0 which was released today. Please re-open if you still have issues.

[2019-02-22 03:45] #2365 closed

[2019-02-22 06:59] hsPark1 opened #2421 "MemoryLeaks on GULObjectSwizzler"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: _10.1_
  * Firebase SDK version: _5.16.0_
  * Firebase Component: _Core, DynamicLinks, RemoteConfig, Performance_
  * Component version: _5.16.0_

### [REQUIRED] Step 3: Describe the problem
Memory leaks on GULObjectSwizzler
#### Steps to reproduce:

#### Relevant Code:
<img width="1040" alt="2019-02-22 3 58 10" src="https://user

[2019-02-22 08:31] mrikh commented on #1691
Facing the same crash. @morganchen12

[code]

The google related pods i'm using:

[code]

[2019-02-22 12:49] ab-rdarts commented on #18
It's strange but I have the same problem with transaction during online
I've tried to add four times 100 to /jars/zv8qmAJ1IKPEQZkOUb0HNz52dB13/values/contributed
As a result I see 300 instead of 400, though I see 4 successful commits

[log.txt](https://github.com/firebase/firebase-ios-sdk/files/2893964/log.txt)

[2019-02-22 13:20] ryanwilson commented on #2419
Hey @pepasflo, sorry for the troubles you're seeing.

A few questions:

- Do you have a sample project or code snippet you can share to reproduce this?
- What version of Firebase are you using?
- Are you calling `FirebaseApp.configure()`
- Is anything being logged to the console when you call `Database.database()`?

The only situation `Database.database()` should fail is if `FirebaseApp.configure(

[2019-02-22 13:22] srvprasadrao opened #2422 "Crashed: com.google.fira.worker apmpb_decode_repeated_setting"
* Xcode version: 10.1
  * Device: iPhoneX
  * OS: 12.1.4
  * Firebase SDK version: 5.9.0
  * Firebase Component: Core
  * Component version: 5.9.0

### [REQUIRED] Step 3: Describe the problem
Crash affecting 0.5% of users in production

#### Steps to reproduce:
Firebase logs does not have any information to create this at our end

#### CRASH LOG
[code]

[2019-02-22 15:17] bstpierr opened #2423 "Add FIRLogger shim unit tests"
See #2374 for context where I refactored the GULLogger implementation.

[2019-02-22 15:19] bstpierr opened #2424 "Refactor GULASLLogger unit tests"
The current implementation does not stub out the `asl` calls and is missing some tests.

See #2374 for context where I refactored the GULLogger implementation.

[2019-02-22 17:37] morganchen12 commented on #2419
@ryanwilson we used to have an assertion there that would fail on access if the database instance wasn't nil. Did we remove that?

[2019-02-22 17:44] ryanwilson commented on #2419
@morganchen12 I'm fairly certain we did not - we do check two things though, if the default app is configured here:

https://github.com/firebase/firebase-ios-sdk/blob/d232d1c30ce2e36dab810324ae67d8867170cc0e/Firebase/Database/Api/FIRDatabase.m#L45

and in this method (called through the `database()` call) we check both the app and the URL and throw an exception if either are `nil`:

https://github

[2019-02-22 17:45] morganchen12 commented on #2419
I've seen this kind of thing happen before if there's duplicate class implementations in the runtime. @pepasflo can you share a sample that reproduces this issue?

[2019-02-22 17:46] pepasflo commented on #2419
Hi @ryanwilson

Thank you for being gracious and tolerant in the face of my crankiness.

A bit of background -- we've had Firebase working in our iOS app, and I needed to spin up a little demo app to try something out.

I created a new Xcode project, installed Firebase DB via cocoapods, dragged in a copy of our plist file from google, renamed the bundle ID of the demo app to match our production a

[2019-02-22 17:50] ryanwilson commented on #2419
No problem at all, this is an ugly bug and hopefully we can track down what's causing this.

Are you able to paste the contents `Podfile.lock` (just relevant Firebase lines are fine) so we can verify versions?

In the meantime I'll take a look to see if I can reproduce this.

[2019-02-22 17:55] pepasflo commented on #2419
Hmm, looks like I ended up with different versions of Firebase between the production app and the demo.

Working production app:

[code]

Demo with nil db:

[code]

[2019-02-22 17:57] pepasflo commented on #2419
Hmm, I'll try recreating that demo and see if I can get it to use the latest Firebase from cocoapods.

[2019-02-22 17:59] ryanwilson commented on #2419
This is super helpful, please do try the latest version and let us know if you get the same issue. I'll be away from the keyboard for a bit but back within the next hour to check in.

[2019-02-22 18:12] pepasflo commented on #2419
Oh, I think I see the versioning issue: I called for `FirebaseDatabase` in the demo, not `Firebase/Database` as in our production app.

[code]

which results in

[code]

[2019-02-22 18:14] pepasflo commented on #2419
Aha.

[code]

[code]

[2019-02-22 18:17] pepasflo commented on #2419
Hmm, same failure in the demo with the latest firebase: `Fatal error: ❌ db is nil`.

I'll see if I can create a new google plist from scratch for the demo.

[2019-02-22 18:22] pepasflo commented on #2419
Nope.  Registered a new app with Firebase, new plist, changed the app ID to match (tv.flosports.ott.staging-livecoverage-demo2), db is still nil.

There must be some setup step I'm overlooking.

[2019-02-22 18:24] pepasflo commented on #2419
Instead of renaming the plist, I went with the default name (GoogleService-Info.plist) and changed the configure line to `FirebaseApp.configure()`, same error (db is nil)

[2019-02-22 18:30] pepasflo commented on #2419
Ok, it turns out this was due to not including `Firebase/Core` in the `Podfile`.

This:

[code]

results in the `db is nil` failure.

This does not:

[code]

[2019-02-22 18:34] ryanwilson commented on #2419
Very interesting, thanks so much for tracking this down.

`FirebaseCore` should be getting pulled in (and I see it there as well), I'm really unsure as to why this is failing. I'll try to find out why Core isn't configuring properly when `Firebase/Core` isn't explicitly included.

[2019-02-22 18:37] paulb777 commented on #2419
Yep, `Firebase/Core` shouldn't be needed for Database to initialize properly.

[2019-02-22 18:38] pepasflo commented on #2419
Hmm, it looks like Core was already listed as a pod dependency on Database, not sure why this is happening.

[code]

https://github.com/CocoaPods/Specs/blob/master/Specs/0/3/5/Firebase/5.17.0/Firebase.podspec.json#L222-L230

[2019-02-22 18:56] tonygentilcore commented on #1399
As another data point, I got rejected with the below stack using 5.16.0 and am resubmitting with 5.17.0 and fingers crossed now.

[code]

[2019-02-22 18:56] ryanwilson commented on #2419
I created an example project, pasted the exact `application(_:didFinishLaunchingWithOptions:)` code above, used my own `GoogleService-Info.plist` and renamed it to `firebase-staging-livecoverage.plist`, and it did not fail.

I get a `Permission Denied` error on the database reference (since there's nothing there and my project has default Auth rules set up.

I tried using `FirebaseDatabase` in the

[2019-02-22 19:02] pepasflo commented on #2419
Ok, full reproduction details:

## Recreate the failing case

- Create a new Single-page iOS project in Xcode, named 'JustFirebaseDatabase'
- Edit the app ID to match that used by your `GoogleService-Info.plist`
- Copy your `GoogleService-Info.plist` into the project
- Create this `Podfile`:

[code]

- run `pod install`

[code]

this will result in the following `Podfile.lock`:

[code]

Replace `A

[2019-02-22 19:04] pepasflo commented on #2419
To summarize, my understanding is that this (missing) single line in the `Podfile` is what causes this issue:

[code]

[2019-02-22 19:12] pepasflo commented on #2419
Here's the difference in resulting installed dependencies in a bit easier to read form:

[code]

[2019-02-22 19:39] ryanwilson commented on #2419
@pepasflo I appreciate the full set of details!

Attempting to match your setup, with any differences that matter in **bold**:

- Created this`Podfile`:
[code]
Only the project name is different.

- ran `pod install`

[code]
Same as your output.

`Podfile.lock` contents:
[code]
**Difference: CocoaPods version.**

Replaced the `AppDelegate.swift` with the exact same code. I didn't bother to place t

[2019-02-22 22:00] allenktv commented on #2422
Hello, do you know when was the first instance of this crash? And did it happen in any other previous versions?

[2019-02-22 22:07] srvprasadrao commented on #2422
We first saw this on iOS 12.1.2 version on 14th Feb 2019. Firebase core version is same 5.9.0

[2019-02-22 22:20] pepasflo commented on #10
I just got Firebase/Database working on tvOS by following the above example app and wanted to provide a TL;DR Podfile for those just getting started with Firebase/Database on tvOS:

[code]

Thanks to those who contributed to this thread!

[2019-02-22 22:32] pepasflo commented on #2419
@ryanwilson oh interesting, I've never had anything trigger that error block yet.

This is what I see in the console:

[code]

Note: what started me down this rabbit hole was trying to get Firebase working on tvOS.  I had created a similar trivial demo app, noticed that it did work, and fell back to creating a trivial iOS demo as a sanity-check (which is what let to this thread).  I'm happy to rep

[2019-02-22 23:19] allenktv commented on #2422
Is it possible for you to update to the latest Firebase version and check to see if you are still seeing the crash? The SDK can be found at: https://github.com/firebase/firebase-ios-sdk/releases

[2019-02-23 00:02] MattThomas1989 opened #2432 "Connecting Firebase SDK to Xcode (tvOS) project"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2019-02-23 02:09] paulb777 opened #2434 "Change minimum supported macOS version from 10.10 to 10.11"
Update the minimum version in all the podspecs
Remove GULLogger warning disabling introduced in #2433

[2019-02-23 02:30] Igor-Poltavtsev opened #2435 "Feature request: disable auto logging of in_app_purchase."
It's needed a way to stop tracking in_app_purchase automatically collected event on iOS.

[2019-02-23 13:38] srvprasadrao commented on #2422
Hi Allen,

We will start publishing the application with latest Firebase version and update this ticket, if we receive any crashes from app users.

Thanks,
Rajesh

[2019-02-24 04:30] nikhilag commented on #1868
We are facing similar issues in our app too. Fetching just 2 or 3 documents from a collection of more than 10,000 documents using a Firestore query is very slow. It has even taken more than 10 second sometimes. @fschaus Did archiving help with the speed?

[2019-02-24 06:18] fschaus commented on #1868
Not really. Right now the only way to make querying doc in large collections work is to disable persistence... Which is really not great since persistence is a key feature but had to make that trade-off as the queries were becoming way too looooong.

@wilhuff Any update on when local indexing might make it to the iOS SDK? Thanks!

[2019-02-24 12:36] madurangae commented on #2188
I'm seeing the same console output message and I'm not using a VPN service. However, everything seems to be working as expected.

I tried running the app on the simulator and on a real device with Wifi and then on LTE connection. The log still appears.

[2019-02-24 19:35] Sunrise17 opened #2438 "Issue goes on with Cloud Messaging Push Notification to iOS device (in 5.17.0)"
**### Environment**

  * Xcode version: 10.1
  * Deployment Target: 12.1
  * Firebase SDK version: 5.17.0 (Updated from 5.16.0)
  * Firebase Component: Core, Messaging
  * Component version: * **Core 5.17.0**, **Messaging 3.3.1**
CocoaPods 1.6.0
Using Bolts (1.9.0)
Using BoringSSL-GRPC (0.0.2)
Using FBSDKCoreKit (4.40.0)
Using FBSDKLoginKit (4.40.0)
Using Firebase (5.17.0)
Using FirebaseAnalytics

[2019-02-25 02:15] fschaus opened #2439 "EXC_Bad_Access on GULMutableDictionnary (Google Utilities)"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: XCode 10.1
  * Firebase SDK version: 5.15.0
  * Firebase Component: Auth, Core, Database, Firestore, Messaging, Storage, Performance
  * Component version: 5.15.0

### [REQUIRED] Step 3: Describe the problem

When running our app in debug mode on the Simulator (tested iPhone 8), the app crashes right away due to an Exc_Bad_Access

[2019-02-25 04:25] longhoang2984 commented on #213
It still happen on v2.0.1

[2019-02-25 07:15] Xiaoye220 opened #2440 "Crashed: com.google.fira.worker EXC_BAD_ACCESS KERN_INVALID_ADDRESS +[FIRInstanceIDKeyPair cachedKeyRefWithTag:]"
### [READ] Step 1: Are you in the right place?

 YES，and this issue looks like #573

### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.1
  * Firebase SDK version: 4.13.0
  * Firebase Component: Firebase/Core (4.13.0)，FirebaseAnalytics (4.2.0)，FirebaseCore (4.0.20)，FirebaseInstanceID (2.0.10):

### [REQUIRED] Step 3: Describe the problem

The number of crashes has increased sh

[2019-02-25 07:49] visumickey commented on #1986
This is indeed a different issue. Curious - Can we know the volume/percentage of this crash?

[2019-02-25 08:43] fekberg commented on #1894
@allenktv Could you please elaborate on how this can be "working as intended" as we get double events reported?

In our situation, the automatic reporting reports the screen without the screenName, if we include `setScreenName` the screen view is reported TWICE. Meaning we get duplicate reports of the same screen view.

Could you be so kind to elaborate? Or let me know if there's something we're m

[2019-02-25 09:23] senryxie commented on #1986
Hi @visumickey, in the last two weeks, there are 72 crashes from 67 users out of around 400k unique users.

[2019-02-25 13:47] ryanwilson commented on #2419
I wonder if the tvOS bug is related to #2157. Is it possible your project has `-ObjC` missing? It shouldn't be the case, but worth a look.

Otherwise, I can help you try to step through this to debug it.

As a very brief overview, `FirebaseCore` has a component system to create, cache, and deallocate the singletons of each SDK. The singleton should be created as follows:

1. `FirebaseDatabase` reg

[2019-02-25 13:53] ryanwilson commented on #2440
@Xiaoye220 thanks for the report - version `4.13.0` is from back in April 2018 and we've had a major version update since then with *many* changes to InstanceID.

Is it possible for you to update to the latest version and see if that resolves the issue for you? The `cachedKeyRefWithTag:` call in InstanceID doesn't exist anymore.

InstanceID is also now open source which should help with tracking t

[2019-02-25 13:53] #2440 closed

[2019-02-25 13:56] ryanwilson commented on #2439
Thanks for the report @fschaus - can you please share a Podfile or list of frameworks you're including with the project that causes this to happen?

A stack trace would be extremely helpful as well, giving us the full stack to see where the call to `removeObjectForKey:` originated from.

If you update to the latest Firebase (`5.17.0` as of this writing) does it happen still?

[2019-02-25 14:04] Xiaoye220 commented on #2440
Thanks a lot :)

[2019-02-25 16:22] bswaidner commented on #2376
Also seeing this issue impact a significant number of users, any ideas?

[2019-02-25 16:26] pepasflo commented on #2419
@ryanwilson thanks for the details steps, I'll set some breakpoints later today

[2019-02-25 16:55] ShlomieRottenberg commented on #2410
i am using Cocoapods with this in the podfile

pod 'Firebase/Core'
pod 'Firebase/Messaging'
pod 'Firebase/Performance'
It was running fine till 01/18/2019, about that time I added a pod and
reran pod install & pod update since then this issue began

On Mon, Feb 25, 2019 at 2:31 AM Visu <notifications@github.com> wrote:

[2019-02-25 16:58] ShlomieRottenberg commented on #2410
This is in the podfile.lock file

- Firebase/Core (4.3.0):
- FirebaseAnalytics (= 4.0.4)
- FirebaseCore (= 4.0.8)
- Firebase/Messaging (4.3.0):
- Firebase/Core
- FirebaseMessaging (= 2.0.4)
- Firebase/Performance (4.3.0):
- Firebase/Core
- FirebasePerformance (= 1.0.6)
- FirebaseAnalytics (4.0.4):
- FirebaseCore (~> 4.0)
- FirebaseInstanceID (~> 2.0)
- "GoogleToolboxForMac/NSData+zlib (~> 2.1)"
-

[2019-02-25 17:08] paulb777 commented on #2410
@ShlomieRottenberg Please upgrade to Firebase 5.x.  If you're having trouble doing that, share the contents of your `Podfile`.

[2019-02-25 17:56] morganchen12 commented on #2439
This is the same as the new crash reported in the comments in https://github.com/firebase/firebase-ios-sdk/issues/1624.

[2019-02-25 18:07] wilhuff commented on #2188
As of iOS 11, Apple's implementation of `CFNetwork` now uses BoringSSL under the covers. This implementation is very chatty in the logs. There's been a bunch of discussion online about this ([example](https://stackoverflow.com/questions/46352735/what-is-tic-read-status-157-in-ios11-xcode-9)).

If everything is working as expected, these are safe to ignore.

[2019-02-25 18:38] paulb777 commented on #2434
From @ryanwilson: "looks like macOS 10.11 can run on all hardware 2009+ (some even in 2007) so I think we'd be safe to bump the version"

[2019-02-25 18:41] kostassite commented on #274
@ryanwilson I tried to implement a solution that doesn't need a major release as it doesn't change the `observe` method signature. I implemented
[code]
a `FIRDatabaseQuery` method that sets a property in `FQueryParams` and then when ask `FPersistenceManager` for a `(FCacheNode *)serverCacheForQuery:(FQuerySpec *)query` I return an null node
[code]
so the observer is not called with the empty node

[2019-02-25 21:14] wilhuff commented on #1868
No update, unfortunately.

Have you tried setting [`cacheSizeBytes`](https://github.com/firebase/firebase-ios-sdk/blob/ba406b652636be7f3841646410174b40c997a895/Firestore/Source/Public/FIRFirestoreSettings.h#L74) to something small (like a few MB)? If yes and this didn't help I'd like to know more.

[2019-02-25 22:18] alexanderkhitev commented on #2435
If this opportunity is made, it will be very good.

[2019-02-25 22:37] KabukiAdam commented on #933
It appears that this issue might be solved? @mikelehen can you confirm?  When I run my test app now, everything seems to work as expected.  We can now write lots of batches in a row, and as long as each batch is under the 500-document/10Mb limit, the server never seems to get "stuck" as it previously did.

[2019-02-26 00:15] wilhuff commented on #1877
You're not missing anything, but at some point realize that Firestore isn't a traditional database, and structuring your data in a way that requires a join is cutting across the grain. If you referenced data is relatively static you may find it easier to denormalize some or all of it into the referring document.

In any case, as I said above, we recognize the value of this operation, but can't pri

[2019-02-26 00:27] saheljalal commented on #1877
Yeah I would have liked to do that but the data as you say may not be static and updates would need to touch many records possibly. Will be great when this gets in.

[2019-02-26 03:31] longhoang2984 opened #2444 "Firebase/Performance pod causing UI API called on a background thread"
### [REQUIRED] Step 2: Describe your environment
* Xcode version: **Version 10.1 (10B61)**_
* Firebase SDK version: _Firebase 5.4.1, ____
* Library version: _FirebasePerformance (2.0.1)____
* Firebase Product: _____ Performance Monitoring

### [REQUIRED] Step 3: Describe the problem
Including Firebase/Performance causes Main Thread Checker to flag a "UI API called on a background thread" error.

#

[2019-02-26 11:00] MamuninaNV opened #2445 "Complition handler InstanceID.instanceID().instanceID is not called after FirebaseApp.configure()"
### [READ] Step 1: Are you in the right place?

Yes

### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.1 (10B61)
  * Firebase SDK version: 5.17.0
  * Firebase Component: Core
  * Component version: 5.3.0

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

following is in my pod file of a new project

[code]

#### Relevant Code:

Completion handler **NEVER*

[2019-02-26 12:05] ab-rdarts commented on #18
@schmidt-sebastian any comments about attached log?

[2019-02-26 13:41] ryanwilson commented on #2445
Thanks for the report, I'll try to reproduce this shortly and report back here. cc @chliangGoogle

[2019-02-26 13:58] MarsVard commented on #1244
Is this issue still open? Our app launches deep links perfectly when it is already installed, but the deep links never persist after install.

When debugging we can see the deep link in the logs with a message saying "Deep link does not contain valid required params" but it does say "Link is uniquely matched for this device" at the same time...

Any suggestions?

[2019-02-26 14:55] paulb777 commented on #2444
@longhoang2984 Please try a more recent Firebase version.  There have been several fixes in recent releases.

[2019-02-26 16:21] ryanwilson commented on #2445
@MamuninaNV I'm unable to reproduce the issue. Are you able to add a print statement and share the logs from the console in Xcode? A project that I can drag my own `GoogleService-Info.plist` into would work as well.

[2019-02-26 16:38] MamuninaNV commented on #2445
[TestFirebase.zip](https://github.com/firebase/firebase-ios-sdk/files/2906474/TestFirebase.zip)
I'm uploading a project.
When you first time to launch the project on your device or simulator you can see the issue (only first time). If project is relaunch on device (or on simulator) you will not see the issue. This issue is occur in first launch on device (simulator)

[2019-02-26 16:39] MamuninaNV commented on #2445
[code]

[2019-02-26 16:46] pepasflo commented on #2419
Hmm, so under the `JustFirebaseDatabase` project, the `[FirebaseDatabase load]` method breakpoint never gets hit.  Under `AlsoFirebaseCore`, it does.

![screen shot 2019-02-26 at 10 44 05 am](https://user-images.githubusercontent.com/25310741/53430185-a44dc480-39b3-11e9-90ca-14e3fa6e836e.png)

I don't even understand how that's possible 😟

[2019-02-26 16:48] paulb777 commented on #2419
Is `-ObjC` included in the `Other Linker Flags` Build Setting?

[2019-02-26 16:52] pepasflo commented on #2419
Ahhh, it is not.

[code]

[2019-02-26 16:53] pepasflo commented on #2419
So, one of these podspecs must be setting `-ObjC`:

[code]

[2019-02-26 16:59] paulb777 commented on #2419
CocoaPods should be adding -ObjC automatically.

[2019-02-26 17:37] allenktv commented on #1894
Hi @fekberg,

What you are doing is correct, unfortunately there is way to get around this issue currently. We are actively working on ways to improve the process of reporting screen views and will update everyone once we do.

[2019-02-26 17:53] ryanwilson commented on #2445
Ah got it, thanks! I found the reason why this is happening:

https://github.com/firebase/firebase-ios-sdk/blob/7cc0a9bc9881c858fdfc5cc06bcb008f4b193b2f/Firebase/InstanceID/FIRInstanceID.m#L899

It looks like `self.isFetchingDefaultToken` is `true` because it's being fetched already as part of the startup of InstanceID when there's no token available. My first thought would be to check if this han

[2019-02-26 18:39] dmandar commented on #2387
Thanks for the feedback. Looks like the issue has been around for a while. We have an internal bug tracking this and will update here once addressed.

[2019-02-26 18:40] dmandar commented on #1489
This should be fixed in the backend now. Please reopen if still occuring.

[2019-02-26 18:40] #1489 closed

[2019-02-26 19:50] pepasflo commented on #2419
So it sounds like the situation is:

- CocoaPods 1.5.3
  - JustFirebaseDatabase
    - **Does not** Automatically adds the `-ObjC` flag
  - AlsoFirebaseCore
    - Automatically adds the `-ObjC` flag
- CocoaPods 1.6.0
  - JustFirebaseDatabase
    - Automatically adds the `-ObjC` flag
  - AlsoFirebaseCore
    - Automatically adds the `-ObjC` flag

[2019-02-26 19:55] paulb777 commented on #2419
Yep. I should have remembered https://github.com/CocoaPods/CocoaPods/pull/7946 sooner when you said you were doing tvOS.

[2019-02-26 20:16] Animaxx opened #2447 "handleUniversalLink returns nil for dynamicLink.url when the dynamicLink has space in iOS"
FirebaseDynamicLinks version: 3.4.0
Xcode: 10.1
Firebase Component: Core, DynamicLinks, Messaging

1.  generate the dynamic link includes space, here is the short link example:
    [https://c9kk4.app.goo.gl/p97R](https://c9kk4.app.goo.gl/p97R?d=1)
    Here is the whole link same as the short link:
    https://c9kk4.app.goo.gl/?link=https://videochat.cccis.com/?pin%3D378259%26session%3Dd2d27f5bfad1

[2019-02-26 20:21] paulb777 commented on #2387
@dmandar Please add the internal bug number reference so other Googlers can track and keep open here until it is fixed.

[2019-02-26 21:57] #1919 closed

[2019-02-26 22:05] dmandar commented on #2387
123259278

[2019-02-26 22:07] jyounus opened #2448 "Error installing BoringSSL-GRPC"
* Xcode version: 10.1
  * Firebase SDK version: Tag 5.17.0
  * Firebase Component: Firestore

I'm trying to add FirebaseFirestoreSwift to my project and I get the following error:
[code]

The same happens if I go for the FirebaseFirestore pod. Anyone got any ideas?

EDIT
I should mention that this is the first time I'm trying to add this pod to my project. I've added Auth, Core, Database, Messagin

[2019-02-26 22:15] mikelehen commented on #933
@KabukiAdam Yes! It looks like the fix did indeed roll out to production, so you should no longer see this going forward.  Thanks very much for your help in tracking it down!

[2019-02-26 22:24] wilhuff commented on #2448
`FirebaseFirestoreSwift` has nothing public within it yet and hasn't been released. We're not supporting it (yet).

With that said, it should still be possible to use FirebaseFirestore. Our [recommended instructions](https://firebase.google.com/docs/firestore/quickstart) are to use these pods:

pod 'Firebase/Core'
pod 'Firebase/Firestore'

It's likely that you're just seeing a really, really old d

[2019-02-26 22:24] #2448 closed

[2019-02-27 03:07] xiao99xiao commented on #2438
I meet exactly the same issue.
And actually it's a bit random whether is able to receive notifications.
I tried on several devices, some always receive, some never did, and some others are completely the same as described by @Sunrise17 .

[2019-02-27 09:15] damianun commented on #230
Very similar issue here, where Analytics prevents us from switching configurations in runtime. Any progress on making Analytics accept dynamic configuration?

[2019-02-27 14:24] julio-rivera opened #2451 "FR: analytics to accept param type of array of strings"
It would be great if the Analytics SDK supported sending an array of strings as a parameter in the method `logEvent`. If I send  { teachers :["Teacher Name 1", "Teacher Name 2"] }, I see an error in the console log "Invalid extra param structure. Must be a dictionary. Parameters: Teacher Name 1, Teacher Name 2" and the parameter is not logged in the DebugView.

  * Firebase SDK version: 5.5.0

[2019-02-27 17:46] pepasflo commented on #2419
Would it be reasonable to add `-ObjC` to the podspec, to prevent other users who aren't on the latest version of cocoapods from hitting this bug?

[2019-02-27 18:02] pepasflo commented on #2419
Just for some perspective, our team is actually still on cocoapods 1.4.0 (I use a more up-to-date version for personal / one-off projects).

_Why would we do this?_

It turns out that different versions of cocoapods, despite being essentially feature compatible, will produce very different Xcode project files.  If you have two team members using different versions of cocoapods, the result is that

[2019-02-27 18:07] pepasflo commented on #2419
Just for reference, here is how we avoid having to type `bundle exec pod` all of the time, to ensure that we use the project's version of pod, and not any other version of pod (e.g. from homebrew):

We have a script called `pod` in our project.  If it finds a Gemfile in any parent directly, it runs `bundle exec pod`.  If not, it uses whatever the system `pod` is.

We then symlink this `pod` script

[2019-02-27 20:33] paulb777 commented on #2419
@pepasflo Thanks for sharing your CocoaPods workflow and all of your input on this bug!

One approach we use to manage CocoaPods and Xcode project files is to simplify them by checking them in after running `pod deintegrate`.  And we're exploring taking advantage of the recently introduced CocoaPods test spec feature to eliminate checking in Xcode project files completely.

I'm hesitant to add wor

[2019-02-27 20:46] visumickey commented on #2376
@bswaidner Curious if you were seeing this issue even with the older versions or is this something that has started only with the recent version of Firebase Performance and Swizzler?

[2019-02-27 21:12] bswaidner commented on #2376
@visumickey We started seeing a jump in crashes with with our release using v5.12.0 and it has continued through v5.16.0

[2019-02-28 01:01] pepasflo commented on #2419
Sounds good, thanks everyone for your prompt and friendly responses on this, especially considering my initial bad attitude.

[2019-02-28 01:01] #2419 closed

[2019-02-28 08:11] zohaib-ehsan commented on #2438
Any update on this? I also tried 5.17. But after the first install, subsequent tokens are not valid. I am also receiving "NotRegistered" error.

[2019-02-28 13:12] ryanwilson commented on #274
Thank you for the attempt @kostassite!

I'm not the expert on Database but @schmidt-sebastian should have more context if this is going to be a problem or not.

[2019-02-28 16:03] maksymmalyhin commented on #2350
Note: The same issue happens when the file ULR points to an empty file.

[2019-02-28 16:15] maksymmalyhin commented on #2350
BTW, I am not sure if uploading an empty file makes sense here... @ryanwilson @schmidt-sebastian, Do you think it does?

It looks like we can throw a validation error in case of the empty file as well, then the issue can be closed by a single PR in the Firebase repo, so `GTMSessionUploadFetcher` can be fixed later.

[2019-02-28 16:30] maksymmalyhin opened #2459 "FIRStorageErrorCode - create a specific case(s) for file validation errors"
It is needed to address the [comment](https://github.com/firebase/firebase-ios-sdk/pull/2458#discussion_r261259170)

Related issue: #2350

[2019-02-28 16:49] ryanwilson commented on #743
@dmandar is this still an issue?

[2019-02-28 19:14] maksymmalyhin commented on #2421
@hsPark1 Thank you for reporting the issue. Would you be able to share a simple test project or at least a code snippet to reproduce the issue?

The ivar `_generatedClass` is deallocated by on `-[GULObjectSwizzler dealloc]` using `objc_disposeClassPair(_generatedClass);`. I could not find a case when `_generatedClass` was leaking after `GULObjectSwizzler` deallocation.

It looks like `GULObjectSwi

[2019-02-28 20:10] maksymmalyhin commented on #793
@Corrob @paulb777 Here is the tool I mentioned - [xcov](https://github.com/nakiostudio/xcov).
It is not as popular as `Slather`, but it generated the output divided by modules without extra work.

Here is a simple version I used for testing (run from `Example` folder):
`xcov --workspace Firebase.xcworkspace --scheme AllUnitTests_iOS --output_directory xcov_output`

A sample output can be found [he

[2019-02-28 21:28] damienix opened #2462 "Google Analytics attribution params not being recorded in dynamic_link_first_open event"
* Xcode version: 10.1
  * Firebase SDK version: 5.16.0
  * Firebase Component: Dynamic Links
  * Component version: 5.16.0/3.4

#### Steps to reproduce:

Hi, I'm struggling to get iOS attribution via dynamic links working on iOS. I'm using dynamic links where I set the UTM parameters. On Android, this is working as I'd expect. When a user installs the app (on mobile) from a dynamic link, their fut

[2019-02-28 22:39] visumickey commented on #2283
@Igor-Palaguta Need one more information to debug this further. Do we know the version of Firebase from where this issue has started spiking?

[2019-03-01 02:23] schmidt-sebastian commented on #2350
I don't think we should reject empty files. After all, this API is going to be user with user-provided files and we should handle all file sizes gracefully for our developers. Supporting empty files is certainly not a high priority but we should support it in the long term.

[2019-03-01 10:38] Igor-Palaguta commented on #2283
@visumickey we started to use Firebase Performance since October 2018. And it was `5.10.0` version.

[2019-03-01 14:40] bettola commented on #2283
We have the same crash on production app

[2019-03-01 19:15] maksymmalyhin commented on #2387
We've looked into the issue and found the reason.

Firebase/DynamicLinks uses `WKWebView` under the hood. `WKWebView` is the reason of the leak. There is a related reported issue: [radar://45854674](http://www.openradar.me/45854674) `WKWebViewConfiguration` is the actually leaking class (an instance of `WKWebViewConfiguration` is required to initialize a `WKWebView`)

The leak can be easily reprod

[2019-03-02 17:47] cody088 commented on #2188
I guess I have similar problem, how you fix it with changing VPN? I am in china now

[2019-03-02 22:17] macoscar commented on #2011
+1 🙏

[2019-03-03 01:03] funct7 commented on #1877
Not the greatest solution, but at least I can say "Well, Google told me to do it." about the denormalized document. 😄Thanks! (Not being sarcastic.)

[2019-03-03 04:16] businessengine commented on #2293
We deployed on iPad, WiFi network only, running for 12hours each day @rsgowman

[2019-03-04 07:27] schmidt-sebastian commented on #274
I think that we can take a lot from the PR you sent over @kostassite. Let me dwell a bit on the API and find suitable APIs for our other platforms as well. If we can avoid a breaking change, then we will be able to release this much faster.

Note that we just implemented this exact feature in Firestore: https://github.com/firebase/firebase-ios-sdk/blob/master/Firestore/Source/Public/FIRDocumentRef

[2019-03-04 08:08] fekberg commented on #1894
@allenktv So what you're saying is that using Firebase for iOS is rather useless? As there's no good way for us to compare Android and iOS tracking when we can't set the screen name.

Is there no way for us to disable the automatic screen view and only do manual reporting with a correct screen name?

[2019-03-04 10:27] ffittschen opened #2465 "Crash in -[TAGHitStore addPendingEvent:]"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: Version 10.1 (10B61)
  * Firebase SDK version: 5.16.0
  * Firebase Component: GoogleTagManager
  * Component version: 7.1.1

### [REQUIRED] Step 3: Describe the problem

We are observing a crash happening in `-[TAGHitStore addPendingEvent:]`.

#### Steps to reproduce:

We are not able to reproduce it yet.

Crashlog:
[code]

[2019-03-04 13:30] andyboyd opened #2466 "Firestore very slow loading from cache"
* Xcode version: 10.1
  * Firebase SDK version: 5.17.0
  * Firebase Component: Firestore
  * Component version: 1.0.1

It's difficult to describe this in a "steps to reproduce" kind of way, but the general problem is that I'm seeing a particular listener being very slow to return when it's first set up when using offline caching.

Our database structure is reasonable complex, we have a collection

[2019-03-04 15:25] paulb777 commented on #2465
Internally reported at b/127275684

[2019-03-04 16:10] mikelehen commented on #2293
@businessengine Thanks!  Unfortunately we'll also still need the logs mentioned by @wilhuff  [above](https://github.com/firebase/firebase-ios-sdk/issues/2293#issuecomment-456916414) in order to get much traction on this issue.

[2019-03-04 17:55] morganchen12 commented on #1894
@fekberg you can [manually track screen names](https://firebase.google.com/docs/analytics/screenviews). You can also disable automatic screen reporting by setting the `FirebaseScreenReportingEnabled` in your Info.plist file to `NO`.

[2019-03-04 18:42] fekberg commented on #1894
@morganchen12 That doesn't seem true.

At leaast not according to this answer on SO here: https://stackoverflow.com/questions/44746794/disabling-firebase-automatic-screen-reporting

[2019-03-04 18:51] morganchen12 commented on #1894
You're right, sorry for the confusion. You'll have to manually override all of the screen names, since there's no way to disable automatic reporting of screens that haven't had an explicit name set.

[2019-03-04 18:57] mikelehen commented on #2466
Thank you for the report and sorry you're running into perf issues. :-(  A couple notes:

I think I understand part of what's happening here and there's a relatively simple optimization we should be able to make.  Right now, when you do a query over a collection (e.g. /groups/123/threads), we actually end up enumerating and parsing documents in subcollections _underneath_ the collection as well (e

[2019-03-04 19:38] fekberg commented on #1894
The point is that it then reports DOUBLE, which is terrible.

[2019-03-04 23:39] DragoX commented on #2438
I believe I have exactly the same issue - you launch app once after installation - push notifications work fine. But as soon as you close the app and launch it again - push-notifications are not being delivered with the following server response:

[code]

So I've looked into the Firebase detail logs in the app and that what I've found:

1. First launch of the app:
[code]

Firebase token obtained a

[2019-03-05 09:39] damienix commented on #2462
I see that newer issues are being answered by humans, so just wondering if I missed something during the creation of this issue. Or maybe things just are taking longer in this case...

Cheers,
Damian

[2019-03-05 14:52] paulb777 commented on #2462
@damienix Thanks for the thorough issue investigation and description.

Yes, issues are answered based on a combination of domain knowledge and availability.  I'll see if we can make some progress on this one soon.

[2019-03-05 14:56] damienix commented on #2462
Great, thanks!

[2019-03-05 15:17] ranipanimisha94 commented on #2372
I am facing similar issue.

[2019-03-05 15:28] ranipanimisha94 commented on #2438
I am also facing this issue. Receiving notifications only once with new app launch.

Any one have solution for this issue ??

[2019-03-05 16:33] xiao99xiao commented on #2438
Seems currently the best solution is to downgrade Firebase to 5.16.0

[2019-03-05 18:57] maksymmalyhin commented on #2462
@damienix Thank you for so detailed information.
It looks like there is an issue with the parameters and your proposed fix looks relevant. I am going to slightly modify it to make sure all parameters are passed and processed by the application.

[2019-03-05 20:00] jordanmcadoo commented on #1894
+1 to needing a better solution here. I'd like to send a custom screen name with the views so if classes get renamed, the analytics data is not impacted (as the firebase_screen_class would change in that case). But obviously, having screen views tracked incorrectly is worse right now.

[2019-03-05 21:50] LeviTrammell commented on #2011
+1 👍🏼

[2019-03-05 23:08] mikelehen commented on #2466
I've made the perf improvement I mentioned.  I believe you can try it out by pulling from github master:

[code]

Else it should be released in the next few weeks (note it missed the cut for our very next release, so it'll be the one after that).

I am suspecting this will provide a meaningful improvement and is likely all we can do until we tackle the client-side indexing work I mentioned, so I'm

[2019-03-05 23:08] #2466 closed

[2019-03-05 23:41] chliangGoogle commented on #2438
Sorry for the inconvenience. The Firebase 5.18.0 is just released and should fix the issue. Can you update and try it again?

[2019-03-06 02:17] choiks14 commented on #2283
same here

[2019-03-06 04:51] ranipanimisha94 commented on #2438
Updated Firebase 5.18.0 but still didn't work.

[2019-03-06 04:55] zohaib-ehsan commented on #2438
@xiao99xiao I faced this issue in 5.16. Downgrading to 5.15 solved my issue.

[2019-03-06 05:01] xiao99xiao commented on #2438
@zohaib-ehsan Actually I downgraded to 5.15 too, but maybe you should check the order you call `FirebaseApp.configure()` `Messaging.messaging().delegate = self` and `UIApplication.shared.registerForRemoteNotifications()`. Just to make sure `func messaging(_ messaging: Messaging, didReceiveRegistrationToken fcmToken: String)` is actually called when the token changed.

[2019-03-06 05:04] zohaib-ehsan commented on #2438
@xiao99xiao Yes you are right. I changed the order also. Calling registerRemoteNotifications before fcm methods. But did not helped me. So I downgraded to 5.15. [](https://github.com/firebase/firebase-ios-sdk/issues/2365)

[2019-03-06 05:35] chliangGoogle commented on #2438
@ranipanimisha94  Can you show us the log or reproduce steps after you upgrade to 5.18.0?
Make sure you update to the latest InstanceID:

Using FirebaseInstanceID (3.6.0)

[2019-03-06 06:22] ranipanimisha94 commented on #2438
@chliangGoogle for Firebase push notification reproduce steps is just like this

1. Re-Intsall app from xcode and then got fcm token after that I tried from Firebase console and also from my server side
2. Sending notification and also receiving notifications properly.
3. Now I kill my app and again launch and checked my fcm token same as previous one.
4. Now try to send from Firebase console I am

[2019-03-06 06:26] ranipanimisha94 commented on #2438
@xiao99xiao Downgraded my Firebase to 5.15 I am getting notification every time but when my fcm token refresh with new one again facing same issue stop receiving push notification.

Do you have any idea regarding this ?

[2019-03-06 06:33] xiao99xiao commented on #2438
@ranipanimisha94 I think you should refer to this: https://github.com/firebase/firebase-ios-sdk/issues/2438#issuecomment-469969305

[2019-03-06 07:58] ranipanimisha94 commented on #2438
@xiao99xiao I refer your code. My code is same as you explain. But when Token Change stop getting notification.

[2019-03-06 08:08] plu opened #2479 "Crash in [FIRInstanceIDCheckinService checkinWithExistingCheckin:completion:]"
### Describe your environment

  * Xcode version: 10.1
  * Firebase SDK version: 5.17.0
  * Firebase Component: FirebaseInstanceID (Auth, Core, Database, Firestore, Messaging, Storage, etc)
  * Component version: 3.5

### Describe the problem

After updating from 5.16.0 to 5.17.0 we noticed a new crash on Fabric:

`Task created in a session that has been invalidated
-[FIRInstanceIDCheckinService c

[2019-03-06 08:52] visumickey commented on #2283
We have nailed down the issue here and we working on a fix for this. The upcoming release should have the fix rolled out.

[2019-03-06 11:55] andyboyd commented on #2466
Thanks @mikelehen !

The fix you applied does seem to have resolved the issue for us. Which is awesome, thanks for the fast response.

To respond to the other points in the discussion above, I had already tried setting the cache size, which unfortunately didn't improve anything. But your fix has made it a moot point, so yay.

Regarding the ordered query, the query was along the lines of:

[code]

[2019-03-06 13:48] ryanwilson commented on #2479
@chliangGoogle

Looks like this function is being called:
https://github.com/firebase/firebase-ios-sdk/blob/9848883d698380ff0ce62fd58e0880b26ff50ac6/Firebase/InstanceID/FIRInstanceIDCheckinService.m#L71

after `stopFetching` was called, which invalidates the session:
https://github.com/firebase/firebase-ios-sdk/blob/9848883d698380ff0ce62fd58e0880b26ff50ac6/Firebase/InstanceID/FIRInstanceIDCheckinS

[2019-03-06 15:02] Sunrise17 commented on #2438
@chliangGoogle , I made a clean pod install into my Project with having Firebase (5.18.0) and FirebaseInstanceId (3.6.0). Unfortunately, same issue still goes on...You can find the list as follows mentioning the updated versions of Pods used in the Project.

**UPDATED** Component version: * Core 5.18.0, Messaging 3.3.2
CocoaPods 1.6.0
Using Bolts (1.9.0)
Using BoringSSL-GRPC (0.0.2)
Using Firebase

[2019-03-06 16:33] mikelehen commented on #2466
Great to hear!  Thanks for confirming that the fix had the desired effect.

And thanks for the additional details about the ordered query.  Offhand I'd expect the query to behave exactly the same performance-wise, with and without the orderBy.  But as it's a moot point now, I'm not going to worry over it. 😄

[2019-03-06 19:43] Yue-Wang-Google opened #2481 "Remove deprecated API in Firebase Auth."
we should remove deprecated APIs such as

- FIRAuthUpdatedCredentialKey and FIRAuthErrorNameKey in FIRAuthErrors.h
- FIREmailPasswordAuthProviderID and FIREmailPasswordAuthProvider in FIREmailAuthProvider.h

in the next major release.

[2019-03-06 20:01] chliangGoogle commented on #2438
@Sunrise17 Can you show us the log or reproduce steps after you upgrade to 5.18.0? The issue should be resolved given @ranipanimisha94's log that token stop refreshing every app starts.

[2019-03-06 20:03] chliangGoogle commented on #2479
Firebase 5.17.0 has an IID version that might not be compatible with other SDKs and we already knew checkin was corrupted in that version. I would suggest to try again with the latest 5.18.0 and see if it still happens to you.

[2019-03-06 20:13] chliangGoogle commented on #2438
@ranipanimisha94  The original issue(5.17.0) was caused by token invalidated every time app restart, which is why you can't receive notification. Form your latest reproduce steps, seems like that issue has been resolved because you are getting the same token. Also seems like you console can't send the notification even if you downgrade to 5.15.0, so I think the reason you can't receive notificatio

[2019-03-07 07:21] Sunrise17 commented on #2438
@chliangGoogle , please find attached logs regarding to FirebaseInstanceID below, consisting 1st and 2nd launch of the app. Please note that during the 2nd start of the app, it is using the same fcmToken which it received from 1st launch.

- Log from 1st launch of the app with successful token registration that allows push notification to work well.

`2019-03-07 09:53:53.738925+0300 [4770:636728]

[2019-03-07 08:00] petergzli commented on #2438
@Sunrise17 Can you show me how to gather these logs too? I'm having the same issue on my app and want to share my logs too for extra data.

[2019-03-07 08:05] Sunrise17 commented on #2438
@petergzli , you can add -FIRDebugEnabled into Arguments Passed on Launch in Xcode Edit schemes.
![ekran resmi 2019-03-07 11 02 13](https://user-images.githubusercontent.com/26038249/53941243-aa852480-40c8-11e9-9270-b6d32cccd7f7.png)
In addition, do not forget to remove "OS_ACTIVITY_MODE disable (if it has)" from environment Variables. It should be enabled.

[2019-03-07 08:43] petergzli commented on #2438
Hey guys sharing my logs here too. Same exact issue on my iPhone 7, I get the notRegistered error every time. It's the same on my iPodtouch 6G

2019-03-07 00:16:22.578106-0800 unlocked[3053:259029] 5.18.0 - [Firebase/InstanceID][I-IID023000] No info is retrieved from Keychain OSStatus: -25300 with the keychain query {
    acct = "com.unlocked.test";
    class = genp;
    gena = "com.google.iid-tok

[2019-03-07 08:59] mikhailmulyar opened #2485 "Crash in -[FSRWebSocket _sendFrameWithOpcode:data:] line 1389"
* Xcode version: 10.1
  * Firebase SDK version: 5.15.0
  * Firebase Component: Database
  * Component version: 5.0.4

**Describe the problem:**
Crash happening because of Assert in FSRWebSocket. It is repeating in release environment with several of our customers. It happens at application start up and if it happens its not avoidable, application with crash all the time.

Assertion failed: (NO), f

[2019-03-07 09:07] Den-Ree commented on #2485
We have the same problem and now it's crashing on production. If return back to Firebase (4.13.0) FirebaseDatabase (4.1.5) everything works again.

[2019-03-07 10:10] visumickey commented on #2376
Internally tracked at b/127764622.

[2019-03-07 10:13] herrernst commented on #186
Thanks for your effort! But when installing Firebase 5.18.0 with (the now open source) FirebaseInstanceID 3.6.0 via CocoaPods, I still get the precompiled framework binary without source (in contrast to e.g. FirebaseCore or FirebaseMessaging, where I get lots of *.m files). Am I expecting something wrong?

![screenshot 2019-03-07 at 11 00 20](https://user-images.githubusercontent.com/20795/5394888

[2019-03-07 10:13] visumickey commented on #1986
Internally tracked at b/127766474.

[2019-03-07 10:15] visumickey commented on #2201
Internally tracked at b/127766572

[2019-03-07 13:50] mariohahn commented on #269
+1

[2019-03-07 15:46] paulb777 commented on #186
@herrernst Thanks for the report! We've reproduced and discovered a glitch in the release process and are hoping to get the right version out ASAP.

[2019-03-07 15:51] paulb777 commented on #2438
It looks like we accidentally re-released FirebaseInstanceID 3.5.0 as FirebaseInstanceID 3.6.0 instead of picking up the proper version. We'll try to get a corrected FirebaseInstanceID 3.6.1 out today.

That may be the explanation for why this bug fix is not being seen.

[2019-03-07 16:27] herrernst commented on #186
@paulb777 Thank you!

[2019-03-07 18:09] chliangGoogle commented on #2479
Looks like the fix didn't make it to 5.18.0. The new fix will be out today. Please look out the status the same as https://github.com/firebase/firebase-ios-sdk/issues/2438 here.

[2019-03-07 18:38] chliangGoogle commented on #2479
Please try again and update your pod with IID 3.7.0.

[2019-03-07 18:40] chliangGoogle commented on #2438
Please try again and update the pod to InstanceID 3.7.0.

[2019-03-07 18:47] paulb777 commented on #2438
You may need to run `pod deintegrate` or `rm -rf Pods` to get the build to succeed before running `pod update` to get FirebaseInstanceID 3.7.0.

[2019-03-07 18:49] Corrob commented on #793
This is great, Maksym! I really appreciate your fix and input. I think we should go with xcov. I will update my PR.

[2019-03-07 18:50] paulb777 commented on #2479
In order to successfully `pod update` to FirebaseInstanceID 3.7.0, you may need to run `pod deintegrate` or `rm -rf Pods` first.

[2019-03-07 18:50] #2479 closed

[2019-03-07 18:52] paulb777 commented on #186
FirebaseInstanceID 3.7.0 is now available.  Thanks @herrernst for the report!

You may need to run `pod deintegrate` or `rm -rf Pods` before running `pod update`.

[2019-03-07 18:53] maksymmalyhin commented on #793
@Corrob I am happy to help!

[2019-03-07 19:04] petergzli commented on #2438
@paulb777 Does it take some time to update? I keep updating my pod and it keeps downloading

Installing FirebaseInstanceID (3.6.0)

[2019-03-07 19:15] Sunrise17 commented on #2438
I have directly update to 3.7.0 with (pod update FirebaseInstanceID). However, i have still got same issue. Now, i will make clean Pod install and try again.

[2019-03-07 19:22] petergzli commented on #2438
I just also updated and I'm getting the same issue with no push notification coming in.

{"multicast_id":5696471955790714286,"success":0,"failure":1,"canonical_ids":0,"results":[{"error":"NotRegistered"}]}

My pods are now:

Firebase (5.18.0)
FirebaseCore (5.3.1)
FirebaseInstanceID (3.7.0)
FirebaseMessaging (3.3.2)

[2019-03-07 19:44] plu commented on #2479
Thank you for the hints. In case somebody else looks into this thread, here's what worked for us:

[code]

[2019-03-07 19:47] Sunrise17 commented on #2438
@paulb777 , @chliangGoogle ,  I have already completed fresh pod install as follows, and tested it, but still issue goes on. Looking forward to get your further solution soonest.

![ekran resmi 2019-03-07 22 27 59](https://user-images.githubusercontent.com/26038249/53984658-cde0bb80-412a-11e9-920b-366d67d2aa4f.png)

[2019-03-07 19:59] chliangGoogle commented on #2438
@Sunrise17 Did you try delete the app and restart from a new app cuz 5.17.0 might already corrupted your checkin data. Can you also show me the debug log?

[2019-03-07 20:12] Sunrise17 commented on #2438
Sure, after i delete app and install for 1st launch, it receives fcmtoken and works well as you see in the log below, now i will send the log for the 2nd launch.

[code]

[2019-03-07 20:24] Sunrise17 commented on #2438
@chliangGoogle , here is the log for the 2nd launch of the app and "error report" from my server during sending notification to iPhone.

[code]

[code]

[2019-03-07 20:42] levieggert opened #2490 "FirebaseCore/FIRComponentRegistrant.h file not found"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: _10.1__
  * Firebase SDK version: __ 5.18.0___
  * Firebase Component: _Core____ (Auth, Core, Database, Firestore, Messaging, Storage, etc)
  * Component version: _5.3.1____

### [REQUIRED] Step 3: Describe the problem

When I build the Xcode project workspace, I get the following error:
'FirebaseCore/FIRComponentRegistrant.h' fi

[2019-03-07 20:44] nicopuri commented on #1718
Thanks @otiasj , the latest version of NewRelic fixed the issue.
Sorry @morganchen12 for the really late response.

[2019-03-07 21:17] petergzli commented on #2438
I'm getting the same exact issue as well.

[2019-03-07 21:50] paulb777 commented on #2490
Please run `pod update` to update to a recent version of `FirebaseFirestore`.  It's now at version 1.0.2.

[2019-03-07 22:06] levieggert commented on #2490
Hey Paul,

The real culprit was an additional dependency I was installing, GeoFirestore. https://github.com/imperiumlabs/GeoFirestore-iOS
It was knocking the FirebaseFirestore version down.
Thank you for the quick response and pointing that out to me.

All the best,
Levi

[2019-03-07 22:07] #2490 closed

[2019-03-08 01:42] acrookston opened #2493 "Linking Firebase Database fails for Carthage binary 5.18.1 and other versions not available for download."
**This is completely breaking build pipelines using Carthage.**

### [READ] Step 1: Are you in the right place?

✅

### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.1 (10B61)
  * Firebase SDK version: 5.18.1
  * Firebase Component: Database, Analytics, Auth, Performance
  * Component version: 5.18.1

### [REQUIRED] Step 3: Describe the problem

While archiving an app (via fa

[2019-03-08 01:49] ryanwilson commented on #2493
@acrookston Sorry for the issues, the incorrect Carthage files were pushed during our latest release. We're looking into it right now and hope to have it resolved very shortly.

[2019-03-08 02:06] paulb777 commented on #2493
Does https://stackoverflow.com/questions/35370611/getting-utf8-nextcharsafebody-error help with the 5.18.1 linker issue?

[2019-03-08 02:11] acrookston commented on #2493
@paulb777 I'm attempting to build with that now.

[2019-03-08 02:44] ryanwilson commented on #2493
We've identified the issue and are working on getting it fixed and published ASAP. I'll update this bug when it's back.

[2019-03-08 02:54] acrookston commented on #2493
Confirming that the suggested fix worked on my app. Thanks for quick response and resolve.

[2019-03-08 02:57] ryanwilson commented on #2493
@acrookston happy to hear you're unblocked - sorry for the troubles and thank you very much for reporting this! Currently validating the proposed fix.

[2019-03-08 04:19] ryanwilson commented on #2493
@acrookston the release is live with version `5.18.2`. Can you please confirm that the fix works for you? The old versions should be available now as well. I'll close the issue but please re-open it if something is still broken.

[2019-03-08 04:19] #2493 closed

[2019-03-08 08:27] Den-Ree commented on #2485
@paulb777 thanks for the quick reaction, do you know when M45 should be released?

[2019-03-08 09:11] flaviobittenca commented on #2283
Hey @visumickey, do you have any perspective about when this fix will be released? This is the top crash for my side, unfortunately 😅

[2019-03-08 11:06] gogoout opened #2498 "Crash in FIDRenderingWindowHelper.m - Line 27 unrecognized selector sent to instance"
* Xcode version: 10.1
  * Firebase SDK version: 5.18.0
  * Firebase Component: In-App Messaging
  * Component version: 0.13.0

### [REQUIRED] Step 3: Describe the problem
When implemented UIApplicationDelegate, `window` is optional, thus may crash when in-app messaging trying to show a message.

#### Steps to reproduce:
Just open the app will crash

#### Relevant Code:
from https://github.com/fire

[2019-03-08 13:46] herrernst commented on #186
@paulb777 Thanks again. Source is now installed. Unfortunately, I have another problem. Something is broken when having "use_frameworks!" in the Podfile, my app crashes with "+[FIRInstanceIDCheckinPreferences preferencesFromKeychainContents:]: unrecognized selector sent to class 0x10f92f998".

It's reproducible in a fresh project:

* Create new Objective-C Single View App, close project
* `pod ini

[2019-03-08 14:35] piotrros opened #2499 "iPhone X not receiving push notifications after first launch"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.1
  * Firebase SDK version: Core 5.3.1
  * Firebase Component: Messaging
  * Component version: 3.3.2

### [REQUIRED] Step 3: Describe the problem

We have a PHP server, which sends notifications to mobile devices (iOS & Android) via 2 ways:
- to all through /topics/all which all apps automatically subscribes right after the a

[2019-03-08 14:40] ryanwilson commented on #2485
@Den-Ree By policy, we don't commit to dates for upcoming releases, but I can say that we are hoping to get M45 out with this issue fixed the week of March 18th. If you wanted to get a release out sooner, you can always point your CocoaPod to the `master` branch for Database although we do suggest moving it back to the publicly released version after M45 is released.

[2019-03-08 14:44] paulb777 commented on #2485
@Den-Ree In the meantime, another workaround is directly applying the fix in #2488 to the post-downloaded Pods in your project.

[2019-03-08 15:07] visumickey commented on #2283
At this time, we are planning to have this launched at M45. Planned to be available to the developers March 19 (M45).

[2019-03-08 15:22] paulb777 commented on #2499
@piotrros Thanks for the report. Please check that you're using the latest version of FirebaseInstanceID - 3.7.0.

[2019-03-08 17:56] paulb777 commented on #186
@herrernst I'm not able to reproduce. Maybe there is some stale build state?  Are you able to see the crash in the Xcode debugger?

[2019-03-08 18:48] petergzli commented on #2438
Any luck on this? Hey @Sunrise17 are you only getting push notifications on the 5.18.0?

[2019-03-08 18:57] Sunrise17 commented on #2438
@petergzli, no, i haven’t succeeded to get push notification, waiting their response.

[2019-03-08 19:09] petergzli commented on #2438
Attaching my logs here too. Still not receiving push on my end:

2019-03-08 11:03:20.155248-0800 unlocked[353:9676] 5.18.0 - [Firebase/InstanceID][I-IID023000] No info is retrieved from Keychain OSStatus: -25300 with the keychain query {
    acct = "com.unlocked.test";
    class = genp;
    gena = "com.google.iid-tokens";
    "m_Limit" = "m_LimitAll";
    "r_Attributes" = 1;
    "r_Data" = 1;

[2019-03-08 21:25] AndresCianio commented on #16
Being the top search result probably makes this the best place to ask, eventhough the issue is closed.
@ryanwilson Issue is still happening. Should we stick to the mentioned workaround?

[2019-03-08 21:36] kenji21 commented on #1879
@morganchen12 can you clarify this point, I'm having the issue... using Carthage (because it is better than CocoaPods from my point of view: quicker CI builds for exemple), and I don't have "full configuration state" of the project to rely on

[2019-03-08 21:41] bratxdy opened #2503 "FirebaseInvitesBinary version 5.8.0 missing"
* Xcode version: 10.1
  * Firebase SDK version: 5.8.0
  * Firebase Component: Invites
  * Component version: 5.8.0

#### Steps to reproduce:

We have been using FirebaseInvitesBinary version 5.8.0 through Carthage for a couple months now. As of yesterday it seems that that version, as well as every other version other than 5.18.1, has disappeared. If you take a look at https://dl.google.com/dl/fir

[2019-03-08 21:42] christibbs commented on #2498
@gogoout could you clarify what you mean by "When implemented UIApplicationDelegate"? I tried running this on a sample app and didn't get a crash.

[2019-03-08 22:33] paulb777 commented on #2503
The json files were temporarily corrupted yesterday, but have now been restored.  You may need to clear your Carthage cache.

[2019-03-08 23:36] visumickey commented on #2410
@ShlomieRottenberg Are we still seeing this issue on the latest version of Firebase/FirebasePerformance?

[2019-03-09 00:35] acerbetti commented on #10
Any particular reason why functions are not supported on TvOS?

I just modified the FirebaseFunctions.podspec to add support for TvOS and MacOS and the module build just fine.

thanks

[2019-03-09 00:42] paulb777 commented on #10
@acerbetti It just hasn't been implemented and tested yet. We'll be happy to review a PR.

 It should be a lot easier after the recently submitted testspec PR #1864 since no Xcode project setup is required for testing.

[2019-03-09 01:30] gogoout commented on #2498
Hi, thanks for the quick responding. Actually I'm running a Nativescript project so I barely knows about obj-c so allow me to just quote from others.

The most similar bug that I found is this one https://github.com/NativeScript/ios-runtime/issues/430#issuecomment-162327186

So long story short, when In-app Messenging trying to call  [UIApplication sharedApplication].delegate.window, it's not ther

[2019-03-09 14:42] #2485 closed

[2019-03-09 14:58] paulb777 opened #2505 "Migrate Logger Service IDs from FirebaseCore to clients"
FirebaseCore should not have knowledge about its clients. The FIRLoggerServices declared in FIRLogger.h and defined in FIRLogger.m should be moved to the clients.

Since this is an internal API change, it does not necessarily need to wait for a major release, but I'm marking it for Firebase 6 as a target.

An incremental approach to this issue would be starting with the open source code and creati

[2019-03-09 16:59] paulb777 commented on #10
@acerbetti I just made the #2506 to add tvOS and macOS for FirebaseFunctions. You're right that it's a seamless port. Thanks for the push.

[2019-03-09 17:02] acerbetti commented on #10
That's great, I was planning to test it better today and provide a PR, but you beat me.

thanks

[2019-03-09 17:07] paulb777 commented on #10
Oh sorry for beating you to it.  If you have some real-life tests that go beyond what's in the packaged [unit](https://github.com/firebase/firebase-ios-sdk/tree/master/Functions/Example/Tests) and [integration tests](https://github.com/firebase/firebase-ios-sdk/tree/master/Functions/Example/IntegrationTests), that would still be appreciated.

[2019-03-10 08:59] stephenfung98 opened #2508 "Verify phone number never loads on second run without force quitting application"
**Describe your environment**

  * Xcode version: 10.1
  * Firebase SDK version: 5.17.0
  * Firebase Component: Auth, Phone, Firestore
  * Component version: Auth 5.3.1, Phone 5.4.0 , Firestore 1.0.2

**Describe the problem**

When logging in, then logging out, then logging in, the application will not pass the "Verify phone number". The page has a spinning wheel with no error without ever complet

[2019-03-10 14:28] Den-Ree commented on #2485
@paulb777  and @ryanwilson thank you both for the help, we did the fix.

[2019-03-11 06:04] morganchen12 commented on #2508
@stephenfung98 please list your FirebaseUI version as well.

[2019-03-11 06:17] stephenfung98 commented on #2508
FirebaseUI (6.1.1)

[2019-03-11 07:00] piotrros commented on #2499
Thanks for a quick response! I'm using FirebaseInstanceID - 3.7.0.

[2019-03-11 11:16] businessengine opened #2511 "[Question] Serialize/Deserialize FIRFieldValue"
This is not a bug report just a question. Since enabling offline persistent made Firebase [too] slow with large collections, so we have to do caching ourselves. We need a way to serialize/deserialize special field values such as`FIRFieldValue.fieldValueForServerTimestamp`, `FIRFieldValue.fieldValueForArrayUnion`., etc, anyone how to do that? Thanks a lot.

[2019-03-11 13:44] ir-fuel commented on #230
Same issue here, but I can live with losing some analytics. But what I wonder about are the messages shown after that (Xcode, iOS app):

[code]

for completeness:

[code]

When I step with my debugger over the last line, this gets printed in the console. `options` is not `nil`.
According to my `podfile.lock` Firebase/Core is 5.12.0.

[2019-03-11 13:56] ShlomieRottenberg commented on #2410
I haven't updated yet to firebase 5.

On Fri, Mar 8, 2019, 6:36 PM Visu <notifications@github.com> wrote:

[2019-03-11 14:07] paulb777 commented on #2410
Yes, this is likely a duplicate of #495.

[2019-03-11 14:07] #2410 closed

[2019-03-11 14:11] walsht commented on #2376
@visumickey Anyway we can get a status update of this? We are going to update to v5.17.0, is the fix on that version?

[2019-03-11 14:17] #2503 closed

[2019-03-11 14:19] paulb777 commented on #2421
Closing for now. Will reopen with a reproducible example.

[2019-03-11 14:19] #2421 closed

[2019-03-11 14:24] paulb777 commented on #2373
@shachar-silbert Did you, by chance, transpose the line number in your bug report?  Is this the same crash as #2485?

[2019-03-11 14:30] bratxdy commented on #2503
Thanks @paulb777, it is fixed now!

[2019-03-11 16:16] eyalevy opened #2512 "Firebase auth crashes the app with: [GTMSessionFetcher setFetcher:forTask:]: unrecognized selector sent to instance"
### Describe your environment

  * Xcode version: 10.1
  * Firebase SDK version: 5.15.0
  * Firebase Component: Auth
  * Component version: 5.15.0

### Describe the problem
the app crashes when using signInWithCustomToken. the error log is: ```Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[GTMSessionFetcher setFetcher:forTask:]: unrecognized selector sent to ins

[2019-03-11 16:46] morganchen12 commented on #2512
This doesn't seem like it's caused by any collision with TrustKit. Can you share the stack trace of the crash?

[2019-03-11 17:16] visumickey commented on #2376
We have not worked on a fix on this yet. We are trying to reproduce this to make sure we can ascertain this issue and fix it. Will update this thread in a day on the run.

[2019-03-11 17:47] samtstern commented on #2511
@businessengine what do you mean when you say "We need a way to serialize/deserialize special field values"?  Can you provide a code example of what you'd like to do and what's missing right now?

[2019-03-11 18:56] visumickey commented on #2444
Looking at the error message on console:
"Main Thread Checker: UI API called on a background thread: -[UIApplication applicationState]
PID: 600, TID: 236079, Thread name: (none), Queue name: com.google.firebase.auth.serialTaskQueue, QoS: 0"

This issue seem to be happening on a queue "com.google.firebase.auth.serialTaskQueue" that is not owned by Firebase Performance. But the crash happened becaus

[2019-03-11 21:35] chliangGoogle commented on #2499
Thank you for the info. I have a few questions:
1. Which sender API your PHP server is using when sending notification without using console?
2. when you say hidden message, do you use APNS with content-available =1? Or you use direct channel?
3. When your server send the notification and client receives it, server still gets response with "not registered'? Even if the first time when client had a

[2019-03-11 22:10] christibbs commented on #2498
@gogoout crash should be resolved in the next release (mid to late next week).

[2019-03-11 22:10] #2498 closed

[2019-03-12 00:09] renkelvin commented on #2444
@longhoang2984 Hi, does the crash happen on app launch? It would be great if you can provide more information of how to reproduce this issue.

[2019-03-12 01:46] ryanwilson commented on #2445
Reassigning to @maksymmalyhin who has some more bandwidth to look at it.

[2019-03-12 05:15] businessengine commented on #2511
We want to serialize NSDictionary with data such as `{name:"ABC, last_modified_at: FIRFieldValue.serverTimestamp}` as NSData via NSKeyedArchiver, or [FastCoding](https://github.com/nicklockwood/FastCoding), then save it in to a local file, later we read and deserialize the saved data to re-save into firebase, however the last_modified_at will be null.

[2019-03-12 05:23] shachar-silbert commented on #2373
@paulb777 I did not, and I looked in the bug you sent, it seems quite different, with different classes on the way, and different final crash reasons.

[2019-03-12 07:15] kenji21 commented on #1879
Ok fixed via

[code]

and keeping the IDs on the run script build phase calling the run command from Fabric.framework

[2019-03-12 07:20] mono0926 opened #2522 "Firebase Authentication's error code seems to be broken after upgrading to 5.4.0"
### Describe your environment

  * Xcode version: Version 10.1 (10B61, latest)
  * Firebase SDK version: 5.18.0 (latest)
  * Firebase Component: Auth (5.4.0, latest)

### Describe the problem

My app's auth logic was broken after upgrading to Firebase Authentication 5.4.0, so I investigated that.
It seems that `FIRAuthErrorCodeInternalError(17999)` error started occurring for many requests.

####

[2019-03-12 07:44] balashekar3 commented on #1896
I am also facing the same issue...please give a proper solution for this issue...
I am from India, am working on an ios app, In this the Indian mobile numbers are successfully getting OTP from the firebase where the international mobile numbers that are used in physical devices in their respective countries are not getting OTP. I tried using the international numbers from India for authentication

[2019-03-12 08:35] piotrros commented on #2499
1. We simply use curl to call https://fcm.googleapis.com/fcm/send:

[code]

2. Yes, as you can see in point 1. But sending from Firebase console uses direct channel and these messages aren't delivered as well.

3. First time it does work. Server gets a response, which look like this:

`{"message_id":"0:1552050463471025%a7fef6f3a7fef6f3"}`

Then I re-ran the app and from now on server is getting No

[2019-03-12 08:53] piotrros commented on #2499
I can confirm it also works fine on iPhone 7 Plus.

[2019-03-12 09:47] CheneyZJ commented on #1059
Still facing this crash with lastest version(5.16.0).

[2019-03-12 09:58] eyalevy commented on #2512
This is my linker flags:  https://github.com/eyalevy/trustkit-firebase-sample/blob/e048d3d4ae630b3e97c814bcf2b1c42449d3a85d/ios/trustkitfirebasesample.xcodeproj/project.pbxproj#L1228
Am I missing something?

Also this is the stack trace:
[code]

[2019-03-12 09:58] domness commented on #2511
Yeh, it's a problem (and nice at the same time), that we get purely a [String: Any] back from the SDK for the data. That means converting to JSON fails when archiving as Timestamp can't be converted into the _seconds, _nanoseconds it's stored as.

[2019-03-12 11:25] ryanwilson commented on #2522
@mono0926 thanks for the reply, @renkelvin or @Yue-Wang-Google can you please take a look?

[2019-03-12 16:26] samtstern commented on #2511
@wilhuff is there something simple we could be doing here to make the server timestamp sentinel value survive serialization?

@businessengine these `FieldValue` values are special sentinels and are not really "values", they represent operations that are performed server-side as part of the set/update.  I don't think we want to support people serializing them outside of our SDK, but it's possible t

[2019-03-12 17:16] morganchen12 commented on #2511
You can always convert those special values to your own sentinel values for serialization, but imo our long-term solution here should be to make Firestore not slow so that this workaround isn't needed.

[2019-03-12 17:17] morganchen12 commented on #2512
Linker flags look fine to me. @renkelvin can you take a look?

[2019-03-12 17:18] morganchen12 commented on #1059
Can you share a stack trace?

[2019-03-12 17:24] wilhuff commented on #2511
So there's two issues in this thread: @businessengine is asking about `FIRFieldValue` types, and @domness is asking about `FIRTimestamp`. These are different and the news is mixed.

`FIRTimestamp` is a simple value type, whose public properties exactly represent the [type we store](https://github.com/protocolbuffers/protobuf/blob/791b86368778e21fd4936f0f8674daff44046dff/src/google/protobuf/timesta

[2019-03-12 17:24] #2511 closed

[2019-03-12 17:37] willbattel commented on #1143
Does this have to do with the warning `Pods/FirebaseFirestore/Firestore/Source/Local/FSTLevelDB.mm:375:10: Implicit conversion loses integer precision: 'int64_t' (aka 'long long') to 'size_t' (aka 'unsigned long')`, or should I open a separate issue?

[2019-03-12 18:33] wilhuff commented on #1143
This issue is from nearly a year ago, so anything you're seeing now is a new issue.

[2019-03-12 18:39] willbattel opened #2525 "FirebaseFirestore - Value Conversion Issue - Implicit conversion loses integer precision"
### Environment

  * Xcode version: 10.1 (10B61)
  * Firebase SDK version: 5.17.0
  * Firebase Component: Firestore (Auth, Core, Database, Firestore, Messaging, Storage, etc)
  * Component version: 1.0.1

### Describe the problem

I've been seeing this warning for the past few versions of the SDK (starting around 5.15 or so). I've ignored it but am curious if the Firebase team is aware of it.

`Po

[2019-03-12 18:44] petergzli commented on #2438
Hey guys, any luck? Our push notifications firebase is severely affected by this

@Sunrise17 are you able to get this working now?

[2019-03-12 18:59] wilhuff commented on #2525
Are you building for a 32-bit target by chance?

[2019-03-12 19:04] renkelvin commented on #1896
@balashekar3 This seems not a SDK issue. Please file a ticket on https://firebase.google.com/support/ so your case can be inspected with more details.

[2019-03-12 19:13] Sunrise17 commented on #2438
@petergzli , not yet, still we are waiting team to correct it asap.

[2019-03-12 19:36] renkelvin commented on #2512
Hi all, I believe it's not an issue with the Auth SDK. GTMSessionFetcher is our main entry point talking to backend. All requests would fail if GTMSessionFetcher is not properly linked. Could you try other apis to see if it's the same issue?

[2019-03-12 19:37] renkelvin commented on #2522
@mono0926 Thanks for reporting! It's verified that the issue was introduced in #2405 and we're working on the fix. Thanks!

[2019-03-12 20:04] willbattel commented on #2525
I only see it when **Building** without a device, i.e., Command+B without a device connected. As you suggest, it does disappear when **Building and Running** (Command+R) on iOS 11/12 devices (all of which are 64 bit)

[2019-03-12 20:23] paulb777 commented on #2512
@eyalevy Please share the `Podfile` and `Podfile.lock` so we can check if there's something strange about the versions being used.

[2019-03-12 20:25] paulb777 commented on #2462
Fixed in #2478

[2019-03-12 20:25] #2462 closed

[2019-03-12 21:06] snaking commented on #2499
Same problem iPhone 6s

Firebase 5.18.0
Core 5.3.1
FirebaseInstanceID 3.7.0

[2019-03-12 21:36] eyalevy commented on #2512
Sure, the links for ``Podfile`` and ``Podfile.lock``:
- ``Podfile`` : https://github.com/eyalevy/trustkit-firebase-sample/blob/e048d3d4ae/ios/Podfile
-  ``Podfile.lock`` - https://github.com/eyalevy/trustkit-firebase-sample/blob/e048d3d4ae/ios/Podfile.lock

I want to add that this issue happened when we upgrade Firebase SDK version from version 4.9 to version 5.15. when I downgrade Firebase SDK to

[2019-03-12 21:42] Yue-Wang-Google commented on #2522
@mono0926 could you please try #2530 and see if it works for you? It works for me.

[2019-03-12 22:55] tfonfara opened #2534 "FIRInstanceID is crashing after updating to 5.17.0 / 5.18.0"
### Environment

  * Xcode version: 10.1 (10B61)
  * Firebase SDK version: 5.17.0 / 5.18.0
  * Firebase Component: Auth
  * Component version: 5.6.0

### Describe the problem

#### Steps to reproduce:

I'm not able to reproduce it myself but getting a lot of Crashlytics logs.
After updating from version 5.15.0 to 5.17.0 (I skipped 5.16.0 so it might affect this version as well) I'm receiving a lar

[2019-03-12 22:58] #2525 closed

[2019-03-12 23:10] paulb777 commented on #2534
Thanks for the report. Please confirm that you have version 3.7.0 of the FirebaseInstanceID pod.

[2019-03-12 23:12] tfonfara commented on #2534
Latest version of my app that is live in the store was shipped with 5.6.0.

[2019-03-13 01:30] Yue-Wang-Google commented on #2522
@mono0926 I'll close this bug for now as it works for me plus we're freezing the code tonight.
Feel free to comment below whether it resolves your problem or not.

[2019-03-13 02:04] anderscheow commented on #2534
I'm getting this problem on live app with version 3.7.0 of the FirebaseInstanceID pod

[2019-03-13 02:07] businessengine commented on #2511
@wilhuff Thanks for the clarification, the FIRTimestamp is easy, the tricky one is the FIRFieldValue.fieldValueArrayXXXX(), but thanks for the suggestion we will try to follow your recommendation. @morganchen12 is there any rough timeline when we can get this awesome improvement?

[2019-03-13 03:16] morganchen12 commented on #2511
@wilhuff can give a more comprehensive answer, but for now the answer is there's no timeline set.

[2019-03-13 05:36] scutletbutt opened #2539 "Firestore security image issues"
**Describe your environment**

  * Xcode version: 10.1 swift 4.2.1
  * Firebase SDK version: 5.18.0
  * Firebase Component: firestore
  * Component version: 1.0.2

**Describe the problem**

When firestore security rules set to not allow write image of bytes length of more than 10k to firestore by using security rules, it work normally when write to firetore with image bytes length of less than 10k

[2019-03-13 05:48] #2539 closed

[2019-03-13 05:49] scutletbutt commented on #2539
Closed this issues due to inaccurate information on my part. Sorry for any inconvenience, feel free to delete this issues

[2019-03-13 05:57] mono0926 commented on #2522
@Yue-Wang-Google

Thanks, I checked that, but the issue seems to be not fixed unfortunately, so I'd like you to reopen this issue.

I checked it by running the code which pasted here( https://github.com/firebase/firebase-ios-sdk/issues/2522#issue-419835788 ), and add breakpoints to the code you modified.

## v5.4.0 + #2530

`shortErrorMessage` is `MISSING_ID_TOKEN`.

<img width="825" alt="Screen S

[2019-03-13 06:48] Yue-Wang-Google commented on #2522
Thanks for reporting.  #2530 did fix the issue when the user is new. However for existing users it seems the new code did return an wrong error. I'm going to reopen the issue. For now you could comment out FIRVerifyAssertionRequest.m's L154 (which set `body[kReturnIDPCredentialKey]`  to `@YES`) or simply revert to the old version. I'll fix the bug tomorrow.

[2019-03-13 06:57] mono0926 commented on #2522
@Yue-Wang-Google

This works fine, thanks!!

<img width="647" alt="image" src="https://user-images.githubusercontent.com/1255062/54259334-bda46280-45a8-11e9-973b-1bcc0f8f37ee.png">

[2019-03-13 07:16] Yue-Wang-Google commented on #2522
I believe I found the official fix: https://github.com/firebase/firebase-ios-sdk/pull/2541
Please remember to
1 revert  the comment in FIRVerifyAssertionRequest.m's L154 (set it back to YES) if you commented it out. kReturnIDPCredentialKey needs to be true in order to make OAuth working.
2 You need to apply #2541
3 You also need to apply the previous fix #2530  --- both changes are necessary.

Let

[2019-03-13 08:00] mono0926 commented on #2522
@Yue-Wang-Google

Oh, it should be fixed.

But, unfortunately without `FIRVerifyAssertionRequest.m's L154` change, the problem isn't fixed.

<img width="390" alt="Screen Shot 2019-03-13 at 16 44 23" src="https://user-images.githubusercontent.com/1255062/54261625-9a30e600-45af-11e9-9815-2833a89b1f4a.png">

<img width="662" alt="Screen Shot 2019-03-13 at 16 45 27" src="https://user-images.githubuser

[2019-03-13 08:09] mono0926 commented on #2522
I suspect that it was correct because initial implementation(May 16, 2017) used `response.IDToken` 🤔

https://github.com/firebase/firebase-ios-sdk/blob/98ba64449a632518bd2b86fe8d927f4a960d3ddc/Firebase/Auth/Source/FIRUser.m#L884

[2019-03-13 09:17] Yue-Wang-Google commented on #2522
Sorry. I was drunk. Please try #2542 with #2530.
I'm very confident that this is the right fix.

[2019-03-13 10:05] mono0926 commented on #2522
It works fine! Thanks for the quick fix 🙏

[2019-03-13 10:10] Yue-Wang-Google commented on #2522
Great! I'll wait for it to be approved by my colleague tomorrow, and after that v5.4.1 will be released.

Thanks for your bug report and testing my fixes. I will also keep my promise to buy you a beer, by the way:)

[2019-03-13 13:37] TheHmmka commented on #2534
The same here...

[2019-03-13 14:29] paulb777 opened #2543 "Auth Facebook API tests failing on travis"
The following tests started failing on travis yesterday.

Since they started failing after a changelog commit, I suspect a server issue, but it should be investigated.

	-[FacebookAuthTests testLinkAnonymousAccountToFacebookAccount]
	-[FacebookAuthTests testLinkAnonymousAccountToFacebookAccount]
	-[FacebookAuthTests testLinkAnonymousAccountToFacebookAccount]
	-[FacebookAuthTests testSignInWithFace

[2019-03-13 14:38] #2522 closed

[2019-03-13 15:13] eyalevy commented on #2512
@renkelvin I tried to use firebase storage for getting a file and I succeed to read it.

[2019-03-13 15:39] paulb777 opened #2544 "Rename ApplicationSupportDirectory in IID tests"
Follow on to #2496. From @ryanwilson:

_Can you please create an issue for here and the rest of the tests to rename the method and constants away from ApplicationSupportDirectory? isPlistInApplicationSupportDirectory doesn't make sense because it's not ApplicationSupport, neither does kApplicationSupportSubDirectoryName. I don't think it should block merging but an issue tracking the change would

[2019-03-13 16:09] herrernst commented on #186
I've cleaned the project, still:
![Screenshot 2019-03-13 at 16 34 58](https://user-images.githubusercontent.com/20795/54295143-c5690480-45b2-11e9-8fe2-92412c05765d.png)

[2019-03-13 16:10] herrernst commented on #186
Example project attached.
[TestFirebaseBuild.zip](https://github.com/firebase/firebase-ios-sdk/files/2962434/TestFirebaseBuild.zip)

[2019-03-13 16:23] maksymmalyhin commented on #2534
@tfonfara Thank you for reporting the issue.

I would like to ask a couple questions that will help to narrow down the search area for the issue:

1.  Are you using `FIRInstanceID` directly in your app. If yes, would you be able to provide a code snippet illustrating the way you use it
2. Would you share your `Podfile.lock` please

[2019-03-13 16:34] tfonfara commented on #2534
Sure, hope we can sort this out 😊

1. No I don't use it directly, the only thing I do is to call `FirebaseApp.configure()`
2. See below.

<details>

</details>

[2019-03-13 16:51] maksymmalyhin commented on #2534
@tfonfara Thank you for the quick response.

I can see you are using `Firebase/Messaging` as well. Do you have `FirebaseMessagingAutoInitEnabled = NO` in your `Info.plist`?

[2019-03-13 17:06] tfonfara commented on #2534
@maksymmalyhin No, I don't have any Firebase specific key in the Info.plist

[2019-03-13 18:41] renkelvin commented on #2543
Facebook related tests failed due to (highly possibly) https://developers.facebook.com/status/issues/559896447845433/
Temporarily disable the tests.

https://github.com/firebase/firebase-ios-sdk/pull/2547

[2019-03-13 19:08] chliangGoogle commented on #2438
Hi Thank you for your debug log. From the log, your client invalidated the old checkin, hence got a new checkin and a new token. This is still the old SDK behavior, which we can't reproduce on our end. Have you tried to do pod deintegrate?

[2019-03-13 19:12] petergzli commented on #2438
Hi @chliangGoogle I just ran pod reintegrate and re-running pod install. Just curious, what difference would this make? I have tried before to delete the entire pod folder and reinstall. I tried that last week and the same result.

These are the Firebase pods I'm installing

Installing Firebase (5.18.0)
Installing FirebaseAnalytics (5.7.0)
Installing FirebaseAnalyticsInterop (1.2.0)
Installing Fir

[2019-03-13 19:13] Sunrise17 commented on #2438
Hi @chliangGoogle , i have completely removed pod folder manually and installed them in a clean way as follows, but result did not change.
![53984658-cde0bb80-412a-11e9-920b-366d67d2aa4f](https://user-images.githubusercontent.com/26038249/54307624-27d6fa80-45dd-11e9-989a-8e4390259756.png)

[2019-03-13 19:15] plu commented on #2479
Still seeing the crash on our latest App Store release that went live today:

[code]

[code]

[2019-03-13 19:17] petergzli commented on #2438
@chliangGoogle I just did what you recommended and my result did not change at all.

It's the same issue, same error. I can reproduce it on my iPhone 7 and iPod Touches.

The older version 5.15 works great but most of our prod clients on the new version is not receiving push notifications correctly because the SDK keeps deregistering the tokens client side.

[2019-03-13 22:47] Tulleb commented on #2293
I think I am getting this problem as well: `setData` completion blocks are not always fired.

I don't use any authentication system: all my users are anonymous.

I am calling several (between 10 to 100) `setData` on different documents from the same collection one after another without ever getting into the completion block...

[2019-03-13 23:18] Tulleb opened #2550 "setData / commit completion handler not called"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2019-03-13 23:18] DragoX commented on #2438
@petergzli If you having the issue with production users - you can try to use the workaround I mentioned here  - https://github.com/firebase/firebase-ios-sdk/issues/2438#issuecomment-469472087
Works for me even with 5.17.0.

[2019-03-13 23:27] Tulleb commented on #2550
Also, my app now crashes with `Message from debugger: Terminated due to memory issue` when I try to restart it. Could it be because Firestore SDK still try to send all documents waiting to get saved?

I am really starting to think that the issue is due to my Internet connection.

[2019-03-13 23:34] Tulleb commented on #2550
I just removed my app from my phone and reinstalled it again: no more issues at the moment.
I guess the app had a lot of documents waiting to be sent, maybe causing an overflow or something?

I will re-open this if the problem shows again.

[2019-03-13 23:34] #2550 closed

[2019-03-13 23:36] chliangGoogle commented on #2438
Thanks @DragoX. I speculate that the test device might still have a corrupted version of checkin/token stored in the keychain where it doesn't get deleted by app. So every time you reinstall, it's still trying to delete the keychain but unsuccessfully. Maybe @DragoX's solution calling deleteID will exclusively deleted the corrupted checkin/token.
And anyone who uses 5.17.0 could potentially stored

[2019-03-13 23:59] petergzli commented on #2438
@DragoX Thank you! The workaround worked for me on the new Pod version. Yes!

This should still be addressed, but I finally have a working version on the newest Firebase pod. Thanks you!

[2019-03-14 00:08] chliangGoogle commented on #2499
Looks like the same issue as https://github.com/firebase/firebase-ios-sdk/issues/2438
It only happens on selected devices because only those devices have corrupted info. Try to [call deleteID exclusively once](https://github.com/firebase/firebase-ios-sdk/issues/2438) during app start should fix the issue for you temporarily.

[2019-03-14 00:09] chliangGoogle commented on #2438
Thanks we will add a fix to ensure a corrupted keychain should be clean up properly in the next release.

[2019-03-14 00:52] ay8s commented on #10
@paulb777 Using the latest gRPC-C++ & gRPC-Core I was able to get Firestore running and returning data.

Only error I came across was sigaltstack which isn't available on tvOS used here... https://github.com/firebase/firebase-ios-sdk/blob/f250f50c530ac9c467b120a1b49dea3c53833c24/Firestore/third_party/abseil-cpp/absl/debugging/failure_signal_handler.cc#L153-L155 commenting this out allows it to bui

[2019-03-14 03:43] paulb777 opened #2551 "Undefined symbol GULResetLogger"
Today's GoogleUtilities 5.4.0 release inadvertently introduced a breaking change.

A workaround is adding the following to the `Podfile`:

`  pod 'GoogleUtilities', '~> 5.3.7'`

[code]

[2019-03-14 06:56] schmidt-sebastian commented on #2459
Thank you for filing this issue (and for tackling the rest in your PR!).

[2019-03-14 10:07] piotrros commented on #2499
Looks it's the same issue. I've tried a workaround and it worked. Guess for now we have to wait for a new fixed version and use workaround until then. I'm closing as it's a duplicate.

[2019-03-14 10:07] #2499 closed

[2019-03-14 11:47] #2551 closed

[2019-03-14 12:39] samsidd commented on #10
@ay8s are you using the code #2506 ?

[2019-03-14 12:44] ryanwilson commented on #2543
i imagine this has to do with the [global Facebook outage](https://twitter.com/facebook/status/1105888649676111877).

[2019-03-14 14:25] paulb777 commented on #10
@ay8s That's great to hear.  Are you able to send us a PR. Otherwise, hopefully we can get to this soon. cc: @wilhuff

[2019-03-14 14:34] AndrewBarba opened #2555 "'GULLoggerLevel.h' file not found"
Yesterdays GoogleUtilities 5.4.0 release broke a handful of file dependencies, ex: https://github.com/firebase/firebase-ios-sdk/issues/2551

I upgraded to 5.4.1 this morning and am still seeing a similar issue with `GULLoggerLevel.h`.

The issue is fixed by downgrading to 5.3.7:

`pod 'GoogleUtilities', '~> 5.3.7'`

[2019-03-14 14:47] ay8s commented on #10
@paulb777 If you have any thoughts on an adjustment to the snippet below for tvOS, as its third-party I'm hesitant to simply comment it out or wrap in a tvOS check.
https://github.com/firebase/firebase-ios-sdk/blob/f250f50c530ac9c467b120a1b49dea3c53833c24/Firestore/third_party/abseil-cpp/absl/debugging/failure_signal_handler.cc#L153-L155

@samsidd This is using a fork of master 👍

[2019-03-14 14:49] paulb777 commented on #2555
@AndrewBarba Thanks for the report and sorry about the breakage. So far I'm not able to reproduce.  It looks like only comments have changed in `GULLoggerLevel.h` - ` git diff feadeec161b15ee8b17c6d22ce471e7282a18403 --  ./GoogleUtilities/Logger/Public/GULLoggerLevel.h`

Can you share more about reproducing?  What version of CocoaPods and Xcode? Is `use_frameworks!` in the Podfile? Does Xcode clea

[2019-03-14 15:11] AndrewBarba commented on #2555
I'm using CocoaPods 1.7.0-beta.2 (I know it's a beta, but was working fine before yesterday).

I tried cleaning the build, removing derived data, and `pod deintegrate; pod install`

Here's the Podfile:

[code]

[2019-03-14 15:26] wolfraam commented on #1813
For what it's worth: I had the same issue and solved it by moving some logic from didFinishLaunchingWithOptions() to applicationDidBecomeActive(). Apparently when didFinishLaunchingWithOptions() takes too long (database access etc. which is a bad idea anyway) the FCM messaging breaks.

[2019-03-14 15:42] paulb777 commented on #2555
Hmm, are you seeing the error in the Xcode before or after building?  If before, the ModuleCache may need to be rebuilt.

[2019-03-14 16:33] AndrewBarba commented on #2555
The build fails with the error `'GULLoggerLevel.h' file not found`. How would I clear the module cache? I feel like any of the steps I tried previously would have done that

[2019-03-14 16:39] paulb777 commented on #2555
Yep deleting DerivedData will erase the ModuleCache.

Can you share the full error from the Build Failure in the Xcode Report Navigator?

[2019-03-14 16:47] AndrewBarba commented on #2555
<img width="1026" alt="Screen Shot 2019-03-14 at 12 47 09 PM" src="https://user-images.githubusercontent.com/1316152/54375380-4e397c00-4657-11e9-8e6d-296684a02fcc.png">

[2019-03-14 17:45] #2534 closed

[2019-03-14 18:02] #2544 closed

[2019-03-14 18:04] paulb777 commented on #2555
Thanks. I'm still not able to reproduce, but the directory structure organization in GoogleUtilities is questionable and may be the root cause.

Given this and the other issue, we're going to rollback the os_log changes in GoogleUtilities and implement it sometime more incrementally sometime in the future.

We plan to publish GoogleUtilities 5.5.0 that exactly matches 5.3.7 and hope to get that ou

[2019-03-14 18:04] #2555 closed

[2019-03-14 20:45] chliangGoogle commented on #1813
For data message to receive make sure you set shouldEstablishDirectChannel and useMessagingDelegateForDirectChannel to true.

and implement the following method:
- (void)messaging:(FIRMessaging *)messaging
    didReceiveMessage:(FIRMessagingRemoteMessage *)remoteMessage
and handle your data message inside.

[2019-03-14 21:13] tristanbnewman opened #2558 "Auth.signOut() does not recommend Auth.auth().signOut()"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2019-03-14 21:18] tristanbnewman commented on #2558
Xcode version: 10.1
Firebase SDK version: Latest as of 3/14/19
Firebase Component: Auth
Component version: Not sure

Steps to reproduce:
* import Firebase
* class{ Auth.signOut()}
* An error will flag that doesn't suggest the likely fix of Auth.auth().signOut()

[2019-03-14 22:14] paulb777 commented on #2555
The rollback to 5.3.7 (== 5.5.0) is live
--------------------------------------------------------------------------------
 🎉  Congrats

 🚀  GoogleUtilities (5.5.0) successfully published
 📅  March 14th, 15:10
 🌎  https://cocoapods.org/pods/GoogleUtilities
 👍  Tell your friends!
--------------------------------------------------------------------------------

[2019-03-14 22:34] morganchen12 commented on #2558
This is a result of a Swift feature, and not something that would feasibly be corrected in Firebase. Basically what's happening is you're referencing the function as an instance member, and so Swift returns you the function itself as a result of this call without invoking it.

As a result, the line in your sample code should raise the following error recommending you use an instance of `Auth` inst

[2019-03-14 22:34] #2558 closed

[2019-03-15 00:20] AndrewBarba commented on #2555
@paulb777 My guess is this I related to the new option in CocoaPods 1.7:

`:generate_multiple_pod_projects => true`

They have a warning about it:

http://blog.cocoapods.org/CocoaPods-1.7.0-beta/

[2019-03-15 00:22] paulb777 commented on #2555
That sounds highly likely. Thanks @AndrewBarba!

[2019-03-15 06:19] balashekar3 commented on #1896
issue solved.

[2019-03-15 06:47] ewanmellor opened #2564 "Memory leak (retain cycle) in [FIRQuery getDocumentsWithSource:completion:]"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.1 (10B61)
  * Firebase SDK version: 5.16.0
  * Firebase Component: Firestore (Auth, Core, Database, Firestore, Messaging, Storage, etc)
  * Component version: Firebase/Firestore (5.16.0), FirebaseFirestore (= 1.0.0) from CocoaPods

### [REQUIRED] Step 3: Describe the problem

There is a retain cycle identified by Xcode Instrum

[2019-03-15 07:35] krsolutions opened #2565 "URGENT: Major crash with Firbase Fatal Exception: NSInvalidArgumentException"
Fatal Exception: NSInvalidArgumentException
0  CoreFoundation                 0x1dbdd1ea4 __exceptionPreprocess
1  libobjc.A.dylib                0x1dafa1a50 objc_exception_throw
2  CoreFoundation                 0x1dbd49384 _CFArgv
3  CoreFoundation                 0x1dbcbda58 -[__NSSetM addObject:]
4  Pepperfry                      0x102e53ccc __36-[FIRTrace updateTraceWithSessionId]_block_invok

[2019-03-15 07:41] schmidt-sebastian commented on #2564
Thanks for sending this over! I will route this internally to the right person and we should be able to get this fixed soon.

Looking at this briefly, the call `[listenerRegistration remove]` nils out its internal reference to `listener`, which should break the retain cycle. We do, however, not call `[listenerRegistration remove]` in the error case. I wonder if this is the case you are hitting.

[2019-03-15 08:02] ewanmellor commented on #2564
@schmidt-sebastian Yes, I think you're right.  I've put a breakpoint on there and I'm going through that error path.

[code]

[2019-03-15 08:20] 1amageek commented on #257
Thank you❤️

https://firebase.google.com/support/release-notes/js?hl=ja

[2019-03-15 13:52] paulb777 commented on #2565
Thanks for the report. Likely, we'll need more information to make more progress with it.  Please share the `Podfile.lock` and any known reproduction steps.

[2019-03-15 14:19] krsolutions commented on #2565
target 'Pepperfry' do

    use_frameworks!

    # Pods for Pepperfry

    # Social SDKs
    pod 'FacebookCore'
    pod 'FacebookLogin'
    pod 'FacebookShare'
    pod 'GoogleSignIn'

    # Analytics SDKs
    pod 'Firebase/Core'
    pod 'Firebase/Performance'
    pod 'Fabric'
    pod 'Crashlytics'
    pod 'CleverTap-iOS-SDK', '~> 3.1.7'
    pod 'AppsFlyerFramework'
    pod 'OptimoveSDK','1.2.3'

[2019-03-15 14:20] krsolutions commented on #2565
There is one more crash.

Fatal Exception: NSInvalidArgumentException
0  CoreFoundation                 0x22d7a1ea4 __exceptionPreprocess
1  libobjc.A.dylib                0x22c971a50 objc_exception_throw
2  CoreFoundation                 0x22d719384 _CFArgv
3  CoreFoundation                 0x22d68da58 -[__NSSetM addObject:]
4  Pepperfry                      0x10372f754 __48-[FPRNetworkTrace upda

[2019-03-15 14:22] paulb777 commented on #2565
Also looking for the `Podfile.lock` to know what version you have installed.  Based on the AppMeasurement specification, it looks like you might have an old version and there have been some `FirebasePerformance` crashes fixed in recent releases.  if you're not running Firebase 5.18.0, I recommend that you remove the `GoogleAppMeasurement` from your Podfile and run `pod update`.

[2019-03-15 14:33] krsolutions commented on #2565
[code]

[2019-03-15 16:13] paulb777 commented on #2565
FirebasePerformance is now at version 2.2.3 and updating may fix these crashes.

[2019-03-15 16:47] visumickey commented on #2565
@krsolutions The issue you had mentioned is already fixed. This should be available on 2.2.0+ versions of the Firebase Performance SDK.

Reference issue: https://github.com/firebase/firebase-ios-sdk/issues/2019

[2019-03-15 16:47] #2565 closed

[2019-03-15 17:46] ryanwilson commented on #2543
This was resolved. Can we roll back #2547?

[2019-03-15 17:55] Nikolus005 commented on #2565
@paulb777 @visumickey I am colleague of @krsolutions   We tried to update the pods but it doesn't update to version 2.2.3.
it is updating to version 2.1.2.
kindly correct me if I am missing something.

[2019-03-15 18:00] visumickey commented on #2565
Latest version of Firebase/Performance is https://cocoapods.org/pods/FirebasePerformance.

Possible issues might be:
1. Your Podfile might have a strict dependency towards 2.1.2 version of Firebase/Performance
2. It is possible that you are trying "pod install" in which case it does not try to upgrade the versions of the pod, rather tries to just re-install. May be try a pod-update?

I'm sure thes

[2019-03-15 18:01] renkelvin commented on #2543
Yeah, thanks for reminding! https://github.com/firebase/firebase-ios-sdk/pull/2566

[2019-03-15 18:02] Nikolus005 commented on #2565
thanks @visumickey. I did try pod update. I will check for first case.

[2019-03-15 18:03] paulb777 commented on #2565
The `Podfile.lock` file provides details about why each version is chosen.

[2019-03-18 00:42] fschaus commented on #2293
We've noticed the exact same problem (also on 5.15.0, but might have started to happen on previous versions) - basically if our app is in background for a fairly long-time firestore doesn't respond (no snapshotlistener being triggered). The only way to reconnect we've found so far is to kill the app and reload which is a terrible user experience.

Is there any way to monitor the connect status and

[2019-03-18 00:46] fschaus commented on #1868
Thanks @wilhuff ! I've been testing this on our staging build and so far it has worked remarkably well!

One issue we've noticed however, is that for users whose cache was previously large, setting the 'cacheSizeBytes' to something low does not immediately clear the caches and can leads to frustratingly long loading times.

Is there any way we can force the cache to clear? Right now the only we ha

[2019-03-18 02:10] mirsatmurutoglu commented on #1691
Facing the same crash [APMIdentity updateIdentifiers] on Firebase version 5.18.0

[2019-03-18 04:28] morganchen12 commented on #1691
@mirsatmurutoglu Can you open a new issue with the stack trace and any other debug information?

[2019-03-18 05:56] mirsatmurutoglu opened #2575 "Crashes on - [APMIdentity updateIdentifiers]"
After updating the SDK to latest version which is 5.18.0, We got some crash logs on Crashlytics.

#### Crash Log:

[code]

[2019-03-18 06:51] morganchen12 commented on #2575
Crashing in a system call (in this case `-[NSDate timeIntervalSinceNow]` is an indication that something else non-Firebase related is going on in your app, and this crash may not be caused by Firebase. Can you upload a sample project that reproduces this issue?

[2019-03-18 07:26] mirsatmurutoglu commented on #2575
Ok I will try to reproduce it on my end, and If i find something i will update it here

[2019-03-18 10:52] techmehra commented on #1862
Where is the development process to support carthage

[2019-03-18 13:56] paulb777 commented on #1862
@techmehra See https://github.com/firebase/firebase-ios-sdk/tree/master/ZipBuilder for the zip and Carthage libraries are build scripts.  There is additional internal code for deploying the libraries to Google servers.

[2019-03-18 15:43] hardikanavadia commented on #1896
@balashekar3 I am still facing this issue. How did you resolved it. can you please guide. TIA

[2019-03-18 16:09] sharpwitz commented on #1896
Our app did not use push notification, but in the app somewhere we had
enabled PUSH.  Once we disabled PUSH, it resolved the issue.

On Mon, Mar 18, 2019 at 11:43 AM hardik anavadia <notifications@github.com>
wrote:

[2019-03-18 16:21] zolomatok commented on #2372
I have the same problem.
I was using Firebase **5.18**, reverted back to **5.15.0** and now it's working again.

[2019-03-18 17:13] wilhuff commented on #2564
Just FYI, I have managed to reproduce this. It only happens on the error path, but removing the listener isn't the fix since listeners automatically are unregistered when there's an error. I'm working on a fix.

[2019-03-18 19:26] jhoughjr commented on #583
Bump. There should be no reason this isn't usable for both platforms.

[2019-03-18 19:28] jhoughjr commented on #1757
I'm finding pod FirebaseOSX is not found, though cocoa pods lists it as an official pod from Firebase. Firebase says is not official, what''s up with that? Perhaps it only supports objc like its 2012? I'm finding myself once again begetting using the 'new hip thing'.

[2019-03-18 19:29] jhoughjr commented on #1757
must have had a typo. nvm.

[2019-03-18 23:39] CyrusZei commented on #1916
any fix for this ? I can give you project that has this error if you want to have a look at it?
Have been struggling with this problem for 4 days now with no luck. I am even giving you 100$ for your time.

[2019-03-19 00:29] CyrusZei commented on #640
Can somebody point me on where I can find this header search path and remove it?
I am opening my .xcworkspace and clicking on my project and then "build settings" and then where ?
I am a bit lost

[2019-03-19 00:34] wilhuff commented on #1916
See my reply in detail here: https://github.com/firebase/firebase-ios-sdk/issues/2260#issuecomment-461601816.

In short, your HEADER_SEARCH_PATHS is somehow picking up files that are under the Pods directory. Scrutinize all recursive entries carefully.

[2019-03-19 01:30] CyrusZei commented on #1916
@wilhuff THANK YOU SO MUCH!!!!!! THANK YOU!!!!
send me a pm on twitter "https://twitter.com/cyrus_zei"  with your paypal info and I will send you the 100$. You don't know how much you helped me! I am crying right now

[2019-03-19 01:59] wilhuff commented on #1916
I’m glad you’re fixed up. I don’t twitter so don’t let  randoms claim your money :-).

[2019-03-19 02:01] CyrusZei commented on #1916
I will share private repo with you with my email and then you can email me. You deserve this money <3

[2019-03-19 02:04] CyrusZei commented on #1916
invitation sent

[2019-03-19 02:07] jhoughjr opened #2585 "Using FirebaseOSX login yields strange errors"
[code]

Using this code to login I never see my debug message. instead I see:

[code]

I have no idea what these mean and nor does google. My app is NOT sandboxed, if that is relevant.
I'm afraid I'm going to be another one of those "Wish I hadn't chose Firebase" bloggers soon.

[2019-03-19 09:28] j-jorge opened #2586 "Auth does not restore the previous user when launching the app."
* Xcode version: 10.1
  * Firebase SDK version: 5.17.0
  * Firebase Component: Auth
  * Component version: 5.3.1

### Describe the problem

My app uses Firebase Auth to authenticate the user via Facebook, Google or Phone. The UI is provided by FirebaseUI and the authentication works flawlessly for these three providers.

The problem is that the authenticated user is lost when I restart the app (i.

[2019-03-19 10:32] andreiNutmeg commented on #2479
Is there any progress with this? Tried fixing it by updating to `FirebaseInstanceID 3.7.0` and `Firebase 5.18.0` and nothing has changed.

[2019-03-19 10:39] rayyanfaris opened #2587 "Auth does not delete anonymous user"
* Xcode version: 10.1
  * Firebase SDK version: 5.18.0
  * Firebase Component: Auth
  * Component version: 5.4.0

### Describe the problem
Attempting to delete a signed in anonymous user returns a '17999' internal error.

#### Steps to reproduce:

1. Authenticate an anonyomous user
2. Attempt to delete user using the delete() method

#### Relevant Code:
[code]

[2019-03-19 13:28] paulb777 commented on #2585
See https://github.com/firebase/firebase-ios-sdk/issues/2188#issuecomment-467115665

[2019-03-19 13:35] eyalevy commented on #2512
@renkelvin @paulb777  did any of you experience this error?

[2019-03-19 13:37] maksymmalyhin commented on #2479
@andreiNutmeg I looks like this is the same issue as #2534. The fix is implemented and should be available in the next release.

[2019-03-19 13:44] maksymmalyhin commented on #2512
@eyalevy I wonder, if you can reproduce the crash if you remove `pod 'TrustKit'`. From the first glance, TrustKit does method swizzling on `NSURLSessionDelegate` which could be a reason of the issue.

If we know this we may narrow down the issue search area. Thanks.

[2019-03-19 14:04] eyalevy commented on #2512
@maksymmalyhin when I disable swizzling or remove TrustKit completely the issue doesn't reproduce.

I want to add that we did not add TrustKit recently. The last change we did is to upgrade Firebase SDK from version 4.9 to version 5.15. With Firebase SDK v4.9 and TrustKit the issue doesn't reproduce as well.

[2019-03-19 14:22] maksymmalyhin commented on #2512
@eyalevy Thank you for the quick response. We will investigate how we can fix it.

[2019-03-19 16:31] jhoughjr commented on #2585
I appreciate the link but the problem is no, things arent working normally.
Ive seen BoringSSL chattiness before but not so many errors.
The issue is fir example i call the signing method and it spits oit those errors and never calls the conpletion.
The JS SDK works.

[2019-03-19 16:48] paulb777 commented on #10
@ay8s Checking TARGET_OS_TV should be fine

[2019-03-19 17:52] paulb777 commented on #186
@herrernst The `unrecognized selector` issue doesn't reproduce with CocoaPods 1.6.1. I reproduced it with CocoaPods 1.5.3 and worked around it there by adding `-ObjC` to the `Other Linker Flags` Build Setting.

[2019-03-19 18:13] hansemannn commented on #2252
Is this being worked on? We see the same crashes in Crashlytics.

[2019-03-19 20:10] sentex commented on #2522
I have the same problem. Get `FIRAuthErrorCodeInternalError(17999)` after upgrading to Firebase Authentication 5.4.0

[2019-03-19 20:32] Yue-Wang-Google commented on #2522
@sentex it's fixed in 5.4.1. See the above PRs

[2019-03-19 21:15] sentex commented on #2522
<img width="627" alt="Снимок экрана 2019-03-19 в 23 13 39" src="https://user-images.githubusercontent.com/3669767/54642237-cb705100-4a9c-11e9-9e0c-cb1871252319.png">

[2019-03-19 21:16] sentex commented on #2522
<img width="914" alt="Снимок экрана 2019-03-19 в 23 15 44" src="https://user-images.githubusercontent.com/3669767/54642310-f064c400-4a9c-11e9-8e84-ccfc541867e9.png">

[2019-03-19 21:35] sentex commented on #2522
how can I install this version ?

[2019-03-19 21:38] Yue-Wang-Google commented on #2522
@sentex you can wait a day or two and see if it is upgraded on Cocoapods. Or, you can simply patch in  #2542 and #2530.

[2019-03-19 21:39] paulb777 commented on #2522
Or see instructions at https://github.com/firebase/firebase-ios-sdk#accessing-firebase-source-snapshots or wait an hour or so. We're publishing to[ CocoaPods](https://github.com/CocoaPods/Specs/commits/master) now.

[2019-03-19 21:55] #1986 closed

[2019-03-19 21:55] #2283 closed

[2019-03-19 21:55] #2324 closed

[2019-03-19 22:27] tfonfara opened #2590 "LICENSE warning in FirebaseMessaging pod"
### Describe your environment

  * Xcode version: 10.1 (10B61)
  * Firebase SDK version: 5.19.0
  * Firebase Component: Messaging
  * Component version: 3.4.0

### Describe the problem
Seems that LICENSE file isn't integrated properly

#### Steps to reproduce:
- Integrate Firebase Messaging via Cocoapods
- Receive warning: `[!] Unable to read the license file LICENSE for the spec FirebaseMessaging

[2019-03-19 22:33] paulb777 commented on #2590
@tfonfara I'm not able to reproduce.   The pod was just published so I wonder if you have something out of sync in your configuration.

Would you try `pod cache clean FirebaseMessaging` and retry?

[2019-03-19 22:37] tfonfara commented on #2590
@paulb777 that fixed it! 👍

[2019-03-19 22:37] #2590 closed

[2019-03-19 22:48] paulb777 opened #2591 "Standardize on GoogleUtilities Swizzler"
Standardize swizzler usage with the [GoogleUtilities Swizzler](https://github.com/firebase/firebase-ios-sdk/tree/master/GoogleUtilities) in FirebaseAuth and FirebaseMessaging.

[2019-03-19 23:00] paulb777 commented on #2512
It looks like the google/gtm-session-fetcher#130 creator stopped responding to the reviewer's questions months ago, so the discussion would need to be revived.

[2019-03-19 23:34] paulb777 commented on #2432
Make sure that `-ObjC` is included in the `Other Linker Flags` in Build Settings

[2019-03-19 23:36] paulb777 commented on #2386
@christibbs Please add an internal bug number so that other Googlers can track.

[2019-03-19 23:42] paulb777 commented on #2022
This is a bigger change than we want to make for the default Firebase use case.

Likely we'll wait for better CocoaPods support.

If anyone wants this in the meantime, they can use modified podspec version.

[2019-03-20 00:17] christibbs commented on #2386
Internal bug number is 128939308.

[2019-03-20 01:39] ay8s commented on #10
@paulb777 https://github.com/firebase/firebase-ios-sdk/pull/2592 left as WIP as it requires dev gRPC pods right now.

[2019-03-20 03:28] manuelph commented on #357
+1

[2019-03-20 04:30] balashekar3 commented on #1896
@hardikanavadia after uploading **APNs Auth Key** in firebase iOS app configuration it is solved.if it does not solve the issue to you contact firebase support team they will guide you because I did like this only.

[2019-03-20 10:21] andreiNutmeg commented on #2479
Hey @maksymmalyhin, thanks for the answer. Do you have any rough estimations when it will be released?

[2019-03-20 12:03] keshavkaul commented on #2233
@1omarsaid I'm having the same issue. Any luck resolving this?

[2019-03-20 13:02] vysotsky commented on #2233
I'm having that issue as well. I tried cleaning Xcode and its caches but it seems to be not working. Any progress?

[2019-03-20 13:03] avitruk opened #2593 "Firebase Performance SDK crashes on Simulator"
Xcode version: 10.1 / 10.2 Beta
Firebase SDK version: 5.19 / 5.18
Firebase Component: Performance
Component version: 5.19 / 5.18

When we adding "Firebase/Performance" component, the application crashes on the simulators, but works fine on the real devices.
Please check the screenshots:
![first](https://image.prntscr.com/image/1edojkndTomnpTHDaGbhpA.png)
![second](https://image.prntscr.com/image/b

[2019-03-20 13:20] maksymmalyhin commented on #2479
@andreiNutmeg It was released yesterday. Feel free to update to FirebaseInstanceID 3.8.0, Firebase 5.19.0

[2019-03-20 13:21] keshavkaul commented on #2233
FYI, I switched to the legacy build system in xcode 10 and this issue disappears.

[2019-03-20 14:07] paulb777 commented on #2543
Reopened since the rollback was reverted.

[2019-03-20 16:05] jhoughjr commented on #1757
I am seeing no completion blocks get called, and a bunch of BoringSSL error messages, Been unable to diagnose. Trying to load firebase in a JSContext. I so wish we hadn't chosen firebase.

[2019-03-20 16:28] jhoughjr commented on #2149
I'm not holding my breath. About to talk to my client about switching from Firebase as I've wasted hours chasing the incorrect documentation only to still fail to get the most basic functionality to work.
I expected better support from google for a paid service.

[2019-03-20 16:38] paulb777 commented on #2585
@jhoughjr Please stop add non-constructive, snarky comments to other issues. If you have something tangible to add to shed further light on your issue, please add it here.

Also note that [Firebase OSX support is documented to be community supported](https://github.com/firebase/firebase-ios-sdk#community-supported-efforts) and is on a best-effort basis from the Firebase team.

[2019-03-20 16:46] paulb777 commented on #2585
@jhoughjr Are you using https://cocoapods.org/pods/FirebaseOSX versus the Firebase OSX support documented in this repo?

[2019-03-20 17:20] jhoughjr commented on #2585
Which ones are the latest, official known to work docs? I've tried both as well as my own creative solutions to no avail.
The closest I've gotten yielded the errors above.

[2019-03-20 17:27] paulb777 commented on #2585
The `FirebaseOSX` pod dates from early 2016 and only includes the Firebase Real-time Database.  It will likely soon be deprecated.

The docs in this pod are expected to work for the scope defined. However, as noted, OSX support is not currently officially supported.

The more information you can share about install configuration and reproducibility increases the likelihood of a quicker resolution.

[2019-03-20 17:30] herrernst commented on #186
@paulb777 Thanks for your help, after upgrading CocoaPods it's working now!!

[2019-03-20 17:34] jhoughjr commented on #2585
Digging through issues and PRs I've found:https://github.com/firebase/firebase-ios-sdk/pull/2241

Says on the tin it will do what I need, so I'll try that.
Build config is a developer ID non sandboxed app using the old build system.
Using cocoapods.
Xcode 10, Swift 4.2 on macOS 10.14.
Firebase is the only external dependency.

Where are the docs for the procedure I should be using?
In lieu of docs

[2019-03-20 17:39] paulb777 commented on #2585
Thanks.  To be clear, the is the Firebase pod does not support for OSX.  FirebaseAuth, FirebaseCore, FirebaseDatabase, FirebaseFirestore, FirebaseFunctions and FirebaseStorage CocoaPods are available.

[2019-03-20 17:41] jhoughjr commented on #2585
Auth and Firestore are all I think i need.
I cloned the repo but i don't see the :
[code]
in firebase-ios-sdk. Are those different repos or is it under my nose?

[2019-03-20 17:47] renkelvin commented on #2543
Yeah, according to my investigation, there is still issue on Facebook side. Will reenable the tests when the issue is fixed.

[2019-03-20 17:53] paulb777 commented on #2585
Both are in this repo, but you shouldn't need to clone since they're published to CocoaPods master. It's sufficient to add the following to the `Podfile`:

pod 'FirebaseAuth'
pod 'FirebaseFirestore'

[2019-03-20 18:23] jhoughjr commented on #2585
Everything seems to be working ok now. Seeing some BoringSSL errors, but auth works.
Thanks for bearing with an autist and guiding me to the solution.
I'm not so sure what is different in my config that what I tried before,
(erhaps not having firestore pod and my app using it on the backend) but I'm gald it works.
Closing the issue.

[2019-03-20 18:23] #2585 closed

[2019-03-20 18:27] wilhuff commented on #2585
Note that the BoringSSL output you're seeing is actually coming from iOS and is a result of the underlying sockets we're using being very chatty. There's plenty of discussion about these messages elsewhere.

https://stackoverflow.com/questions/46352735/what-is-tic-read-status-157-in-ios11-xcode-9

You can safely ignore these.

[2019-03-20 18:58] paulb777 commented on #2591
Contact @tejasd when ready to start working on a PR for this.

[2019-03-20 20:23] allenktv commented on #2451
Unfortunately we do not support this currently. It may not be exactly what you want, but as an alternative I would suggest turning the array into a comma separated string and logging that as the parameter.

[2019-03-20 20:57] wilhuff commented on #2293
@fschaus We should already be doing what you're describing. We're monitoring events from `SCNetworkReachability` and restarting our connection on changes. Could you please enable logging and send your logs? If they're large or sensitive, feel free to send to me by email at mcg@firebase.com.

[2019-03-20 21:08] paulb777 commented on #640
@CyrusZei See the links in the comments above. If you're still stuck, you might want to try stackoverflow.  I'm not sure many Realm users watch this repo's issues.

[2019-03-20 21:27] paulb777 commented on #2373
@shachar-silbert Looking more closely at the second thread, I see 'FIRInstanceID' and 'APMSqliteStore', both of which fixes for rare, sporadic crashes in recent release. Would you try Firebase 5.19.0 to see if the issue still occurs and send us updated traces?

[2019-03-20 21:53] wilhuff commented on #2265
I can't reproduce the underlying issue, and without more information on this there's really nothing I can do. @morganchen12 or @Thomas-Cartotto if you're able to reproduce this please let us know and we'll reopen and investigate further.

[2019-03-20 21:53] #2265 closed

[2019-03-20 23:12] businessengine commented on #2293
Oh thanks for that information @wilhuff. We also realized on the SCNetworkReachability to determine if there is an active Internet connection. However, it doesn't work as expected sometime, especially when the internet connection is unstable (for area with slow, unstable network connection). You can see the screenshot below from our app, it shows OFFLINE, but the connection is still good (data is

[2019-03-20 23:26] wilhuff commented on #2293
If you can reproduce this please send logs. No amount of turning the network on and off again on my end is helping to reproduce this.

[2019-03-20 23:50] businessengine commented on #2293
@wilhuff we have sent the log to mcg@firebase.com, Thank you!

[2019-03-21 08:25] j-jorge commented on #2586
Not sure if it is relevant but there are two these two lines in the log (reformatted for GitHub):

[code]

and later

[code]

The first one seems to be related to the serialization of the user in the keychain and the second one seems to be the deletion of this user. Am I right? I don't know why the user would be deleted thought.

[2019-03-21 12:31] andreiNutmeg commented on #2479
That's great, thanks

[2019-03-21 13:38] b-onc commented on #2462
@paulb777 Hello,
We had a problem where using branch.io links, consecutive app opens did not report any utm parameters. (facebook persists this data). We overcame this by persisting the data ourselves and re-reporting it on app start.

Now that we've came across this issue, we wonder if they're the same & that is fixed. We're trying to test but could not find a way. We report AnalyticsEventCampaig

[2019-03-21 14:20] matickunaver opened #2603 "Missing InAppMessagingDisplayResources.bundle with Carthage installation"
* Xcode version: 10.1
  * Firebase SDK version: 5.19
  * Firebase Component: InAppMessaging
  * Component version: 5.19

Using **Carthage** to include Firebase with my app.
App crashes when trying to present InApp display message with:

[code]

I cannot find the  _InAppMessagingDisplayResources.bundle_ included with the Framework.

[2019-03-21 14:35] paulb777 commented on #2603
Confirmed. Thanks for the report @matickunaver.

Workarounds are specifying version 5.18.0 for InAppMessagingDisplay in the Cartfile or applying the Resource bundle from the 5.18.0 install to the 5.19.0 install.

[2019-03-21 16:16] jhoughjr commented on #2585
Maybe so, but I am seeing SSL errors.
Just as in this https://github.com/firebase/firebase-ios-sdk/issues/1661
https://stackoverflow.com/questions/55261199/firestore-internal-assertion-failed-could-not-load-root-certificates-from-the-b#_=_
So I can auth, but not actually use the Firestore. I'm going to try and step down the pod version until it works since that is what was indicated in the issue t

[2019-03-21 16:27] wilhuff commented on #2585
As described in the other issue, you need to ensure that the `gRPCCertificates.bundle` is a part of your app.

We do have some [logging you can enable](https://firebase.google.com/docs/reference/swift/firebasefirestore/api/reference/Classes/Firestore#/c:objc(cs)FIRFirestore(cm)enableLogging:) that could shed some light on what it's trying to find. Can you post the actual error message you're seein

[2019-03-21 16:34] jhoughjr commented on #2585
I was able to trace it to the user token refresh.
Trying Firestore from git master yields the same errors,:
[code]

[2019-03-21 16:48] jhoughjr commented on #2585
I have verified in a build that has the same errors as above that
gRPCCertificates.bunlde is in my app product in the grpcpp framework.

[2019-03-21 16:56] jhoughjr commented on #2585
Just adding that I see these errors on auth, though it appears to sign in normally
[code]

[2019-03-21 16:58] jhoughjr commented on #2585
Here is the eror with firebase logging enabled

[code]
I see it says the bundle is not there but i can see it is there in finder in the built product.

[2019-03-21 17:09] wilhuff opened #2604 "Firestore fails to find certificates on macOS"
Pod installing Firestore ends up crashing with this message:

[code]

#2241 added code that should have addressed this but it's not working in a clean install.

[2019-03-21 17:10] wilhuff commented on #2585
OK. I think we've abused this original issue long enough. I've created #2604 specifically to track the certificate loading issue on macOS. Let's continue discussion on this there.

[2019-03-21 17:12] dfiggtns commented on #2100
After reading many solutions, what worked for me was doing a pod update:

    cd platforms/ios; pod update; cd ../..

That brought all the versions into line. Occams razor, I guess.

[2019-03-21 17:13] dfiggtns commented on #2281
After reading many solutions, what worked for me was doing a pod update:

    cd platforms/ios; pod update; cd ../..

That brought all the versions into line. Occams razor, I guess.

[2019-03-21 17:15] dfiggtns commented on #1654
After reading many solutions, what worked for me was doing a pod update:

    cd platforms/ios; pod update; cd ../..

That brought all the versions into line. Occams razor, I guess.

[2019-03-21 17:15] jhoughjr commented on #2604
acknowledged.
Anything else you need me to try?
I've verified the bundle it is looking for is indeed where it is looking according to finder.

Early yesterday I would get dialogs about using the keychain with a guidlike thing.firebase etc.
I no longer see that. When i looked in the keychain to possibly remove that entry for a fresh start, i could not find it. I don't know if it is related to the i

[2019-03-21 17:20] wilhuff commented on #2604
I've managed to reproduce the issue locally, so for the moment I don't need anything else from you.

I can see that the bundle is present as well. However, we're not finding it with the code we have. Under the debugger in `grpc_root_certificate_finder.mm`, I see:

[code]

We shouldn't have to reach into the bundle like that though, so I'm investigating.

[2019-03-21 17:25] paulb777 commented on #2585
The FirebaseOSX pod is now deprecated in favor of the Firebase* pods from this repo.

[2019-03-21 17:25] jhoughjr commented on #2604
Much obliged. Let me know if you need any testing from me, or if you can think of a fix i can shoehorn in. (I'm 3 days late on deliverables and low on coffee!)

[2019-03-21 17:32] jhoughjr commented on #2604
Just a thought, could it have to do with cocoapods and how it links dependencies?
I'll also add I'm on mohave. Maybe apple derprecated something on you.

[2019-03-21 17:51] wilhuff commented on #2604
No the issue is that the code is implicitly making assumptions about bundle structure that hold true on iOS but don't on macOS.

You should be able to work around this for the moment by placing a copy of the `roots.pem` file that you'll find inside `gRPCCertificates.bundle` and adding it as a resource directly to your application. I'm cooking up a fix.

[2019-03-21 17:56] jhoughjr commented on #2604
Great minds think alike. I was just coming here to say I had it worked around by doing just that after seeing @"roots.pem" in the array of bundles. I moved the pem out of the bundle to the root of my proj, added it to the target and added it to copy bundle resources.
I smell some unit tests brewing! I can only imagine Obj-C++ unit testing...
Thanks again for helping debug this.
If y'all do tests I

[2019-03-21 19:43] ugenlik opened #2607 "Memory Leak on addSnapshotListener for Firestore"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.1
  * Firebase SDK version:
[code]

### [REQUIRED] Step 3: Describe the problem

When adding a delegate to Snapshot Listener, it causes a retain cycle.

I have a `Viewcontroller` that has a `weak delegate` to firestore listener class. If listener class calls the weak delegate reference when `Viewcontroller` class get destroyed

[2019-03-21 21:47] wilhuff commented on #2607
This is working as designed. Some applications intend to fire and forget listeners, so `ListenerRegistration.dealloc()` does not destroy the listener.

You need to call `ListenerRegistration.remove()` on the listener registration when you're done with it. Either once you've gotten the data you need or in this class's `deinit`.

Using `weak` for your `ListenerRegistration` members doesn't do anythi

[2019-03-21 21:47] #2607 closed

[2019-03-21 22:25] #2604 closed

[2019-03-21 22:27] wilhuff commented on #2604
The fix has been committed to master and it will go out with our next release. In the meantime you can build against Firestore from master by changing your Podfile as described [in our README](https://github.com/firebase/firebase-ios-sdk/#accessing-firebase-source-snapshots).

[2019-03-21 23:54] LondonAtlas opened #2609 "Application Name with accent character causes exception."
* Xcode version: 10.1 (10B61)
  * Firebase SDK version: 5.18.0
  * Firebase Component: Core
  * Component version: 5.3.1

### [REQUIRED] Step 3: Describe the problem

When trying to configure the object FirebaseApp using the initialiser `configure(name:` String. options: FirebaseOptions)` supplying an application name that contains an accent such as `ē` will cause an exception.

#### Steps to repr

[2019-03-22 03:43] ryanwilson commented on #2543
Sorry about that, thought it was resolved!

[2019-03-22 07:10] TakahiroTsuchiya opened #2611 "InAppMessaging is displayed even if specified app's version changes after auto-update"
InAppMessaging is displayed after the iOS app is auto updated.
The trigger conditions are based on the previous version of the app.
Expected result is that the in-app message cannot be displayed.

[READ] Step 1: Are you in the right place?
Yes

[REQUIRED] Step 2: Describe your environment

Xcode version: 10.1
Firebase SDK version: 5.14
Firebase Component: InAppMessagingDisplay
Component version: 0

[2019-03-22 09:57] damienix commented on #2462
@b-onc I second your question, about what makes Firebase remember UTM campaign for a particular user. Which event does it?

Meanwhile, to my understanding, technically these params are stored in some internal place and attach to subsequent events as campaign parameters. Though I think there's some magic happening to set them as in the live BigQuery export of the events (intraday table) there are n

[2019-03-22 10:13] b-onc commented on #2462
@damienix

Exactly, but the `(not set)` event is not reported for consecutive launches. I wish DebugView showed the parameters in consecutive events (medium at least) so we could be sure.

[2019-03-22 14:12] maksymmalyhin commented on #2462
@b-onc Let me clarify the issue you have.

The app behaviour:
1. When the application is launched with the link, then proper UTM campaign parameters are passed into application and you can see an event including those parameters in DebugView
2. When your application is started by a user (no link was used) then no UTM campaign parameters are passed to the app and no events with UTM campaign paramet

[2019-03-22 19:06] wilhuff commented on #549
While we're still _very_ interested in this feature, there's little value in tracking this separately for just iOS. The canonical issue for this is firebase/firebase-js-sdk#321. I'll close this one as a duplicate.

[2019-03-22 19:06] #549 closed

[2019-03-22 21:01] ffittschen commented on #2465
Is there any update on this issue? We still see quite a lot of crashes due to this problem.

[2019-03-22 21:48] paulb777 commented on #2609
Thanks for the report. This code has an overly constrained test to make sure that the characters are valid in a filename.

In the short-term, I sent a PR (#2614) to improve the error message. In the longer term, we'd be happy to consider a PR with a more expansive test.

[2019-03-24 08:09] shachar-silbert commented on #2373
Sure, will update if happens in further versions

[2019-03-24 14:07] keech commented on #2438
Any updates?

[2019-03-24 15:40] dov11 opened #2615 "[MLKit] FIRVisionTextBlock.text does not contain newline characters unlike Android counterpart"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.1
  * Firebase SDK version: 5.16
  * Firebase Component: MLVisionTextModel
  * Component version: 5.16

### [REQUIRED] Step 3: Describe the problem

Hello, we are using MLKit in React Native library [react-native-camera](https://github.com/react-native-community/react-native-camera), and recently one of the users [reported](ht

[2019-03-24 16:56] Sunrise17 commented on #2438
Looking forward team to solve the issue asap!...

[2019-03-24 17:57] wilhuff commented on #2564
@ewanmellor I haven't forgotten you, but we have a big effort underway to make this SDK available in C++ and I folded the resolution of this into that effort. Our next release window is coming up and if all goes well these fixes will end up in there. Thanks for your patience.

[2019-03-24 23:29] LucaConfa commented on #16
Same here, issue still happening on CocoaPods `1.6.0`.
Confirming that @shtnkgm workaround was good for me!

[2019-03-24 23:41] hbreumelhof commented on #1894
Is this major defect going to be investigated or is it just going to be left as is? It renders screen view reporting useless for a consolidated view across two platforms.

[2019-03-25 00:53] hbreumelhof commented on #2181
Is there not a way to allow us to disable automatic screen tracking so we can manually do it with the setScreen instead?

[2019-03-25 02:17] realluhui opened #2624 "Crash in FIRApp firebaseUserAgent"
### [REQUIRED] Describe your environment

* Xcode version: 10.1
* Firebase SDK version: 5.5.0 unity
* Firebase Componetn: Analytics, Auth, RemoteConfig
* Component version: 5.16

### [REQUIRED] Describe the problem

i upgrade sdk from unity 5.2.1 to unity 5.5.0, in fabric, i get crash info from fabric

Crash Log:
Fatal Exception: NSGenericException
0  CoreFoundation                 0x1be8c5ea4 __e

[2019-03-25 07:46] eitanaviv opened #2625 "Cloud Messaging subscription error"
### Describe your environment

  * Xcode version: 10.2 beta 4 (Swift 4.2 and latest iOS 12.2 beta 6)
  * Firebase SDK version: 5.19.0
  * Firebase Component: Messaging
  * Component version: 3.4.0

### Describe the problem
I'm trying to subscribe the user to a topic named after his phone number (only numbers) and at installation it works perfectly, but after running the app once again it fails to

[2019-03-25 14:11] j-jorge commented on #2586
Apparently the user is reset when we call `[ [ FIRApp defaultApp ] deleteApp: [] ( BOOL ) -> void {} ];` on the application's termination. If we remove this line the user is effectively restored on the next launch.

Is this a bug or a feature? Calling `deleteApp` when the application is shutting down seems natural. Am I missing something?

[2019-03-25 14:16] eduardbosch opened #2626 "Firebase Performance is crashing with Ktor Kotlin Native on iOS"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.1 10B61
  * Firebase SDK version: 5.19.0
  * Firebase Component: Core, Performance
  * Component version: 5.19.0

### [REQUIRED] Step 3: Describe the problem

When using Ktor with Kotlin Native, the application crashes if Firebase is configured in the app with Firebase Performance.

#### Relevant Code:

In this issue you can f

[2019-03-25 14:45] ugenlik commented on #2607
@wilhuff that is the problem `deinit` in my sample call is never called.....

I am actively listening changes in firestore , it is not fire and forget so I cannot call `ListenerRegistration.remove()`

[2019-03-25 15:17] ugenlik commented on #2607
@wilhuff nevermind, reading carefully, you are right, this is a my bad. Misusage of `weak var delegate`

[2019-03-25 15:18] wilhuff commented on #2607
Based on the graph I assume that `TicketDetailsManagerDelegate` is actually implemented by `TicketDetailsViewModel`.

Your first problem is that your delegate is strongly retained by the block, even though your class goes out of its way to keep a weak reference. The difference between the working case and the non-working case is that when you uncomment `modelDelegate` in the Firestore listener you

[2019-03-25 15:19] wilhuff commented on #2607
Even after you deal with the delegate, your second problem is that when your view is going it away it really should notify the manager to stop listening. Otherwise we'll just keep delivery snapshots into that block even though the delegate has gone away.

[2019-03-25 15:42] reimertz commented on #1045
I can confirm seeing these issues as well.

[code]

[2019-03-25 17:51] renkelvin commented on #2543
Issue fixed on Facebook side. Revert again https://github.com/firebase/firebase-ios-sdk/pull/2628

[2019-03-25 18:35] pepasflo commented on #924
FWIW we appear to have just run into this issue when upgrading our cocoapods.

We had been using Facebook iOS SDK 4.34, then upgraded to 4.39 and a little bit later realized that we got hit by the "unknown error building URL" issue (https://github.com/facebook/facebook-swift-sdk/issues/298).  We then upgraded to 4.42, which caused Facebook login to work when using Safari, but not when using the Fa

[2019-03-25 19:35] maksymmalyhin commented on #2445
Fixed in #2559

[2019-03-25 19:35] #2445 closed

[2019-03-25 20:10] morganchen12 commented on #2586
This is working as intended. You don't have to delete the Firebase app when shutting down. Auth has no way of knowing whether or not you'll re-initialize an app after it's deleted.

[2019-03-25 20:10] #2586 closed

[2019-03-25 20:36] MestevMYnov opened #2630 "App crash with MLVision"
Hello i got this error with firebase in my app :

Xcode version : 10.1
Firebase SDK version : 5.17.0
Firebase MLVisionText

Error :

`F0325 21:33:09.189833       3 mobile_lstm_recognizer.cc:834] Check failed: codes.size() == 1 (2 vs. 1) `

This app crash when the function of object vision "onDeviceTextRecognizer" is called.

Thanks you in advance for help

[2019-03-25 20:40] maksymmalyhin commented on #2630
@JimmyMYnov Thank you for reporting the issue. Would you be able to share a sample project and steps to reproduce the issue, please.

[2019-03-25 20:57] JimmyMYnov commented on #2630
@maksymmalyhin We can't share my projet, but we can reproduce this with https://github.com/firebase/quickstart-ios/tree/master/mlvision

[2019-03-25 21:11] maksymmalyhin commented on #2591
Classes to be attended:
- [FIRAuthAppDelegateProxy](https://github.com/firebase/firebase-ios-sdk/blob/master/Firebase/Auth/Source/FIRAuthAppDelegateProxy.m)
- [FIRMessagingRemoteNotificationsProxy](https://github.com/firebase/firebase-ios-sdk/blob/master/Firebase/Messaging/FIRMessagingRemoteNotificationsProxy.m)

[2019-03-25 21:24] maksymmalyhin commented on #2630
@JimmyMYnov Thank you for sharing this.
I was not able to reproduce the issue myself. I assume, there are some details I am missing.

Will it be possible to share your `Podfile` and `Podfile.lock`? Also, do you have the crash on a particular image? If yes, could you share it as well?

[2019-03-25 21:27] maksymmalyhin commented on #2630
@JimmyMYnov Another note - the most recent version of Firebase is 5.19.0. If you are able to update Firebase version and check the issue?

[2019-03-25 21:51] JimmyMYnov commented on #2630
@maksymmalyhin

I missing that point : For two project i use carthage
This error is made with a camera, so no matter the picture.
I have already try to upgrade to 5.19.0 but this error is still same

[2019-03-26 01:02] paulb777 commented on #2624
At first glance, I don't see anything wrong with the code at https://github.com/firebase/firebase-ios-sdk/blob/release-5.16.0/Firebase/Core/FIRApp.m#L515 or the `sLibraryVersion` usages.  Perhaps there's a wild pointer in the app or the unity integration? We'll likely need a reproducible test case.

[2019-03-26 08:32] MamuninaNV commented on #2445
Thanks you all :)

[2019-03-26 12:27] hammamm opened #2637 "while using FirebaseMLCommon to read tflite files i got error ( Input Firebase App can not be nil) and the error occurred after this code let interpreter = ModelInterpreter.modelInterpreter(options: options)"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2019-03-26 13:34] maksymmalyhin commented on #2624
It looks like `+[FIRApp firebaseUserAgent]` is not really thread safe. `sLibraryVersion` can be modified while enumerating. From the crash log, it looks like the method is invoked from a background thread.

@realluhui I wonder, if you can provide call stack for other threads?

In the meanwhile I am going to post a PR to make fix `+[FIRApp firebaseUserAgent]` thread safety.

[2019-03-26 13:46] veronesecoms commented on #2233
Im having this same issue, i switched to legacy build system but i still receive firebasecore.h not found

[2019-03-26 13:50] paulb777 commented on #2233
If the steps at https://github.com/firebase/firebase-ios-sdk/issues/2233#issuecomment-451357893, don't work for you, please share a reproducible example.

[2019-03-26 13:52] walsht commented on #2376
@visumickey Some good information in this issue that could help identify and resolve this issue.  https://github.com/realm/realm-cocoa/issues/5618

[2019-03-26 16:47] allenktv commented on #1894
Thank you for your concerns. We agree that the current duplication of screen view events is an issue and are planning on making improvements. I will update this thread once we have something more concrete.

[2019-03-26 17:12] maksymmalyhin opened #2640 "FIRApp refactoring - thread safety"
We need to consider a cleaner way to support thread safety of `FIRApp`. It was brought up as a result of #2639 (see related issue, discussions and history)

 Right now `@synchronized(self)` is used for this purpose. The main disadvantages of this approach is:
- it requires extra attention from a developer modifying the class. It is easy to miss when new logic is implemented. In fact, the original

[2019-03-26 17:54] #2624 closed

[2019-03-26 18:55] wilhuff commented on #2564
Those three fixes have now been submitted and will go out with our next release.

[2019-03-26 18:55] #2564 closed

[2019-03-26 19:46] paulb777 opened #2642 "Update podspecs required CocoaPods version to 1.5.3"
Now that CocoaPods 1.6.1 is out and CocoaPods 1.7.0 betas are out, let's update the minimum CocoaPods version from 1.4.0 to 1.5.3 with the next breaking release.

[2019-03-26 20:19] #2543 closed

[2019-03-26 20:33] morganchen12 commented on #2637
Can you share a repro sample? Sounds like you're using MLKit before the FirebaseApp instance has been initialized.

[2019-03-26 20:58] wilhuff commented on #1045
@reimertz Please file a new issue with as much information as you can, including what query you're running. We released a fix for the original issue here [in August](https://github.com/firebase/firebase-ios-sdk/issues/1045#issuecomment-411077192).

When posting the issue it's worth collecting the logs from the SDK, by [enabling logging](https://firebase.google.com/docs/reference/swift/firebasefire

[2019-03-26 23:35] hbreumelhof commented on #1894
Fantastic. Thanks for your response @allenktv.

[2019-03-27 02:30] 1amageek opened #2653 "FR: FIRDocumentReference initWithDocumentReference"
## Added initialization of FIRDocumentReference for Codable

### Introduction
When FIRDocumentReference conforms to Codable, initialization with Decodable is required.
However, because the initialization method is sealed, it can not conform well.
I understand why the initialization method is sealed. That is the proposal.

[code]

### Proposed solution
I propose adding an initialization method that

[2019-03-27 02:31] 1amageek commented on #2653
@paulb777 What do you think about this FR?

[2019-03-27 02:51] wilhuff commented on #2653
I have a design I'd like to share with you. Could you send me your email address to mcg@firebase.com?

[2019-03-27 03:54] 1amageek commented on #2653
@wilhuff OK I send.

[2019-03-27 10:01] radvansky-tomas opened #2654 "FIRDocumentSnapshot Internal -> Public"
Hi everyone, please is there a chance to make this header public: FIRDocumentSnapshot+Internal.h

If you look at trouble it causes on flutter https://github.com/flutter/flutter/issues/23618

You might understand my frustration. All we need is to have simple way for pagination.
Current solution is quite hideous how it is...I still dont understand why We cannot use documentId in startAtDocument meth

[2019-03-27 10:11] radvansky-tomas commented on #2654
Specially if you are not really using documentSnapshot content, as per your method

`- (FSTBound *)boundFromSnapshot:(FIRDocumentSnapshot *)snapshot isBefore:(BOOL)isBefore`

You are passing some internal key which is used for sorting...

[2019-03-27 10:31] radvansky-tomas commented on #2654
Or is there a way to order collection by documentId and then pass documentId to startAt (values)

[code]

[2019-03-27 11:00] radvansky-tomas commented on #2654
So last solution is not supported (DESC), and even if it was...documentID is not chronological key in firestore :(

[2019-03-27 11:29] Dalein commented on #2365
Firebase 5.19.0

[2019-03-27 11:30] Dalein commented on #2372
Firebase 5.19.0
FirebaseMessaging 3.4.0

Same issue

[2019-03-27 11:41] radvansky-tomas commented on #2654
Only option which actually works is to use documentID in native code and perform extra reading to get documentSnapshot and pass this into query.

[code]

Which is kind of insane...as I already have this

[2019-03-27 11:43] Sunrise17 commented on #2438
Dear @chliangGoogle , Is update available to fix this issue?

[2019-03-27 13:08] b-onc commented on #2462
@maksymmalyhin Sorry for the late response.

When the application is simulated as launched via a link (by tracking utm parameters with `AnalyticsEventCampaignDetails`), we see a `(not set)` event including our utm parameters. Consecutive events in the same session do no have the utm parameters set.

Consecutive normal launches (no link simulation, no utm tracking code) do not have this `(not set)`

[2019-03-27 13:23] maksymmalyhin commented on #2462
@b-onc no problem.
The current ticket doesn't change behaviour in your case. Would you be able to create a separate ticket, please?

[2019-03-27 14:29] mikengyn commented on #2630
This started happening to me too randomly, will report back if I can figure out the issue

[2019-03-27 15:48] wilhuff commented on #434
OK tests working (#2641) and running on Travis (#2645) is good enough to call this done.

[2019-03-27 15:48] #434 closed

[2019-03-27 16:32] MestevMYnov commented on #2630
Yes this error is happened and generalized in my app when i make an archive

[2019-03-27 16:57] mikelehen commented on #2653
Thanks for the feedback!  We actually have an existing issue discussing Codable support for Firestore over here: https://github.com/firebase/firebase-ios-sdk/issues/627  So if you have additional feedback, that would probably be the best place for it (or on the doc that @wilhuff has shared with you).

Note that DocumentReference is basically just a path to data and the actual Firestore data is sto

[2019-03-27 16:57] #2653 closed

[2019-03-27 17:05] morganchen12 commented on #2654
DocumentSnapshot, unlike DocumentReference, contains document existence state, and thus isn't suitable for constructing on the client. What you should do instead is fetch a query limited to some number of items and then use the last document in the query snapshot in your next `startingAt(_:)` call. What you're trying to do instead is not supported and will probably not ever be supported, since the

[2019-03-27 17:19] paulb777 opened #2658 "Remove or fine tune FirebaseAnalytics warning from Firebase.h"
Firebase.h should stop generate a warning about a missing FirebaseAnalytics.h. Or perhaps only keep it for pods removing the hard dependency on Analytics in Firebase 6.

[2019-03-27 17:20] paulb777 opened #2659 "Firebase Docs should stop recommending Firebase/Core inclusion"
Users should be explicit about asking for Firebase/Analytics

[2019-03-27 17:49] temrich commented on #2630
@MestevMYnov Can you please provide a stack trace or log file that shows the error/crash?

[2019-03-27 19:02] radvansky-tomas commented on #2654
@morganchen12 Thank you for reply, but you did not understand the problem.

First of all, I am using official Firestore plugin for flutter, which is basically wrapper around Firestore iOS & Android SDK. What it does is to expose your methods to flutter/dart. So in my code I obviously have DocumentSnapshot coming from query, with all states etc. But this object has been parsed and transferred to Da

[2019-03-27 19:06] wilhuff commented on #2654
The fix is to make flutter retain the underlying FIRDocumentSnapshot so that when you transfer it back across the dart / Objective-C boundary you can reuse the snapshot that already exists.

We don't allow snapshots to be constructed arbitrarily because there's too much underlying complexity that we don't want to expose.

[2019-03-27 19:09] mikelehen commented on #2654
It's also worth noting that `startAtDocument()` is just a convenience method to perform the equivalent `startAt()` call.

`collection.orderBy('x').orderBy('y').startAtDocument(someDoc)` is basically shorthand for `collection.orderBy('x').orderBy('y').orderBy(FieldPath.documentId()).startAt(someDoc.get('x'), someDoc.get('y'), someDoc.documentId)`

So you can certainly do pagination without having t

[2019-03-27 19:12] radvansky-tomas commented on #2654
@mikelehen finally something useful, could you please rewrite your answer as I really dont understand this bit "someDoc.get('x')" Could you try write it in objc/swift/java/kotlin ?

[2019-03-27 20:12] mikelehen commented on #2654
@radvansky-tomas These two (Swift) queries are equivalent:

[code]

Does that help?

[2019-03-27 20:15] radvansky-tomas commented on #2654
@mikelehen YES. Will do changes and test on my side. And if its going to work, we will be able to close this issue. But then I really suggest to put this snipped into documentation, as there is no reference to it!

[2019-03-27 20:25] mikelehen commented on #2654
Thanks for the feedback!  I've opened an internal bug to improve the reference docs for startAtDocument() to make this clearer.

Please do let us know if this works for you and then we can close the issue.  Thanks!

[2019-03-27 20:33] MestevMYnov commented on #2630
<img width="575" alt="Capture d’écran 2019-03-27 à 21 32 42" src="https://user-images.githubusercontent.com/18066154/55110239-ea439880-50d7-11e9-8049-f09274c4d7fa.png">