[2019-07-15 13:46] maksymmalyhin commented on #3183
Sorry, we had to revert #3322 becuase `GULMutableDictionary` is used by other SDKs such FirebaseAnalytics which rely on its original implementation, so #3322 may cause some performance issues.

Currently we are testing #3300. We will push it once it is tested. It will be great if you have a chance to test it from your side. To do it add to your `Podfile` a line:
[code]
and perform `pod install`.

[2019-07-15 14:38] dloic opened #3354 "Firebase dynamic links -- iOS manual URL construction"
Hi there,

We're building dynamic links manually, using the following documentation: https://firebase.google.com/docs/dynamic-links/create-manually?authuser=0

On our Firebase projects, we have a set of 8 iOS apps, each one using a different bundle id.
For iOS, the documentation says we need to use the **ibi** parameter to specify "the bundle id of the iOS app to use to open the link".

Unfortunat

[2019-07-15 15:23] morganchen12 commented on #2303
@adarhef can you share a project that reproduces this behavior? Dynamic links will make a network request to resolve short links, which on poor networks may be cancelled by the system ("Software caused connection abort) when the app sending the request is backgrounded. My suspicion is you can mitigate this error by creating a background task when handling the universal link and end the background

[2019-07-15 15:33] adarhef commented on #2303
Unfortunately I cannot share a project reproducing this error. It is a short link, but my connection here can hardly be described as poor.
Sleeping (`usleep(50000)`) works around this issue for me as well.
Maybe it would be helpful to mention that the app is already opened, I go back and forth between the last two apps (mine and Mail) using the force touch gesture at the edge of the screen if you'

[2019-07-15 17:08] christibbs commented on #3228
@xiao99xiao could you share your code snippet for the handler method that gets called when you tp your button? I tried reproducing this with a sample app but I'm seeing normal behavior.

My method looks like:
[code]

Where `iam` is an instance of `InAppMessagingCardDisplay`.

[2019-07-15 18:36] renkelvin commented on #3353
This is an intended behavior.

The Auth instance only check the stored user once when the app is launched. The reason is that there could be pending changes with the signed in user. Firebase Auth won't automatically switch the user on behalf of the developers.

`authStateChangeListener` get triggered after the user is actually changed.

[2019-07-15 18:44] Johnson145 commented on #3353
In that case this behavior should at least be explained in the docs, shouldn't it?
E.g. [the docs say that the shared keyshain allows to:](https://firebase.google.com/docs/auth/ios/single-sign-on)

So I guess the described behavior isn't what one may have in mind after reading this.

[2019-07-15 19:31] dmandar commented on #3344
This crash should only happen if you are using FirePerf or if you have multiple active instances of RC (not common) in your app. Please let us know if it s not the case for you.

[2019-07-15 20:43] morganchen12 commented on #2303
The network request cancellation is poorly documented, so it's not surprising that it's happening on any network quality. Does the error go away if you create a background task (as a workaround)?

@dmandar do you think automatically creating a background task is reasonable here?

[2019-07-15 23:32] allenktv commented on #3321
Does this happen every time on 12.0 devices? And also does this happen in 12.1?

[2019-07-16 01:00] #3298 closed

[2019-07-16 01:00] wilhuff commented on #3298
The fix for this will go out with the next release.

[2019-07-16 01:59] yanfangl commented on #3321
This problem occurs in iOS 12.3.1.

[2019-07-16 05:51] amitlad opened #3368 "FCM v1 push payload not invoking service extension iOS"
We are using FCM as a backend for push notification with new HTTP v1
POST https://fcm.googleapis.com/v1/projects/myproject-b5ae1/messages:send

We have followed this link to setup the server https://firebase.google.com/docs/cloud-messaging/migrate-v1

push payload is as follows:
[code]

Everything is working fine on Android however FCM with iOS is not invoking the service extension for rich push n

[2019-07-16 05:58] mouness2020 commented on #3344
Yes that's true i'm using FirePef .. also i have two firebase projects
one for live api and second one for test api but one of them works at time

`   let firebasePlistFileName: String = typeURL != "api" ? "GoogleService-Info-test" : "GoogleService-Info"

        if let path = Bundle.main.path(forResource: firebasePlistFileName, ofType: "plist"),let firbaseOptions = FirebaseOptions(contentsOfFile:

[2019-07-16 06:18] adarhef commented on #2303
I just realized that in order to create a background task I need to add the Background Fetch capability. I've never done it and I'm not sure I want to just in order to work around this issue in my code.

I've tested simply wrapping the handle call in `DispatchQueue.global(qos: .background).async { ... }` and it also works. However, any other global QoS class like `userInitiated` and `userInteracti

[2019-07-16 10:01] b-onc commented on #3344
We also experience this crash, we have a single instance of RC and we do use Firebase Performance. The crash happens half of the times on a clean install. Removing Firebase Performance fixes this issue. In the meantime we downgraded to 6.3.0

[2019-07-16 11:28] yanfangl commented on #3321
This project uses the cocos engine, which works fine when the reference to the sqlite3.h and sqlite3.c files in the cocos is removed. Is there any conflict between these two files and firebase analytics？

[2019-07-16 12:08] novkostya opened #3365 "UI API called from background thread"
* Xcode version: 10.2.1
  * Firebase SDK version: 6.4.0
  * Firebase Component: Analytics (?)
  * Component version: Firebase/Core (6.4.0), FirebaseAnalytics (= 6.0.3)
  * iOS: 13 beta 2 (not sure if it matters though)

### [REQUIRED] Describe the problem

`FPRScreenTraceTracker` calls `-[UIViewController isViewLoaded]` on background thread. Setting `FirebaseScreenReportingEnabled` to `NO` in Info

[2019-07-16 13:42] maksymmalyhin commented on #3365
@novkostya Thank you for the issue report.

As far as I can see from the code, the method `-[UIViewController isViewLoaded]` is called `dispatch_sync` on a background queue, so despite that technically it is called from a background thread, it is synchronized with the UI thread, so should be safe to use as is.

Anyway, we will consider a fix to avoid the main thread checker complaining.

[2019-07-16 13:47] paulb777 commented on #3321
@yanfangl There could be an issue if those files have alternate implementations of the iOS sqlite system library implementation. Do you see any duplicate symbol warnings logged at load time in the Xcode console?

[2019-07-16 13:47] maksymmalyhin commented on #3365
Internally tracked at b/137637765.

[2019-07-16 17:18] morganchen12 commented on #3368
If you're sending the same notification payload, the behavior on the client should be the same regardless of whether or not you're sending via HTTP legacy or HTTP v1. Can you log the receiverd payload on the client and post the results here?

[2019-07-16 17:32] morganchen12 commented on #2303
You shouldn't need any extra permissions to use [this API](https://developer.apple.com/documentation/uikit/uiapplication/1623051-beginbackgroundtask).

[2019-07-16 19:35] GabrielScalici commented on #2233
Try remove the Podfile.lock file and Pods folder. Run 'pod install'. This working for me

[2019-07-16 19:56] MauriceArikoglu commented on #627
@wilhuff cool, I'll give it a try as soon as I get the chance. Will report

[2019-07-16 20:55] possen commented on #3136
Thanks for your work on this!

[2019-07-16 21:10] morganchen12 commented on #3353
I'll add a note to the docs.

[2019-07-16 23:18] dmandar commented on #3354
If your app is already installed, it will be opened using iOS universal links (using the appids mentioned in the app site association file.) If this is a custom domain, you can try editing the app-site-association-file to include paths specific to each of your apps.

[2019-07-16 23:18] #3354 closed

[2019-07-16 23:20] dmandar commented on #2910
To confirm, are you using dynamic links at all or is this a Firebase analytics question?

[2019-07-16 23:24] dmandar commented on #2447
Thanks for reporting . Internal bug 137687937 tracking this.

[2019-07-17 00:39] MiZhen007 commented on #16
I just wanna figure out whose bug it is, firebase? or cocoapods?

[2019-07-17 07:28] adarhef commented on #2303
Okay, my bad. Wasn't aware of this one.
Unfortunately it didn't help in the way I used it:

        let id = application.beginBackgroundTask()

        return DynamicLinks.dynamicLinks().handleUniversalLink(url) { dynamiclink, error in
            // Here dynamiclink alternates between being nil and non-nil

            application.endBackgroundTask(id)
        }

Is this what you meant?

[2019-07-17 07:50] amitlad commented on #3368
I am sharing the details about both Http & Http v1 api request details from
ARC tool & received payload on iOS for rich push notifications using iOS service extension mechanism.

**1. Legacy Http - https://fcm.googleapis.com/fcm/send with legacy request payload
Request:**
{
 "to" : "iOS device token",
  "content_available" : true,
    "mutable_content": true,
    "priority" : "high",
    "category

[2019-07-17 08:48] yanfangl commented on #3321
The sqlite version is 3.8.1 in sqlite3.c. When the version is upgraded to 3.29, it works fine.  Thank you all.

[2019-07-17 08:51] igiazlas commented on #3344
I also have this issue. It happens on fresh installs and old ones.

My configuration on AppDelegate is

[code]

[2019-07-17 09:58] dinghaoz commented on #2575
I have this exact same crash ever after I integrated Firebase.

[2019-07-17 11:27] sergiou87 commented on #2009
I've been using Crashlytics for tvOS via Fabric for a few years now too, now trying to do the migration but we can't migrate it because the iOS app shares the same bundle identifier. Looking forward to migrate the tvOS app to Firebase too!

[2019-07-17 13:20] ryanwilson commented on #3344
@igiazlas thanks for the report. Is reproducible for you on a local test device? If so, what iOS version and what device / simulator are you using?

We have what we believe is a fix going into the next release that's being packaged and tested shortly, hopefully we can find a reliable repro to validate this issue goes away.

[2019-07-17 13:31] igiazlas commented on #3344
I can reproduce it on an iPhone X running 12.3.1, on a 5s running 12.4 beta but not on a 6s running 11.4.1. Also in all the 12.3.1 simulators I checked. It is consistent if I leave the last 3 lines in AppDelegate. If I remove them, and don't put them anywhere else, it does not crash, at least not for the first 20-30 seconds that I let it run.

[2019-07-17 13:34] #3321 closed

[2019-07-17 13:55] KevinLaRosa commented on #3344
Hi,
Same problem for me on my iPhone X 12.3.1 after a pod update en 6.4.0.
We use Firebase with RemoteConfig and Performance and we have the same setup than @igiazlas except that we set our defaults from a dictionary.

[2019-07-17 14:03] igiazlas commented on #3344
I also use Firebase Performance as @KevinLaRosa. This is the Firebase values I have on the Podfile.lock

[code]

[2019-07-17 14:20] ryanwilson commented on #3344
@igiazlas can you verify which simulator versions you're using? As far as I'm aware there are no 12.3.1 simulators, only 12.2.1 and above.

[2019-07-17 14:35] KevinLaRosa commented on #3344
I've seen that the crash happened when I removed```RemoteConfigSettings(developerModeEnabled: false)```

I have sometime the crash on simulator 12.2
[code]

[2019-07-17 14:41] jorjuela33 commented on #1894
Guys, Any updates on this?

[2019-07-17 15:00] b-onc commented on #2910
@dmandar we are not using firebase dynamic links, we are using branch utm links and do the utm tracking with firebase. I guess this is an Analytics question.

[2019-07-17 15:33] igiazlas commented on #3344
@ryanwilson you are right, I meant to say the latest simulators which are 12.2

[2019-07-17 16:58] paulb777 commented on #2910
Internally tracked at b/137757236

[2019-07-17 17:10] dloic commented on #3354
Hi @dmandar,

Thanks for your suggestion. It was my guess that **IBI** would not be used, now this is confirmed. Could be good to add this in the documentation for others.

We'll try with custom domain and manual edit of the app-site-association-file, as described here: https://github.com/firebase/firebase-tools/issues/1169

[2019-07-17 17:27] morganchen12 commented on #2303
Yep, that's exactly what I had in mind. Do you still get the same error? If so, then I'm most likely wrong about the cause of the issue.

Can you share an example project that reproduces this bug?

[2019-07-17 18:09] dmandar commented on #3344
Based on all your input, we have made a fix for a race that occurs if Perf and RC SDK are both included, which should be out soon. @igiazlas can you also confirm you are also using FirePerf? If not, please confirm if you have the same stack trace.

[2019-07-17 18:12] igiazlas commented on #3344
@dmandar yes, I also use FirePerf. I've posted my Podfile.lock above.

[2019-07-17 22:21] aodhol opened #3378 "Remote Config Permission Denied Error"
### Environment

  * Xcode version: 10.2.1
  * Firebase SDK version: 6.4.0
  * Firebase Component: Remote Config & Auth
  * Component version: 4.2.0 / 6.2.0

### Describe the problem

Remote Config fetch results in an error:

```Error Domain=com.google.remoteconfig.ErrorDomain Code=8003 "RCN Fetch Failure: Server returned error:code: 403. Status: PERMISSION_DENIED. Message: Requests to this API fi

[2019-07-17 22:48] morganchen12 commented on #3378
I suspect this is a project-scoped issue. You should file a ticket at [Firebase Support](https://firebase.google.com/support) and they'll be able to look at your project logs, including detailed error messages for why your requests are returning 403.

[2019-07-17 22:52] aodhol commented on #3378
@morganchen12 Thanks - I suspected as much and filed a ticket with them - the error might want to indicate though this so that I wouldn't waste your time here :)

[2019-07-18 04:20] possen commented on #3136
The latest Xcode Beta 4 says under resolved issues "Swift packages that use unsafeFlags build settings can’t be used as a dependency. (50354068)" this could be a breakthrough in getting prebuilt binaries to work. It may allow "-F" to be passed as well as "no-objc-arc". Haven't tried it yet but thought I would let you know.

[2019-07-18 05:44] kennic commented on #3344
My app also crashes a lot because of this
<img width="494" alt="Screen Shot 2019-07-18 at 12 41 35 PM" src="https://user-images.githubusercontent.com/5372071/61432081-787aad80-a959-11e9-95a4-54f620d8ee4f.png">
<img width="865" alt="Screen Shot 2019-07-18 at 12 43 45 PM" src="https://user-images.githubusercontent.com/5372071/61432179-cb546500-a959-11e9-9d5f-2216ca27c5e1.png">
<img width="877" alt="

[2019-07-18 06:11] adarhef commented on #2303
Yes it's the same NSPOSIXErrorDomain Code=53 error.

I can't share an example project, but even if I could it wouldn't contain any more code than what I've already shared. I'm running on an iPhone 7 with iOS 12.3.1 and the latest framework version.

The use case is as I described earlier: Just go back and forth between Mail (where I tapped the short link). Turns out it doesn't matter how you do it

[2019-07-18 07:09] dhiren92 commented on #2252
We are facing the similar issue
The crashyltics is showing the following

`com.google.fira.worker
0  libsystem_kernel.dylib         0x1ae173408 fsync + 8
1  libsqlite3.dylib               0x1aea38418 sqlite3_free_table + 67964
2  libsqlite3.dylib               0x1aea42ecc sqlite3_randomness + 2400
3  libsqlite3.dylib               0x1aea37d24 sqlite3_free_table + 66184
4  libsqlite3.dylib

[2019-07-18 09:46] AJereli opened #3380 "dynamic link with custom domain doesn't work with the first launch of the application after iOS Application installed"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.2.1
  * Firebase SDK version: 4.13.0
  * Firebase Component:  Core, Database, Firestore, Messaging, Storage, etc)
  * Component version: Core - 4.0.20, FirebaseDynamicLinks - 2.3.2

### [REQUIRED] Step 3: Describe the problem

First, I connected my domain in Firebase Hosting and created Dynamic Links with a custom domain.
I se

[2019-07-18 09:59] bajtyngier commented on #3344
Also experiencing the crash at times.
`EXC_BAD_ACCESS KERN_INVALID_ADDRESS 0x00000007b9678940`
`-[RCNConfigExperiment initWithDBManager:]`

[2019-07-18 12:05] ilyon opened #3381 "App Frozen"
When the app starts, before the log output "[Firebase/Analytics][I-ACS025026] Deferring to Firebase for event data collection", the APP will freeze for 10 seconds. Below is the detailed log.

2019-07-17 18:15:16.856718 xxxxApp[54342:14909060] 5.20.0 - [Firebase/Analytics][I-ACS023072] Event logged. Event name, event params: screen_view (_vs), {
    firebase_debug (_dbg) = 1;
    firebase_event_ori

[2019-07-18 13:53] maksymmalyhin commented on #3381
May be related to #3242.
cc @htcgh

[2019-07-18 14:04] paulb777 commented on #3380
@AJereli Thanks for the report. Please try a more recent version of Firebase. The version you're using is a year and a half old and the latest is now Firebase 6.4.0.

[2019-07-18 14:19] bbrv2018 commented on #3144
Good afternoon, we are super happy that you will allow us to use Firebase for our iPad app on the Mac. Any idea when the new frameworks will be released? We had to abstract all our call to Firebase from our App to get it working at the moment.
Thank you very much!

[2019-07-18 16:43] paulb777 commented on #3381
I would suspect `<Google/Utilities/Network/ERROR> Encounter network error. Code, error: -1005, Error Domain=NSURLErrorDomain Code=-1005` is related.

@ilyon I'm not sure if anything related to this has changed, but it could be worth checking if the problem still occurs with Firebase 6 - run `pod update`.

[2019-07-18 16:53] morganchen12 commented on #2252
@dhiren92 your crash is not the same as the one reported in this issue. Please file a new issue.

[2019-07-18 21:10] aodhol commented on #3378
@morganchen12 Unfortunately, The support team said the project is fine...

[2019-07-18 21:24] morganchen12 commented on #3378
Interesting. Are you able to reproduce this project using a different Firebase account in the same Xcode project?

[2019-07-18 21:26] aodhol commented on #3378
@morganchen12 Potentially but what if it was paid for by the same card?

[2019-07-18 21:34] paulb777 commented on #3344
Firebase 6.5.0 just released with a fix. We were never able to reproduce the issue internally so would appreciate confirmation from those how saw the issue.

[2019-07-18 21:57] morganchen12 commented on #3378
I don't think payment method should affect this issue. Can you share your project, or a sample repro?

[2019-07-18 22:12] aodhol commented on #3378
@morganchen12 I can't, however, support has this info: #00002225

[2019-07-18 22:52] morganchen12 commented on #3378
Support only has the AppDelegate and your config files, all of which look fine. I was able to copy-paste your AppDelegate into the [ABTesting quickstart](https://github.com/firebase/quickstart-ios/tree/master/abtesting) after removing Branch, Braintree, and Crashlytics (and adding Auth and Messaging) and it ran without error.

Can you create a sample project that reproduces this or share a zip of

[2019-07-19 01:57] sylvioleblanc commented on #3145
Thanks @renkelvin ... Where’s the best place to listen for updates on the progress of the Firebase implementation of Sign-In with Apple?

[2019-07-19 02:07] bishalg opened #3399 "Issue on fetching data using getDocuments - "Missing or insufficient permissions.""
**Overview of the Issue**
Getting Error Code 7 - Missing Permissions for Get request.

**Motivation for or Use Case**
Same query using **_ListenerRegistration_** is working

**Browsers and Operating System**
iPhone - iOS 12,
FirebaseCore 6.0.4

**Reproduce the Error**
[code]

**Database Rule**
[code]

**Sample Code - Similar to above**
[Code](https://github.com/firebase/snippets-ios/blob/bf623dcd8

[2019-07-19 03:21] XiongbinZhao opened #3397 "FR: Set timeout interval for detectTextRecognizer"
I want to set a timeout interval when detecting text in case of slow network.
But I could not find a way to set the timeout interval.

[2019-07-19 04:50] khatchik commented on #3144
Hey @ryanwilson, I am working with Atlassian and trying to ship Jira's Mac App.
Do you know if this ticket will also include porting the crashlytics library?
If the answer is no, do you know to whom should I raise a ticket for this?

Thanks mate!

[2019-07-19 06:42] thomaslange commented on #3344
@paulb777 I can confirm the fix. Thanks for your quick help!

[2019-07-19 08:32] AchidFarooq commented on #1868
I thought on giving you guys maybe an update on thing right now in our app. We started implementing much more direct calls to documentId's to solve the client side indexing at the moment.

Before, if we had an ID for instance, and we wanted to look up the document matching this key we would perform a query with the .whereFieldIs method. This was taking very long. Now we use much more relations ins

[2019-07-19 09:41] exceptioncatcher91 commented on #3365
I have the same problem as @Valpertui has.

[2019-07-19 09:44] TE-HarumiSagawa opened #3390 "Build fails when creating a new target"
###  environment

  * Xcode version: _____10.2
  * Firebase Component: _____ (Core, Analytics)

###  problem

Creating a new Build Target causes an error if it does not find FirebaseAnalytics.
Podfile is defined as follows.
[code]

#### error message:

[code]

[2019-07-19 10:10] abdulshamim opened #3391 "Firebase In App message is not coming when app is in foreground on iPhone"
Firebase In App message is not coming when app is in foreground ios swift. And also it sometime coming and some time not coming.

Please help Iy would be great help.
Thanks and regards
Abdul

[2019-07-19 10:51] abdulshamim commented on #3391
Xcode Version: 10.1 (10B61)
Firebase SDK version: 6.4.0
Firebase Component: In-App Messaging
FirebaseInAppMessaging (0.15.1)
FirebaseInAppMessagingDisplay (0.15.0)
FirebaseInstanceID (4.2.1)

Firebase In App message is not coming when app is in foreground on iPhone.
And also it sometime coming and some time not coming.

[2019-07-19 12:04] over140 commented on #3365
me too.

[2019-07-19 12:53] visumickey commented on #3365
@Valpertui Is this freezing on the development builds or even on release builds?

[2019-07-19 13:12] Valpertui commented on #3365
Freezes only occur in dev builds from Xcode 10.2.1 sdk 12 targeting iOS 13 devices (device support import trick) and Xcode 11 sdk 13 targeting iOS 13 devices.
When TestFlight builds from Xcode 10.2.1 targeting the SDK 12 are run on an iOS 13 device, the freezes do not occur.

[2019-07-19 13:54] paulb777 opened #3392 "New CoreDiagnostics Analysis issues"
Four new analysis issues showed up in last night's tests.

cc: @jasonhu-g

Open Issues Introduced in This Integration
--
[code]

[2019-07-19 14:11] uuunk opened #3393 "FR: Add 'cacheThenServer' to read from cache first"
For times where there is slow network access or the datasets are large, on snapshotListeners and document gets it would be great to be able to be able to set a `cacheThenServer` flag to be able to read from the local cache first, then to update with server data. If new/different data exists, the event would fire again.

Referencing the discussion here:
https://github.com/flutter/flutter/issues/190

[2019-07-19 14:16] ryanwilson commented on #3390
Hi @TE-HarumiSagawa - version 5.20.1 is about 3 months old now and we've gone on to a new major version (6). Are you able to update to the latest version? If not, you should look at the last release of 5.X which is 5.20.2 (which should have no API changes). Can you reproduce the issue in either of those versions?

[2019-07-19 14:51] wilhuff commented on #3393
What you’re asking for is exactly how snapshot listeners work. They read from cache and return an initial snapshot. When data is available from the server more snapshots are generated.

Note that any local changes that affect the query will also generate snapshots so if you’re interested in waiting until you have a snapshot from the server, add your snapshot listener with include metadata changes

[2019-07-19 14:51] #3393 closed

[2019-07-19 15:24] mikehaney24 commented on #3392
These are already fixed in pre-release-6.2.0

[2019-07-19 15:37] paulb777 commented on #3392
Will you merge into master to fix the Nightly Analysis runner?

[2019-07-19 16:26] jlaws commented on #3144
@ryanwilson you should take a look at how the Realm team got it working

https://github.com/realm/realm-cocoa/issues/6163

They recommend using a Swift Package for realm in place of cocoapods since they can live side by side.

[2019-07-19 17:24] morganchen12 commented on #3391
We fixed a similar issue in Firebase 6.5.0. Please try upgrading and seeing if the new version fixes your issue.

[2019-07-19 17:28] morganchen12 commented on #3145
On this issue. There's not much progress-wise that we can report in a meaningful way without implicitly creating unreliable timeline expectations, so there haven't been many updates here. However, we are committed to releasing Sign in with Apple support before Sign in with Apple is mandatory for new apps, which is expected to happen in fall of this year.

[2019-07-19 17:38] morganchen12 commented on #3397
cc @miworking @ulukaya

[2019-07-19 18:36] morganchen12 commented on #3399
Please correct me if I'm wrong--it looks like you're querying the entire collection and expecting security rules to exclude all the documents that cannot be read. This is [explicitly not a feature of security rules](https://firebase.google.com/docs/firestore/security/rules-conditions#rules_are_not_filters); you should be using a filtered query instead. Something like

[code]

[2019-07-20 01:49] dmandar commented on #3378
@aodhol can you confirm if your bundleID in your googleservice-info.plist file is the same as the app you are making fetch requests from? Also, are you using Perf SDK as well?

[2019-07-20 02:14] bishalg commented on #3399
@morganchen12 : Yes as per Security Rules Link you have provided it states - **Security Rules are not filters**. But in my security concern is simple **only the users who write the data should be able to read it**.

If I change the rule -
[code]

The iOS fetching code works but as you have  suggested that would need to filter out other users data on client side.

For which the code is like
[code]

[2019-07-20 02:26] bishalg commented on #3399
So I think I solved the issue with change of security rules as follows -

[code]

The change I made is -

Previously it was
 `request.auth.uid == request.resource.data.userID;`
Now it is
`request.auth.uid == resource.data.userID;`

So I think if is added as an example on documentation it would be helpful to others as well.
Also if there is already the resource on the difference about `resource.dat

[2019-07-20 08:18] phr85 commented on #1732
Any updates about FirebaseAnalytics support for macOS?

[2019-07-20 12:42] aodhol commented on #3378
@dmandar Yes, they're the same and I'm not using the Perf SDK.

[2019-07-20 13:10] paulb777 commented on #3392
Fixed by #3396

[2019-07-20 13:10] #3392 closed

[2019-07-21 13:59] paulb777 commented on #3015
Looks like there are working solutions above

[2019-07-21 13:59] #3015 closed

[2019-07-21 18:33] federicocappelli commented on #3242
We have **exactly** the same issue, I'm following.
If you need more data I'll be happy to provide it.

[2019-07-22 01:33] TE-HarumiSagawa commented on #3390
Trying to podinstall 5.20.2 results in an error.
[code]

[2019-07-22 03:46] abdulshamim commented on #3391
Firebase 6.5.0
FirebaseCore 6.1.0
FirebaseInAppMessaging 0.15.2
FirebaseInAppMessagingDisplay 0.15.2
FirebaseInstanceID 4.2.2

I had updated to pods version, but still not receiving  In-App messages in foreground.
Also When I'm publishing campaign it is not coming, but when I am testing using Instance ID it is working fine.

[2019-07-22 04:14] paulb777 commented on #3390
Did you update all of the `Firebase` pod specifications to 5.20.2. It looks like `Firebase/Core` and `Firebase/Analytics` may be different.

If that's not it, you should be able to get more data to diagnose by examining the `Podfile.lock`.

[2019-07-22 06:26] Salakar commented on #3298
Thanks for the quick fix & release @wilhuff 🎉

[2019-07-22 08:00] gutley commented on #3242
Hi, as Federico says above, we are also seeing this issue. In our case, this CPU spike can be up to 2 minutes. I also created a test app that shows the same issue. I have also seen cases where putting the app to the background while it is spiking will continue the spike for up to 2 minutes.

I raised a case with Firebase support already (Case 00002503: Excessive CPU use triggered by Firebase)

[2019-07-22 08:36] Hamada-Yuji opened #3405 "When unlink email account, Error Domain=FIRAuthErrorDomain Code=17016 "User was not linked to an account with the given provider.""
Environment
  * Xcode version: 10.2.1
  * Firebase SDK version: 6.5.0
  * Firebase Component: Auth
  * Component version: 6.5.0
  *swift 5.0.1

I tried to unlink email account. like below code.
[code]
but I got an error,
[code]

I also tried
[code]
And I got the same error.
I tried to unlink after reauthenticate the email, but the same result.

GoogleAuthProviderID and FacebookAuthProviderID worke

[2019-07-22 08:47] mlmcgrath opened #3406 "FirebaseAnalyticsBinary 6.5.0 missing FirebaseCoreDiagnostics.framework"
#### Environment

  * Xcode version: 10.2.1
  * Firebase SDK version: 6.5.0
  * Firebase Component: Analytics
  * Component version: 6.5.0

#### Steps to reproduce:

Downloading the most recent version of Analytics via Carthage results in a missing framework error for `FirebaseCoreDiagnostics`. From the [version JSON](https://dl.google.com/dl/firebase/ios/carthage/FirebaseAnalyticsBinary.json), in

[2019-07-22 11:27] AJereli commented on #3380
@paulb777
Seem like a can't update this pod. Can it be related to that I use obj-c project?

[2019-07-22 14:11] paulb777 commented on #3380
@AJereli It's likely related to something in your Podfile that doesn't work with Firebase 6. You can see the details by examining the generated `Podfile.lock`.

[2019-07-22 14:16] paulb777 commented on #3406
@mlmcgrath Thanks for the report. We're in the middle of moving the CoreDiagnostics framework from FirebaseAnalytics to FirebaseCore for Firebase 6.6.0 and a commit happened a bit too early.  This will be fixed in the next release.

In the meantime, the workaround of using `CoreDiagnostics.framwork` from a recent release is a good workaround.

[2019-07-22 15:07] mlmcgrath commented on #3406
Perfect, cheers!

[2019-07-22 15:07] #3406 closed

[2019-07-22 16:22] morganchen12 commented on #3378
Have you set any [key restrictions](https://developers.google.com/maps/api-key-best-practices#restrict_apikey) on your API keys in Cloud console?

[2019-07-22 16:33] morganchen12 commented on #3405
Is this the case for every user or just one user in particular?

[2019-07-22 16:38] morganchen12 commented on #3399
That's documented [here](https://firebase.google.com/docs/reference/rules/rules.firestore.Request). I'll take a look at updating the docs to make it more clear. In the meantime, I'll close this issue since it seems your issue is resolved.

Thanks for filing!

[2019-07-22 16:38] #3399 closed

[2019-07-22 18:30] averyvery commented on #1244
I believe I'm having the same issue with custom domains + preview + deferred links on Firebase v5.20.2. I'm [building my links manually.](https://firebase.google.com/docs/dynamic-links/create-manually) When I do the following with the preview enabled...

- Uninstall the app
- Open a custom domain dynamic link with preview enabled, and tap "open"
- Install the app via Xcode

...openUrl in AppDelega

[2019-07-22 18:35] morganchen12 commented on #1244
@averyvery it's not explicitly mentioned as required since DDL can work without it, but app preview does provide more accurate matching of the app installation to the device that tapped on the link. @dmandar can maybe elaborate more.

[2019-07-22 20:59] ulukaya commented on #3397
For now you can create the timeout on the client side and disregard the response if it comes late, but I've filed a FR internally. b/138134555

[2019-07-22 21:48] cooksimo opened #3411 "Using FirebaseApp.delete() results in unusable Messaging singleton"
### Describe your environment

  * Xcode version: 10.2.1
  * Firebase SDK version: 6.5.0
  * Firebase Component: Messaging
  * Component version: 4.1.1

### Describe the problem
We have several projects set up, representing different environments for remote config. We use Messaging to enable real time remote config updates. When a user switches the firebase environment within the app, we delete th

[2019-07-22 22:50] morganchen12 commented on #3411
IIRC this has never been an officially supported use case, though we also don't explicitly label `deleteApp:` as unrecoverable. We can revisit this behavior in API review, but in the meantime, what use case are you trying to accomplish by deleting and reconstructing the Firebase app?

[2019-07-22 22:51] paulb777 commented on #16
I tested the reproducible test case above with Xcode 10.1 and CocoaPods 1.7.5 and it successfully finds the Firebase module.

We'll need an example that is reproducible with current tools to make more progress.

[2019-07-22 22:55] cooksimo commented on #3411
Our use case is to have production, staging and sandbox environments for Firebase, with an in-app option to toggle between these environments for debug builds.

[2019-07-22 23:39] cooksimo commented on #3411
I have managed to workaround this and get it working again, but it's very hacky.

When we switch environments we do this:
[code]

[2019-07-22 23:50] radvansky-tomas opened #3412 "fetchSignInMethodsForEmail wrong response for EmailLink providerId"
* Xcode version: 10.2.1
  * Firebase SDK version: firebase_auth: ^0.11.1+12 -> auth version 6.0
  * Firebase Component: Auth(Auth, Core, Database, Firestore, Messaging, Storage, etc)
  * Component version: 6.0

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

Register user with firebase auth using emailLink. Check providerId using
fetchSignInMethodsForEmail

Response is: ["pa

[2019-07-23 00:29] morganchen12 commented on #2575
We've identified the cause of this bug and should have a fix in review soon.

[2019-07-23 01:00] #3320 closed

[2019-07-23 01:06] radvansky-tomas commented on #3412
Temp workaround - create cloud function to expose fetchProvidersForEmail via HTTP endpoint

Make sure that you have client env setup on cloud functions
[code]

[2019-07-23 02:12] Hamada-Yuji commented on #3405
@morganchen12 Yes, I tried multiple accounts, But every user got the same error.

[2019-07-23 03:11] sampathkumar1988 commented on #143
hi,

I'm facing this same issue. Debug view not showing the events. But in the stream view, I'm seeing the events.

Also in the xcode log, I'm  seeing "[Firebase/Analytics][I-ACS031010] Tracking view controller." `2019-07-23 12:34:58.983482+1000 SamFirebaseAnalyticsTest[44855:245373] 6.5.0 - [Firebase/Analytics][I-ACS024000] Debug mode is on
2019-07-23 12:34:59.974433+1000 SamFirebaseAnalyticsTest

[2019-07-23 03:17] Hamada-Yuji commented on #3405
I also tried on [`quickstart-ios/authentication/`](https://github.com/firebase/quickstart-ios/tree/master/authentication), and I got the same error.

I changed
* GoogleService-Info.plist
* Bundle Identifier
* Associated Domains
* actionCodeSettings.url

Is my Firebase account broken?

[2019-07-23 03:36] sampathkumar1988 opened #3413 "Unable to see debugview logs in Analytics [Firebase console]"
* Xcode version: 10.2.1
  * Firebase SDK version: 6.5.0
  * Firebase Component:  Analytics
  * Component version: 6.5.0

Note: This is similar to the issue [https://github.com/firebase/firebase-ios-sdk/issues/143]
Problem: I have added firebase analytics in my project. Added some events. I couldn't see those logs in debug view of the console. But I can see the events in Stream view. I have enabled

[2019-07-23 03:43] sampathkumar1988 commented on #3413
#143

[2019-07-23 08:07] Kukiwon commented on #3378
I resolved this by replacing the existing GoogleService-Info.plist with a new one downloaded from Firebase (Project Settings -> Download latest Config file).

Looking at the changes between the old and the new file, I noticed that they API keys is different from my older version. This might be the cause of the 403 errors.

[2019-07-23 09:07] jaumard opened #3414 "In App messaging doesn't compile with last Xcode 10.3"
I just updated to the last Xcode version and get error from in app messaging.

  * Xcode version: 10.3
  * Firebase SDK version: 6.1.0
  * Firebase Component: In App messaging
  * Component version: 0.15.2

#### Steps to reproduce:
Add in app messaging on your app, open Xcode and try to compile it

Interface Builder Storyboard Compiler Error Group on FIRInAppMessageDisplayStoryboard.storyboard

![

[2019-07-23 10:27] garyodonoghue commented on #3414
Hey @jaumard, funnily enough the old 'turn it off and on again' trick worked for me here, was having the same issue and just restarted my mac, all good now!

[2019-07-23 10:48] jaumard commented on #3414
Thx for the tips @garyodonoghue ! look like it was that ! Mac OS look more and more like windows lool

[2019-07-23 10:48] #3414 closed

[2019-07-23 11:39] amitlad commented on #3368
I figured out what was the issue "mutable_content" should be "mutable-content" and "content_available" should be "content-available".
Also update the apns tag as "apns": { "payload": { "aps": { "mutable-content": 1, "content-available" : 1 } }

[2019-07-23 11:39] #3368 closed

[2019-07-23 11:46] Anastassi commented on #2603
6.5.0 - same issue - keeps crashing.
@AlexisQapa did you succeeded in running script? Can you share it, please?

[2019-07-23 16:52] morganchen12 commented on #3413
Assuming you followed everything in [this document](https://support.google.com/firebase/answer/7201382?hl=en), your app should be set up correctly. Can you share a screenshot of your scheme configuration?

[2019-07-23 16:53] morganchen12 commented on #3405
No, your Firebase account isn't broken; it's most likely a bug in Firebase Auth.

[2019-07-23 18:55] renkelvin commented on #3405
@Hamada-Yuji I'm not able to reproduce the issue. Could you share the full steps how to reproduce? (including how the user is created and linked)

[2019-07-23 20:27] stevekellogg commented on #3144
Just wondering..  Is there any ETA as to when we might have a build to start working with?  ALSO, will this have all of the capabilities of the current iOS build?

TIA

[2019-07-23 21:13] ikeller96 commented on #16
Wait so was there a fix? Still happening for me as well.

[2019-07-23 21:15] paulb777 commented on #16
@ikeller96 There was a CocoaPods fix in 1.6.0.  If it's still happening for you, we need a repro to investigate.

[2019-07-23 21:19] ikeller96 commented on #16
@paulb777 I am on CocoaPods version 1.5.3. I'll try updating and see if that works.

[2019-07-23 22:39] Idomo commented on #147
Hi @schmidt-sebastian @morganchen12, there are any updates?
I would like to make it possible to use my app even when the user is offline/have a bad signal, the Real time database knows how to handle those situations, but using Firebase Storage making it unhelpful, 'cause at 80% of cases the user is uploading an image with the data that sent to the database.

[2019-07-23 22:40] maksymmalyhin opened #3416 "Extremely flaky pod lib lint - url: The URL (https://twitter.com/Firebase) is not reachable."
A lot of jobs has been failing recently with error:
`WARN  | url: The URL (https://twitter.com/Firebase) is not reachable.`
e.g. https://travis-ci.org/firebase/firebase-ios-sdk/jobs/562729249

[2019-07-23 22:41] skyfoxa opened #3417 "Cannot get ID token on getIDTokenForcingRefresh"
### [READ] Step 1: Are you in the right place?

YES

### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.2.1
  * Firebase SDK version: 6.5.0
  * Firebase Component: Auth, Core, Database, Analytics
  * Component version: 6.2.1, 6.1.0, 6.0.0, 6.0.4

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

I cannot refresh ID token for signed in user when app's lunch

[2019-07-23 23:01] morganchen12 commented on #3417
Are you getting 400 errors on any other Firebase SDK requests?

[2019-07-23 23:05] morganchen12 commented on #147
No progress on this issue unfortunately. You can work around it by generating a download URL and using NSURLSession's background transfer methods.

[2019-07-23 23:15] sampathkumar1988 commented on #3413
@morganchen12 I can able to see the logs in debug view when I tried to create a new sample app with the same configuration as mentioned above. Working fine now. I can close the issue.

I have one more query. I created some events yesterday and in the stream view, i was seeing all the events logged. But today my console looks like new. no data of yesterday. From the Top date menu, i selected yester

[2019-07-23 23:48] morganchen12 commented on #924
Hey all, sorry for the slow response here. The goal of the `FirebaseAppDelegateProxyEnabled` flag was to allow developers to choose between easy or simple, but it's woefully missing from our docs. I'll take a look at fixing that soon.

In the meantime, is this still an issue in Firebase 6+ and Facebook SDK 5+?

[2019-07-23 23:48] Idomo commented on #147
@morganchen12 Just saw this: https://github.com/antonyharfield/FirebaseStorageCache (from here: https://www.youtube.com/watch?v=Cpw1UO9JKic)
It's nice, but it would be nicer to have something like this built-in in Firebase (and maybe implemented a bit better to be synced with firebase changes like the offline database persistence).

[2019-07-24 00:04] morganchen12 commented on #3413
For your second question, you should file a [support issue](https://firebase.google.com/support). The support team will be able to take a look at your project and tell you why your data is not visible.

[2019-07-24 00:04] #3413 closed

[2019-07-24 00:06] sampathkumar1988 commented on #3413
Thanks will reach them.

[2019-07-24 00:07] skyfoxa commented on #3417
@morganchen12 no, I don't receive any other 400 errors, I use some firebase observers and they are working fine, but I can't fetch new ID token.

I've also tried re-downloading the **GoogleService-Info.plist** file, the API_KEY is/was there, but it didn't help.

[2019-07-24 01:34] Hamada-Yuji commented on #3405
@renkelvin
In my code

[code]

[code]
This is my code.
And I also reproduce this issue on [`quickstart-ios/authentication/`](https://github.com/firebase/quickstart-ios/tree/master/authentication).
I wrote the steps above comment.

Are there any wrong steps?

[2019-07-24 05:25] abdulshamim commented on #3391
Any update? @christibbs @morganchen12

[2019-07-24 06:15] spthread commented on #357
I think @aleczadikian is correct it is blocking main thread. When i tried moving Firebase out of main thread it crashed saying main is required.
Try pushing Firebase with **DispatchQueue.main.async {}** this worked for me in one device but same behaviour in another. Still searching for concrete solution.

2019-07-24 11:10:00.660023+0530 5.16.0 - [Firebase/Analytics][I-ACS023007] Analytics v.505000

[2019-07-24 14:23] samedson commented on #3299
@agiguere are you using the Fabric Run Script to upload dSYMs? Eg. `${PODS_ROOT}/Fabric/run` in your Run Script Build Phases?

If so, that script automatically grabs the default GoogleService file in your project. Wou'll want to update the script to pass the path to the GoogleService file for each environment of your app.

This is pseudocode (not real shell scripting):
[code]

[2019-07-24 15:09] #3416 closed

[2019-07-24 15:15] agiguere commented on #3299
this is exactly what I was searching for, it make sense, in my case it's an enterprise application and the system (dev, qa, production) could be change in the app settings (settings bundle), so at each build phase I should upload both. Yes I have the build phase config but I am not using CocoaPods,

if I add a second line for sending my dSYM with my GSP-dev file, I got an error

[code]

OnHand is

[2019-07-24 15:35] samedson commented on #3299
Ah this is a quirk of bash syntax. Try out:

"${PROJECT_DIR}/Fabric.framework/run" --google-service-plist '${PROJECT_DIR}/OnHand/GoogleService-Info-dev.plist'

What I did is move the closing double quote from the end of .plist to after `run`. For whatever reason Xcode doesn't like it at the end (I think it's treating everything inside "" as the path to an script / executable).

Hope that helps!

[2019-07-24 15:45] agiguere commented on #3299
awesome that works, I am able to build without errors, let me test it by processing a crash and if everything is good I will close the issue!

[2019-07-24 16:38] #3299 closed

[2019-07-24 16:45] steipete commented on #3144
Adding my +1 here. We're also currently porting our apps and SDKs to Mac Catalyst, and had to mock Firebase. Happy to help if you're stuck, my DMs are open (@steipete on Twitter)

[2019-07-24 16:50] girishw commented on #3144
Same here, +1

[2019-07-24 16:54] morganchen12 commented on #3417
Does swapping the GoogleService-Info.plist for one from a different Firebase project repro the issue? If not, it may be an issue with your Firebase project.

[2019-07-24 17:18] Idomo commented on #147
@morganchen12 Tried to generate download URL (using `downloadURL(completion)`) as you suggested, but seems like I can't do so if the file haven't uploaded yet.
May you give me some way to get the download URL that the file would be uploaded to? (I need to save also the token that coming with this URL to be able to show the image in my app, didn't find a way to generate it manually).

What I'm actu

[2019-07-24 17:21] morganchen12 commented on #147
You should consider using a Cloud Function to do the upload and database update to guarantee update atomicity. The Cloud Function can be an https callable url that you transfer data to via NSURLSession.

[2019-07-24 18:24] dmandar commented on #3378
@aodhol are you still seeing the issue? Can you make sure you have the latest GoogleServicePlist.info file as @Kukiwon  mentioned?

[2019-07-24 18:30] christibbs commented on #3391
Looking into this shortly. Do you get any errors in the logs when you try getting messages locally? Try searching for `[Firebase/InAppMessaging]` in the logs (assuming you're running with the `-FIRDebugEnabled` command line argument).

[2019-07-24 18:33] mylogon341 commented on #3144
+1 This is critical for us to be ready. We’ve worked around it up to now but need this 100%. Please respond, Firebase people 🙏🏻

[2019-07-24 18:45] aodhol commented on #3378
@dmandar It's not happening anymore and even without downloading the latest GoogleService-Info.plist so that may be a red-herring. I would like to get to the bottom of it, however..

[2019-07-24 19:14] skyfoxa commented on #3417
@morganchen12 it looks like it fires only on early app lunching, like if it's called in **applicationDidBecomeActive** when app is lunching. When I trigger the call later it looks it's working. Can it happens because Firebase needs some time to configure first? But I think **applicationDidBecomeActive** happens after **didFinishLaunchingWithOptions**

Not sure if it may be helpful but here is our

[2019-07-24 19:41] morganchen12 commented on #3417
Can you share your AppDelegate file?

[2019-07-24 20:02] skyfoxa commented on #3417
@morganchen12 I saw **6.5.0 - [Firebase/Auth][I-AUT000004] Token auto-refresh scheduled in 55:00 for the new token.** in my logs too, but I can't see any documentation for it. Is there now any process that will auto-refresh the token?

[2019-07-24 20:05] morganchen12 commented on #3417
Chuan, can you answer the last question about token refresh?

[2019-07-24 20:22] skyfoxa commented on #3417
@morganchen12 I discovered that this error happened when I was storing the **User** reference to keychain and then I used it during relaunching to get new Token ID if it was invalid. Do you know why this happen?

[2019-07-24 20:53] paulb777 commented on #3144
Thanks for the feedback.  Catalyst is a high priority for us, but its progress has been slowed by some urgent issues and summer vacations. We'll get a more concrete update out in the next two or three weeks.

In the meantime, we're happy to look at PRs.

Has anyone else had success with the strategy at https://github.com/firebase/firebase-ios-sdk/issues/583#issuecomment-502055434?

[2019-07-24 21:28] paulb777 commented on #3144
Related CocoaPods issue at https://github.com/CocoaPods/CocoaPods/issues/8877

[2019-07-25 02:54] DrewKiino opened #3432 "Firebase Firestore not setting data using Cocoapods Rome dependencies + Xcodegen"
### [READ] Step 1: Are you in the right place?

yes.

### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.2.1
  * Firebase SDK version: 6.5.0
  * Firebase Component: Firestore
  * Component version: 6.5.0

### [REQUIRED] Step 3: Describe the problem

I used [Rome](https://github.com/CocoaPods/Rome) to download and build the external frameworks I needed for Firebase. This is wha

[2019-07-25 08:34] michael-mansour commented on #3144
+1 this is also very critical for us 🙏🏼

[2019-07-25 09:05] appfrilans commented on #3144
+1 Very critical for us as well 👍

[2019-07-25 13:02] paulb777 commented on #3432
Please confirm that the `-ObjC` flag was added to "Other Linker Flags" in `Build Settings`

[2019-07-25 13:36] kaleidscpe commented on #3144
I hope to be able to work on my Mac app next month. +1

[2019-07-25 15:19] mpawlo commented on #225
+1

[2019-07-25 15:32] jcantin-nventive opened #3434 "PerformanceMonitoring not logging sessions"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.1
  * Firebase SDK version: 6.5.0
  * Firebase Component: PerformanceMonitoring
  * Component version: 3.1.1

### [REQUIRED] Step 3: Describe the problem

Create a new single-view app in Xcode
Follow the instructions to add Firebase to the app
https://firebase.google.com/docs/ios/setup

Follow the instructions to add FirebaseP

[2019-07-25 17:40] chliangGoogle commented on #225
Thanks @sowdri for explaining the request. Yes if a solution without including a server key would be ideal, we are bringing this request to our team and will let you know with the updates.

[2019-07-25 18:05] ikeller96 commented on #16
So @paulb777 I have CocoaPods v 1.6.0 now but I am getting the same error in a different test.

[2019-07-25 18:06] renkelvin commented on #3417
@skyfoxa Are you storing the User yourself? Could you please describe the full steps to reproduce.

[2019-07-25 18:23] morganchen12 commented on #16
Have you tried deleting derived data since installing a new version of CocoaPods?

[2019-07-26 01:24] DrewKiino commented on #3432
@paulb777 okay that did the trick! I added it and it was able to compile for me and showed me which other libraries I ended up missing.

this is my template for anyone interested.

[code]

[2019-07-26 01:48] kenosan commented on #2303
I was able to get around this using background tasks. So far, it seems to be working.
[code]

According to [Apple's docs](https://developer.apple.com/documentation/uikit/uiapplication/1623031-beginbackgroundtask) the `UIApplication.shared.beginBackgroundTask` handler is called shortly before the app’s remaining background time reaches 0. So as long as `handleUniversalLink` finishes before the time

[2019-07-26 05:35] paulb777 commented on #3432
@DrewKiino Glad you got it working and thanks for sharing the journey and instructions for others!

[2019-07-26 05:35] #3432 closed

[2019-07-26 06:29] b-onc opened #3439 "FIRInstanceID notifyAPNSTokenIsSet -> NSInvalidArgumentException"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.2.1
  * Firebase SDK version: _____
  * Firebase Component: FIRInstanceID (Auth, Core, Database, Firestore, Messaging, Storage, etc)
  * Component version: 6.5.0

### [REQUIRED] Step 3: Describe the problem

We're seeing some crashes in the wild, with stack trace:
[code]
Crash happens at:
[code]
with error:

*** -[__NSPlacehol

[2019-07-26 06:42] Hamada-Yuji commented on #3405
I debugged the sdk, and I found two problems here.
https://github.com/firebase/firebase-ios-sdk/blob/99ffc721e443ba269290d8b58af6ee679b5a3ab6/Firebase/Auth/Source/User/FIRUser.m#L1255-L1267

* `_hasEmailPasswordCredential` is always false. Maybe when Authenticate with Firebase Using Email Link,  It doesn't have any password?
* `setAccountInfoRequest.deleteAttributes = @[ FIRSetAccountInfoUserAttri

[2019-07-26 07:58] zengkebing3630 opened #3440 "FIRNetwork postURL:payload:queue:usingBackgroundSession:completionHandler: Crash"
[code]

--
Switching environment startup must be displayed, delete and reinstall to be OK。

[2019-07-26 11:22] Nightstep opened #3441 "GULAppDelegateSwizzler crash on application didReceiveRemoteNotification"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.2.1
  * Firebase SDK version: 6.5.0
  * Firebase Component: GoogleUtilities
  * Component version: 6.2.3

### [REQUIRED] Step 3: Describe the problem

GULAppDelegateSwizzler crashes trying to swizzle `func application(_ application: UIApplication, didReceiveRemoteNotification userInfo: [AnyHashable : Any], fetchCompletionHandl

[2019-07-26 13:16] Speakus commented on #3439
I see the issue happens cause `self.apnsTokenData` == nil
the context:
[code]
So my analysis shows apnsTokenData never nil at this point even with race condition - so I guess only self could be nil - it was redefinied by `FIRInstanceID_STRONGIFY()` macros from weak variable.

[2019-07-26 13:19] Speakus commented on #3439
BTW. It's very old issue according our Crashlytics data - but previously it was happened not so often.

[2019-07-26 14:25] maksymmalyhin commented on #3441
@Nightstep Thank you for reporting the issue.

At the first glance it looks like the crash happens inside the application delegate method. Could you try to configure FirebaseMessaging without [App Delegate swizzling](https://firebase.google.com/docs/cloud-messaging/ios/client#token-swizzle-disabled) and check if the crash is still reproducible. If it is not, then you may use this version until the

[2019-07-26 14:25] ikeller96 commented on #16
@morganchen12 Yes. Just tried that and I'm still getting the same error.

[2019-07-26 16:31] TheHmmka commented on #2604
The same problem is here. I need to connect to one Firestore from several applications. I have created custom pods with Firestore framework added manually (not via dependencies) and try to connection to the database. Always get assertion error.

[2019-07-26 16:53] Nightstep commented on #3441
Sorry guys, the problem was on our side.

[2019-07-26 16:53] #3441 closed

[2019-07-26 16:55] maksymmalyhin commented on #3441
@Nightstep No problem, I'm glad to hear the issue has been resolved.

[2019-07-26 17:11] morganchen12 commented on #16
Can you share your project?

[2019-07-26 17:21] maksymmalyhin commented on #3440
@zengkebing3630 Thank you for the issue report. The issue look very similar to #3183. Could you confirm if you are using `FirebasePerformance` in your application?

[2019-07-26 17:52] mikelehen commented on #2604
@TheHmmka If you download the zip from https://firebase.google.com/docs/ios/setup, the included README has instructions for setting up Firestore manually including including the certificate bundle...  The cert loading logic looks in the gRPC-C++ framework bundle, the FirebaseFirestore framework bundle, and the main bundle. The cert bundle has to be in one of those places

[2019-07-26 18:24] morganchen12 commented on #3353
cr/260180033

[2019-07-26 18:24] #3353 closed

[2019-07-26 18:24] renkelvin commented on #3405
Fixed here: https://github.com/firebase/firebase-ios-sdk/pull/3442

[2019-07-26 18:51] Brian-Co commented on #3144
+1 It’s very critical for us as well! 👍 Would really appreciate being able to work on Catalyst in the coming weeks 😃

[2019-07-26 18:55] Brian-Co commented on #3145
Support for iOS 13 release would be much appreciated 🙏

[2019-07-26 20:20] skyfoxa commented on #3417
@renkelvin Yes, I was storing it myself. I had a custom object, **LocalUser**  with some properties needed in our app and with  property `var actualFirebaseUserRef: User?`. Once the app received the **User** object in `Auth.auth().addStateDidChangeListener` it would assign this object to **LocalUser** property. Then the **LocalUser** was encoded via `NSKeyedUnarchiver.archiveObject` and stored to

[2019-07-26 21:26] renkelvin commented on #3417
OK, thanks for providing the details. There is additional internal mechanism to handle the API key and tokens. This should explain the API key error you received. My recommendation is to always keep `LocalUser` updated with `FIRAuth.auth.currentUser` to avoid such errors.

[2019-07-27 13:05] dev-dubaisoftwaresolutions commented on #2125
Installing FirebaseCore 6.1.0 (was 5.4.1)
Installing FirebaseDatabase 6.0.0 (was 5.1.1)
Installing FirebaseFirestore 1.4.2 (was 1.2.1)
Installing FirebaseInstanceID 4.2.2 (was 3.8.1)
Installing FirebaseMessaging 4.1.1 (was 3.5.0)
Installing FirebaseStorage 3.4.0 (was 3.1.1)
Installing GTMSessionFetcher 1.2.2 (was 1.2.1)

I am having same Issue with updated firebase versions.

[2019-07-27 13:48] KevinMorais commented on #3144
+1 also looking forward to implement Firebase (and Google Maps) with Catalyst 🙏🏼

[2019-07-27 13:50] guidedways commented on #3144
And I’m hoping plans of porting it to the Mac (normal macOS support without catalyst) are still there.

[2019-07-27 16:01] sorazz commented on #2372
I am having the same related issues. In my case the notification is received for some time then after some time it stop to come notification.But when I hit the notification from fire base it work for some time and after that same issue occur..

[2019-07-27 19:24] abdulshamim commented on #3391
Yes, FIRDebugEnabled enabled in edit scheme.
When app is launching from background/Not running messages comes but when app is in foreground still not coming. I am attaching screen shots which might be helpful for you.

![Screenshot 2019-07-25 at 9 39 06 AM](https://user-images.githubusercontent.com/13666188/61998408-2ceca000-b0cd-11e9-994b-f38211cb5166.png)
![Screenshot 2019-07-28 at 12 06 10 AM](

[2019-07-28 01:15] collinjackson opened #3445 "signInProvider property of FIRAuthTokenResult should be populated"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.1
  * Firebase Component: Auth
  * Component version: ~> 6.0

### [REQUIRED] Step 3: Describe the problem

`getIDTokenResultForcingRefresh` provides a `nil` value for `signInProvider` property of `FIRAuthTokenResult`. However, the other fields of `FIRAuthTokenResult` are populated correctly.

![image](https://user-images.githu

[2019-07-28 04:08] DrewKiino commented on #3432
thank you!

[2019-07-28 16:52] daidongon commented on #3439
We also experience this ( same ) crash.

[2019-07-28 17:03] daidongon opened #3447 "[RCNConfigContent copyFromDictionary:toSource:forNamespace:] crash"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version:  10.2.1
  * Firebase SDK version:  6.4.0 ~ 6.5.0
  * Firebase Component: RemoteConfig
  * Component version: 4.2.1

### [REQUIRED] Step 3: Describe the problem

We're seeing some crashes in the wild, with stack trace:

[code]

crash happen at:

[code]

[2019-07-28 17:08] daidongon opened #3448 "[RCNConfigContent handleNoChangeStateForConfigNamespace:] crash"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.2.1
  * Firebase SDK version: 6.4.0 ~ 6.5.0
  * Firebase Component: RemoteConfig
  * Component version: 4.2.1

### [REQUIRED] Step 3: Describe the problem

We're seeing some crashes in the wild, with stack trace:

[code]

crash happen at:

[code]

[2019-07-28 17:12] daidongon opened #3449 "[RCNConfigContent handleUpdateStateForConfigNamespace:withEntries:] crash"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.2.1
  * Firebase SDK version: 6.4.0 ~ 6.5.0
  * Firebase Component: RemoteConfig
  * Component version: 4.2.1

### [REQUIRED] Step 3: Describe the problem

We're seeing some crashes in the wild, with stack trace:

[code]

crash happen at:

[code]

[2019-07-28 19:03] srikanthsrnvs commented on #3215
I'm having the same issue. Entitlements fix did not work for me..

[2019-07-28 19:19] collinjackson opened #3450 "additionalUserInfo providerId for signInAnonymously is 'password', expected nil"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.1
  * Firebase Component: Auth
  * Component version: ~> 6.0

### [REQUIRED] Step 3: Describe the problem

This came up in the [Flutterfire integration tests](https://github.com/flutter/plugins/blob/master/packages/firebase_auth/example/test/firebase_auth.dart) for additionalUserInfo.providerId:

[code]

Behavior seems inconsi

[2019-07-28 19:26] sharpwitz opened #3451 "BUG - Auth and Captcha"
* Xcode version: __10.3___
  * Firebase SDK version: __6.5.0___
  * Firebase Component: _Auth____ (Auth, Core, Database, Firestore, Messaging, Storage, etc)
  * Component version: _____

### [REQUIRED] Step 3: Describe the problem
Captcha verify image screen has an user interface error

#### Steps to reproduce:

What happened? How can we make the problem occur?
This could be a description, log/con

[2019-07-29 01:01] sotrosh opened #3453 "watchOS 6 support"
Apple is going to release watchOS 6 and own app store for Apple watch apps this fall 2019.

So, would be great to integrate Firebase on watchOS 6.

[2019-07-29 02:16] Hamada-Yuji commented on #3405
Thank you for fixing it, I found no error when I unlink email auth on iOS device.

But after I unlink email with this pull-request, I found the email auth on the firebase console, and I can log in with the email again. It seems to be not unlinked correctly.

Is it still fixing ( the server-side)?

[2019-07-29 06:06] zengkebing3630 commented on #3440
@maksymmalyhin not use

[2019-07-29 09:50] CedricSoubrie commented on #1894
@allenktv I'm really curious : what is the technical reason Firebase don't allow manual screen tracking without automatic screen tracking ?

[2019-07-29 11:00] maksymmalyhin commented on #3440
@zengkebing3630 What version of Firebase do you use?

[2019-07-29 11:39] froesmatheus opened #3454 ""Failed to compress bundle" using Carthage"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.2
  * Firebase SDK version: ?
  * Firebase Component: Analytics
  * Component version: 6.5.0

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

I'm trying to setup Firebase using Carthage, I'm following this tutorial: https://github.com/firebase/firebase-ios-sdk/blob/master/Carthage.md but everytime I try

[2019-07-29 11:44] taylorwrynn opened #3455 "Dynamic link is received every first launch after reinstalling the App"
* Xcode version: 10.2
  * Firebase SDK version: 6.1.0
  * Firebase Component: DynamicLinks
  * Component version: 6.1.0

Once I open the dynamic link to install the app from App Store, the deep-link will be receive and show my onboarding view.
Then, I reinstall the app, without open dynamic link, the deep-link is received again.

#### Steps to reproduce:
1. Make sure the app have not installed.
2.

[2019-07-29 11:45] mouness2020 commented on #3439
same crash here
[com.newline.syarah_issue_crash_d7d4e40b3a7a47dda7cd474cf8d57f5f_DNE_0_v2.txt](https://github.com/firebase/firebase-ios-sdk/files/3441863/com.newline.syarah_issue_crash_d7d4e40b3a7a47dda7cd474cf8d57f5f_DNE_0_v2.txt)

[2019-07-29 12:54] Yehudshe commented on #2587
maybe as in my case the Anonymous sign-in enable in the console page(console-> Authentication -> sign-in methods) :
https://console.firebase.google.com/project/fir-startproject/authentication/providers
was disabled
change it to enable

[2019-07-29 17:53] renkelvin commented on #3405
Yeah, the fix will be rolled out when Firebase v6.6.0 is released.

[2019-07-29 18:00] morganchen12 commented on #269
Additional FR #3453

[2019-07-29 18:00] morganchen12 commented on #3453
Tracked in #269.

[2019-07-29 18:00] #3453 closed

[2019-07-29 18:18] #3450 closed

[2019-07-29 18:19] #3445 closed

[2019-07-29 18:39] paulb777 commented on #3454
Are those two different error logs? It looks like a mix of versions and times?

[2019-07-29 18:45] froesmatheus commented on #3454
They happened in sequence but I had to edit the issue to include the first part after analysing the console log a bit more

[2019-07-29 18:54] paulb777 commented on #3454
The mix of `5.6.0` and `6.5.0` versions make me suspect that there is a mix of frameworks from different Carthage versions.

[2019-07-29 18:59] froesmatheus commented on #3454
Okay, I'll try to reproduce the issue again using only the latest version (6.5.0)

[2019-07-29 19:04] froesmatheus commented on #3454
I cleaned the project, removed the dependencies and added them again and I'm facing the same issue:

2019-07-29 16:03:42.473012-0300 MyApp[57157:397798] 6.5.0 - [Firebase/Analytics][I-ACS012017] Cannot compress data. Error: Error Domain=com.google.GULNSDataZlibErrorDomain Code=1025 "(null)" UserInfo={GULNSDataZlibErrorKey=-2}
2019-07-29 16:03:42.473742-0300 MyApp[57157:397798] 6.5.0 - [Firebase/An

[2019-07-29 21:23] dmandar commented on #3448
Hi..we are trying to repro this. In the meantime, would be useful to know if any others are seeing this.
Few questions:
a. Are you integrating with the FirePerf SDK?
b. Can you share the code snippet of how/where you integrate with RC?
c. Are you able to repro this by yourself? If so, repro steps would be useful.
d. Is it possible to know the devices on which this is failing?

Based on the stack t

[2019-07-29 21:43] dmandar commented on #3449
Hi..we are trying to repro this. In the meantime, would be useful to know if any others are seeing this.
Few questions:
a. Are you integrating with the FirePerf SDK?
b. Can you share the code snippet of how/where you integrate with RC?
c. Are you able to repro this by yourself? If so, repro steps would be useful.
d. Is it possible to know how frequent and the devices on which this is failing?

[2019-07-29 21:43] dmandar commented on #3447
Hi..we are trying to repro this. In the meantime, would be useful to know if any others are seeing this.
Few questions:
a. Are you integrating with the FirePerf SDK?
b. Can you share the code snippet of how/where you integrate with RC?
c. Are you able to repro this by yourself? If so, repro steps would be useful.
d. Is it possible to know how frequent and the devices on which this is failing?

[2019-07-29 22:12] visumickey commented on #3365
This is fixed and available in the upcoming release.

[2019-07-29 22:13] visumickey commented on #2201
This is fixed and should be available in the upcoming release.

[2019-07-29 22:19] visumickey commented on #3434
Currently the detailed sessions are captured only for a small percentage of the runs. It is quite possible that the runs might not have been picked for detailed sessions capture. Currently we capture detailed sessions only for 1% of the runs (random picks). We are working on enabling this during development time, stay tuned.

[2019-07-30 00:25] renkelvin commented on #3451
reCaptcha flow is rarely triggered on physical devices. See https://firebase.google.com/docs/auth/ios/phone-auth#enable-app-verification

For improvement suggestions on reCaptcha, please reach out to https://developers.google.com/recaptcha/

[2019-07-30 00:25] #3451 closed

[2019-07-30 15:15] coshkun commented on #2019
hello,
same issue with our app, my pod file with lines of:

[code]

installs (04.07.2017) the following packages:

[code]

now i am trying to fix my old project,
i hope new release of PerformanseSDK has the solution

[2019-07-30 16:34] morganchen12 commented on #3449
@dmandar the dictionaries in `RCNConfigContent.m` are not adequately protected from multithreaded access.

Related to (has the same underlying cause as) #3447, #3448.

[2019-07-30 18:12] morganchen12 commented on #3449
@daidongon, can you share the full stack trace with all threads?

[2019-07-30 18:49] froesmatheus commented on #3454
After investigating the issue I've found that there was a conflict between Firebase and an internal library (.a) that I use, after removing the internal library I was able to setup Firebase successfully

[2019-07-30 18:49] #3454 closed

[2019-07-30 20:35] ikeller96 commented on #16
@morganchen12 This problem was occurring for me during an attempt at a swift 5 migration. Our company has decided to rebuild the app and therefore there will be no more releases so we are no longer going to try the swift 5 migration. Thank you for your help though.

[2019-07-30 21:20] #16 closed

[2019-07-30 21:37] paulb777 commented on #3454
@froesmatheus Glad you found it and Thanks for letting us know!

[2019-07-30 23:10] visumickey commented on #2019
Please upgrade to the recent version of Firebase Performance to have this resolved.

[2019-07-30 23:40] renkelvin commented on #3412
Hi @radvansky-tomas, are you using the flutter SDK?

[2019-07-30 23:42] epicquestgames commented on #3412
@renkelvin yes, but issue is in Native libs, not in flutter plugin. I've checked their source and iOS library is returning wrong results

[2019-07-30 23:49] visumickey commented on #2376
@walsht

I think we *might* have found a lead on this issue. Few details here would be very helpful:

1. Based on the screenshots in the other thread mentioned, it looks like the crash is happening when the class is a type/member of "RLMObjectBase". Have you seen this crash in any other class type?
2. You had also mentioned this started happening only from your version 5.12.0. Do you know the vers

[2019-07-31 00:03] renkelvin commented on #3412
I'm not able to reproduce the issue yet so I'm not sure what the root cause is.
Do you know how to reproduce on native platform?

[2019-07-31 00:04] #3417 closed

[2019-07-31 00:07] epicquestgames commented on #3412
It should be completely the same thing. Create user with
password less account -> then fetch providers
and check what method will return to you

Additionally you can add password provider to same account and check if you will get both providers in fetch methods.

[2019-07-31 00:20] renkelvin commented on #3412
Still not able to reproduce.
`fetchProvidersForEmail` returns "password" and `fetchSignInMethodsForEmail` returns `emaillink`.
Would you mind sharing a public repo that can reproduce this issue?

[2019-07-31 00:23] epicquestgames commented on #3412
I will test it then again, will try to update versions and is if was some temporary issue then.

Code for plugin is very simple:

[code]

[2019-07-31 03:23] daidongon commented on #3449
@morganchen12
[code]

[2019-07-31 05:18] TheHmmka commented on #2604
Yes, but when I put frameworks to my private cocoa pod, it doesn't work out of the box. I need to put pem file to the application bundle, instead of using it from builded pod.

[2019-07-31 08:12] coshkun commented on #2019
yes, i did. i will observe for a while and comment back here.
also, thanx for keeping this page alive. it saved my days.

[2019-07-31 13:44] paulb777 commented on #2604
Right, Firebase does not support dynamic linking.

[2019-07-31 20:02] #3365 closed

[2019-07-31 21:36] #3439 closed

[2019-08-01 02:15] zengkebing3630 commented on #3440
最新版本 Firebase/Analytics (6.5.0)

[2019-08-01 09:01] b-onc commented on #2910
Hello @paulb777 , is there any progress?

[2019-08-01 10:29] kazuhiro4949 commented on #2201
Thanks!

[2019-08-01 10:47] Liulinzhe17 commented on #3321
me too

[2019-08-01 10:53] Liulinzhe17 commented on #3321
it can run in iOS11.0.1 and iOS9.3  but failed in iOS 12.2

[2019-08-01 12:08] kjoneandrei commented on #3365
any update for the upcoming release? @visumickey, we are affected by this quite a bit

[2019-08-01 13:03] iwheelbuy opened #3482 "[FIRInstanceIDAuthKeychain dataForService:account:] EXC_BAD_ACCESS KERN_INVALID_ADDRESS"
Crash from crashlytics.

First occurrence with SDK 5.20.0. Last with SDK 6.3.0.

Current log with SDK 6.0.0
[code]

Platform: ios
OS Version: 12.3.1 (16F203)
Device: iPhone 7 Plus
RAM Free: 4.4%
Disk Free: 1.7%

[code]

[2019-08-01 13:15] visumickey commented on #3365
The upcoming release is planned to happen on August 8th. We are in the final phases of testing.

[2019-08-01 13:16] #2201 closed

[2019-08-01 13:47] paulb777 commented on #3482
Please update to a more recent version of Firebase - remove the `6.0.0`s from the Podfile.  There have been related fixes since.

[2019-08-01 13:49] iwheelbuy commented on #3482
Thanks. I'm on `6.5.0` already.

[2019-08-01 16:32] maksymmalyhin commented on #3440
@zengkebing3630 It looks a bit strange. `FIRNetwork` was renamed to `GULNetwork` pretty long time ago. Could you share your `Podfile.lock` please (feel free to remove non-Firebase pods from there)?

[2019-08-01 16:43] allenktv commented on #3321
@Liulinzhe17 As the previous comments suggest, please try upgrading your sqlite version to the latest one

[2019-08-02 01:00] #3390 closed

[2019-08-02 03:11] thanh90 commented on #1916
this solved my issue: expo EDK 34, react-native-firebase 5.5.6

[2019-08-02 10:56] ilyon commented on #3381
@paulb777 I have updated firebase 6, but I still have this problem. Before the log output "[Firebase/Analytics][I-ACS025026] Deferring to Firebase for event data collection", the APP will freeze for 10 seconds. Below is the detailed log.

2019-08-02 18:46:02.441278 xxxxApp[18534:5338368]  - <AppMeasurement>[I-ACS036002] Analytics screen reporting is enabled. Call +[FIRAnalytics setScreenName:setSc

[2019-08-02 14:02] paulb777 commented on #3381
Thanks for the log. I see a 10 second gap here:

[code]

[2019-08-02 14:05] paulb777 commented on #3381
Internally reported at b/135997194 along with #3242

[2019-08-02 17:40] #3380 closed

[2019-08-02 17:46] htcgh commented on #3381
@ilyon Can you please share with us your Podfile.lock file?

[2019-08-02 20:42] dmandar commented on #3378
Thanks for confirming. Pls reopen if you are able to repro again.

[2019-08-02 20:42] #3378 closed

[2019-08-03 01:00] #924 closed

[2019-08-03 01:53] manishmittal79 commented on #3344
I was getting the similar crashes on app start during the UITests running on CI using Firebase 6.3. After upgrading to 6.5 today, and running couple of times I can no longer see this crash on startup. Thanks

[2019-08-03 08:09] Jhonte opened #3500 "Can't build on macOS in XCode 11.0 beta X"
Describe your environment

 Xcode version: 11 Beta 4
"react-native-firebase": "5.5.6",
"react-native": "0.60.4",

###  Can't build on macOS in XCode 11.0 beta X

#### Steps to reproduce:

I have tried to get a build for macOS in the new Xcode 11.0 beta 4 working for a while (the iPad variant). But no matter how I configure the provision profiles it always ends up with this errors in XCode.

![6234

[2019-08-03 15:36] EliteTechnicalCare commented on #3144
Is there at least a rough timeline or a beta release so hopefully we can begin testing our apps and get our apps on the Mac App Store by launch day?

[2019-08-03 17:39] thiagomacauba88 opened #3501 "Dynamic links not working on first launch"
Xcode version: 10.2
Firebase (6.2.0)
FirebaseAnalytics (6.0.1)
FirebaseAnalyticsInterop (1.2.0)
FirebaseCore (6.0.2)
FirebaseDynamicLinks (4.0.0)
FirebaseInstanceID (4.1.1)
FirebaseMessaging (4.0.2)
GoogleAppMeasurement (6.0.1)
GoogleUtilities (6.2.0)
Domain: applinks:vistaclient.page.link

tap on dynamic link
app store opens
install app through Store.

I already tried with a short link: https://v

[2019-08-04 03:25] iatman commented on #2665
It worked, it was enough to change the letter of the folder: Pods/Protobuf/objectivec/google/protobuf  (protobuf -> Protobuf)

[2019-08-04 06:56] JohnnyTseng commented on #2896
@paulb777 Any updates of this question? Since Google Analytics is sunsetting, we're also looking for a solution to replace the GA SDK

Thanks!

[2019-08-05 01:45] ilyon commented on #3381
Hi,  this is my Podfile.lock file.
[Podfile.lock.zip](https://github.com/firebase/firebase-ios-sdk/files/3465622/Podfile.lock.zip)

[2019-08-05 02:01] ilyon commented on #3381
I already know #3242 case, but I don't think my case is same with #3242. In the 10 seconds of freezing, I saw that cpu usage is very low.
![11564970464_ pic_hd](https://user-images.githubusercontent.com/2276323/62433663-f1ef0a00-b767-11e9-8d84-d12f12f1b8dd.jpg)

[2019-08-05 06:53] Beniamiiin opened #3504 "Why FirebaseAnalytics has three static vendors frameworks as dependencies?"
I'd like to know why FirebaseAnalytics has three static vendors frameworks as dependencies even though FirebaseAnalytics work with iOS 8+? Maybe we can convert these three static vendors frameworks to dynamic?

[2019-08-05 07:49] crspybits opened #3505 "Refresh token when signing into Microsoft account?"
Like the access token (https://github.com/firebase/firebase-ios-sdk/issues/3076), is it possible to get the OAuth refresh token when signing into a Microsoft account using Firebase Auth? Thanks,
Chris.

[2019-08-05 07:56] crspybits commented on #3505
Ok, forget it! :). Digging around I see that property on `FIRUser`.

[2019-08-05 07:56] #3505 closed

[2019-08-05 10:57] ChristianVinterly commented on #3449
We are also seeing a spike in crashes from Firebase after updating Firebase/RemoteConfig from version 4.0.0 to version 4.2.1. We get the same stack trace as the one above, but also got one with perhaps more info:

![Screenshot 2019-08-05 at 12 50 11](https://user-images.githubusercontent.com/12391750/62459808-99783680-b780-11e9-942e-d8eedb86ad9d.png)

[2019-08-05 11:22] ChristianVinterly commented on #3449
a. Are you integrating with the FirePerf SDK?
- Yes

b. Can you share the code snippet of how/where you integrate with RC?
[code]

c. Are you able to repro this by yourself? If so, repro steps would be useful.
- Not able to reproduce yet

d. Is it possible to know how frequent and the devices on which this is failing?
- Currently at 1 crash per 1000 sessions.
- Only iPhones, many different version

[2019-08-05 14:47] paulb777 commented on #3504
CocoaPods has [a proposal ](https://docs.google.com/document/d/1lr2mHkwhNha5_0Wfa_pYL51MAxoro0LBxx_DUzuSu0Y/edit) to enable Podfile's to control static versus dynamic linking individually instead of all or none.  Once that is implemented, we should be able to add support to let the Podfile determine if the Analytics deps are linked statically or dynamically.

In the meantime, we're hesitant to cha

[2019-08-05 15:08] Beniamiiin commented on #3504
I'm trying to find a way to use FirebaseAnalytics as dynamic frameworks. Maybe do you know how can I do it?

**Problem**

I have an application and two frameworks(_Platform_ and _Analytics_). Both of them are a dependency of the application. I connect `Firebase/Core` to the _Platform_ framework and `Firebase/Analytics` to _Analytics_ framework. All of this I do via cocoapods.

When I start my app

[2019-08-05 15:50] paulb777 commented on #3504
Since `FirebaseAnalytics` is a static framework, any frameworks that depend on it must also be static.  It is only released as binary, so there is not a way to use it as a dynamic framework.

BTW, `Firebase/Core` and `Firebase/Analytics` are equivalent subspecs of the [Firebase pod](https://github.com/CocoaPods/Specs/blob/master/Specs/0/3/5/Firebase/6.5.0/Firebase.podspec.json).

[2019-08-05 17:12] paulb777 commented on #3381
Thanks @ilyon Agreed that this no longer looks like #3242.  While we haven't reproduced, we have substantially reworked the area where this bottleneck occurs and suspect this will be fixed in Firebase 6.6.0 due out later this week.

I'm going to close this issue for now and we'll reopen if it recurs in Firebase 6.6.0.

[2019-08-05 17:12] #3381 closed

[2019-08-05 17:41] morganchen12 commented on #3501
Have you tried fixing the seven warnings returned from the debug link?

[2019-08-05 18:20] abotkin-cpi commented on #1686
Any updates on this?  The inability to specify a GOOGLE_ANALYTICS_IDFA_COLLECTION_ENABLED similar to the existing GOOGLE_ANALYTICS_IDFV_COLLECTION_ENABLED is causing conversations in our workplace about removing Firebase entirely.

[2019-08-05 18:40] EthanArbuckle commented on #1686
Hey guys - the problem here is that there is currently not a way to determine /how/ the AdSupport framework is brought into the runtime.

Would an "easy" solution be to dump the load commands of the application's executables (both main executable and frameworks) and look for presence of AdSupport.framework? If there is a load command for it, it means the developer has explicitly added it to the pr

[2019-08-05 18:53] RJPDeanlo commented on #3505
I just did an update to all my FB pods.
Is this accessToken not in the authResult anymore?
I can's seem to find the newly exposed token in the authResult or user (Auth.auth().currentUser)

[2019-08-05 19:06] thiagomacauba88 commented on #3501
About the warnings:

There is no log option set for custom domain. Learn more.
R: I don't know what is that log.

The custom parameter (link) is a reserved parameter. Learn more.
R: The link was generated by firebase.

The custom parameter (ibi) is a reserved parameter. Learn more.
R: The link was generated by firebase, and just appear in long link.

The custom parameter (isi) is a reserved parame

[2019-08-05 19:08] abotkin-cpi commented on #1686
@EthanArbuckle From our perspective, the easiest solution would be to just allow the developer to specify an Info.plist flag to disable IDFA usage no matter AdSupport framework linkage, just like how IDFV is handled today.

The pressure we're getting comes from a legal compliance angle where we need to not be allowing IDFA collection & the current situation of trying to do smart determination of h

[2019-08-05 19:22] morganchen12 commented on #3501
Set the app ID prefix (Team ID) in Firebase console. See [this doc](https://firebase.google.com/docs/dynamic-links/ios/create) for the other parameters.

[2019-08-05 21:36] moflo commented on #627
@wilhuff thanks for this. I'm having trouble with the pod installation, the podspec doesn't seem to match the proper tag/branch. Can you please update?

    warning: Could not find remote branch 0.1 to clone.

[2019-08-05 22:35] rromanchuk commented on #2303
I'm seeing `handleUniversalLink` always returning false with a custom domain (subdomain), it sounds very similar to https://stackoverflow.com/questions/50952035/firebase-dynamic-links-are-not-working-on-ios-when-the-dynamic-link-has-the-cust/51039418

I'm investigating and hunting where my configuration may have regressed but nothing obvious is revealing itself yet. Has anything recently changed w

[2019-08-05 23:54] wilhuff commented on #627
That's weird! I see that too.

Try adding this instead:
[code]

[2019-08-06 00:11] thiagomacauba88 commented on #3501
Hi Morgan!

I create other link: https://vistaclient.page.link/novoteste5

The url: https://vistaclient.page.link/?ibi=br.com.VistaClient&isi=1455754841

and now I have 3 warnings:

Param 'link' should not be on FDL domain. Learn more.
iOS app 'br.com.Vista-Client' lacks App ID Prefix. UniversalLinks is not enabled for the app. Learn more.
There is no configuration to prevent phishing on this doma

[2019-08-06 02:52] zengkebing3630 commented on #3440
按照官方文档中 pod 'Firebase' 引入的

[2019-08-06 08:22] ivanvorobei commented on #3136
Trying install via SPM, get error

<img width="664" alt="Screenshot 2019-08-06 at 11 18 23" src="https://user-images.githubusercontent.com/10995774/62523367-4499f600-b83c-11e9-8b0e-73ce730f79f5.png">

`$(SRCROOT)` in `Package.swift`

[2019-08-06 09:03] bajtyngier commented on #3447
Seeing this crash as well.
a. Yes
b. Below
c. No luck so far
d. So far we have seen crashes on iOS 12.3.1 and 12.4 on various devices iPhone7+

[code]

[2019-08-06 12:50] ctnataman opened #3508 "[RCNConfigDBManager removeDatabase:] crash"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.2
  * Firebase SDK version: 6.5.0
  * Firebase Component:  RemoteConfig
  * Component version: 4.2.1

### [REQUIRED] Step 3: Describe the problem

We're seeing some crashes when fetch remote config

Keys:
[code]

Stack Trace:
[code]

[2019-08-06 13:11] proxi commented on #1732
+1 please! It’s important now that we have to migrate away from Fabric.

[2019-08-06 13:42] paulb777 commented on #3504
Closing for now, but can continue to discuss if more questions.

[2019-08-06 13:42] #3504 closed

[2019-08-06 13:48] paulb777 commented on #1732
We are investigating. Tracked internally at b/138987204

[2019-08-06 14:36] ryanwilson commented on #3136
@ivanvorobei thanks for testing! Which version of Xcode are you using?

[2019-08-06 14:49] ivanvorobei commented on #3136
@ryanwilson I am use last beta of 11 Xcode.

[2019-08-06 15:45] paulb777 commented on #2665
protocolbuffers/protobuf#6464 in progress to fix

[2019-08-06 16:21] paulb777 commented on #3500
Workaround is signing the Resource build target:

![workaround](https://user-images.githubusercontent.com/73870/62557239-7060b000-b82b-11e9-9125-0df6806e82b6.png)

[2019-08-06 16:38] morganchen12 commented on #3501
Each of the `Learn more` links should open a document that explains the warnings and how to resolve them.

[2019-08-06 16:51] Jhonte commented on #3500
Ahh thanks for the work around at least.  Those where new menus to me.

[2019-08-06 17:01] bjimenezned opened #3511 "Crashlytics in tvOS for Apps without Fabric App"
Is there a way to use Crashlytics in a new tvOS app.  Since now you can't create a new Fabric app, #2009 solution is not possible anymore.

I tried integrating it as a new iOS App but test crashes are not showing up in the console (yes, I did read/follow the Firebase Crashlytic integration instructions for new apps step by step, and the firebase integration is working since I can use FirebaseDatab

[2019-08-06 17:56] paulb777 commented on #3511
Tracked internally at b/139003562

[2019-08-06 18:04] dmandar commented on #3508
This is fixed and will be available in the upcoming Firebase Release.

[2019-08-06 18:04] #3508 closed

[2019-08-06 19:55] MikeSilvis commented on #2201
@visumickey do we have a date for when 6.6.0 should be live?

[2019-08-06 21:18] paulb777 commented on #3144
Added a GitHub Catalyst label to help follow the progress on [issues](is:issue catalyst label:Catalyst) and [pull requests](is:pr catalyst label:Catalyst ).

[2019-08-07 07:43] visumickey commented on #2201
@MikeSilvis The release is expected to happen before August 9th (this weekend). Will keep you posted as I hear the updates.

[2019-08-07 13:55] #3189 closed

[2019-08-07 15:05] TKBurner commented on #3511
At this time you can still create new apps in the Fabric console. This is the recommended path. I have let the team know . :)

[2019-08-07 15:11] dtrenz opened #3516 "FIRConfiguration setLoggerLevel() has no impact on console logging"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.3
  * Firebase SDK version: 6.5.0
  * Firebase Component: Core
  * Component version: 6.5.0

### [REQUIRED] Step 3: Describe the problem

iOS SDK: FirebaseConfiguration.shared.setLoggerLevel() has no impact when using FirebaseApp.configure(options:). .min and .max result in the exact same amount of logging in the console.

###

[2019-08-07 15:48] bjimenezned commented on #3511
Do you mean the dashboard in https://fabric.io/settings/apps ? beacause if I click the add button it redirects me to the home page https://fabric.io/kits

![dashboard](https://user-images.githubusercontent.com/32678245/62637254-17674980-b909-11e9-8a2d-b263b0cc4e2a.png)

[2019-08-07 16:14] paulb777 commented on #3405
@renkelvin 6.6.0 is now published. Please confirm the server side fix has rolled out and close.

[2019-08-07 16:15] paulb777 commented on #2201
@MikeSilvis Firebase 6.6.0 has published to CocoaPods. The zip and Carthage releases will be updated later today.

[2019-08-07 16:44] MikeSilvis commented on #2201
Was able to confirm this fixed our SDK. Thanks

[2019-08-07 17:27] christibbs commented on #3391
Sorry for the delay, I was out of the office. From the video, it looks like the behavior is expected. In test on device mode, you need to background and foreground the app for the notification to appear.

Even in published campaigns, in app messages that are set to appear on foreground only trigger when app goes from being in a background state to being foregrounded. So if you publish an `on_foreg

[2019-08-07 17:27] #3391 closed

[2019-08-07 17:48] allenktv commented on #3230
Closing this issue

[2019-08-07 17:48] #3230 closed

[2019-08-07 21:20] samedson commented on #3511
Hey @bjimenezned, it sounds like you got the setup right. I took a look at this and think there is an issue in the backend. I'm gonna work on getting this fixed and then update this bug.

[2019-08-07 22:32] mikehaney24 opened #3521 "Support iOS 13's new lifecycle paradigm"
iOS 13 introduces a new lifecycle paradigm with iOS 13.

According to @DavidPhillipOster, a full iOS 13 app will just get the UIScene lifecycle notifications, running on either iPhone or iPad. Before iOS 13, it will just get the UIApplication lifecycle notifications,  but if it has a SceneDelegate, but does not have the dictionary in its Info.plist it will get both sets of notifications on iOS 13.

[2019-08-07 22:33] mikehaney24 opened #3522 "Support iOS 13's new lifecycle paradigm"
iOS 13 introduces a new lifecycle paradigm with iOS 13.

According to @DavidPhillipOster, a full iOS 13 app will just get the UIScene lifecycle notifications, running on either iPhone or iPad. Before iOS 13, it will just get the UIApplication lifecycle notifications,  but if it has a SceneDelegate, but does not have the dictionary in its Info.plist it will get both sets of notifications on iOS 13.

[2019-08-07 22:34] mikehaney24 opened #3523 "Support iOS 13's new lifecycle paradigm"
iOS 13 introduces a new lifecycle paradigm with iOS 13.

According to @DavidPhillipOster, a full iOS 13 app will just get the UIScene lifecycle notifications, running on either iPhone or iPad. Before iOS 13, it will just get the UIApplication lifecycle notifications,  but if it has a SceneDelegate, but does not have the dictionary in its Info.plist it will get both sets of notifications on iOS 13.

[2019-08-07 22:36] mikehaney24 opened #3524 "Support iOS 13's new lifecycle paradigm"
iOS 13 introduces a new lifecycle paradigm with iOS 13.

According to @DavidPhillipOster, a full iOS 13 app will just get the UIScene lifecycle notifications, running on either iPhone or iPad. Before iOS 13, it will just get the UIApplication lifecycle notifications, but if it has a SceneDelegate, but does not have the dictionary in its Info.plist it will get both sets of notifications on iOS 13.

[2019-08-08 05:38] Jubian opened #3530 "crash with GDTCCTUploader"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.2.1
  * Firebase SDK version: 6.6.0
  * Firebase Component: GoogleDataTransportCCTSupport
  * Component version: 1.0.0

### [REQUIRED] Step 3: Describe the problem
open the application for a while, it crashed.I don't know what caused the crash
with stack trace:
[code]
crash happen at:
[code]
and the print information
[code]

[2019-08-08 06:45] mikehaney24 commented on #3530
Thanks for letting us know! This is happening because if a connection fails for any reason, the first NSAssert statement in the completion handler will trigger. It's most likely not a real issue, but I'll discuss removing asserts with the team so the dev experience is a bit better.

[2019-08-08 08:50] abdulshamim commented on #3391
Thank you so much @christibbs

[2019-08-08 08:50] devkokodev commented on #2665
I'm trying to install 'Firebase/Messaging' it install protobuf etc. I'm using swift 5, deployment ios 11 and i have this issues:
![Screen Shot 2019-08-08 at 10 44 49 AM](https://user-images.githubusercontent.com/53897025/62688744-beabb580-b9c9-11e9-857d-f881d86c1fe4.png)
![Screen Shot 2019-08-08 at 10 45 15 AM](https://user-images.githubusercontent.com/53897025/62688745-beabb580-b9c9-11e9-98c8-870

[2019-08-08 10:06] alexeenka opened #3532 "Unity: iOS Push Notifications are not working"
### Environment
Xcode version: 10.1
Deployment Target: 9.0
Firebase Unity SDK version: 6.0.0
Firebase Component: Core, Messaging
Unity 2017.1.11

### Problem
We have problem when using FCM in iOS. When our app is in background, we don’t receive any push notifications in notification center, but is fine in foreground. Same problem repeats on older builds, where everything was fine before. This prob

[2019-08-08 12:33] ryanwilson commented on #3516
Thanks for the report, we'll look into this shortly.

[2019-08-08 12:45] Nathan1258 opened #3533 "App crashes when it goes offline"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2019-08-08 12:51] Nathan1258 commented on #3533
It's a stupid issue, I can't proceed with my app because this keeps on happening and I can't control it in any way. Is there a work around??

[2019-08-08 12:52] Nathan1258 commented on #3530
Go [here ](https://stackoverflow.com/questions/57411528/why-does-my-swift-app-crash-whenever-i-go-offline?noredirect=1#comment101304964_57411528)for more context with someone with more knowledge with me explaining why it's horrible code.

[2019-08-08 12:53] Nathan1258 commented on #3533
Go here for more context with someone with more knowledge with me explaining why it's horrible code.

[2019-08-08 13:13] puf commented on #3530
Another report here: https://stackoverflow.com/q/57411528

[2019-08-08 13:41] alexcroox commented on #357
Did you have any joy with this? 1 in 5 (ish) app starts are causing a crash with similar errors:

[code]

[2019-08-08 13:45] thiagomacauba88 commented on #3501
I have tried so many times to solve based on this learn more, but nothing yet.
Do you have an example of url that works?  I already tried the firebase example too.

[2019-08-08 14:09] paulb777 commented on #3530
We'll investigate getting a patch out for this soon.

[2019-08-08 14:09] paulb777 commented on #3533
Duplicate of #3530. Please continue discussion there.

[2019-08-08 14:09] #3533 closed

[2019-08-08 14:10] Nathan1258 commented on #3530
Please do, I cannot do anything with my developments until this is fixed as it's always crashing my app.

[2019-08-08 14:13] paulb777 commented on #3530
You may be able to workaround by deleting the NSAssert.

Also going back to Firebase 6.5.0 would avoid the issue.

[2019-08-08 14:26] paulb777 commented on #2665
@devkokodev That looks like a different issue. Perhaps, something in the configuration?  We'll likely need more information about reproducing to help. Please open another issue with that detail.

[2019-08-08 15:32] paulb777 commented on #3516
Related is https://stackoverflow.com/a/44438819/556617

[2019-08-08 16:11] mikehaney24 commented on #3530
Another solution is compile with NS_BLOCK_ASSERTIONS defined--this is the default in Release builds because assertions are meant to get your attention when things go wrong during development.

I'm currently working on a PR to remove all asserts.

[2019-08-08 16:49] morganchen12 commented on #3501
Can you share your project?

[2019-08-08 17:52] renkelvin commented on #3405
Unfortunately, the backend fix is delayed. I'll update here once it's available.

[2019-08-08 19:22] mikehaney24 commented on #3530
This should be addressed by #3535, we're working on creating a new release that contains these changes now.

[2019-08-08 20:38] thiagomacauba88 commented on #3501
sure! What email?

[2019-08-08 20:58] morganchen12 commented on #3501
You can send it to me at morganchen at google.

[2019-08-08 21:10] paulb777 commented on #3530
The fix is now released.

Run `pod update` to get  GoogleDataTransport (1.1.0), GoogleDataTransportCCTSupport (1.0.1), GoogleDataTransportCCTSupport (1.0.1)

[2019-08-08 21:10] #3530 closed

[2019-08-08 22:51] thiagomacauba88 commented on #3501
I just sent, can you check please?
tks

[2019-08-09 03:52] siburb commented on #3412
I'm seeing similar behaviour, but both `fetchSignInMethods` and `fetchProviders` are returning the same incorrect results. I have an account that is authenticated using Facebook, and I'm getting "password, google.com" back. Testing an email that was authenticated using google.com, and I'm getting the correct result back. I can't see whether these incorrect results are just cached from a previous u

[2019-08-09 09:15] arm0nic commented on #2575
@morganchen12 Has this issue been fixed and published by now?

[2019-08-09 15:16] chamixxx commented on #2816
Any news guys about the issue ? We are facing the same one after it worked for a first campaign on the same app version

[2019-08-09 16:51] morganchen12 commented on #2575
No, we're having trouble generating test cases for this issue. I'll update this thread when it's merged and pending release.

[2019-08-09 16:56] morganchen12 commented on #3501
I haven't received it yet; did you send it to `morganchen [at] google.com`?

[2019-08-09 18:59] xuaninbox opened #3545 "FIAM init(actionText:actionURL:)' is deprecated"
* Xcode version: 10.3
  * Firebase SDK version: 6.6
  * Firebase Component: FirebaseInAppMessaging
  * Component version: 0.15.3

### [REQUIRED] Step 3: Describe the problem

When using

`InAppMessagingAction(actionText: modalMessage.actionButton?.buttonText, actionURL: actionURL)`

warning says it's deprecated, I'm using customs InAppMessagingDisplay and I can't seem to find any replacement for t

[2019-08-09 20:42] xuaninbox commented on #3482
Same crash even on 6.6.0

[2019-08-09 22:07] morganchen12 commented on #3482
@xuaninbox can you share a stack trace?

[2019-08-09 22:23] xuaninbox commented on #3482
[code]

[2019-08-09 22:53] chliangGoogle commented on #2816
@peacemoon Can you share debugLog with FIRInstanceID and InAppMessaging output?

[2019-08-09 23:20] barrylachapelle commented on #2011
+1

[2019-08-10 00:16] SloanHawthorne commented on #3145
Any update on this?

[2019-08-10 00:17] giladrom commented on #3145
Same. This is going to be mandatory very soon. Any updates?

[2019-08-10 00:51] mechmatt01 commented on #3145
Well, I doubt Apple will make you have it on launch. I may be wrong and although they are stern on their rules look at their support for the iPhone X mandate. It took almost a year for them to even support iMovie for the X. I am not hating on Apple, but I am saying that they usually don’t follow their deadlines, nor do they make others follow them until further down the road. But I could be wrong

[2019-08-10 01:18] lidemin commented on #3145
Hmm, the catch is if you want to please Apple which potentially features your app, you'd better do whatever they say...

[2019-08-10 01:59] KrisConrad commented on #3145
It’s also nice to support features that users want at launch. As a user, I’ve replaced apps that have taken too long to support functionality I thought was important.

As a developer I don’t want to put my users in that position.

[2019-08-10 02:21] thiagomacauba88 commented on #3501
I just sent again, and now?

[2019-08-10 03:45] ggpuglia commented on #2910
Thank you for the feedback @b-onc. We are following up internally to discuss which is the best implementation for Analytics. I will reply back once I have an update.

In parallel, I would like to hear from you, your thoughts in the following points:
1. What are the UTM parameters you are interested the most? Is "source", "medium", "campaign"  (name) enough? Are "term" and "content" critical for yo

[2019-08-10 06:36] peacemoon commented on #2816
@chliangGoogle I don't have such problem anymore. It is other people who have similar issue are writing into my problem. I close it for now so that I don't receive notification from github. Others please open new issue if needed.

[2019-08-10 06:36] #2816 closed

[2019-08-10 10:40] zhuravel-sergey opened #3547 "Crash app [GDTUploadCoordinator packageExpired:]"
* Xcode version: 10.3
  * Firebase SDK version: 6.6.0
  * Firebase Component:
Using FirebaseABTesting (3.0.0)
Using FirebaseAnalytics (6.1.0)
Using FirebaseCore (6.2.0)
Using FirebaseCoreDiagnostics (1.0.1)
Using FirebaseCoreDiagnosticsInterop (1.0.0)
Using FirebaseInstanceID (4.2.3)
Using FirebaseRemoteConfig (4.2.1)
Using Google-Mobile-Ads-SDK (7.48.0)
Using GoogleAppMeasurement (6.1.0)
Using Go

[2019-08-10 14:10] paulb777 commented on #3547
Thanks for the report.  We'll investigate.

In the meantime, a workaround would be to revert to Firebase 6.5.0.

[2019-08-10 18:45] mikehaney24 commented on #3547
Looking into it.

[2019-08-11 09:33] Liulinzhe17 commented on #3321
sorry，Can you describe in detail how to update my sqlite version @allenktv @yanfangl

[2019-08-11 15:37] zhuravel-sergey commented on #3547
Guys, there is such a problem on my second application too :(
[com.lock.master_issue_crash_dcee41f2caad42f0a3539351ea108052_DNE_0_v2.txt](https://github.com/firebase/firebase-ios-sdk/files/3490147/com.lock.master_issue_crash_dcee41f2caad42f0a3539351ea108052_DNE_0_v2.txt)

[2019-08-11 15:47] kross51 commented on #3482
Same here using 6.6.0.  Apple just yesterday rejected one of my apps because of same exception above with FIRInstanceID in the dump.  The other 7 apps I submitted to Apple also used 6.6.0 and were approved.  All work fine on my devices.  Must be some intermittent thing.

[2019-08-11 18:17] mechmatt01 commented on #3145
Ok, points taken.

[2019-08-12 01:01] sylvioleblanc commented on #3145
I agree with Damon Lee.

Can we have a timeline for Support in Firebase Authentication?

Sent from my iPhone
________________________________
From: Matthew <notifications@github.com>
Sent: Sunday, August 11, 2019 3:17:38 PM
To: firebase/firebase-ios-sdk <firebase-ios-sdk@noreply.github.com>
Cc: sylvioleblanc <sylvioleblanc@hotmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [firebase/f

[2019-08-12 03:58] Jafar-Khoshtabiat opened #3552 "when I want to send upstream in response to some downstream, i get this error when ever I want to call "Messaging.messaging().sendMessage":"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2019-08-12 03:58] Jafar-Khoshtabiat opened #3553 "getting crash when I want to send upstream in response to downstream"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2019-08-12 04:01] Jafar-Khoshtabiat commented on #3553
when I process the received downstream, I get below error when ever I want to call "Messaging.messaging().sendMessage":

.dylib: illegal multi-threaded access to database connection

[2019-08-12 04:56] spthread commented on #357
@alexcroox
No solution yet, But i found that this is happing only with mobile data network (LTE Voice) and also specific to one network only, with other network providers it works fine.

Hope this will help you in some way !!

[2019-08-12 05:08] mrgrauel commented on #3547
Reverting to 6.5.0 doesn't help cause there is the FIRInstanceID Crash.
https://github.com/firebase/firebase-ios-sdk/issues/3439

The last versions of Firebase aren't as stable as before. Each release has a few problems.

[2019-08-12 06:14] rickydameliocroc commented on #1894
314 days since Google have had a reproducible case of this **bug**, and not a mention of a fix or workaround... What a disgrace.

[2019-08-12 08:24] triplef commented on #3145
Cross-platforms iOS/Android apps will probably also want to offer this on Android for users switching from iOS, so I’ve opened a respective feature request for the Firebase Android SDK:

https://github.com/firebase/firebase-android-sdk/issues/700

[2019-08-12 08:42] mikehaney24 commented on #3547
If you're also running into this issue, please post any diagnostics information you have.

[2019-08-12 09:04] stsandro commented on #3547
This might be connected to this issue, although I'm using an older version of GoogleDataTransport:
- Firebase/Core (6.6.0):
  - GoogleDataTransport (1.0.0)
  - GoogleDataTransportCCTSupport (1.0.0)

[com.mycompany.myapp_issue_crash_e3be9ca665f245fcb8e8d9486459586a_DNE_0_v2.txt](https://github.com/firebase/firebase-ios-sdk/files/3491605/com.mycompany.myapp_issue_crash_e3be9ca665f245fcb8e8d948645958

[2019-08-12 09:11] mikehaney24 commented on #3547
Thanks for posting that--is anyone able to reproduce this locally (and willing to make a project that demonstrates the issue)? Or is it just showing up in crash reports?

In either case, I'll add checks to make this bit of code unlikely to crash, but I'd like to be able to pinpoint the cause.

[2019-08-12 09:17] iwheelbuy commented on #3547
Just crash reports...

[2019-08-12 09:23] zhuravel-sergey commented on #3547
Yes, I can’t reproduce locally, because not all users have this problem, in my applications only about ~20%

[2019-08-12 09:30] iwheelbuy commented on #3547
Wow. 20% is a lot. I have only 0.1% of crashed sessions, which is 1 crash for 1000 app launches.

[2019-08-12 09:39] b-onc commented on #2910
Hello @ggpuglia

Thank you for looking into this.

1. source, medium and campaign is enough for us, term and content is not important
2. gclid is irrelevant for us

[2019-08-12 09:40] zhuravel-sergey commented on #3547
I have about ~2000/day new installations and ~2000 daily users, my number of crashes in the screenshot. This is only one application, on others, the situation is about the same. :(
<img width="1597" alt="screen" src="https://user-images.githubusercontent.com/7910769/62856438-9ab7df00-bcfd-11e9-9aa2-b4ae676f3063.png">

[2019-08-12 09:52] sylvioleblanc commented on #3145
Definitely Frederik Seiffert!

Good call.

Sent from my iPhone
________________________________
From: Frederik Seiffert <notifications@github.com>
Sent: Monday, August 12, 2019 5:25:06 AM
To: firebase/firebase-ios-sdk <firebase-ios-sdk@noreply.github.com>
Cc: sylvioleblanc <sylvioleblanc@hotmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [firebase/firebase-ios-sdk] FR: Sign in with Ap

[2019-08-12 09:59] arm0nic commented on #3547
Experiencing this issue as well (except that the crash happens on line 224). Fortunately, we have not released anything yet but the error has already affected two of our 100 beta testers. Let me where I can send the crash logs to...

[2019-08-12 10:03] mikehaney24 commented on #3547
If you're fine posting them here, please do so. If you prefer to keep them private, email them to me at lowlevel@ google dot com

[2019-08-12 10:15] arm0nic commented on #3547
I emailed them to you.

[2019-08-12 11:44] yunluoxin commented on #3508
When about releasing next version SDK?

[2019-08-12 14:12] paulb777 commented on #3553
Does anything at https://stackoverflow.com/questions/49198831/sqlite3-dylib-illegal-multi-threaded-access-to-database-connection help?

[2019-08-12 14:14] paulb777 commented on #3552
Closed in favor of #3553

[2019-08-12 14:14] #3552 closed

[2019-08-12 14:24] paulb777 commented on #3508
Firebase 6.7.0 (M54) is targeted for next week.

[2019-08-12 14:57] iDevid commented on #3547
Same here.
"""
Crashed: com.apple.main-thread
0  libdispatch.dylib              0x2151035d0 dispatch_async$VARIANT$mp + 160
1  AppName                          0x1012967e4 -[GDTUploadCoordinator packageExpired:] + 236 (GDTUploadCoordinator.m:236)
2  Foundation                     0x2161a48a4 __NSFireTimer + 84
3  CoreFoundation                 0x2156af650 __CFRUNLOOP_IS_CALLING_OUT_TO_A_TIMER_CALL

[2019-08-12 16:43] morganchen12 commented on #3553
@Jafar-Khoshtabiat can you post the full stack trace of the crash?

[2019-08-12 17:59] paulb777 commented on #3144
We're striving to have iOS SDK support for the open source pods by the time that Catalyst goes out of beta. Closed source pods and binary distribution support will likely take longer.

If you'd like to try it out, see the details below. Make sure your Podfile does not include any closed source pods like `FirebaseAnalytics`, `Firebase/Core`, `FirebasePerformance` or any FirebaseML.

**Introduction*

[2019-08-12 19:15] mikehaney24 commented on #3547
This should be fixed by #3555, I'm working on creating a new release that contains the fix.

[2019-08-12 19:31] leoabortolotti commented on #3547
Experiencing the same issue here...

[2019-08-12 19:31] morganchen12 commented on #3321
Check which sqlite version you have linked in Xcode under "Link Binary With Libraries" and use libsqlite3.0.tbd (or whatever the newest version on Xcode is).

[2019-08-12 19:33] BugsBunnyBR commented on #2665
So, now that the [PR](https://github.com/protocolbuffers/protobuf/pull/6464) in cocoapods is merged... all that is needed is to update the protobuf lib in this repository?
As far as I can tel https://github.com/firebase/firebase-ios-sdk/blob/master/FirebaseMessaging.podspec#L52 is the current version, right? As the version differences are not so small, I image it should be with care. @paulb777 thi

[2019-08-12 19:45] paulb777 commented on #2665
@BugsBunnyBR A new Protobuf version with that [PR](https://github.com/protocolbuffers/protobuf/pull/6464) needs to be published to [CocoaPods](https://cocoapods.org/pods/Protobuf). Please enquire in the [Protobuf repo](https://github.com/protocolbuffers/protobuf/pull/6464) about their release plans.  Firebase will automatically pick up a subsequent Protobuf minor release on a `pod update`.

[2019-08-12 19:51] rednebmas opened #3558 "In-App Messaging serious crash - [NSBundle initWithURL:]: nil URL argument"
### Describe your environment

  * Xcode version: 10.2
  * Firebase SDK version: v6.5.0
  * Firebase Component: In-App Messaging
  * Component version:  v0.15.2

### Describe the problem

#### Steps to reproduce:

I created and deployed my first In-App Message dialog. When I tested on my device I did not run into any issues, but after I started the campaign, I started seeing **a lot** of crashes (

[2019-08-12 20:02] BugsBunnyBR commented on #2665
I thought is was in this release https://github.com/protocolbuffers/protobuf/releases/tag/v3.9.1, but is looks like it is not here yet. Sorry for the misunderstanding.

[2019-08-12 20:13] morganchen12 commented on #3558
@rednebmas how are you integrating the Firebase SDK? If you're using CocoaPods can you share your CocoaPods version? Are you including Firebase in a subtarget of your application?

[2019-08-12 20:21] rednebmas commented on #3558
Hi @morganchen12. I am using Cocoapods version `1.5.3` and below is my Podfile.

[code]

[2019-08-12 20:48] morganchen12 commented on #3501
Can you share your codebase (not your Firebase project)?

[2019-08-12 20:57] mikehaney24 commented on #3547
We've release GoogleDataTranspot v1.1.1, which _should_ fix this issue. Can someone update their pods and let me know if the issue is fixed?

[2019-08-12 20:58] #3547 closed

[2019-08-12 21:02] leoabortolotti commented on #3547
Hi @mikehaney24 I updated my pods... How can I test if it fixed the issues?

[2019-08-12 21:21] paulb777 commented on #3558
@rednebmas Anything notable about the iOS versions on the crash reports?  I notice the one in the report is 12.3.1. `# OS Version: 12.3.1 (16F203)`

[2019-08-12 21:27] rednebmas commented on #3558
@paulb777 Nothing notable, see the screenshot below from Fabric

<img width="1130" alt="Screen Shot 2019-08-12 at 2 25 50 PM" src="https://user-images.githubusercontent.com/2336186/62899739-4a487d80-bd0d-11e9-9020-054d0b2be575.png">

[2019-08-12 21:33] mikehaney24 commented on #3547
Unless you're able to reproduce it locally, you'd have to ship a new version of your app with the updated pods and monitor crash reports on your new app version.

[2019-08-12 22:31] ptsochantaris commented on #3547
Seeing this too, it’s quite worrying. We’ve updated pods now to include the new GDT 1.1.1 pod and have queued a hotfix for review and release. Will advise on progress once that’s out.

[2019-08-13 01:00] #3228 closed

[2019-08-13 01:04] thiagomacauba88 commented on #3501
yes, I just sent.

[2019-08-13 01:13] rolinger commented on #357
my app is using wifi and like @alexcroox this is happening about 1 out of every 4 or 5 app starts.  Never seen it before until today.  In fact, the frequency is increasing each time I run the app.

[2019-08-13 01:53] yunluoxin commented on #3508
Mass changes to fix this? We just want to know how this bug occur, and is it big possibility to happen? If it's easy to occur, we need to upgrade right away in case the worse situation that most of client can't open the app. Plz tell me, thx.

[2019-08-13 03:20] at-binhdo commented on #3255
@alfonsomestre Is this issue fixed after 6.4.0 release. It seem still happens on our app, which import 6.5.0

[2019-08-13 03:54] #3553 closed

[2019-08-13 06:51] arm0nic commented on #3547
We'll implement 1.1.1 in our next beta release and will let you know if the issue still appears, thanks for the quick update!

[2019-08-13 09:33] subhojitGoqii commented on #3547
I tried **pod repo update** and then **install pod** but it still shows the installed version of GTD as 1.1.0. How to get the GTD v1.1.1 ?

[2019-08-13 10:54] ptsochantaris commented on #3547
@subhojitGoqii `pod install` will only install the currently selected list of pods from your `Podfile.lock`

You need to run `pod update` in order for your local pods to be updated (be careful, this may update other pods too, not just this one, so you may want to restrict that with options to just update this pod, if you don't want the others updated).

The `pod repo update` command you ran will o

[2019-08-13 11:52] subhojitGoqii commented on #3547
Thanks @ptsochantaris that helped. Thanks for the clarity about `update` and `repo update` too.

[2019-08-13 13:56] alfonsomestre commented on #3255
Yes @at-binhdo, you are right. It still happens in version 6.5.0

[2019-08-13 14:49] samedson commented on #3511
Hey @bjimenezned, can you try onboarding your app in Firebase again? The issue should be resolved now.

For future tv and macOS onboarders, my recommendation is to follow the onboarding steps for an iOS app, and include the following in your Podfile if you want Crashlytics:

[code]

[2019-08-13 16:16] maksymmalyhin commented on #3521
NOTES:
- adopting of background/foreground calls for auth should be pretty straightforward
- auth will have to adopt new way of handling open URL actions using [UISceneDelegate](https://developer.apple.com/documentation/uikit/uiscenedelegate/3238059-scene?language=objc) which implies implementation of UISceneDelegate swizzling.

[2019-08-13 16:37] maksymmalyhin commented on #3522
TODO:

- [ ] Update background/foreground notifications [here](https://github.com/firebase/firebase-ios-sdk/blob/5f0118d61f87a54f64155cb08ad27f4dda2fa010/Firebase/Messaging/FIRMessaging.m#L309) with UIScene API.
- [ ]  update implementation of [handleIncomingLinkIfNeededFromMessage:](https://github.com/firebase/firebase-ios-sdk/blob/5f0118d61f87a54f64155cb08ad27f4dda2fa010/Firebase/Messaging/FIRMe

[2019-08-13 17:51] renkelvin commented on #3412
@siburb It seems a different issue. Could you create a new issue with the steps to reproduce? Thanks!

[2019-08-13 18:35] bjimenezned commented on #3511
Seems to be working now, I managed to link and receive crash reports in firebase console.

Thanks!

[2019-08-13 18:35] #3511 closed

[2019-08-13 19:02] maksymmalyhin commented on #3523
Seems like no changes are required (more details [here](https://github.com/firebase/firebase-ios-sdk/pull/3536#pullrequestreview-274469143))
@schmidt-sebastian Could you confirm if I am missing anything?

[2019-08-13 19:03] possen opened #3578 "Carthage Firebase 6.6 reports error Unable to find module header"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2019-08-13 19:48] ptsochantaris commented on #3547
Rollout is quite early and numbers are very limited, but yesterday at around the equivalent user/sessions level we had seen a few instances of this crash, so that's encouraging. Will update again once we have larger numbers.

[2019-08-13 20:03] ryanwilson commented on #3411
Thanks @cooksimo for the detailed write-up and investigation into what the cause was!

[2019-08-13 21:06] paulb777 commented on #3578
@possen Thanks for the report.  We'll take a look.

 Another workaround would likely be to copy the 6.5.0 Firebase.framework to a 6.6.0 installation.

[2019-08-13 23:15] petrovi4 commented on #3578
I have the same problem ((

[2019-08-14 00:43] ryanwilson commented on #3578
Sorry about the trouble! I'll try to get a fix up early tomorrow for this.

[2019-08-14 01:10] RustyKnight commented on #3578
Had this issue (all of sudden and unexpectedly), took some time to figure out what the probable cause might be.

I simply restricted Carthage to only using version 6.5.0

`binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAnalyticsBinary.json" == 6.5.0`

not sure if it work for all the libraries, but the ones I'm using worked find

[2019-08-14 02:31] grennis commented on #627
@wilhuff Thanks, this looks to be working well. I did have an issue that a `Date` object in my model class cannot decode because of the error about expecting a Date but found FIRTimestamp instead. I know I can fix this (for now) by using setting `areTimestampsInSnapshotsEnabled` but this is deprecated and apparently going away soon. And, I don't want to add a Firebase reference to put a Firebase T

[2019-08-14 02:51] yunluoxin opened #3584 "Firebase analytic crash"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.2
  * Firebase SDK version: 6.4.0
  * Firebase Component:
        Firebase: 6.4.0
        Firebase/RemoteConfig: 6.4.0
 Use cocopod like this:
[code]

### [REQUIRED] Step 3: Describe the problem
[code]

#### Steps to reproduce:
   NO.

#### Relevant Code:

I see other issues similar to this but not same and not be solved yet.

[2019-08-14 05:11] dmandar commented on #3449
We do not have a repro yet, but have some overall stability improvements which should hopefully help with this issue. Please retry with the upcoming Firebase release (next week) and reopen if still an issue.

[2019-08-14 05:11] #3449 closed

[2019-08-14 05:12] dmandar commented on #3448
We do not have a repro yet, but have some overall stability improvements which should hopefully fix this issue. Please retry with the upcoming Firebase release (next week) and reopen if still an issue.

[2019-08-14 05:12] #3448 closed

[2019-08-14 05:12] dmandar commented on #3447
We do not have a repro yet, but have some overall stability improvements which should hopefully fix this issue. Please retry with the upcoming Firebase release (next week) and reopen if still an issue.

[2019-08-14 05:12] #3447 closed

[2019-08-14 06:36] stsandro commented on #3547
I've also released an update to my app yesterday evening (around 9:00 PM CEST). As far as I can tell now this crash seems fixed.

[2019-08-14 12:51] leoabortolotti commented on #3547
I've updated my app yesterday too, and by now, no crashes. It seems fixed.

[2019-08-14 13:26] siburb opened #3585 "`fetchSignInMethodsForEmail:` returning incorrect results"
* Xcode version: 10.2
  * Firebase SDK version: 6.4.0
  * Firebase Component: Auth
  * Component version: 6.2.0

Steps to reproduce:

Both `fetchSignInMethodsForEmail:` and `fetchProvidersForEmail:` are returning the same incorrect results for a Facebook authenticated account.

I have an account that is authenticated using Facebook, but I'm seeing ["password", "google.com"] returned. Fetching via

[2019-08-14 13:43] petrovi4 commented on #3578
It's a good, though temporary, solution.
Well, we're waiting for an update from the project maintainers.

[2019-08-14 13:52] b-onc opened #3586 ""Most recently fetched config is already activated" after remote config activate() call"
## [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.3
  * Firebase SDK version: 6.6.0
  * Firebase Component: Remote Config
  * Component version: 4.2.1

### [REQUIRED] Step 3: Describe the problem
We fetch and activate remote config with the following code:
[code]

We call this part of the code only one, in `AppDelegate` during `didFinishLaunchingWithOptions`

In the wild, we s

[2019-08-14 14:28] paulb777 commented on #3578
The problem is that Firebase module definition at `Carthage/Build/iOS/Firebase.framework/Modules/module.modulemap` is missing the `framework` specifier.

The simplest workaround is to edit the file to include it:

[code]

We'll look into posting a 6.6.1 version of FirebaseAnalyticsBinary with the fix.

[2019-08-14 15:03] maksymmalyhin commented on #3524
TODO:
- [ ] background/foreground notifications: I think it is actually a good case where we should use `UI Scene...` notifications, so a new message can be presented when a new window is opened. @christibbs WDYT?
- [ ] background/foreground notifications: update notifications to the scene specific in view controllers like `FIDBaseRenderingViewController`
- [ ] consider changing URL handling and p

[2019-08-14 15:59] ptsochantaris commented on #3547
Just as a followup, our user/session numbers are definitely higher and still no crash, at this point I'd say it's fixed for us too 👍

[2019-08-14 16:01] paulb777 commented on #3584
It does look related to #3255.

[2019-08-14 16:02] rolinger commented on #357
@Sea-Eagle - could you specific exactly what you added as a domain exception.  Here is what I currently have in my plist file, what else should I add? :
[code]

[2019-08-14 16:12] schmidt-sebastian commented on #3523
Sounds good to me. We can always address this later if this becomes an issue. With the iOS 13 public beta out, we should get some feedback from the dev community.

[2019-08-14 16:12] #3523 closed

[2019-08-14 16:12] mikehaney24 commented on #3547
That's great to hear! Glad we took care of this! Thanks everyone for being so communicative and following up!

[2019-08-14 19:06] #3411 closed

[2019-08-14 19:25] maksymmalyhin commented on #3558
@rednebmas It looks like the resource bundle cannot be found sometimes. I wonder, if the app has any app extensions, so the crash may come from an app extension?

[2019-08-14 20:04] maksymmalyhin commented on #3558
PR #3593 will fix the crash. The resources issue itself is tracked internally in b/139430309

[2019-08-14 21:28] morganchen12 commented on #3586
If your goal is to make sure the values in RemoteConfig are up-to-date, this code will work and you can ignore the error.

@dmandar is this intentional? If we have an error that we recommend users ignore, can we downgrade the error to an info/debug log instead?

[2019-08-14 23:20] paulb777 commented on #3255
We have a fix coming in next week's 6.7.0

[2019-08-14 23:20] #3255 closed

[2019-08-15 02:53] Liulinzhe17 opened #3601 "WCDB conflict with firebase/analytics in iOS12"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: ___10.2.1__
  * Firebase SDK version: __6.5.0___
  * Firebase Component: ___Core Analytics Performance__ (Auth, Core, Database, Firestore, Messaging, Storage, etc)
  * Component version: __ the latest__

### [REQUIRED] Step 3: Describe the problem

when i use` pod 'WCDB', :git => "git@github.com:Tencent/wcdb.git" ,:commit => 'c09

[2019-08-15 03:32] siburb commented on #3585
I've discovered what was happening here.

When searching for an email address in the Auth console, I am seeing two accounts returned, even though one of the accounts appears to have a different email address. It is the first of the two accounts that I'm getting when I do a `fetchSignInMethodsForEmail:`.

e.g searching in the Auth console for `name@email.com`, and I'm seeing the following:

`name+o

[2019-08-15 04:45] dmandar commented on #3586
The error object always contains a value when activation cannot succeed. In this case, the already fetched config (present in the cache) is also already activated and no new activation can take place.  If you prefer, you can use fetchAndActivate by pre-configuring the fetchInterval in the configSettings at initialization time which returns more granular status regarding whether both remote fetch a

[2019-08-15 14:39] paulb777 commented on #3601
Perhaps WCDB is overriding the system sqlite3?

[2019-08-15 15:39] leandromperez opened #3602 "Random crashes in com.google.GoogleConfigService.FIRRemoteConfig"
Hi guys, we're seeing crashes in Fabric related to the activation of the Firebase Remote Config. I'm opening this issue in case anyone else is experiencing something similar.

  * **Xcode version**: Version 10.2.1 (10E1001)
  * **Firebase SDK version**:
**- Firebase/Core (6.5.0):**
    - Firebase/CoreOnly
    - FirebaseAnalytics (= 6.0.4)
  - Firebase/CoreOnly (6.5.0):
    - FirebaseCore (= 6.1.0)

[2019-08-15 16:17] ulukaya commented on #3167
Hi @FoldedLaundry, we tried the images you provided against the quickstart app and were unable to reproduce the issue.

[2019-08-15 16:35] mikelehen commented on #627
@grennis Thanks very much for giving this a spin and contributing that bugfix!  Holler if you have any other feedback or issues.

[2019-08-15 18:30] macbellingrath commented on #2011
+1

[2019-08-15 18:36] morganchen12 commented on #3601
Can you share the version of SQLite you're using?

[2019-08-15 18:50] nvrtdfrst commented on #2575
I just started having this issue as well. This is the source of most of my crashes on Crashlytics.

I do NOT integrate the firebase pod.

This happened when I updated to the latest version of AdMob Google-Mobile-Ads-SDK 7.47.0  from 7.31.0. This also installed new pods GoogleAppMeasurement (6.1.0) and GoogleUtilities (6.2.4).

Please put out a fix soon OP!

[2019-08-15 18:52] nvrtdfrst commented on #1691
(I posted this on the other open issue [#2575 ](https://github.com/firebase/firebase-ios-sdk/issues/2575))

I just started having this issue as well. This is the source of most of my crashes on Crashlytics.

I do NOT integrate the firebase pod.

This happened when I updated to the latest version of AdMob Google-Mobile-Ads-SDK 7.47.0 from 7.31.0. This also installed new pods GoogleAppMeasurement (6

[2019-08-15 19:03] igorzharii opened #3606 "Accessing second project's Firestore creates EXC_BAD_ACCESS"
Environment

  * Xcode version: 10.3
  * Firebase SDK version: 6.5.0
  * Firebase Component: Firestore
  * Component version: 6.5.0
  * Using Carthage

#### Steps to reproduce:

Using the official [documentation](https://firebase.google.com/docs/projects/multiprojects) when I try accessing second project's Firestore I get EXC_BAD_ACCESS

#### Relevant Code:

[code]

let secondaryDb throws EXC_BAD_

[2019-08-15 19:08] morganchen12 commented on #3606
Can you share the full stack trace of the crash?

[2019-08-15 19:10] wilhuff commented on #3606
Also: you're describing (both in the title and text) that you're using Firestore, but the code is actually using the Realtime Database. Is this actually a Firestore issue?

[2019-08-15 19:11] alfonsomestre commented on #3255
Thanks, @paulb777 !!

[2019-08-15 19:21] igorzharii commented on #3606
You're right, I fixed the code example. Issue is with Firestore, which I'm using. I'm not working with the Realtime Database

I'm having troubles getting it since I can't crash the app completely by clicking 'continue' on the debugger - it just doesn't crash the app and stays on that line which causes it. So I can't get the stack trace like with other crashes for some reason..

[2019-08-15 19:33] morganchen12 commented on #3606
You can get the stack trace by running `bt all` in the debugger when it's stopped.

[2019-08-15 19:39] christibbs commented on #3545
Hey Xuan, when we deprecated the initializer for `InAppMessagingAction` we failed to consider the custom `InAppMessagingDisplay` case. We'll un-deprecate it with the next release.

[2019-08-15 19:40] igorzharii commented on #3606
Thanks, added

[2019-08-15 19:54] paulb777 commented on #3545
@christibbs Let's leave the issue open and close it with the PR that does the un-deprecation.

[2019-08-15 22:39] paulb777 opened #3609 "Add support for GoogleSignIn 5"
GoogleSignIn released a major update today and it causes build failures like

❌  /Users/travis/build/firebase/firebase-ios-sdk/Example/Auth/Sample/GoogleAuthProvider.m:38:62: cannot find protocol declaration for 'GIDSignInUIDelegate'; did you mean 'GIDSignInDelegate'?
@interface GoogleAuthDelegate : NSObject <GIDSignInDelegate, GIDSignInUIDelegate, OpenURLDelegate>

[2019-08-15 23:34] mikelehen commented on #3606
@igorzharii Thanks for the report!

The issue is that you didn't set a `projectID` in your options, which Firestore requires, i.e.:

[code]

That said, we should give you a more friendly error message!  I'll see if we can get a fix in for that.

[2019-08-15 23:44] julienbodet commented on #3136
I got the same error using Xcode `Version 11.0 beta 5 (11M382q)` when trying to add the package to my project. After a quick look at the documentation, it seems the path has to be relative to the project directory:

[code]

[2019-08-15 23:54] rednebmas commented on #3558
@maksymmalyhin How does PR #3593 fix the crash? All it does is add a log statement.

[2019-08-15 23:57] paulb777 commented on #3558
@rednebmas Good catch! Looks like a missing else?

[2019-08-16 01:41] grennis commented on #627
@mikelehen Will do. So far everything else is working well for me. Thanks!

[2019-08-16 07:19] Anastassi commented on #3558
The problem also exists when linking firebase in app messaging via carthage.
Crash occurs only on the devices with iOS 10.3
<img width="692" alt="Снимок экрана 2019-08-16 в 10 17 50" src="https://user-images.githubusercontent.com/27618588/63150346-3eabce00-c00f-11e9-850e-938d07c4efdc.png">
<img width="684" alt="Снимок экрана 2019-08-16 в 10 17 57" src="https://user-images.githubusercontent.com/276

[2019-08-16 08:55] Hamada-Yuji commented on #3405
@renkelvin how is backend release going?

[2019-08-16 15:03] maksymmalyhin commented on #3558
@rednebmas Great catch! Thank you for your attentive code review!

@Anastassi Thank you for additional details.

[2019-08-16 15:05] maksymmalyhin commented on #3558
The most strange part of the crash for me is that it does not happen consistently. I would expect that if there is an issue with the resource bundle, then the crash should occur consistently on any device with a certain app version. Based on it I have two ideas what may happen here so far:

1. It looks like `NSBundle` API [is not thread-safe](http://www.openradar.appspot.com/19278417) which may be

[2019-08-16 16:22] paulb777 commented on #3136
@ivanvorobei @julienbodet Thanks for the reports!  Something has changed between Xcode 11 beta 2 and beta 5 that leads to this issue.

I've asked a [question about it on the SwiftPM forum](https://forums.swift.org/t/build-setting-headersearchpath-contains-invalid-component-s-srcroot/27960).

[2019-08-16 16:26] #3609 closed

[2019-08-16 16:27] renkelvin commented on #3609
Fixed in https://github.com/firebase/firebase-ios-sdk/pull/3611

[2019-08-16 17:22] junhohong opened #3617 "Unable to authenticate with UK phone number"
### Environment

  * Xcode version: 10.2.1
  * Firebase SDK version: 6.6.0
  * Firebase Component: Auth
  * Component version: 6.2.2

### Problem

When attempting to authenticate via a UK phone number using `verifyPhoneNumber` method in `PhoneAuthProvider.provider()`, the method throws the following error:

When investigating the network requests, I found that the SDK calls to `http://www.googleap

[2019-08-16 18:19] renkelvin commented on #3405
@Hamada-Yuji It should be on prod from yesterday.

[2019-08-16 18:36] ggpuglia commented on #2910
Thank you for your input! We are tracking this as an internal project. Unfortunately, it might take us a little time to get this prioritized.

[2019-08-16 19:20] rednebmas commented on #3558
@maksymmalyhin I only have one app version in production that had the In-App Messaging cocoapod integrated, although I've had the main Firebase SDK integrated for a while with no issues.

Good point about the threading issue. Would also explain why this isn't happening consistently. And, in the stack trace the crash is happening off the main thread.

Another thought - maybe you should be using `[N

[2019-08-16 19:50] #3405 closed

[2019-08-16 21:15] morganchen12 commented on #3602
This looks very similar to a series of crashes that were fixed but have not yet been released. The fixes are scheduled to be released soon; can you test when 6.7.0 is out?

[2019-08-16 21:20] tomirons commented on #627
@wilhuff Is it possible to decode the reference ID? I see the `DocumentReference` but I'm not sure how to use it properly.

[2019-08-16 21:23] #3606 closed

[2019-08-16 23:43] wilhuff commented on #627
Before we talk about anything else: `DocumentReference` is for carrying references to other documents within some document. So for example, if you had a document representing a specific game it might contain a document reference for each player in the game. Your code could load the game and then use the embedded document references to load the players playing the game.

With regard to Codable thou

[2019-08-16 23:46] tomirons commented on #627
Yeah, I'm looking for ID of the document after it's been created/retrieved.

I think your idea to solve that issue is great.v :)

[2019-08-17 13:37] psyduck-scar4 commented on #2665
Thank You!! this worked

[2019-08-17 13:37] psyduck-scar4 commented on #2665
thank you!!! this fixed it.

[2019-08-17 20:48] tolmekian1453 commented on #2179
Confirmed this doesn't work in React Native. Here's my ugly workaround: https://gist.github.com/tolmekian1453/6785e85f4dd88f950fcfc20d95d44dd3

[2019-08-18 12:34] dhaneshgosai commented on #3578
Thanks @paulb777.

Its working fine now.

[2019-08-18 12:53] mars-lan commented on #3547
Start seeing a different kind of crash after the update. Suspect it's related to GoogleDataTransport v1.1.1

[code]

[2019-08-18 13:27] paulb777 commented on #3547
@mars-lan Thanks for the report. Please open another issue with the full backtrace.

[2019-08-18 17:49] aporat opened #3623 "GDTStorage encodeWithCoder crash on firebase 6.6.0"
Xcode version: 10.3
Firebase SDK version: 6.6.0
Firebase Component:
Using FirebaseAnalytics (6.1.0)
Using FirebaseAuth (6.2.2)
Using FirebaseCore (6.2.0)
Using FirebaseCoreDiagnostics (1.0.1)
Using FirebaseCoreDiagnosticsInterop (1.0.0)
Using Google-Mobile-Ads-SDK (7.48.0)
Using GoogleAppMeasurement (6.1.0)
Using GoogleDataTransport (1.1.1)
Using GoogleDataTransportCCTSupport (1.0.1)
Using GoogleU

[2019-08-18 19:23] paulb777 commented on #3623
@aporat Thanks for the report.  I suspect the problem is more likely related to #3525 - migrating to the modern NSKeyedArchiver APIs.

Are you able to reproduce or see any patterns from the crash reports?

[2019-08-18 19:55] jsproull commented on #1732
hate to say 'me too!', but 'me too!

[2019-08-18 21:17] petrovi4 commented on #3578
Anyone who reads this and thinks it should work as planned now. Nothing like that. This works if you make changes to module.modulemap, but version 6.6.1 is still not released.

[2019-08-18 21:29] aporat commented on #3623
I can see that around 80% of the crashes happen when the app is in the background state. so while there are relative high amount of crashes, I assume it's not causing such a hassle for actual users.

I reverted to 6.5.0 for a little while just to be sure.

[2019-08-18 22:40] mikehaney24 commented on #3623
I think the linked code hasn't shipped yet, but will very soon.

[2019-08-19 00:27] paulb777 commented on #3623
I'll close, since we expect this to be addressed with #3525 along with this week's 6.7.0 release.

[2019-08-19 00:30] paulb777 commented on #3578
@petrovi4 Yep, sorry it doesn't look like we'll get a 6.6.1 in. Instead we expect the module.modulemap fix to occur in this week's 6.7.0.

[2019-08-19 01:28] allenktv commented on #3584
Hi @yunluoxin, are you mutating event parameters after logging an event? If so, we should have a fix for this crash in the upcoming release

[2019-08-19 03:10] yunluoxin commented on #3584
No. It happened long long ago and then we fixed it. We wrapped logging event method and judged if that are mutatable parameters, make xx.copy fore casting to immutatable , finally pass result to firebase analystics.

[2019-08-19 03:24] ilyon opened #3624 "How to set AB Testing version"
We are using AB Testing and we have learned some information from this question (https://stackoverflow.com/questions/57437506/firebase-ab-test-regex-for-ios-app-version-not-working/57475586# 57475586), the version number is replaced by the build number, but recently we found in the new AB Testing setting, the regular expression needs to match the version number, if the regular expression is set ac

[2019-08-19 08:32] proxi opened #3625 "Error: Can't end BackgroundTask: no background task exists with identifier"
### Environment

  * Xcode version: 10.3
  * Firebase SDK version: 6.6.0

### Problem

A breakpoint fires and a console warning is shown:

[code]

<img width="1020" alt="Zrzut ekranu 2019-08-19 o 10 07 31" src="https://user-images.githubusercontent.com/107399/63249688-431ff300-c26a-11e9-907b-625ba93d5671.png">

#### Steps to reproduce:

I couldn't figure out the exact reproducible steps. It seems

[2019-08-19 08:40] m3nux commented on #2575
According to crashlytics this crash happends when device has small amount of free RAM.
Maybe it can help you.

[2019-08-19 10:16] hixfield opened #3626 "Issues embedding Firebase inside other framework"
* Xcode version: 10.3
  * Firebase SDK version: 6.6.0
  * Firebase Component: analytics, firestore
  * Component version: 6.6.0

<img width="1105" alt="image" src="https://user-images.githubusercontent.com/9302613/63257516-3b684a80-c27a-11e9-9777-a5f585fe6bf0.png">

We have our own swift framework `REFFramework` that is using carthage to import Firebase (analytics and firestore). This is the cartf

[2019-08-19 12:15] leandromperez commented on #3602
I will, and I'll keep you posted @morganchen12

[2019-08-19 15:04] paulb777 commented on #3626
Yep, the documentation you found is relevant.

The Firebase frameworks are static. They can only be dependencies of other static frameworks and the last I checked, Carthage only supports static frameworks as binaries.

The actual backtrace that you're showing looks related to finding the resource bundle necessary for Firestore.

[2019-08-19 15:58] paulb777 commented on #3136
FYI, a [forum discussion](https://forums.swift.org/t/support-for-disabling-arc/27998) today about adding the `-fno-objc-arc` option to library builds. Firebase needs this in libraries that depend on Protobuf.

[2019-08-19 17:33] prakhar1989 commented on #3391
Test

[2019-08-19 17:37] mikehaney24 commented on #3625
Hopefully #3627 addresses this, but it likely won't go out in the next update.

[2019-08-19 18:12] renkelvin commented on #3585
Thanks for your detailed description.
`name+other@domain.com` and `name@domain.com` are always considered as different emails.
It seems you linked the Google account (name@domain.com) with a password account (name+other@domain.com). In this case the email of the Google account doesn't matter. The email identifier of the user is still (name+other@domain.com).
`fetchSignInMethodsForEmail:` always re

[2019-08-19 18:12] morganchen12 commented on #3179
Closing the loop on this: Setting up Crashlytics without a GoogleService-Info.plist file is something the team is looking to add support for in a quarter or two.

[2019-08-19 18:12] #3179 closed

[2019-08-19 18:24] gmineebates opened #3629 "SDWebImage not loading image only for first app launch"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.2.1
  * Firebase SDK version: 6.0.0
  * Firebase Component: Performance
  * Component version: 3.0.0
  * SDWebImage version: 4.4.2

### [REQUIRED] Step 3: Describe the problem

When our app launches on a fresh install, the images that are loaded using SDWebImage fails to load. The NSURLSession delegate is never called and it i

[2019-08-19 18:38] maksymmalyhin commented on #3629
@gmineebates Most likely the root cause of the issue is the same as for #2201 which was fixed in 6.6.0. Will you have a chance to update Firebase and check if the issue has been solved?

[2019-08-19 18:55] gmineebates commented on #3629
@maksymmalyhin Thanks for the quick response, I'm glad it was fixed. We had to disable Firebase and won't have chance to bring it back for a while.

[2019-08-19 18:55] #3629 closed

[2019-08-19 19:45] paulb777 commented on #3623
We've reproduced and it is a different bug. We're investigating and will try to get the fix into 6.7.0.

[2019-08-19 20:52] mikehaney24 commented on #3623
This bug should be addressed by #3627, it was closely associated with another bug report, and as both were symptoms of the same bug (threading issues whilst backgrounding in GDTStorage). Feel free to reopen if it is still ocurring after 6.7.0.

[2019-08-19 20:52] #3623 closed

[2019-08-19 22:01] allenktv commented on #2408
Test comment, please ignore

[2019-08-19 22:33] paulb777 commented on #3625
#3627 will make 6.7.0

[2019-08-19 22:59] mikehaney24 commented on #3625
Still an issue after my PR, working on it.

[2019-08-20 03:33] siburb commented on #3585
That's not what's happening.

As I described above, when I do a `fetchSignInMethodsForEmail:` using the "name@domain.com" email address, I'm getting the sign in methods associated with the "name+other@domain.com" account, and this as you say, must be because the linked Google auth is using the "name@domain.com" address. There actually are two accounts that have sign-in methods for the same email a

[2019-08-20 04:00] #3625 closed

[2019-08-20 06:27] kkendall33 commented on #3578
How did you fix this issue? My CartFile has like this: `binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAnalyticsBinary.json" == 6.5.0` and after `carthage update` I still have this issue.

[2019-08-20 11:29] algrid commented on #2807
I have the same problem after I added GoogleSignIn.

[2019-08-20 11:33] peterstojanowski commented on #2807
When you add `pod 'Firebase/Auth'` you also get the same issue.

[2019-08-20 11:44] algrid commented on #2807
Yeah, I actually have the following:

[code]

so maybe `Auth` causes the problem.

[2019-08-20 13:48] paulb777 commented on #2807
`GoogleSignIn` did a major update to 5.0.0 last week so it's possibly related to that. Does keeping `GoogleSignIn` at version 4.4.0 make a difference?

[2019-08-20 13:57] paulb777 commented on #3578
@kkendall33 If the 6.6.0 FirebaseCoreDiagnostics.framework is included, also include the 6.6.0 GoogleDataTransport.framework.

[2019-08-20 14:13] paulb777 commented on #3626
Going to close since there's nothing actionable. We can continue the conversation if there's more questions.

[2019-08-20 14:13] #3626 closed

[2019-08-20 14:14] paulb777 commented on #3602
Going to close, since the issue is expected to be fixed in the upcoming 6.7.0 release.

[2019-08-20 14:14] #3602 closed

[2019-08-20 14:15] hixfield commented on #3626
@paulb777 what is the proposed solution in this scenario (cfr drawing)?

[2019-08-20 14:26] paulb777 commented on #3626
@hixfield Nothing too easy. Here are a few paths:
- Convert your framework to binary static framework Carthage component
- Contribute source static framework support to Carthage
- If you don't need Analytics, and only open source Firebase components, set up Carthage for the Firebase sources.
- Switch to CocoaPods (and you'd still need to link your framework statically)

[2019-08-20 14:51] algrid commented on #2807
@paulb777 I'm using `GoogleSignIn` 4.4.0 right now

[2019-08-20 15:09] paulb777 commented on #2807
@renkelvin Any ideas?

[2019-08-20 18:52] kkendall33 commented on #3578
Could you help me find the right path for that? I'm assuming you mean include it with Carthage?

[2019-08-20 19:12] paulb777 commented on #3578
It's in the Analytics folder of the Carthage distribution.

[2019-08-20 20:13] renkelvin commented on #3617
@junhohong It seems a project-specific issue. Please submit a ticket on https://firebase.google.com/support so we can more details of your project.

[2019-08-20 20:32] BlakeBoxberger commented on #1565
It looks like this issue has somehow re-manifested itself. Even with the `copy` attribute, I'm getting EXC_BAD_ACCESS on this exact line.

[2019-08-20 20:43] renkelvin commented on #3585
Call `fetchSignInMethodsForEmail:` with "name@domain.com" should return ["facebook"] in your case. If not, there could be a bug.
Could you provide the steps to reproduce? Like how these accounts are created and linked.

[2019-08-20 21:11] renkelvin commented on #2807
Phone number auth depends on APNS. When you add the dependency of Fireabase/Auth without using phone auth, you might receive the warning of "missing push notification entitlements".
We'll keep an eye on Apple's policy and currently this won't affect the App Store review.

[2019-08-20 22:05] DerekApax commented on #1691
I'm in the exact same boat. Having this crash after updating admob via pods

[2019-08-20 22:05] algrid commented on #2807
@renkelvin thanks, that makes sense. It would be nice though to be able to turn it off while initializing Firebase Auth. Or even enable it only when phone auth is used (it that's possible).

[2019-08-21 04:15] Banck commented on #3623
@paulb777 Hey! When will you bump version in coocapods to 6.7.0 without this crash?
Thanks

[2019-08-21 06:55] kk-cust-ios commented on #3623
when update firebase for 6.7.0 ?

[2019-08-21 07:20] ThomWee commented on #2575
What does mean small amount of free RAM? My crashes occurring on devices having around 140MB.

This is my stack I can see:

[code]

My Podfile installs following:

[code]

[2019-08-21 13:03] pranavpari opened #3641 "Image is being uploaded with -90 degrees"
most of the images I am trying to upload are being uploaded with -90 degrees

[2019-08-21 13:30] ryanwilson commented on #3641
Hi @pranavpari, a few questions:

- Which SDK are you talking about? Storage, MLKit, something else?
- Can you give a code sample along with example image so we can reproduce?
- Which version of Firebase are you using?

Thanks!

[2019-08-21 14:34] pranavpari commented on #3641
I am talking about FirebaseStorage. I am using 3.4.0.
My code sample

[code]

[2019-08-21 14:37] maksymmalyhin commented on #3558
@rednebmas Thank you for your suggestions. With the current podspec configuration`[NSBundle bundleForClass:[self class]]` will not return the bundle we need because the class is in the framework, but the resources bundle is added to the app bundle.

[2019-08-21 14:37] maksymmalyhin commented on #3558
The issue should be fixed in Firebase 6.7.0.

[2019-08-21 14:37] #3558 closed

[2019-08-21 17:01] schmidt-sebastian commented on #3641
@pranavpari Thanks for filing this issue. This sounds like you are running into a problem with iOS itself. The iOS camera records the rotation of a picture in EXIFF data, rather than just rotating the picture data. A fair number of image processing tools do not interpret this correctly, and hence display images from iOS rotated. See https://www.geek.com/apple/why-iphone-pictures-flip-when-emailed-

[2019-08-21 17:01] #3641 closed

[2019-08-21 17:55] muinmomin commented on #3145
While we're waiting on an official implementation from Firebase, is there a way to use "Sign in with Apple" with Firebase's custom authentication methods? Has anyone tested this out yet?

[2019-08-21 19:12] paulb777 commented on #2807
@algrid We would likely need to make a separate pod to do that, so unlikely to be feasible now. As @renkelvin said, we'll keep an eye on it and reevaluate if Apple's policy changes.

[2019-08-21 19:12] #2807 closed

[2019-08-21 20:11] mikehaney24 commented on #3623
Firebase 6.7.0 has been released.

[2019-08-21 21:26] #1674 closed

[2019-08-21 22:27] nvrtdfrst commented on #2575
Yes my crashes on crashlytics show varying amounts of RAM as well. I don't think it is directly related to a memory issue but am not 100% positive. I cannot replicate the crash.

[2019-08-21 23:14] mikehaney24 commented on #3625
This should be addressed in the newly release Firebase 6.7.0, except in iOS 13. There may be an OS-level bug causing the warning.

[2019-08-22 02:40] SloanHawthorne commented on #3145
If so how?

[2019-08-22 04:45] StevenEWright commented on #3145
@muinmomin @SloanHawthorne

The problem is that a custom auth mechanism for Apple Sign In would require a server side component (to securely generate the required JWT) as well as the client side integration. The whole selling point of Firebase is that I don’t have to do those things.

[2019-08-22 05:01] KrisConrad commented on #3145
Unfortunately, being dependent on Firebase also means you’re going to have problems or be delayed implementing things like Login with Apple, Catalyst, Call Kit, or any number of RAM restricted app extensions Firebase is too resource heavy to run in until they decide it’s worth the effort to implement such things.

There are always trade offs with these things.

[2019-08-22 05:51] Brian-Co commented on #3145
Well iOS 13 is less than 4 weeks away now... as is Sign-in with Apple being required...

[2019-08-22 13:38] wimbledon commented on #3623
Yet, the website is still not updated:
https://firebase.google.com/support/release-notes/ios

On Wed, Aug 21, 2019 at 11:11 PM Michael Haney <notifications@github.com>
wrote:

--
*David Liu*
+1 650-549-5777

[2019-08-22 14:09] paulb777 commented on #3623
@wimbledon Thanks, we're investigating the why the website didn't update. In the meantime, 6.7.0 is available on CocoaPods and by zip at https://github.com/firebase/firebase-ios-sdk/releases/tag/6.7.0

[2019-08-22 14:51] mackoj commented on #3145
The issue with having dependency is that you can't never expect them to be ready on time with new mandatory or os feature...

[2019-08-22 14:54] giladrom commented on #3145
I'm actually quite disappointed this is still being "worked on". We should've had a beta two weeks after the announcement.

[2019-08-22 16:12] mackoj commented on #3145
@giladrom Auth0 has it working and testable June 17 https://auth0.com/blog/try-sign-in-with-apple-in-your-auth0-apps-today/

[2019-08-22 17:12] morganchen12 commented on #3623
@wimbledon the website has been updated. If you see any more stale files, please let us know.

[2019-08-22 18:15] timtraversy opened #3655 "fetchProvidersForEmail returns null on iOS, empty array on Android"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 11.0 beta (11M336w)
  * Firebase SDK version: 6.0
  * Firebase Component: Auth
  * Component version: 6.0

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

In this library, a call to `fetchProvidersForEmail()` with an email that is not registered returns null. That's because the HTTP response to `createAuthU

[2019-08-22 19:58] Tr736 commented on #3578
do we have a working solution yet peeps? still running into the issue  and my CI is freaking out :(

[2019-08-22 20:42] paulb777 commented on #3578
Sorry, we're transitioning to [improved tooling](https://github.com/firebase/firebase-ios-sdk/tree/master/ZipBuilder) that will make the Carthage generation and publishing more reliable in the long run.  However, going through a few hiccups in getting it right. We expect to get Carthage 6.7.0 out in the next day or two.

[2019-08-22 21:22] malcolmdeck commented on #3655
Hey! So I've synced with the team about this and we've come to the following recommendation set:

1. If this is causing technological problems for the Flutter SDK (such as if there is no way to coalesce these two distinct values in your software), please file a bug internally to the Firebase Auth SDK team so that we can try to include it in the next appropriate set of changes (this will take a whi

[2019-08-22 21:34] timtraversy commented on #3655
Got it, thanks! I'll close this since no immediate action needs to be taken. I've opened a Flutter PR with a coalescing solution, since that's where this issue is currently producing unexpected results.

[2019-08-22 21:34] #3655 closed

[2019-08-22 22:45] ryanwilson commented on #3578
Apologies for the delay - Firebase 6.7.0 is now available on Carthage and should include the updated modulemap. Please re-open this issue if you're still seeing the bug after updating to 6.7.0! Thanks for everyone's patience while we transition our tooling.

[2019-08-22 22:45] #3578 closed

[2019-08-22 23:45] SinanKadavath commented on #3624
@ilyon is this a Notification experiment?

[2019-08-23 07:51] rowanmulder commented on #3578
When using the **_manual zip file_** to upgrade Firebase 6.5.0 to 6.7.0 the same errors occurs in Xcode, this was also the case in 6.6.0 as mentioned before in this ticket:

[code]

[2019-08-23 07:56] avitruk opened #3661 "ConnectivityMonitorApple::OnReachabilityChanged callbacks on the wrong queue"
### [READ] Step 1: Are you in the right place?
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.3
  * Firebase SDK version: 6.7.0
  * Firebase Component: Firestore
  * Component version: 1.4.4

### [REQUIRED] Step 3: Describe the problem

Firestore crashes when trying to write data

#### Steps to reproduce:

Don't have exact steps. Stack trace:

[code]

#### Relevant Code:

[2019-08-23 10:03] ValCanBuild commented on #3578
Still seeing this too. Updated using carhage 6.5.0 -> 6.7.0

[2019-08-23 10:08] hixfield commented on #3626
@paulb777 thanks for the ideas. Unfortunately these do not match our timeframe so we have decided to take all Firebase related code out of our own REFFramework building (step), but leaving it in the git repo. The app using the REFFramework will have to import the actual source code files from the Carthage/checkout folder in xCode. Not an ideal solution but it will allow us the share the code betwe

[2019-08-23 10:15] jangsy7883 commented on #3661
I had the same problem.

[2019-08-23 10:28] domagojb opened #3662 "FirebaseRemoteConfig RemoteConfigSettings fetchTimeout not working as intended"
* Xcode version: 10.3
  * Firebase SDK version: 6.5.0
  * Firebase Component: Remote Config

### Description

Setting fetchTimeout on RemoteConfigSettings has no effect.

#### Steps to reproduce:

I'm setting the new fetch timeout on the firebase remote config settings as follows:

FIRRemoteConfigSettings *settings = [[FIRRemoteConfigSettings alloc] init];
settings.fetchTimeout = 3.0;
[FIRRemoteCo

[2019-08-23 12:10] pradipaub36 commented on #3661
I got the same crash after the update Firebase SDKs to the latest version **v6.7.0**

[2019-08-23 12:42] NikKovIos commented on #2009
Here says that TvOS is included in Firebase https://twitter.com/fabric/status/1040701431379124224
But still i can't make it work :(

[2019-08-23 13:36] ryanwilson commented on #3578
@rowanmulder @ValCanBuild are you seeing the modulemap issue still, or just the `Unidentified symbols` issue?

[2019-08-23 13:40] paulb777 commented on #3578
The 6.7.0 zip (and Carthage distribution) include additional frameworks in the Analytics folder. Make sure that all of the additions get added to the project.

[2019-08-23 14:31] mariancerny commented on #3578
I had the same problem with undefined symbols `GDTTransport` and `GDTLog`.
I have solved the problem by adding the two new frameworks `GoogleDataTransport.framework` and `GoogleDataTransportCCTSupport.framework` in `Carthage/Build/iOS directory` to the project.

I also had an additional error:
`error: Carthage/Build/iOS/FirebaseFirestore.framework/gRPCCertificates-Cpp.bundle: No such file or direc

[2019-08-23 14:33] wilhuff commented on #3661
Thanks for the report. We're looking into this now.

[2019-08-23 15:01] proxpero opened #3664 "Firestore Crash"
### [READ] Step 1: Are you in the right place?

### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.3
  * Firebase SDK version: 6.5.0
  * Firebase Component: Firestore
  * Component version: 1.4.2

This is my podfile.lock:
- Firebase (6.5.0):
    - Firebase/Core (= 6.5.0)
  - Firebase/Core (6.5.0):
    - Firebase/CoreOnly
    - FirebaseAnalytics (= 6.0.4)
  - Firebase/CoreOnly

[2019-08-23 15:24] wilhuff commented on #3664
How widespread is this problem?

[2019-08-23 15:34] #3661 closed

[2019-08-23 15:36] wilhuff commented on #3661
We've released `FirebaseFirestore` 1.4.5 which fixes this issue.

[2019-08-23 16:00] proxpero commented on #3664
This is affecting roughly 3% of our userbase. Crashlytics reports 241 crashes affecting 228 users in the past week.

[2019-08-23 16:01] proxpero commented on #3664
I failed to notice this before but 100% of the time the crash occurs while the app is in the background.

[2019-08-23 17:13] ashokbhakharios opened #3667 "Firebase Worker Crash"
### [READ] Step 1: Are you in the right place?

### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.2.1
  * Firebase SDK version: 6.1.0
  * Firebase Component: Database
  * Component version: 6.1.0

My Podfile.lock is

- Firebase (6.1.0):
    - Firebase/Core (= 6.1.0)
  - Firebase/Analytics (6.1.0):
    - Firebase/Core
  - Firebase/Auth (6.1.0):
    - Firebase/CoreOnly
    - Fi

[2019-08-23 17:26] paulb777 commented on #3667
Thanks for the report. Nothing about this code has changed in a while. Is there anything additional about the patterns of crashes you can share?  iOS versions, device types, etc.

[2019-08-23 17:33] ashokbhakharios commented on #3667
It occurred on all device types.
OS versions: 90% iOS 12, 10% iOS 11

It has started in last 5-6 hours and it has occurred- 1961 crashes affecting 65 users and all crashes are just after app launch.

[2019-08-23 20:12] var-const commented on #3664
@proxpero Unfortunately, I haven't been able to reproduce the crash. Since the stack trace shows writing mutations locally, I tried committing a large write batch while the app is in the background. I also tried repeatedly alternating between having the app in the foreground and in the background, locking the device, switching between apps, etc.. I tried out both debug and release configurations o

[2019-08-23 23:38] paulb777 commented on #3661
The 6.7.1 version of the zip distribution and a Firestore 6.7.1 Carthage module are available.

[2019-08-23 23:44] paulb777 commented on #3667
hmm. Anything patterns around location or network status?

[2019-08-24 01:28] ashokbhakharios commented on #3667
this is happening for those same number of users.. Crash count is around 5k now but the affected users are still almost same.

[2019-08-24 01:38] ashokbhakharios commented on #3667
Noticed 'os_update' log on many of these crashes. if that is helpful. it is live in market from long time but the crash started appearing from yesterday.

[2019-08-24 09:06] navingp commented on #2665
@OkiRules did you resolved this **"Non-portable path warnings from Protobuf pod."**
your help is much appreciated.

[2019-08-24 10:39] OkiRules commented on #2665
Not yet as the new build has not been updated for Cocoapods but when it is will inform you.

[2019-08-24 13:34] mars-lan opened #3676 "GDTUploadCoordinator initWithCoder crash on 6.7.0"
Xcode version: 10.3
Firebase SDK version: 6.7.0
Firebase Component:
Using FirebaseAnalytics (6.1.1)
Using FirebaseAuth (6.2.3)
Using FirebaseCore (6.2.1)
Using FirebaseCoreDiagnostics (1.0.1)
Using FirebaseCoreDiagnosticsInterop (1.0.0)
Using Google-Mobile-Ads-SDK (7.49.0)
Using GoogleAppMeasurement (6.1.1)
Using GoogleDataTransport (1.1.2)
Using GoogleDataTransportCCTSupport (1.0.2)
Using GoogleU

[2019-08-24 14:09] Banck opened #3678 "Firebase 6.7.0 crash hard_assert_apple.mm line 34"
* Xcode version: 10.3.
  * Firebase SDK version: 6.7.0
  * Firebase Component: Firestore, Messaging
  * Component version:
Core-6.2.1
Firestore-1.4.4

I've updated to firebase 6.7.0 from 6.6.0 due another crash, which was fixed in #3623  .
But in 6.7.0 there is a new crash from fabric reporting:
[code]
![image](https://user-images.githubusercontent.com/6259254/63638520-7374f080-c6b3-11e9-8903-0582

[2019-08-24 14:20] paulb777 commented on #3676
@mars-lan Thanks for the report. We'll investigate. Is there a pattern about iOS version for the crashes?

[2019-08-24 14:27] paulb777 commented on #3678
@Banck Thanks for the report. This looks like a duplicate of #3661 that was fixed in a Firestore patch update yesterday. Please run `pod update` to get the FirebaseFirestore 1.4.5 pod.

[2019-08-24 14:27] #3678 closed

[2019-08-24 14:33] mars-lan commented on #3676
@paulb777 good point! So far all iOS 11.

[2019-08-24 22:47] mikehaney24 commented on #3676
Any specific version of iOS 11? Or just any iOS 11 version?

[2019-08-25 05:33] navingp commented on #2665
@OkiRules Thanks for the quick reply..

[2019-08-25 07:34] surajthomask commented on #2465
We are facing this issue in our production app. We can't reproduce this as well, but has been occurring 30 times for 24 users in last 7 days. Below is the resolved pod dependencies for firebase stack.

   - Firebase/Core (6.1.0):
    - Firebase/CoreOnly
    - FirebaseAnalytics (= 6.0.1)
  - Firebase/CoreOnly (6.1.0):
    - FirebaseCore (= 6.0.1)
  - Firebase/InAppMessagingDisplay (6.1.0):
    - Fi

[2019-08-25 08:19] pepejeria commented on #3676
Seeing this as well. Only iOS 11 users so far.

[2019-08-25 10:06] abdelrahman-ahmed commented on #2011
+1

[2019-08-25 13:32] mars-lan commented on #3676
@mikehaney24 Seeing crashes on both 11.1 & 11.2

[2019-08-25 21:33] dmandar commented on #3662
Thanks for reporting. This is fixed and should be available in the upcoming release.

[2019-08-25 21:33] #3662 closed

[2019-08-26 04:20] ValCanBuild commented on #3578
Thanks @mariancerny that helped. Adding `GoogleDataTransport.framework` was enough to fix it for me (I only use Firebase for auth)

[2019-08-26 05:24] rowanmulder commented on #3578
@ryanwilson Sorry my bad, I was missing the new libraries when building the project. I've added the ones @mariancerny (thx!) mentioned for Google Data Transport.

Maybe we can make the documentation more clear for upgrades when libraries get renamed/deleted/added, eg. add it to the release notes or readme.md?

[2019-08-26 05:43] ashokbhakharios commented on #3667
Hello,

This crash is still increasing, count has reached to 11K now.

Anyhelp would be appreciated.

[2019-08-26 07:32] thetminko commented on #2512
I am experiencing this issue.
How can I fix this issue?
I am using Firebase and Trustkit

[2019-08-26 07:50] GeroHerkenrath commented on #1686
Thank you, @abotkin-cpi, I couldn't have said it better.

[2019-08-26 08:16] clausjoergensen opened #3686 "Various Firebase types does not conform to NSSecureCoding"
### [READ] Step 1: Are you in the right place?
Yes

### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.3
  * Firebase SDK version: 5.16
  * Firebase Component: Core, Messaging
  * Component version: 5.16

### [REQUIRED] Step 3: Describe the problem

Our security team scanned our code and dependencies for vulnerabilities and found that the following classes did not conform to `

[2019-08-26 09:36] js commented on #3676
Seeing this as well, only on 11.2.6 so far

<details>
<summary>crash report</summary>
<pre><code>
Fatal Exception: NSInvalidArgumentException
*** -[NSDictionary initWithObjects:forKeys:]: count of objects (0) differs from count of keys (1)

Fatal Exception: NSInvalidArgumentException
0  CoreFoundation                 0x18342dd04 __exceptionPreprocess
1  libobjc.A.dylib                0x18267c528 o

[2019-08-26 09:37] hixfield commented on #3578
@rowanmulder the doc still talk about copying the gRPCCertificates-Cpp.bundle out of the FirebaseFirestore.framework but its moved to the gRPC-C++.framework as mentioned by @mariancerny we should update the documentation.

[2019-08-26 09:54] domagojb opened #3687 "AB tests not working when sending activation event right after activating remote config"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.3
  * Firebase SDK version: 6.6.0
  * Firebase Component: Remote Config/AB Testing
  * Component version: 4.2.1/3.0.0

### [REQUIRED] Step 3: Describe the problem

We have an ongoing issue since last year where activating an experiment (i.e. sending an activation event) exactly after calling `[[FIRRemoteConfig remoteConfig] ac

[2019-08-26 16:33] marekpridal opened #3688 "Linking with FirebasePerformance fails using Carthage dependency manager"
### Describe your environment

  * Xcode version: Xcode 10.3 (10G8)
  * Firebase SDK version: ?
  * Firebase Component: Performance
  * Component version: 6.7.0

### Describe the problem

I added FirebasePerformance dependecy using Carthage, but it fails during linking phase after I try to call any method from FirebasePerformance module.

#### Steps to reproduce:

Add FirebasePerformance to projec

[2019-08-26 16:46] marekpridal commented on #3688
I linked GoogleToolboxForMac and GTMSessionFetcher and now I'm getting this error

[code]

also tried to link with FirebaseRemoteConfig but than I get
[code]

[2019-08-27 02:44] thetminko commented on #2512
@morganchen12 Thanks for replying. These are my env and logs.

--- Podfile ---
pod 'Firebase/Auth', '~> 6.2.0'
pod 'Firebase/Core', '~> 6.2.0'
pod 'Firebase/Messaging', '~> 6.2.0'
pod 'TrustKit', '~> 1.6.2'

--- Podfile.lock ---
 - Fabric (1.10.2)
  - Firebase/Auth (6.2.0):
    - Firebase/CoreOnly
    - FirebaseAuth (~> 6.1.1)
  - Firebase/Core (6.2.0):
    - Firebase/CoreOnly
    - FirebaseAnalyt

[2019-08-27 03:06] ashokbhakharios commented on #3667
There is no update pushed for this app in last 3 weeks. It just appeared suddenly.

[2019-08-27 05:13] pradipaub36 commented on #3661
How could we get the zip file?

[2019-08-27 07:45] marekpridal commented on #3688
I have linked all framework from `Build/.FirebasePerformanceBinary.version`, linker successeded but app crashes in runtime on exception

[code]

[2019-08-27 09:34] buzzware commented on #3145
My understanding is that if your app only offers traditional Firebase auth now, it won't be *required* to support Sign in with Apple because Firebase auth is not a third party - it would appear as a private identity. Offering Google account login however would qualify as third party and require Sign in with Apple too. Please correct me if I'm wrong.

[2019-08-27 09:57] proxi opened #3697 "Application hangs on startup"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.3
  * Firebase SDK version: 6.70
  * Firebase Component: Analytics
  * Component version: 6.1.1

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

Sometimes app hangs on launch. If paused, the following stack trace originatinc from `APMMeasurement load` is visible:

<img width="272" alt="Zrzut ekranu 2019-

[2019-08-27 10:14] mackoj commented on #3145
@buzzware I have the same understanding as you but the problem is if you use [Firebase Auth](https://firebase.google.com/products/auth/) service for authentication to Google, Facebook, Twitter.

[2019-08-27 10:15] mackoj commented on #3145
@westarle Thanks for the public comment and the ETA for this feature.

[2019-08-27 11:02] luoyingli opened #3698 "network connection refused"
**Recently, our application firebase statistics on the ios platform dropped sharply, and the network connection was rejected through debug. Below is the debug log.**

**My environment**
- Xcode version: Xcode 10.1
- Firebase SDK version: 6.5.0
- FirebaseAnalytics 6.0.4
- FirebaseCore 6.1.0

**Debug log**
[code]

[2019-08-27 11:35] NayanBhut opened #3699 "Deep linking is not working in iOS 10.4"
here is the code for link creation

    guard let link = URL(string: "XXXXXXX.XXXX/?XXXX=20") else { return true }
        let dynamicLinksDomainURIPrefix = "https://XXXXX.page.link"
        guard let linkBuilder = DynamicLinkComponents(link: link, domainURIPrefix: dynamicLinksDomainURIPrefix) else{return true}
        linkBuilder.iOSParameters = DynamicLinkIOSParameters(bundleID: "XXX.XXXXX")

[2019-08-27 15:47] proxi commented on #3697
Here you go:

[Podfile.lock.zip](https://github.com/firebase/firebase-ios-sdk/files/3547037/Podfile.lock.zip)

[2019-08-27 16:28] emielvdveen opened #3701 "Assertion failure in AsyncQueue::VerifyIsCurrentExecutor()"
* Xcode version: 10.2.1 (10E1001)
  * Firebase SDK version: 6.6.0
  * Firebase Component: Firestore
  * Component version: 1.4.5

### Describe the problem

*** Assertion failure in void firebase::firestore::util::AsyncQueue::VerifyIsCurrentExecutor() const(), /Users/emiel/Projects/Applike/FirestoreTest/FirestoreTest/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/util/async_queue.cc:4

[2019-08-27 18:04] nikolouzos opened #3706 "Firebase Auth - Phone Auth not working on iOS 13 with SwiftUI"
#### Development Environment:
  * Xcode version: 11 beta 6
  * Firebase SDK version: 6.7.0
  * Firebase Component: Auth
  * Component version: 6.2.3

#### Steps to reproduce:

1. Create a new SwiftUI project and add the Firebase Core and Auth SDKs using Cocoapods
2. Set up the project for Phone Auth.
3. Create the UI for the user to provide their phone.
4. Call `verifyPhoneNumber:UIDelegate:comple

[2019-08-27 21:26] Tapestes opened #3708 "Could not find auto-linked framework 'Firebase'"
* Xcode version: 10.3
  * Firebase SDK version:
  * Firebase Component: Database

### Describe the problem
Import Firebase works fine, but once I include FirebaseApp.configure() in the AppDelegate's didFinishLaunchingWithOptions, the application crashes indicating it can't find Firebase.

[code]

As instructed, I removed Firebase from Link Binary with Libraries in the Build Phases.

[2019-08-27 21:36] zporges opened #3709 "Firestore internal assertion - wrong queue"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.3
  * Firebase SDK version: 6.7.0
  * Firebase Component: FIRESTORE
  * Component version: 6.7.0

### [REQUIRED] Step 3: Describe the problem

I recently updated from Firestore 6.3.0 to 6.7.0. Since then, I'm getting lots of logs of the following:

[code]

#### Steps to reproduce:

I can make the problem occur when running in

[2019-08-27 22:26] #3709 closed, assigned to wilhuff

[2019-08-27 23:31] paulb777 opened #3711 "CoreDiagnostics unit test failure"
The CoreDiagnostics tests were never added to CI. While restoring them, I discovered

`    - NOTE  | [iOS] xcodebuild:  /Users/travis/build/firebase/firebase-ios-sdk/Example/CoreDiagnostics/Tests/FIRCoreDiagnosticsTest.m:181: error: -[FIRCoreDiagnosticsTest testProtoPopulation] : (([[log transportBytes] isEqualToData:[expectedLog transportBytes]]) is true) failed`

Full log at https://travis-ci.or

[2019-08-28 05:06] NayanBhut commented on #3699
Hello @ryanwilson and @morganchen12

As par your comment I checked in notes on shared link and I can see an option "one in myApp" but I share the link on facebook and try to open that link but it does not redirect in my app
kindly guide me

Thanks and regards

[2019-08-28 05:15] NayanBhut commented on #3699
![Screen Shot 2019-08-28 at 10 19 56 am](https://user-images.githubusercontent.com/38653553/63827455-d18a2800-c980-11e9-93d2-e2d932d3b720.png)
here is the attachment from notes

[2019-08-28 05:17] NayanBhut commented on #3699
![Screen Shot 2019-08-28 at 10 19 56 am](https://user-images.githubusercontent.com/38653553/63827543-20d05880-c981-11e9-82a7-f8d9bb566195.png)
here is the attachment with a long tap in notes

Thanks and regards

[2019-08-28 07:03] luoyingli commented on #3698
**We have upgraded Firebase to 6.7.0, and in the case of DebugView debug mode, there is also uploading data, but there is still a network outage in the console log. Does this have anything to do with active users? The following are active users, DebugView, and console logs.**
**active users screenshot**
[code]

**DebugView screenshot**
[code]

**console logs**
[code]

[2019-08-28 10:00] kule123 opened #3712 "hi I have a problem Sqlite conflict"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2019-08-28 10:59] kule123 commented on #3601
me too

[2019-08-28 11:06] kule123 commented on #3321
me too   As the previous comments suggest, please try upgrading your sqlite version to the latest one

[2019-08-28 11:07] kule123 commented on #3321
me too   sorry，Can you describe in detail how to update my sqlite version

[2019-08-28 21:44] dunyakirkali commented on #225
@chliangGoogle Any updates?

[2019-08-28 21:47] dunyakirkali commented on #1431
@morganchen12 Any update?

[2019-08-28 23:15] paulb777 commented on #3708
The `Could not find auto-linked framework 'Firebase'` warning should be harmless.

[2019-08-28 23:15] #3708 closed

[2019-08-29 00:02] marktrobinson opened #3719 "Manual constructed Dynamic Link without app preview page (i.e. efr=1) fails fingerprint match on initial app install."
### Environment

  * Xcode version: 10.3
  * iOS version: 12.2
  * Firebase SDK version: 6.0.0
  * Firebase Component: DynamicLinks
  * Component version: 4.0.0

### Problem

I have created a manually constructed dynamic link as follows:

[code]

I have certified that all of the above is correct.  All Dynamic Links work as they should _except_ the initial app install.

### Steps to reproduce

- Ta

[2019-08-29 00:51] morganchen12 commented on #3719
iirc this is intended behavior, since Dynamic Links uses the preview page for initial fingerprinting. The fingerprint data is then used to establish if the device that clicked the dynamic link is the same device launching the app after installing it. @dmandar can you confirm?

[2019-08-29 01:48] marktrobinson commented on #3719
Thanks @morganchen12.  If that's the case, why does it work in the other scenarios? i.e.

1. App is installed and in background
2. App is installed and not in background

[2019-08-29 02:15] kule123 commented on #3321
sorry, I try it
but dont solve this qustion

[2019-08-29 02:24] kule123 commented on #3601
![image](https://user-images.githubusercontent.com/11805288/63905511-0fea1a80-ca47-11e9-80f4-573fb6e0a24d.png)

[2019-08-29 02:24] kule123 commented on #3601
dont solve  this qustion

[2019-08-29 03:14] dmandar commented on #3719
If the app is installed, FDL will use iOS universal links to open the target app. For first app installs, it is recommended to use the app preview page because fingerprinting may not work reliably in all scenarios (depending on a variety of factors). App preview pages solve this by copying the link to the pasteboard as mentioned here: https://firebase.google.com/docs/dynamic-links/link-previews

[2019-08-29 03:14] #3719 closed

[2019-08-29 04:10] marktrobinson commented on #3719
Awesome, thanks @dmandar for the clarification.

[2019-08-29 04:48] NayanBhut commented on #3699
Hello @morganchen12
greetings of the day

as per your comment, we checked it and if we tap on open app it's working fine but while sharing a link on facebook it's redirecting to Appstore, not our app please guide us

Thanks and regards,

[2019-08-29 13:41] dloic opened #3722 "UIWebView usage and ITMS-90809: Deprecated API Usage"
As of Thursday, August 29, 2019, AppStoreConnect is providing a warning for uploaded applications that use UIWebViews APIs:

I did have a look at Firebase and Dynamic Links component is still making use of UIWebView for iOS version 7.X. I'm not sure what is the lowest iOS version Firebase wants to support, but I'm pretty sure the AppStoreConnect warning will turn soon into an error.

This will avo

[2019-08-29 16:54] morganchen12 commented on #3699
When opening the link from Facebook is it opening the preview page in Facebook's in-app browser?

[2019-08-29 16:58] morganchen12 commented on #3601
How is WCDB using sqlite?

[2019-08-29 21:24] paulb777 commented on #3722
Fixed by #3723

[2019-08-29 21:24] #3722 closed

[2019-08-29 22:56] #3617 closed

[2019-08-29 22:59] paulb777 commented on #3183
Closing since #3300 has merged and released.

[2019-08-29 22:59] #3183 closed

[2019-08-29 23:02] paulb777 commented on #1744
CocoaPods will provide support in 1.8.0

[2019-08-30 02:56] jasondeveloping commented on #1896
Please login to Firebase console and remove that user from users list under Authentication section.
It will work.

[2019-08-30 03:11] bank18651 opened #3727 "Crash-[RCNConfigFetch refreshInstanceIDTokenAndFetchCheckInInfoWithCompletionHandler:]"
**SDK Version**
  * Xcode version: 10.3
[code]

Description
Week ago, I released new version of app to App Store with updated Firebase SDK's (see version above). About thousand reported for -[RCNConfigFetch]. I have not been able to replicate crash. The data I have from Crashlytics itself:

Issue is happening on multiple devices for different users.

#### Relevant Code:

[code]

**Second log**
[co

[2019-08-30 06:04] NayanBhut commented on #3699
Hello @morganchen12
greetings of the day

yes once I tap on the link in facebook, it is open in facebook's in-app browser!

Thanks and regards,

[2019-08-30 10:43] ChengminZhang commented on #3601
I Had the same problem

# add the Firebase pod for Google Analytics
  # add pods for any other desired Firebase products
  # https://firebase.google.com/docs/ios/setup#available-pods
  pod 'Firebase/Analytics'

  ## WCDB is a cross-platform database framework developed by WeChat.
  pod 'WCDB', '~> 1.0.7.5'

`2019-08-30 18:25:01.120529+0800 OSCar[37285:10711632]  - <AppMeasurement>[I-ACS036002] Ana

[2019-08-30 11:24] pot8os opened #3728 "Crashed at FIRComponentContainer on 6.7.0"
### [REQUIRED] Step 2: Describe your environment

  * Firebase SDK version: 6.7.0
  * Firebase Component: Below is from my `Podfile`.
[code]

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:
Not sure how to reproduce so far, I just found some users of my app got this crash due to this issue. Seems it accesses non-existent key against cached instances.
https://github.com/fireba

[2019-08-30 13:11] zengqingf opened #3729 "I hope GDTEvent can be renamed"
I hope GDTEvent can be renamed as it conflicts with tencent mobile advertising，
https://d3g.qq.com/gdt/sdk/ios/release/GDT_iOS_SDK_4.10.8.zip
Tencent mobile advertising is very famous in China, so I had to choose one or the other

[2019-08-30 13:41] luoyingli commented on #3698
According to the data of ios on the firebase statistical platform, it should be a common phenomenon. The ios data collected every day now has only a few user data.

[2019-08-30 13:55] paulb777 commented on #3601
It looks like WCDB is doing some overrides of sqlite in https://github.com/Tencent/wcdb/tree/master/repair. I suspect that those changes are not compatible with the sqlite version in recent iOS releases.

[2019-08-30 14:03] ryanwilson commented on #3728
Hi @pot8os thanks for the report, and sorry you're seeing these crashes.

Some other information that would be very helpful:

- How many users (approximate number) are seeing this? Single digits, tens, hundreds, thousands, more?
- Is there any particular device that is crashing?
- Which iOS versions are affected?

Thanks, we're looking into this now and will keep you in the loop with how things ar

[2019-08-30 14:13] ryanwilson commented on #3729
@zengqingf thank you very much for bringing this to our attention! Looking into it now.

[2019-08-30 15:57] #3688 closed

[2019-08-30 17:19] morganchen12 commented on #3699
That's a Facebook app-specific behavior. Can you test it in a different app like Messages?

[2019-08-30 18:24] dmandar commented on #3727
Hi..can you update with the RC SDK version that you are using? We have some performance and stability improvements in https://firebase.google.com/support/release-notes/ios#version_670_-_august_21_2019. Please reopen if you are updated to this version and are still seeing the crash.

[2019-08-30 18:32] letko-dmitry opened #3732 "Crashed at FIRExperimentController on 6.6.0"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.3
  * Firebase SDK version:  6.6.0
  * Firebase Component: FirebaseRemoteConfig
  * Component version: 4.2.1

[code]

### [REQUIRED] Step 3: Describe the problem

Looks like an ordinary crash because of mutation during enumeration. Nothing special is done in a client app: initialize SDK in background thread, wait till initiali

[2019-08-30 18:49] pot8os commented on #3728
Thanks for your quick response @ryanwilson !

It's not many right now. My app has apx 100,000 active users per week, and I see just 8 crashes due to this.

Seems there is no bias. It happened on iPhoneX, 8 and 7 with iOS 12 and 11.

The reason why I snipped some was all of the lines had `(Missing)` so no values. I could give a permanent link for Firebase Crashlytics of my app if you could accept D

[2019-08-30 20:23] paulb777 commented on #3732
Looks like [this line](https://github.com/firebase/firebase-ios-sdk/blob/master/FirebaseABTesting/Sources/FIRExperimentController.m#L249) should be something like:

for (NSData *payload in [payloads copy]) {

[2019-08-30 21:12] petrovi4 opened #3733 "Saving and deleting a document in one batch crashes the application and breaks the local database forever"
* Xcode version: Version 10.3 (10G8)
  * Firebase SDK version: 6.7.1
  * Firebase Component: Firestore
  * Component version: 6.7.1

Preparatory stage. Create and save the document in Firestore. Get a reference for this document.
1. Create batch
2. Add saving of document data to the batch
3. Add document deletion to the batch
4. Make a commit.
The application is crashing. All subsequent start atte

[2019-08-30 21:17] wilhuff commented on #3733
Agreed this shouldn't be happening.

Could you paste the stack trace you get?

[2019-08-30 22:09] petrovi4 commented on #3733
Unfortunately (or fortunately :) I have continued my work and already added my code to the existing batch, which allows me to accumulate transactions and track duplicates, so I can't go back to the wrong code so quickly.
Besides, there was only [FIRFirestore collectionWithPath] in the whole stack of readable calls. If it helps to localize the problem, I will roll back my code a bit later and send

[2019-08-30 22:14] wilhuff commented on #3733
Hrm. The case you're describing is one we cover explicitly with an integration test:

https://github.com/firebase/firebase-ios-sdk/blob/master/Firestore/Example/Tests/Integration/FSTTransactionTests.mm#L337

This means there's something else going on that could be specific to your configuration. I'll try to reproduce given the code you're suggesting above.

[2019-08-31 06:35] kule123 commented on #3601
ok I will give up
 thank you  replay！

[2019-08-31 10:05] proxi opened #3735 "FPRScreenTraceTracker crash on 6.7.0"
#3011 # [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.3
  * Firebase SDK version: 6.7.0

### [REQUIRED] Step 3: Describe the problem

[code]

[2019-08-31 12:57] ankitgarg1mg opened #3736 "Not able to install Firebase as static framework using cocoapods"
* Xcode version: 10.2
  * Firebase SDK version: 6.1.0
  * Firebase Component: Analytics, Performance, ABTesting

I am trying to install Firebase as static using cocoapods. For this, I removed flag use_framewroks!. Remains pods are installed as static but not firebase.
[code]

[2019-08-31 13:30] paulb777 commented on #3736
The Firebase pods are always statically linked. The closed source pods will always be static frameworks since they're delivered in binary form. The open sourced pods will be[ static frameworks ](https://github.com/firebase/firebase-ios-sdk/blob/master/FirebaseABTesting.podspec#L28) if `use_frameworks!` is in the Podfile. They'll be built as static libraries if it's not.

[2019-08-31 13:30] #3736 closed

[2019-08-31 13:34] paulb777 commented on #3735
Thanks for the report. Please share any additional information about reproducibility, crash frequency, or system characteristics where the crash occurs.

[2019-08-31 20:35] mikehaney24 commented on #3729
I'm working through a couple proposals to solve this problem

[2019-08-31 21:56] abdelrahman-ahmed opened #3740 "Firebase/Analytics tvOS Support"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2019-08-31 23:56] paulb777 commented on #3740
Duplicate of #2011

[2019-08-31 23:56] #3740 closed

[2019-09-02 02:30] ilyon commented on #3624
No, it's a remote config experiment.

[2019-09-02 02:53] thetminko opened #3742 "Firebase Auth crashes with TrustKit"
### [REQUIRED] Step 2: Describe your environment
  * Xcode version: 10.3 (10G8)
  * Firebase SDK version: 5.20.2, 6.2.2, 6.7.0
  * Firebase Component: Auth (Auth, Core, Database, Firestore, Messaging, Storage, etc)
  * Component version:  5.20.2, 6.2.2, 6.7.0
  * TrustKit 1.6.2

### [REQUIRED] Step 3: Describe the problem
Firebase Auth crashes when using TrustKit in the project with enabled swizzl

[2019-09-02 05:12] ThoseGuysInTown commented on #1543
@morganchen12 This is something I've also been experiencing. The error I get is usually "NotRegistered" and occasionally "InvalidRegistration"

[2019-09-02 06:33] nfrydenholm commented on #3728
We see the same crash in a "phased app release" that we just started yesterday (where one of the changes were upgrading to Firebase 6.7.0)
It's still early numbers as not that many users has installed the new app yet, but it seems pretty serious with the 1,37% of users being impacted at this moment.

![image](https://user-images.githubusercontent.com/6105709/64094499-3ddba180-cd5c-11e9-8900-756676

[2019-09-02 06:36] yanghuabiao commented on #3601
I have the same problem, who can tell me how to solve it,thanks!

[2019-09-02 06:39] yanghuabiao opened #3743 "[REQUIRED] Step 2: Describe your environment Xcode version: _10.2.1 Firebase SDK version: 6.5.0_ Firebase Component: _Core Analytics Performance (Auth, Core, Database, Firestore, Messaging, Storage, etc) Component version: __ the latest__ [REQUIRED] Step 3: Describe the problem when i usepod 'WCDB', :git => "git@github.com:Tencent/wcdb.git" ,:commit => 'c09d0193' in podfile， some problem happend in iOS12 like this Failed to recreate database file. Error: Error Domain=com.google.gmp.measurement.ErrorDomain Code=3 "Database operation "prepare statement" failed with sqlite code 0 and error message "not an error"" UserInfo={NSLocalizedDescription=Database operation "prepare statement" failed with sqlite code 0 and error message "not an error", APMMonitorContext=prepare statement,0,A,4} but is all right in iOS11"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2019-09-02 06:49] zw318 opened #3744 "Crashes on - [APMIdentity updateIdentifiers]"
![image](https://user-images.githubusercontent.com/48673240/64095032-3fbf5800-cd90-11e9-934b-4eb785991f6b.png)
![image](https://user-images.githubusercontent.com/48673240/64095150-96c52d00-cd90-11e9-9b1d-36fe1e807b3d.png)

please fix it.

[2019-09-02 10:48] NayanBhut commented on #3699
Hello @morganchen12
thanks for your response it's working fine in messages and notes so **as per your comment this isn't worked on Facebook.**

so now we've to find why it's not working on facebook.

[2019-09-02 11:34] GoodBadVlad opened #3745 "Remote Config returns outdated values for deleted config keys"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2019-09-02 11:47] yahmad opened #3746 "Dynamic link handling only succeeding every second time"
### Environment
  * Xcode version: 10.3
  * Firebase SDK version: 6.3
  * Firebase Component: DynamicLinks
  * Component version: 4.0.0
  * Device: iPhone 7

### Problem
We are using Firebase dynamic links in our mobile apps, and have noticed a bug in the iOS app whereby opening multiple dynamic links in succession causes the SDK to error when trying to handle the second link.

The issue is easily

[2019-09-02 12:17] nabbestemmia opened #3747 "[GoogleDataTransport][I-GDT001006]"
* Xcode version: 10.3
  * Firebase SDK version: 6.7.0
  * Firebase Component: Core, Messaging, DynamicLinks
  * Component version: FirebaseCore = 6.2.1 ; FirebaseAnalytics = 6.1.1 ; FirebaseDynamicLinks 4.0.3 ; FirebaseMessaging = 4.1.3 ; FirebaseAnalytics = 6.1.1

I recently updated my app with the latest firebase version. After launching the app and leaving it in idle for about 20 seconds, the a

[2019-09-02 12:49] uddinr opened #3748 "FirebaseInAppMessagingDisplay - Failed to render and update auto layout"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2019-09-02 13:02] renanvs commented on #3728
We have the same problem. This crash affect 390 users in last 3 days after submit a new release.

![Captura de Tela 2019-09-02 às 10 02 07](https://user-images.githubusercontent.com/1186165/64116454-c4967b80-cd68-11e9-95a2-7b7dec1c6a48.png)

[2019-09-02 14:00] vbrittes commented on #3728
Same here.

43 occurrences:
![image](https://user-images.githubusercontent.com/6230416/64119396-26a6af00-cd70-11e9-9447-f4826b7c79a2.png)

5 occurrences:
![image](https://user-images.githubusercontent.com/6230416/64119559-84d39200-cd70-11e9-9ccc-7b987b65d512.png)

[2019-09-02 14:59] paulb777 commented on #3747
Please run `pod update` sure that you have the latest version of GoogleDataTransport - it should be 1.1.3.

If you're still seeing the crash, please provide the backtrace.

[2019-09-02 15:12] paulb777 commented on #3744
Duplicate of #2575

[2019-09-02 15:12] #3744 closed

[2019-09-02 15:16] paulb777 commented on #3601
It's likely a problem with the wcdb using a version of sqlite3 that is incompatible with the new iOS sqlite3 APIs introduced in iOS12.

[2019-09-02 15:16] paulb777 commented on #3743
Duplicate of #3601

[2019-09-02 15:17] #3743 closed

[2019-09-02 15:28] paulb777 commented on #3748
We might need a reproducible example. I tried adding the pod to a sample app in Xcode 10.3 and was able to open the storyboard:

![Screen Shot 2019-09-02 at 8 27 02 AM](https://user-images.githubusercontent.com/73870/64124295-7e86eb00-cd5b-11e9-8a8b-118c15fb4e86.png)

[2019-09-02 15:34] justoneplanet opened #3749 "Twitter login does not work correctly, when SFSafariViewController is enabled."
### Environment

  * Xcode version: 10.3
  * Firebase SDK version: 6.7.0
  * Firebase Component: Auth
  * Component version: 6.2.3

### Steps to reproduce:

About Implementation.
- Do not use TwitterKit.
- Use FUIOAuth for Twitter login.
- iOS 12.4.

1. Login twitter with an available account.

**Expected**

The ViewController having WebView for login should be closed automatically, after login is

[2019-09-02 15:35] paulb777 commented on #3601
Specifically, we've had the [report from someone](https://github.com/firebase/firebase-ios-sdk/issues/3321#issuecomment-512163400) using sqlite3.c version 3.8.1: "When the version is upgraded to 3.29, it works fine."

[2019-09-02 17:39] rodrigomarcelino commented on #3728
I'm having the same problem. It has been affected  1400 users in 3 days.

Falha: com.google.perf.FPREventsQueue
EXC_BAD_ACCESS KERN_INVALID_ADDRESS 0x0000000000000010
-[FIRComponentContainer instanceForProtocol:]

0
libobjc.A.dylib
objc_msgSend + 16
1
CoreFoundation
-[__NSDictionaryM objectForKeyedSubscript:] + 216
2
MobileApp
FIRComponentContainer.m - Linha 150
-[FIRComponentContainer instanceFor

[2019-09-02 19:31] uddinr commented on #3748
hi, whilst attempting to create a sample app, it seems the error in question is not occurring now, not sure what if anything i did, i will close this for now, if it reoccurs i will create an example project. thanks.

[2019-09-02 19:37] supermarin opened #3750 "EXC_BAD_ACCESS (SIGSEGV) with Storage and Carthage"
### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 11.0 Beta 6
  * Firebase SDK version: 6.7.0
  * Firebase Component: Storage
  * Component version: 6.7.0

### [REQUIRED] Step 3: Describe the problem
Upon completion of uploadTasks, in about 1/3 of cases the app crashes with EXC_BAD_ACCESS (SIGSEGV)

#### Steps to reproduce:

1. Initialize a simple app with 1 table view controlle

[2019-09-02 20:54] paulb777 commented on #3750
See https://github.com/firebase/firebase-ios-sdk/blob/master/Firebase/Storage/FIRStorageUploadTask.m#L72

[2019-09-02 20:58] supermarin commented on #3750
Thanks for the fast response @paulb777 . Seen the file/method, but haven't spent much time digging into it. Am I missing something obvious?

[2019-09-02 21:14] paulb777 commented on #3750
@supermarin I don't see anything on quick glance, but wanted to leave a pointer for anyone who wants to go deeper, since I'm not able to investigate now. The crash should be debuggable in a CocoaPods installation.

It's likely something exposed/triggered by the Xcode 11 beta, since this code is relatively stable.

[2019-09-02 22:01] ryanwilson commented on #3728
Thanks everyone for the feedback and sorry for the troubles. It looks like a multithreading issue between Perf and Remote Config - we'll need to make sure the `FIRComponentContainer` has proper guards around the internal data structure.

In the meantime, if anybody manages to reproduce this it'll greatly help verifying a solution. This is top priority for us and we hope to have a proposed fix in t

[2019-09-02 22:03] supermarin commented on #3750
Just tried with Xcode 10.3, same issue.
This is the cartfile:

[code]

If I catch time I'll try to debug with CocoaPods.

[2019-09-03 02:17] yanghuabiao commented on #3601
so，how to update sqlite3.c from 3.8.1 to 3.2.9 ？

[2019-09-03 02:22] yanghuabiao commented on #3601
Could you tell me how to update sqlite to 3.29?

[2019-09-03 02:23] xiamingyu commented on #3698
same problem,we use both google analytics sdk and firebase sdk，and ios data collected has few user data near days,is there any infuence? android runs well,and a few days ago, ios runs well too.

[2019-09-03 02:26] xiamingyu commented on #3698
maybe you should test sdk use in China

[2019-09-03 03:06] kule123 commented on #3601
Could you tell me how to update sqlite to 3.29? me too

[2019-09-03 04:52] pradipaub36 opened #3758 "Firebase remote config gets failure randomly"
### [READ] Step 1: Are you in the right place?

  Yes

### [REQUIRED] Step 2: Describe your environment

  * Xcode version: 10.2
  * Firebase SDK version: 6.7.0
  * Firebase Component:
- Firebase (6.7.0)
-  FirebaseABTesting (3.1.0)
-  FirebaseAnalytics (6.1.1)
-  FirebaseAnalyticsInterop (1.4.0)
-  FirebaseAuth (6.2.3)
-  FirebaseAuthInterop (1.0.0)
- FirebaseCore (6.2.1)
- FirebaseCoreDiagnostic

[2019-09-03 06:17] pradipaub36 commented on #3661
@ryanwilson When will you update the stable version in cocoapods to 6.7.1?

[2019-09-03 06:35] morganchen12 commented on #3601
The issue with WCDB is most likely not related to the version of sqlite. To test, you can remove WCDB from your project and try logging Analytics events. If the logs succeed without printing console errors, your version of sqlite is fine.

[2019-09-03 06:39] yanghuabiao commented on #3601
Everythins is ok on ios 11.
some problem happend in iOS12 like this

Failed to recreate database file. Error: Error Domain=com.google.gmp.measurement.ErrorDomain Code=3 "Database operation "prepare statement" failed with sqlite code 0 and error message "not an error"" UserInfo={NSLocalizedDescription=Database operation "prepare statement" failed with sqlite code 0 and error message "not an error",

[2019-09-03 06:41] morganchen12 commented on #3758
Hey @pradipaub36, thanks for filing this issue. With no repro steps or error log, it will be difficult for us to debug this.

Does this issue reproduce in older versions of Remote Config?

[2019-09-03 06:44] morganchen12 commented on #3698
@luoyingli, @xiamingyu, are you able to reproduce on device locally? Can you confirm that it occurs only in China?

[2019-09-03 06:49] pradipaub36 commented on #3758
Yes, We faced the same issue in the older version as well. We have an app that is created for iOS and Android and we are facing the same issue in both randomly.

Let me try to identify the error logs. I'll let you know further details I get.